[2019-11-19 16:07] ssh24 commented on #1201
Seeing it on 0.6.0 as well. Definite stopship:
[code]

[2019-11-19 16:08] ssh24 commented on #1201
/priority stopship

[2019-11-19 16:09] sujeilyfonseca opened #1203 "SVT: Migrated applications from Codewind 0.5.0 to 0.6.0 are displaying incorrect application status"
**Codewind version:** 0.5.0 / 0.6.0 (codewind-0.6.0-201911151544.vsix)
**OS:** VM with Windows 10

**IDE extension version:** 0.5.0 / 0.6.0
**IDE version:** 1.40.1

**Description:** Migrated applications from Codewind 0.5.0 to 0.6.0 are displaying incorrect application status.

I created some projects in Codewind 0.5.0 and migrated them to 0.6.0. Some of them failed to start, but they still show a

[2019-11-19 16:11] sujeilyfonseca opened #1204 "SVT: Open Liberty project doesn't start after the migration from 0.5.0 to 0.6.0"
**Codewind version:** 0.5.0 / 0.6.0 (codewind-0.6.0-201911151544.vsix)
**OS:** VM with Windows 10

**IDE extension version:** 0.5.0 / 0.6.0
**IDE version:** 1.40.1

**Description:** Default Open Liberty project doesn't start after the migration from 0.5.0 to 0.6.0. The application is displayed as [Running] (https://github.com/eclipse/codewind/issues/1203), but it could not be accessed when using i

[2019-11-19 16:14] jcockbain commented on #1058
`upgradeProjects` works fine for me, when the path to `.projects` exists.

As @markcor11 says, we always upgrade projects to `local` connection, so the `insecure` flag isn't needed when calling bind. (https://github.com/eclipse/codewind-installer/blob/master/pkg/project/upgrade.go#L59). So we could just remove the flag wherever we invoke it (IDE's etc.).

As for renaming the flag, it was named `--

[2019-11-19 16:16] makandre commented on #1204
That’s not an appsody project. Does it contain a .appsody-config.yaml?

[2019-11-19 16:17] maysunfaisal commented on #1201
probably run this cmd on tthe PFE terminal when you have a project https://github.com/eclipse/codewind-odo-extension/blob/master/scripts/odo-functions.sh#L72

could be an issue with  ODO

[2019-11-19 16:19] sujeilyfonseca commented on #1204
@makandre sorry for that. I corrected the title of this Github issue.

[2019-11-19 16:20] GeekArthur commented on #1201
Cause is here: `containerDelete : 588 | /codewind-workspace/.extensions/codewind-odo-extension/odo-extension-entrypoint.sh: line 123: kill: (22458) - No such process.` What’s your PFE SHA? This issue should be fixed by my latest PR, you can try the latest 0.6.0 to verify.

[2019-11-19 16:33] GeekArthur commented on #1201
The latest PFE SHA for 0.6.0 is `sha256:8778d4e2ee9816ec26da3a4ec683275e1dd1194f7fe8061e82d5b30cd72500ad` on our Docker Hub, I am using this one and it works for me

[2019-11-19 16:35] tetchel commented on #1181
we have https://github.com/eclipse/codewind/issues/436 to document workaround / suggestions for this too but it never got actioned

[2019-11-19 16:40] sujeilyfonseca commented on #1203
/priority hot

[2019-11-19 16:40] sujeilyfonseca commented on #1204
/priority hot

[2019-11-19 16:40] sujeilyfonseca commented on #1202
/area appsody
/priority stopship

[2019-11-19 16:57] GeekArthur commented on #1201
/remove-priority

[2019-11-19 17:05] ssh24 commented on #1201
I am still seeing this on 0.6.0. My PFE SHA is the same `sha256:8778d4e2ee9816ec26da3a4ec683275e1dd1194f7fe8061e82d5b30cd72500ad`. I noticed it was working for nodejs earlier but now all 3 project types are failing.

Looks like the issue is here:
[code]

[2019-11-19 17:07] maysunfaisal commented on #844
/priority hot

[2019-11-19 17:07] maysunfaisal commented on #844
/priority stopship

[2019-11-19 17:13] johnmcollier commented on #1099
Closing out as our error status was functioning as intended here - Opened https://github.com/eclipse/codewind/issues/1164 for long-term stress testing of Codewind

[2019-11-19 17:13] #1099 closed

[2019-11-19 17:13] GeekArthur commented on #1201
See my comments above, it's same thing that I mention before. I don't have your cluster so I can't debug this for you, you can leave your cluster credentials here so that I can help you find the issue in your cluster to see why the process is not in your cluster.

[2019-11-19 17:14] GeekArthur commented on #1201
Also I don't think this is a `stopship` issue given both my cluster and Len's cluster can't reproduce this.

[2019-11-19 17:30] jgwest commented on #1201
/remove-priority stopship

[2019-11-19 17:46] sishida commented on #746
PR is merged. Closing this issue.

[2019-11-19 17:46] #746 closed

[2019-11-19 18:00] maysunfaisal commented on #844
/priority stopship

[2019-11-19 18:00] maysunfaisal commented on #844
/priority hot

[2019-11-19 18:01] maysunfaisal commented on #844
/remove-priority all

[2019-11-19 18:01] maysunfaisal commented on #844
/remove-priority stopship

[2019-11-19 18:01] jgwest commented on #844
@maysunfaisal: Those labels are not set on the issue: priority/all<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555631705):

</details>

[2019-11-19 18:10] jgwest commented on #844
/clone

[2019-11-19 18:10] jgwest commented on #844
/close

[2019-11-19 18:12] rajivnathan opened #1207 "Re-enable templates test"
**Description:**
The templates tests were disabled in https://github.com/eclipse/codewind/pull/1206 because it was failing the master builds. The failure appears to be due to a slight mismatch of the json returned from the kabanero repo. There was also some discussion about whether this test could be more flexible. eg. Tim's suggestion was to check array length and key existence and not have to co

[2019-11-19 18:12] maysunfaisal commented on #1039
verified on 0.6.0

[2019-11-19 18:14] johnmcollier commented on #934
+1 we really need to support this for all project types (especially Appsody in this case), and I think this'll prevent proper multi-microservice development with Codewind until it's in place

[2019-11-19 18:16] jgwest commented on #844
/close

[2019-11-19 18:19] maysunfaisal commented on #1201
Fails for me as well

Installed Che 7.3.1 with operator 7.3.1 today at 12pm. Installed CW 0.6.0 after SC update from John.

[code]

The image is gone but the dir is still present in the PFE workspace
[code]

[2019-11-19 18:19] ssh24 commented on #1201
FWIW, the automation test on ODO is also able to catch it. Leaving it to the leads to decide if it is stopship or not.

[2019-11-19 18:23] johnmcollier commented on #1207
I think a prerequisite to re-enabling the tests is either:
- Ensuring changes in the template repo can't break the tests on Codewind so easily, or
- Some sort of CI build running on the templates repo ensuring that changes to it don't break Codewind

[2019-11-19 18:24] ssh24 commented on #1207
I like the second idea better. We can have the same PR tests in Codewind (or subset of it) running in the templates repo to catch this.

[2019-11-19 18:26] jgwest commented on #844
/remove-kind

[2019-11-19 18:27] jgwest commented on #844
@jgwest: Command 'remove-kind' requires at least one parameter.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555643317):

</details>

[2019-11-19 18:29] maysunfaisal commented on #1039
but i would like others to verify both on Che & Local before we close this

[2019-11-19 18:39] johnmcollier commented on #844
/remind-kind @jgwest

[2019-11-19 18:45] jgwest commented on #844
@johnmcollier Prow doesn't flag invalid commands, and I'm sticking with that behaviour 😛

[2019-11-19 18:46] jgwest commented on #844
/reopen too many params

[2019-11-19 18:47] jgwest commented on #844
@jgwest: Command 'reopen' does not support any parameters.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555651597):

</details>

[2019-11-19 18:51] jgwest commented on #844
/area

[2019-11-19 18:52] jgwest commented on #844
@jgwest: Unexpected command format: area<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555653293):

</details>

[2019-11-19 18:52] jgwest commented on #844
@jgwest: Unexpected command format: area<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555653293):

</details>

[2019-11-19 18:54] jopit commented on #1178
**Hybrid & Che**

- Need to specify one docker registry for Codewind projects to push to
- Need to specify one or more docker registries for Appsody projects to pull from

**Local**

- Need to specify one or more docker registries for Appsody projects to pull from

[2019-11-19 18:59] tetchel commented on #1095
this works for me now since https://github.com/eclipse/codewind/issues/941 was fixed

[2019-11-19 19:00] ssh24 commented on #1072
This is fixed now. **Verified**

[2019-11-19 19:00] #1072 closed

[2019-11-19 19:01] ssh24 commented on #1009
**Verified**

[2019-11-19 19:01] #1009 closed

[2019-11-19 19:01] #816 closed

[2019-11-19 19:08] malincoln commented on #1039
@maysunfaisal who else do you need to verify?  Have they been notified?

[2019-11-19 19:09] yangcao77 opened #1209 "[che] projectChanged event got emitted after projectCreation event"
**Codewind version:** 0.6.0 & master
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
Upon a new project got created, `projectChanged` event got emitted after `projectCreation`.
The status flipped from `started` -> `starting` -> `started`

Check the pfe log, looks like the `projectCreation` event was emitted before the

[2019-11-19 19:09] yangcao77 commented on #1209
/area iterative-dev

[2019-11-19 19:11] yangcao77 commented on #1039
Verified with latest 0.6.0 devfile, no double build.

[2019-11-19 19:16] yangcao77 commented on #1209
The async/await logic might be broken. The `projectCreation` event was emitted, and `pingApplication` tried to ping the application in the middle of the build.

So the user will see the application status is `starting` but the build status is `in progess`.
And would also see the app status flips between `starting` and `started`

[code]

[2019-11-19 19:38] tetchel commented on #1180
verified

[2019-11-19 19:38] #1180 closed

[2019-11-19 19:42] tetchel commented on #1019
verified

[2019-11-19 19:42] #1019 closed

[2019-11-19 19:43] maysunfaisal commented on #844
/reopen

[2019-11-19 19:57] mmulholl commented on #1179
Now seeing this a lot with basic project types too. Projects do disappear after a refresh.

[2019-11-19 19:58] maysunfaisal commented on #844
/close

[2019-11-19 20:14] GeekArthur commented on #748
Here is the officially odo supported image stream
[code]
Len is working on testing the performance of the image stream

[2019-11-19 20:18] GeekArthur commented on #1201
PR has been merged, @ssh24 @maysunfaisal you can verify it once the latest 0.6.0 PFE image has the fix.

[2019-11-19 20:48] ssh24 opened #1210 "Cannot edit/create new file in an ODO project"
**Codewind version:** Master ~(could be 0.6.0 as well)~
**Che version:** 7.3.1
**Kubernetes cluster:** OKD

**Description:**
Once I have an ODO project, if I edit file or create a new file the following message is provided and a build is not triggered:
[code]
@jingfuwang mentioned: "The message is added by this PR: https://github.com/eclipse/codewind/pull/1016, seems like it’s trying to fix Appsod

[2019-11-19 20:53] maysunfaisal opened #1211 "cwctl should create the namespace and the service account for remote PFE"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
cwctl is currently deploying PFE for remote.

so cwctl should be ensuring the namespace exist and the service account is created. The users should not do this themselves.

**Steps to reproduce:**

**Workaround:**

[2019-11-19 20:54] maysunfaisal commented on #1211
@markcor11 FYI, for cwctl deploying remote PFE.

[2019-11-19 20:55] tetchel commented on #1211
The namespace is minor, the serviceaccount is mandatory for building projects. the SA name also has to be exported into the PFE environment as `SERVICE_ACCOUNT_NAME`

[2019-11-19 20:57] ssh24 commented on #1210
Verified that it works on 0.6.0. So only affecting master right now.

[2019-11-19 20:57] yangcao77 commented on #1210
/assign

[2019-11-19 20:58] yangcao77 commented on #1210
/area iterative-dev

[2019-11-19 21:05] johnmcollier commented on #1211
Relevant lines here (and below): https://github.com/eclipse/codewind-installer/blob/master/pkg/remote/deploy.go#L119

Currently being hardcoded to `codewind`

[2019-11-19 21:08] tetchel commented on #665
https://github.com/eclipse/codewind/issues/1211 is required in order to be able to use the registry secrets

[2019-11-19 21:09] johnmcollier opened #1212 "[Cwctl] Add 'INGRESS_PREFIX' env var to remote PFE deployment"
PFE requires that `INGRESS_PREFIX` be set in order to expose applications over ingress. If it is not set, applications will not deploy properly on OCP4. This field is not currently being set for remote PFE deployments via Cwctl.

On Codewind on Che, we set it to the Che ingress domain (e.g. `che-che.9.1.2.3.nip.io`), for Hybrid it can just be the raw ingress domain that we discover or have passed

[2019-11-19 21:10] johnmcollier commented on #1212
This is a requirement for Hybrid in 0.7.0, as it prevents apps from properly deploying on OCP4, so marking as hot.

[2019-11-19 21:12] ssh24 commented on #1201
Still seeing it on 0.6.0.
[code]
Maybe the image has not been published yet?

[2019-11-19 21:16] maysunfaisal commented on #1201
can you exec and see if Jingfu's changes have been picked up? I dont see it yet

[2019-11-19 21:23] GeekArthur commented on #1201
@ssh24 Yea, our 0.6.0 PFE image still uses SHA sha256:8778d4e2ee9816ec26da3a4ec683275e1dd1194f7fe8061e82d5b30cd72500ad which doesn't include my fix, let me ask committer to manually trigger to build, then we all good to test.

[2019-11-19 21:38] johnmcollier opened #1214 "Rebuild codewind and codewind-che-plugin when repos they depend on are updated"
Terrible title, but currently `codewind` consumes the `codewind-appsody-extension` and `codewind-odo-extension`. When the repo for those extensions are updated, it requires a rebuild of Codewind to pull down the updated extensions.

Similarly, the `codewind-che-sidecar` image depends on the Golang filewatcherD binary (from https://github.com/eclipse/codewind-filewatchers) and Cwctl (https://github

[2019-11-19 21:39] johnmcollier commented on #1214
CC @josephca @GeekArthur @makandre

[2019-11-19 21:40] tetchel commented on #1214
[example](https://github.com/eclipse/codewind-vscode/blob/master/Jenkinsfile#L37)

[2019-11-19 21:41] eharris369 commented on #1095
This is working for me now too.

[2019-11-19 21:41] #1095 closed

[2019-11-19 21:52] tetchel opened #1215 "Docker projects get stuck in [Building - Build started] state"
When I deploy PFE using `cwctl`,
[code]

lower down,
[code]

I would guess these RBAC issues are symptoms of another missing piece in the new deployment code, like #1211

[2019-11-19 21:55] johnmcollier commented on #1215
Looking at the logs the default service account is being used and it hasn't been patched with the necessary roles for Codewind to function. I believe @markcor11 was looking at that today.

#1211 will fix this, though you'll need #1212 as well before deployments work.

[2019-11-19 21:55] tetchel commented on #1215
ok, i guess this is a dupe of that one then.

[2019-11-19 21:55] #1215 closed

[2019-11-19 22:13] mmulholl commented on #1039
Just saw the pop on Eclipse on Mac using the very latest driver when creating a liberty app.

[2019-11-19 22:25] jagraj commented on #1188
I got into cluster issues and I could n't install che. After rebooting cluster, I am able to install che on my cluster. I will try to recreate and update my results here.

[2019-11-19 22:28] jagraj commented on #1187
I got into cluster issues and I could n't install che. After rebooting cluster, I am able to install che on my cluster. I will try to recreate and update my results here.

[2019-11-19 22:29] tetchel opened #1216 "Error message when cwctl encounters 503 is the entire HTML page"
[code]

It does respond with a 503, so can we turn this relatively common error scenario into a better error_description, to avoid the error message below? 😛
![image](https://user-images.githubusercontent.com/8888438/69192155-06c29400-0af2-11ea-99fd-5bf27f5d0c0f.png)

[2019-11-19 22:33] sghung commented on #1202
This issue is 100% reproducible, I am trying to isolate the issue. Examining the appsody microprofile stack from 0.2.18 to 0.2.19, the changes there would not have caused the error.

When I try `git checkout 60b1992bce2295a16b7c56f8e1948ab287c87c6f` for a master commit, that works fine. When I tried using various 0.6.0 commits, I get the error. So I suspect this is something wrong in 0.6.0.

[2019-11-19 22:44] yangcao77 commented on #1039
I didn't see it with latest master branch.
@mmulholl  Are you using the latest Eclipse plugin? Since the latest cwctl and FW code are in the plugin.

[2019-11-19 22:47] rajivnathan commented on #1161
It looks like there are 2 problems here:
1. There are some file changes detected immediately after creating the project that triggers the update scenario in the code. Specifically the code here: https://github.com/eclipse/codewind/blob/2bc31a0347e045d926e8160efe5741a6662d426c/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L194
2. An update build is running while the create

[2019-11-19 22:49] rajivnathan commented on #1039
@yangcao77 is correct, you'd need to update your plugin. However, should be using the latest 0.6.0 plugins, not master.

[2019-11-19 22:56] sghung commented on #1202
More investigation notes: the error comes from the`validate.sh` script from the appsody stack.

# Check child pom for required parent project
if [ "${p_groupId}" != "${a_groupId}" ] || [ "${p_artifactId}" != "${a_artifactId}" ]; then
  echo "Project pom.xml is missing the required parent:

  <parent>
    <groupId>${a_groupId}</groupId>
    <artifactId>${a_artifactId}</artifactId>
    <version>${a_

[2019-11-19 23:52] rajivnathan commented on #1195
Verified this is fixed on both 0.6.0 and master.

[2019-11-19 23:52] #1195 closed

[2019-11-20 00:02] yangcao77 commented on #1161
Saw an issue on 0.6.0 che, might be related to this issue.
The status of a queued project flipped between `queued` and `inProgress`.
There's definitely something wrong with the build logic. If the project is in queue, it should not triggering the build. And, if the build is in progress, it should not be put back in the queue.
[code]

[2019-11-20 00:22] jagraj commented on #1039
I got the latest eclipse plugin and latest 0.6 images, I still see this problem.

  ```Codewind tech preview	0.6.0.v201911181940	org.eclipse.codewind.feature.group	Eclipse.org```

<img width="1662" alt="Screen Shot 2019-11-19 at 7 16 21 PM" src="https://user-images.githubusercontent.com/713849/69198170-d3880100-0b01-11ea-809f-46973d6d03a8.png">

[2019-11-20 02:39] jagraj commented on #1039
I also see same behavior on Che as well. You can see the error message in the notification area.

<img width="1672" alt="Screen Shot 2019-11-19 at 9 28 02 PM" src="https://user-images.githubusercontent.com/713849/69204374-c1638e00-0b14-11ea-8b9c-10a0e340eb08.png">

[2019-11-20 05:44] sghung commented on #1202
@sujeilyfonseca can you try something for me? I found that if I use the codewind-data directory (or codewind-workspace), I would see this. Can you try putting it in another directory like C:\temp, such that the path is like C/temp/cw-appsody-eclipse-microprofile-1

[2019-11-20 05:52] jgwest opened #1217 "Codewind Eclipse does not detect file changes (and trigger build) if the Eclipse project name is different from the Codewind project name."
Codewind Eclipse appears not to detect file changes (eg the filewatcher is never informed of new changes) if the Eclipse project name is different from the Codewind project name.

In Eclipse, the name of the project can differ from the directory that it is contained in. This appears to cause issues with Codewind, which expect them to be the same.

Since I initially thought it might be a Filewatche

[2019-11-20 06:08] sujeilyfonseca commented on #1202
Thank you for working to solve this problem, @sghung!

Originally, both projects that were failing due to pom.xml were located in `c:\codewind-workspace`,

I created a project in a different location, but I still see the problem:

<img width="944" alt="Screen Shot 2019-11-20 at 1 06 02 AM" src="https://user-images.githubusercontent.com/49531960/69213409-03e79380-0b32-11ea-88d4-a792ca723c32.png">

[2019-11-20 07:45] #975 closed

[2019-11-20 07:46] markcor11 commented on #1084
This should be solved now with #975 merged

/pipeline Verify

[2019-11-20 08:30] markcor11 commented on #1212
/assign @markcor11

[2019-11-20 08:47] markcor11 commented on #1211
/assign @markcor11

[2019-11-20 09:20] markcor11 commented on #1212
Set INGRESS_PREFIX to the determined domain name (or parameter defined domain) to PFE during hybrid remote deploy. From inside pfe container :

sh-4.2# printenv | grep -i  ingress
INGRESS_PREFIX=apps.<someserver>.<someip>.nip.io

PR with change :  https://github.com/eclipse/codewind-installer/pull/229

[2019-11-20 11:53] markcor11 commented on #1211
- [x] add namespace :

[code]

- [ ] add service account

[2019-11-20 12:22] tobespc opened #1218 "create 'latest' folder to store the latest build in download area"
@josephca commented on [Thu Jun 27 2019](https://github.com/eclipse/codewind-installer/issues/43)

For master branch build, it would be convenient if we copy and preserve the latest build in 'latest' directory in download area. i.e. _https://download.eclipse.org/codewind/codewind-installer/master/lastest_. Especially, it will help test automation and SVT.
Currently, this has been done for plugins

[2019-11-20 12:24] stalleyj commented on #1039
@jagraj @mmulholl I think the reason that you are not seeing this fixed is because you have projects that were created before this issue was fixed ?  To create a "clean" install, I would recommend stopping codewind and then deleting the docker volume (docker volume rm codewind_cw-workspace).  This would give you the same environment as a customer installing 0.6.0.  When I went through this, I saw

[2019-11-20 12:30] markcor11 commented on #1216
/assign @markcor11

[2019-11-20 13:19] james-wallis commented on #1177
/assign

[2019-11-20 13:19] jagraj commented on #1188
After cluster reboot, I could n't reproduce this problem and this could be related to glusterfs storage issues where data is not sync between nodes. Closing this issue for now.

[2019-11-20 13:19] #1188 closed

[2019-11-20 13:23] james-wallis commented on #1177
I've been able to recreate this locally after updating the CLI to master using the command `cwctl --insecure templates repos list --conid K37BCNPK` (with and without the `--json` flag). Must have been a change that went in yesterday as I wan't seeing it when testing another PR.

[2019-11-20 13:23] markcor11 commented on #1216
PR will handle authentication service 503s : https://github.com/eclipse/codewind-installer/pull/231

[2019-11-20 13:24] josephca commented on #1218
This is already done. Closing it now.

[2019-11-20 13:24] #1218 closed

[2019-11-20 13:31] mmulholl commented on #1039
I am seeing this with latest 0.6.0 driver not the latest master. The fact you have to ask that shows how important this is: https://github.com/eclipse/codewind/issues/752

[2019-11-20 13:53] markcor11 commented on #1216
/pipeline Verify

[2019-11-20 13:53] markcor11 commented on #1212
/pipeline Verify

[2019-11-20 13:59] markcor11 commented on #1211
The changes for the namespace are merged,  for the second part of this what should we call the service account?  For a Che deployment we use che-workspace I had a placeholder in of just "codewind" since we might not have a che service account and need to create something.   Any preferences ?

[2019-11-20 14:10] elsony commented on #1201
@GeekArthur Fix for 0.6.0 has been merged.  I leave this one in progress for putting the same change into master.

[2019-11-20 14:14] mmulholl commented on #1039
@stallyj my tests run with newly created project every time.

[2019-11-20 14:19] stalleyj commented on #1039
@mmulholl Can you give me some more details please, is this che/local/vscode/eclipse ?  What are you seeing to tell you it's doing a double build ?

[2019-11-20 14:49] james-wallis commented on #1177
@yangcao77 @johnmcollier I've got a local che instance running and have successfully created a Node.js project from the default templates.
Devfile link used was: `http://che-che.10.108.6.229.nip.io/f?url=https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml`

Could you provide further information on a type of project to create or please retest? Thanks

[2019-11-20 15:05] maysunfaisal commented on #1211
probably call it `codewind-sa`/`codewind-workspace`?

[2019-11-20 15:16] tetchel commented on #1084
Works for me

[2019-11-20 15:18] mmulholl commented on #1039
OK, this is weird, I create 11 projects of various types and don't see the pop-up. I stop codewind and restart it, during restart the popups appear four times. I google how to get a partial screen shot on mac, I hit command-shit-4 to create the pop-up and all my projects disappear from codewind.

[2019-11-20 15:20] ssh24 opened #1221 "Ability to save the cronjob logs for debugging"
**Description of the enhancement:**
We need to have the ability to save cronjob logs on our functional test suite for debugging. Currently we only save the test logs but not the cron log which means if the cron setup fails it is hard to know why it failed.

/kind test
/area iterative-dev

[2019-11-20 15:21] johnmcollier commented on #1211
@markcor11 @maysunfaisal I'm concerned about uniqueness here - If multiple remote Codewind instances can be installed on a cluster (which is a use case we need to support), then either the namespace used needs to be unique or the service account name needs to be unique.

[2019-11-20 15:40] makandre commented on #1187
@jagraj looks like we need a new build of PFE to pick up the new change anyways @sghung or @josephca do we have other fix going into PFE?

[2019-11-20 15:41] tetchel commented on #1216
:+1:

[2019-11-20 15:41] #1216 closed

[2019-11-20 15:41] johnmcollier commented on #1187
@makandre I can kick off a jenkins build for the codewind master branch

[2019-11-20 15:42] ssh24 commented on #1201
It worked on 0.6.0 now. Looks like the issue was with how the process was being closed. **Verified** but will keep it on till it is fixed on master.

[2019-11-20 15:54] jgwest opened #1222 "Performance difference in large Java application between 0.6.0 and 0.5.0"
There appears to be a significant performance difference between 0.6.0 and 0.5.0, when tested against a largish Java application (the Rogue Cloud client).

### Data (investigation ongoing)

#### Windows Laptop, local, on Eclipse (Eclipse and Codewind version matching):
[code]

#### Linux Desktop,  local (desktop machine, but VM on non-SSD) on Eclipse (Eclipse and Codewind version matching):
[code]

[2019-11-20 16:01] markcor11 commented on #1211
I've been primarily installing Codewind remote 1 per namespace just because its easier to clean up the ingress/service/secrets.  Each Codewind deployment has a unique "workspace" name used between all 4 pods and that's also true for the keycloak secrets and configmaps. Would creating  the service account with the same "workspace" identifier work? My gut feeling is 1 PFE per namespace would be best

[2019-11-20 16:03] johnmcollier commented on #1211
Yup, adding the `workspace` identifier to the service account would work.

And agreed, 1 Codewind per namespace is probably the general scenario that will be used and that multiple Codewinds per namespace is unlikely, but we either need to:
- Don't support it, and have `cwctl` error out if Codewind is already installed in a namespace, or
- Support, and ensure all resources have unique names

[2019-11-20 16:04] mmulholl opened #1223 "SVT : Eclipse : Mac : Error stopping codewind"
**Codewind version:**  Codewind tech preview	0.6.0.v201911181940
**OS:** MAC

**Che version:**
**IDE extension version:**
**IDE version:**
Eclipse IDE for Enterprise Java Developers.

Version: 2019-09 R (4.13.0)
Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**
Saw an error stopping codewind. May be a network issue but wanted to to have a developer check.
[output from : docker ps -

[2019-11-20 16:05] mmulholl commented on #1223
[diag.txt](https://github.com/eclipse/codewind/files/3870142/diag.txt)

[2019-11-20 16:05] GeekArthur commented on #1201
I log in to Maysun's cluster and find the issue is different cluster's `ps aux | grep <process>` has different behavior (may related with the PID itself), so that it can't get the correct process ID in your and Maysun's cluster, but can get it in my and Len's cluster. `pkill` and `pgrep` can tolerate this issue.

[2019-11-20 16:17] tobespc commented on #1222
I'll also investigate this

[2019-11-20 16:30] maysunfaisal commented on #1039
verified on local as of Nov 20

So I have verified on Che and Local with multiple projects for 0.6.0 and i dont see it anymore.

Obviously everyone who is seeing it again, needs to verify their ide extension/cwctl/che devfile is all at 0.6.0 latest

[code]

[2019-11-20 16:31] elsony commented on #1201
Closing this issue since the fix went into both 0.6.0 and master and it has been verified on 0.6.0

[2019-11-20 16:31] #1201 closed

[2019-11-20 16:34] johnmcollier commented on #1222
I did some quick testing on Che too:
1. Project import of Rogue cloud is really slow, almost a minute. There's also no import status to let the user know that the project is still importing, making it look like it failed
2. Updates aren't too bad. On Che, we're not doing any docker cp / kubectl cp from PFE (as we're sharing the PFE volume where needed with the project), so the only slowness comes

[2019-11-20 16:38] MelHopper commented on #1106
Consider the following github issue content when creating the more verbose and user-story-orientated Product Overview content for the Docs Landing Page:

"Improve [product overview] write-ups for Codewind marketplace entries"
https://github.com/eclipse/codewind/issues/596

[2019-11-20 16:38] elsony commented on #1222
I mark this as stopship for the time being since the original data suggest delta update jumps on Eclipse on Win jumps from 15s->50s.  I am getting the team to run through more scenario (Eclipse vs VSCode, win vs mac, local vs Che) to get more understanding on the extend of the problem. We are also investigating on where the time is spent on.

[2019-11-20 16:48] MelHopper opened #1224 "ID: As a potential customer or user, I want to see a table populated with all of the templates that codewind supplies."
**Description of the enhancement:**
Codewind's predefined templates is one of the main value propositions, but we do not currently have a list of templates that Codewind offers and what these include.

Content is therefore required to enhance the user experience of both potential and current Codewind users. We need to showcase which templates we offer and provide this as a 'quick link' reference o

[2019-11-20 16:50] tetchel commented on #1177
https://github.com/eclipse/codewind/issues/1177#issuecomment-555185071 is fixed with eclipse/codewind-installer#227

[2019-11-20 16:50] rtaniwa commented on #436
Do we know what aspect of the prune resolves the issue? I seem to remember someone trying to go in and manually remove all the Codewind images, and that didn't work. I agree, it would be more ideal to have a workaround that has a smaller blast radius.

[2019-11-20 16:50] tobespc commented on #1222
There are 2 areas where the new design would have an impact on performance,   The first area is where we copy files from the users workspace into the pfe container.  This is done using http upload.   Our testing of this bit shows its very fast.  The second area is where we copy files from the pfe container into the turbine build/run container.  This is done with a docker copy and we run that for e

[2019-11-20 16:51] tetchel opened #1225 "Manage Template Sources loads slowly"
With remote support, fetching the template repos can take a few seconds. The Manage Template Sources page is blank while this goes on, and it looks like it is broken. The page needs to indicate it is loading.

[2019-11-20 16:51] tobespc commented on #1222
so we need to understand which bit is the issue.  Is it syncing the users workspace to the pfe container or is it then the update to build/run container

[2019-11-20 16:53] MelHopper commented on #1224
Box note containing a proposal for the table, to be modified as per research findings: https://ibm.box.com/s/0pqwbrdw0y6io5whi53tmd49t86a5tc3

[2019-11-20 16:59] johnmcollier commented on #1222
Che 0.6.0:
**Import**:
- Total time: 5 min, 50s
  - Sync to PFE: 24s
  - `Build succeeded:` 5 min, 26s
      - Docker build and helm install: 4 min, 52s
      - Maven build: 34s

**Code update:**
- Total time: 19s
    - Sync to PFE: 12s
    - `Build Succeeded`: 7s

[2019-11-20 17:01] MelHopper opened #1226 "As a potential customer, I want to see an FAQ section to help me understand Codewind quickly"
**Description of the enhancement**:
Many software offerings supply a FAQ section in their documentation early on in the Discovery user journey in order to help a potential customer understand the product and where it sits in terms of their own user cases quickly - see the following for examples:

- https://docs.docker.com/engine/faq/
- https://ibm.github.io/event-streams/faq/

Content is therefore

[2019-11-20 17:02] tetchel opened #1227 "Initial template selector should appear more often, but when?"
Right now the prompt that forces a user to select a template repository initially appears once, ever. This made sense when we had just the one local connection.

Now, we have to consider how this design should work with remote connections - should we see this prompt every time we create a new connection, or will that get annoying?

[2019-11-20 17:02] tobespc commented on #1222
on vscode

Code update 17s in total

[2019-11-20 17:05] stalleyj commented on #1039
@maysunfaisal The only way I can recreate this is with the 0.6.0 eclipse plugin locally, creating a docker python project and it happens every time.  Could you try the same please.

[2019-11-20 17:23] james-wallis commented on #1207
/assign
I don't think that we should test for the Appsody templates or the Kabanero templates at all as they are out of our control when they change.
I'm creating a PR which will change the tests to only test that:
* The response contains the default Codewind templates as we control them.
* The length of the list of templates is at least as long as the expected Codewind templates.

I also think th

[2019-11-20 17:27] tetchel commented on #1177
It works in Che too now, but it is very slow - 27 seconds!

[code]

[2019-11-20 17:35] rajivnathan commented on #1222
Tested code update on VSCode on Mac and seeing better times than Jonathan for 0.6.0. Also tried 0.5.0 for comparison and seeing faster times. Perhaps the problems are specific to the eclipse client? Will try eclipse client on my machine in a bit.

**0.6.0**
18s
16s
19s
15s

**0.5.0**
30s
32s
45s
32s

[2019-11-20 17:48] #995 closed

[2019-11-20 18:15] jagraj opened #1228 "SVT:Appsody spring project failed to build after migrating from Codewind 0.4 to Codewind 0.6 release"
**Codewind version:** Codewind 0.4, Codewind 0.6
**OS:** Windows

**Che version:**
**IDE extension version:** Eclipse Codewind 0.4 , 0.6  releases
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I tried to migrate from Codewind 0.4 to Codewind 0.6 release to reproduce install problem. During this migration appsody spring project failed to build after migration. I get fol

[2019-11-20 18:16] jagraj commented on #1228
/priority hot
/area appsody

[2019-11-20 18:19] jagraj commented on #1202
I tried to reproduce this problem after migrating from Codewind 0.4 to Codewind 0.6 and I got into following issue. (https://github.com/eclipse/codewind/issues/1228)

[2019-11-20 18:20] tobespc commented on #1222
i like those results - 0.6.0 is better :-)

[2019-11-20 18:22] maysunfaisal commented on #1222
Comparing with John's cluster:

Comparing with John’s:

Che 0.6.0:
*Import*:
- Total time:  4min, 56s
 - Sync to PFE: 23s
 - `Build succeeded:`  4min, 33s
     - Docker build and helm install: 4 min, 07s
     - Maven build: 26s

*Code update:*
- Total time: 17s
   - Sync to PFE: 03s
   - `Build Succeeded`: 14s

[2019-11-20 18:28] rajivnathan opened #1229 "Improve user feedback when deleting project"
**Codewind version:** latest
**OS:** Mac OSX

**Che version:** 7.3.1
**IDE extension version:** latest
**IDE version:** 7.3.1
**Kubernetes cluster:** OKD 3.1.1

**Description:**
Removing a project takes a long time (> 20s) and there is no indication of what's happening on the UI. To the user it looks like the remove did not take effect.

**Steps to reproduce:**
Create a microprofile project using

[2019-11-20 18:28] maysunfaisal commented on #1222
But I agree with John's comment regarding import i.e.; if its a big project it takes a while to import like in my case - 23s, user has no way of knowing what is happening during this time. Almost feels like no action is taking place.

If a user was not following the logs, they'd most probably try importing again!

[2019-11-20 18:28] johnmcollier commented on #1229
+1 seeing this, especially for larger projects.

[2019-11-20 18:33] tetchel commented on #1229
is slowness the delay between the IDE issuing the deletion request, and the projectDeletion event, or is it removing the files?

[2019-11-20 18:38] elsony commented on #1222
For that usability issue on import with no feedback, I think we should probably open a separate bug on it

[2019-11-20 18:42] sishida commented on #596
**Update:** The VS Code README improvements are merged: https://github.com/eclipse/codewind-vscode/pull/274#pullrequestreview-320183955

[2019-11-20 18:43] yangcao77 commented on #1222
0.6.0 on Mac with vscode

Code update 15s in total.

- Sync to PFE: 4s

-  Build Succeeded: 11s

[2019-11-20 18:49] jopit commented on #1178
**Hybrid & Che**
- When the user first creates a codewind project, prompt for the docker registry needed for push

**Local, Hybrid & Che***
Add an item to the connection's context menu to show a 'manage container registries' page which allows user's to add, remove and edit the list of registries that PFE knows about.  The list should also contain the registry needed for push if it exists. The user

[2019-11-20 18:54] maysunfaisal commented on #1222
I have updated my results with 0.5.0 devfile as well. Looks very comparable.

The only delay seems to be the initial sync of the project during create/import.

[2019-11-20 18:58] maysunfaisal opened #1230 "Notify Users on Project Import Progress"
**Codewind version:** 0.6.0
**OS:**

**Che version:** 7.3.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description of the enhancement:**

As part of exercise https://github.com/eclipse/codewind/issues/1222, when I imported Rogue Cloud to Che CW 0.6.0, project sync to almost 23s for me.

In these 23s, I had no idea what was happening. The CW extension view did n

[2019-11-20 18:59] johnmcollier commented on #1230
We need it for delete too https://github.com/eclipse/codewind/issues/1229

[2019-11-20 18:59] maysunfaisal commented on #1230
/kind bug

[2019-11-20 19:10] josephca commented on #1187
@makandre I believe this new build already picked up the new changes. Please let me know otherwise.
https://ci.eclipse.org/codewind/view/Codewind/job/Codewind/job/codewind/job/0.6.0/13

[2019-11-20 19:14] sghung commented on #1228
To get appsody spring project from Jag (since attached project is node)

[2019-11-20 19:35] jagraj commented on #1228
Looks like there was a network outage with maven central and it could n't download dependency and  failed to build. I submitted manual build again and it built successfully. We are good with this issue.

[2019-11-20 19:35] #1228 closed

[2019-11-20 19:36] GeekArthur commented on #1117
Verified, we don't have this problem now

[2019-11-20 19:36] #1117 closed

[2019-11-20 19:42] GeekArthur commented on #1179
I can try to reproduce to see if I can find the issue on non-Appsody projects

[2019-11-20 19:45] malincoln commented on #1039
@maysunfaisal we had discussions today.  There is a "possible fix" but it was decided there was a slight risk at this late in the cycle for release that we will continue to investigate for next release.  @tobespc and @jagraj also discussed a fix needed for the restart that will need to be done.

[2019-11-20 19:53] malincoln commented on #1181
Discussed today and it was decided to continue to investigate, get logs from failure, and determine fix for the next release.  Not required for 0.6.0.

[2019-11-20 19:56] rajivnathan commented on #1229
@tetchel I see turbine started the removal process pretty much immediatly so I believe the latter.

[2019-11-20 20:00] elsony commented on #1179
We can take a look at when the notification has been sent out to decide if the delay is coming from PFE layer or on the IDE side (or the communication channel).

[2019-11-20 20:13] yangcao77 commented on #1177
Confirmed this has been fixed on che. And no performance issue on my cluster.
Closing this issue.

[2019-11-20 20:13] #1177 closed

[2019-11-20 20:17] johnmcollier commented on #1110
Don't think there are any outstanding questions that would need to be asked/answered on a tech-topics call, so removing the label

[2019-11-20 20:22] tetchel commented on #1229
it is the former

[2019-11-20 20:23] tetchel commented on #1229
to summarize from my pov, the current behaviour is:

1. issue deletion request
(there is a delay while pfe cleans up)
2. receive deletion event, project disappears from codewind view
4. delete files from user disk if applicable (this shows progress)

the confusion is between steps 1 and 2

[2019-11-20 20:28] rtaniwa commented on #1222
On W10 and using VS Code I see a pretty significant delay between 0.5 and 0.6. The strange thing is it wasn't auto-building on 0.5, so I had to change the file and initiate the build manually. That build would take about 20s. Now on 0.6, the build does kick off automatically, but does take around 60s.

[2019-11-20 20:29] yangcao77 commented on #970
Verified the issue has been fixed.

[2019-11-20 20:29] #970 closed

[2019-11-20 20:30] tetchel commented on #1230
@maysunfaisal should be better now

[2019-11-20 20:31] tetchel commented on #1179
the `Creating <projectname>...` notification should last longer in vs code/theia now. the delay between that progress going away and the project appearing in the codewind view should be very short.

[2019-11-20 20:35] ssh24 commented on #1210
**Verified** both manually and automation tests

[2019-11-20 20:35] #1210 closed

[2019-11-20 20:36] eharris369 commented on #1222
I can reproduce this problem on my Windows machine.  I ran 3 times each:

**0.6.0:** 47.28, 46.6, 45.49
**0.5.0:** 16.54, 18.04, 17.16

[2019-11-20 20:37] ssh24 commented on #907
This is now working. @maysunfaisal Could you close this issue?

[2019-11-20 20:37] ssh24 commented on #257
@jagraj This should be fixed now. Could you please verify and close it?

[2019-11-20 20:39] GeekArthur commented on #1179
In order to test PFE layer and non-Appsody projects, I try to create multiple non-Appsody projects using VS Code since PFE layer is not IDE specific, I am using MacOS. Create and delete non-Appsody projects appear and disappear in the project list very fast ~ 1 sec.

[2019-11-20 20:41] elsony commented on #1222
It looks like the test result is pretty consistent across the board that it is a generic problem on Win.  Jonathan has also reported the same problem as Rob mentioned that auto build does not kick in.

[2019-11-20 20:45] jopit commented on #1211
There's a number of comments made after this was moved to verify.  It sounds like there's more work to be done and it should be moved back to in progress?

[2019-11-20 20:46] makandre commented on #1202
What does the `pom.xml` in your project look like?  Specifically for this part:

[code]

[2019-11-20 20:46] GeekArthur commented on #1179
For folks can reproduce this issue, suggest turn on the TRACE log level for PFE then post PFE log here, then I can take a look if the delay is from notification sent by PFE layer or communication channel.

[2019-11-20 20:47] elsony commented on #1179
@mmulholl ^^ It looks like Jingfu can't reproduce the problem on Codewind style application on his machine. Can you provide the PFE log and also the details on your test, e.g. detailed steps, platform, Eclipse/VSCode, etc.?

[2019-11-20 20:59] elsony commented on #1222
@jgwest Assigning this to you to further investigate on this problem given that you have the environment setup.

[2019-11-20 20:59] maysunfaisal commented on #907
/close

[2019-11-20 21:00] #907 closed

[2019-11-20 21:02] tetchel commented on #1211
it is definitely not ready to verify because the serviceaccount has not been added yet

[2019-11-20 21:11] GeekArthur commented on #1179
I tested the non-Appsody projects for Eclipse as well, I don't hit the slowness issue but the IDE extension that I use is below, the version is newer than the description in this issue.
![Screen Shot 2019-11-20 at 3 58 29 PM](https://user-images.githubusercontent.com/15131537/69278408-4780e280-0bb0-11ea-877c-937f89dd7bda.png)

[2019-11-20 21:28] sghung commented on #1202
The only time I can consistently reproduce this, is by using a directory that codewind is mounting.

For example, when I do `run.sh` (it uses codewind/codewind-workspace), if I run:
`docker inspect -f '{{ .Mounts }}' 2a53207bd4e1`

I get:
`[{bind  /var/run/docker.sock /var/run/docker.sock  rw true rprivate} {bind  /Users/stevenhung/git/codewind/codewind-workspace /mounted-workspace  rw true rpriva

[2019-11-20 21:32] sujeilyfonseca commented on #1202
@makandre, the pom.xml has the content you specified:

[code]

[2019-11-20 21:34] jagraj commented on #1187
I got the latest images and verified this fix after workspace restart and projects are no longer stuck in "Starting" state.  Thanks for the fix.

[2019-11-20 21:34] #1187 closed

[2019-11-20 21:36] maysunfaisal commented on #1039
I think it is fixed.

But I may know why ppl are seeing it and why i was able to reproduce it but I would like someone to confirm my hypothesis

1. I see this issue when I have both Eclipse and VS Code open. I spent a long time wondering why I was seeing this issue on Eclipse. But looking at my PFE log:
[PFE-with-2-IDE.log](https://github.com/eclipse/codewind/files/3871333/PFE-with-2-IDE.log) when

[2019-11-20 21:36] sghung commented on #1202
@sujeilyfonseca what happens if you call `docker inspect -f '{{ .Mounts }}' 2a53207bd4e1` (replace the container ID with pfe's container ID via calling `docker ps`)

[2019-11-20 21:42] johnmcollier commented on #1092
Not a command, but we should be labelling issues opened by newcomers (and non Codewind team members), maybe something like `needs-member-attention` like Open Liberty has?

[2019-11-20 21:45] mmulholl commented on #1179
Still seeing the issue on   Codewind tech preview	0.6.0.v201911181940

Often the remove project stays listed until the view is refreshed or a new project is created -presumably causes a refresh. It really kills automated tests.

Steps are 1. create a project, wait for it to finish building and starting. 2. remove the project.

[2019-11-20 21:48] makandre commented on #1202
Putting your project in the mounted dir (which for an official install on Windows would be `C:\codewind-data`) is for sure to cause problems and we tell users they must not do that.

So let's set that aside and make sure our env is correct:

1. where is the project physically located?
2. does `C:\codewind-data` exists?
3. is it shared to docker?  Can docker mount it?
4. do you see a **copies** of

[2019-11-20 21:53] tetchel opened #1232 "Warn user if project is created outside of vs code workspace"
If the user creates a project outside of the vs code workspace, it won't show up in the workspace, obviously.

I considered adding it automatically, but that would be annoying for a user with a single-root workspace have their workspace suddenly become multi-root.

My current thought is to add a warning popup that says "this new project is not under your current workspace" with a button to run the

[2019-11-20 22:04] tetchel commented on #165
we should still make this change in the new page https://www.eclipse.org/codewind/mdt-vsc-getting-started.html we can put the link here
![image](https://user-images.githubusercontent.com/8888438/69282246-d9401e00-0bb7-11ea-8b91-91db521974f3.png)

[2019-11-20 22:12] sujeilyfonseca commented on #1202
@sghung:

[code]

PFE logs are full of same error messages, so there's not much to see:
[code]

[cw-appsody-microprofile-2.txt](https://github.com/eclipse/codewind/files/3871655/cw-appsody-microprofile-2.txt)
[codewind.log](https://github.com/eclipse/codewind/files/3871656/codewind.log)
[filewatcherd-1.log](https://github.com/eclipse/codewind/files/3871657/filewatcherd-1.log)
[codewind-pfe.txt](ht

[2019-11-20 22:18] GeekArthur commented on #1179
I share a video to my personal box note: https://ibm.box.com/s/jdt6363rhcmj53parer4uq48st7bxf83
Anyone can download and view it, there is no delay issue for deleting non-Appsody project for me.

Also in the mean time I check the PFE log:
[code]
I can confirm there is no delay from PFE layer, project delete notification has been sent immediately. From Martin's description, seems like refresh can re

[2019-11-20 22:25] jagraj commented on #257
yes, this is fixed now. Thanks for the fix. This will make users happy in local and Che :)

[2019-11-20 22:25] #257 closed

[2019-11-20 22:26] sujeilyfonseca commented on #1202
@makandre:

(1) Originally, both projects that were failing due to pom.xml were located in `c:\codewind-workspace`, not under `c:\codewind-data` (cw-appsody-eclipse-microprofile and cw-appsody-eclipse-microprofile-1).

Recent projects are under `c:/cw-temp/`, which is a directory I have created (cw-appsody-microprofile-1 and cw-appsody-microprofile-2):

![Screen Shot 2019-11-20 at 5 17 06 PM](http

[2019-11-20 22:28] malincoln commented on #1202
Note: 1228 is now closed due to network issue.

[2019-11-20 22:48] tetchel commented on #1232
talking to Guy, a better message:
`The new project at <path> is not under your current workspace, right click the project to run the Add Project to Workspace command`

[2019-11-20 22:49] jagraj commented on #1045
@johnmcollier

I am verifying these upgrade instructions.. We are recommending this to the users now `--che-operator-image=quay.io/eclipse/che-operator:7.3.1`. Do you think it makes sense to include this in these instructions.?

[2019-11-21 01:47] makandre commented on #1202
@sujeilyfonseca it looks fine but maybe I can suggest trying this:

1. Stop codewind
2. Delete the codewind docker volume plus any that ends with -dep
3. Grep for and delete appsody docker images
4. Restart codewind

[2019-11-21 09:25] micgibso commented on #165
@sishida I'll take a look please.

[2019-11-21 09:49] micgibso commented on #165
@tetchel Change made on PR https://github.com/eclipse/codewind/issues/165, please review.

Have changed the sentence to your suggested link above (`vscode:extension/IBM.codewind`), tested it,  and it works for me too.

Re  'I would be curious to see if that works on a machine which does not have VS Code installed.' Step 1 above says `Install VS Code 1.28 or later` so in theory users shouldn't ever

[2019-11-21 10:11] markcor11 commented on #1211
Will raise on tech topics to discuss if should support multiple PFE remotes per namespace or enforce a single one.

[2019-11-21 10:45] liamchampton commented on #1181
/assign @liamchampton

[2019-11-21 10:50] jcockbain commented on #578
/assign @jcockbain

[2019-11-21 11:08] jcockbain commented on #578
I can see this on the local off master:
[code]

[2019-11-21 11:09] markcor11 commented on #971
Edge termination alone does not support encrypted internal network traffic.  The "re-encrypt" mode will per above terminate the connection first at the router edge but then re-encrypt the connection to the PFE service.  One challenge to be overcome with "re-encrypt" is that the router needs to trust the target PFE TLS certificate. Right now PFE uses a self-signed cert and generates it when the pod

[2019-11-21 11:44] markcor11 commented on #1143
Verified

[2019-11-21 11:44] #1143 closed

[2019-11-21 12:46] tobespc commented on #1222
I've put a PR up (against master branch) that includes logging information around the timings of each step.  This will make it easier to see what is actually happening with the timings.  Please can you test with this master branch rather than 0.6.0 (It is the same architecture after all)

https://github.com/eclipse/codewind/pull/1233

[2019-11-21 13:19] cccanderson commented on #1109
WTP puts its agendas on wiki.eclipse.org, see https://wiki.eclipse.org/WTP_Development_Status_Meetings

WTP also has a Google calendar for its meeting schedules.

[2019-11-21 13:40] jagraj commented on #1202
@makandre
Is this workaround for the user when they get into this problem.?
We don't loose meta data of codewind when we delete codewind workspace volume.?

[2019-11-21 14:09] tetchel commented on #578
yes, this issue is for non-local

[2019-11-21 14:12] tobespc commented on #1222
in my testing on Windows, I'm seeing bind times of around 4 secs and sync times of around 3 secs for a single file change

[2019-11-21 14:13] tobespc commented on #1222
@elsony I think it would be worth adding timing information around the build step as well

[2019-11-21 14:13] jopit commented on #1211
We will support multiple PFEs per namespace, since we need to support this for Che anyway

[2019-11-21 14:18] jopit commented on #1008
We'll use codewind-resources org, we'll create a new repo in this org, and will create separate folders for each area

[2019-11-21 14:29] lentheivendra opened #1234 "Delete pre-existing codewind workspaces via Che API in test automation"
Currently the automated tests on Kube for pfe/turbine and the sidecar delete/cleanup pre-existing workspaces by querying for running codewind pods and discovering the workspace ID to delete.  This does not work for any workspaces that are stopped, or for the multiple workspaces case.  Proposing solution to query for all workspaces via Che API and then filter out the codewind ones to delete as part

[2019-11-21 14:31] lentheivendra commented on #1234
/area iterative-dev
/kind test

[2019-11-21 14:33] lentheivendra commented on #1234
/assign

[2019-11-21 14:34] jcockbain commented on #578
Yep sorry, wasn't suggesting this was fixed. Just updating the issue, as the description included pfe without Che (unless that meant other non-che remote instances). I've recreated on Che, fix for remote will be up soon.

[2019-11-21 14:34] jopit commented on #1109
We'll keep separate calls
Same time as current
Use webex
Open up a section of Box to the public
For IBM only discussions, we could keep it on an ad-hoc basis.  If we need such a discussion frequently, we could schedule a meeting after the open one.

[2019-11-21 14:42] tetchel commented on #775
this has been fixed with the shift to cwctl bind

[2019-11-21 14:42] #775 closed

[2019-11-21 14:53] tetchel commented on #673
@jagraj do you still see this? looks like I missed this one

[2019-11-21 14:59] jopit commented on #1008
Repo is here: https://github.com/codewind-resources/design-documentation

[2019-11-21 15:13] AndyRWatson opened #1235 "codewind.dev domain is lost after redirect to eclipse.org landing page"
**Codewind version:** n/a
**OS:** n/a

**Che version:**.  n/a
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:**.  n/a

**Description of the enhancement:**

when using https://codewind.dev (or https:/codewind.io) the redirect to our landing page on https://www.eclipse.org/codewind also changes the url in my browser.  Could we change the landing page to maintain the origina

[2019-11-21 15:15] stalleyj commented on #1039
@maysunfaisal Genius thinking and I can certainly confirm that closing VSCode stopped the error from ever occurring.  Further investigation showed that my VSCode plugin wasn't updating properly so the FW daemon I had there did not include the timestamp and the first sync happened at a time of 0 with all files being updated.  We have some thinking to do around ensuring only one sync occurs at a tim

[2019-11-21 15:36] makandre commented on #1202
@jagraj as discussed on the call, we are going to put in something to block users from creating projects in `codewind-data`, so that takes care of how we initially got into this situation.

So that leave us with why @sujeilyfonseca is still seeing this issue, and I highly suspect maybe the env is now in a bad state due to hitting the initial problem (since you you mentioned you were able to create

[2019-11-21 15:51] malincoln commented on #1181
/priority hot
/release 0.7.0

[2019-11-21 15:53] malincoln commented on #1039
@maysunfaisal @stalleyj @jgwest when all is confirmed and verified please close.  @tobespc just provided an update that all is working now.  Thanks

[2019-11-21 16:06] eharris369 commented on #1179
I tried this on my machine and here are the results.  The project appears on the first project status change event even though the create event comes much later (I have raised this as an issue in the past).  The project goes away instantly when the delete event is received.

Create requested: 1574352083334
Bind requested: 1574352089345
Got project status change event: 1574352089657
Got project sta

[2019-11-21 16:23] maysunfaisal commented on #1230
better, thx.

dont know if this should be kept open for master

[2019-11-21 16:29] beccabau commented on #722
For our developers, it may also make more sense that they can easily access the original issues that are being discussed in the release notes so they feel that they are more of the process. Thoughts?

[2019-11-21 16:34] makandre commented on #1179
When we say "slow to appear", I'm guessing we're talking about the project creation process as a whole, i.e. from the moment you click `Finish` to the moment the project appears in the explorer, is that right?

My first creation of an appsody Kitura project was indeed slow (tho there's progress indication).  The reason for that is the Kitura stack image is 1.5 GB!  So, during the init it has to pu

[2019-11-21 16:38] jopit opened #1236 "Appsody Kitura project doesn't start"
**Codewind version:** 0.6.0
**OS:** macOS Catalina

**IDE extension version:** vscode codewind-0.6.0-201911202129.vsix

I created an appsody kitura project, which built successfully, but never went into the started state.  When I opened the application endpoint in the chrome browser, I go an error page
[code]
Here's the PFE log
[pfe.txt](https://github.com/eclipse/codewind/files/3875739/pfe.txt)

[2019-11-21 16:41] makandre commented on #1236
That support is in 0.7.0 (master)... https://github.com/eclipse/codewind-appsody-extension/pull/61

It is quite easy to backport

[2019-11-21 16:42] makandre commented on #1236
/assign @makandre

[2019-11-21 16:50] rtaniwa commented on #1222
[pfelogs.txt](https://github.com/eclipse/codewind/files/3875794/pfelogs.txt)

[2019-11-21 16:56] mmulholl commented on #1179
I am still seeing the odd remove issue when running my test. Problem is I don't have any code right now to capture the logs when it happens.

[2019-11-21 16:59] sujeilyfonseca commented on #1202
I followed @makandre's suggestions, but I still see the problem. I contacted him, and he will take a look at the VM to debug the problem. The environment could be in a bad state due to hitting the initial problem, but he would see if there is a way for the user to recover from this problem.

It is important to note that this problem occurred without including any projects within `c:\codewind-data`

[2019-11-21 17:03] jopit commented on #1179
In both vscode and eclipse, I created an appsody kitura project, and I see the same behaviour.

If the appsody/kitura docker image hasn't already been pulled, it takes approx 40 seconds before the project shows up in the view.  Looking at the vscode log file, I see that the call to `cwctl project create` took about 40 seconds, and we don't get any notifications on the socket.  We then call `cwctl

[2019-11-21 17:09] tetchel commented on #1230
the fix was ported from master, it's good there.

[2019-11-21 17:09] #1230 closed

[2019-11-21 17:30] makandre commented on #1202
I went onto the vm.  I noticed there were some stale files under `codewind-data` directory, which I suspect were left behind from the initial problem.  I cleaned those up.

I was able to create an appsody microprofile project, and it started up fine.

@sujeilyfonseca by any chance were you creating projects using same names before and after you move the projects out of the `codewind-data` director

[2019-11-21 17:42] eharris369 opened #1237 "[IDEs] Add indicator that a build is needed when auto build is off"
Add some sort of indicator if a project has changed and a build is needed when auto build is off.  PFE already knows this and sends a projectStatusChanged event for it with buildRequired set to true so the IDEs (or just Eclipse if VSCode already supports this) just need to display it somehow.

[2019-11-21 17:44] #1229 closed

[2019-11-21 17:45] tetchel commented on #784
going through old issues, are we going to action this? I think it has to be fixed from the portal/template side.

[2019-11-21 17:45] eharris369 commented on #1237
Screen capture of Eclipse Codewind Explorer view:

![image](https://user-images.githubusercontent.com/9484320/69362608-d4817580-0c5c-11ea-9778-8d7e22d3674c.png)

[2019-11-21 17:54] mmulholl commented on #1179
@jopit @makandre just reproduced the problem and added a huge sleep in test case when it happened so I get chance to collect diag. Pfe log:

[21/11/19 17:38:45 SVTGoProject1] [INFO] Extension absolute path is: undefined
[21/11/19 17:38:45 SVTGoProject1] [INFO] Build completed for c1d33710-0c85-11ea-ac8a-1762054ee892
[21/11/19 17:38:53 SVTGoProject1] [INFO] operationId: 4496f15e24dae031af9582a733f8

[2019-11-21 17:55] mmulholl commented on #1179
The test case is still sleeping so if you need more info let me know.

[2019-11-21 17:59] mmulholl commented on #1179
Here is a snippet form the filewatcher log:

Nov 21 12:38:41.243 PM [21.620] Updating timestamp to latest: 1574357921165
Nov 21 12:38:54.778 PM [35.155] Received watch change message from WebSocket: {"type":"watchChanged","projects":[{"changeType":"delete","projectID":"c1d33710-0c85-11ea-ac8a-1762054ee892"}]}
Nov 21 12:38:54.778 PM [35.155] Watch list update received for { [c1d33710-0c85-11ea-ac8a

[2019-11-21 18:06] mmulholl commented on #1179
I also note that although the pfe logs output:

[21/11/19 17:38:54 User.js] [INFO] Removing project directory at /codewind-workspace/SVTGoProject1

the workspace directory is actually "junit-workspace"  and /junit-workspace/SVTGoProject1 still exists

[2019-11-21 18:09] eharris369 commented on #1179
All I can think of in that case is that the events are getting lost somehow.  It could be that the java implementation of socket.io is not very robust.  I could try modifying the code to handle every event on a separate thread but I would not want to do this for 0.6.0.  The user does have an easy workaround which is to do a refresh.

[2019-11-21 18:09] jopit commented on #1179
I'm thinking we should raise a separate issue raised for this intermittent deletion issue, since it's unrelated to the Appsody Kitura slow creation issue.

I have not seen this behaviour when deleting projects manually, ever.  I don't believe it's stop-ship.

[2019-11-21 18:09] sujeilyfonseca commented on #1202
Thanks for taking a look at the VM, @makandre!

No, I used numbers or dates to differentiate which projects were created first.

[2019-11-21 18:13] maysunfaisal commented on #1222
On Windows:

[21/11/19 17:57:37 /portal/routes/projects/remoteBind.route.js] [INFO] Total time to bind project gameclient is 6.741 seconds

Total Time from making change to Build Succeeded: 57s
Maven Compile: 15s

[21/11/19 18:08:39 /portal/routes/projects/remoteBind.route.js] [INFO] Total time to sync project gameclient to build container is 3.15 seconds

[2019-11-21 18:15] sishida commented on #436
@tetchel provided workarounds that users can try before they try Docker system prune.
We have also included a caution note about Docker system prune as well as info on how to preserve items that Docker system prune removes.

The PR has been merged: https://github.com/eclipse/codewind-docs/pull/233. Closing this issue.

[2019-11-21 18:15] #436 closed

[2019-11-21 18:19] mmulholl commented on #1179
@jopit I actually opened this issue for delete issue ha ha.

[2019-11-21 18:20] makandre commented on #1202
Then I'm really not sure what led us here.  But now it is back to normal it seems, pls confirm if you can create and run microprofile project on it

[2019-11-21 19:28] malincoln commented on #1181
/remove-priority stopship

[2019-11-21 19:44] jagraj commented on #1202
I tried to create project inside c:\codewind-data folder in eclipse plugin and we already blocking user to create the projects here. We are checking in VSCode if we have similar check.

![Screen Shot 2019-11-21 at 2 41 37 PM](https://user-images.githubusercontent.com/713849/69371183-4e215f80-0c6d-11ea-8551-343502c17317.png)

[2019-11-21 19:53] jopit commented on #1179
So in eclipse, I created and deleted ten appsody kitura projects in a row with no problems... and then I thought I'd try one more time, and this time the project didn't get removed from the UI.

As I said above, I don't believe this deletion issue is stop ship.  If the user gets into this situation, doing a refresh on the connection in the codewind view will clean up the UI.

[2019-11-21 19:54] sujeilyfonseca commented on #1202
I confirm that I was able to create an Appsody Eclipse MicroProfile project after @makandre cleaned out stale files:

<img width="1575" alt="Screen Shot 2019-11-21 at 1 44 56 PM" src="https://user-images.githubusercontent.com/49531960/69371522-fc2d0980-0c6d-11ea-8df5-65e116056154.png">

However, I was able to reproduce the problem again on my machine. Therefore, @jagraj and I would try to see what

[2019-11-21 19:54] jgwest commented on #1222
Here's the PFE log, with trace enabled, with both the Portal and Turbine timing PRs, on Windows, on master branch (PFE master, Eclipse master, CWCTL master):
[cw-pfe-4-trace-with-portal-turbine-timing-prs.txt](https://github.com/eclipse/codewind/files/3876477/cw-pfe-4-trace-with-portal-turbine-timing-prs.txt)

I have annotated the log files with the time the source change was made, and the point a

[2019-11-21 20:10] mmulholl commented on #1179
@jopit pleased you saw it too to show it is not a figment of my imagination. Agree not stop ship.

[2019-11-21 20:11] ssh24 opened #1239 "Fail to clean up workspace after functional kube test"
**Description:**
The workspace always fail to clean up after functional kube test run regardless if the test passes or not.

[code]

/area iterative-dev
/kind test

[2019-11-21 20:13] ssh24 commented on #1234
@lentheivendra Does the SC test remove the workspace after the test is done? I noticed the functional tests fail to remove it after the tests https://github.com/eclipse/codewind/issues/1239

[2019-11-21 20:16] sishida opened #1240 "New and noteworthy for 0.7.0"
Need to add a news page to the Codewind.dev website for 0.7.0.

[2019-11-21 20:17] ssh24 commented on #1204
/assign

[2019-11-21 20:28] ssh24 commented on #1108
**Closing** this as it cannot be reproduced anymore.

[2019-11-21 20:28] #1108 closed

[2019-11-21 20:30] GeekArthur commented on #1179
Agree with JohnP, I don't think this intermittent deletion issue is stop ship either, because majority of folks can't reproduce this and we don't see obvious delay caused by production code from IDE layer log and PFE layer log (except large image pulling time), and we find workaround is to refresh the IDE.

Regarding SVT test automation, for the time being you may try to either pull large image in

[2019-11-21 20:30] rajivnathan commented on #1222
Update: So looks like the problem is on windows we're doing an mvn package instead of compile for some reason but on mac we're doing an mvn compile. Investigating further...

Breakdown from Jonathan's logs:
18:57:04 - file change made
18:57:06 - sync complete
18:57:06 - idc build started
18:57:09 - stopping server
18:57:16 - mvn package start
18:57:31 - mvn package finished
18:57:37 - starting ser

[2019-11-21 20:33] beccabau commented on #1240
add me to assignee list, please!

[2019-11-21 20:33] lentheivendra commented on #1234
@ssh24 Yes the SC tests do remove the workspace at the end and it's been working so far.  Note that they remove it by using the workspace ID captured from the creation API's return info, rather than discovering the ID by inspection of pods, etc.

[2019-11-21 20:35] jgwest commented on #844
/pipeline Verify

[2019-11-21 20:36] jgwest commented on #844
@jgwest: Cannot move an issue that is in multiple pipelines -  old:5d125da643e42a09a0a4a95b new: Verify

[2019-11-21 20:37] jgwest commented on #844
/pipeline Verify

[2019-11-21 20:39] jgwest commented on #844
/pipeline Verify

[2019-11-21 20:41] jgwest commented on #844
/pipeline Verify

[2019-11-21 20:43] johnmcollier commented on #1212
Closing out, looks good.

[2019-11-21 20:43] #1212 closed

[2019-11-21 20:45] jgwest commented on #844
/pipeline Verify

[2019-11-21 20:47] jgwest commented on #844
/pipeline new issues

[2019-11-21 20:52] jgwest commented on #844
/pipeline "new issues"

[2019-11-21 20:54] jgwest commented on #844
/pipeline veRiFy

[2019-11-21 21:00] #1225 closed

[2019-11-21 21:01] sishida opened #1241 "Keep the 0.6.0 news page date up to date"
The release day of 0.6.0 might change. We are using this issue to update the date accordingly.

[2019-11-21 21:04] malincoln commented on #1179
@jagraj will open a separate issue for the refresh.

[2019-11-21 21:07] malincoln commented on #1179
/priority hot
/remove-priority stopship

[2019-11-21 21:08] ssh24 commented on #1204
So I just tried reproducing this with a 0.5.0 OL app migrated to 0.6.0 in VSCode Mac and it worked for me. Both apps came up and running:
**0.5.0**
![Screen Shot 2019-11-21 at 4 05 02 PM](https://user-images.githubusercontent.com/15173354/69376755-e07b3080-0c78-11ea-8cf1-e14fbfb9581e.png)
**0.6.0**
<img width="749" alt="Screen Shot 2019-11-21 at 3 53 08 PM" src="https://user-images.githubuserconte

[2019-11-21 21:16] jgwest commented on #844
/pipeline not a real value

[2019-11-21 21:18] tetchel commented on #933
@tobespc do you think it is worth adding a refresh action in the backend, (eg. `PUT /templates/repositories` with no body) which would reload the repository_list, to support this scenario?

[2019-11-21 21:18] jgwest commented on #844
@jgwest: Unable to locate pipeline with name:not a real value

[2019-11-21 21:22] jgwest commented on #844
/pipeline not a real value 2

[2019-11-21 21:23] jgwest commented on #844
@jgwest: Unable to locate pipeline with name: `not a real value 2`

[2019-11-21 21:26] jgwest commented on #844
/pipeline review/QA

[2019-11-21 21:28] jgwest commented on #844
@jgwest: Unable to move issue to pipeline: review/QA

[2019-11-21 21:31] ssh24 commented on #1234
I am wondering if the same is possible to do it for the functional test scripts as well

[2019-11-21 21:35] jgwest commented on #844
/pipeline review/QA

[2019-11-21 21:41] jgwest commented on #844
/pipeline review/QA

[2019-11-21 21:52] jgwest commented on #1235
Presuming our content is still actually hosted on eclipse.org, it would need to host a permanent reverse proxy on whatever server is serving codewind.dev.

[2019-11-21 22:02] sujeilyfonseca commented on #1039
I can reproduce this problem on Mac and Windows with Codewind for VS Code (codewind-0.6.0-201911151544.vsix):

<img width="448" alt="Screen Shot 2019-11-21 at 4 45 37 PM" src="https://user-images.githubusercontent.com/49531960/69380073-ae210180-0c7f-11ea-8666-1a73d6140688.png">

[2019-11-21 22:07] maysunfaisal commented on #1039
@sujeilyfonseca can you check the cwctl build version like this here https://github.com/eclipse/codewind/issues/1039#issuecomment-556086592

It may have been updated and should match https://download.eclipse.org/codewind/codewind-installer/0.6.0/latest/

and also do you have Eclipse IDE open with Codewind running?

[2019-11-21 22:12] naveenkaratekid commented on #1202
I too was able to reproduce this issue on my machine: After migration, the Appsody MP template fails to build.

Here are the logs:
[pfe.txt](https://github.com/eclipse/codewind/files/3877002/pfe.txt)

<img width="1680" alt="Screen Shot 2019-11-21 at 5 07 43 PM" src="https://user-images.githubusercontent.com/19738071/69381053-e7f30780-0c81-11ea-98e9-2f2b7696cc65.png">

[Appsody MP log fail after mi

[2019-11-21 22:12] mmulholl commented on #1179
@GeekArthur increasing timeout doesn't help, once it sticks it never goes away until a refresh. If codewind refreshed every few seconds maybe no problem. Also not as intermittent as you think, anybody who used the product seriously is bound to see it in the end. It is a problem and needs a fix.

[2019-11-21 22:19] jagraj commented on #1202
I tried to reproduce this problem on one of my windows VM where migration worked fine with eclipse plugin but failed with VS Code migration on same machine.

@rajivnathan
I see file-watcher error in the failure. Can your team can take a look at these logs.?

[code]

Screen shot
![image](https://user-images.githubusercontent.com/713849/69381038-e0336300-0c81-11ea-9842-8f36b7a594d2.png)

Logs..
[app

[2019-11-21 22:24] jopit commented on #1236
With the fix, the project does start.  However the project status goes from [Starting] to [Stopped], then after quite a while, it goes to [Running], which at first had me thinking it was still broken.

Here's the PFE log
[pfe.txt](https://github.com/eclipse/codewind/files/3877045/pfe.txt)

I don't know if this is still stop-ship, we discuss tomorrow.

[2019-11-21 22:33] ssh24 commented on #1204
I just tried it out on windows as well, and the migration worked as well and the app also came up:
This is after migration from **0.5.0** to **0.6.0**
![Screen Shot 2019-11-21 at 5 33 03 PM](https://user-images.githubusercontent.com/15173354/69382397-fee72900-0c84-11ea-8a01-4cc5ccaa1be1.png)
![Screen Shot 2019-11-21 at 5 31 24 PM](https://user-images.githubusercontent.com/15173354/69382401-0149830

[2019-11-21 22:34] sujeilyfonseca commented on #1039
[code]

No, I only have VS code open.

[2019-11-21 23:00] sujeilyfonseca commented on #1202
Jag and I could not reproduce the problem in Eclipse. We both used the same environment that had problems with the Appsody Eclipse MicroProfile project after migration. Therefore, this problem could be related to the VS code IDE:

<img width="1525" alt="Screen Shot 2019-11-21 at 6 00 04 PM" src="https://user-images.githubusercontent.com/49531960/69383843-c47f8b00-0c88-11ea-9a8e-9fc053b0ce96.png">

[2019-11-21 23:04] jgwest commented on #1202
@jagraj  re: the file watcher message, that is [coming from Appsody](https://github.com/appsody/controller/blob/d5a912a1b19edcc40bcba277569e04717855ee75/main.go). Appsody has it's own file watcher which is unrelated to ours (and unrelated to Turbine).

[2019-11-21 23:11] maysunfaisal commented on #1239
/assign me

[2019-11-21 23:17] maysunfaisal commented on #1234
@ssh24 we should also do like how Len is doing via PR https://github.com/eclipse/codewind-che-plugin/pull/112

[2019-11-21 23:18] maysunfaisal commented on #1039
@sujeilyfonseca can you pls do `cat cli_version.properties`

unfortunately cwctl does not have versioning atm. But `cat cli_version.properties ` will tell us which cwctl is being used and if indeed this issue is still happening

[2019-11-21 23:57] jgwest commented on #1222
With @maysunfaisal's latest PR I have seen the build time drop from ~45 seconds to ~28 seconds, and likewise I confirm we no longer see the `maven package` behaviour that the PR is designed to fix, but it's still a fair way off from the ~15 seconds I was seeing on this machine on `0.5`.

Here is the the PFE log, on Windows local, with trace enabled, with Maysun's PR, on `0.6` branch:
[fw-pfe-5-tra

[2019-11-21 23:57] rajivnathan commented on #1222
Maysun and I dropped a safe fix (https://github.com/eclipse/codewind/pull/1242) into 0.6.0 for the mvn package problem and verified it improved the performance. We asked Jonathan to try as well but he noticed while the performance is improved it's not quite on par with 0.5.0. He'll post his findings along with the trace logs and we'll have to take a look in the morning.

[2019-11-22 02:19] makandre commented on #1202
@jagraj re https://github.com/eclipse/codewind/issues/1202#issuecomment-557298418, the `appsody.log` attached shows server started successfully.  It also shows project files mounted from `C:\codewind-workspace`, which would not happen in `0.6.0`.  I think this is the wrong log

[2019-11-22 02:52] makandre commented on #1202
[code]

[2019-11-22 03:25] rajivnathan opened #1245 "Turbine functional tests need to detect iterative development performance regressions"
**Description of the enhancement:**

The functional tests currently cover creation and update of each of the supported project types. However, it currently cannot detect if performance has degraded. As long a test's project builds and runs the test will pass.

In issue #1222 we saw that on Windows a bug changed the behaviour such that a mvn package was done instead of a mvn compile and this impact

[2019-11-22 04:05] rajivnathan opened #1246 "App status flipping between stopping stopped and starting during update"
**Codewind version:** latest
**OS:** any

**Description:**
[code]
For the full logs see https://github.com/eclipse/codewind/files/3877289/fw-pfe-5-trace-with-maysuns-pr.log

**Steps to reproduce:**
- Create a project (Microprofile was used in this case but could apply to other types as well)
- Turn tracing on
- Make an update to the project
- Observe the PFE logs

**Workaround:**

[2019-11-22 04:09] makandre commented on #1236
That happens when an app takes a long time to start, and Turbine gives up pinging after 10 tries and assume the app is stopped.  But it will re-ping it at some point, and finds out it started.

[2019-11-22 04:41] rajivnathan commented on #1222
Breakdown from Jonathan's logs after Maysun's fix:

**Build #1**
23:32:06 - /upload called
23:32:08 - sync complete
23:32:08 - idc build started
23:32:10 - mvn compile start
23:32:30 - mvn compile finished
23:32:32 - build complete status sent

Total Time: 26s
mvn compile time from build log file: 16.432 s

**Build #2**
23:35:04 - /upload called
23:35:06 - sync complete
23:35:06 - idc build starte

[2019-11-22 07:29] jgwest commented on #1222
@rajivnathan: For consistency, I recommend sticking to the timing methodology described in the original issue, which is _only_ to use the IDE UI to determine time changes, otherwise you are comparing apples (log statement based timing) to oranges (UI behaviour based timing). Using the previously described methodology, I consistently see ~28 seconds with the new `0.6`, and when I last tested ~15 se

[2019-11-22 11:23] jcockbain commented on #784
/assign jcockbain

[2019-11-22 12:12] sujeilyfonseca commented on #1039
[code]

I did some additional tests. I cannot reproduce this problem with a clean environment with Codewind 0.6.0. I can reproduce it with previous projects migrated to the latest Codewind.

[2019-11-22 13:20] jagraj commented on #1202
Myself, Sujeily and Naveen all of us reproduced this problem.
We are wondering why this problem happens only with VSCode and not from Eclipse plugin.?

[2019-11-22 13:23] jagraj commented on #1039
I also noticed same problem when migrating from 0.5 to 0.6 projects.
<img width="487" alt="Screen Shot 2019-11-21 at 4 50 05 PM" src="https://user-images.githubusercontent.com/713849/69429328-46ab9600-0d01-11ea-9d29-697fc6e7579b.png">

[2019-11-22 13:29] markcor11 commented on #1211
CWCTL PR: Set codewind permissions #235

/pipeline Verify

[2019-11-22 14:00] rajivnathan commented on #1222
Yep, agree 100% we're not comparing apples to apples here and your timing methodology is key because that's what a user would see and so should be the timing we focus on for whether we pursue a fix for 0.6.0 or not.

The reason why I asked the two questions was exactly to understand the differences between your reported time and what I see in the logs and to rule out the possibility for discrepanc

[2019-11-22 14:05] markcor11 commented on #969
PR: Codewind permissions https://github.com/eclipse/codewind-installer/pull/234

[2019-11-22 14:05] #969 closed

[2019-11-22 14:14] #1089 closed

[2019-11-22 14:14] #900 closed

[2019-11-22 14:19] makandre commented on #1202
Could be due to a timing or sequence of things happening

[2019-11-22 14:19] jagraj commented on #1202
On same failure environment I tried to create new project which was failed after migration and that built fine without any problems.

[2019-11-22 14:33] jopit opened #1247 "Appsody Kitura project status goes from Starting -> Stopped -> Running"
**Codewind version:** 0.6.0
**OS:** macOS Catalina

When I create an Appsody Ki project status goes from [Starting] to [Stopped], then after quite a while, it goes to [Running].

Here's the PFE log
[pfe.txt](https://github.com/eclipse/codewind/files/3879930/pfe.txt)

[2019-11-22 14:34] mmulholl commented on #1179
just saw it again, doing light manual testing

[2019-11-22 14:36] makandre commented on #1247
This is related to #1236 right?

See https://github.com/eclipse/codewind/issues/1236#issuecomment-557380449

[2019-11-22 14:51] mmulholl commented on #1181
I just moved to the latest version of the eclipse plugin on mac and did not see an issue. Same scenario in which I previously saw the problem.

[2019-11-22 15:16] malincoln commented on #1039
@jagraj to create new stop-ship for 0.6.0 for the "Project settings update" failure.
@maysunfaisal to close this one out as original double build issue has been resolved.

[2019-11-22 15:24] sishida commented on #1039
Could we please delay closing the issue until after the pull request for the documentation is created? We cannot link PRs to issues if the issues are closed. Thank you!

[2019-11-22 15:49] jagraj opened #1248 "SVT: Project settings update failed: The requested application port is not exposed"
**Codewind version:** 0.6.0
**OS:** Windows

**Che version:**
**IDE extension version:**  0.6.0
**IDE version:** Eclipse - 2019-09
**Kubernetes cluster:**

**Description:**
After migrating from Codewind 0.5.0 to Codewind 0.6.0 user will get this failure message when projects are getting built.

```Project settings update failed: The requested application port is not exposed```

**Steps to reproduc

[2019-11-22 15:49] jagraj commented on #1248
/priority stopship

[2019-11-22 15:54] sishida commented on #1039
@maysunfaisal Update: PR is created and connected! 👍

[2019-11-22 15:54] elsony commented on #1246
I was talking to @GeekArthur earlier on that.  I think the problem was due to recent change that we set a too agressive timeout (1min) on pinging the application.  It will cause the application to switch to stopped state if the project create takes more than 1 min.  And we silently set the application state to stopped. I don't think it is the right behaviour.  For 0.6.0, I wonder if we should undo

[2019-11-22 16:03] maysunfaisal commented on #1039
@sishida added a comment to the PR, some updates and suggestions

[2019-11-22 16:04] sghung opened #1249 "A broken link in 0.6.0 docs"
Running the `build.sh` gives two errors:

The first error can be ignored, since it is a VScode specific URL for launching the app. We may want Travis to exclude that so we don't have errors showing up when calling `buid.sh`

The second error is the new page, referencing a URL that doesn't exist for open API.

URL        `vscode:extension/IBM.codewind'
Name       `this link'
Parent URL http://local

[2019-11-22 16:05] GeekArthur commented on #1246
Yeah, we find the same behaviour form OpenShift projects as well if the project itself takes very long time (exceed our "project starting" timeout) for staring. To improve this, I think when we reach the timeout, instead of force to change app status to stopped, we can display some warning messages on IDE to let user check if the project hosts the endpoint (eg. context root, health check, etc) tha

[2019-11-22 16:05] elsony commented on #1248
@jagraj Can you provide the PFE trace on this one? @rajivnathan just tried and cannot reproduce with microprofile app.

[2019-11-22 16:07] sishida commented on #1241
1️⃣ PR that covers the change for master: #235
2️⃣ PR that covers the change for 0.6.0 branch: #236

[2019-11-22 16:09] mmulholl opened #1250 "SVT : Eclipse : MAC : Add Existing wizard not appearing"
**Codewind version:**   Codewind tech preview	0.6.0.v201911211845
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-09
**Kubernetes cluster:**

**Description:**
My codewind is now in a state where selecting add existing project does nothing. I installed the very latest version of the plugin this aamd, ram some tests and saw issues with adding existing proje

[2019-11-22 16:17] GeekArthur commented on #1179
@mmulholl

If that the case, that's different issue which is "hang", not "delay". "delay" is performance issue and can be resolved by increasing timeout but "hang" can be potential bug (either from our code or from dependencies), and definitely we need to fix it. Once you hit the "hang" again, you can check PFE log and IDE log, those logs have timestamp so that we will know the "hang" is from whic

[2019-11-22 16:18] makandre commented on #1202
I think got this figured out!

The `stale NFS file handle` error everyone is running into, it is because of https://github.com/appsody/appsody/issues/512.  Basically, **anytime** a single mounted file (i.e. the `pom.xml` in this case) is modified on Windows, it becomes stale and unreadable.  (A big THANK YOU to @jgwest for finding this issue.)

As to what is modifying that file during the migratio

[2019-11-22 16:18] jopit commented on #1236
Closing as the original problem is fixed. Opened #1247 to track the status problem.

[2019-11-22 16:18] #1236 closed

[2019-11-22 16:26] makandre commented on #1247
This happens for any project that takes a long time to start, e.g. the microprofile stack will always exhibit this behaviour.

[2019-11-22 16:30] mmulholl commented on #1250
[workspace.log](https://github.com/eclipse/codewind/files/3880455/workspace.log)

[2019-11-22 16:30] yangcao77 commented on #1246
/assign

[2019-11-22 16:31] jagraj commented on #1248
@rajivnathan
Did you attempt migration scenario as documented in the issue.?

[2019-11-22 16:40] johnmcollier opened #1251 "Add mechanism in IDEs to set log level for PFE"
Currently, if a user needs to change the default log level (such as trace) in Codewind/PFE, they have to exec into the container and run:
[code]

This is unintuitive for the user (and also undocumented!). There needs to be a better way for users to configure the log level in PFE, especially to assist with problem determination.

Would it be possible to add something to the IDEs to allow the user t

[2019-11-22 16:41] johnmcollier commented on #1251
Adding just the IDE tags for now since I don't think this will require a change on the Portal side.

[2019-11-22 16:41] elsony commented on #1246
Just to be clear for the purpose of 0.6.0, we'll just trying to undo that timeout, i.e. let app stay on starting state.  For the long term changes of displaying the warning message that Jingfu mentioned is something that we will do post 0.6.0.

[2019-11-22 16:47] eharris369 commented on #1250
0.6.0 PR: https://github.com/eclipse/codewind-eclipse/pull/431
master PR: https://github.com/eclipse/codewind-eclipse/pull/432

[2019-11-22 16:48] yangcao77 commented on #1246
I will make a PR to revert the timeout change in 0.6.0.
Just to make it clear, the issue @rajivnathan posted it actually an issue with maven liberty plugin on file update. The app will start twice if the polling rate is low, and thus, seeing the 2 updates.

[2019-11-22 16:50] eharris369 commented on #1251
Same as: https://github.com/eclipse/codewind-eclipse/issues/73

[2019-11-22 17:08] eharris369 commented on #1179
I have seen this too but only when debugging and I have breakpoints in the code that handles the socket events - which is what leads me to believe that the java socket.io code is not very robust and I will have to run the event handlers on separate threads.  I agree that this should be fixed.

[2019-11-22 17:14] eharris369 opened #1253 "Advise/prompt users to disable auto build when debugging Java projects"
Trying to debug Java projects and use hot code replace when auto build is enabled is not easy as it keeps rebuilding the application.  Advise (docs) and prompt (dialog) the user to disable auto build when debugging.

[2019-11-22 18:04] malincoln commented on #1250
@mmulholl pls verify and if confirmed close.  Thanks

[2019-11-22 19:12] mmulholl commented on #1250
Confirmed this now works.

[2019-11-22 19:12] #1250 closed

[2019-11-22 19:24] sghung opened #1254 "Create appsody performance tests"
A large application should be created for appsody to test the performance.

[2019-11-22 19:49] elsony commented on #1222
Based on the discussion on the stopship call today, we have improved on the latest fix but it is still longer than we want. However, based on the current data, it doesn't looks like the remaining time will be easy enough for us to drastically improve on 0.6.0.  Therefore, we are moving the remaining performance improvement work to 0.7.0.

[2019-11-22 20:09] rajivnathan commented on #1248
Fails for the go project and likely occurs for any of the default docker type projects. The other projects shouldn't have this issue. The cw-settings are being set with an empty applicationPort that Turbine then tries to set for that project. However, if the port is empty it will try to use a default value or look up a port on the project's container (likely isn't running at that time so would not

[2019-11-22 20:25] jgwest commented on #844
/close

[2019-11-22 20:26] jgwest commented on #844
@jgwest: Unable to locate pipeline with name: `not a real value 2`

[2019-11-22 20:27] jgwest commented on #844
/reopen

[2019-11-22 20:27] jgwest commented on #844
/pipeline in progress

[2019-11-22 20:30] jgwest commented on #844
/close
/pipeline

[2019-11-22 20:30] jgwest commented on #844
/close

[2019-11-22 20:36] malincoln commented on #1202
Will move to Hot while we wait on fix for 512 from Appsody team

[2019-11-22 20:37] malincoln commented on #1202
/priority hot
/remove-priority stopship

[2019-11-22 20:37] makandre commented on #1247
This is going to be addressed by https://github.com/eclipse/codewind/issues/1246

[2019-11-22 20:37] malincoln commented on #1248
Fix is medium risk so will work to fix in next release of 0.7.0

[2019-11-22 20:37] malincoln commented on #1248
/priority hot
/remove-priority stopship

[2019-11-22 21:12] sghung opened #1256 "Appsody apps stuck in starting state need to be added back into the troubleshooting section"
In this commit: https://github.com/eclipse/codewind-docs/commit/568829295263a3e17f182df03d40197b07ab7d03#diff-c4a13baec8ab45c0c64c7e646b183acd it shows the section:

## Node.js and Swift templates remain in the starting state

This section needs to be reverted back to the commit above because the fix to have it going to the stopped state has been reverted in codewind via: https://github.com/eclips

[2019-11-22 21:44] elsony commented on #1246
Fixes on 0.6.0 has been merged. I am leaving this open for the same change to apply to master.

[2019-11-22 21:52] jagraj opened #1257 "SVT: Codewind stop and start does not refresh projects list."
**Codewind version:** 0.6
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.6
**IDE version:** VSCode 1.40.1
**Kubernetes cluster:**

**Description:**

On Windows Codewind intermittently does not refresh project list after Codewind restarts from stop.  User has to manually refresh to get the projects in the list.

**Steps to reproduce:**

1. Install Codewind 0.6 release.
2. Stop and S

[2019-11-22 22:04] sujeilyfonseca commented on #1257
**Codewind version:** 0.6.0
**OS:** VM with Windows 10

**IDE extension version:** 0.6.0
**IDE version:** VS Code 1.40.1

I also had the same problem using my Windows VM. I could reproduce it consistently at first, but then I couldn't reproduce it. Therefore, I agree that this problem could be intermittent.

[2019-11-22 23:26] jopit commented on #1257
I was able to reproduce this with VSCode on macOS. Here's the relevant part of the vscode log file

[vscode-log.txt](https://github.com/eclipse/codewind/files/3881803/vscode-log.txt)

To me, it looks like PFE opened it's websocket before the REST API routes were up, and so when vscode called the API to get the list of projects, it got a 404 error.  If so, I think the proper fix is in PFE, but mayb

[2019-11-22 23:29] tetchel commented on #1257
As part of the remote connection work (in master, not 0.6) I made a change to wait for codewind to be 'ready' before trying to connect the socket. So that should resolve this timing issue.

[2019-11-22 23:37] tetchel commented on #1257
i see how this could happen, i don't see why we never saw this earlier 🙃

[2019-11-22 23:51] tetchel commented on #1257
it happens if the socket connects before pfe is ready. the fix is to also populate the projects list after pfe is ready. I can put it into 0.6

[2019-11-22 23:53] jopit commented on #1257
If it's a simple fix, I think it should go into 0.6.0

[2019-11-23 19:37] jagraj commented on #1257
I agree, if it is simple fix we should deliver into 0.6 release. This will definitely improve user experience  and we see this issue on both Windows and Mac.

[2019-11-25 13:29] stalleyj commented on #1223
/assign @stalleyj

[2019-11-25 13:35] malincoln commented on #1202
/priority hot
/remove-priority stopship

[2019-11-25 13:42] stalleyj commented on #1223
@mmulholl Can you please give some detail as to what you were doing to get this error and what projects you had ?  I can see from your 'docker ps' output that there was a swift project running which would have prevented the network from being removed so the real problem is probably why wasn't the swift project stopped. The eclipse log would be very helpful as it should show errors from the cli

[2019-11-25 14:14] #846 closed

[2019-11-25 14:19] jopit commented on #1257
We discussed this on the release call, we won't hold up 0.6.0 for it, but it's a candidate for a potential ifix.

[2019-11-25 14:37] josephca commented on #679
@keithchong I believe we can close this. Please reopen otherwise. :)

[2019-11-25 14:37] #679 closed

[2019-11-25 14:39] josephca commented on #317
@sghung I believe we can close this. Please reopen otherwise.

[2019-11-25 14:39] #317 closed

[2019-11-25 15:05] jagraj opened #1259 "SVT:[Windows]:CLI failed to uninstall codewind when "performance" container failed to stop"
**Codewind version:** 0.6.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.6.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
CLI installer is in bad state, I tried to stop codewind and it failed to stop "performance" container and the status says in  IDE "codewind stopped" and I tried to "Uninstall" and it failed to uninstall with this message (```There

[2019-11-25 15:07] jagraj commented on #1259
/priority hot
/area portal

[2019-11-25 15:36] lentheivendra commented on #1115
Some measured times for templates doing odo create+build, running >=3 times:

redhat-openjdk-18/openjdk18-openshift:latest: 108s, 193s, 195s
openjdk/openjdk-11-rhel8:latest: authentication needed to import image stream
openjdk/openjdk-11-rhel7:latest: 220s, 115s, 172s, 108s
rhscl/nodejs-8-rhel7:latest: 67s, 44s, 29s, 29s
rhoar-nodejs/nodejs-8:latest: 73s, 37s, 28s, 28s
rhoar-nodejs/nodejs-10:lates

[2019-11-25 15:53] tetchel commented on #1257
https://github.com/eclipse/codewind-vscode/pull/308

[2019-11-25 16:02] jgwest commented on #844
/release 0.6.0

[2019-11-25 16:05] jgwest commented on #844
/release 0.6.0

[2019-11-25 16:13] jgwest commented on #844
/release 0.6.0

[2019-11-25 16:16] tobespc commented on #1259
how are you stopping codewind ?

[2019-11-25 16:17] GeekArthur commented on #1115
@lentheivendra Thanks, Len. Last Friday I asked Charlie from odo development team for the odo build performance as well. He said currently there is no big performance difference among odo supported image stream, I think your metrics can also prove that, from your metrics looks like the performance is environment-driven instead of image-driven (running time increases/decreases at the same time). Re

[2019-11-25 16:19] tetchel commented on #1259
I see stopping fail one time in a few, due to the codewind_network still being in use. running the stop command again always resolves it. Maybe the stop command could have some retry logic built in

[2019-11-25 16:20] jgwest commented on #844
/release 0.6.0

[2019-11-25 16:21] jgwest commented on #844
/remove-release 0.6.0

[2019-11-25 16:23] jgwest commented on #844
/release notfound

[2019-11-25 16:41] sghung opened #1261 "Whitelist VSCode app link from the URL validation from build.sh"
When running `build.sh` I see:
URL vscode:extension/IBM.codewind' Name this link'
Parent URL http://localhost:8765/codewind/mdt-vsc-getting-started.html, line 615, col 36
Base http://localhost:8765/codewind/
Real URL vscode:extension/IBM.codewind
Info The URL is outside of the domain filter, checked only
syntax.
Result Error: URL is unrecognized or has invalid syntax

vscode:extension/IBM.codewind

[2019-11-25 16:54] sujeilyfonseca opened #1262 "SVT: [Che] Missing ODO Template Source"
**Codewind version:** 0.6.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Openshift version:**
[code]
**Kubernetes cluster:** OKD/Openshift

**Description:** Missing ODO Template Source

<img width="1675" alt="Screen Shot 2019-11-25 at 11 40 45 AM" src="https://user-images.githubusercontent.com/49531960/69560642-0dca2600-0f7a-11ea-90c8-f6cc3ac87603.png">

**Logs:**
[codewin

[2019-11-25 16:57] jagraj commented on #1262
I also see same problem on my cluster where ODO projects source missing.
![Screen Shot 2019-11-25 at 11 48 42 AM](https://user-images.githubusercontent.com/713849/69561019-b082a480-0f7a-11ea-8051-9b156dc145a4.png)

[2019-11-25 16:58] elsony commented on #1262
@GeekArthur Please take a look.

[2019-11-25 16:59] GeekArthur commented on #1262
Sure
/assign

[2019-11-25 17:05] jgwest commented on #844
@jgwest: Unable to add release: notfound<details>

In response to [this](Optional.empty):

</details>

[2019-11-25 17:08] GeekArthur commented on #1262
@sujeilyfonseca Can you check if your have odo extension in your PFE container, it's located at /codewind-workspace/.extensions/codewind-odo-extension inside PFE container. Basically the templates are fetched via this function `getRepositories`, I wanna check the issue is from caller or callee.

[2019-11-25 17:09] jagraj commented on #1259
@tobespc
Stopping codewind from one of the option from eclipse menu item.

[2019-11-25 17:11] lentheivendra commented on #1262
Just tried a fresh install of a 0.6.0 workspace on my OKD cluster v3.11.0+0cbc58b with Che 7.3.1 (Nov 13 install), and can see ODO in the Template Source Manager, as well the ODO templates when creating new projects

[2019-11-25 17:12] laven26 commented on #1254
@laven26

[2019-11-25 17:13] jagraj commented on #1262
I just verified on my cluster, the ODO extension is missing from the pfe.

[code]

[2019-11-25 17:14] sujeilyfonseca commented on #1262
I don't see the ODO extension inside PFE container:
[code]

[2019-11-25 17:16] jgwest commented on #844
/release notfound2

[2019-11-25 17:16] GeekArthur commented on #1262
@jagraj @sujeilyfonseca That's why, `getRepositories` can't be called without odo extension, then no templates can be displayed from IDE, it works for Len, let me give a try using the latest 0.6.0

[2019-11-25 17:16] jagraj commented on #1262
Who ever is trying to reproduce this problem, please use brand new volume not with leftover files or workspace contents.

[2019-11-25 17:17] jgwest commented on #844
@jgwest: Unable to add release: notfound2

[2019-11-25 17:18] lentheivendra commented on #1262
Ya I ensured I cleaned up all PVs and PVCs before installing a new 0.6.0 worskspace, per usual. Not sure if my Che 7.3.1 from Nov13 could be a factor in it working for me? I'm also on vanilla OKD.

[2019-11-25 17:21] jagraj commented on #1262
My Che installed 4 days back and created workspace just now.

[code]

[2019-11-25 17:23] ssh24 commented on #1262
FWIW, I was not able to reproduce this as well with a new workspace created on 0.6.0:

0.6.0 SHA: `sha256:373be2c6269ed6a716c5aab89a1d3105139ac5f76f96d7ea8922d4e582d7d7d3`
![Screen Shot 2019-11-25 at 12 21 58 PM](https://user-images.githubusercontent.com/15173354/69563017-54ba1a80-0f7e-11ea-8c90-7fcd9b634dc0.png)

[2019-11-25 17:24] GeekArthur commented on #1262
The issue shouldn't related with Che version since odo extension installer is from PFE. I just give a try and it works for me, I am using the latest 0.6.0 image which is SHA is `373be2c6269ed6a716c5aab89a1d3105139ac5f76f96d7ea8922d4e582d7d7d3`. FVT folks, can you guys verify if the PFE image SHA is good by running `oc get po --selector=app=codewind-pfe -o jsonpath='{.items[*].status.containerStatu

[2019-11-25 17:26] lentheivendra commented on #1262
@jagraj @sujeilyfonseca looking at your `.extensions/` dir, wondering why the appsody one is from Nov 21, but worksapace current `.` directories are Nov 25

[2019-11-25 17:33] jgwest commented on #844
/release 0.6.0

[2019-11-25 17:33] jagraj commented on #1262
[code]

[2019-11-25 17:36] GeekArthur commented on #1262
@jagraj Your PFE image is not the latest 0.6.0, latest 0.6.0 image is : `373be2c6269ed6a716c5aab89a1d3105139ac5f76f96d7ea8922d4e582d7d7d3`: https://hub.docker.com/layers/eclipse/codewind-pfe-amd64/0.6/images/sha256-373be2c6269ed6a716c5aab89a1d3105139ac5f76f96d7ea8922d4e582d7d7d3

[2019-11-25 17:39] jgwest commented on #844
/remove-release 0.6.0

[2019-11-25 17:45] sujeilyfonseca commented on #1262
I created a new workspace with another OKD cluster, and I can see the ODO templates:

<img width="1678" alt="Screen Shot 2019-11-25 at 12 41 21 PM" src="https://user-images.githubusercontent.com/49531960/69564372-e9be1300-0f80-11ea-878f-80650459f501.png">

[code]

However, I wonder why they are not present in my other cluster. I only deleted my workspace, where I previously had ODO templates, and

[2019-11-25 17:49] GeekArthur commented on #1262
@lentheivendra That's good point.
@sujeilyfonseca I think this could be related with volume issue on your cluster, like volume attached to /codewind-workspace/.extensions is old or new files can't not write to the volume. So seems like both the latest appsody extension and latest odo extension can't install to your cluster's volume or write to your cluster's volume, that's why you have `Nov 21` ap

[2019-11-25 17:59] jgwest commented on #844
/release 0.5.0
/release 0.6.0

[2019-11-25 18:01] jgwest commented on #844
@jgwest: Unable to update release: notfound

[2019-11-25 18:01] jgwest commented on #844
@jgwest: Unable to update release: notfound2

[2019-11-25 18:02] jgwest commented on #844
/remove-release 0.5.0
/remove-release 0.6.0

[2019-11-25 18:10] jagraj commented on #1262
@GeekArthur
I created brand new workspace and that should have pulled new image right.?
We don't have pull policy Always.?

[2019-11-25 18:11] jagraj commented on #1262
I am running with GlusterFS as storage on this cluster.
@sujeilyfonseca
Can you confirm your storage is GlusterFS or NFS.?

[2019-11-25 18:12] GeekArthur commented on #1262
@jagraj Yes, it should. If you use this devfile: https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.6.0/devfile.yaml, it should pull the latest 0.6.0

[2019-11-25 18:12] johnmcollier commented on #1262
@jagraj We do set it to `Always`: https://github.com/eclipse/codewind-che-plugin/blob/5b65744336b4612c07529fdc892593f6a2087e35/codewind-che-sidecar/deploy-pfe/pkg/constants/defaults.go#L28

[2019-11-25 18:24] jagraj commented on #1262
This is confusing to me..., How this can be possible.?

[code]

[2019-11-25 18:25] sghung commented on #1256
Keeping open until the fix is added to master too

[2019-11-25 18:26] sujeilyfonseca commented on #1262
@jagraj, my OKD cluster with the problem has NFS storage.

The second cluster I mentioned has Gluster FS.

In both scenarios, I used:
https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.6.0/devfile.yaml

[2019-11-25 18:27] sishida commented on #1249
@sghung I see that we have merged my PR for updating the master branch and merged your PR for updating the 0.6.0 branch. I am closing this issue. :)

[2019-11-25 18:27] #1249 closed

[2019-11-25 18:27] ssh24 commented on #1262
@jagraj Those docker images are from local?

[2019-11-25 18:28] jagraj commented on #1262
@ssh24
No, they are from OKD cluster.

I am using this devfile.
https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.6.0/devfile.yaml

[2019-11-25 18:33] GeekArthur commented on #1262
@jagraj See your image pull timestamp: `Mon, 25 Nov 2019 11:47:00 -0500`, but the latest one is one hour ago: https://hub.docker.com/layers/eclipse/codewind-pfe-amd64/0.6/images/sha256-373be2c6269ed6a716c5aab89a1d3105139ac5f76f96d7ea8922d4e582d7d7d3. So you pull your image a little bit early than the latest one, that's why you don't have the latest PFE 0.6.0 image.

[2019-11-25 18:52] GeekArthur commented on #1262
This is related with SVT cluster’s volume (NFS/GlusterFS), you can either investigate the volume setup or that could be a  intermittent environment issue (eg. cluster or network), remote stop ship tag
/remove-priority stopstop

[2019-11-25 18:53] jgwest commented on #1262
@GeekArthur: Those labels are not set on the issue: priority/stopstop<details>

In response to [this](https://github.com/eclipse/codewind/issues/1262#issuecomment-558290970):

</details>

[2019-11-25 18:54] GeekArthur commented on #1262
/remove-priority stopship

[2019-11-25 18:55] jagraj commented on #1262
I just deleted workspace which was cerated 2 hrs back and created new one again and started seeing ODO template source part of the repo list. Is this fixed in latest codewind image.?

![Screen Shot 2019-11-25 at 1 54 28 PM](https://user-images.githubusercontent.com/713849/69569191-1ecf6300-0f8b-11ea-9e77-7df58305f2d8.png)

[code]

[2019-11-25 19:01] tetchel opened #1263 "Provide users a way to uninstall and upgrade Hybrid Codewind"
After a `cwctl install remote`, how is a user meant to uninstall? And, more importantly, what is the user story for upgrading to eg. 0.8 when the time comes?

We need a way to uninstall and reinstall/upgrade without losing all our project metadata (and template sources etc).

[2019-11-25 19:04] GeekArthur commented on #1262
@jagraj We don't have specific fix for this templates source since I don't think we hit this issue before. But in order to avoid side effects of other PRs, we just use the latest image to reproduce, if you can see the templates, you volume on the cluster is resolved as well.

[2019-11-25 19:10] tetchel commented on #1263
cc @markcor11

[2019-11-25 19:17] jagraj commented on #1262
Well, I got into issue with GlusterFS and Sujeily got into issue with NFS storage. When I delete and create new workspace on my GlusterFS cluster, I get brand new volume and volume claim. I doubt this is storage issue. Some how this is fixed with the latest codewind image.

[2019-11-25 19:20] eharris369 opened #1264 "Avoid entering registries and template sources for each connection"
It would be nice if the user did not have to enter the same registries and template sources for each connection.  Perhaps the IDEs could find a way to hide this from the user and keep one set of registries and template sources.

[2019-11-25 19:20] johnmcollier commented on #1263
Codewind on Che handles upgrades by recreating all of the Codewind resources **except** for the Codewind persistent volumes. When the upgraded Codewind is deployed, it attaches onto that existing volume and reuses it. `Cwctl` could probably do the same.

**Note:** This approach will only work if the PersistentVolumeClaim spec for Codewind doesn't change from release to release.

[2019-11-25 19:21] j-c-berger commented on #912
Closing this issue because the guide has now been published! https://kabanero.io/guides/guide-codewind/

[2019-11-25 19:21] #912 closed

[2019-11-25 19:28] makandre opened #1265 "Remote connection: connected but was not ready after 60 seconds"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Question synopsis:**

I have setup a PFE deployment onto my OCP 4.2 cluster, using the following `cwctl` command:

[code]

Everything appears to be deployed correctly, however, when I try to create a connection to it in VS code, I'm getting:

[code]

I see the follo

[2019-11-25 19:28] makandre commented on #1265
@markcor11
/area portal

[2019-11-25 19:29] johnmcollier opened #1266 "Only require a user to set a docker / deployment registry for project types that require it"
Currently, if a user wants to deploy any kind of project on Codewind on Kube (Che or Hybrid), they must:
1) Have entered credentials for a Docker registry (e.g. `docker.io`)
2) Have Specified a registry to deploy to (e.g. `docker.io/johncollier`)

The problem here is that out of the 3 project styles we support (`codewind`, `appsody`, and `odo`), only `codewind` style projects actually require a do

[2019-11-25 19:30] johnmcollier commented on #1266
Adding iterative-dev and IDE labels as this requires changes in both sides to support this.

[2019-11-25 19:31] maysunfaisal commented on #1039
/reopen
/remove-priority stopship
/remove-area docs
/remove-release 0.6.0

reopening this for master/latest, as I am seeing this on Che latest as of Nov 25

Portal API called with timestamp 0

### Sidecar Log
[code]

### PFE Log
[code]

@jgwest looks like the FW with Che latest does not have the update?

[2019-11-25 19:31] johnmcollier commented on #665
Renaming as this affects Codewind on Che as well

[2019-11-25 19:38] #1232 closed

[2019-11-25 19:50] maysunfaisal commented on #1039
/close

sorry @jgwest. My SC image was outdated.

[2019-11-25 19:51] #1039 closed

[2019-11-25 19:53] makandre commented on #1265
[codewind-pfe-k3esjbv2-c9489db76-drf5f-codewind-pfe.log](https://github.com/eclipse/codewind/files/3888462/codewind-pfe-k3esjbv2-c9489db76-drf5f-codewind-pfe.log)

attaching log from PFE

[2019-11-25 19:56] jgwest opened #1268 "[Filewatcherd] TypeScript filewatcher does not connect to TLS/SSL servers with self-signed certificates"
The TypeScript filewatcher will currently throw an error when attempting to connect to Codewind server/proxy using TLS/SSL self-signed certificates; the other filewatchers already support this, so likely this was an oversight on my part.

/assign
/area iterative-dev

[2019-11-25 19:58] jgwest commented on #1268
/pipeline In Progress

[2019-11-25 20:22] jgwest commented on #1268
/close

[2019-11-25 20:23] #1268 closed

[2019-11-25 20:36] makandre commented on #934
I opened an issue on appsody https://github.com/appsody/appsody/issues/704

[2019-11-25 20:40] tetchel commented on #1265
[code]

if it's a serviceaccount/rbac problem, perhaps this was caused by the fix for https://github.com/eclipse/codewind/issues/1211

[2019-11-25 20:40] johnmcollier commented on #1266
Removing the iterative-dev label as Tim says this can be done entirely from the IDE side

[2019-11-25 21:01] liamchampton commented on #1259
@tetchel i have also previously had that issue and that has occurred because of this change https://github.com/eclipse/codewind-installer/pull/172. @jagraj did it fail to stop any other containers or just the performance container? Were there any containers in an exited state? - seen by doing `docker ps -a`

[2019-11-25 21:16] sghung opened #1269 "Handle application status for serverless appsody templates to ensure Stopped status is shown"
See if there's a way from the extension to determine the state if the server doesn't exist. The code from the codewind side to set the status to stopped was removed" https://github.com/eclipse/codewind/pull/1255

[2019-11-25 21:26] elsony commented on #1269
One possible way to handle it:
1. Add function to Turbine so that if the port on cw-settings is set to a special value, e.g. -1, it indicates that the app does not have a port for ping so it will not cause error on PFE on failing to ping.
2. Appsody extension handles the status change and relying on something else, e.g. the process is still up and running, and set the correct status of the applica

[2019-11-25 21:28] johnmcollier opened #1270 "Update and run the Kube functional tests on OCP4"
We're currently running our nightly Turbine and Codewind Che functional tests for Kube on OKD 3.11. We need to get them running on OCP4.

Before we can run the tests on OCP4, we need to update the test scripts to remove references to `nip.io` and `CLUSTER_IP` (see https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/test/scripts/setup.sh#L48) when accessing the Che / Keycloa

[2019-11-25 21:39] makandre commented on #1178
When users enter the registry credentials in the IDEs, I'd like to propose that we do a local `docker login` as well; this would serve 2 purpose:

- we can make sure the creds work before posting them to PFE
- a successful login makes the creds available to local docker for pulling (this is for `appsody init` which happens locally)

[2019-11-25 21:42] liamchampton opened #1271 "Inconsistent labels in docker images"
**Codewind version:** latest
**OS:** macOS

**Description:**
The labels in the docker images are not consistent. PFE has some good labels, whereas performance doesn't. See output below.

PFE:
[code]

Performance:

[code]

Having useful labels within all the docker images could help us better search for images and do system clean up with the CLI. This could be a better alternative to the current so

[2019-11-25 22:14] sishida commented on #1241
0.6.0 is live and shows the correct date on the news page. Closing this issue.

[2019-11-25 22:14] #1241 closed

[2019-11-25 22:48] johnmcollier opened #1272 "Automatically generate a secret for ingress if TLS is enabled"
Currently, setting up an app to use ingress over HTTPS in Codewind requires some manual effort for the user:
- Either retrieve or generate SSL certificates for the ingress
- Create a secret containing that certificate
- Add the secret to the ingress resource

When the `isHTTPS` project setting is set to true, If Codewind is unable to find a secret containing the certificate for the ingress, it sho

[2019-11-26 01:38] johnmcollier commented on #1227
Adding on - It's not really clear that when I select one of these options when creating a project, that it'll disable the other project types and I'll have to manually go into "Manage Template Sources" to re-enable the others

![Screen Shot 2019-11-25 at 5 26 30 PM](https://user-images.githubusercontent.com/6880023/69592285-7b4e7480-0fc3-11ea-9ca0-02f064f44ccd.png)

[2019-11-26 07:40] markcor11 commented on #1265
As of yesterday Gatekeeper is now being configured for authorisation as well as authentication.  Per the gatekeeper trace :

** WARNING ACCESS_ROLE : Access role has not been set in environment

Authorization restricts a PFE installation to a user with a required access role.  This improves security where two users could authenticate and get an access token from a shared Keycloak install and then

[2019-11-26 08:28] jgwest commented on #1202
/kind test

[2019-11-26 08:29] jgwest commented on #1202
@malincoln: Those labels are not set on the issue: priority/stopship<details>

In response to [this](https://github.com/eclipse/codewind/issues/1202#issuecomment-558158435):

</details>

[2019-11-26 08:38] jgwest commented on #1202
(Not sure why the bot didn't catch the last two comments 🤔, sorry about that @malincoln)

[2019-11-26 08:59] markcor11 commented on #1265
The error message in PFE logs :

[code]

Is because you dont have the correct cluster roles set and need the changes from this PR :  https://github.com/eclipse/codewind/issues/1211

[2019-11-26 09:02] tobespc commented on #1263
so project files shouldn't need to persist across upgrades as in a hybrid scenario, its only the building and running that are performed remotely.  Master source is still on the users machine.  For the other artifacts like custom template repositories etc, the upgrade should behave (from a users pov) exactly as it does for upgrading a locally installed codewind and those artrifacts persist.  Will

[2019-11-26 09:34] markcor11 commented on #1265
/assign @markcor11

[2019-11-26 09:46] markcor11 commented on #1263
We do need to be able to un-install PFE,  Gatekeeper, secrets, configmaps and other Kube resources that were created during initial deployment.  Keycloak is a bit tricky since that may be shared by other remote installations in the same or other namespaces.

[2019-11-26 10:26] micgibso commented on #1163
@tam512 fyi, https://www.eclipse.org/codewind/installoncloud.html no longer exists and has been superseded by https://www.eclipse.org/codewind/mdt-che-overview.html and https://www.eclipse.org/codewind/mdt-che-installinfo.html. Looking through the new install topic, enhanced for 0.6.0, the above changes are still required.

[2019-11-26 10:38] micgibso commented on #497
@tetchel @eharris369 @sishida @AndyRWatson This is covered in the recently revamped template topics https://www.eclipse.org/codewind/mdteclipseworkingwithtemplates.html and https://www.eclipse.org/codewind/mdt-vsc-workingwithtemplates.html. If there's anything else that needs to be covered, please let me know, otherwise this can be closed.

[2019-11-26 10:48] micgibso commented on #165
Change made, closing.

[2019-11-26 10:48] #165 closed

[2019-11-26 13:53] malincoln commented on #1202
no worries

[2019-11-26 13:57] markcor11 commented on #1024
/assign @markcor11

[2019-11-26 14:10] makandre commented on #1265
Thanks @markcor11, I'll retry this after the remaining PRs you mentioned in `cwctl` are merged.

[2019-11-26 14:23] tetchel commented on #1263
sorry, i meant inf files, as in I shouldn't have to rebind all my projects whenever I upgrade

[2019-11-26 15:05] malincoln commented on #159
@thisguy-1 @sishida it looks like this is still ongoing.  Please update the release as 0.6.0 has released.  Thanks.

[2019-11-26 15:15] j-c-berger commented on #1178
Feel free to assign me @micgibso  and @sishida

[2019-11-26 15:16] maysunfaisal opened #1273 "Che: Projects fail to delete because of logs dir"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Seen in test 🤔

[code]
[code]

**Steps to reproduce:**

**Workaround:**

/area iterative-dev

[2019-11-26 15:26] tobespc commented on #1263
so there shouldn't be the concept of upgrade for projects anymore, an upgrade will just be updating the images for pfe etc.   As long as the volume is not blown away, all the artifacts will persist

[2019-11-26 15:31] j-c-berger commented on #1256
@sishida , please assign this issue to me now that it is complete

[2019-11-26 15:31] #1256 closed

[2019-11-26 15:56] GeekArthur commented on #1262
@sujeilyfonseca Using the latest image resolves the volume issue, can you verify this? If it's good please close this issue.

[2019-11-26 17:03] elsony commented on #1060
@tetchel @jopit Is it possible to have this for 0.7.0.  We are currently seeing problems on installation on Che since it takes too long to download the Theia extension. See this thread for more info: https://mattermost.eclipse.org/eclipse/pl/3ekemuwmziytpq4hy6b1ehqduo
Moving the download of the executable instead of having a big extension download will help to solve that issue.

[2019-11-26 17:10] tobespc commented on #808
I can't recreate this , can anyone else on here ?

[2019-11-26 17:14] elsony commented on #1246
@yangcao77 Can you put the same fix into master so that I can move this to verify?

[2019-11-26 17:20] beccabau commented on #1128
I'm happy to work on this FIUM. @makandre, just let me know who I need to work with from the Appsody squad  to get this done :).

[2019-11-26 17:21] beccabau commented on #1129
I'm happy to work on this FIUM (preferably using vscode). Just let me know who I need to work with from the Appsody squad  to get this done :).

[2019-11-26 17:26] makandre commented on #1128
@beccabau I can work with you on this

[2019-11-26 18:12] makandre opened #1276 "cwctl not sending json to stdout"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Some commands (don't know how many are affected) are not sending json to stdout stream, for example:

`cwctl --json --insecure project create some_path > output.txt`  (output.txt is empty)

Whereas:

`cwctl --json --insecure templates list > output.txt` (out

[2019-11-26 18:34] yangcao77 commented on #1246
@elsony I just had a discussion with Tim and Erin on this issue. We are planning to work on the warning message @GeekArthur proposed in https://github.com/eclipse/codewind/issues/1246#issuecomment-557591293
I will join their meeting tomorrow and have a in person discussion on that.
This issue can be closed by now. I will open another issue after tomorrow's meeting.

[2019-11-26 18:34] makandre commented on #1276
The PR reverts the change for `project create`: https://github.com/eclipse/codewind-installer/pull/241

[2019-11-26 18:50] rajivnathan commented on #1245
Discussed this in the Iterative-dev meeting. We'll go with option 1 and capture timings for steps within the existing functional tests. Once we have enough data points we can decide on timeout values on a case by case basis.

[2019-11-26 19:02] ssh24 commented on #1204
@sujeilyfonseca Any updates? If you cannot reproduce this anymore, can this be closed?

[2019-11-26 19:03] rajivnathan commented on #1203
@sujeilyfonseca Does this issue only happen for appsody projects? Also, is it related to #1204?

[2019-11-26 19:03] yangcao77 commented on #1203
Checked the log, Turbine failed to ping the application, and set the status to be `stopped`. But immediately it set the app status to be `started` again.
Our ping is 1 ping/ 10 seconds. Not sure why we have 2 ping at the same time, but with different result.
[code]

[2019-11-26 19:07] jagraj commented on #1259
To continue my test effort yesterday, I did `docker system prune -a` to install latest 0.6 release builds.
 I had only this container up and running.

[code]

[2019-11-26 19:23] tetchel commented on #1276
we cannot bind projects because of this

[2019-11-26 19:23] elsony commented on #1245
The other thing that has mentioned is to keep the record of the performance data on each GA release, our benchmark on the test will be based on the data of the last shipped release.

[2019-11-26 19:24] johnmcollier commented on #1276
Adding hot label as this'll block most dev / testing of Codewind on Che

[2019-11-26 19:25] tetchel commented on #1276
also not on che 🙃

[2019-11-26 19:26] johnmcollier commented on #1276
@yangcao77 Said she was seeing this on Che?

[2019-11-26 19:26] tetchel commented on #1276
it is broken everywhere

[2019-11-26 19:28] makandre commented on #1276
If someone merges https://github.com/eclipse/codewind/issues/1276 we can at least unblock the bind

[2019-11-26 19:58] GeekArthur commented on #1262
Also the improvement of this issue is we can add more logs into extension installer code on Portal side so that next time if we hit the same issue, we can easily find where is the issue from (either from volume or extension installer).

[2019-11-26 20:00] rajivnathan commented on #1098
@jagraj Despit my best efforts I was unable to reproduce this. Are you able to reproduce this?

[2019-11-26 20:26] liamchampton commented on #1276
Sorry! By default logrus prints to `stderr`. Will fix this by sending it to `stdout` by default (forgot to add that into PR https://github.com/eclipse/codewind-installer/commit/4fc72319c060331e0173cfa5b7c653fc829d6878)

[2019-11-26 20:41] jgwest opened #1280 "Compile error in Java MicroProfile project is not correctly reported in build status"
**Codewind version:** master
**OS:** Windows

**IDE extension version:** Eclipse master

**Description:**
If your Java MicroProfile project has a compile error in it, it appears the compile error will not be reliably reported in the build status. Instead, the build status will _briefly_ note the compile error, but then this will be overwritten with the following:

![image (7)](https://user-images.

[2019-11-26 20:44] AndyRWatson opened #1281 "deleted projects reappearing after docker prune volumes (0.6.0)"
**Codewind version:**. 0.6.0
**OS:**. MacOS 10.15

**Che version:**
**IDE extension version:**. 0.6.0
**IDE version:**.  VSCode 1.39.1
**Kubernetes cluster:**.  N/A

**Description:**

existing deleted codewind projects reappear in codewind after issuing a docker system prune -a

Whilst testing the new documentation and twitter comment around the impact of performing a docker system prune -a --volu

[2019-11-26 20:45] makandre commented on #1145
All PRs merged

[2019-11-26 20:45] #1145 closed

[2019-11-26 20:46] makandre commented on #1121
Can close this @tobespc ?

[2019-11-26 20:48] makandre commented on #676
@jagraj can this be closed?

[2019-11-26 20:56] yangcao77 commented on #808
I can still reproduce this with the latest master devfile on che 7.3.1.
This is my cluster: http://che-che731.9.42.26.107.nip.io

[2019-11-26 20:56] makandre commented on #499
@mmulholl The timeout causing apps to go to `stopped` state is reverted in #1246.  So apps will stay in `starting` state until it goes to `running` state.  I think we can close this issue.

[2019-11-26 20:59] makandre commented on #1269
Is this same as https://github.com/eclipse/codewind/issues/314?  Maybe we can close one of these

[2019-11-26 21:03] AndyRWatson opened #1282 "deleting project in codewind"
**Codewind version:** 0.6.0
**OS:**. 10.15

**Che version:**
**IDE extension version:**. 0.6
**IDE version:** VSCodew
**Kubernetes cluster:**

**Description of the enhancement:**
When deleting a project in codewind I am asked a few questions to complete the process,  one of which is "Would you like to also delete the project directory at /Users/watsona/codewind-workspace/mye ?" and offered the opt

[2019-11-26 21:08] rajivnathan commented on #315
@maysunfaisal FYI

[2019-11-26 21:11] maysunfaisal commented on #315
@rajivnathan thx

/assign me

[2019-11-26 21:11] eharris369 commented on #801
All of the connection and registry changes are being handled under #839

[2019-11-26 21:11] #801 closed

[2019-11-26 21:33] maysunfaisal commented on #1270
/assign @ssh24

[2019-11-26 21:34] jgwest commented on #1270
@maysunfaisal: GitHub didn't allow me to assign the following users: ssh24

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-11-26 21:37] rajivnathan commented on #1282
Dupe of https://github.com/eclipse/codewind/issues/778. @tetchel is this still a limitation?

[2019-11-26 21:38] tetchel commented on #1282
Yes it's not going to change anytime soon

[2019-11-26 21:40] ssh24 commented on #1270
/assign

[2019-11-26 21:41] liamchampton commented on #1276
Would also like to mention the actual cause of this issue was a small mistake by changing an `fmt` -> `logr`. No `json` output should have been touched by PR https://github.com/eclipse/codewind-installer/commit/4fc72319c060331e0173cfa5b7c653fc829d6878 but this one slipped in. https://github.com/eclipse/codewind-installer/pull/241 has fixed it and after re-revewing the code changes that originally

[2019-11-26 21:43] makandre commented on #1269
I like the idea of introducing a `ready` label/state between `starting` and `running`, where:

- `starting` -> initial state
- `ready` -> container is up
- `running` -> container is up **and** app is pingable on port

The good news is that all appsody stacks, even ones w/o a server, do already expose a PORT where it is intended that a server will eventually listen on.  So appsody extension can tel

[2019-11-26 21:45] tetchel commented on #1281
yes, the migration will run each time you install and then start 0.6. to be clear, it will not run when upgrading from 0.6 eg to 0.6.1.

_maybe_ we could store in the IDE that the migration has already run, but it seems a bit late since 0.6 is already out there. we didn't consider the "reinstall" scenario you've outlined here.

[2019-11-26 21:46] tetchel commented on #1281
you can also work around this by removing `~/codewind-workspace` then it will not have any old projects to migrate

[2019-11-26 21:56] jopit commented on #1281
Another solution would be for the cwctl to remove the project .inf files from the workspace for projects that migrated successfully.

[2019-11-26 22:16] rajivnathan commented on #1161
I'm not seeing the "file changes detected immediately after creating the project" issue anymore so I think this can be closed.

[2019-11-26 22:27] johnmcollier opened #1284 "Maximum call stack size exceeded in PFE logs on Codewind"
I'm seeing the following in the PFE logs (latest images) when running on Che just after a docker build and push finishes for Generic docker projects:

[code]

It also appears to cause PFE to hang, as it prevented the app and build status from updating. Despite the build finishing and the app deploying, it was stuck in `Building - Creating Image`.

[2019-11-26 22:28] johnmcollier commented on #1284
PFE Logs:
[pfe.txt](https://github.com/eclipse/codewind/files/3894270/pfe.txt)

[2019-11-26 22:37] #1161 closed

[2019-11-26 23:01] elsony opened #1285 "[odo] Add auto detection logic for binding odo application"
For odo applications that has been run on Codewind before, we know exactly the project style (odo) and the component ID of the project.  During a bind of that application, we should be able to detect those so that the user does not have to provide the same information again.

To do that:
1. Change our existing delete operation without the -a flag so that the .odo folder will be left behind to pres

[2019-11-26 23:01] elsony commented on #1285
@GeekArthur Can you take a look at this?

[2019-11-26 23:02] GeekArthur commented on #1285
/assign

[2019-11-26 23:04] GeekArthur commented on #1285
Bind case main issue is here: https://github.com/eclipse/codewind/issues/450

[2019-11-26 23:34] maysunfaisal commented on #808
Yes, I concur with @yangcao77 i.e.; `cwctl` is behaving differently on different environments for the same use-case. From Stephanie's cluster on `.cw-settings` edit:

### FW log
[code]

### PFE log
[code]

### Theia container cwctl build version
[code]
And at the time of writing this post, I made sure the cwctl build version was the same for the latest devfile:
![Screen Shot 2019-11-26 at 6 33 44

[2019-11-27 00:54] johnmcollier commented on #1284
Looking through the logs, it seems each error is preceeded by a `projectStatusChanged` event

[2019-11-27 06:39] jgwest opened #1286 "[Filewatcherd] Filewatcher Eclipse ResourceChangeListener ignores folder deletion events in some cases"
The `CodewindResourceChangeListener` class, which is used to detect file/folder changes in the Eclipse workspace and pass these changes to the core FWd plugins, appears to ignore deletion events in some cases. It's likely the case that my previous fix to ignore non-file-change resource events was overzealous 😄 .

#### The following is the expected behaviour for this class:

1, 2, and 3 should trig

[2019-11-27 09:16] #1265 closed

[2019-11-27 09:50] tobespc commented on #1281
so should we be fixing this for 0.6.1 or 0.7.0 ?

[2019-11-27 10:20] markcor11 opened #1287 "Provide a way to uninstall Codewind remote"
**Codewind version:** Latest
**Kubernetes cluster:** . All
**Description of the enhancement:**

Provide a way to uninstall a Hybrid remote deployment through cwctl

**Proposed solution:**

* Remove any installed Codewind resources that were provisioned during remote install (using a common workspace ID)

* Provide status on any resources that can not (should not) be removed eg:
 -- Cluster roles w

[2019-11-27 10:20] markcor11 commented on #1287
/assign @markcor11

[2019-11-27 14:05] jopit commented on #1257
Reopening so it can be verified.

[2019-11-27 14:39] elsony commented on #1262
Marking this to verify to verify with latest image.

[2019-11-27 15:03] makandre commented on #1149
/assign @makandre

[2019-11-27 15:06] sishida commented on #247
The PR https://github.com/eclipse/codewind-node-profiler/pull/8#event-2834823143 is merged. Closing this issue.

[2019-11-27 15:06] #247 closed

[2019-11-27 15:07] tetchel commented on #1263
https://github.com/eclipse/codewind/issues/1263

[2019-11-27 15:12] josephca commented on #1148
Confirmed : the same change for 0.6.1 has been made: with https://github.com/eclipse/codewind-installer/pull/237 👍

[2019-11-27 15:13] malincoln commented on #1181
@tobespc pls move to verify if code is merged per discussion today.  Thanks

[2019-11-27 15:14] malincoln commented on #1148
@tobespc pls move to verify if code has been merged.  Thanks

[2019-11-27 15:16] makandre commented on #1149
Instead of mount, @rajivnathan suggested to copy files into PFE instead.  That's what's done in #1288

[2019-11-27 15:19] tetchel commented on #1148
btw, I forgot to mention that (since 0.6) the 'pulling images' step is no longer cancellable since liam ID'd that an interrupted download can cause this issue.

[2019-11-27 15:33] makandre opened #1289 "File rename is not handled correctly by sync"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

When a file is renamed, inside PFE the file with the new name is created along-side the file with the old name; the old file is not deleted.

**Steps to reproduce:**

1. rename a file in a project (I used VS code)
2. look inside the project inside `codewind-

[2019-11-27 15:40] ssh24 commented on #1221
Maysun, I think you worked on this. Could you assign yourself and close it?

[2019-11-27 15:45] tobespc opened #1290 "Add api for enabling/disabling injection of metrics"
For 0.7.0 we have the ability to inject monitoring metrics into the application automatically.  However, a user may not want this so need to provide the option to enable/disable.

We will add a new api to portal

`/api/v1/projects/<id>/metrics/inject` with a body of `{enable : boolean}`

The implementation in pfe of this api will result in the project.inf having the setting updated.  A build is al

[2019-11-27 15:49] tobespc commented on #1289
interesting, the logic we have in there should prevent this happening

[2019-11-27 16:01] jopit commented on #1290
@deboer-tim I'm going to prioritize this below the hybrid work unless you say otherwise

[2019-11-27 16:07] sujeilyfonseca commented on #1204
Thanks @ssh24 for verifying this issue! I can no longer reproduce this problem with the latest images.

[2019-11-27 16:07] #1204 closed

[2019-11-27 16:10] sujeilyfonseca commented on #1262
Thank you all for verifying this issue! I agree with your suggestion, @GeekArthur.
I can no longer reproduce this problem with the latest images, so I will proceed to close this GitHub problem.

[2019-11-27 16:10] #1262 closed

[2019-11-27 16:13] stalleyj opened #1291 "Add 'cwctl project remove' to the CLI"
**Description of the enhancement:**

The IDE's are currently calling unbind on a project by directly calling the rest  API in PFE.  They then need to call a command to remove the project connection. Adding this to the cli will makes it easier to remove a project from a codewind connection.

**Proposed solution:**

Add cwctl project remove -id,-i <value>

This implementation will lookup the connect

[2019-11-27 16:14] stalleyj commented on #1291
/assign @stalleyj

[2019-11-27 16:15] sujeilyfonseca commented on #1203
@rajivnathan, I noticed it with Default and Appsody projects. I was able to reproduce it consistently with Appsody projects, as there was a constant failure after migration (https://github.com/eclipse/codewind/issues/1202). However, it can happen with any project that fails after migration.

https://github.com/eclipse/codewind/issues/1204 can be an example.

[2019-11-27 17:07] sishida commented on #596
@rtaniwa, @josephca, @eharris369, What do you think of this writeup for the Eclipse Marketplace page (https://marketplace.eclipse.org/content/codewind#group-details)?

# Codewind for Eclipse
Codewind for Eclipse provides tools to help build cloud-native, containerized applications from Eclipse, regardless of which runtime or language you use. Rapidly create an application from a template project a

[2019-11-27 17:09] #1286 closed

[2019-11-27 17:39] johnmcollier opened #1293 "[Che] TS filewatcher in Theia triggering rebuild upon browser refresh"
I've got a Che devfile with the Go filewatcher removed and replaced with the TS filewatcher in the Theia extension [here](https://raw.githubusercontent.com/johnmcollier/devfiles/master/codewind/tsfw.yaml).

I'm finding that whenever the browser is refreshed and Theia gets reloaded, the TS filewatcher kicks off a new `cwctl sync`. According to @jgwest this is expected, as the filewatcher is getting

[2019-11-27 17:57] makandre opened #1294 "Remote deployed PFE missing PVC for codewind-workspace"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

PFE deployed remotely via `cwctl`, it does not have a PVC mount for the `/codewind-workspace`

[code]

As a result, appsody projects are failing to start with message:

[code]

**Steps to reproduce:**

**Workaround:**

[2019-11-27 17:57] makandre commented on #1294
/area portal

[2019-11-27 18:01] jopit opened #1295 "Where does the user/administrator get cwctl from in order to install remotely for hybrid?"
Do we

1. Provide a download link from the landing page
2. Have the IDEs automatically copy it to some accessible location on install.
3. Have the IDEs provide the ability to copy it somewhere on demand.
4. ???

We may need a tactical solution for 0.7.0 and a better solution for follow-on releases.

[2019-11-27 18:14] ssh24 commented on #1245
/assign

[2019-11-27 18:28] jgwest commented on #1293
On IDE startup, when FWd is first told to watch a directory, FWd is calling `cwctl project sync` in order to inform cwctl that the directory exists (which will, for example, ensure that any file changes made outside the IDE are kept in sync). We do this with timestamp (`-t`) 0 because we don't have (and have not received) another timestamp value to use here (since the IDE has restarted.)

If y'all

[2019-11-27 18:53] eharris369 opened #1296 "[Eclipse IDE: file watcher] Security exceptions and excess threads with hybrid connection"
After creating a hybrid connection, security exceptions from file watcher start appearing in the log every few seconds.  Also, threads for file watcher keep getting created which eventually cause eclipse to crash.  See below for the exceptions and the thread list.

**Exceptions:**
[code]

**Threads**
[code]

[2019-11-27 18:55] tetchel commented on #596
we're going to have to update both marketplace entries for 0.7 with the new remote features, btw.

[2019-11-27 19:14] elsony commented on #1295
It will be nice if the user can have access to the download as part of the connection setup flow, e.g. on the place where user input the connection information, we have info and link to download cwctl and doc associated with it.

[2019-11-27 19:51] yangcao77 opened #1297 "Re-struct the projectStatusChanged event to have more info in the detailedAppStatus"
We want to re-struct the `projectStatusChanged` event and include more info in the `detailedAppStatus`.
The `detailedAppStatus` will be changed from string to a json formatted as:

[code]

The boolean value `notify` is to indicate whether to notify user on the message.

This issue also requires changes in IDE.

[2019-11-27 19:51] yangcao77 commented on #1297
/area iterative-dev

[2019-11-27 19:56] johnmcollier commented on #1251
Reopening as we still need this for VS Code and Theia

[2019-11-27 19:57] sishida commented on #596
@tetchel I think I'll create a separate issue for 0.7.0 marketplace updates. I would like to close this issue soon instead of making it bigger to encompass more and more things. :)

[2019-11-27 19:58] yangcao77 commented on #1297
/area vscode-ide
/area eclipse-ide

[2019-11-27 20:03] makandre commented on #665
I gave the API a try for the appsody case (local and on kube), I tested against a private repo I set up on dockerhub: `makandre/nodejs-express:0.2` (a copy of the appsody stack)

On kube, I can post the secret with`url: "https://index.docker.io/v1/"` or `url: "docker.io"`.  In both cases `buildah pull` can pull the image down.

On local, I can **only** post the secret with `url: "https://index.doc

[2019-11-27 20:17] travis1111 opened #1298 "Landing page accessibility test and fix"
This issue is for tracking landing page accessibility fixes,

[2019-11-27 20:17] travis1111 commented on #1298
@sghung please assign this to me.  Thanks

[2019-11-27 20:21] yangcao77 commented on #1297
/assign

[2019-11-27 20:22] jopit commented on #1295
Bear in mind that the installation of codwind onto a remote cluster is likely something done by the cluster administrator, not by the individual developer.

[2019-11-27 20:27] yangcao77 commented on #1246
change in master branch will be covered by this issue: https://github.com/eclipse/codewind/issues/1297

[2019-11-27 20:33] yangcao77 opened #1299 "Make application ping timeout configurable in cw-settings"
The current timeout value for in transit application pinging is hard coded.
However, different type of projects requires different time to start the application, like appsody projects `starting` phase is extremely long compares to other project types. And larger projects also need more time to start.
We should make the value configurable in cw-settings. And also increase the default value for apps

[2019-11-27 20:34] yangcao77 commented on #1299
/area iterative-dev
/kind enhancement
/assign

[2019-11-27 20:36] jgwest commented on #1296
I can confirm that the Java WebSocket client implementation is currently not accepting self-signed certs (and definitely should be).

[2019-11-27 20:41] yangcao77 commented on #499
https://github.com/eclipse/codewind/issues/1246 only reverts the timeout change in 0.6.0.
In post 0.6.0, we are also going remove the `stopped` state,  the apps will stay in `starting` state if it failed to ping.
We will still keep and use the timeout to display warning in ide if the ping timeout is reached. (https://github.com/eclipse/codewind/issues/1297)
Also we will make the timeout configurab

[2019-11-27 21:12] sishida commented on #519
@jgwest I have reviewed the Rogue Cloud changes and created the following pull requests:

- For Developing-CodingNextSteps.md: https://github.com/microclimate-dev2ops/rogue-cloud/pull/37
- For Developing-Text-Editor.md: https://github.com/microclimate-dev2ops/rogue-cloud/pull/38
- For Updating-To-Latest-Client-Code.md: https://github.com/microclimate-dev2ops/rogue-cloud/pull/39
- For GettingStarte

[2019-11-27 21:35] johnmcollier commented on #1295
@jopit Yes, but that won't necessarily always be the case. We also need something easy and straightforward if the cluster administrator **is** the developer as well (like how all of us are generally cluster-admins of the clusters we develop on)

[2019-11-27 21:58] #1263 closed

[2019-11-27 21:59] tetchel commented on #1287
see john's comment for persisting pfe data. https://github.com/eclipse/codewind/issues/1263#issuecomment-558301584

[2019-11-27 22:16] maysunfaisal commented on #665
/tech-topic

[2019-11-27 23:01] maysunfaisal opened #1300 "Update /api/v1/registry to better handle /api/v1/registrysecrets"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Update /api/v1/registry to better handle /api/v1/registrysecrets

**Proposed solution:**

- [x] Rename `/api/v1/registry` to `/api/v1/imagepushregistry` for better semantics
- [x] Update `POST /api/v1/registry` https://eclipse.github.io/codewind/

[2019-11-27 23:01] maysunfaisal commented on #1300
/assign
/area iterative-dev

[2019-11-27 23:02] maysunfaisal commented on #665
TODO
- [ ] On local, if a user enters `docker.io`; API to convert it to `https://index.docker.io/v1/`
- [ ] Discussion on persistence of API values for local case

Also there are some changes to `/api/v1/registry` as per Issue https://github.com/eclipse/codewind/issues/1300

[2019-11-28 00:26] makandre opened #1301 "Remote PFE: why do we create cluster role binding instead of role binding?"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

When I deploy a remote PFE, I'm curious why we create a `ClusterRoleBinding` instead of a `RoleBinding` in the namespace?

In the Che case we are using `RoleBinding`: https://github.com/eclipse/codewind-che-plugin/blob/master/setup/install_che/codewind

[2019-11-28 03:45] maysunfaisal commented on #1301
We should probably use `RoleBinding` for remote, dont see a reason why we should use `ClusterRoleBinding`

[2019-11-28 09:14] markcor11 commented on #1301
We can change the bindings to `RoleBindings`.  We are installing `ClusterRoles` because we wanted to have just 1 set of deployed roles per Codewind version across the cluster,  but for the `ClusterRoleBindings` themselves they can be moved into the namespace since they are all labeled with the WorkspaceID anyway.

[2019-11-28 09:17] markcor11 commented on #1301
/assign @markcor11

[2019-11-28 09:31] james-wallis commented on #1289
/assign

[2019-11-28 09:45] liamchampton commented on #1276
@makandre can this be closed? - The logrus PR has been reverted so this shouldn't be an issue anymore

[2019-11-28 09:56] micgibso commented on #579
This is the over-arching issue for remote, and includes:
- https://github.com/eclipse/codewind/issues/489
- https://github.com/eclipse/codewind/issues/560

[2019-11-28 10:02] james-wallis commented on #1289
Recreated using `cwctl` bind and then the VSCode extension to do the sync. Looks like when I delete files they're not being deleted either so I suspect its a problem with the deleting.

[2019-11-28 10:33] markcor11 commented on #1024
Closing - code merged into master

[2019-11-28 10:33] #1024 closed

[2019-11-28 13:44] makandre commented on #1276
ok, closing

[2019-11-28 13:44] #1276 closed

[2019-11-28 13:57] makandre commented on #1294
@markcor11

[2019-11-28 15:06] rtaniwa commented on #596
This looks good @sishida. Agree we should get this work done, and then look at add content for remote as that will impact both marketplace entries as well as the landing page. I think that is a value prop we will want to call out directly on the main page.

[2019-11-28 15:14] jopit commented on #1295
Conclusion from tech-topics call

- For 0.7.0
  - IDEs will copy cwctl into `~/.codewind/0.7.0/ ` folder on startup
  - IDEs will add a link from the 'create remote connection' page to the documentation for remote connections
  - Docs will contain information about where the cwctl executable is and how to run it.

[2019-11-28 15:22] johnmcollier commented on #1301
We can have namespaced `RoleBindings` that are bound to cluster-scoped ClusterRoles (such as the Codewind role).

But it also may make sense to make the Codewind role per-workspace rather than cluster-wide for remote.

[2019-11-28 15:24] tobespc commented on #1294
we can do this, how much do you think we need ?   I gig ?

[2019-11-28 15:32] makandre commented on #1294
https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/deploy-pfe/pkg/constants/defaults.go#L22

che plugin using 1 GB so I think that's fine

[2019-11-28 15:39] maysunfaisal opened #1304 "Kube Project Delete Fails due to Log Dir"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
On Functional Tests, I see

[code]
[code]

I think there may be a 0.6 issue for the same thing, I will try searching and link it to this

[2019-11-28 15:46] johnmcollier opened #1305 "Investigate keychain/keyring for managing Docker credentials on PFE"
With our planned support for Docker registries in Codewind 0.7.0, the Docker credentials that the user enters for use with Codewind will be stored base 64 encoded under `~/.docker` on the PFE container. Anyone who has access to the Codewind container on that machine will be able to see and decode the user's docker registry credentials.

Docker supports [configuring a credential store](https://docs

[2019-11-28 15:50] markcor11 commented on #1294
/assign @markcor11

[2019-11-28 15:53] maysunfaisal opened #1306 "cwctl needs to persist docker registry secret creds in keystore for local"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

With https://github.com/eclipse/codewind/issues/665, we now have registry secrets API `/api/v1/registrysecrets` that takes `url`,`username`,`password` and creates a docker config on PFE at `/root/.docker/config.json`

On Kube, this was already be

[2019-11-28 15:54] maysunfaisal commented on #665
From tech talk about persistence, we have opened two new issues - https://github.com/eclipse/codewind/issues/1305 and https://github.com/eclipse/codewind/issues/1306

[2019-11-28 15:55] maysunfaisal commented on #665
/area docs

[2019-11-28 16:03] maysunfaisal commented on #1305
@johnmcollier during the tech talk i was thinking if we can use the Java keystore since PFE already has Java 🤔

[2019-11-28 16:05] makandre commented on #1306
Can `cwctl` also do a local docker login as well?

[2019-11-28 16:08] maysunfaisal commented on #1304
Maybe related: https://github.com/eclipse/codewind/issues/640

Looks the same error stack

[2019-11-28 16:14] maysunfaisal commented on #1306
I guess the other thing to keep in mind would be, during PFE startup if there are projects on the volume; we should not kick off project create until the docker config is created. Since the docker volume may have appsody projects and will fail if project create is done before docker config is restored.

[2019-11-28 16:21] rajivnathan commented on #1305
This looks very promising for securing the registry credentials in the PFE container: https://github.com/docker/docker-credential-helpers

It specifically has support for a pass backend for headless linux: see https://github.com/docker/cli/pull/451

[2019-11-28 17:02] eharris369 commented on #596
Looks good.  I can add some screenshots as well.  We only get 4.

[2019-11-28 17:27] james-wallis commented on #1207
Forgot to add to this issue, the PR for this is up. I changed branch mid-way for development so the above branch link is redundant.
PR is https://github.com/eclipse/codewind/pull/1292

[2019-11-28 20:12] ssh24 commented on #1222
/assign

[2019-11-28 20:19] makandre opened #1307 "Remote PFE: application route/ingress is not working"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Description:**

Created an app against a remote PFE connection.  Codewind exposes the app on URL that looks something like:

http://cw-cwnode03-85ab9fb0-1212-11ea--apps.makandre42.os.fyre.ibm.com/

But cannot access the application using that.  Tried both Codewind a

[2019-11-28 20:21] makandre commented on #1307
The route's def

[route-cw-cwnode03-85ab9fb0-1212-11ea-95b1-6tgvv.txt](https://github.com/eclipse/codewind/files/3902970/route-cw-cwnode03-85ab9fb0-1212-11ea-95b1-6tgvv.txt)

[2019-11-28 20:23] makandre commented on #1307
Don't know if this is relevant but I see these env vars in PFE:

[code]

[2019-11-28 20:24] ssh24 commented on #1203
/assign

[2019-11-28 20:27] johnmcollier commented on #1307
Adding a Portal label to this since the issue may be with how the ingress is being retrieved. On Mattermost, Andrew noted the namespace is missing from the route url prefix (Like `codewind.apps.makandre42.os.fyre.ibm.com`), and this _could_ be causing the OpenShift router to reject the URL.

[2019-11-28 20:55] johnmcollier opened #1308 "Cwctl doesn't properly wait for Keycloak if the PVC is still pending"
I did some testing of Cwctl against OpenShift on IBM Cloud, using the managed NFS storage IBM provides. Cwctl successfully creates the Keycloak deployment, but as we're waiting for IBM Cloud to provision the storage, the Keycloak pod is still pending. Cwctl doesn't wait for Keycloak to start and immediately tries to communciate with it:
[code]

If the status of the Keycloak pod is `ContainerCreati

[2019-11-28 21:22] ssh24 commented on #1203
So I just tried it out on my local mac:

**0.5.0**
<img width="424" alt="Screen Shot 2019-11-28 at 3 52 55 PM" src="https://user-images.githubusercontent.com/15173354/69832187-fb125400-11fa-11ea-8ac0-78e2350c8d36.png">

**0.6.0 (migration)**
<img width="415" alt="Screen Shot 2019-11-28 at 4 11 36 PM" src="https://user-images.githubusercontent.com/15173354/69832196-06657f80-11fb-11ea-9fbf-b1e892490

[2019-11-28 21:50] makandre commented on #1307
It worked if I changed the `Ingress` object's host to:

[code]

Note the namespace part added: `eclipse-codewind.`

[2019-11-28 21:54] ssh24 commented on #1203
I am seeing the same behavior on windows as well:

**0.5.0**
<img width="444" alt="Screen Shot 2019-11-28 at 4 42 52 PM" src="https://user-images.githubusercontent.com/15173354/69833025-770e9b00-11ff-11ea-94e0-8c95a5ddbf23.png">

**0.6.0 (migrated apps)**
![Screen Shot 2019-11-28 at 4 51 57 PM](https://user-images.githubusercontent.com/15173354/69833032-7fff6c80-11ff-11ea-8f95-a60d39b2ac09.png)

L

[2019-11-28 21:58] makandre commented on #1307
So I think we need to set the `INGRESS_PREFIX` var to `<namespace>.<ingressdomain>`, since Turbine is using it like so: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/utils/kubeutil.ts#L430

Aside: why is it called the prefix when it's appended as a suffix?

[2019-11-28 22:00] johnmcollier commented on #1307
It should absolutely be called `INGRESS_SUFFIX`.

[2019-11-28 22:20] GeekArthur commented on #1285
Currently we only have forward files syncing from workspace PVC to PFE PVC, thus the `.odo` folder that is created by PFE can't sync back to workspace, then if user deletes and binds the odo project again, the auto detection won't work since we don't have `.odo` on IDE side which uses workspace PVC.

Workaround:
Easy: Let user manually add `.odo` folder if user uses Codewind odo extension before f

[2019-11-28 22:24] jgwest opened #1309 "[Filewatcherd] Filewatcher unable to connect to secure PFE (via HTTP/WebSocket) without using an auth token acquired through CWCTL"
Filewatcher will use a simple IDE interface to share the auth token with the IDE. See the comments below for details.

This work will need to be implemented in 2 of the 3 filewatchers (Java and TS; the Go filewatcher is already running in a cluster and thus I presume does not support remote connections.)

## Original issue text

Below was my thinking behind how this could originally be implemented

[2019-11-28 22:25] tetchel commented on #1309
IDEs know the auth token, and at least in the vs code case, can give it to the filewatcher instance.

[2019-11-28 22:48] jgwest opened #1311 "[Filewatcherd] Remote PFE will need to provide a local absolute pathToMonitor value to a local Filewatcher"
Currently, the WebSocket endpoint `(PFE URL)/websockets/file-changes/v1` and HTTP GET `(PFE URL)/api/v1/projects/watchlist` APIs that are used by filewatcher are returning a list of project directories for filewatcher to watch:
[code]

However, note the `pathToMonitor` field is _a local absolute path to a directory on the user's machine_. Thus, with true hybrid where FWd will be connecting to a re

[2019-11-28 22:58] jgwest commented on #1309
re: IDEs knowing the token and providing it to the filewatcher - at first I thought this would not work, because the Go Filewatcher does not have an IDE to integrate with (and thus if I am implementing manually calling cwctl for Go I may as well implement it everywhere), but since the Go filewatcher won't support 'true hybrid' remote for this release, then your idea (and Erin suggested the same th

[2019-11-28 23:01] markcor11 commented on #1308
/assign @markcor11

[2019-11-28 23:10] markcor11 commented on #1308
Now that we have labels set correctly on our pods we should be able to use Waiter.WaitForPodsWithLabel rather than just pinging a service port.

[2019-11-28 23:40] makandre commented on #1306
I had a chat with @sghung and he brought up a good point; this would not excuse us from doing local persist, but it may not be as bad without it in 0.7 for Appsody.

Assuming `cwctl` does a local `docker login` when user set the credentials, and it is persisted in the system keychain:

1. when user create/binds an appsody project, `cwctl` runs `appsody init`, which would pull down the stack image

[2019-11-29 05:43] jgwest commented on #1309
@eharris369  @tetchel - Does this sound do-able? Any obvious (or not so obvious) issues?

A new interface (Java pseudocode, TS would be equiv) for providing the auth token to FWd:
[code]

The IDEs would then implement an instance of this object and pass the object to the filewatcher constructor.

#### Java:
[code]

#### TS:
[code]

Each method implementation would be non-blocking; so for example `

[2019-11-29 08:24] markcor11 commented on #1307
/assign @markcor11

[2019-11-29 09:25] tobespc commented on #1311
We already do this @jgwest, when a project is added to codewind, regardless of where codewind is running the pathToMonitor value should be the absolute local path each time

[2019-11-29 09:32] markcor11 commented on #1307
So whilst I'm in this code, the Keycloak and Gatekeeper Ingress URLs do not include the namespace right now and are built up to look like :

[code]

Would it make sense to insert a `.namespace.` here too ?  We are already using a unique name here given the inclusion of the WorkspaceID (the k3jwx9hj part) so not sure that adding additional length will provide any additional value.

Additionally, th

[2019-11-29 11:24] james-wallis opened #1314 "PFE not deleting directories when a user deletes them"
**Codewind version:** Master
**OS:** MacOS

**Description:**
PFE is not currently setup to delete directories when a user deletes them.

**Steps to reproduce:**
* Create a simple Node.js application in your preferred way (I used `cwctl project create and bind`).
* Delete the `chart` directory which contains some subdirectories and files.
* Run `docker exec -it codewind-pfe` to go into the containe

[2019-11-29 11:25] james-wallis commented on #1314
/area portal

[2019-11-29 11:25] james-wallis commented on #1314
/label portal

[2019-11-29 11:57] makandre commented on #1307
If I changed ingress host to `cw-apnode02-a4632980-1205-11ea-k3izxjil.apps.makandre42.os.fyre.ibm.com` it also works.

I guess it just needs to be something infront of the ingress domain but doesn't necessarily
have to be the namespace.  Using the workspace ID would make it consistent with gatekeeper and keycloak

[2019-11-29 12:30] markcor11 commented on #1308
Made some improvements in test, so install log will show :

[code]

Applied watchers to all 4 pods during deployment

[2019-11-29 12:43] #578 closed

[2019-11-29 14:03] eharris369 commented on #1309
You say that after you call informReceivedInvalidAuthToken you may call getLatestAuthToken several times before the new token may be ready.  Will you call informReceivedInvalidAuthToken after each one of those calls if it does not work again?

[2019-11-29 14:58] #1289 closed

[2019-11-29 15:23] ssh24 commented on #1203
/remove-area iterative-dev

[2019-11-29 15:24] jopit commented on #1271
Also, we should clean up `"org.label-schema.license": "GPLv2"` and `"org.label-schema.vendor": "IBM"` in the PFE labels

[2019-11-29 15:26] rwalle61 opened #1315 "User can remove injected metrics collector from their project"
**Codewind version:** latest
**OS:** all

**Description of the enhancement:**
After our metrics injection work goes in, users will be able to click a button in the IDE, and see their projects rebuild and expose a `/metrics` endpoint.

As a user, I will then want to be able to click another button and see my project rebuild and no longer have a `/metrics` endpoint.

**Proposed solution:**
1. Modify

[2019-11-29 15:27] rwalle61 commented on #1315
/assign @rwalle61

[2019-11-29 15:28] rwalle61 commented on #1315
/pipeline In Progress

[2019-11-29 15:31] jopit opened #1316 "Remote install can break local install"
If I don't have the codewind docker images on my machine, and I do a remote install of codewind into my desktop docker minikube, my machine will then have the images with the 'fully qualified' names, i.e. the name with the 'eclipse' prefix, but won't have the ones without the 'eclipse' prefix.
[code]
Then `cwctl status` will return that codewind is installed
[code]
so the IDEs will think it's inst

[2019-11-29 15:43] tetchel commented on #1309
In TS, `getLatestAuthToken` should return a `Promise<string>` not string. That gets around the caveat Erin mentioned above, since that function won't return until it's ready.

[2019-11-29 15:54] lentheivendra commented on #1115
/area docs

[2019-11-29 15:56] lentheivendra commented on #1115
/area docs

[2019-11-29 15:59] lentheivendra commented on #1115
Will using issue #1111 to update docs related to this item (i.e. instructing users how to use example script to import jdk image stream and add as odo builder, change of directory name for odo extension helper/setup files, etc)

[2019-11-29 16:00] jopit commented on #1271
Seems the label schema we're using (http://label-schema.org/rc1/) has been deprecated in favour of the OCI IMAGE SPEC (https://github.com/opencontainers/image-spec), specifically annotations (https://github.com/opencontainers/image-spec/blob/master/annotations.md)

[2019-11-29 16:03] tetchel commented on #1309
Also, do we prefer returning null/undefined if the token lookup fails, or throwing an error/exception?

[2019-11-29 16:13] liamchampton commented on #1271
/assign @liamchampton

[2019-11-29 16:20] #1149 closed

[2019-11-29 16:52] eharris369 opened #1317 "[Hybrid] Appsody projects won't build if there is no push registry"
Create a connection to Codewind running in Kube and then try creating an appsody project.  It fails to build with a message saying it needs a deployment registry but appsody projects should not need a deployment registry.

![image](https://user-images.githubusercontent.com/9484320/69882599-b3dd9f00-129e-11ea-8d2e-7dd4416b93bd.png)

[2019-11-29 16:56] makandre commented on #1317
This may address it https://github.com/eclipse/codewind/issues/1266

[2019-11-29 16:59] maysunfaisal commented on #665
/verify

This can be moved to verify.

sub-issues have been opened.

[2019-11-29 16:59] eharris369 commented on #1317
Right now there is no registry support in Eclipse.  It does not ask the user to provide a registry for any project type.  This is a problem for Codewind style projects but Appsody projects should work without a registry.  The message is coming from PFE not from the IDE.  I think 1266 is for VSCode which asks the user for a registry regardless of the project type.

[2019-11-29 16:59] jopit commented on #1317
No #1266 is an IDE level issue, this build failure message is coming from PFE.

[2019-11-29 17:02] johnmcollier commented on #1109
After some further discussion:
- Will set up a scheduled Webex link and share it
- Can't use box for the meeting agenda, as it doesn't allow anonymous people to edit shared box notes
    - @tetchel suggested we could use git issues for the agenda (perhaps on a `codewind-resources/community` repo?
    - Will still use box to share the meeting recordings

[2019-11-29 17:21] makandre commented on #1301
Verified now it's no longer creating `ClusterRoleBinding`, thanks

[2019-11-29 17:21] #1301 closed

[2019-11-29 17:22] makandre commented on #1294
Verified working now, thanks

[2019-11-29 17:22] #1294 closed

[2019-11-29 17:23] makandre commented on #1073
Seeing this more and more now with hybrid testing

[2019-11-29 18:27] jopit commented on #1317
I'm going to guess the build failure message is coming from turbine, so tagging this as iterative-dev.

[2019-11-29 18:49] elsony commented on #1317
This issue is originally a dup of #1266. Originally, #1266 is supposed for both IDE and iterative dev changes. The original plan was to do changes on both IDE and iterative side. Based on https://github.com/eclipse/codewind/issues/1266#issuecomment-558330766, the iterative dev work is dropped. Given that we have separate item now, I'll keep this item for the iter dev only work.

[2019-11-29 18:52] jgwest commented on #1309
My plan would be only to inform once for a single token value, something like this:
[code]

I'd probably prefer a null when it's not ready.

I would probably just say null: I don't think the specific reason that it failed would be especially useful to FWd, since FWd doesn't have a UI with which to communicates errors to the user (just the log output), and presumably if y'all weren't able to acquir

[2019-11-29 18:56] jgwest commented on #1309
Actually, I may be thinking about this wrong: are y'all acquiring a token once across the entire IDE, and then reusing it over and over again? This was my assumption for what you were doing, and that the FWd would just use that.

Eg I had thought of this interface as a way for FWd to just get access to the IDE's token, not to acquire a new one specifically for the FWd.

[2019-11-29 18:58] tetchel commented on #1309
Yes there is only one token per codewind connection

[2019-11-29 19:03] jgwest commented on #1309
Ah, perfect, the API I mentioned above then would just be able getting that value (and sometimes it might be stale or null, and that's OK on the FWd end)

[2019-11-29 19:40] tetchel commented on #1291
it should have an option to delete the files from the user disk too

[2019-11-29 21:06] tetchel commented on #1178
here's the existing page https://www.eclipse.org/codewind/dockerregistry.html

[2019-11-29 21:26] eharris369 opened #1318 "[Eclipse IDE] Make template table columns resize as the table resizes"
In the new project wizard the template columns do not resize when the table resizes.  This can be fixed by using TableColumnLayout.

[2019-11-29 21:35] jopit opened #1319 "Keycloak in crashloopbackoff when installing onto ROKS cluster"
I tried to remote install codewind into the `codewind-ide` ROKS cluster.  Keycloak never successfully started, it continually went into crashloopbackoff.  When I `kubectl describe` the pod, there is a warning about an unbound PVC
[code]
When I log into the cluster's web console and look at the logs for the pod, I see the following
[code]

[2019-11-29 21:37] johnmcollier commented on #1319
@jopit I spoke with Mark about this today, https://github.com/eclipse/codewind-installer/pull/252 should fix it.

[2019-11-29 22:29] johnmcollier opened #1320 "Move Codewind to Helm 3"
Helm 3 has officially GA'd and has removed the tiller!

Codewind currently uses Helm 2.9.1 which is quite back level and doesn't work on newer Kubernetes (such as 1.16), as it uses resources that have since been deleted from the Kube API. While we are investigating having Codewind deploy projects without Helm, that's still a ways away and we're still very much reliant on Helm for deploying Codewin

[2019-11-29 23:17] johnmcollier commented on #1284
We spoke about this on slack earlier in the week. From the logs the error's coming from FileWatcher.js in Portal and that it tends to usually follow a `projectStatusChanged` event from FW:
[code]

From mine and @rajivnathan's investigation on our side, it looks like PFE is emitting the socket event fine, but something's going wrong on the Portal when it's processing it because it's never emitting

[2019-12-01 17:34] #1318 closed

[2019-12-01 19:39] jagraj commented on #676
@makandre
We still see this issue with 0.6.0 release as well. We did not see this issue in 0.4.0 release and the projects we create they appear in the projects list as soon as we create projects but not in 0.5.0 and 0.6.0 releases.

[2019-12-01 19:48] jagraj commented on #1098
This seems to be an issue in one of my OKD 3.11 cluster and it fails to build in this cluster intermittently. I am wondering this might be issue with resources but why this fails only with spring projects. I usually create project for each template.

[2019-12-02 10:26] rwalle61 commented on #1315
part of https://github.com/eclipse/codewind/issues/1290

[2019-12-02 10:34] tobespc commented on #1319
/assign @markcor11

[2019-12-02 10:35] jgwest commented on #1319
@tobespc: GitHub didn't allow me to assign the following users: markcor11

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-12-02 11:12] markcor11 commented on #1319
/assign @markcor11

[2019-12-02 11:13] markcor11 commented on #1319
PR https://github.com/eclipse/codewind-installer/pull/252 has landed

/pipeline verify

[2019-12-02 11:53] liamchampton commented on #1316
We dont need to re-tag the images from `eclipse/codewind-pfe-amd64` -> `codewind-pfe-amd64` once downloaded anymore. Removing this re-tag will allow us to pick up any images with the prefix `eclipse/codewind-`

[2019-12-02 11:53] liamchampton commented on #1316
/assign @liamchampton

[2019-12-02 13:24] jopit commented on #1319
Verified.

[2019-12-02 13:24] #1319 closed

[2019-12-02 13:39] jagraj commented on #391
Sure, thanks. Closing it now.

[2019-12-02 13:39] #391 closed

[2019-12-02 14:35] jopit opened #1321 "Error notification when deleting project"
I successfully installed codewind into a ROKS cluster, connected using vscode, and created an appsody project called `appsody-node`.  I then deleted the project, and vscode showed an error notification `Error deleting appsody-node`.  The project's pod was actually deleted from the cluster, but there are errors in the PFE logs

[pfe.txt](https://github.com/eclipse/codewind/files/3911709/pfe.txt)

[2019-12-02 14:46] eharris369 opened #1322 "Link to docs in Eclipse IDE results in 404 not found in browser"
The Eclipse IDE has a link to this page from one of the dialogs but it is giving a file not found now: https://www.eclipse.org/codewind/mdteclipseusingadifferenttemplate.html.

All of the doc links in the Eclipse IDE can be found here: https://github.com/eclipse/codewind-eclipse/blob/master/dev/org.eclipse.codewind.ui/src/org/eclipse/codewind/ui/internal/UIConstants.java

[2019-12-02 14:53] jopit opened #1324 "Problems editing connections info"
Created connection to Codewind on a ROKS cluster, but used the wrong user name, and so got bad credentials error.  Changed the user name on the connections panel, and got two notifications

- Connection already exists
- Successfully created new connection

But new connection didn't show up in the view.
Also, in the connections.json file, the user name was still set to the old user name.

[vscode.t

[2019-12-02 14:55] jagraj opened #1325 "SVT:[Windows & Mac]:Codewind failed to start after machine reboot or docker restart"
**Codewind version:** 0.6.0
**OS:** Windows & Mac.

**Che version:**
**IDE extension version:** 0.6.0
**IDE version:** Eclipse 09-2019
**Kubernetes cluster:**

**Description:**
Windows rebooted after security patch updates and I tried to restart codewind and it failed to start codewind with the following error. Codewind CLI should handle this and restart codewind with out any failures. I see this

[2019-12-02 14:58] jagraj commented on #1325
/priority stopship
/area portal

[2019-12-02 14:59] jagraj commented on #1325
/priority remove
/priority hot

[2019-12-02 15:00] jgwest commented on #1325
@jagraj: Could not find label: priority/remove

[2019-12-02 15:15] jagraj commented on #1325
/remove-kind priority
/priority hot

[2019-12-02 15:16] jgwest commented on #1325
@jagraj: Those labels are not set on the issue: kind/priority<details>

In response to [this](https://github.com/eclipse/codewind/issues/1325#issuecomment-560439338):

</details>

[2019-12-02 15:17] jagraj commented on #1325
/remove-priority
/priority hot

[2019-12-02 15:17] jgwest commented on #1325
@jagraj: Command 'remove-priority' requires at least one parameter.<details>

In response to [this](https://github.com/eclipse/codewind/issues/1325#issuecomment-560440399):

</details>

[2019-12-02 15:20] ssh24 opened #1326 "run.sh will not fail if codewind maven compile fails"
**Description:**
If the user tries to build codewind using `./run.sh` and for some reason the users java is not setup properly the mvn package will fail but `./run.sh` continues. This becomes a problem later on as liberty projects don't work.

[code]

If the failure is seen above, the `./run.sh` script should terminate as well.

/area iterative-dev
/priority hot

[2019-12-02 15:25] jopit commented on #1306
I assume this should be assigned to portal...

[2019-12-02 15:27] NikCanvin commented on #1271
should be: "org.label-schema.license": "EPL-2.0"

[2019-12-02 15:31] jagraj commented on #1325
I thought removing codewind-network can help here to start codewind but it is not. I am setting stopship label back to this issue.

[code]

[2019-12-02 15:32] jgwest commented on #1325
Agree with Jag... if the user starts codewind, and then restarts their computer, it sounds like they will then have trouble starting codewind again (and the error messages look like they are not helpful in helping the user figure out what to do)

[2019-12-02 15:43] jagraj commented on #1248
I see this problem even after codewind restart not only during migration. I see all the time when I restart codewind.

[2019-12-02 15:44] liamchampton commented on #1271
We don't explicitly write this label, it is being inherited from the `centos:7` base image PFE is using. This is the output from centos/where it seems to be coming from:
[code]

[2019-12-02 15:50] NikCanvin commented on #1271
OK - in which case I see no issue leaving it as GPLv2 in this case
(it's not shipped by the Eclipse community servers directly, so it does no impact the Eclipse Codewind projects EPL-2.0 license declaration)

[2019-12-02 15:52] tobespc commented on #1290
/assign @james-wallis

[2019-12-02 15:52] rtaniwa commented on #1325
Let's see what options we can come up with for a rapid fix. This sounds like something we should be including in our planned iFix. @tobespc can we get someone from portal having a look at this?

[2019-12-02 15:53] jgwest commented on #1290
@tobespc: GitHub didn't allow me to assign the following users: james-wallis

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-12-02 15:54] james-wallis commented on #1290
/assign

[2019-12-02 15:58] sishida commented on #1322
@eharris369 It appears that the name of the file changed.

Here's the PR where the change was made: https://github.com/eclipse/codewind-docs/commit/8fab380e7263a3f64a73cf692f5a06514d5a1bba

And here's the page itself with its new name/URL on the Codewind website: https://www.eclipse.org/codewind/mdteclipseworkingwithtemplates.html

[2019-12-02 16:03] #652 closed

[2019-12-02 16:04] jgwest commented on #1311
Sweet, closing as already done, as per above.

[2019-12-02 16:04] #1311 closed

[2019-12-02 16:07] rajivnathan commented on #1248
@jagraj Yep, I was able to reproduce without migration so not surprised you can reproduce it with a restart.

Steps to reproduce without migration:

- create a go project and wait for it to start
- run `docker stop <container id>` to stop the container
- change `contextRoot` to `/` and the error about the port will pop up

Have a potential fix.

[2019-12-02 16:17] eharris369 commented on #1322
@tetchel It looks like the VSCode link is out of date too: `TEMPLATE_MANAGEMENT = "mdt-vsc-usingadifferenttemplate.html",`.

[2019-12-02 16:17] jagraj commented on #715
I restarted my codewind and couple of projects are stuck at "Starting" state and status not turned into "Running" state.  To me, Eclipse microprofile, nodejs default app should be running and other apps does not have web server running and they should be in "Stopped" state as we do not support status for these apps.

Logs
[.log](https://github.com/eclipse/codewind/files/3912123/default.log)
[filew

[2019-12-02 16:18] eharris369 commented on #1322
Eclipse PR: https://github.com/eclipse/codewind-eclipse/pull/443

[2019-12-02 16:25] makandre commented on #715
The https://github.com/eclipse/codewind/files/3912145/appsodynodejsdevcw06svt.txt linked above is from the `nodejs` stack (not express) which does not have a running server.  So remaining in `starting` state is correct (note: the change to `stopped` state after a timeout was reverted, hence it remains in `starting` state)

[2019-12-02 16:33] sishida commented on #1322
@tetchel It looks like the same change was made for the VS Code documentation with this PR: https://github.com/eclipse/codewind-docs/commit/4b6572d8cb2810f392901d4c86cc62ac260c73a5

And here is the new/renamed file as it appears on the Codewind website: https://www.eclipse.org/codewind/mdt-vsc-workingwithtemplates.html

[2019-12-02 16:36] jagraj commented on #715
Here is the appsody log for Microprofile log.
[appsodyempcw06svt.txt](https://github.com/eclipse/codewind/files/3912235/appsodyempcw06svt.txt)

[2019-12-02 16:54] makandre commented on #715
In PFE log, these messages can be seen for appsodyempcw06svt towards the end of the log:

[code]

Codewind wasn't able to get any information on the container, which leads me to suspect the container was still not up when Codewind was checking.  This at least explains why it is still in `starting` state.

As mentioned before, normally Codewind should continue to periodically ping the app until it

[2019-12-02 17:02] sujeilyfonseca commented on #1325
**Codewind version:** 0.6.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.6.0
**IDE version:** VS Code 1.40.2

I was able to reproduce this problem using Codewind for VS Code on Mac OS.

<img width="1580" alt="Screen Shot 2019-12-02 at 12 00 38 PM" src="https://user-images.githubusercontent.com/49531960/69979026-7de92680-14fb-11ea-98c0-dc553f2993b7.png">

[code]

[code]

[code]

[2019-12-02 17:08] sishida opened #1329 "Violation of logo usage on website"
The Codewind website has altered logos that need to be reverted back to their original state: https://www.eclipse.org/codewind/

https://www.youtube.com/about/brand-resources/#logos-icons-colors

https://github.com/logos

https://mattermost.org/brand-guidelines/

https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/Twitter_Brand_Guidelines_V2_0.pdf

[2019-12-02 17:27] jgwest commented on #1329
FWIW I think we are consistent with the spirit of these brand guidelines: all of the logos are presented in a dark monochrome colour, which is consistent with how other sites handle this.

https://openwhisk.apache.org/
https://appsody.dev/
https://kabanero.io/

[2019-12-02 17:32] eharris369 opened #1330 "[Eclipse IDE] Add language to project validation page"
Since the project validation is now picking up the language, add it to the validation page in Eclipse.

[2019-12-02 17:50] sishida commented on #512
@travis1111 What if we changed the Codewind website doc headings so that they match the headings of basic Markdown? https://www.markdownguide.org/basic-syntax/

I checked the current Codewind website, and it seems that the current headings don't quite match these Markdown headings. It looked like there might have been bold, underlining, and a different color. I'm wondering if it would be better to

[2019-12-02 17:58] eharris369 commented on #1330
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/444

[2019-12-02 17:58] #1330 closed

[2019-12-02 18:07] makandre commented on #1307
Verified with the latest `cwctl` that this is working now

[2019-12-02 18:07] #1307 closed

[2019-12-02 18:09] johnmcollier commented on #1308
Verified, fixed.

Thanks @markcor11!

[2019-12-02 18:09] #1308 closed

[2019-12-02 18:22] makandre commented on #1304
I'm seeing this in hybrid also.

[2019-12-02 18:24] jagraj commented on #715
Yes, After manual rebuild project status turned into "Running" state. Yes, I agree we need polling to query the status of the project and set appropriate status for the applications.

[2019-12-02 19:09] eharris369 opened #1333 "Add an indicator is needed for project types that require a push registry"
The IDEs need to let the user know when a push registry is required for their project.  Currently we are doing the following:

1. On create project the template list has the styles (except for Codewind templates) so if there is no style we assume Codewind style and that a push registry is needed.
2. On add existing project there is no style in the project type listing or in the validation result s

[2019-12-02 19:15] GeekArthur commented on #748
Latest performance update is here: https://github.com/eclipse/codewind/issues/1115#issuecomment-558228319

[2019-12-02 19:17] malincoln commented on #1325
adding to 0.6.1 release for now.

[2019-12-02 20:04] GeekArthur commented on #1285
I investigate more on this issue, the `Hard workaround` is not feasible because odo CLI generates `odo-file-index.json` which record file update metadata under `.odo` folder to imporve the odo build performance, that means `odo-file-index.json` can be updated with each file update, that can result in double build issue if we support backward files syncing from PFE PVC to workspace PVC.

I also try

[2019-12-02 20:24] naveenkaratekid commented on #1325
Codewind: 0.6.0
OS: Windows
IDE Extension Version: 0.6.0
IDE version: 1.40.2

I am able to reproduce this issue in VSCode Windows

Screenshot:
![image](https://user-images.githubusercontent.com/19738071/69989557-de835e00-1511-11ea-8778-75e6e9f18073.png)

[code]

[code]

Log files:
[1-Codewind.log](https://github.com/eclipse/codewind/files/3913176/1-Codewind.log)
[codewind 0.6.0 error starting.log]

[2019-12-02 20:46] GeekArthur commented on #1214
/assign

[2019-12-02 21:57] mmulholl commented on #1181
Closing as have not been able to reproduce the issue

[2019-12-02 21:57] #1181 closed

[2019-12-02 22:32] sishida opened #1336 "Update Eclipse and VS Code marketplace entries for Codewind remote"
Update both Eclipse and VS Code marketplace entries for the 0.7.0 new remote features.

[2019-12-02 22:32] jagraj commented on #1257
Looks good to me. Thanks for the fix. Closing this now.

[2019-12-02 22:32] #1257 closed

[2019-12-02 22:34] sishida commented on #596
Brought this issue up during the Plugins/IDEs/Editors meeting today. Erin might be able to make the updates to the Eclipse marketplace page itself. We'll keep checking in as we progress.

I also opened this issue for adding the 0.7.0 remote updates to both of the marketplace pages: https://github.com/eclipse/codewind/issues/1336

[2019-12-02 22:41] maysunfaisal opened #1337 "Update Turbine Kube Tests for Registry Secrets API"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
When #665 is consumed by the IDE, Functional tests need to set the Registry Secrets via the PFE API rather than thru the Che dashboard.

**Steps to reproduce:**

**Workaround:**

[2019-12-02 22:41] maysunfaisal commented on #1337
/kind test
/area iterative-dev

[2019-12-02 23:59] markcor11 opened #1340 "Let Codewind Remote share a Keycloak instance"
**Codewind version:** Latest

Share a deployment of Keycloak avoiding the need to deploy a new Keycloak pod on every new deployment of Codewind.

**Proposed solution:**

CWCTL should :

1. Assist with the installation of just a Keycloak deployment where one does not already exist
2. Allow a new Codewind Remote deployment to use an existing Keycloak installation if one is available
3. Deploy Codewi

[2019-12-02 23:59] markcor11 commented on #1340
/assign @markcor11

[2019-12-03 00:03] markcor11 commented on #1340
Allow installation of just Keycloak :

[code]

Allow installation of just Codewind using an existing Keycloak :

[code]

[2019-12-03 00:07] markcor11 commented on #1340
Per above,  two new flags added to CLI :

**--keycloakonly** : installs just a Keycloak deployment

**--keycloakurl** : use an existing Keycloak service available at this URL

[2019-12-03 00:20] markcor11 opened #1341 "Remove Docker Registry mount from PFE Remote"
**Codewind version:** latest
**OS:**

**Description of the enhancement:**

Remove Docker registry secret and volume mount from PFE remote install

**Proposed solution:**

- Update RBAC to allow PFE to manage secrets,
- Remove old secrets Volume Mount,
- Prep for using the new PFE API that will manage the Docker registry secret dynamically

[2019-12-03 00:21] markcor11 commented on #1341
/assign @markcor11

[2019-12-03 05:42] jgwest opened #1342 "The WebSocket-based /websockets/file-changes endpoint used by the filewatchers appears not to be secured by authentication/authorization, unlike the Socket.io-based WS endpoints"
If I am reading the code correctly, the UI socket (implemented using socket.io) used by the IDEs and provided by portal, is [secured using JWT and a socket.io auth package](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/utils/socketAuth.js).

However, this is not the only WebSocket code used in the Codewind server. There is also the [WebSocket endpoint used by the filewatch

[2019-12-03 07:47] jgwest commented on #1203
Something still odd with unassign behaviour in the bot, I have unassigned @ssh24

[2019-12-03 09:23] tobespc commented on #1325
In summary, it would appear that killing windows without a proper docker shutdown has the affect that on a restart, the codewind-network is not restarting correctly.   There is a ```--force-recreate``` flag that can be added to docker-compose that we will test with this morning to see if that fixes the issue

[2019-12-03 09:25] liamchampton commented on #1325
picking this up

[2019-12-03 09:26] liamchampton commented on #1325
/assign @liamchampton

[2019-12-03 11:00] #909 closed

[2019-12-03 11:35] rwalle61 commented on #1290
FYI @tobespc wrote a design here https://github.com/codewind-resources/design-documentation/blob/master/codewindServer/metricsInjection.md

[2019-12-03 13:46] makandre opened #1343 "Pick up appsody 0.5.2 release"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

https://github.com/appsody/appsody/releases/tag/0.5.2

**Proposed solution:**

[2019-12-03 13:47] makandre commented on #1343
/assign
/area appsody

[2019-12-03 13:55] malincoln commented on #1148
@tetchel can you verify and confirm?  Thanks

[2019-12-03 14:04] tetchel commented on #1148
Not sure how to verify this, I never saw it personally. I will ask SVT to keep an eye out

[2019-12-03 14:09] #1282 closed

[2019-12-03 14:17] makandre commented on #1284
I see this locally as well, not just on Che

[2019-12-03 14:47] jgwest commented on #1284
Googling the error message strongly suggests that it's due to socket.io not allow you to `emit` JavaScript objects with cyclical references.

[2019-12-03 15:00] makandre opened #1344 "Cleanup license property in package.jsons"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

These files are showing the wrong license value (there maybe other files):

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/package.json#L16
https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/package.json#L39

**Steps to repr

[2019-12-03 15:06] micgibso commented on #1111
@GeekArthur Is this for 0.7.0? Thanks

[2019-12-03 15:08] kimholmes commented on #796
@sishida @travis1111 Isn't this solved by the presence of the YouTube icon in the header? It links to the Codewind Youtube page that contains all of the videos.

[2019-12-03 15:10] jgwest commented on #844
/unassign
/kind bug

This should perform incorrectly if I am correct.

[2019-12-03 15:11] jgwest commented on #844
Sweet

[2019-12-03 15:20] GeekArthur commented on #1111
@micgibso Yes, this is for 0.7.0, I am working on that and will finish soon.

[2019-12-03 15:23] micgibso commented on #665
@maysunfaisal Does this still need doc? I've been working with Mark on PR https://github.com/eclipse/codewind-docs/pull/204 to document remote, is it part of that?

[2019-12-03 15:24] tetchel commented on #665
here's the frontend issue, which has the doc label, so i'll remove it from this one. https://github.com/eclipse/codewind/issues/1178

[2019-12-03 15:25] GeekArthur commented on #1111
@micgibso Jonathan's bot doesn't support add `milestone`, I will be the committer soon, please help add `0.7.0` milestone, thanks.

[2019-12-03 15:28] jagraj commented on #1325
I verified fix with latest Eclipse and VSCode plugins on Windows and I no longer see this problem.
Once it is verified on Mac, we can go ahead and close this issue.

[2019-12-03 15:29] jagraj commented on #1325
@liamchampton
Thanks for the fix.

[2019-12-03 15:30] #497 closed

[2019-12-03 15:33] AndyRWatson commented on #796
I was thinking more around the tutorial videos specifically.   For instance we have an install video for vscode/eclipse.  That would be good to also link to / embed as a link from our installation landing page ?

e.g. https://www.youtube.com/watch?v=qujVACLnbmM&list=PL19zPOxRy13p4Yx5H5DVLABQi-9vi6SLn&index=3&t=0s

[2019-12-03 15:46] jgwest commented on #844
/unassign
/remove-kind bug

[2019-12-03 15:49] jopit commented on #1296
Does PR https://github.com/eclipse/codewind-eclipse/pull/439 completely fix this issue?  If so, it should be verified and closed.

[2019-12-03 15:53] kimholmes commented on #796
@AndyRWatson Ok. I gotcha. I'd imagine these will also be surfaced from the Docs page. But yeah, I get wanting to give them a prominent spot on the landing page. Thanks

[2019-12-03 15:55] sujeilyfonseca commented on #1325
I verified this issue on Mac and I no longer see the problem.
Thanks for solving this issue, @liamchampton!

[2019-12-03 16:01] liamchampton commented on #1325
@jagraj @sujeilyfonseca No prob! Please can this issue be closed? 😄

[2019-12-03 16:09] jagraj commented on #1325
yes, it is closed now.

[2019-12-03 16:09] #1325 closed

[2019-12-03 16:13] jgwest commented on #1296
/pipeline Verify

[2019-12-03 16:14] j-c-berger commented on #1045
@johnmcollier and @jagraj

I'm checking on the status of this issue and to see if there's any ID work that still needs to be done? Thanks!

[2019-12-03 16:23] eharris369 opened #1346 "Hybrid: projects build but won't start - error when pulling image"
If I create a new project it builds and pushes the image to the registry I have set but when it tries to pull it, it fails with the following message (from kubectl get events):
[code]
I have no problems doing a docker pull on my local machine for the same image.  It runs fine as well.

[2019-12-03 16:31] sghung commented on #938
- The API work has been completed from the codewind side via #665
- Currently waiting on the IDEs to implement the UI for adding credentials
- A docker private registry test case has been created

[2019-12-03 16:33] GeekArthur opened #1347 "Auto detection & display for bind case"
Get some feedbacks from @deboer-tim in odo extension bind case demo, so create this issue for tech topic.

Background:
Currently we have two generic cases for all project types (Codewind, odo, Appsody) bind:
-  Bind vanilla project / project without strong indicator: We won't detect the project type automatically and give the user options as the screenshot shown below
<img width="531" alt="Screen

[2019-12-03 16:33] GeekArthur commented on #1347
/tech-topic

[2019-12-03 16:34] eharris369 commented on #1346
The PFE logs have:
[code]

[2019-12-03 16:53] eharris369 opened #1348 "Hybrid: Eclipse IDE not getting any socket events"
The Eclipse IDE is not receiving any of the socket events that are being sent by PFE.

[2019-12-03 17:04] makandre commented on #1284
Should this be stop ship?

[2019-12-03 17:28] #1343 closed

[2019-12-03 18:19] johnmcollier commented on #1045
@j-c-berger Nothing currently, but I'll keep you in the loop regarding changes.

[2019-12-03 18:20] elsony commented on #1284
Do you always see this problem or it only happens under certain condition, e.g. after X number of projects running at the same time? And if the user see this, any workaround, e.g. increase memory?

[2019-12-03 18:25] johnmcollier commented on #1284
It's definitely intermittent, but it's quite disruptive when it happens, and the number of projects or memory available doesn't affect things (i.e. I've had it happen on a fresh install, on a new cluster with only one project).

[2019-12-03 18:34] johnmcollier commented on #1346
@eharris369 How were the docker registry credentials being set?

The error `cannot unmarshal array into Go struct field DockerConfigJson.auths of type string` indicates that Kube was given an invalid dockerconfigjson in its struct. But without seeing how the credentials were created by you, it's hard to say why it's invalid

@maysunfaisal FYI

[2019-12-03 18:35] makandre commented on #1284
Seeing this quite often.  I refresh the Codewind connection and that'll get the app/build state updated.

I also find number of projects is not the issue; I've seen it with less than 5 projects.

[2019-12-03 18:39] sishida commented on #839
@jopit Is this issue ready for documentation?

Currently we have remote documentation in this pull request: https://github.com/eclipse/codewind-docs/pull/204/files

But if we need any additional info, please let us know. Thank you!

[2019-12-03 18:46] maysunfaisal commented on #1346
also pls do `kubectl get secrets` and `kubectl describe sa che-workspace`

[2019-12-03 18:57] maysunfaisal commented on #1317
/assign me

[2019-12-03 19:11] jagraj opened #1350 "SVT:Invalid error message to the user when project template is not available in Github due to network issue."
**Codewind version:** 0.6.0
**OS:** All operating systems

**Che version:**
**IDE extension version:** 0.6.1
**IDE version:**  Eclispe 2019-09
**Kubernetes cluster:**

**Description:**
I was creating one of "Appsody node.js" project from the appsody template source and it is failed to create the project due to network issue with GitHub. We are displaying wrong message to the user and we need to te

[2019-12-03 19:22] jagraj commented on #1350
Project folder is created and it is not rolled back when project create fails due to download failure from GitHub.

[code]

[2019-12-03 19:26] eharris369 commented on #1346
If it can push to the registry then aren't the credentials working properly?

[2019-12-03 19:28] eharris369 commented on #1346
[code]

[2019-12-03 19:34] rajivnathan commented on #1248
@jagraj I have delivered a fix for this issue on master. Can you please verify?

[2019-12-03 19:38] johnmcollier commented on #1346
@eharris369 Not necessarily. The credentials used to push to the registry with buildah and the credentials used to allow Kube to pull from that registry are in separate locations:
- Push credentials: Stored on PFE under `~/.docker/`
- Kube pull credentials: Stored in a Kubernetes secret (codewind-k3pzvirb-docker-registries in your case)

It could be either that the .dockerconfigjson is malformed,

[2019-12-03 19:40] johnmcollier commented on #1284
I should also note that refreshing the page or Codewind connection will update the status, but it won't fix the error. The user would need to refresh **each time** a status update occurs.

[2019-12-03 19:41] maysunfaisal commented on #1346
@eharris369 If you created through the API, pls post the PFE log during API calls

also can you pls make this change
https://github.com/eclipse/codewind-che-plugin/pull/106/files#diff-4e628246b2e3018c70bf46bdf74f5ec5R33

I suspect your namespace does not have delete permission, so thats why the API may be crapping out

[2019-12-03 19:42] malincoln commented on #1148
@tetchel should we close it for now?

[2019-12-03 19:43] tetchel commented on #1148
I asked SVT to keep an eye out during 0.6.1 testing and no one saw it so I think we can close for now.

[2019-12-03 19:44] eharris369 commented on #1346
I figured it out.  It is a bug in my code.  I'm still confused by the push working though.

[2019-12-03 19:49] #1296 closed

[2019-12-03 20:00] maysunfaisal commented on #1346
`registrysecrets` does two things on kube:
1. create the docker config at `/root/.docker/config.json`
2. create a Kube secret with the encoded file from point 1, and patch the Service account with the new secret

- buildah/docker only looks at the docker config at `/root/.docker/config.json` for pushing.
- kubectl pod pulls looks at the service account to pull images.

[2019-12-03 20:32] GeekArthur opened #1351 "Unable to choose enabled project templates"
**Codewind version:** latest master
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** OKD

**Description:**
I enable all project templates, but I can only choose OpenShift templates as the screenshot shown below. In my case, OpenShift templates are the initial templates that I choose for the first time project creation. Seems li