[2019-09-27 21:55] thisguy-1 commented on #393
@sishida we also need a page for the "learn more".

[2019-09-28 13:52] muralidharchavan commented on #575
Hi @tetchel . Thanks for responding. I followed the steps you mentioned but I am still getting the same message.

[2019-09-30 02:20] tetchel commented on #575
That's frustrating - At that point I would restart the Docker engine (the "Restart" menu item), and if that still failed, I would have to do a system prune `docker system prune -a`. Be warned that the system prune will delete all your stopped containers, images, networks, and similar (read the output before confirming).

[2019-09-30 08:51] tobespc commented on #578
yep, we can add this

[2019-09-30 08:53] tobespc commented on #572
will pick this up asap

[2019-09-30 09:24] markcor11 commented on #489
- [ ] Create Keycloak Docker image
- [ ] Add Codewind theme

- [ ] Create CLI Command:  Authenticate
- [ ] Create CLI Command:  Realm Create
- [ ] Create CLI Command:  Client Create
- [ ] Create CLI Command:  Client Get
- [ ] Create CLI Command:  User Create
- [ ] Create CLI Command:  User Get
- [ ] Create CLI Command:  User Reset Password

- [ ] Store developer credentials in Keychain (Mac) / Sec

[2019-09-30 09:47] tobespc commented on #553
with the change in to increaase the timeouts of the tests, the stability has been improved

[2019-09-30 10:30] micgibso opened #579 "Document local and remote"
**Codewind version:** Next
**OS:** n/a

**Che version:** n/a
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:** n/a

**Description of the enhancement:**
Add information describing the two development scenarios: local and remote, to Getting started, or nearby.  From a high level, what is each, and what does that mean as a user.

[2019-09-30 12:23] jcockbain96 commented on #572
I'm picking this up, can I be assigned please?

[2019-09-30 12:56] tobespc opened #580 "Can project name be asked before project type ?"
When creating a new project, I am invariably forgetting to select the type first but instead start typing in the name of the project I want to create first ?   Is there a reason why the flow is project type - project name and not project name - project type ?

This is using vscode

[2019-09-30 13:37] makandre commented on #572
I do have a PR fix for this https://github.com/eclipse/codewind-installer/pull/130 It needs to be reviewed

[2019-09-30 14:53] lentheivendra commented on #449
Proposed master-index.json capturing currently known language examples/templates for OpenShift:

`
[
     {
        "displayName": "OpenShift Node.js template",
        "description": "Sample OpenShift Node.js application",
        "language": "nodejs",
        "projectType": "odo",
        "projectStyle": "odo",
        "location": "https://github.com/openshift/nodejs-ex"
    },
    {
        "di

[2019-09-30 14:55] lentheivendra commented on #449
Proposed master-index.json listing various known language examples/templates for OpenShift

[code]

[2019-09-30 15:17] ssh24 commented on #553
@tobespc I don't think the stability improved. The last builds in master has failing consistently and blocking the latest image to be pushed up to dockerhub https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/

[2019-09-30 15:19] stalleyj opened #582 "Skip 'Batch enabling of repositories' test"
The builds are failing with the following error below. While this test is unreliable we should skip the entire test until we can investigate properly and make the test reliable.

32 passing (45s)
11:13:34    17 pending
11:13:34    1 failing
11:13:34
11:13:34    1) Batch enabling repositories
11:13:34         1 repo
11:13:34           returns 207 and sub-status 200 for each subrequest when batch di

[2019-09-30 15:54] tetchel commented on #580
I like having the message in the project name box say "enter a name for your new \<type\> project", but other than that i have no real preference about this

[2019-09-30 15:55] makandre opened #583 "Appsody: docker volume mount for m2 cache"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Because of https://github.com/eclipse/codewind-appsody-extension/pull/24 appsody projects are not mounting host's m2 cache anymore.  The downside of this is when we restart the project container, we are essentially starting with a blank cache

**

[2019-09-30 16:24] rajivnathan opened #584 "Turbine changes for hybrid support"
**Description of the enhancement:**

As part of the changes for hybrid, volumes will not be mounted on PFE and project containers. Instead, there will be 2 syncs:

Sync 1: Sync from user's project directory to PFE container
Sync 2: Sync from PFE container to build container

The problem though is that portal calls Turbine's create project API as a single call that handles both creating the contain

[2019-09-30 17:08] mmulholl commented on #510
Yes, it is a problem with the app state jumping around but as you see in the picture above the project status is "running" at the time of the error. It may be a 2 stage build and you need to go through stopped -> running -> stopped -> running before opening the view but that is bad and a regression, running should only show if the project is ready.

[2019-09-30 17:14] mmulholl opened #585 "SVT : Eclipse : Open Liberty project shiw Liberty server welcome page."
**Codewind version:** 0.4.0
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse
**Kubernetes cluster:**

**Description:**

After an Open Liberty project hits running, if you open the application view you see the Liberty Server page, if you wait from running to got to stopped and then running again you get the project page. The project should only be shown as running o

[2019-09-30 17:38] tetchel commented on #418
@jcockbain96 is this fixed

[2019-09-30 17:49] sishida commented on #552
Reached out to an Appsody tech lead today to get more info about the Appsody template source description.

[2019-09-30 17:51] #572 closed

[2019-09-30 17:58] tetchel commented on #557
proposed request body to POST `/registry`:
[code]

since we have to keep the existing behaviour of being able to test the registry.

I'm on the fence about whether a successful test should also do a set (without the client having to perform a second request). Is there a use-case where a successful test would not immediately be followed by a set?

[2019-09-30 18:00] tetchel opened #586 "Add 'name' attribute to POST /template/repositories"
See https://github.com/eclipse/codewind/issues/541#issuecomment-535591155 and https://github.com/eclipse/codewind/issues/541#issuecomment-535658027

We want the user to able to set a `name` attribute on their template sources, outside of the `templates.json`, just like they can currently with `description`.

Also, both `name` and `description` should be optional, since they can be fetched from `te

[2019-09-30 18:24] maysunfaisal opened #587 "[Performance] 0.4.0 Cannot run load test against Microprofile"
**Codewind version:** 0.4.0
**OS:** Mac

**Che version:**
**IDE extension version:** Eclipse Codewind 0.4.0
**IDE version:**
**Kubernetes cluster:**

**Description:**
Cannot run load test against Microprofile

**Steps to reproduce:**
On Eclipse Codewind plugin; Right Click on a Microprofile project -> Open Performance Dashboard -> Run Load Test -> Give a name -> Run

**Logs:**
[code]

[2019-09-30 18:25] maysunfaisal commented on #587
Tried this multiple times with 3 different Microprofile projects, same log stack trace.

[2019-09-30 19:05] elsony commented on #500
Open Liberty support is currently implemented as a generic docker application.  The proper way to introduce that support is to provide full first class support (as existing WebSphere Liberty based microprofile application).  Then, we can provide the debug function as part of that.

[2019-09-30 19:11] maysunfaisal opened #589 "[Iterative Dev] Restarting project intermittently results in a stopped state"
**Codewind version:** 0.4.0
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
When using CW 0.4.0 with the Eclipse plugin; restarting a project in debug/run, intermittently puts the project app state to stopped.

Needs to be looked at. Even tho this is intermittent, cant build a project to get it from stopped to debugging/running, e

[2019-09-30 19:18] GeekArthur opened #590 "[ODO] Expose ingress/route for applications"
Currently the IDE gets the application endpoint by using code here: https://github.com/eclipse/codewind-vscode/blob/c74b24924aae167eb5b3f0b6b9dbb24a4329c839/dev/src/codewind/project/Project.ts#L529. This logic won't work for odo project since odo project uses odo cli to build not our codewind build engine, it will return ingress something like http://odotest-app-eclipse-che.9.42.10.79.nip.io (ingr

[2019-09-30 19:18] johnmcollier commented on #590
@jingfuwang I believe https://github.com/eclipse/codewind/issues/459 covers this issue

[2019-09-30 19:25] GeekArthur commented on #590
@johnmcollier Yes, can make this issue as sub-issue for reference. I can make this one more about odo, but odo and udo can share the same idea.

[2019-09-30 19:29] GeekArthur commented on #590
#459

[2019-09-30 19:51] tobespc commented on #564
We should be able to still do option 1 when this is all finished.  The smarts is all going to be in the inital creation of the build container but I don't think it will break current behaviour

[2019-09-30 21:23] sishida commented on #49
I will try to create a PR for this file: https://www.eclipse.org/codewind/mdt-vsc-tutorial.html

[2019-09-30 21:30] sishida commented on #276
@jagraj I remember adding instructions for how to update the Eclipse and VS Code plug-ins. Is the variable that you mentioned in this issue something that needs to be added to these instructions here?
- Link to updating the Codewind plugin for Eclipse: https://www.eclipse.org/codewind/mdt-eclipse-installinfo.html#updating-the-codewind-plug-in
- Link to updating the Codewind plugin for VS Code: htt

[2019-10-01 08:46] jcockbain96 commented on #418
Yes, is fixed in master of the cli.

[2019-10-01 09:36] tobespc commented on #587
umm, getting something similar with vscode as well

[2019-10-01 10:19] hhellyer commented on #557
The POST request already exists, I was going to check in with you whether you wanted to add a parameter or a new API call. I'm happy with the above API if that's what you prefer.

You could also have:
`"operations": ["test","set"]`
or:
`"operations": ["test" | "set" | "testandset" ]"`

@eharris369  - For remote mode we will probably need to call this API from the Eclipse plugin as well. Do you hav

[2019-10-01 12:35] tobespc commented on #587
After restarting codewind this all works ok.  @maysunfaisal could you try stopping and starting codewind and then starting with a new project please

[2019-10-01 13:09] #418 closed

[2019-10-01 13:24] micgibso opened #591 "Enable a sub-topic on the Getting started"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Enable a sub-topic immediately beneath the Getting Started page. Current behaviour under test is that you cannot navigate directly back to the tiled GS page without clicking back in the browser.

(Travis, one for you)

[2019-10-01 13:24] travis1111 commented on #591
Thanks I will look into it

[2019-10-01 14:18] #523 closed

[2019-10-01 14:23] micgibso commented on #516
@sishida I'll take this please

[2019-10-01 14:23] micgibso commented on #526
@sishida I'll take this please

[2019-10-01 14:37] sghung opened #593 "Allow selection of subtype during a bind in VSCode"
**Codewind version:** 0.5.0
**OS:** all

**Description of the enhancement:**
When doing project binding, allow the user to select a subtype.

**Proposed solution:**
The design is currently being worked on by the design team.

[2019-10-01 14:39] sghung opened #594 "Allow selection of subtype during a bind in Eclipse"
**Codewind version:** 0.5.0
**OS:** all

**Description of the enhancement:**
When doing project binding, allow the user to select a subtype.

**Proposed solution:**
The design is currently being worked on by the design team.

[2019-10-01 14:44] jcockbain96 commented on #586
Taking this, could I be assigned?

[2019-10-01 14:45] malincoln commented on #292
@sghung pls set release to 0.5.0.  Thanks

[2019-10-01 14:46] malincoln commented on #317
@sghung pls set the release to 0.5.0.  Thanks

[2019-10-01 14:47] malincoln commented on #321
@sghung pls set release to 0.5.0.  Thanks

[2019-10-01 14:51] lentheivendra opened #595 "Provide file:// support in Codewind handling of extensions' templates repo URLs"
**Description of the enhancement:**
For Codewind extensions that implement the getRepositories() function in templatesProvider.js, it would be useful to return templates repository file:// URLs pointing to local json files in the codewind server that the extensions themselves create/manage.

**Proposed solution:**
I have a proposed patch for https://github.com/eclipse/codewind/blob/master/src/pfe/

[2019-10-01 14:55] lentheivendra commented on #449
Current solution implements logic in templatesProvider.js to do the call to the odo command and reconcile the components list it returns with the master index of components (i.e. languages) supported in master-index.json above. The reconciled list is then written to a local index.json in the extensions directory and passed back to Portal as a file:// url.

Portal itself needs to be enhanced to sup

[2019-10-01 15:55] rtaniwa opened #596 "Improve write-ups for Codewind marketplace entries"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The Codewind marketplace entries should highlight the value props and feature/function that Codewind provides at the top of the marketplace entries. Our Eclipse marketplace entry has more of this, but less overall content (no screen shots, instal

[2019-10-01 16:19] jcockbain96 commented on #586
Is this to follow that second comment? So we read the name from the template.json, and then allow a user to edit the name.

Or do we just want to allow a 'name' parameter in the body of the API which will then be overwritten if a name does exist in the template.json?

[2019-10-01 16:32] tetchel commented on #586
I suppose if a name or description is set in the `repository_list`, then it should override the one in `templates.json` for that user.

[2019-10-01 16:35] tetchel commented on #595
Looks like users want this too: https://github.com/eclipse/codewind/issues/540#issuecomment-535425378

[2019-10-01 16:42] sishida commented on #417
I am closing this issue because it appears to have already been taking care of. 😃

When I go to the `codewind-docs` issues, a notification appears that says to open issues in the main `codewind` repo: https://github.com/eclipse/codewind-docs/issues/new/choose

[2019-10-01 16:42] #417 closed

[2019-10-01 17:07] sishida commented on #173
@travis1111 Hi, Travis, I know the topic of OS detection has come up in the past, and I just thought I'd bring this to your attention. Maybe we could discuss the feasibility of OS detection or plan to add it for a future iteration?

[2019-10-01 17:21] travis1111 commented on #173
@sishida sure, please assign to me and I will take a look :-)

[2019-10-01 18:03] jopit opened #597 "Add name and improve description"
Part of the work for https://github.com/eclipse/codewind/issues/541

[2019-10-01 18:06] maysunfaisal commented on #587
@tobespc oops I forgot to add, yes I was able to get around it by restarting. But cant do that in a demo infront of customers :)

[2019-10-01 18:30] sishida commented on #350
@eharris369 @johnmcollier @tetchel

Hi, team,
Erin suggested that we place the "building from source" instructions in the IDE Readme files for each IDE. Eclipse already has its instructions in its own Readme--which I hadn't even realized! 😅

So I created https://github.com/eclipse/codewind-vscode/pull/215 to add the "building from source" instructions to the VS Code Readme.

And then I edited the

[2019-10-01 18:56] eharris369 commented on #350
Actually, I was just suggesting that the instructions for building the IDEs from source should be in the IDE Readmes and this should just cover building Codewind from source and then point to the IDE instructions.

[2019-10-01 19:04] sishida commented on #350
Would these be the instructions for just the Codewind part?
1. Clone the `codewind` repository.
2. Run the `./script/build.sh` script to run the Codewind build, or run the `./run.sh` script to build and start Codewind.

[2019-10-01 19:08] eharris369 commented on #350
Yes

[2019-10-01 19:45] sishida commented on #350
Cool. I just added the two-step instructions to the `Codewind` repo Readme file in my latest commit. I left the links to the IDE Readme files.

[2019-10-01 20:21] jagraj commented on #276
@tetchel
Do you know if the user still has to export the `CW_TAG=latest` tag to install latest version of codewind.? Is this automatic now users does not have to do this if they are installing latest plugins from master.?

[2019-10-01 20:22] tetchel commented on #276
yes you still have to do that if you want to use the development images

[2019-10-01 20:31] jagraj commented on #276
@tetchel @sishida
The above doc is for external customers and not to codewind committers. Do we need to document for external customers as well how to install latest codewind.?

Sarah is working on other set of docs how to build codewind images for codewind repo.
Do you think it makes sense to send the developers/users to here (https://github.com/eclipse/codewind-vscode#developing) who wants to us

[2019-10-01 20:48] sishida commented on #49
Hi, @tetchel! I know that the VS Code extension has evolved since this issue has been opened. Is this issue still relevant?

I have created at PR based on the feedback I'm seeing in the issue, but please feel free to approve/remove as you see fit: https://github.com/eclipse/codewind/issues/49

Thank you!

[2019-10-01 20:50] tetchel commented on #49
this issue is outdated; we have UI for this now.

[2019-10-01 20:50] #49 closed

[2019-10-01 21:06] sishida commented on #596
Joseph Kim updates both Eclipse and VS Code pages. An ID writer should work with him to make the page updates.

[2019-10-02 05:54] muralidharchavan commented on #575
@tetchel Thank you very much for the fix. After doing a system prune, Codewind 0.4 is working fine on my Eclipse IDE. We can close this issue now.

[2019-10-02 07:03] markcor11 commented on #489
Initial PR with first wave of CLI security commands :  https://github.com/eclipse/codewind-installer/pull/132

[2019-10-02 07:47] henrynash commented on #49
So just for clarity, the issue I raises was specifically about the lack of documentation for the case when you install an extension into Codewind (e.g. Appsody) - and the fact that to make it active you had (at least in the version at the time) to cause the code wind docker container to be restarted. There was UI to do the restart...just no documentation to remind you to do this.

So just like to

[2019-10-02 12:25] deboer-tim commented on #49
Current behaviour: if you install a new extension after Codewind has been started, you'll need to restart it. You can do this directly through the IDE, and the extension documentation would tell you how to do this.

OTOH, the Appsody extension is installed by default now so you wouldn't even need to know that it was built as an extension.

[2019-10-02 13:13] sishida commented on #49
Since this issue is closed, I have closed my PR for this issue.

[2019-10-02 13:18] j-c-berger commented on #527
I can take this issue.

[2019-10-02 13:24] henrynash commented on #49
So at the risk of flogging a dead horse....Is there general documentation and description of the extensions concept within the Codewind docs? I kind of imaged there would be a section on this, that talked about what is and isn't possible, explained that you had to restart Codewind after installing a new extension. It just seems a bit odd to leave it to the individual extensions docs to explain the

[2019-10-02 14:48] #575 closed

[2019-10-02 14:49] tetchel commented on #436
another one: https://github.com/eclipse/codewind/issues/575

[2019-10-02 14:49] tetchel commented on #436
why was this closed, do we have new doc?

[2019-10-02 14:50] tetchel commented on #596
The VS Code page is the README which you are already familiar with, Sarah. It updates on the marketplace whenever we release.

https://github.com/eclipse/codewind-vscode/blob/master/README.md

[2019-10-02 15:28] jopit commented on #585
The running status in the IDEs reflects the status that PFE reports via the web socket.  If the status in the IDEs is going from starting to running to stopped and back to running, it's because that's the sequence of the change events coming from PFE.

[2019-10-02 16:19] lentheivendra commented on #451
I'll be looking at this

[2019-10-02 16:42] sishida opened #605 "Doc: Support odo project style via extension"
Documentation for odo.

[2019-10-02 16:54] sishida commented on #49
@deboer-tim @henrynash @tetchel

What if we added extension info, such as explaining the overall extensions concept, to this file?
https://www.eclipse.org/codewind/gettingstarted.html

If this sounds good, I will open a new issue. Please let me know. Thank you!

[2019-10-02 17:06] tetchel commented on #49
The reason we don't have documentation for extensions in general is that the Appsody extension, and the new extension we are developing, are meant to be included in Codewind - not installed by users. Having the users install the Appsody extension by hand was temporary and has not been the case since I believe our 0.3 release.

At this time, extensions (and certainly their install process) are mean

[2019-10-02 17:14] sishida commented on #436
@tetchel Closed based on a Slack post. Looking at it again, however, I have reopened the issue.

[2019-10-02 17:22] sishida commented on #596
@tetchel Thank you for the clarification! I see the README content in the marketplace now.

[2019-10-02 17:24] sishida commented on #596
Maybe pull in some of the content from the https://www.eclipse.org/codewind/ home page that addresses the Codewind benefits?

[2019-10-02 17:26] tetchel commented on #570
This data would have to be provided by the backend, first. The source name is not included in the current response from the /templates endpoint.

[code]

[2019-10-02 17:28] #243 closed

[2019-10-02 17:39] johnmcollier opened #606 "Use the typescript filewatcher in Theia on Kube"
For the "Codewind in Che" scenario, we're currently making use of the [Golang-based filewatcherd utility](https://github.com/eclipse/codewind-filewatchers/tree/master/Filewatcherd-Go) for file watching, rather than something that's pulled into the editor extensions (like https://github.com/eclipse/codewind-filewatchers/tree/master/Filewatcherd-TypeScript).

After the 0.5.0 release, to keep things

[2019-10-02 17:42] tetchel commented on #595
Let me know when this is finished; currently the VS Code "add template source" wizard will only allow http(s) URLs.

[2019-10-02 18:27] tetchel opened #607 "Unable set desired workspace location for codewind."
@AnilKumarBandi27 commented on [Wed Oct 02 2019](https://github.com/eclipse/codewind-vscode/issues/217)

After installing the codewind extension in vscode-server the default workspace is creating inside the root directory. unable to change the workspace location. Workspace location is hardcoded inside the codewind extension.

[2019-10-02 18:27] tetchel commented on #607
Yes, this is by design due to how we mount the project code into the application containers.

We are currently working on removing the workspace restriction because we know it is no fun for users.

[2019-10-02 18:27] #607 closed

[2019-10-02 18:33] tetchel commented on #590
turbine knows the contextroot, should turbine add the context root so the app url is one that will actually work?

Otherwise, perhaps we should name it to `appBaseURL`.

[2019-10-02 18:38] GeekArthur commented on #590
We decide not to add context root since context root can be updated by user, so we can name it to `appBaseURL`, let me update the design above

[2019-10-02 18:42] jopit opened #608 "Include template source name in response from the /templates endpoint"
This is needed to support https://github.com/eclipse/codewind/issues/570 where @deboer-tim wants us to allow the user to distinguish between templates with the same name that come from different sources.

[2019-10-02 18:42] johnmcollier commented on #566
Another alternative is to base PFE off of the `quay.io/buildah/stable:v1.11.1` docker image. It's based on fedora and would give us a consistent, official, and easy-to-upgrade version of buildah.

[2019-10-02 18:46] jopit commented on #570
Opened #608 for the portal work

[2019-10-02 19:00] jopit opened #609 "Provide name for Kabanero template source"
Now that we have names as well as descriptions for template repositories, we need the name attribute added to the kabanero repo information returned by portal from here:
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L32

The simplest thing is to change what is currently the description to the name and then provide a better description.

This is needed to compl

[2019-10-02 19:03] jopit commented on #609
Doc involvement is to provide a better description for the description attribute, not to document this issue in the codewind docs.

[2019-10-02 19:37] eharris369 commented on #590
Eclipse PR: https://github.com/eclipse/codewind-eclipse/pull/334

[2019-10-02 19:41] sishida commented on #243
If this issue is closed, does that mean we need to remove the Troubleshooting section in this PR https://github.com/eclipse/codewind-docs/pull/93/files because it is no longer relevant?

[2019-10-02 19:43] tetchel commented on #243
it is possible for users to hit this issue if they import the project as the wrong type, so we should leave that in. I closed the issue because there is nothing further to fix

[2019-10-02 19:43] j-c-berger commented on #527
@micgibso Given that this issue was opened in June, is it obsolete? In the past several weeks, we've changed directions and generated new ideas for Codewind guides, so I wanted to confirm if this issue were still relevant before beginning much work on it.

[2019-10-02 19:48] sishida commented on #596
@rtaniwa Hi, Rob, I brought up this issue in the Plugins/IDEs/Editors meeting today, and the team and I were wondering if you could please let us know more details about what you'd like the updated marketplace pages to look like/what sort of content to include?

For example, would you like more marketing-like content, such as how on the Codewind.dev home page we highlight Codewind benefits but not

[2019-10-02 19:59] j-c-berger commented on #596
@sishida I can work on the Eclipse part of this issue.

[2019-10-02 20:07] GeekArthur commented on #590
Turbine PR: https://github.com/eclipse/codewind/pull/601
ODO extension PR: https://github.com/eclipse/codewind-odo-extension/pull/4

I test the change on Turbine side, `appBaseURL` is successfully added as new field in the <project ID>.inf file.
[code]

[2019-10-02 20:34] sishida commented on #272
Today I looked at other open source projects and noticed folders for logos/artwork in the main repos of the projects. I don't think we need a separate repo for media. Rather, a media folder in the main `codewind` repo should be good.

[2019-10-02 21:01] GeekArthur opened #610 "Project extension improvement in Turbine layer"
**Description of the enhancement:**

In today's Turbine layer we have code like this for extension project type:
[code]
Instead of burning extension specific code into Turbine layer, we can define generic function in extension interface then all extensions can implement the function in their own class.

For example:

In extension interface we can have:
[code]
Then implements the function in extens

[2019-10-02 21:04] GeekArthur commented on #610
I can take a look at this issue.

[2019-10-02 21:09] henrynash commented on #49
Ah, right! That's the bit of info I didn't have....agreed, therefore, that no doc changes are required.

[2019-10-02 21:34] GeekArthur commented on #605
Need documentation to let user add additional rules for accessing OpenShift resources to support ODO extension feature.
Reference issue: https://github.com/eclipse/codewind/issues/452

[2019-10-02 21:40] GeekArthur commented on #605
I draft up a simple instruction for adding additional rules for accessing OpenShift resources to support ODO extension feature, we can polish this later for users.

Steps to add additional rules:
1 In your home directory, run the following command to clone the ODO extension repository
[code]
2 Login to your OpenShift/OKD cluster
3 Go into `~/codewind-odo-extension/odo-RBAC` then run the following

[2019-10-02 21:45] GeekArthur commented on #605
@sishida Please let me know the usual documents/places that need to be documented when we release new feature, we can work on that together, thanks

[2019-10-02 22:00] GeekArthur commented on #450
Please assign this issue to me.

[2019-10-02 22:27] GeekArthur commented on #452
ODO documentation: https://github.com/eclipse/codewind/issues/605

[2019-10-03 08:12] micgibso commented on #579
First phase of this work, describe local, remote, and hybrid development, see PR https://github.com/eclipse/codewind-docs/pull/166

[2019-10-03 08:17] jcockbain96 commented on #609
Picking this up, could you assign me @tobespc?

[2019-10-03 08:17] jcockbain96 commented on #608
Picking this up, could you assign me @tobespc?

[2019-10-03 08:50] micgibso commented on #527
@j-c-berger Yes, this issue is obsolete and can now be closed.
@sishida If you could do the honours and close it out, that would be great, thank you.

[2019-10-03 09:44] NikCanvin opened #611 "Express Node.js template/vanilla app fails, on fresh Codewind 0.4.0 vscode install"
**Codewind version:** 0.4.0
**OS:** Mac

**Che version:** n/a
**IDE extension version:** 0.4.0
**IDE version:** vscode 1.38.1
**Kubernetes cluster:** n/a

**Description:**
I did a clean install of Codewind, via the vscode plugin
Click to create vanilla Express Node.js App from template

**Steps to reproduce:**
1. fresh install of codewind 0.4.0 in VSCode on Mac
2. click to create Express Node.js A

[2019-10-03 10:03] markcor11 commented on #489
PR with updates to Deployment command to store AUTH connection details: https://github.com/eclipse/codewind-installer/pull/135

[2019-10-03 10:41] micgibso commented on #579
Second phase, see https://github.com/eclipse/codewind/issues/393

[2019-10-03 11:11] j-c-berger commented on #552
Please see my description below for the Kabanero source template. I am happy to make any changes if anyone sees fit. Just let me know, thanks:

Kabanero, an open source project, brings together open source technologies into a microservices-based framework. Kabanero builds cloud native applications ready for deployment onto Kubernetes and Knative.

[2019-10-03 12:44] jcockbain96 commented on #608
I've added this as part of that PR, it will return `source: {repoName}` if a repoName exists in the repository list. https://github.com/eclipse/codewind/pull/602/files#diff-395b0c2bf7f52e9b39e91bb2d4991d15R379

[2019-10-03 12:47] jcockbain96 commented on #609
I've updated that default list - https://github.com/eclipse/codewind/pull/602/files#diff-395b0c2bf7f52e9b39e91bb2d4991d15R34.

[2019-10-03 12:49] #527 closed

[2019-10-03 13:03] sishida commented on #552
@makandre Here's the short description for the Appsody source template:
Use Appsody in Codewind to develop applications with sharable technology stacks.

What do you think? I remember you mentioned stacks are an important point, so I was sure to mention those. Please let me know if you have suggestions for additions/changes. I'll also send the description to Kyle C. Thanks!

[2019-10-03 13:04] tetchel commented on #609
Looks like it is done here https://github.com/eclipse/codewind/issues/552#issuecomment-537899836

[2019-10-03 13:10] eharris369 commented on #557
For eclipse, I would prefer that test is separate from set.  In general any dialog in Eclipse does not do anything permanent until the user finishes the dialog.  It would be nice if the user could do a test in the dialog to check that they have not made a typo and then when they click Finish or OK, that's when set is called.

[2019-10-03 13:11] tetchel commented on #557
We decided to keep test and set separate

[2019-10-03 14:29] #586 closed

[2019-10-03 15:04] lentheivendra commented on #595
@tobespc Please review PR #598

[2019-10-03 15:42] sishida commented on #393
1. Click Cloud with plus sign (add remote connection). The "Add remote connection" window appears.
2. Enter a name for your connection and click "Enter" to create the remote connection. The remote connection page appears.
3. From this page...
- Two remote connections are required: where your project is being created and your connection to the cloud.
   - To be deployed: Where your project is being

[2019-10-03 15:47] jopit commented on #597
@makandre assigning this to you

[2019-10-03 16:00] makandre commented on #552
@sishida It sounds ok to me, thanks.

[2019-10-03 16:36] tetchel commented on #609
We are supposed to use the description from [here](https://github.com/eclipse/codewind/issues/552#issuecomment-537899836), not `The default set of templates from Kabanero Collections`

[2019-10-03 16:36] maysunfaisal opened #613 "Turbine tests broken"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
`npm run unit:test` fails with

[code]

**Steps to reproduce:**
Switching to commit before the ODO PR (`added a test for getting name and description from templates.json`)
[code]

-> Ran tests, it was fine.

Adding ODO PR first commit (`odo extension`)
[code]

-> Ra

[2019-10-03 16:43] maysunfaisal commented on #613
I didnt see it in the PFE log, so dont think this is an actual issue with the product

but only on nyc mocha execs:

[code]
[code]

[2019-10-03 16:54] jcockbain96 commented on #609
Cool, that was my placeholder so can raise another PR

[2019-10-03 17:05] sishida commented on #159
@thisguy-1 I see the last update for this issue is in August--is this issue still relevant, or should we close it? Please let me know. Thanks!

[2019-10-03 17:27] j-c-berger commented on #605
I'm happy to work on this issue, thanks!

[2019-10-03 17:35] sishida commented on #78
For a future iteration, not 0.5.0.

[2019-10-03 17:46] maysunfaisal commented on #613
Found the issue:

it is because of https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/utils/kubeutil.ts#L23

Removing that import from the `odo extension` commit `82be6aaf7725bdf50382051cca695bec44fc2677` solves the issue.

However, the PR has two more commits, so those would need to be checked as well

[2019-10-03 17:51] rajivnathan commented on #613
@jingfuwang why do we need the project handler to get the app name here? Shouldn't that be in the projectInfo already? If not, should it be added to the projectInfo? Either way, doesn't seem necessary to import `projectExtensions` here?

[code]

[2019-10-03 17:54] lentheivendra opened #614 "Portal/IDE should handle github redirects for project template repo URLs"
**Description:**
When creating a project and choosing a template, if the github repo the template points to has moved (and therefore github redirects to the new url), the Codewind IDE shows error blow, and the indicator for the project creation wizard/process stays up:
Error creating new project: 2019/10/03 17:30:05 unexpected status code: 301 Moved Permanently

Codewind should be able to handle g

[2019-10-03 17:56] tetchel commented on #614
I think it's the installer that has to follow the redirect to the new repo when it downloads the code.

[2019-10-03 17:56] maysunfaisal commented on #613
I think this is using the odo command to get app name because Turbine's project name is Odo's component name, and here the app name is the actual Odo's app name

[2019-10-03 17:58] thisguy-1 commented on #159
I want to revisit this with @elsony . I was under the impression that this was being done but I'm not sure if it was ever implemented.

[2019-10-03 18:00] tetchel commented on #159
we have not made any code changes for this because we are not totally sure what to do - is the requirement "hide the app status until the initial build has completed"?

[2019-10-03 18:03] sishida opened #615 "Keeping track of links and docs"
**Description of the enhancement:**
It would be good to keep track of where we link files. For example, we not only link Codewind Markdown files to other Codewind Markdown files on Codewind.dev, but we also link from the VS Code Codewind extension UI to docs pages on Codewind.dev. If we delete or update a file, it'd be good to know where it's been linked from so that we can remove or edit the link

[2019-10-03 18:04] thisguy-1 commented on #159
Yes. Since it would say "stopped" before, which is confusing, then "Building-xyz" should be all they see for the first build.

[2019-10-03 18:07] thisguy-1 commented on #159
In the overview page, for the initial build, it should say "unknown - waiting for build", per @elsony  instructions. Not sure if should just say "waiting for build". Hope Elson can share his thoughts.

[2019-10-03 18:09] eharris369 commented on #209
This is fixed in Eclipse 2019-09.

[2019-10-03 18:11] jopit commented on #159
If we only want to do this for the initial build, I believe it requires a change in PF, right @elsony?

[2019-10-03 18:15] thisguy-1 commented on #552
I think it should include something about end to end. Like that it includes Tekton Pipeline runs. Also what is it opptomized for? Like what is the value add? If it's sitting next to appsody source and the ODO source, how am I reassured that I made the right choice, or why my Champ picked this over other collections. We dont have to go into detail. But couldnt what is said above be said about any o

[2019-10-03 18:19] ssh24 commented on #505
@maysunfaisal This can now be closed.

[2019-10-03 18:20] jagraj commented on #209
Verified on 2019-09 and I no longer see NPE.

[2019-10-03 18:20] #209 closed

[2019-10-03 18:21] #505 closed

[2019-10-03 18:30] elsony commented on #159
Yes, I think the proposal was we'll only show the build status (but not the app status) at the initial build.  The way to achieve that is that we'll set the project app status to unknown and the IDE will use that to decide not showing the application status.  After the initial build is complete and we start the application, we'll update the app status to something else other than unknown and then

[2019-10-03 18:38] GeekArthur commented on #613
Maysun's explanation is correct. We run the get app script inside project folder that has its own .odo, so only get the app name for the component.

[2019-10-03 18:40] GeekArthur commented on #613
I like Rajiv's suggestion, but that's not related with the `Turbine tests broken`, that's a separate issue.

[2019-10-03 19:23] #608 closed

[2019-10-03 19:32] maysunfaisal opened #617 "[Iterative Dev] Handle FilewatcherD timeout logic"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Due to all the hyrbid changes coming in with the removal of Che PVC from PFE and the switch to API for registry; the filewatcherD timeout feature may be lost

We should probably look to either mange to keep it or remove the logic, if filewatching from Portal does no

[2019-10-03 19:38] maysunfaisal opened #619 "[odo] [Iterative Dev]Turbine ODO Unit Tests"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

There needs to be unit tests for the ODO Extensions in Turbine for any new functions introduced.

**Proposed solution:**

[2019-10-03 19:38] maysunfaisal commented on #619
cc @jingfuwang @lentheivendra

[2019-10-03 19:59] eharris369 commented on #538
This appears to be a problem with PFE.  The interesting thing is that I can only reproduce it after a fresh install of Codewind.  If I remove the project and add it again then the logs are fine.

[code]

[2019-10-03 20:01] eharris369 commented on #538
Full log file: [logs.txt](https://github.com/eclipse/codewind/files/3687836/logs.txt)

[2019-10-03 20:15] GeekArthur commented on #451
I will take look at this and Len will keep working on generating templates and ensure everything of `IDE -> Portal` works fine. Please assign this issue to me.

[2019-10-03 20:28] #397 closed

[2019-10-03 20:49] GeekArthur commented on #590
Verified, access app through ingress works perfect! Thanks IDE team.

[2019-10-03 21:12] deboer-tim commented on #159
I think that's a great first step, but IMHO we need to find a couple more afterward. e.g. finding cases where X run state and Y build state can be merged into simpler text, or shortening longer descriptions like "Building - Building image container" (I just made that up) to just "Building image".

[2019-10-03 21:24] elsony commented on #595
@tetchel PR #598 has been merged.

[2019-10-03 21:50] #597 closed

[2019-10-04 01:57] tetchel commented on #595
I allowed file:// URLs but I get this error when I POST it to templates/repositories:

`StatusCodeError: 500 - "connect ECONNREFUSED 127.0.0.1:80"`
pfe logs:
[code]

[2019-10-04 10:55] micgibso commented on #473
Getting started with VS Code and Eclipse enhanced under issue #523 referenced above.

[2019-10-04 12:37] j-c-berger commented on #552
@thisguy-1 thanks for the suggestions. I'll work on revising it and implementing your feedback.

[2019-10-04 13:24] lentheivendra commented on #595
@tetchel maybe there are code paths in portal that need updating for supporting file://, with my patch the /api/v1/templates API was able to process index.json files provided as file:// URLs.  I'll take a look around.. @tobespc any ideas of where else besides https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L352 updates are needed for this?

[2019-10-04 13:58] #593 closed

[2019-10-04 14:10] tetchel commented on #595
it's [this call](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L249) to [this function](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L454) which still assumes http(s).

[2019-10-04 14:18] tetchel commented on #552
I see that Jake is working on the kabanero description, and Sarah has helped source an Appsody one, but how about Codewind as in the original issue description? :)

[2019-10-04 14:22] tetchel opened #621 "Appsody template source is no longer available initially"
The dynamic Appsody template source is no longer available on a fresh Codewind startup, if `repository_list.json` did not exist or did not contain Appsody previously.

On Codewind startup, the Codewind Default and Kabanero Collections sources are in the repository_list, but Appsody is not, so it does not appear in the initial Template Source Selection prompt, or in the Template Source Manager. (th

[2019-10-04 14:27] tetchel commented on #614
It looks like template sources will have the same problem; 200 only is expected, and the option to follow redirects is not used.

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L327

`asyncHttpRequest` does not follow redirects, though `asyncHttpDownload` does.

[2019-10-04 14:27] sishida commented on #552
@tetchel Thanks for reminding us that we need a Codewind description, too. 😆Other than Codewind being the default set of templates, is there anything else we want to highlight about it or say about it to set it apart from the others?

Right now I'd just say something like, "Use the default Codewind templates to create projects in Codewind."

[2019-10-04 14:28] eharris369 commented on #469
After discussing this we decided that the best thing to do is to have a better message when this fails telling the user to wait for operations that may be holding on to resources to complete and then try deleting the project from the Project Explorer view.
https://github.com/eclipse/codewind-eclipse/pull/340

[2019-10-04 14:29] thisguy-1 commented on #552
I'm not sure we are supposed to use the word default. Because technically these are IBM stacks, that would show favoritism towards one technology over another... can anyone confirm?

[2019-10-04 14:32] sishida commented on #605
ODO is a CLI like Appsody. I don't know if we want to add a new doc section for CLIs or what, but here's where Appsody is mentioned in our doc files so far:
- https://www.eclipse.org/codewind/mdt-vsc-overview.html
- https://www.eclipse.org/codewind/troubleshooting.html

[2019-10-04 14:40] j-c-berger commented on #552
Revised Kabanero description, and I'm happy to change it again. However many times it takes!:

Use Kabanero to generate Appsody stacks that provide frameworks for Codewind to develop code, then Tekton pipelines to deploy this code onto OpenShift cloud. Kabanero ensures a smooth end-to-end process among Appsody, Codewind, and Tekton.

@sishida if we don't want to use "default" maybe it could be som

[2019-10-04 15:00] sishida commented on #552
Instead of "default"...would it be fair/valid to say that the Codewind templates would be good for those just starting out or new?

For example..."Use Codewind to create projects with an IDE. If you're not sure where to start, check out the Codewind templates." ?

[2019-10-04 15:21] johnmcollier opened #622 "Update Codewind sample projects to use Deployments in the `apps/v1` API group"
Kubernetes 1.16 was recently released which includes the deprecation of Deployments in the `extensions/v1beta1` API group and that Deployments in the `apps/v1` API group should be used instead.

Codewind itself is fine, as both the PFE and the Performance dashboard deployments run in the `apps/v1` API group. However, the Helm charts in our project samples still use `extensions/v1beta1` and should

[2019-10-04 15:40] deboer-tim commented on #552
I've been trying to respond to this for an hour, but keep getting interrupted and there are more comments to respond to. :)

The Codewind templates were mostly created by IBMers (us) and match the pattern used by the IBM public cloud, but we've done our best to remove IBM runtimes and have a variety of open source runtimes & content. We support multiple styles and don't want to play favourites or

[2019-10-04 16:26] sishida commented on #350
See these README files for the instructions:
🌯 Codewind: https://github.com/eclipse/codewind/blob/master/README.md
🍣 Codewind VS Code: https://github.com/eclipse/codewind-vscode
🍛 Codewind Eclipse: https://github.com/eclipse/codewind-eclipse/blob/master/README.md
Closing this issue.

[2019-10-04 16:26] #350 closed

[2019-10-04 18:47] lentheivendra commented on #595
Ok will try similar changes to that function

[2019-10-04 19:43] makandre commented on #321
May need this https://github.com/eclipse/codewind/issues/590

[2019-10-04 20:09] eharris369 opened #625 "Error running status on Windows with latest CLI"
When I try to run status with the latest CLI on Windows I get:

C:\tmp>cwctl-win.exe status
2019/10/04 16:04:57 {"error":"sec_schema","error_description":"Target deployment not found"}

C:\tmp>echo %errorlevel%
1

Buildinfo for installer I pulled down is:
[code]

Note that I had nothing installed when I ran it (docker images returns empty list).

[2019-10-04 20:18] j-c-berger commented on #605
@GeekArthur thank you for including the steps you've written. You mentioned " adding additional rules" for accessing OpenShift resources. Are there additional steps I should I include? If so, are they written somewhere for me to access?

Do you or your team also have an idea as to where these steps will be published? Thanks!

[2019-10-04 20:37] GeekArthur commented on #605
@j-c-berger No additional steps, but we may polish the instruction later on (eg. grammar, terminology, etc). Currently it's only under this issue, from Sarah's Appsody list, seems like we can publish the instruction I wrote in ODO extension repository: https://github.com/eclipse/codewind-odo-extension.

General idea regarding documentation locations:
- Since ODO extension only supports Kube case,

[2019-10-04 20:39] GeekArthur commented on #605
@sishida I think same idea as Appsody, we don't need add a new doc section

[2019-10-07 12:51] travis1111 commented on #173
@sishida we don't have this MD file linked on our landing page anymore, do we still need this?

[2019-10-07 13:38] stalleyj commented on #396
Rather long stack trace from latest run shown below:-

Cloning https://github.com/microclimate-dev2ops/swiftTemplate.

Cloning into 'swiftTemplate'...
remote: Enumerating objects: 113, done.
remote: Total 113 (delta 0), reused 0 (delta 0), pack-reused 113
Receiving objects: 100% (113/113), 31.35 KiB | 194.00 KiB/s, done.
Resolving deltas: 100% (22/22), done.
/Users/stalleyj/Development/codewind/sr

[2019-10-07 14:12] ssh24 commented on #396
@stalleyj This was because of a breaking change that went in and broke the tests. The fix should be in. Could you please pull again and try running the test?

[2019-10-07 14:28] sishida commented on #173
@travis1111 I think the general question of the OS detection for the entirety of Codewind.dev still stands--do we know how easy/difficult or how feasible that would be?

[2019-10-07 14:32] rajivnathan opened #627 "UnhandledPromiseRejectionWarning when setting an invalid log level"
**Description:**
From the test logs
[code]

**Steps to reproduce:**
This was seen by running the Turbine unit tests but you should be able to reproduce by calling the Turbine setLoggingLevel API with an invalid level.

[2019-10-07 15:00] stalleyj commented on #396
I get 7 failures on your latest commit:-

  225 passing (23s)
  7 failing

  1) PFE - unit test
       actions module
         combinational testing of validate function
           combo6 => validate: microprofile project with missing server.xml:

      AssertionError: expected 'TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be one of type string, Buffer, or URL. Received type undefine

[2019-10-07 15:05] travis1111 commented on #173
It is not hard, but not 100% accurate.  Do we have any docs that need this at this moment?

[2019-10-07 15:05] sujeilyfonseca opened #628 "SVT: Runtime error in latest Codewind for VS Code"
**Codewind version:** 0.5.0
**OS:** macOS Mojave (10.14.6)

**IDE extension version:** 0.5.0
**IDE version:** 1.38.1

**Description:** Runtime error in latest Codewind for VS Code

<img width="443" alt="Screen Shot 2019-10-07 at 10 38 35 AM" src="https://user-images.githubusercontent.com/49531960/66322625-6c671200-e8f0-11e9-9570-3db23c07f632.png">

**Steps to reproduce:**
On Friday, I got the late

[2019-10-07 15:08] ssh24 commented on #396
I haven't seen them before. @maysunfaisal do you know what might be causing this?

[2019-10-07 15:11] makandre commented on #594
I'll handle this

[2019-10-07 15:11] makandre commented on #593
PR merged

[2019-10-07 15:30] sishida commented on #512
@kimholmes Could we work on the headings/subheadings design separately from the rest of the docs redesign? I don't think any other pieces of the redesign are dependent on the headings designs, so it'd be good if we could work on the headings sooner. :)

[2019-10-07 15:35] sishida commented on #173
@thisguy-1 I'm going to close this issue because the "Get started" page file is no longer in use in the table of contents. If we have another file that needs OS detection, let's open a new issue then.

[2019-10-07 15:35] #173 closed

[2019-10-07 16:10] ssh24 commented on #627
I only see
[code]
@rajivnathan  Which test did you run to see this?

[2019-10-07 16:11] ssh24 commented on #613
@maysunfaisal This can be closed now

[2019-10-07 16:25] #613 closed

[2019-10-07 18:13] eharris369 commented on #625
I forgot to remove deployments.json so this is probably a dup of another issue.

[2019-10-07 18:19] GeekArthur commented on #447
@elsony Confirmed with TimE, currently we don't have option to let user shell into application container on Kube, on our side, we are able to provide the API to send container name back to support the feature, but product doesn't have the feature for now.

[2019-10-07 18:22] GeekArthur commented on #447
And the reason is IDE doesn't have access to `kubectl`

[2019-10-07 18:22] GeekArthur commented on #447
I think we may close this issue due to the limitation above.

[2019-10-07 18:31] elsony commented on #447
Closing due to current limitation on Codewind with no Kube shell into container support.

[2019-10-07 18:31] #447 closed

[2019-10-07 18:47] jopit commented on #628
As a workaround, try deleting ~/.codewind/config/deployments.json

[2019-10-07 19:08] #594 closed

[2019-10-07 19:54] tetchel commented on #628
https://github.com/eclipse/codewind/issues/625 ?

[2019-10-07 20:08] sujeilyfonseca opened #630 "SVT: Fatal error when starting Appsody Eclipse MicroProfile projects"
**Codewind version:** 0.5.0
**OS:** macOS Mojave (10.14.6)

**IDE extension version:** 0.5.0
**IDE version:** 1.38.1

**Description:** Fatal error when starting Appsody Eclipse MicroProfile projects
[code]

**Steps to reproduce:**
1. Install Codewind
2. Start Codewind
3. Create an Appsody Eclipse MicroProfile project

**Logs:**
[appsody.log](https://github.com/eclipse/codewind/files/3699250/appsod

[2019-10-07 20:09] deboer-tim opened #631 "Retagging makes it look like Codewind is twice as big"
When people run 'docker images' they see two copies of every image in Codewind, one with and one without the eclipse prefix:
   eclipse/codewind-pfe-amd64     0.4.0            224a9df6df08  ...
   codewind-pfe-amd64             0.4.0            224a9df6df08 ...

First, this looks a bit cluttered and it takes a second to notice the image id and realize that they're the same thing. Second, a couple

[2019-10-07 20:10] deboer-tim commented on #631
https://github.com/eclipse/codewind-installer/blob/3720bedca0cf25f9246bcd8dd50384317bc4af32/actions/install.go#L22

[2019-10-07 20:11] tetchel opened #632 "Issues with VS Code Project Commands page"
I was looking through https://www.eclipse.org/codewind/mdt-vsc-commands-project.html when adding a link to the Project Settings sections and noticed a few issues.

1. "Open folder as workspace:"
This command has been removed, and replaced with the more intuitive "Add Project to Workspace". Here's a description for the new command:
[code]

2. Open Performance Dashboard
This command is missing! We h

[2019-10-07 20:16] ssh24 commented on #627
@rajivnathan Could you please assign this to me?

[2019-10-07 20:17] makandre commented on #621
I'll take this

[2019-10-07 20:18] #590 closed

[2019-10-07 21:03] #196 closed

[2019-10-07 21:20] ssh24 commented on #627
@rajivnathan This can be verified and closed now

[2019-10-08 09:27] micgibso commented on #632
@sishida I'll take a look at this one, thanks

[2019-10-08 11:00] micgibso commented on #632
@tetchel See PR https://github.com/eclipse/codewind-docs/pull/172

[2019-10-08 13:11] tetchel commented on #557
Is this done?

[2019-10-08 13:12] #534 closed

[2019-10-08 14:14] maysunfaisal commented on #396
@ssh24

I am seeing the same errors as Julie in the nightly run:

[code]

[2019-10-08 14:48] tetchel commented on #615
here's the list of doc pages that VS Code links out to: https://github.com/eclipse/codewind-vscode/blob/master/dev/src/constants/Constants.ts#L21

[2019-10-08 15:25] hhellyer opened #635 "Project Types API tests failing on master"
The project types API test is failing on master:

https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/128/console

it seems to be because of the project type `appsodyExtension` in the list of project types.

[2019-10-08 17:29] rajivnathan commented on #627
Don't see the error in the latest run: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-554/30/consoleFull
Thanks Sakib!

[2019-10-08 17:29] #627 closed

[2019-10-08 18:08] sujeilyfonseca commented on #628
I downloaded the latest Codewind today and did not reach this error either on Mac or Windows.

[2019-10-08 18:10] #628 closed

[2019-10-08 18:10] tetchel commented on #625
sujeily said she couldn't reproduce this anymore, does it work for you now?

[2019-10-08 18:17] elsony commented on #610
The same clean up needs to be done on portal and installer.

[2019-10-08 18:34] rajivnathan commented on #635
Is this a dupe of #621?

[2019-10-08 18:35] makandre commented on #635
There was a bug in the appsody extension, which is now fixed with https://github.com/eclipse/codewind-appsody-extension/pull/35

Tests should pass if you rerun them now.  Sorry for the inconvenience.

[2019-10-08 18:48] #621 closed

[2019-10-08 18:50] sghung opened #638 "Investigate running a codewind PR build on appsody extension updates"
See whether builds across another repo can be kicked off. In addition, because appsody releases are picked up by codewind, we need a way to download the PR binary.

[2019-10-08 18:50] sghung commented on #638
There is a github API for getting a particular PR as a zip. For example:
https://api.github.com/repos/eclipse/codewind-appsody-extension/zipball/pull/33/head

[2019-10-08 19:01] makandre commented on #610
I also noticed that a `OdoExtensionProject.ts` class was added, but I wonder if the extra functions in this class could be consolidated back to the generic `ShellExtensionProject.ts` class so there isn't an ODO specific class type.  Just a thought.

[2019-10-08 19:31] GeekArthur commented on #610
@makandre I think this can be boiled down to `Merge all extensions into same class and add lots of conditions into the same class for different extensions` VS `Use extension specific class to implement the same interface`. In my opinion, I would go for the latter for simplicity and scalability.

[2019-10-08 19:41] makandre commented on #610
Well in that case, could we at least rename the class to be less ODO specific?  Perhaps something like (for lack of better name) `ShellExtensionProject2.ts`, or a better name of your choosing.

[2019-10-08 20:08] GeekArthur commented on #610
For naming, I think if we choose the latter as I mention above. Given we have a generic interface `IExtensionProject`, then it makes sense we have extension specific naming for the class to implement the interface because it's easier to read. I think the key point from Elson is try to not burning the extension specific stuff into the generic stuff like `Portal`, `Installer`, `Turbine`. But I can b

[2019-10-08 20:44] ssh24 opened #640 "Fail to remove project if the log streaming is on"
**Codewind version:** Master (could affect released versions as well)
**OS:** Mac OS

**Che version:** 7.0.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OpenShift

**Description:**
If you live stream the logs from theia editor and keep it open and without closing it disable/delete project from the dropdown or from the project overview, the project deletion fai

[2019-10-08 20:45] tetchel opened #641 "Missing space in Codewind for VS Code page title"
![image](https://user-images.githubusercontent.com/8888438/66431927-fdbaaf00-e9ea-11e9-85e4-7ba34d802a51.png)

`Codewindfor VS Code`

[2019-10-08 20:45] ssh24 commented on #640
I recall seeing an issue for this previously and I thought it was fixed by portal but couldn't find it. Not sure if it was in Codewind or Microclimate but this is a high-priority stopship IMO.

[2019-10-08 20:48] tetchel commented on #299
is this still valid?

[2019-10-08 20:57] tetchel commented on #640
GHE issue portal/1065

[2019-10-08 21:02] ssh24 opened #642 "[ODO] Python project won't come up started"
**Codewind version:** Master
**OS:** MacOS

**Che version:** 7.0.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OpenShift

**Description:**
Create a ODO python project, the build finishes fine but the app won't come up. On the turbine log it is stuck here
[code]

And on the odo-app.log file
[code]

**Steps to reproduce:**
1. Install the ODO extension (do all th

[2019-10-08 21:08] ssh24 opened #643 "[ODO] Python project failing to build after re-enabling"
**Codewind version:** Master
**OS:** MacOS

**Che version:** 7.0.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OpenShift

**Description:**
After disabling a python project and re-enabling it the build fails
[code]

**Steps to reproduce:**
1. Install the ODO extension (do all the prereq setup).
2. Create a odo python project.
3. Disable the project.
4. Re-enabl

[2019-10-08 21:14] ssh24 commented on #642
Actually, I just checked and looks like the repository link for python project in the extension points to a Perl project instead. It shows file that are from here https://github.com/sclorg/dancer-ex instead of https://github.com/sclorg/django-ex

[2019-10-08 21:15] ssh24 commented on #643
This could be related to the comment in https://github.com/eclipse/codewind/issues/642#issuecomment-539707370

[2019-10-09 00:37] makandre commented on #610
The original intent was that you could implement an extension without needing to add a new class into the Codewind codebase; you would just need to have the `.sh-extension` and `entrypoint.sh` files (both of which are part of the extension's codebase)

[2019-10-09 01:38] makandre commented on #564
Discussed with @tobespc today.

We concluded there's no good way to continue support for option 1 once the codewind-workspace mount is gone.  Ultimately, to add a repo a user would need to add the `index.yaml` via Appsody CLI **and** add the corresponding `index.json` via Codewind CLI.

That leaves option 2, meaning users will be expected to only add repos via template manager in IDEs.  But additi

[2019-10-09 08:09] tobespc commented on #640
Remember, portal doesn't actually delete anything anymore.  All deletion is done by turbine for the build artifacts, and then the IDE if you want to remove source.

[2019-10-09 08:26] tobespc commented on #587
this is working ok in 0.5.0

[2019-10-09 08:45] markcor11 commented on #640
I couldn't reproduce this,  seemed to work ok for me.

[2019-10-09 12:40] tobespc commented on #611
this also happens on master branch, setting to stop ship

[2019-10-09 12:49] markcor11 commented on #611
I was able to reproduce this (only with NodeJS).  After stopping "myFirstNodeApp" and doing a new rebuild, the newly rebuilt container and port matched.

[2019-10-09 13:39] jopit commented on #570
This item is complete

[2019-10-09 13:39] #570 closed

[2019-10-09 13:50] tetchel commented on #640
I added the portal tag because that was who fixed it last time; I think it still makes sense to fix it there since portal should stop streaming all logs prior to requesting turbine deletion

[2019-10-09 14:00] tetchel commented on #462
fixed?

[2019-10-09 14:08] GeekArthur opened #646 "Codewind for Eclipse Che Overview Section Enhancement"
**Description of the enhancement:**

In the landing page, currently Overview section of Codewind for Eclipse Che includes lots of stuffs (eg. Prerequisites, Installing, Setup, etc).

**Proposed solution:**

I think it would be better in the Overview section we only have generic overview like features introduction, then create separate sections for Prerequisites, Installing, Setup, etc. So that we

[2019-10-09 14:15] bsbyrd1 commented on #596
@rtaniwa What specific marketplace pages were you thinking of in your original feedback? For example, are these the marketplace pages that need to be updated:

Eclipse: https://marketplace.eclipse.org/content/codewind
VS Code: https://marketplace.visualstudio.com/items?itemName=IBM.codewind

[2019-10-09 14:17] micgibso commented on #641
@tetchel Is this a docs issue? It's not in our source, appears to be in the UI?

[2019-10-09 14:18] maysunfaisal commented on #543
[code]

seen on Oct 9

[2019-10-09 14:20] tetchel commented on #641
it's a typo in the title. https://github.com/eclipse/codewind-docs/blame/master/docs/_documentations/mdt-vsc-overview.md#L3

[2019-10-09 14:27] micgibso commented on #609
Related to #552, same content will resolve both.

[2019-10-09 14:50] eharris369 commented on #625
I can still reproduce this.  If I install and start 0.4.0 with the old 0.4.0 installer and then run the new installer I get:
C:\tmp>cwctl-win-2019-10-09-0837.exe status -j
2019/10/09 10:46:43 {"error":"dep_not_found","error_description":"Target deployment not found"}

[2019-10-09 14:52] micgibso commented on #641
@tetchel Sorry, should've searched the files before typing...will fix and put on a PR.

[2019-10-09 14:54] eharris369 commented on #625
Zip of the .codewind\config dir which includes the deployment.json:
[config.zip](https://github.com/eclipse/codewind/files/3707995/config.zip)

[2019-10-09 15:37] eharris369 commented on #625
I installed 0.4.0 using 0.4.0 installer and then ran a 0.5.0 CLI that I knew was broken to make sure the problem was reproduceable this way but apparently that is what causes the problem so the latest installer also failed. Tried again deleting the bad deployments.json and installing a fresh copy of 0.4.0 and then ran latest 0.5.0 CLI and it worked so closing this.

[2019-10-09 15:37] #625 closed

[2019-10-09 16:30] maysunfaisal commented on #611
![Screen Shot 2019-10-09 at 12 28 59 PM](https://user-images.githubusercontent.com/31771087/66500962-80497a00-ea90-11e9-9c4a-333ab09d88ef.png)
![Screen Shot 2019-10-09 at 12 30 36 PM](https://user-images.githubusercontent.com/31771087/66501025-9ce5b200-ea90-11e9-979c-a474cd378d9c.png)

I dont see it on latest master

[2019-10-09 17:11] sishida opened #647 "0.5.0 Update "New Note & Noteworthy" section"
Adding a file with 0.5.0 updates for the Codewind website "New and noteworthy" section.

[2019-10-09 17:22] rtaniwa commented on #596
@bsbyrd1 yes those are the ones I am referring to.

@sishida I suppose to start with we should probably have some consistency across Codewind extensions. The Eclipse marketplace entry for Codewind has a nice write-up right at the top that talks about the value props and then follows with a list of features. I think that is important, because if you think of how someone might find the plugin...it c

[2019-10-09 17:27] j-c-berger commented on #605
@GeekArthur , thank you for getting back to me. I'll revise the ODO extension repo's README and include the instructions there. I'll have these changes done by early next week, before the release  on the 17th.

Also, do you want ID to make changes or fixes to the troubleshooting page?

[2019-10-09 17:46] GeekArthur commented on #605
@j-c-berger This is the latest update from me:
Need to update three places:
- [ ] Codewind for Eclipse Che section on Landing Page (Need ID team enhance this section then add ODO extension introduction content there, enhancement issue against ID team is here: https://github.com/eclipse/codewind/issues/646)
- [ ] Troubleshooting section on Landing Page (Currently no troubles, will come back to this

[2019-10-09 17:48] GeekArthur commented on #605
@j-c-berger Also you can monitor `ODO Extension Status Report` here: https://ibm.box.com/s/ropq993qfmc7yqu8kz78lig9jtlrayw4, let me know if you have access issue

[2019-10-09 18:15] sishida commented on #552
Iterating for source descriptions in Box note: https://ibm.box.com/s/xwzsg4qpcje7v0ylftzg5sfqn89vdh47

[2019-10-09 18:25] yangcao77 commented on #611
I could not reproduce it on 0.4.0 or latest master.

[2019-10-09 18:38] GeekArthur opened #648 "Update Che namespace for ODO RBAC"
**Description of the enhancement:**

In the RBAC yamls, we’re hardcoding the `eclipse-che` namespace.

**Proposed solution:**

We can make it default to `che` (and also let the user know to override it if their che workspace is in another namespace). `che` namespace is that is where  chectl installs by default.

Latest Che installation instruction is here: https://www.eclipse.org/codewind/installo

[2019-10-09 18:44] j-c-berger commented on #605
@GeekArthur , thank you. No, I cannot access the `ODO Extension Status Report` When I click the link, I am told the file is unavailable to me.

I will review the extension repo once you have finished it, and once I have access to the extension status report, I'll use that to keep myself up to date.

I'll also work on the ODO extension introduction (#646)

[2019-10-09 18:45] j-c-berger commented on #646
@sishida would you please assign this issue to me since I also am working on #605
Thanks

[2019-10-09 19:08] j-c-berger commented on #605
@GeekArthur , to confirm, this issue is for 0.5.0 release whereas #646 is for 0.6.0, correct?

[2019-10-09 19:12] GeekArthur opened #649 "Disable project settings (.cw-settings) for extensions (Appsody and ODO)"
**Description:**
Currently for extensions:

If we emit a projectSettingsChanged event with eg:
[code]
Theia will show it in an error message but actually it's not an error it's because we don't support project settings for extensions. Discussed with @makandre, we propose to disable project settings for extensions (Appsody and ODO) so that to reduce the confusion for user.

[2019-10-09 19:14] keithchong opened #650 "OpenAPI: Update docs for 0.5.0"
**Codewind version:** 0.5.0
**IDE:** Eclipse

This issue is to request documentation updates for Open API Tools

1. This applies to Eclipse. When generating a Java client or server stub into an existing Appsody or Codewind Liberty Microprofile project, there might be a validation error on the pom.xml:

- Plugin execution not covered by lifecycle configuration: org.codehaus.mojo:aspectj-maven-plugi

[2019-10-09 19:18] GeekArthur commented on #605
ID team tag #646 to 0.6.0, but it would be best ID team can finish #646 in 0.5.0 then we can easily add ODO extension/project as our introduction feature to the landing page. Otherwise we can't add our ODO content into the Overview section.

[2019-10-09 19:24] j-c-berger commented on #605
@GeekArthur , understood, thank you!

[2019-10-09 20:42] tetchel commented on #540
@groeges your bug has been fixed in 0.5, and file:// URL support has been added. We are just starting testing now but I can let you know when we publish.

[2019-10-09 21:14] sishida commented on #596
@rtaniwa, Thank you for your reply and clarifications. :)

ID team, It sounds like a good place to start would be to update the introduction of the VS Code Marketplace page to be more like the Eclipse page. We can update the VS Code Marketplace page by updating the `codewind-vscode` repo README: https://github.com/eclipse/codewind-vscode/blob/master/README.md.

[2019-10-09 21:20] sishida commented on #650
- Link to the general/overall issue: general/overall issue is: https://github.com/eclipse/codewind/issues/79 This issue will not be entirely covered for the 0.5.0 release.
- So Keith currently has this issue: https://github.com/eclipse/codewind-openapi-eclipse/issues/60. I have already reviewed the strings for this issue.
- The second point here https://github.com/eclipse/codewind/issues/650#issue

[2019-10-10 03:09] rajivnathan commented on #611
@markcor11 @tobespc Any idea how we can reproduce this?
@elsony FYI

[2019-10-10 03:37] rajivnathan commented on #139
Think we can park this one for now. The internal test dashboard is currently down. The PR build tests need some TLC and there's a lot going on at the moment so don't think we have resources to spare to work on this issue at the moment. Can bring it up again for discussion on a future tech topics call.

@stalleyj unfortunately there have been numerous other PR build issues so I did not want to add

[2019-10-10 08:48] NikCanvin commented on #611
Andy Watson also could NOT reproduce this ... however, he has a theory..

Could be that when the Network is TOO SLOW, then when creating Node.js project for the first time in a new Codewind install, all the packages MAY NOT BE FULLY downloaded before Codewind attempts to start/run the app in a container. We suspect the container is healthy enough to run, but the app stack in it may be incomplete.

[2019-10-10 10:22] markcor11 commented on #489
PR to store authentication credentials in platform keychains : https://github.com/eclipse/codewind-installer/pull/136

[2019-10-10 10:52] micgibso commented on #650
@sishida I can take a look at this.
@keithchong So to confirm, is this a new issue in Troubleshooting?
https://www.eclipse.org/codewind/mdteclipsetroubleshooting.html - seems the best place for it.

[2019-10-10 12:08] sishida commented on #650
@keithchong @micgibso
If this is an issue that we are working on resolving, and if we expect these OpenAPI instructions to become obsolete, let's leave this issue open so users can see it and then just close it when it's resolved instead of updating the Troubleshooting page.

If we do want to update the landing pages, we've also got two OpenAPI pages thus far:
- Eclipse: https://www.eclipse.org/co

[2019-10-10 12:48] tetchel commented on #632
fixed in eclipse/codewind-docs#172

[2019-10-10 12:48] #632 closed

[2019-10-10 12:48] #641 closed

[2019-10-10 13:02] ssh24 commented on #396
@stalleyj Could you please verify the tests are now running ok from the master branch?

[2019-10-10 13:20] jopit commented on #193
Create a new github org called 'codewind-resources'

[2019-10-10 13:27] jopit commented on #564
Investigate if we can make the cli extensible so that it can invoke function in an extension in a generic way.
IDEs would have to call template cli calls instead of the REST APIs (change already in flight for hybrid)
Portal to work with Andrew on how to get this working.

[2019-10-10 13:27] beccabau opened #652 "SVT: Landing page renders incorrectly once it gets past certain dimensions"
*Web browser:* Chrome

**Description:**
I have a widescreen monitor and when I open the codewind homepage, the banner does not render correctly ("Get started" button and the vs code/eclipse/che screenshots get hidden behind the silhouette, and the screenshots also pop into a different orientation):

![image](https://user-images.githubusercontent.com/13971834/66572765-89455480-eb3f-11e9-9c8b-910219

[2019-10-10 13:40] sishida commented on #652
@travis1111 Hi, Travis, Could you please take a look at this website issue? Thank you!

[2019-10-10 13:41] eharris369 opened #653 "[Eclipse IDE] Old, confusing message if Codewind is disconnected"
**Codewind version:** All
**OS:** All

**Che version:** N/A
**IDE extension version:** All
**IDE version:** All
**Kubernetes cluster:** N/A

**Description:**
If Codewind is disconnected for some reason the message that is displayed in the Codewind Explorer view is:
[code]
This is incorrect as there is no Activate menu item.

**Steps to reproduce:**
With the Eclipse IDE running and connected to loc

[2019-10-10 13:44] jopit commented on #566
JohnC to investigate basing on quay.io/buildah/stable:v1.11.1
- is there anything in the buildah image that we don't want
- how frequently are new images created for new versions of buildah
- which fedora version is the image based on

[2019-10-10 13:59] jopit commented on #436
- Add additional diagnostic gathering to cwctl for this case
- Investigate if there's some less destructive way of recovering -- what is `prune -a` doing that restarting the docker engine isn't.
- Can we create a script that does the equivalent of `prune` but only for the codewind images and network?
- Create must-gather instruction or script or command.

[2019-10-10 14:03] travis1111 commented on #652
please assign to me @sishida

[2019-10-10 14:15] maysunfaisal commented on #543
[code]
seen on Oct 10

[2019-10-10 14:16] jopit commented on #193
@elsony can your team take care of creating the new org?

[2019-10-10 14:43] yangcao77 commented on #611
If the network is too slow to start the app, then the status should be `stopped`, instead of showing a wrong port in the UI.

I will take a look into the Turbine code to see if there is any code could potentially causing this issue.
In the mean time, @NikCanvin can you switch the logging level to `trace` and attach the pfe log? So we can investigate more on this issue.
[code]

[2019-10-10 15:03] eharris369 opened #655 "[Eclipse IDE] Add tooltip in Codewind Explorer view once drop support for 4.11 (2019-03)"
A new feature was added to Eclipse 4.12 (2019-06) to support tooltip in common viewers (see Tooltip Support for CommonViewers at: https://www.eclipse.org/eclipse/news/4.12/platform_isv.php).

With tooltip, long error messages from the CLI could be made available directly in the Codewind Explorer view and instead of telling the user to "Check the workspace logs" it could say "Hover for more details

[2019-10-10 15:21] sishida opened #656 "Adding a new section in the table of contents"
The doc content for these three issues looks like it could use its own section in the website table of contents:
- Appsody: https://github.com/eclipse/codewind/issues/292
- ODO: https://github.com/eclipse/codewind/issues/605, https://github.com/eclipse/codewind/issues/646

I'm thinking we could have either...
:one: a new parent topic that appears below the "Developing with Codewind" section and th

[2019-10-10 16:07] ssh24 opened #657 "Codewind Theia Extension stuck in starting on Che"
**Codewind version:** Master
**OS:** MasOS

**Che version:** 7.0.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OS

**Description:**
If you create a workspace in che and wait for the workspace to come up and go in, you will notice that the extension is stuck in `starting` state.

This might be related with the issue where the curl command inside the workspace p

[2019-10-10 16:19] maysunfaisal commented on #657
on latest, @tetchel

[2019-10-10 16:20] tetchel commented on #657
hmm, diffing master vs 0.5.0 i only see test changes

[2019-10-10 17:37] elsony commented on #657
Marking this as stopship since this means Codewind does not work on Che at all.

[2019-10-10 17:43] unaimayo opened #658 "appsody run fails due to project folder permissions"
**Codewind version:** 0.4.0
**OS:** RHEL 7.7

**Che version:**
**IDE extension version:** VS Code
**IDE version:** 1.38.1
**Kubernetes cluster:**

**Description:**
Codewind creates project folder with 700 permissions. `appsody run` fails with this error message:
[code]
If I change folder permissions to 755 it woks just fine.

**Steps to reproduce:**
Create project from NodeJS Express Simple templa

[2019-10-10 18:32] rtaniwa opened #659 "Codewind Getting Started pages don't list prereqs for Docker/Docker Compose"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The Getting Started pages don't reference the prereqs required for local use (Eclipse and VS Code). It should list that it requires Docker/Docker Compose.

**Steps to reproduce:**

**Workaround:**

[2019-10-10 18:46] johnmcollier commented on #659
We should also list the versions of each required, especially as we require Docker 17.05 or higher (and some RHEL systems package a lower Docker version, see https://github.com/eclipse/codewind/issues/343)

[2019-10-10 18:51] tetchel commented on #659
hmm... it definitely used to.

[2019-10-10 19:09] #653 closed

[2019-10-10 19:30] tetchel opened #660 "Logs flooded with same messages"
I see these messages hundreds of times!
[code]

[2019-10-10 19:32] jgwest commented on #659
Oddly enough:
* Markdown in `codewind-docs` DOES include reference to compose:
https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-eclipse-getting-started.md <--
* Actual Eclipse HTML does not: https://www.eclipse.org/codewind/mdteclipsegettingstarted.html

[2019-10-10 19:41] yangcao77 commented on #611
@NikCanvin A couple more questions, are you using VSCode to open the app?
What is the app status shown in VSCode? is it `running` or `stopped`?
Have you tried using the port numebr shown in `docker ps`? Are you able to connect to the app?

[2019-10-10 20:07] johnmcollier commented on #657
0.5.0 comes up fine for me in Che using https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml

But latest is broken with https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml

[2019-10-10 21:00] makandre commented on #658
Being set to 700 here https://github.com/eclipse/codewind-installer/blob/de97a504cc46fc4132f32a8aa1011e5b0b611ad1/utils/download.go#L38

[2019-10-10 21:07] tetchel commented on #657
@eyuen can we remove stopship label if it's not in 0.5

[2019-10-10 22:00] GeekArthur opened #661 "Testing Notification Feature, Please Ignore"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

[2019-10-10 22:01] #661 closed

[2019-10-11 02:44] keithchong commented on #650
@micgibso , I plan to hook in a link to the landing page (at least for Eclipse) from the Eclipse wizard itself.  So maybe the user will search the help first and then think about searching for github issues?   Also, maybe you can link to a specific github issues query from the landing page?

[2019-10-11 10:01] micgibso commented on #650
@keithchong I think users will, as you say, search the help first, so have drafted this issue in the top level Troubleshooting topic under the Open API tools section because it applies to both VS Code and Eclipse, see PR https://github.com/eclipse/codewind-docs/pull/176.

We do have a process in place to check the issues are all still valid prior to each release so it should get picked up when it'

[2019-10-11 11:01] jcockbain96 commented on #614
Taking this on the CLI side, can I be assigned please?

[2019-10-11 13:10] keithchong commented on #650
@micgibso , @sishida

For the troubleshooting, please do the following:

Remove BOTH points of the following points under the workaround section:

- Manually create the output folder before you start the OpenAPI generator wizard. In the wizard, you can manually edit the Output folder text field. Ensure that the path points to a valid folder in the project.
- Or you can use the Browse… button to se

[2019-10-11 13:18] keithchong commented on #650
For the last paragraph, modify it to be something like this:

For non-Java based post-client or post-server stub generation, use a separate output folder for code generation. Depending on the language and the generator type, the OpenAPI generator generates both source code files and build-related files. Some refactoring might be necessary. For example, move the generated source code to the proper

[2019-10-11 13:23] micgibso commented on #650
@keithchong All done, on PR https://github.com/eclipse/codewind-docs/pull/176

[2019-10-11 13:34] tetchel commented on #576
https://github.com/tetchel/codewind-without-che

[2019-10-11 13:47] micgibso commented on #650
@keithchong Have reworked that last sentence slightly, and split it into a new paragraph, see https://github.com/eclipse/codewind-docs/pull/176/files for the latest. Thanks.

[2019-10-11 14:11] ssh24 commented on #657
I am seeing this with 0.5.0 devfile https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml on 7.2.0

[2019-10-11 14:44] tobespc commented on #640
I'm not sure what you want us to fix ?  we are not holding anything open by streaming the logs.  I'm wondering if this is masking a different problem

[2019-10-11 14:59] makandre commented on #649
I can handle this one

[2019-10-11 15:43] makandre commented on #649
I can make CLI not write the `.cw-settings` for extension type projects easily (https://github.com/eclipse/codewind-installer/pull/148)

However, the IDEs still show controls to edit the settings, and it will complain that the file doesn't exist.  So maybe we need some changes in IDEs?

@tetchel @eharris369 what do you think?

[2019-10-11 15:44] tetchel commented on #649
we can block the opening of the file if it does not exist.

[2019-10-11 16:23] eharris369 opened #664 "[Eclipse IDE] Manage template sources issues on Linux and MAC"
- The Manage template sources dialog does not look good on MAC because of the background colour issue in groups for read-only text widgets (used for accessibility reasons). A group is not really needed here since there is just the one table.
- The details text is not being wrapped on Linux
- The Manage Template Sources action label should have ... at the end

[2019-10-11 16:40] tetchel opened #665 "Create docker registry secret in Codewind"
The user should not have to do step 1) of https://github.com/tetchel/codewind-without-che#install-steps

We should create the secret for the user when they set their docker registry credentials.

This could be done in PFE upon POST /registry.

This could also be done using a cwctl command, if the cwctl had access to the current cluster context (which it should).

[2019-10-11 16:45] ssh24 commented on #657
Ok so from my last comment https://github.com/eclipse/codewind/issues/657#issuecomment-541081095, me and maysun noticed that if you call your namespace anything but `eclipse-che` the workspace won't come up. That is probably a bug of it's own.

I can confirm 0.5.0 is not being affected. Only master is.

[2019-10-11 17:07] tetchel opened #666 "GET /registry always fails"
[code]

Note the request took 20 seconds, too.

In the new design, we should just be checking `.config/settings.json`, not worrying about the filewatcher.

[2019-10-11 17:36] maysunfaisal commented on #666
This happens because PFE cannot determine if filewatching on the file `codewind-workspace/.config/` has been established. Check https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/User.js#L632

We have two options:

1. We remove filewatching completely on the workspace settings file
2. Filewatcher listens to the `codewind-workspace/.config/` dir; wherever that happens to be in h

[2019-10-11 17:40] maysunfaisal commented on #666
@elsony @rajivnathan any thoughts?

[2019-10-11 17:45] eharris369 commented on #649
Or not show the button at all if the file does not exist.

[2019-10-11 17:55] keithchong opened #667 "OpenAPI: build.properties should include the icons folder"
**Codewind version:** 0.5.0
**OS:** All

**IDE extension version:** Eclipse
**Description:**  The icons do not appear in the wizard or menu actions because the icons folder is not part of the package.

**Workaround:**
No workaround.  It's a safe change that I'd like to get into 0.5.0.

[2019-10-11 18:02] tetchel commented on #649
true, otherwise if the message says ".cw-settings is missing", users may try to create it or something.

I guess I will disable (with the 🚫 cursor) the "edit" buttons.

[2019-10-11 18:03] sujeilyfonseca opened #668 "SVT: file:// support in Codewind handling of extensions' templates does not work as expected"
**Codewind version:** [codewind-0.5.0-201910110918.vsix](https://download.eclipse.org/codewind/codewind-vscode/master/latest/)
**OS:** macOS Mojave 10.14.6

**IDE extension version:** 0.5.0
**IDE version:** 1.39.1

**Description:** file:// support in Codewind handling of extensions' templates does not work as expected

@tetchel indicated me to test [eclipse/codewind#595](https://github.com/eclipse

[2019-10-11 18:04] tetchel commented on #668
the message (you have no repositories enabled) is shown if api/v1/templates responds with an empty array, so it looks like the templates are not being picked up from the file.

[2019-10-11 18:32] tetchel commented on #666
we could have the IDE just check `~/.codewind/.config/settings.json` instead of having PFE read it at all, then it would be guaranteed to be up-to-date with no FW. but that doesn't seem ideal.

[2019-10-11 18:53] rajivnathan commented on #640
We've dealt with a similar issue in the past. It specifically has to do with the way NFS volumes work. Here's what I had posted to @hhellyer before. The fix was to shut down the log stream *before* deleting files. Not sure if something regressed.

[2019-10-11 19:00] #664 closed

[2019-10-11 19:10] rajivnathan commented on #364
This is now complete.

[2019-10-11 19:10] #364 closed

[2019-10-11 20:30] ssh24 opened #669 "Enhance the Turbine Che test scripts"
### Description

We need to enhance the turbine che test scripts by utilizing chectl and by utilizing the che api's where possible. It can be then used for the turbine functional test on kube and the sidecar tests.

[2019-10-14 00:43] sujeilyfonseca opened #670 "SVT: Overview Page cannot be opened once it was previously opened and closed"
**Codewind version:** [Latest ](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** Overview Page cannot be opened once it was previously opened and closed.

**Steps to reproduce:**
1. Update an existing OKD cluster to use `chect

[2019-10-14 08:14] micgibso commented on #659
Realised the Docker/Docker compose prereqs were missing so added them back in for both VS Code and Eclipse, step 2 in each, visible here:
https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-vsc-getting-started.md
and here:
https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-eclipse-getting-started.md

[2019-10-14 10:32] james-wallis commented on #640
Can you assign me please @tobespc

[2019-10-14 10:33] tobespc commented on #640
This will need to PR against 0.5.0 and master branches

[2019-10-14 13:27] NikCanvin commented on #611
I used vscode to open the app in my browser (using the port number shown in docker ps)
in VSCode it shows as running
docker ps appears normal, the app container + port number all look normal

[2019-10-14 13:47] AndyRWatson commented on #611
Just reproduced this on new machine/build and verified by @tobespc .

The app appears to be bound to localhost and not to 127.0.0.1.

In my scenario codewind reports my app running on 127.0.0.1:32768 and the docker ps output also confirms.   If I access the app from a browser using localhost:32768 all is working as expected, but not when using 127.0.0.1:32768

[2019-10-14 14:15] malincoln commented on #657
@ssh24 are you opening a separate bug for above ^^ and is it considered stopship?

[2019-10-14 14:43] malincoln commented on #552
@sishida @j-c-berger just confirming this will complete by Thurs?  Thanks

[2019-10-14 14:59] sishida commented on #552
@malincoln The work is completed for 0.5.0. However, we plan to continue to work on the issue beyond 0.5.0 and would prefer not to close the issue until we come up with a more permanent solution. Thank you!

[2019-10-14 17:48] jagraj opened #673 "SVT:Show all logs does not work for ODO projects from codewind che workspace"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2.0
**IDE extension version:** 0.5.0
**IDE version:**7.2.0
**Kubernetes cluster:**
OKD Cluster

**Description:**
Show all logs does not work for ODO projects. I need to manually switch in "Output" view.
I can get to logs for default template projects but not for ODO projects.

![Screen Shot 2019-10-14 at 1 36 55 PM](https://user-images.g

[2019-10-14 19:47] mmulholl opened #674 "SVT: Skaffold or Scaffold?"
**Codewind version:**  Codewind tech preview	0.5.0.v201910112029
**OS:** MacOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The appsody Node.js Express Skaffold templete is now spelling Skaffold with a "c"

"Appsody Node.js Express scaffold template"

The karbanero version is using "skaffold"

**Steps to reproduce:**

**Workaround:**

[2019-10-14 19:47] mmulholl commented on #674
@jagraj fyi

[2019-10-14 19:52] jagraj opened #675 "SVT:ODO projects failed to build from codewind che workspace"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2.0
**IDE extension version:** 0.5.0
**IDE version:**7.2.0
**Kubernetes cluster:**
OKD Cluster

**Description:**
I have Codewind 0.5.0 version installed from Eclipse che. I created ODO projects and they failed to show the status for the projects. Here are I am attaching logs and screenshot from the failure.
I did apply role bindings need

[2019-10-14 20:00] jagraj opened #676 "SVT:Creating Appsody projects is slow with the latest codewind 0.5.0 release"
**Codewind version:** 0.5.0
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.5.0.v201910112029
**IDE version:** 2019-09
**Kubernetes cluster:**

**Description:**
We are noticing projects creating from Appsody templates are slow when compare with default templates. We did not notice this issue with the previous release.

**Steps to reproduce:**

1. Install codewind 0.5.0  on Eclipse
2

[2019-10-14 20:14] DavidG1011 opened #677 "SVT: ODO projects can't be deleted during "building" stage"
**Codewind version:** Latest
**OS:** RHEL 7

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/OpenShift

**Description:** ODO projects can't be deleted during "building" stage

**Steps to reproduce:**

1. Create a project using an OpenShift template.
2. Remove project and delete directory while project is in "building" stage.

Result: Project is removed from Codewind, but not deleted:

![Screen

[2019-10-14 21:20] markcor11 commented on #489
Pre-select preferred keycloak theme  https://github.com/eclipse/codewind-installer/pull/149

[2019-10-15 09:40] micgibso commented on #650
@sishida Please move to in-progress, thanks!

[2019-10-15 12:28] maysunfaisal commented on #611
@AndyRWatson can you check your `/etc/hosts` file? Probably `127.0.0.1:` is not mapped to `localhost`..

[2019-10-15 13:35] malincoln commented on #552
@sishida that sounds good.  I saw the release set to 0.5.0 so just wanted to confirm.  Thanks!

[2019-10-15 13:36] GeekArthur commented on #675
I will investigate this.

[2019-10-15 13:56] malincoln commented on #657
@tobespc discussed with TimE and he said this belongs with Portal as PFE is not coming up.  Please assign.  Thanks

[2019-10-15 13:58] ssh24 commented on #657
The other issue I was seeing was not really an issue. Missed a step when assigning OC permissions that's why it was happening.

[2019-10-15 14:11] ssh24 commented on #669
@rajivnathan I am looking into this. Can you please assign me?

[2019-10-15 14:18] malincoln commented on #292
@makandre @sghung ID (MichaelG) is awaiting doc content for this one.  Can you provide today?  Thanks

[2019-10-15 14:37] josephca opened #679 "Version update for codewind-openapi-eclipse"
Bump up the version from 0.2.0 to 0.5.0.

Checklist to confirm and update if necessary

1. NOTICE.md:codewind - 0.2.0
NOTICE.md:codewind-java-profiler-client - 0.2.0
NOTICE.md:codewind-openapi-tools - 0.2.0

2. dev/org.eclipse.codewind.openapi.feature/category.xml:   `<feature url="features/org.eclipse.codewind.openapi.feature_0.2.0.qualifier.jar" id="org.eclipse.codewind.openapi.feature" version=

[2019-10-15 14:44] maysunfaisal opened #680 "Update Iterative-Dev Turbine & SC test scripts for Che 7.2.0"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The Che APIs needs to be updated for Che 7.2.0 multi user. The curl command will now include a access token for authentication.

**Proposed solution:**

[2019-10-15 14:57] sujeilyfonseca commented on #657
I encountered this problem with the latest Codewind:

<img width="1678" alt="Screen Shot 2019-10-15 at 10 09 20 AM" src="https://user-images.githubusercontent.com/49531960/66842737-bfb51200-ef39-11e9-91dc-49ae8d94ef5f.png">

After a couple of minutes, Codewind started, but it couldn't be used:

<img width="495" alt="Screen Shot 2019-10-15 at 10 17 04 AM" src="https://user-images.githubusercontent.

[2019-10-15 14:57] malincoln commented on #657
Thanks for clarifying.  Just wanted to make sure we didn't miss any additional bugs that are required to be fixed.

[2019-10-15 15:09] j-c-berger commented on #292
I can take this issue from here, thank you!

[2019-10-15 15:36] tetchel commented on #670
this appears to be a theia regression, it looks like the webview is never disposed

[code]

[2019-10-15 15:51] tobespc commented on #657
if I read this correctly, 0.5.0 is ok, its just broken in master ?

[2019-10-15 16:04] ssh24 commented on #657
I noticed today even on 0.5.0 with Che 7.2.0 portal is slow to come up. IDE pings it for 60 seconds and then timesout. But if you close the window and then come back to it, then PFE comes up and IDE can see it.

[2019-10-15 16:11] keithchong commented on #679
@josephca , for 1, I'm only going to change NOTICE.md:codewind-openapi-tools - 0.2.0

[2019-10-15 16:18] keithchong commented on #679
@josephca , we have two Eclipse openapi features

**org.eclipse.codewind.openapi.base.feature**
This version is currently at 1.0.200.qualifier and was bumped up 7 days ago from 1.0.100 to 1.0.200 specifically for 0.5.0.  This one will follow Eclipse versioning guidelines.

**org.eclipse.codewind.openapi.feature**
This one is the 'top level feature' whose version has already been changed to 0.5.0.q

[2019-10-15 16:23] GeekArthur commented on #675
I can reproduce the issue for `httpd` and `dotnet` projects.

This issue is due to `s2i` base image doesn't install `rsync`, I will open an issue against odo but I don't think they can fix this before our `0.5.0` release, so in the meantime I will disable `httpd` and `dotnet`.

[2019-10-15 16:28] ssh24 commented on #675
I also cannot build a dotnet project
[code]

[2019-10-15 16:30] GeekArthur commented on #675
@ssh24 See my comments above.

[2019-10-15 17:00] GeekArthur commented on #677
Please assign this to me as well. I can drop a PR to fix this.

[2019-10-15 17:41] yangcao77 commented on #611
@NikCanvin If you use browser to open the app with the port number shown in `docker ps`, can you open the app?

Since some of us has trouble reproducing the issue, do you agree do remove the `stopship` label? We can mark it as a hot issue instead.

[2019-10-15 17:54] rajivnathan commented on #451
This is done

[2019-10-15 17:54] #451 closed

[2019-10-15 17:55] GeekArthur commented on #675
Open issue against ODO: https://github.com/openshift/odo/issues/2289

[2019-10-15 18:00] ssh24 opened #681 "[Remote] Investigate logs for all project type with Remote Changes"
**Description:**

We need to investigate and fix the logs for all project type with remote changes. For example: maven build log file is now stored only in the app container but the Turbine logic is looking for it in the PFE container.

We need to update our logic to be able to support either in container logs or workspace logs for different project types.

[2019-10-15 18:01] lentheivendra commented on #673
I'll take a look at this

[2019-10-15 18:02] ssh24 opened #682 "Investigate console and messages log for Liberty projects - Hybrid Change"
**Description:**

We also need to investigate a way to be able stream console and message logs for Liberty projects which is stored under the app folder.

Could possibly be fixed by https://github.com/eclipse/codewind/issues/681

[2019-10-15 18:28] tetchel commented on #670
this looks like a regression in theia, we might have to roll back to an older version.

[code]

[2019-10-15 18:31] makandre opened #683 "Appsody broken on master branch"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Currently appsody is broken on master branch.  When you you create an appsody project, in the log you'll see:

[code]

I think it's related to the code below, which is not being guarded by the `--remote` flag:

https://github.com/eclipse/codewind/commit/abe1

[2019-10-15 18:34] kimholmes commented on #155
Here are the enclosed svg icons:
- Bind existing project
- Hybrid Connected
-Hybrid Disconnected
- Pipeline
- Create New Remote Connection

[IDE_Icons.zip](https://github.com/eclipse/codewind/files/3730903/IDE_Icons.zip)

[2019-10-15 18:39] kimholmes commented on #157
Pipeline icon:
[pipeline.svg.zip](https://github.com/eclipse/codewind/files/3730923/pipeline.svg.zip)

[2019-10-15 18:50] #658 closed

[2019-10-15 18:53] tetchel commented on #670
confirmed reverting to che-theia 7.1 fixes it

[2019-10-15 18:57] rajivnathan commented on #666
This file contains only the deployment registry info right?

@tetchel @maysunfaisal I think what we do depends on whether this file needs to be on the local user's filesystem at all. If we provide APIs in PFE to both get and set it then presumably the state can be managed by PFE and the IDE only needs to call GET to check whether it's already set and then if not set can prompt the user to set it?

[2019-10-15 19:11] tetchel commented on #393
[Icons](https://github.com/eclipse/codewind/issues/155)

[2019-10-15 20:18] rajivnathan commented on #90
@jagraj Can we close this one since Che install is now handled via operator?

[2019-10-15 20:50] rajivnathan opened #685 "[Che] Project stuck in Building state after stopping and starting the che workspace"
**Codewind version:** 0.5.0 (https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** RHEL

**Che version:** 7.2
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**
Codewind project stuck in Building state after stopping and starting the Che workspace.

![image](https://user-images.githubusercontent.com/200

[2019-10-15 20:51] ssh24 opened #686 "ODO - Cannot start ruby project after rebuild/update"
**Description:**
When trying to start a ruby project after rebuild/update, the project is stuck on stopped state. Seeing this on Che 7.2.0 with 0.5.0 codewind.

[code]

**Steps to reproduce:**
1. Create a ruby project. (starts up fine)
2. Rebuild or update the project.
3. The app does not come up started.
![Screen Shot 2019-10-15 at 4 50 36 PM](https://user-images.githubusercontent.com/15173354/66

[2019-10-15 20:55] GeekArthur commented on #686
I can take a look at this, can assign this to me

[2019-10-15 21:01] ssh24 opened #687 "ODO - Cannot create a Wildfly project"
**Description:**
With che 7.2.0 and 0.5.0 codewind cannot create a ODO wildfly project and the build fails saying failed to build and deploy odo component. Below is the log
[code]

**Steps to reproduce:**
1. Create an ODO project - Wildfly from theia extension.
2. Build will fail.

[2019-10-15 21:02] kimholmes commented on #155
Adding an svg of the "add" icon for consistency:
[VSCode_Add.svg.zip](https://github.com/eclipse/codewind/files/3731443/VSCode_Add.svg.zip)

[2019-10-15 21:07] jagraj commented on #673
Hi Len,

This is happening intermittently, sometimes it bring up the logs view and sometimes the log for previous project stays in the view when I selected "Show all logs" for different project.

[2019-10-15 21:13] ssh24 commented on #687
[odo.build.log](https://github.com/eclipse/codewind/files/3731480/odo.build.log)
[odo.debug.log](https://github.com/eclipse/codewind/files/3731481/odo.debug.log)

[2019-10-15 21:18] GeekArthur commented on #687
I can investigate this as well.

[2019-10-15 21:31] jagraj commented on #90
I think earlier, we need to create registry first before we start creating workspace.
Does the operator install address this problem.?

@sujeilyfonseca
Could you please verify this when you get a chance.?

[2019-10-15 21:32] rajivnathan opened #688 "[Che] Incremental update is taking too long (0.5.0)"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2
**Kubernetes cluster:** OKD 3.11

**Description:**
Make a java file change to a Microprofile update and it took a very long time for the change to be reflected. It appears that a full rebuild of the docker image is being done instead of a maven build.

**Steps to reproduce:**
1. Create a Microprofile project using Codewind in Che
2. Ma

[2019-10-15 21:38] GeekArthur commented on #657
I see this issue on my cluster as well, install che `7.2.0` with Codewind `0.5.0`

<img width="1680" alt="Screen Shot 2019-10-15 at 5 37 36 PM" src="https://user-images.githubusercontent.com/15131537/66871832-88168c00-ef72-11e9-9bcb-44aba7e18588.png">

[2019-10-15 21:45] #670 closed

[2019-10-15 21:49] GeekArthur commented on #657
Actually my issue might be separate, please make sure do this step: https://www.eclipse.org/codewind/installoncloud.html#enabling-privileged-and-root-containers-to-run before deploy PFE using the devfile. I did that step then this issue is resolved.

[2019-10-15 22:02] maysunfaisal commented on #688
I see it as well, here are the trace logs:

[688-pfe.log](https://github.com/eclipse/codewind/files/3731633/688-pfe.log)

[2019-10-15 22:03] rajivnathan commented on #688
Adding the stopship label since the update takes forever for Microprofile projects so it's basically unusable as a dev tool.

[2019-10-15 22:05] GeekArthur commented on #673
Me and Len can't reproduce this issue, sometimes it does have glitch from IDE for displaying logs (not from ODO project but from random project), think the issue is not from `iterative-dev` probably from `Theia`

[2019-10-15 22:11] GeekArthur commented on #687
This is the real issue that I find
[code]

[2019-10-15 22:13] maysunfaisal commented on #688
Issue seems to be with line https://github.com/eclipse/codewind/blob/master/src/pfe/iterative-dev/idc-java/IDC/src/org/eclipse/codewind/iterdev/IDC.java#L342

`if (!isContainerBuilt || isRequireImageRebuild || !DockerUtils.checkForContainerImage(context)) {`

isContainer built is True in the app db after project creation
[code]

Dont see the log statements when `isRequireImageRebuild` is set to Tr

[2019-10-15 22:16] GeekArthur commented on #687
Issue is not from us, it's from maven dependency is not available on the server so that fails on pulling maven dependency stage

[2019-10-15 22:18] GeekArthur commented on #687
Wor around is we can disable this template for now and find a good template for odo for post 0.5.0 release.

[2019-10-15 22:20] maysunfaisal opened #689 "[Iterative Dev] Local Functional Test Failing"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Looks like the functional tests in local are failing because Liberty projects cannot build successfully

**Steps to reproduce:**

**Workaround:**

[localmac-functional-oct15.log](https://github.com/eclipse/codewind/files/3731679/localmac-functional-oct15.log)

[2019-10-15 22:42] yangcao77 commented on #688
I can take a look at this issue.

[2019-10-16 00:58] maysunfaisal opened #690 "buildah 1.11.3-2 does not work anymore"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Even tho https://github.com/eclipse/codewind/pull/678 is right, buildah does not work

[code]

This is a potential stop ship, if new changes are checked into the 0.5.0 branch. The current 0.5.0 has the older buildah version and is fine but the rpm link has since bee

[2019-10-16 01:45] sujeilyfonseca commented on #90
I verified this problem, and the pod no longer fails to start. However, if the registry is not provided before the creation of the Codewind workspace, the registry can no longer be used:

<img width="502" alt="Screen Shot 2019-10-15 at 8 20 15 PM" src="https://user-images.githubusercontent.com/49531960/66881067-99bc5b80-ef93-11e9-94fe-d255d135735e.png">

This is a known limitation and is already d

[2019-10-16 01:55] maysunfaisal commented on #566
Happened again on Oct 15 😭

see
https://github.com/eclipse/codewind/pull/678
https://github.com/eclipse/codewind/issues/690

This needs to be higher on the priority list IMO

[2019-10-16 07:41] micgibso commented on #647
I'll take this one please.

[2019-10-16 08:38] tobespc commented on #683
@ssh24 Could you take a look at this please ?   I've stepped through the code and can't see why its not building

[2019-10-16 11:31] malincoln commented on #657
@ssh24 pls confirm original problem only occurs on 0.5.0 and not master.

[2019-10-16 11:33] malincoln commented on #611
@NikCanvin pls confirm whether this is still stopship.  Thanks

[2019-10-16 12:08] ssh24 commented on #683
@makandre Any idea where the docker run command is being triggered from? Searched the appsody extension but couldn't find it there
`docker run --rm -P --name cw-knpython-1682c9c0-ef6b-11e9-ae96-1d0b6deac20e --network codewind_network -v /codewind-workspace/knpython/:/project/userapp -v knpython-deps:/project/deps -v /codewind-workspace/.extensions/codewind-appsody-extension/bin/appsody-controller:

[2019-10-16 12:15] ssh24 commented on #657
@malincoln I think the issue I was seeing with 0.5.0 was with my cluster network.

Asked @rajivnathan to also do a test on his cluster with 0.5.0 hosted on fyre and he could not reproduce it. I also tried reproducing on his cluster and couldn't reproduce it.

I think it's safe to remove to the stopship label.

[2019-10-16 12:42] jagraj commented on #673
Ok, Thanks. Looks like Theia plugin has been moved to 7.1.0 for another issue. I will give it a try with the latest 0.5.0 devfile.

[2019-10-16 12:44] jagraj commented on #90
Thanks Sujeily, You can go ahead and close this issue. I can not see the close option for me to close.

[2019-10-16 12:47] #90 closed

[2019-10-16 12:52] malincoln commented on #657
@ssh24 or @elsony if this doesn't affect 0.5.0, pls remove the stopship label.  Thanks

[2019-10-16 13:30] micgibso commented on #650
This is complete now.

[2019-10-16 13:33] makandre commented on #683
It fails because `LOCAL_WORKSPACE` in the file `projectUtils.ts` used to be the host system path to `codewind-workspace` (for example, `/opt/Repos/Tempest/codewind/codewind-workspace`)

Appsody CLI needs to mount the project folder into their container using this path (they issue the docker command that @ssh24 posted above).  So, where it says `-v /codewind-workspace/knpython/:/project/userapp` ab

[2019-10-16 13:42] jagraj commented on #657
I just hit this problem on 0.5.0 with latest 0.5.0 devfile with Theia 7.1.0 extension. I have been using this cluster from past three releases and my cluster is running with vlaunch VMs not fyre.

[2019-10-16 13:45] jagraj commented on #657
is it possible to increase ping timeout more than 60 secs and this will help for slow network clusters.?

[2019-10-16 13:47] sghung commented on #292
@makandre for 0.5.0, can you see what docs is needed for appsody binding? We may need to briefly mention it as being supported, but that's about it (since the final design never got implemented, it's more or less the same as the existing codewind behaviour for other types). Thanks

[2019-10-16 13:49] maysunfaisal commented on #657
@jagraj Even if we increase ping timeout, dont think it is a viable solution for this issue..

Not sure why PFE is taking more than 60s for it to be available. Anyone can quickly confirm this by executing a simple Portal API in the Codewind PFE Pod - `curl -d '{"level": "trace"}' -H "Content-Type: application/json" -X PUT https://localhost:9191/api/v1/logging -k`

The above API will timeout when y

[2019-10-16 13:50] keithchong commented on #650
Thanks @micgibso . Closing.

[2019-10-16 13:50] #650 closed

[2019-10-16 14:35] jagraj commented on #675
@GeekArthur
I still see httpd and dotnet templates in my latest workspace.

![Screen Shot 2019-10-16 at 10 16 55 AM](https://user-images.githubusercontent.com/713849/66929191-97dcb180-f000-11e9-8505-e89bf1b29431.png)

[2019-10-16 14:50] makandre commented on #292
Chatted with @j-c-berger.  Here's a first stab at the blurb for binding Appsody projects:

If you have an existing Appsody project, or a project that you wish to add to Codewind as an Appsody project, select the corresponding Appsody project type and, if applicable, the Appsody stack when adding the project.  For more information on Appsody and Appsody stacks, visit https://appsody.dev

[2019-10-16 14:52] jagraj opened #692 "SVT:ODO projects are not deleted after workspace is deleted and old projects deployments still exist"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2.0
**IDE extension version:** 0.5.0
**IDE version:**7.1.0
**Kubernetes cluster:**
OKD Cluster

**Description:**
I created ODO projects and I deleted workspace. All the ODO projects deployments they still exist even though I deleted my entire workspace. I do not see same behavior with the Codeweind default projects. All the projects crea

[2019-10-16 14:55] ssh24 opened #693 "Liberty projects failing to build on local"
**Description:**
With the latest master code as of October 16, liberty projects are failing to build. It is failing on the maven build step for extracting the cache
[code]

**Steps to reproduce:**
1. Bring up a latest master codewind build
2. Create a liberty project
3. You will see the liberty project failed to build

Full log
[liberty.local.log](https://github.com/eclipse/codewind/files/3734979/

[2019-10-16 14:55] GeekArthur commented on #675
@jagraj That's is because the latest 0.5.0 image is not pushed to Dockerhub, from the screenshot below, the 0.5.0 image is 7 days ago but fix PR is merged yesterday, so it doesn't have my fix. You can check with @josephca to let him update the 0.5.0 image on Dockerhub.
![Screen Shot 2019-10-16 at 10 52 42 AM](https://user-images.githubusercontent.com/15131537/66930839-323df480-f003-11e9-8e19-ed388

[2019-10-16 14:56] ssh24 commented on #689
Related to https://github.com/eclipse/codewind/issues/693

[2019-10-16 15:03] maysunfaisal commented on #690
Pick up new Buildah rpm once the build is green, Check https://github.com/containers/buildah/issues/1923

[2019-10-16 15:08] yangcao77 commented on #688
@ssh24 Yours is a different issue.
From your log, it looks like the application did not successfully compiled.
[code]

[2019-10-16 15:09] maysunfaisal commented on #657
I was able to reproduce it right now:

![Screen Shot 2019-10-16 at 11 07 27 AM](https://user-images.githubusercontent.com/31771087/66932169-30753080-f005-11e9-88a7-d04d582fed16.png)

[code]

[code]

kubectl describe pod of PFE:
[code]

[2019-10-16 15:35] ssh24 opened #695 "Development mode broken on PFE"
**Description:**
With recent changes on hybrid, the node development environment was removed https://github.com/eclipse/codewind/pull/672/files#diff-8265da3f6c6bd27bdd147a71baba7f3eL9

We should add it back as it significantly helps improve development on PFE

[2019-10-16 15:40] maysunfaisal commented on #657
FWIW, it works on 0.4 and Che 7.2.0

![Screen Shot 2019-10-16 at 11 36 58 AM](https://user-images.githubusercontent.com/31771087/66934957-4ab10d80-f009-11e9-959a-498553b2a730.png)

[code]
[code]

---

Che 7.2.0 & CW 0.5.0 = Does not work
Che 7.2.0 & CW latest = Does not work
Che 7.2.0 & CW 0.4.0 = Works

---
0.4.0 and 0.5.0 uses Theia version

[code]

latest uses Theia version:
[code]

[2019-10-16 16:08] GeekArthur commented on #686
This issue is not from our side as well. Root cases is here:
[code]
It's the compatibility issue between ODO CLI and templates. Also I check with ODO folks they don't officially support Ruby, so we have to disable this template as well as workaround.

[2019-10-16 16:16] ssh24 commented on #686
@GeekArthur Do you know why does the app start on the inital create?

[2019-10-16 16:21] tetchel commented on #657
We are using the ready API, as you can see the message says codewind "connected, but was not ready".

[2019-10-16 16:24] tetchel commented on #657
Looking at the log above, the log line
`[10/10/19 22:17:17 server.js] [INFO] Setting up codewind Express routes`
which is usually there, is notably absent.

[2019-10-16 16:26] ssh24 commented on #657
WRT logs:
[code]

You can see the timestamp on each of them...

[2019-10-16 16:27] jgwest opened #697 "Update filewatcherd to call CWCTL CLI 'project sync' command on file change"
TODO:
- ~Deliver [Java filewatcher change](https://github.com/eclipse/codewind-eclipse/pull/365)~ (Merged)
     - ~Fix [Spaces-in-paths bug on non-Windows](https://github.com/eclipse/codewind-eclipse/pull/368)~ (Merged)
- ~Deliver [Node filewatcher](https://github.com/eclipse/codewind-filewatchers/pull/23) change~ (Merged)
- ~Deliver [Go filewatcher](https://github.com/eclipse/codewind-filewatcher

[2019-10-16 16:28] GeekArthur commented on #686
@ssh24 For me, even the first time build fails with the same error.

[2019-10-16 16:50] maysunfaisal commented on #690
If we cant get a clean buildah rpm build soon; we should probably use the older rpm from here https://cbs.centos.org/koji/packageinfo?packageID=5693

[2019-10-16 16:51] jopit opened #698 "Add high-DPI images for codewind-eclipse"
Eclipse has supported high-DPI icons since Neon, see [Adopting Neon (4.6) mechanisms and APIs](https://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fporting%2F4.6%2Frecommended.html)

We should add high-DPI images for the codewind-eclipse plugins as suggested in the above article.

[2019-10-16 17:01] ssh24 opened #699 "PR builds failing on deployment registry test"
**Description:**
All current PRs are blocked because the PR build is failing on the portal test.
Example: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-696/1/console

[code]

[2019-10-16 17:01] GeekArthur commented on #692
I can investigate this issue.

Would like to confirm one thing, you delete the codewind workspace from Che IDE?

[2019-10-16 17:09] GeekArthur commented on #686
That's what I am saying above.

[2019-10-16 17:34] maysunfaisal commented on #699
With my PR https://github.com/eclipse/codewind/pull/700

I dont see the deployment registry issue anymore

but see the second error of TEmplate API Test

[code]

and also these

[code]

So its not specifically deployment registry test failure

[2019-10-16 17:56] tobespc commented on #657
is this slowness happening on everyones different deployments ?

[2019-10-16 18:04] #649 closed

[2019-10-16 18:05] tetchel commented on #649
fix is in in all 3 of installer, vs code, and eclipse

[2019-10-16 18:05] tetchel commented on #580
@thisguy-1 what do you think

[2019-10-16 18:33] tetchel commented on #668
original issue https://github.com/eclipse/codewind/issues/595

[2019-10-16 18:45] maysunfaisal commented on #566
I think codewind-workspace6ab2ca0thh2gbdjh-6fbf4ddf5c-b7lmd is a much more stable repo and has a history of all the buildah rpms.

I was notified of this repo by the buildah folks. I have since switched to it on Master and 0.5.0 branch

[2019-10-16 18:52] jagraj commented on #692
Yes, I deleted workspace from the Che dashboard.

[2019-10-16 19:05] ssh24 opened #704 "Cannot set deployment registry on Eclipse Che"
**Codewind version:** Master
**OS:** MacOS

**Che version:** 7.2.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OS

**Description:**
After creating a che workspace from the devfile, if we try to set the deployment registry it fails with the following  on the log
[code]

On the UI it is just stuck here
![Screen Shot 2019-10-16 at 12 34 45 PM](https://user-images

[2019-10-16 19:05] ssh24 commented on #699
The test is probably related to https://github.com/eclipse/codewind/issues/704

[2019-10-16 19:08] maysunfaisal commented on #699
Ignore my comment related to PR 700 that was for 0.5.0 branch

But my PR https://github.com/eclipse/codewind/pull/701 fixes the second failing test about the template. Had a brief look at the deployment registry test, needs to be debugged.

[2019-10-16 19:13] maysunfaisal commented on #657
So all of a sudden, now my 0.0.5 PFE is up and running on Che 7.2.0 🤷‍♂

But I agree with @tetchel ; the issue seems to be with

[code]

This is not being called in the failing case, so this needs to be traced and debugged.

P.S. This is still a stop ship.

[2019-10-16 20:08] yangcao77 commented on #688
This issue is because `buildah` has changed to format from `{{.Repository}}` to `{{.Name}}`

And also the project image name listed by buildah is `localhost/<projectImageName>`, so when we check the existence of the project by checking the image name , we should use `contains` instead of `equals`

[2019-10-16 20:10] ssh24 commented on #640
Fix is ready to land on both 0.5.0 and master

https://github.com/eclipse/codewind/pull/696
https://github.com/eclipse/codewind/pull/705

Verified the fix works on 0.5.0 but couldn't verify on master due to che deployment registry issue on master https://github.com/eclipse/codewind/issues/704

[2019-10-16 20:52] tetchel opened #708 "Che setup commands should be copy-pasteable"
https://www.eclipse.org/codewind/installoncloud.html#prerequisites

I strongly prefer when terminal commands such as these can be easily copy-pasted in one step. I would write these directions as one step, as follows:

[code]

The explanation text would be along the lines of,
"Clone the `codewind-che-plugin` repository, create the ClusterRole with the required permissions, and bind that ClusterRol

[2019-10-16 21:09] tetchel commented on #704
the registry is broken right now, see
https://github.com/eclipse/codewind/issues/666
https://github.com/eclipse/codewind/issues/665

[2019-10-16 21:10] tetchel commented on #666
likely this should be fixed in conjunction with https://github.com/eclipse/codewind/issues/665

[2019-10-16 21:10] maysunfaisal commented on #693
[code]

[2019-10-16 21:12] maysunfaisal commented on #693
Looks like `run_docker.sh` is not working. I never see a container even tho it says "success"

[code]

Probably the script was messed up with the hybrid change?

[2019-10-16 22:41] ssh24 commented on #693
I think this could be the issue https://github.com/eclipse/codewind/pull/694

Basically with the hybrid change, the LOCAL_WORKSPACE variable was not safeguarded causing project types like appsody and maybe others to fall to the remote setting value. We can try after 694 lands to see if that fixes it or it is something else.

[2019-10-16 23:27] rajivnathan commented on #693
Yeah, the container comes up but then exits right away because the entrypoint can't find the `libertyrepocache.zip` file which means that it's a volume mount issue. So I believe you're right, might be fixed once #694 is fixed.

[code]

[2019-10-16 23:29] rajivnathan commented on #690
Verified it's good on 0.5.0 but need to wait for master before closing.

[2019-10-16 23:30] rajivnathan commented on #688
Verified that this is fixed. Need to keep it open until master is fixed though.

[2019-10-17 08:22] NikCanvin commented on #611
Agree not stop ship, as this is not a REGRESSION in this release ..
.. however, we need to understand fix this, it is HOT

3 Hursley people have reproduced this, and it's a first out-the-box experience for codewind + Express/node app .. so we could lose new users at the first hurdle!

@yangcao77 .. I tried the port number from 'docker ps', issue remained
will aim to reproduce and get logs..

[2019-10-17 08:44] micgibso opened #709 "Add more news for 0.5.0"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

@elsony @GeekArthur This is a continuation of Sarah's work on https://github.com/eclipse/codewind/issues/647

More updates to the News article:
@elsony 18 hours ago Member
Can we add a link to our doc on the odo support in here?
![image](https://

[2019-10-17 09:15] micgibso commented on #647
@sishida This can be closed now, work to complete happening in https://github.com/eclipse/codewind/issues/709

[2019-10-17 10:14] jcockbain96 commented on #614
Update on this one: the installer is hitting the `301` status here https://github.com/eclipse/codewind-installer/blob/master/utils/filesystem.go#L123, where it gets the zip URL to download the repo code from.

There's an open issue on the `go-github` package we use, to include a follow redirects option. https://github.com/google/go-github/issues/1248.

[2019-10-17 10:33] NikCanvin commented on #611
spoke with Toby again today ..

here's evidence of the Node issue:
![Screenshot 2019-10-17 at 09 53 57](https://user-images.githubusercontent.com/16120163/67001207-1dc82d80-f0d1-11e9-9028-4b2c75585db9.png)

here's my /etc/hosts file:
<img width="536" alt="etc:hosts" src="https://user-images.githubusercontent.com/16120163/67001251-2fa9d080-f0d1-11e9-9dc5-bcf27f1f3a00.png">

here's evidence of me ma

[2019-10-17 12:10] jagraj opened #710 "SVT:ODO projects status always says "Starting" even though log says deployed successfully"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2.0
**IDE extension version:** 0.5.0
**IDE version:**7.1.0
**Kubernetes cluster:**
OKD Cluster

**Description:**
I created ODO projects and projects are getting stuck at "Starting" state even though log says it is successfully deployed. Rest of the projects created from default templates running fine and the status is all good but not OD

[2019-10-17 12:12] jagraj commented on #710
@tetchel
When you get a chance, can you take a look at the Theia logs that I attached to this issue.?
I see these errors in the log.

[code]

[2019-10-17 12:15] #647 closed

[2019-10-17 12:19] deboer-tim opened #712 "Improve Appsody binding news"
**Codewind version: 0.5**

**Description of the enhancement:**
The news for 0.5 includes the item: "Appsody binding support is available for VS Code and Eclipse." Although this is 100% correct, most new users aren't going to know what 'binding' is and why they should care.

**Proposed solution:**
We should describe things in user terms, e.g. something like "You can now easily import existing Appso

[2019-10-17 12:28] jagraj commented on #692
I tried to delete my ODO projects from the PFE and they failed to delete and ODO cli  is expecting ODO modules to delete the projects but my modules are deleted when I deleted my workspace.

Making this as "hot" for now and we need to find a way how user can delete these projects.

[2019-10-17 12:57] keithchong commented on #667
The fix for this was already released for 0.5.0

[2019-10-17 12:57] #667 closed

[2019-10-17 12:58] tetchel commented on #710
`Error: Unknown actor TreeViewsMain` has been around for a while; it is not related to this.

The issue is here, in the last few lines of the PFE log.
[code]

[2019-10-17 13:01] makandre commented on #674
The spelling comes straight from the index that appsody team generate and host at https://github.com/appsody/stacks/releases

And it's due to this change https://github.com/appsody/stacks/pull/388 on their side.

[2019-10-17 13:16] ssh24 commented on #710
I just tried it out with latest 0.5 image and the projects come up running fine for me

<img width="1320" alt="Screen Shot 2019-10-17 at 9 15 35 AM" src="https://user-images.githubusercontent.com/15173354/67012113-ce790180-f0be-11e9-8b1f-ab799ca378cc.png">

[2019-10-17 13:17] AndyRWatson opened #713 "Documenting how to create your own template"
**Codewind version:** 0.5+
**OS:**  ALL

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The documentation makes a reference how to use alternative template sources (https://www.eclipse.org/codewind/mdt-vsc-usingadifferenttemplate.html)   but no reference to why and also no instructions on the steps required to add/create y

[2019-10-17 13:21] AndyRWatson commented on #497
in addition we also need to document the steps  to create your own template within your template source repo https://github.com/eclipse/codewind/issues/713

[2019-10-17 13:22] micgibso commented on #713
I'll take this one.

[2019-10-17 13:34] #509 closed

[2019-10-17 13:35] #549 closed

[2019-10-17 13:43] jagraj opened #715 "SVT:Appsody projects are stuck in "Starting" state even though container log says application up and running"
**Codewind version:** 0.5.0
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.5.0
**IDE version:**  Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I created bunch of Appsody and Default template projects from my eclipse workspace with Codewind 0.5.0 version. After all projects up and running, I stopped codewind and uninstall codewind images to get the latest from the docker

[2019-10-17 14:09] maysunfaisal commented on #689
Also related to https://github.com/eclipse/codewind/issues/690

[2019-10-17 14:11] maysunfaisal commented on #693
Its also worth noting that we dont see this issue on Win? Because Win Functional tests have been passing.

[2019-10-17 14:17] jagraj commented on #710
@ssh24
It does not for me and all this works fine for default template projects. What else might be going with my cluster.?

[2019-10-17 14:19] makandre opened #717 "How to maintain appsody support without codewind-workspace bind mount"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

This is somewhat related to #564

With the `/codewind-workspace` docker bind mount going away, Appsody support will break because it Appsody relies on being able to bind mount things into their container:

1) The appsody-controller (tracked by ~https://

[2019-10-17 14:23] sghung commented on #715
@makandre can you take a look?

[2019-10-17 14:24] sujeilyfonseca opened #718 "SVT: [Windows 10] There is no name for the Appsody Template Source"
**Codewind version:** [codewind-0.5.0-201910161808.vsix](https://download.eclipse.org/codewind/codewind-vscode/0.5.0/latest/)
**OS:** VM with Windows 10

**IDE extension version:** 0.5.0
**IDE version:** 1.39.0

**Description:** There is no name for the Appsody Template Source

![Screen Shot 2019-10-17 at 9 37 34 AM](https://user-images.githubusercontent.com/49531960/67017718-29fbbd00-f0c8-11e9-8f

[2019-10-17 14:25] maysunfaisal commented on #710
@jagraj, if you can, pls do a quick test by visiting the endpoint in the browser manually. If you cant hit the endpoint, then there is something wrong with your application. If you can, then there is something wrong with Codewind and cannot ping it for some reason

[2019-10-17 14:26] ssh24 commented on #710
@jagraj Which devfile did you use? I used https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml

[2019-10-17 14:29] GeekArthur commented on #710
@ssh24 Thanks Sakib for testing this!
@jagraj Although your application pod is up and running, I think the application service is not deployed successfully due to the vLaunch network issue, I tried my OKD cluster this morning and it works fine for me, but still face the slowness network issue. You don't need to do anything for your OKD cluster, you can either wait the network issue is resolved or

[2019-10-17 14:30] sujeilyfonseca opened #719 "SVT: Appsody Starter Sample Stack projects never start"
**Codewind version:** [codewind-0.5.0-201910161808.vsix](https://download.eclipse.org/codewind/codewind-vscode/0.5.0/latest/)
**OS:** VM with Windows 10 and MacOS Mojave 10.14.6

**IDE extension version:** 0.5.0
**IDE version:** 1.39.0 and 1.39.2

**Description:** Appsody Starter Sample Stack projects never start

![Screen Shot 2019-10-17 at 10 27 35 AM](https://user-images.githubusercontent.com/4

[2019-10-17 14:33] AndyRWatson opened #720 "new microprofile application - Could not determine application URL message"
**Codewind version:**.  0.4
**OS:**. MacOS 10.15 (Catalina)

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

While trying to reproduce https://github.com/eclipse/codewind/issues/611#issuecomment-543063646.  on my newly installed machine I tried to also create a micro profile application.

Though all appears to have built,   the application UR

[2019-10-17 14:34] GeekArthur commented on #710
For ODO application, we use `deploymentconfig` as selector to get the service then use service to ping the application to decide if the app status is `Starting` or `Running`. @jagraj For your case, we can't get the service (service is deployed by ODO CLI) due to the network issue so that your ODO application gets stuck on `Starting` state

[2019-10-17 14:34] tetchel commented on #718
does this work on non-windows?

[2019-10-17 14:36] ssh24 commented on #693
Interesting. Does Window Liberty have a different source path?

[2019-10-17 14:40] jagraj commented on #710
I just noticed, When I click on "Open app" and I can hit the endpoint but status never changes in IDE.
Here is the app endpoint. (http://cw-odonodejs1cw05svt-app-che.9.42.41.28.nip.io/).

I am sure this is not network issue, I have been using this cluster from past three releases and there are no issues with default template applications.

[2019-10-17 14:40] laven26 commented on #715
@sghung I can take a look

[2019-10-17 14:46] makandre commented on #717
Both options 1 or 2 sounds feasible.  Just have to make sure the **host** path of that space where appsody projects are put into will be made known to the appsody extension (perhaps via env var)

[2019-10-17 14:48] jagraj commented on #710
@ssh24
Yes, I am using 0.5.0 devfile. (https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml).

[2019-10-17 14:49] sujeilyfonseca opened #721 "SVT: Image creation fails with ODO Openshift PHP projects"
**Codewind version:** [0.5.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** Image creation fails with ODO Openshift PHP projects

![Screen Shot 2019-10-17 at 10 47 10 AM](https://user-images.githubusercontent.com/49531960/67

[2019-10-17 14:51] jagraj commented on #710
You do not see this error in your cluster.?
https://github.com/eclipse/codewind/issues/710#issuecomment-543162343

[2019-10-17 14:55] jopit commented on #193
@andyrwatson can you take care of this?

[2019-10-17 14:57] micgibso opened #722 "Docs: replace issue links with doc links in News"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
As per title, the News articles link to issues instead of to pages, would be better to link to pages. Update News articles accordingly.

[2019-10-17 14:58] eharris369 opened #723 "[Eclipse IDE] Improve look of Codewind preferences on MAC"
The combo box for selecting a web browser for Node.js debugging does not need 2 labels.  The first, longer label will still be read by the screen reader as long as the next widget is the combo box (even if on a separate line) so remove the shorter label.

[2019-10-17 14:58] tetchel commented on #709
also see https://github.com/eclipse/codewind/issues/712

[2019-10-17 14:59] yangcao77 commented on #611
If I understand it correctly, the initial issue (port number shown in UI does not match the number in docker ps) does not persist any more.
The current issue is 127.0.0.1 cannot be resolved as localhost, is that correct?

[2019-10-17 15:02] tetchel commented on #718
i wonder if the windows machine just already had `codewind-workspace/.config/repository_list.json` and that is being used

[2019-10-17 15:06] sujeilyfonseca commented on #718
I verified my machine and there is a `codewind-workspace/.config/repository_list.json` from a previous installation.

[2019-10-17 15:07] tetchel commented on #718
then users will hit this problem

[2019-10-17 15:08] tetchel commented on #718
is the kabanero repo missing (in the original issue description screenshot) too?

[2019-10-17 15:10] sujeilyfonseca commented on #718
Yes, the kabanero repo is missing.

[2019-10-17 15:38] GeekArthur commented on #721
Please assign this issue to me.

[2019-10-17 15:40] GeekArthur commented on #692
I will investigate this issue, please assign this to me.

[2019-10-17 15:48] GeekArthur commented on #692
For deleting the ODO project, we can shell into the ODO application pod then go into the folder includes `.odo`, then run `odo delete --all -f`, all the corresponding resources will be removed by the ODO CLI command.

However, we should find a way to removing all ODO related resources and not relying on Kube garbage collector (if it doesn't work properly for ODO case).

[2019-10-17 15:48] sujeilyfonseca commented on #692
**Codewind version:** [0.5.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

I also see this problem with Codewind for Eclipse Che.

[2019-10-17 15:49] GeekArthur commented on #692
@sujeilyfonseca Yes, this problem is not intermittent, once we catch that on one cluster, it will happen on all clusters.

[2019-10-17 15:52] tetchel commented on #718
fwiw, users can work around this by deleting `codewind-workspace/.config/repository_list.json` and restarting codewind.

[2019-10-17 15:55] tobespc opened #725 "cwctl fails to bind if -p parameter is too long"
**Codewind version:** latest
**OS:** mac

**Description:**
Run cwctl project bind -p /Users/longpathtoworkspace/workspace/dev/projects/codewind/codewind-workspace/codewindtestspring/ -l java -n test -t spring

causes truncation of the file names being uploaded

[2019-10-17 16:11] ssh24 commented on #657
I tried with @markcor11 image just now with the debug statements, and the PFE container came up fine pretty quick

[code]

I think it can be confirmed it was really a **network issue** all this time

[2019-10-17 16:22] AndyRWatson commented on #193
created https://github.com/codewind-resources

[2019-10-17 16:33] AndyRWatson opened #727 "Move codewind-templates to new org and cleanup"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

codewind currently defaults its templates URL to https://github.com/kabanero-io/codewind-templates/ which itself references many existing templates in the microclimate-dev2ops org (e.g https://github.com/microclimate-dev2ops/nodeExpressTemplate )

[2019-10-17 16:51] AndyRWatson commented on #720
I have restarted my vscode and all now seems to work against the same running project/container.   Could be a timing issue or maybe resolved with a projects refresh (?)

[2019-10-17 16:54] sujeilyfonseca commented on #342
**Codewind version:** [codewind-0.5.0-201910161808.vsix](https://download.eclipse.org/codewind/codewind-vscode/0.5.0/latest/)
**OS:** VM with Windows 10

**IDE extension version:** 0.5.0
**IDE version:** 1.39.0

I still see this problem with Codewind 0.5.0, but only on Windows 10. I can't reproduce this in MacOS Mojave.

[code]

[2019-10-17 17:26] sghung opened #728 "Document codewind + appsody + nexus repository integration"
Investigate whether nexus repository can be used with codewind

[2019-10-17 17:34] jopit commented on #720
Could you find and upload the extension's logs as described in the [Troubleshooting](https://www.eclipse.org/codewind/mdt-vsc-troubleshooting.html) section?

[2019-10-17 17:54] markcor11 commented on #657
I'd also like to add an environment variable to change the default log level when the api/v1/logging API is not available

[2019-10-17 18:02] GeekArthur commented on #722
Agree with Elson, the linking pages should be done by this PR: https://github.com/eclipse/codewind-docs/pull/180, once the PR is merged then we can update the link to pages instead of issues.

[2019-10-17 18:06] markcor11 opened #729 "Add additional logging during Portal launch"
**Codewind version:** 0.5

**Description of the enhancement:**
When diagnosing startup problems there is insufficient data in the default logs to check progress of the launch. Attempting to increase logging via the api/v1/logging api failed since the route was not yet available.

**Proposed solution:**
Add additional log output during Portal server startup sequence and possibly add an environment

[2019-10-17 18:10] elsony commented on #710
Based on discussion on today's checkpoint call,removing stopship since it looks like the problem is specific to cluster that SVT is using.

[2019-10-17 18:37] beccabau opened #730 "SVT: Error starting Codewind on VSCode on Ubuntu 18.04"
**Codewind version:** 0.4.0
**OS:** Ubuntu 18.04 (Linux x64 4.15.0-65-generic)

**Che version:**  n/a
**IDE extension version:** 0.4.0
**IDE version:** Visual Studio Code Version 1.38.1
**Kubernetes cluster:** n/a

**Description:**
When installing Codewind extension from the Vs Code Marketplace, I get this panic: runtime error message ->
[code]

*I believe that the codewind-workspace is not being

[2019-10-17 18:39] beccabau commented on #730
I also can't start codewind with 0.5.0, but not sure if it's due to the same problem or not (I think maybe because the `codewind-workspace` directory is not being created). I could open a separate issue if y'all think it's different.
![image](https://user-images.githubusercontent.com/13971834/67037620-dac78380-f0eb-11e9-981a-0b7b0de63164.png)

[2019-10-17 18:39] sghung commented on #719
Looking at the logs, this is expected since no server is implemented. Similar to the nodejs and swift appsody stacks, the user needs to implement the server for the status to show up.

[2019-10-17 18:39] #719 closed

[2019-10-17 18:49] lentheivendra commented on #680
I'll update the SC tests for this

[2019-10-17 18:58] beccabau commented on #730
This is the full suite of informational messages I get:
![image](https://user-images.githubusercontent.com/13971834/67039040-938ec200-f0ee-11e9-8abf-b02fdf586841.png)

[2019-10-17 19:01] tetchel commented on #730
this is https://github.com/eclipse/codewind/issues/625#issuecomment-538547910

the workaround was to delete `.config/deployments.json`
but i'm not sure how you are hitting this, it should not be possible unless you did some testing during that few days where the cwctl was broken

[2019-10-17 19:03] tetchel opened #731 "Specify required Docker API version in cwctl"
we got this error when running cwctl on an old version of Docker

`2019/10/17 14:46:51 CONTAINER_LIST_ERROR[107]: Error response from daemon: client version 1.40 is too new. Maximum supported API version is 1.39. `

cwctl does not appear to specify a docker API version to use, so it defaults to latest (1.40). we should specify the earliest API version that has all the features we need, like this:

[2019-10-17 19:03] malincoln commented on #675
@jagraj just gave update that he successfully verified the fix.  @GeekArthur and @ssh24 can you pls close.  Thanks

[2019-10-17 19:04] jopit commented on #730
The original description talks about installing the 0.4.0 vscode extension.  I'm wondering if the `.config/deployments` file was created by 0.5.0, and 0.4.0 can't handle it.

[2019-10-17 19:06] tetchel commented on #730
well, that's not a problem since no user is going from 0.4 -> 0.5

[2019-10-17 19:08] tetchel commented on #730
and yes, the codewind-workspace will not get created since you hit the nil pointer bug first. so, I think we can close this as invalid

[2019-10-17 19:10] elsony commented on #675
Closing as requested on preview comment

[2019-10-17 19:10] #675 closed

[2019-10-17 19:17] jopit opened #732 "Eclipse dark mode: create project and project overview have some white background"
**Codewind version:** 0.4.0
**OS:** macOS 10.14.6
**Eclipse version:** 2019-09

**Description:**
Using Eclipse in 2019-09 dark mode, there's some black text on white background in the new project dialog and in the project overview page

![image](https://user-images.githubusercontent.com/29612372/67040191-eec1b400-f0f0-11e9-86b7-f78c9afa06d4.png)

![image](https://user-images.githubusercontent.com/

[2019-10-17 19:22] tetchel commented on #731
labeling as bug because cw should be able to run in this situation

[2019-10-17 19:25] tetchel commented on #668
Removed the frontend for this from 0.5 but it's still in master, so let me know if we're planning to fix this at all, or not.

[2019-10-17 19:30] lentheivendra commented on #668
Just to be clear, the initial support for file:// URLs in specifying index .json files for templates was only for files that can be accessed by/within PFE.  As Tim says the problem here is due to the file being outside of that file system. Despite the initial support currently put in for the ODO extension, I don't think we should declare general user file:// URL support for specifying template ind

[2019-10-17 19:34] rajivnathan commented on #673
Moved to vscdoe-ide area based on comments it's not specific behaviour to odo projects.

[2019-10-17 20:07] jagraj commented on #710
I and Jingfu had a call and did more debugging, the major differences between my cluster and other clusters are that I have GlusterFS, metering, monitoring, Tekton, Istio, Knative serving services enabled as part of the Kabanero foundation stack.  We are going to keep debugging this issue why ODO app status fails on this cluster with those services enabled.

[2019-10-17 20:16] tetchel commented on #730
in any case the nil pointer is fixed in 0.5 so i think we can close this

[2019-10-17 20:16] #730 closed

[2019-10-17 20:28] jagraj commented on #692
After meeting with Jingfu and we came up with instructions how to delete orphaned ODO projects when workspace is deleted. This has to be documented to the users so that they can delete them with the manual instructions.

If user has "NFS" as a storage for the cluster, user can go to projects folders and delete ODO project resources with the following commands.

[code]
[code]

If user has GlusterFS

[2019-10-17 20:43] jagraj opened #733 "SVT: Plugin runtime crashed unexpectedly, all plugins are not working, please reload ..."
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2.0
**IDE extension version:** 0.5.0
**IDE version:** 7.1.0
**Kubernetes cluster:** OKD/Openshift

**Description:**
With the latest Eclipse che 7.2 version user might notice this error message **Plugin runtime crashed unexpectedly, all plugins are not working, please reload ...**  when the user session is expired for Eclipse che workspac

[2019-10-17 20:47] yangcao77 commented on #611
From the screenshot, it looks like the `internalApplicationPort` 3000 and `internalDebugPort` 9229 are somehow map to the same exposed port.
Turbine runs  same`docker run` cmd for all projects, it uses `-p 127.0.0.1::$DebugPort`, and `-P` will use `0.0.0.0` and the expose port in dockerfile by default. docker will dynamically bind the exposed ports.
In my machine, it binds to different exposed por

[2019-10-17 20:48] rajivnathan commented on #584
This is now done

[2019-10-17 20:48] #584 closed

[2019-10-17 20:57] malincoln commented on #710
@jagraj does that difference also affect 715 since this one is not stopship but 715 is?

[2019-10-17 21:00] mmulholl opened #734 "SVT : Eclipse: project created in workspace but not listed in codewind"
**Codewind version:**    Codewind tech preview	0.5.0.v201910151926
**OS:** Linux

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse IDE for Eclipse Committers Version: 2019-06 (4.12.0)
**Kubernetes cluster:**

**Description:**
After working for a while suddenly when I create a project it does not appear in the list of projects in codewind. The project is created in the workspace

[2019-10-17 21:03] rajivnathan opened #735 "[ODO][Iterative Dev]Turbine ODO Functional Tests"
**Description of the enhancement:**

There needs to be functional tests for the ODO Extension in Turbine for any new functions introduced.

[2019-10-17 21:04] #690 closed

[2019-10-17 21:05] GeekArthur commented on #692
I think for "NFS" user they will also face the same permission issue so they have to use the same instruction as "GlusterFS". So the generic instruction would be:

User has to copy resources under ".odo" from ODO pod up and running and install ODO CLI locally, then remove odo component by the following steps:
1. Login to OKD/OpenShift Cluster
2. Download ODO CLI locally using this instruction: htt

[2019-10-17 21:05] mmulholl commented on #734
My windows testing has now hit the same issue.

[2019-10-17 21:21] GeekArthur commented on #710
@malincoln This one is on Kube (OKD) but 715 is on Local, Jag's OKD cluster issue is only related with Kube not Local, so they are different cases.

[2019-10-17 21:24] rajivnathan commented on #692
I think they can accomplish the same without the need to download odo and copy files.

The following should work:
1. Login to OKD/OpenShift cluster
2. Change to the project where the resources are: `oc project <project name>`
3. Run the following command: `oc delete svc,route,dc,pvc -l=app.kubernetes.io/name=app`

If they had other odo components in the same namespace they can remove individual co

[2019-10-17 21:33] GeekArthur commented on #692
@rajivnathan I don’t think ODO specific resources have the correct label that can let us do the generic delete
[code]
So it doesn’t have resource label for <component>-<app>, user may fail to delete or delete wrong resource by using the instruction you post

[2019-10-17 21:49] rajivnathan commented on #692
My bad, I was using an older version of the odo cli. With the newer ones I see the labels you do. But still think it's better to delete using oc commands than the alternative.

The command to delete would be
`oc delete svc,route,dc,pvc,is -l=app.kubernetes.io/part-of=app`

Or for individual components
`oc delete svc,route,dc,pvc,is -l=app.kubernetes.io/instance=<component>`

[2019-10-17 21:52] yangcao77 commented on #704
Seeing the same error even after the docker registry got set successfully.
[code]

portal's log kept reporting ` Could not determine if watch for the workspace settings file had been established` after a refresh.
[code]

[2019-10-17 21:55] GeekArthur commented on #692
@rajivnathan Yea, you cleanup method should work for this ODO release, but problems are we don’t know how many kube resources that ODO project creates for each ODO release, and we also don’t know if ODO changes the label for each ODO release. Either ODO adds more kube resources or ODO changes the label will break the cleanup method.

However if we are relying on .odo (download odo and copy files),

[2019-10-17 22:06] AndyRWatson commented on #720
I can reproduce this also on another machine (as has @markcor11 )

<img width="1409" alt="Screenshot 2019-10-17 at 23 02 44" src="https://user-images.githubusercontent.com/9268814/67051187-5ba96e00-f132-11e9-865f-b24f2ced8cae.png">
[filewatcherd-1.log](https://github.com/eclipse/codewind/files/3741470/filewatcherd-1.log)
[codewind.log](https://github.com/eclipse/codewind/files/3741471/codewind.log

[2019-10-17 22:24] AndyRWatson opened #737 "license file in wrong place - codewind-performance"
**Codewind version:** 0.4 +
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The codewind-performance container does not have the license file in the default/home user directory.   Unlike pfe it appears to be in / instead.  I would expect to be able to find easily (or in a \license directory off the main directory)

**Steps to reproduc

[2019-10-17 22:29] AndyRWatson commented on #611
I can confirm I have reproduced this issue and my /etc/host looks ok.  other project containers are working ok using 127.0.0.1 so not convinced its an /etc/host issue

[2019-10-17 22:31] tetchel commented on #737
https://github.com/eclipse/codewind/blob/master/src/performance/Dockerfile_x86_64#L43

[2019-10-17 22:44] AndyRWatson commented on #720
I reproduced again on a second project.   I waited a few seconds and hit project refresh and still the same.    I then waited around 30 seconds and did project refresh again and it then works as expected !

[2019-10-18 08:04] markcor11 commented on #737
The performance container has a different WORKDIR to PFE :

Performance uses :  /usr/src/app
PFE uses: /

For  `docker exec -it codewind-performance cat LICENSE` to work the license needs be moved to /usr/src/app/

[2019-10-18 10:31] markcor11 opened #739 "Add deployment id to cwctl commands"
**Codewind version:**  master

**Description of the enhancement:**
The current deployment target command is no longer required as we are preparing to move to a more flexible model a deployment per project rather than a single deployment for all projects.

We then need to add a new (optional) depid to each cwctl xommand

**Proposed solution:**
1. Remove the deployment target sub-command
2. If the d

[2019-10-18 10:57] micgibso commented on #733
I'll take this, please assign to me

[2019-10-18 10:58] micgibso commented on #692
Have documented this on https://github.com/eclipse/codewind-docs/pull/184 please assign me.

[2019-10-18 11:00] micgibso commented on #722
Have doc'd this on https://github.com/eclipse/codewind-docs/pull/183, please assign me

[2019-10-18 12:11] micgibso commented on #712
Taken care of in part by wording better and linking to the topics. Also changed the ODO link to point to the readme instead of the issue. See mods for new05.md on PR https://github.com/eclipse/codewind-docs/pull/183

Small screen caps or animated gifs to show the feature remain not done yet.

[2019-10-18 13:07] eharris369 commented on #734
If you right click on Projects (Local) and select Refresh does the application show up?

[2019-10-18 13:09] rajivnathan commented on #657
Discussed on the checkpoint. Downgrading to hot because we had a number of people trying to reproduce but were unable to.

[2019-10-18 13:13] ssh24 commented on #693
Liberty project is now building fine after #694 went in. Looks like that was the issue.

[2019-10-18 13:21] jopit commented on #720
Marked stop-ship at Marylin's request.  @tetchel can you please investigate.

[2019-10-18 13:30] eharris369 commented on #734
Martin says that Refresh does not help in which case it is more likely a PFE problem.  Asked Martin for the Eclipse workspace log just to confirm.

[2019-10-18 13:44] maysunfaisal commented on #689
[code]
[code]
[code]

[code]

other failures:
 1) create file: file1
  1) get project logs with valid id

And test seems to time out after this test

[code]

with

[code]
being spammed until eternity

[2019-10-18 13:54] maysunfaisal opened #742 "[Iterative Dev] Kube Functional Test Registry API Error"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
[code]

**Steps to reproduce:**

**Workaround:**

[2019-10-18 14:03] rajivnathan commented on #693
Can this be closed now?

[2019-10-18 14:03] yangcao77 commented on #689
Unrelated to this issue, but I do find the log being spammed  a lot with the applog path a buildlog path.
Can we remove the logging message?

[2019-10-18 14:07] maysunfaisal commented on #693
Dont know if you want to keep this open for build issues seen in https://github.com/eclipse/codewind/issues/689#issuecomment-543754342

[2019-10-18 14:16] yangcao77 opened #744 "[Non-hybrid][local] Unable to establish watch to project since it's missing pathToMonitor"
**Codewind version:**
master branch
**OS:**
Mac

**Che version:**
N/A, local
**IDE extension version:**
0.5.0

**Description:**
Portal did not send `pathToMonitor` to  filewatcherD, and project failed to be watched.

[code]

A working JSON should look like:
[code]

**Steps to reproduce:**
1. Create a project in VSCode
2. Edit a file, and the auto build does not work

**Workaround:**

N/A

[2019-10-18 14:19] AndyRWatson commented on #720
uploading application .inf file for reference

[2019-10-18 14:21] eharris369 commented on #734
In the workspace log it is complaining that it can't find the locOnDisk field in the JSON for a project (org.json.JSONException: JSONObject["locOnDisk"] not found.).  Not sure what would cause this though I did find the following in the PFE logs:
^[[91m[17/10/19 20:42:00 Turbine] [ERROR]^[[39m [File Name: /file-watcher/server/dist/projects/ShellExtensionProject.js | Function Name: ShellExtensionPr

[2019-10-18 14:27] ssh24 commented on #689
The logging happens when it can't find the required files. And usually it cannot find the required log files if it failed on a step. But yeah, we can remove the logging message.

[2019-10-18 14:32] yangcao77 commented on #744
it’s because `locOnDisk` is missing in project.inf file.

[2019-10-18 14:34] eharris369 commented on #734
According to Toby the locOnDisk field was removed by accident as part of the hybrid work.

[2019-10-18 14:46] tobespc commented on #734
not by accident, it was deliberately removed, just tracking the reason down but it has been gone for quite a while

[2019-10-18 14:53] maysunfaisal opened #745 "Fix PFE Dockerfile"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Saw this Warning today - `Empty continuation lines will become errors in a future release.`

[code]

**Steps to reproduce:**
`run.sh`

**Workaround:**

[2019-10-18 14:56] tetchel commented on #720
for some reason the app port was never passed to the IDE, though i can see it there in the .inf, do you have pfe logs?

[2019-10-18 15:05] tobespc commented on #744
have you mismatched your levels ?  looks like you have 0.5.0 IDE and master codewind

[2019-10-18 15:07] tobespc commented on #734
are you using a mismatch of IDE plugin version and codewind version ?   In 0.5.0 codewind we have locondisk set as

 this.locOnDisk = `${global.codewind.CODEWIND_WORKSPACE}${this.directory}`;

[2019-10-18 15:10] yangcao77 commented on #744
0.5.0 VSCode with development environment + master codewind

The IDE level does not matter, it's because `locOnDisk` is missing in inf file, and filewatcherd cannot get expected `pathToMonitor`

[2019-10-18 15:11] eharris369 commented on #734
@mmulholl ^  When I do a docker images on the machine you were using it shows latest and 0.3.1 but no 0.5.0.

[2019-10-18 15:12] eharris369 commented on #734
This would explain why I could not reproduce it on my machine - I was using 0.5.0 Eclipse IDE and 0.5.0 Codewind images.

[2019-10-18 15:16] tobespc commented on #734
ok, I don't think this is a stopship then

[2019-10-18 15:35] mmulholl commented on #674
So what is the correct spelling?

[2019-10-18 15:37] mmulholl commented on #585
Any plans to address this? Can we add some intelligence to Codewind to handle the situation?

[2019-10-18 15:37] tetchel commented on #720
I can reproduce this, for some reason all the `projectChanged` events are missing the port information, but they are there in the `projectCreation` event, which is bizarre.

[2019-10-18 15:39] mmulholl commented on #510
Any plans to address this? Add some intelligence to codewind to hold off until things are stable?

[2019-10-18 15:40] tetchel commented on #720
the container ID is also missing from the projectChanged events

[2019-10-18 15:41] mmulholl commented on #499
Any plans to address this? Have codewind add some value by being intelligent rather than a pass through?

[2019-10-18 15:41] mmulholl commented on #469
Problem has been addressed.

[2019-10-18 15:45] #469 closed

[2019-10-18 15:53] makandre commented on #674
Probably whatever Appsody team has decided on (they must've changed the spelling for a reason).

In any case since we're getting this text straight from them, there's not really anything we can do on our side

[2019-10-18 15:58] tetchel commented on #720
@makandre i think this is the same as your issue. i think it is a timing issue and likely happening with microprofile because it has by far the slowest container build.

[2019-10-18 16:13] rtaniwa commented on #674
Let's check with them to understand if this is a proper name, or not. Seems to me either way, they should be consistent with the Kabanero collection.

[2019-10-18 17:08] sishida opened #746 "Update docs with codewind-node-profiler README info"
We need to add the info from https://github.com/eclipse/codewind-node-profiler#running-the-extension-with-visual-studio-code-vs-code into the Codewind.dev docs.

The problem:
You can run a non-appsody Node.js template and the load test but won't see anything in the project code that shows highlighting.

<Link to the Slack thread: https://ibm-cloud.slack.com/archives/C85THBQ6L/p1571417123187400>

T

[2019-10-18 17:08] seabaylea commented on #533
I've hit the same problem.

Essentially it looks like the issue for appsody apps is that the profiler assumes that the project runs in the `/app` directory inside the container (so it strips off `/app` from the start of all of the file urls in the profiling data). In appsody the directory it runs in is more variable. For the `Nodejs-express` stack it runs in `/project/user-app`.

If I go through t

[2019-10-18 17:19] tetchel opened #747 "projectCreation event should be emitted as soon as container is running"
since we know the ports and container ID as soon as the container is up and running, we should emit projectCreation much sooner.

It appears that it is not emitted until the container build AND application build are finished, but only the former should be required.

this caused https://github.com/eclipse/codewind/issues/720

[2019-10-18 17:20] tetchel commented on #720
I can work around this in the frontend, but I opened #720

[2019-10-18 17:29] tetchel commented on #720
however in the logs above you can see there is an 11s period where the app is started but there are no ports or container ID

[2019-10-18 17:33] makandre commented on #683
Verified this is ok now.  Thanks.

[2019-10-18 17:33] #683 closed

[2019-10-18 17:50] naveenkaratekid commented on #720
I am able to reproduce the error when I try to run the application:

![webshpere liberty app url error](https://user-images.githubusercontent.com/19738071/67116279-188ce080-f1ae-11e9-96ad-16c5b319bca7.PNG)

[2019-10-18 17:56] deboer-tim commented on #674
We should just transfer the issue across since it's not IDE related. I'm pretty sure it should be Skaffold and someone 'fixed' the spelling accidentally.

[2019-10-18 18:03] makandre commented on #674
I just posed a question on appsody slack channel.

[2019-10-18 18:25] ssh24 commented on #693
Closing this as both manual and automated tests have verfied this issue is fixed.

![Screen Shot 2019-10-18 at 2 11 51 PM](https://user-images.githubusercontent.com/15173354/67118592-2bee7a80-f1b3-11e9-9593-2a7fab6653ab.png)

[2019-10-18 18:25] #693 closed

[2019-10-18 18:26] GeekArthur opened #748 "[odo] odo project performance investigation"
**Description of the enhancement:**

Currently the ODO project build for create and update use case becomes slower than before.

Two possible causes:
- Latest Changes on upstream (ODO CLI, ImageStream, templates, etc)
- Turbine layer ping logic or timing issue exists in Turbine layer

[2019-10-18 18:26] GeekArthur commented on #748
I can take a look at this issue. please assign to me.

[2019-10-18 18:51] eharris369 commented on #720
I see this in Eclipse as well when I am on a fast machine (not my Windows machine).  The application goes into started state but it takes several seconds before the actual ports are updated in the overview page.  The PFE logs show the projectCreation event occurs 3s after the app goes into started state.

[2019-10-18 19:13] makandre opened #749 "Use appsody's new json output for list and repo list"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Appsody added `json` formatting to their `list` and `repo list` commands in https://github.com/appsody/appsody/releases/tag/0.4.7

Codewind Appsody Extension should switch and use `json`

**Proposed solution:**

[2019-10-18 19:16] maysunfaisal commented on #704
This is broken because https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/User.js#L241 has been commented out

[code]

This was due to PR https://github.com/eclipse/codewind/pull/672

[2019-10-18 19:17] maysunfaisal commented on #704
Trace logs that show watchList is empty:

[code]

[2019-10-18 19:35] makandre commented on #749
This would also address a truncation bug we have now:

![image](https://user-images.githubusercontent.com/17596240/67122881-d028ef00-f1bc-11e9-9128-0a8f7f24c281.png)

![image](https://user-images.githubusercontent.com/17596240/67122904-d9b25700-f1bc-11e9-80a8-17b7d4098043.png)

[2019-10-18 20:05] makandre commented on #674
Kabanero renamed too: https://github.com/kabanero-io/collections/tree/master/incubator/nodejs-express/templates/scaffold

[2019-10-18 20:36] mmulholl commented on #734
Please look again, I am using 0.5.0 images, they are tagged "latest".
The 0.3.1 images are hangovers form previous testing.

Docker ps:

650efb31e4f9        codewind-pfe-amd64:latest                        "sh -c ' /file-watch…"   24 hours ago        Up 24 hours         127.0.0.1:10000->9090/tcp                                                                             codewind-pfe
8d223101ff3f

[2019-10-18 20:45] mmulholl commented on #734
also if I right click on "Projects (Local)" one of the options is "Manage Template Sources..." which O am pretty sure was not available on 0.3.1.

[2019-10-18 21:11] mmulholl commented on #734
Here is another stack from the log (i think the line number for the NewCodewindProjectWizard proves is is not 0.3.1 that is running. :

org.json.JSONException: JSONObject["locOnDisk"] not found.
        at org.json.JSONObject.get(JSONObject.java:515)
        at org.json.JSONObject.getString(JSONObject.java:686)
        at org.eclipse.codewind.core.internal.CodewindApplicationFactory.createApp(Code

[2019-10-19 01:04] makandre commented on #715
@sghung said one of the symptoms seen was a projectCreation event getting emitted after the container starts. That’s suspiciously like the symptoms we saw in #720. It’s possible that, if projectCreation is the last event received for a project, maybe the app status in that event (starting?) gets shown by eclipse plugin.

cc @eharris369

[2019-10-19 01:38] makandre commented on #720
Is there a fix on eclipse side as well?

[2019-10-19 03:05] csantanapr commented on #533
Ah restarting VSCode, I didn’t try that after I replaced the paths

[2019-10-21 12:21] josephca commented on #679
@keithchong Update on NOTICE.md is done together with other codewind repos.

[2019-10-21 13:07] eharris369 commented on #720
On the eclipse side it already handles it because when it gets any update it does a full refresh.  So it shows the delay in getting the URL which can't be avoided but it never got stuck in starting state.

[2019-10-21 13:13] eharris369 commented on #715
On a projectCreation event, Codewind Eclipse does a full refresh of the project - it calls api/v1/projects and uses the result of that to update the project so it does not rely on what is in the projectCreation event for the status.

[2019-10-21 13:15] rajivnathan commented on #688
Master is fixed now as well with https://github.com/eclipse/codewind/pull/707

[2019-10-21 13:15] #688 closed

[2019-10-21 13:33] markcor11 commented on #489
PR to make CLI Deployments command Gatekeeper aware :  https://github.com/eclipse/codewind-installer/pull/150

[2019-10-21 14:00] #709 closed

[2019-10-21 14:14] jagraj commented on #720
SVT team verifying this issue with the latest plugin and images. Here is the result from Sujeily..

```I no longer see the problem with the Standard MicroProfile endpoint UPR (#720) and I could not notice any delay in the application information population, using the latest images of Codewind 0.5.0 on Windows 10 and MacOS.```

Naveen and David also in the process of verifying with the latest.

[2019-10-21 15:12] james-wallis opened #750 "Add ignoredPaths to CLI sync"
When the CLI/installer adds the project files into the PFE container it currently adds all files in the project folder. Some files are not needed in the project and increase the amount of time the sync HTTP request takes by adding these files.

The CLI's sync function should be changed to not add files which are not written such as the `target` folder in a Java application.

PFE has a [watchlist e

[2019-10-21 15:31] tobespc commented on #734
I can see that master branch of pfe has a change thats leaked through from the hybrid changes that will cause this problem.  I've put a PR up to fix in master.  However, this code is ok in the 0.5.0 branch of pfe so need to make sure the 0.5.0 eclipse plugin is pulling the 0.5.0 pfe

[2019-10-21 15:32] jopit commented on #734
By default, the 0.5.0 version of the plugins requires docker images tagged '0.5.0'.  I'd like to understand why the docker images in question are tagged 'latest'?

[2019-10-21 15:35] #734 closed

[2019-10-21 15:53] jopit commented on #734
I can confirm that the 0.5.0 eclipse plugin does pull the 0.5.0 docker images:
[code]

[2019-10-21 15:53] jagraj commented on #720
More updates on this issue. With the latest plugin and images this issue has been fixed, David and Naveen's tests also ran successfully. We no longer see this problem.

Thanks for the fix.

[2019-10-21 16:08] mmulholl opened #752 "SVT : Eclipse : Installer installs inconsistent set of drivers"
**Codewind version:** 0.5.0
**OS:** linux

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse
**Kubernetes cluster:**

**Description:**
If I install, for example 0.5.0 into eclipse from https://download.eclipse.org/codewind/codewind-eclipse/0.5.0/latest/repository/, but when I started eclipse I had CW_TAG=latest, I don't get 0.5.0 at all. I get latest. This should at least flag a

[2019-10-21 16:18] jagraj commented on #715
Here are the logs with the latest release images and eclipse 0.5.0 plugin. After codewind restart (Appsody microprofile, Appsody NodeJS Default, AppsodyPython) are in "Starting" state and Appsody Nodejs Simple project in "Stopped" state.

![image](https://user-images.githubusercontent.com/713849/67223016-7dd61100-f3fc-11e9-9fe0-96a5e760951e.png)

[pfe-10212019.txt](https://github.com/eclipse/codew

[2019-10-21 16:28] makandre commented on #715
"Appsody Nodejs Simple project in "Stopped" state." <- If this is the `nodejs` stack and not the `nodejs-express` stack, then it is expected to be `Stopped`

[2019-10-21 16:32] rajivnathan opened #753 "IDC compile failure during build"
**Codewind version:** master
**OS:** Mac

**Description:**
Seeing the following error during the build:
[code]

**Steps to reproduce:**
Run `run.sh`

**Workaround:**

[2019-10-21 16:32] makandre commented on #715
Your `nodejs-express` app hit this intermittent problem which has been reported on slack chat.

[code]
A request to build the app again should fix this one.

[2019-10-21 16:34] #680 closed

[2019-10-21 16:35] GeekArthur opened #754 "Add Codewind to odo's list of projects that use odo"
Currently Codewind already supported OpenShift projects and can use odo as build engine to build projects, so we can add Codewind as `projects using odo` on official OpenShift website here: https://github.com/openshift/odo#projects-using-odo.

[2019-10-21 16:36] GeekArthur commented on #754
Please assign this issue to me.

[2019-10-21 16:42] eharris369 commented on #715
I reproduced this on my machine and it looks like the timeout problem:
[code]
[code]

[2019-10-21 16:54] eharris369 commented on #715
I guess it is not exactly the same since these are in stopped state but what was the resolution for the timeout issue?  Is there a setting for adjusting the timeout for a project that the IDEs can expose to the user?

[2019-10-21 16:55] yangcao77 commented on #753
Can assign this to me

[2019-10-21 17:04] ssh24 commented on #753
It looks like `getTurbineSync` function was somehow removed. It should be in the IDCContext but it's not https://github.com/eclipse/codewind/pull/672/files#diff-6f00aafe708cfc15766150dfbdaf0c75R186

[2019-10-21 17:06] makandre commented on #715
I think stopped apps will eventually get re-pinged by https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectStatusController.ts#L375 which specifically looks at apps in `stopped` or `started`

I think I finally reproduced this once, from what I could tell, the last status change for the project was `started` (i.e. not a timeout), yet it was still showin

[2019-10-21 17:06] ssh24 commented on #753
It was this PR that removed it https://github.com/eclipse/codewind/pull/707

[2019-10-21 17:07] ssh24 commented on #753
Should be added back as the Liberty project relies on that for hybrid mode builds

[2019-10-21 17:10] yangcao77 commented on #611
Confirmed that I'm also seeing this issue after update to latest docker (2.1.0.3)

[2019-10-21 17:37] tetchel commented on #720
okay, #747 will improve this behaviour further, but I think we can close this for 0.5

[2019-10-21 17:37] #720 closed

[2019-10-21 18:13] tetchel commented on #752
there's no reason a user would set the CW_TAG env variable, it's your responsibility to make sure your environment is set up correctly.

[code]
https://github.com/eclipse/codewind-eclipse#developing-codewind-for-eclipse

[2019-10-21 18:13] jopit commented on #734
The only way the eclipse plugins will install and use images tagged `latest` is if one of the environment variables `CW_TAG` or `INSTALL_VERSION` is set to `latest`.  If that's the case, then we have the 0.5.0 eclipse plugin running against docker images from the master branch, and this is not a valid test scenario for 0.5.0

[2019-10-21 18:19] jopit commented on #752
The CW_TAG env variable is only for use in the development of the eclipse plugin itself.  A user of the eclipse plugin should not be setting this variable at all.

[2019-10-21 19:03] GeekArthur opened #757 "Update ODO extension installer to accommodate ODO latest release format change"
Currently ODO store the binaries into the OpenShift mirrors, we need to update the ODO extension installer to accommodate the changes.

[2019-10-21 19:03] GeekArthur commented on #757
Please assign this issue to me.

[2019-10-21 19:11] GeekArthur commented on #757
Download location before the change on ODO side:
[code]

Download location after the change on ODO side:
[code]

[2019-10-21 19:39] rajivnathan opened #758 "Codewind's odo cli binary should be immutable"
**Description:**
With https://github.com/eclipse/codewind/issues/757 the odo download url changed and broke Codewind's odo functionality. The odo binary should not change for a particular Codewind release. This can be achieved by packaging it with Codewind images like we do for buildah but it seems the current design doesn't allow for that. We'll need to figure out a solution for this because the

[2019-10-21 20:52] yangcao77 commented on #611
This is not a Codewind issue.
I can reproduce this issue with any types of project (tried nodejs and spring) with docker cli.
`docker build` and `docker run` with both `-p` and `-P`.

I have created an issue under docker cli git repo: https://github.com/docker/cli/issues/2148

[2019-10-21 21:05] rajivnathan commented on #753
Fixed

[2019-10-21 21:05] #753 closed

[2019-10-21 21:06] rajivnathan commented on #757
Fix has been merged to 0.5.0

[2019-10-21 21:09] ssh24 commented on #681
List of broken log logics in each project type:

**Liberty**

- **build**
  - Maven build log does not show up on the list

- **app**
  - Console log is missing from the list
  - Messages log is in the list but does not have any content

**Spring**

- **build**
  - Maven build log is in the list but does not have any content

[2019-10-21 22:42] GeekArthur commented on #757
Verified, fix worked.

[2019-10-22 03:38] tetchel commented on #742
https://github.com/eclipse/codewind/issues/666

[2019-10-22 04:10] makandre commented on #715
Got a couple of PRs that will hopefully address this issue.  It was still only intermittently reproducible but I tracked it down to 2 causes:

1. For apps that are stuck in stopped state, it appears Codewind was pinging the wrong port.  This happens because Codewind relies on the `stdout` from the appsody extension's `entrypoint.sh` script to map a stack to ports, but this mechanism seems to be in

[2019-10-22 07:30] tobespc commented on #744
I've added locOnDisk back in for non hybrid so this is now resolved

[2019-10-22 07:30] #744 closed

[2019-10-22 09:14] tobespc opened #765 "Nodejs projects on creation are disabled (remote architecture)"
**Codewind version:** latest
**OS:** Macos

**IDE version:** vscode (hybrid)

**Description:**

**Steps to reproduce:**

Creating a new Nodejs project with the latest code causes it to start disabled.  You have to manually enable it to get it to build

From PFE logs

}
[22/10/19 08:31:13 mynodejs] [ERROR] getContainerStatus : 150 | | The command docker exec,cw-mynodejs-5465a700-f4a5-11e9-9eba-4b80

[2019-10-22 09:21] tobespc opened #766 "VSCODE - Local Path is incorrect (remote architecture)"
**Codewind version:** latest
**OS:** Macos

**IDE extension version:** vscode (hybrid)

The Local Path on the project overview is incorrect.  It shows as being /codewind-workspace/.... rather then the actual location on disk.  This info is being sent back from PFE so need to check where its failing.   It should be the LocOnDisk value but on checking this is not set correctly

[2019-10-22 09:22] tobespc opened #767 "VSCODE needs to call 'cwctl bind' rather than directly call the pfe endpoint (remote architecture)"
The cwctl has a bind option that is to replace calling the /remote-bind/ endpoint directly

cwctl project bind
NAME:
   cwctl project bind - bind a project to codewind for building and running

USAGE:
   cwctl project bind [command options] [arguments...]

OPTIONS:
   --name value, -n value      the name of the project
   --language value, -l value  the project language
   --type value, -t value

[2019-10-22 09:23] tobespc opened #768 "ECLIPSE IDE needs to call cwctl bind rather than directly call the endpoint (remote architecture)"
The cwctl has a bind option that is to replace calling the /remote-bind/ endpoint directly

cwctl project bind
NAME:
cwctl project bind - bind a project to codewind for building and running

USAGE:
cwctl project bind [command options] [arguments...]

OPTIONS:
--name value, -n value the name of the project
--language value, -l value the project language
--type value, -t value the type of the projec

[2019-10-22 09:42] tobespc opened #769 "If build is in progress, autobuild is not scheduling a build to follow (remote architecture)"
When autobuild is enabled, files get synced when they are modified.  If a build is currently in progress, we don't sync the files (so as not to mess up the build).  However, when that build finished we should then kick off a new build with the files that have been recently synched

[2019-10-22 09:45] tobespc opened #770 "Manually triggering a build (IDE's) does not build with latest code (remote architecture)"
When manually triggering builds through the IDE's, the code is not being updated to the build/run container and so the build doesn't do anything.   Need to change the IDE's to call 'cwctl project sync' when a manual build is requested rather than call the remote api endpoint

[2019-10-22 10:06] jcockbain96 opened #771 "`GET /projects`, locOnDisk is `codewind-version/undefined` (remote architecture)"
**Codewind version:** latest

**IDE extension version:** Hybrid branch

**Description:**

Creating projects with the new remote architecture, when I then call `GET /api/v1/projects` I get `locOnDisk = codewind-workspace/undefined`. I don't know if this field is required anymore, as there's similar looking fields alongside it.

![Screenshot 2019-10-22 at 11 01 02](https://user-images.githubusercont

[2019-10-22 10:07] tobespc opened #772 "Autobuild is not working, on a file change nothing is happening (remote architecture)"
Doesn't look like the filewatcherd is calling the cli when a file change occurs.   Autobuild is broken as a result

This is testing with vscode

[2019-10-22 10:16] mattcolegate opened #773 "Eclipse panel help doesn't work"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:** N/A

**Description:** The Help ? icon on the following panels, when pressed, does nothing.
- New Codewind connection
- Add Existing Project to Codewind - Project Selection
- Add Existing Project to Codewind - Confirm Pro

[2019-10-22 10:20] jcockbain96 opened #774 "`PayloadTooLargeError` on repeat after importing a project (remote architecture)"
**Codewind version:** Latest
**OS:** MacOs

**IDE extension version:** Hybrid Branch (Latest as of issue being raised)

**Description:**
The error displayed every few seconds in the logs of the PFE container, and interacting with the vsCode plugin felt slower (creating / deleting projects etc...)

**Steps to reproduce:**
1. Imported a relatively large Node.js project (but not with any out of the o

[2019-10-22 10:20] james-wallis opened #775 "VSCode plugin allows projects with the same name and displays the same projectID with all projects"
**Codewind version:** Latest local (remote)
**OS:** MacOS

**Description:**
I created a project with the name `noddy2` in my `codewind-workspace` which built and ran fine. Then I imported the same project into Codewind using the file selector import. Worked fine twice.
![image](https://user-images.githubusercontent.com/17385115/67276980-b1c53b00-f4bd-11e9-8b82-48721bf59e58.png)

The project ID for

[2019-10-22 10:22] mattcolegate opened #776 "Eclipse New Connection panel: can tab into non-editable areas"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Tabbing through the panel tabs into the labels 'Create a connection to a Codewind instance' and 'Fill in the deployment information:'.

**Steps to reproduce:** Right-click Codewind in the Codewind Explorer

[2019-10-22 10:26] jcockbain96 opened #777 "2 default template repos missing a name (remote architecture)"
**Codewind version:** Latest
**OS:** MacOs
**VScode:** Hybrid branch

**Description:**

`No name available` for the second two default template repos.

**Steps to reproduce:**

Go to template source manager, I see the following table.

![Screenshot 2019-10-22 at 11 26 24](https://user-images.githubusercontent.com/31372187/67277506-d1a92e80-f4be-11e9-8821-45b9b1f93ff1.png)

[2019-10-22 10:29] james-wallis opened #778 "Unclear delete message when removing project from Codewind (VSCode)"
**Codewind version:** Master
**OS:** MacOS

**Question synopsis:**

When removing a project from Codewind the VSCode plugin it asks whether we want to delete the files from the workspace (dialog box shown below).
![image](https://user-images.githubusercontent.com/17385115/67277554-f4d3de00-f4be-11e9-9ddf-aa96cf2d9421.png)

I think that having "cancel" to say no to deleting is confusing as it may g

[2019-10-22 10:30] liamchampton opened #779 "Files not being removed from disk after project is removed (remote architecture)"
**Codewind version:** latest
**OS:** Macos
**IDE extension version:** vscode (hybrid)

**Description:**
Files not being deleted from disk after project is removed

**Steps to reproduce:**
1) Create a project locally,
2) Wait for it to build and run
3) Remove the project

This will remove the project from the IDE but the files will still be left on disk. This _could_ be a result from https://github

[2019-10-22 10:34] mattcolegate opened #780 "Eclipse Manage Template Sources panel: can tab into non-editable areas"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Tabbing through the panel tabs into the labels 'Add, remove, enable and disable template sources', 'Enable or disable template sources using the check boxes. Use the buttons...', and all the labels below th

[2019-10-22 10:46] hhellyer opened #781 "Performance container is bind mounting the workspace and docker socket."
The performance container is still bind mounting the docker socket and `codewind-workspace` when run via the installer.
It is already not using these when started using start.sh so fixing this should be a safe change.

[2019-10-22 10:46] mattcolegate opened #782 "Eclipse Add Template Source panel: can tab into non-editable area"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Tabbing through the panel tabs into the label 'Supply a URL, name and description for the new template source'.

**Steps to reproduce:** Start Codewind and right click Local in the Codewind Explorer view. S

[2019-10-22 10:47] james-wallis opened #783 "Project validation error on valid project (remote architecture)"
**Codewind version:** Latest master (remote)
**OS:** MacOS

**Description:**
Pulled from master and ran `./run.sh`,  installed the vs-code plugin from source and created a Node.js project from the default template.
Hit two validation errors for the package.json and Dockerfile not existing when they clearly do.
![image](https://user-images.githubusercontent.com/17385115/67278165-5cd6f400-f4c0-11e9-

[2019-10-22 10:49] jcockbain opened #784 "VS Code Node.js vs Nodejs"
**Codewind version:** latest
**OS:** MacOs

**IDE version:** latest

**Question synopsis:**
This is a minor nit, but at the moment we display the following the information panel for a node project. Could language and projectType be made consistent?

![Screenshot 2019-10-22 at 10 45 48](https://user-images.githubusercontent.com/31372187/67278960-fc48b680-f4c1-11e9-8b2f-787d25807a9f.png)

[2019-10-22 10:50] mattcolegate opened #785 "Eclipse Panel help linked to default help"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Pressing the ? icon to open the help on the following panels opens the help to the default Workbench Window help, which is not helpful.
- Manage Template Sources
- Add Template Source

**Steps to reproduce:

[2019-10-22 10:53] liamchampton opened #786 "Failing to add project to workspace using the plugin (remote architecture)"
**Codewind version:** latest
**OS:** macOS

**IDE extension version:** vscode (hybrid)

**Description:**
Files not being added to vscode workspace if using the drop-down list from the extension and selecting `Add Project to Workspace`

**Steps to reproduce:**
1) Create new project
2) Chose the parent path (anything different to a workspace already open in vscode)
3) Wait for project to be running

[2019-10-22 10:54] mattcolegate opened #787 "Eclipse Add Template Source panel: window title incorrect"
**Codewind version:** latest hybrid
**OS:**  Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** The 'Add Template Source' panel has the window title _Add Repositories_. It should be _Add Template Source_.

**Steps to reproduce:** Start Codewind and right-click Local in the Codewind Explorer view. Sel

[2019-10-22 10:55] mattcolegate commented on #787
![$1635EDF71CAF1F15](https://user-images.githubusercontent.com/15730986/67279401-d07a0080-f4c2-11e9-8707-7b1a1a6ff28a.jpg)

[2019-10-22 10:55] james-wallis commented on #783
I've checked in the `codewind_cw-workspace` Docker volume that is used and it looks like its keeping the validation results in the `project inf`. When I reimport it is still giving the same error, not sure if its matching the project name "Noddy" with an existing project inf that contains a project of the same name?

If I change the name on disk of the folder the project import works fine and does

[2019-10-22 10:57] james-wallis commented on #783
If I rename a project which works and is running to `noddy` (The name of the project with validation errors) the project will not build and gets the same validation errors returned.

[2019-10-22 10:58] mattcolegate opened #788 "Eclipse Project Selection Panel: can tab into non-editable area"
**Codewind version:** latest hybrid
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Tabbing through the panel tabs into the label 'Select the project to add to Codewind'.

**Steps to reproduce:** Start Codewind and right click Local in the Codewind Explorer view. Select Add Existing Projec

[2019-10-22 11:04] jcockbain opened #789 "Project from default Python + Go templates display `language: unknown`"
**Codewind version:latest**
**OS:MacOs**

**IDE version:latest**

**Description:**
We currently look for `package.json`, `Package.swift`, and `Pom.xml` (and certain snippets therein) to detect Node, Swift and Java project languages and types.

This means creating a Python project from our template is `unknown`. Previously, we read the language and type from the template definition. We may want to

[2019-10-22 11:26] jcockbain96 opened #790 "Swift Projects - Application failed to compile (remote architecture)"
**Codewind version: latest**
**OS: MacOS**

**IDE extension version: VS code - hybrid branch latest. As of the issue being raised**

**Description:**
Swift projects, created from our default templates, fail to build and display `Application failed to compile` on Project Status.

**Steps to reproduce:**
1. Create Project in VS code plugin.
2. Select Swift template.
3. The build fails, displaying th

[2019-10-22 12:14] #781 closed

[2019-10-22 12:19] jcockbain96 commented on #790
Closing for now, as only I am getting this. Will investigate and then re-open if it's something not related to my setup.

[2019-10-22 12:19] #790 closed

[2019-10-22 12:35] mattcolegate opened #791 "Eclipse: NPE when selecting Apposdy for non-identified project"
**Codewind version:** latest
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.5.0.v201910171920
**IDE version:** 2019-06
**Kubernetes cluster:** N/A

**Description:** Picking a random folder to import as an existing project then selecting it's type as Appsody causes a NPE. I think it's probably because I've not got Apposdy installed on my machine, but it still should be handle

[2019-10-22 12:35] eharris369 commented on #776
This is intentional for accessibility purposes - some screen readers do not read labels on lines by themselves so we use read only text instead.  I did find a way to read labels with MAC voice over.  I could check if JAWS has a way as well.  I don't know what other screen readers we target.

[2019-10-22 12:41] markcor11 opened #792 "Error creating new project (CHE)"
**Codewind version:**:  latest

**Description:**

Codewind CWCTL fails to bind a project in Che

When determining PFE target,  cwctl uses http rather than https

https://github.com/eclipse/codewind-installer/blob/33910a4a750b5d1e48f840a2c26c361b924704da/config/config.go#L26

Attempting to run the CLI manually through theia pod :

[code]

**Steps to reproduce:**

Set Che and Codewind try to create

[2019-10-22 12:44] rajivnathan commented on #757
Reopening this one so that the fix can be ported to master as well.

[2019-10-22 12:47] james-wallis opened #793 "Node.js template logs showing undefined returned from /health endpoint"
**Codewind version:** Latest master (remote)
**OS:** MacOS

**Description:**
Node.js projects created through the templates have an `undefined` being logged when reporting the response from the `/health` endpoint being checked.
See below:
[code]

**Steps to reproduce:**
* Create a new Node.js application using the default template.
* Show all logs.
* Switch to the app logs.

**Workaround:**

[2019-10-22 12:55] eharris369 commented on #776
This affects the New Connection wizard and Add Template Source page of the Manage Templates sources dialog.

[2019-10-22 12:55] eharris369 commented on #782
This is a duplicate of #776.  Please don't open separate issues for the same thing.  Just rename the original issue as "Can tab to labels in Eclipse dialogs and wizards" and then list the dialogs and wizards affected in the details.

[2019-10-22 12:55] #782 closed

[2019-10-22 12:59] eharris369 commented on #780
This is a duplicate of #776.

[2019-10-22 12:59] #780 closed

[2019-10-22 13:02] tetchel commented on #778
Agreed for sure that cancel is confusing here.

But this is a limitation of this API - Cancel is always present in these dialogs. Delete Directory is the only button I provide.

I could do No, Cancel, Delete Directory, but I think that's even worse.

[2019-10-22 13:02] #778 closed

[2019-10-22 13:04] eharris369 commented on #788
This is a duplicate of #776

[2019-10-22 13:04] #788 closed

[2019-10-22 13:05] tetchel commented on #775
ok, so the bug here is there should be a message like 'a project already exists at this location' ?

[2019-10-22 13:08] liamchampton opened #795 "Spring Boot app.log needs to show exposed port for the localhost EP links"
**Codewind version:** latest
**OS:** macOS
**IDE extension version:** vscode (hybrid)

**Description:**
In the logs of a Spring project it explicitly states:
[code]
which is correct in the context on the `app.log` since it is inside the container. However, to access these application end points it needs to use the exposed port to work. This should be more explicit for the end user

**Steps to repr

[2019-10-22 13:16] eharris369 commented on #785
This is a duplicate of #773

[2019-10-22 13:16] #785 closed

[2019-10-22 13:19] eharris369 commented on #773
There is no integrated help for Codewind Eclipse because Eclipse has its own help system and it would be some work to write new documentation specifically for it.  I can look into removing the icons on the dialogs and wizards.

[2019-10-22 13:20] ssh24 commented on #765
@tobespc How did you bind the project? I am using IDE with latest hybrid branch
 and it is working
[code]
![Screen Shot 2019-10-22 at 9 20 08 AM](https://user-images.githubusercontent.com/15173354/67289789-28a60800-f4ad-11e9-8711-4ca7ffe16e1d.png)

[2019-10-22 13:27] rajivnathan commented on #139
Adding the tech topic label back now that things have settled down a bit and the PR build tests are more or less stable. SVT also asked the question of where to report their integration test results on the demo call today. cc @jagraj

[2019-10-22 13:29] #745 closed

[2019-10-22 13:29] AndyRWatson opened #796 "Include youtube video tutorial content on codewind landing pages"
**Codewind version: 0.4
**OS:**  MacOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
We have a number of tutorial/step through videos on our youTube channel https://www.youtube.com/channel/UCnKCVK6RFDyHFqUmXlAhCHQ/

Can we link/include these videos where appropriate in our landing page instructions to complement the landi

[2019-10-22 13:33] AndyRWatson opened #797 "Include social feed on our landing page"
**Codewind version: 0.4
MacOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
We have a number of social feeds which are linked from our main landing page, but would like to see a live feed of new content on the landing page (similar to that also used  at the bottom of https://Kabanero.io )

**Proposed solution:**

[2019-10-22 13:53] stalleyj commented on #491
I've added an 'upgrade" command to the cli which can be called to move your projects.
upgrade -ws /Users/myuser/codewind-workspace

It will read the project inf files from the old workspace, parse the relevant information and called bind for each of them

[2019-10-22 14:29] jcockbain96 commented on #789
on looking at the `cwctl` code, we do look for a `pipfile`. However, it seems that our template doesn't have this file. https://github.com/eclipse/codewind-installer/blob/master/utils/project.go#L37

[2019-10-22 14:33] jcockbain96 commented on #789
@makandre - should we have a `pipfile` in our Python template? Seeing it was your change that added the Python detection code.

[2019-10-22 14:34] tetchel commented on #766
a while back locOnDisk was wrong so i switched `projectInfo.locOnDisk` to `path.join(projectInfo.workspace, projectInfo.directory)` but i can switch it back

[2019-10-22 14:40] eharris369 opened #799 "Eclise IDE: on restart of Eclipse local connection shows as disconnected"
On restart of Eclipse the local connection shows as disconnected.  A refresh will return it to connected state.  This issue was introduced by the hybrid changes.

[2019-10-22 14:41] makandre commented on #789
Perhaps... Codewind never detected python as a language, my changed didn't change that behaviour; the `pipfile` detection was added specifically to address a scenario for Appsody.

So we could add one to our template if it fits our model.

[2019-10-22 14:51] tobespc commented on #766
can you switch this back please, locOnDisk is now correct . @tetchel

[2019-10-22 14:54] rajivnathan commented on #553
Seeing this again on master and PR builds

eg.
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/159/consoleFull

[2019-10-22 14:56] tobespc commented on #771
fixed by this PR https://github.com/eclipse/codewind/pull/800

[2019-10-22 15:05] stalleyj commented on #774
I'll pick this one up

[2019-10-22 15:31] tobespc commented on #772
all fixed, missing a file from pfe for locOnDisk

[2019-10-22 15:31] #772 closed

[2019-10-22 15:35] tobespc commented on #786
this should be fixed by https://github.com/eclipse/codewind/pull/800

[2019-10-22 15:36] #771 closed

[2019-10-22 15:45] j-c-berger commented on #524
@sishida I can work on this one, thanks!

[2019-10-22 15:50] tetchel commented on #765
When I tried creating a node project I saw #783 maybe it's related

[2019-10-22 16:00] jcockbain96 commented on #789
Ok I understand, this is more about whether we take projectType and language from a templates data when we create a project from it then.

We did at one point, but reverted to using the type detection code on every project we create. I think it's odd to create a project from our own template and then have `language: unknown`.

My preference would be to read from the template language and style on

[2019-10-22 16:03] eharris369 opened #801 "Eclipse IDE: fix up new connection wizard and add registry fields"
Fix up the new connection wizard:
- can finish even if no connection name is specified
- test connection should be enabled if no connection name is specified (but not Finish)
Also add the registry fields.