[2020-02-07 20:13] sujeilyfonseca commented on #2094
I verified this issue with the latest Codewind 0.8.1, and I no longer reproduce this problem.

<img width="440" alt="Screen Shot 2020-02-07 at 3 12 27 PM" src="https://user-images.githubusercontent.com/49531960/74062481-5e1f2480-49bc-11ea-8a1c-16aaaf1c7c26.png">

[2020-02-07 20:13] #2094 closed

[2020-02-07 20:26] tobespc commented on #2101
If this for just the very first run or for every run?

[2020-02-07 20:50] jagraj commented on #2101
I have seen this mostly with appsody projects so far that I need to refresh the page to get the test results. I tried WebSphere liberty default project and test results displayed fine with out refresh. This looks like intermittent problem.

[2020-02-07 21:08] tetchel commented on #1815
ok, we'll have to scrape the documentation to make sure all the instances of 'performance dashboard' are renamed

[2020-02-07 21:09] tetchel commented on #1812
https://github.com/eclipse/codewind-vscode/pull/447

[2020-02-07 21:52] jopit commented on #2090
When JAVA_HOME is set to a path that contains spaces, that also causes the `appsody init` to fail

[code]

[2020-02-10 09:55] tobespc commented on #2004
Uur specific requirement should be to make it as easy as possible for any developer to use codewind regardless of there environment.  Now I realise this is an almost impossible task as there are so many combinations but that shouldn't prevent us having that as a target.

As for how we implement this, adding a section to docs is a solution, as would be us injecting bash for them.  The balance would

[2020-02-10 09:57] micgibso commented on #1399
Thanks, will draft new topic...

[2020-02-10 10:09] rwalle61 opened #2104 "Unskip PFE /projects/{id}/metrics/status API tests"
Leftover work from https://github.com/eclipse/codewind/issues/1716

The PFE tests that check the `projects/{id}/metrics/status` route are important, but skipped. For example, [this PR](https://github.com/eclipse/codewind/pull/2043#discussion_r376620562) passed our Jenkins build but could have broken our desired behaviour. I think it would be fairly straightforward to unskip them, because there is

[2020-02-10 10:46] #1716 closed

[2020-02-10 10:50] #1788 closed

[2020-02-10 10:51] #1742 closed

[2020-02-10 10:53] tobespc commented on #187
closing as moved to centos everywhere

[2020-02-10 10:53] #187 closed

[2020-02-10 10:56] tobespc commented on #668
moving to backlog as this is not something we can support right now.

[2020-02-10 10:59] tobespc commented on #1900
closing as the storage issue #1964 is the next required step

[2020-02-10 10:59] #1900 closed

[2020-02-10 11:53] micgibso commented on #2018
https://github.com/eclipse/codewind-docs/pull/349

[2020-02-10 13:15] micgibso commented on #2032
@tetchel Yes, that's the file I think needs updating.

[2020-02-10 13:22] micgibso commented on #2018
Work completed on above PR, closing...

[2020-02-10 13:22] #2018 closed

[2020-02-10 13:42] micgibso commented on #2019
Don't remove the text `IBM Cloud...` from the remote topics, these are very specific.

[2020-02-10 13:47] markcor11 commented on #2101
It could be that the loadrunner and profiling collection have not totally completed.

PFE Is supposed to send out a socket message to tell the dashboard the metrics data has been collected from the project and been written into PFE.  I suspect this is a timing issue with those socket messages being fired too soon and made worse in Liberty because of the agent attach/detach mechanisms.

[2020-02-10 13:50] jcockbain commented on #1961
/assign

[2020-02-10 13:52] sishida commented on #1883
Changes/updates to images were made here with this PR: https://github.com/eclipse/codewind-docs/pull/349

I am mentioning these changes for awareness, but they shouldn't impact the move itself for this issue.

[2020-02-10 14:04] rwalle61 commented on #2104
/area Portal

[2020-02-10 14:10] tetchel commented on #2032
which ones?

[2020-02-10 14:17] micgibso commented on #2032
Looks like these need changing to the values shown below:

TEMPLATE_MANAGEMENT = "workingwithtemplates.html"
INSTALL_INFO = "mdt-vsc-gettingstarted.html"
INSTALL_ON_CLOUD = "remote_overview.html"
REMOTE_UI = "remote-overview.html"
REMOTE_DEPLOYING = "remotedeploy-combo.html"

[2020-02-10 14:31] eharris369 commented on #1812
Eclipse IDE PRs:
- **0.9.0**: https://github.com/eclipse/codewind-eclipse/pull/578
- **master**: https://github.com/eclipse/codewind-eclipse/pull/579

[2020-02-10 14:32] #115 closed

[2020-02-10 14:36] beccabau opened #2105 "Change option from cancel to no for delete directory request when removing a project in VS Code"
**Codewind version:** 0.8.0
**OS:** macos catalina

**IDE version:** vs code

**Description of the enhancement:**

![image](https://user-images.githubusercontent.com/13971834/74158591-5a6fe580-4be8-11ea-92b4-5ecff239d49e.png)

When I remove a project from local codewind in vs code, I also have the option to delete the directory when removing a project, but sometimes I might not want to. I found th

[2020-02-10 14:40] tetchel commented on #2105
I agree this is confusing, but there always has to be a Cancel button, there's no way to turn it off.
I guess I could do `Delete Directory | Don't Delete | Cancel` and then cancel the entire deletion if they click Cancel at that step. But, I already asked them to confirm the delete in the previous dialog 🤔

[2020-02-10 14:47] beccabau commented on #2105
For me, the first prompt is asking to confirm project removal, which is a different from deleting the directory (right?)

![image](https://user-images.githubusercontent.com/13971834/74159795-58a72180-4bea-11ea-828d-43816e1774d1.png)

[2020-02-10 14:48] tetchel commented on #2105
yes, that's why i'm saying it wouldn't make sense to have cancelling the second step go back and also cancel the first step

[2020-02-10 14:52] ssh24 commented on #2075
From our investigation last week, we found the issue: on eclipse, the .project file triggers build once a maven project is building. this now keeps adding the project to the queue because build queue not works for update. As a result, the running build queue gets clogged with the same project id (first issue). I have a PR open to fix that so that all running build is unique at all times.

However,

[2020-02-10 14:54] tetchel commented on #2105
Basically, keeping in mind that a Cancel button always has to be shown, how would you design this?

[2020-02-10 15:04] jgwest commented on #844
/verify

[2020-02-10 15:07] beccabau commented on #2105
sorry, maybe I'm miscommunicating, so re:
[code]
^ This is the second dialog, right?

So the first prompt is `remove project | cancel`
Can the second prompt have 3 actions? `Delete Directory | Don't Delete | Cancel` (where cancel will revert the entire process if clicked)? That's how I understood the cancel button when I first saw it.

[2020-02-10 15:23] jgwest commented on #844
/svt

[2020-02-10 15:28] MelHopper opened #2107 "Improving User Workflow and Signposting within Codewind Documentation"
To improve the content, we need to consider the core User Workflows. 

Approaching content improvement via User Workflows, which are defined based on user personas and core use cases, enables the following:

- Content to be structured based on user goals and journeys
- the editing and curating of content for usability, orientation and signposting
- creation of content that drives user actions

The

[2020-02-10 15:31] jgwest commented on #844
/svt

[2020-02-10 15:34] jgwest commented on #844
/remove-svt

[2020-02-10 15:35] jgwest commented on #844
@jgwest: Command 'remove-svt' requires at least one parameter.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-584180990):

</details>

[2020-02-10 15:43] MelHopper opened #2108 "Create copy for the new Docs Landing Page"
We are at the iterative stage of wireframing for the new Docs Landing Page.

The following draft copy needs creating for the next iteration of wireframing:

1. Documentation section - signposting to include Product Overview and Getting Started
2. a slimmed-down version of the 'What is Codewind' content that is explicitly shown on the page as scrollable. This copy will be used in a slightly differe

[2020-02-10 15:53] jgwest commented on #844
/remove-svt

[2020-02-10 15:56] jgwest commented on #844
/remove-svt

[2020-02-10 15:59] jgwest commented on #844
/remove-svt

[2020-02-10 16:02] jgwest commented on #844
/remove-svt

[2020-02-10 16:06] jgwest commented on #844
@jgwest: Those labels are not set on the issue: remove-svt<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-584196197):

</details>

[2020-02-10 16:08] jgwest commented on #844
/remove-svt

[2020-02-10 16:11] sghung commented on #938
TODO: Need to review Andrew's doc draft and put into this issue for ID

[2020-02-10 16:12] jgwest commented on #844
/tech-topic

[2020-02-10 16:12] stalleyj opened #2109 "cwctl version gives confusing error message"
**Description:**
The error received when calling cwctl version when the performance pod is not running, is confusing.
/cwctl version --all
CWCTL VERSION: x.x.dev

CONNECTION ID 	PFE VERSION	PERFORMANCE VERSION	GATEKEEPER VERSION

SOME ERRORS WHILE DETECTING CONNECTION VERSIONS
CONNECTION ID 	ERROR
local		{"error":"config_connection_notfound","error_description":"Hostname or port for PFE not found"

[2020-02-10 16:12] jgwest commented on #844
/remove-tech-topic

[2020-02-10 16:15] sghung commented on #1653
@micgibso can you see if Travis' response is okay and then close it? Thank you

[2020-02-10 16:16] malincoln commented on #2008
@jagraj pls verify and close.  Thanks

[2020-02-10 16:17] makandre commented on #938
I wrote some steps here https://github.com/kabanero-io/kabanero-foundation/issues/127#issuecomment-584159013

[2020-02-10 16:39] MelHopper commented on #2041
https://github.com/eclipse/codewind/issues/2108 created to cover creation of copy for the new docs
 landing page.

[2020-02-10 16:45] ssh24 opened #2110 "Need to make registry secret env variables required in kube functional test"
**Description of the enhancement:**
We need to do a check for the registry secret env variables before the setup even begins to short circuit out if the user doesn't provide it. The following env variables need to be checked:
[code]

/area iterative-dev
/kind test

[2020-02-10 16:49] malincoln commented on #1792
@tobespc you mentioned this is now done.  Does it need to move to verify?

[2020-02-10 17:00] johnmcollier opened #2111 "Update the description of the Codewind repository"
The top-level description of the https://github.com/eclipse/codewind repository is currently:

Which isn't all that descriptive in my opinion.

We should change it to something like:

[2020-02-10 17:06] ssh24 opened #2112 "[odo] ODO project test failing on setting internal port using project specification"
**Description:**
Test failure on all types of ODO project
[code]
/area iterative-dev
/kind test

[2020-02-10 17:09] tetchel commented on #2111
i think @josephca has the permissions to do this.

[2020-02-10 17:11] GeekArthur commented on #2112
Currently odo project doesn't support internal port setting, we can do more investigation under this issue https://github.com/eclipse/codewind/issues/1374 to see if odo CLI has the capability.

[2020-02-10 17:14] ssh24 commented on #2112
Ok, thanks. I will change the config for that test to not run for ODO projects as part of this issue

/assign
/pipeline in progress

[2020-02-10 17:18] sghung commented on #1842
Fixed as part of https://github.com/eclipse/codewind-openapi-eclipse/pull/131

[2020-02-10 17:58] keithchong opened #2114 "[IntelliJ] Get around using deprecated method; Clean up some compile warnings"
Turn on compiler arg settings to see warnings:

-Xlint:unchecked -Xlint:deprecation

[2020-02-10 18:25] tetchel commented on #1992
https://github.com/eclipse/codewind-vscode/pull/445

[2020-02-10 18:28] #2114 closed

[2020-02-10 18:49] jagraj commented on #1807
It has been 3days 22hrs since default workspace has been running and there are no OOM container restarts with the above default Che workspace excluding Codewind plugins. Here are the pods and their status from my cluster. Codewind workspace Che-machine container restarted 6 times from 6 days hours. Do you think this  issue might be specific to Codewind workspace.?

[2020-02-10 18:53] tetchel commented on #2020
should b fixed in latest build

[2020-02-10 19:00] sujeilyfonseca opened #2116 "SVT: [Che] Users get an error when importing a project if they cancel the action"
**Codewind version:** 0.9.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Users get an error when importing a project if they cancel the action

![che-import-error](https://user-images.githubusercontent.com/49531960/74180439-818cde00-4c0d-11ea-9cb9-4cd62528bfb9.gif)

**Steps to reproduce:**
1. Deploy a new Codewind 0.9.0

[2020-02-10 19:01] rajivnathan opened #2117 "Create a new doc for detailing how application status works"
**Description of the enhancement:**

Understanding project status and working with the tools to resolve issues is a fairly common thing that users will encounter when first starting out with Codewind. For https://github.com/eclipse/codewind/issues/1812, we added some troubleshooting docs that could help users resolve some issues but it would be good to create a new doc that is in a more visible pl

[2020-02-10 19:01] johnmcollier commented on #2116
@tetchel Is there anything that can be done to catch this error? Or is this outside of our control?

[2020-02-10 19:02] tetchel commented on #2116
it my bug

[2020-02-10 19:05] johnmcollier commented on #2111
As sugested by @elsony:

[2020-02-10 19:08] tetchel commented on #2116
it looks like when you cancel this wizard in VS Code it returns `undefined` but in Theia it returns `[]`

[2020-02-10 19:09] #2112 closed

[2020-02-10 19:10] tetchel opened #2118 "Some issues with keyboard accessibility in Homepage"
all the `<a>` links seem to work OK but the following don't work when you click Enter on the keyboard while they are focused:

- the `Codewind View` button
- The Local/Remote tabs
- all the buttons in the Quick Start section 😢

[2020-02-10 19:13] johnmcollier commented on #1807
@jagraj One more devfile to try out:
[code]

This time, no Codewind plugins, but two Theia plugins/LSPs installed.

[2020-02-10 19:14] sujeilyfonseca commented on #2063
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-10 19:14] #2063 closed

[2020-02-10 19:15] tetchel commented on #2063
But I didn't merge the fix yet 😅

[2020-02-10 19:19] tetchel commented on #2032
INSTALL_ON_CLOUD is for che install, not remote install, so i'm changing the link to `mdt-che-installinfo.html`

[2020-02-10 19:20] j-c-berger commented on #2117
@rajivnathan and/or @sishida, feel free to assign this issue to me!

[2020-02-10 19:28] sujeilyfonseca commented on #2101
@tobespc, I can reproduce the problem with the very first run. I don't see it happening for every run.

[2020-02-10 19:31] makandre commented on #2080
The findings for Java type projects is very similar to node type projects.

- projects can be worked on offline if it is already running prior to connection loss
- doing a manual build fails because Maven m2 cache is not mounted - neither to local m2 cache (which we don't want to do since it's inherently unsafe), or to a named docker volume

We already had an issue opened for the named docker volu

[2020-02-10 19:39] tetchel commented on #2116
should b fixed in latest

[2020-02-10 20:32] sghung opened #2119 "Integrate appsody tests into PR and nightly build"
Two parts:

1. Have simple appsody tests running in PR build
2. Hook up to the nightly build for long running tests (such as performance)

[2020-02-10 20:56] sishida commented on #2076
The PR https://github.com/eclipse/codewind-docs/pull/348 is merged. Closing this issue. 🎉

[2020-02-10 20:56] #2076 closed

[2020-02-10 21:13] tetchel commented on #2052
I've asked this before; isn't the build status for Appsody always "succeeded", even though that isn't really true because there is no build?

We could always hide the build status for Appsody projects.

[2020-02-10 21:22] makandre commented on #2052
Ok as long as it's not `if (it's appsody) then hide it`

[2020-02-10 21:23] tetchel commented on #2052
how else would we do it :(

[2020-02-10 21:24] johnmcollier commented on #2052
Can the appsody extension just not set a build status?

E.g. https://github.com/eclipse/codewind-appsody-extension/blob/master/entrypoint.sh#L122

[2020-02-10 21:24] tetchel commented on #1815
merged portal change into both branches

[2020-02-10 22:03] johnmcollier opened #2122 "[Remote] 0.9.0 Cwctl deploying images with latest tag rather than 0.9.0 tag"
**Codewind version:** 0.9.0
**OS:** RHEL
**IDE extension version:** 0.9.0
**IDE version:** VS Code 1.41

**Description:**
I installed the 0.9.0 Codewind extension for VS Code (from https://download.eclipse.org/codewind/codewind-vscode/0.9.0/latest/) and used its bundled `cwctl` to install remote Codewind on Kubernetes. The image tag used for the codewind containers were still `latest` however, ins

[2020-02-11 08:46] tobespc commented on #1792
just waiting to land changes for remote

[2020-02-11 08:58] micgibso commented on #1653
@travis1111 HTML is fine, do we need different HTML to that which you've given me though? We don't need to autodetect the operating system, rather we just want a number of tabs which the user can click depending on their choices.
@sghung Not ready to close this just yet, thanks.

[2020-02-11 09:05] travis1111 commented on #1653
@micgibso just sent you the sample html

[2020-02-11 09:10] rwalle61 commented on #1804
1815 makes PFE provide the IDEs with more metrics information. However, as Tim says there is currently no way to differentiate an appsody java project from an appsody open liberty project. So another way to know which metrics endpoints a project has is to live ping them, as the IDEs do currently.

I suggest making PFE do this ping instead, so that PFE decides all the metrics behaviour in one place

[2020-02-11 09:55] markcor11 commented on #2081
Shouldn't be too difficult to fix,  the code already checks if a namespace was supplied and if not will use the current one.

https://github.com/eclipse/codewind-installer/blob/1def91cd5509fe9955f3821ab1e025372355b1e8/pkg/remote/deploy.go#L95

Only change required would be to make the --namespace flag optional but I think we changed it to required because we had a few false installs into the wrong

[2020-02-11 10:11] micgibso commented on #1653
@travis1111 Received the sample, just ran it up locally to check how it looks and it's just what we're after, thank you!

[2020-02-11 10:11] #1653 closed

[2020-02-11 10:26] tobespc commented on #2081
I like the idea in principal but should we consider having a default codewind namespace setting (like Kube) so that the user has to make the decision to set something for codewind rather than being caught out and find a kube value is used.

[2020-02-11 11:39] tobespc commented on #2056
@mattcolegate please pick this up

[2020-02-11 11:39] tobespc commented on #2027
@mattcolegate please pick this up

[2020-02-11 11:41] #2007 closed

[2020-02-11 11:42] mattcolegate commented on #2056
/assign

[2020-02-11 11:43] mattcolegate commented on #2056
@tobespc says this graph came from a performance run, 1 user making 1 request a second for 180 seconds of /v1/example, with the following addition to the code:
[code]

[2020-02-11 11:45] mattcolegate commented on #2085
Awaiting PR merge

[2020-02-11 11:46] mattcolegate commented on #1963
Awaiting PR review and merge

[2020-02-11 11:47] mattcolegate commented on #1509
@tobespc I think this can be closed

[2020-02-11 11:50] tobespc opened #2124 "(metrics) enable (via injection) http data on openmetrics projects"
There is a package that can be added to the the openmetrics projects that will enable http data to be displayed on the performance graphs.  Be good to get that in

[2020-02-11 11:51] #1963 closed

[2020-02-11 12:09] mattcolegate commented on #2027
/assign

[2020-02-11 13:58] jagraj opened #2126 "SVT:Che:Session already invalidated"
**Codewind version:** 0.9.0
**OS:**  CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.9.0
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**
OCP 4.3

**Description:**
I can not login to Che dashboard if one of the user's (jag) session is invalidated and tried to login again to other user (jag1). It always gives following this error message and I can not login any more.
I also looked i

[2020-02-11 13:58] jagraj commented on #2126
/priority hot
/area iterative-dev

[2020-02-11 14:05] #2054 closed

[2020-02-11 14:31] kimholmes commented on #2041
@MELANIEH 's comments _(Kim's response in italics)_:

1. **will the docs LP be designed to not require any scrolling to see the whole page on a desktop browser window (like Kitura)? Or are you planning on a page that scrolls on a desktop browser (like VS Code)? Looks like the first option - I have no preference, just so I understand the variables of the design.**

_The page can certainly scroll. W

[2020-02-11 14:39] malincoln commented on #938
@sishida just making sure this is on your radar as Kabanero team is awaiting the link for the workaround for their 0.6.0 release.  Thanks

[2020-02-11 15:00] mattcolegate opened #2129 "No load-test files come across to local using the Java profiling on Windows"
**Codewind version:** latest (11/02/2020)
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest (11/02/2020)
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
After a load-test run on a Java project, hcd files fail to make it over to the local project workspace, despite them being present in the PFE's /codewind-workspace.

**Steps to reproduce:**

Start lat

[2020-02-11 15:01] mattcolegate commented on #2129
[PFELogNoLocalLoadTest.txt](https://github.com/eclipse/codewind/files/4186336/PFELogNoLocalLoadTest.txt)

[2020-02-11 15:08] #2085 closed

[2020-02-11 15:14] micgibso commented on #1964
Docs complete.

[2020-02-11 15:14] sishida commented on #2060
The PR is merged. Closing this issue.

[2020-02-11 15:14] #2060 closed

[2020-02-11 15:22] malincoln commented on #1842
@jagraj pls verify and close. Thanks

[2020-02-11 15:35] mattcolegate opened #2130 "Application running status flaky when running load tests"
**Codewind version:** latest (11/02/2020)
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest (11/02/2020)
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
When running a load test on a WSLiberty Microprofile project, I notice in the debug logs the application reporting stop/start status every 10 seconds. I imagine this is because load test is consuming

[2020-02-11 15:43] makandre commented on #1399
Docs was merged.

/pipeline verify

[2020-02-11 15:47] sishida commented on #2049
@sghung and @travis1111: Would you like me to assign this issue to one of you? Please let me know. Thank you!

[2020-02-11 15:49] sujeilyfonseca opened #2131 "SVT: [VS Code] Some links are broken on the VS Code homepage"
**Codewind version:** 0.9.0
**OS:** Mac OS Mojave 10.14.6 & VM with Windows 10

**IDE extension version:** 0.9.0
**IDE version:** 1.42.0

[code]

**Description:** Some links are broken on the VS Code homepage

1. Locally: https://www.eclipse.org/codewind/mdt-vsc-firstproject.html
2. Remotely & Deploying Codewind Remotely: https://www.eclipse.org/codewind/remotedeploy-combo.html
3. Performance Moni

[2020-02-11 15:55] johnmcollier commented on #2122
Verified, fixed. Thanks @tobespc!

[2020-02-11 15:55] #2122 closed

[2020-02-11 15:59] johnmcollier commented on #2081
@markcor11 @tobespc You guys bring up a valid concern, the user should know _which_ namespace Codewind is being installed into.

I'm fine with having a default namespace setting as an alternative, that's actually what chectl does for che too. Maybe `codewind` can be the default namespace?

[2020-02-11 16:06] tetchel commented on #2131
These pages won't be published until 0.9 release, they exist on the docs staging server

[2020-02-11 16:07] tetchel commented on #2131
https://github.com/eclipse/codewind/issues/2057

[2020-02-11 16:21] mattcolegate commented on #2130
[VSCodeDebugLog.txt](https://github.com/eclipse/codewind/files/4186788/VSCodeDebugLog.txt)

[2020-02-11 16:26] micgibso commented on #2010
Primary headings are not quite correct on the following files, so will sort those out on the PR for this issue as well:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/mdt-che-setupregistries.html and
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/mdt-che-createcodewindworkspace.html and
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/mdt-che-tektonpipelines.html and
http://c

[2020-02-11 16:38] tetchel commented on #1804
I suggest moving this issue to verify because the original problem of the messed up OpenLiberty menu should be fixed. The menu should no longer appear at all for Appsody OL.

Then we can use a separate issue to add metrics support to Appsody OL.

[2020-02-11 16:39] tetchel commented on #2093
https://github.com/eclipse/codewind/issues/1856

[2020-02-11 17:33] rajivnathan commented on #2075
@eharris369 can you please verify when you have a chance?

[2020-02-11 17:40] rajivnathan commented on #1812
For 0.9.0 we'll make a change to the existing doc https://www.eclipse.org/codewind/mdteclipsetroubleshooting.html#application-stuck-in-starting-state
PR for that change: https://github.com/eclipse/codewind-docs/pull/353

Post 0.9.0 we'll create a new doc with more general information, see https://github.com/eclipse/codewind/issues/2117

[2020-02-11 17:42] ssh24 commented on #2075
The only thing Erin can verify is that running build queues are unique. Other than that, the issue still persists as I described to you yesterday @rajivnathan until #2072 is fixed. I think we can still keep this open but prioritize #2072 and tag that as hot

[2020-02-11 17:45] ssh24 commented on #2072
Should this be portal specific? I thought Turbine deals with file path ignore lists. Anyways, adding hot because of #2075

/priority hot

[2020-02-11 17:50] johnmcollier opened #2134 "Open logs view when user clicks Show All Logs or adds a log from Manage Logs"
**Codewind version:** 0.9.0

**Che version:** 7.5.1
**IDE extension version:** 0.9.0
**IDE version:** Che-Theia 7.5.1
**Kubernetes cluster:** OCP 4.3

**Description:**
After closing the logs view for a project in Che/Theia, it's not possible to re-open the logs view. The Theia logs don't show anything suspicious either:
[code]

The Portal logs don't show any errors or failures either.

However, if

[2020-02-11 18:22] jopit commented on #1974
Delivered via PR https://github.com/eclipse/codewind-intellij/pull/11

[2020-02-11 18:22] #1974 closed

[2020-02-11 18:23] malincoln commented on #2020
@jagraj pls verify and close. Thanks

[2020-02-11 18:24] jopit commented on #980
Delivered via PR https://github.com/eclipse/codewind-intellij/pull/6

[2020-02-11 18:24] #980 closed

[2020-02-11 18:50] elsony commented on #2072
Marking this as stopship given that this problem is causing the projects to keep on being built. I recommend to add those files to the portal file sync ignore list so we are not syncing those files.

[2020-02-11 18:56] rajivnathan commented on #2075
Putting this back in progress because it sounds like @johnmcollier saw this problem occur with the fix in. @ssh24 to investigate further

[2020-02-11 18:59] johnmcollier commented on #2075
Saw this on Che with the generic Docker project "mygo"

Sidecar logs (warning they're big): [sidecar_filewatcher.log](https://github.com/eclipse/codewind/files/4187646/sidecar_filewatcher.log)
PFE Logs (warning, they're also big): [pfe_logs.txt](https://github.com/eclipse/codewind/files/4187648/pfe_logs.txt)

[2020-02-11 20:05] tetchel commented on #2134
The plugin is behaving correctly, the logs are already "open" in the logs view, but the logs view is hidden

![image](https://user-images.githubusercontent.com/8888438/74274220-b9fcec80-4cdf-11ea-99a7-ebb14fbd16db.png)

I could probably show that view automatically if you opened a new log or 'showed all', though.

[2020-02-11 20:08] tetchel commented on #2105
yea, i think that is a good change

[2020-02-11 20:08] johnmcollier commented on #2134
I'd say, since Theia doesn't make it clear to the user that they're just hidden, I'm in favour of auto-showing the view if "Show all logs" was pressed.

[2020-02-11 20:19] malincoln commented on #2072
@tobespc pls investigate.  Thanks

[2020-02-11 20:34] mmulholl opened #2135 "SVT: Eclipse : Project get into state [Running] [Build Queued: 1/1]"
**Codewind version:**   Codewind tech preview	0.9.0.v202002111101
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse
**Kubernetes cluster:**

**Description:**
Project gets into an inconsistent state: [Running] [Build Queued: 1/1]

The project is running and the application view is available. How the option the build the project is not available. This recurs in the pf

[2020-02-11 20:36] sujeilyfonseca opened #2136 "SVT: Feedback to Codewind docs"
**Note from @sishida:** I am editing this comment as we fix the items listed here. I am copy/pasting the completed items in the comments.

**Codewind version:** 0.9.0

@jagraj @sishida

/area docs

[2020-02-11 20:38] mmulholl commented on #2135
Just checked and even editing a file does not cause a rebuild from this state so making this a stop shop as the only option seems to be remove the project and re-import.

[2020-02-11 20:39] johnmcollier commented on #2135
Seems like a dupe of https://github.com/eclipse/codewind/issues/2075, I believe

CC @ssh24

[2020-02-11 20:40] ssh24 commented on #2135
The actual cause for this is linked to #2072 but yeah it is a dupe of #2075

[2020-02-11 20:42] sujeilyfonseca opened #2137 "SVT: Microclimate related information in Metrics Dashboard & Project Information"
**Codewind version:** 0.9.0

**Description:** I reviewed the documentation we plan to release in the future using our internal link: http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/

In doing so, I found some sections with deprecated information (information related to Microclimate). Sarah and Jag asked me to open this issue to be aware of this problem.

**Understanding Application Metrics:

[2020-02-11 20:47] johnmcollier commented on #2137
A few of us spoke on slack regarding the `microclimate` references in http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/importing-existing-projects.html, and they're still needed for that doc.

The maven profile we use in Microprofile projects is still called `microclimate`, and so the import doc section on ensuring that profile is there, is still relevant.

[2020-02-11 21:27] tetchel commented on #1999
I can't reproduce this so I am going to need a screen recording and/or logs

[2020-02-11 21:27] #1992 closed

[2020-02-11 21:47] ssh24 opened #2139 "Convert the build queue logic to have queues that are set instead of arrays"
**Description of the enhancement:**
We have been trying to do a lot of checks to validate the current implementation of queues are unique or not. I believe if we used `set` datastructure instead of `arrays`, this issue would not exist. Opening this enhancement to convert our existing queue datastructure from arrays to queues.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Globa

[2020-02-11 21:58] tetchel opened #2140 "capabilitiesReady is no longer provided by GET /api/v1/projects"
0.9 and master

`capabilitiesReady` is used by the IDEs to determine if a project has been received by turbine so the IDE can request the project's capabilities. Since this field is now always undefined in GET /projects, the capabilities are never fetched for a project that was created before the current IDE session (they are still fetched for new projects since the IDE receives a `projectChanged`

[2020-02-11 22:47] tetchel commented on #1710
@eharris369 I fixed this in the linked commits, not sure if you still need/want to action this for Eclipse

[2020-02-11 23:02] tetchel commented on #2105
This is how VS Code organizes the dialog if there are 2 buttons (not counting built-in Cancel). The blue button is the default. What should be default, Delete or Don't Delete?

[2020-02-12 08:45] micgibso opened #2141 "Add a tutorial about viewing log files"
In `projectview.md` there is a useful section on viewing log files, create a topic from this and expand to cover full log file usage. Add to TOC in Developing projects section (tbd).

Also, search the source for other useful info about using logs and add to the new topic.

[2020-02-12 08:46] tobespc commented on #2072
yes we can add those files to the ignore lists if that would help.  Are there any other files we should add whilst we are at it that would build issues?

[2020-02-12 08:59] #1162 closed

[2020-02-12 10:05] micgibso commented on #2010
Have checked out all the 404s mentioned above, and rectified them. The source files have changed considerably since this issue was first raised; have also changed topic levels and corrected anything else I spotted that was wrong or didn't function correctly, all on the above PR.

[2020-02-12 10:11] liamchampton commented on #2079
/assign

[2020-02-12 10:19] MelHopper commented on #1744
Completed as part of PR https://github.com/eclipse/codewind-docs/pull/351

[2020-02-12 10:19] #1744 closed

[2020-02-12 10:20] #1106 closed

[2020-02-12 10:20] ebuckle commented on #2059
/assign

[2020-02-12 10:22] MelHopper commented on #2041
The 'Codewind on Kubernetes' link is blocked by ToC left hand nav restructure that will expose Kubernetes/cloud-based configs of Codewind. https://github.com/eclipse/codewind/issues/1980

[2020-02-12 10:23] micgibso opened #2142 "Scripts for docs on Windows and the linkchecker"
**Description:**
In the codewind-docs repo, there are two scripts for generating the help: `build.sh` and `serve.sh`. On Windows:
- `build.sh` opens a window, reports that it's `Fixing file timestamp`, and then the window closes.
- `serve.sh` does the same.

**Steps to reproduce:**
From the command line, go to C:\GitHub\codewind-docs, type `.\build.sh` or `.\serve.sh`

**Workaround:**
I've been ab

[2020-02-12 10:24] james-wallis opened #2145 "Extensions not installed in Jenkins on PR build & Jenkins does not fail on extension 404"
**Codewind version:** Master
**OS:** Jenkins

**Description:**
This is a two parter:

1. The Appsody and ODO extensions are not downloaded and built into the PFE Docker image on Jenkins as they use the `$GIT_BRANCH` variable in the download url.
On a PR build the`$GIT_BRANCH` variable is something like `PR-123` which isn't a valid extension version. This seems to be why the `project-types` API tes

[2020-02-12 10:24] james-wallis commented on #2145
/assign

[2020-02-12 10:24] MelHopper commented on #1980
Blocked by work to align Eclipse Che topics with framework used for local and remote Codewind configs. https://app.zenhub.com/workspaces/codewind-5d125da643e42a09a0a4a961/issues/eclipse/codewind/1758

[2020-02-12 10:29] MelHopper commented on #1980
The ToC needs to rearranged thus: [WIP]

What is Codewind?
Getting Started
-> using Codewind Locally
Working with your project
Working with project templates
Performance Monitoring
Integrating with <to be added>
Using Codewind in your cloud environment
-> Using Codewind as a hosted application on Eclipse Che
-> Using Codewind remotely on VS Code, Eclipse or Intellij
-> Optional additional configur

[2020-02-12 10:34] micgibso commented on #1980
That makes sense, will put the changes on PR https://github.com/eclipse/codewind-docs/pull/341 at some point.

[2020-02-12 10:50] jcockbain commented on #2109
/assign

[2020-02-12 10:57] MelHopper commented on #1758
Hi @sishida re. the 'Configuring Codewind for Eclipse Che' topic, this will sit at the same level as Install, and will have the 'adding registries' and 'creating the workspace' as children:

Installing Codewind for Eclipse Che
Configuring Codewind for Eclipse Che
-> Adding Registries
-> Creating the workspace
Creating your first project
Making a code change

[2020-02-12 11:21] micgibso commented on #2137
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/projectview.html is no longer in the TOC.
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/checkingstatuses.html - needs an update.
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/importing-existing-projects.html - needs an update, however comment above noted.
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/referencing-file

[2020-02-12 11:25] james-wallis commented on #1105
The cause of this bug was that the extension download was silently failing in Jenkins and so the extension was not in the PFE container for the tests (PR build only).
PR: https://github.com/eclipse/codewind/pull/2133

[2020-02-12 11:33] liamchampton commented on #2079
We currently use the parent command `remove` to handle removal of the local instance and sub commands to remove remote instances. To avoid ambiguity and help with validations of commands i think we should change this to use `cwctl remove local` & `cwctl remove remote`. This will keep consistency and help avoid this issue caused by the default behavior of the cli framework.

[2020-02-12 11:58] MelHopper commented on #2108
@kimholmes Hi Kim, FYI I've created a first draft of the copy - see box note I sent you.

[2020-02-12 12:06] MelHopper opened #2150 "Create suitable topics to be linked from Docs Landing Page"
Note: This github issue blocks the New Landing Page design: https://github.com/eclipse/codewind/issues/2041

Note: This issue is related to https://github.com/eclipse/codewind/issues/1980 - ToC Restructure to improve user work flow.

To ensure good user workflow from the signposting in our new Docs landing page, some overview topics need to be created.

Specifically:

### 1. a new local codewind t

[2020-02-12 12:12] MelHopper opened #2151 "Improve the user flow by tutorialising the remote case in our docs"
Certain topics in our current documentation have a need to be made into a tutorial-like structure, because there are so many steps and so much orientation needed.

This applies to the 'getting started' documentation for:
1. using codewind locally
2. using codewind as a hosted application in your cloud environment
3. using codewind remotely

This topic covers the remote codewind content.

[2020-02-12 12:13] MelHopper commented on #2151
Styling decisions need to be finalised, but for now, the content is being reworked with an eye to simply making the topics and content within topics flow better and orient the user.

[2020-02-12 12:16] MelHopper commented on #2151
This work is being done under PR: https://github.com/eclipse/codewind-docs/pull/357

[2020-02-12 13:38] markcor11 commented on #2045
I was able to successfully deploy Codewind and Keycloak into CodeReady containers when Keycloak and Codewind were in different namespaces :

![image](https://user-images.githubusercontent.com/28102564/74338987-153fe500-4d9b-11ea-9303-70f51cc6e6e3.png)

I did need to create the Codewind namespace before running the two OC adm commands and apply them JUST to the Codewind namespace not the Keycloak n

[2020-02-12 13:39] liamchampton opened #2153 "Investigate/Add Codecov to the repositories"
**Description of the enhancement:**
Investigate/Add Codecov to the Codewind repositories. This will show a label at the top of the `readme.md` displaying the % of code coverage from our test.

**Proposed solution/TODO:**
We have now got the API key into Jenkins as a an environment variable. We need to upload the test collection from the Jenkins build to codecov which will update the label on the r

[2020-02-12 13:51] malincoln commented on #1832
@tetchel are you continuing to investigate this one?

[2020-02-12 13:52] jagraj commented on #2008
@tobespc
I just tried to verify this issue on 0.9.0 release and I still see this issue. This is what I get from performance logs. May be this fix has been not delivered to 0.9.0 branch.?

[code]

[2020-02-12 13:55] jagraj commented on #2020
I no longer see this popup now. Thanks for the fix.

[2020-02-12 13:55] #2020 closed

[2020-02-12 13:56] stalleyj commented on #2072
So this seemed like it would be a straightforward fix but having updated the lists in both cwctl and pfe, I am still seeing the .project file inside of PFE.  The underlying functionality of sync is very complex since the addition of https://github.com/eclipse/codewind-installer/pull/304/files, continuing to investigate.

[2020-02-12 14:07] mmulholl commented on #2135
There us a test build here which reproduces the issue:

http://devexubdev.rtp.raleigh.ibm.com/opt/travisbuildlogs/26109276/

[2020-02-12 14:12] malincoln commented on #1815
Toby confirmed this is now done.  Moving to verify.

[2020-02-12 14:17] malincoln commented on #1804
@tobespc to follow-up on the remaining pieces and will update defect with more info.

[2020-02-12 14:34] rwalle61 commented on #1928
same error https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-2148/1/console
[code]

[2020-02-12 14:37] rwalle61 commented on #1910
I saw this on a Jenkins PR build today, while a PFE project API test (`project/{id}/metrics/inject`) was trying to remove an open liberty project (in the clean up phase of a test)

[2020-02-12 14:46] sujeilyfonseca commented on #2137
Thanks for working on this issue, @micgibso!

Here are some comments:

### metrics-dashboard.md (https://github.com/eclipse/codewind-docs/pull/356/files)

**1.	Accessing the Metrics Dashboard**
o	Click “Metrics Dashboard” in the Codewind project…
<img width="468" alt="image" src="https://user-images.githubusercontent.com/49531960/74343197-ad78a280-4d78-11ea-81ff-5ead05415812.png">

**2.	Clicking t

[2020-02-12 15:10] eharris369 opened #2155 "[Eclipse IDE] Add cwctl output to workspace log if logging enabled"
To aid in debugging, add the cwctl output to the workspace log if logging is enabled.

[2020-02-12 15:42] tetchel commented on #1815
It's done, we still should open an issue for the appsody openliberty case though

[2020-02-12 15:42] #1815 closed

[2020-02-12 15:42] #2098 closed

[2020-02-12 15:50] ssh24 commented on #2139
/assign
/pipeline in progress

[2020-02-12 15:51] tetchel commented on #2140
😎

[2020-02-12 15:51] #2140 closed

[2020-02-12 15:56] micgibso commented on #2010
@travis1111 PR #355 above has now been merged, separate issue opened to address scripts on Windows machines (https://github.com/eclipse/codewind/issues/2142). Please rerun the linkcheck on the latest on master to see if any 404s remain, thx!

[2020-02-12 16:06] MelHopper commented on #2136
'What is Codewind' missing topic issue has now been fixed.

[2020-02-12 16:31] sghung commented on #938
@sishida and @makandre

From Andrew's kabanero link above. I think we should document the fully qualified case only. We don't recommend people use relative paths as we know there are issues associated with failures after init (https://github.com/appsody/stacks/issues/610). So even if they did the workaround, since it failed on init, there is no way to recover.

My modification of Andrew's original

[2020-02-12 16:46] james-wallis opened #2162 "[CLI] pass custom dockerClient like httpClient"
**Codewind version:** Master
**OS:** MacOS

**Description of the enhancement:**

PR https://github.com/eclipse/codewind-installer/pull/366 added in functionality to mock a `dockerClient` like we can mock a `httpClient` for testing.

This means that the tests that depend on PFE running in Docker can now be converted to mocked tests by passing through both mocked clients.

I started the work on [thi

[2020-02-12 17:06] makandre commented on #938
Since we're saying we only support fully qualified, I think we can remove the second bullet under notes and merge it into the first sentence (i.e. replace "If the stack: property..." with more concrete wording)

[2020-02-12 17:11] #2155 closed

[2020-02-12 17:25] eharris369 commented on #1710
Eclipse IDE PRs:
- 0.9.0: https://github.com/eclipse/codewind-eclipse/pull/583
- master: https://github.com/eclipse/codewind-eclipse/pull/581

[2020-02-12 17:25] #1710 closed

[2020-02-12 18:14] #2086 closed

[2020-02-12 18:15] sishida opened #2163 "Removing extraneous topics from the _documentations folder"
Remove extraneous topics from the codewind-docs/docs/_documentations folder.

The "Codewind files in-use post restructure 30-01-2020" file provides a list of topics to remove.

[2020-02-12 18:15] jopit commented on #2096
Fixed via PRs https://github.com/eclipse/codewind-intellij/pull/30 and https://github.com/eclipse/codewind-intellij/pull/27

[2020-02-12 18:15] #2096 closed

[2020-02-12 18:25] #2090 closed

[2020-02-12 18:31] malincoln commented on #934
@tetchel are the vscode changes in now?

[2020-02-12 18:31] malincoln commented on #1505
@jopit pls verify and close.  Thanks

[2020-02-12 18:33] tetchel commented on #934
Yes since last Tuesday. https://github.com/eclipse/codewind-vscode/pull/426

I would have updated this issue but I wasn't aware of it

[2020-02-12 18:36] malincoln commented on #934
@sishida @micgibso are the doc changes complete or still in progress?

[2020-02-12 18:47] jopit commented on #1505
Verified

[2020-02-12 18:47] #1505 closed

[2020-02-12 18:57] keithchong opened #2165 "[IntelliJ] Update getting started link"
Update getting started link

[2020-02-12 19:23] naveenkaratekid opened #2166 "SVT: IntelliJ: Project fails to build when clicking "Build" on menu bar"
**Codewind version:0.9.0**
**OS:Windows**

**Che version:**
**IDE extension version:0.9.0**
**IDE version: IntelliJ IDEA 2019.3.3 (Community Edition)
   Build #IC-193.6494.35, built on February 11, 2020
   Runtime version: 11.0.5+10-b520.38 amd64
   VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
**

**Description:**
In IntelliJ, projects fail to build when you click ```Build Project``` via the me

[2020-02-12 19:26] thisguy-1 commented on #2105
this is tough. In my opinion, I'd change the message to something like (@sishida please give opinion):
First dialogue should say something along the lines of:
"are you sure you want to remove <project> from <connection> from the codewind extension? By selecting remove you will no longer see it in your codewind view"
Second dialogue:
"You have successfully removed <project> from <connection> and wi

[2020-02-12 19:33] ssh24 commented on #1222
0.9.0 data:
![Screen Shot 2020-02-12 at 2 32 25 PM](https://user-images.githubusercontent.com/15173354/74370135-951e7d00-4da4-11ea-8948-6b92b258809e.png)

[2020-02-12 19:35] malincoln commented on #1399
@makandre pls verify and close. Thanks

[2020-02-12 19:36] malincoln commented on #2032
@micgibso pls verify and close. Thanks

[2020-02-12 19:54] tetchel commented on #2105
btw we can always make it one dialog.

Remove | Remove and delete files | Cancel

[2020-02-12 20:00] DavidG1011 opened #2167 "SVT: IntelliJ: Java microprofile projects intermittently failing to build."
**Codewind version:** 0.9.0
**OS:** Ubuntu 18.04.3 LTS

**IDE extension version:**  codewind-intellij-0.9.0-202002121646
**IDE version:**
IntelliJ IDEA 2019.3.3 (Community Edition)
Build #IC-193.6494.35, built on February 11, 2020

**Description:** Java microprofile projects are intermittently failing to build. Upon creating a new project, the state will immediately change to "Build failed: Creati

[2020-02-12 20:03] DavidG1011 commented on #2167
/area intellij-ide

[2020-02-12 20:17] sghung commented on #938
Thanks Andrew, I have removed the second bullet and integrated it into the first sentence

[2020-02-12 20:29] thisguy-1 commented on #2105
I'd rather keep with two. It feels more familiar.

[2020-02-12 20:37] jopit commented on #2166
@naveenkaratekid What version of the plugin are you using? (on Windows, go to `File > Settings > Plugins`, then find the Codewind plugin, it should say what version it is.

Also, please attach the log file for intellij: go to `Help > Show Log in Explorer`.

This sounds very much like a bug I fixed yesterday: https://github.com/eclipse/codewind-intellij/pull/26

[2020-02-12 20:39] naveenkaratekid commented on #2166
@jopit i'm using version 0.9.0-202002111107.

Here is the log file:
[intelliJ log 0.9.0-20200211.txt](https://github.com/eclipse/codewind/files/4194925/intelliJ.log.0.9.0-20200211.txt)

[2020-02-12 20:46] jagraj opened #2168 "SVT:IntelliJ:Assertion failed: Write access is allowed inside write-action only"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0
**IDE version:** IntelliJ 2019.3.3
**Kubernetes cluster:**

**Description:**
After installing codewind plugin from Intellij plugin manager when I restart IDE then in the notification panel I see this exception and I am not sure if this causes any functional issues but I do see this exception in the notif

[2020-02-12 20:47] jopit commented on #2166
@naveenkaratekid in intellij, can you please go to `Help > Show Log in Explorer`, and attach the log file found there?

[2020-02-12 20:54] jopit commented on #2166
OK, just checked 0.9.0-202002111107 is from before the fix for https://github.com/eclipse/codewind/issues/2090 went in (PR https://github.com/eclipse/codewind-intellij/pull/26).  Please update to a later version of the intellij plugin and retest,.

[2020-02-12 20:57] jopit commented on #2166
Note that appsody microprofile projects still seem to have a problem with this, but that's because `appsody init` isn't initializing the local maven cache on windows. @makandre

[2020-02-12 21:11] sishida commented on #938
@sghung and @makandre, Just to make sure I put this content in the correct place...we want to add this new info into this section of the Troubleshooting docs, right? https://www.eclipse.org/codewind/troubleshooting.html#appsody-with-codewind

[2020-02-12 21:17] tetchel commented on #1832
didn't mean to close, I changed the way deletion is handled and can't reproduce this any more.

[2020-02-12 21:21] jopit commented on #2166
The problem with appsody microprofile is an appsody bug: https://github.com/appsody/stacks/issues/538

[2020-02-12 21:22] keithchong commented on #989
Updates to two console logs from two different IDEs, of the same application.  Here, one of the application's endpoints was used to test the console output (See println), and the HTTP get request was made multiple times.

![Screen Shot 2020-02-12 at 4 20 05 PM](https://user-images.githubusercontent.com/7726022/74378227-91462700-4db3-11ea-850b-90c68201c3db.png)

[2020-02-12 21:26] sishida commented on #2105
What about something like...
- First dialog message:`Are you sure you want to remove <project> from <connection> from the Codewind extension? If you click Remove, the project directory is removed from your Codewind view.`
- First dialog buttons: `Remove directory` `Cancel`

- Second dialog message: `You successfully removed <project> from <connection> and will no longer see <project> in your Codew

[2020-02-12 21:29] ssh24 commented on #2091
/assign
/pipeline in progress

[2020-02-12 21:30] jopit commented on #2168
I'm guessing this is intermittent since I've not seen it on Window (or Mac or Linux). From the exception, the root cause is
[code]
so I'm guessing that the only consequence will be that, if it does happen, the `.cw-settings` file won't be recognized as Java.  @keithchong, could you please take a look

[2020-02-12 21:31] eharris369 opened #2169 "[Eclipse IDE] Codewind welcome page for Eclipse"
Create a welcome page for the Codewind Eclipse IDE.

[2020-02-12 21:36] jopit commented on #2167
I don't believe this is a problem with the IDE.  Could you attach the PFE/Turbine logs?

[2020-02-12 21:44] thisguy-1 opened #2170 "IntelliJ: Usability Research"
Market Research:
- List of popular or relevant IntelliJ extensions that might give a clue as to common extension usability patterns
- List of IntelliJ extensions that relate to the creation or management of containers
https://ibm.box.com/s/fgxcjk0t4mpvsc60goy76pdr61nmciuk

User Research:
- Box note of questions that research can look into :
https://ibm.ent.box.com/notes/615639890148

@jopit, @rach

[2020-02-12 21:45] makandre commented on #1399
Verified on 0.9

[2020-02-12 21:45] #1399 closed

[2020-02-12 21:46] jopit commented on #2170
@cccanderson @keithchong FYI

[2020-02-12 21:49] thisguy-1 commented on #2105
i think the first dialogue should not refer to the item being removed as "project directory". it should just be project.

[2020-02-12 21:51] thisguy-1 commented on #2105
and the first dialogue button should be Remove Project and the second should be Delete Directory.

[2020-02-12 21:52] tetchel commented on #2105
It's okay, the messages are far too wordy for my liking - but mostly it doesn't address the original concern, which is that "cancel" in the second dialog is expected to cancel the entire removal process.
I understand the message specifies what Cancel does / doesn't do, but I think most won't read that far.

[2020-02-12 21:58] thisguy-1 commented on #2105
I think the first phrase of the second dialogue fixes that. It confirms that the previous action is done. If they run into the problem of not knowing what cancel does, the last phrase deals with that. The original concern was that a user would have the doubt of not knowing what cancel does, whether it cancels all the work done before or just cancels the deletion of the directory. I think this is o

[2020-02-12 21:59] thisguy-1 commented on #2105
--given that we can't change the wording for the "cancel" button.

[2020-02-12 22:01] sishida commented on #2105
Because we're stuck with using the "Cancel" button, I liked explicitly stating what it was doing.

However, if we're thinking users will ignore it, what if we gave the statement its own dialog--is that too obnoxious? 😆Something like...`If you click Cancel instead of proceeding to remove both the project and the project directory, the removal for both is cancelled.`

...I realize that doesn't help

[2020-02-12 22:02] thisguy-1 opened #2171 "VSCode Usability Test for v0.9.0"
This Issue is for planning a usability test of VSCode changes made after v0.4.0.

@rachelwchen

[2020-02-12 22:04] tetchel commented on #2105
ok, then let's work with this:
[code]

I don't really like this because it's more like we're removing the project from the connection (as already stated). for example, the project may still be in the codewind view under a different connection. I would rather leave out the second sentence.

The second one is fine if we simplify it:
[code]

[2020-02-12 22:04] DavidG1011 opened #2172 "SVT: Che: Pressing "Back" when adding new image registry closes the menu."
**Codewind version:** 0.9.0

**Che version:** 7.5.1
**Kubernetes cluster:** OKD 4.2

**Description:**
Pressing "Back" when adding new template registry closes the menu:
![output](https://user-images.githubusercontent.com/30476587/74381127-e89ac600-4db8-11ea-8b24-be4ca333f1b9.gif)

**Steps to reproduce:**
1. Click "Add New" in Image Registry Manager.
2. Enter registry domain.
3. Click "Back".

[2020-02-12 22:05] thisguy-1 commented on #2171
for downloading working version: https://download.eclipse.org/codewind/codewind-vscode/master/196/

[2020-02-12 22:07] tetchel commented on #2172
This looks like a theia bug with the mouseclick registering more than once since you can see it very briefly go back to step 1 before closing 🤔

[2020-02-12 22:08] tetchel commented on #2171
a better link: https://download.eclipse.org/codewind/codewind-vscode/0.9.0/latest/

[2020-02-12 22:12] tetchel commented on #2105
i guess one problem is that "you successfully removed" is misleading because we don't start the remove until after both dialogs are closed. so maybe `<project> will be removed from <connection>.` instead

[2020-02-12 22:26] maysunfaisal commented on #1971
/assign

[2020-02-12 22:27] #1971 closed

[2020-02-12 22:30] #1929 closed

[2020-02-12 22:33] keithchong commented on #989
Context menu
![Screen Shot 2020-02-12 at 5 33 17 PM](https://user-images.githubusercontent.com/7726022/74383760-d1120c00-4dbd-11ea-89e0-d313e19ad6f3.png)

[2020-02-12 22:35] DavidG1011 commented on #2167
Whoops, apologies. Here's the PFE:
[pfe.txt](https://github.com/eclipse/codewind/files/4195328/pfe.txt)

[2020-02-12 22:35] keithchong commented on #989
Tool window dropdown showing logs for more than one project

![Screen Shot 2020-02-12 at 5 34 59 PM](https://user-images.githubusercontent.com/7726022/74383867-0cacd600-4dbe-11ea-8fe3-ba53d1ed4744.png)

[2020-02-13 00:17] ssh24 opened #2173 "Allow ability bypass of TLS verify on oc login for functional tests"
**Description of the enhancement:**
We don't allow the ability to bypass of TLS verification on `oc login` for functional tests so for secured clusters, the test gets stuck on here:
[code]
We can just set ` --insecure-skip-tls-verify=true` by default but that my not be the best solution. We could add a flag to the test script which the user can enable to skip the TLS verification on the oc login d

[2020-02-13 00:37] ssh24 opened #2174 "Encoding of registry secrets don't fail if node command is not found"
**Description:**
In the functional tests on kube when encoding registry secrets, if node command is not found the test keeps on proceeding. We need to terminate the test setup then

[code]

/area iterative-dev
/kind test

[2020-02-13 01:21] ssh24 opened #2175 "Skip run of generic suites for turbine performance test"
**Description of the enhancement:**
We should skip the run of generic suites for our performance test run. This can be done by using the performance test env variable and passing in false value to the generic test run https://github.com/eclipse/codewind/blob/f9373feabbc56e39a6807575fa2c66135df6ef2d/src/pfe/file-watcher/server/test/functional-test/functional.test.ts#L78

/area iterative-dev
/kind t

[2020-02-13 03:26] jagraj opened #2176 "SVT:IntelliJ:Open application for appsody projects does not bring the browser window to foreground"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0
**IDE version:** IntelliJ 2019.3.3
**Kubernetes cluster:**

**Description:**
Open application for appsody projects does not bring application home page to the foreground and this works fine for default projects but not for appsody projects, It is confusing to users whether Open application does actually

[2020-02-13 03:27] jagraj commented on #2176
/area ide-intellij
/priority hot

[2020-02-13 07:33] #2032 closed

[2020-02-13 07:38] jgwest commented on #2176
/area intellij-ide
/priority hot

[2020-02-13 07:39] jgwest commented on #2176
@jagraj: Could not find label: area/ide-intellij

[2020-02-13 09:00] micgibso commented on #2137
Thanks for the comments @sujeilyfonseca . See PR https://github.com/eclipse/codewind-docs/pull/356 for the updated files. Thx!

[2020-02-13 11:05] liamchampton opened #2180 "Jenkins running out of memory on codewind-installer build"
**Description:**
An intermittent failure on Jenkins causing the build to fail due to lack of memory (Not a code issue)
Error is:
[code]

Most recent occurrence: https://ci.eclipse.org/codewind/job/Codewind/job/codewind-installer/job/PR-375/1/console

@josephca

[2020-02-13 11:40] james-wallis opened #2182 "[Docs] Restructure the "importing existing project" page"
**Description of the enhancement:**
The project import page starts by saying "Modifications are usually required to successfully add and deploy projects that have never been run in Codewind before".
This sounds restrictive and may put a user off as it sounds like we are going to force them to make changes to their underlying source code when really we should, at a minimum, be able to run their pro

[2020-02-13 11:40] james-wallis commented on #2182
/area docs

[2020-02-13 12:26] jagraj opened #2183 "SVT:IntelliJ:Codewind Uninstall does not work"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0
**IDE version:** IntelliJ 2019-3.3
**Kubernetes cluster:**

**Description:**
I tried to uninstall Codewind and it does not remove images and status does not say [In complete - Double click to install Codewind]

[code]

Log file
[idea.log](https://github.com/eclipse/codewind/files/4198285/idea.log)

**Ste

[2020-02-13 12:26] jagraj commented on #2183
/priority stopship

[2020-02-13 12:35] jagraj commented on #2183
/area intellij-ide

[2020-02-13 13:30] jopit commented on #2176
First,  IntelliJ provides an API to open a URL in a browser, which we call.  If that's not bringing the browser to the foreground, there's nothing we can do on our side to fix that.

Second, this is working for me (on Windows and Mac).   I tried it with Chrome, Edge and Firefox.  Any additional instructions on how to reproduce this?

[2020-02-13 13:39] rwalle61 commented on #2104
/assign

[2020-02-13 13:47] tobespc opened #2184 "load test is failing with error (see below)"
[code]

[2020-02-13 13:49] tobespc commented on #2184
load test then completes, on a rerun complains load test is still running and gives
[code]

[2020-02-13 13:50] micgibso commented on #934
@malincoln @sishida 's following up with Steven.

[2020-02-13 13:52] rwalle61 commented on #347
pretty sure this is complete

/close

[2020-02-13 13:52] james-wallis commented on #1848
/close
PR has been accepted so closing this issue.

[2020-02-13 13:53] #347 closed

[2020-02-13 13:53] #1848 closed

[2020-02-13 13:56] rwalle61 commented on #1804
fyi we have an issue opne to be able to detect open liberty projects https://github.com/eclipse/codewind/issues/1960, which will help whatever's left we need to do on this

[2020-02-13 13:56] jagraj commented on #2176
I tried this for both default and appsody projects and some how it does not open in foreground. I am on Windows with Firefox. I am doing other tests at this time, I can rerun same test and let you know how this goes.

[2020-02-13 13:56] stalleyj opened #2185 "async function call not awaited in upload/end"
**Description:**

We are not awaiting the async function below in syncToBuildContainer but simply doing so would make no difference. We need to look at this area carefully and consider what we should do if the request fails.

https://github.com/eclipse/codewind/blob/2de5990361c1e7e09289192ec2e61388a46d01c2/src/pfe/portal/routes/projects/remoteBind.route.js#L379

[2020-02-13 14:15] malincoln commented on #1832
@sujeilyfonseca pls verify and close. Thanks

[2020-02-13 14:21] malincoln commented on #1405
@johnmcollier pls verify and close. Thanks

[2020-02-13 14:22] malincoln commented on #728
@j-c-berger are the doc updates complete?
@sghung is this ready for you to verify and close?  Thanks

[2020-02-13 14:23] eharris369 opened #2187 "[Eclipse IDE] Fix project settings doc link in app overview page"
The mdteclipsemanagingprojects.html page does not exist in the restructured docs.  It should be change to project-settings.html since this link is really for the project settings.

[2020-02-13 14:23] malincoln commented on #1093
@mmulholl pls verify and close. Thanks

[2020-02-13 14:23] malincoln commented on #813
@jopit pls verify and close. Thanks

[2020-02-13 14:24] malincoln commented on #839
@jopit pls verify and close. Thanks

[2020-02-13 14:24] malincoln commented on #489
@tobespc pls verify and close. Thanks

[2020-02-13 14:25] malincoln commented on #862
@jopit pls verify and close. Thanks

[2020-02-13 14:25] malincoln commented on #193
@johnmcollier pls verify and close. Thanks

[2020-02-13 14:26] malincoln commented on #1395
@keithchong pls verify and close. Thanks

[2020-02-13 14:26] malincoln commented on #1795
@keithchong pls verify and close. Thanks

[2020-02-13 14:27] james-wallis opened #2188 "[Docs] Importing existing projects page doesn't mention the requirement for a helm chart"
**Description:**
To deploy a project onto a kubernetes environment either through a remote deployment or che a helm chart is required.
[See mattermost message](https://mattermost.eclipse.org/eclipse/pl/6f1n8z4163gj5nu6rqjr1wqx8h)

The "importing existing projects" page on the docs does not have any mention of this and so a user would not know that they need to include/make a helm chart.

The docs

[2020-02-13 14:27] malincoln commented on #1251
@johnmcollier  pls verify and close. Thanks

[2020-02-13 14:28] james-wallis commented on #2188
/label stopship
We should have this in asap.

[2020-02-13 14:29] malincoln commented on #1069
@travis1111 is this complete or still in progress?

[2020-02-13 14:30] malincoln commented on #1829
@maysunfaisal pls verify and close. Thanks

[2020-02-13 14:31] malincoln commented on #1856
@stalleyj just confirming this is ready to be verified?

[2020-02-13 14:31] j-c-berger commented on #2105
@tetchel, that suggestion sounds good to me. I'm happy to do a quick review of the change before we incorporate it.

[2020-02-13 14:32] malincoln commented on #1032
@maysunfaisal pls verify and close. Thanks

[2020-02-13 14:32] malincoln commented on #1316
@jopit pls verify and close. Thanks

[2020-02-13 14:33] malincoln commented on #2040
@sujeilyfonseca pls verify if above PR resolves problem. Thanks

[2020-02-13 14:34] malincoln commented on #1939
@yangcao77 pls verify and close. Thanks

[2020-02-13 14:34] jopit commented on #2168
I think the problem is here:
https://github.com/eclipse/codewind-intellij/blob/54ba11b1728418221d622199bbd5e113ef48c395/dev/src/main/java/org/eclipse/codewind/intellij/ui/tasks/UninstallCodewindTask.java#L39

Instead of passing `null` as the version, it should pass `InstallUtil.getVersion()`

[2020-02-13 14:34] malincoln commented on #2064
@sujeilyfonseca pls verify and close. Thanks

[2020-02-13 14:35] malincoln commented on #1723
@makandre pls verify and close. Thanks

[2020-02-13 14:35] malincoln commented on #2116
@sujeilyfonseca pls verify and close. Thanks

[2020-02-13 14:36] malincoln commented on #2039
@sujeilyfonseca pls verify and close. Thanks

[2020-02-13 14:45] hhellyer opened #2189 "Remove deprecated `request` module from NodeJS/Typescript code."
The node js `request` module is deprecated as of Feb 11th 2020: https://www.npmjs.com/package/request - this means it may not receive future updates, including security fixes.

Long term we should move to something like Axios, see: https://github.com/request/request/issues/3143

There are usages of the request module in pfe and also in the VSCode plugin via `request-promise-native`.

[2020-02-13 14:47] #839 closed

[2020-02-13 14:48] #862 closed

[2020-02-13 14:48] #813 closed

[2020-02-13 14:49] james-wallis commented on #2188
Potential change:
Add a section after `Modifications are usually required to successfully add and deploy projects that have never been run in Codewind before. This tutorial covers the basics of configuring a project to run in Codewind.`

and before `What kind of projects can I add?`

called `Requirements for deploying through Codewind` and have a local (Docker) and a remote/che (Kubernetes/Helm)

[2020-02-13 14:50] stalleyj commented on #1856
@tetchel Sorry I missed your comment, I don't think we can persist the detailed app status as wouldn't that be inaccurate if Codewind stops and starts ?

[2020-02-13 14:52] stalleyj opened #2190 "Template API tests failing intermittently - implement Template.js lock"
While attempting to review https://github.com/eclipse/codewind/pull/2144, I ran the Template API test and got 2 test failures. I ran it again and they all passed, a third time, I got 1 failure but different to the first. There are clearly timing issues that may be in the APIs or the test code but we must investigate and fix this asap.

[2020-02-13 14:52] makandre commented on #1723
Fix #2036 is not in 0.9.0

https://github.com/eclipse/codewind/blob/0.9.0/src/pfe/portal/modules/User.js#L568

[2020-02-13 14:55] stalleyj commented on #2190
[testresult.txt](https://github.com/eclipse/codewind/files/4198979/testresult.txt)

[2020-02-13 14:57] sujeilyfonseca commented on #2116
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-13 14:57] #2116 closed

[2020-02-13 15:02] stalleyj commented on #1723
@makandre Issue is not stop-ship so the fix went into master.

[2020-02-13 15:06] sujeilyfonseca commented on #1832
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-13 15:06] #1832 closed

[2020-02-13 15:07] sishida commented on #934
@malincoln,
@sghung informed me, "Andrew verified the doc changes in https://github.com/eclipse/codewind/issues/1399." Thanks!

[2020-02-13 15:12] #2180 closed

[2020-02-13 15:26] travis1111 commented on #1069
We are going to have a release this week, the new release contains the fix.  Maybe we just wait for the new release and Steven will publish?

[2020-02-13 15:27] #2187 closed

[2020-02-13 15:29] tetchel commented on #1856
the detailed app status this was fixed with #2140

[2020-02-13 15:29] tobespc opened #2191 "Quickly and easily provide networking of services for the developer"
***Problem***

Deploying a single micro service is straightforward with Codewind but what if I want that micro service to communicate with another micro service?  In Kubernetes, there are the service discovery options but what if I want something a lot simpler to get me up and running quickly.  We could use docker network, and label our containers but that would require the user to have knowledge

[2020-02-13 15:29] tetchel commented on #1856
issue is ready for verification

[2020-02-13 15:29] tobespc commented on #2191
# Proof of concept
## Spec
I've been working on the proof of concept for this feature, and agreed the following spec with @corbint:
* Demonstrates a local Codewind project making a HTTP request to a remote Codewind project.
* Uses `cwctl` to connect the two Codewind projects.
  * The use of `cwctl` will demonstrate how the editors will `create` and `get` networks.
* Reads an environment variable i

[2020-02-13 15:30] tobespc commented on #2191
### Design considerations
* The default way to communicate between deployments/pods in Kube is to use a service and environment variables within the containers [see here](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#accessing-the-service).

* How to get the list of environments into the container? PoC uses a file loaded in to the Docker container using the

[2020-02-13 15:31] mattcolegate opened #2192 "VSCode appears to recycle Codewind connection when reloading extension"
**Codewind version:** latest (13/02/2020)
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest (13/02/2020)
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
With an empty workspace (stating 'You have not yet added a folder to the workspace") and a running Codewind with projects, right clicking one of them and selecting 'Add project to workspace' causes Co

[2020-02-13 15:33] tetchel commented on #2192
When you modify the workspace VS Code reloads all extensions, this is the esxpected behaviour

[2020-02-13 15:34] jopit commented on #2183
I think the problem is here:
https://github.com/eclipse/codewind-intellij/blob/54ba11b1728418221d622199bbd5e113ef48c395/dev/src/main/java/org/eclipse/codewind/intellij/ui/tasks/UninstallCodewindTask.java#L39

Instead of passing null as the version, it should pass InstallUtil.getVersion()

[2020-02-13 15:43] tetchel commented on #2189
Wow, that's a surprise...

[2020-02-13 15:46] sghung commented on #938
@sishida I am fine with putting it there for now. Originally I thought we should create a new section, but given that appsody work is slowing down, I don't think it makes sense to add a new section outside of the troubleshooting page with this info. Since all the other appsody info is in the troubleshooting, I am fine with putting it there

[2020-02-13 15:50] eharris369 commented on #732
Fixed by:
https://github.com/eclipse/codewind-eclipse/pull/522
https://github.com/eclipse/codewind-eclipse/pull/512
Please verify.

[2020-02-13 15:51] tetchel commented on #2189
Reviewing that thread, it sounds like [`got`](https://github.com/sindresorhus/got) has everything and seems to be the fastest growing / most actively maintained.

[2020-02-13 15:52] sishida commented on #938
@sghung @makandre Hi, team, here is the PR: https://github.com/eclipse/codewind-docs/pull/363

Please note that because of changes to Che documentation, the https://www.eclipse.org/codewind/image-registry-credentials.html page doesn't exist anymore. Instead, we're going to add this page: https://github.com/eclipse/codewind-docs/pull/310/files.

[2020-02-13 15:59] eharris369 commented on #2093
#1856 is fixed now, please verify

[2020-02-13 16:00] eharris369 commented on #2093
/pipeline verify

[2020-02-13 16:04] jopit commented on #2183
Looks like `UpgradeCodewindTask` might need the same fix.

[2020-02-13 16:07] eharris369 commented on #2095
I tried creating several appsody projects and could not reproduce this.  Can you see if you can still reproduce?

[2020-02-13 16:23] naveenkaratekid commented on #2183
@jagraj I too notice that the images in IntelliJ don't get removed after I click ```Uninstall```

![image](https://user-images.githubusercontent.com/19738071/74452079-9310f880-4e4e-11ea-83dd-76b7dc5e0820.png)

[2020-02-13 16:28] eharris369 opened #2193 "cwctl error when removing project: Project unbind failed with status code Ê"
When I try to remove a project using cwctl it does get removed but the return code for the command is 1 and it gives an error message.  Because of this an error dialog shows in the IDE.  I am on Windows 10 and downloaded the latest cwctl master build.
[code]

Also when the --json option is used the error message is nested in one level which the IDE can't parse:

[code]

[2020-02-13 16:30] yangcao77 commented on #1939
The change is in. Closing this issue.

[2020-02-13 16:30] #1939 closed

[2020-02-13 16:42] rajivnathan commented on #2135
@mmulholl looks like https://github.com/eclipse/codewind/issues/2072 should now be fixed. Can you please retry?

[2020-02-13 16:43] ssh24 opened #2194 "Project delete throws error on Eclipse IDE"
**Description:**
I have seen this across pretty much all project types on the Eclipse IDE. Try deleting a project and it will throw this error:
![Screen Shot 2020-02-13 at 11 41 33 AM](https://user-images.githubusercontent.com/15173354/74457204-ef2b4b00-4e55-11ea-9dcc-081aa26d1f52.png)

The project is deleted regardless but I don't know what this error means or why it is thrown.

/area eclipse-ide

[2020-02-13 16:44] tetchel commented on #2194
dupe https://github.com/eclipse/codewind/issues/2193

[2020-02-13 16:44] tetchel commented on #2194
tho looks like you're on Mac so it's not windows-specific

[2020-02-13 16:51] ssh24 commented on #2093
**Verified** It now only throw one timeout issue per project and doesn't fill up the screen with pop ups

[2020-02-13 16:51] #2093 closed

[2020-02-13 16:51] jopit commented on #2166
Did you create these projects in IntelliJ, or are they pre-existing projects that you imported?

[2020-02-13 16:52] malincoln commented on #2072
@eharris369 pls verify and close. Thanks

[2020-02-13 16:52] naveenkaratekid commented on #2166
@jopit These are projects that I created. I will also try to import existing ones and see what happens

[2020-02-13 16:55] jopit commented on #2166
Can you attach the IntelliJ log files from when you created the projects? Go to the menu item`Help > Show Log in Explorer`

[2020-02-13 16:57] jopit commented on #2166
Oh, did you create the projects with the old version of the plugin, then update the plugin while still using those old projects?  Because the bug I fixed affects the project creation.  If the projects were created with the 'bad' plugin version, updating to the fixed version won't fix them.  You'll need to delete and recreate them.

[2020-02-13 16:58] jopit commented on #2166
I just tried on Windows with new project, and build works for me.

[2020-02-13 16:59] eharris369 commented on #2193
I could not reproduce this with 0.9.0 - just latest.

[2020-02-13 16:59] rajivnathan commented on #2075
@eharris369 @johnmcollier think this can now be verified along with https://github.com/eclipse/codewind/issues/2072

[2020-02-13 17:00] ssh24 commented on #2075
@eharris369 Looks like #2072 went in. I just verified on eclipse and it worked for me (5 fresh OL projects). Could you please verify?

[2020-02-13 17:00] ssh24 commented on #2075
Ah, Rajiv beat me to it haha

[2020-02-13 17:05] j-c-berger commented on #728
@malincoln, no, doc updates aren't complete, and ID has yet to get involved with this issue. This issue is not for 0.9.0 though.

Steven and I can reassess this issue after 0.9.0's GA, when the business dies down some. Thanks for the follow up.

[2020-02-13 17:09] eharris369 opened #2195 "Open liberty project build fails"
When I create an open liberty project (Codewind style) the build fails.  I tried with both master and 0.9.0.  I am on Windows 10.

Here is the log file:
[logs090.txt](https://github.com/eclipse/codewind/files/4199762/logs090.txt)

[2020-02-13 17:14] eharris369 commented on #2195
Here are the logs with debug log level:
[logsdebug.txt](https://github.com/eclipse/codewind/files/4199789/logsdebug.txt)

[2020-02-13 17:28] tetchel commented on #2105
![image](https://user-images.githubusercontent.com/8888438/74461349-6532b080-4e5c-11ea-8ede-4f4006fd327a.png)

[2020-02-13 17:32] #2131 closed

[2020-02-13 17:35] ssh24 commented on #2095
@eharris369 I couldn't reproduce this today when I tried it out earlier. We can keep this issue open for the backlogs and if we see it in the future use it as a reference

[2020-02-13 17:36] tetchel commented on #1657
This is not the same as collaborative editing. We want to actually download the project's code, not just view it.

I see a straightforward way for this to work to be a "clone project" or "download project" option on a remote project which pulls the project onto the local machine. Then, if you want, you could use the Move Project / drag-and-drop functionality to add it to another connection, local

[2020-02-13 17:56] sujeilyfonseca opened #2196 "SVT: [IntelliJ] Missing steps in IntelliJ installation instructions"
**Codewind version:** 0.9.0
**OS:** Mac OS Mojave 10.14.6, VM with Windows 10

**IDE extension version:** 20200212-195750
**IDE version:**
<img width="344" alt="Screen Shot 2020-02-13 at 12 46 11 PM" src="https://user-images.githubusercontent.com/49531960/74462839-dd9a7100-4e5e-11ea-930b-4a87c2dd90f1.png">

<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https://user-images.githu

[2020-02-13 18:00] sujeilyfonseca commented on #2196
/area docs

[2020-02-13 18:19] sishida commented on #2136
Che content was fixed as part of Che reorganization.

**Eclipse Che**
1.	Docker Registry Guidance
o	Missing space before “buildah”: If buildah is unable to resolve the registry hostname,buildahis unable to push your projects to the registry, and deployment on Kubernetes is prevented.

o	Missing space before “and”: If you do not develop any Codewind style projects,and you use an image registry that

[2020-02-13 18:22] sujeilyfonseca opened #2197 "SVT: [IntelliJ][Windows] Cannot install Codewind on IntelliJ using a custom plug-in repository"
**Codewind version:** 0.9.0
**OS:** VM with Windows 10

**IDE extension version:** 0.9.0-202002121935
**IDE version:**
<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https://user-images.githubusercontent.com/49531960/74465119-d07f8100-4e62-11ea-97e0-cf92747c7f8f.png">

**Description:** Cannot install Codewind on IntelliJ using a custom plug-in repository

I can install Codewind

[2020-02-13 18:24] sujeilyfonseca commented on #2197
/priority stopship

[2020-02-13 18:25] #2134 closed

[2020-02-13 18:33] sishida commented on #2136
Asked for clarification from Sujeily in Slack:
2.	Using the Openshift Registry
_Adding the Openshift Registry in Codewind_
o	Should use “Enter” in code style as in other sections

[2020-02-13 18:38] jopit commented on #2197
This looks like a bug in IntelliJ

[2020-02-13 18:38] eharris369 commented on #2072
Looks good now.

[2020-02-13 18:38] #2072 closed

[2020-02-13 18:39] sujeilyfonseca commented on #2039
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-13 18:39] #2039 closed

[2020-02-13 18:39] eharris369 commented on #2075
I tried various things and I can't get it to fail anymore so closing.

[2020-02-13 18:39] #2075 closed

[2020-02-13 18:44] sishida commented on #2136
PR for this change: https://github.com/eclipse/codewind-docs/pull/365
[code]

[2020-02-13 18:46] tetchel commented on #959
https://github.com/eclipse/codewind/issues/1990

[2020-02-13 18:46] #959 closed

[2020-02-13 18:48] malincoln commented on #2197
@jopit pls assign.  Thanks

[2020-02-13 18:48] keithchong opened #2198 "[IntelliJ] Show the Add Existing Project action only when Codewind status is installed"
[IntelliJ] Show the Add Existing Project action only when Codewind status is installed

Right now it appears regardless of the install state.

[2020-02-13 18:49] naveenkaratekid commented on #2166
Here is the log I pulled up from ```Help -> Show Log in Explorer```
[idea.log](https://github.com/eclipse/codewind/files/4200317/idea.log)

Screenshot for Standard Template Websphere MicroProfile (non-Appsody)
![image](https://user-images.githubusercontent.com/19738071/74466675-b5fad700-4e65-11ea-82ae-9d1f1ac12524.png)

[2020-02-13 18:50] jopit commented on #2197
This looks to be a bug in IntelliJ on Windows.  If you paste the URL, then click outside the entry field so that it loses focus, then click OK, it saves the URL correctly.

If you enter the URL, and the click OK without shifting focus from the entry field. it gets saved as a blank entry, and you get the error.

There's nothing we can do in the plugin or in the update site to fix this.  We should p

[2020-02-13 18:50] j-c-berger commented on #2105
@tetchel, looks good! See some quick comments I made on your commit, `Update project removal dialog message` Thanks!

[2020-02-13 18:51] #2105 closed

[2020-02-13 18:53] tetchel commented on #2105
Those are old messages previously approved by design/ID, I just changed 'containers' to 'images' because it is more technically correct

[2020-02-13 18:56] sujeilyfonseca commented on #2040
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-13 18:56] #2040 closed

[2020-02-13 18:57] sishida commented on #2136
### Working with templates
1.	Manage templates
o	In VS Code, the menu item is “Template Source Manager”. In Eclipse, the menu item is “Manage Template Sources”.
![image](https://user-images.githubusercontent.com/49531960/74278072-9b4e2400-4ce6-11ea-86c1-033adbb55430.png)

o	“Add New” instead of “Add New”
![image](https://user-images.githubusercontent.com/49531960/74278081-9f7a4180-4ce6-11ea-9be7-9

[2020-02-13 19:00] sujeilyfonseca opened #2199 "SVT: [IntelliJ] There could be a better message when the plug-in is installed, but the images are not yet installed"
**Codewind version:** 0.9.0
**OS:** Mac OS Mojave 10.14.6, VM with Windows 10

**IDE extension version:** 20200212-195750, 0.9.0-202002121935
**IDE version:**
<img width="344" alt="Screen Shot 2020-02-13 at 12 46 11 PM" src="https://user-images.githubusercontent.com/49531960/74462839-dd9a7100-4e5e-11ea-930b-4a87c2dd90f1.png">

<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https

[2020-02-13 19:02] malincoln commented on #2197
@micgibso @sishida ^^^

[2020-02-13 19:05] eharris369 commented on #2195
Project build log:
[code]

[2020-02-13 19:07] eharris369 commented on #2195
Microprofile projects are failing to build as well:

[code]

[2020-02-13 19:15] sishida commented on #2136
- I tested the "Getting started with Codewind for Eclipse" link on both the staging server and the live site. It worked on both.
- PR for removing the `\`: https://github.com/eclipse/codewind-docs/pull/368

**Overview**
o	Link doesn't work: Getting started with Codewind for Eclipse: http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/mdteclipsegettingstarted.html
o	Can remove “\” from: `cwctl i

[2020-02-13 19:15] josephca opened #2200 "[IntelliJ] generate GA version of 'updatePlugins.xml' for GA"
Update Jenkins project to generate GA version of 'updatePlugins.xml' with a correct GA download area location. Each branch build contains the path to the branch build download area.

e.g.
A sample 'upatePlugins.xml'

[code]

0.9.0 build: https://download.eclipse.org/codewind/codewind-intellij/0.9.0/latest/codewind-intellij.zip
GA build should have: https://download.eclipse.org/codewind/milestone/0

[2020-02-13 19:20] jagraj opened #2201 "SVT:IntelliJ:Plugin status does not say "Installed" after install in "Marketplace" section even though it is installed"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0
**IDE version:**  IntelliJ 2019-3.3
**Kubernetes cluster:**

**Description:**
After installing Codewind from plugin repo, the status says "Install" rather it is already "Installed". This is misleading to the users. Is it possible to change the status back to "Installed" once it is installed from the plug

[2020-02-13 19:21] jagraj commented on #2201
/priority hot
/area intellij-ide

[2020-02-13 19:21] sishida commented on #2136
PR for this change: https://github.com/eclipse/codewind-docs/pull/369

**Deploy all-in-one**
_Deploying Codewind with CWCTL_
o	kubectl get namespaces – Can also use “oc get namespaces”

[2020-02-13 19:25] sujeilyfonseca commented on #2196
/priority hot

[2020-02-13 19:32] cccanderson commented on #2183
https://github.com/eclipse/codewind-intellij/pull/47 fixes this if there is only one version of Codewind currently installed.  I chatted with Liam about this, and he agrees that
cwctl remove -t 0.7.0, 0.8.0
should be supported to remove more than one version at once.  As such, I will leave my current fix as is, and in a future release of Codewind, multiple versions will automatically be removed (w

[2020-02-13 19:40] jopit commented on #2201
@josephca could you please take a look?  I don't know if there's anything we can do to fix this.  Even if there is, it's not required for 0.9.0.

[2020-02-13 19:45] jopit commented on #2200
We might want to add a `<name>Codewind</name>` element which will fix the name showing up as `codewind-intellj`

[2020-02-13 19:50] jagraj commented on #2183
Do we really need to uninstall all the versions that user has or just the latest version.? We just don't want to get rid of all the images and this takes lot of time to download all the image layers.

[2020-02-13 19:55] #2139 closed

[2020-02-13 20:43] sishida commented on #2136
PR for these changes: https://github.com/eclipse/codewind-docs/pull/370

**Deploying components individually**
o	Missing enters after bullets:
![image](https://user-images.githubusercontent.com/49531960/74277794-267aea00-4ce6-11ea-958d-1107ae055281.png)

o	Should be consistent and use `<Codewind-namespace>`:
a) To enable privileged containers, enter `oc adm policy add-scc-to-group privileged syste

[2020-02-13 20:48] sishida commented on #2136
PR for last of these variable format changes: https://github.com/eclipse/codewind-docs/pull/371
Other variable format changes included in PRs along with other change(s) for those files.

**Note:** There is a difference in notation style between Overview and other pages. The Overview tends to use `~/.codewind/<version>` while other pages tend to use `~/.codewind/{version}` (Deploy all-in-one, Deplo

[2020-02-13 20:52] rajivnathan commented on #1269
@sghung can you please take a look and see if the doc is okay from an Appsody perspective?

[2020-02-13 20:54] sishida commented on #938
With the merging of https://github.com/eclipse/codewind-docs/pull/363, docs are complete.

[2020-02-13 20:58] eharris369 commented on #2195
I could not reproduce this on a Windows VM that I have nor could Jag reproduce on his machine so going to restart docker and see if that is the issue.

[2020-02-13 21:03] jgwest commented on #489
The websocket API used by the filewatcher is still not secured: https://github.com/eclipse/codewind/issues/1342

[2020-02-13 21:04] tetchel commented on #489
Also the codewind ingress on Che is still not secured

[2020-02-13 21:13] tetchel opened #2202 "Codewind for VS Code should work in Theia outside of Che"
Right now, the code treats 'in theia' as being the same as 'in che'.

Now that Theia's compatibility with VS Code extensions is so good, now would be the time to distinguish these two cases, and try and have full support for 'regular' theia wherever it's deployed.

This was requested specifically by a potential user we talked to at demo day.

[2020-02-13 21:20] eharris369 commented on #2195
Problem went away after restarting docker.

[2020-02-13 21:20] #2195 closed

[2020-02-13 21:21] jopit commented on #2201
This may be because the version in the `updatePlugins.xml` is different from the actual version of the plugin itself -- for example `20200213-205654` in the updatePlugins.xml vs `0.9.0-20200213-205654` in the plugin itself.

[2020-02-13 21:28] jopit commented on #2166
Can you run the following two commands and post the output?

`dir %USERPROFILE%\.m2`

`dir %USERPROFILE%\.m2\repository\net`

[2020-02-13 21:29] naveenkaratekid commented on #2166
[code]

[code]

[2020-02-13 21:30] malincoln commented on #2183
@jagraj pls verify and close. Thanks

[2020-02-13 21:30] malincoln commented on #2137
@sujeilyfonseca pls verify and close. Thanks

[2020-02-13 21:39] jagraj commented on #1842
This has been verified with the latest build and works fine now. Thanks for the fix. Closing this now.

[2020-02-13 21:39] #1842 closed

[2020-02-13 21:47] eharris369 commented on #1525
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/590

[2020-02-13 21:48] johnmcollier opened #2203 "Self-signed-cert issues in new versions of Che prevent Codewind from supporting newer versions"
Opening an issue here for tracking on our side of the TLS issues we're hitting in Che, there isn't anything really for us to "do" for this.

Back in the fall, changes in Theia were delivered that required HTTPS for webviews to properly function (https://github.com/eclipse-theia/theia/pull/6465#issuecomment-557494879). Che (and Che Theia) 7.6.0 was the first version of Che to pull this change in (h

[2020-02-13 22:10] johnmcollier commented on #2126
https://github.com/eclipse/codewind/issues/2203 Will block us from moving up to a newer Che version til it's resolved unfortunately.

[2020-02-13 22:44] keithchong opened #2204 "[IntelliJ] Re-layout the project overview contents"
See Codewind for Eclipse's latest layout:

https://github.com/eclipse/codewind/issues/1698

[2020-02-13 22:52] GeekArthur commented on #1131
Current plan is to create two separate videos
Instructional video: similar to the video I’ve created, but add more step details, fix voiceover alignment issue and fast video content issue
FIUM video: emphasize the uniqueness of odo and let the video only show features introduction without actual steps

[2020-02-13 23:56] jopit opened #2206 "[IntelliJ] Docs: wrong url on getting started page."
Just noticed this.

On page https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-intellij-getting-started.md section **Installing Codewind on IntelliJ with the custom plug-in repository** step 5 says
[code]
The url is incorrect.  It should be
[code]
@josephca please confirm this is the final, correct url.

[2020-02-14 00:56] markcor11 opened #2211 "Unable to edit load test descriptions on perf dash"
**Codewind version:** latest

**Description:**

Unable to edit load test descriptions in the history table of the performance dashboard

**Steps to reproduce:**
Create load tests
Edit descriptions in history table,  they appear to change but the changes are lost after a page refresh.

[2020-02-14 00:57] markcor11 commented on #2211
/area portal
/assign

[2020-02-14 01:03] markcor11 opened #2212 "Increase logging within performance container when running load tests"
**Codewind version:** latest
**OS:**

**Description:**

When running load the performance container logs show just :
[code]

This is insufficient to troubleshoot load runner problems and was introduced as a result of moving to a new logger in the performance container which categorised this useful output to loglevel=debug.

**Steps to reproduce:**

**Workaround:**

[2020-02-14 01:03] markcor11 commented on #2212
/area Portal
/assign

[2020-02-14 01:48] jagraj opened #2213 "SVT:Enable Inject Metrics is missing as menu item in 0.9.0 release"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0
**IDE version:** Eclipse IDE - 2019-09
**Kubernetes cluster:**

**Description:**
Enable Inject Metrics menu item is missing as option in 0.9.0 release and it is available in 0.8.1 release.

**Codewind 0.9.0**
![image](https://user-images.githubusercontent.com/713849/74493362-ef503880-4e9f-11ea-8789-20625

[2020-02-14 01:48] jagraj commented on #2213
/priority stopship
/area eclipse-ide

[2020-02-14 02:19] sujeilyfonseca commented on #2213
**Codewind version:** 0.9.0
**OS:** Red Hat Enterprise Linux 7 (64 bit), VM with Windows 10

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**IDE extension version:** 0.9.0
**IDE version:** Code 1.42.0

I can reproduce this problem in VS Code and Eclipse Che. I created some projects and I no longer see the "Enable Inject Metrics" option.

<img width="1676" alt="Screen Shot 2020-02-1

[2020-02-14 02:25] sujeilyfonseca commented on #2064
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

[2020-02-14 02:25] #2064 closed

[2020-02-14 02:36] DavidG1011 commented on #2213
Codewind version: 0.9.0
OS: Mac

IDE extension version: 0.9.0
IDE version: VSCode 1.42.1

I was able to see this option in VSCode with version 0.8.1 for the following project types:
Java Spring
Java Microprofile
NodeJs

I no longer see this option in 0.9.0 for any of the project types:

![image](https://user-images.githubusercontent.com/30476587/74496100-abf9c800-4ea7-11ea-8fb6-07936cb09ce9.png)

[2020-02-14 02:51] rajivnathan commented on #2091
In addition to the cronjobs it would be good to have an easy way to compare results between releases.

[2020-02-14 04:58] keithchong opened #2214 "[IntelliJ] Handle project validation failure in Project Bind wizard"
Handle project validation errors better in the project bind wizard.  Allow the user to manually pick the project type and/or language, and pop up a warning message.

[2020-02-14 07:23] jgwest commented on #844
/assign

[2020-02-14 07:27] jgwest commented on #844
/unassign

[2020-02-14 07:29] jgwest commented on #844
/unassign

[2020-02-14 07:32] jgwest commented on #844
/assign
/unassign maysunfaisal

[2020-02-14 07:33] jgwest commented on #844
/svt
/remove-kind enhancement

[2020-02-14 07:38] jgwest commented on #844
/remove-svt
/kind enhancement

[2020-02-14 07:43] jgwest commented on #844
/kind bug
/tech-topic

[2020-02-14 07:45] jgwest commented on #844
/remove-kind bug
/remove-tech-topic

[2020-02-14 08:00] jgwest commented on #844
/kind empty

[2020-02-14 08:11] jgwest commented on #844
/kind bug

[2020-02-14 08:14] jgwest commented on #844
/remove-kind bug

[2020-02-14 08:32] markcor11 commented on #2008
Had a look at this and saw that load was being applied to the project and metrics were created but the performance container was not displaying the loadrun summary status that it used to do. I added PR 2208 to move the summary output from loglevel debug to loglevel info so that it always appears (this will help confirm with issues like this that load was applied)

In terms of why metrics dont appe

[2020-02-14 09:04] hhellyer commented on #1928
It's easy to spot the failures by looking at master to see which builds have a failure in the "Run Turbine unit test suite" column: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/

@ssh24 @jgwest  - This is impacting PR builds fairly frequently and making it hard to see if PR's are building cleanly or not. Now we've got 0.9.0 branched could this get looked at on master to cle

[2020-02-14 09:18] rwalle61 commented on #2212
I put the change in to put them to debug, not realising that we needed them at level info. We can control the log level via setting LOG_LEVEL in the Performance Dockerfile. It is `info` by default. So to show the log messages by default we can log them as `info` not `debug`, or set LOG_LEVEL to `debug`.

We could also:

1. make our PFE /logging API control Performance logging too
2. or create a se

[2020-02-14 09:32] #1850 closed

[2020-02-14 10:34] #2188 closed

[2020-02-14 12:23] rwalle61 opened #2219 "Intermittent PFE test timeout - deleting project in cleanup step"
**Codewind version:** latest
Jenkins, not local Mac.

**Description:**
PFE /projects API tests occasionally timeout in Jenkins. When this happens, it is almost always in the project sync tests (`uploadEnd.test.js`).

**Steps to reproduce:**
1. Open a PR
2. When Jenkins runs the PR build, a /projects API test (usually `/upload/end`) sometimes timeout

**Possible cause**
As far as I know the deletio

[2020-02-14 12:27] eharris369 commented on #2213
This is on purpose.  If the application already has embedded metrics then there is no point in showing the inject metrics option.

[2020-02-14 12:35] eharris369 commented on #2213
Jag says that some users may want to inject metrics even if metrics are already there as it gives them more features.  @tobespc Is that true?

[2020-02-14 12:57] jagraj commented on #2213
@tobespc @markcor11
We are having hard time to understand which projects have embedded metrics and not. This is same issue with open liberty projects as well where this option is missing and we can not inject metrics. You can see the window below where user can edit project settings to enable metrics but it is hard to enable based on Json data that we have for .cw-settings file.

![Screen Shot 202

[2020-02-14 13:09] sujeilyfonseca opened #2220 "SVT: [Che] Error receiving profiling data"
**Codewind version:** 0.9.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** In previous versions, users didn't receive any errors on the screen when running load tests to obtain profiling data for the Metrics Dashboard. However, in Codewind 0.9.0, users get an "Error receiving profiling data" every time they execute a load

[2020-02-14 13:20] jopit commented on #2166
Did you add the project as a maven project as per step 7 here: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-intellij-getting-started.md#creating-your-first-project-from-a-template?  I don't see the tab for the maven view in the screenshots.

[2020-02-14 13:25] jopit commented on #2213
Adding the portal tag because we need input from portal on what's the correct behaviour here.

[2020-02-14 13:41] jagraj opened #2221 "SVT:IntelliJ:Double click to update to version 0.9.0 does not trigger any upgrade for codewind install"
**Codewind version:** 0.9.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.9.0 latest
**IDE version:**  IntelliJ 2019-3.3
**Kubernetes cluster:**

**Description:**
With the latest IntelliJ plugin that I can not upgrade with the "Double click" message to the user.
How ever I do see menu item to Update Codewind, after clicking that and the status in the codewind explorer does not ref

[2020-02-14 13:41] jagraj commented on #2221
/priority hot
/area intellij-ide

[2020-02-14 13:47] jagraj commented on #2183
This issue has been verified. Thanks for the fix.

[2020-02-14 13:47] #2183 closed

[2020-02-14 13:51] #2198 closed

[2020-02-14 13:53] #2165 closed

[2020-02-14 13:59] naveenkaratekid commented on #2166
@jopit Just tried the steps from the link you sent me. I no longer see build errors.
![image](https://user-images.githubusercontent.com/19738071/74537488-34a85080-4f08-11ea-8974-6137622cd58e.png)

I will go ahead and close the issue.

[2020-02-14 13:59] #2166 closed

[2020-02-14 13:59] james-wallis commented on #2004
I've been doing some research into the effort for Node.js to work with just `sh` based on @rajivnathan and it seems that its minimal (from my testing), just needed one additional change on top of the others.
See branch: https://github.com/eclipse/codewind/compare/master...james-wallis:investigate-sh-vs-bash?expand=1

[2020-02-14 14:03] micgibso commented on #2137
@sujeilyfonseca New PR that resolves merge conflicts: https://github.com/eclipse/codewind-docs/pull/373

[2020-02-14 14:03] josephca commented on #2206
@jopit Confirmed that `https://download.eclipse.org/codewind/milestone/0.9.0/updatePlugins.xml` is correct.

[2020-02-14 14:04] sujeilyfonseca commented on #2137
Thanks, @micgibso! I'm reviewing it to provide some final comments.

[2020-02-14 14:04] rwalle61 commented on #2213
As far as I know, the desired behaviour is:

Codewind Node.js and Websphere Liberty template projects should come with metrics embedded (appmetrics-dash and javametrics-dash respectively). I'll double check about Appsody and Swift.

.cw-settings does not determine whether we can inject metrics. The logic is in PFE. We should only be able to inject metrics into projects that are:
- type `nodejs`
-

[2020-02-14 14:09] sishida commented on #2206
@jopit @josephca Could either of you please review/approve/merge if the edit looks good to go? Thank you! https://github.com/eclipse/codewind-docs/pull/374 🎉

[2020-02-14 14:10] jopit commented on #2213
@eharris369 @tetchel as per Richard's comment, we need to provide the `inject metrics` function for applicable projects even if they have embedded metrics.

[2020-02-14 14:12] josephca commented on #2200
@jopit I will add the name. Furthermore, we could add a description as well to add more detail.

[Custom plugin repositories](https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/update_plugins_format.html):

![image](https://user-images.githubusercontent.com/25185698/74538338-01ff5780-4f0a-11ea-99b7-b8bb530ffcb5.png)

[2020-02-14 14:24] jopit commented on #2200
We can use the same description as in the plugin.xml: `Adds support for developing cloud-native, containerized web applications.`

[2020-02-14 14:26] rwalle61 commented on #2219
Another case, this time on project metrics/status test
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/559/consoleFull
[code]

[2020-02-14 14:28] ssh24 commented on #1928
I will take a look into it. Given that it is intermittent and passed 100% during our nightly builds - I think we could just increase the timeout for now

[2020-02-14 14:28] sishida commented on #2206
PR https://github.com/eclipse/codewind-docs/pull/374 has been merged. Closing this issue. 🌮

[2020-02-14 14:28] #2206 closed

[2020-02-14 14:28] ssh24 commented on #1928
/assign
/pipeline in progress

[2020-02-14 14:35] james-wallis commented on #1105
Pr accepted into master: https://github.com/eclipse/codewind/commit/57838b61e9fcead6f6285376b4e8af98f89dcb1e

[2020-02-14 14:35] #1105 closed

[2020-02-14 14:35] james-wallis commented on #2145
PR accepted into master
https://github.com/eclipse/codewind/commit/57838b61e9fcead6f6285376b4e8af98f89dcb1e

[2020-02-14 14:35] #2145 closed

[2020-02-14 15:08] josephca commented on #2200
@jopit
I updated the script by adding the name and description.
Sample:
![image](https://user-images.githubusercontent.com/25185698/74542623-f44dd000-4f11-11ea-99a4-89e62d4cb6c6.png)

[2020-02-14 15:15] sujeilyfonseca commented on #2137
@micgibso, here are some additional comments:

**Profiling Data Support**
Remove my previous explanation for the profilers, as it would be better to keep a separate document to explain the Codewind Java Profiler and Codewind Node.js Profiler (VS Code):

<img width="775" alt="Screen Shot 2020-02-14 at 10 06 17 AM" src="https://user-images.githubusercontent.com/49531960/74542457-a89b2680-4f11-11ea-9

[2020-02-14 15:16] micgibso commented on #2137
Will get right on it...

[2020-02-14 15:16] malincoln commented on #2008
@hhellyer is adding the logging debug to 0.9.0 branch and @jagraj will rerun scenario to see what debug details are gathered.

[2020-02-14 15:22] tetchel commented on #2213
We changed this intentionally https://github.com/eclipse/codewind/issues/1710

[2020-02-14 15:25] tetchel commented on #2213
The errors in https://github.com/eclipse/codewind/issues/2213#issuecomment-586069238 are both for lagom, right?

Inject metrics is not supported for lagom, but it is shown, because PFE can't tell the difference between lagom and open liberty, and we need to support it for open liberty 🙃

[2020-02-14 15:25] josephca commented on #2200
![image](https://user-images.githubusercontent.com/25185698/74543985-5c9db100-4f14-11ea-98cb-fb5895d5c447.png)

[2020-02-14 15:26] hhellyer commented on #2137
@sujeilyfonseca - We recently changed the default length of a performance run. It used to be 20 but is now 180 as that was needed to get a good hcd file. We also lowered the number of concurrent requests as that was killing liberty appservers.
See :https://github.com/eclipse/codewind/pull/2186/files

[2020-02-14 15:27] naveenkaratekid commented on #2213
I too can reproduce this issue. I no longer see the app metrics option in 0.9.0:

0.8.1
![image](https://user-images.githubusercontent.com/19738071/74543827-16485200-4f14-11ea-813e-f1dc4be80cd3.png)

0.9.0
![image](https://user-images.githubusercontent.com/19738071/74543816-11839e00-4f14-11ea-835e-cae30cb0b9b6.png)

[2020-02-14 15:35] micgibso commented on #2137
Changes in, have modifed the default to 180 and restored the advice for the time to run the test.

[2020-02-14 15:36] tetchel commented on #2220
I know that the new profiling code doesn't work on Che. I can quickly disable the load runner socket listener on Che, but i'm not sure if that's what we want to do, or if we can actually fix it.

@ebuckle @tobespc

[2020-02-14 15:40] micgibso commented on #1380
For 0.9.0 release, numerous changes went in, see https://github.com/eclipse/codewind/issues/2137 and https://github.com/eclipse/codewind-docs/pull/373.

[2020-02-14 15:46] tetchel commented on #2220
confirmed that we can disable this feature for 0.9

once https://github.com/eclipse/codewind/pull/2123 is merged into master it should work there. you will continue to see the errors on master until then

[2020-02-14 15:58] josephca commented on #2200
The required change has been made in Jenkins.
A related change for name/description change in 0.9.0 is handled by https://github.com/eclipse/codewind-intellij/pull/53

[2020-02-14 15:58] #2200 closed

[2020-02-14 16:00] tetchel commented on #2220
that message should be gone in 0.9 now

[2020-02-14 16:22] eharris369 commented on #2213
Eclipse IDE PRs are merged:
- 0.9.0: https://github.com/eclipse/codewind-eclipse/pull/591
- master: https://github.com/eclipse/codewind-eclipse/pull/592

[2020-02-14 16:27] josephca commented on #2201
Fixed by putting the correct plugin id. The version number seems irrelevant.
![image](https://user-images.githubusercontent.com/25185698/74549030-e81b4000-4f1c-11ea-9239-9cd22e26ee94.png)

[2020-02-14 16:36] hhellyer commented on #2008
The error `Error 404: CWMMC0003I: The environment registry was not found` is coming directly from the application when the performance dashboard tries to access `/metrics/environment` on the application. I can reproduce that locally but I'm not sure why it's inaccessible or what we actually use that endpoint for. This will probably need further investigation to see if it's the cause of this error,

[2020-02-14 16:40] DavidG1011 opened #2223 "SVT: VSCode: Toggling Inject Appmetrics for Java Lagom projects produces errors."
**Codewind version**: 0.9.0
**OS**: Mac

**IDE extension version**: codewind-0.9.0-202002140934
**IDE version**: VSCode 1.42.1

**Description:** Toggling "Inject Appmetrics" for Java Lagom projects in the project overview page produces errors:

I'm able to reproduce the first error consistently, while the second error I was only able to produce once:
<img width="462" alt="Screen Shot 2020-02-13 at

[2020-02-14 16:41] #2201 closed

[2020-02-14 16:42] bsteinfeld commented on #2202
I was the one who requested this use case at demo day.

My goal is to have the following setup:

1. Remotely deployed Codewind to IKS
2. Theia deployed in cloud (as a standalone, **not** in che)
3. Codewind plugin installed in theia and connecting to remote codewind deploy

I am able to successfully deploy 1 & 2. Here are the specifics of this:

- Codewind deployed with latest version of `cwctl`
-

[2020-02-14 16:42] rwalle61 commented on #2213
To clarify, by

I meant, as John interpreted, that we need to provide the inject metrics function for applicable projects even if they have embedded metrics. We should give users the action (and hopefully we are technically capable of injection)

[2020-02-14 16:43] tetchel commented on #2223
tagging portal because these are PFE errors

My understanding is that inject metrics is enabled for "docker" projects with the "java" language, so lagom would fall under that category. But it only actually works for open liberty.

[2020-02-14 16:45] tetchel commented on #2202
ah. it's because our authentication code relies on the system vs code/theia is running on to have a keychain. which it won't, if we're in docker.

that would mean this scenario is blocked by https://github.com/eclipse/codewind/issues/1735

[2020-02-14 16:47] tetchel commented on #2202
The "for theia" vsix is actually "for theia in che" (I will see about that labeling) and will not work in this scenario. Maybe you could try the regular vsix.

https://download.eclipse.org/codewind/codewind-vscode/master/latest/

[2020-02-14 16:51] bsteinfeld opened #2224 "Unable to connect to remote Codewind via `cwctl` CLI"
**Codewind version:** Latest dev version `cwctl version x.x.dev` - Pulled Feb. 14, 2020
**OS:** Ubuntu 18.04.3 LTS

**Che version:** n/a - NO CHE installed
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:** IKS `v1.15.8+IKS`

**Description:**
I've installed Codewind remotely via the following commands:

[code]

From here I use `cwctl` to confirm Codewind install:
[code]

N

[2020-02-14 16:51] rwalle61 commented on #2219
Another case: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-2215/3/consoleFull

Error
[code]

Log:
[code]

[2020-02-14 16:52] tetchel commented on #2202
The 'for theia' vsix you tried is actually 'for theia in che' and definitely will not work here. But if you try the 'for vs code' vsix you will still hit errors, just different (less ugly) ones.

There are some code changes I have to make to separate 'running in theia' from 'running in che', which should go a long way towards this working.

That said, even with those changes, your scenario of conn

[2020-02-14 16:52] tetchel commented on #2224
This is a limitation of cwctl https://github.com/eclipse/codewind/issues/1735

[2020-02-14 16:54] malincoln commented on #2213
@jagraj pls verify and close.  Thanks

[2020-02-14 16:55] tetchel commented on #2224
This doesn't have to do with che. This usage of cwctl isn't documented right now, but isn't too hard to figure out. Run:

[code]

[2020-02-14 16:55] bsteinfeld commented on #2202
@tetchel I also just opened #2224. Is this the same or related to #1735?

[2020-02-14 16:56] jopit commented on #2213
The VSCode build is still running: https://ci.eclipse.org/codewind/job/Codewind/job/codewind-vscode/job/0.9.0/ so Jag can't verify yet.

[2020-02-14 16:57] tetchel commented on #2202
They both have to do with authentication but they are different problems

[2020-02-14 16:58] sujeilyfonseca commented on #2008
@hhellyer:

@malincoln and @jagraj asked me to re-run this scenario. I'm doing it with 3.11 and 4.3 clusters. I've also requested @DavidG1011 to reproduce in a 4.2 cluster. We'll update the issue based on our findings.

[2020-02-14 16:58] jopit commented on #2213
OK, build is done

[2020-02-14 17:01] bsteinfeld commented on #2224
@tetchel

Needed to install `dbus-x11` (for `dbus-launch`). After this I hit the following error:

[code]

[2020-02-14 17:03] rwalle61 commented on #2223
Tim is correct. I don't think this will be a quick fix, because to fix this we need to create a proper detection mechanism, rather than just treating `docker` `java` as open liberty

[2020-02-14 17:05] johnmcollier commented on #2224
@bsteinfeld I'm not sure how to do this without a graphical frontend, but the instructions on https://github.com/zalando/go-keyring#linux should resolve that issue. It's expected that the default collection login exists in the keyring

https://github.com/eclipse/codewind/issues/1735 should resolve this issue too, as removing the keychain requirement would enable cwctl to connect

[2020-02-14 17:05] josephca commented on #2221
@jagraj I'm wondering if it occurs only on Windows.

[2020-02-14 17:22] rwalle61 commented on #2219
In this PR build, project deletion for `project test-liberty-metrics-inject-1581699829951` succeeds despite 1 LOCK_FAILURE.

project deletion also succeeds for open liberty (`project test-open-liberty-metrics-inject`) despite 3 LOCK_FAILUREs, but fails with 500 for some other reason

see https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-2217/3/consoleFull.

I put in extra debug on t

[2020-02-14 17:22] DavidG1011 commented on #2008
Upon attempting this on my 4.2 cluster, I just receive this, which I assume is the normal output:
[code]

[2020-02-14 17:32] tetchel commented on #1812
it looks like all the 0.9 work is done so with #2117 open can we close this one?

[2020-02-14 17:36] tetchel commented on #67
@markcor11 theia hasn't made the change yet that would allow me to refresh manually, but I'm wondering if you still ever see this, because I do not

[2020-02-14 17:37] sujeilyfonseca commented on #2008
After re-running this scenario again, here is what I found:

**Before injecting application metrics:**
1) Default Websphere Liberty MicroProfile - Successfully executed a load test
<img width="1395" alt="Screen Shot 2020-02-14 at 12 20 34 PM" src="https://user-images.githubusercontent.com/49531960/74553500-83181800-4f25-11ea-83c2-e7630499243d.png">

2) Default Open Liberty - Cannot get results aft

[2020-02-14 17:40] #153 closed

[2020-02-14 17:41] tetchel commented on #153
the vs code welcome page is in now,

we still have https://github.com/eclipse/codewind/issues/2169 for eclipse
and https://github.com/eclipse/codewind/issues/1984 for Che

[2020-02-14 18:04] maysunfaisal commented on #1525
The PFE work is done and merged, so I have been unassigned. @eharris369 @tetchel pls assign yourselves if you're working on the issue, thx

[2020-02-14 18:04] jagraj commented on #2221
@josephca
I am not sure, let me ask someone from our team if they can reproduce this on MacOS or Linux.

@sujeilyfonseca @DavidG1011 ^^

[2020-02-14 18:14] sujeilyfonseca commented on #2221
I'll proceed to verify this issue on MacOS.

[2020-02-14 18:30] eharris369 commented on #1525
I think this is done now in both IDEs (master only) so moving to verify.

/pipeline verify

[2020-02-14 18:34] jagraj commented on #2201
Yes, it is fixed now. Thanks for the fix.

![Screen Shot 2020-02-14 at 1 34 39 PM](https://user-images.githubusercontent.com/713849/74557731-c6c34f80-4f2e-11ea-9e06-984c02f20855.png)

[2020-02-14 18:48] sishida commented on #2197
Hi, team, I have made a doc update based on this feedback: https://github.com/eclipse/codewind-docs/pull/375. Could a committer please review it? Please let me know if you'd like any changes. If it's good to merge, please approve it. Thank you!

[2020-02-14 18:50] DavidG1011 commented on #2221
I see this same behavior on Linux.

[2020-02-14 18:53] sujeilyfonseca commented on #2221
I see this same behavior on MacOS:

<img width="743" alt="Screen Shot 2020-02-14 at 1 52 30 PM" src="https://user-images.githubusercontent.com/49531960/74558975-4d792c00-4f31-11ea-8168-48c7c7507c7a.png">

[2020-02-14 19:00] beccabau commented on #2221
I see this behavior on mac, but do not see the option to upgrade at all
![image](https://user-images.githubusercontent.com/13971834/74559387-47d01600-4f32-11ea-8afe-75d6fe0d8989.png)

[2020-02-14 19:00] thisguy-1 commented on #1823
Was this fixed?

[2020-02-14 19:04] thisguy-1 commented on #164
@mii-w and @kimholmes can we close this yet? Is there another issue for this?

[2020-02-14 19:06] thisguy-1 commented on #163
Should we still be considering this? This would apply to add existing project, correct?

[2020-02-14 19:07] #162 closed

[2020-02-14 19:09] tetchel commented on #163
I do think this is still worth doing, we should discuss at our next meeting

[2020-02-14 19:10] tetchel commented on #1823
No, see the link above, still `Default templates`

[2020-02-14 19:10] tetchel commented on #1823
@tobespc

[2020-02-14 19:13] thisguy-1 commented on #159
@elsony let's discuss this at our next meeting.

[2020-02-14 19:15] thisguy-1 commented on #157
the pipeline icon is done. What's being discussed is what to call it, now that the name tekton won't be included, right? @deboer-tim

[2020-02-14 19:16] #155 closed

[2020-02-14 19:29] sujeilyfonseca commented on #2221
I can see the "Update" menu option on my machine (MacOS):

<img width="740" alt="Screen Shot 2020-02-14 at 2 27 11 PM" src="https://user-images.githubusercontent.com/49531960/74561333-63d5b680-4f36-11ea-9c19-7bcdc6895538.png">

[2020-02-14 19:30] mmulholl commented on #2135
Ran the test which used to regularly see the issue five times and did not see the issue at all. I did see a project go into [Running] [Build Queued: n/x] but it did not remain in that state.

Fix verified so closing issue.

[2020-02-14 19:30] #2135 closed

[2020-02-14 19:30] thisguy-1 commented on #2171
@tetchel can you assign me and Rachel?

[2020-02-14 19:31] thisguy-1 commented on #2171
also, is there a research label?

[2020-02-14 19:32] bsteinfeld commented on #2224
I was able to get things working via the following:

[code]

Now updating the seckeyring working, e.g.:

[code]

[2020-02-14 19:37] tetchel commented on #157
yea #1542

[2020-02-14 19:37] tetchel commented on #157
i think we can close this particular issue, the open tekton dashboard action has been available for months now

[2020-02-14 19:44] jagraj commented on #2008
**Local**

WebSphere Liberty
I just tried after getting latest plugins and images. I do see load test results for WebSphere liberty before and after "Enable Inject Metrics".

Open Liberty
I need to inject metrics and run load test then I get load test results in the performance monitor window.  By default it is hitting "/health" endpoint on local and getting test results as expected.

**Codewind o

[2020-02-14 19:49] #157 closed

[2020-02-14 20:07] sujeilyfonseca commented on #2008
I can confirm Jag's comment. From my previous comment, you can see that the Websphere Liberty MicroProfile works as expected. However, for Open Liberty:

**Local (VS Code):**
I was able to get the results after injecting the application metrics. By default, the project is reaching the "/health" endpoint:

<img width="1450" alt="Screen Shot 2020-02-14 at 2 58 49 PM" src="https://user-images.githubu

[2020-02-14 20:09] jagraj commented on #2008
As we have workaround now and this is no longer stopship for this release. We need to investigate why by default we are not hitting /health in Codewind che and deliver fix in next release so that user does not have to change the endpoint for load test to work.

[2020-02-14 20:09] jagraj commented on #2008
/priority hot

[2020-02-14 20:10] jagraj commented on #2213
Looks good. Thanks for the fix. Verified with latest plugins.

[2020-02-14 20:10] #2213 closed

[2020-02-14 20:14] jagraj opened #2225 "SVT:IntelliJ:Multiple projects "Remove" does not remove all projects from the Codewind explorer"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
From IntelliJ Codewind  plugin, When I try to remove all the projects from the explorer window and it removes only one project and not all the projects selected from the explorer menu.

![Screen Shot 2020-02-14 at 1 57 14 PM](https://user-images.githubusercontent.co

[2020-02-14 20:14] jagraj commented on #2225
/priority hot
/area intellij-ide

[2020-02-14 20:17] sujeilyfonseca opened #2226 "SVT: Codewind user would like to have the option to rename a project"
**Codewind version:** N/A
**OS:** N/A

**Description of the enhancement:** A Codewind user would like to have the option to rename a project. He/she would not like to delete the project and create another or try to reimport a project to see a change in name.

[2020-02-14 20:33] malincoln commented on #2008
will work to deliver fix in 0.10.0

[2020-02-14 20:45] sishida commented on #2197
I have merged https://github.com/eclipse/codewind-docs/pull/375. The SVT team will inform us if the issue also occurs with Linux. If so, I will update the doc again so that it mentions both Windows and Linux.

[2020-02-14 20:55] jopit commented on #2197
I just tried it on a Linux machine, and the problem does occur there too.

[2020-02-14 21:12] jopit commented on #2223
The first error message indicates an internal error occurred (in PFE?).  The second error message doesn't look like it's intended for consumption by a user.  At a minimum we should put up a more meaningful set of messages.

[2020-02-14 21:30] sishida commented on #1251
Discussed this issue with @beccabau and @tetchel. We can document this issue in https://www.eclipse.org/codewind/troubleshooting.html.

[2020-02-14 21:32] sishida opened #2227 "Docs for "Add mechanism in IDEs to set log level for PFE""
Document https://github.com/eclipse/codewind/issues/1251.

We can document this issue in https://www.eclipse.org/codewind/troubleshooting.html.

[2020-02-14 21:40] ssh24 opened #2228 "Post cleanup argument doesn't work when pre clean up argument is set to "n" on functional test"
**Description:**
If I want only post clean up of my tests but already have a codewind up and want to run without any pre clean up, the post clean up won't work. This is because we only do post clean up when there is a pre clean up according to the code:

https://github.com/eclipse/codewind/blob/16e5fd9e21d711a72422e7c435144f95997f16c4/src/pfe/file-watcher/server/test/scripts/runner.sh#L98-L129

ht

[2020-02-14 21:48] sishida commented on #2197
@jopit Thanks for letting me know! I have added Linux in this PR: https://github.com/eclipse/codewind-docs/pull/377 Please review/approve/merge when ready. Thank you!

[2020-02-14 22:15] kimholmes commented on #2041
For this comment above:
3. Is it possible to add a section, similar to the 'Guides' and 'Videos' and 'Blogs' section, that is titled 'Getting Started'? Then in there we can signpost to the Getting Started tutorial in the docs, and also perhaps e.g. a blog that summarises it, and a video...so the user is immediately exposed to a Getting Started option....?

I've included those to links as "learn mo

[2020-02-16 21:25] malincoln commented on #2189
are we looking to merge this into 0.10.0?

[2020-02-16 21:25] malincoln commented on #938
@sghung is this read to be moved to Verify?

[2020-02-16 23:17] beccabau commented on #2221
Workaround was to uninstall, then I double-clicked to install, and seems like it uploaded a recent enough version.

[2020-02-17 09:05] micgibso commented on #2137
Worked with Howard to complete on PR https://github.com/eclipse/codewind-docs/pull/373.

[2020-02-17 09:05] #2137 closed

[2020-02-17 09:22] hhellyer commented on #2189
@malincoln - I don't think replacing `request` has to be in the next release but we should do it `soonish`. (i.e. before  a bug or security vulnerability forces us to do it in a hurry.) There's several possible modules we could swap to and we don't necessarily have to use the same module in the editor plugin as we do in PFE. (Though it might be nice.)

@tetchel - We've already used `axios` so it s

[2020-02-17 09:26] jcockbain commented on #1978
PRs have been merged

[2020-02-17 09:26] #1978 closed

[2020-02-17 09:27] jcockbain commented on #1896
All PRs merged

[2020-02-17 09:27] #1896 closed

[2020-02-17 09:34] mattcolegate opened #2229 "Codewind Java Profiler does not work on Windows"
**Codewind version:** latest 11/02/2020
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** VSCode latest 11/02/2020
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
After running performance load againast a Liberty project using VSCode on Windows 10, upon returning to the Explorer view and opening .java source files, no code highlighting has taken place.

**St

[2020-02-17 09:34] mattcolegate commented on #2229
/assign
/pipeline in progress

[2020-02-17 10:05] rwalle61 commented on #2223
Both are internal errors occuring in PFE.

The first is unexpected, so PFE hasn't caught it. It's probably caused by us thinking Lagom projects are Open Liberty projects

The second is the result of PFE catching an error and throwing that one. This behaviour will go away in 0.10.0 because of https://github.com/eclipse/codewind/pull/2132.

[2020-02-17 10:26] tobespc commented on #2129
closing as this is now working

[2020-02-17 10:26] #2129 closed

[2020-02-17 11:21] micgibso opened #2230 "Create an open doc build from codewind-docs master"
Create a public doc build that builds and displays the latest content from the https://github.com/eclipse/codewind-docs master branch.

Optional:  Doc releases are branched every eGA so we have docs for 0.8.0, 0.7.0 etc. Enable users to select older releases and display these in a similar way.

Investigate GitHub pages or other mechanism as appropriate.

[2020-02-17 11:54] rwalle61 opened #2231 "Display PFE test coverage score on our README.md"
**Description of the enhancement:**

We have a decent test coverage score, so we should display it so we can keep an eye on it

**Proposed solution:**

Display the score as a CodeCov badge on our README.md, like other open source repos e.g. https://github.com/mochajs/mocha

**Further extensions:**
- Display this score on every PR build
- Display a chart of the overall score over time

/kind Test
/

[2020-02-17 12:04] #2104 closed

[2020-02-17 12:39] rwalle61 opened #2232 "Increase PFE unit test coverage [Iteration 1]"
PFE's current unit test coverage is 32%. PFE's current unit test + API test coverage combined is 68%. That is ok but we should still improve our unit test coverage.

This is because:
- unit tests are more reliable than API tests, which currently fail intermittently in Jenkins
- unit tests run more quickly than API tests, so we will run them more often during development
- when unit tests fail, the

[2020-02-17 12:42] rwalle61 commented on #2232
Although `portal/modules/utils` is not well covered, it is not a priority because the key functionality is either already covered or difficult to unit test (e.g. `dockerFunctions.js`):
![image](https://user-images.githubusercontent.com/18170169/74654783-fec2d080-5182-11ea-88be-1dc2e6d93a29.png)

[2020-02-17 14:05] cccanderson commented on #2221
John Pitman and I worked together to get this fixed for 0.9.0 on Friday.  I still need to get this fixed in master.

[2020-02-17 14:12] malincoln commented on #2189
I agree we should actively investigate and determine which module would work best and see how we progress.

[2020-02-17 14:15] malincoln commented on #1804
@tobespc since we have 1960 opened for the follow-on work, can this one be closed?

[2020-02-17 14:16] malincoln commented on #2221
@jagraj can you verify the fix that went into 0.9.0 and confirm it's resolved.

[2020-02-17 14:34] #2197 closed

[2020-02-17 15:29] markcor11 opened #2233 "Make public docs release specific"
**Codewind version:** 0.9.0

**Description of the enhancement:**

It would be good if we could publish Codewind version specific documentation

**Proposed solution:**

Give the user an option to switch between documentation versions by a drop down list at the top of the page.

For example by default or navigating to the page :

https://www.eclipse.org/codewind/gettingstarted.html you would see inf

[2020-02-17 15:29] markcor11 commented on #2233
/area Docs

[2020-02-17 15:38] liamchampton opened #2234 "Investigate dep -> go modules migration in the CLI"
**Description of the enhancement:**
Investigate migration from `dep` to `Go Modules` in the CLI. Moving forward, it is looking more likely that `dep` will become deprecated and go mods will take its place as a package manager build into the go toolchain.

See the go blog surrounding the official support of this in the latest releases: https://blog.golang.org/modules2019

[2020-02-17 15:52] liamchampton opened #2235 "Investigate upgrade from CLI framework v1 -> CLI framework v2"
**Description of the enhancement:**
We currently use v1 of `urfav/cli`. Since creating the CLI, `v2` has been released. We should investigate the changes/upgrades/deprecations and see if we can make better use of this and its new features.

Repository: https://github.com/urfave/cli
Changelog: https://github.com/urfave/cli/blob/master/docs/CHANGELOG.md

[2020-02-17 15:57] MelHopper commented on #2151
After Demo / UX testing meeting with @micgibso @stalleyj @tobespc @cornaia, I will action the following:

1. Split remote tutorial into Jane vs Champ content and change titles to verbs that better reflect different user personas.
2. nail down terminology to use - install, configure, deploy
3. consider whether can get rid of mention of keycloak in some or all of topics
4. Other terminology and UX i

[2020-02-17 16:00] MelHopper commented on #2151
Note: this github issue may tick off some items from 'Create suitable topics to be linked from Docs Landing Page' https://github.com/eclipse/codewind/issues/2150

[2020-02-17 16:00] MelHopper commented on #2150
Note that issue 'https://github.com/eclipse/codewind/issues/2151' will tick off some of the above topics that need creating.

[2020-02-17 16:03] MelHopper commented on #1980
ToC will be modified from above by separating out header topics based on Jane vs Champ use cases. See https://github.com/eclipse/codewind/issues/2151 for work to modify the remote case.

[2020-02-17 16:06] james-wallis commented on #2004
Working on the branch given above I've moved to scanning the `/proc` directory rather than running `ps` commands as alpine linux only container a stripped back `ps` command.

I *think* that it is completely working. I'm only seeing the following error: `executeBuildScript : 385 | + set +x
+ nodemon --exec npm run start`

Have only tested this on local Docker, not sure if the K8s run method runs th

[2020-02-17 16:10] tobespc opened #2236 "Windows Java Profiler is not working if project not in docker share directory"
The java profiler attempts to mount a volume back on to the project workspace so that it can see the .hcd file.   If this workspace is not part of docker share, then this will fail.  Need to come up with a solution whereby the hcd can be analysed if not in the share directory

[2020-02-17 16:16] #1965 closed

[2020-02-17 16:23] hhellyer commented on #2236
First though is just to switch it so instead of mounting the project workspace it mounts the docker volume we create for pfe `codewind_cw-workspace` as that will contain the .hcd.

[2020-02-17 16:42] sujeilyfonseca commented on #2220
I no longer see the error message in 0.9.0. I'll close this issue once #2123 is merged to master.

[2020-02-17 16:56] josephca opened #2237 "openapi-vscode version needs to be updated to 0.9.0"
**Codewind version:** 0.9.0
**OS:**

**Description:**
After publishing 0.9.0 to the marketplace, I found the version still shows 0.8.0.
The version in the following files should be updated from 0.8.0 to 0.9.0

dev/package-lock.json:	"version": "0.8.0",
dev/package.json:	"version": "0.8.0",

**Steps to reproduce:**

**Workaround:**

[2020-02-17 17:23] josephca commented on #2237
@keithchong I fixed the versions in the files. Please review if the fixes are valid.

[2020-02-17 18:29] kimholmes commented on #2170
IntelliJ community:
https://intellij-support.jetbrains.com/hc/en-us/community/posts

Social Media:
https://www.facebook.com/IntelliJIDEA
https://twitter.com/IntelliJIDEA
https://www.youtube.com/channel/UC4ogdcPcIAOOMJktgBMhQnQ

[2020-02-17 18:31] thisguy-1 commented on #2170
Is there a link to how to download Codewind plugin for intelliJ?

[2020-02-17 18:54] kimholmes commented on #164
@tobespc and @markcor11 are still working with us on this. Toby, Mark, are you still using this issue? I am tracking design work in our design repo but can add it over here as well. Please let me know if this is the appropriate issue.

[2020-02-17 20:01] sishida commented on #2233
Hi, team, If you would like to see what the docs repo looked like at a previous release, we have older release branches of `codewind-docs`: https://github.com/eclipse/codewind-docs/branches

I understand this solution isn't the easiest to navigate, but I just wanted to point out that we have it if anyone's interested. Thank you! :)

[2020-02-17 20:14] sujeilyfonseca opened #2238 "SVT: [Che][Docs] Incorrect title in doc section"
**Codewind version:** 0.9.0
**OS:* N/A

**Description:** Incorrect title in doc section (http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/mdt-che-installinfo.html)

The following section is called "Installing Codewind for Eclipse Che", but the section contains instructions for installing Eclipse Che only.

<img width="1307" alt="Screen Shot 2020-02-17 at 2 40 18 PM" src="https://user-images.

[2020-02-17 20:23] sujeilyfonseca opened #2239 "SVT: [IntelliJ] "Connection failed" error if the custom repository url contains an additional space"
**Codewind version:** 0.9.0
**OS:** MacOS Mojave 10.14.6, VM with Windows 10

**IDE extension version:** 0.9.0
**IDE version:**
<img width="344" alt="Screen Shot 2020-02-13 at 12 46 11 PM" src="https://user-images.githubusercontent.com/49531960/74462839-dd9a7100-4e5e-11ea-930b-4a87c2dd90f1.png">

<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https://user-images.githubuserconten

[2020-02-17 20:31] sujeilyfonseca commented on #2239
/priority hot

[2020-02-17 21:20] sujeilyfonseca opened #2240 "SVT: [IntelliJ] If Codewind is uninstalled for the first time, users will continue to see the "Uninstall" option if they right-click on the local tree"
**Codewind version:** 0.9.0
**OS:** VM with Windows 10

**IDE extension version:** 0.9.0
**IDE version:**
<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https://user-images.githubusercontent.com/49531960/74462840-decb9e00-4e5e-11ea-94e6-d09bc4f0d973.png">

**Description:** If Codewind is uninstalled for the first time, users will continue to see the "Uninstall" option if they ri

[2020-02-17 21:37] kimholmes commented on #2041
Vertical layout with right sidebar:
![Docs_Landing2](https://user-images.githubusercontent.com/21316329/74687887-b49e1700-51a3-11ea-959c-00510e9db736.png)

Horizontal layout. No right sidebar:
![Docs_Landing3](https://user-images.githubusercontent.com/21316329/74687904-c4b5f680-51a3-11ea-8374-e35e75129b6f.png)

[2020-02-17 21:49] sishida commented on #2196
@sujeilyfonseca Here is the PR to include the steps about clicking **Plugins**: https://github.com/eclipse/codewind-docs/pull/379

@jopit, @micgibso If the changes look good to go, please add your committer approval. Thank you!

[2020-02-17 21:59] sujeilyfonseca commented on #2196
Thanks, @sishida!  The PR looks good. Once it is merged, this issue can be closed.

[2020-02-17 22:49] sishida commented on #2238
@sujeilyfonseca Here's the PR for the text changes: https://github.com/eclipse/codewind-docs/pull/380

@johnmcollier, @micgibso If the changes look good to go, please add your committer approval. Thank you!

[2020-02-17 22:54] sishida commented on #2238
Oh, and here's the same title change made to the table of contents along with some other Che table of contents updates: https://github.com/eclipse/codewind-docs/pull/358

@micgibso Is this table of contents PR good to go? I see you already have a table of contents PR open for something else and wasn't sure about merge conflicts there. Thanks!

[2020-02-17 23:20] sujeilyfonseca commented on #2238
Thanks, @sishida! The title and table of contents look good. Once the PR are merged, this issue can be closed.

[2020-02-18 10:20] #2196 closed

[2020-02-18 10:37] MelHopper opened #2241 "Create tutorial topics for Champ/Todd"
At present, the documentation at codewind.dev are being worked into tutorials for the cases of:

1. using Codewind locally
2. using Codewind remotely
3. using Codewind as a hosted application on a cloud environment

These tutorials are for Jane, i.e a developer.

We need documentation for the other Codewind user persona,  'getting started as Champ/Todd'. In particular, from the new docs Landing pa

[2020-02-18 10:38] ebuckle commented on #2220
#2123 Has now been merged in to master

[2020-02-18 10:39] MelHopper commented on #2241
Note: Deploying Codewind Remotely' is being worked on in parallel to creating the 'Using Codewind Remotely' tutorial via Github issue https://github.com/eclipse/codewind/issues/2151 so the associated PR may tick off the Deploying Remotely tutorial from this Champ issue.

[2020-02-18 10:40] MelHopper commented on #2150
Issue https://github.com/eclipse/codewind/issues/2241 will deal with the Champ topics.

[2020-02-18 10:53] hhellyer commented on #1928
I'm still seeing an almost identical test failure this morning:
[code]

The timeout was added to the testing of `getWorkspaceSettingsInfo` this failed on `readWorkspaceSettings` further down the file.

[2020-02-18 11:00] MelHopper commented on #2041
Look fab @kimholmes, really like them, and great to be able to compare having a product overview explicitly on the page or not.

Very much like the 'learn more' and 'see it in action' links.

Can we add the other 2 Getting Started tutorial link bullets (Jane ones) to the Champ (Devops and defining standards) bullets you've got there?

- _To jump in and get started using Codewind to develop and run

[2020-02-18 11:01] mattcolegate commented on #2192
Noted, but does the icon have to go to the red cross with no project listed? Is there any way that you could preserve the existing layout whilst the extension restarts? That way it won't look like the connection has been lost.

[2020-02-18 11:02] MelHopper commented on #2041
small change to 'Download' content:
For VS Code etc.: Download to develop on your desktop and run either on your desktop or on your cloud

For Eclipse Che: Download to develop and run entirely on your cloud

[2020-02-18 11:03] mattcolegate commented on #2236
/assign

[2020-02-18 11:05] mattcolegate commented on #2236
Fixing in the above way won't solve the problems remote connection is having, but it will improve the situation for local connections, which @tobespc says will do for now.

[2020-02-18 11:06] micgibso commented on #2239
Drafted on PR https://github.com/eclipse/codewind-docs/pull/382 as a troubleshooting issue.
@sujeilyfonseca @jgwest @jagraj Please review, thx.

[2020-02-18 11:07] mattcolegate commented on #2027
Valid issue.
/pipeline portal backlog

[2020-02-18 11:07] mattcolegate commented on #2229
Awaiting PR review/merge

[2020-02-18 11:11] hhellyer commented on #1928
@ssh24 - Could you check https://github.com/eclipse/codewind/pull/2242 looks sane given the changes you've already made?

[2020-02-18 11:12] MelHopper opened #2243 "Add orientation and signposting to Using Codewind Locally topics (i.e. Getting Started topics)"
**Note: this work item is directly affected by work item https://github.com/eclipse/codewind/issues/1980** - _Change ToC structure to work with user flows from docs landing page_

**Enhancement:**
Add objectives, orientation and signposting to the local for the relevant IDEs:

- VS Code
- Eclipse
- IntejlliJ

so that the end-to-end user workflow for users that want to use Codewind remotely is supp

[2020-02-18 11:12] MelHopper commented on #2150
Issue https://github.com/eclipse/codewind/issues/2243 will deal with creating the 'Using Codewind locally' topic.

[2020-02-18 11:15] liamchampton opened #2244 "Create a Jenkins build for the node language server"
**Description of the enhancement:**
We don't currently have an automated build in Jenkins for the node language server. This can easily be done with a Jenkinsfile. Jenkins will automatically pick it up and build it. This _should_ be a fairly similar build process to the Codewind vscode plugin.

[2020-02-18 11:17] liamchampton opened #2245 "Create a Jenkins build for the Java language profiler"
**Description of the enhancement:**
We don't currently have an automated build in Jenkins for the java language profiler. This can easily be done with a Jenkinsfile. Jenkins will automatically pick it up and build it. This _should_ be a fairly similar build process to the Codewind vscode plugin.

[2020-02-18 11:19] stalleyj opened #2246 "Add a PR template to all Codewind repositories"
**Description of the enhancement:**

Add a PR template repository to this repository to improve the quality of PRs raised.

**Proposed solution:**

Add a template file

[2020-02-18 11:22] mattcolegate commented on #2056
Valid issue.
/pipeline portal backlog

[2020-02-18 11:22] mattcolegate commented on #2229
/pipeline Review/QA

[2020-02-18 11:30] micgibso commented on #2041
@kimholmes
I like the layout of the first one, Quick links, social, blogs, and video links all nice and obvious. Out of the two, the first just feels more balanced.

If screen space/collateral etc is of the highest importance, we could have a `See more getting started information` link and then an expand/collapse section if you wanted the overview to have everything in it instead of being the shor

[2020-02-18 11:47] liamchampton commented on #2244
/assign

[2020-02-18 13:19] mattcolegate opened #2248 "Java Profiler breaks if another project added to workspace after source view"
**Codewind version:** latest 18/02/2020
**OS:** Windows 10 (but also occurs on Macs)

**Che version:** N/A
**IDE extension version:** VSCode latest 18/02/2020
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
The Codewind Java Profiler loads it's workspaces in when it is initialised, in the form of paths related to the source and the mountpoint e.g. `/c/Users/MattColegate/cw_pr

[2020-02-18 13:24] james-wallis commented on #2223
/assign
I'll investigate this and plan to implement a feature to tell if a Docker container is an Open Liberty one.

[2020-02-18 13:29] mattcolegate commented on #2236
Awaiting PR review/merge
/pipeline Review/QA

[2020-02-18 13:39] james-wallis commented on #2233
@sishida I assume the above is a workaround for this issue?

If a user is using a previous version of Codewind I think it is a valid use case for them to want to view the respective documentation, given how much we aim to change for each release and as we're currently in the middle of a complete documentation refactor.

As we're branching on each release can the current build system be changed to

[2020-02-18 13:40] malincoln commented on #1525
It looks like this was completed for this release so changing release to 0.9.0

[2020-02-18 13:41] malincoln commented on #1525
@jopit pls verify and close. Thanks

[2020-02-18 13:45] jopit commented on #1525
This isn't in the 0.9.0 release.

[2020-02-18 13:53] mattcolegate commented on #2056
/pipeline in progress

[2020-02-18 13:57] sishida commented on #2238
PR is merged. Closing this issue.

[2020-02-18 13:57] #2238 closed

[2020-02-18 14:14] tetchel commented on #2192
No it was has to start from scratch which means it takes a moment to run `cwctl status` and get the Codewind URL to make sure it's started.

[2020-02-18 14:14] ssh24 commented on #1222
Here is the data from last night's kube performance run from master. Odo projects failed on create so it has no metrics:
<img width="1213" alt="Screen Shot 2020-02-18 at 9 13 35 AM" src="https://user-images.githubusercontent.com/15173354/74743817-135ca280-522f-11ea-8777-4c8b556b9dfb.png">

[2020-02-18 14:36] tetchel commented on #2189
The axios API looks fine too, both are upgrades from `request` :)

[2020-02-18 14:42] sujeilyfonseca commented on #2239
The PR was reviewed by @jagraj and me.

[2020-02-18 15:01] josephca commented on #2237
Merged. Closing it now.

[2020-02-18 15:01] #2237 closed

[2020-02-18 15:03] #2239 closed

[2020-02-18 15:35] tetchel commented on #1877
It occurred to me that `.vscode/launch.json` would have been modified during the debug-restart which may have been what triggered the app restart, so this may have been fixed by https://github.com/eclipse/codewind/issues/2072

I will see if it works now

[2020-02-18 15:41] jgwest commented on #1952
/svt

[2020-02-18 15:41] kimholmes commented on #2041
Thanks @MelHopper and @micgibso
In response to this comment from Mel:
_"Can we add the other 2 Getting Started tutorial link bullets (Jane ones) to the Champ (Devops and defining standards) bullets you've got there?

To jump in and get started using Codewind to develop and run your application on your desktop, see [Using Codewind Locally ](ADD  TOPIC)

Or to use Codewind in your cloud environment,

[2020-02-18 16:01] sishida commented on #2233
I mentioned the release branches to a teammate who wasn't aware of them and just wanted to mention them in a comment here in case. :)

For publishing different versions of the doc, I think someone else brought up the idea to use these older release branches as the basis for creating these versioned published docs? I am not sure what it'd take to get this to work, but I will tag @travis1111 and @sg

[2020-02-18 16:13] james-wallis commented on #2230
Related to https://github.com/eclipse/codewind/issues/2233

[2020-02-18 16:26] sishida opened #2250 "Broken links for 0.9.0"
### After running ./build.sh, broken links appear.

[2020-02-18 16:52] sishida commented on #2250
This broken link can be safely ignored:
[code]

Please see https://github.com/eclipse/codewind/issues/1261 for more info.

[2020-02-18 17:21] mattcolegate commented on #2056
This isn't a case of a graph not scaling - the data being displayed has entries > 100, which for a stat representing percentages isn't great! Continuing investigation.

[2020-02-18 17:23] mattcolegate commented on #2056
Highest data point seen: 1689.6551724137933

[2020-02-18 17:27] sishida commented on #2250
URL        `mdt-vsc-workingwithtemplates.html'
Name       `project templates'
Parent URL http://localhost:8765/codewind/overview.html, line 787, col 285
Base       http://localhost:8765/codewind/
Real URL   http://localhost:8765/codewind/mdt-vsc-workingwithtemplates.html
Check time 3.777 seconds
Size       196B
Result     Error: 404 Not Found
10 threads active,    58 links queued,  182 links in 25

[2020-02-18 17:34] johnmcollier commented on #2191
@tobespc @james-wallis FWIW, Odo has done work in this area too, with the `odo link` command:
[code]

Their approach was pretty simplistic IIRC, they just add env vars to the containers that contain the Kubernetes service name for the service they want to link to.

[2020-02-18 17:39] sishida commented on #2250
Links addressed in

URL        `remoteoverview.html'
Name       `Buiding and deploying in a cloud environment'
Parent URL http://localhost:8765/codewind/vsc-codechange.html, line 808, col 15
Base       http://localhost:8765/codewind/
Real URL   http://localhost:8765/codewind/remoteoverview.html
Check time 3.520 seconds
Size       196B
Result     Error: 404 Not Found
10 threads active,    43 links

[2020-02-18 17:41] j-c-berger commented on #2250
@sishida, please assign me

[2020-02-18 17:50] sishida commented on #2250
Links addressed in

URL        `mdt-vsc-getting-started.md'
Name       `VSCode getting started'
Parent URL http://localhost:8765/codewind/gettingstarted.html, line 800, col 9
Base       http://localhost:8765/codewind/
Real URL   http://localhost:8765/codewind/mdt-vsc-getting-started.md
Check time 3.955 seconds
Size       196B
Result     Error: 404 Not Found

URL        `mdt-eclipse-getting-started

[2020-02-18 17:52] johnmcollier opened #2251 "Codewind unable to deploy projects on IKS with Kube 1.15"
**Codewind version:** latest

**IDE extension version:** latest
**Kubernetes cluster:** IKS with Kube 1.15

**Description:**
I deployed hybrid Codewind onto IKS running Kube 1.15 and found that Codewind was unable to deploy Codewind-style projects it had built. The projects would fail to deploy with the following error:
[code]

This has been reported against buildah on clusters running containerd

[2020-02-18 18:01] sishida commented on #2250
Links addressed in

URL        `mdt-che-dockerregistries.html'
Name       `Set Docker Registries'
Parent URL http://localhost:8765/codewind/mdt-che-tektonpipelines.html, line 787, col 15
Base       http://localhost:8765/codewind/
Real URL   http://localhost:8765/codewind/mdt-che-dockerregistries.html
Check time 3.000 seconds
Size       196B
Result     Error: 404 Not Found
10 threads active,    29

[2020-02-18 18:20] rachelwchen commented on #2171
Research plan: https://ibm.ent.box.com/notes/618205846986

[2020-02-18 18:27] jagraj opened #2252 "SVT:Performance load tests failing with error message for WebSphere liberty projects."
**Codewind version:** 0.9.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.9.0
**IDE version:**
**Kubernetes cluster:** OCP 4.3

**Description:**
I am getting `Type Error: Faield to fetch` on the browser window when I try to run load test for WebSphere project once it is start running. If I click ok for the error and close the window and try to open new performance window then

[2020-02-18 18:31] jagraj commented on #2252
/priority stopship

[2020-02-18 18:43] #1812 closed

[2020-02-18 18:52] malincoln commented on #1804
@mmulholl pls verify and close. Thanks

[2020-02-18 18:53] sujeilyfonseca opened #2253 "SVT: [Remote] Performance test is failing with an error saying that another load run is in progress"
**Codewind version:** 0.9.0
**OS:** MacOS Mojave 10.14.6, VM with Windows 10, and Linux (w. OpenShift 3.11 and 4.2 clusters)

**IDE extension version:** 0.9.0
**IDE version:** VS Code 1.42.0

**Description:** @DavidG1011 and I noticed that performance tests are failing on remote for Websphere Liberty MicroProfile. If you try to run a new test, an error will appear, indicating that a "load run is a

[2020-02-18 18:54] sujeilyfonseca commented on #2253
/priority stopship

[2020-02-18 19:09] johnmcollier commented on #2253
Sounds like the same issue as https://github.com/eclipse/codewind/issues/2252?

[2020-02-18 19:17] jagraj commented on #2253
It could be, but clients are different that is why we are seeing different behavior.

[2020-02-18 19:20] sghung commented on #2142
Sorry missed this notification, yes, this is our area. I have added our label

[2020-02-18 19:24] sghung commented on #1269
Verified the doc is okay (pull #360). Closing as requested by Sakib

[2020-02-18 19:24] #1269 closed

[2020-02-18 19:25] ssh24 opened #2254 "Have a script that can compare two or more csv file for performance data"
**Description of the enhancement:**
As part of https://github.com/eclipse/codewind/issues/2091 we are setting up the cronjob. We want to have a scrip that can easily compare two or more csv for the performance data as a baseline approach to see if the performance deteriorated or improved.

/area iterative-dev
/kind test

[2020-02-18 19:26] ssh24 commented on #2091
Created https://github.com/eclipse/codewind/issues/2254 for the above comment

[2020-02-18 19:57] johnmcollier commented on #2234
Note that the openshift API is not currently directly compatible with Go modules and is why we moved away from Go modules back to Go Dep for the Che plugin (see https://github.com/openshift/api/issues/456#issuecomment-568010334)

The workarounds suggested in https://github.com/openshift/api/issues/456#issuecomment-576832233 or https://github.com/openshift/api/issues/456#issuecomment-576842590 migh

[2020-02-18 23:14] tetchel opened #2255 "Block project creation buttons in home page until a connection is ready"
The right buttons should be blocked until the step(s) on the left are completed.

![image](https://user-images.githubusercontent.com/8888438/74786332-77f11f00-527a-11ea-91a6-42f3816c90e1.png)

![image](https://user-images.githubusercontent.com/8888438/74786363-850e0e00-527a-11ea-8b01-9b4da8246132.png)

[2020-02-19 00:01] tetchel commented on #1565
I went to do this but I see https://github.com/eclipse/codewind/issues/2193 too

[2020-02-19 00:14] mtamboli commented on #938
I could verify the workaround with private registry.

1. Make sure to do `docker login <registry URL> -u <user>`
2. Stack was created so that the .appsody-config.yaml generated file has .stack: <registry>/kabanero/svt-springboot:0.3
With this, project initialization works fine in codewind and it is able to pull the image but you still see an error as the pod is not able to login:
[code]
So the wor

[2020-02-19 09:08] markcor11 commented on #2253
/assign

[2020-02-19 09:10] stalleyj commented on #2224
@bsteinfeld Can this issue be closed now or do you have outstanding problems ?

[2020-02-19 09:18] stalleyj commented on #2184
This is a duplicate of https://github.com/eclipse/codewind/issues/2252

[2020-02-19 09:18] #2184 closed

[2020-02-19 09:31] stalleyj commented on #2077
Agreed, the performance does not make for a great user experience and needs investigating but we can definitely not start responding to "some" requests.

[2020-02-19 09:46] james-wallis commented on #2190
/assign

[2020-02-19 09:51] #1723 closed

[2020-02-19 09:58] #1316 closed

[2020-02-19 10:09] stalleyj commented on #1032
This work is complete.

[2020-02-19 10:09] #1032 closed

[2020-02-19 10:10] #1542 closed

[2020-02-19 10:14] stalleyj commented on #256
This is complete.

[2020-02-19 10:14] #256 closed

[2020-02-19 10:14] stalleyj commented on #237
This is complete.

[2020-02-19 10:14] #237 closed

[2020-02-19 10:32] stalleyj commented on #1964
This work is complete.

[2020-02-19 10:32] #1964 closed

[2020-02-19 10:33] micgibso commented on #2163
I'll do this immediately the 0.9.0 release is out of the door.  Cross reference with https://github.com/eclipse/codewind-docs/wiki/List-of-links-and-files-with-similar-content to ensure nothing is deleted that is called by the UI and isn't in the new TOC.

[2020-02-19 10:37] micgibso commented on #2227
Consider instead adding to new/enhanced log file section, see https://github.com/eclipse/codewind/issues/2141.

[2020-02-19 10:39] micgibso commented on #2230
@sghung Still need an open doc build, see above. Are GitHub pages a viable option?

[2020-02-19 10:40] liamchampton commented on #2079
@johnmcollier now the change above has gone into master i think this can be verified/closed

[2020-02-19 10:48] stalleyj commented on #2067
@maysunfaisal Couldn't agree more that we have a big issue with intermittent tests.  We are working to regain confidence in the pfe unit/api tests. We have several issues raised that are currently being worked on to look at specific tests to get to the bottom of these issues. If you see other failed master builds, please raise an issue with detail of the test that failed and the corresponding logs

[2020-02-19 10:48] #2067 closed

[2020-02-19 10:49] stalleyj commented on #1795
This is complete.

[2020-02-19 10:49] #1795 closed

[2020-02-19 10:56] jcockbain commented on #2162
/assign

[2020-02-19 10:57] stalleyj commented on #2059
Tested and working.

[2020-02-19 10:57] #2059 closed

[2020-02-19 11:19] micgibso commented on #2074
- https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html no longer exists in new structure.
  Restore/create new Project actions file and place in TOC before the Project settings file. Make generic.
- https://www.eclipse.org/codewind/mdteclipsedebugproject.html no longer exists in new structure
  Consider content.
- https://www.eclipse.org/codewind/mdteclipsetroubleshooting.html no longe

[2020-02-19 11:25] micgibso commented on #2010
More broken links work under https://github.com/eclipse/codewind/issues/2250, closing this.

[2020-02-19 11:25] #2010 closed

[2020-02-19 11:46] stalleyj commented on #2246
@elsony @jopit @sghung Please can you get this PR template into all of the codewind repositories that you own to give us consistency, thanks.

[2020-02-19 12:45] AndyRWatson opened #2260 "Documentation step not quite correct for IntelliJ download"
**Codewind version:**
**OS:** 0.9

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

In the IntelliJ doc update,  the documentation implies to follow the link to eclipse download page and select the zip file to download, however the link is already direct to the zip file not the page so automatically downloads the plugin from the link rather th

[2020-02-19 13:14] micgibso commented on #2260
@sishida For your awareness

[2020-02-19 13:28] rwalle61 commented on #2232
while doing this, I found and fixed this unexpected behaviour https://github.com/eclipse/codewind/pull/2258

[2020-02-19 14:01] liamchampton opened #2262 "Tidy the code that obtains the user home directory in the CLI"
**Description of the enhancement:**
Tidy the code around finding the user home directory within the CLI. We were previously stuck on `Go v1.11` in Jenkins due to a cache directory issue. This has since been fixed and upgraded to `Go v1.12`. In `v1.12` a nice library was introduced that can be used to get the home directory without us querying the `runtime.GOOS`.

**Proposed solution:**
Use the lib

[2020-02-19 14:12] sghung commented on #2230
@micgibso we'd need to look into this some more. However, for sure Github pages won't be able to support your requirements.

It can do jekyll stuff, but not run your own custom scripts, that means our "last update" script won't work as that is a shell script.

In addition, github pages just serves one page, not one for each version. Is having one for each version something that is needed? I think

[2020-02-19 14:19] josephca opened #2263 "[IntelliJ] IntelliJ on JetBrains Marketplace"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

[2020-02-19 14:20] bsteinfeld commented on #2224
This issue _can_ be closed. I do have the following notes:

1. The documentation (specifically the [remote connection](https://www.eclipse.org/codewind/remoteconfiguring.html) sections) is incomplete for my use case. Would be good to include:
    - Where/how `cwctl` stores passwords
    - Steps/guide to get `cwctl` setup to _work_ remotely (e.g. steps above for linux)
    - Troubleshooting errors

[2020-02-19 14:28] #2229 closed

[2020-02-19 14:29] jopit commented on #2263
Documentation on the JetBrains Marketplace: https://plugins.jetbrains.com/docs/marketplace/

[2020-02-19 15:53] josephca commented on #2263
It seems there is no existing IBM org yet in JenBrains Marketplace.
Here are the required inputs in order to create one.

![image](https://user-images.githubusercontent.com/25185698/74848779-02329500-5306-11ea-9ffe-e7d23c4952af.png)

[2020-02-19 15:54] josephca commented on #2263
In order to publish a new plugin, we need to fill out this form.

![image](https://user-images.githubusercontent.com/25185698/74849034-42921300-5306-11ea-9626-07eaa972e87a.png)

[2020-02-19 15:56] johnmcollier commented on #2079
@liamchampton Fix look good to me, thanks!

[2020-02-19 15:56] #2079 closed

[2020-02-19 15:58] sghung opened #2264 "Add section for using Appsody stacks images to intellij_tech_preview"
By EOD Thursday Feb 20, we need the appsody stack info into the troubleshooting section because the kabanero-io team needs the documentation to be public.

The PR we need into that branch is: https://github.com/eclipse/codewind-docs/pull/363

[2020-02-19 16:05] tetchel commented on #2077
it would still respond, just very slowly, which was the behaviour of the templates API before #1491. but i agree it is a hack

[2020-02-19 16:07] johnmcollier commented on #2203
https://github.com/eclipse/che/issues/16052 is the issue to keep an eye on from Che's side.

Once it's consumed, we _should_ have no issues verifying Codewind on newer Che versions with self-signed certs

[2020-02-19 16:20] sishida commented on #2264
OK, I will merge the change to the `intelllij_tech_preview` branch.

[2020-02-19 16:25] sghung opened #2265 "Add Google Tag Manager Event for Tracking IntelliJ Downloads from Landing Page"
We need to add an event to track the landing page downloads of intellij. The new event needs to be added into google tag manager, tested there, then checked on google analytics 24 hours later when the data is there.

[2020-02-19 16:34] stalleyj commented on #2224
@bsteinfeld Please raise your feature requests in this repository. The documentation for remote connection is currently being reworked which should address your issues.

[2020-02-19 16:34] #2224 closed

[2020-02-19 16:36] tetchel opened #2266 "cwctl should accept 'conid' through an environment variable"
From https://github.com/eclipse/codewind/issues/2224#issuecomment-588256422

[2020-02-19 16:37] tetchel opened #2267 "Include build date and a more semantic version in cwctl (dev) version info"
From https://github.com/eclipse/codewind/issues/2224#issuecomment-588256422

Include build date and better semantic (personal preference) for `cwctl` dev version. Currently it returns `cwctl version x.x.dev` which is a bit ambiguous.

[2020-02-19 17:07] jgwest commented on #2267
Not sure if this is what Tim and/or linked comment was looking for, but it's possible to bundle the build date into the executable itself at compile time:

1) Create and commit a new file like `version_constants.go` that contains your version string:
[code]
2) Add this file to `.gitignore`

3) In your `build.sh`-style build script (something like this):
[code]

4) In the rest of your code, referen

[2020-02-19 18:11] keithchong opened #2269 "[IntelliJ] Use notifications to indicate that content of a log has changed"
All the logs for a project are listed in a combo box in the Log files tool window.  That means, if a log that isn't currently selected has new content, the user will not know.  Currently there is no visual indicator or notifier to inform the user.

In Eclipse, there is an option to "Show on Content Change".   There is no console view action similar to this in IntelliJ. (It does have scroll to bott

[2020-02-19 18:23] sishida opened #2270 "More 0.9.0 Broken Links"
Let's fix the following broken links:

[code]

The mdt-vsc-overview topic is gone. Remove the link:
[code]

Update: Jake created this PR for fixing these two links: https://github.com/eclipse/codewind-docs/pull/398

[2020-02-19 18:26] maysunfaisal opened #2271 "Turbine Functional - Add Logs for debugging"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
There are times when Turbine Functional tests are flaky or a test that fails one off.

This has been happening with enough frequency where a test has failed and classified as "one off.

For example, a create test for microprofile passed acc to Codewind logs but test

[2020-02-19 18:27] sghung commented on #2265
Added a click URL tag and event trigger that looks for the regex

https://download.eclipse.org/codewind/milestone/[0-9]+.[0-9]+.[0-9]+/codewind-intellij-[0-9]+.[0-9]+.[0-9]+.zip

Verified in the Google Tag Manager preview debugger that the event is fired correctly when link is pressed. Need to verify in Google Analytics.

[2020-02-19 18:36] sghung commented on #2265
Verified that the google analytics picked up the change by setting the filter to today's date and looking for the event label IntelliJDownloadClicked and saw it was pressed twice.

[2020-02-19 18:36] #2265 closed

[2020-02-19 18:38] ssh24 commented on #2271
We have the ability to add "test" specific logs now btw.

If you do plan on adding logs you can simply leverage the functionality https://github.com/eclipse/codewind/blob/98245ba999bfd2670a99c1b7451b144cc5f2d0fc/src/pfe/file-watcher/server/test/functional-test/suites/generic/tests/locale.ts#L43

[2020-02-19 18:41] rajivnathan commented on #2252
I wasn't able to reproduce.
Codewind version: 0.9.0
Che version: 7.6
IDE extension version: 0.9.0
IDE version:
Kubernetes cluster: OCP 3.11

[2020-02-19 18:46] johnmcollier commented on #2203
Adding tech-topic label as a potential workaround has been identified:

1) Download the cluster's router certificate from your browser
2) Add the certificate to your system
3) Set the certificate's trust to `Always trust`

Do we want to update our docs to tell the user to do that so that we can move up to supporting newer Che versions, **or** do we want until the improvements in the Che operator a

[2020-02-19 18:59] jopit commented on #2193
This issue will be stop-ship for 0.10.0 (not marking it as such yet since 0.9.0 isn't quite done)...

[2020-02-19 19:34] tam512 opened #2273 "Unable to launch app with http on CodeReadyWorkspace with tls enabled"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.3

**Description:**
- Enable codeReadyWorkspace in Kabanero 0.6.0 with tlsSupport
[code]
- Create a Java microprofile in codewind workspace and I can't launch the app using the Application Endpoint URL.  Web console shows the following error:
[code]

**Steps to reproduce:**

**

[2020-02-19 19:35] tetchel commented on #2273
since the regular open app action still works I can work around this by using the vscode.open command instead of a regular `<a>`. it is just more work

[2020-02-19 19:52] jopit opened #2274 "[IntelliJ] Disable 'Add Existing Project' action if Codewind isn't started"
Otherwise when you try to bind and existing project, the wizard doesn't work with no indication of what's wrong.

[2020-02-19 20:11] #2250 closed

[2020-02-19 20:18] sghung commented on #2142
The scripts were made in Mac and linux, so there are operating specific utilities being called that are not available on Windows. We'd need to port this code to a Window power shell script to get this functionality working.

[2020-02-19 20:42] sishida commented on #2264
@sghung Hi, Steven, Thanks for opening this issue. Here's the PR to update the Troubleshooting file: https://github.com/eclipse/codewind-docs/pull/391

[2020-02-19 20:45] sishida commented on #2270
Links to previous issues opened for 0.9.0 broken links:
1️⃣ https://github.com/eclipse/codewind/issues/2010
2️⃣ https://github.com/eclipse/codewind/issues/2250

[2020-02-19 21:36] jopit opened #2275 "[IntelliJ] Add check for Docker itself being started to New Project wizard and Codewind view"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

**Steps to reproduce:**

**Workaround:**

[2020-02-19 21:38] jopit opened #2276 "[IntelliJ] Improvements to New Project Wizard"
- Make it more obvious when Codewind has started -- pop up a dialog.
- If Codewind hasn't started, cause a popup to be displayed when **Next** is clicked

[2020-02-19 21:40] DavidG1011 opened #2277 "SVT: Che: Adding an existing template source repository produces an unhelpful error."
**Codewind version:** 0.9.0

**Che version:** 7.5.1
**IDE extension version:** 0.9.0
**Kubernetes cluster:** OKD 4.2

**Description:** Adding an existing template source repository produces an unhelpful error.

**Steps to reproduce:**
1. Open the Template Source Manager.
1. Add a template source repository.
2. Add another template source repository with the same name.

![image](https://user-images

[2020-02-19 21:41] tetchel commented on #2277
i will remove that button, oops

[2020-02-19 22:07] sishida commented on #2260
@AndyRWatson Thanks for pointing this out. I have created a PR to make the instructions more accurate: https://github.com/eclipse/codewind-docs/pull/392

@micgibso If the changes look good to go, please review/approve/merge. Thank you!

[2020-02-19 22:28] tetchel opened #2278 "Codewind should react to a project being deleted from disk"
If I delete a project's entire root directory, Codewind doesn't react to it at all until I do a manual build, even if auto-build is on.

[2020-02-19 22:28] tetchel commented on #2278
Not sure which area of the sync/auto-build cycle this is part of, so I added both.

[2020-02-19 22:44] sishida commented on #2270
PR https://github.com/eclipse/codewind-docs/pull/394 to fix this error:

[code]

[2020-02-19 23:07] tetchel commented on #2277
the button which was there mistakenly is being removed here: https://github.com/eclipse/codewind-vscode/pull/472/files#diff-1a0f82d729a69fe49b4e0252baafeda2L120

[2020-02-20 02:46] jagraj commented on #2252
**Test 1**

Codewind version: 0.9.0
Che version : 7.5.1
IDE Extension version : 0.9.0
Kubernetes cluster : OCP 4.3
Browser : Chrome Version 80.0.3987.116 (Official Build) (64-bit)

I created new workspace and tried to reproduce this problem again after clearing my browser cache in chrome and I am still hitting this problem.

<img width="1654" alt="Screen Shot 2020-02-19 at 6 23 25 PM" src="https:/

[2020-02-20 03:54] #1999 closed

[2020-02-20 03:55] tetchel commented on #1999
Closing because I have not seen this and there is not enough info to work off of

[2020-02-20 06:02] jagraj commented on #2252
**Codewind 0.8.1**

**Test 1**

Codewind version: 0.9.0
Che version : 7.5.1
IDE Extension version : 0.9.0
Kubernetes cluster : OCP 4.3
Browser: Firefox 72.0.2 (64-bit)

I did similar tests with 0.8.1 fix pack workspace and I see same  problem for WebSphere liberty default template project and rest of the projects works fine. I think something changed in WebSphere base image to cause this problem a

[2020-02-20 06:07] jagraj commented on #2253
Please take a look at my comments on this issue #2252.
https://github.com/eclipse/codewind/issues/2252#issuecomment-588581654
https://github.com/eclipse/codewind/issues/2252#issuecomment-588625270

[2020-02-20 09:32] tobespc commented on #2278
Is the filewatcher spotting the directory has been deleted ?

[2020-02-20 09:36] hhellyer commented on #2002
I've checked this in master now the fix has been merged, adding a property to pom.xml no longer causes the injected metrics to be removed. The backup file also correctly reflects the latest updates so the right content of pom.xml is restored when metrics injection is disabled.

[2020-02-20 09:36] #2002 closed

[2020-02-20 11:18] #2236 closed

[2020-02-20 11:21] mattcolegate commented on #1509
/pipeline closed

[2020-02-20 11:23] mattcolegate commented on #1509
@tobespc Please close this.

[2020-02-20 11:25] ebuckle opened #2279 "[VSCode] Connecting to remote Codewind prevents user editing connection credentials"
**Codewind version:** 0.9
**OS:** macOS

**Che version:** NA
**IDE extension version:** 0.9
**IDE version:** 1.42.1
**Kubernetes cluster:** NA

**Description:**
Starting a connection to a remote PFE prevents a user from editing the credentials for that deployment. The UI window constantly refreshes, causing the input boxes to reset, as shown below:

![out](https://user-images.githubusercontent.com

[2020-02-20 13:33] micgibso commented on #2230
@sghung See https://github.com/eclipse/codewind/issues/2233 posted by James above for the requirement for users to serve up different versions of the public docs.

So we have two things going on here:
1. We want the latest on master to be displayed on a public server.
2. We want for users to be able to be able switch between documentation versions by a drop down list at the top of the page.

Back

[2020-02-20 13:58] micgibso commented on #2270
troubleshooting.html error above fixed.

[2020-02-20 14:00] keithchong commented on #2176
Hi @jagraj , I can't reproduce this.  Try opening the Project Overview page and clicking the `Application Endpoint` link. This uses the same method to launch the browser.

[2020-02-20 14:07] #1509 closed

[2020-02-20 14:09] jopit commented on #2203
Investigate the answers to the following:
- How easy is this on Windows/Linux?
- Will there be problems when using FireFox?

[2020-02-20 14:13] #2192 closed

[2020-02-20 14:15] tetchel opened #2280 "Improve extension startup time"
There are a few optimizations I can make to help the Codewind extension activate and have the Codewind connections ready faster.

It would also help mitigate the behaviour seen in https://github.com/eclipse/codewind/issues/2192

[2020-02-20 14:21] sishida commented on #2260
PRs have been merged. Closing this issue.

[2020-02-20 14:21] #2260 closed

[2020-02-20 14:22] tetchel commented on #223
Blocked by https://bugs.eclipse.org/bugs/show_bug.cgi?id=559302

which we're still trying to figure out with the Eclipse team.

[2020-02-20 14:23] sishida commented on #2260
See PR https://github.com/eclipse/codewind-docs/pull/396/files

[2020-02-20 14:30] keithchong commented on #2199
@jopit , does this issue apply to the other IDEs, at least, Eclipse?  I see that there is no Error status in the Eclipse plugin.

[2020-02-20 14:37] jasperchui commented on #2263
@josephca please followup with @malincoln for the status of the legal discussion. We already got approval.

[2020-02-20 14:40] jopit commented on #1306
We already have a solution working for PFE running on Kube, this issue is purely for the local scenario.

Do we want to expose/use the `/api/v1/registrysecrets` api, or do we want to somehow 'mount' the secrets into the container?  Would mounting the secret be a security exposure?

If we use the registrysecrets api, does that open a timing window for builds etc.

Possible alternative, do the login

[2020-02-20 14:45] jgwest commented on #1509
@mattcolegate Looks like 'closed' isn't an actual ZenHub pipeline (despite the fact it appears as one in the web UI 🤔 )...  you can use `/close` for this (and in the mean time I will have the bot use `/close` whenever `/pipeline closed` is detected)

[2020-02-20 14:45] jopit commented on #2199
@keithchong no, it's a consequence of how and when the our code gets initialized in IntelliJ vs Eclipse/VSCode.

[2020-02-20 15:21] james-wallis commented on #2190
Although I've put up that (failing) PR which was supposed to fix the intermittent errors I think that this is an implementation defect rather than a test defect, creating a race condition between `GET` requests.

When making two `GET` requests one after the other to `/api/v1/templates/repositories` they will both try to update the `repositoryList` variable.

I've worked up a solution and passed it

[2020-02-20 15:31] j-c-berger commented on #2270
@sishida, thank you, Sarah, for merging. Please assign me, thanks!

[2020-02-20 15:33] sishida commented on #2270
I have run the broken link checker again. These broken links have been fixed. Closing this issue.

[2020-02-20 15:33] #2270 closed

[2020-02-20 15:42] #2263 closed

[2020-02-20 15:55] GeekArthur commented on #1131
Currently I am focusing on the odo2 development, will find some spare time to record the two new videos.

[2020-02-20 16:02] tetchel commented on #2189
Marilyn is seeking approval for got 10.6.0 (latest)

[2020-02-20 16:07] tetchel commented on #2279
For the connection to get stuck in the "connecting" state like that, the likely cause is that your Codewind instance is down / unreachable. do you know if that was the case?

would blocking (greying out) the "edit" button while it's Connecting / Disconnecting, so that the user knows they have to wait, be an acceptable change?

[2020-02-20 16:08] malincoln commented on #2189
Asked @NikCanvin to take a look.
"I checked it, only 'danger' finding, was a dual lic case, but looking it at, either lic is acceptable to Eclispe IP legal"

Gave him the specific release of 10.6.0 to review.

[2020-02-20 16:13] ebuckle commented on #2279
Yep, this was caused by having a Codewind instance being restarted while I was trying to connect. My initial thought as a user was that I'd put in the wrong username or password so I tried to change those first.

Yep, I think greying out the buttons and saying that Codewind is trying to connect would stop someone hitting this.

[2020-02-20 16:15] tetchel commented on #2279
ok, i think a 10s timeout is also generous (no one will wait that long before trying to do something else) so i will shorten it too.

[2020-02-20 16:16] #2273 closed

[2020-02-20 16:28] keithchong commented on #2168
I could not reproduce this either.  I will try moving this initialization code elsewhere to see if it makes a difference.

[2020-02-20 17:04] rwalle61 opened #2283 "Clarify Codewind test coverage status"
for https://github.com/eclipse/codewind/issues/2291

We have several repos with different levels of testing. Some tests run during PR builds, others don't. We have different levels of test coverage.

Let's clarify where we all are, so that we know how we could improve it iteratively.

Could each repo answer these questions? (Link issues if needed)
- **team/repository** e.g. Portal
- **what is the

[2020-02-20 17:27] #2011 closed

[2020-02-20 18:36] makandre commented on #2078
/assign

[2020-02-20 18:37] #1911 closed

[2020-02-20 18:39] makandre commented on #2080
/pipeline in progress

[2020-02-20 18:39] maysunfaisal commented on #1092
@jgwest can we also add `/Epic` to the list of commands

[2020-02-20 19:01] jgwest commented on #844
/epic

[2020-02-20 19:03] jgwest commented on #844
/remove-epic

[2020-02-20 19:12] jgwest commented on #1952
/epic

[2020-02-20 19:13] jgwest commented on #1952
/remove-epic

[2020-02-20 19:55] ssh24 commented on #2228
/assign
/pipeline in progress

[2020-02-20 19:55] ssh24 commented on #2254
/assign
/pipeline in progress

[2020-02-20 20:10] yangcao77 commented on #1847
Verified it's seen on our official website.

[2020-02-20 20:10] #1847 closed

[2020-02-20 21:07] makandre commented on #2078
My approach to testing will be as follows:

- First, create projects while still connected to the Internet
- Then I cut Internet access (imagine if I was boarding a plane) and see if I can still work on the projects in this state.

[2020-02-20 22:41] sujeilyfonseca opened #2284 "SVT: [Remote] Performance Dashboard UI can present the load test stuck in "Requested""
**Codewind version:** 0.9.0
**OS:** VM with Windows 10 (w. OKD/Openshift cluster)

**IDE extension version:** 0.9.0
**IDE version:** 1.42.0

**Description:** @jagraj and I noticed that the Performance Dashboard UI can present the load test stuck in "Requested". If users try to cancel the request, they will not be able to do so:

<img width="1671" alt="Screen Shot 2020-02-20 at 4 58 04 PM" src="htt

[2020-02-20 22:44] sujeilyfonseca commented on #2253
I verified this issue with the latest Codewind 0.9.0, and I no longer reproduce this problem.

This issue can be closed once the fix has also been merged into master.

[2020-02-20 23:01] jagraj commented on #2284
I also got into similar issue with the hybrid scenario. The load test status stuck at "Requested" state and I need to close the window and open new window to submit another request or wait for first request to complete. Here are my screenshots. We do not see same issue in Eclipse Che and this issue can be addressed in next  release as we have workaround.

![Screen Shot 2020-02-20 at 5 47 27 PM](ht

[2020-02-20 23:25] DavidG1011 opened #2285 "SVT: VSCode: Creating a remote connection can fail with certain network conditions."
**Codewind version:** 0.9.0
**OS:** MacOS

**Kubernetes cluster:**  OKD 4.2

**Description:** This is definitely an edge case, but... I noticed If I'm working remotely but connected to the IBM network via VPN, it can cause a "no such host error" upon attempting to connect to a remote cluster:

![image](https://user-images.githubusercontent.com/30476587/74988619-4019e100-540c-11ea-832d-88b07d8a8c93

[2020-02-20 23:26] tetchel commented on #2285
can you open that url in the browser?

[2020-02-20 23:30] naveenkaratekid commented on #2285
I too have seen a similar issue when I tried to configure remote at home when I used my master node:

[code]

[2020-02-20 23:32] tetchel commented on #2285
if your computer can't find the hostname, it can't do anything against that node.

This is the correct behaviour

[2020-02-20 23:37] DavidG1011 commented on #2285
It's reachable from the browser:

![image](https://user-images.githubusercontent.com/30476587/74989887-b0763180-540f-11ea-9134-0c0dd0255ad7.png)

![image](https://user-images.githubusercontent.com/30476587/74989983-f632fa00-540f-11ea-95fc-f0bcf28f8508.png)

[2020-02-20 23:39] tetchel commented on #2285
@markcor11 is there any reason the installer code may have different DNS behaviour than the browser? 😕

[2020-02-21 01:06] sujeilyfonseca commented on #2285
I’ve seen this problem every time I use the VPN, if I try to deploy a new remote connection:

[code]

Note: The console can be accessed over the browser, and I can successfully access the host in the cluster.

My workaround is to deploy the remote connection directly in the OKD/Openshift cluster, using the `cwctl-linux`, and use the gatekeeper URL in the IDE. That way, I can deploy and establish a

[2020-02-21 01:07] sujeilyfonseca commented on #2285
I’ve seen this problem every time I use the VPN, if I try to deploy a new remote connection:

[code]

Note: The console can be accessed over the browser, and I can successfully access the host in the cluster.

My workaround is to deploy the remote connection directly in the OKD/Openshift cluster, using the `cwctl-linux`, and use the gatekeeper URL in the IDE. That way, I can deploy and establish a

[2020-02-21 07:38] markcor11 commented on #2285
This looks like a networking / vpn issue because I've seen something similar recently.  I haven't dug in much but both `oc` or `kubectl` started showing this problem too when using vpn from home in the evenings.

oc login --token=xzu-7sIfXWDPE....  --server=https://mycluster.api......com:6443. returned :

error: dial tcp: lookup mycluster.api......com on <myLanDNSServer> *no such host - verify you

[2020-02-21 08:23] markcor11 commented on #2284
Yes,  we know about this one, the cancel method is being overhauled at the moment.  The changes that went in recently for 0.9.0 switch the status to "Requesting" earlier in the cycle.  This is to protect the user from `accidentally` clicking the button to start a second test before the first one completes.

The status change from `Requested` to `Preparing` is controlled via a socket message from P

[2020-02-21 08:29] markcor11 commented on #2284
The cancel and run methods are being overhauled at the moment.  The changes that went in recently for 0.9.0 switch the status to "Requesting" earlier in the cycle.  This is to protect the user from `accidentally` clicking the button to start a second test before the first one completes.

The status change from `Requested` to `Preparing` are controlled via a socket message from PFE back to the dash

[2020-02-21 09:07] #2264 closed

[2020-02-21 09:09] micgibso commented on #2017
See https://github.com/eclipse/codewind-docs/pull/376

[2020-02-21 09:09] #2017 closed

[2020-02-21 10:48] AndyRWatson opened #2287 "Error in codewind-checluster.yaml when trying to install che"
**Codewind version:** 0.9
**OS:**.  CHE

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

When following the instructions to install eclipse che https://www.eclipse.org/codewind/mdt-che-installinfo.html.  I get the following error when running

_chectl server:start --platform=openshift --installer=operator --che-operator-cr-yaml=codewind-checl

[2020-02-21 11:16] tobespc commented on #2285
I can't access any of my fyre machines when connecting from home

[2020-02-21 12:19] jagraj commented on #2252
Fixed in 0.9.0 closing it.

[2020-02-21 12:19] #2252 closed

[2020-02-21 12:38] sujeilyfonseca commented on #2285
@markcor11, your workaround works.

1. Pinged my host and verified the returned address:
[code]

2. Opened my Mac's Hosts File: `sudo nano /etc/hosts`
3. Added the new TCP/IP: `9.37.222.128    sfonseca-okd-codewind.rtp.raleigh.ibm.com`
4. Saved the file: `Ctrl + O`
5. Exited the file: `Ctrl + X`
6. Cleared my Mac's DNS cache: `sudo killall -HUP mDNSResponder`

After that, I successfully deployed a

[2020-02-21 12:45] naveenkaratekid commented on #2285
Are the steps similar if using OKD from the public cloud?

[2020-02-21 12:55] jagraj opened #2289 "SVT: chectl failed to install Che on ROKS cluster due to namespace creation failure"
**Codewind version:** 0.9.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.9.0
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**
ROKS cluster : 4.3

**Description:**
Chectl failed to create namespace when installing Che. As a user I can create with out any problem with the same user that I logged in but chectl failed to create namespace and exits installation with the follo

[2020-02-21 12:58] sujeilyfonseca commented on #2285
Yes, @naveenkaratekid

[2020-02-21 14:12] johnmcollier commented on #2287
@AndyRWatson Are you making sure to download the CheCluster yaml first to your machine?

[2020-02-21 14:17] #1252 closed

[2020-02-21 14:23] jgwest commented on #844
/pipeline closed

[2020-02-21 14:23] jgwest commented on #1092
Added `/Epic` to the list of commands

[2020-02-21 14:25] jgwest commented on #844
/pipeline closed

[2020-02-21 14:34] jgwest commented on #844
/pipeline closed

[2020-02-21 15:25] tetchel commented on #2285
Should we doc the workaround?

[2020-02-21 15:59] tetchel commented on #2289
does it fail every time, or just one time?

`net/http: TLS handshake timeout` means that you lost network connectivity briefly, and that's why it failed

[2020-02-21 16:14] sghung commented on #728
@j-c-berger the guide has been published here: https://kabanero.io/guides/nexus-repository-integration-with-appsody/

The guide is generated from here: https://github.com/kabanero-io/guide-nexus-repository-integration

If there are edits you'd like to make, you can create a PR in https://github.com/kabanero-io/guide-nexus-repository-integration

[2020-02-21 16:55] johnmcollier commented on #2203
Still need to investigate Windows/Linux, but for Firefox:

- Firefox 71 and up has a newer certificate view/manager and it allows you to import the `ingress-operator` certificate in the browser and everything works
- Firefox 70 and older don't work, and do not allow you to download the `ingress-operator`

[2020-02-21 16:59] rwalle61 opened #2291 "Improve Codewind testing"
We have different test process for our repos. Improving these processes will improve Codewind's overall stability.

Let's track our testing status here and link the steps we're taking to improve our testing, so we can measure our progress

This is an epic to track all of that. (It will grow over time)

@maysunfaisal

[2020-02-21 16:59] rwalle61 commented on #2291
/kind test

[2020-02-21 17:00] rwalle61 commented on #2291
/assign @maysunfaisal @rwalle61

[2020-02-21 17:01] johnmcollier opened #2292 "[Che] Codewind ingresses are intermittently going away"
**Codewind version:** latest and 0.8.0
**OS:**

**Che version:** CRW 2.0
**IDE extension version:** latest and 0.8.0
**IDE version:**
**Kubernetes cluster:**

**Description:**
It seems that intermittently, the replicasets belonging to a project may get scaled down and recreated by Kubernetes. This on its own is fine, but since we're tying the Codewind ingress to the replicaset, this means the ingr

[2020-02-21 17:12] rwalle61 commented on #2291
Our initial measures of stability and progress:
- **Proportion of open bugs / open issues on Codewind repo**
- **Proportion of bugs opened by SVT / open issues on Codewind repo**
- **Test coverage across Codewind repos**
- **Coverage of tests running in PR builds on Codewind repos**

**Notes**
* What we care about is amount of bugs in Codewind. We can imperfectly estimate it by looking at the prop

[2020-02-21 17:13] rwalle61 commented on #2291
Feb status:
- **Proportion of open bugs / open issues on Codewind repo** 175/427 = 41%
- **Proportion of bugs opened by SVT / open issues on Codewind repo** 50/427 = 12%
- **Test coverage across Codewind repos** pending #2283
- **Coverage of tests running in PR builds across Codewind repos** pending #2283

[2020-02-21 17:14] rwalle61 commented on #2246
this ties nicely into https://github.com/eclipse/codewind/issues/2246

[2020-02-21 17:50] nastacio commented on #934
I am concerned about the solution outlined here:
https://www.eclipse.org/codewind/importing-existing-projects.html#defining-environment-variables-for-appsody-projects

Asking people to put what likely amounts to a file full of credentials into the project tree and then having the wherewithal to add it to .gitignore file is risky.

The workaround in https://www.eclipse.org/codewind/referencing-file

[2020-02-21 18:05] #989 closed

[2020-02-21 18:07] eharris369 commented on #776
I have fixed what I can here but for the rest it will have to stay as is for accessibility purposes.

[2020-02-21 18:08] eharris369 commented on #776
/pipeline verify

[2020-02-21 18:09] eharris369 commented on #1646
/pipeline verify

[2020-02-21 18:10] eharris369 commented on #1967
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/561

[2020-02-21 18:10] #1967 closed

[2020-02-21 18:11] eharris369 commented on #2194
Closing since this is covered by #2193

[2020-02-21 18:11] #2194 closed

[2020-02-21 18:47] makandre commented on #934
@nastacio The mechanisms for this enhancement were delivered with the consideration that they could easily be adapted to be used by all project types in Codewind and not limited to Appsody.  And we also felt this was the way we could get this capability out faster.  This lays the ground work on which we can certainly wrap some additional UI around to provide a more seamless experience for the user

[2020-02-21 18:54] keithchong commented on #2168
I was able to reproduce this on Windows, if initially you have the IDE started with no projects opened, you then install Codewind for IntelliJ.  If instead you opened a project, the detector is fine.  The same scenario on Mac is fine.

[2020-02-21 19:01] nastacio commented on #934
@makandre I only mentioned Appsody because that is in the title of the section in the codewind doc page, my comments are unrelated to Appsody itself.

[2020-02-21 19:20] makandre opened #2294 "Provide UI for setting project environment variables"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

#934 introduced the ability to specify project environment variables (limited to Appsody projects at the moment); it involves defining variables in a file which could reside in the project or referenced from outside of the project.

This enhancem

[2020-02-21 20:01] johnmcollier commented on #2246
FYI, codewind-che-plugin already has one, and it's mostly similar to the one added to Codewind, so I'll leave it as-is unless there's a strong desire to make them all the same.

[2020-02-21 20:24] jopit commented on #2193
A fix for this would be appreciated -- it's getting really annoying when developing IDE code because when you try to remove multiple projects at once, the IDE removal logic bails out on the first error.

[2020-02-21 20:57] #2168 closed

[2020-02-21 22:06] ssh24 commented on #2175
/assign
/pipeline in progress

[2020-02-21 22:06] ssh24 commented on #2173
/assign
/pipeline in progress

[2020-02-21 22:30] tetchel commented on #239
I tried fixing this ancient issue but I think the issue is with the Appsody extension emitting the restart result way too soon, not the IDE.

PFE logs:
[code]

Since the appsody logs aren't read by PFE the above aren't too useful, but I can see that the restart success event comes while the Appsody project is still downloading its dependencies.

![image](https://user-images.githubusercontent.com/8

[2020-02-21 23:18] tetchel commented on #2052
That makes sense to me and the IDEs can hide the build status if it's unknown, the same way we do for app status.

[2020-02-22 04:49] AndyRWatson commented on #2287
Yep @johnmcollier if I dont have the file I dont get that far in the script.   I have tried again and same error,   I have copied the url from codewind.dev and downlaoded via curl

[code]

[2020-02-22 05:02] AndyRWatson commented on #2287
also looking at the docs we dont really explain how to get the file.   I curl'd out of choice but would a user necessarily know to do that ?

Reading the instructions it say

```Download the [codewind-checluster.yaml](https://github.com/eclipse/codewind-che-plugin/blob/0.9.0/setup/install_che/che-operator/codewind-checluster.yaml) file. ```

which is the github page and assumes I know how to downl

[2020-02-23 19:53] johnmcollier commented on #2287
@AndyRWatson Yeah, you’re right we should be linking to the raw yaml.

We should also probably make the download instructions more clear.

[2020-02-24 14:22] makandre commented on #2052
I'm ok with setting build status to blank, @tetchel @johnmcollier if you guys want to tackle this in 0.10.0 let me know.

[2020-02-24 14:26] #2279 closed

[2020-02-24 14:50] makandre commented on #239
From what I can tell, `projectRestartResult` is emitted by [Turbine](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/projectUtil.ts#L1971) after project is restarted and the container is up, but it *doesn't* wait/guarantee the application has reached running state (that is still up to the [pinging](https://github.com/eclipse/codewind/blob/master/src/pfe/fil

[2020-02-24 14:51] rwalle61 commented on #2291
/kind Test
/assign
/assign @maysunfaisal

[2020-02-24 14:52] sujeilyfonseca opened #2297 "SVT: [Che][VS Code] Command Palette option for "Template Source Manager" doesn't match other labels used to refer to the same view"
**Codewind version:** Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Command Palette option for "Template Source Manager" doesn't match other labels used to refer to the same view

<img width="634" alt="Screen Shot 2020-02-24 at 9 42 44 AM" src="https://user-images.githubusercontent.com/49531960/75161729-4816a100-5

[2020-02-24 15:20] jgwest commented on #844
1
2
/svt
3

[2020-02-24 15:37] jgwest commented on #844
/epic

[2020-02-24 15:40] sishida commented on #2182
The link in the original comment, `https://www.eclipse.org/codewind/mdteclipseimportedprojects.html#generic-docker-projects`, no longer functions.

Here is the link to new URL for the "Importing existing projects" page: https://www.eclipse.org/codewind/importing-existing-projects.html

[2020-02-24 15:55] tetchel commented on #2052
I think it is a good idea

[2020-02-24 15:57] tetchel commented on #2297
good catch! this was renamed but I missed that instance.

[2020-02-24 15:57] jgwest commented on #844
1
2
/svt
3

[2020-02-24 15:59] jgwest commented on #844
/remove-svt

[2020-02-24 16:09] sghung commented on #1883
TODO: setup a meeting to discuss these details. Three initial folks: Michael, Sarah, and Jake.
Also need to discuss the location in the playback call.

[2020-02-24 16:15] makandre commented on #1859
/assign

[2020-02-24 16:17] sghung commented on #944
Andrew talking with Neeraj on this. Neeraj did say that its more likely to get it in the new Appsody instead of the existing.

[2020-02-24 17:00] tetchel opened #2299 "(metrics) Always enable the performance dashboard action even if the project doesn't have metrics"
If `perfDashboardPath` is set on the project, that is all we need to open the performance dashboard.

This means we can skip the ping test for appsody projects. The perf dashboard will no longer fall over if the project doesn't have metrics.

[2020-02-24 18:00] jgwest commented on #844
/svt

[2020-02-24 18:03] jgwest commented on #844
/svt

[2020-02-24 18:05] #2297 closed

[2020-02-24 18:11] johnmcollier commented on #2052
I think we should if possible

[2020-02-24 18:19] jgwest commented on #844
/remove-svt

[2020-02-24 18:20] malincoln commented on #2253
@tobespc @markcor11 has this been merged into master?

[2020-02-24 18:24] j-c-berger commented on #728
@sghung, from my read-through of the guide, it looks good!

@sishida, please fell free to close. Thanks!

[2020-02-24 18:30] jgwest commented on #844
/svt

[2020-02-24 18:42] jgwest commented on #1952
/svt

[2020-02-24 18:45] jgwest commented on #1952
/remove-svt

[2020-02-24 19:05] #728 closed

[2020-02-24 19:06] josephca opened #2300 "[IntelliJ] Typos in 'Getting Started' pages"
**Codewind version:**
0.9.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Typos with extra `.md` should be fixed. Also, we may consider replacing 'mdt' by 'codewind' for the file name.
mdt-intellij-getting-started.md.html ->
codewind-intellij-getting-started.html

dev/src/main/resources/META-INF/plugin.xml:    To get started, see <a

[2020-02-24 20:30] makandre commented on #2052
/assign

[2020-02-24 20:46] bsteinfeld commented on #2051
First of all I would *REALLY* appreciate if the environment variable  `KUBECONFIG`  would override the default kubeconfig - I'm experiencing this issue and have needed to make various workarounds to get things working.

Moreover, there seems to be more to this issue. When I try to run `cwctl` from within a k8s pod itself, it does *not* ready the default `$HOME/.kube/config` file, it instead seems

[2020-02-24 20:51] johnmcollier commented on #2051
@bsteinfeld Yeah, that's because we currently get the in-cluster config first, then fall back on `$HOME/.kube/config` instead: See https://github.com/eclipse/codewind-installer/blob/master/pkg/remote/deploy.go#L76

We should probably change the ordering around:
1) Check for config under $KUBECONFIG
2) Check for config under `$HOME/.kube/config`
3) Use the 'In-cluster config' if present.

[2020-02-24 21:15] malincoln commented on #1804
@mmulholl pls verify and close. Thanks

[2020-02-24 21:17] malincoln commented on #2199
@sujeilyfonseca pls verify and close.  Thanks

[2020-02-24 21:20] bsteinfeld commented on #2051
@johnmcollier I agree 100% with your suggested ordering!

[2020-02-24 21:40] malincoln commented on #1856
@mmulholl pls verify and close. Thanks

[2020-02-24 21:43] malincoln commented on #2220
@sujeilyfonseca 2123 is now merged.  Can you close it now? Thanks