[2020-01-28 08:00] micgibso commented on #1883
Discussing with Travis, he says:
I think we need to have two folders. One is for docs and one is for landing page, so we can separate them out.  Currently we have two, one is for landing page, and the dist one was the leftover one from mc, so probably we need to rename that one.  Please open an issue and I will fix it, so fix that too under this task. @travis We can use this issue, it's all the sa

[2020-01-28 09:19] tobespc commented on #1887
we had made changes I thought to not count the number of templates but instead check that the call had worked (or something like that).  Or was that extensions .....

[2020-01-28 09:20] #1747 closed

[2020-01-28 09:53] jcockbain commented on #1887
Think that was the PFE tests, a similar approach would be good

[2020-01-28 10:19] mattcolegate commented on #1765
No more work to do on this issue until @eharris369 has approved https://github.com/eclipse/codewind-eclipse/pull/542

[2020-01-28 10:22] mattcolegate commented on #1739
https://github.com/eclipse/codewind-installer/pull/340 is now merged, so I'm closing this issue. If this problem is encountered again, a new issue can be raised with the improved logging pointing more clearly at the cause.

[2020-01-28 10:23] mattcolegate commented on #1739
/pipeline closed

[2020-01-28 10:23] jgwest commented on #1739
@mattcolegate: Unable to locate pipeline with name: `closed`

[2020-01-28 10:28] mattcolegate commented on #1739
@tobespc Please close this issue at your earliest convenience.

[2020-01-28 11:05] stalleyj commented on #1672
- Enhance the behaviour of cwctl remove remote. This will call unbind for each project to ensure that projects are shut down and not left orphaned (related to a connection that no longer exists). Need to consider what behaviour we expect when not connected to the remote.

- Implement an uninstall command that uses the connection list to call remove on each connection.  Keycloak will not be removed

[2020-01-28 11:30] rwalle61 commented on #1785
/pipeline Verify

[2020-01-28 13:01] jcockbain commented on #1887
/assign

[2020-01-28 13:10] jcockbain commented on #1886
/assign

[2020-01-28 13:56] jagraj commented on #1259
I no longer see this problem in 0.8.0. Closing this issue.

[2020-01-28 13:56] #1259 closed

[2020-01-28 14:10] rwalle61 commented on #1716
as discussed with @stalleyj, if we can cover code with unit tests instead of api tests (for now), that is preferable because our unit tests run quickly and consistently, whereas our project API tests can fail intermittently when PFE is stressed.

The projects routes that involve FileWatcher cannot be unit tested entirely in PFE unless we mock FileWatcher. However, some of those routes can still be

[2020-01-28 14:25] #1739 closed

[2020-01-28 14:52] malincoln commented on #1785
@maysunfaisal pls verify and close.  Thanks

[2020-01-28 14:54] malincoln commented on #1746
Not sure why it was moved to verify.  Who's working on the UI piece is that being tracked by a separate issue or as part of this issue?

[2020-01-28 15:15] stalleyj opened #1892 "cwctl connections add fails with non user friendly error message"
**Codewind version:**
0.8.0
**OS:**
Mac

**Description:**
Unhelpful error message given when the wrong url is used to create a connection, "invalid character '<' looking for beginning of value"

**Steps to reproduce:**
Using VSCode, click the icon to create a new Codewind Connection and enter an incorrect url, add username/password and then save.

Can also be reproduced by directly calling -
./cwc

[2020-01-28 15:19] micgibso commented on #1756
@j-c-berger Is this complete? Thx.

[2020-01-28 15:28] tetchel commented on #1746
should work in vs code now

[2020-01-28 15:28] micgibso commented on #1744
@MelHopper Pls take a look, thx.

[2020-01-28 15:31] micgibso commented on #1806
@jagraj Is this complete now?

[2020-01-28 15:33] rwalle61 commented on #1716
In summary, the plan of action is to raise our test coverage score by 10%+ by the end of the week. Therefore Tuesday and Wednesday I will add/unskip as many (quick running and consistently passing) API tests as possible, then decide whether to continue with API tests or switch to unit tests

[2020-01-28 15:33] MelHopper commented on #1744
Blocking https://github.com/eclipse/codewind/issues/1106

[2020-01-28 15:33] MelHopper commented on #1106
Blocked by https://github.com/eclipse/codewind/issues/1744

[2020-01-28 15:34] MelHopper commented on #1106
Blocked by confirmation of proposed terminology for the 3 codewind configurations. @deboer-tim current proposal sent to you via Slack.

[2020-01-28 15:37] MelHopper commented on #1761
@micgibso are you able to add the following line in the appropriate location to your Templates topic? (aligns with the Overview content):

"Codewind provides pre-configured, Docker-containerized project templates covering several languages including [Node.js](https://nodejs.dev/), [Java](https://www.java.com/), [Python](https://www.python.org/) and [Swift](https://swift.org/), and several framewor

[2020-01-28 15:45] ssh24 commented on #1222
Here is the 0.8.0 data:
![Screen Shot 2020-01-28 at 10 36 24 AM](https://user-images.githubusercontent.com/15173354/73279469-2d204200-41bb-11ea-9dba-a022cfa3f481.png)

Looks like the performance test changes were not put into 0.7.0 so when tried running against 0.7.0 it didn't yield any result.

[2020-01-28 16:14] sishida opened #1895 "Docs animation enhancements"
1️⃣ Brainstorm:
- Adding animation to documentation
- Adding interactivity to documentation
- Examples to refer to include Open Liberty interactive guides and OpenShift documentation.

2️⃣ Implementation/schedule: to be determined.

[2020-01-28 16:15] jcockbain opened #1896 "Improve test coverage of cwctl project package"
**Codewind version:** Latest

**Description of the enhancement:**

The cwctl project command currently has 34.3% test coverage, which is mostly from tests running alongside a PFE, which can't at the moment be run in Jenkins.

**Proposed solution:**

Areas such as `project sync` and `project bind` could do with unit testing that injects the PFE dependency.

This guards against bugs being introduced

[2020-01-28 16:16] jcockbain commented on #1896
/assign

[2020-01-28 16:37] sishida opened #1897 "Adding alt text and captions to screenshots that appear in Codewind documentation"
**Codewind version:** All
**OS:** All

**Description of the enhancement:**
Add captions and alt text to screenshots that appear in the documentation on Codewind.dev.

**Proposed solution:**
Use the following code to add alt text and adjust how your images appear in Markdown:
- Format: `![image](image.png){:height="36px" width="36px"}. <br>`
- Example: `![Test deployment](dist/images/che-docs/SetDo

[2020-01-28 16:38] sishida opened #1898 "Adding alt text and captions to images in the Codewind documentation"
**Codewind version:** All
**OS:** All

**Description of the enhancement:**
Add captions and alt text to screenshots that appear in the documentation on Codewind.dev.

**Proposed solution:**
Use the following code to add alt text and adjust how your images appear in Markdown:
- Format: `![image](image.png){:height="36px" width="36px"}. <br>`
- Example: `![Test deployment](dist/images/che-docs/SetDo

[2020-01-28 16:42] sishida commented on #1898
Closing as a duplicate of https://github.com/eclipse/codewind/issues/1897

[2020-01-28 16:42] #1898 closed

[2020-01-28 16:55] bsteinfeld opened #1900 "Getting 502 Bad Gateway from Gatekeeper when deployed remotely"
**Codewind version: Built `cwctl` from master `commit: 6038b72`**
**OS: Ubuntu 18.04.3 (based on the [theia-full docker image](https://github.com/theia-ide/theia-apps/tree/master/theia-full-docker))**

**Che version: na**
**IDE extension version: na**
**IDE version: na**
**Kubernetes cluster: IBM Kubernetes Service (client v1.17.0, server v1.15.8+IKS)**

**Description:**
I'm trying to deploy Codew

[2020-01-28 17:21] j-c-berger commented on #1756
@micgibso, yes sir! All PRs for VS Code restructure has been merged. Let's round it out, thanks!

[2020-01-28 17:22] ssh24 commented on #1858
/pipeline in-progress

[2020-01-28 17:23] jgwest commented on #1858
@ssh24: Unable to locate pipeline with name: `in-progress`

[2020-01-28 17:23] ssh24 commented on #1858
/pipeline in progress

[2020-01-28 17:27] ssh24 opened #1901 "Ability to check if functions added to Turbine requires Functional Tests"
**Description of the enhancement:**
This comes from a brilliant idea by @maysunfaisal where he suggested to have a unit test on the Turbine's `index.ts` file to catch if any new functionality being added to Turbine doesn't get past without Functional test.

Having the unit test on `index.ts` will block that PR and tell the user a minimum level of functional test is required on that new function be

[2020-01-28 17:27] sishida commented on #1883
@travis1111 Hi, Travis, Could you please add a comment in this issue so we can assign you? Thank you!

[2020-01-28 17:29] ssh24 commented on #1901
/assign me

[2020-01-28 17:39] #1757 closed

[2020-01-28 17:42] #1756 closed

[2020-01-28 17:45] rwalle61 commented on #1785
Semi-relatedly, I have also removed that
[code]

[2020-01-28 17:53] malincoln commented on #1202
targeting 0.9.0

[2020-01-28 17:57] malincoln commented on #1844
@jagraj pls verify and close. I'll reopen and move to verify.

[2020-01-28 18:13] #1841 closed

[2020-01-28 18:13] #1855 closed

[2020-01-28 18:20] eharris369 commented on #1877
I did hit one problem. The project is in debug mode and the debugger is attached. If I modify a file and a build is triggered, it flips states so many times that the debugger does not always reattach.

[2020-01-28 18:26] yangcao77 commented on #1856
Turbine restarts the timer if the project rebuilds/ the timeout setting has been changed.

As I mentioned above, this issue has nothing to do with the timer, Turbine only sends out the event once.
It's portal caches the message in the project.inf file, and sends the message to IDE when it shouldn't be.

[2020-01-28 18:27] yangcao77 commented on #1856
/remove-area iterative-dev

[2020-01-28 18:36] maysunfaisal commented on #1507
Pls also check if functional test/unit test needs to be updated when working with this issue.

[2020-01-28 18:38] ssh24 commented on #1901
/pipeline in progress

[2020-01-28 18:38] ssh24 commented on #1901
/kind test

[2020-01-28 18:47] keithchong commented on #984
@mmulholl this is the project overview enhancement

[2020-01-28 18:51] yangcao77 commented on #1877
When does IDE consider the application restart successfully?

The message `[24/01/20 17:54:47 sprung] [INFO] Project start for restart was successful`
or even this socket event. Only means it successfully triggered the restart process.
[code]

The project is only considered as successfully restarted when you receive the `started` event.

[2020-01-28 18:56] tetchel commented on #1877
This doesn't work for Microprofile because the project won't go into Started state until the debugger attaches. The `projectRestartResult` event has always been taken to mean that the project is ready to be debugged.

[2020-01-28 18:58] #1858 closed

[2020-01-28 19:24] eharris369 opened #1905 "[Eclipse IDE] Improvements to the manage image registries dialog"
Improve the manage image registries dialog as follows:
- Change the `Set Push` button label to `Set as Push`
- Instead of having `True` or `False` in the Push Registry column, have `Set` for the push registry and blank for the others

[2020-01-28 20:06] tetchel commented on #1776
https://github.com/eclipse/codewind/issues/1870 related?

[2020-01-28 20:09] tetchel commented on #1776
I will make this change too:

[2020-01-28 20:09] jgwest commented on #1856
@yangcao77: Those labels are not set on the issue: area/iterative-dev<details>

In response to [this](https://github.com/eclipse/codewind/issues/1856#issuecomment-579388985):

</details>

[2020-01-28 20:24] tetchel opened #1906 "Dockerhub "namespace" note is not in the Dockerhub section"
![image](https://user-images.githubusercontent.com/8888438/73302231-44bef100-41e2-11ea-86f6-7ffae61e80ad.png)

Why is it part of the OpenShift section? Shouldn't it be up above?

[2020-01-28 20:28] sishida commented on #1906
Link to file that needs editing: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/image-registry-credentials.md

[2020-01-28 20:29] josephca commented on #1890
The signing jar issue was caused by calling it from docker-build agent which is not supported by Eclipse Jenkins for now. I will find a workaround to bypass the issue.

For more detail:

Eclipse bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=559602

Copying comment from Eclipse team:
`The jar signing service is accessible only from within the Foundation LAN. My guess is that you're trying to s

[2020-01-28 20:29] tetchel commented on #1906
also, instead of "password or token access" it should say "password or access token".

[2020-01-28 20:36] eharris369 opened #1907 "[Eclipse IDE] For image registry add dialog include dropdown of common registries"
It would be nice if in the add image registry dialog there was a dropdown of common image registry addresses for the user to choose from (such as `docker.io`). The user can still type in an address that is not in the list.

See: https://www.eclipse.org/codewind/image-registry-credentials.html#examples

[2020-01-28 20:40] yangcao77 commented on #1857
I am able to reproduce the issue.
Suspect this is an issue with portal. When the project is re-enabled, portal fails to send the `autoBuild` setting to Turbine.

Checked portal's project.inf file, the `autoBuild` setting is false.
[code]

But in Turbine's projectInfo, it's still true
[code]

[2020-01-28 20:41] yangcao77 commented on #1857
/area portal

[2020-01-28 20:42] rajivnathan opened #1908 "Codewind odo extension docs needs a prereq section"
**Description:**
Think the odo exention doc needs to be updated to mention that Che and Codewind should be installed before going through the odo setup instructions.
https://www.eclipse.org/codewind/mdt-che-odo-support.html

**Workaround:**

[2020-01-28 20:54] yangcao77 commented on #1877
I saw in the log
[code]

Looks like some file changes got detected and triggers an rebuilt.
I will add some log message & try to reproduce to see what files are changed.

[2020-01-28 20:59] sishida commented on #1906
@tetchel Hi, Tim, This file is actually part of our restructuring. I addressed your changes in this PR: https://github.com/eclipse/codewind-docs/pull/310. I already took care of the Docker Hub note in the initial commit, but I made a new commit to take care of the access token corrections.

[2020-01-28 21:14] #1765 closed

[2020-01-28 21:23] #1905 closed

[2020-01-28 21:35] jopit opened #1909 "Add flag to cwctl to allow projects to be created in non-empty folders"
When hooking into the IntelliJ project creation framework, by the time the plugin code gets called to create the code, the framework has already created the folder and added a `.idea` subdirectory.

Cwctl won't allow projects to be created in a non-empty directory. To work around this, the IntelliJ plugin is currently creating the project in a temp folder and then copying it into the proper locati

[2020-01-28 21:35] tetchel opened #1910 "500 error - Unable to obtain lock for project in file for project"
Sometimes when connecting to a remote Codewind instance my requests fail with the following message:
[code]

I have seen this when calling the `/logs` and `/metrics/status` endpoints for a given project, which are the two requests performed when the IDE becomes aware of a project (capabilities used to be too, but that one is now delayed since #1073). These requests are performed in parallel. So li

[2020-01-28 21:38] lentheivendra commented on #1908
/assign

[2020-01-28 21:47] #1901 closed

[2020-01-28 21:48] tetchel opened #1911 "Fix Requester.ts"
The Requester namespace is badly designed. It should be an object under the project/connection object which has wrapper functions instead of having all its functions be global.

In doProjectRequest, failed statusCodes result in an error message shown and then `undefined` is returned, but instead an error should be thrown. This means I have to add try/catch blocks around every project request but a

[2020-01-28 22:00] yangcao77 commented on #1857
/assign
/pipeline in progress

[2020-01-28 22:03] yangcao77 commented on #1857
The fix is in PR: https://github.com/eclipse/codewind/pull/1912
/pipleline Review/QA

[2020-01-28 22:09] yangcao77 commented on #1857
/pipleline Review/QA

[2020-01-28 22:12] sujeilyfonseca opened #1913 "SVT: [VS Code] New version required for VS Code must be 1.41 or later"
**Codewind version:** Latest
**OS:** Mac/Windows/Linux

**IDE extension version:** 0.9.0
**IDE version:** Code 1.39.2

**Description:** Our current documentation indicates that the minimum required version for VS Code is "1.38 or later". However, for the latest version (0.9.0), we no longer support Codewind 1.39.2 or an earlier version. If users continue to use VS Code 1.39.2 and try to install Co

[2020-01-28 22:41] thisguy-1 commented on #153
@tetchel

Deliverables:
<img width="1210" alt="Screen Shot 2020-01-28 at 5 05 43 PM" src="https://user-images.githubusercontent.com/52169824/73311650-03840c80-41f5-11ea-8950-cab395986dd4.png">
<img width="1209" alt="Screen Shot 2020-01-28 at 5 05 53 PM" src="https://user-images.githubusercontent.com/52169824/73309914-33c9ac00-41f1-11ea-8728-f3fd9ec11d9a.png">
[Home Page Specs v2.zip](https://githu

[2020-01-28 23:38] keithchong opened #1914 "[IntelliJ] Project-related actions do not fit IntelliJ's project-centric design paradigm"
As it says in the help, "In the IntelliJ Platform, a project encapsulates all your source code, libraries, and build instructions into a single organizational unit. Everything you do using the IntelliJ Platform SDK is done within the context of a project."

However, the current, established Codewind IDEs have support for multiple projects:
- Codewind Explorer in Explorer shows multiple projects
-

[2020-01-29 01:24] tetchel commented on #1913
The engine version required is 1.38 https://github.com/eclipse/codewind-vscode/blob/master/dev/package.json#L8 so I'm not convinced this is a problem with your VS Code version.

The prompt to install doesn't appear until you turn on the local connection, since the installation is not required if you are only using remote connections. This is new behaviour since 0.7.0. Might that be what you're see

[2020-01-29 07:58] markcor11 commented on #1776
@tetchel I created #1870 because it will simplify the IDE calls to cwctl in that IDEs will only need to call `sectoken get` rather than first call `sectoken refresh` (which may fail because the supplied refresh_token has expired), then have to try `sectoken get` anyway as a fallback.

We'll keep both commands available in cwctl as it assists with troubleshooting tokens, but once #1870 lands IDEs s

[2020-01-29 09:13] micgibso commented on #1761
@MelHopper Mel, yes, will take a look.

[2020-01-29 09:17] markcor11 commented on #1900
/assign @markcor11

[2020-01-29 09:24] ebuckle commented on #1867
/assign

[2020-01-29 09:28] tobespc opened #1915 "swagger-ui has security vulnerabilities"

[2020-01-29 09:44] mattcolegate commented on #1875
/assign
/pipeline in progress

[2020-01-29 09:47] tobespc commented on #1915
removing graphmetrics tests as we don't run those and they contain the vulnerabilities

[2020-01-29 09:47] stalleyj commented on #1856
/assign

[2020-01-29 09:51] markcor11 commented on #1900
1.  Do you see the ingress created for the gatekeeper service `kubectl get ingress -n <your_namespace>`

2.  Are you able to open the gatekeeper page: https://codewind-gatekeeper-<somehash>.<someingresspathfromiks>.containers.appdomain.cloud/health and see an OK ?

3. From a browser access:  https://codewind-gatekeeper-<somehash>.<someingresspathfromiks>.containers.appdomain.cloud/api/pfe/ready

D

[2020-01-29 09:53] markcor11 commented on #1892
/assign @markcor11

[2020-01-29 10:24] rwalle61 commented on #1910
The new sync tests are exposing this problem too - they call `upload/end`. See https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-1899/3/consoleFull. I'm investigating why that happens in that context

[2020-01-29 10:49] markcor11 commented on #1892
Made error message friendly :

[code]

with the --json flag :

[code]

with --loglevel trace an additional line with root cause :

[code]

[2020-01-29 10:55] stalleyj commented on #1856
/pipeline in progress

[2020-01-29 11:20] liamchampton opened #1918 "Che Image Registry Manager is not validating docker credentials"
**Codewind version:** 0.8.0

**Che version:** 7.2.0

**Description:**
When using Codewind in Che, I was able to enter false docker credentials for the registry to push to without it failing/validating them. As a result, I was able to successfully create a registry with bad creds, leading to new projects failing straight away. The pfe pod logs didnt provide any useful information that pointed towar

[2020-01-29 11:53] james-wallis commented on #1848
/assign

[2020-01-29 12:15] j-c-berger commented on #1761
@micgibso, Sarah and I were going to close this issue yesterday, because the PR has been merged, but we wanted to wait until Mel's comment was addressed. If Mel's comment is now applied to #333, is this issue good to close?

[2020-01-29 13:31] james-wallis commented on #1848
I'm going to change the way that `cwctl version` works by making the `--conid` optional like others and defaulting to `local` so by default you'll get:
[code]
which is the locally running Codewind (so no Gatekeeper).

I'll also add a `cwctl version --all` or something similar which will output all of all of the connections that exist.

[2020-01-29 13:42] micgibso commented on #1812
Currently considering the following issues, discussing with our Content Strategist, Mel Hopper about the best place to put them, and the best way to surface them.
- Why is my project stuck in starting state?
- How can I stop notifications about my project not running?

[2020-01-29 13:45] liamchampton commented on #1316
/assign

[2020-01-29 13:47] #1760 closed

[2020-01-29 13:54] bsteinfeld commented on #1900
1. Yes I see the ingress:
[code]

Moreover here is the description:
[code]

2. No, I get a `502 Bad Gateway` (https://codewind-gatekeeper-k5y9bjox.labs-dev-tor01-500955-a45631dc5778dc6371c67d206ba9ae5c-0000.tor01.containers.appdomain.cloud/health).

3. Same `502 Bad Gateway`

4. As I didn't connect I see nothing in its logs just:
[code]

[2020-01-29 13:58] sujeilyfonseca commented on #1913
The prompt to install doesn't appear even if you turn on the local connection. First, I saw the problem with the automation framework, since my tests were failing because it couldn't get the dialog block to install Codewind. I got another 0.8.0 plugin again, and it worked as expected. Then, I downloaded the latest version for the code-server (1.41.1), and the latest Codewind worked. Therefore, I p

[2020-01-29 14:06] tetchel commented on #1913
I don't have a clue what in that code path could be affected by the VS Code version, but if you're sure of this we can increase the required version to 1.40 to make sure users don't encounter this.

[2020-01-29 14:07] tetchel commented on #1913
can you provide logs from the failing scenario?

[2020-01-29 14:08] tetchel commented on #1918
hmm. Its expected that the credentials aren't validated until we use them (see https://github.com/eclipse/codewind/issues/1445) but there is supposed to be a detailed build status that says your image push registry is wrong.

[2020-01-29 14:09] tetchel commented on #1805
We added that parameter back, now we need cwctl to require it

[2020-01-29 14:31] sujeilyfonseca commented on #1913
![Screen Shot 2020-01-29 at 9 28 31 AM](https://user-images.githubusercontent.com/49531960/73365295-0d038800-427a-11ea-8268-6638656d9ac6.png)

[code]

[codewind.log](https://github.com/eclipse/codewind/files/4128531/codewind.log)

[2020-01-29 14:33] sghung commented on #1202
Followup with Neeraj: make sure we have a specific date on when this is deprecated.

[2020-01-29 14:37] tetchel commented on #1913
hmm... I think we can safely say this is because of the extension version, then... 😵

[2020-01-29 14:38] rajivnathan commented on #1269
@sghung Sakib made the changes on the iterative-dev side in https://github.com/eclipse/codewind/pull/1880 so the changes on the appsody extension can be made now

[2020-01-29 14:39] mattcolegate commented on #1875
Recreation: take any running project in the IDE and click 'Show all logs'. Subsequent changes that cause the project.inf file to be written to (e.g. a small code change) will have the OP error in the PFE logs.

[2020-01-29 14:39] tetchel commented on #1913
Docs, pls update the required VS Code version to 1.41

[2020-01-29 14:39] sghung commented on #1269
@makandre can you look at Sakib's changes and make the necessary changes on the appsody extension side? Thank you

[2020-01-29 14:40] sujeilyfonseca commented on #1913
In VS Code 1.40, you get the same unsupported extension message:

<img width="553" alt="Screen Shot 2020-01-29 at 9 38 17 AM" src="https://user-images.githubusercontent.com/49531960/73365999-353fb680-427b-11ea-8ec4-62c436182bd1.png">

However, Codewind works:

 <img width="1602" alt="Screen Shot 2020-01-29 at 9 34 08 AM" src="https://user-images.githubusercontent.com/49531960/73365976-2d801200-427

[2020-01-29 14:41] #1915 closed

[2020-01-29 14:47] makandre commented on #1269
Will take a look, but based on my understanding there isn't anything we need to do in appsody extension

[2020-01-29 14:51] liamchampton commented on #1316
Can confirm this is still a problem. We currently have a search that matches both install scenarios. One image has a readable tag (local install), the remote install on desktop-kube does not, which is seen above. I will work on fixing the search criteria to exclude remote installations when running a local install status command.

[2020-01-29 15:09] tobespc commented on #1788
This change has given us a 600mb saving moving to centos everywhere.

[2020-01-29 15:15] makandre commented on #1805
Based on what @jcockbain said I think it's ok now as long as `cwctl` accepts the `conid`.  If it's omitted it defaults to the local connection (but it's irrelevant for IDE since it will always pass it)

[2020-01-29 15:38] #1763 closed

[2020-01-29 15:45] maysunfaisal opened #1923 "cwctl errors out on project create"
**Codewind version:** latest
**OS:**

**Che version:** 7.5.1
**IDE extension version:** latest
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Description:**
In Turbine functional tests, we use`cwctl` to create projects before we kick off project create from Turbine. Since this week, we've been seeing issues with `cwctl` failing intermittently on project create:
[code]

`cwctl project create -

[2020-01-29 15:45] maysunfaisal commented on #1923
/area portal

[2020-01-29 15:47] micgibso commented on #1913
Will update the help

[2020-01-29 15:50] beccabau opened #1924 "Dead links in `Configuring your remote deployment of Codewind`"
https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-configuring.md
**Browser:** Chrome

**Description:**
In the Prerequisites section of the remote-configuring readme, the `Getting started with Codewind for Eclipse` and `Getting started with Codewind for VS Code` links are dead (404).

**Steps to reproduce:**
1. Go to https://github.com/eclipse/codewind-docs/blob/maste

[2020-01-29 15:51] liamchampton commented on #1923
@maysunfaisal Yes because project create calls project validate in order to create `.cw-settings`
see https://github.com/eclipse/codewind-installer/pull/342 for reference

[2020-01-29 15:56] maysunfaisal commented on #1923
@liamchampton what else does project validate do that requires PFE to be up?

[2020-01-29 16:00] beccabau commented on #1924
nevermind, it's because i was in github. it works on the website.

[2020-01-29 16:00] #1924 closed

[2020-01-29 16:10] mattcolegate commented on #1875
I've raised https://github.com/eclipse/codewind/pull/1925 which fixes the issue by ensuring the offending object never gets written out to project.inf - I've stated my reasoning as to why that was the original intention in the PR. I'd like IDE people to comment on how they're using that part of the project object to make doubly sure that not having it in the project.inf won't break anything.

[2020-01-29 16:11] tetchel commented on #1805
we have to keep users/team members who call the CLI directly in mind too, though https://github.com/eclipse/codewind/issues/1923

[2020-01-29 16:12] AndyRWatson commented on #1788
600mb is a great saving. Will also simplify the porting for power

[2020-01-29 16:13] tetchel commented on #1875
We are not using `logStreams` directly but this may have an effect on the /logs api which we do use

[2020-01-29 16:15] maysunfaisal commented on #1805
thanks @tetchel, since Appsody or extensions require it, it would have been nice to have a flag for those project types rather than all project types requiring a conn.

This has broken us on #1923 like posted above

[2020-01-29 16:18] mattcolegate commented on #1032
/assign

[2020-01-29 16:22] mattcolegate commented on #1875
FYI `logStreams` will still exist in the in-memory Project object, it's just not being written out to project.inf and so it's values won't be preserved over PFE restarts.

[2020-01-29 16:23] tetchel commented on #1875
makes sense to me, afaik all the log streams are turned off when pfe restarts anyway

[2020-01-29 16:39] jopit opened #1926 "Set up an IntelliJ custom plugin repo on the Eclipse download site."
Similar to the install repository we have for the Eclipse plugins, we should investigate setting up a custom plugin repo for the IntelliJ plugin, so SVT and others don't have to download and install from the zip file.

See https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/update_plugins_format.html for instructions on what to do.

For this to work, we may or may not need to change

[2020-01-29 17:15] thisguy-1 commented on #153
@thisguy-1 still needs to deliver:

- [ ] Dark theme icons
- [ ] Improved graphic
- [ ] Links in invision

[2020-01-29 17:43] rwalle61 opened #1928 "Intermittent Turbine test timeout: PFE - unit test - workspaceSettings module"
**Codewind version:** latest
**OS:** mac
Jenkins

**Description:**
On several of my PRs this week the PR build has failed due to a timeout in this test despite my PR not changing any relevant code (e.g. https://github.com/eclipse/codewind/pull/1922). Restarting the build usually passes, but not always. This failure seems to have occured in master too https://ci.eclipse.org/codewind/job/Codewind/jo

[2020-01-29 17:44] ssh24 commented on #1269
I think the only step left for Appsody is to find out how to create a template .cw-settings file that users know requires to be edited in order for this functionality to work.

This can be done either in Appsody level, or have an enhancement in the UI where with the click of the button a template `.cw-settings` file is created for projects that don't have it. If this is not doable for 0.9.0, we ne

[2020-01-29 17:48] ssh24 commented on #1928
/area iterative-dev
/kind test

Leaving this open to keep an eye out for the failures

[2020-01-29 17:59] makandre commented on #1269
Right @ssh24, and we were going to discuss in tech-topics whether to provide that enhancement to create the `.cw-settings` as I recall

[2020-01-29 18:02] sishida opened #1929 "[IntelliJ] Documentation for the IntelliJ tech preview"
At minimum, I would like to mention IntelliJ in the news page and have at least one page of docs. The idea of a video was also mentioned in a meeting.

Link to overall IntelliJ work: https://github.com/eclipse/codewind/issues/978

[2020-01-29 19:13] ssh24 opened #1930 "./run.sh is failing on PFE dockerbuild"
**Description:**
PFE dockerbuild is currently failing on master with `./run.sh`.

Error:
[code]

The latest change that went into the dockerfile was from https://github.com/eclipse/codewind/pull/1916, so I am suspecting that to be the culprit

/priority stopship

[2020-01-29 19:26] makandre opened #1931 "Pick up latest appsody for 0.9.0"
**Codewind version:** 0.9.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Current appsody version in Codewind is 0.5.4.

We don't require any fixes from appsody but it's good to pick up latest version available (at the moment it's up to 0.5.6)

**Proposed solution:**

[2020-01-29 19:28] malincoln commented on #1930
@tobespc @james-wallis pls investigate.  Thanks

[2020-01-29 19:38] tobespc commented on #1930
the problem is with the IBM mirrors to the docker packages (well it was for us).  We found that the appseed package couldn't install when on IBM network but on the visitor one it worked fine.  This afternoon UK time, the IBM network then started working ok for us

[2020-01-29 19:39] tobespc commented on #1930
do you have anymore of the log ?

[2020-01-29 19:41] ssh24 commented on #1930
[run_sh.log](https://github.com/eclipse/codewind/files/4130375/run_sh.log)

[2020-01-29 19:44] ssh24 commented on #1930
Tried it on the visitor network and still failed

[2020-01-29 19:47] tetchel commented on #1930
it worked for me just now on latest master, and my log doesn't have all those `.then() only accepts functions but was passed: [object Object]` warnings.

I notice in your log it's using the build cache; maybe removing your codewind images and `docker builder prune` will fix it for you.

[2020-01-29 19:51] eharris369 opened #1934 "[Eclipse IDE] Showing all log files for microprofile app hangs up the IDE"
A microprofile application has about 5 log files so if the show all log files action is selected it can take a while to run - especially for a remote connection.  It should be run in a job.  Same for all of the other log file actions.

[2020-01-29 19:55] tobespc commented on #1930
because of the size saving this change gives, removing all images first and pruning as @tetchel suggests would be worth a try

[2020-01-29 19:56] #1708 closed

[2020-01-29 19:57] makandre commented on #1931
/assign

[2020-01-29 19:58] ssh24 commented on #1930
`docker builder prune` didn't help either. Also @maysunfaisal was able to reproduce this on his machine as well

[2020-01-29 19:58] tobespc commented on #1930
I did docker system prune

[2020-01-29 19:58] tobespc commented on #1930
once all codewind images were removed

[2020-01-29 19:59] #1890 closed

[2020-01-29 20:03] ssh24 commented on #1930
I tried both `docker system prune` followed by `docker builder prune`and both cases failed

[2020-01-29 20:03] ssh24 commented on #1930
All images:
[code]

[2020-01-29 20:12] laven26 commented on #938
/assign

[2020-01-29 20:19] maysunfaisal commented on #1930
I see it after pruning all docker containers, images and volumes
[code]

[2020-01-29 20:22] ssh24 commented on #1930
FWIW, I even restarted docker and still fails :(

[2020-01-29 20:29] makandre commented on #1930
I'm hitting this too

[2020-01-29 20:31] #531 closed

[2020-01-29 20:31] #1698 closed

[2020-01-29 20:31] #1907 closed

[2020-01-29 20:32] elsony commented on #1542
Currently, the only pipeline that we support is the Tekton pipeline.  If we use a generic "Open Pipeline Dashboard", people may be using other pipelines and when they click on that, it doesn't show up the pipeline that they have setup.  Given that our support is specific to one particular technology, is there any reason why we need to change that label now instead of using Tekton as is and change

[2020-01-29 20:34] tetchel opened #1936 "Problems with Che installation docpage"
https://www.eclipse.org/codewind/mdt-che-installinfo.html#after-installing-codewind

This UI doesn't exist anymore; it has been superceded by the Image Registry Manager https://www.eclipse.org/codewind/image-registry-credentials.html

secondly:
https://www.eclipse.org/codewind/mdt-che-installinfo.html#using-codewind-from-the-che-theia-ide

is a bit of a strange section.  Firstly there is no `App S

[2020-01-29 20:34] sishida commented on #1823
Jan. 29, 2020--Notes from today's meeting:
- Don't call Codewind style the default--there isn't a default style.
- Call Codewind style "Codewind style."
- The source should be called the source for Codewind style templates.

[2020-01-29 20:36] tetchel commented on #1823
https://github.com/codewind-resources/codewind-templates/blob/master/devfiles/templates.json

[2020-01-29 20:40] thisguy-1 commented on #1823
<img width="631" alt="Screen Shot 2020-01-29 at 3 39 15 PM" src="https://user-images.githubusercontent.com/52169824/73395468-97b1aa80-42ad-11ea-97ee-c21f9d3c048c.png">
Should Be called something like "Codewind Style Source"

[2020-01-29 20:46] thisguy-1 commented on #1834
<img width="1662" alt="Screen Shot 2020-01-28 at 10 59 45 AM" src="https://user-images.githubusercontent.com/52169824/73395939-6685aa00-42ae-11ea-8fe5-25fd8ab9b5d9.png">
Having issues with this :)

[2020-01-29 20:48] #1934 closed

[2020-01-29 20:49] makandre commented on #1930
Could it be because `eslint-rules` was added to `.dockerignore`?
https://github.com/eclipse/codewind/pull/1916/files#diff-9a09269284b50e01e80f4fe3bec75fe9R18

[2020-01-29 21:09] ssh24 commented on #1930
Yes, that worked for me as well
[code]

I can open a PR for it, however, the PR build has not been failing on other PR's. Wondering what could cause this.

[2020-01-29 21:11] makandre commented on #1930
I have `src/pfe/devbuild.env` with `NODE_ENV=development` to do a development build.  In PR's it's likely doing production build

[2020-01-29 21:12] ssh24 commented on #1930
Ah, that could be the reason. I also have it with `NODE_ENV=development` that could possibily explain why @tetchel didn't see it?

[2020-01-29 21:15] tetchel commented on #1834
added the Remove Connection icon problem to the issue description

[2020-01-29 21:16] jgwest commented on #1871
Bug was missing area tags, so I took a guess at who should see it...

[2020-01-29 21:18] jgwest commented on #1008
@jopit @deboer-tim Can this be closed?

[2020-01-29 21:22] sishida commented on #1936
- The "After installing Codewind" and "Using Codewind from the Che Theia IDE" sections have been removed from the https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-che-installinfo.md file as part of the Che documentation restructuring.
- Registry info will go in a separate file in the documentation.
- We also aim to make the Che section of the documentation more paralle

[2020-01-29 21:22] ssh24 commented on #1930
Actually, I just tried with commenting out `NODE_ENV=development` from master without removing the eslint-rules from dockerignore and it failed the build. So it still doesn't say why the PR builds in master work

[2020-01-29 21:28] eharris369 opened #1938 "[Eclipse IDE] Improve the error handling for cwctl commands"
Improve the error handling for cwctl commands.

[2020-01-29 21:36] tetchel commented on #1936
ok, i think it's fine to close this under 1758 as linked, then.

[2020-01-29 21:36] #1936 closed

[2020-01-29 21:46] tetchel commented on #1776
Guys, this should be fixed now. Give it a try and verify if you don't see it anymore.

[2020-01-29 22:57] yangcao77 opened #1939 "Need more details in the log on changed files received in Turbine level"
Recently we saw some unexpected builds got triggered, with the following message

[code]

However, the log is unclear which file, and what type of change triggers the rebuild. It is hard to debug without those information.

Turbine should log the changed files in the log.

[2020-01-29 22:58] yangcao77 commented on #1939
/area iterative-dev
/assign
/pipeline in progress

[2020-01-29 23:01] yangcao77 commented on #1939
Will reuse the code in filewatcher to log out at most 256 characters to prevent the log from logging too much info in the case of a large change
https://github.com/eclipse/codewind-filewatchers/blob/96bfb5d1d839002328d2215bf53f5b2e0ee76a65/Filewatcherd-TypeScript/src/lib/FileChangeEventBatchUtil.ts#L194

[2020-01-29 23:55] #1839 closed

[2020-01-30 00:07] maysunfaisal commented on #1930
Here is a matrix of working and not working conditions:

| NODE_ENV | .dockerignore | Observation |
| :----------: | :-------------: | :-----------: |
| development     | with portal/eslint-rules | does not work |
| development      | without portal/eslint-rules      | works |
| production | with portal/eslint-rules      | works |
| production | without portal/eslint-rules     | works |

[2020-01-30 08:49] tobespc commented on #1032
lets remove the operation section and close this off. @mattcolegate

[2020-01-30 09:40] jcockbain commented on #1923
Validate calls the PFE /ignored-paths [API] (https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/ignoredPaths.route.js) for any project type [here](https://github.com/eclipse/codewind-installer/blob/master/pkg/project/create.go#L328) to get the ignoredPath list to add to .cw-settings.

It then calls PFE /extensions [here](https://github.com/eclipse/codewind-installer/blob/master/

[2020-01-30 09:45] rwalle61 commented on #1910
The locking mechanism is currently designed to try to get a lock for 1 second then throw this error. Perhaps we need to extend this time, or maybe it should never take this long and we have a bug causing it to take so long

[2020-01-30 09:53] #1886 closed

[2020-01-30 09:54] jcockbain commented on #1805
All projectTypes require a PFE when validating, due to the API calls described in #1923.

At the moment, in the cases on commands with a conid flag to call an API on a specific PFE, where one isn't given we default to local PFE. If a local PFE isn't up, we output the error seen in #1923 (which I agree could be clearer).

[2020-01-30 10:21] james-wallis commented on #1788
The PR for moving all our images to a standard image (centos:8) has been merged.
In addition I've spoken to multiple people including @jopit who have been unable to get `buildah` running in the UBI image because it isn't included in the default `yum` repositories. In other IBM projects that use `buildah` inside a Docker image they are not using `ubi` but instead using Fedora.

[2020-01-30 10:22] #1887 closed

[2020-01-30 10:49] markcor11 commented on #1900
I think the annotations in IKS are different to those we are using - I can add them in, but could you please try editing the Gatekeeper ingress and add these two additional annotations :

    ingress.bluemix.net/redirect-to-https: "True"
    ingress.bluemix.net/ssl-services: ssl-service=codewind-gatekeeper-k5y9bjox

[2020-01-30 10:59] hhellyer commented on #1910
It shouldn't take long to write to the file, I think if we extend the lock then we risk just creating a longer queue.

It might be worth reviewing whether this is still a problem after #1875 is fixed as we may be holding the lock for longer if we are trying to write more fields to the project.inf file. Resloving that may also resolve this.

[2020-01-30 11:01] mattcolegate commented on #1032
@stalleyj This just needs `operation` removing from the project object when writing out to the .inf file

[2020-01-30 11:02] mattcolegate commented on #1032
/unassign

[2020-01-30 11:14] stalleyj commented on #1032
/assign

[2020-01-30 11:15] stalleyj commented on #1875
/assign

[2020-01-30 11:45] tobespc commented on #1849
changes made to the installer

[2020-01-30 11:54] #1350 closed

[2020-01-30 11:57] micgibso commented on #1761
@j-c-berger Not quite; a few more comments from Sarah on PR #333 for her to approve.

[2020-01-30 12:02] micgibso commented on #1824
@DavidG1011 Hi David, Please see https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remotedeploy-combo.md for the new version of these instructions.
Have added the `oc` commands required to impart the correct permissions before the `cwctl install remote` commands. Please verify, thx!

[2020-01-30 13:08] #1465 closed

[2020-01-30 14:04] markcor11 commented on #1892
PR #349 landed

/pipeline Verify

[2020-01-30 14:05] Huixtocihuatl commented on #79
Hello,

Could you tell me how to get a Swagger UI run in Eclipse like the two examples from @keithchong

Many thanks in advance

Huix

[2020-01-30 14:13] bsteinfeld commented on #1900
Thanks @markcor11 .

I applied the ingress rules  (`kubectl edit`) while `cwctl` was waiting for Codewind Gatekeeper to start and it *did* connect and complete the installation.

All I've tested [so far] is that https://<gatekeeper_url>/health and https://<gatekeeper_url>/api/pfe/ready work - they both return `OK` which I assume is good.

[2020-01-30 14:25] ssh24 commented on #1930
**Verified**

Closing this issue. Feel free to reopen if needed

[2020-01-30 14:25] #1930 closed

[2020-01-30 14:28] stalleyj commented on #1892
Verified that a sensible error message is now returned when the user get's the URL wrong.

[2020-01-30 14:28] #1892 closed

[2020-01-30 14:32] ssh24 commented on #1222
Here is the 0.7.0 data:
![Screen Shot 2020-01-30 at 9 24 32 AM](https://user-images.githubusercontent.com/15173354/73458450-494eeb00-4343-11ea-93f0-dd860b795abc.png)

Looks like liberty failed to edit dockerfile or even example.java script throughout all iterations and that's why there is no time there. Looking at the logs it looks like the issue we were seeing in Liberty and the one @maysunfaisal

[2020-01-30 14:36] stalleyj commented on #1875
Will be fixed when https://github.com/eclipse/codewind/pull/1941 lands.

[2020-01-30 14:37] stalleyj commented on #1856
Removal of detailedAppStatus will be fixed when https://github.com/eclipse/codewind/pull/1941 lands

[2020-01-30 14:38] stalleyj commented on #1032
Operation removed in https://github.com/eclipse/codewind/pull/1941

[2020-01-30 14:48] stalleyj commented on #1032
/pipeline verify

[2020-01-30 14:49] stalleyj commented on #1875
/pipeline verify

[2020-01-30 14:49] stalleyj commented on #1856
/pipeline verify

[2020-01-30 14:49] jopit commented on #1269
- Ask appsody team to modify stack description to explain there is no server by default (Andrew/Appsody)
  - related issue: https://github.com/appsody/stacks/issues/602
- Add link to the appropriate docs from the "couldn't ping" message (Turbine team)
  - related issues: https://github.com/eclipse/codewind/issues/1812
- Provide the ability for the user to control the pinging (by setting -1 in .cw-

[2020-01-30 15:02] jopit commented on #1008
Yes, closing

[2020-01-30 15:02] #1008 closed

[2020-01-30 15:07] rtaniwa commented on #1900
@micgibso once this work closes, please work with @markcor11 to ensure we have all the necessary steps captured in the documentation to support this configuration (see comments above: **I've been able to deploy keycloak after adding a local StorageClass to get around jboss directory permission errors**). Running CW in this configuration against both IKS and OpenShift on IKS are two key scenarios w

[2020-01-30 15:20] travis1111 commented on #1836
### Codewine projects

1. Go: works

2. lagom: modified code, save, auto build kicks in:

[code]

3. microprofile:

[code]

4. node js:

[code]

5. Open liberty:

[code]

6. Python:

[code]

7. Spring boot:

[code]

8. swift:

[code]

### Appsody projects

All 12 templates cannot build.  Same symptom:

![image](https://user-images.githubusercontent.com/35569780/73462567-05131900-434a-11ea-9c74-e7e

[2020-01-30 15:26] DavidG1011 commented on #1824
Hey @micgibso. Looks good to me. Thank you!

[2020-01-30 15:26] #1824 closed

[2020-01-30 15:39] makandre opened #1943 "Re-enable creating .cw-settings for extension projects on create/bind"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

This came out of discussions for https://github.com/eclipse/codewind/issues/1269

Need to investigate if it make sense to re-enable creating `.cw-settings` for  extension projects (Appsody and ODO) on create/bind.  It was disabled via https://git

[2020-01-30 15:39] makandre commented on #1269
Opened https://github.com/eclipse/codewind/issues/1943 for the last bullet point

[2020-01-30 16:30] eharris369 opened #1945 "Inconsistent behaviour for internal debug port in project info"
When I create a new spring project the project info is as follows and includes the internal debug port:
[code]
If I then switch it to debug mode and back to run mode again then the internal debug port is not there even though the mode is the same:
[code]

[2020-01-30 16:57] bsteinfeld commented on #1900
@rtaniwa @micgibso @markcor11  Let me add more details about the issue (thanks that you brought it up again).

First of all, the error occurs during the _keycloak_ installation step of running a `cwctl install remote` command against an IKS cluster.

Keycloak errors out with the following:

[code]

This issue is related to the default `StorageClass`es IKS provides:

[code]

I haven't dug in too de

[2020-01-30 17:04] james-wallis commented on #1522
Have tested this and it works.

[2020-01-30 17:04] #1522 closed

[2020-01-30 17:06] johnmcollier commented on #1900
@bsteinfeld FWIW, IBM Block storage should work with Keycloak:
https://cloud.ibm.com/docs/containers?topic=containers-block_storage

[2020-01-30 17:20] keithchong commented on #79
Hi Huix, the usability enhancement for Spring has been added.  The usability enhancement for Node has not.  For Spring, try the following:

- Install Codewind, and the OpenAPI tools for Codewind for Eclipse
- From the Codewind Explorer view, create a Codewind Spring Boot project and wait for it build successfully and move to `Running` state
- Right click on the project and turn off auto-build for

[2020-01-30 17:24] maysunfaisal commented on #1923
Chatted with @jcockbain, he explained to me why a conID is required on project create and why we were not seeing it previously - installer changed logic around how it handles connection recently and apparently project create always required conID since some time, but since recently does cwctl make sure we always need a conID.

Closing this issue as invalid and will workaround the issue to use the

[2020-01-30 17:24] #1923 closed

[2020-01-30 17:26] maysunfaisal opened #1947 "Update cwctl usage on Turbine Functional Test"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
`cwctl project create` requires a `conID` but they didnt catch it since recently. So with the latest installer change, we now always need a `conID`

Update the tests to reflect this. See issue #1923 for details.

/area iterative-dev
/kind test
/assign

[2020-01-30 17:27] maysunfaisal commented on #1947
/pipeline In Progress

[2020-01-30 18:14] jgwest opened #1949 "Invalid OpenAPI validation rejects filewatcher PUT request, causing continuous PUT requests to PFE and high CPU/resource usage"
When starting to watch a new Codewind project, the filewatcher is failing on attempting to report the status to PFE.

In the filewatcher log, the following is repeated over and over again:
[code]

Unfortunately there is no rate limiting on this request (which is a FWd bug I will address separately), but the main issue is that this PUT request should not be rejected.

This bug was introduced here:

[2020-01-30 18:16] #1563 closed

[2020-01-30 18:27] jgwest commented on #1949
`^[0-9a-f]{32}$` doesn't validate a UUID like `58f9234d-3ac0-4771-bea3-aab969e31faa` because the standard string representation of a UUID is > 32 characters.

[2020-01-30 18:39] jopit commented on #1949
`^[0-9a-f]{32}$` will also reject UUIDs of that form because it doesn't match the '-' character.

[2020-01-30 18:44] sghung commented on #1836
TODO: setup meeting with Elson and Travis to discuss cache options

[2020-01-30 18:45] rwalle61 commented on #1949
the form worked for me locally, so the `clientUuid` appears to vary between the filewatchers. PR 1951 weakens the validation to allow both formats. That solves the problem for me locally, but if it persists we can take out  `validateReq` from https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/fileChanges.route.js#L28 and skip this test https://github.com/eclipse/codewin

[2020-01-30 18:52] #1938 closed

[2020-01-30 18:52] jgwest commented on #1949
As Richard notes, the format between the UUID filewatchers is different between implementations, which is not ideal, and I will take responsibility for.

[2020-01-30 18:53] travis1111 commented on #1872
/assign

[2020-01-30 18:54] jgwest commented on #1949
I tested the fix in a self-hosted environment and it appears to be fixed 👍 , I will wait for built images to appear, and verify on those before I close.

[2020-01-30 18:55] sghung commented on #1254
Need to create an appsody stack with the performance test in order to hook into the new test framework.

TODO: book meeting with Tim E, Andrew, and Laven to discuss possible alternatives to create an appsody stack with json just for running tests

[2020-01-30 19:00] jgwest opened #1952 "[Filewatcherd] Java Filewatcher is not correctly rate limiting its PUT requests on failure"
The Java filewatcher has built-in rate limiting logic for it's HTTP requests, including PUT, but the PUT-specific logic is broken; it would correctly detect failures in some cases but not others.

I've confirmed that the other filewatchers don't have this issue (the implementation differs significantly between the three versions), and likewise the other Java HTTP request emitters don't have this i

[2020-01-30 19:01] jgwest commented on #1949
Issue for Java filewatcher not rate-limiting it's PUT requests: https://github.com/eclipse/codewind/issues/1952

[2020-01-30 19:04] keithchong commented on #983
@jgwest, one thing I didn't mention was that in step one, the class is missing an import:
import org.eclipse.codewind.filewatchers.JavaNioWatchService;

[2020-01-30 19:09] sghung commented on #1786
Che uses jekyll-search (which we also used in microclimate, but was bad). Maybe look into Google custom search or other third party stuff.

[2020-01-30 19:20] tetchel commented on #1856
omitting the detailed app status from the inf file will not affect this behaviour because it will still be saved in RAM

[2020-01-30 19:32] sishida commented on #1908
PR merged. Closing this issue.

[2020-01-30 19:32] #1908 closed

[2020-01-30 20:05] malincoln commented on #1806
@johnmcollier has a Che issue been opened yet?

[2020-01-30 20:07] #1952 closed

[2020-01-30 20:08] jgwest commented on #1952
Fixed by PR.

[2020-01-30 20:09] malincoln commented on #1746
@rajivnathan is this ready to verify or should be moved back to in progress?

[2020-01-30 20:09] makandre opened #1953 "Eclipse: copy/paste file into project, cwctl does not sync it to PFE"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:** Eclipse
**IDE version:**
**Kubernetes cluster:**

**Description:**

It's somewhat intermittent and only reproducible on Eclipse.  Found initially by @jgwest.

**Steps to reproduce:**

1. Copy a file from another project and paste it into the root of a project that's bound to Codewind (the target project)
2. If file i

[2020-01-30 20:10] makandre commented on #1953
/area portal
/area eclipse-ide

[2020-01-30 20:12] tetchel commented on #1746
still needs to be fixed in eclipse

[2020-01-30 20:23] rajivnathan commented on #80
@johnmcollier mentioned he can review whether this is still needed.

[2020-01-30 20:24] elsony commented on #1812
After discussing with the IDE team, we think we'll still need a way for the IDE to track if they have displayed the specific notification to the user before or not. Therefore, here is the extra that we need to do:
1. Add a new field, e.g. notificaitonID, to the status message. The notificationID is specific to the instance of the problem. When the app status changes, e.g. from starting to started/

[2020-01-30 20:29] yangcao77 commented on #1939
/pipeline Review/QA

[2020-01-30 20:30] yangcao77 commented on #1857
/pipeline Review/QA

[2020-01-30 20:39] jgwest commented on #1735
Reopening as this enhancement was opened to track a requested code change, not a doc update.

[2020-01-30 20:47] eharris369 commented on #1746
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/558

[2020-01-30 20:53] jagraj opened #1954 "SVT:Remote Codewind install on OpenShift need updates to the docs."
**Codewind version:** 0.8.0
**OS:** Windows/Mac/Linux

**Che version:**
**IDE extension version:** 0.8.0
**IDE version:** 2019-09
**Kubernetes cluster:**

**Description:**
I followed these instructions (https://www.eclipse.org/codewind/remoteconfiguring.html#configuring-other-cloud-deployments) to Install Codewind on OpenShift and It failed to install. The doc says user does not need to create "na

[2020-01-30 20:54] jagraj commented on #1954
/area portal
/priority hot

[2020-01-30 20:54] jagraj commented on #1954
/area docs

[2020-01-30 21:11] jagraj commented on #1373
@malincoln @johnmcollier
I do not see this problem, but I get into other problem after following our docs for remote codewind install and I opened this issue (https://github.com/eclipse/codewind/issues/1954) to track this.  Once we fix docs or CLI to install remote codewind then we are good.  Looks like John opened this issue are you ok to close this issue.?

[2020-01-30 21:41] makandre opened #1955 "Why is 4913 ignored?"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

In the default `.cw-settings` file, one of the ignored path is `*/4913`.  What's special about this path?  Why is it ignored?

[2020-01-30 21:44] johnmcollier commented on #1955
From https://github.com/eclipse/codewind/blob/491c1d55d2c7d8c2eb2aaebcd5a682a34d17c879/src/pfe/file-watcher/server/src/projects/DockerProject.ts#L75:

[2020-01-30 21:47] tetchel commented on #1955
https://vi.stackexchange.com/a/9380 :)

[2020-01-30 21:48] johnmcollier commented on #1955
So ignoring 4913 only helps if 4913 doesn't already exist

[2020-01-30 21:51] tetchel commented on #1955
i suppose we must also ignore 5036, 5159, 5282, 5405, 5528, 5651, 5774, 5897, 6020, and the rest of them.

[2020-01-30 21:55] makandre commented on #1955
Guess I should have search the code first.  Case closed!

[2020-01-30 21:55] #1955 closed

[2020-01-30 23:06] rajivnathan opened #1956 "nodejs project build status stuck and stops processing updates"
**Codewind version:** master branch
**OS:** Mac OS Catalina

**Description:**

**Steps to reproduce:**
1. Create a nodejs project
2. Make a change to the health.js file (The first change takes effect)
  - Notice the status is stuck on `Building - Build started`
3. Make another change to the health.js file. (This one does not take effect)
  - Notice the status is the same as before

![image](https:

[2020-01-31 05:29] Huixtocihuatl commented on #79
Hello keithchong,

I am sorry. I do not understand. I am new to Codewind.

(1)
What do you mean with "the usability enhancement for Spring has been added. The usability enhancement for Node has not"? I just need (want) an OpenAPI-Viewer within Eclipse. I just want to view an OpenAPI-file within Swagger. Is your way the best way for achieving this?

(2)
Could you also help me with folloing exceptio

[2020-01-31 07:40] Huixtocihuatl commented on #79
The reason for (2) in my request above is that Codewind puts its libraries in main.
I tried several alternatives, but cannot get rid of this. I created a Java Project > imported YAML-files > rightclick on the Project > OpenAPI Generate > Client API Stub

![Bug](https://user-images.githubusercontent.com/58509733/73520991-369cea80-4405-11ea-9e2e-37b35f4a0e8d.png)

[2020-01-31 08:01] #1761 closed

[2020-01-31 08:38] markcor11 commented on #954
Made some changes to app metrics and now can get the timed collection to expire within a few milliseconds of a timed capture.

Work completed so far :

-[x] Appmetrics-Codewind : https://github.com/markcor11/appmetrics-codewind/tree/954-TimedMetricsCollection
-[ ] Javametrics/Codewind - in progress
-[ ] Wire up PFE to use the 2 new metrics collection APIs

[2020-01-31 08:57] mattcolegate commented on #1875
@tetchel PR has landed so this issue is ready for verification please

[2020-01-31 09:19] james-wallis commented on #1848
PR raised: https://github.com/eclipse/codewind-installer/pull/351/

[2020-01-31 09:43] liamchampton commented on #1316
@jopit please can you verify this is now fixed?

[2020-01-31 09:44] liamchampton commented on #1316
/pipeline Verify

[2020-01-31 11:55] mattcolegate opened #1960 "Improve identification of Open Liberty projects"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Open Liberty projects currently present themselves to Codewind as Docker projects with language as Java. As we look to support the default metrics that come with Open Liberty, it would be advantageous to be able to have them uniquely identifiable

[2020-01-31 12:40] rwalle61 commented on #1709
I get this problem on latest master if I call `POST /projects/:id/restart` with startMode `debug` on a Node.js project:
[code]

[2020-01-31 13:19] tobespc opened #1961 "Default hybrid mode shouldn't need user defined docker registry"
With the new hybrid connection, we need to have a docker registry setup to push images too.   Currently, we are using docker.io and all our personal project etc are filling that up.  This also means we are publishing everything we do to public docker.

Rather than do that, we should default to a temporary 'scratch pad' registry that would be used for all the development builds of applications.  Us

[2020-01-31 13:32] micgibso commented on #1814
@jagraj See new remote install topics: remotedeploy-combo.html and remotedeploy-single.html

[2020-01-31 13:35] tobespc opened #1963 "additional mpmetrics data to appear on performance graphs"
Currently, our dashboards display a very limited set of data from mpmetrics.   However, some of the data that mpmetrics outputs could well work on our dashboards if we used their labels.   This work it to identify and list all the current metrics available in mpmetrics on the /metrics endpoint and see which ones potentially could be displayed.

Then modify our dashboards to show that data.

[2020-01-31 13:36] tobespc commented on #1963
@mattcolegate Can you take this one please Matt

[2020-01-31 13:40] johnmcollier commented on #1961
I have some concerns about this being installed by default:
- Using a local registry with self-signed certs means that each worker node needs to have that registry whitelisted then be restarted for the changes to take effect. This is **not** possible on most managed Kubernetes offerings like IKS or ROKS
- Greatly increases out storage requirement from 2Gi (1Gi for Keycloak, 1Gi for PFE) to well ov

[2020-01-31 13:46] makandre commented on #1943
/assign
/assign @jingfuwang

[2020-01-31 13:47] jgwest commented on #1943
@makandre: GitHub didn't allow me to assign the following users: makandre jingfuwang

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2020-01-31 13:48] makandre commented on #1943
/assign

[2020-01-31 13:50] mattcolegate commented on #1963
/assign

[2020-01-31 13:54] markcor11 commented on #1900
PR: Add IKS ingress annotations to cwctl:   https://github.com/eclipse/codewind-installer/pull/356

I think once this PR gets merged we can probably close this issue, I'll create a new followup issue for the new IBM Cloud storage problem that effects both IKS and Openshift on IKS.

[2020-01-31 13:56] micgibso commented on #1847
Need to verify this is also present in the restructured 0.9.0 docs

[2020-01-31 14:02] markcor11 opened #1964 "Default storage permissions in IBM Cloud (IKS and ROKS) block Codewind remote install"
**Codewind version:** 0.8.0

**Description:**
Unable to deploy Codewind remote into IKS (both Kubernetes and Openshift) - permission issues with storage.

**Steps to reproduce:**

* Set up either a Kubernetes or Openshift cluster in IBM Cloud,
* Attempt to deploy Codewind Remote
* Persistent storage is not writeable for non-root containers which stops Keycloak starting

[2020-01-31 14:06] markcor11 commented on #1964
/area portal
/assign

[2020-01-31 14:06] rwalle61 commented on #1716
After 1 week PFE's overall test coverage has gone up 11% from 55% to 66%:
![image](https://user-images.githubusercontent.com/18170169/73544661-98734980-4431-11ea-8925-594d83321128.png)

Coverage of /projects routes has gone up 31% from 40% to 71%:
![image](https://user-images.githubusercontent.com/18170169/73544721-b476eb00-4431-11ea-9ac1-e571db96292d.png)

[2020-01-31 14:06] rwalle61 commented on #1716
I will open issues for the remaining 2 /projects routes not yet covered:
- [ ] compare (metrics)
- [ ] logStream

Increasing our test coverage has exposed several small bugs and lots of discrepancies with our OpenAPI docs. I have linked our tests to our docs where possible, using `reqValidator` in our route code and `res.should.satisfyApiSpec` in our tests.

Code covered by tests can still fail -

[2020-01-31 14:06] markcor11 commented on #1900
Followup issue for storage problem : https://github.com/eclipse/codewind/issues/1964

[2020-01-31 14:09] rwalle61 opened #1965 "Unskip PFE /projects/{id}/compare API tests"
Leftover work from https://github.com/eclipse/codewind/issues/1716

The PFE tests that involve the `compare` route are important, but skipped. I think it would be fairly straightforward to unskip them.

Test coverage is currently at 32%, well below our standard of 70%:
![image](https://user-images.githubusercontent.com/18170169/73545444-4501fb00-4433-11ea-9aae-3846acfd7dba.png)

[2020-01-31 14:10] rwalle61 commented on #1965
/area portal

[2020-01-31 14:13] rwalle61 opened #1966 "Unskip PFE /projects/{id}/logs API tests"
Leftover work from https://github.com/eclipse/codewind/issues/1716

Our `logs` routes are important, but we do not have any tests for them. I think it would be fairly straightforward to add some tests for them.

Test coverage is currently at 13%, well below our standard of 70%:
![image](https://user-images.githubusercontent.com/18170169/73545662-acb84600-4433-11ea-812d-8be70b0c3802.png)

/area por

[2020-01-31 14:13] markcor11 commented on #1964
Reproduced this in Kubernetes and Openshift on IBM Cloud using `ibmc-block-gold` `ibmc-block-bronze` and `ibmc-file-bronze` storage classes with RWO and RWX.  Looks like non-root containers are unable to write to the storage although the storage does appear bound

[2020-01-31 14:18] rwalle61 commented on #1716
For reference, coverage of portal modules is 59% (this shows where unit tests are needed):
![image](https://user-images.githubusercontent.com/18170169/73545984-4ed82e00-4434-11ea-808d-7b3ccb1a64c1.png)

And coverage of portal non-project routes is 69% (2 routes untested):
![image](https://user-images.githubusercontent.com/18170169/73546046-6b746600-4434-11ea-9a85-fbd3da6bac04.png)

[2020-01-31 14:39] jgwest commented on #1943
/assign @GeekArthur

[2020-01-31 15:03] tetchel commented on #1709
You will get this error if the project was created between when the template was broken in October and fixed above, does it happen with a new project too?

[2020-01-31 15:10] malincoln commented on #1849
@tobespc is this ready to be moved to verify?

[2020-01-31 15:21] makandre commented on #1943
I tested the various settings in `.cw-settings` with appsody projects and did not encounter any unexpected behaviour.  From appsody perspective we are ok to re-enable the file back in the project.

[2020-01-31 15:32] markcor11 commented on #1964
/priority hot

[2020-01-31 15:45] sishida commented on #1929
Links to relevant pull requests:
1️⃣ Adding IntelliJ file to table of contents: https://github.com/eclipse/codewind-docs/pull/313
2️⃣ Adding IntelliJ file: https://github.com/eclipse/codewind-docs/pull/340

[2020-01-31 15:47] mattcolegate commented on #1509
Open Liberty Injection now delivered through the three PRs above and can be verified.
/pipeline Verify

[2020-01-31 15:53] mattcolegate commented on #1963
/pipeline in progress

[2020-01-31 15:53] #983 closed

[2020-01-31 15:57] jagraj commented on #1776
Our team verified this and we can not reproduce this problem any more.

[2020-01-31 16:17] jopit commented on #1565
Done for IntelliJ: https://github.com/eclipse/codewind-intellij/pull/10

[2020-01-31 16:17] maysunfaisal commented on #1947
/assign @ssh24

[2020-01-31 16:18] jgwest commented on #1947
@maysunfaisal: GitHub didn't allow me to assign the following users: ssh24

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2020-01-31 16:45] malincoln commented on #1505
@tetchel I see this is still in progress and labeled for 0.8.0 which has past.  I'll remove the release label for now.  Once it is targeted, pls add new release.  Thanks

[2020-01-31 16:47] malincoln commented on #1558
@tobespc I'm removing the 0.8.0 release label since that has past.  Pls update release once you know when it will be targeted.  Thanks

[2020-01-31 16:48] malincoln commented on #1735
@tobespc I removed the 0.8.0 release label. Pls update once targeted release is known.  Thanks

[2020-01-31 16:50] malincoln commented on #512
@johnmcollier pls verify and close.  Thanks

[2020-01-31 16:52] tetchel commented on #1505
it should be fixed now

[2020-01-31 17:03] eharris369 opened #1967 "[Eclipse IDE] Bump versions for 0.9.0"
Bump up the plugin and feature versions for 0.9.0

[2020-01-31 17:13] ssh24 commented on #1947
Hello!

[2020-01-31 17:13] ssh24 commented on #1947
/assign

[2020-01-31 17:21] rwalle61 opened #1968 "Can't restart Codewind node project in debug mode (using PFE API directly)"
**Codewind version:** latest
**OS:** mac
local

following on from https://github.com/eclipse/codewind/issues/1709

**Steps to reproduce:**
1. Create a Node.js project in IDE
2. call `POST /projects/:id/restart` with startMode `debug` on the project
3. see the following error (in PFE logs) and project does not restart
[code]

Potential fix:
Include `debug` in the Node.js project capabilities: https

[2020-01-31 17:24] rwalle61 commented on #1709
this happens with a project created from the fixed template, I think because the cause may be the Node.js project capabitilites in nodejsProject.ts.

Let's move discussion of the behaviour of the PFE API to https://github.com/eclipse/codewind/issues/1968 and keep this issue for tracking the ability to restart a project in either debug mode in the IDEs, which has been resolved

[2020-01-31 17:24] mattcolegate commented on #1963
Here's the list of the currently available metrics on `/metrics` and whether they're being used right now

## Open Liberty
Metric | Description | In use?
--- | --- | ---
base:cpu_system_load_average | system load average for the last minute | yes
base:cpu_process_cpu_load_percent | recent cpu average for the JVM process | yes
base:gc_scavenge_time_seconds | approx. accumulated collection elapsed t

[2020-01-31 17:28] maysunfaisal commented on #1525
/assign

[2020-01-31 17:30] tetchel commented on #1968
oh, i misunderstood your comment on the old issue. This is the correct behaviour.

The history of `debug` / `debugNoInit` is that when we first implemented restart-into-debug in Microclimate, we supported Microprofile first. Microprofile servers started in debug mode wait for the debugger to attach **before starting the server**. This means that in Microclimate/Codewind, the project will get stuck

[2020-01-31 17:38] markcor11 commented on #1964
Rather than doing a combo all-in install, tried just Keycloak with the `--konly` flag to install only the  Keycloak pod and config.  This worked,  the Keycloak POD deployed, storage bound and it Keycloak was able to create and write out the H2 database using ` ibmc-block-gold` (cluster default).   Next step install remote

[2020-01-31 17:43] #1875 closed

[2020-01-31 18:00] jgwest commented on #1949
Verified as fixed 🎉

[2020-01-31 18:00] #1949 closed

[2020-01-31 18:11] maysunfaisal opened #1971 "Turbine Functional Kube: Before and After hooks failing on Spring"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
As per the log below, it looks like after Helm install; the operation fails.
Looks like the maven failed? I see `updateBuildState default-spring-1580313325381 failed buildscripts.buildMavenFail`

[code]
Entire log:
[kube-functional-test-1.log](https://github.com/ecl

[2020-01-31 18:23] maysunfaisal opened #1972 "Turbine Local Functional Failures on create & modify"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
### During modify, PFE emits socket events but tests dont catch it:

[code]

### During file create, PFE doesnt seem to kick off a build
[code]

Full log:
[local-functional-test.log](https://github.com/eclipse/codewind/files/4140784/local-functional-test.log)

/area

[2020-01-31 18:33] markcor11 commented on #1964
After creating a new namespace just for Codewind (leaving the Keycloak one alone) then running the commands :
[code]
Codewind started up,  `ibmc-file-bronze` storage was accessible, and the deployment including Gatekeeper ran fine.

So at this point we can again deploy into ROKS but only if Keycloak and Codewind are in separate namespaces. However, if the `anyuid` and `privileged` policy changes s

[2020-01-31 18:55] yangcao77 commented on #1857
/pipeline verify

[2020-01-31 18:55] tetchel commented on #1910
fwiw i only saw this on a remote connection, which makes sense because it would take longer to update the file when we're writing to NFS storage instead of a regular disk

[2020-01-31 18:57] johnmcollier commented on #1964
I vote in favour of having cwctl issue the `oc adm policy` commands for the Codewind service account **provided** our docs outline that we'll be doing that for them

[2020-01-31 19:08] maysunfaisal opened #1973 "Project Create Failing on Helm Install"
**Codewind version:** latest Jan 31
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**
[code]

complains about
`Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(Service.metadata.ownerReferences[0]): missing required field "kind" in io.k8s.apimachinery.p

[2020-01-31 19:10] ssh24 commented on #1972
/assign

[2020-01-31 19:21] jopit opened #1974 "[IntelliJ] Allow enabling and disabling autobuild"
Since IntelliJ by default automatically saves changed files, it's important that users have the ability to turn auto-build off for projects running in Codewind

[2020-01-31 19:40] ssh24 commented on #1973
I am able to reproduce this as well on che with latest devfile

[2020-01-31 19:49] maysunfaisal commented on #1973
/priority stopship
/area iterative-dev

[2020-01-31 19:51] maysunfaisal opened #1975 "Portal API File-changes spamming infinitely"
**Codewind version:** latest Jan 31
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**
When opening issue #1973 I am seeing this on the log:

[code]

Its making it very difficult to read the log because of the above spam. Dont know if its functionally breaking anything, maybe #1973

/area portal
/area iterative-dev
/priority hot

[2020-01-31 19:53] maysunfaisal commented on #1973
Not sure if #1975 has something to do with this issue, opened at the same time since they're occuring together

[2020-01-31 19:58] ssh24 commented on #1975
I think this is a stopship. I am totally blocked by it and can't create any projects

[2020-01-31 20:11] #1947 closed

[2020-01-31 20:23] GeekArthur commented on #1943
I remember we disable the `.cw-settings` for all extensions before, but I find the odo project type already enabled `.cw-settings` but appsody project type doesn't enable, probably something changes in installer.

<img width="1680" alt="Screen Shot 2020-01-31 at 3 21 00 PM" src="https://user-images.githubusercontent.com/15131537/73571770-4f28f700-443d-11ea-9d1a-a4cfde25cc54.png">

[2020-01-31 20:27] makandre commented on #1943
@GeekArthur Thanks for checking so looks like we can go ahead then. I'll put up a PR shortly.

[2020-01-31 20:41] jgwest commented on #1975
/verify

[2020-01-31 20:42] jgwest commented on #1975
/pipeline verify

[2020-01-31 20:47] GeekArthur commented on #1838
If we let our Turbine Functional Tests still work without `.cw-settings` we may have two problems:
- We are not able to catch the issue https://github.com/eclipse/codewind/issues/1829 any more, although it's from Portal, but it would be good we disable the catch after Portal's tests cover this
- Turbine Functional Tests also test the project settings features from Turbine, so project settings will

[2020-01-31 21:44] johnmcollier commented on #1973
PR up at https://github.com/eclipse/codewind/pull/1976

[2020-01-31 22:24] #1972 closed

[2020-01-31 22:50] #1973 closed

[2020-01-31 22:54] maysunfaisal commented on #1975
verified on Che, thx for the change

[2020-01-31 22:54] #1975 closed

[2020-02-03 08:13] markcor11 commented on #1829
I posted a PR for this https://github.com/eclipse/codewind-installer/pull/342 that ran validate after create in order to re-add the .cw-settings

/pipeline Validate

[2020-02-03 08:14] jgwest commented on #1829
@markcor11: Unable to locate pipeline with name: `Validate`

[2020-02-03 08:28] markcor11 commented on #1829
/pipeline Verify

[2020-02-03 09:10] micgibso commented on #1954
See https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remotedeploy-combo.md for the latest draft of the instructions.

[2020-02-03 11:22] tobespc commented on #466
appsody projects are the only ones that need sharing still

[2020-02-03 11:22] tobespc commented on #1849
yes, this can be moved to verify, no need to doc this

[2020-02-03 11:38] tobespc commented on #1961
taking the implementation of this aside, I think its a poor user experience that our default behaviour is to require a user to enter docker registry credentials.   If a user is new to docker, this could be a complete blocker to them

[2020-02-03 11:50] markcor11 commented on #1964
Discussed during iteration kickoff and decided not to make a code change.  Instead we will modify our documentation for IBM Public Cloud deployments outlining that Keycloak and Codewind must be installed in different namespaces.

[2020-02-03 12:06] jcockbain opened #1978 "Improve coverage of cwctl apiroutes package"
**Codewind version:** Latest

**Description of the enhancement:**

The cwctl apiroutes commands currently have 48% test coverage.

Now that we have the frameworks in place to mock the responses from a PFE, this can be increased without much complexity.

This guards against bugs being introduced in this core piece of logic, and increases confidence when making changes to the area.

**Proposed solut

[2020-02-03 12:06] jcockbain commented on #1978
/assign

[2020-02-03 13:11] hhellyer opened #1979 "Circular structure error in LoadRunner"
**Codewind version:**
latest
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
When running load against a project I had also displayed all the logs for I got the following stack trace in the pfe container logs:
[code]
This is probably because we removed the `toJSON` function from Project.js. We may need to re-implement this but make mo

[2020-02-03 13:25] mattcolegate commented on #1963
According to https://www.ibm.com/support/knowledgecenter/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/rwlp_monitor_metrics_rest_api.html, adding the `monitor-1.0` feature should also get us some HTTP stats - will look into that

[2020-02-03 13:50] MelHopper opened #1980 "Change ToC structure to work with user flows from docs landing page"
_Note: This github issue blocks the New Landing Page design: #2041_

**Note: this work item is directly affected by:

_Create new topic 'Using Codewind Locally' and add orientation to 'tutorialise'_** https://github.com/eclipse/codewind/issues/2243
_

which create the content for the new topics created in the ToC by this work item

**ENHANCEMENT**
Change of ToC required as per user flow design for

[2020-02-03 13:53] micgibso commented on #1762
Updates made, closing.

[2020-02-03 13:53] #1762 closed

[2020-02-03 14:05] malincoln commented on #938
@sghung as discussed, we should work to have a fix by dcut this Wednesday.  Thanks

[2020-02-03 14:08] malincoln commented on #1849
@jagraj pls verify and close. Thanks

[2020-02-03 14:13] malincoln commented on #1776
@tobespc do you need to verify before closing?

[2020-02-03 14:16] malincoln commented on #1746
I see the Eclipse fix is merged.  Any other fixes required?

[2020-02-03 14:20] johnmcollier commented on #1961
If there’s concerns around our instructions to the user or causing new users to get confused, I’d rather we improve our instructions in the IDE and docs.

I would also consider the requirements to restart your worker nodes to use the registry to be a bigger blocker than requiring the user have a docker registry account for Codewind projects. I think that requirement alone would shy a lot of users

[2020-02-03 14:23] eharris369 commented on #1746
/pipeline verify

[2020-02-03 14:28] #1776 closed

[2020-02-03 14:36] eharris369 commented on #1812
Can the link label be more descriptive like `Application status troubleshooting information` instead of `Troubleshooting status`?

[2020-02-03 14:57] jagraj commented on #1844
I am trying to verify this problem, but che workspace failed to create and here is the error from the broker.

[code]

[2020-02-03 15:03] malincoln commented on #1477
@GeekArthur just confirming this is still on target for 0.9.0 that dcut on Wednesday?

[2020-02-03 15:04] malincoln commented on #1750
@johnmcollier just confirming this is still on target for 0.9.0 that dcut on Wednesday?

[2020-02-03 15:16] tobespc commented on #1961
I've updated the requirement and removed the proposed implementation to allow us to focus on the requirement rather than the technical implementation

[2020-02-03 15:38] malincoln commented on #1842
@keithchong confirming this is still targeted for 0.9.0, dcut this Wednesday.

[2020-02-03 15:39] malincoln commented on #1844
@tobespc @rwalle61 ^^^

[2020-02-03 16:01] johnmcollier commented on #1806
@malincoln We've determined it to not be an issue with Chectl, and that our install docs need to be updated for Che. I'll remove the `external dependency` label from this issue and add the docs label to it.

I'll aim to get a docs PR open by this afternoon

[2020-02-03 16:02] johnmcollier commented on #1750
@malincoln Yup, getting a PR up later today for this.

[2020-02-03 16:02] tobespc commented on #1844
ummm, not sure what we can do ? looks like che is failing to pull all sorts of things

[2020-02-03 16:13] lentheivendra commented on #1812
Agreed, will change

[2020-02-03 16:17] rajivnathan commented on #812
@makandre we've made updates to the status code recently. Are you still seeing this issue?

[2020-02-03 16:19] rajivnathan commented on #1857
@travis1111 can you please verify? The behaviour should be to build the project once after re-enable even if auto-build is off. But if you make a code change it should not trigger further builds.

[2020-02-03 16:24] elsony commented on #1956
@ssh24  Can you take a look at this?

[2020-02-03 16:27] ssh24 commented on #1956
/assign
/pipeline in progress

[2020-02-03 16:32] makandre commented on #812
It may be better for @jagraj to comment on this.  He most often runs into this (applications getting stuck in stopped state) on restarting large workspaces.

[2020-02-03 16:48] rtaniwa commented on #79
@keithchong I think Huix might just be asking what UI is shown in the above screenshots that shows the APIs defined and allows testing.

[2020-02-03 16:54] GeekArthur commented on #1832
From Sujeily's `First Scenario` above, we can see the project `cw-appsody-eclipse-mp-jingfu-img-1` with project ID `09b5e220-3c70-11ea-8aa0-3573d69dd47d` is a danging project where still have project files on IDE side but already deleted on Turbine layer. For that project I can see `projectDeletion` has been emitted in the log.

[code]

@tetchel I think that's the `projectDeletion` event you mean?

[2020-02-03 17:00] tetchel commented on #1832
ok, this is a different bug than i described above. i will check it out

[2020-02-03 17:21] GeekArthur commented on #1477
I just try to reproduce this issue with latest master, it works for me. @malincoln Base on the priority and occurrence frequency described above, we can remove the 0.9.0 tag but I will keep an eye on this.

[2020-02-03 17:46] sujeilyfonseca commented on #1746
I verified this issue with the latest Codewind and I no longer see the problem.

However, Eclipse asks the user to configure an image registry every time an attempt is made to create a Codewind-style project. On the other hand, VS Code asks the user to create the image registry the first time, but if the user creates an image registry and deletes it, he/she will no longer receive the notification.

[2020-02-03 17:50] tetchel opened #1984 "Welcome page for Che/Theia"
https://github.com/eclipse/codewind/issues/153 is great for VS Code, but there are a number of key differences in Che.

- There's no Local or Remote, there's just the "local" in-cluster Codewind instance.
- There's some extra documentation under https://www.eclipse.org/codewind/mdt-che-overview.html
- The screenshot should be different because the Codewind view is on the right side in its own cont

[2020-02-03 17:52] tetchel commented on #1746
When you remove the push registry you get a pretty in-your-face warning that codewind projects will fail to build until a new push registry is selected, which is why I didn't bother blocking the user after that.

[2020-02-03 17:53] keithchong opened #1986 "[IntelliJ] Add .cw-settings File Type"
Similar to Eclipse's content types.

**Description of the enhancement:**
By adding this support:
The opened editor will have syntax highlighting and colouring
The Project view showing the file will have an appropriate JSON-related icon
The file is recognized as a file type and will show up in the IntelliJ preferences

[2020-02-03 17:55] sujeilyfonseca commented on #1746
That's true and the error message is now better. I'll proceed to close this issue.

[2020-02-03 17:55] #1746 closed

[2020-02-03 18:07] travis1111 commented on #1857
Thanks I will verify it shortly

[2020-02-03 18:07] malincoln commented on #1477
@sujeilyfonseca should we update the title to add "intermittent" since Jinfu cannot consistently recreate?

[2020-02-03 18:11] rtaniwa opened #1987 "1Q2020 Rolling Thunder plan"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

[2020-02-03 18:12] deboer-tim opened #1988 "First class integration with IntelliJ"
In addition to support for Eclipse classic, Eclipse Che, and Visual Studio Code, we need IntelliJ support for Codewind. Development has already started.

[2020-02-03 18:15] deboer-tim opened #1989 "Improve install experience for Remote support"
Currently we require installation of our Kube-side components for each developer wanting to use Remote Kube support. We need to improve on this by having a single admin install that support multiple developers doing remote development.

[2020-02-03 18:17] malincoln commented on #1269
is this still being targeted for this release (0.9.0)?

[2020-02-03 18:22] rtaniwa opened #1990 "Debug applications on Kube from desktop IDE"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

[2020-02-03 18:23] rtaniwa commented on #1990
/kind/epic

[2020-02-03 18:24] ssh24 commented on #1269
I think this needs to be at least documented for 0.9.0 if https://github.com/eclipse/codewind/issues/1943 is not completed

[2020-02-03 18:25] rtaniwa opened #1991 "Offline support phase 1: Day to day use"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Companies often want to use their own hosted or governed repositories for Maven, NPM, container registries, artifactory, etc. We need to walk through using each of these and make sure that Codewind supports (or at least doesn't conflict) with usi

[2020-02-03 18:26] thisguy-1 opened #1992 "Useful Extensions Page - VS Code"
<img width="1451" alt="Screen Shot 2020-02-03 at 1 22 40 PM" src="https://user-images.githubusercontent.com/52169824/73679378-4710c780-4688-11ea-8e15-5bc04523d2c0.png">
Link to invision:
https://ibm.invisionapp.com/share/Z4NZODEXAVW

Asset:
[Extenstion Icon.svg.zip](https://github.com/eclipse/codewind/files/4149434/Extenstion.Icon.svg.zip)

@tetchel

[2020-02-03 18:27] thisguy-1 commented on #1992
@sishida please verify that content is correct. Especially the category titles.

[2020-02-03 18:28] makandre commented on #1269
PR for 1943 (https://github.com/eclipse/codewind-installer/pull/359) is awaiting review I've pinged @tobespc about it

[2020-02-03 18:28] james-wallis opened #1993 "Can't add new NPM dependency through Codewind"
**Codewind version:** Master
**OS:** Mac
**Deployment:** Docker but may happen in K8s - can test tomorrow if needed to.

**Description:**
AFAIK I should be able to modify the dependency object in a Node.js `package.json` and it should pull in the new dependency. Once I make the code change the code isn't being rebuilt. I've tried pressing the `build` button (doesn't do anything) and disabling and

[2020-02-03 18:31] malincoln commented on #1269
I'll go ahead and add the docs label for awareness.  We can remove the label if no doc updates are required.  @micgibso @sishida

[2020-02-03 18:33] ssh24 commented on #1269
Just to clarify what I mentioned:

I think a doc is required regardless, even if #1943 goes in, with what the user needs to do in the `.cw-settings` file to stop the app pinging continuously on an app does not have server

[2020-02-03 18:35] sujeilyfonseca commented on #1477
Sure, @malincoln! I agree that this problem cannot be recreated consistently since it depends on the user cluster. For example, it can be reproduced more often with a cluster with NFS storage, but the scenarios may vary. I'll proceed to update the title.

[2020-02-03 18:37] elsony commented on #1807
@jagraj Do you happens to got a chance to try out increasing the memory available to Theia help or not yet?

[2020-02-03 18:38] johnmcollier commented on #1807
@jagraj When you can, please test with this devfile:
[code]

[2020-02-03 18:45] keithchong commented on #1986
![Screen Shot 2020-02-03 at 12 54 33 PM](https://user-images.githubusercontent.com/7726022/73680974-58a79e80-468b-11ea-844e-4063d883b793.png)
![Screen Shot 2020-02-03 at 12 55 01 PM](https://user-images.githubusercontent.com/7726022/73680984-5b09f880-468b-11ea-9afb-51f29c626807.png)

[2020-02-03 18:48] johnmcollier commented on #1993
Wonder if this is related to Nodemon? I know we're using it on local for "Codewind-style" projects, and I believe the Appsody node stack also uses Nodemon to check for updates.

[2020-02-03 18:54] josephca commented on #1871
As a committer, I don't have the permission to update the overview (a.k.a. readme) section of 'eclipse/codewind*' docker images. I had a quick chat with @james-wallis and he agreed to collect all the overviews of the 'eclipse/codewind*' docker images and open a Bugzilla bug to get them updated altogether.

[2020-02-03 18:58] josephca commented on #1871
@james-wallis Please make sure to handle the following missing from the initial list. Thanks,
https://hub.docker.com/r/eclipse/codewind-java-profiler-language-server
https://hub.docker.com/r/eclipse/codewind-java-project-cache

[2020-02-03 19:07] james-wallis commented on #1871
/assign
As @josephca we've spoken I'll create a bugzilla bug tomorrow after going over the overview's with @tobespc.

[2020-02-03 19:12] sghung commented on #1842
@malincoln assigning to myself since Keith is working on something else now, I am targeting this for Wednesday

[2020-02-03 19:16] tetchel commented on #1993
I tried it just now but ran `npm install` from the project directory on my disk - instead of editing package.json directly - and it worked

[2020-02-03 19:25] jagraj opened #1994 "SVT:Project list gone from codewind che workspace"
**Codewind version:** 0.9.0 , latest
**OS:**

**Che version:** 7.5.1
**IDE extension version:**  0.9.0, latest
**IDE version:** 7,5,1
**Kubernetes cluster:**
OCP 4.3

**Description:**
I created bunch of default projects in my OCP 4.3 cluster. After few mins of building my projects and I lost project list from the codewind che workspace.

[code]

**Steps to reproduce:**
1. Install latest codewind o

[2020-02-03 19:25] jagraj commented on #1994
/priority stopship

[2020-02-03 19:28] tetchel commented on #1994
The server didn't send the 500 error's message but I'm guessing the error is the one at line 2075, since it's for the `projects` route. It's the circular JSON problem seen in #1875.

[code]

[2020-02-03 19:35] sujeilyfonseca opened #1995 "SVT: [VS Code] HTML code in notification when there was an error reconnecting to Local Codewind"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.9.0
**IDE version:** Code 1.41.1

**Description:** HTML code in notification when there was an error reconnecting to Local Codewind

<img width="1324" alt="Screen Shot 2020-02-03 at 11 12 33 AM" src="https://user-images.githubusercontent.com/49531960/73684383-0e75eb80-4692-11ea-9d15-cc640221ab12.png">

@jagraj

[2020-02-03 19:37] tetchel commented on #1995
the real issue here is the 'cannot get /projects', but there's also no reason to still be serving html in error messages.

[2020-02-03 19:41] sishida commented on #1929
Met with John P. today and recorded a demo of installation, creating a project, and editing a project. Plan to type a draft of the documentation and create a PR later this week. Will ask John for review of PR after the Wednesday Dcut.

[2020-02-03 19:43] sujeilyfonseca commented on #1994
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.9.0
**IDE version:** Code 1.41.1

I consider this can be a similar problem. I obtained an unhandled 500 error when using a remote connection in VS Code. My projects suddenly disappeared, and Codewind couldn’t refresh the connection:

<img width="1675" alt="Screen Shot 2020-02-03 at 12 19 47 PM" src="https://us

[2020-02-03 19:46] sghung commented on #1842
The reason why this didn't work, was because this PR was never ported to Eclipse. It was made in vscode only. I will port https://github.com/eclipse/codewind-openapi-vscode/pull/80/files to eclipse.

[2020-02-03 20:07] thisguy-1 commented on #153
![screenshot2_hiRes](https://user-images.githubusercontent.com/52169824/73686880-da50f980-4696-11ea-81df-7f0fe2e1e602.png)

New screen shot

[2020-02-03 20:07] thisguy-1 commented on #153
reference invision for dimensions and placement

[2020-02-03 20:22] sishida commented on #1992
Comments added in InVision. :)

[2020-02-03 20:29] tetchel commented on #1993
this is probably a cross-squad problem so I will tag both

[2020-02-03 20:31] #1956 closed

[2020-02-03 20:35] jagraj commented on #1849
Verified, I do see now cwctl by default adding tekton roles and rolebindings.

[code]

[2020-02-03 20:35] #1849 closed

[2020-02-03 20:45] sishida commented on #1269
Hi, team, This is what we had documented earlier for this issue: https://www.eclipse.org/codewind/troubleshooting.html#projects-stuck-in-starting-or-stopped-state

Could we edit this content, or do we need to replace it/add new content?

[2020-02-03 20:58] ssh24 commented on #1269
I think we can add new content under there for the serverless applications. Because users do see app stuck on starting stage on apps that do not have any servers

[2020-02-03 21:05] sishida commented on #1269
Talked with @makandre during a meeting today. Keep existing documentation but also add a note/section for if your application doesn't have a server listening, you need to take action to stop it from pinging.

[2020-02-03 21:07] j-c-berger commented on #1269
Please assign me, @sishida, thanks.

[2020-02-03 21:07] sghung commented on #1836
Had meeting with Elson and Rajiv. Our team doing more brainstorming before meeting again.

[2020-02-03 21:09] sghung commented on #934
Need to wait for vscode to pickup the new filewatcher change and we should be good to go. There will be doc impact once this done.

[2020-02-03 21:12] sghung commented on #938
Have doc impact: writeup how to connect to docker private registry in the appsody scenario for local

[2020-02-03 21:13] jopit opened #1996 "Prevent changes to IntelliJ meta-data files from triggering builds"
IntelliJ stores it's project-related meta-data inside the project directory. We need to stop a build being kicked off by changes to this metadata.

The folder is: `.idea`
The file matches the glob: `*.iml`

[2020-02-03 21:15] sghung commented on #938
Once we verify with kabanero folks that this approach works, then we document, so hold off on documentation until then.

[2020-02-03 21:26] lentheivendra commented on #1812
Some details on implementation discussions for adding notification ID per problem instance:
1) Use current ProjectState app status map in projectStatusController.ts and add a list of notification IDs paired to a "problem ID" (IDs to internally differentiate between different kinds of status problems i.e. ping count limit exceeded during app start, or app went from starting to stopped, etc). Though

[2020-02-03 21:34] eharris369 commented on #1812
I am confused about the array of notification IDs in the detailed app status.  Will there be different messages for each id?  Otherwise, how does the IDE know which id goes with the current message?

[2020-02-03 21:44] tetchel commented on #1996
I think this is iterative-dev area since they own the ignore list https://github.com/eclipse/codewind/blob/491c1d55d2c7d8c2eb2aaebcd5a682a34d17c879/src/pfe/file-watcher/server/src/projects/DockerProject.ts#L78

[2020-02-03 21:57] jopit commented on #1996
@jgwest said the changes need to be made here:

Add filter here in cwctl:
https://github.com/eclipse/codewind-installer/blob/9ca68a228b4ce83a30b8951aa39a566d901e2949/pkg/project/sync.go#L359
Add filter here in PFE:
https://github.com/eclipse/codewind/blob/41cad69683fc8c4189a2b0dfd5af0a68a0f30eb0/src/pfe/portal/modules/utils/ignoredPaths.js

[2020-02-03 21:58] jopit commented on #1996
Maybe it also needs to be added to iterative-dev? @elsony?

[2020-02-03 22:06] ssh24 opened #1998 "Why is there a 20s timer with same code for updateProjectForNewChange function"
**Question synopsis:**

Related to https://github.com/eclipse/codewind/pull/1997

1. Why do we have that 20s timer in https://github.com/eclipse/codewind/blob/b0f16f0a76be2f543d501fc718ddeaa727d75d1d/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L262
Looks like most of the code inside that timer is duplicated on the if statement https://github.com/eclipse/codewind/blob/b0f

[2020-02-03 22:13] thisguy-1 commented on #153
New version on invsion:
<img width="961" alt="Screen Shot 2020-02-03 at 5 02 52 PM" src="https://user-images.githubusercontent.com/52169824/73695646-8b13c480-46a8-11ea-9d7f-ebea8fea21e9.png">
<img width="961" alt="Screen Shot 2020-02-03 at 5 00 31 PM" src="https://user-images.githubusercontent.com/52169824/73695647-8b13c480-46a8-11ea-861d-a3428e62f6ce.png">

[2020-02-03 22:22] yangcao77 commented on #1998
There is only 1 timer.
The `newChunkRemaining` is to track if we are still waiting for any chunks, if not, we will proceed the build directly.
The `timer` is a 20s timeout, if within the 20s, we do not receive any chunks, we would assume the chunk is lost, and proceed the build.

The `chunk_total` value takes any int value >= 1
`ProjectEventController` waits for the all chunks before triggering a

[2020-02-03 22:28] yangcao77 commented on #1998
For example:
`chunk_total = 3`

1. First time receives the request, `chunkNum=1`, known `chunk_total = 3`. `chunkRemaining = 2` `ProjectEventController` knows there are more chunking coming in, set `timer` with 20s timeout.
2. Receives `chunkNum=3`, now `chunkRemaining = 1`.  `ProjectEventController` knows there are more chunking coming in, restart `timer`.

There are 2 cases now,
a. receives `chu

[2020-02-03 22:33] yangcao77 commented on #1998
In your functional test case, since you only send 1 chunk to run the update test, but you set `chunk_total` to a random number. It will wait for 20s, since Turbine is waiting for the remaining chunks.

The functional test setting was incorrect, and the fix in PR https://github.com/eclipse/codewind/pull/1997 would resolves the 20s wait time.

[2020-02-03 23:22] maysunfaisal commented on #1525
@tetchel looks project.inf already has the `podName`, you just need to consume it:
[code]

As for local, we are already displaying containerID, I think that is the most accurate representation of which container it is, and think we should keep it that way

[2020-02-03 23:23] ssh24 commented on #1998
Thanks for the explanation, it makes sense now.

/assign @yangcao77

[2020-02-04 00:19] tetchel commented on #1525
can we get the project / codewind instance's namespace too? it's annoying to know the pod name without the namespace

[2020-02-04 05:19] jgwest commented on #844
/unassign

[2020-02-04 05:29] jgwest commented on #844
/unassign

[2020-02-04 05:33] jgwest commented on #844
/assign

[2020-02-04 06:13] jgwest commented on #1952
/unassign

[2020-02-04 06:15] jgwest commented on #1952
/assign

[2020-02-04 08:54] markcor11 commented on #954
New endpoints for controlling metrics :

**for node metricsName = appmetrics**
**for java metricsName = javametrics**

*  list running connections : `GET http://{project}/{metricsName}/api/v1/collections`
* start running a collection : `POST http://{project}/{metricsName}/api/v1/collections/{timeInSeconds}`
* retrieve and delete saved collection : `GET http://{project}/{metricsName}/api/v1/collect

[2020-02-04 09:12] NikCanvin opened #1999 "VSode codewind projects view not refreshing effectively"
**Codewind version:** 0.8.0
**IDE extension version: 0.8.0
**IDE version:** vscode 1.41.1

**Description:**
Codewind behaves normally, then when I awake my Mac from sleep (starting work in morning), the list of projects under 'codewind/local' is missing. When I tried to bind the projects I was previously working with, an error reports the project name already in use (docker is still running the pr

[2020-02-04 09:16] tobespc commented on #1999
I'm also hitting this quite frequently.  Is there something we can do to resolve this @tetchel

[2020-02-04 10:27] micgibso commented on #1653
Those instructions are great, but it would be really useful to have a particular implementation of tabs for install in cloud. For example, in the remote-overview.html topic, it would be nice to have tabs under Prerequisites so the user can select which cloud they're installing into, so for example, OpenShift, IBM Public Cloud etc.

Is this possible?

[2020-02-04 10:53] james-wallis opened #2001 "Node application detects multiple changes on a single file change"
**Codewind version:** Master
**OS:** MacOS/Docker

**Description:**
When I make a single file, single line change in a Node.js application the logs show that `nodemon` is restarting due to changes many times (see container logs at the bottom of issue), it only does one `npm run start` though.
As a result the application appears to be doing many `npm install`s and so the application logs are taken

[2020-02-04 10:57] james-wallis commented on #1993
Just checked out master again and retried this. Added Axios to the `package.json` `"axios": "^0.19.2"` directly after the two changes described in #2001.
Made my application crash:
[code]
Marking this as `stopship` as I cannot develop a Node.js application.
/stopship

[2020-02-04 11:00] james-wallis commented on #1993
/priority stopship

[2020-02-04 11:07] rwalle61 commented on #1968
ok sure, I'll update our API doc to reflect this

[2020-02-04 11:07] #1968 closed

[2020-02-04 11:09] tobespc commented on #1815
After discussions here we are going to go with the following design

Return new data in the project object containing the following information

[code]

[2020-02-04 11:15] rwalle61 commented on #1815
/assign

[2020-02-04 11:45] hhellyer opened #2002 "Updating pom.xml removes javametrics from an open liberty project."
**Codewind version:**
latest

**Description:**
[04/02/20 11:41:18 /portal/routes/projects/remoteBind.route.js] [WARN] Error: Injection of metrics collector is not supported for projects of type 'docker'
    at Object.injectMetricsCollectorIntoProject (/portal/modules/metricsService/index.js:41:11)
    at uploadEnd (/portal/routes/projects/remoteBind.route.js:274:32)

**Steps to reproduce:**
- Enab

[2020-02-04 11:53] james-wallis opened #2003 "Codewind doesn't work with the yarn package manager for Node"
**Codewind version:** Master
**OS:** MacOS

**Description:**
1. Created a `yarn` application on my mac, gave it a Dockerfile and ran it through Docker.
2. Imported it into Codewind, auto detected Node.js (Correct).
3.

Got these errors:
[code]

[code]

[code]

[code]

[code]

**Steps to reproduce:**
1. Create a very basic yarn app or use the one I've attached to this issue.
2. Import to Codewind.

[2020-02-04 11:55] james-wallis commented on #1996
/assign

[2020-02-04 11:58] james-wallis commented on #2003
If we decide not to fix this before the `udo` stuff comes into the project we should doc that we don't support `yarn` / only support `npm`.

[2020-02-04 12:44] jagraj commented on #812
As part of our 0.9.0 test effort, we will keep an eye on this issue. If we can not reproduce this problem, we will go ahead and close this issue.

[2020-02-04 12:53] mattcolegate commented on #2002
/assign
/pipeline in progress

[2020-02-04 12:54] james-wallis opened #2004 "Codewind does not work with a Node.js project on an alpine image"
**Codewind version:** Master
**OS:** MacOS

**Description:**
After raising #2003 I figured I should make sure the same application does work with `npm`.
I changed the commands in the `Dockerfile` to be `npm` instead of `yarn` and deleted the `package.json` and `yarn.lock`. Then I created a new project through `npm init`, saved express into the `package.json`, built the Dockerfile and verified that

[2020-02-04 13:04] james-wallis commented on #2003
Based on #2004 I am unsure whether this is us not supporting `yarn` or something deeper.

[2020-02-04 13:07] jagraj commented on #1807
@johnmcollier
Thanks, I created workspace with above devfile. I will monitor my cluster next few days to see if we still hit this crash issue.

[2020-02-04 13:15] micgibso commented on #812
@jagraj If this is no longer is an issue we'll remove it from the Troubleshooting.

[2020-02-04 13:20] james-wallis opened #2005 "How can a user develop an Appsody project through Codewind (Node.js in my case)?"
**Codewind version:** Master
**OS:** MacOS

**Question synopsis:**

See title.
I'm trying to develop a Node.js application through Codewind and I cannot see how to take an Appsody template and turn it into my own.

When I search `node` into our list of templates through VSCode I get essentially three types:
* `Node.js Express` (think its the default one)
* `Appsody`
* `Kabanero`
See image:
![image

[2020-02-04 13:22] james-wallis commented on #2005
@makandre and @deboer-tim what are your thoughts?

[2020-02-04 13:30] jagraj commented on #1844
After resolving my workspace issues, I verified this issue. I do see data in Application monitor now. I got into another issue which is related to App Metrics injection failing and load test failed.
I will open new issue for this problem and close this issue.

[2020-02-04 13:30] #1844 closed

[2020-02-04 13:33] mattcolegate commented on #2002
This is Open Liberty specific, and is down to where I originally chose to put in some logic to identify Open Liberty projects as being of type Docker with language Java. I put that logic into the metrics.controller but the path Howard has used calls into the utility metrics service from remote.bind, bypassing the metrics.controller. I'm fixing this by moving the Open Liberty logic into the utility

[2020-02-04 13:42] mattcolegate commented on #2002
#2006 raised to fix issue.

[2020-02-04 13:45] bsteinfeld opened #2007 "Unable to deploy multiple Codewind remote installations due to tekton error"
**Codewind version:  `cwctl version x.x.dev`**
**OS: Debian Linux (remotely installing to k8s)**

**Che version: n/a (no che)**
**IDE extension version: n/a (no ide)**
**IDE version: n/a**
**Kubernetes cluster: Server version `v1.15.8+IKS` (this is an IBM Cloud Kubernetes cluster)**

**Description:**
Note: This was not an issue previously (a few days ago). My best guess is the issue I'm having is

[2020-02-04 13:52] jagraj opened #2008 "SVT:Load test fails to run after App metrics injected to WebSphere and Open Liberty projects."
**Codewind version:** 0.9.0 , latest
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.9.0 , latest
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**
OCP 4.2

**Description:**
Load tests are failing after App metrics injected into WebSphere liberty and Open liberty projects.
Here are the errors that I am getting into in performance pod.

[code]

[code]

**Steps to reproduce:**

[2020-02-04 13:52] jagraj commented on #2008
/priority stopship
/area portal

[2020-02-04 13:53] malincoln commented on #1690
removing 0.8.0 release tag

[2020-02-04 13:55] deboer-tim commented on #2005
The stack architect/creator decides what is provided by default, what is hidden, and what you're allowed to provide (or not), all within the constraints of the language or runtime. In this case express is hardwired in where you can't change it, but you can add other dependencies. Stacks should be useful for many applications; you shouldn't ever need to poke the stack creator unless there was a def

[2020-02-04 13:57] malincoln commented on #1993
@elsony @tobespc pls review.  Thanks

[2020-02-04 14:06] tetchel commented on #1999
I'm not sure if there's a way I can refresh when your computer wakes from sleep, but I haven't seen this, so maybe it is because of a change I made.

[2020-02-04 14:12] jopit commented on #1996
@rajivnathan wrt Tim's commet https://github.com/eclipse/codewind/issues/1996#issuecomment-581633466, do changes need to be made for Turbine as well?

[2020-02-04 14:22] eharris369 commented on #1695
Implemented in PR: https://github.com/eclipse/codewind-eclipse/pull/564

[2020-02-04 14:22] #1695 closed

[2020-02-04 14:45] tetchel commented on #1999
do you see "connection lost" in place of a list of projects, or do you see "no projects (create a new project)"?

[2020-02-04 14:58] beccabau opened #2009 "Can't read the rest of the message in che docker registry manager popdown"
**Codewind version:** 0.8.0
**OS:** red hat linux

**Che version:** 7.51
**Kubernetes cluster:** open shift

**Description of the enhancement:**
![image](https://user-images.githubusercontent.com/13971834/73755961-d5db1e00-4734-11ea-9e3f-8f19b6a4ec1f.png)

I tried clicking on the message to expand the rest of the text, but it moved the process forward (and I ended up creating a blanket workspace).

[2020-02-04 15:05] tetchel commented on #2009
this is a theia limitation. I will open an enhancement against them.

You can see the full message in vs codeL

![image](https://user-images.githubusercontent.com/8888438/73756593-d1633500-4735-11ea-8ec4-9838f1546d29.png)

[2020-02-04 15:06] ssh24 commented on #1222
Here is the latest data after fixing the 20s issue on our test automation for update from master:

![Screen Shot 2020-02-04 at 10 04 44 AM](https://user-images.githubusercontent.com/15173354/73756566-c8726380-4735-11ea-8f90-d99df6256793.png)

[2020-02-04 15:06] hhellyer commented on #1994
I think this was probably already fixed under: https://github.com/eclipse/codewind/pull/1981 which was merged this morning. Could you update to the latest and confirm you still see it?

[2020-02-04 15:06] travis1111 opened #2010 "Landing page 404s"
There are 15 404s from current landing page master branch.

[code]

[2020-02-04 15:07] travis1111 commented on #2010
area/docs

[2020-02-04 15:10] #1986 closed

[2020-02-04 15:14] travis1111 commented on #1826
PR:

https://github.com/eclipse/codewind-docs/pull/343

[2020-02-04 15:17] micgibso commented on #1106
Currently being drafted.

[2020-02-04 15:17] travis1111 opened #2011 "Some images in doc pages are displayed incorrectly"
![image](https://user-images.githubusercontent.com/35569780/73757639-82b69a80-4737-11ea-94d1-d1bcd7f937bb.png)

/assign

area/website

[2020-02-04 15:25] tobespc commented on #1993
@elsony I'm don't see anything from portal causing this, can you check from your side please

[2020-02-04 15:26] maysunfaisal commented on #1525
@tetchel yeah looks like we already have an env var for namespace in PFE, let me look if Hybrid PFE also has this env var, then I can just emit it along with project operations

[2020-02-04 15:28] micgibso commented on #1812
@thisguy1 See above for IDE status request

[2020-02-04 15:31] beccabau commented on #2009
got it. thanks, tim!

[2020-02-04 15:34] tetchel commented on #1525
If you could add the namespace to /api/v1/environment too that would be great

[2020-02-04 15:34] ssh24 commented on #1993
I am looking into it

/assign

[2020-02-04 15:34] ssh24 commented on #1993
/pipeline in progress

[2020-02-04 15:34] micgibso commented on #1399
@jgwest Hi, what docs might be required for 0.9.0?

[2020-02-04 15:39] travis1111 commented on #2011
PR: https://github.com/eclipse/codewind-docs/pull/344

[2020-02-04 15:50] micgibso commented on #1542
For docs for 0.9.0, have moved the occurrence of Tekton, which was upfront and central in the menu on the left hand side, to a much lower level from where it was so you now have to navigate to a specific document to find it.

[2020-02-04 15:50] makandre commented on #1931
The candidate release we want to pick up is 0.5.7.  It will be ready late today or tomorrow morning (Feb 5)

FYI @jopit @tetchel @eharris369

[2020-02-04 15:58] micgibso commented on #1587
@j-c-berger @MelHopper to follow up.

[2020-02-04 16:20] james-wallis commented on #1996
PR opened for CLI: https://github.com/eclipse/codewind-installer/pull/363

[2020-02-04 16:21] malincoln commented on #1804
@tobespc assigning to you for now

[2020-02-04 16:33] jgwest commented on #1996
@rajivnathan can confirm, but looks like there are a few more places to update in Turbine:
See `defaultIgnoredPath` variable `*Project.ts` in https://github.com/eclipse/codewind/tree/491c1d55d2c7d8c2eb2aaebcd5a682a34d17c879/src/pfe/file-watcher/server/src/projects .

Filewatcherd itself will only watch what it is told by PFE: the filewatchers are designed such that there is no project-type-specifi

[2020-02-04 16:46] lentheivendra commented on #1812
@eharris369 I'll talk to @rajivnathan  some more and confirm soon, but  I believe to handle the "multiple problems occurring when app is in same state" case, we can handle it internally, and as far as the events the IDE sees are concerned, it could just be one event per problem, with one notification ID and message/link/etc.

[2020-02-04 16:46] james-wallis commented on #1996
PR opened for PFE/Portal: https://github.com/eclipse/codewind/pull/2013

[2020-02-04 16:59] tobespc commented on #2008
I don't get any crashes but I also don't get any metrics data when running open liberty locally or remotely

[2020-02-04 17:07] rwalle61 commented on #1815
so I've nearly added this information to the `/projects` and `/projects/{id}` APIs. I can merge it to master tomorrow, then @eharris369 and @tetchel you can try it out?

[2020-02-04 17:07] eharris369 opened #2014 "[Eclipse IDE] Allow user to select a connection on File > New > Codewind Project"
In the Eclipse IDE the user can select File > New > Codewind Project. Currently this only allows the user to create the project on the local Codewind instance. If they want to create a project on a remote Codewind instance they must right click on it in the Codewind Explorer view and select Create New Project.

Another page should be added to the wizard that comes up for File > New > Codewind Proj

[2020-02-04 18:04] eharris369 commented on #1815
When the request to inject metrics returns (`/api/v1/projects/{id}/metrics/inject`) will the project info be fully updated?

[2020-02-04 18:06] #2014 closed

[2020-02-04 18:09] rajivnathan commented on #1993
@james-wallis please verify when you have a chance. Thanks

[2020-02-04 18:11] malincoln commented on #1994
@jagraj pls verify and close. Thanks

[2020-02-04 18:14] rajivnathan commented on #1998
Discussed with Stephanie, we can add some additional comments to the code to help others trying to understand the reasoning and behaviour.

[2020-02-04 18:15] ssh24 commented on #1993
/pipeline verify

[2020-02-04 18:37] maysunfaisal commented on #1525
/pipeline In Progress

[2020-02-04 18:45] yangcao77 commented on #1998
/add kind/enhancement
/remove-kind question

[2020-02-04 18:47] rajivnathan commented on #1832
We're removing the iterative-dev label for now since it doesn't look like we have any actions to take here. Feel free to add it back if that changes.

[2020-02-04 18:49] yangcao77 commented on #1998
/kind enhancement

[2020-02-04 18:53] josephca commented on #1926
**How to use the custom plugin repository for tests**:
Refer to https://www.jetbrains.com/help/idea/managing-plugins.html#

1. Add custom repository :
 https://download.eclipse.org/codewind/codewind-intellij/master/latest/updatePlugins.xml
2. Type 'codewind' to search for codewind-intellij
e.g.
![image](https://user-images.githubusercontent.com/25185698/73776397-a7ba0600-4755-11ea-8003-7878c294f87

[2020-02-04 19:25] makandre opened #2015 "Project update does not receive changed files list"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The `update` function in the project handler is always getting an undefined `changedFiles` array.

A symptom of this is when you change a value in an `env.properties` file inside an appsody project, the application is not rebuilt to pick up the new environme

[2020-02-04 19:31] makandre commented on #2015
I believe this is related to https://github.com/eclipse/codewind/pull/1620

During debugging, I see:

- update build request is added to the queue
- the file changes is removed from the changed files map [here](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L252)
- then the build runs and retrieves the changed files from the m

[2020-02-04 19:31] makandre commented on #2015
/area iterative-dev
/priority stopship

[2020-02-04 19:40] ssh24 commented on #2015
Is it only happening for appsody projects? Can you provide detailed reproduction step?

[2020-02-04 19:42] ssh24 commented on #2015
The file changes is removed from the changed files map should be happening after the build has been kicked off with the retrieved changed files from the map [here](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L241)

[2020-02-04 19:43] makandre commented on #2015
@ssh24 Not just happening for appsody projects.  But it appears only appsody project's `ShellExtensionProject.ts` handler is doing anything with the `changedFiles` passed to the `update` function.

[2020-02-04 19:47] ssh24 commented on #2015
Interesting. We did move around how `changedFiles` were getting initiated and manipulated. Let me investigate.

/assign

[2020-02-04 19:51] makandre commented on #2015
Based on the name [`addProjectToBuildQueue`](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L241), it adds the build to the queue but doesn't exec the build immediately right?  I think that's why the file changes are removed before the build actually executes.

[2020-02-04 19:58] ssh24 commented on #2015
It adds to the build queue and checks right away if it can trigger the build for it. It is also an async function so it should wait for the return of it before removing the project from the changedFilesMap.

What is the sympton of this issue? I just tried it out and my update worked. Also verified by execing into the app pod and seeing the change

[2020-02-04 19:59] ssh24 commented on #2015
/pipeline in progress

[2020-02-04 20:01] tetchel commented on #1815
IMO it is easier to just add it to the projectChanged event too.

[2020-02-04 20:02] #1384 closed

[2020-02-04 20:08] beccabau opened #2017 "New and Noteworthy for 0.9.0"
Need to add a news page to the Codewind.dev website for 0.9.0.

[2020-02-04 20:15] elsony commented on #1812
@lentheivendra  As discussed, each notification event that we send to the IDE will only has one notification ID associate with it.  The array is only used internally within Turbine to track the unique IDs.  That's just internal implementation.

[2020-02-04 20:28] elsony commented on #1996
As long as we control on the portal layer to ensure that those files never get copied into the container, then turbine will never see those file. Therefore, I think we just need to have it on the ignore list so that portal doesn't sync those files, there is nothing needed to be done on the iterative dev side to handle it.

[2020-02-04 20:30] sishida opened #2018 "Update screenshots in Codewind documentation"
Remove "IBM Cloud Private" from screenshots in Codewind documentation.

[2020-02-04 20:31] sishida opened #2019 "Update terminology in Codewind documentation"
Remove all mentions of "IBM Cloud Private" in Codewind documentation as well as metadata.

[2020-02-04 21:07] sishida commented on #2019
Files to edit:
- Metadata: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-che-createcodewindworkspace.md
- Metadata: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-che-createcodewindworkspace.md
- Metadata: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-che-createcodewindworkspace.md
- https://github.com/e

[2020-02-04 21:13] jagraj opened #2020 "SVT:Getting this popup intermittently in codewind che workspace"
**Codewind version:** 0.9.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:**  0.9.0
**IDE version:**  Theia 7.5.1
**Kubernetes cluster:** OCP 4.2 cluster

**Description:**
I am keep getting this popup ("Do you want to overwrite the changes made on the file system.?") intermittently when Codewind che workspace refreshes and I did not notice this popup in the past.

The file name is

[2020-02-04 21:14] jagraj commented on #2020
/priority hot

[2020-02-04 21:20] #1926 closed

[2020-02-04 21:20] tetchel commented on #2020
this is probably because of @hhellyer change https://github.com/eclipse/codewind-vscode/pull/416

so now the launch.json is getting modified in Theia too

Howard, is there any reason to do this in Theia? or should we put that line in an `if (!global.isTheia)` branch

[2020-02-04 21:26] makandre commented on #1399
Hi @micgibso,

We need doc about how users can define references in the new `.cw-refpaths.json` file and what the behaviour will be.

Additionally, we should also add a mention to [this section](https://github.com/eclipse/codewind-docs/blob/87aca013bfa858b645a13e5095fb969755f89b44/docs/_documentations/importing-existing-projects.md#defining-environment-variables-for-appsody-projects) (the **cautio

[2020-02-04 21:28] #1806 closed

[2020-02-04 21:42] #1826 closed

[2020-02-04 21:42] maysunfaisal commented on #1971
values.yaml
[code]

deployment.yaml
[code]

application.properties
[code]

build my application, kube resources after:
[code]

However, if I only change values.yaml
[code]

build my application, kube resources after:
[code]

Seems like when the pod does not come up, because the application cannot start since that is our entrypoint, there are two replica sets created.. Thoughts? 🤔

[2020-02-04 22:33] eharris369 opened #2022 "Indicate file status to the user since it can take a while for the build to start"
I create a go project from the Codewind go template on a remote connection (Open Shift). If I change the main.go file it takes about 10s after saving my changes before the build status changes to show that the file change was picked up. It would be nice if we could show the user that Codewind is busy copying the file changes over so they don't think that the file change was ignored.

[2020-02-04 22:46] rajivnathan commented on #2015
@makandre can you please verify and close when you have a chance?

[2020-02-04 23:02] keithchong commented on #984
PR has been created.  I've installed the plugin from the zip:

![Screen Shot 2020-02-04 at 6 01 18 PM](https://user-images.githubusercontent.com/7726022/73795384-730b7600-4778-11ea-9ef9-4ad854c4df14.png)

[2020-02-04 23:58] maysunfaisal opened #2024 "Fix App Status Timeout Msg"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The hostname is absent. It is `Pinging http://:8089/health and http://:8089/` according to:

![Screen Shot 2020-02-04 at 6 57 07 PM](https://user-images.githubusercontent.com/31771087/73798238-3ba0c780-4780-11ea-9ead-95859ec1ea65.png)

/area iterative-dev

[2020-02-05 00:06] ssh24 opened #2025 "Add functional test for verifying -1 set on internalPort"
**Description of the enhancement:**
We need to add functional test that sets internalPort to -1 on `.cw-settings` file that makes the app stopped. It is targetted for server less applications, but even applications that have server can set this value on the .cw-settings which will allow them to block the server from being pinged and the app will be shown stopped.

/area iterative-dev
/kind test

[2020-02-05 00:06] ssh24 commented on #2015
/pipeline verify

[2020-02-05 08:50] tobespc commented on #1995
@stalleyj can you grab this one please

[2020-02-05 08:55] stalleyj commented on #1995
/assign

[2020-02-05 08:56] tobespc commented on #2022
If the status is not updating soon enough then letting the user know something is happening is reasonable.  Not sure we would want to expose internal steps though.

[2020-02-05 09:17] hhellyer commented on #1979
I've verified that I can now run load against a project that has logging enabled on master.
#1994 should be fixed but this should still be validated by the raiser.

[2020-02-05 09:17] #1979 closed

[2020-02-05 09:26] markcor11 commented on #2007
/assign @markcor11

[2020-02-05 09:32] #2005 closed

[2020-02-05 09:37] tobespc opened #2027 "cpu graph plotting data outside of range"
I'm monitoring an open liberty application after injecting metrics and can see that the cpu graph is plotting outside the range of the axis
![Screenshot 2020-02-05 at 09 35 53](https://user-images.githubusercontent.com/13151286/73829559-14d3a700-47fb-11ea-806f-905fc1fb04e8.png)

[2020-02-05 10:52] stalleyj commented on #1995
/pipeline in progress

[2020-02-05 11:07] tobespc opened #2028 "Summary data on javametrics graph not appearing"
After injecting metrics into an OpenLib project, whilst I can see that data is coming through, the summary page is empty

![Screenshot 2020-02-05 at 11 07 12](https://user-images.githubusercontent.com/13151286/73836645-b103ab00-4807-11ea-9f56-fd887effabc8.png)

[2020-02-05 11:21] tobespc commented on #2028
@hhellyer please take this one

[2020-02-05 13:59] jopit opened #2030 "[IntelliJ] Open shell into container"

[2020-02-05 14:27] makandre commented on #1931
Appsody had a 0.5.8 release this morning with a last minute bug fix.  Will pull the new release in.

[2020-02-05 14:29] jagraj commented on #1807
@johnmcollier
After 25hrs i do not see any restarts of the containers from codewind workspace deployments.
I see only 3 containers and not 5 of them. What is our plan here if we do not see any restarts in next couple of days.?

[code]

[2020-02-05 14:31] elsony commented on #1807
We'll probably need to try out adding the LSP back and increase the memory to see if it just doesn't have enough memory on the setup or there is memory leak on the LSP.

[2020-02-05 14:35] rwalle61 commented on #1815
@eharris369 yes the project info should be fully updated when you receive the 202 response to `/api/v1/projects/{id}/metrics/inject`

[2020-02-05 14:36] rwalle61 commented on #1815
@tetchel ok I will add it to the projectChanged event

[2020-02-05 14:37] makandre commented on #2015
Verified on master, works fine now, thank you.

[2020-02-05 14:37] #2015 closed

[2020-02-05 14:37] stalleyj commented on #1995
It's a strange one but the only way I can see this error happening is if Codewind has been restarted and subsequently, there is a something else running on 127.0.0.1:previousCodewindPort.  If there is a server there (ie a python project), it will respond with an html error page.  When the plugin attempts to refresh/reconnect, does it assume local Codewind will be on the same port ? @tetchel

[2020-02-05 14:40] micgibso opened #2032 "Change the mapping for help topics in VS Code"
From the video, the file that you showed Tim for VS Code needs the following updates:
TEMPLATE_MANAGEMENT = "workingwithtemplates.html"
INSTALL_INFO = "mdt-vsc-gettingstarted.html"
PROJECT_SETTINGS = "mdt-vsc-commands-project.html#configuring-project-settings
Does not exist in TOC but source .md files still exist, HTML still produced, so stet. Iterate on this for 0.10.0.
INSTALL_ON_CLOUD = "remote

[2020-02-05 14:43] micgibso opened #2033 "Change the mapping for help topics in Eclipse"
From Erin:
Eclipse is using the following.  Only image-registry-credentials.html seems to still be there but it is under Che.

- mdteclipsemanagingprojects.html (this is supposed to be information about the .cw-settings file)
- mdteclipseworkingwithtemplates.html (change to workingwithtemplates.html?)
- image-registry-credentials.html (move under remote section?)
- remoteconnectionui.html (change

[2020-02-05 14:45] #1943 closed

[2020-02-05 14:47] jagraj commented on #1807
@elsony
Thanks Elson.

@johnmcollier
Can you give me next version of devfile that we can test as part of our 0.9.0 test effort.?

[2020-02-05 14:51] stalleyj commented on #1953
@jgwest If this issue only occurs in Eclipse, is the problem likely to be in the FW daemon ?   I would expect the error to occur in VSCode too if the problem was in the sync logic in cwctl or PFE.

[2020-02-05 14:52] sghung commented on #938
We had a meeting on Feb 3rd with the Kabanero folks + Jag. They agreed that the fully qualified stack name in their project is an appropriate solution. Previously, before that was a standard for Appsody stacks, they were more resistant to it. If this approach works, we will document it. I will followup with the contact person today.

[2020-02-05 14:53] hhellyer commented on #2028
@mattcolegate helped identify that the `/metrics` endpoint on an OpenLiberty app does not include that information.
Matt suggested adding the monitor-1.0 feature to server.xml would enhance this information:
[code]
It does add data on `/metrics` but I couldn't see data specific to each endpoint even then.
We will need to add the information to `/metrics`, possibly via monitor-1.0, in order to disp

[2020-02-05 14:54] ssh24 commented on #2025
/assign
/pipeline in progress

[2020-02-05 14:54] tobespc commented on #1805
So, is this still an issue ?  Can someone who has been involved in this summarise what the requirement is now please ?

[2020-02-05 15:01] tetchel commented on #1995
If you stop/started it through the VS Code UI, then no, it will find the new port
If you stop/started it outside of VS Code (eg cwctl), you have to run the refresh action to get the plugin to know to update the portal.

[2020-02-05 15:03] tetchel commented on #1805
Change `--conid` from an optional parameter to a required one for `cwctl create` and `validate`

[2020-02-05 15:22] james-wallis commented on #1871
![Codewind logo](https://www.eclipse.org/codewind/images/header-logo.svg)

This image is required for Codewind. Codewind provides a development environment that simplifies and enhances development in containers by extending industry standard IDEs with features to write, debug, and deploy cloud-native applications.

## Getting started
Get started with Codewind at the [Codewind website](https://www.

[2020-02-05 15:22] micgibso commented on #1399
Seems like a `Developing project` topic but I'm not sure where this is going to go in our new format of documentation. Some guidance and input appreciated.

[2020-02-05 15:24] makandre commented on #1805
@tetchel I thought `--conid` being optional is ok, see https://github.com/eclipse/codewind/issues/1805#issuecomment-579801736

[2020-02-05 15:24] james-wallis commented on #1871
I've opened an issue on Bugzilla to make the readme as above: https://bugs.eclipse.org/bugs/show_bug.cgi?id=559867

I'll also open another issue for the docs teams specifically so that they can give the overview a work over in due course.

[2020-02-05 15:31] jagraj commented on #1954
@malincoln @johnmcollier @maysunfaisal
I reviewed latest 0.9.0 docs couple of days back and we are good now.
Maysun Got into same issue yesterday with 0.8.0 docs and he also reviewed 0.9.0 doc updates and we are good to close this issue now.

[2020-02-05 15:31] #1954 closed

[2020-02-05 15:34] james-wallis opened #2034 "Add/Update the Dockerhub overviews to contain more information"
**Description of the enhancement:**

In https://github.com/eclipse/codewind/issues/1871 I created a basic overview for all of our Dockerhub images based on the old `ibmcom` ones.

It was agreed with the ID team in the UK that I'd create the basic one and then later they'd update them to add even more information, perhaps using [the Node Docker image](https://hub.docker.com/_/node/) as inspiration

[2020-02-05 15:35] stalleyj commented on #1995
A bit more playing and I can now see the problem. When Codewind is starting, it creates an Express server and then configures various routes. If a route is called before it is ready, Express returns the html error. With a number of projects, including Appsody ones, there is a number of seconds before the routes are configured. I can only assume that the /v1/projects is being called too soon.

[2020-02-05 15:35] james-wallis commented on #2034
/area docs

[2020-02-05 15:35] #2033 closed

[2020-02-05 15:36] jagraj commented on #1994
Looking good with 1981 fix, I no longer see this problem with the latest drivers. Closing this issue for now. I will reopen if we still see this problem in our 0.9.0 test effort.

[2020-02-05 15:36] #1994 closed

[2020-02-05 15:38] tetchel commented on #1995
I found a code path where i will try GET /projects before the connection is 'ready' I will address this

[2020-02-05 16:17] rajivnathan commented on #1996
As Elson mentioned if cwctl doesn't sync those files then no changes required on the Turbine side. However, looking at the cwctl code we don't appear to be doing anything special for other IDEs? eg. I don't see the `.vscode` folder ignored.

[2020-02-05 16:18] stalleyj commented on #1723
PR here https://github.com/eclipse/codewind/pull/2036

[2020-02-05 16:25] johnmcollier commented on #1807
@jagraj Try this one with memory limits set for the LSPs:
[code]

[2020-02-05 16:33] james-wallis commented on #2004
Found a work around - if I tell VSCode that my application is not a Node.js app (bypass our logic) and run it as the type "other" it builds and runs successfully.

[2020-02-05 16:33] tetchel commented on #2024
https://github.com/eclipse/codewind/issues/1622

[2020-02-05 16:55] james-wallis commented on #2004
Decided to come at this issue from a different angle to determine its severity, I looked at the live docs to see if I'd done something wrong.
https://www.eclipse.org/codewind/mdt-vsc-importedprojects.html#nodejs-projects

### No Dockerfile
Based on the link above I copied the `package.json` from the linked place (and gave it a name). Created a `server.js` in the `server` folder, checked it ran loc

[2020-02-05 17:04] sujeilyfonseca opened #2037 "SVT: [IntelliJ] It would be nice to have the project tree open by default"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 202002042141
**IDE version:** Version: 2019.3.2 | Build: 193.6015.39 | 20 January 2020

**Description:** It would be nice to have the project tree open by default. If the IDE is reloaded due to new project creation, the project tree will appear closed by default.

<img width="430" alt="Screen Shot 2020-02-05 at

[2020-02-05 17:05] sujeilyfonseca opened #2038 "SVT: [IntelliJ] “Performance Dashboard” should only be available in supported projects"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 202002042141
**IDE version:** Version: 2019.3.2 | Build: 193.6015.39 | 20 January 2020

**Description:** “Performance Dashboard” should only be available in supported projects. Right now, it is available in all project types.

<img width="399" alt="Screen Shot 2020-02-05 at 11 21 44 AM" src="https://user-images.

[2020-02-05 17:06] sujeilyfonseca opened #2039 "SVT: [IntelliJ] "Import project” must not be at the project level"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 202002042141
**IDE version:** Version: 2019.3.2 | Build: 193.6015.39 | 20 January 2020

**Description:** "Import project” must not be at the project level. It should be at the local container level.

<img width="399" alt="Screen Shot 2020-02-05 at 11 21 44 AM" src="https://user-images.githubusercontent.com/49531

[2020-02-05 17:06] sujeilyfonseca opened #2040 "SVT: [IntelliJ] Codewind must update its status continuously"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 202002042141
**IDE version:** Version: 2019.3.2 | Build: 193.6015.39 | 20 January 2020

**Description:** Codewind must update its status continuously

1) Users cannot see the updated build/application statuses. If he/she refreshes Codewind, then he/she will see the actual status:

<img width="610" alt="Screen Sh

[2020-02-05 17:10] travis1111 commented on #1857
Verified.

I downloaded the latest codewind dev build, installed it on my vscode, turn off the autobuild, if I disable it and re-enable it, it builds automatically, this is as design I assume.  Once this auto build is off, codewind does NOT auto build my project after I made changes to the code.  The problem is fixed.  Thanks

[2020-02-05 17:10] #1857 closed

[2020-02-05 17:18] jgwest commented on #1953
@stalleyj Certainly possible, but I was able to reproduce this issue myself, and every time I reproduced it I was able to verify that the filewatcher was behaviour correctly ([via the filewatcher logs](https://github.com/eclipse/codewind-filewatchers/blob/master/DEVELOPING.md#how-to-view-the-codewind-filewatchers-logs).)

eg every time the issue occurred, I checked the logs and the Java filewatche

[2020-02-05 17:23] jgwest commented on #1996
We are ignoring `.project` and `.settings` for Eclipse, so perhaps we should be ignoring the VSCode resources.

[2020-02-05 17:41] #984 closed

[2020-02-05 17:45] mattcolegate commented on #1963
Pushed up code to https://github.com/mattcolegate/codewind/tree/moreDefaultMPMetricsOnDash which takes all of the current usable metrics from /metrics for Liberty and graphs it - made sure output is number based (it was coming as strings) and updated the mem pool graph's scale to not be based on total memory, as we only have used heap coming from base metrics. Two items still to address:

1. Some

[2020-02-05 17:46] jopit commented on #2040
This should be fixed by PR https://github.com/eclipse/codewind-intellij/pull/17

[2020-02-05 17:48] jopit commented on #2039
'Import project' should be removed.  Keith is working on 'Add Existing Project', which won't be available by DCUT, but should be available within a couple of days

[2020-02-05 17:50] kimholmes opened #2041 "UX and Visual Design for Codewind Docs Landing Page"
ID and Design to work together to improve the experience of this page:
https://www.eclipse.org/codewind/gettingstarted.html

[2020-02-05 17:52] malincoln commented on #1269
So, it looks like we are doc'ing this for 0.9.0 + @makandre has completed the last bullet.
The remaining bullets will likely be completed for the next release.  If so, I can update the release.

[2020-02-05 17:54] #1750 closed

[2020-02-05 17:55] kimholmes commented on #2041
First pass. This is not a final design but a mid fidelity wireframe to being iterating from.
![Docs_Landing](https://user-images.githubusercontent.com/21316329/73868645-d51ab880-4816-11ea-8b54-3a1b71d4266a.png)

[2020-02-05 17:59] makandre commented on #1931
Closing as all PRs merged

[2020-02-05 17:59] #1931 closed

[2020-02-05 18:00] tetchel commented on #2032
up-to-date file list
https://github.com/eclipse/codewind-vscode/blob/master/dev/src/constants/CWDocs.ts#L25

[2020-02-05 18:01] tetchel commented on #2032
for `WORKSPACE_NEWS` I specifically want to link to the 0.6 news because that was when the workspace migration was documented

[2020-02-05 18:37] #1913 closed

[2020-02-05 18:41] #1834 closed

[2020-02-05 18:51] maysunfaisal opened #2044 "Turbine Swift Local Test Build Queue stuck at 3"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Create file test is failing because build queue is full when we try to create a file for Swift project type:
[code]

/area iterative-dev
/kind test

Full log:
[local-functional-test.log](https://github.com/eclipse/codewind/files/4161551/local-functional-test.log)

[2020-02-05 18:52] ssh24 commented on #1269
@malincoln The 3rd bullet is also done from the Turbine side. That was the first work of this story

[2020-02-05 19:06] tetchel commented on #1812
do we have new doc coming for 0.9 for this? it looks like the link is:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/troubleshooting.html#checking-the-application-and-build-statuses

which has very little info:
![image](https://user-images.githubusercontent.com/8888438/73874014-bd483200-4820-11ea-9082-50ff4d5b4bb1.png)

[2020-02-05 19:10] tetchel commented on #2009
https://github.com/eclipse-theia/theia/issues/7090

[2020-02-05 19:10] #2009 closed

[2020-02-05 19:11] ssh24 commented on #2044
/assign
/pipeline in progress

[2020-02-05 19:17] tetchel commented on #1801
https://github.com/eclipse/codewind-vscode/commit/1377be6103252cc829cbd0c520dde8e20bf4d2cc

[2020-02-05 19:17] #1801 closed

[2020-02-05 19:18] tetchel commented on #1718
can you still see this? also since it is a che issue i am removing the vs code tag.

[2020-02-05 19:20] tetchel commented on #1525
maybe pfe (and performance?) podname too while we're at it...

[2020-02-05 19:24] johnmcollier opened #2045 "Can't install hybrid Codewind on CodeReady Containers"
**Codewind version:** latest
**Kubernetes cluster:** CodeReady Containers (CRC) 1.5.0 / OCP 4.2

**Description:**
CodeReady Containers (CRC) is Red Hat's local OpenShift 4.x offering. I've been trying to install hybrid Codewind on it with no luck.

First, installing Keycloak and PFE into the same namespace (with `oc adm policy` commands issued), caused Keycloak to never come up (logs attached)
[co

[2020-02-05 19:25] johnmcollier commented on #2045
@markcor11 FYI

[2020-02-05 19:30] makandre commented on #1399
This is the new `Developing project` topic right?

![image](https://user-images.githubusercontent.com/17596240/73875814-dbfbf800-4823-11ea-99d7-4dd3b567b1c2.png)

I agree it can go under there.

[2020-02-05 19:32] sghung commented on #1653
@travis1111 can you comment on the feasibility?

[2020-02-05 19:48] travis1111 commented on #1653
I am suggesting to do it via HTML, easier than creating something via jekyll.

[2020-02-05 19:49] malincoln commented on #1269
So, only these two items remain:

- Ask appsody team to modify stack description to explain there is no server by default (Andrew/Appsody)

    - related issue: appsody/stacks#602

- Add link to the appropriate docs from the "couldn't ping" message (Turbine team)

   - related issues: #1812

[2020-02-05 19:49] #1995 closed

[2020-02-05 19:55] sujeilyfonseca commented on #1718
I can no longer reproduce this problem. I'll proceed to close this problem.

[2020-02-05 19:55] #1718 closed

[2020-02-05 19:57] makandre commented on #1269
We asked appsody about status of https://github.com/appsody/stacks/issues/602 today, it's not something that will be available in 0.9.0.  In any case this shouldn't affect what we document

[2020-02-05 20:08] sishida commented on #1812
@tetchel Hi, Tim, I just checked our doc pull requests and currently don't see a PR for updating this doc. @micgibso is out of the office for the rest of the week, but please let Jake or I know if we can help with anything! Thank you!

[2020-02-05 20:47] tetchel opened #2046 "[Theia] Codewind icon in title bar is messed up"
![image](https://user-images.githubusercontent.com/8888438/73881712-d526b280-482e-11ea-8355-9560b690d7af.png)

![image](https://user-images.githubusercontent.com/8888438/73881728-deb01a80-482e-11ea-8633-6053534f58cd.png)

[2020-02-05 21:23] makandre opened #2049 "Docs: Side navigation cannot be scrolled independently"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

For codewind docs, you cannot scroll the side navigation independent of the page on the right.

**Steps to reproduce:**

1. Navigate to a page in the docs that's long, such as the `Deploying all-in-one` topic page
2. Expand sections in the side navigation
3.

[2020-02-05 21:23] makandre commented on #2049
/area docs

[2020-02-05 21:37] johnmcollier opened #2051 "[IKS] Cwctl needs to support exported Kube configs"
**Codewind version:** latest
**OS:** macOS

**Kubernetes cluster:** IKS / Kube 1.16

**Description:**
IKS clusters provide users a Kube config file that they can export in their terminal when they configure against it (of the form: `export KUBECONFIG=/path/to/some/yaml`). It does **not** place an entry under `~/.kube`, where cwctl looks (see https://github.com/eclipse/codewind-installer/blob/maste

[2020-02-05 22:24] johnmcollier opened #2052 "Default status for appsody projects shouldn't be [Starting][Build Succeeded]"
When Appsody projects are created, either locally or on Kube, their default app status is always: `[Starting] [Build Succeded]`, even before any build has started, and long before the app is starting. (See https://github.com/eclipse/codewind-appsody-extension/blob/master/entrypoint.sh#L118).

Now, I know that this is at least partially a limitation on the Appsody CLI in that we can't easily get bu

[2020-02-05 22:48] maysunfaisal commented on #1785
I shall verify this soon

[2020-02-05 23:20] makandre commented on #2052
What would you suggest?  We in fact do not go through a codewind build phase for appsody projects and invoke “appsody run” immediately, hence it is “starting” in that sense.

[2020-02-05 23:35] maysunfaisal commented on #1785
verified

[2020-02-05 23:35] #1785 closed

[2020-02-06 00:07] johnmcollier commented on #2052
Do the states necessarily need to adhere to the Codewind-style app/build statuses that we have? Maybe we need some appsody-specific states that work better for Appsody projects? I believe we did that for Odo projects.

I'm not sure on _what_ exactly we should use, but I don't think starting as the default app state, or " Build succeeded" as the build state is right here.

[2020-02-06 00:12] ssh24 opened #2053 "Lagom project modify files path broken on Functional Test"
**Description:**
The path for modifications of file in `lagom` is broken at this [link](https://github.com/eclipse/codewind/blob/a9fc706101ca8ad85ea0bc76b5ba1eefde2222ed/src/pfe/file-watcher/server/test/functional-test/suites/project/tests/project-event.ts#L81)

This needs to be fixed only for the `creation` of a new file only where the file needs to be created under `hello-impl` folder for the en

[2020-02-06 00:34] ssh24 opened #2054 "Ability to run specific tests by passing runOnly=true from the test suite level"
**Description of the enhancement:**
Currently, we support two levels of `runOnly` passes. We should make it extendible for lower levels.

**Proposed solution:**
For example, from functional-test.ts -> index.ts -> project.ts -> specific test calls. We need to be able to have the option to pass in an optional arg called `runOnly` for specific test calls like [here](https://github.com/eclipse/codewin

[2020-02-06 03:03] #512 closed

[2020-02-06 03:05] #1373 closed

[2020-02-06 09:03] tobespc opened #2056 "javametrics-dash plotting data outside of axes for garbage collection"
running a java app under load show this graph

![Screenshot 2020-02-06 at 09 00 26](https://user-images.githubusercontent.com/13151286/73921595-8ecd6400-48bf-11ea-9b36-0d485d7f3937.png)

gc graph needs normalizing

[2020-02-06 09:12] markcor11 commented on #2007
Tried with latest master code on Openshift,  unable to reproduce this by trying to install multiple Codewinds into the same namespace.  Saw that the cluster role was detected and updated correctly:

[code]

and again :

[code]

Could be IKS specific,  will need to try there too.

[2020-02-06 09:57] james-wallis opened #2057 "VSCode bad link on start page"
Version: Master

On the startup page there a couple of dead links:
`Docs` -> `Performance Monitoring`:
* Is https://www.eclipse.org/codewind/performance.html which gives 404
* Should be changed to https://www.eclipse.org/codewind/guide_performance.html which is what the docs use

`Quick Start` -> `locally`:
* Is https://www.eclipse.org/codewind/mdt-vsc-firstproject.html
* Maybe should be https://w

[2020-02-06 09:57] james-wallis commented on #2057
/area vscode-ide

[2020-02-06 10:14] james-wallis commented on #2057
Could a link to the `Codewind Java Profiler` also be added to the `Useful Extensions` section?
https://marketplace.visualstudio.com/items?itemName=IBM.codewind-java-profiler

[2020-02-06 11:12] stalleyj opened #2059 "Run Load test should return an error if the project isn't running"
**Codewind version:**
**Description:**
Open the Performance Dashboard, click "Run Load Test", nothing happens.  The loadtest route should check the state of the project and return an error if it's not running.

There are various warnings in the PFE log file:-
[06/02/20 11:01:08 User.js] [INFO] Running load for project: 5fb25250-4353-11ea-a15d-37a319768977 config: {"method":"GET","path":"/v1/exampl

[2020-02-06 11:51] jagraj commented on #1807
@johnmcollier
I let it run 2 days with above workspace and I got into one restart from `che-machine-exec358` container due to OOM. Here is the info from the container.

[code]

[2020-02-06 13:31] james-wallis opened #2060 "Docs state that we generate a Dockerfile for imported projects that don't have one"
Live docs: https://www.eclipse.org/codewind/mdt-vsc-importedprojects.html

Docs file: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/importing-existing-projects.md

**Description:**
Our docs state that if a user imports a project that does not have a Dockerfile we will generated it for them. I've tested this with an imported Node.js project and did not see one get create

[2020-02-06 13:32] james-wallis commented on #2060
/priority stop-ship
/area docs

Marking as a stop ship as at the moment we're telling customers that we can automatically generate something we absolutely need to make their project work in Codewind.

[2020-02-06 13:33] jgwest commented on #2060
@james-wallis: Could not find label: priority/stop-ship

[2020-02-06 13:34] james-wallis commented on #2060
/priority stopship

[2020-02-06 13:35] james-wallis commented on #2060
VSCode screenshot:
![image](https://user-images.githubusercontent.com/17385115/73941602-7708d680-48e5-11ea-9def-e0d51f114951.png)

[2020-02-06 13:36] james-wallis commented on #2060
Also verified with Liberty
![image](https://user-images.githubusercontent.com/17385115/73941744-b505fa80-48e5-11ea-8cd1-d5d2523e82c5.png)

[2020-02-06 13:57] ssh24 commented on #2054
/assign
/pipeline in progress

[2020-02-06 13:57] ssh24 commented on #1993
@james-wallis Any update on this?

[2020-02-06 14:13] jopit commented on #1996
Probably should also be ignoring `.classpath` for Eclipse.  I've asked Erin and Tim to open a separate issue against portal for the other IDEs.

[2020-02-06 14:22] jagraj commented on #1807
I see these messages for every second in che-machine container.

[code]

[2020-02-06 14:25] james-wallis commented on #2004
Got the `With a working Dockerfile` project to fail by changing the Docker `FROM` from `node:8` to `node:8-alpine`, guessing we don't work with Alpine images?

[2020-02-06 14:31] james-wallis opened #2061 "Import project with the same directory name but different absolute paths"
**Codewind version:** Master
**OS:** MacOS
**IDE:** VSCode

**Description of the enhancement:**

I should be able to import two separate projects from different places on disk that happen to have the same directory name.
For example:
`/user/temp/nodejsproject` and `/user/github/nodejsproject`.
Codewind see these and tries to create a project with the name `nodejsproject`.

I also think I should be

[2020-02-06 14:31] james-wallis commented on #2061
/kind bug
Not sure if enhancement or bug so I'll add the bug tag too. Feel free to remove any.

[2020-02-06 14:39] markcor11 opened #2062 "Performance dashboard should scale metrics"
**Codewind version:** 0.8.0

**Description:**

Metrics are displayed in their raw format making them difficult to read :

![Screenshot 2020-02-06 at 14 36 26](https://user-images.githubusercontent.com/28102564/73946796-690b8380-48ee-11ea-8539-499871398b55.png)

Also effects the history table data, chart axis and hover tooltips.

**Steps to reproduce:**

Run load against a Java project

**Workaroun

[2020-02-06 14:40] markcor11 commented on #2062
/area Portal

[2020-02-06 14:43] james-wallis commented on #2004
Centos seems fine (taken from our Dockerfile)
[code]

[2020-02-06 14:56] rajivnathan commented on #2001
@james-wallis do you have the PFE container logs as well?

[2020-02-06 14:57] malincoln commented on #1814
@jagraj pls review updates and provide approval.  Thanks

[2020-02-06 14:58] sujeilyfonseca opened #2063 "SVT: [VS Code] "Add Existing Project" feature doesn't work"
**Codewind version:** 0.9.0
**OS:** MacOS Mojave 10.14.6

**IDE extension version:** 0.9.0
**IDE version:** Code 1.41.1

**Description:** "Add Existing Project" feature doesn't work

<img width="444" alt="Screen Shot 2020-02-06 at 9 52 48 AM" src="https://user-images.githubusercontent.com/49531960/73948230-b411a080-48c6-11ea-88b5-3054ae862356.png">

**Steps to reproduce:**
1. Install and start Cod

[2020-02-06 15:05] sujeilyfonseca opened #2064 "SVT: [VS Code] Codewind is allowing to create projects with invalid characters in their names, which eventually leads to a failure in the project creation"
**Codewind version:** Latest & 0.9.0
**OS:** MacOS Mojave 10.14.6

**IDE extension version:** 0.9.0
**IDE version:** 1.41.1

**Description:** Codewind is allowing to create projects with invalid characters in their names, which eventually leads to a failure in the project creation. The error message that appears after the failure is not accurate with the root of the problem.

<img width="1674" alt

[2020-02-06 15:06] stalleyj commented on #2063
@sujeilyfonseca Can you add a zip of the project you were trying to import please

[2020-02-06 15:07] james-wallis commented on #2060
/area docs

[2020-02-06 15:08] #2053 closed

[2020-02-06 15:09] james-wallis commented on #1808
This has been delivered.

[2020-02-06 15:09] #1808 closed

[2020-02-06 15:09] eharris369 opened #2065 "[Eclipse IDE] NPE on add project to Codewind from context menu with multiple connections"
A NPE occurs when adding a project to Codewind from the context menu when there are multiple connections.

[2020-02-06 15:11] sujeilyfonseca commented on #2063
@stalleyj, the error appears immediately after selecting "Add Existing Project". Codewind doesn't even allow me to select the project to import.

[2020-02-06 15:12] makandre commented on #1399
@micgibso Here's my attempt at a first draft:

---

It is possible to define references to files that reside outside of a project:

1. Create a file called `.cw-refpaths.json` in your project
2. Define the references as follows:

[code]

`refPaths` is an array of references.  A reference's `from` property is an absolute or relative path to the file you are referencing (note: you cannot reference d

[2020-02-06 15:16] james-wallis commented on #2003
Looks like this was the same as #2004 as it working now.

[2020-02-06 15:16] #2003 closed

[2020-02-06 15:25] jagraj commented on #1814
The latest updates in 0.9.0 docs looks good. Thanks. Closing this now.

[2020-02-06 15:25] #1814 closed

[2020-02-06 15:27] jopit commented on #1996
Verified.

[2020-02-06 15:27] #1996 closed

[2020-02-06 15:35] james-wallis commented on #1105
https://github.com/eclipse/codewind/pull/2066

[2020-02-06 15:40] maysunfaisal opened #2067 "Something needs to be done about Jenkins PR Merge and Branch Test inconsistency"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I have noticed that our tests have been very intermittent. Sometimes when the PR test `continuous-integration/jenkins/pr-merge` passes, the test after the merge `continuous-integration/jenkins/branch` fails.

Are these running the same test suite? If yes, we should

[2020-02-06 15:41] james-wallis commented on #1993
Yup it is working now, thanks

[2020-02-06 15:41] #1993 closed

[2020-02-06 15:46] james-wallis commented on #2001
@rajivnathan these are the PFE container logs from when the file is changed:
[code]

Below is a file of the complete PFE container logs:
[codewind-nodemon-logs.txt](https://github.com/eclipse/codewind/files/4165977/codewind-nodemon-logs.txt)

[2020-02-06 15:50] tetchel commented on #2057
Both of these pages exist and haven't been published yet

The Java profiling extension is featured on the Useful Extensions page, i'm just not finished working on that

[2020-02-06 15:50] #2057 closed

[2020-02-06 15:54] tetchel commented on #2061
So far, project name == project dirname. Is there any reason in portal/turbine why changing this would cause problems?

[2020-02-06 15:55] james-wallis commented on #1867
@ebuckle could not recreate and I have not seen it recently so this may have gone away.

[2020-02-06 15:55] #1867 closed

[2020-02-06 15:55] maysunfaisal opened #2068 "Che Codewind workspace fails to start"
**Codewind version:** latest
**OS:**

**Che version:** 7.5.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Of late, I have noticed that our Sidecar & Turbine Kube functional test automation is intermittently failing because the Codewind workspace fails to start. I have also noticed this a couple of times when I tried to create the workspace manually on a dif

[2020-02-06 15:55] maysunfaisal commented on #2068
/area iterative-dev

[2020-02-06 15:56] johnmcollier commented on #2004
@james-wallis Are you able to get the logs of any exited containers?

My suspicion is that the docker run for alpine is failing somehow (possibly due to a missing utility in alpine). This is because if the docker run fails (see https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/nodejs-container.sh#L304), we exit with the `Build Failed - Creating image for build failed` er

[2020-02-06 15:57] makandre commented on #2052
I see what ODO is doing, it defined the strings in Codewind itself:

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/utils/locales/en/translation.json#L30

I suppose we could do the same for Appsody but I'm hesitant to put Appsody specific strings into Codewind.  But it would be ok if the strings were generic, perhaps `[Staring][Build not required]`? (I still think

[2020-02-06 15:59] tetchel commented on #2063
Bizarrely, I can't reproduce this. Can you upload a screen recording?

[2020-02-06 16:00] tetchel commented on #2063
Oh! This may happen if you don't have any workspace folders open. I will fix it

[2020-02-06 16:00] johnmcollier commented on #2068
This is likely due to the intermittent network issues we've seen between Fyre SVL and the Eclipse download servers.

A fix for this would be https://github.com/eclipse/codewind/issues/1060, so that the Theia extension binary isn't so huge and we download the necessary binaries after workspace startup.

[2020-02-06 16:06] tetchel commented on #1910
Still seeing it

[2020-02-06 16:06] sujeilyfonseca commented on #2063
@tetchel you're right. The problem occurs if the user doesn't have an open workspace.

![](https://user-images.githubusercontent.com/49531960/73954953-8df0fe00-48d0-11ea-9559-003f589e5e36.gif)

[2020-02-06 16:20] james-wallis commented on #2004
I've checked the `docker logs` and yeah its missing bash - (they were not available through the VSCode editor as the container failed to start).
Output:
[code]

[2020-02-06 16:22] johnmcollier commented on #2004
@james-wallis Yup, that confirms my suspicions. So, I think there's two things that need to be done here:
1) Update https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/nodejsScripts/noderun.sh to not require bash.
2) Update the failed-to-run status to be something other than `Build Failed - Creating image for build failed`

[2020-02-06 16:26] james-wallis commented on #2004
@johnmcollier yeah agree, do any other languages require bash? They would need changing too

[2020-02-06 16:27] #2065 closed

[2020-02-06 16:30] eharris369 opened #2072 "File watcher should ignore Eclipse/VSCode configuration files and folders"
The Eclipse configuration files and folders that should be ignored for a project are:
- The `.project` file
- The `.classpath` file
- The `.options` file
- The `.settings` folder and everything underneath it

[2020-02-06 16:31] tetchel commented on #2072
how about `.vscode/*` while we're at it

[2020-02-06 16:47] #2044 closed

[2020-02-06 16:49] tetchel commented on #2022
I like the idea of a 'syncing' or 'uploading' state before the build triggers

[2020-02-06 17:03] tetchel commented on #1812
looks like it is https://github.com/eclipse/codewind/issues/1269

[2020-02-06 17:07] ssh24 opened #2073 "Add new functional test for notify key on appStatus"
**Description of the enhancement:**
We added a new key called `notify` on appStatus event emits. There is currently no tests on that. We should describe what the feature does and add new functional test on it for better coverage.

/kind test
/area iterative-dev

[2020-02-06 17:18] eharris369 opened #2074 "Eclipse IDE documentation needs updating"
The https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html page needs updating based on changes to the code:

- When a user creates a new project or adds an existing project from the file system to Codewind it automatically imports the project now so this should not be needed anymore: `Once you have a project, the first thing you might want to do is import your project into the Eclipse w

[2020-02-06 17:27] sishida commented on #2060
@james-wallis Thank you for catching this! I have created a PR to remove the inaccurate info: https://github.com/eclipse/codewind-docs/pull/347

A couple of questions:
1️⃣ Do we also need to edit this Swift info when it says, `A `Dockerfile-tools` file is generated to build the project.` and `A `Dockerfile` file is generated. It runs the application that was built by using `Dockerfile-tools`.`?
2️

[2020-02-06 17:42] eharris369 opened #2075 "Projects stuck in build queued state even though nothing else is building"
I somehow got into a state where a project is stuck in build queued state even though nothing else is building.  I tried adding another project and it got stuck in build queued state as well:

![BuildQueuedImage](https://user-images.githubusercontent.com/9484320/73963285-fb575b80-48dd-11ea-8901-4efd256a5073.png)

Here is the full pfe log file:

[logs.txt](https://github.com/eclipse/codewind/files/

[2020-02-06 17:53] eharris369 commented on #2075
I tried deleting all of my projects and creating a new Open Liberty project.  It flipped between Building: Creating image and Build Failed: Creating image for ... failed a few times and then finally ended up stuck in Build Queued state.  There are no other projects.  Here is the pfe log file just for this:
[logs.txt](https://github.com/eclipse/codewind/files/4166886/logs.txt)

[2020-02-06 17:57] eharris369 commented on #2075
Deleted all projects again and tried a couple of other project types and they appear to be ok (python, spring, go).

[2020-02-06 17:58] tetchel opened #2076 "Uninstalling images instructions are not correct"
https://www.eclipse.org/codewind/mdt-vsc-uninstall.html

For step 2, there is a command for this. After stopping codewind (step 1) you can then remove the images by right-clicking the same item and clicking `Remove Local Codewind Images`.

The paths are also not correct (they're versioned 0.2.0)! It should be `~/.codewind/<version>/cwctl` (mac/linux) or `%USERPROFILE%\.codewind/<version>/cwctl` (w

[2020-02-06 18:00] eharris369 commented on #2075
Spoke too soon - the Spring project gets stuck in build queued state even though it got all the way to running state first:
![SpringQueued](https://user-images.githubusercontent.com/9484320/73964690-b254d680-48e0-11ea-982a-3d0516bae8cb.png)

[2020-02-06 18:10] johnmcollier commented on #1961
@tobespc (and whoever else is interested)

It's relatively straightforward to automate access to the OpenShift registry, the instructions in https://www.eclipse.org/codewind/openshiftregistry.html outline what needs to be done. All of this can be automated with calls to `oc` (and/or via client-go where possible).

The one thing to note is:
- OpenShift 3, the registry hostname is: `docker-registry.

[2020-02-06 18:21] rajivnathan commented on #1222
As discussed in the previous meeting it would be good if we could start tracking differences from the previous release to master and flag performance regressions in an automated way.

[2020-02-06 18:24] rajivnathan commented on #1807
@jagraj Since we're suspecting it could be something else causing the OOM issue, can you set up a plain workspace without the Codewind plugin and see if you hit the same problem? If you do hit it then we should probably just open an issue directly against Che.

[2020-02-06 18:37] jagraj commented on #1807
@rajivnathan
Thanks, could you please share sample devfile that I can create workspace.?

[2020-02-06 18:37] johnmcollier commented on #1807
@jagraj
[code]

[2020-02-06 18:43] sghung commented on #938
Currently waiting on appody folks to help kabanero folks generate stacks with fully qualified name. Currently in discussion with appsody and kabanero folks on slack.

[2020-02-06 18:43] maysunfaisal commented on #1162
/area portal
/pipeline In Progress
/assign

[2020-02-06 18:47] sghung commented on #938
Still need to document doing the docker login. We should document the rebuild scenario too (even though it doesn't work for tWAS or katsura).

[2020-02-06 19:03] ssh24 commented on #2075
@eharris369 What are the specific reproduction steps for this? Does it happen upon a new PFE build with existing projects or does it happen on creation of any new project or happen on a update of an existing project which is up?

[2020-02-06 19:03] ssh24 commented on #2075
/assign
/pipeline in progress

[2020-02-06 19:10] ssh24 commented on #1222
Here is the result from last night:
![Screen Shot 2020-02-06 at 2 07 35 PM](https://user-images.githubusercontent.com/15173354/73969824-17f99080-48ea-11ea-9b74-0581db7c6e67.png)

I am thinking this story can be closed (has been open for a while) and then we can create another story that handles creating a cron that runs every night and a cron that runs after every DCUT with probably a webserver pa

[2020-02-06 19:17] eharris369 commented on #2075
I am not 100% sure how I got there.  I think I restarted Eclipse and already had a 2 projects there (mpA1 and node1) and then I tried to add an Open Liberty project.

[2020-02-06 19:20] ssh24 commented on #2075
Is this is only happening on Eclipse? And when you restarted eclipse - was PFE up and were those projects already running?

If you could replicate the issue again, could you please upload the logs with trace mode enabled.

[2020-02-06 19:21] eharris369 commented on #2075
I can turn on trace mode and then if it happens again upload the logs.

[2020-02-06 19:33] eharris369 commented on #2075
Just reproduced it - wasn't that hard. Created a node project then an appsody microprofile project and then an open liberty project one after the other. Did not need to restart eclipse.  Here is the log with trace on:
[logs.txt](https://github.com/eclipse/codewind/files/4167361/logs.txt)

[2020-02-06 19:38] ssh24 commented on #2075
What does the build status on those project say?

[2020-02-06 19:44] eharris369 commented on #2075
It looks like this:

![image](https://user-images.githubusercontent.com/9484320/73972646-2ac29400-48ef-11ea-93e6-7dbd41e9f839.png)

I just tried the same thing on MAC and it did not have the problem so maybe Windows only?

[2020-02-06 19:49] ssh24 commented on #2075
I have noticed on the logs the running build queue looks like:
[code]
That is very weird to me. Something is kicking off 3 builds together and blocking the queue. I am not sure if portal does something repeatedly that calls the create function multiple time in windows.

Yes I can't reproduce on my machine (Mac) either

[2020-02-06 19:52] ssh24 commented on #2075
This part of the log is even more interesting:
[code]

So it is doing the dockerbuild of a project and out of nowehere it kicks of another build request. Now the build queue, here will add it to the queue if it has space which is what it does. What I am not getting is what will kick off another build while dockerbuild is happening

[2020-02-06 19:54] eharris369 commented on #2075
Here is the filewatcher log in case that helps:
[filewatcherd-1.log](https://github.com/eclipse/codewind/files/4167453/filewatcherd-1.log)

[2020-02-06 19:56] ssh24 commented on #2075
I will try it on my windows VM. It shouldn't matter eclipse vs VSCode right?

[2020-02-06 20:00] eharris369 commented on #2075
Theoretically it should not matter.

[2020-02-06 20:14] rajivnathan commented on #1812
@sishida @tetchel Yes, that doc was only meant to be linked temporarily until we have the new doc referenced in the description of this issue that should cover troubleshooting of app status in general. @sishida Spoke to Jake during the iterative-dev call and @ssh24 can help out with technical details.

[2020-02-06 20:15] jagraj commented on #1807
I created new workspace with above devfile. I will monitor in next few days and see how this goes.

[2020-02-06 20:16] ssh24 commented on #1269
@makandre I am assuming that the change for including a default `.cw-settings` file by default with Appsody stack for 0.9.0 went in? (saw a PR couple of days back that did this change)

Should we be adding some kind of documentation for users who want to use older release appsody stacks that don't come with a `.cw-settings` file on how to create a generic template of it and then still have the new

[2020-02-06 20:20] j-c-berger commented on #1812
@sishida, please assign this issue to me as well, thanks!

[2020-02-06 20:26] makandre commented on #1269
@ssh24 that's a good idea.  In our documentation for specifying the `-1`, maybe we could add a small note saying: If the `.cw-settings` file does not exist, create it with the following contents.  That covers all bases, even if user somehow deleted that file by accident.

[2020-02-06 20:27] tetchel opened #2077 "After PFE starts, it takes 2 minutes before it responds to requests"
In a che install,

[code]

Of particular note is:
[code]
so getting the template sources list takes 40s (#1491) and getting the templates themselves then takes 23s.

We should look into why this is so slow, and see if there is some parallelization or caching we can do it to speed it up.
Also, maybe PFE should start responding to requests before that step completes, since it's only the 'create/bind

[2020-02-06 20:42] sghung opened #2078 "Investigate offline support with codewind default project types"
Investigate what happens when there is only intranet connection.

[2020-02-06 20:42] johnmcollier opened #2079 "Cwctl remove doesn't give an error if an invalid option is passed in"
**Codewind version:** latest
**OS:** macOS

**Kubernetes cluster:** Minikube

**Description:**
I was trying to remove a remote install of Codewind I had on Minikube, but I made a typo in the command:
[code]

I ran `cwctl remove remove` instead of `cwctl remove remote`. Instead of giving me an error about an invalid command, it immediately proceeded to remove my running, local instance of Codewind

[2020-02-06 20:42] sghung opened #2080 "Investigate offline support for Appsody projects"
Investigate what happens when there is only intranet connection.

[2020-02-06 20:53] johnmcollier opened #2081 "If no namespace is passed in to cwctl remote, use the current active namespace"
**Codewind version:** latest
**OS:** macOS

**Kubernetes cluster:** MiniKube

**Description of the enhancement:**

I'm tired of having to always specify the namespace flag for `cwctl remote` commands, when I want everything to run (or be removed from) my current active namespace in Kubernetes. It would be nice if the `-n <namespace>` flag was optional and used the current active namespace if it wa

[2020-02-06 21:04] johnmcollier commented on #2007
I was able to reproduce on Minikube

[2020-02-06 21:10] jgwest commented on #2072
Link to original discussion of where this should be updated:
https://github.com/eclipse/codewind/issues/1996

[2020-02-06 21:25] #2025 closed

[2020-02-06 21:31] elsony commented on #1812
The remaining iterative dev work is tracked on the PR https://github.com/eclipse/codewind/pull/2042. Once that is in, the remaining work will be on the IDE side to use the new notificationID field.

[2020-02-06 21:49] rajivnathan commented on #2004
There are a couple places that need to be updated for the nodejs type:
https://github.com/eclipse/codewind/blob/47508c1c56841825846af16da34c8f42c496a13c/src/pfe/file-watcher/scripts/nodejs-container.sh#L273
and
https://github.com/eclipse/codewind/blob/47508c1c56841825846af16da34c8f42c496a13c/src/pfe/file-watcher/scripts/nodejsScripts/noderun.sh#L1

but that doesn't seem to have resolved it. There'

[2020-02-06 21:52] johnmcollier commented on #1691
Super early draft (and admittedly boring) doc here. Just the setup right now:

**To Do:**
- Screenshots
- Creating a project, etc?
- More instructions for some of the steps

# Hybrid Codewind on Minikube

## Prerequisites
- A Mac, Windows, or Linux host
- Minikube: See https://kubernetes.io/docs/tasks/tools/install-minikube/ for install instructions
- At least 8Gb RAM (Minikube will need at least

[2020-02-06 22:26] jagraj opened #2082 "SVT:Eclipse:After 0.8 to 0.8.1 migration Codewind disabled appsody projects."
**Codewind version:** 0.8.1
**OS:** Windows

**Che version:**
**IDE extension version:** 0.8.0 to 0.8.1 migration
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I created couple of Appsody projects and 2 projects from default templates and after successful build and running then I did migration from Codewind 0.8.0 to 0.8.1 ifix then appsody projects disabled but default

[2020-02-06 22:27] jagraj commented on #2082
/priority stopship

[2020-02-06 22:35] jgwest commented on #2061
Proposed solution sounds like it would be at the IDE level, so assigning those areas.

[2020-02-06 22:42] sishida commented on #2076
@tetchel Thank you for catching this! I have updated the instructions based on your explanation and what I saw in my UI:
<img width="582" alt="Screen Shot 2020-02-06 at 5 39 27 PM" src="https://user-images.githubusercontent.com/21180723/73984977-fe674180-4907-11ea-9515-91932b4a3914.png">

Could you please review the PR? https://github.com/eclipse/codewind-docs/pull/348 Thank you!

[2020-02-06 22:43] rajivnathan commented on #1812
@j-c-berger @sishida can we determine what the link for the new doc will be now so that we can make the change in the code? The doc doesn't need to be done, just a consensus on what the link is going to be.

[2020-02-06 23:00] sujeilyfonseca opened #2083 "SVT: [VS Code] Appsody stack is missing in Codewind 0.8.1"
**Codewind version:** 0.8.1
**OS:** MacOS Mojave 10.14.6 and VM with Windows 10

**IDE extension version:** 0.8.1
**IDE version:** 1.41.1

**Description:** Appsody stack is missing

<img width="1165" alt="Screen Shot 2020-02-06 at 4 16 12 PM" src="https://user-images.githubusercontent.com/49531960/73985927-6fa7f400-490a-11ea-8673-45483e583c2e.png">

[code]

**Steps to reproduce the problem:**
1. C

[2020-02-06 23:01] sujeilyfonseca commented on #2083
/priority stopship

[2020-02-06 23:23] makandre commented on #2082
I was not aware we're having a 0.8.1 ifix.  There's no 0.8.1 release of the appsody extension hence the 0.8.1 PFE probably does not have a copy of the extension.  Although the existing 0.8.0 appsody extension installed to the workspace should have still worked, so this will need to be investigated.

[2020-02-06 23:25] #2046 closed

[2020-02-06 23:26] makandre commented on #2083
This and #2082 have the same root cause.

[2020-02-06 23:27] makandre commented on #2082
@jagraj Could you `ls` the contents of `/codewind-workspace/.extensions` inside PFE?

[2020-02-06 23:34] tetchel commented on #2082
you have to make a 0.8.1 branch for the appsody extension because the jenkins build will look for the matching branch https://github.com/eclipse/codewind/blob/master/Jenkinsfile#L9

[2020-02-06 23:34] tetchel commented on #2082
I can copy 0.8.0 to 0.8.1 quickly and push it to https://github.com/eclipse/codewind-appsody-extension/ if you like.

[2020-02-06 23:39] tetchel commented on #2082
The jenkins build expects there to be a matching appsody and odo extension version available, you can see the errors here:
[code]

@josephca the curl commands [here](https://github.com/eclipse/codewind/blob/master/Jenkinsfile#L182) should pass the `-f` flag so the command and therefore the build fails if the extensions are not found

[2020-02-06 23:51] tetchel commented on #2082
There's no ODO extension either @GeekArthur

[2020-02-06 23:58] makandre commented on #2082
If a corresponding extension version is not found we probably should have packaged the last available version.

But yes cutting a 0.8.1 appsody extension is a quick way to fix this.

[2020-02-07 00:03] tetchel commented on #2082
done (for appsody, not yet for odo)

[2020-02-07 00:12] makandre commented on #2082
@tetchel we should bump the version could you approve and merge https://github.com/eclipse/codewind-appsody-extension/pull/86

[2020-02-07 00:18] GeekArthur commented on #2082
I don't think we have functional tests (tests for odo and appsody) for any Jenkins build, so currently we can't catch issues for extensions from Jenkins build. Seems like the root cause of this issue is we don't have 0.8.1 release/branch/download site contents for extensions (odo and appsody), @josephca IIRC we have the mechanism of automatically creating release/branch/download site contents for

[2020-02-07 00:24] tetchel commented on #2082
ok, there are builds for both appsody and odo now so hopefully [the next build](https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.8.1/) should be working.

[2020-02-07 02:06] mtamboli commented on #938
From what we tried earlier, it seems like the suggested workaround should work although we could not fully test it as discussed.

@sghung @makandre Please document the workaround. We will try to verify the workaround in our next release testing.

Do you still want to keep the defect open for final fix and reduce the severity?

[2020-02-07 07:50] markcor11 commented on #2007
Reproduced on Kubernetes in Docker for Mac:

INFO[0000] Adding new 'codewind-tekton' cluster access roles
ERRO[0000] Unable to add codewind-tekton tekton cluster access roles: clusterroles.rbac.authorization.k8s.io "codewind-tektonrolebinding" already exists
ERRO[0000] Codewind deployment failed, exiting...
exit status 1

[2020-02-07 09:46] james-wallis commented on #2060
1. Yes needs to be removed, we don't create any Dockerfiles for any project type anymore.
2. I'm not sure how much help we'll need to give them. If they've used Docker before a link to the Dockerfile docs https://docs.docker.com/engine/reference/builder/ should be enough extra information.

We might need more information than that, it depends how experienced "Jane" is with Docker

[2020-02-07 09:55] mattcolegate commented on #1963
Raised https://github.com/eclipse/codewind/pull/2084 to push up current code solutions.

[2020-02-07 09:58] james-wallis commented on #2004
@rajivnathan it totally depends on whether we want to support Alpine images now or wait until odo comes along?

If its decided not to fix this:
1. The failed-to-run status should be updated to give the user a better error like @johnmcollier suggested
2. The docs should be updated to say that we don't support Alpine (or any container that doesn't have bash installed in it)

[2020-02-07 10:33] hhellyer commented on #1866
Since we will be changing how tempalte sources are handled we should probably look at https://github.com/eclipse/codewind/issues/1656 as part of this.

[2020-02-07 11:37] rwalle61 commented on #1815
Update

PFE will add these fields to the project object
[code]

Then, in the IDEs:
If `perfContainer` is not null, show perf dashboard
If `appMonitor.dashboardLocation` is not null, show app monitor by combining the correct host (project or performance container) with the provided `appMonitor.pathToDashboard`
If `injection.injectable` is true but `injection.injected` false, show inject metrics
If

[2020-02-07 11:48] tobespc commented on #2004
I think we should fix this as it is a blocker to developers using Codewind if they are bringing Alpine based projects to us.  @rajivnathan if its ok with you, I would like @james-wallis to investigate and potentially fix this

[2020-02-07 13:42] james-wallis commented on #1105
This is still failing, @hhellyer is making a change to the way that template repositories are working so I am going to keep this issue open and re-test once that change is in.

[2020-02-07 14:02] mattcolegate opened #2085 "Codewind Node Profiler does not work on Windows"
**Codewind version:** latest 07/02/2020
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** VSCode latest 07/02/2020
**IDE version:** VSCode
**Kubernetes cluster:** N/A

**Description:**
After running performance load againast a Node.js project using VSCode on Windows 10, upon returning to the Explorer view and opening .js source files, no code highlighting has taken place. The Cod

[2020-02-07 14:02] mattcolegate commented on #2085
/assign
/pipeline in progress

[2020-02-07 14:05] josephca commented on #2082
@tetchel Good catch. Do you mind adding the '-f' flag to the Jenkinsfile?

[2020-02-07 14:07] mattcolegate commented on #2085
This issue is to do with the way that filePaths are being represented inside the code profilier - it seems that the various textDocument.uri and Workspace.uris are mangling both the Windows drive letter and the directory separators. When we try to use them to investigate the file system for directory and file discovery, the paths aren't recognised and errors occur. This error is fairly deep - as w

[2020-02-07 14:38] jopit opened #2086 "[IntelliJ] Increase timouts for long-running actions"
Working on a slow internet connection, I found that the creation of an appsody openlibery project was timing out before completion, because it was taking so long to download the appsody docker image.  In my dev environment, I doubled the timeout which allowed the creation to complete successfully.

At a minimum, for the tech preview, we should double the timeouts for create project, bind project,

[2020-02-07 14:42] josephca commented on #2082
@GeekArthur We should've created '0.8.1' branch manually for 'odo' then the download site will have the corresponding folder (I.e. 0.8.1). It's good to know that we also need rebuilds for extensions for iFix.

[2020-02-07 14:55] jopit opened #2087 "[IntelliJ] no promt to update when a new version is available from the custom plugin repository"
I installed the intellij plugin from the custom plugin repo: https://download.eclipse.org/codewind/codewind-intellij/master/latest/updatePlugins.xml . Later a new version of the plugin became available, but intellij did not prompt me to update.

We should investigate why.  It may be because of the format of the plugin version when the build is from the master branch.

See https://www.jetbrains.org

[2020-02-07 14:55] josephca opened #2088 "Codewind build should use the corresponding extensions and fail the build otherwise."
Enhance Codewind build to detect the availability of the corresponding version of  'appsody' and 'odo' extensions during the build and fail the build if the files are not found.

[2020-02-07 15:15] rwalle61 commented on #1815
When that PR is in, we should switch any code that uses `injectMetrics`, `metricsAvailable` over to use these fields, then get rid of the obsolete fields. At that point we can also remove the `canMetricsBeInjected` field I introduced in that PR

[2020-02-07 15:35] malincoln commented on #1812
@eharris369 @tetchel  cc: @jopit
just making sure you're aware of the IDE changes required.

[2020-02-07 15:37] makandre commented on #2080
/assign

[2020-02-07 15:38] jopit opened #2090 "[IntelliJ] Local maven cache not initialized for appsody projects"

[2020-02-07 15:43] ssh24 opened #2091 "Setup cronjob for turbine performance test"
**Description of the enhancement:**
We now have a full performance test suite. We should go ahead and set up a cronjob that runs nightly to report us results. There should be two cronjobs:
1. Runs nightly against master and we compare each nights result with the night before to see any performance deterioration
2. Runs when there is a DCUT to compare the current DCUT with the previous DCUT to see

[2020-02-07 15:44] ssh24 commented on #1222
Issue for performance test cron: https://github.com/eclipse/codewind/issues/2091

[2020-02-07 15:54] ssh24 opened #2093 "Open liberty application timesout but Eclipse shows dialog multiple times"
**Description:**
Open liberty application timesout and Eclipse shows the dialog multiple times and it looks like this. I think the dialog should be only shown once.

<img width="559" alt="Screen Shot 2020-02-06 at 6 35 59 PM" src="https://user-images.githubusercontent.com/15173354/74043813-11c1ed80-4998-11ea-9660-74080fb0ccf4.png">

/area eclipse-ide

[2020-02-07 15:55] ssh24 commented on #2075
I tried on Win with both VSCode and Eclipse and they are working on:
1. creation of new projects
2. installation of new PFE with existing projects

Am I missing any specific configs?

[2020-02-07 15:58] sujeilyfonseca opened #2094 "SVT: Default projects are failing on remote (0.8.1)"
**Codewind version:** 0.8.1
**OS:** Mac OS Mojave 10.14.6 and VM with Windows 10

**IDE extension version:** 0.8.1
**IDE version:** Code 1.42.0, Code 1.41.1, Eclipse 2019-09 , and Eclipse 2019-06

**Description:** Default projects are failing on remote (0.8.1)

<img width="1674" alt="Screen Shot 2020-02-07 at 10 56 20 AM" src="https://user-images.githubusercontent.com/49531960/74044099-8432cd80-49

[2020-02-07 15:59] ssh24 opened #2095 "Appsody projects disabled by default on create - Eclipse IDE"
**Description:**
Not sure if this is an intended behavior but I noticed that appsody projects are all disabled if you create a brand new project using Eclipse IDE. Did not notice this happening on VSCode.

/area appsody
/area eclipse-ide

[2020-02-07 16:01] tetchel commented on #2082
@jagraj are you unblocked?

[2020-02-07 16:02] makandre commented on #2095
What version of Codewind?  0.8.1 by any chance?

[2020-02-07 16:03] eharris369 commented on #2075
Try creating 4 or 5 open liberty projects in a row (Codewind - not Appsody) using Eclipse.  I reinstalled codewind today after a `docker system prune -a -f --volumes` and can still reproduce.

[2020-02-07 16:04] jopit opened #2096 "[IntelliJ] Progress monitor for starting codewind from the new project wizard should not be cancelable"

[2020-02-07 16:06] ssh24 commented on #2075
This only happens for OL projects? I tried it with one - same steps as you mentioned with some more: 1 node, 1 lib, 1 spr, 1 OL and 1 appsody microprofile

[2020-02-07 16:08] eharris369 commented on #2075
I found it a lot easier to reproduce with several OL projects.

[2020-02-07 16:10] #2088 closed

[2020-02-07 16:11] ssh24 commented on #2095
Downloaded the master zip of eclipse ide

[2020-02-07 16:14] makandre commented on #2095
Any error in logs?

Also could you `ls -la` contents of these folders in PFE:
- `/codewind-workspace/.extensions`
- `/extensions` (should be an appsody extension zip here, if so, are you able to list the contents?)

[2020-02-07 16:18] sujeilyfonseca commented on #2083
I verified this issue with the latest Codewind 0.8.1, and I no longer reproduce this problem.

[2020-02-07 16:18] #2083 closed

[2020-02-07 16:24] ssh24 commented on #2095
So if I have an existing project and restart PFE it comes up fine. Just happens on new projects. Which logs do you?

Here are the command outputs:
[code]
This is also on Windows - didn't try on Mac yet

[2020-02-07 16:28] james-wallis commented on #307
/close

[2020-02-07 16:28] sujeilyfonseca commented on #2082
We verified this issue with the latest Codewind 0.8.1, and we no longer reproduce this problem.

[2020-02-07 16:28] james-wallis commented on #307
Spoke to @vrushaliinamdar and as the PPC work has been delivered this can be closed.

[2020-02-07 16:28] #307 closed

[2020-02-07 16:31] tetchel commented on #153
https://github.com/eclipse/codewind-vscode/pull/429

[2020-02-07 16:32] makandre commented on #2095
PFE's log and project's `appsody.log` if available.

Just gave this a try on Mac, not reproducible there.

[2020-02-07 16:36] malincoln commented on #1804
@tobespc is working via https://github.com/eclipse/codewind/issues/1815

[2020-02-07 16:47] tetchel commented on #2094
@johnmcollier what is this

[2020-02-07 16:57] jagraj commented on #2082
All good now, closing this now.

[2020-02-07 16:57] #2082 closed

[2020-02-07 17:02] j-c-berger commented on #1812
@rajivnathan, I propose the link for the new doc be: https://www.eclipse.org/codewind/troubleshooting.html#projects-stuck-in-starting-or-stopped-state

We can update this section of the troubleshooting to include instructions to help users if their project is:
1)  stuck in starting state
2) they need to stop notifications about my project not running

[2020-02-07 17:05] jagraj commented on #2094
/priority stopship

[2020-02-07 17:12] tetchel commented on #1856
in #1812 we introduced the notification ID which will stop the duplicate pop ups

The detailed app status **should** still be stored in the inf file so that it remains if we restart the IDE

@stalleyj can you add it back?

[2020-02-07 17:18] johnmcollier commented on #2094
https://github.com/eclipse/codewind/pull/1976 has to be backported to 0.8.1

[2020-02-07 17:27] johnmcollier commented on #2094
https://github.com/eclipse/codewind/pull/2097

[2020-02-07 17:31] eharris369 commented on #2075
This could be related to: https://github.com/eclipse/codewind/issues/2072 as I see `[INFO][39m Changed Files: [ >.classpath ]` several times in the logs.  Also `[INFO][39m Changed Files: [ >.project ]` though I thought .project was already ignored.

[2020-02-07 17:44] tetchel commented on #1812
The new button title looks way too long, I liked the more concise one a lot better
![image](https://user-images.githubusercontent.com/8888438/74052217-88b2b280-49a7-11ea-98e6-305da97f2914.png)

[2020-02-07 17:45] j-c-berger commented on #1812
@tetchel, or maybe even `application troubleshooting` or `status troubleshooting`

[2020-02-07 17:47] lentheivendra commented on #1812
Note https://github.com/eclipse/codewind/issues/1812#issuecomment-581443933

[2020-02-07 18:06] #981 closed

[2020-02-07 18:16] keithchong opened #2098 "[IntelliJ] Support Update/Remove handling in ToolWindows (Remove corresponding overview page after the project is removed from Codewind)"
At the time of the development of the overview page, the remove project action was not implemented.  Consequently, the removal of the corresponding overview Tool Window tab, in response to a project removal event, was left as a TODO.   Now that the action has been added, we need to implement this TODO.

[2020-02-07 18:17] tetchel commented on #2085
I haven't looked at the implementation or anything, but when you turn a `vscode.Uri` that points to a file into a string, make sure to use `uri.fsPath` not `uri.toString()`.

[2020-02-07 18:26] ssh24 commented on #2075
I think so too. And as we see those changed files, it goes to adding to the queue where the same project is already building in progress. I have talked to Erin, and I am adding a guard against the running build queue where no one project can be in the running build queue at the same time.

[2020-02-07 18:29] ssh24 commented on #2095
I was going to try it out again so that I can get the logs and now it started working for me :@

[2020-02-07 18:29] keithchong opened #2099 "[IntelliJ] Add preference settings"
IntelliJ provides an API to persist values between restarts of the IDE and add contributions to the settings dialog.

See Configurable

For example, we need to add a preference to control if the overview page appears on project creation.  TODO:

https://github.com/eclipse/codewind-intellij/blob/0eb61f1358af2b6cc8351a32dc6c54058054c3cf/dev/src/main/java/org/eclipse/codewind/intellij/ui/form/AppOver

[2020-02-07 18:30] ssh24 commented on #1269
Yes, agreed. @j-c-berger Would you be able to do assist with that doc? I can help with the technical details if you need help

[2020-02-07 18:44] jopit commented on #2090
Problem is that JAVA_HOME isn't set when `appsody init` is run as part of the creation. From the output of `appsody init`
[code]

[2020-02-07 18:47] j-c-berger commented on #1269
@ssh24, yes, I am happy to help and have been assigned this issue. I'm also working on 1812, which to my understanding, is in conjunction to this issue.

I'll reach out for the technical details as I plan to make more headway on this issue next week, starting Monday. Thanks!

[2020-02-07 18:52] makandre commented on #2080
My approach to testing will be as follows:

- First, create appsody projects while still connected to the Internet
- Then I cut Internet access (imagine if I was boarding a plane) and see if I can still work on the projects in this state.

[2020-02-07 18:53] makandre commented on #2080
My findings for node type appsody projects:

- If my appsody projects were running prior to the connection lost, I can still work on the projects. Changes I make are picked up by the controller and the application is restarted
- But if I need to do a manual build (which reruns `appsody run`) while disconnected, it fails at the `npm audit` step.  I have opened https://github.com/appsody/stacks/issu

[2020-02-07 18:55] elsony commented on #2004
From where do we have the Alpine support based image requirement in the first place?  Do we have specific requirement for supporting Alpine based images out of the box without bash?

There are different types of images out there and we may have others that doesn't have other prereq that we need.  Alpine images does not have bash installed by default doesn't mean that user can't add a line to their

[2020-02-07 18:55] keithchong opened #2100 "[IntelliJ] Add icons to the project type list in the Bind Project wizard"
Polish: Add icons to the project type list

See ProjectTypeListCellRenderer

The language icons can be added too.  See SubTypeListCellRenderer

[2020-02-07 19:00] rwalle61 commented on #1815
btw we discussed naming our 2 dashboard as follows:
- metrics dashboard = app monitor. Hosted either on our performance container, or the user's project (e.g. through appmetrics-dash, javametrics-dash)
![image](https://user-images.githubusercontent.com/18170169/74057218-5a4eca80-49db-11ea-9932-8d0c3e1e106b.png)

- performance dashboard = load test dashboard
![image](https://user-images.githubuserc

[2020-02-07 19:14] makandre commented on #2080
Kitura stack can run offline without issues.

[2020-02-07 19:17] sujeilyfonseca opened #2101 "(metrics) SVT: Performance Dashboard page is not refreshed after performing a load test"
**Codewind version:** 0.8.1
**OS:** Mac OS Mojave 10.14.6 and VM with Windows 10

**IDE extension version:** 0.8.1
**IDE version:** Code 1.41.1

**Description:** Performance Dashboard page is not refreshed after performing a load test. Users should refresh the page if they don't see the test result in the history table.

<img width="1404" alt="Screen Shot 2020-02-07 at 2 14 20 PM" src="https://use

[2020-02-07 19:22] makandre commented on #2080
`python-flask` stack can run offline without issues.

[2020-02-07 19:38] johnmcollier commented on #2094
@sujeilyfonseca Can you verify?

[2020-02-07 19:41] sishida commented on #2060
@james-wallis Thank you for the info! I have added a new commit to the PR: https://github.com/eclipse/codewind-docs/pull/347/files Does it look good to merge now? :)

[2020-02-07 20:00] malincoln commented on #1815
@tobespc when do you expect this fix to be merged?  I was thinking it was merged today?

[2020-02-07 20:00] malincoln commented on #1804
waiting for 1815 to be merged.