[2020-04-14 17:16] #2646 closed

[2020-04-14 17:30] eharris369 opened #2675 "[Eclipse IDE] Codewind explorer view takes up entire window if click on getting started after install"
Clicking on the Codewind getting started link in the Eclipse welcome page opens the Codewind Explorer view as expected but it takes up the entire window and the user has to double click on it to make it smaller and be able to see the Codewind welcome page along with the other views. Also, when it is made smaller it is not grouped with the Markers view, Servers view, etc. as expected.

[2020-04-14 17:31] maysunfaisal opened #2676 "Codewind Test Dashboard"
This issue is to track the progress of the dashboard

Acceptance Criteria:
- [ ] Make sure the test dashboard application is working functionally as expected
- [ ] Deploy the test dashboard on a public VM, that is accessible to everyone outside the IBM network (maybe we can use the shared ibm-cloud account and create a container with the application and expose its service outside)
- [ ] Update the

[2020-04-14 17:31] maysunfaisal commented on #2676
/kind Test

[2020-04-14 17:38] beccabau commented on #2323
FYI new PR for 0.11.0 https://github.com/eclipse/codewind-docs/pull/531

[2020-04-14 17:46] sishida commented on #2670
Numbers 2 through 12 are blog links. They appear to be false positives.

When I run `./serve.sh` and view the blogs that are generated from the `master` branch, they are fine. I see the generated `blog.html` page and tested the links to get to the blogs.

However, when I run `./build.sh`, the links to the blogs appear broken, as I have copied here. I have contacted Steven, and he will look into it

[2020-04-14 17:55] keithchong commented on #2674
This is a dup of https://github.com/eclipse/codewind/issues/2578 which we just fixed in master.  You will get this if the newly added project is the last node in the tree.

[2020-04-14 17:59] jopit commented on #2674
Maybe we should also put the fix into the 0.11.0 branch.

[2020-04-14 18:00] keithchong commented on #2674
Ok, will target 0.11.0

[2020-04-14 18:08] jgwest commented on #2640
Looks like PFE container died with this message:
[code]

[2020-04-14 18:14] eharris369 commented on #2675
The plugin.xml has the following which should stack the view with the Servers view:
[code]

[2020-04-14 18:55] johnmcollier commented on #2052
Verifying, noticed this was fixed a while back. Nice work, thanks!

[2020-04-14 18:55] #2052 closed

[2020-04-14 18:57] johnmcollier commented on #2676
Thoughts on making the test dashboard accessible over a subdomain on codewind.dev?

Maybe something like `testing.codewind.dev` or `test-dashboard.codewind.dev`?

[2020-04-14 19:19] keithchong opened #2677 "[OpenAPI] Bump up version for 0.12.0"
**Codewind version:** 0.12.0

**IDE extension version:** 0.12.0
**IDE version:** Eclipse and VS Code - any supported version

**Description of the enhancement:**
Bump up versions for 0.12.0

[2020-04-14 19:45] AndyRWatson commented on #2640
@sujeilyfonseca  @jgwest that maybe a different issue as I had no traffic / activity to loose the connection, and this PFE error looks to be associated with  LoadRunner

[2020-04-14 19:51] eharris369 opened #2678 "[Eclipse IDE] Tests can fail in build if Eclipse workspace is not clean"
The tests can fail in the build if the Eclipse workspace is not clean (see https://ci.eclipse.org/codewind/job/Codewind/job/codewind-eclipse/job/master/151/). The command to launch Eclipse has:
[code]
This should be changed to somewhere in the build structure so that it gets automatically cleaned up with the build.

[2020-04-14 21:37] keithchong commented on #2100
Target 0.12.0

<img width="498" alt="Screen Shot 2020-04-14 at 5 36 19 PM" src="https://user-images.githubusercontent.com/7726022/79276730-8886d580-7e76-11ea-833b-27551ffe3969.png">

[2020-04-15 07:10] micgibso commented on #2670
See above PR for broken link resolution running linkchecker.bat on Windows.

[2020-04-15 07:15] tobespc commented on #1792
Closing as this is all fixed now

[2020-04-15 07:15] #1792 closed

[2020-04-15 07:50] jcockbain commented on #2619
/assign

[2020-04-15 07:53] jagraj opened #2679 "(metrics) SVT:[OCP 4.4]:Performance dashboard returns "Application is not available""
**Codewind version:** 0.11.0
**OS:** CoreOS

**Che version:** 7.9.2
**IDE extension version:** 0.11.0
**IDE version:** 7.9.2
**Kubernetes cluster:**
OCP 4.4 RC6 on VMWare and also OCP 4.4 RC8 on AWS.

**Description:**
I tried Codewind 0.11.0 relese images on OpenShift 4.4 RC6 installed on VMWare and also on OpenShift 4.4 RC8 installed on AWS. I created bunch of projects and most of the features wo

[2020-04-15 07:57] jagraj commented on #2659
Latest fix looks good on Che, we would like to verify on remote once and close this. This is looking good on Che and it is stable. Thanks for all your help in fixing this issue.

[2020-04-15 07:59] jagraj commented on #2679
/priority stopship
/area portal

[2020-04-15 08:09] tobespc commented on #2679
@malincoln should we be holding up 0.11 for this ?  I thought we were supporting 4.3 for 0.11 as 4.4 is not released yet? We can't even get a 4.4 driver on Public cloud to test with.  It's good to run a test to see if things work but any issues should be dealt with after we release 0.11.

[2020-04-15 08:55] tobespc commented on #2679
After testing with @jagraj this morning, we are able to get this to work from both mine and @markcor11 machines and for Jag using a private browser session.  Looks to be an issue with certificates.

Removing the stop-ship label

[2020-04-15 09:08] rwalle61 commented on #2277
/assign

[2020-04-15 09:16] rwalle61 commented on #1990
#2519 is merged now so PFE master should support remote debug :)

[2020-04-15 09:21] #2283 closed

[2020-04-15 09:21] james-wallis commented on #2153
/assign

[2020-04-15 09:22] james-wallis commented on #2153
/close
I've added Codecov to both `codewind` and `codewind-installer` for our Jenkins builds.

[2020-04-15 09:22] #2232 closed

[2020-04-15 09:22] #2153 closed

[2020-04-15 09:45] tobespc commented on #1989
This issue can now be closed off as we have the operator support

https://github.com/eclipse/codewind-operator

[2020-04-15 09:45] #1598 closed

[2020-04-15 09:45] #1989 closed

[2020-04-15 09:52] markcor11 opened #2681 "Update doc links in tooltip help to point to eclipse Codewind"
**Codewind version:** 0.10.0

**Description:**

Link in tooltip help points to microclimate documentation
![Screenshot 2020-04-15 at 10 46 36](https://user-images.githubusercontent.com/28102564/79323956-cb908980-7f06-11ea-90ed-47971167d5bd.png)

**Steps to reproduce:**

Click on the "Learn More" link which opens a new web browser window display microclimate docs.

[2020-04-15 09:52] markcor11 commented on #2681
/assign @markcor11

[2020-04-15 09:52] markcor11 commented on #2681
/area portal

[2020-04-15 10:08] mattcolegate commented on #2456
/assign
/pipeline In Progress

[2020-04-15 10:29] hhellyer commented on #2364
The fix for this has been merged in. All current uses of `json.Unmarshal` should be checked correctly now.

[2020-04-15 10:29] #2364 closed

[2020-04-15 10:30] james-wallis opened #2684 "Support env files in Codewind style projects"
**Description of the enhancement:**

https://github.com/eclipse/codewind/issues/934 and https://github.com/eclipse/codewind/issues/1401 added support for Appsody style projects to take in a user populated `env.properties` file that a user can use for secrets and other sensitive information that they don't want in source code.

Codewind style projects should support this as well.

**Proposed soluti

[2020-04-15 10:30] james-wallis commented on #2684
/area portal

[2020-04-15 10:36] james-wallis commented on #2001
/assign

[2020-04-15 11:16] tobespc opened #2685 "(metrics) Appsody microprofile template not showing live metrics"
The Appsody microprofile template is not showing live metrics on the dashboard.  On investigation I can see that we directing users to the codewind-appmetrics dashboard whereas we should be pointing them to the javametrics-dash dashboard.

[code]

[2020-04-15 11:27] markcor11 commented on #2045
I think this can be closed now.  Docs have been updated and we have an alternative method of installing codewind using the new Operator.

/close

[2020-04-15 11:27] #2045 closed

[2020-04-15 11:30] rwalle61 commented on #2277
thanks, https://github.com/eclipse/codewind-installer/pull/431 should improve all the error messages from adding template sources/repositories

[2020-04-15 11:48] stalleyj commented on #2665
Totally agree that this is confusing. I think a full description would give the user the information required to select the right type. The project-types api was significantly changed for this issue https://github.com/eclipse/codewind/issues/292 to give full information for appsody stacks but not Codewind style. Resolving this will require modification to the API and also changes to the VSCode plu

[2020-04-15 12:29] james-wallis commented on #2001
Verbose output from `nodemon` on a single file code change.
[code]
So `nodemon` is reporting that the files that contain changes are:
* nodemon.json
* package.json
* server/config/local.json
* server/routers/codewind.json  <- file I actually changed
* server/routers/health.js
* server/routers/index.js
* server/routers/public.js
* server/server.js
* test/test-demo.js
* test/test-server.js

I am goi

[2020-04-15 12:30] jcockbain commented on #2619
Looking at this now, it's this error that's being hit: https://github.com/eclipse/codewind-installer/blob/master/pkg/docker/docker.go#L634.

If called without the `--json` flag, the description that's set by us (currently `Error executing 'docker login'`) is returned.

However, with `--json` set, the error description is the error returned from the exec command (based on format I'm thinking it's f

[2020-04-15 12:36] #2100 closed

[2020-04-15 12:37] mattcolegate commented on #1579
All local content now available at https://github.com/mattcolegate/codewind-installer/tree/mustgatherCli - will need testing on Mac, as I've only developed on Windows. I should also probably work out how to write tests, but (as ever) the current testing package doesn't work on Windows. Next job will be working out how to gather this stuff from Remote connections.

[2020-04-15 12:43] mattcolegate commented on #1579
/label area/docs
Docs, hopefully there's enough info in the readme and the usage to get you going on this, but do write here if there's anything non-obvious @micgibso

[2020-04-15 13:06] james-wallis commented on #2001
PFE is told by `cwctl` that the `modifiedList` in `upload/end` is `modifiedList: [ 'server/routers/codewind.js' ],`
Then later in the PFE logs for the specific app we see `[15/04/20 12:34:46 my-multiple-saving-node-app] [INFO] Changed Files: [ >codewind.js ]` so file-watcher also knows only a single file has changed.

[2020-04-15 13:17] tobespc opened #2686 "(metrics) Create helper function to identify project capabilities"
We currently don't have a good way of determining for a project whether it
  - supports metrics (either with appmetrics or by using a /metrics endpoint)
  - performance data (needs appmetrics)
  - metrics injection (this should then give metrics and performance data)
  - ...

What we need it a function that if we send it a project, it can analyse the various parts of the source code to establish w

[2020-04-15 13:22] #2001 closed

[2020-04-15 13:23] rwalle61 commented on #1164
linking this to testing epic https://github.com/eclipse/codewind/issues/2291

[2020-04-15 13:24] tobespc opened #2687 "(metrics) Performance Dashboard needs to make it clear to users on supported capabilities"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

[2020-04-15 13:28] rwalle61 commented on #2291
Significantly improved PFE API and unit testing in Feb: https://github.com/eclipse/codewind/issues/1716, https://github.com/eclipse/codewind/issues/2231, https://github.com/eclipse/codewind/issues/2232

[2020-04-15 13:36] sishida commented on #2670
Interestingly, linkchecker.bat doesn't produce the false positives from the blog page like the ./serve.sh script generates.

[2020-04-15 13:45] sishida opened #2688 "Blog page links don't work on the live site"
When I run the `./build.sh` script on macOS, it reports broken links for the `blog.html` page.
- However, when you run `./serve.sh` and copy and paste the generated URL, the links to the blogs on the `blog.html` page work.
- Also, `linkchecker.bat` on Windows doesn't report the broken links from the blog page.

That said, though, the links are actually broken when you view them on the live site: h

[2020-04-15 14:01] mattcolegate commented on #2456
Testing with latest Codewind and Codewind-vscode.
1. Brought up Codewind and VS Code
1. Created a Default Microclimate project
1. Waited for it to come up
1. Opened the performance dashboard
1. Ran a default load test to completion; data displayed on Performance dashboard
1. Right clicked project in IDE and selected 'Remove Project'

Project did fail to remove, but failed with a better error messa

[2020-04-15 14:03] sishida commented on #2670
The actual broken links are fixed and only false positives remain. I am closing this issue and have opened another issue https://github.com/eclipse/codewind/issues/2688 for removing the false positives on the blog page.

[2020-04-15 14:03] #2670 closed

[2020-04-15 14:05] mattcolegate commented on #2456
Ah I see - it's removed the underlying files and containers so although the project looks ok, it is in fact in an illegal state and now can't be removed further

[2020-04-15 14:37] micgibso commented on #2688
Fwiw, the Windows script that I ran this morning gave me five broken links on this PR: https://github.com/eclipse/codewind-docs/pull/532.

[2020-04-15 14:40] deboer-tim opened #2689 "Importing existing projects docs easily misleading"
The documentation for importing existing projects at https://www.eclipse.org/codewind/importing-existing-projects.html is technically correct, but very easily misleading and confusing.

As an example we had a user with problems on Appsody Microprofile. Starting at the top of the page they looked at "What kind of projects can I add?" and it was far too easy to jump to the section on Microprofile (f

[2020-04-15 14:45] micgibso commented on #2556
Discussed with Mark Cornaia earlier this week, no technical path yet, tbc.

[2020-04-15 14:47] mattcolegate commented on #2456
I've played around with the scenario a bit, and I believe it's something to do with the IDE - I got into the error state, closed VS Code and then re-opened it (leaving all other containers up and running, with the performance dashboard displayed). The deleted project no longer appears in the Codewind list, and I am able to delete the underlying project from the file system. The only file that was

[2020-04-15 14:49] micgibso commented on #2633
Will check the old pages and see if there's any more valid content.

[2020-04-15 14:50] tetchel commented on #2456
What's the .project file? The projectID.json file? The IDE definitely does not use that directly; it only reads it through PFE.

[2020-04-15 14:53] j-c-berger commented on #2649
@maysunfaisal, I'm happy to complete any ID work needed on this issue. But the ID team and I are wondering what sort of ID work is needed for this issue? From what we gather, what's needed is testing, so what's the ID work?

Thanks!

[2020-04-15 14:55] j-c-berger commented on #2689
I'll take this one, thanks!

[2020-04-15 14:58] MelHopper commented on #1980
Changes being implemented via PR https://github.com/eclipse/codewind-docs/pull/534

[2020-04-15 15:02] mattcolegate commented on #2456
/labels area/vscode-ide

[2020-04-15 15:03] mattcolegate commented on #2456
Hmm, in that case I wonder if PFE is holding it open for the IDE

[2020-04-15 15:03] sujeilyfonseca commented on #2660
I verified this issue with the latest Codewind 0.11.0, and I no longer reproduce the problem.

![Screen Shot 2020-04-15 at 11 01 47 AM](https://user-images.githubusercontent.com/49531960/79353111-9f760800-7f08-11ea-8117-7ebc693e5344.png)

[2020-04-15 15:03] #2660 closed

[2020-04-15 15:25] makandre commented on #2657
A workaround is to manually build the project (from Codewind view, `Build` action on the project).  That would force a rerun of `appsody` to pick up the changes

[2020-04-15 15:28] eharris369 commented on #2678
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/702

[2020-04-15 15:28] #2678 closed

[2020-04-15 15:28] johnmcollier opened #2690 "Codewind operator instructions don't mention privileged and anyuid requirements for OpenShift"
**Description:**
The [installation instructions](https://github.com/eclipse/codewind-operator/blob/master/README.md) for the Codewind operator don't mention that Codewind needs to run as root and as privileged currently, and without running:
1. `oc adm policy add-scc-to-user privileged <codewind-service-account>`
2. `oc adm policy add-scc-to-user anyuid <codewind-service-account>`

Codewind will n

[2020-04-15 15:29] sujeilyfonseca commented on #2659
@jagraj, I verified this issue on local, remote/hybrid, and che scenarios. Everything looked good. I couldn't reproduce the problem.

[2020-04-15 15:40] jagraj commented on #2659
Excellent, Thanks @sujeilyfonseca . I am closing this issue now. Thanks again to @tobespc and @markcor11 addressing this issue.

[2020-04-15 15:40] #2659 closed

[2020-04-15 15:47] sujeilyfonseca commented on #2616
Thank you very much for working to solve this issue, @tobespc and @markcor11!

I verified this issue with the latest Codewind 0.11.0, and I no longer reproduce the problem with default projects. I was not able to get metrics with the previously mentioned projects:

Appsody Eclipse Microprofile
Appsody Open Liberty
Appsody Spring Boot Default
Appsody Spring Boot Kotlin

However, we have another iss

[2020-04-15 15:47] #2616 closed

[2020-04-15 16:01] mmulholl commented on #2657
Of course manual build works, just not really a workaround for a product which is meant to auto build. A workaround would be a way to rig auto-build.

[2020-04-15 16:03] sujeilyfonseca commented on #2456
@mattcolegate I confirm I was able to reproduce the same scenario you described. After restarting VS Code, the deleted project no longer appeared, and I was able to remove the project directory from the system.

The message also looked better from me:

![Screen Shot 2020-04-15 at 11 51 54 AM](https://user-images.githubusercontent.com/49531960/79359208-4ad68b00-7f10-11ea-8a4a-e8bd351b27e0.png)

As

[2020-04-15 16:10] hhellyer commented on #2639
The closest I have got to reproducing this issue is using a URL for the template repository that times out, I've added a PR to improve our handling of that here: https://github.com/eclipse/codewind/pull/2691 which is a fix worth having anyway. It may or may not be the users original issue, I can't verify that without more debug information.

@tetchel - Do you have a reference to who reported this

[2020-04-15 16:23] tetchel commented on #2639
I DM'd you the slack thread

[2020-04-15 16:32] sujeilyfonseca commented on #2665
@stalleyj, I verified the import feature using Eclipse (Linux) and IntelliJ (MacOS), and the user experience is different.

**Eclipse:** The IDE automatically prompted me to approve the type `Other (Codewind Basic Container)` and the `Java` language.

![Screen Shot 2020-04-15 at 12 18 37 PM](https://user-images.githubusercontent.com/49531960/79362081-24b2ea00-7f14-11ea-8690-a8219d2b26ce.png)

Also

[2020-04-15 16:34] sujeilyfonseca commented on #2640
Ok. Thanks, @AndyRWatson and @jgwest! I'll proceed to open a different issue.

[2020-04-15 16:38] sujeilyfonseca opened #2692 "SVT: PFE container died after creating several projects"
**Codewind version:** 0.9.0
**OS:** MacOS

**IDE extension version:** 0.9.0
**IDE version:** 1.44.0

**Description:** I installed Codewind 0.9.0 on VS Code because I wanted to perform a migration scenario. I created several projects, and suddenly the connection was lost:

<img width="1669" alt="Screen Shot 2020-04-13 at 2 23 53 PM" src="https://user-images.githubusercontent.com/49531960/79148860-3

[2020-04-15 18:47] mmulholl commented on #2657
As a note, Appsody Eclipse appears to have the same issue

[2020-04-15 19:42] sishida commented on #2443
Templates source manager descriptions should link out to source providers. I will look for suitable links.

[2020-04-15 19:51] makandre commented on #2657
In https://github.com/appsody/stacks/issues/753#issuecomment-614239965, it was discovered that when a java source file was changed, it appears we are also syncing over the `pom.xml` to PFE as well..  And this causes problems with Quarkus.

@tobespc @jgwest Are we syncing over files that have not changed for some reason?

[2020-04-15 20:05] jagraj opened #2693 "SVT:[Hybrid]:[Operator]: 0.11.0 Operator installing Codewind 0.10.0 version and IDEs are failing to connect."
**Codewind version:** 0.11.0
**OS:** CoreOS, Windows

**Che version:**
**IDE extension version:**  0.11.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**
OCP 4.4 RC8

**Description:**
I tried to connect to remote cluster after installing remote codewind from operator and IDE failed to connect to remote codewind saying it can not connect Codewind 0.10.0 version from Eclipse IDE plugin 0.11

[2020-04-15 20:05] jagraj commented on #2693
/area portal
/priority stopship

[2020-04-15 20:18] johnmcollier opened #2694 "Onboard the Codewind operator to OperatorHub"
[OperatorHub](https://operatorhub.io/) provides a marketplace for Kubernetes operators, and is also included by default on OCP 4. Having Codewind onboarded to OperatorHub would provide a great way for users to discover Codewind, as well as provide an easier way to install and configure Codewind instances on Kubernetes

[There's a well defined process](https://operatorhub.io/contribute) for contrib

[2020-04-15 20:40] jagraj commented on #2679
We tried to debug this morning and we are seeing these 503 errors mostly from Chrome browser and not from FireFox. We hit this problem even with OpenShift 4.4 RC8 console as well. At this point most likely this is not Codewind issue and we need to keep testing with future OCP 4.4 release candidates and see if we can reproduce the problem.

[2020-04-15 22:03] johnmcollier commented on #2679
I spun up the nightly OCP 4.4 driver individually and could reproduce as well
<img width="1792" alt="Screen Shot 2020-04-15 at 6 01 45 PM" src="https://user-images.githubusercontent.com/6880023/79393395-4081b480-7f43-11ea-86a1-0c2acbfca6e9.png">

My guess is something in the OpenShift router changed such that the router config we're using for the performance dashboard is no longer valid.

[2020-04-16 03:22] jagraj commented on #2693
Verified, Thx for the fix. Closing it now.

[2020-04-16 03:22] #2693 closed

[2020-04-16 07:04] #2464 closed

[2020-04-16 08:04] hhellyer commented on #2690
@johnmcollier - Would you be able to raise a PR against the readme for this? Without having an OpenShift cluster it's hard to know where in the instructions to put this.

Does this apply to all levels of OpenShift or just 3.11/4.x?

Does this need to go into the 0.11.0 release, if you raise a PR against master I'm happy to do the merge to 0.11.0 if required.

[2020-04-16 08:28] markcor11 commented on #2690
Codewind will deploy on OpenShift 3.11, 4, CRC and ROKS using the operator without the need to do those two commands anymore.

[2020-04-16 09:32] micgibso commented on #2233
@kimholmes A separate version menu seems to be the norm in the examples quoted above, how about something like this for example:
![image](https://user-images.githubusercontent.com/7224752/79440171-98fd9400-7fcd-11ea-866d-2f882bb6abf2.png)

[2020-04-16 09:38] james-wallis commented on #1579
I've tested the `cwctl mustgather` multiple times on Mac, using the `--quiet` and `--projects` flags.
I can confirm that I get PFE and performance container's `inspect` and `log` files and when given the `--projects` flag I get an `inspect` and `log` file for each project.
Nice work.

[2020-04-16 11:29] markcor11 commented on #2694
@johnmcollier I agree that would be cool. We have talked about doing that and had mentioned it in the initial design story. There are some enhancements we need to make to accommodate their process first though.

[2020-04-16 11:49] jcockbain commented on #2686
/assign

[2020-04-16 12:09] james-wallis commented on #2686
/assign

[2020-04-16 12:21] hhellyer commented on #2278
I'm reviewing James's PR's and can't help feeling this is all bit over complicated.
We are essentially adding an API onto PFE that just triggers sending a socket message straight back so the local file-watcher can notify the local IDE that a directory is missing. Sending that message by round tripping it through a REST call and socket message doesn't seem the most straight forward solution.

Given

[2020-04-16 12:56] makandre commented on #2657
The reason the `pom.xml` is touched even though it has not changed is because when a file is uploaded, it is written to `cw-temp` first, then the project there (which contains a copy of the pom) is copied to its real location in `/mounted-workspace`

I found that if the copy is done with `preserveTimestamps: true`, this will make Quarkus happy.  I'll put up a PR for this shortly.

[2020-04-16 13:00] malincoln commented on #2657
@makandre thanks for investigating further.  I guess the next step is to determine if we still need 753 from the Apposdy team or should cancel?

[2020-04-16 13:05] makandre commented on #2657
@malincoln I think they'll use 753 to track the underlying issue in the Quarkus stack, because if user does make a change to the `pom.xml` file, it crashes.

[2020-04-16 13:08] jcockbain commented on #2686
## Kabanero templates

- [ ] **kabanero-node-express-scaffold**

- [ ] `/metrics`
- [ ] appmetrics endpoint

- [ ] **kabanero-node-express-simple**

- [ ] `/metrics`
- [ ] appmetrics endpoint

- [ ] **kabanero-node**

- [ ] `/metrics`
- [ ] appmetrics endpoint

- [ ] **kabanero-eclipse-microprofile**
- [ ] `/metrics`
- [ ] appmetrics endpoint

- [ ] **kabanero-open-liberty**

- [ ] `/metrics`
- [

[2020-04-16 14:10] johnmcollier commented on #2690
@markcor11 Ahhhh, okay. That's a lot more intuitive then! My misunderstanding, so this can be closed.

[2020-04-16 14:10] #2690 closed

[2020-04-16 14:19] eharris369 commented on #2675
Fixed by:
- master PR: https://github.com/eclipse/codewind-eclipse/pull/703
- 0.11.0 PR: https://github.com/eclipse/codewind-eclipse/pull/704

[2020-04-16 14:19] #2675 closed

[2020-04-16 14:28] johnmcollier commented on #2694
@markcor11 Good point - curious, what enhancements would be needed to the operator?

[2020-04-16 14:28] mattcolegate commented on #1579
Hi @johnmcollier @tobespc , given this works on Windows and Mac we're keen to put the Local-only solution out to the master branch so the team can use it and comment on it rather than hang on until remote is done - are you happy for us to do that?

[2020-04-16 14:49] rwalle61 commented on #2277
/pipeline Verify

[2020-04-16 14:50] eharris369 commented on #2672
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/701

[2020-04-16 14:50] #2672 closed

[2020-04-16 14:51] james-wallis commented on #2686
In summary:
We've been able to determine that most projects have a `/metrics` endpoint but Swift ones have `/actuator/metrics` instead. Additionally, some have `appmetrics-dash`, `javametrics-dash` or `swiftmetrics-dash`.

[2020-04-16 15:19] hhellyer commented on #2692
This is occurring in 0.9.0 and we've restructured the code a lot since then. It does look like it's still possible though so I'm going to take a look and see if there's a way we can make this more robust when `project` may be null.

[2020-04-16 16:08] rwalle61 commented on #2647
To start with I can get `cwctl` to download templates from GHE repos via `cwctl project create --url <url> --path <path> --username <username> --password <password>`.

Beyond this it would be useful to flesh out the user experience, so we can design the implementation. For example it'd be good to know:
- what type of credentials we should support: username/password, Personal Access Token, OAuth to

[2020-04-16 16:46] eharris369 opened #2697 "[Eclipse IDE] Support filling in template source details automatically"
When the user is adding a new template source, add a button so that they can fill in the template source details automatically if available at the template source URL.

[2020-04-16 17:24] sujeilyfonseca opened #2698 "SVT: [VS Code] Codewind's home page is not working properly on Linux"
**Codewind version:** 0.11.0
**OS:** Linux

**IDE extension version:** 0.11.0
**IDE version:** 1.44.0

**Description:** Codewind's home page is not working properly on Linux

![Screen Shot 2020-04-16 at 1 16 43 PM](https://user-images.githubusercontent.com/49531960/79486996-90b15300-7fe5-11ea-85da-93cf80a8924f.png)

@jagraj

[2020-04-16 17:27] tetchel commented on #2698
Please post a screenshot of the developer tools' console

[2020-04-16 17:58] markcor11 commented on #2681
Merged into master - closing

[2020-04-16 17:58] #2681 closed

[2020-04-16 17:58] mmulholl opened #2699 "SVT : Mac : Cannot create or import Appsody Kitura projects"
**Codewind version:**0.11.0.v202004091756
**OS:**Mac

**Che version:**
**IDE extension version:**
**IDE version:**Eclipse jee 2019-09, VSCode
**Kubernetes cluster:**

**Description:**
Appsody kitura project will not create or import using eclipse or VSCode. Wizards do not show an error but the project fails to appear in the codewind project list. For example see this in the pfe logs:

[16/04/20 16

[2020-04-16 18:00] mmulholl commented on #2657
This now works in the latest driver.

[2020-04-16 18:01] sujeilyfonseca commented on #2699
**Codewind version:** 0.11.0
**OS:** Mac OS Mojave 10.14.6, VM with Windows 10, Linux/Ubuntu

**IDE extension version:** 0.11.0
**IDE version:** Code 1.44.0

I reproduced the problem on Mac, using Appsody Kitura. I attempted to create/import the project, but nothing happened:

<img width="1672" alt="Screen Shot 2020-04-16 at 1 07 28 PM" src="https://user-images.githubusercontent.com/49531960/79490

[2020-04-16 18:02] mmulholl commented on #2699
I re-installed Codewind 0.9.0 and appsody kitura projects worked OK.

[2020-04-16 18:06] sishida commented on #2651
Talked to the IDE team today. Can work on documentation when the remote debug work progresses further in the IDEs.

[2020-04-16 18:07] makandre commented on #2699
Sigh... I think my fix for Quarkus #2657 exposed this problem.  The file in question `.appsody/AppsodyKitura/Tests/LinuxMain.swift` has only read access in the stack.  So when I preserved the timestamp I think it's also preserving the access bits?  I think I can work around this...

[2020-04-16 18:20] josephca opened #2700 "Use archive site to publish PR or Branch builds"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Publish PR and branch builds to Eclipse archive site rather than Eclipse download site
https://bugs.eclipse.org/bugs/show_bug.cgi?id=562063

[code]

**Proposed solution:**

In order to clean up Eclipse download area for Codewind, move and/or remov

[2020-04-16 18:42] markcor11 commented on #2694
@johnmcollier some examples of what need to be part of this story:

1. add additional CR status to the LIST output to pass OLM and scorecard tests
2. gracefully handle upgrades of both operator and Codewind resources
3. make namespace watches optional
4. generate a single pair of CRDs using our lowest supported Kube API level (so that we don't have to catalogue multiple versions)
5. add additional

[2020-04-16 18:57] makandre commented on #2699
I've put up new PRs to refine my previous fix for Quarkus.

Somehow, when `preserveTimestamps` is enabled for `fs.copy`, it will try to modify that `LinuxMain.swift` file which has only read access as I mentioned previously.  This failed the project creation in `bind/end` function.

The new fix adds a param to the `copyProject` function to control whether we want to preserve timestamp or not:  def

[2020-04-16 19:16] sghung commented on #2657
@mmulholl if it works on the latest driver, can this issue be closed?

[2020-04-16 19:18] sghung commented on #2657
Are we keeping this issue open due to https://github.com/eclipse/codewind/issues/2699 ? I just want to check whether this can be closed due to Martin confirming, or whether we need to redo the PR and verify again

[2020-04-16 19:27] sishida commented on #2323
I created this PR: https://github.com/eclipse/codewind-docs/pull/535

The publication date has changed from what was originally planned. Also, because we didn't release 0.10.0, I have deleted the `news10.md` file from our `_news` folder.

Tagging @beccabau for awareness.

[2020-04-16 19:35] johnmcollier commented on #2407
This got away from me for 0.11.0 due to our work with odo, let's revisit after the 0.11.0 release to determine how exactly we want to state our support for CodeReady Workspaces

CC @j-c-berger

[2020-04-16 19:40] sishida commented on #248
I am closing this `Codewind-java-profiler` issue because we have this broader issue instead: https://github.com/eclipse/codewind/issues/2649

[2020-04-16 19:40] #248 closed

[2020-04-16 20:01] sishida commented on #2649
Got some clarification on this issue today. The ID team can review the README files for grammar/style after the developers make their updates and check off the boxes in Maysun's comment.

[2020-04-16 20:07] GeekArthur commented on #1131
Video has been published on YouTube https://www.youtube.com/watch?v=wNMcHQJL0C4, close the issue

[2020-04-16 20:07] #1131 closed

[2020-04-16 21:36] keithchong commented on #2269
<img width="668" alt="Screen Shot 2020-04-16 at 5 26 04 PM" src="https://user-images.githubusercontent.com/7726022/79509050-c3207780-8008-11ea-9af6-9d14c3628711.png">

[2020-04-16 21:37] keithchong commented on #2269
To turn off the popup notifications, change the combo box value to `No popup`. By default, the Log checkbox should be unchecked. These should not be in the Event Log.

<img width="1126" alt="Screen Shot 2020-04-16 at 5 26 58 PM" src="https://user-images.githubusercontent.com/7726022/79509068-ce73a300-8008-11ea-9de0-c8b5760c043d.png">

[2020-04-16 21:40] keithchong commented on #2269
@sishida , @jopit, should we document how to turn off these notifications? This is IntelliJ-specific.

[2020-04-16 21:49] keithchong commented on #2269
Target 0.12.0

[2020-04-16 23:48] jgwest commented on #2278
I should write this up in full as a design doc, as every time folks encounter the filewatcher they want to connect the IDE to it 😄

But in short:
- The filewatcher does not have an IDE connected to it in all cases, and thus you cannot presume one is present. For example, when running on Che, the (Go) Filewatcher and Theia are not only not running in the same process, but are running in entirely di

[2020-04-17 00:21] jgwest commented on #2233
@micgibso IMHO it should be a text box rather than just just a simple `Version` string, citing as design precedent all the linked examples in my comment above:
![image](https://user-images.githubusercontent.com/7594762/79518717-c6732d80-801f-11ea-905c-1cb24fd953e3.png)

[2020-04-17 07:34] micgibso commented on #2233
@jgwest Yes, this ^^^.
I just wanted us to consider not having the doc version choice on the same menu as the function as per [the suggestion](https://github.com/eclipse/codewind/issues/2233#issuecomment-607927721).

[2020-04-17 09:18] mattcolegate commented on #773
Verified - the help icon on the above pages, when clicked, opens generic help.

[2020-04-17 09:18] #773 closed

[2020-04-17 09:28] mattcolegate opened #2704 "[Eclipse] Unexpected radio button default on Project selection panel after choosing local file system folder"
**Codewind version:** latest 17/04/2020
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest Eclipse 17/04/2020 (from source)
**IDE version:** Eclipse 2019-06 (4.12.0)
**Kubernetes cluster:** N/A

**Description:** On the Add existing project to Codewind: Project Selection panel, if a user selects an existing project from the file system and uses the Browse button to select th

[2020-04-17 09:51] hhellyer commented on #2278
That helps a little, although now I'm worried about the scenario where we have a standalone file-watcher and the project folder is removed, as you say that's mostly hypothetical at this point though. (What happens to the running filewatcher? How do we make a decision about what to do with the project? How does the file-watcher get shut down? Does it just exit and stop watching that folder?)

I thi

[2020-04-17 10:16] mattcolegate commented on #2456
Still investigating this - PFE is holding the project file open but I've not narrowed down why yet. However, in an interesting development, I tried recreating this using Eclipse as the IDE and was unable to - the project was deleted cleanly. This makes me further suspect that VSCode plugin has something to do with this issue. @sujeilyfonseca, if you've got the time, I would be grateful if you coul

[2020-04-17 10:38] hhellyer commented on #2699
I've raised #2705 as an alternative fix for this after some googling showed this was actually a bug in fs-extra. It's fixed in the latest release and my PR just updgrades to that.

The fs-extra issue is here:
https://github.com/jprichardson/node-fs-extra/issues/629

I *think* it's probably the correct fix but there's an argument for going with @makandre's fix in 0.11.0 as it doesn't involve updati

[2020-04-17 11:43] makandre commented on #2699
@hhellyer thanks for finding that.  I agree we should fix it the right way (updating `fs-extra`) in master, and go with my workaround fix for 0.11.0 to avoid more churn.

[2020-04-17 12:13] snehlatamohite opened #2706 "Getting Power nodes on Jenkins CI via OSU/OSL"
Hi All,

I am checking the willingness to add Power nodes on Jenkins CI using OSU/OSL so that codewind will build Power containers and binaries.

**Codewind version: v0.9.0**
OS - Please suggest OS you need for Power nodes.

Thanks,
Snehlata Mohite.

[2020-04-17 12:20] eharris369 commented on #2697
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/705

[2020-04-17 12:20] #2697 closed

[2020-04-17 12:55] eharris369 commented on #2704
Thank you for catching this!

[2020-04-17 13:02] eharris369 opened #2708 "Can't build Codewind Spring project on Open Shift"
Trying to build a Codewind style Spring project on Open Shift results in the following error:

`pod for helm release cw-spring1-8864d7c0-80a9-11ea-967c failed to start`

Here is the log with log level set to trace:
[spring1log.txt](https://github.com/eclipse/codewind/files/4493534/spring1log.txt)

And the build log:
[docker.build.log](https://github.com/eclipse/codewind/files/4493037/docker.build.

[2020-04-17 13:13] sishida commented on #2269
@keithchong If you turn off all IntelliJ notifications in the same way, I'm thinking we wouldn't need to document the Codewind notifications. But if we're introducing something sort of new or different into IntelliJ, then we should document that.

[2020-04-17 13:17] eharris369 opened #2709 "Codewind node.js project stuck in starting state on Open Shift"
I created a Codewind style node.js project on Open Shift and it is stuck in starting state:

[code]

Logs with log level set to trace:
[node1log.txt](https://github.com/eclipse/codewind/files/4493587/node1log.txt)

docker.build.log:
[docker.build.log](https://github.com/eclipse/codewind/files/4493130/docker.build.log)

Also the app.log appears to be cut off:
[app.log](https://github.com/eclipse/co

[2020-04-17 13:27] eharris369 commented on #2704
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/707

[2020-04-17 13:50] eharris369 opened #2710 "Build fails for Codewind microprofile project on Open Shift"
The build fails for a Codewind style microprofile project on Open Shift with error:

`Application build failed. Please check the log in the build log view for more details.`

Logs with log level set to trace:
[mp1log.txt](https://github.com/eclipse/codewind/files/4493690/mp1log.txt)

docker.build.log:
[docker.build.log](https://github.com/eclipse/codewind/files/4493304/docker.build.log)

I created

[2020-04-17 15:22] makandre commented on #2657
@mmulholl Could you re-verify that the new fix for #2699 didn't break Quarkus?  If it's all good then I think we can close this one

[2020-04-17 15:54] eharris369 commented on #2709
Found this in the log:

[code]

[2020-04-17 16:35] chilanti opened #2711 "Allow configuring the Docker network that Codewind containers should join"
**Codewind version:** Any
**OS:** Any

**Description of the enhancement:**

We'd like to be able to configure the Docker network name that containers join - right now, this value seems to be hardcoded to `codewind_network`.

**Proposed solution:**

There are two approaches:
1) Make the default Docker network - now `codewind_network` - a configurable parameter. This may require modifying code paths

[2020-04-17 16:38] james-wallis commented on #2686
I've created a function in PFE that will perform a GET request on the known metric endpoints above. It currently returns an object that shows which metrics endpoints are active:
For example for an Appsody Node.js Express Scaffold Template
[code]

The function pings the endpoints to determine whether they are available and also checks whether the `appmetrics-dash` endpoints are `appmetrics` ones an

[2020-04-17 17:25] eharris369 commented on #2709
Adding iterative-dev given the error message.

[2020-04-17 17:26] #2269 closed

[2020-04-17 17:49] makandre commented on #1804
Adding tech-topic label to discuss how we can address @scottkurz https://github.com/eclipse/codewind/issues/1804#issuecomment-595320738 above

/label tech-topic

[2020-04-17 18:04] eharris369 commented on #2709
If I do a kubectl exec into the container from the command line I am not logged in as root but as some other user and cannot create /scripts dir either.

[2020-04-17 18:08] scottkurz opened #2712 "(metrics) Provide ability to disable authentication for open metrics"
In: https://github.com/eclipse/codewind/issues/1804  it was discussed how to use the MP Metrics endpoint to populate dashboard info rather than the earlier option.

As I pointed out in [this](https://github.com/eclipse/codewind/issues/1804#issuecomment-595320738) comment, the java-openliberty stack protects this endpoint with a generated password.

One option would be for codewind to look into the

[2020-04-17 18:10] makandre commented on #2712
/tech-topic

[2020-04-17 18:18] jagraj opened #2713 "SVT:[Hybrid]: Appsody Quarkus sample failed to deploy on remote Codewind"
**Codewind version:** Codewind 0.11
**OS:** Windows/OCP 4.3

**Che version:**
**IDE extension version:** Codewind 0.11.0
**IDE version:**  Eclipse 2019-09
**Kubernetes cluster:**
OpenShift 4.3

**Description:**
I installed codewind on remote OCP 4.3 cluster and configured Codewind remote connection on Eclipse and tried to create Appsody Quarkus project and it failed to build with the following exc

[2020-04-17 18:18] jagraj commented on #2713
/priority hot

[2020-04-17 18:28] naveenkaratekid commented on #2713
I am noticing this issue in my Windows VM for Eclipse remote

Logs from Eclipse in Windows:

[code]

Screenshot:
![image (1)](https://user-images.githubusercontent.com/19738071/79601912-94ada580-80b7-11ea-9069-bd015c09a619.png)

Strangely, I don't see that problem in my remote connection in Eclipse in Mac OS

[2020-04-17 18:29] sujeilyfonseca commented on #2713
**Codewind version:** 0.11.0
**OS:** Windows w. OKD/OpenShift cluster

**IDE extension version:** 0.11.0
**IDE version:** Code 1.44.0

I was able to reproduce a similar scenario using hybrid VS Code:

<img width="457" alt="Screen Shot 2020-04-17 at 2 21 23 PM" src="https://user-images.githubusercontent.com/49531960/79601403-be1a0180-80b6-11ea-9aaa-a997e1899f9f.png">

<img width="442" alt="Screen S

[2020-04-17 18:47] DavidG1011 commented on #2713
Codewind version: 0.11.0
OS: MacOS, OKD 4.2

IDE extension version: 0.11.0
IDE version: Code 1.44.0

Not able to reproduce this on MacOS connected to OKD 4.2

Logs in case they're useful:
[remote-gatekeeper.txt](https://github.com/eclipse/codewind/files/4494692/remote-gatekeeper.txt)
[remote-pfe.txt](https://github.com/eclipse/codewind/files/4494693/remote-pfe.txt)

[2020-04-17 19:12] sujeilyfonseca commented on #2713
**Codewind version:** 0.11.0
**OS:** Mac OS Mojave 10.14.6 w. OKD/OpenShift cluster

**IDE extension version:** 0.11.0
**IDE version:** Code 1.44.0

I was not able to reproduce the problem in Mac OS, using VS Code connected to a Fyre Cluster with OCP 4.3:

<img width="1425" alt="Screen Shot 2020-04-17 at 3 11 43 PM" src="https://user-images.githubusercontent.com/49531960/79605376-c7f33300-80bd-11e

[2020-04-17 20:04] makandre commented on #2713
This is possibly related to or a symptom of https://github.com/eclipse/codewind/issues/875; maybe we didn't consider when the starting point is a project on Windows.

[2020-04-17 20:06] malincoln commented on #2713
@tobespc pls investigate.  We can discuss this next week.

[2020-04-17 22:31] AndyRWatson commented on #2688
Please can we get the live blog link back to Pointing to medium until we know the underlying blog links are working. Thanks

[2020-04-18 04:55] makandre commented on #2711
Spoke with @chilanti to get some context.  He's working on an Appsody stack that needs to communicate with a Fabric test env running in a different docker network.

I think the 2nd approach is preferred as it can be scoped to affect individual Appsody projects (1st approach would affect all projects running in Codewind).  It is also more useful since we can make it join one or more additional netw

[2020-04-20 05:10] sghung commented on #2688
I will look at this on Monday, one thing I did notice was:

https://www.eclipse.org/codewind/a-technical-autopsy-of-a-containerized-node-js-dependency-insights-microservice-application.html

Does work. It could be eclipse.org requiring a *.html ending and does not allow pages to end without it

[2020-04-20 05:54] sghung commented on #2688
I believe when we run it on Jekyll, they do some redirect magic similar to .htaccess files. You can redirect pages to not have .html endings. However, eclipse.org doesn't allow that. This problem is hidden when running on Jekyll. To prevent this in the future, the `build.sh` script is the proper one to run. Further investigation needs to be done to compare the difference between `build.sh` and the

[2020-04-20 07:15] #2699 closed

[2020-04-20 07:21] mattcolegate commented on #2704
Verified - selection now remains with Select from File system.

[2020-04-20 07:21] #2704 closed

[2020-04-20 08:25] tobespc commented on #2456
PFE doesn't access the local disk anymore, so is the file that is being kept open in the pfe container or in the users directory ?

[2020-04-20 08:28] tobespc commented on #1579
please release this for local

[2020-04-20 10:13] mattcolegate commented on #1579
Feedback from Scrum demo
* add `--nozip` option that will leave the individual files and not create a zip. default behavior should be to just have a zip file and delete the gathered files.
* collect docker version and browser versions
* create an extra 'environment' file that will contain key information for 'at-a-glance' views. @tobespc will list the contents of that file below.

[2020-04-20 11:00] tobespc commented on #1579
So what I would like to see is all the version information that is contained within each of the artifacts collected and pulled into a separate file.   This file could also contain the OS version, docker version (kube for remote) and the browser versions.

Then, can we have a
[code]

function that will remove all local mustgather zip files

[2020-04-20 11:01] markcor11 commented on #2584
/assign

[2020-04-20 11:04] AndyRWatson commented on #1579
Some additional thoughts for useful info for the environment/summary file

- Local os and version
- Local system summary information (if available.  CPU/Memory )
- IDE version
- docker registry links
- configured template source(s)

[2020-04-20 11:13] mattcolegate commented on #1579
@tobespc Clarification on the `-clean` option - do you just want the zip files removed or all files? (with the `--nozip` option collected individual files will remain on disk)

[2020-04-20 11:13] #164 closed

[2020-04-20 11:17] tobespc commented on #881
this is now done

[2020-04-20 11:17] #881 closed

[2020-04-20 11:20] tobespc commented on #937
closing after speaking to @ebuckle

[2020-04-20 11:20] #937 closed

[2020-04-20 11:21] rwalle61 opened #2714 "Unskip tests that are currently skipped in Jenkins"
**Problem**
Some of our tests are skipped in Jenkins due to file permission errors we get when we unskip them in Jenkins. For example, tests to do with our insecure template are skipped

We can still run these tests on our computers locally, but it would help us catch bugs and breaking changes if we can unskip them in Jenkins

**What I've tried**
A while ago I tried to work out why the Jenkins bui

[2020-04-20 11:22] rwalle61 commented on #2714
/kind Test
/area Portal

This isn't an enhancement

[2020-04-20 11:24] markcor11 commented on #2584
/assign @markcor11

[2020-04-20 11:26] markcor11 commented on #954
/close

[2020-04-20 11:26] #954 closed

[2020-04-20 11:27] tobespc commented on #1579
all mustgather files (directories as well).   So its like we were never there.....

[2020-04-20 12:17] mattcolegate commented on #1579
`--nozip` and `--clean` options pushed up to https://github.com/eclipse/codewind-installer/pull/436, as well as collection of codewind container versions. Working on rest of list for summary file

[2020-04-20 12:35] tobespc commented on #1010
going forwards, style is going to mean the style of project we can build - so 'appsody' 'codewind' 'odo'

If the project is not one of these styles then we can't build it

[2020-04-20 12:36] tobespc commented on #1010
closing as default of codewind fits in with the current design going forwards

[2020-04-20 12:36] #1010 closed

[2020-04-20 12:42] sujeilyfonseca opened #2716 "SVT: Projects failed to remove in remote/hybrid"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10 (w. OKD/OpenShift cluster)

**IDE extension version:** 0.11.0
**IDE version:** Code 1.44.0

**Description:** On Friday, I was testing Codewind for VS Code on my Windows VM. Everything was working as expected, except for an issue we opened. I left my Codewind installation up and running over the weekend and attempted to remove the projects tod

[2020-04-20 12:46] eharris369 commented on #226
Fixed by:
- https://github.com/eclipse/codewind-eclipse/pull/673
- https://github.com/eclipse/codewind-eclipse/pull/682

[2020-04-20 13:23] micgibso commented on #466
Reopening to change the description from Appsody to all projects. Discussion:

Andy Watson:
Noticed a tweet around codewind and docker drive sharing.  Do we require the share for all windows users or just when using appsody (as per the docs ?) https://www.eclipse.org/codewind/vsc-getting-started.html

Andrew Mak
I think the issue is step 3 “If you are planning to work with Appsody projects…”  You

[2020-04-20 13:34] stalleyj commented on #226
Great to see tests in Jenkins, thanks.

[2020-04-20 13:34] #226 closed

[2020-04-20 14:08] sghung opened #2717 "Use an apache container for the staging server + broken link checker"
The staging server + link verification must be running apache with our static files, not with the jekyll docker container. Otherwise it won't be able to catch broken links. The jekyll container can do fancy redirect (similar to .htaccess) to change URLs without the .html suffix.

Apache will have a closer environment to the eclipse.org hosting as we can't do anything with .htaccess, so we should u

[2020-04-20 14:10] eharris369 commented on #2709
Looks like something similar for Appsody node.js projects though the behaviour is a little different where it goes to stopped state instead of getting stuck in starting state. Seems like a permission issue as well though:
[code]

[2020-04-20 14:17] stalleyj commented on #2661
So the log would suggest that there have been 2 requests to delete the project. The 409 error is returned to the second request with message "Delete for project ** already requested". Depending on the timing, the second request may receive the error for missing connection.json as this is the first thing cwctl retrieves. @sujeilyfonseca Can you describe the steps you go through to get this error ?

[2020-04-20 14:22] eharris369 commented on #2709
Possibly a similar issue with Appsody Spring projects:
[code]

The full log does not say anything about sharing so it does not look the same as: https://github.com/eclipse/codewind/issues/1690
[appsody.log](https://github.com/eclipse/codewind/files/4504068/appsody.log)

[2020-04-20 14:24] tetchel commented on #2661
Sujeily, is the same project (directory) bound to two different Codewind instances here? Maybe that is why PFE is confused (though I have never seen this issue with that scenario).

Julie, the 409 error itself is fine; it seems the problem is that the project is stuck in the 'deleting' state so subsequent requests fail.

[2020-04-20 14:46] MelHopper commented on #2576
@micgibso @kimholmes @thisguy-1 @sishida @j-c-berger FYI

[2020-04-20 14:47] jopit commented on #987
Shipped in 0.11.0

[2020-04-20 14:47] #987 closed

[2020-04-20 14:52] #2230 closed

[2020-04-20 15:10] MelHopper opened #2718 "Create content for new topic 'Using Codewind as a hosted application on the cloud' and add orientation to 'tutorialise'"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

[2020-04-20 15:10] nastacio opened #2719 "Need a way to add containers to the same docker networks during development"
**Codewind version:** 0.9.0
**OS:** all

**Che version:**
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**
If you are developing two applications and one application needs to talk to the other, it is virtually impossible since Codewind launches both apps with random names and ports each time.

**Proposed solution:**
Avoid using ra

[2020-04-20 15:15] nastacio commented on #2719
Duplicate of #2191

[2020-04-20 15:15] #2719 closed

[2020-04-20 15:27] sujeilyfonseca commented on #2456
@mattcolegate, I tried to recreate the scenario using the Eclipse IDE, but I was unable to reproduce the problem.

[2020-04-20 15:33] #2203 closed

[2020-04-20 15:33] #2051 closed

[2020-04-20 15:46] eharris369 commented on #2709
Regarding the app.log being cut off, looking at the inspect output for the pod it has:
    Args:
      tail
      -F
      /app/package.json

[2020-04-20 16:02] sujeilyfonseca commented on #2661
@stalleyj - I can reproduce the scenario most of the time. I usually create some projects, and after my test ends, delete them. I can also reproduce the problem by creating one or two projects in local and hybrid scenarios, don't do anything else, and attempt to delete the projects.

I was consistently getting the same error messages. However, I attempted the scenario again today, and I got failur

[2020-04-20 16:04] tetchel commented on #2661
There are two codewind instances in the screenshot, the local one and the remote one

[2020-04-20 16:07] sghung commented on #2711
I confirmed with Michele that it is okay to have this ready for May 27 (0.13.0 DCUT). He would like a preview beforehand in May. I believe we can commit to something after the 0.12.0 April 29th DCUT

[2020-04-20 16:11] sujeilyfonseca commented on #2661
Sorry, I misunderstood you. Yes, I have local and remote, but the same project is not bound to both. One WebSphere Liberty MicroProfile project was created locally, and a different one was created in the remote instance. You can also see that I used different names in the original screenshot.

[2020-04-20 17:09] james-wallis commented on #2686
I'll be changing the way the dashboard host is detected, currently we use a mixture of:
* Have metrics been injected?
* Is the app an Appsody one (if yes assume dashboard)
* Is the app an Open Liberty one
Which means that as we add more projectTypes we need to update the logic.

Instead we will ping all known dashboard endpoints and determine the dashboard based on this. The call to this function

[2020-04-20 19:02] eharris369 opened #2720 "Codewind operator install and setup instructions did not work"
I was trying to install the Codewind operator using the instructions here: https://www.eclipse.org/codewind/remote-deploying-codewind.html but ran in to the following problems:

- In Add a new user to Keycloak, Step 1 says to copy the url into a browser and then Step 2 says to click on Users but first the user needs to click on **Administration Console**.
- After they click on **Administration Con

[2020-04-20 19:07] sishida commented on #2369
Attached are the latest versions of the graphics as png files.

![BrowserBasedConfiguration](https://user-images.githubusercontent.com/21180723/79789691-988c3280-8318-11ea-8e66-639b3ba9d8f7.png)

![LocalConfiguration](https://user-images.githubusercontent.com/21180723/79789705-9e821380-8318-11ea-836d-6440d3abb737.png)

![RemoteConfiguration](https://user-images.githubusercontent.com/21180723/79789

[2020-04-20 19:14] eharris369 opened #2721 "Confusing error message from Codewind operator install.sh script"
I created a user using my intranet id `myname@ca.ibm.com` and then tried to create a Codewind instance `./install.sh codewind -n cweh0420b -u myname@ca.ibm.com`
but got this error message:

[code]

Even though it complains that the name (cweh0420b) is invalid it is really the user name that it did not like.

[2020-04-20 19:24] sishida commented on #2563
Link to updated troubleshooting section on the website: https://www.eclipse.org/codewind/troubleshooting.html#without-a-keychain-or-keyring-codewind-fails-to-run-certain-commands

Closing this issue.

[2020-04-20 19:24] #2563 closed

[2020-04-20 19:40] eharris369 commented on #2709
If I use the Codewind operator then I have no problem creating node.js, Spring or MicroProfile projects. I don't think it is because it is a different version of Codewind because the remote projects have debug in their capabilities. @tobespc Should we not use cwctl to create Codewind instances anymore?

[2020-04-20 19:54] keithchong opened #2722 "[IntelliJ] Installer error message should not be displayed in Codewind view"
**Codewind version:** 0.11.0 or master
**OS:** any

**IDE extension version:** 0.11.0 or master
**IDE version:** 2019.3.3

**Description:**
Local connection.  The error message from the installer status should not be shown in the Codewind view

**Steps to reproduce:**
None.  See screen shots

<img width="526" alt="LocalConnectionFailed-truncated" src="https://user-images.githubusercontent.com/7726

[2020-04-20 20:20] markcor11 commented on #2721
That message comes directly from the Kubernetes API.  It's saying the Codewind Custom Resource you are trying to create called "cweh0420b" is invalid because the username field contains invalid characters.

[2020-04-20 21:20] eharris369 commented on #2721
It would be nice if it filled in the invalid value `Invalid value: ""`.

[2020-04-20 21:20] #2721 closed

[2020-04-21 08:18] markcor11 commented on #2709
Could you confirm that the cluster was prepared with :

[code]

These two commands are required for the old way of installing Codewind via cwctl granting the pods in the namespace the required permissions. (These commands are not required by the codewind-operator)

[2020-04-21 08:19] markcor11 commented on #2708
Could you confirm that the cluster was prepared with :

[code]

These two commands are required for the old way of installing Codewind via cwctl granting the pods in the namespace the required permissions. (These commands are not required by the codewind-operator)

[2020-04-21 08:20] markcor11 commented on #2710
Could you confirm that the cluster was prepared with :

[code]

These two commands are required for the old way of installing Codewind via cwctl granting the pods in the namespace the required permissions. (These commands are not required by the codewind-operator)

[2020-04-21 10:26] stalleyj commented on #2716
@sujeilyfonseca Please can you include the log from the PFE pod for this problem.

[2020-04-21 11:16] tobespc commented on #2712
This can be taken off tech topic as a solution is in progress

[2020-04-21 11:37] markcor11 commented on #1435
Unable to reproduce this,  I tried with some projects that have been running for 11 days (Openshift 3.11) and 3 days (Openshift 4).  On loading the IDE it reconnects to the cluster and the project status all show as running.

[2020-04-21 12:00] tobespc commented on #2712
A couple of things I'm looking at right now as options

  * Codewind could actually add into the server.xml the html to turn authentication off when developing
  * The injection of javametrics that we already support in openliberty (non appsody) is expanded out to appsody stacks (this is something we want to do anyway)

[2020-04-21 12:28] markcor11 commented on #2285
I think we can close this, problem is caused by the wrong DNS server listed in the workstations network settings. Changing to the correct DNS server which knows about "private zone" addresses resolves the problem.

/close

[2020-04-21 12:28] eharris369 commented on #2709
Yes I run these before creating a new Codewind instance (not sure if I really need to run them every time but I do it just in case):
[code]
And then use this to create the Codewind instance:
[code]

I just tried it again and got the same problem.

[2020-04-21 12:28] #2285 closed

[2020-04-21 12:29] eharris369 commented on #2710
Closing as duplicate of https://github.com/eclipse/codewind/issues/2709

[2020-04-21 12:29] #2710 closed

[2020-04-21 12:30] eharris369 commented on #2708
Closing as duplicate of https://github.com/eclipse/codewind/issues/2709

[2020-04-21 12:30] #2708 closed

[2020-04-21 12:31] eharris369 commented on #2709
Closed #2708 and #2710 as duplicates of this one so that we don't have to put comments in all 3 of them.

[2020-04-21 13:07] tetchel opened #2723 "Project creation fails in che due to 'no templates found'"
Codewind version: 0.11.0

@pdfruth reported consistently seeing a problem in CRW che where he couldn't create a project. Restarting the workspace fixes the problem but then it comes back.

The logs say:
[code]

This means the server is sending no response body, while the VS Code plugin expects a JSON array from /templates.

In the PFE logs he sees:
[code]

It looks like PFE is hitting [this LOC](h

[2020-04-21 13:16] johnmcollier commented on #2723
Should this be tagged hot if folks are seeing it in 0.11.0?

[2020-04-21 13:21] tetchel commented on #2723
gathered more info from the user, there are actually no templates enabled.

I'll leave this open because I will change the 'no templates' response (i'll likely change it myself), but this bug isn't so bad.

[2020-04-21 13:21] sishida commented on #2369
Feedback from the Codewind playback meeting on April 21, 2020:
- Have we shown the diagrams to anyone who doesn't know the Codewind layout already?
- Remote should be on left and have arrow point to right (cloud). Browser based same thing.
- Why is there a wi-fi icon on the arrow in browser-based configuration? Most users would understand you're using network if you're going from local to cloud. T

[2020-04-21 14:03] markcor11 commented on #2709
One of the rules for deploying into OpenShift using cwctl are that Keycloak and Codewind should not be installed into the same namespace, All-In-One install should not be used for OpenShift. Our docs mention using the cwctl commands with the flags `--konly` to install the Keycloak deployment and `--kurl` to aim a new Codewind deployment to an existing Keycloak deployment.

Just for testing, could

[2020-04-21 14:13] jopit commented on #1579
See this article for info on where the IntelliJ logs may be found: https://intellij-support.jetbrains.com/hc/en-us/articles/206544519

[2020-04-21 14:33] #2469 closed

[2020-04-21 14:35] #2323 closed

[2020-04-21 14:36] #2182 closed

[2020-04-21 14:51] markcor11 commented on #2679
/assign

[2020-04-21 14:54] #1897 closed

[2020-04-21 14:55] MelHopper commented on #2369
In response to 'have we shown diagrams to anyone who doesn't know the Codewind layout already?' this will be included in user testing the whole user journey from the documentation landing page to the website docs end points and new tutorial structure in the docs. UX testing to be discussed and instigated (Mel task)

[2020-04-21 14:55] sishida commented on #2570
PRs merged.

[2020-04-21 14:55] #2570 closed

[2020-04-21 14:56] MelHopper commented on #2369
- Must ensure that all 3 diagrams are consistent - i.e. either:
1. put codewind and containers inside boxes, and label these boxes with icons, OR
2. put codewind and containers inside icons

whichever way, ensure we have consistency.

[2020-04-21 15:00] AndyRWatson opened #2724 "update cwctl to recognise DOCKER_HOST config"
**Codewind version:**  0.11.0
**OS:**   ALL local

**Che version:**    n/a
**IDE extension version:**   0.11.0
**IDE version:**    vscode/eclipse/intellij
**Kubernetes cluster:** n/a (?)

**Description of the enhancement:**

From working with @bsteinfeld for the SNL project,  we identified an issue where local codewind was not honouring alternative docker configurations,  specifically around $DOCK

[2020-04-21 15:00] AndyRWatson commented on #2724
/ assign @hhellyer

[2020-04-21 15:07] MelHopper opened #2725 "Create Guides webpage to host all guides and quick guides"
**Issue**
Create a webpage to host all guides and quick guides, in the same way that we have a codewind.dev/blogs page to host all blogs.

**solution**

- [ ] create a webpage to host all guides and quick guides, using the same CSS as used for the blogs page at codewind.dev/blogs

- [ ] Add a button to the Codewind.dev website header, titled 'Guides', that links to the new Guides webpage

**To not

[2020-04-21 15:10] AndyRWatson commented on #2724
/assign @hhellyer

[2020-04-21 15:18] markcor11 commented on #2631
/assign @markcor11

[2020-04-21 15:56] hhellyer commented on #2724
I've put a branch of hacks (that should not be merged) here: https://github.com/hhellyer/codewind-installer/tree/docker_client_opts_dev
The changes seem to be enough to get codewind started and a project created. I will work on productising them more and put up a proper branch.

[2020-04-21 16:27] eharris369 commented on #2709
The OpenShift version is 4.3.12. Codewind should be the latest development build. I want to do some work on debug and then I will get back to this.

[2020-04-21 17:00] keithchong opened #2726 "[Filewatcherd] Event loop exception in WatchedPath"
**Codewind version:** latest
**OS:** Mac

**IDE extension version:** IntelliJ latest
**IDE version:** 2019.3.3 Community Edition
**Kubernetes cluster:** local

**Description:**
Getting an NPE from filewatcher:

[code]

**Steps to reproduce:**
I don't have any steps to reproduce but at the time, I created a Codewind Open Liberty project and showed the logs.  I cannot reproduce this NPE after repeat

[2020-04-21 17:06] jgwest commented on #2726
Looks like the Java NIO Watch Service API may return a null in rare cases (the documentation does note this in `@returns` but [the Oracle  example code](https://docs.oracle.com/javase/tutorial/essential/io/notification.html) doesn't actually check it :P )

[2020-04-21 17:19] sishida opened #2727 "Make the build.sh script match the live Codewind website"
As we saw in the 0.11.0 release and recorded in this issue, https://github.com/eclipse/codewind/issues/2688, the `./serve.sh` script is a little more forgiving than the live Codewind website.

@sghung pointed out, "I believe when we run it on Jekyll, they do some redirect magic similar to .htaccess files. You can redirect pages to not have .html endings. However, eclipse.org doesn't allow that. Th

[2020-04-21 17:21] sishida commented on #2688
The blog links are now fixed, so I'm closing this issue.

I have opened this new issue https://github.com/eclipse/codewind/issues/2727 for investigating how to make the serve.sh script better match the Codewind website.

[2020-04-21 17:21] #2688 closed

[2020-04-21 17:34] tetchel commented on #2723
erin pointed out I can just use cwctl to get the templates which would resolve this so no action from portal needed

[2020-04-21 17:34] #2723 closed

[2020-04-21 17:38] elsony commented on #2713
@tobespc Would you mind to provide more info on what part do you want my team to investigate on?  It's the portal code that does the sync and the mount point, is there anything specific that you find is related to iterative dev on this issue?

[2020-04-21 17:38] keithchong commented on #2386
@sishida , affects docs too.

https://www.eclipse.org/codewind/metrics-dashboard.html

Currently says metrics dashboard is available in VS Code, Eclipse and Che

[2020-04-21 17:40] keithchong commented on #2386
Here too for performance: https://www.eclipse.org/codewind/performance.html

[2020-04-21 18:02] tetchel commented on #12
based on the bugzilla, this is not going to happen.

[2020-04-21 18:02] #12 closed

[2020-04-21 18:26] eharris369 commented on #2709
I have it working now. Thanks for all of your help!

[2020-04-21 18:26] #2709 closed

[2020-04-21 18:36] tetchel opened #2728 "Use cwctl to fetch templates"

[2020-04-21 18:38] tetchel commented on #2610
it may have gotten stuck fetching the build properties, which is supposed to be really fast but it just took 22s for me. I'll add better progress for that step.

![image](https://user-images.githubusercontent.com/8888438/79901392-c38c8a00-83dd-11ea-8bef-8e69335ad851.png)

[2020-04-21 20:27] j-c-berger opened #2729 "Minikube Quick Guide"
Quick guide to get started with Codewind on Minikube

[2020-04-21 20:40] j-c-berger opened #2730 "Quick Guide on Codewind in Eclipse"
Quick guide to get started with Codewind in Eclipse

[2020-04-21 20:55] sishida commented on #2386
Assigning myself to help with the docs work. :)

[2020-04-21 20:58] j-c-berger opened #2731 "Quick Guide for Codewind in VS Code"
Quick guide to get started with Codewind in VS Code.

[2020-04-22 07:14] tobespc commented on #2713
@elsony we've not dug too deeply into it yet but as this also mentioned deploying and problems with logs it might be something on your side as well

[2020-04-22 09:51] sujeilyfonseca opened #2733 "SVT: Error starting Codewind: Secret org.eclipse.codewind.local.docker_credentials not found in keyring"
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.12.0
**IDE version:** Code 1.44.2

**Description:** Error starting Codewind: Secret org.eclipse.codewind.local.docker_credentials not found in keyring

<img width="1679" alt="Screen Shot 2020-04-22 at 5 27 18 AM" src="https://user-images.githubusercontent.com/49531960/79966884-13119b00-845c-11ea-8995-5cba12a0c

[2020-04-22 10:27] rwalle61 commented on #2647
Scope for 0.12:
- [ ] `cwctl project create --username --password` can
    - [ ] clone a public GHE repo
    - [ ] clone a private GH repo
    - [ ] download a tar.gz release asset on a public GHE repo
    - [ ] download a tar.gz release asset on a private GH repo
- [ ] `cwctl templates repos add` can add a GHE template repository (index.json), such that
    - [ ] links in the index.json show up w

[2020-04-22 11:26] stalleyj commented on #2661
The error message being seen about a missing 'connections.json' file for the project occurs when a project remove is requested but the async part fails. We are then left in a stuck state so I have implemented a recovery to this which would require a pfe restart to complete the deletion of the project.

[2020-04-22 12:13] mattcolegate commented on #2456
Yesterday I attempted to recreate this in front of @tobespc and @stalleyj but I wasn't able to - and I think it's down to the fact that I was using a VSCode session that already had files loaded into the workspace. I've now managed to recreate starting with a VSCode that had an empty workspace - when the project was created it automatically was added to the workspace. I used a program called Proce

[2020-04-22 12:29] tobespc commented on #2685
This will be fixed when we implement a new way of discovering project capabilities

this is being done here #2686

[2020-04-22 12:35] tobespc commented on #2124
this is working, didn't the new package in the end, just a change to the dashboard

[2020-04-22 12:35] #2124 closed

[2020-04-22 12:44] MelHopper opened #2735 "Topic 'making a code change' for the Eclipse Che tutorial does not exist in the ToC"
The topic che-codechange.md is linked from the penultimate step of the Eclipse Che tutorial, che-createcodewindworkspace.md

However, this topic does not show up in the ToC.

Solution: Add the topic che-codechange.md into the ToC after createcodewindworkspace.md

[2020-04-22 12:59] tobespc commented on #2456
@tetchel please can you take a look

[2020-04-22 13:13] MelHopper commented on #2243
Consider adding further signposting to Remote tutorials, citing installing locally as a pre-requisite, on the Install Locally pages of VS Code, Eclipse and IntelliJ - users may enter the tutorial at the install stage (from Google search, links from the docs landing page etc.)

[2020-04-22 13:22] MelHopper opened #2736 "Rename topic 'Creating your first [IDE] Codewind project'"
**Problem**
The current titles of the topics for VS Code, Eclipse and IntelliJ for the Using Codewind Locally tutorials are incorrect and therefore misleading.

**Solution:**

Rename the topic name in the ToC and the top header within the topic to:

Creating your first Codewind project with Codewind for [IDE]

[2020-04-22 14:08] sishida commented on #2736
Links to files that need changing:
- https://www.eclipse.org/codewind/vsc-firstproject.html
- https://www.eclipse.org/codewind/eclipse-firstproject.html
- https://github.com/eclipse/codewind/issues/2736
- https://www.eclipse.org/codewind/intellij-firstproject.html
- https://github.com/eclipse/codewind-docs/blob/master/docs/_data/docstoc.yml

[2020-04-22 14:32] MelHopper commented on #2243
PR to cover adding content to Overview, first project and making code change topics: https://github.com/eclipse/codewind-docs/pull/549

[2020-04-22 14:33] MelHopper commented on #2243
PR to cover adding content to 'making a code change' topic: MEL TO ADD HERE

[2020-04-22 14:46] stalleyj opened #2737 "Unable to delete simple Codewind Express apps in kube"
**Codewind version:**
**OS:**
Latest Codewind with remote connection

**IDE extension version:**
latest
**IDE version:**
**Kubernetes cluster:**

**Description:**
Deletion of project fails.

**Steps to reproduce:**
Create a new project using Node.js Express (Default templates).
Wait for the project to be running.
Attempt to 'remove project' from the IDE.
IDE shows 'Error deleting projname'.
This h

[2020-04-22 14:47] BethGriggs opened #2738 "VSCode extension fails to start on Ubuntu"
**Codewind version:** 0.11.0
**OS:** Linux Ubuntu

**IDE extension version:** 0.11.0
**IDE version:** VSCode 1.41.1

**Description:**

I cannot start the VSCode extension once it is installed. It fails to start with the following error:

[code]

The file `/home/ibmuser/.codewind/docker-compose.yaml` does not exist. The path `/home/ibmuser/.codewind/0.11.0/home/ibmuser/.codewind/docker-compose.yaml

[2020-04-22 14:49] sishida commented on #2736
Titles changed. PR merged. Closing this issue.

[2020-04-22 14:49] #2736 closed

[2020-04-22 14:54] sishida commented on #2725
The folder for the guide Markdown files, https://github.com/eclipse/codewind-docs/tree/master/docs/_guides, is merged and ready to have files added to it. 👍

[2020-04-22 15:01] #2386 closed

[2020-04-22 15:13] micgibso commented on #1895
See https://github.com/eclipse/codewind/issues/1037 for News pages.

[2020-04-22 15:16] micgibso commented on #1895
The diagrams that Mel and Sarah showed in yesterday's Playback is a good example of the documentation and website improvements that we are aiming for so when these are ready we can close this out.

[2020-04-22 15:18] bsbyrd1 commented on #1895
Exactly! For example, we can animate the diagrams so that arrows are animated to show movement from one widget to another; for example, movement from local to Cloud.

[2020-04-22 15:19] MelHopper commented on #2589
@melhopper not to self: Ensure to add links to topic once it's been merged into master, where the new topics have been created.

[2020-04-22 15:24] james-wallis commented on #2191
All PR's have been delivered for this feature meaning links are supported for:
* Codewind projects (Local & K8s)
* Appsody projects (Local & K8s)

To use this feature use the `cwctl project link --help` command.

The next stage for this work is to implement project links into the IDEs.

[2020-04-22 15:33] tobespc commented on #2191
Can you record a feature in under a minute video showing this off please

[2020-04-22 16:01] hhellyer commented on #2738
@BethGriggs - What level of docker are you running? We should work with docker 17.06 and above.
https://www.eclipse.org/codewind/vsc-getting-started.html

[2020-04-22 16:06] tetchel commented on #2738
Hi Beth, I believe you have this issue:

https://www.eclipse.org/codewind/troubleshooting.html#error-upgrading-codewind-to-the-latest

Can you try those steps?

[2020-04-22 16:07] tetchel commented on #2738
Although, `/home/ibmuser/.codewind/0.11.0/home/ibmuser/.codewind/docker-compose.yaml` is a strange-looking path for it to be trying to use (two home directories?)

[2020-04-22 16:11] tetchel opened #2739 "Report when a load test is running in the VS Code UI"
From the code the VS Code extension currently has to handle writing out the load test results to a file, it should be pretty straightforward to report the current load runner status for a project in the UI.

The statuses of interest are
1. preparing to run load (`connecting`)
2. running load (`running`)
3. retrieving load test results (the download step after `hcdReady`/`profilingReady`).

we coul

[2020-04-22 16:13] tobespc commented on #2739
we can do that easy enough if needed

[2020-04-22 16:18] BethGriggs commented on #2738
Docker version is `Docker version 19.03.8, build afacb8b7f0`

[code]

[code]

[2020-04-22 16:19] MelHopper commented on #2243
@MelHopper note to self: Ensure to check all topic links, especially to new topic overviews for 'Using Codewind Locally' and 'Using Codewind as a hosted application' once https://github.com/eclipse/codewind-docs/pull/549 has been merged into master, where the new topics have been created. @micgibso FYI.

[2020-04-22 16:20] tetchel commented on #2738
Tagging as portal because of the clearly incorrect `.codewind` path

`==> created file /home/ibmuser/.codewind/0.11.0/home/ibmuser/.codewind/docker-compose.yaml`

[2020-04-22 16:21] MelHopper commented on #2243
@melhopper: note to self: create PR for updating Installation step of Using Codewind Locally, all IDEs, with signposting and orientation to inform use they are in a tutorial, plus 'f you want to use Codewind remotely...'. Note that the new topic  '3 configurations of Codewind' will send users straight to the installation step topic.

[2020-04-22 16:27] markcor11 opened #2740 "(metrics) Add Performance dashboard (UI) updates to display project capabilities"
**Codewind version:** 0.11.0

**Description of the enhancement:**

1. Display feature list and expected behaviour from the performance dashboard.
2. Show steps to remediate if anything appears wrong

**Proposed solution:**

When opening up the dashboard against a project the user would see information about their project capabilities and status of Metrics injection.

This issue is for the UI piece

[2020-04-22 16:27] MelHopper commented on #2589
Work being done via PR https://github.com/eclipse/codewind-docs/pull/540

[2020-04-22 16:29] markcor11 commented on #2740
Made progress added a responsive UI panel to consume data from the capabilities API.

Wide :
![Screenshot 2020-04-22 at 17 19 46](https://user-images.githubusercontent.com/28102564/80007892-d32fcf80-84be-11ea-8044-561088009377.png)

Narrow:

![Screenshot 2020-04-22 at 17 28 57](https://user-images.githubusercontent.com/28102564/80007871-cd39ee80-84be-11ea-8b2f-420bd142eacc.png)

[2020-04-22 16:33] BethGriggs commented on #2738
I am also seeing the odd path on my personal development machine (macOS 10.15).

[code]

[2020-04-22 16:47] sishida opened #2741 "Blog improvements (repository and publishing)"
Ideas for blog improvements:
- Priority No. 1: Release blogs on daily or weekly schedule. Enable Andy/Becca to publish.
- Establish review process for blogs
- Invite community participation by allowing readers to post comments on the blog, share on social media, etc.

Open Liberty blog repo for reference: https://github.com/OpenLiberty/blogs

[2020-04-22 17:05] tetchel commented on #2456
I see the file being closed correctly on my (mac) machine. I'll try windows later. The filesystem API I'm using is supposed to close the stream automatically so I'm not sure what may be causing this.

[2020-04-22 17:17] BethGriggs commented on #2738
The _think_ the first issue on the Ubuntu VM was due to the `docker-compose` version installed.  I updated to `docker-compose 1.25.5`, and Codewind successfully started. The VM was previously on `docker-compose 1.8.0`.

I am still seeing issues on my local macOS machine, and that is already on the latest Docker for Desktop (which includes `docker-compose 1.25.4`). I'll try manually updating docker

[2020-04-22 18:03] sishida commented on #2462
Link to updated marketplace entry: https://plugins.jetbrains.com/plugin/13839-codewind

[2020-04-22 18:12] #2462 closed

[2020-04-22 19:55] sishida commented on #2720
PR merged. Closing the issue.

[2020-04-22 19:55] #2720 closed

[2020-04-22 21:21] markcor11 commented on #2733
This should be solved by installer PR : https://github.com/eclipse/codewind-installer/pull/439

/pipeline verify

[2020-04-22 21:24] markcor11 commented on #2733
/assign @markcor11

[2020-04-22 21:57] markcor11 commented on #2739
I agree, should be straight forward as all of the status values listed in the requirements are currently available and sent to the IDEs over the existing default UI socket channel eventType:`runloadStatusChanged`.

[2020-04-23 00:02] tetchel opened #2743 "Dead links in VS Code readme"
There are 3 dead links in the VS Code readme because the `codewind.dev` filenames were changed.

![image](https://user-images.githubusercontent.com/8888438/80045000-2c562e00-84d4-11ea-9edc-cfb90a17b64b.png)

https://www.eclipse.org/codewind/mdt-vsc-getting-started.html
https://www.eclipse.org/codewind/mdt-vsc-installinfo.html
https://www.eclipse.org/codewind/mdt-vsc-commands-overview.html

[2020-04-23 00:07] tetchel commented on #2520
are we going to improve this?

[2020-04-23 07:22] tobespc commented on #2520
still needs to be addressed @tetchel but right now its not high our list of enhancements as we are going through a defect fixing stage.  Will look at it later when planning for next sprint

[2020-04-23 07:24] tobespc commented on #2739
We can't commit this for 0.12 though @tetchel , we are working on defects this sprint and keeping new features to a minimum

[2020-04-23 07:56] hhellyer commented on #2738
This message:
[code]
is in our latest release, 0.11.0, but was removed by a recent changed to master.

It was only ever displayed the first time we created a docker compose file, it was not very interesting to the user and (as it turns out) it was wrong. The docker compose file is created in the right location.

See: https://github.com/eclipse/codewind-installer/commit/18d4b2bd1087017b0957ec07932f

[2020-04-23 08:14] hhellyer commented on #2738
The docker compose problem has hit our build machines (on Ubuntu) and @BethGriggs. It sounds like docker being back level compared to docker itself might be a common problem. I'm going to tag this with docs as well to see if we can add something to the troubleshooting guide.

[2020-04-23 08:39] hhellyer opened #2745 "The mustgather command could use the docker volume locally to gather project information."
**Codewind version:**
master
**OS:**
All

**Description of the enhancement:**
Currently the cwctl `mustgather` command is unable to gather codewind state if the containers are stopped.

**Proposed solution:**
The mustgather command could read the docker volume `codewind_cw-workspace` instead to gather project details as this contains all the state that codewind persists between restarts.

I'm not

[2020-04-23 10:16] stalleyj commented on #2665
It seems that we must be providing all the required information if Eclipse and IntelliJ can provide the desired user experience.  @tetchel Are you able to use the same info that the other IDEs use ?

[2020-04-23 10:21] stalleyj commented on #2661
This issue is a duplicate of https://github.com/eclipse/codewind/issues/2456 as the initial problem with delete is the same. I'm going to pass this one to Docs team to add info to the troubleshooting guide regarding how to recover from failed delete @micgibso

[2020-04-23 10:26] stalleyj commented on #2716
We have seen issues like this before when authentication to the remote machine has timed out and the http response gives html rather than json because it is redirecting to the log in screen. I have attempted to recreate this by deleting the user session from keycloak but I can't get it to fail. Without the PFE log, I'm not sure what else we can do here.

[2020-04-23 10:50] stalleyj commented on #2656
This should be fixed now, please retest.

[2020-04-23 10:58] phatcher opened #2746 "[OpenAPI] Allow configuration of where to pull openapi-generator from"
**Description of the enhancement:**
People may have forked/modified the openapi-generator or need to test the code generator, so just using the public released version is not sufficient.

**Proposed solution:**
Allow the user to configure where to aquire the openapi-generator instance.

[2020-04-23 11:05] stalleyj commented on #1597
This has been fixed with a sensible error message for users @makandre Can you verify please.
./cwctl --json --insecure templates repos add --conid local --url https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json --name Testing --description testing
{"error":"ADD_REPO_ERROR","error_description":"Error: Bad Request - https://raw.githubusercontent.com/cod

[2020-04-23 11:45] makandre commented on #1597
Verified for VSCode.

On Eclipse, I still got the same silent behaviour when adding https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json

(I got the error when adding https://github.com/appsody/stacks/releases/latest/download/experimental-index.json)

@stalleyj @eharris369

[2020-04-23 12:09] #2028 closed

[2020-04-23 12:10] #2548 closed

[2020-04-23 12:11] #2555 closed

[2020-04-23 12:33] eharris369 commented on #1597
Looks like an issue with how Eclipse is checking for changes once the user clicks ok. Because that url already exists it thinks there is no change.

[2020-04-23 14:01] sishida commented on #2735
PR merged. Closing this issue.

[2020-04-23 14:01] #2735 closed

[2020-04-23 14:13] tetchel commented on #2665
Yes. I meant to revisit this but forgot about the issue because it wasn't tagged with my area

[2020-04-23 14:14] tetchel commented on #2739
I can handle it

[2020-04-23 14:21] tetchel opened #2750 "Add 'create project' button to template source manager"
Creating a project seems like the logical next step after modifying the sources. Also, it gives the user a way to immediately see the effect of modifying the sources.

![image](https://user-images.githubusercontent.com/8888438/80109867-0b312400-854c-11ea-9455-1051f7de267b.png)

- where should the button go?
- we want to use the `+` icon for the create project button (to match the Codewind view), b

[2020-04-23 14:58] tetchel commented on #2641
:+1:

[2020-04-23 14:58] #2641 closed

[2020-04-23 15:53] sujeilyfonseca commented on #2656
Hey @stalleyj, thank you for updating the issue. However, I still see the same behavior with the latest Codewind:

[code]
<img width="1657" alt="Screen Shot 2020-04-23 at 11 37 22 AM" src="https://user-images.githubusercontent.com/49531960/80119992-679a4080-8558-11ea-8f13-b55166650e31.png">

<img width="1655" alt="Screen Shot 2020-04-23 at 11 48 24 AM" src="https://user-images.githubusercontent.co

[2020-04-23 16:01] tetchel opened #2751 "Support JSON output in cwctl mustgather"
For the IDEs to use the mustgather command, they have to be able to report the mustgather result's location to the user. So, when `--json` is passed it should output an object with the output file's location. I'm not sure if there is any other info that may be useful to report, but if so it should be included in the object. As always, any error output must also be JSON-parsable.

As an aside, I wo

[2020-04-23 16:48] markcor11 commented on #2631
Code merged into master

/close

[2020-04-23 16:49] #2631 closed

[2020-04-23 16:50] markcor11 commented on #2584
fixes merged into master

/pipeline verify

[2020-04-23 17:00] #2584 closed

[2020-04-23 17:25] sujeilyfonseca commented on #2716
Thanks for trying to recreate the scenario, @stalleyj!

I apologize for not uploading the PFE log, but I didn't do it because it was only full of application state error messages due to the failing Appsody Quarkus project.

Since I no longer have the log on my machine, I'll try to recreate the same scenario to upload a PFE log file to help to identify the right problem.

[2020-04-23 17:34] DavidG1011 commented on #2277
This now produces a much better error message:
<img width="454" alt="Screen Shot 2020-04-23 at 1 31 22 PM" src="https://user-images.githubusercontent.com/30476587/80130627-ea29fc80-8566-11ea-9f5c-ca4636f7cf76.png">
Thank you both

[2020-04-23 17:34] #2277 closed

[2020-04-23 17:48] sujeilyfonseca opened #2752 "SVT: [Remote] Codewind failed to remove all my remote projects from the system"
**Codewind version:** Latest
**OS:** VM with Windows 10 (w. OKD/ OpenShift cluster)

**IDE extension version:** 0.12.0
**IDE version:** 1.44.0

**Description:** Codewind failed to remove all my remote projects from the system

[code]

<img width="1678" alt="Screen Shot 2020-04-23 at 1 31 12 PM" src="https://user-images.githubusercontent.com/49531960/80131094-b56a7500-8567-11ea-881d-c3f598abb31b.pn

[2020-04-23 17:56] #2752 closed

[2020-04-23 17:57] tetchel opened #2753 "Nits with operator install instructions"
- not all windows users use git bash as their unix-like terminal. One of the first steps should be something like,
[code]
- `cd deploy` should explicitly be present in the first code block, for people like me who skim through the text and just run the commands
- `install.sh` doesn't work. It has to be `./install.sh`, or you get `install.sh: command not found`. So:
[code]
should be
[code]

All comm

[2020-04-23 18:01] keithchong opened #2754 "[IntelliJ] Improve Logging support of IDE-specific messages"
**Codewind version:** latest
**OS:** any

**IDE extension version:** latest
**IDE version:** 2019.3

**Description of the enhancement:**
Improve log support of our Codewind Intellij plugin
Currently we log our INFO level messages to the IntelliJ log file (eg. idea.log) and we are inundating it with our messages, including entire JSON responses from turbine/portal.  We need to add debug and trace l

[2020-04-23 18:04] tetchel commented on #2753
Also, should it mention that the default keycloak login is `admin`/`admin` ? Step 3 doesn't mention that you have to log in, but you do.

[2020-04-23 18:06] sujeilyfonseca commented on #2752
I closed the issue as it has a similar root cause as: https://github.com/eclipse/codewind/issues/2456

Closing the VS Code IDE deleted all the files from the system automatically:

<img width="957" alt="Screen Shot 2020-04-23 at 1 58 12 PM" src="https://user-images.githubusercontent.com/49531960/80133498-4e4ebf80-856b-11ea-81ae-2e6d711cb547.png">

[2020-04-23 18:14] tetchel commented on #2753
this isn't really a docs issue, but i'd also like to know if the operator supports install into another namespace.

[2020-04-23 18:37] #2728 closed

[2020-04-23 19:13] sishida commented on #2754
Assigning myself to help with docs work! 🖊️

[2020-04-23 19:17] sishida commented on #2369
Latest diagrams with this week's suggested changes:

![BrowserBasedConfiguration](https://user-images.githubusercontent.com/21180723/80139999-527fda80-8575-11ea-84a7-17e0be0ddc72.png)
-------------------------------------
![LocalConfiguration](https://user-images.githubusercontent.com/21180723/80139931-3da34700-8575-11ea-990a-6d2e4bb2c4b2.png)
-------------------------------------
![RemoteConfigur

[2020-04-23 19:30] elsony commented on #2191
Removing iterative dev label since this work looks like to be done within portal.

[2020-04-23 19:58] josephca commented on #2700
@jagraj: To give you a heads-up, this change may affect SVTs.

[2020-04-23 20:09] tetchel opened #2755 "Give an obvious way to show project logs"
Users have trouble finding the logs, which is problematic because it's the only way to see that an in-progress build is proceeding.

Some thoughts:

- Give them a way to open the logs from the overview page
    - next to the status
    - ~or show something like show the last line of build output~
- Preference to open the logs automatically on project create?
- "$project: building" is confusing whe

[2020-04-23 20:16] tetchel opened #2756 "Remove build status for appsody projects from the project info page"
It's always 'not available' now, so it shouldn't be shown.

[2020-04-23 20:38] tetchel commented on #2588
well, 0.11 is released and it works in master so I suppose this is as fixed as it's going to get :)

[2020-04-23 20:38] #2588 closed

[2020-04-23 21:58] markcor11 commented on #2753
In this initial release of the operator it must be installed into the "codewind" namespace and has watches for just that namespace. All the example yaml files provided in the deploy director and docs are set up that way but as we prepare for Operator Hub that restriction and the install.sh script will be removed.

[2020-04-24 08:34] mattcolegate commented on #1579
Local mustgather now delivered through https://github.com/eclipse/codewind-installer/pull/436. Now working on remote gathering. Will update when first remote statistic can be gathered.

[2020-04-24 09:34] BethGriggs commented on #2738
Fixed on both my Ubuntu VM and local macOS:

- Ubuntu VM was fixed by updating the `docker-compose` version from `1.8.0` to `1.25.5`, and then completely uninstalling and reinstalling Codewind.
- macOS problem was fixed by removing a Codewind container that was only showing with `docker ps --all`, and reinstalling from scratch.

In both cases the main symptom was that there was no `~/codewind/dock

[2020-04-24 12:11] #2756 closed

[2020-04-24 14:02] sishida opened #2757 "Broken Codewind links on other websites"
Other websites link to Codewind files. Here are the broken files:

:one: mdt-vsc-getting-started.html
:two: mdt-eclipse-getting-started.html
:three: mdt-vsc-commands-project.html
:four: mdteclipsemanagingprojects.html
:five: mdt-che-setupregistries.html
:six: mdt-che-installinfo.html

[2020-04-24 15:28] keithchong commented on #2754
The existing methods will continue to use the class-specific logger category

Logger.log(...) - should be used sparingly since by default INFO messages get written to the log
Logger.logWarning(...) - writes message to log and to console output

The following methods will be added and they will use the generic `org.eclipse.codewind` category.  This category will serve as the 'flag' that the user ha

[2020-04-24 16:27] tetchel commented on #2022
I still think this is one of the most important missing pieces in the auto-build use case. for example:

[code]

There's a 13 second period here (seconds 37-50) where there is no user feedback. And that's for syncing a 4KB file (why is it so slow)? A larger file means a much longer period where the user's source file edit appears to not have been picked up, unless you happen to be tailing the file

[2020-04-24 16:42] AndyRWatson commented on #2724
Looks good

[2020-04-24 16:42] #2724 closed

[2020-04-24 17:52] #2722 closed

[2020-04-24 17:58] sishida commented on #2757
Here are the updated files:
:one: vsc-getting-started.html
:two: eclipse-getting-started.html
:three: vsc-commands-project.html
:four: eclipse-firstproject.html OR project-actions.html OR project-settings.html
:five: che-setupregistries.html

[2020-04-24 18:03] sujeilyfonseca commented on #2662
Thank you very much for addressing this issue, @tetchel!

I can no longer reproduce the problem with the latest Codewind.

[2020-04-24 18:03] #2662 closed

[2020-04-24 18:05] tetchel opened #2758 "Un-closable logs left over after connection is taken down"
it's possible to have codewind project logs in the output view that can't be closed.

1. show all logs for a project
2. deactivate / remove the remote connection, or stop the local connection

they're supposed to be disposed with the project, but they are not.

[2020-04-24 19:12] keithchong commented on #2037
@sujeilyfonseca , please verify

[2020-04-24 20:05] sujeilyfonseca commented on #2716
I have tried to reproduce the initial error message, but I was unable to do so. I did obtain some other failures:

<img width="1676" alt="Screen Shot 2020-04-24 at 1 41 24 PM" src="https://user-images.githubusercontent.com/49531960/80252458-48c5a800-8645-11ea-8472-2e619d990f2a.png">

<img width="1679" alt="Screen Shot 2020-04-24 at 3 58 01 PM" src="https://user-images.githubusercontent.com/4953196

[2020-04-24 20:14] sujeilyfonseca commented on #2698
I tried to reproduce the problem to take a screenshot of the developer tools console, but the problem seems to be intermittent. Besides, the page eventually loads as expected. Therefore, I'll proceed to close this issue.

[2020-04-24 20:14] #2698 closed

[2020-04-24 20:23] sujeilyfonseca commented on #2037
I verified this issue with the latest Codewind, and now the Codewind view and tree are kept open after creating a new project.

[2020-04-24 20:23] #2037 closed

[2020-04-24 20:25] sujeilyfonseca commented on #2475
I verified and closed issue #2037.

Now the Codewind view and tree are kept open after creating a new project. Thus, this issue can also be closed.

[2020-04-24 20:30] tetchel commented on #2698
Still let me know if you can reproduce it, because this is the last thing we want users seeing on their first startup!

[2020-04-24 20:52] sishida commented on #1990
Hi, team, For documentation, we currently have this file for debugging: https://www.eclipse.org/codewind/debugging.html

From a user's perspective, does debugging on Kube differ? Thank you!

[2020-04-24 21:04] sishida commented on #1362
Hi, @micgibso, With all the changes since this issue was opened in December, I'm not sure if this issue is still relevant.

I see that https://www.eclipse.org/codewind/vsc-commands-project.html and https://www.eclipse.org/codewind/projectview.html are no longer in our table of contents (https://github.com/eclipse/codewind-docs/edit/master/docs/_data/docstoc.yml).

Should we delete these files, or

[2020-04-24 21:33] sghung commented on #2725
I created the guides PR here: https://github.com/eclipse/codewind-docs/pull/553

- The guides link is on the top menu
- I add a sample guide that follows the required format
- The guides page will behave the same as the blog page

We can make changes once we have a guide ready

[2020-04-24 23:42] mattcolegate commented on #1579
mustgather code for Remote gathering of Codewind Pods is now available at https://github.com/mattcolegate/codewind-installer/tree/mustgatherRemote for trial purposes. To use this, one must have their Kubectl connection to the remote cluster configured.
`./cwctl mg --conid connectionID/connectionLabel`

[2020-04-27 07:07] tobespc commented on #2751
so is the location of the mustgather output file the only thing the IDE's will need ?

[2020-04-27 07:18] tobespc commented on #2022
I agree @tetchel , these time periods where seemingly nothing is happening can be confusing. Will take a look to see if there is anything that can be done easily

[2020-04-27 08:27] #1435 closed

[2020-04-27 08:27] tobespc commented on #1435
unable to recreate and not been seen since December.  Please feel free to open a new issue if this is still occuring

[2020-04-27 08:29] tobespc commented on #1558
Moving this to icebox.  With the assumption that everyone will eventually be past the version with issues then this will not be a problem going forwards

[2020-04-27 08:39] tobespc commented on #1782
Remote connection can be in three states -

1) open and being using as normal in IDE (projects can exist remotely)
2) connection can be disconnected in IDE (projects can exist remotely)
3) connection is to be deleted from IDE (projects should be deleted remotely)

[2020-04-27 08:41] tobespc commented on #1804
closing as this is being continued in #2712

[2020-04-27 08:41] #1804 closed

[2020-04-27 08:42] tobespc commented on #1856
closing as fixed

[2020-04-27 08:42] #1856 closed

[2020-04-27 08:44] tobespc commented on #1953
A lot of changes have occurred in this area over the last few months, moving to icebox as unable to recreate

[2020-04-27 08:45] tobespc commented on #2101
this is ok for me, please retest

[2020-04-27 08:50] micgibso commented on #1362
Hi @sishida, the two applicable topics now are:

- https://www.eclipse.org/codewind/project-actions.html
- https://www.eclipse.org/codewind/project-settings.html

...so perhaps just check the info above matches the text, for example, the `Open App` menu option is in our docs as `Open application`.  Suggest check with dev first to see what changes there have been to the context menus, and change to

[2020-04-27 08:55] tobespc commented on #2109
recreated this morning, whilst not high priority it looks terrible

[2020-04-27 08:58] tobespc commented on #2219
@rwalle61 is this still an issue ?

[2020-04-27 10:19] #2423 closed

[2020-04-27 10:20] #2219 closed

[2020-04-27 10:20] tobespc commented on #2219
closing as issue is no longer occuring

[2020-04-27 10:25] #2658 closed

[2020-04-27 10:25] tobespc commented on #2658
Closing as this will be fixed by the change for #2687

[2020-04-27 10:49] stalleyj commented on #2716
@sujeilyfonseca Looks like you are now seeing the same problem that I encountered and raised here https://github.com/eclipse/codewind/issues/2737  Moving to iterative-dev for investigation.

[2020-04-27 11:07] tobespc commented on #2738
removing portal as this needs to be doc'ed in the troubleshooting guide as a fix

[2020-04-27 11:23] james-wallis commented on #1782
This was discussed in mid-sprint meeting today and we decided on two options:
1. To resolve this issue, force the update of all the `connection.json`s for every project ID retrieved from the initial `GET` on `/api/v1/projects` so that they will be updated with the new connection ID (will also have the effect of creating `connection.json`s for projects that didn't previously have one e.g. created b

[2020-04-27 12:24] tobespc commented on #2384
The fix for this is being resolved under #2687
closing this as and tracking under above issue

[2020-04-27 12:24] #2384 closed

[2020-04-27 12:33] jcockbain commented on #2109
/assign

[2020-04-27 13:08] eharris369 commented on #1990
What happened to the old debug page which talked about how to set up node.js debugging in Eclipse? For node.js on Eclipse it does not attach the debugger automatically, instead it has a dialog to help the user set up a debug session in a chrome based browser. There is no node.js debug support in Eclipse. The old page also recommended to users to disable auto build when debugging Java projects and

[2020-04-27 13:57] mattcolegate commented on #1579
PR for remote gather of Codewind & Project logs & description https://github.com/eclipse/codewind-installer/pull/444

[2020-04-27 14:30] sishida commented on #2687
Adding the docs label and assigning myself to help with doc work.

[2020-04-27 14:43] malincoln commented on #2679
@tobespc @markcor11 we should target this release since this issue is on OCP 4.4 and get this in as soon as possible.

[2020-04-27 15:07] tobespc commented on #2685
checked and 2686 does fix this

[2020-04-27 15:07] #2685 closed

[2020-04-27 15:07] tetchel commented on #2751
as far as I can tell, since that's the only output / result of running that command.

[2020-04-27 15:10] #2619 closed

[2020-04-27 15:12] jcockbain commented on #2109
This error appears to be seen whenever a command that calls local PFE is made, without the performance container running. This is because our `getLocalHostnameAndPort` logic calls the docker `checkContainerStatus` function which does a check for >= 2 Codewind containers running (https://github.com/eclipse/codewind-installer/blob/master/pkg/docker/docker.go#L390).

[2020-04-27 15:13] tobespc commented on #2324
this has been fixed as part of https://github.com/eclipse/codewind/pull/2732

[2020-04-27 15:13] #2324 closed

[2020-04-27 15:18] tobespc commented on #2299
will modify pfe to always return this value

[2020-04-27 15:23] mattcolegate commented on #1579
@micgibso Please note the above for docs, starting to put remote mustgather into the codebase - let me know if you have any questions or want a demo

[2020-04-27 15:28] malincoln commented on #2520
did part of this ship in 0.11.0 and the remainder will ship later or all will go in a later release?

[2020-04-27 15:30] malincoln commented on #1830
@elsony please reassign release as 0.10.0 is closed.  Thanks

[2020-04-27 15:30] malincoln commented on #1831
@elsony please reassign release as 0.10.0 is closed.  Thanks

[2020-04-27 15:31] malincoln commented on #2299
Did part of this ship in 0.10.0 and the remainder will ship in a later release?

[2020-04-27 15:38] jagraj commented on #2657
We verified this issue during Codewind 0.11.0 release test cycle.This issue has been fixed. Closing it now.

[2020-04-27 15:41] malincoln commented on #2657
closing after discussion with Jag and as Martin is on vacation.

[2020-04-27 15:41] #2657 closed

[2020-04-27 15:46] james-wallis commented on #2299
/assign

[2020-04-27 16:05] tetchel opened #2761 "Remote Node project app logs broken"
I have seen this problem with new Node projects on my minikube cluster as well as my OCP one. The app logs contain the last 10 lines of `package.json` and nothing else. Sometimes, it has those 10 lines multiple times.

![image](https://user-images.githubusercontent.com/8888438/80393419-75b0cf80-887e-11ea-9c2e-0cc1d2bddb77.png)

I can't get the logs to show anything else. The build logs seem OK.

H

[2020-04-27 16:15] MelHopper commented on #2041
Hi @kimholmes @sghung , I'm just finishing up the website topic end points for the docs landing page / user workflow.

The step-by-step instructions for the Desktop and Remote artifact on your page  are IDE-specific. We can solve this issue by changing the copy on that docs landing page artifact to:

_step-by-step instructions for [VS Code](vsc-getting-started.html), [Eclipse](eclipse-getting-star

[2020-04-27 16:42] MelHopper opened #2763 "Add copy to the gettingstarted.md topic for orientation and signpost"
Add orientation and signposting to the gettingstarted topic.

Note: the addition of a button for IntelliJ needs to be covered under a different Github Issue.

[2020-04-27 16:49] makandre opened #2764 "Pickup new Appsody for 0.12.0"
**Codewind version:** 0.12.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Pickup new appsody when it's available this week

**Proposed solution:**

[2020-04-27 16:50] makandre commented on #2764
/area appsody
/area eclipse-ide
/area vscode-ide
/area intellij-ide

[2020-04-27 16:54] MelHopper commented on #2763
Associated PR: https://github.com/eclipse/codewind-docs/pull/557

[2020-04-27 17:04] tetchel commented on #2764
fyi because I am annoying, I moved the appsody version again.

https://github.com/eclipse/codewind-vscode/blob/master/dev/package.json#L7

[2020-04-27 19:43] sujeilyfonseca commented on #2761
**Codewind version:** Latest
**OS:** Mac OS Mojave 10.14.6 (w. OCP 4.3), VM with Windows 10 (w. OCP 3.11)

**IDE extension version:** 0.12.0
**IDE version:** Code 1.44.0

I encountered the same problem on Friday. The `app.log` only presented a few lines from the `package.json` when creating new Node JS projects in remote scenarios. I didn't see that when creating Node JS projects in local scenario

[2020-04-27 20:42] eharris369 commented on #1990
Eclipse PR: https://github.com/eclipse/codewind-eclipse/pull/694

[2020-04-27 21:14] sishida commented on #1990
@eharris369 Is this the file that you were referring to? https://github.com/eclipse/codewind-docs/blob/0.9.0/docs/_documentations/mdt-eclipse-debugproject.md

[2020-04-27 22:15] #2743 closed

[2020-04-27 22:28] beccabau opened #2765 "Add page for New and Noteworthy 0.12.0"
Create new and noteworthy page for 0.12.0

[2020-04-27 22:29] beccabau commented on #2765
/assign

[2020-04-28 03:21] #2700 closed

[2020-04-28 07:22] tobespc commented on #2520
this hasn't been applied at all yet so removing from release

[2020-04-28 07:27] tobespc commented on #2712
After discussions with @scottkurz and various members of the cloud team, the solution we will put in place is for codewind to offer the ability to developers to remove authentication for mpmetrics when codewind builds/run the project.  This is a very similar concept to the existing inject metrics function.  This will require a new check box (not necessarily on the IDE, could be on perf dash) to le

[2020-04-28 08:49] mattcolegate commented on #1579
New requirement from @stalleyj via https://github.com/eclipse/codewind-installer/pull/444 - allow mustgather to gather from all connections in one go

[2020-04-28 08:54] tobespc commented on #2664
retested this this morning following the recreate steps above and this is now resolved.  The fix will be in the 0.12 release
<img width="1185" alt="Screenshot 2020-04-28 at 09 53 20" src="https://user-images.githubusercontent.com/13151286/80467755-32b23300-8936-11ea-806e-a33cea909329.png">
<img width="1257" alt="Screenshot 2020-04-28 at 09 53 55" src="https://user-images.githubusercontent.com/1315

[2020-04-28 09:02] mattcolegate commented on #1579
@tobespc Yesterday you expressed concern that I was gathering the whole of the codewind-workspace - can you please reply to this issue stating which parts of the workspace should be gathered?

[2020-04-28 09:38] mattcolegate commented on #2751
/assign
/pipeline In Progress

[2020-04-28 09:55] mattcolegate opened #2766 "Change 'mustgather' command to 'diagnostics' command"
Simple name change - `cwctl mustgather` becomes `cwctl diagnostics`

[2020-04-28 09:56] mattcolegate commented on #2766
/assign
/pipeline in progress
/labels area/portal kind/enhancement

[2020-04-28 10:14] hhellyer commented on #1645
@makandre - From what you said above it sounds like the Kabanero templates need something to be run outside PFE (ie the appsody client on the users machine)? If so the best fix it probably to remove the kabanero repo from PFE and have the IDE's add it when they make a new connection. We can't do anything in PFE that affects the users machine outside the container.

I'll tag the ui plugins in as we

[2020-04-28 10:25] mattcolegate commented on #2766
/area portal
/kind enhancement

[2020-04-28 10:25] tobespc commented on #1079
The problem we have is that inject metrics does not work for appsody projects.  Without this, unless the underlying appsody stack is already using appmetrics or javametrics, its not possible to get performance information.   The work to enable inject metrics for appsody is being tracked here #1361 .  Closing this issue as tracking under 1361

[2020-04-28 10:25] #1079 closed

[2020-04-28 10:32] mattcolegate commented on #2766
/area docs
@micgibso This is the issue that will change the name of `mustgather` to `diagnostics` for you to keep an eye on - might go in depending on the result of the poll!

[2020-04-28 10:41] mattcolegate commented on #2751
@tetchel For your aside, would you accept the ability to manually unzip the created zip on your filesystem to meet your requirement?

[2020-04-28 10:54] stalleyj opened #2767 "Diagnostics: Enhance must gather script to collect info for all connections"
**Description of the enhancement:**
Must gather diagnostic command takes a connection id but this isn't something a user would necessarily have to hand. We should give an option that doesn't take an id and collects data for all connections. It could make a folder for each connection.

[2020-04-28 11:02] mattcolegate commented on #2767
I've coded in the option to supply Connection ID or Connection Label, which is the name of the remote connection the user sees in the IDE, so I need to make that clearer in the usage, but the `--all` option is a good suggestion and other commands also do that. As no remote mustgather work has currently made it to the codebase yet, this work will be blocked behind that.
/assign

[2020-04-28 11:07] mattcolegate commented on #2767
/pipeline portal backlog

[2020-04-28 11:23] MelHopper commented on #2395
See https://github.com/eclipse/codewind-docs/wiki/Links-to-docs-in-IDEs-and-other-locations

[2020-04-28 11:24] makandre commented on #1645
@hhellyer When IDE calls `cwctl` to create/validate a project, that is what runs the `appsody init` command on the local system. And it's done in a generic manner by looking at what commands needs to be run as defined in an extension's `codewind.yaml` file

(https://github.com/eclipse/codewind-installer/pull/119)

[2020-04-28 11:56] hhellyer commented on #1645
@makandre - Ok, that's simpler. The comment in https://github.com/eclipse/codewind/issues/1645#issuecomment-572574596 implied there was work to do when we added template repositories as well.

[2020-04-28 12:07] eharris369 commented on #1990
@sishida Yes, that is the one. It probably does not need to be as detailed as that but the main information needs to be there:

- The part about disabling auto build for Java projects if they want to use hot code replace while debugging
- The part about debugging initialization code for Java projects
- The information about how Node.js debugging is through a chromium based browser and that the too

[2020-04-28 12:28] tobespc opened #2768 "Provide loadrunner data for stacks using microprofile (open metrics)"
The performance dashboard currently will only display loadrun data if the application being monitored has appmetrics enabled in it.  This can either be through metrics injection or because the project itself requires it.

This is a problem for appsody stacks (where injection is currently not supported) and for other project types that do have a /metrics endpoint but cannot use appmetrics/javametri

[2020-04-28 12:35] tobespc opened #2769 "Provide capabilities to graph and compare custom project metrics"
Our metrics dashboard and performance data currently will only work against a hardcoded list of data (cpu, memory etc).   However, with projects moving towards using open metrics https://openmetrics.io/ it gives the users the ability to add their own custom data to /metrics.

Much like prometheus https://prometheus.io/, we could provide a way for developers to include those metrics in our graphs a

[2020-04-28 12:40] tobespc commented on #1823
going to go for 'Codewind style templates'

[2020-04-28 12:42] MelHopper commented on #2718
Changes delivered via https://github.com/eclipse/codewind-docs/pull/558

[2020-04-28 12:42] MelHopper commented on #2763
Changes delivered via https://github.com/eclipse/codewind-docs/pull/558

[2020-04-28 13:18] jgwest commented on #2737
Similar to https://github.com/eclipse/codewind/issues/1779?

[2020-04-28 13:19] jgwest commented on #2716
Similar to https://github.com/eclipse/codewind/issues/1779?

[2020-04-28 14:08] stalleyj commented on #2716
@jgwest Looks like the same issue to me

[2020-04-28 14:23] kimholmes commented on #2041
@MelHopper @sghung I can tweak the design to provide links to instructions for EACH IDE.

[2020-04-28 14:36] sishida commented on #2651
Learned from Michael today that this issue will not be for 0.12.0.

[2020-04-28 15:04] james-wallis commented on #2686
@tobespc has reviewed and merged the PR for this.
In addition to the features described above a `/metrics/status` api was added so the performance dashboard could get the metricsCapabilities itself.
Further details in https://github.com/eclipse/codewind/pull/2748
/close

[2020-04-28 15:06] #2686 closed

[2020-04-28 15:07] mattcolegate commented on #2766
/pipeline Review/QA

[2020-04-28 15:07] hhellyer commented on #1645
@makandre - I've done some more investigation and I think the problem is an interaction between the kabanero template list and the appsody extension.

With all but the Kabanero template repository disabled api/v1/project-types returns no project types:
[code]
This is what the VSCode plugin uses to populate the project types you can bind to.

We also see this message in the PFE logs:
[code]

This i

[2020-04-28 15:10] mattcolegate commented on #2751
Sample output:
`{"outputdir":"C:\\Users\\MattColegate\\.codewind\\mustgather\\20200428155550"}`

[2020-04-28 15:16] james-wallis opened #2770 "Performance dashboard - support custom metric routes (with Prometheus style data)"
**Description of the enhancement:**

The performance dashboard is able to gather data from a projects `/metrics` endpoint when the data is in the Prometheus style. We should expand this functionality to work for other endpoints that are either user configurable or alternatives to `/metrics` (for example if `/metrics` is not up check another known endpoint).

This is the case for Appsody Spring pro

[2020-04-28 15:16] james-wallis commented on #2770
/area portal

[2020-04-28 15:44] makandre commented on #1645
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L35
to add an extra field id: 'incubator' but I don't know if that's a good idea, Kabanero may use more than just the template types appsody lists with incubator.

True, adding an `id` here probably resolves the missing ID symptoms you've described.  But the root problem is we should not be "hardcoding" the Kabaner

[2020-04-28 15:54] tetchel opened #2771 "Extra space above linked section"
https://www.eclipse.org/codewind/project-settings.html#health-check-endpoint

![image](https://user-images.githubusercontent.com/8888438/80509163-04891f00-8947-11ea-8cd9-cf64c55f65fa.png)

[2020-04-28 15:56] naveenkaratekid commented on #2476
Verified Keith's fix, and it works properly now and deletes the folder. WIll close this issue now.

[2020-04-28 15:56] #2476 closed

[2020-04-28 17:06] sishida commented on #2771
Hmmm...When I look at the page, the extra space appears between "Context root" and "Health check endpoint" (instead of between "Health check endpoint" and "HTTPS application" like in Tim's screenshot).
<img width="819" alt="Screen Shot 2020-04-28 at 1 02 41 PM" src="https://user-images.githubusercontent.com/21180723/80515844-95b0c380-8950-11ea-8761-451e42ff44be.png">

Also, when I look at the Mark

[2020-04-28 17:08] tetchel commented on #2771
it moved!
![image](https://user-images.githubusercontent.com/8888438/80516316-48812180-8951-11ea-9d01-2a3e9ffaf0ce.png)

[2020-04-28 17:08] tetchel commented on #2771
Also, if I specifically open https://www.eclipse.org/codewind/project-settings.html (no header fragment) there's no extra space at all! so the problem is caused by the fragment

[2020-04-28 17:13] tetchel commented on #2771
Reproducible on all pages

![image](https://user-images.githubusercontent.com/8888438/80516774-fbea1600-8951-11ea-8d02-13330b399516.png)

![image](https://user-images.githubusercontent.com/8888438/80516781-fdb3d980-8951-11ea-816e-f5b9e42f9994.png)

[2020-04-28 17:14] jcockbain commented on #2278
@tetchel - the cwctl and PFE PRs have been merged. So now when `cwctl sync` is called with a non-existent path matching the project's `locOnDisk`, it won't error as it did before and a `missingLocalDir` socket message should be emitted with the body `{projectID: <projectid>}`.

This issue was discussed yesterday in Portal's scrum and whilst this way around does seem a bit long winded, there wasn't

[2020-04-28 17:17] tetchel commented on #2278
ok, i'll open a new issue for the IDE component.

[2020-04-28 17:18] jcockbain commented on #1333
/assign

[2020-04-28 17:18] tetchel commented on #2278
ok, i'll open an issue for the IDE component.

[2020-04-28 17:20] tetchel opened #2772 "Unbind project when missingLocalDir event is received"
this is the follow-up of https://github.com/eclipse/codewind/issues/2278

Now when a project's root directory is deleted from disk, CW emits a `missingLocalDir` even with the `projectID` as payload. When the IDE sees this event it should call the unbind API and tell the user what happened.

Originally we discussed prompting the user to 'confirm' they want to delete that project. However, I can't t

[2020-04-28 17:20] #2278 closed

[2020-04-28 17:23] MelHopper commented on #2718
Add next steps section to openshiftregistry.html taking the user to che-createcodewindworkspace.html

[2020-04-28 17:24] MelHopper commented on #2718
Further mods being delivered via https://github.com/eclipse/codewind-docs/pull/559/files

[2020-04-28 17:39] elsony commented on #2737
@stalleyj  Do you happens to be using NFS?  Can you check if you happens to be running into this same problem with the workaround https://github.com/eclipse/codewind/issues/1779#issuecomment-576825859?

[2020-04-28 18:31] tetchel commented on #1877
indeed it is fixed

[2020-04-28 18:31] #1877 closed

[2020-04-28 19:06] sishida commented on #2651
To document for 0.12.0:
- Mention port forwarding.
- Need to log in using `kubectl` or `oc`.
- Same for VS Code and Eclipse.

[2020-04-28 19:08] tetchel commented on #2754
this section can use a quick update to mention intellij https://www.eclipse.org/codewind/troubleshooting.html#setting-codewind-server-log-levels

[2020-04-28 19:28] eharris369 commented on #1597
Eclipse is fixed now: https://github.com/eclipse/codewind-eclipse/pull/709

[2020-04-28 20:28] sishida commented on #2741
Ideas for review process:
- Anyone can draft a blog. Create a blog as a PR in the GitHub repo.
- Before the PR is merged, request review from 1️⃣a developer or tester for technical accuracy and 2️⃣a documentation team member for grammar, spelling, and style.
- When both 1️⃣and 2️⃣have added their approval, merge the PR.

[2020-04-28 21:28] rachelwchen opened #2773 "Add buttons/links to features in each Project Overview page"
### VSCode

**AS-IS / PROBLEM**
In the bottom left Codewind view, right-clicking each project opens up a menu that includes features such as Metrics Dashboard and Logs. See screenshot below:

![buttons-0](https://user-images.githubusercontent.com/12159451/80539287-14f7c480-895c-11ea-9acc-b4b3456d108a.png)

The menu is hidden by design, which makes it harder for first-time users to discover the fea

[2020-04-28 21:32] rachelwchen commented on #2773
/area design
/area vscode-ide

[2020-04-28 21:51] rachelwchen opened #2774 "Provide more visible, real-time system feedback for application and build statuses"
/area design
/area vscode-ide

### VSCode

**AS-IS/PROBLEM**
When a project is building, the statuses (application & build) show up as plain text.
![status](https://user-images.githubusercontent.com/12159451/80541123-779e8f80-895f-11ea-851f-9a157c6c3353.png)

Two issues:
1. Visibility - the text isn't attention-grabbing enough, so when a project is building and the user is waiting, they don't nece

[2020-04-28 22:07] rachelwchen opened #2775 "Revisit which events the user will get a notification for"
/area design
/area vscode-ide

### VSCode
**AS-IS/PROBLEM**
When there is a status change / event update but the user does not receive a new notification, the flow appears out of sync. During a usability review, participants were confused by the following flow:

**Project starts building**
✔️ In Project Overview, status changes to "Building"
✔️ User receives a "Building" notification

**Project fi

[2020-04-28 22:13] maysunfaisal commented on #2474
I spent an hour trying to recreate this again using latest and have not been able to do so.

Since this is a hit/miss and not everyone is seeing it, i am removing the hot label

/priority-remove hot

Will close the issue in a few days, if no one is able to reproduce it.

If anyone comes across this, pls share the pfe logs in `TRACE` mode, thx!

[2020-04-28 22:16] maysunfaisal commented on #2474
/remove-priority hot

[2020-04-28 22:46] rachelwchen opened #2776 "Provide immediate feedback when a template is added"
/area design
/area vscode-ide

### VSCode

**AS-IS / PROBLEM**
In the Template Source Manager, when a template is added, there is no immediate feedback. During testing this led to some confusion.

**PROPOSED SOLUTION**
Immediately after a user adds a template, show some sort of status indicator that says "Adding..." then once it's added successfully, show some sort of status indicator that says "A

[2020-04-28 22:53] rachelwchen opened #2777 "Redesign the flow for adding a remote project"
/area design
/area vscode-ide

### VSCode
**AS-IS / PROBLEM**
During the usability review, when participants tried to create a remote project, they navigated the interface in the following flow:
![flow-0](https://user-images.githubusercontent.com/12159451/80545436-28109180-8968-11ea-9980-ddadea202e2a.png)

However, currently the as-is requires the user to save a connection first before modifying t

[2020-04-29 03:52] jgwest opened #2778 "[Filewatcherd] Log output when cwctl project sync error occurs is not well-formatted"
**Description:**

In the Node filewatcher, when a non-zero error code is returned by `cwctl project sync`, the following log statement format is used:
[code]

This can be improved:
- The following line does not provide sufficient separation/explanation that this is an error from cwctl:
! ERROR !  Error running 'project sync' installer command **time="2020-04-28T22:58:18-04:00" level=error msg="Con

[2020-04-29 04:21] jgwest commented on #2474
@maysunfaisal  - just because a bug is intermittent, doesn't mean it is not worth fixing... this seems like a fairly ugly problem when it does occur.

Rather than closing it as is, we should add additional log statements to PFE (in a log mode higher than TRACE; eg "always on" logging) that would help you further diagnose the issue the next time it occurs.

[2020-04-29 04:57] jgwest commented on #2772
I've switched it to a bug, as the parent issue was a bug and this is a continuation of that with the same symptoms until it is fixed.

[2020-04-29 08:14] mattcolegate commented on #2751
/pipeline Review/QA

[2020-04-29 09:17] rwalle61 commented on #2647
Next step is to support Personal Access Tokens as well as username/password
- [ ] PFE #2762
- [ ] cwctl

After that we need to support storing and reusing git credentials. We will need a solution that fits into the wider Kabanero/ICP4a story (fyi @cccanderson). We'll pause work on this until we hear more details

(One way we could do it is:
- e.g.`cwctl` will store credentials in the keychain
- wh

[2020-04-29 09:21] mattcolegate commented on #2766
Noteable changes for this issue:
*  files are written to .codewind/diagnostics/<timestamp> instead of .codewind/mustgather/<timestamp>
* the resulting zip file is named diagnostics.<timestamp>.zip
* command name change (diagnostics, dg)

Output of `cwctl help diagnostics`:
[code]

[2020-04-29 09:50] douzizuibang opened #2780 "Error create new project: t.map is not function"
**Codewind version:**
0.11.0
**OS:**
macos Catalina 10.15.3

**IDE version:**
visual studio code 1.44.2

**Description:**
Firstly, install codewind(0.11.0) with vscode, and then  the codewind will show to downloading appsody and codewind cli.
And then, the codewind cli will keep to download, but the appsody will initialization failed immediately.
(create new project failed.)
And then, I have check

[2020-04-29 10:38] tobespc commented on #1579
not the source code

[2020-04-29 11:45] #2299 closed

[2020-04-29 12:57] MelHopper commented on #2395
Add links from:
1. ICP4A KC
2. Kabanero.io
3. Which other products?

[2020-04-29 13:11] elsony commented on #2713
@tobespc The build problem is rooted from the permission problem which usually indicates either there is a permission issue when using a specific stack or there are permission problems when syncing the resources to container. Therefore, I suggest the portal team/appsody team to resolve the permission problem before passing on it iterative dev for investigation.

[2020-04-29 13:23] stalleyj commented on #2737
@elsony Yes, the machine is using NFS but I don't know what version it is. The workaround mentioned to delete the log file does not solve the problem for me. If I delete the file, NFS immediately creates a replacement like (.nfs000000002000188a00000001) because the app.log is being used by another process (the app).

[2020-04-29 13:26] jcockbain commented on #1909
/assign

[2020-04-29 13:43] jcockbain commented on #2185
/assign

[2020-04-29 14:12] sishida commented on #2741
Steven presented this idea today:

**GitHub actions**
-Kick off actions after you merge a PR to a certain branch. In Git Lab, you can specify which branch could kick off a specific action. For example, you could specify a branch and, after a PR is merged, automate tests and publishing to the live site.
- This automated process could also be applied to publishing the live site.
- Would still requir

[2020-04-29 14:18] eharris369 commented on #2651
For remote debug:

All is the same as local debug except:

- kubectl or oc must be installed and you must be logged in to your cluster
- After restarting in debug mode, a port forward is automatically set up for the debug port of the application to a port on your local machine. In Eclipse, this port forward process shows in the Debug view along with the debug session itself. If you terminate this

[2020-04-29 14:19] sghung commented on #2771
The box is caused by https://github.com/eclipse/codewind-docs/commit/650695d966ff90d435542208f4bf821806edb454#diff-005d9ddd47d7e97a92c07d6e12eefe66

The
[code]

Is causing that huge spacing. If you inspect the codewind source, it is adding ::before to the header, which causes that huge block. If i remove `:target:before` the spacing is gone.

We'd have to see why that was added there (that change

[2020-04-29 14:31] tobespc commented on #2773
One thing to consider is whether we direct users to the performance dashboard and then all features are highlighted there.  We have a new front screen to this page now that makes it clear what you can and can't do based on current project settings
![Screenshot 2020-04-29 at 15 31 01](https://user-images.githubusercontent.com/13151286/80608299-77b99080-8a2e-11ea-9a2e-31fb4232204f.png)

[2020-04-29 15:08] tetchel commented on #2780
can you upload the logs, and provide the error message from the downloads?

In VS Code:
1. Help > Toggle Developer Tools
2. Open the Console tab of the developer tools
3. Search for `codewind.log`
4. Copy the path from the log message
![image](https://user-images.githubusercontent.com/8888438/80612313-cdc80d00-8a09-11ea-8fd9-c94bed0e23d3.png)
5. Upload that file here

[2020-04-29 15:30] tetchel opened #2785 "Auto-build not working on my minikube cluster"
I was fixing some clean up that was not being done when a connection was removed from VS Code. After recreating the connection to the same cluster, auto-build no longer works.

With each code change, I see a message in the filewatcher logs:
[code]

The error message is accurate; there is no K9IN connection:
[code]
But the connection's URL does contain that connection ID. So maybe cwctl is mapping

[2020-04-29 15:33] jgwest commented on #2785
It's tough to tell [because the filewatcherd log format for this error is bad](https://github.com/eclipse/codewind/issues/2778), but the following is the output from `cwctl project sync` (eg this message is NOT from filewatcherd; and in fact FWd never deals with connection IDs):
[code]

[2020-04-29 15:50] jgwest commented on #2737
@stalleyj  Jingfu is investigating this one as part of #2716; presuming you agree that this issue is the same as #2716 we can probably dupe it.

[2020-04-29 16:20] tetchel opened #2786 "Pod name not refreshed after restarting Appsody project in kube"
When we added restart functionality to Appsody projects, we made sure the `containerID` was updated in the project metadata. But it looks like the `podName` is not updated if the project is a Kube project.
This means that after a project restart, PFE is reporting the old pod name.

[2020-04-29 16:21] tetchel commented on #2786
This blocks remote debug for appsody since the pod name is wrong after restarting into debug mode

[2020-04-29 16:22] tetchel commented on #2786
Erin pointed out this means the container shell won't work after a restart either.

[2020-04-29 16:30] beccabau opened #2788 "[Docs] Eclipse Che installation documentation needs to be reordered"
I believe these two pages are out of order:

https://www.eclipse.org/codewind/che-createcodewindworkspace.html (should be #2 in the list)
and
https://www.eclipse.org/codewind/che-setupregistries.html (i guess number 3 in the list)

[2020-04-29 17:16] tetchel commented on #1990
There are two key differences for remote debug vs local.
1. You must have `kubectl` or `oc` configured to be able to issue commands against the same cluster you have Codewind running on before you can debug a remote project. This is required for 2.
2. Just after the project restarts into debug mode, the plugin will run `kubectl port-forward` to forward a port on the local system to the debug port

[2020-04-29 17:22] jagraj commented on #2713
Yes, some how `mvnw` file does not have execute permissions after project source is extracted. After giving execute permissions then the quarkus project built fine.

[2020-04-29 17:27] douzizuibang commented on #2780
Sorry, as some network problem, I always upload file or screenshot failed.
This is codewind.log file conetnt.

[code]

[2020-04-29 17:34] tetchel commented on #2780
hmm. That useless error message (`{}`) is worrying. But that code changed in https://github.com/eclipse/codewind-vscode/commit/4970d9bdc5b8f1d6f1060ca8ba8299359f4ddbd0 so it's possible that may have fixed it.

[2020-04-29 17:41] tetchel commented on #2780
If you like, you can try again after [installing the vsix](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix) for the [latest build](https://archive.eclipse.org/codewind/codewind-vscode/master/latest/)

[2020-04-29 17:43] eharris369 opened #2790 "[Eclipse IDE] Don't clear out launches when debug terminated"
The launches should not be cleared out when debug is terminated in case there was an error (such as port forward failed). If the launch is still there the user can look at the console output for the launch. By default terminated launches get removed whenever there is a new launch. If the user disabled this then the launches should not be removed.

Also the timeout message dialog is showing wheneve

[2020-04-29 18:36] eharris369 commented on #2790
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/712

[2020-04-29 18:36] #2790 closed

[2020-04-29 18:43] keithchong commented on #2344
Closing.

[2020-04-29 18:43] #2344 closed

[2020-04-29 18:54] #2573 closed

[2020-04-29 19:25] #2758 closed

[2020-04-29 20:19] mattcolegate commented on #2751
/pipeline verify

[2020-04-29 20:56] tetchel opened #2791 "cwctl docker-compose error should report the actual error, not just the exit status"
[code]

The error here is `manifest for eclipse/codewind-performance-amd64:0.12.0 not found: manifest unknown: manifest unknown`. But the error message the user will see (unless they open the full output) is `exit status 1` which is not useful.

[2020-04-29 21:12] makandre commented on #2786
After #2789 container shell works after restarting.  But debug is failing to attach:

[code]

[2020-04-29 21:15] makandre commented on #2786
Not sure if the pod need to expose the ports in a certain way. In Appsody's case it's the CLI that's bringing up the pod.  Attaching the `app-deploy.yaml` they generate.

[app-deploy.yaml.txt](https://github.com/eclipse/codewind/files/4554625/app-deploy.yaml.txt)

[2020-04-29 21:21] tetchel opened #2792 "Debug port forward connection refused by remote appsody project"
From https://github.com/eclipse/codewind/issues/2786#issuecomment-621466804

[code]

I am not sure what may be causing it to refuse the connection if 9229 is the correct debug port, which is appears to be.

Waiting to see if Eclipse has the same problem

[2020-04-29 21:21] tetchel commented on #2786
opened a new issue for the new problem

[2020-04-29 21:21] #2786 closed

[2020-04-29 21:25] makandre commented on #2792
Not sure if the pod need to expose the ports in a certain way. In Appsody's case it's the CLI that's bringing up the pod. Attaching the app-deploy.yaml they generate.

[app-deploy.yaml.txt](https://github.com/eclipse/codewind/files/4554662/app-deploy.yaml.txt)

[2020-04-29 21:35] makandre commented on #2792
May also be relevant

![image](https://user-images.githubusercontent.com/17596240/80649348-da675800-8a3f-11ea-946c-e94b8f154b71.png)

[2020-04-30 07:11] tobespc commented on #2785
A change went in last night that should resolve this problem.  @stalleyj Can you check to see if your change would have resolved this ?

[2020-04-30 07:32] #2740 closed

[2020-04-30 07:37] micgibso commented on #2633
Old pages are in this zip:
[VS Code & Eclipse ts topics.zip](https://github.com/eclipse/codewind/files/4556798/VS.Code.Eclipse.ts.topics.zip)

[2020-04-30 07:59] mattcolegate opened #2793 "Diagnostics: collect Docker / Kubernetes Version, running on OpenShift"
In the versions file collected by Diagnostics, for local we should include the Docker version, and for remote we should include the Kubernetes version as well as an indication of whether we are running on Openshift.

[2020-04-30 07:59] mattcolegate commented on #2793
/pipeline portal backlog
/area portal

[2020-04-30 08:05] mattcolegate opened #2794 "Diagnostics: collect environment"
Enhance the diagnostics gathering for both local and remote by creating an environment collection file containing the following:
* Local OS version
* system summary (CPU/Cores/Memory)
* IDE version
* docker registry links

[2020-04-30 08:05] mattcolegate commented on #2794
/pipeline portal backlog
/area portal

[2020-04-30 08:07] mattcolegate opened #2795 "Diagnostics: IntelliJ log collection"
**Codewind version** : latest
**OS** : all

**Che version** : latest
**IDE extension version** : latest
**IDE version** : all
**Kubernetes cluster** : latest

**Description of the enhancement**:
`cwctl diagnostics` does not collect IDE logs for the IntelliJ IDE. This enhancement should rectify that

**Proposed solution**:
A new function in diagnostics.go, like the existing ones that collect logs f

[2020-04-30 08:08] mattcolegate commented on #2795
/assign
/pipeline In Progress
/area portal

[2020-04-30 08:13] mattcolegate opened #2796 "Diagnostics: Limit codewind-workspace collection"
**Codewind version** : latest
**OS** : all

**Che version** : latest
**IDE extension version** : latest
**IDE version** : all
**Kubernetes cluster** : latest

**Description of the enhancement** :
Currently the diagnostics command collects the entirety of the `codewind-workspace` in the PFE container. This has the potential to capture far too much, including project source, binaries, zips and other

[2020-04-30 08:13] mattcolegate commented on #2796
/area portal
/pipeline portal backlog

[2020-04-30 08:15] mattcolegate opened #2797 "Diagnostics: Collect codewind workspace for remote connections"
For remote, the `codewind-workspace` from the PFE container is not currently being collected. This should be rectified to collect the non-project folders in the `codewind-workspace`, to match the experience enjoyed by local diagnostics.

[2020-04-30 08:16] mattcolegate commented on #2797
/area portal
/pipeline portal backlog

[2020-04-30 08:23] mattcolegate opened #2798 "Diagnostics: Collect codewind versions for remote"
**Codewind version:** latest
**OS:** all

**Che version:** latest
**IDE extension version:** latest
**IDE version:** all
**Kubernetes cluster:** latest

**Description of the enhancement:**
The diagnostics command, when specifying a remote connection, does not bring back the current versions of the remote Codewind pods - instead, it erroneously brings back a local connection.

**Proposed solution:*

[2020-04-30 08:34] stalleyj opened #2799 "Add the ability to pass conID to all cwctl project commands"
**Description of the enhancement:**

Add an optional connectionID parameter to all cwctl project commands that take a projectID.

**Proposed solution:**
Update the commands to take a connectionID so it does not need to be calculated

[2020-04-30 08:36] stalleyj commented on #2785
Yes, this problem will absolutely be solved by my PR https://github.com/eclipse/codewind-installer/pull/450.

Any project command that takes a projectID will now dynamically work out the connectionID (by looking at the projects on each connection) rather than looking for the json file. I have also raised an enhancement to add the ability to pass the connectionID in to cwctl project commands https:

[2020-04-30 09:01] stalleyj commented on #2737
Closing as duplicate of https://github.com/eclipse/codewind/issues/2716

[2020-04-30 09:01] #2737 closed

[2020-04-30 09:20] jgwest commented on #2785
Reopened as it needs to be verified by bug originator.

[2020-04-30 09:22] mattcolegate commented on #2793
/kind enhancement

[2020-04-30 09:22] mattcolegate commented on #2794
/kind enhancement

[2020-04-30 09:59] mattcolegate opened #2800 "Diagnostics: Remote collect codewind versions"
**Codewind version:** Latest
**OS:** all

**Che version:** latest
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** latest

**Description of the enhancement:**

`cwctl diagnostics` collects codewind container versions for a local connection, but does not currently collect them for remote containers. New function needs to be written to accomplish this

**Proposed sol

[2020-04-30 09:59] mattcolegate commented on #2800
/area portal
/kind enhancement
/pipeline portal backlog

[2020-04-30 10:06] mattcolegate opened #2801 "Diagnostics: select remote Codewind containers by label"
**Codewind version:** latest
**OS:** all

**Che version:** latest
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** latest

**Description of the enhancement:**

Currently the `cwctl diagnostics` command selects remote pods by namespace linked to the current conid. @markcor11 says that with the move to operators, all remote codewind installations will use the same na

[2020-04-30 10:20] mattcolegate commented on #2766
Verified with master codebase.

[2020-04-30 10:20] #2766 closed

[2020-04-30 10:21] mattcolegate commented on #1579
Going to sum up this issue now and deal with the oustanding work via separate issues.
`cwctl diagnostics` has been delivered into the codebase able to gather the following:
* Local
  * Codewind container logs & inspection
  * Project container logs & inspection
  * Codewind versions collection (cwctl version, pfe version, performance version)
  * Eclipse log collection
  * VSCode log collection

[2020-04-30 10:26] mattcolegate commented on #2795
/area docs
@micgibso  Going to be adding another `diagnostics` parameter with this one - see https://github.com/eclipse/codewind-installer/pull/451

[2020-04-30 10:37] mattcolegate commented on #2796
Grabbing this one as it's a quick one to do
/assign
/pipeline in progress

[2020-04-30 11:35] makandre commented on #2792
If I took out port 9229 from the kube service, I still wasn't able to attach.

During the investigation I noticed the ingress/route is lost after the restart.  Unsure if this is related but I'm testing out a potential fix for it.

[2020-04-30 11:44] stalleyj commented on #2761
This problem is a result of the changes made for https://github.com/eclipse/codewind/issues/1990. Investigating a solution

[2020-04-30 12:13] mattcolegate commented on #2796
/pipeline Review/QA

[2020-04-30 12:36] jcockbain commented on #2185
Note: the name of the file has since been changed, the line in question is now here - https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/bind.route.js#L387.

[2020-04-30 13:09] hhellyer opened #2804 "Performance Dashboard - Test history does not appear until load run settings edited."
**Codewind version:**
master
**OS:**
MacOS

**Description:**
I am not seeing previous load run results appear when I load or refresh the perfomance dashboard until I edit and save the load run config. (Saving without changing it may be enough.)

**Steps to reproduce:**
- Create a project
- Perform a load test against it.
- The load run should not be added to the test history.
- Edit the load run c

[2020-04-30 13:11] markcor11 commented on #2804
reproduced

/assign

[2020-04-30 13:17] jopit commented on #2761
Two solutions

1. Allow Kube to restart the pod
2. Tail the same file we do in the local case.

Investigate doing 2 for 0.12, and 1 for 0.13

[2020-04-30 13:28] mattcolegate commented on #2800
Dup of #2798

[2020-04-30 13:28] #2800 closed

[2020-04-30 13:30] sishida commented on #2788
PR merged to correct the order of the files. Closing this issue.

[2020-04-30 13:34] jopit commented on #2792
We believe the problem is that appsody is exposing the debug port, solution is for them to stop it.
Andrew will test this by removing the service from appsody yaml
Andrew will open issues to stop appsody exposing the port, and for the missing ingress.

[2020-04-30 13:56] makandre opened #2805 "Ingress/route is lost after restarting Appsody project on k8s"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

When restarting an Appsody project that's running on k8s, the ingress/route is lost after the restart and it's not recreated.  So the application is inaccessible after the restart.

This was found in while investigating https://github.com/eclipse/codewind/issues/27

[2020-04-30 13:56] makandre commented on #2805
/area appsody

[2020-04-30 14:12] tetchel opened #2807 "Remote cwctl project sync fails because docker isn't running locally"
[code]

Verifying https://github.com/eclipse/codewind/issues/2785 I see the above issue. I have minikube running but not docker, which causes project sync to fail on my remote (minikube) cluster.

[2020-04-30 14:12] makandre commented on #2792
Removing port 9229 from both appsody deploy and service yamls, I can at least see that `kubectl port-forward` works.

We would need appsody CLI to stop exposing the debug port, opened https://github.com/appsody/appsody/issues/993 for this.

@neeraj-laad for your attention

[2020-04-30 14:13] tetchel commented on #2785
This is fixed but it looks like it has introduced a new problem https://github.com/eclipse/codewind/issues/2807

[2020-04-30 14:13] #2785 closed

[2020-04-30 14:15] tetchel opened #2808 "Disable the remote restart feature in 0.12"
Remote debug is not ready for 0.12. I believe the easiest way to disable this feature is to update the projects' capabilities when running in Kube to **not** include the restart capabilities.

I think this has to be done in ~the appsody extension and in~ Turbine.

[2020-04-30 14:18] tetchel commented on #2808
the capability was added in https://github.com/eclipse/codewind/pull/2519

[2020-04-30 14:31] tetchel commented on #2808
#2805 is also caused by remote restart

[2020-04-30 15:33] eharris369 opened #2813 "[Eclipse IDE] Debug connect is using incorrect timeout"
- The debug connect should time out in the number of seconds specified in the preferences. But in the code this is getting multiplied by 1000 so a timeout of 4 seconds becomes 4000 seconds.
- Some errors are just being logged and the user it not getting notified

[2020-04-30 15:44] tetchel opened #2815 "cwctl --json diagnostics gives invalid output if pfe isn't running locally"
[code]
This is not valid JSON, there can only be one top-level object. I don't know if the diagnostics command should fail in this case, or if it should "succeed with errors".

Also, this problem has been seen in the past with a number of cwctl commands - where multiple objects are output as errors occur, but the process doesn't exit after the error. Please, see if there is some way to funnel cwct

[2020-04-30 15:45] #2751 closed

[2020-04-30 15:45] tetchel commented on #2751
This is in but see https://github.com/eclipse/codewind/issues/2815

[2020-04-30 15:47] hhellyer commented on #2804
Fixes have been merged into 0.12.0 and master. I've checked the dashboard now updates correctly. Closing.

[2020-04-30 15:47] #2804 closed

[2020-04-30 15:57] jopit commented on #2792
Would stopping exposing the debug port break local debug for appsody?

[2020-04-30 15:59] tetchel commented on #2792
we want to stop exposing it through the service, specifically in kube. local behaviour should not change (we still want `EXPOSE <port>` in the dockerfile)

[2020-04-30 16:10] tetchel commented on #2561
have you seen this in the last month?

[2020-04-30 16:50] josephca opened #2816 "Cumulative docker image for operator needs to be published"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Build for operator is currently publishing only iFIx docker image (i.e. '0.12.0'). It needs to publish a cumulative docker image (i.e. '0.12') as well to deal with potential iFixes.

Dockerhub:
https://hub.docker.com/r/eclipse/codewind-operator-am

[2020-04-30 16:55] tetchel commented on #822
This is done so I'm closing it; the intellij component can be considered as part of the overall intellij hybrid work.

[2020-04-30 16:55] #822 closed

[2020-04-30 16:59] rwalle61 commented on #2761
#2812 implements solution 1 for 0.12

[2020-04-30 17:22] keithchong opened #2817 "[IntelliJ] Support remote connections"
**IDE extension version:** latest
**IDE version:** any
**Kubernetes cluster:** any

**Description of the enhancement:**
- Add an action on the Codewind manager object to launch a dialog to add a connection
- Update Codewind View to show the connection
- Handle responses from turbine
- Add context menu actions on the remote connection
- Enable filewatcher remote
...etc

This might be spread out int

[2020-04-30 17:26] jopit commented on #1059
We'll track this using #2817

[2020-04-30 17:26] #1059 closed

[2020-04-30 18:11] keithchong opened #2818 "[IntelliJ] Add icons to context menu actions"
**Codewind version:** latest
**OS:** any

**IDE extension version:** latest
**IDE version:** any

**Description of the enhancement:**
We should add icons to the context menu actions

Eclipse extension has icons.
Without icons

<img width="439" alt="Screen Shot 2020-04-30 at 2 09 07 PM" src="https://user-images.githubusercontent.com/7726022/80744136-338cc580-8aec-11ea-954d-c47c52619178.png">

With

[2020-04-30 18:12] keithchong commented on #2817
@sishida , this requires doc changes

[2020-04-30 18:14] keithchong commented on #2817
The (?) button right now is hooked in to launch Eclipse's remote connection help page.  We will need something similar for IntelliJ.

https://www.eclipse.org/codewind/remotedeploy-eclipse.html

<img width="665" alt="Screen Shot 2020-04-30 at 2 12 52 PM" src="https://user-images.githubusercontent.com/7726022/80744476-b9107580-8aec-11ea-9d02-de2a88f910cf.png">

[2020-04-30 18:28] wtistang commented on #2520
I get similar error with codewind plugin 0.11.0 and VS Code 1.44.2 on a Red Hat VM. When trying to start local codewind server. The error is:

cwctl is available at /home/student/.codewind/0.11.0/cwctl
appsody 0.6.0 is available at /home/student/.codewind/0.11.0/appsody
==> Run cwctl --json --insecure connections list
{"schemaversion":1,"connections":[{"id":"local","label":"Codewind local connecti

[2020-04-30 18:44] makandre commented on #2805
/assign

[2020-04-30 19:26] keithchong opened #2819 "[IntelliJ] Follow-up log-related changes to take advantage of logDebug and logTrace"
**IDE extension version:** latest
**IDE version:** any supported

**Description of the enhancement:**
This is a part 2, follow-up to enhancement https://github.com/eclipse/codewind/issues/2754

We should not inundate the idea log file with what should be our debug or trace statements.  We should take advance of the new Logger methods introduced in 2754, logDebug and logTrace.

[2020-04-30 19:27] keithchong commented on #2754
Closing.  Follow-up issue is: https://github.com/eclipse/codewind/issues/2819

[2020-04-30 19:27] #2754 closed

[2020-04-30 19:36] keithchong opened #2820 "[IntelliJ] Add mechanism to set server log level"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** any supported

**Description of the enhancement:**
See related enhancement https://github.com/eclipse/codewind/issues/1251 for VS Code and Eclipse. This issue tracks the changes for IntelliJ

[2020-04-30 19:38] sghung commented on #1261
Someone had the same issue as us: https://github.com/linkchecker/linkchecker/pull/180/files

They had to modify the linkchecker source to handle it. I checked out linkchecker and created my own docker image where `vscode` was added. As a result, we don't see the checker complain about `vscode:extension` anymore

[2020-04-30 19:52] jagraj commented on #2520
With the workaround documented here (https://www.eclipse.org/codewind/troubleshooting.html#without-a-keychain-or-keyring-codewind-fails-to-run-certain-commands), I am able to start Codewind 0.11.0 fine on RHEL which does not have keychain config by default.

![Screen Shot 2020-04-30 at 3 00 25 PM](https://user-images.githubusercontent.com/713849/80753014-91c0a500-8afa-11ea-9d5a-92807745a118.png)

[2020-04-30 20:32] keithchong opened #2821 "[IntelliJ] Support remote debug"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
Support remote debug in IntelliJ extension

[2020-04-30 20:34] sishida commented on #2817
Assigning myself for the corresponding doc updates.

[2020-04-30 20:49] keithchong opened #2822 "[IntelliJ] Support managing image registries"
**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
Support managing image registries from the IDE.

[2020-05-01 00:54] tetchel opened #2823 "Disabled remote connections should stay disabled after VS Code restart"
1. Disable a remote connection, eg because the cluster is behind a proxy you don't have right now
2. Restart VS Code
3. It's enabled again, oh no

[2020-05-01 00:56] tetchel opened #2824 "Should be able to disable remote connection while it's activating initially"
1. Start VS Code
2. While the connection is in its initial 'connecting' state, try to disable it (eg. because you know the cluster is down and it will fail to connect)
3. You get a message that says `<connection> is already connecting` and it doesn't let you stop the connecting like you wanted

[2020-05-01 01:39] tetchel commented on #2665
ok, I investigated this, and I still think the backend should be improved.

The reason the other two IDEs have better labels is that they have hard-coded mappings of the Codewind project types to user-friendly project types [(see here)](https://github.com/eclipse/codewind-eclipse/blob/master/dev/org.eclipse.codewind.core/src/org/eclipse/codewind/core/internal/constants/ProjectType.java#L25). VS Co

[2020-05-01 10:02] tobespc opened #2825 "Provide ability to run load concurrently against multiple projects"
Current design of load run only allows one project to be tested at a time.  We want to enable multiple projects to be tested concurrently (especially when using a remote connection and testing on a cloud)

[2020-05-01 12:04] makandre commented on #2665
@tetchel It was to align all 3 styles (Codewind/Appsody/ODO) such that:

- first choice: select project type, i.e. `nodejs`, or `docker`, or `Appsody`, or `ODO`, etc
   (remember that for Codewind types, each "technology" is itself a project type)

- second choice:
   - if you picked `Appsody`, choices are the stacks, i.e. `nodejs-express` or `java-openliberty`
   - if you picked `ODO`, choices ar

[2020-05-01 12:17] eharris369 commented on #2823
Eclipse has the same problem.

[2020-05-01 12:46] tobespc commented on #1441
this has now been done

[2020-05-01 12:46] #1441 closed

[2020-05-01 13:06] jagraj opened #2827 "SVT:[Hybrid]:Codewind gatekeeper pod keep terminating and restarting"
**Codewind version:** 0.11.0
**OS:**  Windows/Eclipse --> OCP 4.3 Cluster

**Che version:**
**IDE extension version:** 0.11.0
**IDE version:** 2019-09
**Kubernetes cluster:** OCP 4.3

**Description:**
I installed Codewind on remote ICP 4.3 cluster through operator and created connection in Eclipse which is running on Windows. I created bunch of projects and let it running for after 0.11.0 GA and I

[2020-05-01 13:06] jagraj commented on #2827
/priority hot

[2020-05-01 13:32] jagraj opened #2828 "SVT:CRW: Codewind workspace failed to start on new cluster when images not present in the local cache"
**Codewind version:** 0.11.0
**OS:** Core OS

**Che version:** Kabanero/CodeReady Workspaces 2.1.1.
**IDE extension version:** Codewind 0.11.0
**IDE version:** 7.9.3
**Kubernetes cluster:** OCP 4.3

**Description:**

I tried to bring up Codewind 0.11.0 workspace from CodeReady workspaces 2.1.1 which is running on OCP 4.3 cluster with Kabanero 0.8.0 and got into workspace start problems where it is

[2020-05-01 13:39] jagraj commented on #2828
/priority hot
/area iterative-dev

[2020-05-01 14:01] jcockbain commented on #2109
/pipeline Review/QA

[2020-05-01 14:18] jcockbain opened #2829 "Handle mocks in cwctl codecov"
**Description of the enhancement:**

The changes in https://github.com/eclipse/codewind-installer/pull/446 decrease the overall test coverage. This was because an extra mock docker client was added to test how we handle PFE running without the performance container.

As can be seen in the Codecov report, the extra functions that aren't used in the tests but are added to this mock client to ensure

[2020-05-01 14:24] josephca commented on #2816
Closing it.

[2020-05-01 14:24] #2816 closed

[2020-05-01 14:27] jcockbain commented on #2829
/kind test /area portal

[2020-05-01 14:28] jcockbain commented on #2829
/kind test
/area portal

[2020-05-01 14:34] hhellyer opened #2830 "Performance container hardcoded to local port 9095 in docker."
**Codewind version:**
master
**OS:**
all

**Description:**
The codewind-performance container is hardcoded to use port 9095 in local docker. We did significant work to make sure the codewind-pfe container picked a free port and could start if 9090 were already in use.

**Steps to reproduce:**
Start codewind.
Run `docker ps` and look at the port used by the codewind container.

**Workaround:**
N/A

[2020-05-01 15:15] tetchel opened #2831 "0.12 cwctl still installing latest images (again!)"
https://github.com/eclipse/codewind-installer/blob/0.12.0/pkg/remote/defaults.go#L45

Please, figure out a process for updating this automatically or immediately after DCUT. [vs code does this](https://github.com/eclipse/codewind-vscode/blob/master/Jenkinsfile#L94), intellij has something similar

[2020-05-01 15:17] jgwest commented on #2831
For example, a test case (or build script addition) that fails the build if they don't match.

[2020-05-01 15:23] keithchong opened #2832 "[Eclipse] Remote connection does not appear in Codewind Explorer"
**Codewind version:** latest
**OS:** Mac

**IDE extension version:** latest
**IDE version:** (Eclipse, VSCode, IntelliJ) any supported
**Kubernetes cluster:** Kube on Docker for Desktop

**Description:**
I've created a remote connection in IntelliJ.  The remote connection shows up in VS Code but it does not show up in Eclipse, even after refreshing the view.

**Details**

Created remote connection

[2020-05-01 15:30] tetchel commented on #2831
Or add a command-line arg for image tag to `install remote` which defaults to `latest`, and then tell the user they have to pass the tag 🤷

[2020-05-01 15:35] hhellyer opened #2833 "Files with spaces in their names cannot be removed from projects correctly."
**Codewind version:**
master
**OS:**
all

**Description:**
Files whose names contain spaces are not correctly deleted when they are deleted or renamed.

This is a problem as if you create a new file in VSCode by copying an existing file the default name contains a space. e.g.
"Example.java" -> "Example copy.java"
if you then rename this file to create a new class the file "Example copy.java" will

[2020-05-01 15:52] malincoln commented on #2831
@tobespc pls help investigate.  Thanks

[2020-05-01 16:18] eharris369 opened #2836 "[Eclipse IDE] Restore defaults not resetting several of the Codewind preferences"
In the Codewind preferences if the Restore Defaults button is pressed only some of the defaults get restored. Also there is a but where some preferences are being set before the user clicks Apply.

[2020-05-01 16:30] jagraj commented on #2828
Opened Che issue for this as per request.
https://github.com/eclipse/che/issues/16819.

[2020-05-01 16:49] jagraj opened #2837 "SVT:User need better message when adding template repo with yaml file extension"
**Codewind version:** 0.11.0
**OS:** CoreOS/OpenShift 4.3

**Che version:** 7.9.3 , CodeReady Workspaces 2.1.1
**IDE extension version:** 0.11.0
**IDE version:** CRW 2.1.1/Che 7.9.3
**Kubernetes cluster:** OpenShift 4.3

**Description:**
When adding Kabanero stacks repo with yaml file extension that we display 400 error to the user and we need to display better error message to the user saying "js

[2020-05-01 16:54] jagraj commented on #2837
/area vscode-ide

[2020-05-01 17:47] keithchong commented on #2746
Thanks for opening this Paul.

FWIW, the Eclipse version has an env var that you can set to point to a generator jar.  (Start eclipse with -Dorg.eclipse.codewind.openapi.cli.jar.path).

There is no option like this yet for the VS Code plugin.

Ref: https://github.com/eclipse/codewind-openapi-vscode/issues/65

[2020-05-01 17:57] phatcher commented on #2746
Thanks for the update, it was pure self-interest as I've just updated the code generator and it would be nice to use it from VS Code rather than java/command line

See [openapi-generator #6025](https://github.com/OpenAPITools/openapi-generator/pull/6025#issuecomment-622414904)

Is the VS Code plugin open source, doesn't sound like a big change, I can also see other requirements like being able to

[2020-05-01 19:26] josephca commented on #1888
A sample email notification

![image](https://user-images.githubusercontent.com/25185698/80835145-29d49200-8bc0-11ea-94b1-80b6320d2c70.png)

[2020-05-01 19:43] jagraj opened #2839 "SVT:Che server pod and key cloack pod keep restarting"
**Codewind version:** 0.11.0
**OS:** CoreOS

**Che version:** 7.9.2
**IDE extension version:** 0.11.0
**IDE version:** 7.9.2
**Kubernetes cluster:** OCP 4.3

**Description:**
Che server  and Keycloak pods keep restarting. I have workspace runningfrom 15 days and I noticed Che server and Keycloak pods restarted. I also noticied some how Keycloak pod gone and recreated 3 days back. My understanding

[2020-05-01 19:44] jagraj commented on #2839
/area iterative-dev

[2020-05-01 22:05] tetchel commented on #2837
Agreed, the user should never have to see a status code. This error message is provided by cwctl which gets it from Portal.

[2020-05-02 01:24] tetchel opened #2840 "Can't "stop" local Codewind if docker daemon is stopped while VS Code is open"
1. Have Local CW started
2. Quit docker / kill the daemon
3. CW is 'started' but in the 'connection lost' state
4. Try to stop CW
5. You get a container list error and CW remains 'started' with 'connection lost'

If docker is stopped, CW should go into the stopped state

[2020-05-04 07:15] tobespc commented on #2831
@josephca I thought you were doing this as part of the release process ?

[2020-05-04 07:38] tobespc commented on #2679
currently there is not anywork to do for Portal. This is with @jagraj to retest with newer images as we were able to connect to the machine in question successfully using other browsers

[2020-05-04 08:14] mattcolegate commented on #2795
/pipeline verify

[2020-05-04 08:16] mattcolegate commented on #2795
@johnmcollier Can you verify this please?

[2020-05-04 08:16] mattcolegate commented on #2767
/unassign

[2020-05-04 08:20] mattcolegate commented on #2801
/assign
/pipeline In Progress
We were hoping to use the label `workspace=codewind-<workspaceID>` to select the correct pods for each remote connection, but it turns out that only the base Codewind pods have this label - projects do not have it. Codewind projects have a `projectID` label, but Appsody projects do not. After discussion with @markcor11 and @james-wallis there may be a possibility of u

[2020-05-04 08:40] tobespc commented on #2687
this is now implemented, removing portal and enhancement tags

[2020-05-04 08:57] mattcolegate commented on #2798
/assign

[2020-05-04 08:57] mattcolegate commented on #2767
/assign

[2020-05-04 08:57] mattcolegate commented on #2793
/assign

[2020-05-04 08:58] mattcolegate commented on #2797
/assign

[2020-05-04 09:02] jcockbain commented on #2185
The way I've been testing this is with the `vscode` debugger on. I set a breakpoint on the line in question, which halts execution after the API has returned 200 but before Turbine has been called to rebuild the project container.

Does this issue refer to if the Turbine project container rebuild fails?

Each of the functions the line calls, https://github.com/eclipse/codewind/blob/master/src/pfe/

[2020-05-04 09:02] mattcolegate commented on #2794
/assign

[2020-05-04 09:12] tobespc commented on #2665
ths information is here https://github.com/codewind-resources/codewind-templates/blob/master/devfiles/index.json

[2020-05-04 09:15] tobespc commented on #2761
this needs resolving by turbine as to the best way of preventing a pod from restarting by kube

[2020-05-04 09:17] markcor11 commented on #2101
I posted a PR last week to reload metrics after a load run has been completed https://github.com/eclipse/codewind/pull/2806 this was to handle the "completed" emit message rather than the old "idle" emit message

[2020-05-04 09:23] markcor11 commented on #2827
The gatekeeper restart is because portal is too busy building projects and has stops responding to network connections.  When that happens Gatekeeper thinks the connection has dropped and restarts in order to re-establish a connection. Not a gatekeeper defect.

[2020-05-04 10:00] stalleyj commented on #2185
This issue was raised simply because we are not awaiting an async call and investigation was needed to determine whether we would add the await. Looking at the code, suggests that we would indeed see an error in the PFE log if the call to "updateProjectForNewChange" doesn't return 202 but this is not directly emitted to the UI socket. The consequence would be that the project is not built. You cou

[2020-05-04 10:19] MelHopper commented on #2041
@jcockbain CSS/HTML specs for content landing page can be found in this Github issue - see above comments.

[2020-05-04 10:38] mattcolegate commented on #2815
/assign

[2020-05-04 10:39] MelHopper commented on #2041
@kimholmes Hi Kim, we have a similar issue with the following copy if we are sunsetting the 'gettingstarted.md IDE-agnostic page':

_If you are a developer, learn [how to set up and start using Codewind on your IDE_](https://www.eclipse.org/codewind/gettingstarted.html)

We can either keep the gettingstarted.md file in (see the following screenshot for the interim content on that page until we hav

[2020-05-04 10:46] tobespc commented on #2712
For this to work, rather than modify the current server.xml at build time to add in the
```<mpMetrics authentication="false"/>```, its more typical for Open Liberty to put that in a separate file.

This means someone looking within the container has a better idea of what came from where.

We can have a file with a name like:  configDropins/defaults/cw-disable-mpmetrics-auth.xml
with contents of:

[2020-05-04 10:51] mattcolegate commented on #2801
codewind base pods can be got using label selector: `kubectl get pods -l codewindWorkspace=<id> --namespace=<ns>

[2020-05-04 12:21] mattcolegate commented on #2801
can get codewind project pods using the inverse of the above selector and looking at `spec.serviceAccount`: `kubectl get pods -o=jsonpath="{range .items[?(@.spec.serviceAccount=='codewind-<id>')]}{.metadata.name}{'\n'}{end}" --namespace=tobesns -l codewindWorkspace!=<id>`

[2020-05-04 12:22] #2610 closed

[2020-05-04 13:20] josephca commented on #1888
For reference as a part of this issue, https://bugs.eclipse.org/bugs/show_bug.cgi?id=562629 was opened to be able to send email to unregistered users.

[2020-05-04 13:28] MelHopper opened #2841 "Run UX testing of Getting Started user flows within website documentation"
**Overview:**

This exercise is for user flow rather than checking the accuracy of the instructions...though do feel free to check this at the same time, time permitting.
Note: the Eclipse Che pages are currently being reworked quite substantially, so do not test these out.

**Instructions**

1. Download codewind-docs/master branch to your local machine. 
2. Navigate to codewind-docs folder and ru

[2020-05-04 13:30] MelHopper commented on #2243
UX testing associated with testing user flows partly modfiied by this work item will be undertaken under https://github.com/eclipse/codewind/issues/2841

[2020-05-04 13:42] malincoln commented on #2761
@elsony ^^^

[2020-05-04 13:45] mattcolegate commented on #2801
`serviceAccount` is deprecated, but it's replaced by `serviceAccountName` which is supported by field-selector!
`kubectl get pods --namespace=<ns> --field-selector spec.serviceAccountName=codewind-<id> -l codewindWorkspace!=<id>`

[2020-05-04 13:47] MelHopper opened #2842 "Update Templates topic / create new topic targeted to DevOps engineers"
The workingwithtemplates.md topic is currently linked from the docs LP, from the section:

_If you are responsible for defining standards for application and runtime environments such as framework and software levels, see [working with templates](./workingwithtemplates.hmtl)_

The content needs to be enhanced to cover:

1. information that is relevant to the DevOps engineer, to understand the valu

[2020-05-04 13:48] #2150 closed

[2020-05-04 14:17] DavidG1011 opened #2843 "[SVT][VSCode] 2 broken links in VSCode welcome page."
**Codewind version:** 0.12
**OS:** MacOS

**Description:**
2 links in the welcome page are broken:

- Hyperlink "remotely" under the Quick Start section.
- Hyperlink "Deploying Codewind Remotely" under Learn > Docs.

Both of these link to
https://codewind.dev/remotedeploy-combo.html, which results in an Eclipse 404 page.

[2020-05-04 14:23] mattcolegate commented on #2801
/pipeline Review/QA

[2020-05-04 14:31] DavidG1011 commented on #2843
/area vscode-ide

[2020-05-04 14:31] eharris369 commented on #2836
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/715

[2020-05-04 14:31] #2836 closed

[2020-05-04 14:32] eharris369 commented on #2813
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/714

[2020-05-04 14:32] #2813 closed

[2020-05-04 14:49] tetchel commented on #2843
it looks like the right link is https://www.eclipse.org/codewind/remote-deploying-codewind.html

[2020-05-04 14:53] keithchong opened #2844 "[IntelliJ] Update the Local connection icon"
**IDE extension version:** latest
**IDE version:** any supported

**Description of the enhancement:**
The local connection icon is old. It doesn't reflect connection states

<img width="464" alt="Screen Shot 2020-05-04 at 10 52 28 AM" src="https://user-images.githubusercontent.com/7726022/80979554-7ce35a80-8df5-11ea-855c-48572873008e.png">

Both VS Code and Eclipse extensions have the latest:

<im

[2020-05-04 14:57] josephca commented on #2831
@tobespc The current release process doesn't cover this. However, I think it's reasonable to update the version when we create a release branch (i.e. 0.13.0). I will cover it from the next release.  Thanks,

[2020-05-04 15:03] tetchel commented on #2831
Fixed

[2020-05-04 15:03] #2831 closed

[2020-05-04 15:13] tetchel opened #2845 "Can't remove remote project if docker not running locally"
The project exists only on a remote connection.
[code]

![image](https://user-images.githubusercontent.com/8888438/80981702-54109480-8df8-11ea-882e-8dcabe09e4d5.png)

[2020-05-04 15:14] keithchong commented on #2844
With new icon (light and dark modes):

<img width="544" alt="Screen Shot 2020-05-04 at 11 12 31 AM" src="https://user-images.githubusercontent.com/7726022/80981677-4bb85980-8df8-11ea-98a6-7d82d267440f.png">

<img width="542" alt="Screen Shot 2020-05-04 at 11 12 53 AM" src="https://user-images.githubusercontent.com/7726022/80981705-5672ee80-8df8-11ea-9c77-edcb48417003.png">

[2020-05-04 15:14] tetchel commented on #2808
:+1:

[2020-05-04 15:14] #2808 closed

[2020-05-04 15:32] mattcolegate commented on #2767
/pipeline In progress

[2020-05-04 15:35] mattcolegate commented on #2767
/area docs
Will add a `--all/-a` flag to the `diagnostics` command

[2020-05-04 15:39] MelHopper commented on #2718
Ensure any enhancements to the topic 'Adding an image registry in Codewind in Che' are also reflected in topic 'Adding an image registry in remote Codewind'

[2020-05-04 15:53] sishida commented on #2757
:one: On the page, https://www.ibm.com/support/knowledgecenter/SSCSJL_4.1.x/guides/guide-codewind-getting-started-vscode/README.html, the broken link "Review project commands for Codewind for VS Code External link" can be replaced with https://www.eclipse.org/codewind/vsc-codechange.html.
:two: On the page, https://www.ibm.com/support/knowledgecenter/SSCSJL_4.1.x/guides/guide-codewind-getting-star

[2020-05-04 17:01] eharris369 opened #2846 "[Eclipse IDE] Create build file and launch to update binaries automatically"
Create a build file and an Eclipse launch to update the binaries (cwctl and appsody) automatically.

[2020-05-04 17:06] tetchel commented on #2845
This is the same issue as https://github.com/eclipse/codewind/issues/2807

[2020-05-04 17:06] #2845 closed

[2020-05-04 17:06] tetchel commented on #2807
See #2845, this causes any `cwctl project` command to fail

[2020-05-04 17:07] tetchel commented on #2845
It also happens if Docker is running but local Codewind is not
[code]

[2020-05-04 17:42] DavidG1011 commented on #2843
Fixed. Thanks, @tetchel!

[2020-05-04 17:42] #2843 closed

[2020-05-04 18:25] #2844 closed

[2020-05-04 18:36] eharris369 commented on #2846
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/717

[2020-05-04 18:36] #2846 closed

[2020-05-04 19:53] keithchong opened #2847 "[Eclipse]"
**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** Kube on Docker Desktop

**Description:**
Getting a warning in the log
May 04, 2020 10:44:16 AM okhttp3.internal.platform.Platform log
WARNING: A connection to https://codewind-gatekeeper-k9n0k7gw.10.100.2.205.nip.io/ was leaked. Did you forget to close a response body? To see where this was allocated, set the

[2020-05-04 19:54] eharris369 opened #2848 "[Eclipse IDE] Create Appsody debug test cases"
Create Appsody debug test cases.

[2020-05-04 21:28] tetchel commented on #2824
making this whole operation cancel-able is a headache; i will settle for improving the message.

[2020-05-05 09:06] mattcolegate commented on #2796
/pipeline Verify

[2020-05-05 09:38] mattcolegate commented on #2796
Verified using master branch code

[2020-05-05 09:39] #2796 closed

[2020-05-05 10:22] jcockbain commented on #2185
Thanks @stalleyj, I'll force Turbine to fail and see how PFE responds.

[2020-05-05 10:47] mattcolegate commented on #2767
/pipeline Review/QA

[2020-05-05 10:48] mattcolegate commented on #2815
/pipeline In Progress

[2020-05-05 12:19] #2840 closed

[2020-05-05 12:22] #2824 closed

[2020-05-05 12:52] jopit commented on #2823
Reopen since the fix for the Eclipse plugin isn't in yet.

[2020-05-05 13:16] #2639 closed

[2020-05-05 13:29] james-wallis commented on #2712
/assign

[2020-05-05 13:34] markcor11 commented on #2712
/assign

[2020-05-05 13:40] markcor11 commented on #2712
I'm working on the UI part,  James is working on the API part

[2020-05-05 13:57] tobespc opened #2851 "Provide ability to run the 'diagnostics' function from within the IDE's"
We have now have a new diagnostics function
[code]
That returns a json object with the location of the zip file it has created
[code]
This file contains logs etc from Codewind and its projects.   This needs to be triggered from within the IDE's to enable use by codewind users rather than having to drop to the command line.

[2020-05-05 14:03] tobespc commented on #2712
rather than target dir, we could add this into cw-temp like we do for inject metrics

[2020-05-05 14:07] stalleyj commented on #2665
It is clear that style, type, subtype, language, framework are all being used and in slightly different ways for the different "styles". We need design/user experience input here so that we get this right going forward.

[2020-05-05 14:14] stalleyj commented on #1672
The most important thing we need to do for this feature is https://github.com/eclipse/codewind/issues/568

This will ensure that kubernetes garbage collection will take care of project resources when the operator is used to remove Codewind.

[2020-05-05 14:14] tetchel commented on #2665
I think that putting the data we already have (in the index.json Toby linked) into this API's response would solve this just fine

[2020-05-05 14:16] tobespc commented on #568
@johnmcollier @elsony Can this be picked back up to work on?  It would complete the uninstall story

[2020-05-05 14:28] tobespc opened #2852 "Provide linking of microservices from the IDE's"
**Codewind version:** latest
**OS:** all

**Che version:** N/A
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Epic #2191 is adding the ability to easily link microservices together without the developer needing to do things like service discovery.

To do this with cwctl, you need to provide a number of parameters
[code]
f

[2020-05-05 14:33] james-wallis commented on #1871
The Eclipse bug has been closed and the readme's added.

[2020-05-05 14:33] #1871 closed

[2020-05-05 16:08] thisguy-1 commented on #2665
please someone assign this to me

[2020-05-05 16:24] sishida commented on #2687
Met with Toby. Closing this issue.

[2020-05-05 16:24] #2687 closed

[2020-05-05 16:34] james-wallis commented on #2712
As I understand it this issue needs to be fixed for both Codewind style Open Liberty applications and Appsody ones.

**Codewind style**
The Open Liberty template comes with metrics authentication disabled by default so we shouldn't run into the issue described.
I've been looking into it incase we do in the future and it seems that the Dockerfile provided ignores the `configDropins` directory as it

[2020-05-05 17:39] tetchel commented on #2456
OK, so the problem here seems to be that the VS Code java extension is keeping a reference to some files which prevents them from being deleted (on windows only).

The solution is to remove the project folder from the workspace before deleting the files (currently the project folder is removed after deletion). But, if the project is the last workspace folder, removing that folder will cause the wo

[2020-05-05 17:59] makandre commented on #2712
@james-wallis For Appsody, `cw-temp` is still used.  Files from user project is sync to PFE and written first to `cw-temp` just like other Codewind projects.  The difference comes next as to where the project is then copied to: for Codewind projects they are copied to `/codewind-workspace`.  For Appsody they are copied to `/mounted-workspace` (this is bind-mounted to `~/codewind-data`)

[2020-05-05 18:24] tetchel commented on #2663
I looked into this and I am closing it as wontfix because it takes a perfect storm to have it occur, and the workaround is to just press ESC and start the create over again.

[2020-05-05 18:24] #2663 closed

[2020-05-05 18:41] tetchel commented on #2561
closing because we can't repro

[2020-05-05 18:41] #2561 closed

[2020-05-05 19:54] eharris369 opened #2854 "Incorrect port for started event after restart in run mode of Appsody Spring project"
I have a test case which creates a project from the Appsody Spring Boot default template. It restarts it in debug mode which works fine and then restarts it in run mode. The problem is that when it restarts it in run mode it gets a projectStatusChanged event to started state with the old http port. Afterwards it gets the projectRestartResult event with the correct port. The test case fails because

[2020-05-05 20:17] eharris369 opened #2855 "cwctl diagnostics tries to pull in other IDE logs by default"
The cwctl diagnostics tries to pull in other IDE logs by default which leads to an error shown to Eclipse users.

[code]

[2020-05-06 07:44] mattcolegate commented on #2795
@johnmcollier final call for verification - please comment if you think there's a problem

[2020-05-06 08:38] mattcolegate commented on #2855
/assign

[2020-05-06 08:48] mattcolegate commented on #2855
/pipeline In Progress

[2020-05-06 09:52] mattcolegate commented on #2855
/pipeline Review/QA

[2020-05-06 09:57] rwalle61 commented on #2791
Thanks, how do you recreate this?

[2020-05-06 10:30] mattcolegate commented on #2855
/pipeline Verify
@eharris369 will this need backporting into 0.12?

[2020-05-06 10:47] tobespc commented on #2665
@tetchel I think for now, with this being no where near the experience we want that until we get the UX sorted out, we hold off making any changes to pfe.

[2020-05-06 11:24] stalleyj commented on #2807
The fix is now in master and 0.12.0

[2020-05-06 12:38] rwalle61 commented on #1160
Hi @makandre, I can look at this. I've read through the issues - have there been any updates/thoughts on this outside of the existing issues?

[2020-05-06 12:49] mattcolegate commented on #2815
/pipeline Review/QA

[2020-05-06 12:53] mattcolegate commented on #2798
/pipeline In Progress

[2020-05-06 13:15] eharris369 commented on #2855
This is fixed.

[2020-05-06 13:15] #2855 closed

[2020-05-06 13:16] rwalle61 commented on #1160
/assign

[2020-05-06 13:18] stalleyj opened #2856 "cwctl diagnostics should not create projects folder"
**Description:**
cwctl diagnostics creates a folder called projects when it has not been asked to collect projects.  This is confusing as an empty directory makes it look like the collection failed.

It should only create the folder when collecting project diagnostics.

**Steps to reproduce:**
run ./cwctl diagnostics
There will be a directory /local and /projects in that but no project information

[2020-05-06 13:23] markcor11 commented on #2827
Had a look at the code for gatekeeper and found some places where we could add some additional error checking just incase the backend (pfe) goes down or is unresponsive.  eg :

https://github.com/eclipse/codewind/blob/8ee1f6757066499de29aaefa1ad421edeeac32ae/src/gatekeeper/server.js#L153

and

https://github.com/eclipse/codewind/blob/8ee1f6757066499de29aaefa1ad421edeeac32ae/src/gatekeeper/server.j

[2020-05-06 13:43] stalleyj opened #2857 "cwctl diagnostics should only attempt collection of IDE logs when the flag is specified"
**Description:**
cwctl diagnostics flags for IDE logs are confusing. The information in the README is confusing as it suggests that there is a default value of "" for eclipse/intelliJ log locations but there is not.

Also if the user does not specify the flag, we should not attempt to collect the log file. We currently tell the user "Unable to collect Eclipse logs - workspace not specified" which

[2020-05-06 13:54] mattcolegate commented on #2767
@stalleyj has found that the code currently in https://github.com/eclipse/codewind-installer/pull/462 does not work correctly if Docker is not running - it simply fails with an error. This is because the HandleDockerError functions I've been using require one to exit after issuing them, otherwise you end up with multiple JSON output (issue #2815 ). In order to fix this efficently, I'll need the PR

[2020-05-06 14:27] tobespc opened #2858 "(diagnostics) Output of cwctl dg needs to be consistent with other cwctl commands"
cwctl start formats the output with progress indicators.  The dg command should do the same

[code]

[2020-05-06 14:28] tobespc commented on #2858
@mattcolegate one for you :-)

[2020-05-06 14:43] mattcolegate commented on #2858
/assign

[2020-05-06 14:46] tetchel commented on #2791
hmm, it happened when I tried to 'install' 0.12 before 0.12 images existed on dockerhub. Just now, I tried a made-up tag:

[code]

which isn't JSON at all, so that seems to be a related but different issue.

I guess any docker-compose error would give the output in the original issue.

[2020-05-06 14:52] tetchel opened #2859 "Revisit wrapped cwctl error messages"
there are a number of errors in the vs code plugin that are not great, because they are way too long.

![image](https://user-images.githubusercontent.com/8888438/81191916-94524d00-8f87-11ea-93e6-05fcb8f64fe1.png)

generally, 'error running cwctl <command>' is not relevant to the user and should be removed to make this a more user-friendly message.

[2020-05-06 15:01] tetchel commented on #2807
:+1:

[2020-05-06 15:01] #2807 closed

[2020-05-06 15:06] mattcolegate commented on #2858
/kind enhancement
/pipeline Review/QA

[2020-05-06 15:16] malincoln commented on #2761
Jag and SVT to verify fix made for 0.12.0
We can then remove "priority/stopship" and change to "priority/hot" and make remaining fix for 0.13.0 (next release).

[2020-05-06 16:04] eharris369 opened #2860 "WebSphere Liberty MicroProfile project not building after adding folder with Java file"
I created a new project using the WebSphere Liberty MicroProfile template in the Eclipse IDE. It starts up and loads fine. I then import a folder from the file system that contains a Java file (hello/Hello.java) into src/main/java/application/rest. Nothing happens in the Codewind Explorer view and after waiting several seconds I try to load hello as `http://127.0.0.1:33047/hello` but it says it is

[2020-05-06 16:11] tetchel commented on #2772
but now it's my component so I don't want it to be a bug

[2020-05-06 16:42] tetchel opened #2861 "Make authentication error way more obvious in Remote Connection Settings page"
It's all the way down there, and definitely not easy to notice.

![image](https://user-images.githubusercontent.com/8888438/81204240-f797ab80-8f96-11ea-964a-c7954c4d01cd.png)

[2020-05-06 16:46] eharris369 commented on #2823
Fixed in Eclipse IDE by PR: https://github.com/eclipse/codewind-eclipse/pull/720

[2020-05-06 16:48] tetchel opened #2862 "Codewind version and namespace can get stuck 'unknown' until disable and re-enabling a connection"
1. Create a new connection with bad credentials
2. The Codewind environment is 'unknown' because we couldn't connect
3. Fix the credentials so the connection succeeds
4. The environment is still unknown
![image](https://user-images.githubusercontent.com/8888438/81204837-d4213080-8f97-11ea-8b7f-52998b1f3cce.png)

Workaround: Disconnect and re-connect, or restart the IDE.

[2020-05-06 16:48] tetchel commented on #2823
:+1:

[2020-05-06 16:48] #2823 closed

[2020-05-06 16:56] eharris369 commented on #1782
Verified that this is working now.

[2020-05-06 16:56] #1782 closed

[2020-05-06 17:12] jagraj opened #2863 "SVT:Hybrid:Failed to connect to remote codewind 0.12.0 instance"
**Codewind version:** 0.12.0
**OS:** Windows/OS 4.3.18

**Che version:**
**IDE extension version:** Codewind 0.12.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:** OCP 4.3.18

**Description:**
With the Codewind 0.12.0 hybrid operator install failed to connect to remote codewind. The error says "Account is not fully set up". I do not see same problem with the master branch operator which i

[2020-05-06 17:12] jagraj commented on #2863
/area portal
/priority stopship

[2020-05-06 17:24] jgwest commented on #2860
Reminds me of this: https://github.com/eclipse/codewind/issues/1953

[2020-05-06 17:29] malincoln commented on #2863
@tobespc pls review and assign.  Thanks

[2020-05-06 18:12] tetchel commented on #2863
this happens if you use the 'temporary password' option, see my last bullet in https://github.com/eclipse/codewind/issues/2753#issue-605736053

[2020-05-06 19:24] jagraj commented on #2863
I did disable temporary password and I still see same problem with 0.12.0 branch. I can connect to master fine.

[code]

[2020-05-06 19:29] eharris369 commented on #2772
@jgwest If I delete the project in Eclipse along with the project contents I did not see any action from the filewatcher. If I delete the project on the filesystem and then did a refresh on the project in Eclipse I see this in the filewatcher log:

[code]

[2020-05-06 19:52] josephca opened #2864 "DeprecationWarning: crypto.Credentials is deprecated."
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Fix DeprecationWarnings appeared in test.

10:03:19 (node:9442) [DEP0091] DeprecationWarning: crypto.DEFAULT_ENCODING is deprecated.
10:03:19 (node:9442) [DEP0010] DeprecationWarning: crypto.createCredentials is deprecated. Use tls.createSecureCo

[2020-05-06 20:04] josephca opened #2865 "Error: starting Codewind in test stage on 's8p2d-ubuntu1804' docker-build agent"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
There is a test failure appeared only on Eclipse provisioned 'docker-build' agent - https://ci.eclipse.org/codewind/computer/s8p2d-ubuntu1804/
It doesn't occur in other 'docker-build' agents.

A sample failed test:
https://ci.eclipse.org/codewind/job/Codewind/job/co

[2020-05-06 20:08] eharris369 commented on #2848
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/719

[2020-05-06 20:08] #2848 closed

[2020-05-06 21:29] mmulholl opened #2866 "SVT : Eclipse : Mac : Appsody Open Liberty Kafka application view not found"
**Codewind version:** 0.12.0
**OS:**  Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-09
**Kubernetes cluster:**

**Description:**

Create an Appsody Open Liberty Kafka project. Once it is running open the application view and see: Error 404: SRVE0190E: File not found: /

**Steps to reproduce:**
See description

**Workaround:**

[2020-05-07 00:16] makandre commented on #2866
I'm seeing the Open Liberty landing page.  I'm also on Mac

![image](https://user-images.githubusercontent.com/17596240/81240769-529cc300-8fd6-11ea-8d40-153e652d747e.png)

[2020-05-07 07:09] tobespc commented on #2863
I installed this last night and it went through fine @jagraj

[2020-05-07 07:10] tobespc commented on #2866
is this simply an issue that the template is not serving anything up on '/' ?  Does it have a /health endpoint ?

[2020-05-07 07:17] jgwest commented on #2772
Thanks @eharris369,  re:  "I did not see any action from the filewatcher" sounds like https://github.com/eclipse/codewind/issues/1493 , which I have re-opened.

Re: "If I delete the project on the filesystem and then did a refresh on the project in Eclipse I see this in the filewatcher log", I think this is the FW working as expected, but will investigate as part of 1493.

[2020-05-07 07:38] mattcolegate commented on #2713
/assign
/pipeline In Progress

[2020-05-07 07:39] mattcolegate commented on #2795
Verified on Windows using master branch

[2020-05-07 07:39] #2795 closed

[2020-05-07 07:54] mattcolegate commented on #2858
/pipeline verify

[2020-05-07 08:55] james-wallis commented on #2712
@scottkurz I'm having trouble with the `mvn liberty:dev` hot-reload as it is missing the creation of the disable authentication file.
I've created some simple code that creates an `overrides` directory and then a file with the authentication set to false which is working to fix this issue. In this case it does not see the authentication file be created and the server does not restart.
When the `ov

[2020-05-07 09:06] stalleyj commented on #2866
The template works fine for me on Mac, serving page on '/'. @mmulholl Can you give some further information on this, screen shot, logs for pfe would be helpful. Is the project local or on a remote instance ?

[2020-05-07 09:09] markcor11 commented on #2712
Dashboard part is done - PR https://github.com/eclipse/codewind/pull/2868 has the new capabilities panel with the revised UX.  We will need a followup dashboard PR to activate the action button to call the new `disable authentication` API once it becomes available.

The capabilities panel will now appear at top of Dashboard on launch and can be collapsed or expanded using the action button in the

[2020-05-07 09:33] mattcolegate commented on #2713
Recreated the issue and I can see that execute permissions are set on `mvnw` in the project source locally, but in `codewind-workspace` on PFE it's 666 - no execute permissions. I'm starting my investigations in cwctl to check that file permissions are being sent to PFE correctly.

[2020-05-07 09:52] tobespc commented on #2863
If you have set a temporary password, the user will need to log in to keycloak to set a new one.  That message you are seeing is coming back from keycloak.

https://www.keycloak.org/docs/5.0/server_admin/#changing-passwords

From a codewind UX, we could have the IDE detect this message and inform the user to log in and change their password.  But this will require some thought.  ]

I don't believe

[2020-05-07 09:53] tobespc commented on #2863
This would be a perfect candidate for the troubleshooting guide in docs

[2020-05-07 09:54] tobespc commented on #2866
I've tested on local and remote with this template on 0.12 and its all working fine.  Moving to verify for confirmation

[2020-05-07 09:59] markcor11 commented on #2827
/assign @markcor11

[2020-05-07 10:16] AndyRWatson opened #2869 "Earlier versions of cwctl left behind on HD"
**Codewind version:** 0.11.0
**OS:** MacOS

**Che version:**
**IDE extension version:**   0.11.0
**IDE version:**    vscode
**Kubernetes cluster:**    ocp43 on IBM Cloud

**Description:**

When updating to 0.11.0 I notice that within the hidden $HOME/.codewind folder I still have sub folders for previous releases (each contain copies of appsody and cwctl)  Each folder appears to be around 60MB ins

[2020-05-07 10:48] mattcolegate commented on #2713
The output from cwctl was as follows:
[code]
438 is the decimal representation of 0x666, so I think it's a problem with the getting of the file permissions on Windows with golang. Will attempt to fix.

[2020-05-07 11:32] jagraj commented on #2863
Ok, more info from this failure. First time this has been failed due to temp password `on`. This failed as expected from the IDE. I went to Keycloak and deleted credentials to the user and created new credentials with temp off option. I tried to connect to codewind after that and it still fails from IDE with the same error reported above. The only option here to make it to work , delete codewind i

[2020-05-07 12:01] markcor11 commented on #2827
The gatekeeper logs look ok,  would be good to get the previous container logs although likely too late now if the pod has been deleted:

`kubectl logs --previous ${POD_NAME} ${CONTAINER_NAME} -n ${NAMESPACE}`

[2020-05-07 12:11] tobespc commented on #2656
I cannot recreate this on 0.12 or master running in local or remote

[2020-05-07 12:20] tobespc opened #2870 "Jane would like to run a performance test without it being interrupted on a code change"
**Use Case**
When Jane runs a performance test, she will want that test to run to completion but still be able to develop source code at the same time and see it run.  This is so she can execute a long running performance test and not be blocked on development.

**Problem**
Currently, we only run a single build which will get restarted whenever a code change is made and the file is saved. This res

[2020-05-07 12:58] tetchel commented on #2869
Good idea, I think I can clean that up

[2020-05-07 13:02] tetchel commented on #2869
I expect the other two plugins have this problem too @eharris369 @keithchong

[2020-05-07 13:18] mmulholl commented on #2866
I refreshed my install this morning, imported the previous project and created a new project an they both see the same problem. In both cases /health works fine.

The project names are AppsOpenLibKafka12 and AppsOpenLibKafka12a

[app1.log](https://github.com/eclipse/codewind/files/4593144/app1.log)
[app2.log](https://github.com/eclipse/codewind/files/4593145/app2.log)
[pfe.log](https://github.com/

[2020-05-07 13:36] malincoln commented on #2863
@sishida @micgibso ^^^

[2020-05-07 13:42] mattcolegate commented on #2713
I've finished problem determination. File permissions are not accurate when using Go on Windows due to Windows using Access Control Lists to regulate file access rather than unix-style permission bits. There is no quick solution for this - solutions discussed include:

- defaulting all files uploaded from Windows to all-permissions-on
- maintaining a white list of files for PFE to change permissio

[2020-05-07 13:47] markcor11 opened #2871 "CWCTL remote list does not show operator deployed codewinds"
**Codewind version:** latest
**OS:**

**Description:**

When running the cwctl remote list command no results appear even though the Codewind operator has deployed codewinds and those codewinds are running ok.

**Workaround:**

[2020-05-07 13:48] markcor11 commented on #2871
/area portal
/assign