[2020-05-29 16:20] eharris369 opened #3081 "[Eclipse IDE] Project overview labels should be at top, also need to fix scrollbar"
If a value in the project overview page is changed to something long it does not look good because the labels are centered. Also the scrollbar does not go all the way to the bottom of the page anymore.

**Labels should be at the top:**

![image](https://user-images.githubusercontent.com/9484320/83281830-aac67f80-a1a6-11ea-8388-b474a0a0622a.png)

**Scroll bar needs to be fixed up:**

![image](https

[2020-05-29 16:20] hhellyer commented on #3062
@sujeilyfonseca - I can't reproduce this but I'm adding some extra null checks. It looks like you were running on Windows though and we do handle some log files differently on Windows. I'll put the null check fixes in but after that could you check whether you actually get the logs you expect? (As well as whether the exception is fixed!)

[2020-05-29 17:29] makandre commented on #3077
/pipeline in progress

[2020-05-29 17:43] sishida commented on #2879
- Reached out to Jasper and informed him of the update.
- PR #618 can be tracked under eclipse/codewind#3023 or eclipse/codewind#985 instead.
- Closing this issue.

[2020-05-29 17:43] #2879 closed

[2020-05-30 18:44] #3057 closed

[2020-05-31 20:44] sujeilyfonseca commented on #3062
Thanks for working to address this issue, @hhellyer! I will verify if all logs are provided once you merge your fixes.

I have also seen this error on other platforms. Here is an example with Eclipse Che and Codewind 0.13.0:

<img width="1594" alt="Screen Shot 2020-05-30 at 8 37 56 PM" src="https://user-images.githubusercontent.com/49531960/83361713-22d4a700-a359-11ea-9524-dd000becd6a2.png">

[cod

[2020-05-31 22:05] malincoln commented on #3064
@johnmcollier is this ready to be moved to verify?

[2020-06-01 00:40] johnmcollier commented on #3064
Keeping this open and tagged as hot as this will still require fixing when we move to Che 7.13 or higher

[2020-06-01 01:48] sujeilyfonseca commented on #2937
Thank you so much for working to resolve this issue, @james-wallis!

So far, I have not been able to reproduce this problem with the latest Codewind 0.13.0 or master. Therefore, I will proceed to close this issue.

[2020-06-01 01:48] #2937 closed

[2020-06-01 01:52] sujeilyfonseca commented on #2661
Thank you so much for working to resolve this issue!

So far, I have not been able to reproduce the original problem using the latest Codewind 0.13.0. Therefore, I will proceed to close this issue.

[2020-06-01 01:52] #2661 closed

[2020-06-01 02:12] sujeilyfonseca opened #3083 "SVT: Error running command ext.cw.removeProject: command ext.cw.removeProject not found"
**Codewind version:** 0.13.0
**OS:** VM with Windows 10

**IDE extension version:** 0.13.0
**IDE version:** Code 1.45.1

**Description:** Error running command `ext.cw.removeProject`: command `ext.cw.removeProject` not found. This is likely caused by the extension that contributes `ext.cw.removeProject`.

<img width="1673" alt="Screen Shot 2020-05-31 at 9 19 05 PM" src="https://user-images.githubu

[2020-06-01 08:51] stalleyj commented on #3031
All working now.

[2020-06-01 08:51] #3031 closed

[2020-06-01 09:03] stalleyj commented on #2857
Working as expected.

[2020-06-01 09:03] #2857 closed

[2020-06-01 09:20] MelHopper commented on #1786
Search results list different types of content - Docs, Guides, Blogs....Guides and Blog cards contain description of the content. For the Docs cards,  can we display the beginning text of the markdown file?

[2020-06-01 09:20] james-wallis commented on #2999
PR raised for this to discover the port an ODO type project uses: https://github.com/eclipse/codewind/pull/3058

[2020-06-01 09:20] tobespc commented on #1672
closing as issues are covered

[2020-06-01 09:20] #1672 closed

[2020-06-01 09:20] stalleyj commented on #568
All working as expected so closing.

[2020-06-01 09:20] #568 closed

[2020-06-01 09:21] james-wallis commented on #2999
/pipeline iN pRoGrEsS

[2020-06-01 09:23] james-wallis commented on #3000
/pipeline in progress

[2020-06-01 09:25] james-wallis commented on #3017
/area portal

[2020-06-01 09:25] markcor11 commented on #3049
/pipeline verify

[2020-06-01 10:43] markcor11 commented on #2981
For a Codewind user who has no other privilege than being a user of Codewind then I think it might be nice for the Codewind IDE plugin to be able ask the user to enter a new password and push them over to the Keycloak server using familiar fields like:

[code]

However, if the user account is stored in a 3rd party trusted identity provider and not "our" Codewind Keycloak, then it may not be possib

[2020-06-01 12:39] malincoln commented on #3077
@makandre can we get the PR merged no later than tomorrow morning?  Thanks

[2020-06-01 12:42] malincoln commented on #3047
@johnmcollier just confirming that for this issue we are just updating the docs?  Please confirm.  Thanks

[2020-06-01 12:50] hhellyer commented on #3016
I've taken a look at these, checking the 0.12.0 branch out to my machine locally for comparision.

First log (codewind-test-results.txt.txt):

- Failure 1: Extensions API test 
The Apposody extension is disabled on PPC64LE. If I disable it locally on my machine then I get the same failure. 
- Failure 2: Project Types API tests
 I haven't managed to reproduce this. The full logs might give us some

[2020-06-01 12:54] scottkurz commented on #2712
v0.13.0?

[2020-06-01 12:55] snehlatamohite commented on #3016
@hhellyer  - Thanks for initial analysis for the test failures. Could you please help me to understand full logs means , do you want me  to upload file codewind-pfe-test-sh-output.log here or how to capture full logs?

[2020-06-01 12:57] snehlatamohite commented on #3016
I will work on Failure 11 : getAllTemplateStyles() ans also will have a look at above link.
Failure 1: Extensions API test  - Do I need to test this by enabling appsody extension on Power , if yes how to enable it and any steps to proceed further?

[2020-06-01 13:02] snehlatamohite commented on #3016
I have one more observation. Test failures results changes not there are 16 test failures.  I am adding logs. please do let me know if you need any additional information. [
[codewind-pfe-test-sh-output.log](https://github.com/eclipse/codewind/files/4711384/codewind-pfe-test-sh-output.log)
[codewind logs -28-5.txt](https://github.com/eclipse/codewind/files/4711390/codewind.logs.-28-5.txt)

](url)

[2020-06-01 13:03] tobespc commented on #2712
yes, 0.13

[2020-06-01 13:25] snehlatamohite commented on #3016
This log is mainly the same, lots of extra failures but these look likely to be caused by a slow machine or slow internet connection. There's a timeout at the start of that log: - I have started creating codewind setup on high end system , I will share observation.

[2020-06-01 13:40] tetchel commented on #3083
The only reason this error would be shown is if the extension is deactivated briefly.

It's possible this is happening because your workspace folders are modified when you delete a project. If the workspace folder (project) deleted is the last one in your workspace, the extension deactivates:

[code]

I tried to show a message (seen in the second screenshot) when that was going to happen, but not

[2020-06-01 14:35] alif-munim commented on #1786
@MelHopper this is what was done initially, but there were issues with spacing, picking up new lines, and repeating titles (this can be seen in some of the screenshots above). James and I decided it would be easier to use the `description` that's already contained in each blog, doc, guide, and news post. Some of them still need some editing, but they can definitely be changed to reflect the conten

[2020-06-01 15:59] markcor11 opened #3084 "Allow Codewind PFE to re-read the Keycloak public key"
**Codewind version:** 0.12.0

**Description:**

When Codewind PFE launches it connects to Keycloak and caches the public key.

This key is then used to validate user tokens presented during socket authentication.

However,  if the Keycloak server takes longer to startup than Codewind,  Codewind will have not had chance to read the keycloak public key for the realm and will not be able to authentic

[2020-06-01 16:00] markcor11 commented on #3084
/area portal

[2020-06-01 16:02] tetchel commented on #3084
looks to be the cause of https://github.com/eclipse/codewind/issues/2998

[2020-06-01 16:04] jagraj commented on #3084
@markcor11
Thanks for all your help in debugging this problem in my cluster and opening this issue. I am making this issue stopship for 0.13.0 release. Looks like there is no way for the user to connect back to Hybrid instance until we restart pfe pod.

[2020-06-01 16:04] jagraj commented on #3084
/priority stopship

[2020-06-01 16:21] alif-munim commented on #2929
@MelHopper I've combined a few different bootstrap components to enhance the cards on the guides page. What do you think of the following layout?

![guide-design-02](https://user-images.githubusercontent.com/59207653/83429477-16f0ef80-a402-11ea-82ce-8b488a84a552.PNG)

Here's the mobile view:
![guide-design-02-responsive](https://user-images.githubusercontent.com/59207653/83429493-1b1d0d00-a402-11e

[2020-06-01 18:57] sishida commented on #2882
PR merged! Closing this issue. 👍

[2020-06-01 18:57] #2882 closed

[2020-06-01 19:25] sishida commented on #3047
@jagraj and @johnmcollier Could someone please share the workaround so that the docs team can update accordingly? 😃 Thank you!

[2020-06-01 19:40] johnmcollier commented on #3047
@sishida I've opened https://github.com/eclipse/codewind-docs/pull/633 which includes the workaround for this

[2020-06-01 20:09] sishida commented on #3047
@johnmcollier Thank you! I have added some suggested changes for your consideration! 😃

[2020-06-01 20:42] sujeilyfonseca commented on #3083
The problem seemed to occur in the last project deletion. I created three MicroProfile projects twice and got the error on the third deletion. Then, I created additional types of projects, and the error seemed to occur with the last one as well.

Furthermore, I believe Codewind is being refreshing or disconnecting itself.

In my Windows VM, there were multiples Codewind Home pages, as you noticed,

[2020-06-01 20:49] tetchel commented on #3083
To be clear, Codewind is not refreshing or reloading itself, it is rather VS Code forcing all extensions to reload when the first (topmost) workspace folder is modified.

See:
https://github.com/eclipse/codewind-vscode/blob/master/dev/src/MCUtil.ts#L386
https://code.visualstudio.com/api/references/vscode-api ->
![image](https://user-images.githubusercontent.com/8888438/83452996-12dbc680-a430-11ea-

[2020-06-01 22:02] markcor11 commented on #3084
/assign @markcor11

[2020-06-01 22:16] markcor11 commented on #3084
I have a change that should. address this :

Initial client Socket connection:

[code]

IDE then disconnects and reconnects :

[code]

If PFE is unable to fetch the public key from Keycloak it will log the error and re-try again on the next IDE connection attempt:

[code]

meanwhile it will also return a different error code to the usual: TOKEN_REJECTED which when translated would mean please chec

[2020-06-02 10:10] #3026 closed

[2020-06-02 10:28] MelHopper commented on #2929
Hi Alif, thanks for picking this issue up. Can you describe the interaction with the boxes? - my instinctive reaction is to think that they are clickable, rather than simply showcasing the list of objectives that are covered in the guide?...but I'd suggest touching base with @kimholmes Design to ensure your design aligns with user interaction best practice and rules.

[2020-06-02 10:35] MelHopper commented on #1786
@alif-munim Interesting point. The description tag in the markdown files has not been used effectively, so we have an issue when this tag is used, for example, for exposing within the search. I will speak to @micgibso about this, but given that the description tag has not been populated effectively for most markdown files, this is a big task to update all the topics, so in the meantime we do need

[2020-06-02 12:57] snehlatamohite commented on #3016
@hhellyer  - Today I have build v0.12.0 codewind on high configuration system and executed tests on it, still I don't see any changes in test failures.  PFA logs for the same.
[codewind-pfe-test-sh-output.log](https://github.com/eclipse/codewind/files/4717243/codewind-pfe-test-sh-output.log)
[test-logs-codewind.txt](https://github.com/eclipse/codewind/files/4717244/test-logs-codewind.txt)

  751 p

[2020-06-02 13:13] #2753 closed

[2020-06-02 13:19] eharris369 commented on #2360
@j-c-berger I have updated all of the images based on Mel's comments. There is a new image for the Project Already Deployed dialog since that will appear if the user adds a project to the remote connection that is already deployed on the Local connection.

[2020-06-02 13:59] #1764 closed

[2020-06-02 14:00] #1895 closed

[2020-06-02 14:02] #1224 closed

[2020-06-02 14:07] #2141 closed

[2020-06-02 14:08] #1037 closed

[2020-06-02 14:09] #797 closed

[2020-06-02 14:14] #272 closed

[2020-06-02 14:15] #80 closed

[2020-06-02 14:26] jcockbain commented on #1786
I agree that if we are able to ignore headers and handle new lines / just use first line that'd look good.

I like how @kimholmes had it above (https://github.com/eclipse/codewind/issues/1786#issuecomment-631637143), with the first part of the text and then '...' at the end of the content.

[2020-06-02 14:28] sishida commented on #2287
@AndyRWatson, @johnmcollier, Hi, team, It looks like the doc page has been updated since this issue was opened.

From [Installing Eclipse Che for Codewind](https://www.eclipse.org/codewind/che-installinfo.html), you can click the link in "After you install chectl, download the codewind-checluster.yaml file.", which takes you here: https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.12.

[2020-06-02 14:42] MelHopper commented on #2241
Outstanding work required for Eclipse Che section, to split installing Codewind on Eclipse Che Cluster, vs connecting to the install.

[2020-06-02 14:47] alif-munim commented on #2929
Hey Mel, happy to lend a hand. The boxes are more so meant to lay out the objective list in a responsive way than provide interactivity. However, they could potentially link to different sections of the page depending on how the markdown is laid out.

[2020-06-02 15:04] #3040 closed

[2020-06-02 15:04] MelHopper commented on #1226
Currently, the 'What is Codewind' section does include basic FAQ, however, input from advocacy and UX is still required, as well as metrics from the website search once that functioned is added (planned for 2Q)

Advocacy: @AndyRWatson @NikCanvin @beccabau - could you take a look at the current 'What is Codewind'?' topic and let me know if you think any other questions should be answered? https://w

[2020-06-02 15:05] #2241 closed

[2020-06-02 15:11] #2946 closed

[2020-06-02 15:18] j-c-berger commented on #2360
@eharris369, thanks! Where are these updated images? Did you edit the images above from 6 days ago to include the new images?

[2020-06-02 15:25] james-wallis commented on #3029
Am unable to recreate this:
[code]

The linked PR indicates that this was fixed in https://github.com/eclipse/codewind/pull/2977

/pipeline verify

[2020-06-02 15:25] james-wallis commented on #3029
/assign
/pipeline verify

[2020-06-02 16:21] sishida commented on #2887
Merged PR. Confirmed with Jasper we're good to close this issue.

[2020-06-02 16:21] #2887 closed

[2020-06-02 16:25] sishida commented on #2360
@j-c-berger It looks like the images have been added in the above comments. We can download them, upload them to the correct folder, and then add them to the documents.

[2020-06-02 16:42] mattcolegate commented on #2902
Putting this back - I still can't get access to any of the Codewind on Che instances in a way that lets me work on this, I'm hitting problems that others are not having.
/unassign
/pipeline portal backlog

[2020-06-02 17:09] sishida commented on #2888
PR for this issue replaces the text content of the screenshot with Markdown text: https://github.com/eclipse/codewind-docs/pull/636

[2020-06-02 17:21] eharris369 commented on #3022
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/740

[2020-06-02 17:21] #3022 closed

[2020-06-02 17:22] eharris369 commented on #3012
Relaunch is supported for Java projects.

[2020-06-02 17:34] sishida commented on #2889
Created PR to remove the screenshot: https://github.com/eclipse/codewind-docs/pull/637

[2020-06-02 17:59] j-c-berger commented on #2360
@eharris369, I see the new images are included in the previous comment. I overlooked them because I saw the comment was made 6 days ago. Upon second look, I see you edited the comment, and I see the new images. Sorry for me overlooking that, haha.

I'll get a new commit up. Thank you for your help and patience on this :)

[2020-06-02 18:53] jagraj commented on #3064
I just tried to install Che 7.12.2 on another OCP 4.4 cluster and I see same issue. Earlier I noticed this issue on 7.13.2 but some how I see same problem on 7.12.2 as well. We need to investigate why we see this different behavior intermittently.

[2020-06-02 18:55] alif-munim commented on #2929
Updates:
* Added header for objectives section
* Opted for normal list layout for each objective
* Removed "View Guide" button to eliminate redundancy

![image](https://user-images.githubusercontent.com/59207653/83558136-8fc67900-a4e0-11ea-8948-2835b9816a43.png)

Going to make a PR for this by the end of the day 👍

[2020-06-02 20:51] sujeilyfonseca opened #3088 "SVT: Error 404: Unable to delete load test"
**Codewind version:** 0.13.0
**OS:** Mac OS Mojave 10.14.6, Ubuntu, and Red Hat Enterprise Linux 7 (64 bit)

**Che version:** Che 7.12.1
**IDE extension version:** 0.13.0
**IDE version:** Code 1.45.1
**Kubernetes cluster:** OCP 4.3

**Description:** Error 404: Unable to delete load test

![thread_1-screenshot-on-error-02 06 2020_20 30 25-ID_0](https://user-images.githubusercontent.com/49531960/835

[2020-06-02 20:51] sujeilyfonseca commented on #3088
/priority hot

[2020-06-02 21:09] sishida commented on #2368
@markcor11 Hi, Mark! I am available to help with this issue. I'd appreciate a little more info before getting started. :)
- If we want to rework the documentation to hide the Keycloak info, would we be able to meet to discuss it? I looked at the documentation today, and Keycloak seems pretty well ingrained into it.
- On the other hand, if we want to add more info about Keycloak, did you have any p

[2020-06-02 22:30] AndyRWatson commented on #2287
Happy to close as fixed @sishida

[2020-06-02 22:30] #2287 closed

[2020-06-03 06:24] snehlatamohite commented on #3016
@hhellyer  - I have noticed one thing that ibmcom/codewind-java-project-cache is not multiarch not sure its impact on test failures.  I tried to search dockerfile for so that I can build container locally for Power however I could not found.

https://hub.docker.com/r/ibmcom/codewind-java-project-cache

docker run -it ibmcom/codewind-java-project-cache
standard_init_linux.go:190: exec user process

[2020-06-03 07:35] markcor11 commented on #2368
To be clear,  I’m not suggesting we hide our dependancy on Keycloak just that we try to avoid reproducing official Keycloak documentation within our Codewind documentation or adding Keycloak detail where it adds more confusion than to be helpful for example when talking to Codewind end users (Jane) who probably don't care what identity and access manager services are being used by Codewind behind

[2020-06-03 08:34] #3029 closed

[2020-06-03 08:34] #3049 closed

[2020-06-03 08:34] mattcolegate commented on #2990
/assign
/pipeline in progress

[2020-06-03 08:35] #2761 closed

[2020-06-03 08:36] mattcolegate commented on #2990
Actually, this problem should be looked at by someone with a Mac - I remember trying this out at the time and I couldn't get it to happen on my Windows box
/unassign
/pipeline portal backlog

[2020-06-03 08:40] markcor11 commented on #3084
PR's for master and 0.13.0 delivered
/pipeline Review/QA

[2020-06-03 08:41] markcor11 commented on #2998
Likely solved with fixes to issue 3084
/pipeline Review/QA

[2020-06-03 08:42] james-wallis commented on #3028
/assign

[2020-06-03 08:43] james-wallis commented on #3028
/pipeline in progress

[2020-06-03 08:43] markcor11 commented on #3088
/assign

[2020-06-03 08:44] mattcolegate commented on #3062
Grabbing this for a bit to see if I can reproduce on Windows now Howard's fix has merged
/assign
/pipeline in progress

[2020-06-03 08:45] markcor11 commented on #3088
/pipeline in progress

[2020-06-03 08:50] markcor11 commented on #3088
reproduced working on a fix

[2020-06-03 09:22] rwalle61 commented on #3001
/assign

[2020-06-03 09:39] james-wallis commented on #3028
Unable to recreate this - potentially fixed in:
https://github.com/eclipse/codewind/pull/3076 (only update metrics status when the project is started)
https://github.com/eclipse/codewind/pull/3059 (always perform a live lookup on the `metrics/status` API)

[2020-06-03 09:39] james-wallis commented on #3028
/pipeline verify

[2020-06-03 10:04] jcockbain commented on #2990
/assign
/iN pRoGreSS

[2020-06-03 10:14] MelHopper opened #3091 "ODO support and Tekton pipeline support wrongly sitting in Eclipse Che section"
**Description:**
ODO support and Tekton pipeline support wrongly sitting in Eclipse Che section.

These topics need to be moved the top level of the LH nav.
**Steps to reproduce:**
na

**Workaround:**
n/a

[2020-06-03 10:16] MelHopper commented on #3091
/area docs

[2020-06-03 10:16] MelHopper commented on #3091
/assign @MelHopper

[2020-06-03 10:17] MelHopper commented on #3091
/pipeline verify

[2020-06-03 10:35] jcockbain commented on #2727
Answered on https://github.com/eclipse/codewind-docs/pull/611#issuecomment-637600092 - I see the difference now.

[2020-06-03 11:26] markcor11 commented on #3002
Not quite, as @johnmcollier said, if Codewind needs those roles we will need to add them into both the cluster roles for Codewind eg: `eclipse-codewind-0.12.0` so that the rolebinding installed the codewind namespace can link them up to the Codewind service account.

AND,

Since the operator is issuing those roles out, it itself needs to be granted permission to do that which is controlled by the

[2020-06-03 12:25] MelHopper opened #3092 "Adding numbering to topics in LH nav has broken subtree function"
Adding numbers with a full stop to a topic in the LH nav that has children prevents the child tree from opening in the LH nav.

This defect was introduced by https://github.com/eclipse/codewind-docs/pull/640

![Screenshot 2020-06-03 at 10 26 24](https://user-images.githubusercontent.com/13365734/83636325-aed71080-a59d-11ea-9a66-559ecd803428.png)

[2020-06-03 12:32] MelHopper commented on #3092
https://github.com/eclipse/codewind-docs/pull/643 PR removes the offending numbering until a proper fix is merged.

[2020-06-03 12:32] MelHopper commented on #3092
/ assign @jcockbain

[2020-06-03 12:32] MelHopper commented on #3092
/label website

[2020-06-03 12:33] MelHopper commented on #3092
/assign @MelHopper

[2020-06-03 12:57] markcor11 commented on #3084
changes merged

/pipeline verify

[2020-06-03 13:15] malincoln commented on #3084
@jagraj do you need to verify this?

[2020-06-03 13:28] markcor11 commented on #3002
I've had a look through the ODO docs and I think since these are cluster level roles it might be better to incorporate these changes the same way we handle the Tekton cluster roles.

[2020-06-03 14:01] jcockbain commented on #2727
/assign

[2020-06-03 14:01] jcockbain commented on #2727
/pipeline In Progress

[2020-06-03 14:10] markcor11 commented on #3002
/pipeline In Progress

[2020-06-03 14:11] markcor11 commented on #3088
/pipeline verify

[2020-06-03 14:27] sishida commented on #2889
I learned from John that the whole section where the screenshot appeared is now obsolete. I have removed the whole section. Closing this issue.

[2020-06-03 14:27] #2889 closed

[2020-06-03 14:28] #2888 closed

[2020-06-03 14:33] jgwest commented on #3092
@MelHopper Due to the way the Eclipse webmasters have set up the eclipse GitHub org, @jcockbain needs to comment on the issue before he can be assigned, FYI

[2020-06-03 14:51] jcockbain commented on #3092
/assign

[2020-06-03 15:03] mattcolegate commented on #3062
Hi @sujeilyfonseca,
I've attempted to recreate this issue today using the latest code with Howard's fix in it, and while I've not been able to get the appsody projects to start up, I haven't had an error about toggling logs and I have been able to view appsody-liberty's appsody.log showing the maven build and test. Please can you verify that this issue is still occuring?
/pipeline verify

[2020-06-03 15:06] mattcolegate commented on #2713
@tobespc do you think it's worth discussing this one at tech topics tomorrow? There doesn't seem to be a clear way forward.

[2020-06-03 15:09] mattcolegate commented on #2837
/pipeline verify

[2020-06-03 15:11] #2738 closed

[2020-06-03 16:37] james-wallis opened #3095 "Loadrunner/Performance server - Socket.io Event "Error" is a reserved event"
**Codewind version:** Master
**OS:**

**Description:**
Loadrunner.js has a Socket event listening to the "Error" event that is sent from the Performance server.js to notify PFE that an error has been hit. This event is actually reserved by Socket.io https://socket.io/docs/emit-cheatsheet/ so we shouldn't be using it.

Additionally, if Socket.io does encounter an error and emits the "Error" event i

[2020-06-03 16:37] james-wallis commented on #3095
/area portal

[2020-06-03 16:49] MelHopper opened #3096 "Summary calls out Openshift & steps also incorrect for the remotedeploy-projects topics"
**Description:**
The summary of what the user has achieved for the Getting Started user flow for Using Codewind Remotely is incorrect.

**Fix**

Rewrite the Next Steps Section for:

- remotedeploy-projects-vscode.html
- remotedeploy-projects-eclipse.html

i.e. the end of the Using Codewind Remotely workflow to match the overview instructions in remote-codewind-overview.html. i.e:

_You have now:

[2020-06-03 16:50] MelHopper commented on #3096
/label docs

[2020-06-03 16:50] james-wallis opened #3097 "Loadrunner "connect_timeout" event requires a parameter but Socket.io does not send one"
**Codewind version:** Master
**OS:**

**Description:**
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/LoadRunner.js#L542-L551
Loadrunner.js requires the "connect_timeout" event to send an object with a `projectID` as a parameter however the [Socket.io-client docs](https://github.com/socketio/socket.io-client/blob/master/docs/API.md#event-connect_timeout) state that the even

[2020-06-03 16:50] markcor11 commented on #2369
Just a few comments on the diagrams,

1. Local:  looks ok,
2. Che (Browser based): Containers are built and run cloud side rather than on the local machine.
3. Remote:  Whilst it is possible for containers to be built and run on the local machine (by way of local Codewind code which has to be installed along side the IDE Plugin) the main feature of remote is that build and run is not done locally

[2020-06-03 16:51] james-wallis commented on #3097
/assign
/pipeline in progress
/area portal

[2020-06-03 17:35] MelHopper commented on #2369
Hi Sarah, I'm revisiting the diagrams after feedback from Mark (he also spotted a good 'typo'!). Please can you:
1. correct, on browser-based diagram, _containers built and run on local machine_' to '_containers built and run on the cloud'_
2. remove the containers from the local machine in the remote diagram (reasoning: makes it clearer that whilst you CAN run containers on local, this is not the

[2020-06-03 18:03] sishida opened #3099 "New and Noteworthy for 0.13.0"
Add new and noteworthy for 0.13.0.

[2020-06-03 18:41] johnmcollier commented on #3064
@jagraj I'm unable to reproduce on Che 7.12.0, can you try again and also collect the logs and image tags of the pods?

[2020-06-03 18:42] tetchel commented on #3064
The browser console logs would likely contain the error that causes the styles to not load.

[2020-06-04 09:55] markcor11 commented on #3002
/pipeline Review/QA

[2020-06-04 11:03] jcockbain commented on #2568
/pipeline verify

[2020-06-04 11:03] jcockbain commented on #2594
/pipeline verify

[2020-06-04 11:04] jcockbain commented on #3015
/pipeline review/qa

[2020-06-04 11:05] jcockbain commented on #3053
/pipeline review/qa

[2020-06-04 11:06] jcockbain commented on #3092
/pipeline verify

[2020-06-04 13:47] jagraj commented on #3064
@johnmcollier @tetchel
Here is the info you requested for this issue. Looks like, this cluster is installed with 7.13.2 tags except operator image. I think I did not refresh my codewind-che-plugin repo. This might be useful to debug actual issue for 7.13.2. Let me capture all this info for 7.12.2 install as well.

**Console messages from the browser when I try to access Image registry or Template

[2020-06-04 14:01] sujeilyfonseca commented on #3088
I verified this problem with the latest Codewind 0.13.0, and I no longer reproduce the problem.

[2020-06-04 14:01] #3088 closed

[2020-06-04 14:02] jcockbain commented on #3092
Related to this https://stackoverflow.com/questions/54311361/bootstrap-accordion-not-working-if-id-is-number

[2020-06-04 16:09] eharris369 opened #3100 "If project create fails because of auth error, indicate that with a specific error key"
Further requirement for https://github.com/eclipse/codewind/issues/2647

If project create fails because the authorization for the template source failed, indicate this on the result with a specific error key so the IDEs know to prompt the user to update the authorization information.

[2020-06-04 16:14] eharris369 opened #3101 "Template source list: include username if available"
Further requirement for #2647

Include the username in the template source list if available, similar to how it is included in the `cwctl connections list` output. This way the user does not need to re-type in their username if they are updating the password.

[2020-06-04 16:18] rwalle61 commented on #3100
/assign

[2020-06-04 17:53] sishida opened #3102 "Documenting access to secure template repositories"
- Corresponding epic: https://github.com/eclipse/codewind/issues/2647
- File to edit: https://www.eclipse.org/codewind/workingwithtemplates.html
- Text to update:
    - Enter the URL and any other information.
       - VS Code: Enter the URL to your template source index file and click Enter to confirm.
       - Eclipse and IntelliJ: Fill in the fields for URL, Name, and Description. Click OK when

[2020-06-04 18:05] jagraj opened #3103 "SVT:Hybrid operator still installing latest for CW 0.13.0 release."
**Codewind version:** 0.13.0
**OS:**
CoreOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
OCP 4.4

**Description:**
Looks like Codewind 0.13.0 operator still installing Codewind latest images and operator too.
Could you please deliver changes to 0.13.0 branch so that we can install 0.13.0 version rather latest development version.?

[code]

**Steps to reprod

[2020-06-04 18:06] jagraj commented on #3103
/area portal
/priority stopship

[2020-06-04 18:09] malincoln commented on #3103
@tobespc pls help investigate.  Thanks

[2020-06-05 07:36] markcor11 commented on #3103
/assign @markcor11
/pipeline in progress

[2020-06-05 07:57] #2870 closed

[2020-06-05 08:12] markcor11 commented on #2235
At this time I don't think we require the features in the V2 version of the third party cli framework. We are currently using v1.21.0 and will assess moving to v1.22.4 to pick up any bug fixes as part of a general update. Moving to Go Modules is worthwhile though.

[2020-06-05 08:24] markcor11 commented on #3103
/pipeline Review/QA

[2020-06-05 08:42] tobespc commented on #2235
agreed, the module change is sufficient for now

[2020-06-05 08:53] #3097 closed

[2020-06-05 08:54] tobespc commented on #2965
@james-wallis @rwalle61 Can you assign yourselves to this please and track progress here.  thanks

[2020-06-05 08:55] #2999 closed

[2020-06-05 08:55] #3000 closed

[2020-06-05 08:55] #3017 closed

[2020-06-05 08:55] tobespc commented on #3068
descoping from 0.14

[2020-06-05 08:55] tobespc commented on #3067
`descoping from 0.14`

[2020-06-05 08:55] james-wallis commented on #2877
PR merged for this item.

[2020-06-05 08:55] #2877 closed

[2020-06-05 08:56] #3019 closed

[2020-06-05 09:04] james-wallis commented on #2965
/assign

[2020-06-05 09:29] rwalle61 commented on #3001
/pipeline iN PRoGreSs

[2020-06-05 10:05] hhellyer commented on #3016
@elsony - Do you know where the source for the `codewind-java-project-cache` image lives?
@snehlatamohite - This is quite a specific problem - it may be you need to build that for ppc
- would you mind breaking it out into a separate issue we can track and fix? (We can assign that to the right squad then.)

[2020-06-05 10:28] hhellyer commented on #3016
@snehlatamohite - The failing metrics tests will create a NodeJS project and then copy metrics into it to test they get back the expected data.
Could you verify that you are able to create a Codewind NodeJS project? (Most of our tests don't create projects as it takes a long time and leads to erratic test behaviour. This could be why you see issues with the metrics tests with otherwise don't do an

[2020-06-05 11:05] snehlatamohite commented on #3016
@hhellyer  -  Can you please tell me how to access codewind UI?

Please find below logs looks like I am not able to access UI on port 9097

System architecture is:  ppc64le
Host operating system is:  linux
Attempting to find available port
Port 10000 Available
Please wait while containers initialize...
Creating network "codewind_network" with the default driver
Creating codewind-performance ... do

[2020-06-05 11:06] snehlatamohite commented on #3016
@hhellyer  - yes will track separately codewind-java-project-cache issue , thought that it might be related to test failures hence updated here.

[2020-06-05 11:51] jcockbain commented on #3092
/pipeline review/qa

[2020-06-05 15:20] markcor11 commented on #2938
/assign @markcor11

[2020-06-05 15:20] markcor11 commented on #2938
/pipeline In Progress

[2020-06-05 20:50] bconey opened #3104 "Bug: Unable to access tWAS application in Codewind local"
**Codewind version:** 0.12.0
**OS:** Ubuntu 18.04.4 LTS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
After creating a tWAS (IBM WebSphere Traditional) project in Codewind using a private registry stackhub for a CP4Apps installation, I was unable to access the application inside Codewind when the `Open Application` icon is clicked.  The bro

[2020-06-05 20:53] jagraj commented on #3104
/priority stopship
/area appsody

[2020-06-05 20:59] jagraj commented on #3104
@sghung @makandre
I also tried to reproduce this problem on my Windows VM with Codewind 0.13.0 release and I could not access tWAS sample application after it started successfully.

I also configured same Kabanero stacks repo in my  Che cluster and tried same sample and it worked fine there and no issues there.

I did setup another local Codewind 0.13.0 install with Kabanero stacks repo in one of

[2020-06-05 21:15] makandre commented on #3104
Found this: https://www.ibm.com/support/pages/how-diagnose-error-srve0255e-webgroupvirtual-host-handle-0-has-not-been-defined

The error appears to be from WAS and/or the application itself

[2020-06-05 21:55] makandre commented on #3104
The application exposes 3 ports: `9043`, `9080`, `9443`.  Outside of Codewind, port `9043` shows this error page as well.

I think we will need a tWAS expert and/or the creator of the stack to take a look, as it appears to be a tWAS configuration problem when running in Codewind.  I'm not really sure what could be different in Codewind; on our side we don't do anything to configure the server or a

[2020-06-06 02:35] jagraj commented on #3104
This all works fine from Appsody CLI but not from Codewind.

[2020-06-08 08:05] jcockbain commented on #2591
/pipeline In Progress
/assign

[2020-06-08 09:55] MelHopper commented on #3092
@melhopper TASK: add numbering back into remote once PR 648 has been merged.

[2020-06-08 12:46] hhellyer commented on #2961
@makandre @jopit @tetchel @eharris369 - We can return a warning but that may mean two pieces of JSON being output in JSON mode. I'm not sure how the IDE's will cope with this but I've put up a branch with a sample change here: https://github.com/hhellyer/codewind-installer/tree/docker_login_warning

Two other options I can think of:
- Only output a warning about not being able log into docker loca

[2020-06-08 13:01] #2973 closed

[2020-06-08 13:01] #2993 closed

[2020-06-08 13:21] #3013 closed

[2020-06-08 13:27] eharris369 commented on #3081
The scrollbar issue is fixed now as well: https://github.com/eclipse/codewind-eclipse/pull/757

[2020-06-08 13:27] #3081 closed

[2020-06-08 13:56] tetchel commented on #2961
I know the `diagnostics` command is able to succeed with warnings https://github.com/eclipse/codewind/issues/2815

[2020-06-08 14:04] MelHopper commented on #2568
Verified. Closing issue

[2020-06-08 14:04] #2568 closed

[2020-06-08 14:05] MelHopper commented on #3091
Verified. Closing.

[2020-06-08 14:44] MelHopper commented on #3027
Eclipse che structure and flow improvements are being delivered in 0.13.0.
Additional enhancements to Eclipse che section are being undertaken via: https://github.com/eclipse/codewind/issues/2718

[2020-06-08 14:46] MelHopper commented on #3027
@AndyRWatson Given the changes in 0.13.0 are you happy to close this defect?

[2020-06-08 14:50] MelHopper opened #3108 "Add callout boxes to the Getting Started user workflows"
**Description of the enhancement:**
Callout boxes have been added to the styling of the website topic pages via https://github.com/eclipse/codewind/issues/3015

**Proposed solution:**
1. Implement these boxes within the getting starter user workflows.

2. educate the team on how to use this styling within the documentation

[2020-06-08 14:51] MelHopper commented on #3108
/assign @MelHopper
/area docs

[2020-06-08 14:51] MelHopper commented on #3015
PR merged.

[2020-06-08 14:51] #3015 closed

[2020-06-08 14:54] #3092 closed

[2020-06-08 14:58] #3091 closed

[2020-06-08 15:02] rwalle61 commented on #3016
fyi - the 10th failure: Spring project with javametrics-dash should have been fixed in 0.12.0 by https://github.com/eclipse/codewind/pull/2942, which is a 0.12.0 backport of https://github.com/eclipse/codewind/pull/2918/

[2020-06-08 15:03] MelHopper commented on #2909
Task (1) is complete via https://github.com/eclipse/codewind/issues/3091 - moving ODO support to top of tree rather than it being hidden.

Task (2) completed by https://github.com/eclipse/codewind/issues/3003

Task (3) and task (4) outstanding.

[2020-06-08 15:05] MelHopper commented on #978
@sishida this is issue is related to adding fuller support for Intellij: https://github.com/eclipse/codewind/issues/2908 - referencing here FYI. Can be actioned as part of issue 978?

[2020-06-08 16:18] josephca commented on #2864
Closing it without any code change.

[2020-06-08 16:18] #2864 closed

[2020-06-08 16:36] snehlatamohite commented on #3016
@rwalle61 - Thanks for the information. I will build containers with fix and then test and will share results.

[2020-06-08 16:40] sishida commented on #978
@MelHopper During the next IDE scrum, I will plan to ask if we can include issue 2908 as part of this issue 978.

If we do want to add 2908 to 978, I will add 2908 in the initial comment: https://github.com/eclipse/codewind/issues/978#issue-517879944

[2020-06-08 17:04] DavidG1011 opened #3111 "[SVT][VSCode] Error when running Capture Diagnostics command"
**Codewind version:** 0.13
**OS:** MacOS

**IDE extension version:** 0.13
**IDE version:** VSCode 1.45.1

**Description:**
Running the `Codewind: Capture Diagnostics` command produces an error saying "Error collecting diagnostics":
<img width="1114" alt="Screen Shot 2020-06-08 at 12 53 15 PM" src="https://user-images.githubusercontent.com/30476587/84058545-647fd600-a987-11ea-9dda-1098d987a00c.png"

[2020-06-08 17:08] tetchel commented on #3111
it looks like the diagnostics command has changed since I added this integration, to require the argument `collect`.

[2020-06-08 17:54] makandre commented on #3104
From inside the appsody container you can actually `curl localhost:9080` and it returns the correct landing page

[2020-06-08 18:05] jagraj commented on #3103
This issue has been fixed. Closing now. Thanks for the fix.

[2020-06-08 18:05] #3103 closed

[2020-06-08 18:38] alif-munim commented on #1786
Hey @MelHopper and @jcockbain, thanks for the feedback! I've been looking into this further now that I'm wrapping up with the guides pages, and I think I've finally got things working how they're supposed to. Took quite a bit of fiddling with liquid filters within jekyll, but here's how paragraph excerpts look within search now:

![image](https://user-images.githubusercontent.com/59207653/84066763

[2020-06-08 18:53] makandre commented on #3104
The virtual host settings in container are stored in:

`/opt/IBM/WebSphere/AppServer/profiles/AppSrv01/config/cells/DefaultCell01/virtualhosts.xml`

[code]

The last line was added by me for the published port (to 9080) on the system.  After doing that I killed the server and restarted WAS, after which the appsody landing page can be reached via port 32814

Basically, the stack's virtual host sett

[2020-06-08 19:17] malincoln commented on #3104
Need the stack owner to investigate further.
Barbara will work with tWAS stack owner; changing this to priority/hot for now; will cancel if fix required from another area.

[2020-06-08 19:45] #1153 closed

[2020-06-08 20:31] sishida commented on #2369
@MelHopper, Here are the latest images. Please let me know if we need any further changes:

Edited text, side-by-side orientation, added boxes on left:
![BrowserBasedConfiguration](https://user-images.githubusercontent.com/21180723/84077098-d4508980-a9a4-11ea-94ea-67ead54f9fdf.png)

Removed container icons on the left:
![RemoteConfiguration](https://user-images.githubusercontent.com/21180723/84077

[2020-06-08 20:59] jagraj commented on #2901
Looks like, this issue still exist with the 0.13.0 images with Hybrid/Remote scenarios. This happens when I try to run load test first time. The load test request get stuck at "Requested.." state.

![image](https://user-images.githubusercontent.com/713849/84076983-b1be7080-a9a4-11ea-9d75-621d0a143ff2.png)

logs
[nodejshybcw013svt.txt](https://github.com/eclipse/codewind/files/4748580/nodejshybcw01

[2020-06-08 21:00] jagraj commented on #2901
/reopen

[2020-06-08 21:43] sujeilyfonseca commented on #2901
I can reproduce this problem with the latest Codewind 0.13.0, using VS Code connected to an OCP 4.3 cluster. It happens with the very first load tests. It got stuck at "Requested," and no results are displayed.

<img width="1649" alt="Screen Shot 2020-06-08 at 2 28 25 PM" src="https://user-images.githubusercontent.com/49531960/84083142-141c6e80-a9af-11ea-9524-f297fa353265.png">

However, the worka

[2020-06-09 08:15] markcor11 commented on #2901
From the screenshot of the debug, the socket has disconnected:

![Screenshot 2020-06-09 at 09 09 55](https://user-images.githubusercontent.com/28102564/84122928-0f989a00-aa31-11ea-811b-a90bf45de75d.png)

The socket must be connected in order for the button to hear state changes.

In the 0.13.0 code there is additional debug that should start streaming showing the reconnection attempts eg:

![image

[2020-06-09 08:32] MelHopper commented on #1786
This is great Alif. Thank you for the information about which pages do not work with your algorithm, for being thorough in your work, this is super. It flags that we need to be more strict with certain parameters when creating new topics. A couple of questions:

1. When grabbing the topic title, are you using the LH nav tree i.e docstoc file, vs using the 1st header element in the topic? If so, ar

[2020-06-09 09:26] jcockbain commented on #3100
/assign

[2020-06-09 09:32] rwalle61 commented on #3100
FYI basically `cwctl project create` [currently returns 401 Unauthorised when it tries to clone a GHE repo using incorrect credentials](https://github.com/eclipse/codewind-installer/blob/master/cmd/cli/main_test.go#L204). (If you don't supply credentials at all, you should get 404).

The IDEs could treat 401 errors to mean "the credentials are incorrect", but Erin and I decided it'd be preferable

[2020-06-09 09:44] rwalle61 commented on #3101
FYI whoever picks this up:

The current output from `cwctl templates repos list` (and `cwctl templates repos add`) is something like:
[code]

@eharris369 is suggesting PFE return the username for any secure template repos (such as the GHE one). So something like:
[code]

@eharris369 would the IDEs like an `authentication` field on all template repos, or just the secure template repos?

Bear in min

[2020-06-09 10:20] ebuckle commented on #3101
/assign

[2020-06-09 11:41] jcockbain commented on #1786
@MelHopper it's https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/vsc-uninstall.md.

Page -> https://www.eclipse.org/codewind/vsc-uninstall.html

I added a blank link between title and text on the file and it worked (for the formatting.

It's a good point about it not being on the sidebar though, Jekyll is serving every markdown file under `/docs/documentations/` to a HTML

[2020-06-09 11:50] jcockbain commented on #1786
@alif-munim as Mel says I think this looks great and is close to being ready to go in. The suggestions I had were:

1. Personal preference, and I think something that was suggested on design chat, is linked titles in the boxes, something like this:

![image](https://user-images.githubusercontent.com/31372187/84143685-e6870200-aa4e-11ea-9a1b-afbebbd9ac7b.png)

2. Existing problem, made a bit worse

[2020-06-09 12:00] jcockbain commented on #3100
/pipeline In Progress

[2020-06-09 12:21] eharris369 commented on #3101
It only needs to be there on secure template repos. If the `authentication` is only there on secure template repos then the `required` field is not needed, as long as it is ok to have an empty `authentication` object when the user is using an access token instead of username and password.

[2020-06-09 12:24] #2360 closed

[2020-06-09 13:14] eharris369 commented on #3111
Eclipse IDE PRs:
- master: https://github.com/eclipse/codewind-eclipse/pull/758
- 0.13.0: https://github.com/eclipse/codewind-eclipse/pull/759

[2020-06-09 14:13] alif-munim commented on #1786
@jcockbain that's great to hear! I've definitely noticed some of these issues and agree with your suggestions. Now that most of the technical work is out of the way, I can have these edits made in no time.

As for the news redirect, I'm not sure where that's coming from but I'll look further into it and let you know if I find anything.

[2020-06-09 14:39] alif-munim commented on #1786
I believe it's coming from the following file:
![image](https://user-images.githubusercontent.com/59207653/84161479-542a3280-aa3d-11ea-835d-55940f4d9991.png)

I could handle this file as an edge case, i.e. display a box with a link to "Latest News"
What do you think?

[2020-06-09 14:55] jcockbain commented on #1786
Ah I see what it's doing. When you hit https://www.eclipse.org/codewind/news.html it takes you to whichever is the latest news.

For 0.14.0 we can replace with the redirect stuff being added. I'd says leave as is for now, then if https://github.com/eclipse/codewind-docs/pull/651 we can get rid of this file.

[2020-06-09 15:01] alif-munim commented on #1786
Great! Turned the headers into links and handled it as follows for now:
![image](https://user-images.githubusercontent.com/59207653/84164209-43c78700-aa40-11ea-8adf-73f38ad48e76.png)

Other than the navigation overlapping, I think this should be good to go now. I can open up a new issue for the navigation if there isn't already an existing one.

[2020-06-09 15:08] jcockbain commented on #1786
Good stuff! Yeah if you could open an issue for the header's that'd be great.

I'd say let's wait for @MelHopper's opinion on whether we should be exposing non-sidebar docs through the search. I don't know what state some of those are in.

The `datastoc.yaml` is what controls the sidebar contents, see this https://github.com/eclipse/codewind-docs/blob/master/docs/_includes/docs-sidebar.html#L5 lin

[2020-06-09 15:13] alif-munim opened #3112 "Website navigation overlap with Codewind logo"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Site navigation overlaps with Codewind logo with smaller window and screen sizes.
![image](https://user-images.githubusercontent.com/59207653/84165795-17ad0580-aa42-11ea-86aa-3df26570adb8.png)

**Steps to reproduce:**
Resize your browser window to around 900px; link

[2020-06-09 15:25] tetchel commented on #3004
reading over this now, the IDEs currently get all Portal project info (ie, everything except capabilities and logs) from `api/v1/projects`. if this info is only available at `api/v1/projects/:id/links` it adds some complexity because we have to fetch the links separately from everything else.

so, it would be best if this info is available when we get all the project info at once at `api/v1/projec

[2020-06-09 18:27] jagraj opened #3113 "SVT:Remote debugging is failing for appsody open liberty project."
**Codewind version:** 0.13.0
**OS:** Windows, Mac

**Che version:**
**IDE extension version:** 0.13.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**
OCP 4.3 cluster.

Eclipse plugin to OCP 4.3 cluster.
**Description:**
Remote debugging is failing for Appsody open liberty project and same issue for appsody microprofile project as well.

[code]

**Steps to reproduce:**
1. Install Codewind

[2020-06-09 18:27] jagraj commented on #3113
/area appsody
/priority stopship

[2020-06-09 18:41] naveenkaratekid commented on #3113
@jagraj I can reproduce this issue too:

[code]

[2020-06-09 18:44] makandre commented on #3113
@neeraj-laad @Kamran64 This looks like the same error in https://github.com/appsody/appsody/pull/994#issuecomment-630802954

We weren't able to reproduce it before but looks like it's popping up again.

[2020-06-09 19:05] sujeilyfonseca commented on #3113
I have reproduced the problem as well, using VS Code connected to an OCP 4.3 cluster in Mac and Windows.

I see the problem occurs with Appsody Eclipse MicroProfile and Appsody Open Liberty projects.

[code]

[2020-06-09 19:22] #2780 closed

[2020-06-09 19:22] DavidG1011 commented on #3113
Codewind version: 0.13.0
OS:  MacOS

IDE extension version: 0.13.0
IDE version: VSCode 1.45.1
Kubernetes cluster: OCP 4.2

Seeing this issue with Appsody Eclipse MicroProfile, Appsody Open Liberty, and Appsody Spring Boot Default projects.

Diagnostics:
[diagnostics.20200609150030.zip](https://github.com/eclipse/codewind/files/4754359/diagnostics.20200609150030.zip)

[2020-06-09 20:23] DavidG1011 commented on #3111
This is working now on VSCode and Eclipse. Thanks @tetchel and @eharris369!

[2020-06-09 20:23] #3111 closed

[2020-06-09 21:00] jagraj commented on #3113
Here is the appsody issue (https://github.com/appsody/appsody/issues/1002) opened for this problem.

[2020-06-09 22:19] naveenkaratekid opened #3114 "SVT: Eclipse: NodeJS Debugging popup"
**Codewind version:0.13**
**OS: Windows 10**

**IDE extension version:0.13**
**IDE version: Eclipse 2019-06**

**Description:**
When I debug certain NodeJS projects
Appsody
	lp4
	nodejs-sc
	nodejs
	nodejs-kfka
Standard
	nodejs-express

I am seeing this popup:
![nodejs-inspector url](https://user-images.githubusercontent.com/19738071/84206251-c837fb00-aa7c-11ea-8a6a-658cd377c74f.png)

When I click

[2020-06-10 08:14] mattcolegate commented on #3039
Verified by looking at https://ci.eclipse.org/codewind/job/Codewind/job/codewind-installer/job/master/lastSuccessfulBuild/console and noting the line
`16:26:33  ok  	github.com/eclipse/codewind-installer/pkg/actions	0.090s	coverage: 21.6% of statements`

[2020-06-10 08:14] #3039 closed

[2020-06-10 08:45] markcor11 commented on #2938
I have fixed the root cause of this problem but can't create a PR until our upgrade story has been  designed and implemented. Without that step users will need to do the following which is less than ideal:

1. remove all Codewind remote deployments in the cluster
2. remove all Connections from the IDEs
3. deploy the new operator
4. recreate each codewind remote deployment
5. reconnect the IDEs
6.

[2020-06-10 09:35] james-wallis commented on #3004
You can access the current links data from the `api/v1/projects` endpoint in the data returns, in `links.links`.

[code]

For this issue, the `linksFrom` can be added into the returned project objects dynamically when the project is retrieved from the `ProjectList` https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/ProjectList.js#L83-L93. Perhaps the links object inside the pro

[2020-06-10 09:42] markcor11 commented on #2938
Made changes to the operator to fix the root cause of this problem.

Deployment of the fix will require removal of any existing Codewinds that the operator had deployed before the new operator can be installed.  The fix also changes the URL of the deployment and other Kube assets which means IDEs will need to remove any old connections and re-connect to new Codewind instances.

[2020-06-10 09:44] MelHopper opened #3115 "Add uninstall topics back into ToC and fix description element"
There are 8 md files (as of June 9th 2020) missing from the ToC but that have not been deleted.

This includes:

- vsc-uninstall.md
- eclipse-uninstall.md

Solution:
1. Reinstate vsc-uninstall and eclipse-uninstall currently missing from the ToC into the appropriate location in the ToC.
2. Fix formatting of description element (add '"'s around the text)
3. Amend description to a proper description

[2020-06-10 09:44] MelHopper commented on #3115
/area docs

[2020-06-10 09:46] MelHopper commented on #1786
Hi both, thanks for digging into this.

1. re. _"We have 48 md files under _documentations but it seems only 40 pages being linked to in datastoc.yml, so this will be the case for a few pages atm (built but not linked to)."_

That's for the ID team to delete any files not being used for docstoc, so don't worry about changing any of the way your code is working to pick out docstoc @alif-munim .

Ag

[2020-06-10 10:04] jcockbain commented on #3100
Thanks @rwalle61. By change the error key, do you mean change `project create` in the below output to something specific to unauthorized credentials?

[code]

[2020-06-10 10:11] rwalle61 commented on #3100
I don't know exactly how cwctl currently provides the IDEs with other specific errors, but yes if that's how cwctl does it for other errors

[2020-06-10 11:02] jcockbain commented on #3100
It seems in other commands the error is output as an error code format e.g. `{"error": "conn_not_found"}`, so I think that's the clearest way. Will make that change.

[2020-06-10 15:28] DavidG1011 opened #3118 "[SVT][Eclipse] Nodejs remote debugging disconnects intermittently."
**Codewind version:** 0.13
**OS:** MacOS

**IDE extension version:** codewind-0.13.0-202006091352
**IDE version:** Eclipse Version: 2020-03 (4.15.0) Build id: 20200313-1211
**Kubernetes cluster:** OCP 4.2

**Description:**
When debugging Node.js projects remotely, the connection is lost:
<img width="1330" alt="Screen Shot 2020-06-10 at 10 40 38 AM" src="https://user-images.githubusercontent.com/30

[2020-06-10 15:49] jagraj opened #3119 "SVT:Start in debug mode for appsody projects throws connection closed errors and port forward errors"
**Codewind version:** 0.13.0
**OS:** Windows, CoreOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
OCP 4.3

**Description:**
During "Restart in debug" mode resulting closed connection error message in popup message and also bunch port forward errors in the console. Looks like we are trying to port forward before pod is up and running.

![Screen Shot 2020-06-

[2020-06-10 16:10] tetchel opened #3120 "Node project error pages link to codewind.dev"
![image](https://user-images.githubusercontent.com/8888438/84291631-5eb6fb80-ab13-11ea-8e6b-50c03cb07989.png)

I don't know why this would link to our landing page; I'm not sure what "overview page" is supposed to be but if anything it should link to the project's root endpoint.

[2020-06-10 21:06] johnmcollier opened #3121 "Unable to update .cw-settings for non-debugable project"
**Codewind version:** 0.13.0. (But 0.12.0 is broken as well)
**OS:** macOS

**IDE extension version:** 0.13.0
**IDE version:** VS Code 1.46.0

**Description:**
I tried importing the following microservice into Codewind: https://github.com/sqshq/piggymetrics/tree/master/statistics-service

Since the project is required to be built manually, outside of the Docker build, I ran a `mvn package` before

[2020-06-11 07:37] tobespc commented on #3121
we've not introduced this issue in 0.13 so would hold off calling it a stop ship.   Also, we don't sync the /target directory as the assumption is that pfe will build the project

[2020-06-11 08:34] james-wallis opened #3122 "Project Link - links targeted at a project are not cleaned up when that project is deleted"
**Codewind version:**
**OS:**

**Description:**
Currently if you delete a project links that point at it will still exist, causing potential confusion to the user.
Additionally, even if you recreate the same project its `projectID` will be different so the user will need to delete those links and re add them again anyway.

**Fix**
When a project is deleted have Codewind delete any links that targe

[2020-06-11 08:34] james-wallis commented on #3122
/assign

[2020-06-11 08:36] hhellyer commented on #3062
@sujeilyfonseca - The issue wasn't marked as stop ship so the fixes didn't go into 0.13.0.

I did raise PR's for 0.13.0 but since it wasn't stop ship the decision was made not to merge and they were closed rather than merged, I'm sorry if that caused confusion.

[2020-06-11 09:24] rwalle61 commented on #3120
/assign

[2020-06-11 09:43] #2729 closed

[2020-06-11 09:43] micgibso commented on #2729
This is not a supported environment so closing this issue.

[2020-06-11 09:45] micgibso commented on #2914
Closing, if required, pls move to Box note.

[2020-06-11 09:45] #2914 closed

[2020-06-11 09:46] micgibso commented on #2931
Moving to icebox as not currently in plan.

[2020-06-11 09:47] micgibso commented on #2842
This is something that is out of scope for Codewind ID.

[2020-06-11 09:51] micgibso commented on #2966
Process is documented in the https://github.com/eclipse/codewind-docs/wiki, we run linkchecker, and we manually test. We no longer change topic names or topic permalinks.

[2020-06-11 09:51] #2966 closed

[2020-06-11 09:53] micgibso commented on #2576
Terminology has settled, please verify this is done.

[2020-06-11 09:54] #2367 closed

[2020-06-11 09:55] micgibso commented on #2367
Closing due to Codewind going in a different direction; no longer valid.

[2020-06-11 09:57] micgibso commented on #2233
Closing as not planning on doing it.

[2020-06-11 09:57] #2233 closed

[2020-06-11 09:58] micgibso commented on #1306
@jopit See Howard's question above ^^^, any ID reqd?

[2020-06-11 10:00] micgibso commented on #2369
Let's discuss in iteration planning.

[2020-06-11 10:01] micgibso commented on #2757
@sishida Can this be closed?

[2020-06-11 10:03] micgibso commented on #2741
We'll move the relevant parts of this issue to the wiki, and then close it.

[2020-06-11 10:06] micgibso commented on #573
Moving to icebox as not high priority.

[2020-06-11 10:07] micgibso commented on #2443
@sishida I propose to close this as it's not something we want to be working any more.

[2020-06-11 10:08] micgibso commented on #1380
Closing as complete.

[2020-06-11 10:08] #1380 closed

[2020-06-11 10:09] micgibso commented on #2034
Closing as out of scope.

[2020-06-11 10:09] #2034 closed

[2020-06-11 10:10] micgibso commented on #2841
Moving to verify; this is UX testing.

[2020-06-11 10:11] micgibso commented on #2974
We're never going to do this.

[2020-06-11 10:11] #2974 closed

[2020-06-11 10:12] micgibso commented on #2395
Moving to verify, is this work complete?

[2020-06-11 10:13] micgibso commented on #3070
This issue is essential for 0.14.0

[2020-06-11 10:14] micgibso commented on #2689
Closing as complete.

[2020-06-11 10:14] #2689 closed

[2020-06-11 10:16] jcockbain commented on #3112
/pipeline In Progress

[2020-06-11 11:12] AndyRWatson commented on #3027
Yes this looks better in the preview for 0.13.  Thanks

[2020-06-11 11:13] #3027 closed

[2020-06-11 11:24] tetchel opened #3123 "Diagnostics function for IntelliJ"
https://github.com/eclipse/codewind/issues/2851 is done in Eclipse and VS Code but not IntelliJ.

[2020-06-11 11:39] stalleyj commented on #3121
There are quite a few problems here:-
  - The creation of cw-settings happens on the validate call when we attempt to determine the project type. As this project is determined to be a Spring project, the file has values for that type and not what the user selects.
  - The update to cw-settings is triggering updates to all of the settings rather than just any changed settings.
  - cwctl has it's ow

[2020-06-11 11:58] jcockbain commented on #3112
/pipeline icebox

I'd say for this one wait for https://github.com/eclipse/codewind-docs/pull/612/files to be merged, as how the topbar resizes depends on the search bar being present.

I had a go on top of the branch, and there is a few different options possible.

[2020-06-11 12:01] jcockbain commented on #2725
/pipeline verify

@MelHopper - would you say this issue is complete now?

[2020-06-11 12:03] jcockbain commented on #1261
/pipeline verify

@sghung can this be closed?

[2020-06-11 12:11] tobespc commented on #3121
so should we be allowing /target to be uploaded ?   Problem with current design is that /target will get overwritten in pfe when it builds so I don't think any files would persist anyway

[2020-06-11 12:27] johnmcollier commented on #3121
It's not so much that we should allow it, but rather the user should be able to configure which files and folders are and aren't synced to PFE.

[2020-06-11 12:31] jopit commented on #1306
I don't think we need to doc anything IntelliJ specific for this.

[2020-06-11 12:50] eharris369 commented on #3118
Post describing the same issue with chrome-devtools: https://stackoverflow.com/questions/62066780/chrome-devtools-opens-as-a-search-rather-then-the-dev-tools-themselves

[2020-06-11 12:50] rwalle61 commented on #3120
Shall we just get rid of the link? It doesn't add anything

![image](https://user-images.githubusercontent.com/18170169/84387168-7ad99c00-abea-11ea-8204-033ba1802e2f.png)

[2020-06-11 12:51] sishida commented on #2741
I am OK with closing this issue if the rest of the team is OK with closing it.

[2020-06-11 12:59] #2741 closed

[2020-06-11 13:02] james-wallis commented on #3122
PR raised for this issue: https://github.com/eclipse/codewind/pull/3124

[2020-06-11 13:59] tetchel commented on #3120
i think that's fine, I have seen sites provide a link to the root/home page from their 404 page though.

[2020-06-11 14:01] mattcolegate opened #3125 "Sync issue copying from similar projects"
**Codewind version:** latest
**OS:** Windows 10, though I expect this happens everywhere

**Che version:** N/A
**IDE extension version:** latest
**IDE version:** Eclipse 2019-04
**Kubernetes cluster:** N/A

**Description:** Whilst doing test work for https://github.com/eclipse/codewind-installer/pull/494, I discovered that if I copied an index.html from an old node project and replaced the same fi

[2020-06-11 14:03] sishida commented on #2757
1️⃣ @j-c-berger, Did we confirm that the links on the other websites were fixed? I remember we talked about who would make the changes, but I don't recall confirmation that they got fixed. If we're good to go on that front, or if the fixes are no longer required (such as if the links were removed altogether), I'm good with closing the issue.

2️⃣ If future file names change, @jcockbain implemented

[2020-06-11 14:07] jcockbain commented on #2757
@sishida - if you'd like me to I can raise an issue to redirect these links too? It would be a small job and demonstrate more clearly how redirection can be added in future.

[2020-06-11 14:59] j-c-berger commented on #2757
@sishida, ICPA ID writers handled the broken links since the broken links were on their docs. They have fixed the broken links, so don't let that hold you back from closing the issue.

[2020-06-11 15:52] hhellyer commented on #3016
I can reproduce the metrics test failures by running the API tests in a different timezone:
[code]
this will cause them all to break.  Now we understand the problem I will break that out to a separate issue to fix.

[2020-06-11 15:57] hhellyer opened #3126 "Metrics tests fail if run in a different timezone"
**Codewind version:**
master

**Description:**
If you the metrics tests in a different timezone then they will fail due to issues converting the timestamps to date strings.

**Steps to reproduce:**
Run:
[code]
(Optionally use `.only()` to just run the tests in `test/src/API/projects/metrics.test.js`)

It looks like the tests expect the converted timestamp to match the directory name containing the

[2020-06-11 16:05] sishida commented on #2757
@jcockbain If you would like to open a PR, I have no objections. 👍 However, since @j-c-berger let us know that the broken links are already fixed, adding redirections aren't a must-have. I'm thinking it might be easiest to leave them alone?

[2020-06-11 16:12] jgwest commented on #3125
Reminds me of this issue, which was fixed https://github.com/eclipse/codewind/issues/1217 and verified.

[2020-06-11 16:16] jgwest commented on #3125
Similar to:
https://github.com/eclipse/codewind/issues/1953
https://github.com/eclipse/codewind/issues/2860

[2020-06-11 16:20] jcockbain commented on #2049
/assign
/pipeline In Progress

[2020-06-11 16:53] sishida commented on #2049
Now that James is assigned, I have unassigned Steven. Of course, we might still want to get Steven's review/approval for related PRs.

[2020-06-11 17:36] DavidG1011 opened #3127 "[SVT][Eclipse] devtool link provided by URL Debug Inspector is deprecated"
**Codewind version:** 0.13
**OS:** MacOS

**IDE extension version:** codewind-0.13.0-202006091352
**IDE version:** Eclipse Version: 2020-03 (4.15.0) Build id: 20200313-1211

**Tested with Chrome Version 83.0.4103.97 (Official Build) (64-bit)**

**Description:**
The URL provided by "URL Debug Inspector" gives an old devtools link.

"Debug Inspector URL" popup specifies the link for accessing the ch

[2020-06-11 17:41] eharris369 commented on #3118
How to solve the disconnect problem:

If the remote debugger disconnects, reconnect by right-clicking on the project and selecting Attach Debugger.
If the remote debugger is disconnecting too frequently, modify the streaming-connection-idle-timeout parameter on the kubelet.
Information on setting kubelet parameters using the config file: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-

[2020-06-11 18:07] eharris369 commented on #3127
If the link provided can not be used directly in a chrome-based browser then the follow these instructions to set up a debug session:
- Once the project is restarted in debug mode, get the debug port:
    - For local connections, find the `Exposed Debug Port` in the Project Overview page
    - For remote connections, find the local port for the port forwarding process in the Debug View for Eclipse

[2020-06-11 18:11] jagraj commented on #3084
I am not able to reproduce this problem so far. Closing this issue now.

[2020-06-11 18:12] jagraj commented on #3084
/pipeline close

[2020-06-11 18:13] jagraj commented on #3084
/pipelines close

[2020-06-11 18:17] jagraj commented on #3047
Verified docs PR, closing this issue.

[2020-06-11 18:17] #3047 closed

[2020-06-11 18:17] sishida commented on #3118
PR for doc update here: https://github.com/eclipse/codewind-docs/pull/656

[2020-06-11 18:56] sishida commented on #2443
- To update Codewind templates: https://github.com/codewind-resources/codewind-templates/blob/master/devfiles/templates.json

[2020-06-11 19:33] jagraj commented on #3113
This issue has been resolved with the latest appsody CLI.

[2020-06-11 19:33] #3113 closed

[2020-06-11 19:55] #3084 closed

[2020-06-11 19:58] jagraj commented on #3119
This issue has been resolved with the latest plugins and images.

[2020-06-11 19:58] #3119 closed

[2020-06-12 07:03] micgibso commented on #2757
Closing as complete.

[2020-06-12 07:03] #2757 closed

[2020-06-12 07:56] tobespc commented on #1361
moving this to icebox as the stategic direction for codewind has changed

[2020-06-12 08:38] james-wallis commented on #3095
/assign

[2020-06-12 09:10] james-wallis commented on #3004
Spoke with @tetchel and @eharris369 and it sounds like this doesn't need to be implemented on the PFE side.

[2020-06-12 09:10] #3004 closed

[2020-06-12 09:12] james-wallis commented on #3122
/pipeline in progress

[2020-06-12 09:45] #2443 closed

[2020-06-12 09:56] rwalle61 commented on #3126
/assign

[2020-06-12 09:56] rwalle61 commented on #3126
pipeline In Progress

[2020-06-12 09:56] rwalle61 commented on #3126
/pipeline In Progress

[2020-06-12 11:09] james-wallis commented on #2965
@markcor11
We added some permissions to the `odo-extension-devfile` cluster roles could the following be added to the operator?
[Cluster roles added to setup script in extension repo](https://github.com/eclipse/codewind-odo-extension/commit/e92d74e8c4419ceedc4b5e2c736caa009dac23ee#diff-5c159d6fcd64a16783d747949ea310fa)

Roles to add:
* `deletecollection ` added to `deployments`
* `update` added to

[2020-06-12 11:18] james-wallis commented on #3002
Have tested, able to create an odo type project without needing to run the setup scripts.

[2020-06-12 11:18] #3002 closed

[2020-06-12 12:21] jcockbain commented on #2049
/pipeline review/qa

[2020-06-12 12:32] jcockbain opened #3129 "Docs sidebar expander icon overlapping text"
**Website version:** master (not published yet)

**Description:**

From the addition of numbers to the items in the docs-sidebar, one of the expander icons is overlapping the text:

Using Codewind Remotely > 2. Connecting your IDE to remote Codewind

![image](https://user-images.githubusercontent.com/31372187/84502844-fc93fd00-acb0-11ea-9a35-eb46be2838d7.png)

[2020-06-12 12:32] jcockbain commented on #3129
/area website

[2020-06-12 12:33] jcockbain commented on #3129
/assign

[2020-06-12 12:47] jcockbain commented on #2990
With 55, on mac, it worked fine for me. Will try a few more times.

![image](https://user-images.githubusercontent.com/31372187/84504070-37973000-acb3-11ea-85c0-d556eabe47f2.png)

[2020-06-12 12:58] jcockbain commented on #2990
2 more tries, with 90 and then 50 diagnostics dirs, and no problems.

[2020-06-12 13:16] jcockbain commented on #2990
The "directory not empty" error is coming from the os.RemoveAll call here https://github.com/eclipse/codewind-installer/blob/master/pkg/actions/diagnostics.go#L180.

There's a few past issues raised against Go for this error on very large dirs:

- https://github.com/golang/go/issues/23452
- https://github.com/golang/go/issues/20841

Looking through them now to see what the advice is.

[2020-06-12 13:17] jcockbain commented on #3129
/pipeline In Progress

[2020-06-12 13:38] jcockbain commented on #2990
I can't see anything concrete about reasons for this happening, and I've not been able to recreate by fiddling with the `diagnostics` folder.

[2020-06-12 13:39] markcor11 opened #3133 "Openshift templates not available"
**Codewind version:** latest
**Kubernetes cluster:** Openshift 4.11

**Description:**

When creating a new project and searching for the Openshift templates they do not appear in the list even though the Openshift template repo is enabled.

**Steps to reproduce:**

Create a new remote deployment
Create a connection to it from the IDE
Create a new project and search for template filtering by "opens

[2020-06-12 13:39] markcor11 commented on #3133
/area portal

[2020-06-12 13:39] james-wallis commented on #3133
/assign
/pipeline in progress

[2020-06-12 13:51] josephca opened #3134 "IntelliJ: Codewind 0.13.0 uses deprecated API, which may be removed in future releases leading to binary and source code incompatibilities"
**Codewind version:**
0.13.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
There are some deprecated APIs used. I noticed the following warning message when we publish 0.13.0 in Jetbrains marketplace

Codewind 0.13.0 uses deprecated API, which may be removed in future releases leading to binary and source code inc

[2020-06-12 14:00] james-wallis commented on #3001
Have tested this for a Node.js and seen that the ingress does not change.

[2020-06-12 14:00] #3001 closed

[2020-06-12 14:13] jcockbain commented on #2984
@MelHopper - is something like this the idea?

![image](https://user-images.githubusercontent.com/31372187/84511760-eab95680-acbe-11ea-9903-a837085ff667.png)

Personally, I'm not sure what the added UX benefit is. It adds noise to the docs sidebar, and all the pages linked to (videos aside) can be accessed through the the top nav bar at all times anyway.

[2020-06-12 14:18] jcockbain commented on #2727
@sishida should the title of this be about "serve.sh" matching the live website server?

From what I've looked at, and from asking Steven, replicating `build.sh` is the best way to test changes for the published environment.

Your description explains that well, but think maybe the title is the wrong way round?

[2020-06-12 14:33] jcockbain commented on #2717
@sghung is there any documentation for how the staging server is run?

I can't see anything in the wiki or handover docs.

[2020-06-12 15:07] snehlatamohite commented on #3016
@hhellyer  - Appriciate your help. could able to test fixed - Failures 3-9: Project Metrics tests successfully with master code.  For rest failures will test with appsody Power binary downloading and placing at required location and also will increase timeouts a bit to test some of the failures and then will share results.

[2020-06-12 15:12] jcockbain commented on #3129
/pipeline review/qa

[2020-06-12 15:13] jcockbain commented on #2575
/pipeline In Progress

[2020-06-12 15:25] james-wallis commented on #3133
I've raised the PR for this bug.
The issue is that the `getRepositories` function would resolve outside of the `readFile` callback meaning that there was no way of ensuring the `index.json` had been created in time for the reading.

This has been present in every Codewind release since the `codewind-odo-extension` was created. Due to the consitent rate that @markcor11 was able to recreate it, I'd

[2020-06-12 17:50] eharris369 commented on #2953
I have removed support for Eclipse 2019-03 from the marketplace page: https://marketplace.eclipse.org/content/codewind

[2020-06-12 18:59] eharris369 commented on #2953
Verified that the marketplace, docs and readme are updated.

[2020-06-12 18:59] #2953 closed

[2020-06-12 19:18] tetchel opened #3136 "Send projectChanged event after a successful project link and include target project in link event"
It would be really helpful if a `projectChanged` event was always sent after a successful link. That way we would never have to call the links API directly since the links are in the socket event.

It is currently sent most of the time because the project restarts right after so you get the link event anyway, but that doesn’t work if the project is disabled.

Also the target project ID should be i

[2020-06-12 19:20] tetchel opened #3137 "Go and Python projects don't restart after a link is deleted"
Node and Microprofile projects do restart after a deletion, but Go and Python don't (haven't tried others yet).

Apparently all projects should restart after any link modification.

[2020-06-12 19:28] james-wallis commented on #3136
/assign

[2020-06-12 19:28] james-wallis commented on #3137
/assign

[2020-06-15 08:35] markcor11 commented on #2938
/pipeline review

[2020-06-15 08:46] james-wallis commented on #3137
/pipeline in progress

[2020-06-15 08:47] james-wallis commented on #3136
/pipeline in progress

[2020-06-15 09:02] rwalle61 commented on #3126
/pipeline Verify

[2020-06-15 09:10] tobespc commented on #3121
Why do we have a hardcoded list as well as a list in .cw-settings ?

[2020-06-15 09:11] rwalle61 commented on #3126
verified https://github.com/eclipse/codewind/issues/3016#issuecomment-643323622

[2020-06-15 09:13] markcor11 commented on #2938
/pipeline review/qa

[2020-06-15 09:13] #3126 closed

[2020-06-15 09:19] stalleyj commented on #2990
The investigation shows that if this does occur, the problem is in the go library. I'm happy to close this and reopen if it ever happens again.

[2020-06-15 09:19] #2990 closed

[2020-06-15 09:28] MelHopper commented on #2591
Verified by me - redirect working correctly on the published site.

[2020-06-15 09:29] MelHopper commented on #2594
Landing page is now published. @micgibso please can you close this issue?

[2020-06-15 09:30] MelHopper commented on #2725
Verified. @micgibso please can you close this issue? Thanks.

[2020-06-15 09:37] #2594 closed

[2020-06-15 09:39] #2725 closed

[2020-06-15 10:13] hhellyer commented on #2978
The containers are now starting, we have a separate issue open for test failures against them when they do but that means this issue can now be closed.

[2020-06-15 10:13] #2978 closed

[2020-06-15 10:18] stalleyj opened #3138 "Remove hard coded lists of files/directories to ignore"
**Description:**
cwctl has lists of directories/files that it ignores when it syncs a project. The list should be taken from the .cw-settings file for that project so the user can configure what they want to be ignored.

**Steps to reproduce:**
Follow the steps described in https://github.com/eclipse/codewind/issues/3121
The user should be able to remove /target from the .cw-settings file and the

[2020-06-15 10:26] stalleyj opened #3139 "Update to ignoredPaths in .cw-settings triggers updates to all properties"
**Description:**
If the user makes a change to a property in .cw-settings (ie ignoredPaths), it triggers updates to all properties and not just what has changed.

**Steps to reproduce:**
See steps in https://github.com/eclipse/codewind/issues/3121 to reproduce

[2020-06-15 10:31] stalleyj commented on #3121
I've raised the issues above to cover my 2nd/3rd bullet points and this issue can focus on the problem of creating .cw-settings based on the validation steps.

[2020-06-15 10:36] micgibso commented on #2556
Discussed with @markcor11, decision has been taken that for upgrades, you must delete your current deployments and set up new ones. For more information, see `Any special notes for your reviewer` on PR https://github.com/eclipse/codewind-operator/pull/56.

[2020-06-15 11:20] james-wallis commented on #3137
PR raised for this: https://github.com/eclipse/codewind/pull/3140

[2020-06-15 11:43] ebuckle commented on #3138
/assign

[2020-06-15 12:04] jcockbain commented on #2575
/pipeline verify

[2020-06-15 12:15] micgibso commented on #2049
@sghung Hi Steven, discussing with James, would you review this one please?  Thx.

[2020-06-15 13:26] hhellyer commented on #3016
We have managed to reduce this to two issues, the original Failure 1 and
Failure 2 above.

Failure 1 is due to the appsody extension not being available.

Failure 2 (project-types API) is because the machine running codewind cannot access https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json (it can access urls on github.com but not githubusercontent.co

[2020-06-15 14:18] micgibso commented on #2303
Issue appearing in list of Open issues despite being closed. Reopening & closing to see if that fixes it.

[2020-06-15 14:19] micgibso commented on #2251
Reopening and closing to fix issue appearing in Open list.

[2020-06-15 14:19] #2251 closed

[2020-06-15 14:21] micgibso commented on #2303
Success, issue no longer appears in list of Open issues despite being closed.

[2020-06-15 14:21] micgibso commented on #2251
Success, issue no longer appears in list of Open issues despite being closed.

[2020-06-15 14:57] jcockbain commented on #2913
/pipeline review/qa

[2020-06-15 15:34] jcockbain opened #3145 "Resizing problems on Learn landing page, for middle page-widths"
**Website Branch**: Master, published to https://www.eclipse.org/codewind/

**Description:**

The text is overlapping the cards for page-widths between 750-1000px. This is before the sidebar is moved to to the top, and the card deck becomes vertical.

This is especially bad for a vertically orientation 10.2" ipad.

![IMG_0006](https://user-images.githubusercontent.com/31372187/84676704-b98e8f80-af

[2020-06-15 15:36] jcockbain commented on #3145
/area website

[2020-06-15 15:36] jcockbain commented on #3145
/assign

[2020-06-15 16:07] #2303 closed

[2020-06-15 16:12] snehlatamohite commented on #3016
@hhellyer  - Thanks for help. Appreciate it :) We got fixed 6/8 tests failure fixed by increasing the test time out duration.  Failure 2 - I have started talks with infra team on firewall confirmation.

[2020-06-15 17:16] eharris369 commented on #3020
This was delivered in PR: eclipse/codewind-eclipse#739

[2020-06-15 17:16] #3020 closed

[2020-06-15 19:23] eharris369 commented on #3101
I noticed that the authentication object is showing up for repos that are not authenticated.
[code]

So there is no difference between this and a template source that is authenticated using an access token:
[code]

The IDEs need to be able to tell the difference. So either the authentication object should not show up on repos that don't need authentication or there should be a flag in the object t

[2020-06-16 07:30] micgibso commented on #3096
PR approved and merged, closing.

[2020-06-16 07:30] #3096 closed

[2020-06-16 09:19] jcockbain commented on #3145
/pipeline In Progress

[2020-06-16 10:13] tobespc commented on #2902
have everything deployed and running and can see the icons don't work

[2020-06-16 10:35] tobespc commented on #2902
all fixed and running
![Screenshot 2020-06-16 at 11 34 55](https://user-images.githubusercontent.com/13151286/84764333-73890880-afc5-11ea-90f3-1af43e1edbfc.png)

[2020-06-16 10:35] #2902 closed

[2020-06-16 10:40] #2191 closed

[2020-06-16 10:41] tobespc commented on #2191
closing as this epic covered the initial creation of adding linking to cwctl
other issue raised for IDE

[2020-06-16 10:42] tobespc commented on #1990
I believe this is all done now

[2020-06-16 10:43] james-wallis commented on #2965
PR's merged for this feature
/pipeline verify

[2020-06-16 10:43] tobespc commented on #1990
@jopit is this finished from an IDE pov ?

[2020-06-16 10:44] james-wallis commented on #3028
/close

[2020-06-16 10:45] jcockbain commented on #2913
/pipeline verify

[2020-06-16 10:45] james-wallis commented on #2965
/close

[2020-06-16 10:45] #3028 closed

[2020-06-16 10:45] #3129 closed

[2020-06-16 10:46] #2965 closed

[2020-06-16 10:49] #3136 closed

[2020-06-16 10:54] james-wallis commented on #3137
/pipeline verify

[2020-06-16 12:12] james-wallis commented on #3133
Both PRs merged for this item and Mark has already verified the fix.
/close

[2020-06-16 12:13] #3133 closed

[2020-06-16 12:19] jcockbain commented on #3145
relevant: https://github.com/twbs/bootstrap/issues/20321

[2020-06-16 12:56] sishida opened #3146 "Incorrect numbering/indentation in website table of contents"
<img width="339" alt="Screen Shot 2020-06-11 at 3 31 59 PM" src="https://user-images.githubusercontent.com/21180723/84777031-11bda400-afaf-11ea-93b3-523e718555a6.png">

- 2a should be indented under 2.
- Because 2a is the only child topic under 2, I also propose that we indent but don't number 2a.

[2020-06-16 14:14] micgibso commented on #3146
Consider renumbering step 2b to be number 3 instead so the list is more uniform, steps 1 to 7.

[2020-06-16 14:24] MelHopper commented on #3146
The thing is, step 2a is optional and is a sub-step of 2. So I would caution against numbering in that way.

[2020-06-16 14:34] micgibso commented on #2368
Have made significant efforts to orient our users since this was raised back in March. The latest documentation in this space gives our users enough Keycloak information to do the particular task in hand, but does not as Mark mentions above, discuss bulk user administration, in depth Keycloak configuration and so on.

[2020-06-16 14:34] #2368 closed

[2020-06-16 14:49] #3137 closed

[2020-06-16 14:49] james-wallis commented on #3122
PR merged for this.

[2020-06-16 14:49] #3122 closed

[2020-06-16 14:52] tetchel opened #3149 "Confusing error message if project link target has not successfully built"
![image](https://user-images.githubusercontent.com/8888438/84790378-49cce300-afbf-11ea-8a0a-f94030131cf3.png)

I guess the problem is that turbine isn't aware of the project because it hasn't had a container start.

Right now I let the user select any enabled project, but do we have to prevent linking to a project that hasn't built yet, too? Or is there a way to figure this out in PFE

[2020-06-16 15:15] jcockbain opened #3150 "Some blog + guides images too wide on mobile"
**Website version:** Deployed Website

**Description:**

Some of the images for guides and blogs are too wide when viewed on mobile, example:

![IMG_2C8C826FF7B3-4](https://user-images.githubusercontent.com/31372187/84792750-2704f380-afec-11ea-9ad2-f8501618d41c.jpeg)

This also causes this issue in the footer:

![IMG_2C8C826FF7B3-2](https://user-images.githubusercontent.com/31372187/84792755-29ffe

[2020-06-16 15:15] jcockbain commented on #3150
/area website

[2020-06-16 15:24] jcockbain opened #3151 "/learn title covered by navbar on middle page-widths"
**Website Version:** Published Version

**Description:**

On middle page widths (750-1000px), the title to the learn page is covered by the nav bar.

![IMG_868D1D944190-1](https://user-images.githubusercontent.com/31372187/84793998-a7782400-afed-11ea-9c04-4ffb5eaaddd8.jpeg)

**Steps to reproduce:**

Resize page to between 750-1000px on https://www.eclipse.org/codewind/learn.html.

[2020-06-16 15:24] jcockbain commented on #3151
/area website

[2020-06-16 15:26] jcockbain commented on #3145
/pipeline review/qa

[2020-06-16 15:26] jcockbain commented on #3151
/assign
/pipeline In Progress

[2020-06-16 15:33] sishida commented on #2727
@jcockbain I've been using `serve.sh` to build the local site and `build.sh` to check for broken links. However, is it possible to use `build.sh` for both?

Right now, `build.sh` doesn't give me a URL to put into a browser to view the locally built website. However, if there's a way to use `build.sh` for both link checking and building the local site, I can simply stop using `serve.sh`. Please let

[2020-06-16 15:37] eharris369 opened #3152 "[Eclipse IDE] Fix stability problems with Appsody Open Liberty tests"
Fix stability problems with Appsody Open Liberty tests.

[2020-06-16 15:49] hhellyer commented on #3009
I managed to replace all the logic to download an SDK from dhe with this:
[code]
in a local copy of `Dockerfile-build`. That worked pretty quickly as docker itself handles caching that image.

However I'm not sure exactly where turbine picks up `Dockerfile-build` from because when I switched to using a custom template repo with my changes in `Dockerfile-build` didn't actually appear. (Neither the

[2020-06-16 15:52] sishida commented on #3118
@DavidG1011, @eharris369, With the doc update in place, is this issue good to close?

[2020-06-16 16:08] sishida commented on #3025
@AndyRWatson Hi, Andy!

The Codewind for Eclipse Che installation doc (https://www.eclipse.org/codewind/che-installinfo.html) now contains...
1️⃣ A prerequisite step about creating the Che namespace.
2️⃣ An updated command: `$ kubectl apply -f https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.13.0/setup/install_che/codewind-clusterrole.yaml -n $NAMESPACE`.

Will these suffice to clos

[2020-06-16 16:17] eharris369 commented on #3118
@sishida Yes. I moved it to verify.
@DavidG1011 Please verify.

[2020-06-16 16:50] DavidG1011 commented on #3118
Good to close. Thanks @sishida, @eharris369!

[2020-06-16 16:50] #3118 closed

[2020-06-16 17:13] maysunfaisal commented on #3051
/pipeline In Progress

[2020-06-16 17:42] AndyRWatson commented on #3025
as we now call out the Che namespace as a prereq,   we probably dont need it as a step slight lower down for Installing with Kubernetes

[2020-06-16 17:45] sishida commented on #3146
@MelHopper A parent title cannot link to its own page and have a child topic at the same time. (I think this has been a limitation of the website from the beginning.)

<img width="347" alt="Screen Shot 2020-06-16 at 1 38 12 PM" src="https://user-images.githubusercontent.com/21180723/84808470-b8696b00-afd6-11ea-8638-468e2ff1ea50.png">
This screenshot shows my local change to the table of contents.

[2020-06-16 17:56] sishida commented on #3146
I opened this PR as a compromise to work around the limitation but also omit the potential confusion between "2" and "2a:" https://github.com/eclipse/codewind-docs/pull/664

[2020-06-16 18:45] tetchel opened #3153 "Username and password not working for private template source"
[code]

I can't get my username/password to work with a public github private repository. @eharris369 tried too on GHE and had the same result.

Also, cwctl should probably exit with a failure code in this case.

[2020-06-16 19:10] jopit commented on #3023
This will be covered under #985

[2020-06-16 19:10] #3023 closed

[2020-06-16 19:15] sishida commented on #985
This is the file to edit for the docs: https://www.eclipse.org/codewind/workingwithtemplates.html#managing-templates
"Use the Template Source Manager to perform the following actions"

[2020-06-16 20:26] jagraj opened #3154 "SVT:Error: Internal Server Error - self signed certificate in certificate chain"
**Codewind version:** Codewind 0.14.0
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.14.0
**IDE version:** Eclipse 2020-03
**Kubernetes cluster:**

**Description:**
I configured accessing secured templates from Codewind and I got into following failure.

[code]

![image (5)](https://user-images.githubusercontent.com/713849/84824458-f756eb00-afed-11ea-8cc6-61d9b98cec6c.png)

**Steps

[2020-06-16 20:27] jagraj commented on #3154
/priority stopship

[2020-06-16 20:28] tetchel commented on #3154
cwctl needs to be able to disable ssl cert checking for template repos

[2020-06-17 07:39] micgibso commented on #2407
Documented on PR https://github.com/eclipse/codewind-docs/pull/613.

[2020-06-17 07:39] #2407 closed

[2020-06-17 08:37] hhellyer commented on #3154
I tried this locally, the error is coming from the codewind container itself, not the installer:
[code]

[2020-06-17 08:40] micgibso commented on #3115
Closing as complete.

[2020-06-17 08:40] #3115 closed

[2020-06-17 08:57] MelHopper commented on #1786
Delivered via PR https://github.com/eclipse/codewind-docs/pull/612

[2020-06-17 09:25] micgibso commented on #3123
@pitman Has this been implemented yet for IntelliJ?

[2020-06-17 09:35] hhellyer commented on #3154
There are 3 ways to fix this:

1. We can disable certificate checking for template repositories.
2. We could add a flag to template repositories to indicate certificate checking should be disabled.
3. We could not make a change and require that template repositories have a valid certificate.

Of those:

1. is trivia.  I've tried it on a branch here: https://github.com/hhellyer/codewind/tree/templa

[2020-06-17 09:40] tobespc commented on #3154
@jagraj @jopit @malincoln so our options really are 2 and 3 from above.   If this is something we need for 0.14 then with a week left to go to dcut, do we have the resources ?

[2020-06-17 10:15] micgibso opened #3155 "Docs for odo2 extension in Codewind"
**Codewind version:** 0.14.0

**Description of the enhancement:**
Docs issue for https://github.com/eclipse/codewind/issues/2648
Add that we now support devfiles to ODO docs.

**Proposed solution:**
Add text to https://www.eclipse.org/codewind/che-odo-support.html and the News perhaps; check with devs.

[2020-06-17 10:23] jcockbain commented on #2727
@sishida you can modify `build.sh` to check the built local site yes. At the moment the lines here stop and remove the container https://github.com/eclipse/codewind-docs/blob/master/build.sh#L53.

So without those the container will remain up and you should be able to access it at http://127.0.0.1:8765/codewind/. This is built without the redirect magic Steven mentions above, and therefore matchin

[2020-06-17 11:00] jcockbain commented on #3151
/pipeline review/qa

[2020-06-17 11:10] jcockbain commented on #3150
/assign
/pipeline In Progress

[2020-06-17 11:57] rwalle61 commented on #3153
Thanks for raising this, it looks like `cwctl templates repos add` does not support private GH repos

I didn't add it originally because the implementation is slightly different to GHE, and at the time the spec was only GHE. (Although I did make `cwctl project create` work with private GH repos).

We are seeing 404 because PFE does not validate credentials before GETing the devfile. I guess GitHub

[2020-06-17 11:57] rwalle61 commented on #3153
As for GHE, that should be working.

Does `cwctl templates add --url <GHERepo> --username .. --password ..` work you run it outside the IDE? It works for me, and the only way I can reproduce the 404 for GHE is by putting in incorrect credentials or a devile that does not exist.

One thing that caught me and someone else out with our GHE passwords is that I was using my GH password instead of the G

[2020-06-17 12:01] hhellyer commented on #3009
I have verified that this pattern works when building on openshift via buildah.
I've raised a PR here:
https://github.com/codewind-resources/springJavaTemplate/pull/4

[2020-06-17 12:17] jopit commented on #3154
Is there no way to import the self-signed cert into the user's trust store?

[2020-06-17 12:34] jcockbain commented on #3150
/pipeline review/qa

[2020-06-17 12:38] jcockbain opened #3156 "Guide and blog titles overlapped by nav bar on mobile"
**Website version:** Published

**Description:**

At mobile breakpoints (<767px), the title of both guides and blogs is slightly overlapped by the navbar.

![image](https://user-images.githubusercontent.com/31372187/84898550-62142f00-b09f-11ea-8ec3-59c429e1733b.png)

**Steps to reproduce:**

- Go to any guide or blog page on mobile (or with width set < 767px), e.g. https://www.eclipse.org/codewind

[2020-06-17 12:38] jcockbain commented on #3156
/area website

[2020-06-17 12:39] jcockbain commented on #3156
/assign
/pipeline In Progress

[2020-06-17 12:59] rwalle61 commented on #3153
Re supporting private GH repos, I have confirmed with @tobespc that is still not part of the spec.

[2020-06-17 13:15] AndyRWatson opened #3157 "vscode notification left spinning on project deletion of remote project"
**Codewind version:**  0.13
**OS:**   macOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**     OCP 4.3 (IBM Cloud)

**Description:**
When deleting a number of projects from my remote codewind on IBM Cloud vscode left a number of "removing" notifications for a couple of hours.     Looking on OCP I can see the projects have gone and if I manually refresh the re

[2020-06-17 13:20] hhellyer commented on #3154
The error isn't coming from cwctl running on the users machine it's coming from the PFE container. We would need to import their certificate into the container and it would be lost on restart.
In Kube we might be able to do something like mount the certificate but we'd still have to import it into the right place on the system.

@markcor11 - Do you have any ideas on how we'd import a certificate i

[2020-06-17 13:31] sishida commented on #2727
@jcockbain Thank you for your explanation. Sounds like I could save an edited version of `build.sh` on my computer to check the built local site. With the modified `build.sh` as an option, I'm OK with closing this issue. 👍

However, if you or Alif want to create a new script, such as if it would be a good exercise or good training/education, feel free to do so. 😄 Thank you!

[2020-06-17 13:43] jcockbain commented on #2727
No problem, I think it would be useful to have the extra script checked in - as this issue around serve/build has popped up quite a bit lately (in the search PR for example).

I can get to raising it as a PR this afternoon.

[2020-06-17 13:44] jagraj commented on #3154
I just updated my box note with the instructions how user can make client call to secure template repo with `curl` command. We need beaver token and also self signed certificate to make a call to secure template repo.

[2020-06-17 13:51] jcockbain commented on #3156
/pipeline review/qa

[2020-06-17 14:03] markcor11 commented on #3154
The CA certificate is required in order for the client side code to validate the authenticity of the server certificate which is being connected to. The CA cert does not need to be protected in the same way a private key would be, in fact the more people who have the CA issuer certificate the better.

The CA certificate needs to be available before connecting to the server because if you are think

[2020-06-17 14:21] markcor11 commented on #3154
GoLang example supplying CA certificates from PEM from files outside of the default paths:
https://golang.org/src/crypto/tls/example_test.go

[2020-06-17 14:28] hhellyer commented on #3154
The issue we have seen is in the PFE container *BUT* once we get as far as cloning the template that is done by cwctl on the users machine so we might need to install the certificate in the PFE container (local or remote) and on the users box running their editor.

[2020-06-17 14:39] micgibso commented on #3146
Checked and merged the PR lgtm.

[2020-06-17 14:41] #3146 closed

[2020-06-17 14:52] j-c-berger commented on #3102
@sishida, please assign me, thanks!

[2020-06-17 14:54] MelHopper commented on #2369
Hi Sarah, thanks, these look good to go. Please could you put the images into an appropriate ./images folder and let me know the filepath? Then I'll insert into our documentation.

[2020-06-17 15:49] MelHopper commented on #2984
@kimholmes your call - see above.

[2020-06-17 16:58] AndyRWatson opened #3158 "Error toggling logs when creating remote application"
**Codewind version:**   0.13
**OS:**

**Che version:**
**IDE extension version:**   0.13
**IDE version:**
**Kubernetes cluster:**   OCP 4.3 (IBM Cloud)

**Description:**

When creating a remote node express application using codewind 0.13 I see  the following  error flagged.  I did not see this when using remote applications from vscode in previous releases

```Error toggling logs on for myRemoteE

[2020-06-17 17:25] sishida opened #3159 "0.14.0 News Page"
Create a news page for the 0.14.0 release.

[2020-06-17 17:42] sishida commented on #2369
@MelHopper Here's the PR for adding the images: https://github.com/eclipse/codewind-docs/pull/669

The file path will be `docs/images/configs/<file_name>.png`

[2020-06-18 09:44] AndyRWatson opened #3160 "update cwctl diagnostics collect help to include --all for remote"
**Codewind version:**. 0.13
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**.   OCP 4.3 (IBM Cloud)

**Description:**

When collecting diagnostic information for a codewind setup configure for remote,  I only seem to see local data collected.  @stalleyj confirmed I also need to include the **_--all_** flag to collect diagnostics from all configured conn

[2020-06-18 10:41] #2556 closed

[2020-06-18 10:49] micgibso commented on #2908
@MelHopper IntelliJ to remain tech preview for 0.14.0

[2020-06-18 12:57] rwalle61 commented on #3153
@tobespc @tetchel @eharris369 are we iceboxing this or resolving it?

[2020-06-18 13:35] #2851 closed

[2020-06-18 13:43] sishida commented on #3099
0.13.0 has been published, including the news page. :) Closing this issue.

[2020-06-18 13:43] #3099 closed

[2020-06-18 13:47] sishida commented on #796
Hi, @AndyRWatson and @MelHopper, We now have a videos link on our Learn page: https://www.eclipse.org/codewind/learn.html

Is this issue good to close? Thank you! :)

[2020-06-18 14:13] micgibso commented on #2587
Terminology as per wiki.

[2020-06-18 14:13] #2587 closed

[2020-06-18 14:18] tobespc commented on #3153
still waiting to hear back from icp4a

[2020-06-18 14:58] stalleyj commented on #3160
--all is a flag to the collect subcommand of diagnostics so is not part of the help for the diagnostics command itself. It is however already part of the subcommand help shown below.

➜  latest ./cwctl diagnostics collect --help
NAME:
   cwctl diagnostics collect - Gathers logs and project files to aid diagnosis of Codewind errors

USAGE:
   cwctl diagnostics collect [command options] [arguments..

[2020-06-18 14:58] MelHopper commented on #796
Hi @sishida This issue is to do with embedding video into the getting started user stories, so within topics, as opposed to the overall videos shown on the content landing page. This is a different improvement to user experience than just giving general links on a landing page, so not ready to close. Cheers.

[2020-06-18 15:00] MelHopper commented on #2369
Diagrams now completed and available in images folder, so closing this issue.

[2020-06-18 15:00] #2369 closed

[2020-06-18 15:06] AndyRWatson commented on #3160
Take your point Julie,  but I would have had to know there were two steps to the help command to identify how to use this for remote mode.  Not obvious

[2020-06-18 15:09] AndyRWatson commented on #3160
/reopen

[2020-06-18 15:10] #3160 closed

[2020-06-18 15:25] keithchong opened #3161 "[Eclipse] Prevent duplicate template source URLs from being added"
**Codewind version:** latest
**OS:** Mac

**IDE extension version:** latest
**IDE version:** Any supported Eclipse version

**Description:**
The Add template source wizard allows you to add 'duplicate' URL locations but different names and descriptions.  When you finish with the manage template source dialog to call cwctl to update templates, you will get an error:

Error: Bad Request - URL <theRe

[2020-06-18 15:58] sishida commented on #1128
This issue is no longer a priority. @micgibso and I agree to close it.

[2020-06-18 15:58] #1128 closed

[2020-06-18 15:58] sishida commented on #1129
This issue is no longer a priority. @micgibso and I agree to close it.

[2020-06-18 15:58] #1129 closed

[2020-06-18 16:18] eharris369 opened #3162 "[Eclipse IDE] Bump up versions for 0.14.0"
Bump up the plugin and feature versions for 0.14.0

[2020-06-18 16:53] eharris369 opened #3163 "[Eclipse IDE] Project link table labels not visible in high contrast for app overview"
In high contrast mode, the project link table labels in the application overview page are not visible.

[2020-06-18 17:18] sishida commented on #2982
Spoke with @jopit. Closing this issue. Can reopen later if needed.

[2020-06-18 17:23] sujeilyfonseca opened #3164 "SVT: There is a duplicated "OpenShift Devfile templates" in latest Codewind"
**Codewind version:** Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2 & 7.12.0
**Kubernetes cluster:** OCP 4.3

**Description:** There is a duplicated "OpenShift Devfile templates" in latest Codewind

_Latest:_

<img width="1652" alt="Screen Shot 2020-06-18 at 1 12 16 PM" src="https://user-images.githubusercontent.com/49531960/85051541-a407a880-b165-11ea-828e-c1b7fa411ff

[2020-06-18 17:23] sujeilyfonseca opened #3165 "SVT: Users are being prompted to select one of the template sources present in the Command Palette, even after manually editing them in the Template Source Manager"
**Codewind version:** 0.13.0 & Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2 & 7.12.0
**Kubernetes cluster:** OCP 4.3

**Description:** Users are being prompted to select one of the template sources present in the Command Palette, even after manually editing them in the Template Source Manager

<img width="1678" alt="Screen Shot 2020-06-18 at 12 54 13 PM" src="https://

[2020-06-18 18:28] eharris369 commented on #3163
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/770

[2020-06-18 18:28] #3163 closed

[2020-06-18 18:45] sujeilyfonseca opened #3166 "SVT: [Che] Cannot create Codewind Projects"
**Codewind version:** 0.13.0 & Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2
**Kubernetes cluster:** OCP 4.3

**Description:** Cannot create Codewind Projects

<img width="1675" alt="Screen Shot 2020-06-18 at 2 34 18 PM" src="https://user-images.githubusercontent.com/49531960/85059797-3b72f880-b172-11ea-98d8-835bbd23e8f1.png">

**Steps to reproduce:**
**Steps to reprod

[2020-06-18 18:46] sujeilyfonseca commented on #3166
/priority stopship

[2020-06-18 19:18] maysunfaisal commented on #3051
I found the set of PRs from Feb that broke this. Working on some ideas and testing it out.

[2020-06-18 19:39] eharris369 commented on #3162
Fixed by PR: eclipse/codewind-eclipse#769

[2020-06-18 19:39] #3162 closed

[2020-06-18 20:03] eharris369 opened #3167 "[Eclipse IDE] Missing border for project link environment variable field"
The border is missing for the project link environment variable field.

[2020-06-18 21:20] malincoln commented on #3166
@johnmcollier can you take a look?  Thanks

[2020-06-18 21:54] tetchel commented on #3165
this is the same behaviour as always but i agree it doesn't make sense if you do it in this order

[2020-06-19 07:27] hhellyer commented on #3009
I've raised a similar PR for the Java MicroProfile template since that was also downloading from DHE:
https://github.com/codewind-resources/javaMicroProfileTemplate/pull/7

[2020-06-19 07:41] james-wallis commented on #3164
/assign

[2020-06-19 09:43] james-wallis commented on #3164
PR opened for this: https://github.com/eclipse/codewind-odo-extension/pull/74

[2020-06-19 10:20] micgibso opened #3168 "Docs: Add new Codewind Operator workspace ID and behaviour changes"
**Codewind version:** 0.14.0
**OS:**

**Description of the enhancement:**
Update landing page documentation to refect the latest enhancements and changes in behaviour to the Codewind Operator.

**Proposed solution:**
Demo'd in Codewind Playback call, 16/06/2020, starts 00:07:35 in.

- Add new workspace detail (workspace ID) AND amend remote deployment text to use the namespace in the access URL.
-

[2020-06-19 10:58] markcor11 commented on #3168
In the case where you need to clear the finaliser manually you can run :

[code]

on each pending codewind deployment where  {codewindName}  would be something like "jane1"

[2020-06-19 12:41] naveenkaratekid commented on #3166
I too can reproduce this issue. When I installed Che, and clicked ```Template Source Manager```, I noticed that multiple templates were already selected. If I click on ```No projects (Click here to create a project)``` to create a new project, nothing happens, even though multiple templates are selected.

![image](https://user-images.githubusercontent.com/19738071/85133045-f7323780-b207-11ea-99eb-

[2020-06-19 12:50] eharris369 commented on #3167
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/771

[2020-06-19 12:50] #3167 closed

[2020-06-19 13:52] jagraj commented on #3166
@johnmcollier
More info on this issue, we have automation tests running for 0.11.0, 0.12.0, 0.13.0 releases and these tests do not target with old version of Che releases with latest Codewind 0.13.0 release. Automation tests for Codewind 0.13.0 release against Che 7.12.2 running fine and no issues. Looks like it is just failing with older version of Che 7.9.2 with Codewind 0.13.0 release. Do we te

[2020-06-19 14:04] sujeilyfonseca opened #3169 "SVT: [Docs] Inform our users that we don't support versions older than Che 7.12.0 and fix utterance that still mentions Codewind 0.12.0"
**Codewind version:** 0.13.0 & Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2
**Kubernetes cluster:** OCP 4.3

**Description:** Inform our users that we don't support versions older than Che 7.12.0 and fix utterance that still mentions Codewind 0.12.0:

https://www.eclipse.org/codewind/che-installinfo.html#installing-codewind-onto-an-existing-eclipse-che-cluster

Our do

[2020-06-19 14:04] sujeilyfonseca commented on #3169
/priority stop ship

[2020-06-19 14:06] sujeilyfonseca commented on #3169
/priority stopship

[2020-06-19 16:54] eharris369 opened #3170 "[Eclipse IDE] Update the learn more link in Manage Project Links dialog"
The manage project links dialog has a learn more link that should point to the documentation for project linking. It needs to be updated once the url for that document is available.

[2020-06-19 18:05] sishida commented on #3169
- PR for change on the master branch: https://github.com/eclipse/codewind-docs/pull/673
- PR for change on the 0.13.0 release branch: https://github.com/eclipse/codewind-docs/pull/674

[2020-06-19 18:16] tetchel commented on #3170
doc issue https://github.com/eclipse/codewind/issues/3070

[2020-06-20 02:19] #2938 closed

[2020-06-22 09:23] ebuckle commented on #3138
Have a fix. Running through the recreate gives the following:
![image](https://user-images.githubusercontent.com/33088613/85271090-3b287500-b472-11ea-8ca2-0d410ff83316.png)
![image](https://user-images.githubusercontent.com/33088613/85271137-4e3b4500-b472-11ea-881d-7374071d68eb.png)
![image](https://user-images.githubusercontent.com/33088613/85271198-64490580-b472-11ea-9c3b-202b2cb978a3.png)
![ima

[2020-06-22 13:23] MelHopper opened #3171 "Add link to the Getting Started Overview topic from the content landing page"
At the moment, the codewind.dev/learn landing page references local, remote and browser-based configurations, but does not link to information detailing these 3 different configs.

**Solution:**
Add a line to the download cards on the Learn page, linking to the gettingstarted-overview.html topic. FYI the gettingstarted-overview topic topic:

- introduces user to the 3 different configs
- details h

[2020-06-22 13:23] MelHopper commented on #3171
/area website

[2020-06-22 13:40] jcockbain commented on #3112
/pipeline in progress

[2020-06-22 14:58] tetchel commented on #3153
It does not seem to work for me on GHE either

![image](https://user-images.githubusercontent.com/8888438/85302599-5b0e6780-b477-11ea-9d5c-b4dff5b528a9.png)

[2020-06-22 15:37] jcockbain commented on #1786
/pipeline verify

[2020-06-22 15:38] jcockbain commented on #2929
/pipeline verify

[2020-06-22 15:38] jcockbain commented on #2727
/pipeline verify

[2020-06-22 15:56] #3156 closed

[2020-06-22 15:57] #3151 closed

[2020-06-22 15:58] #3150 closed

[2020-06-22 16:14] MelHopper opened #3172 "When viewing on mobile or reducing width of window, LH nav does not retract"
**Problem**

When viewing codewind.dev/learn on a mobile or as a smaller window, the LH nav of topics does not retract.

As such, when visiting the codewind/learn webpage, it looks like it doesn't exist as you just see a menu of topics. To access the content landing page, you have to scroll down the LH nav i.e. all the high level topics first.

**Solution:**

1. Retract the LH nav for codewind/lea

[2020-06-22 16:15] MelHopper commented on #3172
/priority hot
/area website

[2020-06-22 16:22] jcockbain commented on #3172
/assign

[2020-06-22 16:22] jcockbain commented on #3172
/pipeline In Progress

[2020-06-22 16:29] sishida commented on #3169
Fix appears live: https://www.eclipse.org/codewind/che-installinfo.html
Closing this issue.

[2020-06-22 16:29] #3169 closed

[2020-06-22 18:06] johnmcollier commented on #3166
@jagraj We only tell users to install the version of Che that we tested with the most recent release.

Since we don't see this issue on Che 7.12.0 and with @sujeilyfonseca's PR merged, I think we can close this issue out. Any concerns @sujeilyfonseca @jagraj?

[2020-06-23 07:51] jcockbain commented on #3112
/pipeline review/qa

[2020-06-23 07:53] jcockbain commented on #1043
This has been duplicated here https://github.com/eclipse/codewind/issues/3172 @sishida.

That one refers to the the new landing page though, and why this is now more important. Should we close this one in favour of that issue?

[2020-06-23 08:16] jcockbain opened #3173 "Broken link on gettting-started-overview.html"
**Website version:** latest

**Description:**

The linkchecker running on PRs is outputting the following:

[code]

Building the site locally, this link returns a 404.

This link was added in https://github.com/eclipse/codewind-docs/pull/671

**Steps to reproduce:**

Run the site locally (`serve.sh`).

Go to this link:

![image](https://user-images.githubusercontent.com/31372187/85378194-24495780-

[2020-06-23 08:16] jcockbain commented on #3173
/area docs

[2020-06-23 10:58] micgibso commented on #3168
PR approved and merged.

[2020-06-23 10:58] #3168 closed

[2020-06-23 13:08] sishida commented on #1043
@jcockbain Thank you for letting me know. Closing this issue.

[2020-06-23 13:08] #1043 closed

[2020-06-23 13:10] sishida commented on #3025
Hi, @AndyRWatson!
This PR removes the duplicate step and has been merged: https://github.com/eclipse/codewind-docs/pull/665.
I will go ahead and close this issue. :)

[2020-06-23 13:10] #3025 closed

[2020-06-23 13:43] keithchong commented on #985
<img width="728" alt="Screen Shot 2020-06-23 at 9 41 04 AM" src="https://user-images.githubusercontent.com/7726022/85411129-f49c4e80-b535-11ea-9b4b-582187fb68ed.png">

<img width="525" alt="Screen Shot 2020-06-23 at 9 42 15 AM" src="https://user-images.githubusercontent.com/7726022/85411137-f6fea880-b535-11ea-9a17-06394285f4a0.png">

[2020-06-23 13:44] MelHopper commented on #2589
Work complete.

[2020-06-23 13:44] #2589 closed

[2020-06-23 14:09] alif-munim commented on #3171
@jcockbain please assign me

[2020-06-23 14:47] #2841 closed

[2020-06-23 14:48] micgibso commented on #2395
Closing as out of scope.

[2020-06-23 14:48] #2591 closed

[2020-06-23 14:48] micgibso commented on #2591
Closing as complete.

[2020-06-23 14:49] #3173 closed

[2020-06-23 14:58] micgibso commented on #3155
Covering this under news issue for 0.14.0, closing.

[2020-06-23 14:58] #3155 closed

[2020-06-23 15:56] #2677 closed

[2020-06-23 15:59] keithchong opened #3174 "[OpenAPI] Bump up version numbers for 0.14.0"
Codewind version: 0.14.0

IDE extension version: 0.14.0
IDE version: Eclipse and VS Code - any supported version

Description of the enhancement:
Bump up versions for 0.14.0

[2020-06-23 16:27] #3174 closed

[2020-06-23 18:09] sishida commented on #3070
Closing this issue and adding the docs label to this issue instead: https://github.com/eclipse/codewind/issues/3170

[2020-06-23 18:09] #3070 closed

[2020-06-23 18:38] eharris369 opened #3175 "[Eclipse IDE] Missing mnemonic for environment variable field"
The environment variable field in the add project link dialog does not have a mnemonic.

[2020-06-23 19:29] eharris369 commented on #3175
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/772

[2020-06-23 19:29] #3175 closed

[2020-06-24 07:32] tobespc commented on #3154
This is not going to be fixed for 0.14 and will need to be doc'ed as an unsupported environment

[2020-06-24 07:34] tobespc commented on #3153
supporting private template sources is out of scope for codewind with the current requirements.  Moving to icebox

[2020-06-24 07:36] tobespc commented on #3149
@james-wallis Can you pick this up please and provide an answer ?

[2020-06-24 08:35] tobespc commented on #489
I'm resolving this as done as we have implemented a secure connection as per original request.  Any enhancements to the sockets should be tracked in a separate issue if required

[2020-06-24 08:35] #489 closed

[2020-06-24 08:38] tobespc commented on #3016
moving to verify as the tests (that we control) are now running

[2020-06-24 08:47] micgibso commented on #3171
Amended the above copy to include the Oxford comma after 'remote':  "Read more about local, remote, and browser-based configurations."

[2020-06-24 08:52] micgibso commented on #2718
@MelHopper Is this now complete? Can it be closed?

[2020-06-24 08:54] #2712 closed

[2020-06-24 09:18] james-wallis commented on #3121
/assign

[2020-06-24 10:23] james-wallis commented on #3149
So `cwctl` is swallowing the error returned in the HTTP request. I'll make a change to clear this up - will have it in for 0.14 decut.

https://github.com/eclipse/codewind-installer/blob/9fb96a23c29a0456934a9499be5b066155b39b45/pkg/project/link.go#L129

[2020-06-24 10:23] james-wallis commented on #3149
/label bug

[2020-06-24 10:52] micgibso commented on #3170
New topic -  linking-your-projects.md  (linking-your-projects.html) - created on the above PR.

[2020-06-24 11:22] james-wallis commented on #3149
/bug

[2020-06-24 11:45] james-wallis commented on #3149
Have made a small change for `pfe` to tweak the `NOT_FOUND` error to distinguish when the target project has not been found and a link cannot be found.
Also made the changes to `cwctl` to output the `pfe` error where possible.

cwctl outputs:
[code]

[2020-06-24 12:16] james-wallis commented on #3149
/kind bug

[2020-06-24 12:22] james-wallis commented on #3149
PFE pr: [Project Link - specific error for when target project does not exist](https://github.com/eclipse/codewind/pull/3176)

[2020-06-24 13:01] james-wallis commented on #3149
cwctl pr: https://github.com/eclipse/codewind-installer/pull/501

[2020-06-24 13:56] micgibso commented on #3171
@MelHopper Please check and close if done.

[2020-06-24 14:06] tetchel commented on #3153
do you mean private github repos?

[2020-06-24 14:07] eharris369 commented on #2647
@sishida
Steps for Eclipse:
**Step 1**
Action: Right-click on a connection in the **Codewind Explorer** view and select **Manage Template Sources**
Where: **Codewind Explorer** view

**Step 2**
Action: Click the **Add** button to add a new template source
Where: **Manage Template Sources** dialog
![image](https://user-images.githubusercontent.com/9484320/85569685-c0da2b00-b600-11ea-88c5-f8aca5568f

[2020-06-24 14:14] tetchel commented on #2647
It adds new steps to https://www.eclipse.org/codewind/workingwithtemplates.html#adding-your-template-sources-to-codewind

After step 2, you receive a prompt that says the source could not be accessed, and may require authentication.
Click Authenticate.
Select whether to authenticate using username and password, or an access token.
For GitHub, [this doc](https://help.github.com/en/github/authentica

[2020-06-24 14:28] eharris369 commented on #2852
@sishida

Steps for Eclipse IDE. Assume the user has 2 projects that they want to link. Project frontend-nodejs is the source project and project database-nodejs is the target project. Both projects must be running in order to create a link.

**Step 1**
Action: Right-click on project frontend-nodejs in the **Codewind Explorer** view and select **Manage Project Links**

**Step 2**
Action: Click **A

[2020-06-24 14:29] sishida commented on #3102
Doc changes needed:
- For VS Code: https://github.com/eclipse/codewind/issues/2647#issuecomment-648846934
- For Eclipse: https://github.com/eclipse/codewind/issues/2647#issuecomment-648843113

[2020-06-24 14:30] jopit commented on #3153
It probably is due to SSO: https://developer.github.com/v3/auth/

Also, according to that document, github is removing api auth using username/password later this year.  I think we should leave the ability to use username/password in codewind, since template sources could be hosted at sites other than github and those sites could use username/password authentication.

[2020-06-24 14:44] #3166 closed

[2020-06-24 15:56] #3120 closed

[2020-06-24 16:01] #2998 closed

[2020-06-24 16:16] sishida commented on #3170
@micgibso Are you adding the content in this comment https://github.com/eclipse/codewind/issues/2852#issuecomment-648855628 to the docs as part of this issue 3170?

[2020-06-24 16:40] tetchel commented on #3170
In VS Code the links are managed through the Project Overview page > Links tab. They can also be created through the Link Project command which is available in the project right-click menu or the command palette.

[2020-06-24 18:28] keithchong commented on #985
From the third screenshot above, click Next to get to the Details page here:

<img width="524" alt="Screen Shot 2020-06-24 at 2 27 21 PM" src="https://user-images.githubusercontent.com/7726022/85612502-f3971a00-b626-11ea-91aa-7b1ee95a1f6c.png">

[2020-06-24 20:33] josephca opened #3180 "0.14.0 build is failed - odo-devfile extension cannot be found"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Build failed with the following error message:
16:07:08  curl: (22) The requested URL returned error: 404 Not Found
16:07:08  Error downloading odo-devfile extension

Cause of the issue: https://github.com/eclipse/codewind/blob/3b58a8623cc377bdcc0dd66473fc2b13426fc9

[2020-06-25 04:47] #3180 closed

[2020-06-25 04:47] josephca commented on #3180
Closing it

[2020-06-25 06:50] micgibso commented on #3170
@sishida Thanks for the link to the comment, yes, will deal.

[2020-06-25 09:08] MelHopper opened #3183 "Add signposting to Installing Codewind for Eclipse Che to the DevOps/Sysadmin card of Learn landing page"
At the moment, the codewind.dev/learn landing page 'Sysadmin or DevOps' card only points to relevant instructions for deploying Codewind remotely. Signposting to deploying Codewind as a hosted application on the cloud is missing.

Solution:
Add a line to the 'Sysadmin or DevOps' card on the Learn page, linking to the **che-installinfo.html** topic.

Use this copy:

_If you are a sysadmin or DevOps

[2020-06-25 09:08] MelHopper commented on #3183
/area website

[2020-06-25 09:12] micgibso commented on #2929
Closing as complete.

[2020-06-25 09:12] #2929 closed

[2020-06-25 09:14] micgibso commented on #2576
Closing as complete.

[2020-06-25 09:14] #2576 closed

[2020-06-25 09:16] MelHopper commented on #3171
Reviewing:
Browser-based Card copy is not quite right - the PR does not match the copy in the above description for this issue.
@micgibso good spot on oxford comma!
@alif-munim can I also make a change to the copy - now that I see it on the page, I think the link location for the gettingstarted-overview.html topic needs to change.

So, updated copy:

LOCAL AND REMOTE CARD
Download to develop, buil

[2020-06-25 09:17] #2913 closed

[2020-06-25 09:17] micgibso commented on #2913
Closing as complete.

[2020-06-25 09:17] MelHopper commented on #3112
Review: approved. @micgibso ready to close.

[2020-06-25 09:17] james-wallis commented on #2852
I've done the steps for VSCode following @eharris369's message above (and taking a lot of the steps):

VSCode Project Linking

Steps for VSCode. Assume the user has 2 projects that they want to link. Project frontend-nodejs is the source project and project database-nodejs is the target project. Both projects must be running in order to create a link.

Step 1
Action: Right-click on project fronten

[2020-06-25 09:32] jcockbain commented on #3183
/assign
/pipeline In Progress

[2020-06-25 09:53] #3112 closed

[2020-06-25 10:57] micgibso commented on #2852
Docs updated on PR https://github.com/eclipse/codewind-docs/pull/683.

[2020-06-25 12:02] james-wallis commented on #3149
/assign

[2020-06-25 12:40] micgibso commented on #2395
Back in scope, need to check ICPA docs for mentions of Codewind and check they are all valid:
https://www.ibm.com/support/knowledgecenter/SSCSJL_4.2.x/install-tools.html
And other sections as applicable.

[2020-06-25 13:10] james-wallis commented on #3149
PRs merged into master and 0.14 for the PFE work.
/pipeline verify

[2020-06-25 13:54] jcockbain commented on #3183
/pipeline Verify

[2020-06-25 14:22] jcockbain commented on #3172
@MelHopper I have deployed my branch with a retractable sidebar to https://jcockbain.github.io/codewind-docs/learn.html.

If you have any UX feedback that'd be great.

I'd imagine we want the Table of Contents hidden by default at lower breakpoints (where it's on top), and shown by default for larger screens. I can make that change, but wanted to get this up for feedback as soon I could.

[2020-06-25 16:00] eharris369 opened #3187 "[Eclipse IDE] Link name and target don't match in welcome page"
The link name in the welcome page is Deploying Codewind Remotely but it links to:
https://www.eclipse.org/codewind/remotedeploy-eclipse.html
It should link to:
https://www.eclipse.org/codewind/remote-deploying-codewind.html

[2020-06-25 16:13] MelHopper commented on #3172
@kimholmes please could you advise on the best solution to this defect?

@jcockbain Retractable side bar works well. Is your proposal to automatically retract the sidebar when resizing the window / for mobile viewing, with the 'contents' arrow still showing to indicate the ToC is there and able to be reinstated with a click of that 'content's arrow?

[2020-06-25 16:18] alif-munim commented on #3171
@MelHopper that's right, the original copy was correct. I must have missed it when making the edit; thanks for the catch @micgibso!

I've created a new PR to relocate the link to `gettingstarted-overview.html` please review and let me know if there any more changes to be made :)

[2020-06-25 16:42] jcockbain commented on #3172
@MelHopper yes exactly - as it is now but defaulting to sidebar hidden for mobile,  and sidebar shown for wider screens.

[2020-06-25 17:11] MelHopper opened #3188 "Move the OpenShift Registry topic and signpost back to Getting Started user workflows"
**Problem:**

Both the **Using Codewind on eclipse che user workflow** and the **Using Codewind remotely user workflow** reference the topic `openshiftregistry.html`. However, the` openshiftregistry.html `topic exists within the Eclipse Che block only.

In addition, it represents an optional setup so should not be part of the Getting Started journey for Eclipse Che or Remote. Instead, the topic  n

[2020-06-25 17:11] MelHopper commented on #3188
/area docs

[2020-06-25 17:21] MelHopper opened #3189 "Registry content in Eclipse Che is confusing and does not match identical information in remote section"
**Problem**

The registry topics of the Eclipse Che Getting Started content is confusing and does not match what should be an identical topic in the Remote Getting Started section.

It is also not clear in which use cases you would need to add an image registry.

**Solution**

The content of `che-setupregistries.html` and `remote-setupregistries.html` should match.

In addition, it appears that th

[2020-06-25 17:21] MelHopper commented on #3189
/area docs

[2020-06-25 18:29] kimholmes commented on #3172
Typically, the hamburger menu is used to reveal the nav for mobile. It's being used here to show the menu items that are in the header though (Learn, News, Blogs, Guides) and that seems a little odd.

Yes, I agree the nav should be hidden by default for mobile (and accessible via the hamburger icon as I mention above). I've never seen the use of the tab (the one that reads "content"). We don't nee

[2020-06-25 20:29] eharris369 commented on #3187
Fixed by PR:
- master: https://github.com/eclipse/codewind-eclipse/pull/775
- 0.14.0: https://github.com/eclipse/codewind-eclipse/pull/774

[2020-06-25 20:29] #3187 closed

[2020-06-26 08:29] jcockbain commented on #3172
Thanks @kimholmes, that's very helpful. Having had a look around it seems the most popular method is as you say naturally hiding by default and using a hamburger/other icon to toggle the dropdown...

Examples

https://kubernetes.io/docs/home/

https://getbootstrap.com/docs/4.5/getting-started/introduction/

https://docs.aws.amazon.com/ec2/?id=docs_gateway

https://cloud.google.com/docs uses this w

[2020-06-26 13:53] jcockbain commented on #3172
I've updated the deployment (https://jcockbain.github.io/codewind-docs/learn.html) and PR with a new version, @kimholmes let me know what you think when you get a chance.

[2020-06-26 18:28] tetchel commented on #3064
https://github.com/eclipse/codewind-vscode/pull/634
https://github.com/eclipse/codewind-vscode/pull/635

[2020-06-26 18:36] tetchel commented on #3149
I'm not sure this is fixed; I got this just now trying to link to a project that was just enabled for the first time:

[code]

[2020-06-29 07:50] jcockbain commented on #3172
/pipeline review/qa

[2020-06-29 08:26] micgibso commented on #3189
Not a bug, more of an enhancement.

[2020-06-29 08:27] micgibso commented on #3188
Not a bug, more of an enhancement.

[2020-06-29 10:34] james-wallis commented on #3149
Thanks for testing this fix.

Just did some testing with master (Codewind + cwctl):

Linking to a disabled project:
[code]
If I enable that project (but don't wait for it to start) I get the same.

Could you retry or provide more details please? Thanks.

[2020-06-29 14:22] eharris369 commented on #3170
Eclipse IDE PRs:
- master: eclipse/codewind-eclipse#773
- 0.14.0: eclipse/codewind-eclipse#776

[2020-06-29 16:14] jagraj commented on #3064
Thanks for the fix, I no longer see this problem with the Che 7.14.3 version. Closing this issue now.

[2020-06-29 16:14] #3064 closed

[2020-06-29 18:28] jagraj opened #3190 "SVT:Failed to create new project from Che 7.14.3 version"
**Codewind version:** 0.14.0
**OS:** OCP 4.3

**Che version:** 7.14.3
**IDE extension version:**  0.14.0
**IDE version:**  7.14.3
**Kubernetes cluster:**
OCP 4.3.18

**Description:**
I am not able to cerate new project from Che 7.14.3 version after CSS issues resolved by issue (https://github.com/eclipse/codewind/issues/3064). I am not getting input field to take project name.
Here are the logs fr

[2020-06-29 18:29] jagraj commented on #3190
/priority stopship

[2020-06-29 19:08] johnmcollier commented on #3190
@tetchel Any thoughts on this?

[2020-06-29 19:56] #3170 closed

[2020-06-29 21:13] naveenkaratekid commented on #3190
@jagraj I too can reproduce this issue as well. When I click on a project template, for example, the standard Go template, I don't get any sort of input field to enter the name of the project.

Here is the log from the codewind-workspace pod:
[codewind014log.txt](https://github.com/eclipse/codewind/files/4848064/codewind014log.txt)

[2020-06-29 21:21] tetchel commented on #3190
Is this only a problem on che 7.14? I can't reproduce this on any Theia version so it may be che specific

[2020-06-30 09:22] rwalle61 commented on #3153
@tetchel hmm I don't know why it's not working for you on GHE. At least 2 members of Portal besides me have managed to access that GHE template repo using their GHE creds, which for them is their IBM intranet password

[2020-06-30 09:26] hhellyer commented on #172
A duplicate of this was raised for the fact dhe downloads often fail:
https://github.com/eclipse/codewind/issues/3009

We put fixes into the spring and MicroProfile templates:
https://github.com/codewind-resources/springJavaTemplate/pull/4
https://github.com/codewind-resources/javaMicroProfileTemplate/pull/7

I'm going to move this to verify as this was more about the performance. (Moving the down

[2020-06-30 09:59] micgibso commented on #3171
PR reviewed, approved, and merged.

[2020-06-30 09:59] #3171 closed

[2020-06-30 10:15] micgibso commented on #301
Resolved by #2451.

[2020-06-30 10:15] #301 closed

[2020-06-30 10:18] jcockbain commented on #2049
/pipeline verify

[2020-06-30 10:19] jcockbain commented on #3145
/pipeline verify

[2020-06-30 10:22] jcockbain commented on #99
/assign

[2020-06-30 10:26] #3145 closed

[2020-06-30 10:27] #3053 closed

[2020-06-30 11:12] james-wallis commented on #3121
Some things I noticed:
* In VSCode the file-watcher seems to be ignoring changes to `.cw-settings`, so the only way I can reproduce this is by changing another file. I'd have thought that a change to `.cw-settings` would trigger a sync? Or is it expected to be updated some other way?
* If I add to the `ignoredPaths` list in `.cw-settings` (for example add `src`), change the Dockerfile to force and

[2020-06-30 12:23] james-wallis commented on #3121
Using the example project given above, when `sync`ing the `target` directory into PFE I get the following error twice:
[code]
I believe at least one of these errors corresponds to the `statistics-service.jar` as its not in the `target` directory in PFE. This file is required by the `Dockerfile` to be able to build the image.

So we have another bug: "Unable to sync large files into PFE"

[2020-06-30 12:57] micgibso commented on #2711
PR reviewed and approved, closing.

[2020-06-30 12:57] #2711 closed

[2020-06-30 13:03] james-wallis commented on #1476
stale

[2020-06-30 13:03] #1476 closed

[2020-06-30 13:04] #3095 closed

[2020-06-30 13:04] #1854 closed

[2020-06-30 13:04] #2162 closed

[2020-06-30 13:15] james-wallis commented on #3139
![image](https://user-images.githubusercontent.com/17385115/86129657-f8524700-bada-11ea-8db5-c1239d9923b3.png)

AFAIK this isn't a bug, its just how its been implemented. The original error comes from the `internalDebugPort` going from `undefined` to the value in a default `.cw-settings` file which is an empty string. I'll put a PR up which blocks against this happening.

[2020-06-30 13:15] hhellyer commented on #1280
@jgwest - I've tried reproducing this locally and I can't see a problem. When I put an error in a java source file the application fails to compile but doesn't try to build the image and sits on:
`Build Failed - Application build failed. Please check the log in the build log view for more details.`
with the error visible in `maven.build.log` in VSCodes output section.

We've changed a lot since th

[2020-06-30 13:19] kimholmes commented on #3172
Thanks @jcockbain Looks good!

[2020-06-30 13:20] micgibso commented on #2395
https://www.ibm.com/support/knowledgecenter/SSCSJL_4.2.x/guides/codewind-getting-started-vscode/codewind-getting-started-vscode.html
Developing with VS Code -> Prerequisites -> Installing Codewind for VS Code link is 404.
Needs correcting to https://kabanero.io/docs/ref/general/installation/installing-dev-tools.html#installing-codewind-for-vs-code
in the Kabanero docs.

Raised as a Discus comment.

[2020-06-30 13:20] #2395 closed

[2020-06-30 13:24] james-wallis commented on #3139
/assign
/pipeline in progress

[2020-06-30 13:28] james-wallis commented on #3121
I've raised [a PR](https://github.com/eclipse/codewind/pull/3191) to stop the error described in this issue - it allows `.cw-settings` to be updated for a non-debugable project. However the details outlined above show that we won't be able to use the demo project you've given that:
1. `cwctl sync` won't sync the `target` directory for some reason
2. The `.jar` produced by `mvn package` is too larg

[2020-06-30 13:33] kimholmes commented on #2984
I don't have an opinion either way.

[2020-06-30 13:36] micgibso commented on #2984
Agee with you on this one James for all the reasons you mention, I'm not keen, suggest we close.

[2020-06-30 13:39] micgibso commented on #3172
Remaining PR merged, closing as complete.

[2020-06-30 13:39] #3172 closed

[2020-06-30 13:41] hhellyer commented on #2167
I'd need the docker build log for the project to be sure but the most likely cause is failing to download Java from IBM's DHE download site.

There are already to other defects releated to that:
https://github.com/eclipse/codewind/issues/3009
https://github.com/eclipse/codewind/issues/172

and I have put changes into the MicroProfile template and the Spring template to change how we download Java

[2020-06-30 13:59] hhellyer commented on #1853
@travis1111 - Have you been able to reproduce this with a recent build or can this be closed?

[2020-06-30 14:05] hhellyer commented on #1753
@keithchong - I'm going to close this as it's an actual error in the source that's being built rather than an issue in Codewind itself. (Codewind isn't really doing anything wrong as far as I can tell from the write up above.)
Please feel free to open if you think there is a codewind problem here.

[2020-06-30 14:05] #1753 closed

[2020-06-30 14:30] hhellyer commented on #171
@jgwest - I've changed the template Dockerfiles for spring and microprofile to obtain Java in a faster way. (From IBM docker images rather than DHE.)
This has sped up the builds and also means that the Dockerfiles for those projects are now out of sync with: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/dockerfiles/liberty/libertyDockerfile

Do I need to update that file as

[2020-06-30 14:42] micgibso commented on #2984
Discussed again, can't see the benefits, closing.

[2020-06-30 14:42] #2984 closed

[2020-06-30 14:58] jagraj commented on #3190
I just moved to 7.15.0 release,  I still see same problem where I can not create project due to input field for project name is not getting displayed.

[2020-06-30 16:04] GeekArthur commented on #171
@hhellyer The Dockerfiles are used to build template cache image to speed up the build when user creates project from our templates. There are no errors if we don’t update, but from performance perspective we should always update.

[2020-06-30 16:07] hhellyer commented on #171
I'll update, it looks like it's just a matter of concatenating `Dockerfile` and `Dockerfile-build` together to produce the dockerfile used to generate the cache so updating should be simple.

[2020-06-30 16:19] GeekArthur commented on #171
Yes, it's very simple, to test the update, we just need to ensure creating new projects from templates can pick up the cache image.

[2020-06-30 16:56] tetchel commented on #3190
I have a fix for this. Similarly to the inputbox flickering text issue I see this issue in che but not in local theia, which is bizarre.

[2020-06-30 17:18] tetchel commented on #3153
Do any of those people have 2fa enabled on ghe?

[2020-07-01 08:18] micgibso commented on #3188
Closing as complete.

[2020-07-01 08:18] #3188 closed

[2020-07-01 09:29] james-wallis opened #3192 "ODO Devfile extension - Dynamically add templates available in odo component list"
**Description of the enhancement:**

[ODO V1.2.3](https://github.com/openshift/odo/releases/tag/v1.2.3) has been release containing the fix for `odo catalog list components -o json` so we can now get the list of components dynamically in the same way that `codewind-odo-extension` does.

Although currently we are using a hard coded list of templates, some odo components contain links to a Github re

[2020-07-01 09:29] james-wallis commented on #3192
/assign
/area portal
/pipeline in progress

[2020-07-01 12:15] micgibso commented on #1990
ID complete, removing docs label.

[2020-07-01 14:42] hhellyer commented on #2391
Is this a problem? I googled quickly to see if anyone else was seeing this issue and someone has raised a bug against docker asking about dangling images in multi-stage builds - https://github.com/moby/moby/issues/34151

The consensus seems to be that the `<none>` images are important as they act as caching layers for subsequent rebuilds. Removing them after each build would slow the builds down.

[2020-07-01 15:49] DavidG1011 opened #3196 "[SVT][Docs]: Broken link for installing chectl"
In our docs, under:
https://www.eclipse.org/codewind/che-installinfo.html#installing-eclipse-che-to-use-with-codewind
we have a link to install chectl:

`1. Install the chectl CLI tool. See Installing the chectl management tool.` which links to: https://www.eclipse.org/che/docs/che-7/installing-the-chectl-management-tool/ (404)

This page appears to have relocated to: https://www.eclipse.org/che/d

[2020-07-01 16:43] DavidG1011 commented on #2167
The builds seem to be a lot more stable. I haven't seen a build failure after building a few new projects. I'll continue to monitor this, but I think this issue could probably be closed for now. Thanks @hhellyer!

[2020-07-01 16:43] #2167 closed

[2020-07-01 17:24] jagraj commented on #3190
I got the fix and verified with Che 7.15.0.
@johnmcollier
Shall we move to 7.15.0 release or we can stay with 7.14.3 for 0.14.0 release and move to 7.15.x for 0.14.1 release.?

[2020-07-01 19:07] jagraj opened #3197 "SVT:Che:Failed to create ODO Java project"
**Codewind version:** 0.14.0
**OS:** RHEL, CoreOS

**Che version:** 7.15.0
**IDE extension version:** 0.14.0
**IDE version:** 7.15.0
**Kubernetes cluster:**
OCP 4.3

**Description:**
ODO Java project failed to create on Codewind hosted IDE. Here is the error that I am getting.

[code]

Logs:
[pfe.txt](https://github.com/eclipse/codewind/files/4859946/pfe.txt)
[theia.txt](https://github.com/eclipse

[2020-07-01 19:07] jagraj commented on #3197
/area iterative-dev

[2020-07-01 20:24] makandre commented on #2391
Agree we shouldn't "fix" this at the expense of losing build caching, and this should be fixed similar to https://github.com/eclipse/codewind/issues/2389#issuecomment-594183605. But with multistage build maybe it's not possible since we don't know what the old intermediate layers are.

If it's not trivial without some fix in docker itself, I'm ok to close this as a limitation.

[2020-07-02 08:30] hhellyer opened #3198 "LoadRunner unit test fails if it runs across two seconds."
**Codewind version:**
master

**Description:**
While running a build I saw this stack trace:
[code]

It looks like we create the expected folder name with `new Date()` and assume no time will pass between that and creating the results folder. If we actually tick over to the next second between those two events the test will fail.

**Steps to reproduce:**
This can be reproduced by chance or adding

[2020-07-02 08:57] hhellyer commented on #2408
Our builds are stable at the moment, I think this issue can be closed.

[2020-07-02 08:57] #2408 closed

[2020-07-02 08:59] jcockbain commented on #99
Having had a look through the code, I can't see a way in which Portal as it currently is could pass an unknown extension ID to Turbine. I'm also unable to create that scenario without modifying code. Although I'm not too familiar with the extension flow so there may be an edge case I'm missing.

As described above, the behaviour from Turbine in the case of an unrecognised project type or extension

[2020-07-02 09:12] rwalle61 commented on #3198
/assign

[2020-07-02 10:28] micgibso commented on #3189
PR approved and merged.

[2020-07-02 10:28] #3189 closed

[2020-07-02 10:34] micgibso commented on #3154
Documented comprehensively here so removing docs label.

[2020-07-02 17:56] elsony commented on #3190
Is this problem fixed by Che 7.15.0 at all? Based on https://github.com/eclipse/codewind/issues/3190#issuecomment-651920038, it looks like the fix is on Codewind VSCode extension. Do we need to update to Che 7.15.0 to get this fixed?  Also, it sounds like the nature of the problem is failing to create a project, if we can consistently reproduce it, I don't think we should ship 0.14.0 without fixin

[2020-07-03 01:23] tetchel commented on #3190
i did my testing on che 7.15 but I expect it should be fine on 7.14.3 too.

[2020-07-06 08:07] #3196 closed

[2020-07-06 08:08] micgibso commented on #3196
Link verified as fixed.

[2020-07-06 08:54] tobespc commented on #3197
We can take a look at this one @jagraj

[2020-07-06 09:30] hhellyer commented on #3197
@tobes - There's no `master` branch here anymore: https://github.com/spring-projects/spring-petclinic/ - it's called `main` now.

[2020-07-06 09:53] hhellyer commented on #3197
I think the petclinic project is referenced here: https://github.com/eclipse/codewind-odo-extension/blob/master/templates/master-index.json but that points directly to the project.

It's the download code in `cwctl` that assumes there will always be a master branch here:
https://github.com/eclipse/codewind-installer/blob/e7926eb2a03f648bb249c64d3fa2159a2295bd21/pkg/utils/download.go#L155

Changing

[2020-07-06 14:00] #3158 closed

[2020-07-06 15:51] jagraj commented on #3190
I did my testing with 7.15.0 as well and no issues found so far.

@johnmcollier
Should we move to latest 7.15.x version for 0.14.0 release or stay with 7.14.3 version.?
We can move to 7.15.x version for 0.14.1 fixpack release. Let us know what do you think.

The actual issue is fixed with this issue and I am closing this now. Thanks Tim for the fixing this issue.

[2020-07-06 15:51] #3190 closed

[2020-07-06 16:44] sishida commented on #3102
PR merged. Closing this issue.

[2020-07-06 16:44] #3102 closed

[2020-07-07 10:05] rwalle61 commented on #2713
/pipeline Verify

[2020-07-07 10:54] hhellyer commented on #2391
Closing as this is a limitation caused by docker working as designed.

[2020-07-07 10:54] #2391 closed

[2020-07-07 11:45] jcockbain commented on #1622
/assign
/pipeline In Progress

[2020-07-07 12:44] micgibso commented on #2909
Won't make it into 0.14.0, removing from the release.

[2020-07-07 12:45] micgibso commented on #3108
Won't make it into 0.14.0, removing from the release.

[2020-07-07 13:12] micgibso commented on #2981
Won't get done for 0.14.0 so removing from release.

[2020-07-07 13:43] jagraj commented on #3153
@jopit @tetchel
As per your request, I tried to configure template source repository with my public GitHub account which is not associated with any GHE account. I configured index.json in one of private repo and the actual template source also in private repo. With this setup we can only access template source using access token or Userid and access token as password. If both index.json and templa

[2020-07-07 14:35] tetchel commented on #2647
I want to link the remaining issue https://github.com/eclipse/codewind/issues/3153 from this epic

[2020-07-07 14:41] tetchel commented on #3153
to summarize what I have seen:
|                         | GH  | GHE | GH + 2FA | GHE + 2FA |
| Access Token | ✅    | ✅     | ✅             | ✅ |
| Credentials     | ❓    | ❓     | ❌             | ❌ |

[2020-07-07 14:57] tetchel commented on #3153
This is not really a useful finding; the username and password are never checked for public repos. So you can enter any bogus username and password, or none, and public repos will still work.

[2020-07-07 17:25] j-c-berger opened #3202 "CodeReady Workspaces Quick Guide--Add a Microservice Section"
**Codewind version:**
**OS:**

**Description of the enhancement:**
Add a `developing a microservice` to the [CodeReady Workspaces](https://www.eclipse.org/codewind/codewind-crw-quick-guide.html) quick guide, so the guide entails more than installation instructions.

**Proposed solution:**
Take the `developing a microserice` section from our [other quick guides](https://www.eclipse.org/codewind/gui

[2020-07-07 17:41] #3149 closed

[2020-07-07 17:49] jagraj commented on #3005
This issue has been fixed latest chectl releases. Closing this issue now.

[2020-07-07 17:49] #3005 closed

[2020-07-08 12:34] jagraj commented on #3197
This issue has been verified with the latest release images. Thanks for the fix. Closing this issue now.

[2020-07-08 12:34] #3197 closed

[2020-07-08 16:03] #3198 closed

[2020-07-08 20:03] sujeilyfonseca commented on #3009
Thank you for working to solve this issue!

I verified this issue with the latest Codewind 0.14.0, and I no longer reproduce the problem. Besides, Travis no longer sees the problem.

[2020-07-08 20:03] #3009 closed

[2020-07-08 20:05] sujeilyfonseca commented on #3165
Thank you for working to solve this issue, @tetchel!

I verified this issue and I no longer reproduce the problem.

[2020-07-08 20:05] #3165 closed

[2020-07-08 20:49] sujeilyfonseca commented on #3164
Thank you for working to solve this issue, @james-wallis!

I verified this issue with the latest Codewind 0.14.0, and I no longer reproduce the problem.

[2020-07-08 20:49] #3164 closed

[2020-07-08 20:50] sujeilyfonseca commented on #3062
Thank you for working to solve this issue!

I verified this issue with the latest Codewind 0.14.0, and I no longer reproduce the problem.

[2020-07-08 20:50] #3062 closed

[2020-07-09 20:22] sishida commented on #3159
The update is live: https://www.eclipse.org/codewind/news14.html
Closing this issue.

[2020-07-09 20:22] #3159 closed

[2020-07-13 11:05] james-wallis opened #3204 "Investigate making Performance Dashboard standalone"
**Description of the enhancement:**

We should investigate and make changes to allow the performance dashboard to run outside of Codewind.
Steps to take:
* Create API / Socket.io documentation so users can see what they need to call
* Test without Codewind running (external project) - Need to make it work without projectID...
* Add a part in the React application to give your own addess i.e. local

[2020-07-13 11:05] james-wallis commented on #3204
/pipeline in progress
/area portal
/assign

[2020-07-13 11:07] justitsi commented on #3204
/assign

[2020-07-13 12:08] jcockbain commented on #1622
@tetchel - from what you've seen is the original problem (missing hostname) exclusive to remote projects?

With Local Codewind I get the full messages with internal docker IP address.

[2020-07-13 16:56] tetchel commented on #1622
yes

[2020-07-14 09:42] james-wallis commented on #3204
Closing due to a change in priorities.

[2020-07-14 09:42] #3204 closed

[2020-07-14 09:43] james-wallis commented on #3139
/close

[2020-07-14 09:43] #3139 closed

[2020-07-16 17:39] eharris369 opened #3206 "[Eclipse IDE] Update version for 0.14.1"
Update the versions for 0.14.1

[2020-07-20 16:22] cbandy commented on #1477
I encountered these same symptoms and followed it to what I think is a bug in PV controller: https://github.com/kubernetes/kubernetes/issues/92946

[2020-07-21 16:35] keithchong opened #3211 "[OpenAPI] Bump up version for 0.14.1"
**Codewind version:** 0.14.1

**IDE extension version:** 0.14.1
**IDE version:** VS Code and Eclipse, latest supported version

**Description:** Bump up version numbers for 0.14.1

[2020-07-21 17:50] #3211 closed

[2020-07-21 21:37] sujeilyfonseca opened #3212 "Virtual assistant to improve the experience of Codewind users"
**Codewind version:** Latest & 0.14.1
**OS:** N/A

**Description of the enhancement:**
Include a virtual assistant to improve the experience of Codewind users by providing immediate attention to their questions. The chatbot could be available in our Codewind Dev Page.

**Proposed solution:**
You can see the details of the proposed solution here: https://github.com/eclipse/codewind-docs/pull/698

/

[2020-07-23 17:59] johnmcollier opened #3213 "[Che] Codewind not downloading Cwctl or Appsody binaries after startup"
**Codewind version:** latest

**Che version:** 7.16.1
**IDE extension version:** latest
**Kubernetes cluster:** OCP 4.5

**Description:**
Codewind fails to setup the cwctl and appsody binaries after a Codewind workspace starts in Che. The Theia logs have the following error:
[code]

If I open a terminal in Theia and run `wget https://download.eclipse.org/codewind/codewind-installer/master/latest/z

[2020-07-23 18:04] tetchel commented on #3213
does it work on 7.15.x ?

[2020-07-23 18:05] tetchel commented on #3213
Connection refused to localhost:443 is really bizarre.

[2020-07-23 18:10] johnmcollier commented on #3213
Chectl is blocking install of old Che versions 😢

[2020-07-23 19:12] johnmcollier commented on #3213
[workspacedqjs0o7wu6jx2yfu.che-workspace-pod-7c7778c6cd-pt556-theia-idel02.log](https://github.com/eclipse/codewind/files/4968278/workspacedqjs0o7wu6jx2yfu.che-workspace-pod-7c7778c6cd-pt556-theia-idel02.log)

[2020-07-23 19:20] johnmcollier commented on #3213
Codewind extension logs:
[codewind-extension-logs.txt](https://github.com/eclipse/codewind/files/4968301/codewind-extension-logs.txt)

[2020-07-23 19:48] jgwest commented on #3213
I am able to reproduce this on generic Kubernetes (k3s), so not likely an OpenShift-specific configuration/networking issue.

Same message as above:
[code]

[2020-07-25 14:08] raju-valivarthi commented on #910
is this issue fixed in the latest version? I could not launch codewind 0.14.0 on windows 10 desktop.

Full Codewind log is at "c:\Users\Test\AppData\Roaming\Code\logs\20200725T093417\exthost1\IBM.codewind\codewind.log"

C:\Users\Test\.codewind\0.14.0 exists
cwctl is available at C:\Users\Test\.codewind\0.14.0\cwctl.exe
appsody 0.6.4 is available at C:\Users\Test\.codewind\0.14.0\appsody.exe
==> Ru

[2020-07-25 14:57] raju-valivarthi opened #3214 "Unable to start Codewind containers on Windows 10"
here is the error I'm getting while launching new local project in codewind.

Full Codewind log is at "c:\Users\raju4\AppData\Roaming\Code\logs\20200725T093417\exthost1\IBM.codewind\codewind.log"

C:\Users\raju4\.codewind\0.14.0 exists
cwctl is available at C:\Users\raju4\.codewind\0.14.0\cwctl.exe
appsody 0.6.4 is available at C:\Users\raju4\.codewind\0.14.0\appsody.exe
==> Run cwctl.exe --json -

[2020-07-27 12:21] jagraj commented on #910
@raju-valivarthi
Looks like Codewind can not mount volumes. When you navigate to Docker settings "File sharing" what you have in the list.?

Here is what I have on my Windows install.
![image](https://user-images.githubusercontent.com/713849/88541028-17f96400-cfe2-11ea-9e66-d80d264441b1.png)

[2020-07-27 14:13] raju-valivarthi commented on #910
@jagraj , Thank you for your reply.

I have Docker Toolbox installed on my machine.

Docker version 19.03.1, build 74b1e89e8a

![codewind error](https://user-images.githubusercontent.com/64987036/88551821-4fbbd800-cff1-11ea-9668-3cd7cd58404a.JPG)

I tried modifying shared folders options but no luck.

[2020-07-27 17:36] jagraj commented on #910
@raju-valivarthi

Just want to make sure you are not using virtualbox. Virtualbox and Docker Toolbox is for Windows 7. We do not support this install. We recommend users to use Windows 10 native Hyper-V and Docker install on top of it.

[2020-07-27 17:39] jagraj commented on #3214
@raju-valivarthi
Here is the update for this issue(https://github.com/eclipse/codewind/issues/910#issuecomment-664536880).
Let us use this issue as we closed #910 .

[2020-07-27 20:07] johnmcollier commented on #3213
https://github.com/sindresorhus/got/issues/951 and https://github.com/TooTallNate/node-agent-base/issues/35 provides some insight on what's happening here.

It looks like a change in node-agent-base is causing the issue here

[2020-07-28 16:08] raju-valivarthi commented on #3214
Thank you Jagraj for the details.

I will try enabling Hyper-V on my Windows 10 Home OS and reinstall docker.  will post the status in couple of days.

[2020-07-28 17:49] tetchel commented on #3213
Also https://github.com/TooTallNate/node-proxy-agent/issues/51, https://github.com/nodejs/node/issues/26198

[2020-07-28 17:49] tetchel commented on #3213
Worked around by locking theia version to 1.2 https://github.com/eclipse/codewind-che-plugin/pull/190

[2020-07-28 18:46] johnmcollier commented on #3213
Closing this out, fixed.

[2020-07-28 18:46] #3213 closed

[2020-07-30 16:55] james-wallis opened #3217 "[0.14.1] ODO Devfile 0.14.1 not being installed"
From Slack:
Jag:
[code]
![image](https://user-images.githubusercontent.com/17385115/88951231-9c234400-d28d-11ea-9ea2-c5a1fb814bb0.png)

Logs from John Collier:

[code]

**Fix**
I found the install extensions script is expecting the unzip'd directory to be `codewind-odo-extension-devfile-0.14.1` (`target + '-' + version`) but it's actually `codewind-odo-extension-0.14.1-devfile`.

I've recreated on

[2020-07-30 16:55] james-wallis commented on #3217
/assign

[2020-07-30 16:58] jagraj commented on #3217
/priority stopship

@james-wallis - Thank you.

[2020-07-30 19:20] jagraj commented on #3217
@james-wallis @tobespc
We had a conversation with Elson on this ODO 2.0 support, we suppose to provide two template sources one for ODO 1.x and other one for ODO 2.x. I only see one template source for ODO in the current 0.14.1 release. Once this issue is fixed then we should be able to see both.?

![image](https://user-images.githubusercontent.com/713849/88964983-18ab2800-d278-11ea-84c5-7540a174f

[2020-07-30 19:23] james-wallis commented on #3217
Yes you should see both (OpenShift and OpenShift Devfiles).

[2020-07-30 20:13] james-wallis commented on #3217
4 PRs raised for this issue. 2 for each repository of `codewind` and `codewind-odo-extension`. I am off tomorrow but I can monitor Slack in case of any issues.

Fix for the `codewind` repo was to slightly modify the installing of the extensions to use a temp directory rather than guessing what the directory name was after the unzip.

Fix for the `codewind-odo-extension` repo was to use `catalog de

[2020-07-30 20:30] DavidG1011 opened #3220 "[SVT]: odo Open Liberty and Nodejs Express Web projects failing to build in remote."
**Codewind version:** 0.14.1
**OS:** MacOS

**IDE version:** VSCode 1.47.2
**Kubernetes cluster:** OCP 4.3 (Remote)

**Description:**
Projects using the `OpenShift Devfiles NodeJS Express Web Application` and `OpenShift Devfiles Open Liberty` templates are failing to build.

From the NodeJs Express Web logs:
[code]

From the Open Liberty logs:

[code]

[2020-07-31 11:48] james-wallis commented on #3217
PRs merged @jagraj can you please verify as you raised the initial issue on Slack, thanks.

[2020-08-03 17:24] naveenkaratekid commented on #3212
So far the chatbot looks like its working properly.

As I was testing it, I did notice one small thing:
For example, if I search for “che” in the chatbot, it says that it couldn’t find anything related to che. But if I enter “eclipse che” then its able to understand that I am referring to Eclipse Che.

![image](https://user-images.githubusercontent.com/19738071/89209642-b2cae300-d58c-11ea-84b0-f1f

[2020-08-03 17:29] sujeilyfonseca commented on #3212
Thank you for testing the chatbot from the user perspective, @naveenkaratekid!

The variations in the IDE name for Eclipse Che were present in the virtual assistant. However, I noticed what caused the answer you found and fixed it.

[2020-08-03 19:11] DavidG1011 commented on #3212
Bree-Z seems effective for its purposes:

Answer common questions related to Codewind / Provide an overview and redirect people to the right place in our documentation:
<img width="336" alt="Screen Shot 2020-08-03 at 2 51 08 PM" src="https://user-images.githubusercontent.com/30476587/89217230-d21c3d00-d599-11ea-8d35-f6e9d065e1ea.png">
<img width="334" alt="Screen Shot 2020-08-03 at 2 54 04 PM" src

[2020-08-03 19:23] sujeilyfonseca commented on #3212
Thank you very much, @DavidG1011! I appreciate you sharing your experience using the chatbot.

[2020-08-04 14:48] johnmcollier commented on #3220
It appears that the odo extension is using a cached / older nodejs devfile (and I assume the same for spring):

The error: `Unable to exec command [/bin/sh -c cd ${CHE_PROJECTS_ROOT}/nodejs-web-app/app && npm install]:` is referencing `CHE_PROJECTS_ROOT`, which is not present in the current [nodejs devfile](https://github.com/odo-devfiles/registry/blob/master/devfiles/nodejs/devfile.yaml).

[2020-08-04 19:35] johnmcollier commented on #3220
FYI, it seems the issue was due to the 0.14.1 image tag not getting refreshed with James changes last week (merge build failed so it didn't get pushed up), so I restarted the build and the images got refreshed.

I can now deploy odo2 projects on Che.

@jagraj @DavidG1011 Can you verify?

[2020-08-04 19:51] jagraj opened #3223 "SVT:ODO 2 projects failed to build."
**Codewind version:** 0.14.1
**OS:** CoreOS

**Che version:** 7.16.1
**IDE extension version:**  0.14.1
**IDE version:** Theia 7.16.1
**Kubernetes cluster:** OCP 4.3.29

**Description:**
ODO 2 projects failed to build and start with the latest 0.14.1 images. Here is the failure that we are getting. ODO 1 projects building fine but not ODO 2. Please find the logs as well. ODO 2 nodejs project faile

[2020-08-04 19:54] jagraj commented on #3223
/priority stopship

[2020-08-04 20:01] naveenkaratekid commented on #3223
I can confirm this too. Running OCP 4.3 FYRE
Che 7.16.1

Here is the log file for the ODO Devfile SpringBoot

[code]
Screenshot of list of failed projects in Che
![image](https://user-images.githubusercontent.com/19738071/89339128-a49fc400-d66b-11ea-903b-b878a31b5b16.png)

[2020-08-04 20:11] johnmcollier commented on #3223
I know what’s happening here. We delivered some changes into odo that affected where we sync source code and had to update some devfiles accordingly (node seems to be fine?) (edited) The change is in master (and the soon to be 1.2.5 release), but not 1.2.4 (which the current odo extension includes)

I wonder if we re-spun 0.14.1 if it would pick it up once 1.2.5 has been synced to the openshift se

[2020-08-05 16:35] raju-valivarthi commented on #3214
I'm reinstalled Docker bye following the steps mentioned on https://docs.docker.com/docker-for-windows/install-windows-home/#install-docker-desktop-on-windows-10-home .  Code-wind containers started successfully on Windows Home.

Thank you for the guidance. we can close this issue.

[2020-08-06 12:40] jagraj commented on #3220
I tried to verify all odo projects, liberty odo project still fails and it does not build.

[2020-08-06 12:40] jagraj commented on #3220
/priority stopship

[2020-08-06 12:46] jagraj commented on #3223
With the latest ODO extension we are able to deploy ODO projects but ODO liberty project still fails. (https://github.com/eclipse/codewind/issues/3220).

This issue also fixed after running this setup script and this is missing in the docs. Here is link to it.
https://github.com/eclipse/codewind-odo-extension/blob/0.14.1-devfile/setup/setup.sh

[2020-08-06 12:46] jagraj commented on #3223
/area docs

[2020-08-06 12:49] jagraj commented on #3217
@james-wallis @elsony @johnmcollier
With the latest builds, we only see ODO 2 devfiles templates but ODO 1 projects templates missing. Are we planning to provide both the options for the users with this release.?

[2020-08-06 13:07] elsony commented on #3217
yes, we are supposed to see both odo1 and odo2 templates. @james-wallis Why would the odo1 template missing? I thought the odo1 is a different extension.

[2020-08-06 13:21] johnmcollier commented on #3220
@jagraj Can you include the logs?

[2020-08-06 13:38] johnmcollier commented on #3220
Found the cause of the issue, opened https://github.com/odo-devfiles/registry/pull/30 to resolve this.

[2020-08-06 13:55] james-wallis commented on #3217
odo1 is a different extension, it should be there.

[2020-08-06 13:57] johnmcollier commented on #3217
@jagraj It shows up fine for me on my cluster, make sure you ran the setup script for the odov1 extension too if you want to use it. https://github.com/eclipse/codewind-odo-extension/blob/master/setup/setup.sh

[2020-08-06 13:57] james-wallis commented on #3217
Given that the ODO2 templates are now being installed this issue is complete.

[2020-08-06 13:57] #3217 closed

[2020-08-06 14:09] johnmcollier commented on #3220
While my registry PR did fix the OL issues on the odo side, they're still not working on the codewind side. It seems it's not pulling down the right sample project?

This is because the odo extension doesn't honor the `sparseCheckoutDir` field in the [OL devfile](https://github.com/odo-devfiles/registry/blob/master/devfiles/java-openliberty/devfile.yaml). So instead of checking out `/templates/def

[2020-08-06 14:09] johnmcollier commented on #3220
Tagging this as a Portal issue since it'll require a fix to either Codewind or the odo extension.

[2020-08-06 16:46] james-wallis commented on #3220
So `cwctl` does the git clone of the project and doesn't support cloning a repository using a directory underneath that as the project source code, it'd be an enhancement to support this feature.

For 0.14.1 we can just blacklist the open-liberty template or any that have the sparseCheckoutDir field? Or we could supply our own git repository to clone from?
@johnmcollier what do you think about hav

[2020-08-06 17:56] AndyRWatson commented on #3223
@johnmcollier can you please provide the doc changes required for @sishida . Thx

[2020-08-06 18:11] sishida commented on #3223
I have created this PR but was unsure if it's exactly what we wanted for the doc update: https://github.com/eclipse/codewind-docs/pull/700/files

[2020-08-07 07:10] tobespc commented on #3220
Any enhancement right now we should be very careful with.  However, if we black list it there may not be another release for a while and so we would be adding a permanent restriction.

@james-wallis what do you think the sizing would be to add support ?

[2020-08-07 09:11] james-wallis commented on #3220
Spoke to @tobespc this morning, for this release I'll make the extension ignore any `devfiles` with the `sparseCheckoutDir` field as it cannot be supported by `cwctl` at this time.

If we want to add support for it, we can do it in another release.

[2020-08-07 13:29] james-wallis commented on #3220
PRs accepted into the repository.
/assign
/pipeline verify

[2020-08-07 14:55] #3214 closed

[2020-08-07 17:41] jagraj opened #3224 "SVT: Error loading ODO extension in the PFE log."
**Codewind version:** 0.14.1
**OS:** CoreOS

**Che version:** 7.16.1
**IDE extension version:** 0.14.1
**IDE version:** 7.16.1
**Kubernetes cluster:**
OCP 4.3.29

**Description:**
We can not see both ODO 2 and ODO 1 templates in the Template source manager list. Here is the error we are seeing in PFE log.

![image](https://user-images.githubusercontent.com/713849/89673034-ab207c80-d8b3-11ea-90c6-d

[2020-08-07 17:42] jagraj commented on #3224
/priority stopship
/area portal

[2020-08-07 20:35] james-wallis commented on #3224
Any chance you could send the complete template list as well?

The image shows that the OpenShift 1 templates should be there but nothing about OpenShift 2. Conversely the logs show OpenShift 2 should be OK but OpenShift 1 has a problem.

[2020-08-10 01:47] jagraj commented on #3224
Hi James,

Here is the screenshot with list of ODO 2 projects. Let me know this is the list you are looking for.?

<img width="685" alt="image" src="https://user-images.githubusercontent.com/713849/89746605-a3fe9780-da88-11ea-83f9-3dd236821e54.png">

[2020-08-10 09:39] james-wallis commented on #3224
@elsony @johnmcollier In the current release of ODO have the old templates been removed and replaced with the devfile ones? (With experimental turned off)

@jagraj The error your showing in your logs indicates that the ODO output is changed and the templates cannot be parsed (Or for some reason the ODO command failed).

If the templates have changed I think we just need to change the PFE Jenkinsfi

[2020-08-10 15:18] james-wallis commented on #3224
So the output of `odo catalog list components -o json` has been changed. instead of returning an `items` object it now returns an `s2iItems` object - content looks the same so I'll push up a change to modify the name.

[2020-08-10 16:33] james-wallis commented on #3224
With the change above in master I see the correct templates:
![image](https://user-images.githubusercontent.com/17385115/89806891-9f40ee80-db2f-11ea-8ad5-b9d3a7fe79b4.png)

[2020-08-10 16:49] james-wallis commented on #3224
0.14.1 pr raised.

[2020-08-11 08:40] NikCanvin commented on #3223
looks like this change got merged, see : https://ibm-cloud.slack.com/archives/C016K9T9A85/p1596808580136100?thread_ts=1596806918.131400&cid=C016K9T9A85

[2020-08-11 13:33] james-wallis commented on #3220
/pipeline in progress

After speaking to @tobespc and Andy it was decided that we should support Open Liberty. I'm enhancing PFE and the ODO Devfile extension to add the `sparseCheckoutDir` onto the project directory inside the project inf so file-watcher uses that path to build.

[2020-08-11 15:36] AndyRWatson commented on #3220
@james-wallis do you have an outlook ?   When we discussed yesterday it could be a couple of day ?

[2020-08-11 15:41] james-wallis commented on #3220
At the moment it's looking like it should be code complete by tomorrow midday.

[2020-08-11 19:07] jagraj commented on #3224
This issue has been resolved, thanks for the fix. Now I can see both the templates in the source repository.

[2020-08-11 19:07] #3224 closed

[2020-08-12 11:04] james-wallis commented on #3220
Have had issues with the development cluster I was using today - it was taking 5 minutes to do the initial codewind setup and not building the test project. I've switched cluster but I won't make the midday target.

Issues I'm having:
* Refactoring the method turbine uses to work out the projectName as the Open Liberty project will have the child directory `default`. At the moment every project I

[2020-08-12 13:02] james-wallis commented on #3220
Using the changes in the PR linked, I've been able to create an ODO Devfile Open Liberty project and run it (can be accessed and state changes to `started`).

I haven't been able to test:
* Using an IDE (mine wasn't playing nice with the dev environment)
* On Che but I expect it should be the same

[2020-08-12 17:46] #3212 closed

[2020-08-12 21:53] jagraj commented on #3220
My ODO Open liberty project built successfully on Che.

![image](https://user-images.githubusercontent.com/713849/90072032-ae0cda00-dcc4-11ea-94bd-8ba6ecfdf895.png)

[2020-08-13 07:54] #3223 closed

[2020-08-13 08:34] james-wallis commented on #3220
/pipeline verify

[2020-08-13 14:49] DavidG1011 commented on #3220
All odo projects are now building fine in remote:
<img width="487" alt="Screen Shot 2020-08-13 at 10 30 47 AM" src="https://user-images.githubusercontent.com/30476587/90149241-47360200-dd52-11ea-8e28-57aac603b441.png">

I think this can be closed. Thank you to everyone for your hard work!

[2020-08-13 14:49] #3220 closed

[2020-08-18 12:23] #3192 closed

[2020-08-18 12:23] james-wallis commented on #3121
/close

[2020-08-18 12:24] #3121 closed

[2020-09-08 14:27] bellds opened #3229 "How do I set environment variable values in developer runtime?"
**Background**
I asked this question via [Stackoverflow](https://stackoverflow.com/questions/63782947/when-developing-with-codewind-how-do-i-set-environment-variable-values-in-devel) and cross posting because the base README.md says to post questions here.

**Question**
Codewind has the notation of a Linked Project that lets a person define an environment variable which will hold the host name of

[2020-09-28 11:13] AndyRWatson opened #3232 "Update plugin names for Open API Tools"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Following email correspondance with eclipse focundation,   The naming of the OpenAPI tools does not meet Eclipse Foundation Guidelines

[code]

We should look to update the OpenAPI tools in the marketplace to

- Update plugin name to meet the recommendation "OpenAP

[2020-09-28 14:36] MelHopper commented on #3232
Is it possible, whilst updating the OpenAPI references in the content as part of this defect, to also fix the following small-change defect in the install instructions, described below? This applies to all the files that need updating with the new OpenAPI product name:

https://github.com/eclipse/codewind-openapi-eclipse
https://marketplace.visualstudio.com/items?itemName=IBM.codewind-openapi-tool

[2020-10-01 16:28] waynebeaton commented on #3232
Note that if this is the product of the Eclipse project (i.e. it doesn't contain any extra intellectual property developed outside of the scope of the open source project), then you can (and should) call it "Eclipse Codewind OpenAPI Tools".

Trademark management is all about avoiding confusion. As long as Eclipse content is associated with the Eclipse trademark, we're good-to-go.

We still need th

[2020-10-07 15:55] AndyRWatson commented on #3232
Thanks for the clarification @waynebeaton ,  I guess there has been some confusion here when the  plugins are infact 100% part of the eclipse foundation project and not 3rd party enhancement.   We should ensure the plugins have Eclipse Codewind at the start of the name along with the TM attribution you require.

[2020-10-09 13:41] AndyRWatson commented on #3232
@waynebeaton would you be happy with "Eclipse Codewind tool for OpenAPI" or maybe "Eclipse Codewind extension for OpenAPI".     through our discussion we also realise we need to attribute the OpenAPI trademark as well .   The tool extends Codewind IDE to be able to call out to an OpenAPI generator from within the IDE.

[2020-10-09 14:38] waynebeaton commented on #3232
Both sound fine to me. Please do note, however, that I am unfamiliar with the OpenAPI trademark usage guidelines (in my experience, the "... for xyz" is a commonly permitted pattern).

[2020-10-12 17:06] sishida commented on #3232
Based on this comment, https://github.com/eclipse/codewind/issues/3232#issuecomment-706220177, I have made this PR: https://github.com/eclipse/codewind-docs/pull/715

[2020-10-15 13:18] YannRosemaRWS opened #3234 "goroutine error at cwctl start in VS code on Ubuntu WSL"
**Codewind version: 0.14.1**
**OS: Ubuntu 20.04 WSL on Windows 10 build 19041.572**

**Che version:**
**IDE extension version: 0.14.1**
**IDE version: VS code 1.50.1**
**Kubernetes cluster:**

**Description:**
[code]

**Steps to reproduce:**
Clean install of Ubuntu 20.04 WSL from the windows store.
Start VS code in de WSL (`code .`).
Download the Codewind extension. (wait for installation to compl

[2020-10-20 20:50] sishida commented on #3232
Updated website with "TM" and new name: https://www.eclipse.org/codewind/

[2020-10-28 07:02] prashant1diwase opened #3235 "Script install.sh has issue"
Script available at https://github.com/eclipse/codewind-operator -b 0.14.1
$ cd deploy
$ ./install.sh codewind -n <instanceName> -u <registeredUsername>  has issue.

It fails with the reason below

bash install.sh codewind -n codewind-instance-kgsyrdae51v2-fer97b482 -u xxxx_xxxxxx

-----------------------
New Codewind deployment
-----------------------
Have you remembered to set up 'xxxx_xxxxxx' i

[2020-11-01 19:21] haf-tech opened #3236 "Codewind (VSCode): Importing existing project with non-existing master branch failed"
**Codewind version:** 0.14.1
**OS:** OpenShift Cluster, CodeReady Workspaces
[code]

**Che version:** 7.18.3-SNAPSHOT
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OpenShift 4.5

CodeReady Workspaces About:
[code]

**Description:**
Importing an existing project with Codewind failed.

The project is a git project with "main" and not "master" as the default branch. "master" doe

[2020-12-17 09:11] MultiStorm commented on #551
What was the solution to this problem?
I have exactly the same difficulties!

[2020-12-17 09:13] MultiStorm commented on #550
What was the solution to this problem?
I have exactly the same difficulties!

[2021-05-19 15:11] #2770 closed

[2021-05-19 15:12] #2684 closed

[2021-05-19 15:12] #2061 closed

[2021-05-19 15:14] tetchel commented on #2061
@james-wallis did you fix this? I don't see a PR linked. :stuck_out_tongue_winking_eye:

[2022-06-01 16:23] samskiter opened #3317 "(VSCode Codewind OpenAPI extension) Support intellisense from generated code"
**Description of the enhancement:**
It looks like the OpenAPI VSCode extension can generate a server stub or client implementation - it doesn't, however, look like VSCode's intellisense understands the link between the generated code and the definition (openapi definition file) https://github.com/eclipse/codewind-openapi-vscode

**Proposed solution:**
It would be amazing if the links mentioned cou

[2022-06-04 09:32] haf-tech commented on #3236
Not relevant anymore.

[2022-06-04 09:32] #3236 closed, assigned to nobody

[2022-08-30 20:24] Usaama256 opened #3322 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `codewind-node-profiler`
- Extension Version: `0.9.0`
- OS Version: `Linux x64 5.13.0-52-generic`
- VS Code version: `1.70.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///tmp/IBM.codewind-node-profiler-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-ext