[2020-01-13 11:20] markcor11 commented on #1598
/assign @markcor11

[2020-01-13 11:32] rwalle61 commented on #1315
https://github.com/eclipse/codewind-vscode/pull/317 completed this work

[2020-01-13 11:32] #1315 closed

[2020-01-13 11:39] rwalle61 opened #1716 "Unskip PFE API tests that involve projects on PR builds"
**Codewind version:** Latest

The PFE API tests that involve projects are important to test, but they are skipped:
![image](https://user-images.githubusercontent.com/18170169/72253282-1abdda00-35f9-11ea-9527-c14bc95b669e.png)

See a typical PR build in Jenkins https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-1714/1/console

In order of simplicity, the tests to unskip/add are:
- [x]

[2020-01-13 11:39] rwalle61 commented on #1716
/label area/portal

[2020-01-13 11:39] rwalle61 commented on #1716
/assign

[2020-01-13 13:20] sujeilyfonseca opened #1718 "SVT: [Che] Codewind for Eclipse Che cannot be accessed using a Google Chrome browser"
**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Codewind for Eclipse Che cannot be accessed using a Google Chrome browser, although it must be a compatible platform. I can successfully access Codewind using another browser (i.e., Mozilla Firefox).

*Google Chrome:*
<img width="1576" alt="Screen

[2020-01-13 13:33] james-wallis commented on #1673
/assign

[2020-01-13 13:36] james-wallis commented on #1673
Conducted some more research for this. There is no good way for this to work as Github requires the `docs` directory to be in the top level directory whereas for the Docker build step requires it to be within the `PFE` directory in `src`.

Therefore the best fix will be to add a step into the `mocha.sh` script in `test/` to copy the `docs` directory before each test run.

PR raised: https://github

[2020-01-13 13:55] eharris369 commented on #1709
The message is cleaned up now but it still won't start in debug mode.

![image](https://user-images.githubusercontent.com/9484320/72261095-323d9880-35e2-11ea-98b6-b4f1d1b76172.png)

The app.log has the following at the end:

+ nodemon@2.0.2
updated 1 package in 3.999s
[33m[nodemon] 2.0.2[39m
[33m[nodemon] to restart at any time, enter `rs`[39m
[33m[nodemon] watching dir(s): *.*[39m
[33m[nod

[2020-01-13 14:06] sghung commented on #1690
I reset my codewind environment again (cleared all the projects). I cannot reproduce the scenario despite being able to on Friday. I am using the same home network that I had hit the problem originally with. I had hoped to investigate the theory that the pom.xml isn't available at the time the `appsody run` was called, but I cannot verify.

@jagraj in your error scenario above, if you call a build

[2020-01-13 14:08] travis1111 commented on #512
Thanks all!

We will use  https://www.markdownguide.org/basic-syntax/

[2020-01-13 14:12] eharris369 commented on #155
Some comments/questions:
- I am not sure we should replace the Eclipse standard run and debug icons
- I don't see a disconnect icon
- What are the LocalProjectFail and LocalProjectSuccessful icons for? Currently we show the project type icon next to a project.

[2020-01-13 14:23] jgwest commented on #1509
/pipeline in progress

[2020-01-13 14:28] james-wallis commented on #1660
The PR for this has just been merged, @eharris369 can you verify and close please.

[2020-01-13 15:09] tetchel commented on #1709
There is no more `debug` script in our node template since late october [commit](https://github.com/codewind-resources/nodeExpressTemplate/commit/4f934e4ced9957d4a33e6692ca1ae19c065817cb#diff-b9cfc7f2cdf78a7f4b91a753d10865a2). Is it possible this has been broken since then? 😖

[2020-01-13 15:10] eharris369 opened #1722 "Global menu item for new codewind project does not work"
The global menu item for new codewind project is not working - getting NPE:

[code]

[2020-01-13 15:13] tetchel commented on #1697
Message is fixed as per Erin in #1709

[2020-01-13 15:13] #1697 closed

[2020-01-13 15:14] tetchel commented on #1718
looks like we have to open a che issue. The browser's console may have some helpful output

[2020-01-13 15:24] jgwest commented on #844
/priority hot

[2020-01-13 15:24] mmulholl commented on #1703
actually Kotlin does not have an issue, just AppsodyEclipseMicroprofile.

[2020-01-13 15:57] sghung commented on #1703
Assigning to myself since I believe it is closely related to #1690, which I am investigating right now

[2020-01-13 15:57] tobespc commented on #1709
will fix the template asap

[2020-01-13 15:59] sghung commented on #1254
Action plan:
- Put performance test case into an automated test repo
- No need to create the auto tests yet
- Test the difference in performance time between 0.5.0 and 0.8.0
- Test how long republish takes for appsody, open issue against them if needed

[2020-01-13 16:00] johnmcollier commented on #1718
Yes, @tetchel is correct.

For any Che issues, please open an issue in our repo, as well as a corresponding issue in the Che repo.

[2020-01-13 16:05] thisguy-1 commented on #155
**If it is standard to eclipse then dont change it. If this debug is particular to codewind then we should.**

**We don't have one. We just use a toggle i've included it here**
![toggle pill off](https://user-images.githubusercontent.com/52169824/72271129-5609da00-35f4-11ea-8ee5-c6381e0eef35.png)
![toggle pill](https://user-images.githubusercontent.com/52169824/72271130-5609da00-35f4-11ea-8fc6-8a5

[2020-01-13 16:07] sghung commented on #1401
TODO: draft up the content for ID to pick up. TBD by Sarah as to where this content will be placed.

Remember to add note to not check this into a repository. May want to put example of what an env.properties file looks like.

[2020-01-13 16:19] MelHopper commented on #1106
Changes commited via PR https://github.com/eclipse/codewind-docs/pull/287

[2020-01-13 16:20] sghung commented on #1653
Closing since Travis gave Michael the instructions

[2020-01-13 16:23] thisguy-1 commented on #155
<img width="465" alt="Screen Shot 2020-01-13 at 11 23 22 AM" src="https://user-images.githubusercontent.com/52169824/72272737-214b5200-35f7-11ea-9de6-0ff6a2d40c85.png">

[2020-01-13 16:29] elsony commented on #1073
Turbine work for item #1 has been completed.

[2020-01-13 16:31] sujeilyfonseca commented on #1718
Thanks, @tetchel and @johnmcollier!

**Google Chrome Version:** Latest - 79.0.3945.117 (Official Build) (64-bit)
**Console Error:**

<img width="1280" alt="Screen Shot 2020-01-13 at 11 27 33 AM" src="https://user-images.githubusercontent.com/49531960/72273084-bc442c00-35f7-11ea-849f-a6bcb1f26d94.png">

[2020-01-13 16:33] makandre opened #1723 "Error thrown by mkdir /codewind-workspace/cw-temp/<project>"
**Codewind version:** 0.8.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I see this error in Codewind log if I create a project using the same name as I project that had already been removed from Codewind.

[code]

I believe it is thrown here: https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBin

[2020-01-13 16:34] makandre commented on #1723
@tobespc FYI

[2020-01-13 16:37] malincoln commented on #1073
@elsony do we already have someone assigned from IDE to complete step 2?  Are they using same issue or separate one?

[2020-01-13 16:43] jopit commented on #1316
It's now broken in a different way.

When codewind is running in docker-desktop minikube, the local version of cwctl detects this, and reports a strange version is started
[code]
and so the IDEs think codewind needs to be upgraded

![image](https://user-images.githubusercontent.com/29612372/72273355-3674b080-35f8-11ea-9def-25f0b8e8d750.png)

[2020-01-13 16:46] elsony commented on #1073
I had a meeting with them last Fri. to talk about the design. I assume @eharris369  will be working on the Eclipse side, @tetchel will be working on the VSCode side and using this item to track the work on the IDE side as well. @jopit Can you confirm?

[2020-01-13 17:02] eharris369 commented on #1709
This is working now.

[2020-01-13 17:02] #1709 closed

[2020-01-13 17:13] eharris369 commented on #732
/pipeline verify

[2020-01-13 17:17] elsony commented on #1073
It turns out we also need https://github.com/eclipse/codewind/pull/1728 which is currently waiting for review from portal.

[2020-01-13 17:19] johnmcollier commented on #1665
Even with the 0.8.0 devfile (with newest images and plugins), I can still reproduce. @markcor11 FYI, are you able to reproduce on 0.8.0?

[2020-01-13 17:28] makandre commented on #1401
Draft doc: @sishida

### Defining Environment Variables for Appsody Projects

To define environment variables that would take effect in an appsody application:

1.  Create a file named `env.properties` in the root of the appsody project
2. Define your envirnoment variables in this file using standard properties format, i.e. one `name=value` entry per line
3. If autobuild is enabled, Codewind will

[2020-01-13 17:34] eharris369 commented on #1722
Fixed by: https://github.com/eclipse/codewind-eclipse/pull/513 (master), https://github.com/eclipse/codewind-eclipse/pull/515 (0.8.0)

[2020-01-13 17:34] #1722 closed

[2020-01-13 17:41] johnmcollier opened #1730 "Minor nit: Inconsistent usage of "Container Registry Manager" and "Image Registry Manager""
I've noticed that we're using both "Image Registry Manager" and "Container Registry Manager" in the VS Code extension to refer to the same UI:
<img width="567" alt="Screen Shot 2020-01-13 at 12 39 13 PM" src="https://user-images.githubusercontent.com/6880023/72278347-d2ef8080-3601-11ea-910a-d9b3361c8336.png">

<img width="1287" alt="Screen Shot 2020-01-13 at 12 40 12 PM" src="https://user-images.g

[2020-01-13 17:57] sghung commented on #1690
**Update:**
I can consistently re-create this issue and get the error shown at the end of the comment. If I stop codewind and start it up, then start eclipse + codewind, and for the first appsody microprofile it will always hit the error.

 **Observations:**
- I can't reproduce this on vscode
- After the first creation in Eclipse, future appsody microprofile works fine
- If I republish the failing

[2020-01-13 18:11] eharris369 commented on #1660
Verified that this is working now.

[2020-01-13 18:11] #1660 closed

[2020-01-13 18:15] eharris369 opened #1731 "In browser dialog for debugging node.js it shows `&Web browser` for the label"
In the browser dialog for debugging node.js it shows `&Web browser` for the label. The problem is it is using Text instead of Label which it should not need to do since there is an entry field right after it.

[2020-01-13 18:26] johnmcollier commented on #1675
@jagraj I've updated the docs for this issue, can you try the instructions from https://github.com/eclipse/codewind-docs/blob/0.8.0/docs/_documentations/mdt-che-odo-support.md and verify? Thanks!

[2020-01-13 18:34] mmulholl opened #1732 "SVT : Eclipse : Mac : Pop-up to say project has a start issue appears too soon."
**Codewind version:** 0.8.0 lates
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**  Eclipse IDE for Enterprise Java Developers. Version: 2019-09 R (4.13.0). Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**

The popup which comes up when a project is slow to start comes up too soon. I haven't yet managed to create an AppsodySpringKotlin project doesn't get

[2020-01-13 18:38] keithchong commented on #1127
Closing. Delivered for 0.8.0.

[2020-01-13 18:38] #1127 closed

[2020-01-13 18:42] keithchong opened #1733 "OpenAPI: Make use of Open Liberty Library to improve usability for JAX-RS spec server-based development"
**Codewind version:** 0.8.0

**IDE:** Both VS Code and Eclipse, but this Issue will be for VS Code
**Description:**  With the update to the 4.2.2 generator, we can make use of the Open Liberty library that is provided by the jaxrs-spec generator. This will provide a better cohesive usability experience for post code-gen development.   Liberty scans for the OpenAPI document in the META-INF folder,

[2020-01-13 18:54] yangcao77 commented on #1732
Our current ping timeout for Appsody project is 3 mins, but looks like it’s still not long enough.
I can increase the timeout for Appsody to fix this issue.

[2020-01-13 18:54] yangcao77 commented on #1732
/assign

[2020-01-13 18:59] jopit opened #1734 "0.8.0: cwctl install remote pulls images tagged 'latest'"
Using the 0.8.0 version of cwctl, I installed a remote codewind on an OpenShift cluster.  When I examine which image was installed for pfe, kubectl reports it is 'latest'
[code]

Note that the 0.8.0 version of cwctl reports it's own version as `x.x.dev` -- this needs to be updated as well.

[2020-01-13 19:04] jgwest opened #1735 "Allow use of cwctl sectoken/seckeyring commands if there is no system keyring (and/or add an 'insecure keyring mode' environment variable)"
On a Linux system I am using, I've been unable to connect to a remote Codewind install, due to the following message from Codewind Eclipse during remote connect:

[code]

This is likely a configuration issue specific to the Linux system I am using (so no need for y'all to try to reproduce), but, in general it may be beneficial to:
- support a keyring-less system
- perhaps only supporting it behind

[2020-01-13 19:10] jopit commented on #979
Implemented via commit https://github.com/eclipse/codewind-intellij/commit/0bed9f6a594ebf34dc3bad05059e926ddfffc5d5

[2020-01-13 19:10] #979 closed

[2020-01-13 19:12] jopit commented on #988
Added via commit https://github.com/eclipse/codewind-intellij/commit/0d5cdfc64f878697d04a65ebd472fd3484adb6ff

[2020-01-13 19:12] #988 closed

[2020-01-13 19:18] jgwest commented on #1735
BTW it's not an IDE issue specific issue, I've also seen it from VSCode... thought I'd paste the exception I get there for reference:
[code]

[2020-01-13 19:19] mmulholl commented on #1732
Based on my observations the project usually starts within 30-60 seconds of the pop-up appearing.

[2020-01-13 19:20] johnmcollier commented on #1735
I've hit this in two separate scenarios:
- My RHEL 7.x dev VM
- The Theia container in Che

I think this might be a useful thing to have, especially for systems where it's not possible / easy to setup a keyring.

Slightly related: My other big concern right now is that our docs don't even highlight that a keyring is needed for cwctl

[2020-01-13 19:24] markcor11 commented on #1665
Jenkins still shows that the 0.8.0 branch has not completed and stuck for 2+ days :
![image](https://user-images.githubusercontent.com/28102564/72285062-48774300-363a-11ea-9076-72b76d09a8e0.png)

[2020-01-13 19:28] jopit commented on #732
In the project overview page, when the application endpoint is not available, the text `Not Available` still has a white background.  Otherwise it all looks good

![image](https://user-images.githubusercontent.com/29612372/72285387-fff75f80-3610-11ea-91fd-ba18fa8e0318.png)

[2020-01-13 19:40] johnmcollier commented on #1734
To avoid having to fix this each release, it'd be nice if we could somehow integrate this into the CLIs build so that it's automatic, based on the release branch it's on.

[2020-01-13 19:57] tetchel commented on #1665
A cwctl build went through at 14:18 our time, so this should be fixed in 0.8 now.

[2020-01-13 20:00] tetchel commented on #1732
It's hard to guess at the timeout for appsody "builds" because they have to pull so much down, it will depend heavily on the network conditions.

[2020-01-13 20:05] malincoln commented on #1734
@tobespc ^^^

[2020-01-13 20:09] rajivnathan commented on #1732
Agree with Tim. We're increasing to 5 mins just to decrease the likelihood of hitting it further.

[2020-01-13 20:19] johnmcollier commented on #1665
Verified fixed on the 0.8.0 devfile.

[2020-01-13 20:19] #1665 closed

[2020-01-13 20:34] rajivnathan commented on #1732
@mmulholl Stephanie's fixes are in both master and 0.8.0 now. Can you please verify?

[2020-01-13 20:36] sujeilyfonseca opened #1739 "SVT: Unknown error during cwctl start prevents Codewind from starting"
**Codewind version:** 0.8.0
**OS:** VM with Windows 10

**IDE extension version:** 0.8.0
**IDE version:** 1.41.1

**Description:** Unknown error during cwctl start prevents Codewind from starting. Eventually, error handling code deletes the docker-compose.yaml.

[code]

<img width="384" alt="Screen Shot 2020-01-13 at 3 27 45 PM" src="https://user-images.githubusercontent.com/49531960/72289872-0343

[2020-01-13 21:17] eharris369 commented on #1731
Fixed:
- https://github.com/eclipse/codewind-eclipse/pull/518 (master)
- https://github.com/eclipse/codewind-eclipse/pull/519 (0.8.0)

[2020-01-13 21:17] #1731 closed

[2020-01-13 23:00] jagraj opened #1740 "SVT:Websphere liberty default project fails to start on codewind che"
**Codewind version:** 0.8.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.8.0
**IDE version:** 7.5.1
**Kubernetes cluster:**
 OCP 4.2

**Description:**
Websphere liberty default project fails to start on Codewind che. The status says "Starting" all the time. Some times build fails too and then I have to restart the build.  Here I am posting screenshots and logs for this issue

[2020-01-13 23:00] jagraj commented on #1740
/priority stopship

[2020-01-13 23:05] tetchel commented on #1739
does `docker-compose --help` from a cmd/powershell work?

what if you run `cwctl.exe --json start -t 0.8.0` from cmd/powershell instead?

wondering if it is a PATH issue.

in any case, cwctl should probably be able to output a better error than `exit status 1`

[2020-01-13 23:10] tetchel commented on #1739
I see also that:
[code]

but that file doesn't exist. Perhaps cwctl should fail at that step, then. It's also interesting that that path contains both kinds of separators (`\` and `/`).

[2020-01-13 23:27] tetchel commented on #1711
![image](https://user-images.githubusercontent.com/8888438/72300630-52954380-3632-11ea-8d73-5391a96312c7.png)

[2020-01-13 23:32] tetchel opened #1741 "Node template contains unused files"
Since the node template was cleaned up (https://github.com/codewind-resources/nodeExpressTemplate/commit/4f934e4ced9957d4a33e6692ca1ae19c065817cb, https://github.com/codewind-resources/nodeExpressTemplate/commit/d9ccf923e68435a8de533399a97ae9e2ca5abd7f) a number of files appear to be unused.

[code]

I also personally think the `test/` directory with "examples" could be removed.

[2020-01-14 08:51] liamchampton commented on #1739
/assign

[2020-01-14 08:59] tobespc commented on #1734
this is supposed to be done as part of the dcut process, I'll do it now

[2020-01-14 09:21] stalleyj commented on #1569
@maysunfaisal I didn't mean how did you measure the time, rather what exactly are you measuring ? 30 seconds from file save to what exactly ???

[2020-01-14 09:26] stalleyj commented on #1706
Fixed https://github.com/eclipse/codewind/pull/1715

[2020-01-14 09:29] stalleyj commented on #1501
This has been implemented.

[2020-01-14 09:29] #1501 closed

[2020-01-14 09:34] #454 closed

[2020-01-14 09:34] tobespc commented on #454
verified

[2020-01-14 09:36] tobespc commented on #1058
this is the standard way of doing this, closing

[2020-01-14 09:36] #1058 closed

[2020-01-14 09:38] tobespc commented on #1735
we should doc this as a pre req to have keychain on mac, credential store on windows and 'secret service' on linux

[2020-01-14 09:40] tobespc commented on #1740
I updated the liberty template yesterday to move to microprofile 3.2

[2020-01-14 09:50] #1570 closed

[2020-01-14 09:50] #1281 closed

[2020-01-14 09:51] tobespc commented on #1029
closing as unable to recreate.  Will reopen should this happen again

[2020-01-14 09:51] #1029 closed

[2020-01-14 09:56] stalleyj commented on #1475
@jcockbain I can verify that the problem is fixed but the error message doesn't make sense - "Non empty project at given path". I would suggest this is updated to "Non empty directory provided", can you push a change into https://github.com/eclipse/codewind-installer/pull/317/files ?

[2020-01-14 10:30] liamchampton commented on #1739
After having a look at this, we hard code the compose filepath to be `homeDir + "/.codewind/docker-compose.yaml"`.  We should change this to use `path/filepath` to make this an OS agnostic filepath as it seems this does not work on Windows. Should look something like this:
[code]

[2020-01-14 10:33] tobespc commented on #1740
I've reverted the template and this fixes this issue.  I will work on a separate issue to re update it

[2020-01-14 10:35] jcockbain commented on #1475
I agree, change pushed

[2020-01-14 10:37] mattcolegate commented on #1739
Seems to be a weird debug string in debug output caused by https://github.com/eclipse/codewind-installer/commit/9e29dd05073f74990bb6bd8c9055d910bdc8bb9a#diff-e4d6dec85a05773800e99ed74bdf3c2dL46

`==> created file C:\Users\MattColegate\Desktop\GitRepos\mattcolegate\codewind/C:\Users\MattColegate/.codewind/docker-compose.yaml`

Otherwise it's working ok on my Windows 10 box so far - going to try usi

[2020-01-14 10:38] tobespc commented on #1395
re opening as codewind is not able to build new template

[2020-01-14 10:38] tobespc commented on #1740
https://github.com/eclipse/codewind/issues/1395

[2020-01-14 10:41] micgibso commented on #1585
Duplicate topic removed, topic move superseded by help restructure. Closing...

[2020-01-14 10:41] #1585 closed

[2020-01-14 11:38] liamchampton opened #1742 "Node profiling not working"
**Codewind version:** latest
**OS:** macOs Catalina

**Description:**
When running load against a node project, the data is captured _correctly_ but it is stored in the PFE pod. It isn't copied to the host and therefore the profiler doesn't work as expected

**Steps to reproduce:**
1) Create a node project
2) Open performance dash and run load
3) exec into the PFE pod and type `find . | profiling.

[2020-01-14 11:38] liamchampton commented on #1742
/area-portal

[2020-01-14 11:57] mattcolegate commented on #1739
/assign
/pipeline in progress

Unable to recreate locally, but have logged onto the remote box and determined that the issue is being caused during `docker compose up` - the CLI deletes the docker-compose.yaml if a problem is detected there, so that's why it can't be found. Will debug on target system.

[2020-01-14 12:16] malincoln commented on #1734
@josephca do we need to update the release process for this?

[2020-01-14 13:23] liamchampton opened #1743 "Java profiling not working"
**Codewind version:** latest
**OS:** mcOS Catalina

**Description:**
Java profiling is not producing the profiling.hdc file when load is run against a project

**Steps to reproduce:**
1) Start Codewind and create a java websphere project
2) Open the performance dashboard and run load against the project
3) No profiling data is created

[2020-01-14 13:25] liamchampton commented on #1743
/area portal

[2020-01-14 13:27] liamchampton commented on #1742
/area portal

[2020-01-14 14:33] #1711 closed

[2020-01-14 14:35] #1706 closed

[2020-01-14 14:37] #823 closed

[2020-01-14 14:37] #1730 closed

[2020-01-14 14:38] MelHopper opened #1744 "Overview topic: Add url to Templates overview when it is created"
Currently, we do not have a suitable topic to link to when describing Codewind's pre-supplied project templates.

Creation of Template overview topic is in plan for 0.8 or 0.9.

Add a link to the new Template overview topic to:
1. the 'Access to pre-configured, containerized project templates' bullet point description
2. The subheading content "What pre-configured containerized projects does Codew

[2020-01-14 14:45] sujeilyfonseca commented on #1621
I have tested this scenario with Codewind 0.8.0 and Eclipse Che 7.5.1, and Codewind still creates the registry even when creation is canceled using the `ESC` key:

<img width="1428" alt="Screen Shot 2020-01-14 at 9 42 34 AM" src="https://user-images.githubusercontent.com/49531960/72353534-39cc7280-36b2-11ea-8fdc-db3d1015901b.png">

If a user creates a registry with a namespace and then deletes it,

[2020-01-14 14:48] tetchel commented on #1621
hmm. It works as it should on VS Code but I will have to test Che again.

That's a separate issue https://github.com/eclipse/codewind/issues/1440

[2020-01-14 14:52] rwalle61 commented on #1716
/area portal
/pipeline In Progress

[2020-01-14 15:03] sujeilyfonseca opened #1746 "SVT: [VS Code] Codewind allows creating default/standard projects without having an Image Registry, which eventually leads to a build failure"
**Codewind version:** 0.8.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.8.0
**IDE version:** 1.41.1

**Description:** Codewind allows creating default/standard projects without having an Image Registry, which eventually leads to a build failure. We must inform the user that he/she needs to define an Image Registry. The current error message indicates that the user needs to verify t

[2020-01-14 15:03] sujeilyfonseca commented on #1746
/priority hot

[2020-01-14 15:15] micgibso commented on #1586
ID to revisit post 0.8.0 release

[2020-01-14 15:15] micgibso commented on #1587
ID to revisit post 0.8.0 release

[2020-01-14 15:23] mattcolegate commented on #1739
I altered cwctl to spit out docker-compose's sysout and syserr when it detects an error having run docker compose - this is what it told me:
[code]

I've seen the 'one usage' errors before when docker fails to bring down a container cleanly on Windows - it leaves open processes behind that keep the sockets open, then when we try to re-use these sockets it can't do it. I've fixed it before by resta

[2020-01-14 15:27] makandre commented on #1399
Summary of design meeting with @elsony @jgwest @sghung on Jan 13:

- `refPaths` config should not be in `.cw-settings`, will put in separate `.cw-refpaths.json` file, contents will be:

[code]

- `refPaths` takes precedence over physical file in the project, this means:
   - `cwctl sync` should always process `refPaths` to ensure the precedence is maintained (therefore no need for a separate `--re

[2020-01-14 15:36] liamchampton commented on #1743
Didnt run load for long enough. Closing as it does create the .hcd file when load is run for a minimum of 60 seconds.

[2020-01-14 15:36] #1743 closed

[2020-01-14 15:37] mattcolegate commented on #1739
Restarting the computer successfully solved the problem.

[code]

I will be adding the docker-compose sysout & syserr to the output from the CLI when such an error occurs in future as this would have sped up diagnosis.

In summation, problem lies with Docker processes keeping sockets open after problems stopping a container. Rebooting the system fixes the problem.

[2020-01-14 15:38] mattcolegate commented on #1739
/pipeline verify

[2020-01-14 15:49] jcockbain commented on #784
Trying to get this done now (to language=javascript), changing the field [here](https://github.com/kabanero-io/codewind-templates/blob/master/devfiles/index.json#L29) changes it for projects created from templates, and changing the what's set in cwctl does so for projects from local.

The projects are then building successfully, as its buildType mainly that matters internally. However, we do have

[2020-01-14 15:54] mattcolegate opened #1747 "CWCTL: safely output sysout/err when erroring in --json mode"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

**Proposed solution:**

During diagnosis of https://github.com/eclipse/codewind/issues/1739, the problem was traced to an error coming from a `docker-compose up` command at https://github.com/eclipse/codewind-installer/blob/fa14385754888d4cec5162

[2020-01-14 15:59] GeekArthur commented on #1477
Currently I don't see this issue, we can reopen this if we hit this issue again.

[2020-01-14 16:00] stalleyj commented on #1558
@jopit I can't seem to recreate this problem any longer. I installed the 0.6.1 plugin and once everything was up and running I installed a 0.8.0 version and everything seemed to work as expected. Is there something I'm doing differently ?  I thought I understood the issues of the difference in image names and changes around docker compose but can't get it to fail.

[2020-01-14 16:08] malincoln commented on #1079
@tobespc I'm removing 0.7.0 release.  Pls update once you know the target release.  Thanks

[2020-01-14 16:08] malincoln commented on #971
@tobespc I'm removing 0.7.0 release.  Pls update once you know the target release.  Thanks

[2020-01-14 16:08] malincoln commented on #1361
@tobespc I'm removing 0.7.0 release.  Pls update once you know the target release.  Thanks

[2020-01-14 16:21] sujeilyfonseca commented on #1739
Thank you very much for working to solve this problem, @liamchampton and @mattcolegate!

I verified this issue on 01/14/2019. I still see the strange path:
`environment structure written to C:\Users\Administrator/.codewind/docker-compose.yaml`

However, I can now start Codewind successfully. I consider it would be good to fix the strange path so that it is consistent with the operating system form

[2020-01-14 16:28] eharris369 commented on #732
Looks fine on Windows so must be MAC specific.

[2020-01-14 16:33] jagraj commented on #1732
I and Martin had a conversation on this issue, these apps are just created from templates and they are small. If we have bigger applications and those applications might take more time to build and run. If the user is on very slow network and it takes lot of time to pull the image and build the application. I think we need to handle better these timeouts. We do not want to look bad with this messa

[2020-01-14 16:35] jopit commented on #1558
Did you delete the ~/.codewind folder before installing 0.6.1 to ensure there is no docker-compose.yaml file?

[2020-01-14 16:35] tetchel opened #1748 "Use image tag instead of package.json version for cwctl copy-out dirname"
so in the dev scenario, it's `latest` instead of eg. `0.8.0` but in prod it is still `0.8.0`

[2020-01-14 16:46] jcockbain commented on #1452
/assign

[2020-01-14 16:57] johnmcollier commented on #1718
@sujeilyfonseca I'm unable to reproduce on Chrome on Che 7.5.1

Can you try reinstalling? And could you also verify which Che version is installed, by going to the Che dashboard and looking at the bottom:
<img width="1680" alt="Screen Shot 2020-01-14 at 11 56 53 AM" src="https://user-images.githubusercontent.com/6880023/72364751-ff200580-36c4-11ea-9dac-12368bd50f89.png">

[2020-01-14 17:12] yangcao77 commented on #1732
Yes. We have already had the value in `.cw-settings` to let user specify their own timeout.

[2020-01-14 17:50] tetchel commented on #1746
It works for me:
![image](https://user-images.githubusercontent.com/8888438/72368607-69887400-36cc-11ea-93a4-43a341a651f5.png)

did you, by any chance, previously have an image registry on that install, and then delete it?

[2020-01-14 18:22] #1300 closed

[2020-01-14 18:29] sujeilyfonseca commented on #1746
I have verified this problem again. Everything works as expected with a new Codewind installation and remote connection. However, you will see the error above:

- If the remote connection existed previously and contained a push registry, and both were deleted from Codewind, but the same remote connection is used in another installation.
- If a push registry is deleted in the current installation a

[2020-01-14 18:31] tetchel commented on #1746
ok makes sense. this is a symptom of https://github.com/eclipse/codewind/issues/1440

[2020-01-14 18:46] johnmcollier commented on #1732
Oops, didn't mean to close the issue!

[2020-01-14 18:48] rajivnathan commented on #1732
Discussed this in the iterative-dev meeting today. @tetchel @eharris369 if we create a troubleshooting doc for this can we add links to the message dialog that will take users to that page?

[2020-01-14 18:52] tetchel commented on #1491
Can we put this into 0.8?

[2020-01-14 18:59] rajivnathan commented on #1746
@sujeilyfonseca can you please update the detailed steps to reproduce for both of the scenarios you mentioned in comment https://github.com/eclipse/codewind/issues/1746#issuecomment-574309918?

[2020-01-14 19:06] eharris369 commented on #1732
A link can be added in Eclipse. The page would have to be generic as this dialog is used for any app status detailed message where notify is true and there does not appear to be a message key in there:
[code]

[2020-01-14 19:07] patricktiu opened #1749 "adding existing project with jpeg or png files fails to copy into codewind-data folder"
**Codewind version:** 0.7.0
**OS:** macox
**vscode version:** 1.41.0

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Adding existing project from codewind dashbroad in vscode with codewind extension fails to copy all the jpeg or png files into the `~/codewind-data` folder

**Steps to reproduce:**
1. mkdir ~/projects
2. cd ~/projects
3. git cl

[2020-01-14 19:08] tetchel commented on #1732
I could pop up a button to open a page but wouldn't know how to associate that appDetailStatus with that docpage, if that makes sense (other than doing a string comparison)

[2020-01-14 19:10] johnmcollier commented on #1598
Removing the iterative dev label since the Portal squad is driving this.

Also removing the tech-topics label since we no longer need one ;)

[2020-01-14 19:11] jagraj commented on #1749
@sghung @makandre
I have been working with Patrick on this problem this morning. We found during debugging from the browser where partial image has been rendered into browser. Making this as stopship for 0.8.0 release.

[2020-01-14 19:12] jagraj commented on #1749
/priority stopship
/area appsody

[2020-01-14 19:13] maysunfaisal commented on #1062
Docker pull down the cache to an another path other than the app dir and see if it resolves.

if it does, then the entrypoint rm -rf is the issue, since entrypoint might collide with when we're doing docker cp

[2020-01-14 19:19] elsony commented on #812
@makandre Is it possible that particular appsody project has more than one exposed port number defined? If the app happens to have more than one port exposed, the ping port needs to be specified on the cw-settings file.

[2020-01-14 19:21] makandre commented on #1749
Looking into it now... something's up with the project sync...

[2020-01-14 19:22] mmulholl commented on #1732
I no longer see the pop-up for Appsody Spring Kotlin projects.

However, running a test I have which creates all basic project types back to back without waiting for a build to start will see the pop-up for at least 3 or maybe 5 of the project types as they slowly start. Creating them 1 at a time and waiting for them to run as the only project in codewind sees no such pop-ups.

[2020-01-14 19:28] #158 closed

[2020-01-14 19:34] makandre commented on #1749
We're hitting a `413 payload too large` on the upload API, so the larger image binaries are being skipped.

![image](https://user-images.githubusercontent.com/17596240/72375898-f20e1100-36da-11ea-9d8f-f18ce2e72db0.png)

[2020-01-14 19:35] makandre commented on #1749
/portal

[2020-01-14 19:38] johnmcollier opened #1750 "Deploying Codewind from the Che Plugin Registry fails"
If we add Codewind to the Che plugin registry, the deployment of Codewind from there fails as we're unable to retrieve any pods on this line: https://github.com/eclipse/codewind-che-plugin/blob/e3b6a5bd1ca48700ad19edf1234152dff0adeb61/codewind-che-sidecar/src/deploy-pfe/pkg/che/che.go#L86

The solution is to remove the label selector for `che.original_name=che-workspace-pod`, as it's not applicabl

[2020-01-14 19:39] johnmcollier commented on #1750
Adding to the 0.9.0 release

[2020-01-14 19:41] sujeilyfonseca commented on #1746
@rajivnathan, I've updated the detailed steps to reproduce the problem.

Note: I only used Codewind for VS Code.

[2020-01-14 19:46] makandre commented on #812
It's been a while since I was in that code, but appsody extension does return  a single default application port to Turbine, and I recall Turbine will find a matching exposed port on the container and use it as the port to ping.

Also I think this issue is not limited to just appsody projects, but it's possible appsody projects hit it more often because appsody projects typically takes longer to s

[2020-01-14 19:57] makandre commented on #1749
Also, binary files are increasing in size (contributing to hitting the payload limit).  This I suspect is because the sync/upload code is marshalling/unmarshalling the contents to `json`?

- https://github.com/eclipse/codewind-installer/blob/master/pkg/project/sync.go#L157
- https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L178

[2020-01-14 20:03] #1733 closed

[2020-01-14 20:05] tetchel commented on #1424
I opened a theia issue https://github.com/eclipse-theia/theia/issues/6886 so hopefully they can reproduce and look into this.

[2020-01-14 20:05] #1424 closed

[2020-01-14 20:15] makandre opened #1751 "cwctl project sync errors should be passed back to IDE"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

When user modifies a file in IDE, `cwctl project sync` is called by `filewatcherd` to sync changes to PFE.  But if an error occurs, it is not passed back to IDE (the output won't even be in the Codewind log, since the command is not called by IDE

[2020-01-14 20:18] jgwest commented on #1751
Adding area tags for all the components that would be affected by this.

[2020-01-14 20:24] #1615 closed

[2020-01-14 20:50] sghung commented on #1690
I tried to re-direct the contents of the directory to a .log file. But I couldn't reproduce the problem anymore. It might have affected the timing. Basically in the appsody extension, I log `ls -la` and also log `pom.xml` so we can be sure what is there. I will keep trying to reproduce with this extra debugging.

[2020-01-14 20:54] tetchel opened #1752 "Portal should cache 'capabilitiesReady' into the project.inf"
As part of #1073 it will save the IDEs a lot of work if we cache that capabilities are ready for this project when we receive the `projectCapabilitiesReady` event.

Please add a new field `capabilitiesReady` (boolean) to our project objects (so that it'll be returned by `GET /projects`), then in the block that Stephanie added in https://github.com/eclipse/codewind/pull/1727, set it to `true`. Then

[2020-01-14 20:54] tetchel commented on #1073
Blocked by https://github.com/eclipse/codewind/issues/1752

[2020-01-14 21:18] jopit commented on #1752
Note that we'd like to get a fix for #1073 in for 0.8.0, and so obviously would like this change in 0.8.0.

[2020-01-14 21:24] GeekArthur commented on #748
Both Len's metrics https://github.com/eclipse/codewind/issues/1115#issuecomment-558209478 and reply from odo folks can prove that no big difference among different image streams. We check our ping logic, there is no problem. With the latest odo CLI, the performance is improved, sometimes the delay is due to environment issue (cluster VMs maintenance), I don't think we can do more given the investi

[2020-01-14 21:24] #748 closed

[2020-01-14 22:11] keithchong opened #1753 "A new source directory in an Appsody Liberty project is not compiled in Codewind"
**Codewind version:** 0.8.0
**OS:** Mac

**IDE extension version:** VS Code or Eclipse 0.8.0
**IDE version:** VS Code 1.41.1 or Eclipse 2019.03 or later
**Kubernetes cluster:** Local

**Description:**
An entire, newly created source directory in an Appsody Open Liberty project is not compiled in Codewind - The .class files are missing in the app container.  I reproduced this using an Appsody Open

[2020-01-14 22:26] jgwest commented on #1753
Under 'Another synchronization problem', Keith notes another issue he has seen with renaming java classes, where the source of the rename operation is never removed. I have intermittently seen this as well, with non-Appsody Microprofile projects.

[2020-01-15 09:06] tobespc commented on #1749
its the http upload limit that causes this issue, not sync.  Will need to look at maybe multi part uploads/compression

[2020-01-15 09:22] stalleyj commented on #1753
/assign

[2020-01-15 10:29] tobespc commented on #1749
increasing the limit fixes the file sync, however I now have a new issue as a result whereby .jpg and .png files are almost doubling in size after the copy

[2020-01-15 11:36] micgibso opened #1756 "VS Code content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the VS Code section of the landing page on the master branch. The new section comprises three topics:
- Installing Codewind for VS Code
- Creating your first project
- Making a code change

**Proposed solution:**
Edit these topics so the information flows, is grammatically correct, and conforms to standards.

[2020-01-15 11:39] micgibso opened #1757 "Eclipse content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the Eclipse section of the landing page on the master branch. The new section comprises three topics:

- Installing Codewind for Eclipse
- Creating your first project
- Making a code change

**Proposed solution:**
Edit these topics so the information flows, is grammatically correct, and conforms to standards.

[2020-01-15 11:46] micgibso opened #1758 "Eclipse Che content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the Eclipse Che section of the landing page on the master branch. The new section comprises twelve topics:

- Installing Codewind for Eclipse Che
- Adding registries in Che
- Creating the Codewind workspace
- Setup to use Tekton Pipelines
- Set Docker registries
- Using Codewind in Theia
- OpenShift Do (odo) support in Codewind
- Docke

[2020-01-15 11:54] micgibso opened #1760 "Local to remote development content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the Local to remote section of the landing page on the master branch. The new section comprises six topics:

- Overview
- Deploying all-in-one
- Deploying components individually
- Connecting VS Code to a remote deployment
- Connection Eclipse to a remote deployment
- Remove a remote deployment

**Proposed solution:**
Edit these topics

[2020-01-15 11:58] micgibso opened #1761 "Templates content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the Templates section of the landing page on the master branch. The new section comprises one topic.

**Proposed solution:**
Edit this topic so the information flows, is grammatically correct, and conforms to standards.

[2020-01-15 12:01] micgibso opened #1762 "Developing projects content on Docs Landing Page"
**Description of the enhancement:**
Enhance the new content of the Developing projects section of the landing page on the master branch. The new section currently comprises two topics:

- Importing existing projects
- Build logs

**Proposed solution:**
Edit this topic so the information flows, is grammatically correct, and conforms to standards.

[2020-01-15 12:05] micgibso opened #1763 "Performance monitoring content on Docs Landing Page"
Description of the enhancement:
Enhance the new content of the Performance monitoring section of the landing page on the master branch. The new section currently comprises two topics:

- Application metrics
- Performance

Proposed solution:
Edit this topic so the information flows, is grammatically correct, and conforms to standards.

[2020-01-15 12:07] micgibso opened #1764 "Troubleshooting proposal"
Description of the enhancement:
Think of new ways of surfacing the Troubleshooting information.

[2020-01-15 12:30] malincoln commented on #1734
@jopit pls verify and close.  Thanks

[2020-01-15 13:01] #1467 closed

[2020-01-15 13:20] stalleyj commented on #1558
Yes, I did delete the .codewind directory and started with a completely clean environment.

[2020-01-15 13:26] liamchampton commented on #1741
/assign

[2020-01-15 13:31] sishida commented on #1603
Clarification for the word "Liberty" added with these PRs:
1️⃣ Edits to master branch: https://github.com/eclipse/codewind-docs/pull/283
2️⃣ Edits to 0.8.0 release branch: https://github.com/eclipse/codewind-docs/pull/291

[2020-01-15 13:57] jgwest opened #1765 "Invalid characters for Spring Boot and Microprofile template in New Codewind Wizard on Windows Eclipse"
**Codewind version:** Latest
**OS:** Windows

**Description:**

In Eclipse, but ONLY on Windows, I see the following under the New Codewind Project wizard.

![image](https://user-images.githubusercontent.com/7594762/72439239-89737280-3774-11ea-9684-15e59cb3c75c.png)

The extra symbols after Spring Boot and Microprofile are a trademark symbol on other platforms, so presumably on Windows these are b

[2020-01-15 14:00] stalleyj commented on #1753
I've checked that the source is getting to the right place so I think it must an appsody issue that it is not being compiled. @jgwest @keithchong Can you raise other synchronisation problems separately please.

[2020-01-15 14:08] j-c-berger commented on #1756
@micgibso and/or @sishida, please assign me--thanks.

[2020-01-15 14:08] j-c-berger commented on #1757
@micgibso and/or @sishida, please assign me--thanks.

[2020-01-15 14:08] j-c-berger commented on #1762
@micgibso and/or @sishida, please assign me--thanks.

[2020-01-15 14:09] jagraj commented on #1044
I do not see this problem now.

[2020-01-15 14:09] #1044 closed

[2020-01-15 14:16] jagraj commented on #1248
I do not see this problem now.

[2020-01-15 14:16] #1248 closed

[2020-01-15 14:25] mmulholl commented on #1414
Closing, all is good now.

[2020-01-15 14:25] #1414 closed

[2020-01-15 14:45] tetchel commented on #1707
@naveenkaratekid Should be fixed now

[2020-01-15 14:46] jgwest opened #1766 "[Filewatcherd] Replace Jetty WebSocket library with OkHttp WebSocket library in Eclipse/Java filewatcherd"
As seen on https://github.com/eclipse/codewind/issues/1647, there exist possible Eclipse configurations that can cause issues with the current Jetty WebSocket dependency. While 1647 was closed, it would not surprise me if others intermittently encounter this in the future.

The Jetty WebSocket library is (unfortunately) using the JavaSE ServiceLoader class, which is generally problematic on OSGi d

[2020-01-15 15:15] #1748 closed

[2020-01-15 15:25] naveenkaratekid commented on #1707
@tetchel verified that it's fixed. Closing the issue now.

[2020-01-15 15:25] #1707 closed

[2020-01-15 15:35] jopit commented on #1734
Verified

[2020-01-15 15:35] #1734 closed

[2020-01-15 15:38] jagraj commented on #1508
This has been verified on latest 0.8.0 release. Thanks for the fix.

[2020-01-15 15:38] #1508 closed

[2020-01-15 15:59] hhellyer commented on #1741
@tetchel - I'm pretty sure that manifest.yml isn't used, it was Bluemix related. As for the others, a quick search of the codebase shows `src/pfe/file-watcher/scripts/nodejs-container.sh` uses Dockerfile-tools so I think you should check with itereative-dev. (I'll change the label.)

[2020-01-15 16:00] tetchel commented on #1741
OK I edited that one out

[2020-01-15 16:16] malincoln commented on #1749
@patricktiu pls verify and close.  Thanks

[2020-01-15 16:18] sishida commented on #1763
We need to add step by step walkthrough instructions for injection metrics. We currently do not have this info in the existing files.

However, we currently have a feature under a minute video here: https://youtu.be/LsjmnMCuBxo

[2020-01-15 16:49] sishida commented on #1603
- Here is the issue for adding injection metrics documentation to the Codewind website: https://github.com/eclipse/codewind/issues/1763#event-2950567005.
- Here is the link to the video: https://youtu.be/LsjmnMCuBxo
- Because the video was not ready by the time we published the 0.7.0 news, and because the docs don't exist yet, I think it's best to leave the 0.7.0 news as it is. The news page is ma

[2020-01-15 16:49] #1603 closed

[2020-01-15 16:58] sujeilyfonseca opened #1768 "SVT: Codewind projects are not working"
**Codewind version:** 0.8.0
**OS:** Mac OS Mojave 10.14.6, Ubuntu 18.04, and VM with Windows 10

**IDE extension version:** 0.8.0
**IDE version:** 1.41.1

**Description:** @DavidG1011 and I noticed that Codewind projects are not working. Codewind style projects are being disabled and Appsody projects fail to start due to the following error:

`Running development environment...
[Error] The current

[2020-01-15 16:58] sujeilyfonseca commented on #1768
/priority stop ship

[2020-01-15 17:07] DavidG1011 commented on #1768
Seeing this as well with Che 7.5.1. on OKD 4.2:
![image](https://user-images.githubusercontent.com/30476587/72454797-90f44500-378f-11ea-83d5-d1dfdb3c8141.png)

[2020-01-15 17:10] tetchel commented on #1768
Post PFE logs

[2020-01-15 17:19] sujeilyfonseca commented on #1768
[codewind-pfe.txt](https://github.com/eclipse/codewind/files/4066254/codewind-pfe.txt)

[2020-01-15 17:25] makandre commented on #1768
I think we need this build of PFE: https://ci.eclipse.org/codewind/view/Codewind/job/Codewind/job/codewind/job/0.8.0/26/ to match the change that went in for `cwctl`

(It was a fix for #1749)

[2020-01-15 17:25] tetchel commented on #1768
I believe it's these errors.

[code]

Looks like some changes to the JSON stringifying/parsing went in this morning.

https://github.com/eclipse/codewind/pull/1754
https://github.com/eclipse/codewind-installer/pull/331

[2020-01-15 17:26] tetchel commented on #1768
i see, the Codewind build failed

[code]
I'll restart it and hope this is a timing issue, but the timeout for that test should likely be increased.

[2020-01-15 17:57] tetchel commented on #1768
The 0.8 build is green again, try now.

https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.8.0/

[2020-01-15 18:30] eharris369 commented on #1398
Fixed by: https://github.com/eclipse/codewind-eclipse/pull/525

[2020-01-15 18:30] #1398 closed

[2020-01-15 18:33] tetchel commented on #1621
Try again

[2020-01-15 18:51] sujeilyfonseca commented on #1768
I tested this problem again with the latest version, and I can confirm that it works now:

<img width="1672" alt="Screen Shot 2020-01-15 at 1 22 34 PM" src="https://user-images.githubusercontent.com/49531960/72461725-99537c80-379d-11ea-86e6-684a53894ff8.png">

<img width="1597" alt="Screen Shot 2020-01-15 at 1 49 33 PM" src="https://user-images.githubusercontent.com/49531960/72461882-e3d4f900-379d

[2020-01-15 18:51] #1768 closed

[2020-01-15 19:10] jgwest commented on #983
## How to integrate filewatcher with intellij:

#### 1) Create a new plugin in intellij. It will have contents like this:
https://github.com/jgwest/codewind-eclipse/tree/intellij-filewatcher/dev/org.eclipse.codewind.filewatchers.intellij

This plugin will contain a single class `CodewindIntelliJFilewatcherdConnection.java` (like above), whose job it is to serve as the glue between Codewind-Intelli

[2020-01-15 19:15] sujeilyfonseca opened #1769 "SVT: [Che] Application stopped unexpectedly"
**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** An error message "Application stopped unexpectedly" appears in Eclipse Che, but then the application starts and works as expected. I have seen this error with multiple projects.

<img width="1676" alt="Screen Shot 2020-01-15 at 1 25 09 PM" src="htt

[2020-01-15 19:17] johnmcollier commented on #1769
@makandre FYI ^

@sujeilyfonseca Do you only see this error with appsody projects?

[2020-01-15 19:19] sujeilyfonseca commented on #1769
/priority stopship
Marking this as "stopship" since it is a regression.

@johnmcollier - So far, I've only seen the error with Appsody projects.

[2020-01-15 19:20] johnmcollier commented on #1769
Removing the iterative-dev label I added as this seems isolated to appsody for the timebeing. Feel free to add back if that's not the case

[2020-01-15 19:26] malincoln commented on #1769
@makandre can you review?

[2020-01-15 19:32] jagraj commented on #1732
Ok, More info on this issue. What I am noticing is, we keep displaying popup for the projects we deployed with no web server in the containers and they get into "Starting" state and we can not access endpoint for these apps and we always keep displaying timeout popups. Is it possible not to run this check for these type of apps and the timeout makes sense for the apps who have actual endpoints pin

[2020-01-15 19:38] makandre commented on #1769
Suspect it is related to fix for https://github.com/eclipse/codewind/issues/1297

Likely the appsody app state going to `stopped` had always existed (perhaps because the container/pod is not active yet when Turbine pings it), but now with #1297, we are throwing an error status for that condition and hence we see it back in the editor

[2020-01-15 19:42] tetchel commented on #1769
agree with andrew that likely the status probably always flip-flopped like this - the difference is that now we are showing a notification for it.

[2020-01-15 19:50] makandre commented on #1769
/area iterative-dev

[2020-01-15 19:52] tetchel commented on #1769
This is closely related to https://github.com/eclipse/codewind/issues/1732

It may be worth not showing the notifications (maybe just for appsody projects?) until they are a bit more stable.

[2020-01-15 19:59] yangcao77 commented on #1769
Nope. It's not because of the Turbine ping timeout.
Actually the message `Application stopped unexpectedly` would only be sent to ui if we found the container state/pod state is unexpected during starting state.

For che case, we checks if the pod is `running`, or if it pod is `waiting` & reason is `ContainerCreating`. Otherwise we think the pod is stopped.

[2020-01-15 20:02] jagraj commented on #1732
For every project that I create after creating those projects with no web servers then I get all these timeout popups once. :(

![Screen Shot 2020-01-15 at 2 59 45 PM](https://user-images.githubusercontent.com/713849/72466969-f6ecc680-37a7-11ea-93d7-6758e0d116e3.png)

[2020-01-15 20:11] yangcao77 commented on #1769
Turbine use the release label `release=containerName` to look for the project pod. And if the pod status is `pending` or `running`. It will iterating through `pod.status.containerStatuses` to check the container statuses.

[2020-01-15 20:34] makandre commented on #1769
Regarding why appsody project goes to `stopped` state, here are a couple things to consider:

- when appsody project starts up, we report the app status as `starting` pretty much [right away](https://github.com/eclipse/codewind-appsody-extension/blob/master/entrypoint.sh#L124); that's because appsody projects do not need to go through a build phase to build the docker image (this behaviour has bee

[2020-01-15 20:56] makandre commented on #1769
I managed to capture this status:

[code]

The state is `waiting` and the reason is `PodInitializing`;  it looks like we are not taking that reason into account, hence the application is assumed to be `stopped`

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/utils/kubeutil.ts#L297

[2020-01-15 21:03] eharris369 opened #1771 "[Eclipse IDE] NPE in ProjectBindWizard getting the project type"
Ran into an NPE in the ProjectBindWizard at this line:

[code]

The problem is the type is pulled from the project type selection page but the user may not go to this page if they accept what is on the validation page.

[2020-01-15 21:24] makandre commented on #1769
/assign

[2020-01-15 21:26] makandre commented on #1769
PRs for 0.8.0 and master are up for review

[2020-01-15 21:30] patricktiu commented on #1749
do you have the instruction to get the latest driver?

[2020-01-15 22:00] jgwest commented on #1601
Adding area tags, feel free to remove if not applicable.

[2020-01-15 22:22] patricktiu commented on #1749
It is verified with 0.8.0 codewind.vsix driver from https://download.eclipse.org/codewind/codewind-vscode/0.8.0/latest/

[2020-01-15 22:22] #1749 closed

[2020-01-16 09:55] travis1111 commented on #1069
@sghung please assign to me :-)

[2020-01-16 09:59] travis1111 commented on #1601
we also need design input

[2020-01-16 10:44] hhellyer commented on #1054
Agreed, this sounds like it's fixed. After the `202` is sent it is no longer possible to use the `resp` object to report status as the response headers have been sent so Express throws an exception if we even try.

[2020-01-16 10:44] #1054 closed

[2020-01-16 11:06] markcor11 commented on #1373
example output :

[code]

[2020-01-16 11:22] hhellyer commented on #729
I've merged https://github.com/eclipse/codewind/pull/1721 which simply gets PFE to initialise its logging level from an env var. This is enough to enable start up logging in Kubernetes cluster by editing the deployment to add a new env var "LOG_LEVEL" with the required logging level. The PFE pod for the deployment will then be restarted and come up with the correct logging level.

It was still dif

[2020-01-16 12:26] stalleyj commented on #1752
/assign

[2020-01-16 12:32] stalleyj commented on #1752
I've created a PR against 0.8.0 https://github.com/eclipse/codewind/pull/1774

[2020-01-16 13:47] jagraj commented on #1740
This issue has been resolved after reverting the template version. Issue 1395 will address latest version. Closing this issue now. Thx for the fix.

[2020-01-16 13:47] #1740 closed

[2020-01-16 13:49] jagraj commented on #1690
I tried on my windows VM after recovering my docker issues. Out of two projects, the 2nd appsody microprofile project failed to build with the following issue.

[code]

[2020-01-16 13:49] tobespc commented on #1532
makes sense to me to version it

[2020-01-16 14:04] jagraj commented on #1373
I am also getting into this issue, when I try to install remote codewind.

[code]

[2020-01-16 14:11] malincoln commented on #1073
1752 has been merged into 0.8.0 branch.  Master branch fix in progress

[2020-01-16 14:16] travis1111 commented on #512
Was playing around with different fonts/sizes of the headings:

1. headings on https://www.markdownguide.org/basic-syntax/

![image](https://user-images.githubusercontent.com/35569780/72531765-2818d580-3840-11ea-93e1-0a0aae6b43a6.png)

2. Heading on codewind landing page (font-family: 'IBM Plex Sans', sans-serif;)

![image](https://user-images.githubusercontent.com/35569780/72531817-45e63a80-3840-

[2020-01-16 14:17] deboer-tim commented on #1667
Discussed on tech topics. Need to take into account that some remote connections may be able to 'discover' a repo, or might be restricted in which repos (or individual templates/stacks), but worthwhile to investigate as there is a usability problem today. Portal team to investigate and propose a solution.

[2020-01-16 14:21] sujeilyfonseca commented on #1718
**Google Chrome version:**
![Screen Shot 2020-01-16 at 9 13 16 AM](https://user-images.githubusercontent.com/49531960/72531934-7af28d00-3840-11ea-9563-7e6a97bfc3d2.png)
</br>
**Eclipse Che version:**
![Screen Shot 2020-01-16 at 9 12 37 AM](https://user-images.githubusercontent.com/49531960/72531931-7928c980-3840-11ea-873c-446c949ad577.png)

</br>
I verified the issue again with my existing install

[2020-01-16 14:27] deboer-tim commented on #1532
Discussed on tech topics call. We won't change the current codewind template repo, but we do need to fix this in any new templates going forward: template repo should be versioned along with each template, and these won't have the same version/release as the tools.

[2020-01-16 14:27] #1532 closed

[2020-01-16 14:29] malincoln commented on #1732
does this require an additional fix?  I see it's in Verify but should maybe be moved back to In progress?

[2020-01-16 14:41] sishida commented on #512
@travis1111 I think these look good! The ID team is trying to decide on which heading sizes we will use as we go forward, so users who look at our content should only see maybe three different heading sizes at most throughout the "docs" tab on the website. (We do appreciate the option to use all of them, though! :) )

@kimholmes Do these look good to go to you?

[2020-01-16 14:46] hhellyer commented on #1373
@jagraj - What level of cwctl are you using? Since my change I wasn't expecting to see `Expected a Pod but found: <nil>` as we should catch the case where the returned object is `nil`.

[2020-01-16 14:46] kimholmes commented on #512
These look fine, but yes, you only really need about 3 sizes.

[2020-01-16 14:50] hhellyer commented on #1373
The last two messages have exactly a minute apart, which suggests a timeout, the fix I put in should have retried on timeouts. Could you check you are using the latest cwctl? Was this on 0.8.0 or master?

[2020-01-16 14:59] cccanderson commented on #986
FIrst step - open the application on a double click: https://github.com/eclipse/codewind-intellij/pull/4

[2020-01-16 15:21] jopit commented on #983
For step 1, it should just be creating a new class in our existing IntelliJ plugin -- IntelliJ doesn't have the concept like an Eclipse feature which packages multiple bundles into a singe install unit.

[2020-01-16 15:25] travis1111 commented on #512
#2 is what we have currently

[2020-01-16 15:51] jagraj commented on #1373
I installed eclipse 0.8.0 plugin yesterday afternoon.

[code]

[2020-01-16 15:52] jagraj commented on #1373
[code]

[2020-01-16 15:58] rajivnathan commented on #1732
@jagraj I think the problem with projects without a web server is a different issue. This issue is related to the default timeout not being long enough and Stephanie's fix was to increase the default. For the issue with projects without a web server it sounds like we need a way to disable pinging for those types of projects so can you please open a separate issue for that?

[2020-01-16 16:01] tobespc opened #1776 "VSCode reconnection issues for remote connections"
To recreate

-  Create a remote connection (can be docker desktop) from VScode
- Swap your network connection from IBM to IBM Intranet
- Wait a few seconds
- Swap network back to IBM
- connection is now lost in VScode and we fail to reauthenticate

To fix on Mac, bring up the keychain and delete the most recent codewind refresh token, then stop and start the remote connection to force a login.

[2020-01-16 16:02] hhellyer commented on #729
We've now merged https://github.com/eclipse/codewind-installer/pull/336 so that log levels from PFE can be easily adjusted via cwctl.

[2020-01-16 16:02] tobespc commented on #1776
we are investigating this from a portal pov but could have a vscode view as well

[2020-01-16 16:06] makandre commented on #1732
@jagraj @rajivnathan This may cover that case: https://github.com/eclipse/codewind/issues/1269

[2020-01-16 16:06] #1337 closed

[2020-01-16 16:07] malincoln commented on #1769
@sujeilyfonseca the fix has been merged for 0.8.0.  Can you verify?

[2020-01-16 16:11] tetchel commented on #1776
Refreshing the connection doesn't fix it?

[2020-01-16 16:11] sujeilyfonseca commented on #1769
Sure, @malincoln. I will proceed to verify the issue.

[2020-01-16 16:24] rajivnathan commented on #1732
@makandre Thanks. I think that issue can be used to discuss a long term solution but the problem Jag's pointing out seems pretty bad because users keep getting popups and is new behaviour for 0.8.0 so we should probably pursue an interim fix for this.

[2020-01-16 16:25] jagraj opened #1777 "SVT: Timeout popups for server less projects in the list"
**Codewind version:** 0.8.0
**OS:** Windows/Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
We are getting timeout popups if we have projects created with no web servers. We keep getting these popups for every refresh and we did not see this problem in the previous release.

**Steps to reproduce:**
1. Install Codewind from eclipse plugin.

[2020-01-16 16:26] jagraj commented on #1777
/priority stopship

[2020-01-16 16:27] jagraj commented on #1777
For every project that I create after creating those projects with no web servers then I get all these timeout popups once. :(

![Screen Shot 2020-01-15 at 2 59 45 PM](https://user-images.githubusercontent.com/713849/72466969-f6ecc680-37a7-11ea-93d7-6758e0d116e3.png)

[2020-01-16 16:29] jagraj commented on #1732
@rajivnathan
Thanks, I opened this new issue to address for server less projects.

https://github.com/eclipse/codewind/issues/1777

[2020-01-16 16:33] sujeilyfonseca commented on #1769
I've verified this issue with the latest Codewind 0.8.0, and I no longer see the problem:

![Screen Shot 2020-01-16 at 11 33 02 AM](https://user-images.githubusercontent.com/49531960/72543592-fb6eb900-3853-11ea-846c-15a819e9a2c2.png)

[2020-01-16 16:33] malincoln commented on #1732
@mmulholl are you happy to close this issue now?

[2020-01-16 16:38] thisguy-1 commented on #1445
I'll do it!

[2020-01-16 16:40] makandre commented on #1269
Had some discussions with @elsony and @sghung on this recently so jotting down some points:

- using the -1 for the port approach, perhaps that could signal to Turbine to ping the application up to the point of determining whether the container is up and running, and not proceed any further with pinging an application endpoint

- but what should happen when we determined that the container is up a

[2020-01-16 16:42] makandre commented on #1777
#1269 has some notes and discussions on a long term solution.  But looks like we'll need an interim solution for 0.8.0

[2020-01-16 16:44] malincoln commented on #1769
@sujeilyfonseca thanks for verifying the 0.8.0 fix resolves your issue.  I'm reopening and moving back to In progress until the fix is merged into master.  Once that's done, it can be closed.

[2020-01-16 17:11] sujeilyfonseca opened #1779 "SVT: [Che] Error deleting project"
**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** An error message "Error deleting project" appears in Eclipse Che, but then the project is removed. I have seen this error with multiple projects.

![Screen Shot 2020-01-16 at 11 54 16 AM](https://user-images.githubusercontent.com/49531960/72546666-

[2020-01-16 17:11] sujeilyfonseca commented on #1779
/priority stopship
Marking this as "stopship" since it is a regression.

[2020-01-16 17:14] tetchel commented on #1779
can you post the theia container logs?

[2020-01-16 17:15] tetchel commented on #1779
[code]

[2020-01-16 17:16] tetchel commented on #1779
It looks like the errors are getting hit removing the logs directory. Using `rmdir` instead of `rm -r` ?

[2020-01-16 18:08] makandre commented on #1779
That message looks familiar; isn't it the one we get if we tried to delete the log without close the stream first? (which I thought had been fixed way back).  In any case, I just tried deleting a few projects, some of which I had logs open, and didn't encounter this message

[2020-01-16 18:15] sishida commented on #1045
Jag, John, and ID agreed to not include this issue in 0.8.0. Release to be determined.

[2020-01-16 18:16] malincoln commented on #1520
@jagraj pls verify and close.  Thanks

[2020-01-16 18:45] eharris369 opened #1782 "Remove project fails if recreate the remote connection (using cwctl project remove)"
If I have a remote connection with some projects created on it and then I delete that connection and re-create it later I cannot remove the projects.  The error message is:

Connection K5H2EUL7 not found

This is the old connection id from when I first created the connection.  The new connection id is K5H2JM8P.  The cwctl project remove command does not take a connection id, only a project id.

Up

[2020-01-16 19:00] sghung commented on #1777
TODO: open issue against appsody to add description about serverless apps, so the user is aware

[2020-01-16 19:10] tetchel opened #1783 "Codewind extension startup behaviour in Theia is funky"
It looks like the problem is that the 'readiness' takes more than the 60 second timeout to come up. Refreshing the page fixes it but the timeout message is seen on each workspace creation, at least on my cluster.

[2020-01-16 19:12] sujeilyfonseca commented on #1779
@tetchel

[che-8d97c6d4d-xpz5n.txt](https://github.com/eclipse/codewind/files/4073246/che-8d97c6d4d-xpz5n.txt)
[workspacel3sjxgfbqx5n3tp3.che-workspace-pod-5c4646cdc4-zqsnm.txt](https://github.com/eclipse/codewind/files/4073249/workspacel3sjxgfbqx5n3tp3.che-workspace-pod-5c4646cdc4-zqsnm.txt)

[code]

[2020-01-16 19:21] GeekArthur opened #1784 "[odo] Ignore odo CLI update notification"
Each time odo CLI releases new version, the odo CLI update notification messages will be displayed when executing odo CLI commands (eg. `odo push`), the update notification messages can prevent our utility functions from getting the the correct information from the odo CLI commands, so we need to ignore the update notification messages to resolve that.

Update notification messages sample:
[code]

[2020-01-16 19:30] maysunfaisal opened #1785 "Portal remote bind called during project build"
**Codewind version:** 0.8.0
**OS:** Mac

**Che version:**
**IDE extension version:** 0.8.0 Jan 16
**IDE version:**
**Kubernetes cluster:**

**Description:**
Create a Microprofile app and you will see that Portal Remote Bind is called during the build. Not sure why!

[code]

/area portal
/priority hot

[2020-01-16 19:35] eharris369 commented on #1771
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/528

[2020-01-16 19:35] #1771 closed

[2020-01-16 19:38] makandre commented on #1690
I could not readily reproduce this on VSCode (maybe once out of many attempts), but on Eclipse I do see it (I'm on Mac).  As noted by others it usually on first create of project but a manual build request resolves the problem.

FFIW, I do not see this problem with the new `java-openliberty` stack, which is meant to be the replacement for the `java-microprofile` stack

[2020-01-16 19:39] eharris369 commented on #1073
Eclipse PRs:
- 0.8.0: https://github.com/eclipse/codewind-eclipse/pull/529
- master: https://github.com/eclipse/codewind-eclipse/pull/530

[2020-01-16 19:47] eharris369 commented on #873
Fixed:
- master: https://github.com/eclipse/codewind-eclipse/pull/531
- 0.8.0: https://github.com/eclipse/codewind-eclipse/pull/532

[2020-01-16 19:47] #873 closed

[2020-01-16 19:48] makandre commented on #1690
Shelling into the appsody container in the short time before it go does, this is what I see:

[code]

I'm really wondering whether or not this is another manifestation of the single file mount issue that we encountered in #1202?  (and as noted above the `java-openliberty` stack does not have this issue; it also doesn't single file mount the `pom.xml`)

[2020-01-16 19:50] eharris369 commented on #1696
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/509

[2020-01-16 19:50] #1696 closed

[2020-01-16 19:53] eharris369 commented on #1217
PR: https://github.com/eclipse/codewind-eclipse/pull/527

[2020-01-16 19:53] sghung commented on #1703
Closing as dupe of #1690

[2020-01-16 19:53] #1703 closed

[2020-01-16 19:53] eharris369 commented on #1217
/pipeline verify

[2020-01-16 19:53] eharris369 commented on #862
PR: https://github.com/eclipse/codewind-eclipse/pull/527

[2020-01-16 19:54] eharris369 commented on #862
/pipeline verify

[2020-01-16 20:04] eharris369 commented on #773
I tried but could not get rid of the info button in dialogs and wizards.  There is a static `setDialogHelpAvailable` which will disable help on all Eclipse dialogs and wizards if false unless they explicitly call `setHelpAvailable`.  It would not be a good idea to change this.  Calling `setHelpAvailable(false)` if `setDialogHelpAvailable` is true has no effect.  The best solution is probably to ha

[2020-01-16 20:11] sishida commented on #512
@travis1111 Thanks for all your work on this! Just so I ensure I understand correctly...
1️⃣ If the team wants to make the titles bold, we just use the `<strong>` tag, correct?
2️⃣ When you say #2 is what we have currently, that is what's currently been merged to master? The 0.8.0 release branch was already branched off earlier this week, so if we want the updated headers to go out with 0.8.0, we

[2020-01-16 20:13] mmulholl commented on #1732
I think the function needs to be disabled, it is completely misleading. Create 6-8 default projects of different types, stop codewind, start codeind and you will see a bunch of pop-ups despite totally normal behavior.

[2020-01-16 20:17] sujeilyfonseca commented on #1477
/reopen
/priority stopship

**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

I'm reopening this issue and marking it as "stopship" since I have seen it several times. In each of the following scenarios, I cleaned up my cluster, uninstalled Codewind for Eclipse Che, and deployed a new workspace. After that, I crea

[2020-01-16 20:21] mmulholl commented on #1732
another possible is to change the text to just make it a information  and say it could be normal behavior when starting multiple projects at the same time or large projects. The first word you currently see is "Error".

[2020-01-16 20:25] travis1111 commented on #512
1. No. The `<strong>` tag I mentioned was to respond to this comment:

https://github.com/eclipse/codewind/issues/512#issuecomment-530967273

2. No. we are currently using markdown defaults.  No changes have been made  (except I will make `<strong>` bolder.  But this is irrelevant to the headings.

[2020-01-16 20:26] travis1111 commented on #512
@johnmcollier please take a look of https://github.com/eclipse/codewind/issues/512#issuecomment-575170584

thanks!

[2020-01-16 20:29] travis1111 opened #1786 "Add search to landing page docs"
We used to have search on mc site, we may want to have search function back on codewind site.

[2020-01-16 20:36] malincoln commented on #1477
@GeekArthur ^^^ this was reopened.  I'll move it to new pipeline for now.

[2020-01-16 20:37] malincoln commented on #1777
@sghung will we get the fix from Appsody in time to get this included in 0.8.0?

[2020-01-16 20:37] rajivnathan commented on #1779
@sujeilyfonseca are you able to reproduce this issue if you close/hide all logs before deleting?

[2020-01-16 21:10] makandre commented on #1777
Re TODO: opened https://github.com/appsody/stacks/issues/602

@malincoln We discussed with iterative-dev team and the fix would be in Turbine; there's no fix in appsody extension.

[2020-01-16 21:15] malincoln commented on #1732
@yangcao77 @rajivnathan ^^^

[2020-01-16 21:28] sujeilyfonseca commented on #1779
@rajivnathan
Yes, I can reproduce the problem consistently, even when all logs are hidden.

Here are some additional examples obtained from another workspace:

<img width="1675" alt="Screen Shot 2020-01-16 at 4 27 08 PM" src="https://user-images.githubusercontent.com/49531960/72564150-27eafb00-387d-11ea-82bd-bd1e71e1c35c.png">
<img width="521" alt="Screen Shot 2020-01-16 at 4 27 44 PM" src="https:

[2020-01-16 21:43] yangcao77 commented on #1732
If you restart codewind, you should not see the pop-ups until it actually times out  during starting state. Turbine does not cache or save the application state/error messages.
I'm wondering what else might cause the issue you've been seeing.

[2020-01-16 21:45] GeekArthur commented on #1477
We discuss this in today's iterative-dev status meeting, and we think it's not stopship issue because of the following reasons:
- Regular odo project deletion works fine, the issue only happens on user deletes the workspace without deleting odo project
- The issue is intermittent not consistent
- User can easily re-create the PV if user hit this issue

@jagraj Please verify this on your non-NFS st

[2020-01-16 22:01] makandre commented on #1690
I removed all the `m2e` components from my Eclipse install, and after that, I do not run into this problem any longer.

This strongly suggest to me that we are seeing something very similar to what I noted here https://github.com/eclipse/codewind/issues/1202#issuecomment-557596131

Basically:

- the `pom.xml` is a single mounted file, (which is a practice appsody is moving away from since finding

[2020-01-16 22:25] jgwest commented on #1251
Howard has added a `cwctl loglevels` command that does the above:  https://github.com/eclipse/codewind-installer/pull/336

[2020-01-16 22:26] johnmcollier commented on #512
IMO, #1 and #3 (keeping in mind #2 is what we have right now), Heading levels 2 and 3 are still too similar and hard to distinguish. What about @jgwest's suggestion on adding an underline to `h2`?

[2020-01-16 22:32] johnmcollier commented on #512
If you view the docs' markdown files in Github, all 3 heading sizes are nicely distinct, and having underlines under them helps
<img width="903" alt="Screen Shot 2020-01-16 at 5 28 50 PM" src="https://user-images.githubusercontent.com/6880023/72568292-cf6c2b80-3885-11ea-99e1-543850d9977d.png">

[2020-01-16 22:33] mmulholl commented on #1732
I am assuming if you restart codewind several projects are starting at the same team resulting in them generally taking longer to start which results in the message popup occurring more often. The point is some take more than the timeout to start.

[2020-01-16 22:42] GeekArthur commented on #1784
Verified, close the issue.

[2020-01-16 22:42] #1784 closed

[2020-01-16 22:52] GeekArthur opened #1787 "[odo] Make odo setup script fully support all platforms"
odo setup script uses `sed` to replace service account dynamically, however `sed` behaves differently between Mac and Linux, we should make the setup script more robust and let it fully support all platforms (eg. Mac and Linux).

[2020-01-16 22:54] tetchel commented on #1752
looks good on 0.8, still need master

[2020-01-16 23:01] elsony commented on #1779
Although it is unclear to me that why Appsody project will have problems on deleting the logs folder even after the logs view has been closed.  So it is not the same log streaming problems that we have before (unless the log stream does not close properly when the log views are closed). Regardless, I agree to the earlier comment that we can do "rm -r" or even "rm -rf" instead of the rmdir since we

[2020-01-16 23:09] jgwest commented on #1217
Happy to report it is fixed! 🎉

[2020-01-16 23:09] #1217 closed

[2020-01-16 23:10] AndyRWatson opened #1788 "standardise base docker containers and templates"
**Codewind version:** 0.7
**Description of the enhancement:**

Codewind builds and distributes based on a number of different containers,  node-10-alpine, node-12-alpine and centos.   This issue is to discuss standardising where possible (or at least being consistent with node alpine versions) or whether there a other base containers we should consider using such as UBI ?

We should also consider

[2020-01-16 23:28] travis1111 commented on #512
what about this

![image](https://user-images.githubusercontent.com/35569780/72571542-e6168080-388d-11ea-8585-844a145f1774.png)

[2020-01-16 23:42] GeekArthur commented on #1779
I did a quick glance for initial investigation, actually when we remove log dir, the call the generic `deleteFolder` function here: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/logHelper.ts#L224, then `deleteFolder` function will do recursive deletion to delete files in the dir one by one then delete the dir https://github.com/eclipse/codewind/blob/maste

[2020-01-17 09:22] tobespc commented on #1788
We will do the investigation into UBI

[2020-01-17 10:20] tobespc commented on #193
I believe this can be closed off now, moving to verify

[2020-01-17 10:22] #968 closed

[2020-01-17 10:22] tobespc commented on #855
this is done

[2020-01-17 10:22] #855 closed

[2020-01-17 10:24] tobespc commented on #834
this is done, closing

[2020-01-17 10:24] #834 closed

[2020-01-17 10:25] #622 closed

[2020-01-17 10:33] tobespc commented on #1032
I'm still seeing this for liberty project I just created
[code]

[2020-01-17 10:51] #1602 closed

[2020-01-17 10:54] tobespc commented on #1264
closing as dupe of #1667

[2020-01-17 10:54] #1264 closed

[2020-01-17 10:55] tobespc commented on #1667
need to split this into a number of issue

[2020-01-17 10:55] tobespc commented on #1667
possibly related to #1306

[2020-01-17 13:02] #1452 closed

[2020-01-17 13:05] jagraj commented on #1383
I do not see as of now in my 0.8 test effort and closing this now.

[2020-01-17 13:05] #1383 closed

[2020-01-17 13:08] tobespc commented on #1776
nope, even deleting the connection and recreating it doesn't work.  Might be a docker desktop issue

[2020-01-17 13:08] jagraj commented on #1675
I tried this on my RedHat machine and the scripts failed. Please move this to "In progress". I notified @jingfuwang on this issue.

[2020-01-17 13:12] jagraj commented on #1675
[code]

[2020-01-17 13:19] hhellyer commented on #729
Now we can use it I've raised a PR to add some additional logging at the debug level to PFE startup here:
https://github.com/eclipse/codewind/pull/1789

[2020-01-17 14:08] sishida commented on #1786
It'd be great to have search on the website!

The previous website, however, had significant limitations to search. For example, if I recall, if you searched for more than one word at a time, you had to enter the words in the same order as how they were listed in the keywords metadata part of the Markdown file.

It'd be ever better if we could remove some of these limitations when adding search. 😃

[2020-01-17 14:49] #1700 closed

[2020-01-17 14:54] micgibso opened #1791 "Numbered lists in markdown don't replicate in built help"
**Description:**
I have a numbered list in markdown, however when I build the help locally, the numbering defaults to 1:
![image](https://user-images.githubusercontent.com/7224752/72621420-1ebf6400-3939-11ea-894a-06522471bbb6.png)

**Workaround:**
Not ideal, but for now, remove the numbering.

[2020-01-17 14:59] tobespc opened #1792 "Node and Java profiling story for Codewind currently broken"
Since moving to the new codewind architecture, the Node and Java profilers no longer work.   Main issue is that without the volume mount, the plugins are unable to see the results of the profiling run.

The data is generated as follows -

 - Performance container triggers a load run
 - Profiling data (.hcd for example) is created in the app container

This data needs to make its way back to the lo

[2020-01-17 15:00] makandre commented on #1779
Just want to reiterate that I was not able to reproduce the problem on my 4.2 cluster on fyre (using nfs). Was this reproduced on another cluster?

[2020-01-17 15:01] elsony commented on #1779
@sujeilyfonseca does this problem only happens on Appsody projects? Do you see the same problem on Codewind style of the project?

[2020-01-17 15:04] tetchel commented on #1791
Michael, you can try this:
https://meta.stackoverflow.com/a/289013

[2020-01-17 15:05] tetchel commented on #1791
Since there's a blank line between steps, markdown treats the next step as the start of the new list, which is why it goes back to 1

[2020-01-17 15:06] elsony commented on #1777
During the iterative dev meeting, SVT has agreed that this is not a stopship but we'll still put a temporary fix on it for 0.8.0 and properly fix it on 0.9.0. It is actually correct to show the error dialog to the user.  Due to the risk for putting -1 port setting on 0.8.0 is too risky, we'll temporarily disable the timeout event for Appsody projects only (i.e. to bring it back to the same behavio

[2020-01-17 15:07] sishida commented on #512
I like how the underlining helps separate the headings from the body text. I think all sizes of headings should come with underlining. 👍

[2020-01-17 15:08] GeekArthur commented on #1675
Moved to "In progress", I opened an new issue https://github.com/eclipse/codewind/issues/1787 yesterday for making odo setup script fully support all platforms

[2020-01-17 15:09] #784 closed

[2020-01-17 15:13] keithchong opened #1795 "Autobuild is broken - 400 Bad Request output on sync"
**Codewind version:** Master (0.8.0 is fine)
**OS:** Mac

**Che version:** Local
**IDE extension version:** Eclipse latest master from download
**IDE version:** Eclipse 2019.03 or later
**Kubernetes cluster:** Local

**Description:** Autobuild is broken.  Create a MP project and make a change in application src/main/java/rest/v1/Example.java and wait --> app does not compile

Got 400 Bad Request c

[2020-01-17 15:18] jgwest commented on #1795
I saw the same thing after refreshing my environment from scratch (prune image, prune volume, delete .codewind, ensure my cwctl is up to date, get latest eclipse source as I'm self-hosting).

Java/Eclipse Filewatcher correctly detects the change and calls `cwctl project sync`, but `cwctl` only outputs `400 Bad Request` to stdout.

[2020-01-17 15:22] tobespc commented on #1795
thanks, will take a look

[2020-01-17 15:24] tobespc commented on #1782
ok thanks, will pick shortly

[2020-01-17 15:29] jopit commented on #1732
After some discussion, it's been decided the IDEs should change the title of the popup to make it more generic, since (in this case at least) it's not a real problem.  I suggest we use `Codewind notification for project xxx` instead of `A problem occurred with the xxx project`
@tetchel @eharris369

[2020-01-17 15:31] tobespc commented on #1752
will merge master in on monday

[2020-01-17 15:31] tetchel commented on #1732
I don't say notification or problem. Just `${this.projectName} - ${this.appDetail.message}`

[2020-01-17 15:34] GeekArthur commented on #1779
Both codewind project and appsody project work for me, no deletion errors for them. Below is my PFE log for project deletion:

[code]

No log dir deletion errors in the log, for appsody project I can see the error
[code]
But that doesn't affect project deletion, probably it's because appsody doesn't use ingress to expose project

[2020-01-17 15:35] liamchampton commented on #1792
Linking this ticket as it covers the node profiling issue https://github.com/eclipse/codewind/issues/1742

[2020-01-17 15:38] rwalle61 commented on #1795
I broke it with this https://github.com/eclipse/codewind/pull/1745/files#diff-b73b1946195409164e2ccc8a3b7fe79cL207

The fix is in this PR https://github.com/eclipse/codewind/pull/1790/files#diff-2210d4bf0af7416f78b3cb8692501fc3L1728

But that PR has other changes in as well so I will raise another PR with just the fix

[2020-01-17 15:38] rwalle61 commented on #1795
/assign
/in Progress

[2020-01-17 15:40] sujeilyfonseca commented on #1779
@elsony, I can reproduce the problem with Codewind-style projects, but it is less consistent:

<img width="445" alt="Screen Shot 2020-01-17 at 10 10 40 AM" src="https://user-images.githubusercontent.com/49531960/72622651-aa24ff00-3911-11ea-807f-a20a3c20a2f2.png">

[2020-01-17 15:43] GeekArthur commented on #1779
@sujeilyfonseca Can you also post the PFE log for codewind project deletion failure since currently my and @makandre's cluster can't reproduce the issue?

[2020-01-17 15:45] rwalle61 commented on #1795
/inProgress

[2020-01-17 15:50] sishida commented on #1401
@makandre Could you please review this PR and add your approval if it looks good to go? I just added some edits to the content that you originally provided. Thank you! :)

[2020-01-17 16:00] eharris369 commented on #1732
PRs to just use the project name for the dialog title:
- master: https://github.com/eclipse/codewind-eclipse/pull/533
- 0.8.0: https://github.com/eclipse/codewind-eclipse/pull/534

[2020-01-17 16:03] jopit opened #1797 "[IntelliJ] Update icons based on latest for vscode"

[2020-01-17 16:08] rwalle61 commented on #1716
/verify

[2020-01-17 16:10] rwalle61 commented on #1795
/pipeline Verify

[2020-01-17 16:14] malincoln commented on #1769
closing now that PR to master has been merged.

[2020-01-17 16:14] #1769 closed

[2020-01-17 16:28] johnmcollier commented on #1675
@GeekArthur Did you want me to assign this to you?

[2020-01-17 16:29] GeekArthur commented on #1675
@johnmcollier Thanks for reminding, I just assigned this to me

[2020-01-17 16:41] GeekArthur commented on #1675
@johnmcollier Can you help review/approve/merge this PR: https://github.com/eclipse/codewind-odo-extension/pull/50?

[2020-01-17 16:44] travis1111 commented on #512
OK, I will add to all headings, if we think it is to distracting we can remove some of them.

[2020-01-17 16:49] GeekArthur commented on #1675
@jagraj All PRs are merged, you can verify the setup script on your machine for both 0.8.0 and master.

[2020-01-17 16:56] rtaniwa commented on #1792
Curious why this is labelled an enhancement? For the other issue referenced (https://github.com/eclipse/codewind/issues/533), if we want to claim appsody wasn't supported then I think that is fine to label an enhancement. That being said, given appsody needs first class support this is a gap that needs to get closed reasonable soon. But for this issue, if our extension are currently broken for all

[2020-01-17 17:05] sujeilyfonseca commented on #1779
@GeekArthur

[codewind-workspace4uzwb8jcc8pj9jvk-7fffb7d955-qkfgz.txt](https://github.com/eclipse/codewind/files/4077844/codewind-workspace4uzwb8jcc8pj9jvk-7fffb7d955-qkfgz.txt)

[2020-01-17 17:09] tetchel commented on #1251
How's `Set Codewind Server Logging Level` as a command name (to make clear i'm not talking about the plugin's logging level)

[2020-01-17 17:15] sujeilyfonseca commented on #1739
I reopened this issue since @jagraj encountered this problem again.

[2020-01-17 17:45] johnmcollier commented on #1251
That works for me.

[2020-01-17 18:26] tetchel commented on #1251
done in vscode

[2020-01-17 18:29] sishida commented on #1758
Getting Started:
- Installing Codewind for Eclipse Che (grammar review)
- Configuring Codewind for Eclipse Che* (add new topic)
   - Adding Registries (combine existing topics of Adding Registries, Docker Registry Guidance, and Setting Docker Registries)
   - Creating the Workspace (grammar review, add paragraph about optional configurations, link)
- Creating your first project (add new topic. Ref

[2020-01-17 18:53] travis1111 commented on #1791
Yes, you have extra empty line which caused the problem

[2020-01-17 19:00] naveenkaratekid commented on #1477
When I deleted the workspace, I see that the odo project pod is running, and the PVs are bound.

[code]

[2020-01-17 19:00] jagraj commented on #1739
I got into this problem again on my windows machine. I installed latest 0.8.0 build after uninstalling my codewind plugin on Eclipse. I got into same problem when starting codewind.

[code]

[2020-01-17 19:10] jagraj commented on #1739
We are not getting enough trace information here when this is failing. We have not seen this kind of behavior in 0.7.0 release and also there are no updates to docker from past 2 months.

[2020-01-17 19:11] jagraj commented on #1739
Making this issue as "stopship"

/priority stopship

[2020-01-17 19:12] malincoln commented on #1732
moving to verify as PRs have been merged.
@mmulholl pls verify and close.  Thanks

[2020-01-17 19:15] malincoln commented on #1777
@jagraj the temp fix PR has been merged for 0.8.0.  Pls verify.
@elsony mentioned he will use same issue for proper fix in 0.9.0

[2020-01-17 19:17] malincoln commented on #1739
@mattcolegate @tobespc  ^^^ this one has been reopened.
Moving back to new

[2020-01-17 19:32] kimholmes commented on #512
Thank you @travis1111 and @sishida Using the rules does create a nice separation between the blocks of content. It might be good to use those only after the main headers but leave them off below the subheaders. I actually like to use those to differentiate blocks of content.

This isn't in regard to the fonts, I think those are looking great, but one thing that really stands out to me in that scre

[2020-01-17 19:47] liamchampton commented on #1739
There is an issue open to rectify the lack of output given by `docker-compose` https://github.com/eclipse/codewind/issues/1747

This also looks like a different issue as the log states the `HOME` envar is not set. This variable is used in `docker-compose`.

[2020-01-17 19:52] mmulholl opened #1800 "SVT : Appsody Node Red project updates ignored"
**Codewind version:**   Codewind tech preview	0.8.0.v202001161954
**OS:**. Mac, Windows

**Che version:**
**IDE extension version:**
**IDE version:** Eclispe and VSCode
**Kubernetes cluster:**

**Description:**
Modifications to the flow.json file are not picked up by codewind even after a manual re-biuld of the project. To get the changes to be picked up you need to remove and re-import the projec

[2020-01-17 20:26] jagraj commented on #1739
Thanks @liamchampton getting into web-ex and debugging this problem further in my windows machine. We both agree that trace is missing for the failure there is no way to find out root cause of this failure.

[2020-01-17 20:27] eharris369 opened #1801 "[Eclipse IDE] Add existing project to remote connection results in error from cwctl project validate"
When I try to add an existing project I get the following error from cwctl project validate:

2020/01/17 15:20:31 There was a problem retrieving extensions data
2020/01/17 15:20:31 WRITE_FILE_ERROR[203]: Hostname or port for PFE not found.

It looks like the conid is needed on the validate command after all (see https://github.com/eclipse/codewind-eclipse/pull/516).  If I add it back then everythi

[2020-01-17 21:03] mattcolegate commented on #1739
@jagraj did the issue clear once you'd restarted your Windows machine or does that workaround not work any more?

[2020-01-17 21:30] jagraj commented on #1739
@mattcolegate
I did not restart windows machine. This was not the behavior I have seen in the past releases. Couple of days back I restarted WIndows machine for Symantec Endpoint Protection install and that might have fixed the problem. I thought there was fix delivered to address this problem. Rebooting Windows machine for codewind install is not good user experience.

[2020-01-17 21:31] mmulholl opened #1804 "(metrics) SVT : Eclipse : Mac : AppsodyOpenLiberty application metrics option messed up"
**Codewind version:**  Codewind tech preview	0.8.0.v202001161954
**OS:**Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclispse
**Kubernetes cluster:**

**Description:**

application monitor selection fails first time, works the second time.

**Steps to reproduce:**
1. Create an Appsody Open Liberty app and wait for it to be runnuing.
2. Right click on the project and select "ap

[2020-01-17 22:24] mmulholl opened #1805 "SVT : Eclipse : Windows : Appsody Kitura Project doesn't start"
**Codewind version:**   Codewind tech preview	0.8.0.v202001161954
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
Appsody Kitura project do not start on Windows but they do start on Mac. This is the project logs:

Running development environment...
Pulling docker image docker.io/appsody/kitura:0.2
Running command: dock

[2020-01-17 22:31] travis1111 commented on #512
@kimholmes Thanks.  If I compare the screen shot you have with the example I pasted, you removed underline on H2, and added more top padding on H1.  Is that correct?  Are you suggesting we only add underline on H1?

Thanks

[2020-01-18 00:48] GeekArthur commented on #1779
[code]

From the @sujeilyfonseca 's log, the root cause is still files in the log dir are not fully deleted for some reasons, then subsequent log dir deletion is failed due to the log dir is not empty, given
- Only log dir deletion error has been thrown and no file (in the log dir) deletion error
- Only @sujeilyfonseca 's machine can reproduce this issue
- We use async delete to delete both files

[2020-01-19 21:54] jagraj opened #1806 "SVT:Che failed to install on ROKS 2nd time with default namespace on IBM Cloud"
**Codewind version:**  0.8.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:** 0.8.0
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**

OCP 4.2

**Description:**
I installed Codewind with default namespace "Che" using Eclipse Che 7.5.1 version on IBM Cloud using ROKS (OCP 4.3). After uninstalling che from default namespace che then I can no longer install Codewind on default che

[2020-01-19 21:55] jagraj commented on #1806
/priority hot
/area iterative-dev

[2020-01-19 23:05] jagraj opened #1807 "SVT:Che:Theia plugin is crashing intermittently on my OCP 4.2 cluster when I refresh my workspace from the browser"
**Codewind version:** 0.8.0
**OS:** CoreOS

**Che version:** 7.5.1
**IDE extension version:**  0.8.0
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**
OCP 4.2 cluster on fyre

**Description:**
Codewind workspace is getting crashed intermittently. I created my workspace on Friday and let it open and I tried to access my workspace today and error says plugin crashed unexpectedly.
If I keep refres

[2020-01-19 23:14] jagraj commented on #1807
/priority stopship

[2020-01-19 23:19] johnmcollier commented on #1806
Discussed with Jag on Friday:
- Looks to be an issue with Chectl (confirming w/ IBM Cloud storage team on Monday that it's not an issue on their end)
- Installing in namespaces other than `che` is fine
- Will open an issue on the Che side on Monday after confirming with the IBM Cloud folks

[2020-01-20 09:33] micgibso commented on #1791
@tetchel @travis1111 Thanks both, will give your suggestion a try Tim.

[2020-01-20 09:52] hhellyer commented on #729
@markcor11 - I'll talk through all the changes for this at the Tuesday playback but are you happy this can be closed now?

[2020-01-20 09:56] tobespc commented on #1804
The appsodyOpenLiberty stack has been modified to no longer pull in javametrics-dash but instead just use microprofile metrics instead.

We should only get the dashboard appearing as displayed from the performance container (which I can see is whats happeneing).   Suspect there is a mismatch in timing logic but I don't believe this to be stop ship

[2020-01-20 09:57] stalleyj commented on #1800
/assign

[2020-01-20 10:22] tobespc commented on #1739
Can we try a vanilla install of 0.8.0 to see if that works ? (might help with recreation scenario)

[2020-01-20 10:37] tobespc commented on #420
any updates ?

[2020-01-20 10:47] tobespc commented on #1465
Lets go with this solution for now.  As we move to use operators, this is likely to all change anyway

[2020-01-20 11:26] james-wallis opened #1808 "Enhance Portal Code Coverage"
**Description of the enhancement:**

Currently in Portal we have the ability to get the code coverage for our unit tests only. This gives us the appearance that our coverage is very low whereas we touch a lot of the other code though our API tests.

**Proposed solution:**

I've created a development branch which gives us the ability to:
* Run PFE using `nyc` to get information about the files that

[2020-01-20 11:26] james-wallis commented on #1808
/assign

[2020-01-20 11:52] hhellyer commented on #1491
I checked with @tobespc it's too late for this to go into 0.8.0.

[2020-01-20 12:19] malincoln commented on #1807
@johnmcollier pls review.  Thanks

[2020-01-20 12:20] malincoln commented on #1690
@sghung was there a workaround you were going to merge?

[2020-01-20 13:05] markcor11 commented on #729
Verified - Closing

[2020-01-20 13:05] #729 closed

[2020-01-20 13:16] tobespc commented on #1739
This could well be the same issue as https://github.com/eclipse/codewind/issues/1558

[2020-01-20 13:41] eharris369 opened #1809 "[Eclipse IDE] Support JavaScript as the language for node.js projects"
Support JavaScript as the language for node.js projects. Update any place that checks the language and expects node.js.

[2020-01-20 13:58] hhellyer commented on #1804
This looks like an interaction between the implementations of `openPerformanceDashboard()` and `openAppMonitorCmd()`, see:

https://github.com/eclipse/codewind-vscode/blob/0.8.0/dev/src/command/project/OpenPerfDashboard.ts#L23
and
https://github.com/eclipse/codewind-vscode/blob/0.8.0/dev/src/command/project/OpenAppMonitor.ts#L19

When `Application Monitor` is selected `openAppMonitorCmd()` is call

[2020-01-20 14:09] jcockbain commented on #1465
/assign

[2020-01-20 14:14] markcor11 commented on #420
There's a few pieces to this when project is enabled for https :

- [x] PFE: LoadRunner createCollection in project
- [ ] PFE: LoadRunner run load against project
- [x] PFE: LoadRunner recordCollection in project
- [x] PFE: LoadRunner deleteCollection in project
- [ ] PerfDash:  Handle Project metrics URLs treating both http and https as the same

[2020-01-20 14:15] stalleyj commented on #1800
Fix for 0.8.0 here https://github.com/eclipse/codewind/pull/1810

[2020-01-20 14:22] eharris369 commented on #1804
The same problem occurs in Eclipse (the issue was originally opened in Eclipse). The same person did the code changes for both VSCode and Eclipse so they have the same logic.

[2020-01-20 14:39] mmulholl commented on #1804
If the fix is complex and risky I am OK to remove stop/ship.

[2020-01-20 14:50] hhellyer commented on #1804
A menu item which should work doesn't work until the user tries a menu option which doesn't work and then tries the option that should work again.

We should fix this. ;-)

[2020-01-20 14:55] stalleyj commented on #1800
Fix for master https://github.com/eclipse/codewind/pull/1811

[2020-01-20 14:56] makandre commented on #1805
`.appsody` is a folder in the project and it's not being synced across to PFE.  Investigating...

[2020-01-20 14:57] makandre commented on #1805
/area portal

[2020-01-20 14:58] mattcolegate commented on #1739
Hadn't realized this was an upgrade issue, so with @liamchampton's help we went through several upgrades from 0.7.0 to 0.8.0 on my Win 10 laptop using installers built from the 0.7.0 and 0.8.0 branches. All upgrades completed successfully. I still believe this is an environmental issue on the test machine.
Checked versions of Docker installed on test machine and my laptop - they match.
Have raised

[2020-01-20 15:03] mattcolegate commented on #1739
Could someone with the power to please also change the Issue title - problem is not being caused by lack of a docker-compose.yaml, it's the reverse - the error handling code deletes the docker-compose.yaml: https://github.com/eclipse/codewind-installer/blob/master/pkg/utils/docker.go#L136

[2020-01-20 15:07] micgibso commented on #1791
@tetchel @travis1111 Tim, your suggestion - https://meta.stackoverflow.com/a/289013 - works like a charm, thx, closing.,..

[2020-01-20 15:07] #1791 closed

[2020-01-20 15:14] micgibso commented on #1791
![image](https://user-images.githubusercontent.com/7224752/72737455-84109080-3b97-11ea-9c8b-0ea1fbce1800.png)

[2020-01-20 15:26] rajivnathan opened #1812 "Provide users with a link to docs for help with project status problems"
**Description of the enhancement:**

As part of https://github.com/eclipse/codewind/issues/1732 we discussed creating a troubleshooting doc for project status issues (eg. Why is my app stuck in starting state?). It would also be good to include a link to this doc from the IDEs in some cases. (eg. when the project status timeout has exceeded)

May need to consolidate with existing docs. For example

[2020-01-20 15:35] stalleyj commented on #1752
Fix for master https://github.com/eclipse/codewind/pull/1813

[2020-01-20 15:43] makandre commented on #1805
It appears to be related to https://github.com/eclipse/codewind-installer/pull/317 and associated changes in the IDEs; this is affecting master branch only I believe.

In 317 the project validation part of the `project create` command is split out into a separate `project validate` command.  But I don't see the IDEs calling `project validate` when creating an appsody project.  Without project vali

[2020-01-20 15:52] johnmcollier commented on #1807
@jagraj Can you try the following things to see if it reduces how much Theia crashes?
- Increase the memory given to Theia in the 0.8.0 devfile from 1024Mi to 1536Mi. And if that doesn't help, try 2048Mi (see https://github.com/eclipse/codewind-che-plugin/blob/0af21bf34ff11d38edf68a7c450106e5869975da/devfiles/0.8.0/devfile.yaml#L20)
- If the above doesn't help, try removing the Java and Typescript

[2020-01-20 16:06] jcockbain commented on #1805
That PR was only made into master branch yes.

The changes that went into the IDE's to go with it were https://github.com/eclipse/codewind-eclipse/pull/516 and https://github.com/eclipse/codewind-vscode/pull/383.

[2020-01-20 16:08] tetchel commented on #1805
ok, so we have to run `validate` for appsody after `create` but before `bind`? if there's some extra step to run on appsody creation shouldn't it be run in `create` ?

[2020-01-20 16:10] tetchel commented on #1804
The problem is that /api/v1/projects/<id>/metrics reports `metricsAvailable` as `true` for appsody all the time, that's why we have the ping test. since injection was added this logic is all over the place.

what is supposed to work with openliberty, the app monitor or the dashboard or both?

[2020-01-20 16:12] makandre commented on #1805
That project validation part (and the part that calls `appsody init`) needs to be run when binding an existing project to Codewind too.  That's why it was previously a separate function in the go code, but ran within the `project create` command.

[2020-01-20 16:14] keithchong commented on #984
@jopit , I'll pick up this low hanging fruit.

[2020-01-20 16:14] tetchel commented on #1805
So we should add back running `appsody init` in the CLI during create/bind

[2020-01-20 16:23] jagraj opened #1814 "SVT:[Hybrid]:Codewind CLI failed to install remote codewind successfully using 0.8.0 docs."
**Codewind version:** 0.8.0
**OS:**

CLI - WIndows
Remote cluster - OCP 4.2

CLI version 0.8.0

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
OCP 4.2

**Description:**
Codewind remote install failing to install on my OCP 4.2 cluster. After doing more debugging with @hhellyer and we found the docs are missing the changes we delivered for 0.7.0 release.

Here a

[2020-01-20 16:23] jagraj commented on #1814
/priority stopship
/area docs

[2020-01-20 16:23] tetchel commented on #1804
the IDEs do not have a way to tell the appsody openliberty project from any other appsody java project, also how should normal openliberty behave?

[2020-01-20 16:26] eharris369 commented on #1801
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/536

[2020-01-20 16:27] tetchel opened #1815 "Provide more information to IDEs about projects' metrics statuses"
The current IDE logic is confusing for when to show the app monitor / perf dashboard options. The original backend design was just for normal projects which Codewind could inspect to see if they had appmetrics installed. Then Appsody was added which Codewind couldn't inspect, and more recently, metrics injection was added. Now, even we are not really clear on when those two features should and sho

[2020-01-20 16:51] GeekArthur commented on #1779
@sujeilyfonseca Can you manually edit the PFE deploy to use this PFE image: jingfuwang/pfe:sync? The image is my personal image and it includes the changes that change file deletion from async to sync. Please try that image to see if you still can see the issue.

[2020-01-20 17:00] jopit commented on #1804
So the root cause of this specific problem is number 1 in https://github.com/eclipse/codewind/issues/1804#issuecomment-576345322, where PFE reports that user installed metrics  are available when they're actually not?

[2020-01-20 17:06] tetchel commented on #1804
yes, see #237, it's always been like that for appsody but was worked around by number 2, pinging the dash endpoint #258

[2020-01-20 17:27] sujeilyfonseca commented on #1779
Thanks to all who have tried to replicate the problem!

Thanks for trying to find a solution, @GeekArthur! I think it is worth trying to find a solution, as users may have slow machines. Moreover, it is important to note that I didn't see this problem in previous releases, using the same cluster.

Sure, @GeekArthur! I will edit my PFE deploy to use your image and inform you if that solves the prob

[2020-01-20 17:32] malincoln commented on #1814
@micgibso @sishida pls review.  Thanks

[2020-01-20 17:42] makandre commented on #1690
I'm not aware of a code workaround (but maybe @sghung did find one).  A manual workaround is to simply request to build the project.

Given that the replacement `java-openliberty` stack is out and the `java-microprofile` stack is to be (eventually) removed, I wonder if we can put a note in the docs or what's new telling users to use the new stack and lower the priority of this issue?

[2020-01-20 18:11] sishida commented on #1814
I think that these changes might be a result of the documentation reorganization that the info development team is currently working on. File renaming and moving content is happening. Please see https://github.com/eclipse/codewind-docs/commits/master/docs/_data/docstoc.yml for a record of changes to the table of contents.

I am also going to see if I can find more info about the changes to the spe

[2020-01-20 18:21] sghung commented on #1690
The workaround that Jag and I had used (when we hit similar issues about missing pom.xml) was to run a manual build again and it would fix the problem.

[2020-01-20 18:24] GeekArthur commented on #1779
@sujeilyfonseca Can you run `k describe deploy <deploy>`, what's the output?

[2020-01-20 18:24] sishida commented on #1814
For https://www.eclipse.org/codewind/remoteconfiguring.html, both files look the same in both `master` and `0.8.0`:
- master: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-configuring.md
- 0.8.0: https://github.com/eclipse/codewind-docs/blob/0.8.0/docs/_documentations/remote-configuring.md

[2020-01-20 18:24] jopit commented on #1804
Is there anything we can do in the IDEs for 0.8.0, or do we need to wait for #1815?

[2020-01-20 18:33] GeekArthur commented on #1787
Verified, PRs are merged to both master and 0.8.0, close the issue.

[2020-01-20 18:33] #1787 closed

[2020-01-20 18:38] sujeilyfonseca commented on #1779
@GeekArthur

[code]

[code]

[code]

[2020-01-20 18:42] sishida commented on #1814
@jagraj, @micgibso I noticed the `0.8.0` branch has only 4 files with "remote" in the name, but the `master` branch has 8 files with "remote" in the name. Jag, was this part of your concern/question?

Looking at the file history, I notice @markcor11 added remotedeploy-combo.md, remotedeploy-eclipse.md, remotedeploy-single.md, and remotedeploy-vscode.md, which I'm assuming is part of the overall do

[2020-01-20 18:43] #1094 closed

[2020-01-20 18:45] eharris369 commented on #1809
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/538

[2020-01-20 18:45] #1809 closed

[2020-01-20 18:48] GeekArthur commented on #1779
[code]
From the log we can see log folder is already empty, make me confirm this type of error `Error: ENOTEMPTY: directory not empty, rmdir '/codewind-workspace/.logs/cw-node-080-9cd088a0-393a-11ea-90a7-51c1149a5298'` is timing issue which is delete log dir before log files in the log dir are fully deleted. @sujeilyfonseca I may need to access your cluster since it only happens on your cluster.

[2020-01-20 19:03] eharris369 commented on #1804
I am trying some things but am worried about breaking other things.  It would be nice if there was a itemized list of what to do based on the various values of:
    alwaysHasAppMonitor (true when language is java or nodejs)
    metricsAvailable
    injectMetrics
    result of trying to ping the metrics URL

[2020-01-20 19:06] thisguy-1 opened #1817 "Link to Docs in Remote Connection Setup is Incorrect"
**Proposed solution:**
Current link (incorrect): https://www.eclipse.org/codewind/remoteconfiguring.html
Please change to: https://www.eclipse.org/codewind/remoteconnectionui.html

<img width="590" alt="Screen Shot 2020-01-20 at 2 03 35 PM" src="https://user-images.githubusercontent.com/52169824/72751484-bcab6c80-3b8d-11ea-81f9-63a512c9a529.png">

@eharris369 @tetchel

[2020-01-20 19:07] GeekArthur commented on #1779
@sujeilyfonseca I create a new workspace and try `go` project in your cluster, it works
[code]
Let me try other project types to reproduce

[2020-01-20 19:11] thisguy-1 commented on #1817
and @sishida

[2020-01-20 19:25] thisguy-1 opened #1818 ""Cancel" and "Delete Connection buttons" are the same color"
**Proposed solution:**

For now, "cancel" must maintain same color as "disconnect". I am considering making "delete connection" an icon with label next to it.

[2020-01-20 19:30] cccanderson commented on #986
https://github.com/eclipse/codewind-intellij/pull/4 - just added in the code to add the actions to the context menu.  (Note that keyboard accelerators were not added.)

[2020-01-20 19:31] thisguy-1 opened #1819 "Remote Connection: "Username" appears as if filled"
Should a darker grey before being filled.

<img width="570" alt="Screen Shot 2020-01-20 at 2 28 29 PM" src="https://user-images.githubusercontent.com/52169824/72752887-6dffd180-3b91-11ea-982d-0e5113abcd34.png">

**Proposed solution:**

@tetchel

[2020-01-20 19:46] mmulholl commented on #1800
Confirmed this works in the latest driver. Thank you.

[2020-01-20 19:46] #1800 closed

[2020-01-20 19:48] thisguy-1 opened #1820 "No way to edit Remote Connection Name"
There is no way to edit remote connection name after it's been created.
Solution:
Ideally, when "edit" button is clicked, the title becomes a field. If this is not possible, then an edit icon should be placed next title.

[2020-01-20 19:55] scottkurz commented on #1753
@keithchong as a maintainer of the **java-openliberty** appsody stack I'd like to help.  Can you please share the pom.xml you used to point to **src/xyz/java** and I can take a look ?  (I'd first look outside of Codewind).  Thanks.

[2020-01-20 20:07] tetchel commented on #1819
It is filled, that's the default username which most users will use

[2020-01-20 20:11] tetchel commented on #1818
I didn't like this either; it has already been changed in master. In 0.8 'cancel' is the same grey colour of 'disconnect'.

[2020-01-20 20:11] #1818 closed

[2020-01-20 20:11] thisguy-1 commented on #1819
But it should be greyed, same as all suggestions. It would be a bit confusing if I didn't want to use the default. It could say something along the lines (in grey) "most users will use 'developer' as default". IDE should look at this - @sishida

[2020-01-20 20:14] tetchel commented on #1819
ok, i'll change it to be a placeholder

[2020-01-20 20:16] jgwest commented on #1819
Yah, FWIW I had the same thought when I first used the UI in the screenshot.

While I'm here, it also _feels_ odd for the password field to contain anything here; eg either grey or white text, but maybe it's just me. I'm not sure I've seen this particular design pattern (greyed-out password) elsewhere...

[2020-01-20 20:19] thisguy-1 opened #1821 "Cannot see that Remote Connection Is Connecting"
**Proposed solution:**
add connection animation to let user know codewind is trying to connect.
something like this. Will provide the correct animation icon.
<img width="680" alt="Screen Shot 2020-01-20 at 3 06 42 PM" src="https://user-images.githubusercontent.com/52169824/72754674-7eff1180-3b96-11ea-9176-7de89fd7ab73.png">

[2020-01-20 20:19] tetchel commented on #1815
ideally portal would tell us the app monitor URL or have it undefined, but IIRC that's not possible

[2020-01-20 20:24] maysunfaisal opened #1822 "Upload API failing with bad parameters (project update broken)"
**Codewind version:** latest jan20
**OS:**

**Che version:**
**IDE extension version:** latest jan20
**IDE version:**
**Kubernetes cluster:**

**Description:**
[code]

Validation is looking for `timestamp`, api is called with `timeStamp`.

This needs to be double confirmed for 0.8.0 as well..
Tagging as hot because i cant update.

/area portal
/severity hot

[2020-01-20 20:26] maysunfaisal commented on #1822
/priority hot

[2020-01-20 20:27] #1817 closed

[2020-01-20 20:29] maysunfaisal commented on #1822
Seems like it was fixed by https://github.com/eclipse/codewind/issues/1795

Maybe my image was not properly rebased

[2020-01-20 20:29] #1822 closed

[2020-01-20 20:39] thisguy-1 opened #1823 "Codewind Style vs Default Templates"
In sources manager, they selected a "Default" source, but might've missed that the style was "codewind style". Later they receive the following instructions:
<img width="2140" alt="Screen Shot 2020-01-16 at 11 37 29 AM" src="https://user-images.githubusercontent.com/52169824/72756305-c5566f80-3b9a-11ea-9b05-06cfcf40b050.png">

**Proposed solution:**
Need IDE's input. How might we better give instr

[2020-01-20 20:42] thisguy-1 commented on #1823
/assign @sishida

[2020-01-20 20:47] makandre commented on #282
/assign

[2020-01-20 21:01] sghung commented on #938
Currently stuck trying to figure out where the appsody being called inside PFE is using its appsody.yaml from. Locally, if I set the images property, I can see it pulling from there, but not the `appsody run` which uses PFE. Need to find where that file is and change it to see if that fixes the problem

[2020-01-20 21:05] sghung commented on #938
Putting back on backlog so someone else can also investigate in the meantime

[2020-01-20 21:09] mattcolegate commented on #1739
@sujeilyfonseca :-) So I think the title should be 'SVT: Unknown error during cwctl start prevents Codewind from starting'. The removal of the docker-compose.yaml file is incidental.

Though this raises a good point - is the view of the SVT team that the docker-compose.yaml should not be deleted when errors occur? @liamchampton can you shed insight on why it was designed this way? @tetchel any tho

[2020-01-20 21:12] sghung commented on #1690
TODO: add appsody documentation, change title, so people are aware of single file mount issue and to use the Open Liberty one instead

https://github.com/appsody/appsody/issues/794

[2020-01-20 21:21] sghung commented on #1690
Jag agreed to remove the stopship tag

[2020-01-20 21:23] sghung commented on #1254
TODO: followup with Laven on the progress of this one

[2020-01-20 21:25] sghung commented on #1777
For appsody types only, code was reverted back to the previous 0.7.0 behaviour, so the timeout popup will not show up for appsody types.

[2020-01-20 22:03] travis1111 commented on #1261
@sghung  please assign to me :-)

[2020-01-20 22:13] jagraj commented on #1739
I just hit this problem again on one of my other Windows VM where I am trying to reproduce this problem. Here are the steps that I followed to reproduce this problem.

1. Install Codewind 0.7.0
2. Create default template projects (Go, Nodejs) , Appsody (Spring Kotlin, Eclipse Microprofile).
3. After successful build and running of these projects. Upgrade Codewind 0.7.0 to 0.8.0
4. Upgrade complete

[2020-01-20 22:22] mattcolegate commented on #1739
@jagraj can you expand step 3 into a series of easy to follow steps so that I can truly do what you are doing please?

[2020-01-20 22:39] GeekArthur commented on #1779
LATEST UPDATE:

I can reproduce this on appsody microprofile project consistently, I inject some log messages and find the file `.nfs00000000003430c600000014` exists in the log dir when we delete the log dir so that the log dir can't be deleted due to it's not empty. From http://nfs.sourceforge.net/#faq_d2, we know the `.nfs<XXXXX>` file is generated by NFS when we delete files in the log dir, and

[2020-01-20 22:58] DavidG1011 opened #1824 "SVT: [Docs]: Cloud deployment section is a bit out of order in remote deployment doc."
In the "Configuring other cloud deployments" section of the remote config doc: https://www.eclipse.org/codewind/remoteconfiguring.html#configuring-other-cloud-deployments

Step 3 mentions using `oc` to enable privileged containers/run as root.

These permissions need to be applied prior to running the `cwctl install remote ... ` command from step 2 or the pods will be stuck in a "pending" state du

[2020-01-20 22:59] DavidG1011 commented on #1824
/area docs

[2020-01-21 00:57] makandre opened #1825 "Che: appsody kitura project does not run"
**Codewind version:** 0.8.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

On Che, appsody kitura projects fail to run with:

[code]

`.appsody` is a folder created during `appsody init`, which runs in the Theia container; it fails because there's no `buildah` command in that container to pull down the stack image.  Previously with

[2020-01-21 00:59] makandre commented on #1825
https://github.com/eclipse/codewind/issues/1805 is related to this issue but for master branch

[2020-01-21 01:00] makandre commented on #1805
Opened https://github.com/eclipse/codewind/issues/1825 specifically for Che case

[2020-01-21 04:52] #1819 closed

[2020-01-21 09:13] tobespc commented on #1815
the dashboard should now all be hosted on the performance dashboard by default, but, you need to remember that the url information can change at any point.  This means you will need to live ping each time to see whether anything has changes.  We could put the logic in the metrics endpoint but that will still need to be queried each time you want to display the dashboard incase that URL has changed

[2020-01-21 09:49] liamchampton commented on #1739
@mattcolegate the reason it was designed to delete the `docker-compose.yaml` file is so that it doesn't leave artifacts behind if an error occurs. The contents of the `.yaml` file can be spat out to the terminal by adding `-d` onto the end of the start command so at the time we didnt see a reason for keeping the file. The reason Codewind doesn't start here isn't because the file doesn't exist as i

[2020-01-21 09:53] micgibso commented on #1814
@jagraj The 0.8.0 URL you've quoted above (http://9.42.27.84:4321/codewind/remotedeploy-combo.html) isn't 0.8.0, that's our 0.9.0 release.  We've branched already for 0.8.0, Sarah's quoted the 0.8.0 URL above, here it is again for clarity:
https://github.com/eclipse/codewind-docs/blob/0.8.0/docs/_documentations/remote-configuring.md.

I too have checked and 0.8.0 is identical to Master: https://gi

[2020-01-21 10:16] micgibso commented on #1814
For 0.9.0, check:
- Step 3, cluster login, exists in new content
- `Open Tekton Dashboard: This option is available to you only if you installed pipelines. Use this option to open the dashboard.` text exists in new content.

[2020-01-21 11:41] tobespc commented on #1739
Can I get some clarification on the recreation steps please.    For all these steps, are they all being done by only using the eclipse or vscode codewind plugins or, is it a mixture of also running the cwctl manually?

We are only using the eclipse/vscode plugins in order to try an recreate which is how a user would be doing this.

[2020-01-21 11:56] markcor11 commented on #420
I'm not sure we have support for HTTPs project in CHE,  I moved a local node HTTPs project to Che and noticed that the routes created assumed the project was still using HTTP even though the project.isHttp in .cw-settings was set to true.  I would have expected this OpenShift route to be secured with type  passthru since I was using a server ncertificate generated in the project directly.

<img wi

[2020-01-21 12:11] jagraj commented on #1739
@tobespc
I am running with Eclipse plugin and Sujeily got into this issue with VSCode plugin. We are not running all the steps using plugins and not from "cwctl" CLI.

[2020-01-21 12:27] jagraj commented on #1814
@micgibso @sishida @markcor11
Thanks for clarifying on these files. For 0.8.0, I am going to remove "stopship" label. Once we have all the changes done for 0.9.0 release then I will validate these docs again.

@micgibso
We have staging docs for master and it will be nice to have for current release (0.8.0) as well and our team can test these docs.

[2020-01-21 12:43] jagraj commented on #1814
/remove-kind priority

[2020-01-21 12:44] jgwest commented on #1814
@jagraj: Those labels are not set on the issue: kind/priority<details>

In response to [this](https://github.com/eclipse/codewind/issues/1814#issuecomment-576664495):

</details>

[2020-01-21 12:44] jagraj commented on #1814
/remove-priority

[2020-01-21 12:45] jgwest commented on #1814
@jagraj: Command 'remove-priority' requires at least one parameter.<details>

In response to [this](https://github.com/eclipse/codewind/issues/1814#issuecomment-576664951):

</details>

[2020-01-21 12:48] jagraj commented on #1814
/remove-kind priority/stopship

[2020-01-21 13:00] jagraj commented on #1814
/remove-priority priority/stopship

[2020-01-21 13:01] jgwest commented on #1814
@jagraj: Those labels are not set on the issue: priority/priority/stopship<details>

In response to [this](https://github.com/eclipse/codewind/issues/1814#issuecomment-576670240):

</details>

[2020-01-21 13:40] stalleyj commented on #1558
I can make this fail by using cwctl commands but I am still not able to get a failure when using VSCode.  I had 0.6.1 running then tried starting 0.8.0 and the plugin shows the output below.  I don't see the **remove** command being called which is what was originally failing. I would like to understand the scenario of when the plugin calls remove @tetchel ?

[Extension Host] [DBUG: 13:32:05.781 C

[2020-01-21 14:07] tetchel commented on #1558
After the prompt which says "you have x version installed, but y version is required" and the user confirms to upgrade, all the old versions are removed before proceeding to install the new version.

[2020-01-21 14:10] tetchel commented on #1815
Sure, you know the URL? and can put it in a `projectChanged` event? That would be perfect

[2020-01-21 14:11] tetchel commented on #1815
This applies to all projects, even appsody?

[2020-01-21 14:49] sujeilyfonseca commented on #1739
I agree with @jagraj steps. I was able to reproduce this problem several times only using Codewind for VS Code on Windows:

1. Install and start Codewind 0.7.0
2. Create some projects
3. Wait for the applications to be in "Running" state
4. Upgrade to Codewind 0.8.0
5. Uninstall plugin and remove images belonging to Codewind for VS Code
6. Install and start Codewind 0.8.0
7. Failure will appear

[2020-01-21 14:58] mattcolegate commented on #1739
@jagraj took me through a recreate scenario a couple of hours ago and was unable to recreate. We agreed to remove stopship tag from issue, try and get eclipse/codewind-installer#340 into 0.8.0 stream to at least log the problem if it occurs for the customer, and continue investigation in 0.9.0 if a reliable recreation method could be found.

[2020-01-21 15:03] #1783 closed

[2020-01-21 15:04] sujeilyfonseca commented on #1779
@GeekArthur, I tested this problem twice using your image: `jingfuwang/pfe:sync`

In both scenarios, I restarted my `codewind-workspace` and manually edited the deployment to use your image. After that, I proceeded to create three Appsody Eclipse MicroProfile and three Default Node Express projects. After all of them went into an application "Running" state, I deleted them.

I didn't receive the m

[2020-01-21 15:08] micgibso commented on #1806
@johnmcollier Does this still need doc for 0.8.0? Are you happy to open PR as you've suggested above? Thx.

[2020-01-21 15:20] tobespc commented on #1739
If this is not a stop ship then I don't think we should add anything to the 0.8.0 codebase.   Any last minute change has the potential to cause disruption

[2020-01-21 15:21] hhellyer commented on #1815
We should keep in mind that the user can alter their application and add or remove the dashboards themselves. For that reason we probably need to poll the right endpoints for the type of application to see if it's there anyway. (We shouldn't set in stone that there's no monitoring just because our starter template didn't include it.)

[2020-01-21 15:22] MelHopper commented on #1601
Mel taking this. In Discussion with Kim re. final details of Docs LP design.

[2020-01-21 15:25] malincoln commented on #1739
let's discuss in a few minutes

[2020-01-21 15:28] rajivnathan commented on #1777
Spoke to Elson about this yesterday. We'll handle the changes for 0.9.0 as part of issue https://github.com/eclipse/codewind/issues/1269 so will move this issue to verify state.

@jagraj can you please close this issue once you have verified?

[2020-01-21 15:39] malincoln commented on #1739
agreed to add fix in 0.9.0

[2020-01-21 15:39] mmulholl commented on #1732
It is an improvement but request development to think of something better than a one size fits all timeout.  Also consider closing an opened pop-up when the app subsequently starts. Maybe even add some intelligence to learn what a suitable timeout is for the project based on previous times to running.

@jopit @yangcao77 @tetchel @malincoln

[2020-01-21 15:40] #1732 closed

[2020-01-21 15:45] sishida opened #1826 "Adding version and date to website documentation"
**Description of the enhancement:**
The Codewind team wants to add more screenshots in the instructional documentation on the Codewind.dev website. Concern has been expressed about screenshots going out of date as Codewind continues to change.

**Proposed solution:**
Some web pages include a statement such as `last updated on <date>`, perhaps at the bottom of the page like a footnote. What if we i

[2020-01-21 15:46] malincoln commented on #1804
agreed to fix as enhancement for 0.9.0

[2020-01-21 15:48] maysunfaisal commented on #420
@markcor11 You may want to look into this issue for https on Kube https://github.com/eclipse/codewind/issues/1272

[2020-01-21 15:58] stalleyj commented on #1558
Finally, I can recreate this and see that the remove command fails but I'm only aware from looking at the logs. 0.8.0 is running and connected and I don't think a user would be aware that anything went wrong.

[2020-01-21 16:04] jgwest commented on #1261
/assign @travis1111

[2020-01-21 16:07] malincoln commented on #1752
@tetchel this is now ready to verify.  Thanks

[2020-01-21 16:08] malincoln commented on #1073
@makandre this is now ready to verify.  Thanks

[2020-01-21 16:09] travis1111 commented on #1826
Please assign to me :-)

[2020-01-21 16:12] mmulholl opened #1828 "SVT : Eclipse : Mac : Did codewind just crash?"
**Codewind version:**  Codewind tech preview	0.8.0.v202001202137
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-09
**Kubernetes cluster:**

**Description:**
Was running codewend had a few projects created and was just waiting on my new node project to be running when suddenly all projects disappeared from my list and a short time later:

<img width="662"

[2020-01-21 16:12] jgwest commented on #844
/assign me

[2020-01-21 16:17] maysunfaisal opened #1829 "cwctl has stopped creating the settings file .cw-settings"
**Codewind version:** latest jan21
**OS:**

**Che version:**
**IDE extension version:** latest jan21
**IDE version:**
**Kubernetes cluster:**

**Description:**
Install Codewind latest as of Jan 21, cwctl does not create the `.cw-settings` file for a project.

Pls confirm if this is regressed on 0.8.0 as well

/area portal

[2020-01-21 16:17] maysunfaisal commented on #1829
cc @tobespc FYI

[2020-01-21 16:20] mmulholl commented on #1828
As refresh does not work and codewind docker containers apparantley running my only option is to restart docker, which is not great. Guess I could have just stopped the containers.

[2020-01-21 16:20] malincoln commented on #1621
@sujeilyfonseca are you able to verify the fix?

[2020-01-21 16:22] makandre commented on #1829
`.cw-settings` was created as part out project validation, which got split out from the `project create` command in master; this was discovered in another issue as well:

[2020-01-21 16:23] tobespc commented on #1829
which project type ?  I just created a Nodejs and a Liberty one and they have one

[2020-01-21 16:24] maysunfaisal commented on #1829
Turbine tests yesterday reported all the project types, I just tried Spring manually before opening this.

[2020-01-21 16:24] malincoln commented on #1804
@tobespc you can reassign and remove other areas if needed.  Thanks

[2020-01-21 16:30] sujeilyfonseca commented on #1621
I verified this issue with the latest Codewind 0.8.0, and I no longer see the problem.

[2020-01-21 16:30] #1621 closed

[2020-01-21 16:32] maysunfaisal commented on #1452
FYI, This PR has broken https://github.com/eclipse/codewind/issues/1829

[2020-01-21 16:33] tetchel commented on #1751
agreed with this, it applies to bind too if the initial sync fails, there's no way for a user to see this failed unless they look at the cwctl output.

[code]

[2020-01-21 16:38] tetchel commented on #1828
pfe looks ok so tagged with eclipse, not sure what caused the socket timeout

[2020-01-21 16:54] GeekArthur commented on #1779
@sujeilyfonseca Thanks for your information, good to know both projects and log files/dirs are deleted inside PFE container. The issue you find sounds like different issue, you can check the PFE log to see if the project delete notification has been sent, if yes then that should be no problem on file watcher side, and we may need to let IDE folks to investigate why projects are not deleted on IDE

[2020-01-21 16:56] makandre commented on #1825
Opened an issue with appsody https://github.com/appsody/stacks/issues/610

[2020-01-21 17:05] elsony commented on #1779
The current proposed fix involves using a new npm package which requires legal scanning. Given that we are really late on the 0.8.0 release, I don't think we have enough time to do legal clearance and thoroughly test the new library.  Therefore, I recommend we fix that on 0.9.0 instead.

Looking at the nature of the problem, it looks like we have seen that on one machine so far and it is not a gen

[2020-01-21 17:25] malincoln commented on #1732
@jopit do you want to investigate this more with your squad and determine best solution or is this something worth discussing at a tech topic?

[2020-01-21 17:26] jgwest commented on #844
/assign me

[2020-01-21 17:30] jgwest commented on #844
/assign me

[2020-01-21 17:32] jgwest commented on #844
/unassign me

[2020-01-21 17:37] maysunfaisal commented on #1440
/pipeline In Progress

[2020-01-21 17:40] maysunfaisal opened #1830 "PUT /registrysecrets to edit Registry from the UI"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Users should be able to edit the registry info from the UI, see https://github.com/eclipse/codewind/issues/1523

**Proposed solution:**

[code]

[code]

[code]

/area iterative-dev
/assign me

[2020-01-21 17:41] maysunfaisal opened #1831 "PUT /imagepushregistry to edit Image Push Registry from the UI"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Users should be able to edit the image push registry info from the UI, see #1523

**Proposed solution:**

[code]

[code]

[2020-01-21 17:41] maysunfaisal commented on #1831
/area iterative-dev
/assign me

[2020-01-21 17:48] tetchel commented on #1523
Backend work in #1830, #1831

[2020-01-21 18:08] jopit commented on #1732
@malincoln the timeout and the message is coming from the Turbine layer.  The IDEs don't know what the message is or what it means. I think @elsony's team needs to look into how this can be improved.

[2020-01-21 18:31] GeekArthur commented on #1779
Discussed with SVT, this issue is not stopship given the following reasons:
- It’s a timing issue and the issue only happens on slow machine
- Only users use NFS as persistent volume AND users use old version NFS can hit this issue
- The fix includes new npm package, we don’t have enough time to do the legal clearance
- The workaround can be user update to the latest NFS version or manually delete

[2020-01-21 18:38] jagraj commented on #1779
@elsony @jingfuwang
Thanks for the info. Yes, we can address this in next release as it is too late to consume new package.
As we have workaround and we should be good for 0.8.0 release.

[2020-01-21 18:41] sujeilyfonseca commented on #1779
Thanks for working on a solution to this problem, @GeekArthur.

For the other problem mentioned above (https://github.com/eclipse/codewind/issues/1779#issuecomment-576722609), after investigating more and following Jingfu's suggestion, I will open a different issue to address it, since it only occurs when deleting multiple projects at the same time.

[2020-01-21 18:52] GeekArthur commented on #1779
**There are two workarounds for this issue**

1. User can upgrate to use NFS v4.1 or above
2. User can shell into the PFE container to manually delete corresponding project files/directories (location: /codewind-workspace) and project log files/directories under (location: /codewind-workspace/.logs)

I also update the workarounds under the issue description.

[2020-01-21 19:09] malincoln commented on #1779
adding priority/hot and changing release to 0.9.0

[2020-01-21 19:11] jagraj commented on #1777
The partial fix has been verified with the latest 0.8.0 images and I no longer see the issue with the appsody projects. Closing this issue now.

[2020-01-21 19:11] #1777 closed

[2020-01-21 19:16] johnmcollier commented on #1579
Some kind of `must gather` command in the IDEs would also work fine here.

[2020-01-21 19:22] rajivnathan commented on #1440
Closing this as a dupe of https://github.com/eclipse/codewind/issues/1746

[2020-01-21 19:22] #1440 closed

[2020-01-21 19:24] sujeilyfonseca opened #1832 "SVT: [Che] IDE presented notifications stuck in the removal process and project files left after deleting multiple projects at the same time"
**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** IDE presented notifications stuck in the removal process and project files left after deleting multiple projects at the same time. Projects were removed from Codewind, but their files remained in the IDE.

This problem arose after finding a solutio

[2020-01-21 19:24] sujeilyfonseca commented on #1832
/priority hot

[2020-01-21 19:29] maysunfaisal commented on #1746
/assign me

[2020-01-21 19:29] eharris369 opened #1833 "[Eclipse IDE] Clean up ProjectTypeSelectionPage"
In ProjectTypeSelectionPage the concepts of language and subtype are overloaded which makes working on this class confusing. It would be better to separate them and have separate tables for them (showing the one that is appropriate and hiding the other).

[2020-01-21 19:31] tetchel opened #1834 "UI tweaks"
- [x] try and use ibm plex sans
    `<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600&amp;display=swap" rel="stylesheet">`

Remote Connection page:
- [x] numbered steps
- [ ] bigger margins to match sketch
- [ ] center the main content and have it adjust
- [ ] move cancel/save to be under the Codewind Connection card so it comes before the sources/registry
- [ ] connec

[2020-01-21 19:32] tetchel commented on #1820
https://github.com/eclipse/codewind/issues/1834

[2020-01-21 19:32] #1820 closed

[2020-01-21 19:34] tetchel commented on #1834
@thisguy1

[2020-01-21 19:34] tetchel commented on #1834
@thisguy-1

[2020-01-21 19:47] makandre commented on #1055
Looks gd

[2020-01-21 19:47] #1055 closed

[2020-01-21 19:48] makandre commented on #1073
Verified I don't see the errors anymore

[2020-01-21 19:48] #1073 closed

[2020-01-21 20:23] sghung opened #1835 "[Offline Support] Allow user to use codewind offline after initial setup"
There are two steps for offline support:

1. Initially, the user has an internet connection. Then after, the internet is gone (e.g. user goes on an airplane). The user should still be able to use our product
2. The user does not have any internet connection. They are forced to use internal proxies (e.g. Nexus Repository) to get cached docker, npm, maven, etc. artifacts

This epic is to deal with t

[2020-01-21 20:25] sghung opened #1836 "Investigate what stops working when codewind loses internet access"
First, ensure codewind is installed and a project is created. Then remove internet access and start playing around with codewind. Try creating projects, modifying existing projects, playing with functionality and recording down all problems here.

[2020-01-21 20:28] sghung opened #1837 "Investigate what stops working when codewind loses internet access"

[2020-01-21 20:29] #1837 closed

[2020-01-21 20:32] maysunfaisal opened #1838 "Turbine Functional Tests should handle projects without cw-settings"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
On Jan 20 Turbine tests, we discovered issue https://github.com/eclipse/codewind/issues/1829 where cwctl did not create `.cw-settings` on project create.

From a product POV, it is not necessary to have a `.cw-settings` file. We should still function if there is no

[2020-01-21 20:32] maysunfaisal commented on #1838
/area iterative-dev
/kind test

[2020-01-21 20:54] travis1111 commented on #1836
/assign

[2020-01-21 21:08] maysunfaisal opened #1839 "PFE not emitting socket events"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
For two successive nights, Turbine tests have been failing on Micorprofile and Swift, because the socket events seems to have stopped working - when we curl from `swift-container.sh` to `/internal/api/v1/projects/updateStatus`, Portal doesnt seem to receive the requ

[2020-01-21 21:19] maysunfaisal commented on #1839
Should add, the socket events directly go from `newProjectAdded` to `projectCreation`

[2020-01-21 21:22] sishida commented on #1401
File changed in the master branch: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/importing-existing-projects.md

Files changed in 0.8.0:
1️⃣ https://github.com/eclipse/codewind-docs/blob/0.8.0/docs/_documentations/mdt-vsc-importedprojects.md
2️⃣ https://github.com/eclipse/codewind-docs/blob/0.8.0/docs/_documentations/mdt-eclipse-importedprojects.md

[2020-01-21 21:24] keithchong opened #1840 "[IntelliJ] Build and bundle two file-watcher jars into the IntelliJ plugin"
**Codewind version:** latest
**OS:** all
**IDE:** IntelliJ

**Description of the enhancement:**
From the codewind-eclipse repo, build

org.eclipse.codewind.filewatchers.standalonenio
org.eclipse.codewind.filewatchers.core

(Not https://download.eclipse.org/codewind/codewind-filewatcher-ts/)

_as jars_ and "pull" them into the lib folder of the IntelliJ plugin (similar to what is currently being do

[2020-01-21 21:37] makandre commented on #282
I looked into this issue again; specifically, I want to determine if we could in fact inspect the stack image to read the application port value, which by convention is defined by the `PORT` environment variable.

However there's a problem.  Codewind (Turbine) needs to read the app/debug port values right when it instantiates a project handler, and to inspect the image we need to pull it down if i

[2020-01-21 21:58] johnmcollier commented on #1806
Doc PR: https://github.com/eclipse/codewind-docs/pull/311

[2020-01-21 22:10] maysunfaisal commented on #1746
/in progress

[2020-01-22 03:09] jgwest commented on #1746
/pipeline in progress

[2020-01-22 08:59] markcor11 commented on #1829
/assign @markcor11

[2020-01-22 09:02] markcor11 commented on #420
Blocked by 1272.  Branch with local only changes : https://github.com/markcor11/codewind/tree/420-Perfdash-HTTPsProjects

[2020-01-22 09:04] tobespc commented on #1765
need to check our labels in the templates don't have any funny characters in

[2020-01-22 09:08] mattcolegate commented on #1765
/assign

[2020-01-22 09:14] mattcolegate commented on #1050
@tetchel Tried with latest development VSCode plugin and the situation has improved - I now get taken to the directory above e.g. clicking on c:\cq-projs\friNode1 takes me to C:\cq-projs. If that is the designed behaviour, then all I would ask is that can we make the drive letter a capital rather than a lowercase?

[2020-01-22 09:36] jcockbain commented on #1452
Yes, my bad sorry. I missed adding projectValidate back inside the create command here https://github.com/eclipse/codewind-installer/pull/317/files#diff-d1f23fab5d9fe727381fb63db537dcbdL77. Mark is making the change. Thanks for picking that up.

[2020-01-22 10:36] rwalle61 commented on #1795
@keithchong would you mind confirming whether my fix fixed your issue?

[2020-01-22 10:57] markcor11 commented on #1829
Reproduced

[2020-01-22 11:02] rwalle61 commented on #1785
/assign
/pipeline In Progress

[2020-01-22 11:54] micgibso commented on #1761
The Working with Templates topic is now the only occurrence of this subject matter in the doc set. Previously, this content was duplicated under topics: `mdt-eclipse-workingwithtemplates.md` and `mdt-vsc-workingwithtemplates,md` which have been removed from master under a separate PR.

The Working with Templates topic content is unchanged and it sits nicely in our TOC at the appropriate place. Spu

[2020-01-22 12:06] micgibso commented on #1761
@j-c-berger Please review http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/workingwithtemplates.html

[2020-01-22 12:38] jagraj commented on #1520
After resolving all my cluster issues on fyre, I tried to verify this issue. I still see the endpoint is using nodeport not ingress or route. Here is the endpoint it is using.

http://codewind-gatekeeper-k5p9o6aj.apps.grease.os.fyre.ibm.com:31353/appmetrics-dash/?theme=dark

![Screen Shot 2020-01-22 at 7 33 58 AM](https://user-images.githubusercontent.com/713849/72894866-36f10380-3cea-11ea-841c-f2

[2020-01-22 12:51] jagraj commented on #1521
After resolving my cluster issues, I tried to verify this issue with my OCP 4.2 cluster and I still see this problem.

![Screen Shot 2020-01-22 at 7 50 56 AM](https://user-images.githubusercontent.com/713849/72895689-f09ca400-3ceb-11ea-8660-2ab6040304af.png)

[2020-01-22 12:57] jagraj commented on #1807
@johnmcollier
I can not reproduce this problem from past couple of days, this seems to be intermittent and this is no longer stopship. Let us make this as hot for now and I will keep an eye on this.

[2020-01-22 12:58] jagraj commented on #1807
/priority hot

[2020-01-22 13:09] micgibso commented on #1735
Doc updates are complete, see above PR.

[2020-01-22 14:21] sujeilyfonseca opened #1841 "SVT: [Che] Users must click ENTER twice if they desire to have a blank namespace"
**Codewind version:** 0.8.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Users must click `ENTER` twice if they desire to have a blank `namespace`. This doesn't happen if they put something in the `namespace` step.

![Screen Recording 2020-01-22 at 9 13 17 AM](https://user-images.githubusercontent.com/49531960/72901757-

[2020-01-22 14:27] markcor11 commented on #1520
Tested this out with 0.8.0 images of PFE / Performance.  I was able to reproduce this using Eclipse 0.8.0.  When launching the Applications Monitor the page opened showed the Gatekeeper URL rather than the appBaseURL as seen from /api/v1/projects.    When launching the Application Monitor UI from VSCode (0.8.0) this worked correctly.  The app metrics page loaded with the URL to the project ingress

[2020-01-22 14:34] tobespc commented on #1788
I have the images all building with registry.access.redhat.com/ubi8/nodejs-10

[2020-01-22 14:45] mattcolegate commented on #1765
This is indeed a string encoding issue - `Â` is what you get when encoding a `&nbsp;` (non-breaking space) character from UTF-8 to ASCII (ISO-8859-1). The output from the cwctl call to list templates is returned as UTF-8 strings, but turned into Strings by the plugin with default encoding, which on Windows is ISO-8859-1.
I've made a change to specify UTF-8 encoding in this PR: https://github.com/e

[2020-01-22 14:48] micgibso commented on #1679
Toc now merged to master

[2020-01-22 14:55] micgibso commented on #1607
Confirmed as https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/appmetrics.md
Restored for 0.9.0, see https://github.com/eclipse/codewind-docs/blob/master/docs/_data/docstoc.yml

[2020-01-22 14:55] j-c-berger commented on #1761
@micgibso, will do, and please assign to me. Thanks.

[2020-01-22 14:55] #1607 closed

[2020-01-22 15:01] micgibso commented on #1679
Closing now each section has its own issue.

[2020-01-22 15:01] #1679 closed

[2020-01-22 15:10] micgibso commented on #1763
Auto-inject metrics checkbox instructions currently here: https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html and here https://www.eclipse.org/codewind/mdt-vsc-commands-project.html for 0.8.0.

[2020-01-22 15:10] tetchel commented on #1050
I tried getting it to go to `c:\cq-projs\friNode1` but Explorer would always open to the parent directory, even with a trailing slash. It looks like I'd have to select a particular file under `c:\cq-projs\friNode1\` to get it to open the directory, and I didn't want to do that.

I'll capitalize the drive letter, added that to https://github.com/eclipse/codewind/issues/1834

[2020-01-22 15:11] #1050 closed

[2020-01-22 15:15] #1766 closed

[2020-01-22 15:15] jgwest commented on #1766
Merged into master (will be in 0.9).

[2020-01-22 15:16] jgwest commented on #1647
Fix has been delivered for the behaviour described in this bug, which prevents this issue on Eclipse configurations that are more prone to seeing it.

[2020-01-22 15:48] jagraj commented on #1521
This issue is resolved closing it now.

[2020-01-22 15:48] #1521 closed

[2020-01-22 16:00] johnmcollier commented on #1807
@jagraj Did increasing the memory available to Theia help?

[2020-01-22 16:13] beccabau commented on #1128
can pull content from: https://www.youtube.com/watch?v=yMynpzZF6V8

[2020-01-22 16:29] makandre commented on #282
/pipeline Extensions Backlog

[2020-01-22 17:00] jagraj opened #1842 "SVT:Windows:Open API fails to generate under META-INF folder"
**Codewind version:** 0.8.0
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.8.0
**IDE version:** Eclipse 09-2019
**Kubernetes cluster:**

**Description:**
I tried to generate server code in my "open liberty" default project for petstore sample and it is failed to generate openapi.yaml file in META-INF folder.

**Steps to reproduce:**
1. Install 0.8.0 OpenAPI tools
2.Generate "Server

[2020-01-22 17:02] keithchong commented on #1842
This will be in 0.9.0.

[2020-01-22 17:12] rwalle61 commented on #1785
I have recreated this. I saw `upload/end` get called, which I don't think is correct. Got sidetracked fixing another bug but will investigate this further

[2020-01-22 18:28] #1520 closed

[2020-01-22 18:40] eharris369 commented on #1520
PR for 0.8.0 is merged: https://github.com/eclipse/codewind-eclipse/pull/544

[2020-01-22 18:59] sishida commented on #1401
ID content is merged. Closing this issue.

[2020-01-22 18:59] #1401 closed

[2020-01-22 19:14] jagraj commented on #1675
Thanks for the fix. This issue has been verified, closing the issue now.

[2020-01-22 19:14] #1675 closed

[2020-01-22 19:53] jagraj commented on #1520
@eharris369 @josephca

I do not see new plugin updated with the fix. Is there a build issue someone can take a look what is going on.?

[code]

[2020-01-22 19:58] josephca commented on #1520
I will take a look

[2020-01-22 20:01] sghung commented on #366
I discussed this issue more with @makandre, the simplest workaround is to tell the user to add the experimental repo (e.g. https://github.com/appsody/stacks/releases/download/nodejs-functions-v0.2.0/experimental-index.json) instead of the official one (https://github.com/appsody/stacks/releases/latest/download/experimental-index.json). This will ensure things sync properly.

[2020-01-22 20:47] ssh24 commented on #1530
/close

[2020-01-22 20:47] ssh24 commented on #1245
We now have a full suite of Performance Tests working. Closing this as done

/close

[2020-01-22 20:48] ssh24 commented on #1062
This was fixed by #1799 and have been passing since then.

/assign maysunfaisal
/close

[2020-01-22 20:49] #1245 closed

[2020-01-22 20:49] #1062 closed

[2020-01-22 20:49] #1530 closed

[2020-01-22 21:41] jagraj opened #1844 "SVT: Application monitor data is missing for Open Liberty projects"
**Codewind version:** 0.8.0
**OS:**  Windows

**Che version:** 7.5.1
**IDE extension version:** 0.8.0
**IDE version:** Theia 7.5.1
**Kubernetes cluster:**
OCP 4.2

**Description:**
Application monitor data is missing for Websphere Liberty, Open Liberty projects from Codewind che and also for Hybrid Codewind. This all works fine from local but fails on che and hybrid.
I tried injection option too a

[2020-01-22 21:41] jagraj commented on #1844
/priority stopship

[2020-01-22 22:14] jagraj opened #1845 "SVT:Eclipse:IDE: Open tekton dashboard does not work for Hybrid connection."
**Codewind version:** 0.8.0
**OS:**  Windows

**Che version:**
**IDE extension version:** 0.8.0
**IDE version:** 2019-09
**Kubernetes cluster:**

**Description:**
Open Tekton dashboard does not work from eclipse plugin but works from VSCode plugin.
When I click on the link and it does not do anything. Also the menu item has to be at the parent level and not for each project.

**Steps to reproduce:

[2020-01-22 22:15] jagraj commented on #1845
/priority stopship

[2020-01-22 22:44] keithchong commented on #1753
@scottkurz , add this to your build plugins:
[code]

[2020-01-22 22:50] yangcao77 opened #1847 "Document the new setting statusPingTimeout"
A new project specific setting has been added in 0.8.0 for cw-settings
Need to document the `statusPingTimeout` setting.

[2020-01-22 22:51] yangcao77 commented on #1847
/area iterative-dev
/area docs

[2020-01-22 23:32] yangcao77 commented on #1847
/pipeline Review/QA

[2020-01-22 23:33] yangcao77 commented on #1847
/assign

[2020-01-23 09:49] stalleyj opened #1848 "cwctl version incorrectly requires a connection id"
**Codewind version:**
0.8.0
**OS:**
Mac

**Description:**
I was trying to find out which version of cwctl I had so attempted to use the version command 'cwctl version' - resulting in the following error
2020/01/22 14:54:25 APPLICATION_ERROR[300]: Required flag "conid" not set.

The design doc specifies that the connection id is optional, ie should use local when it's not passed.

I also then disco

[2020-01-23 10:39] stalleyj commented on #1475
Verified that new message appears so closing

[2020-01-23 10:39] #1475 closed

[2020-01-23 10:58] stalleyj commented on #1723
The behaviour of syncing has changed slightly so we are no longer cleaning up the temp directory. We should add the directory delete to our unbind functionality.

[2020-01-23 11:03] jcockbain commented on #1848
The current output, once a connection is setup is:
[code]

It was written to support remote only. I agree though, it should also work for local versioning, or at the very least, as a quickfix, return a helpful error (i.e `cwctl version is for a remotely deployed Codewind only.`) + update the design docs to match the code.

This does then return cwctl version, but only if you have a remote connecti

[2020-01-23 11:22] tobespc commented on #1844
looks like we are missing a feature from the template, fixing now

[2020-01-23 11:42] tobespc commented on #1844
this also fails for me on local as well

[2020-01-23 12:11] rwalle61 commented on #1785
I recreated this with a standard Node.js Express app as well

`upload/end` is called not by `cwctl bind`, but actually `cwctl sync`. And `cwctl sync` is called by the filewatcher daemon - see my `filewatcherd-1.log`:
[code]

Focussing on
[code]
I'm not sure what our desired functionality is. Is Fw correct to call `cwctl project sync` here? If so, presumably `cwctl project sync` is wrong to call `u

[2020-01-23 13:12] markcor11 commented on #1776
It sounds like the IDE has cached a bad / expired access token and tries to use that when re-establishing a connection to the UI socket.  I noticed when I manually deleted the access_token and refresh_token from the keychain that they were not re-created when toggling the connection off/on from the connections list button.  (only going through the connections screen and re-saving the password did

[2020-01-23 13:20] tobespc commented on #1844
I've fixed websphere liberty by modifying the template.  However, open liberty requires a different code change to pfe itself.  Open liberty does work in local mode, its only remote and hosted that is broken

[2020-01-23 13:42] jagraj opened #1849 "SVT:[Hybrid]:Missing Tekton configuration for Hybrid codewind."
**Codewind version:** 0.8.0
**OS:** WIndows/Mac/Linux

**Che version:**
**IDE extension version:** 0.8.0
**IDE version:** All plugins
**Kubernetes cluster:**

OCP 4.2

**Description:**
In 0.8.0 release we enabled "Tekton Dashboard" for remote codewind install, after doing more debugging and found out that we need to apply Cluster roles and Cluster role bindings for the namespace where we are insta

[2020-01-23 13:43] jagraj commented on #1849
/priority stopship
/area portal
/area docs

[2020-01-23 13:46] tobespc commented on #1849
what are you after here @jagraj for this release ?  just docs ?

[2020-01-23 13:51] jagraj commented on #1849
@tobespc
I am working on instructions which we need for this release. Will post here in few...

[2020-01-23 13:54] micgibso opened #1850 "Single occurrence of config topic"
From Rajiv:
I noticed the contents for these two docs are out of sync:
https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html#project-settings
https://www.eclipse.org/codewind/mdt-vsc-commands-project.html#configuring-project-settings
I think configuring project settings should probably just be a single file to prevent them getting out of sync and VSCode, Eclipse and Che can all have lin

[2020-01-23 13:56] j-c-berger commented on #1850
@micgibso, feel free to assign me, thanks.

[2020-01-23 14:08] jopit commented on #1579
Portal team to investigate

[2020-01-23 14:11] jopit commented on #1815
Portal to investigate further.

[2020-01-23 14:14] tetchel commented on #1776
It makes sense to refresh the access token when the connection is refreshed. I can check that out.

[2020-01-23 14:18] jgwest commented on #1522
/reopen
/pipeline verify

[2020-01-23 14:19] jopit commented on #822
Do the Go libraries provide a way to easily do this?  Portal to investigate.

[2020-01-23 14:25] jagraj commented on #1849
Here are the instructions we need for 0.8.0 release.

**Tekton Configuration for Remote Codewind install.**

1. Apply Tekton roles.

`kubectl apply -f https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.8.0/setup/install_che/codewind-tektonrole.yaml`

2. Apply Tekton cluster role bindings. To apply role bindings we need to replace <codewind-namespace> and <codewind-workspace-serviceacc

[2020-01-23 14:33] malincoln commented on #1845
@jopit @eharris369 pls investigate.  Thanks

[2020-01-23 14:35] malincoln commented on #1849
@micgibso @sishida pls provide requested doc update.  Thanks

[2020-01-23 14:50] travis1111 opened #1852 "Codewind (VS Code) build/disable/enable buttons look disabled"
**Codewind version:**
0.7

**OS:**
Mac

**Description:**
This is what it looks like in a white theme:

![image](https://user-images.githubusercontent.com/35569780/72994465-26618b80-3dc5-11ea-81b4-dc752a7b8ede.png)

This is how it looks in a dark theme:

![image](https://user-images.githubusercontent.com/35569780/72994518-3d07e280-3dc5-11ea-8ccc-3165855df2c1.png)

In both themes, Build, Disable/Ena

[2020-01-23 15:00] markcor11 commented on #1723
/assign @markcor11

[2020-01-23 15:03] tetchel commented on #1852
ouch, I don't know how I missed this one

[2020-01-23 15:29] travis1111 opened #1853 "App status is Running but build status is Building - Creating image"
**Codewind version:**
0.7

**OS:**
Mac

**Description:**
If the build status is `Building`, I assume the application status shouldn't be `Running`?  Maybe it should be `Unknown`?

![image](https://user-images.githubusercontent.com/35569780/72997732-b229e680-3dca-11ea-81e0-8e7580ed58be.png)

**Steps to reproduce:**

in VS code create a lagom java project, then look at the statuses, you will see it

[2020-01-23 15:39] micgibso commented on #1849
Following discussion, fix to go in for 0.9.0, marking Hot.

[2020-01-23 15:43] james-wallis opened #1854 "Run all tests on Jenkins regardless of whether the previous failed (and report failures)"
**Description of the enhancement:**

Jenkins runs each test in stages which at the moment are:
1. Portal unit tests
2. Turbine unit tests
3. Docker build
4. API Tests

If a failure occurs in the Portal unit tests the build will exit without running the other tests.

It would be an improvement to this process if we could run all the tests and then report which ones failed.

For example if we have e

[2020-01-23 15:50] travis1111 opened #1855 "When project is disabled, application information still shows app information"
**Codewind version:**
0.7

**OS:**
Mac

**Description:**
When the project is disabled, the application information are not applicable anymore.  Maybe we should display `Not available`?

**Steps to reproduce:**

Create any project, then disable it.

![image](https://user-images.githubusercontent.com/35569780/73000003-3a5dbb00-3dce-11ea-870b-3405a9f4534f.png)

**Workaround:**

[2020-01-23 15:52] #1852 closed

[2020-01-23 15:54] mmulholl opened #1856 "SVT : Eclipse : Pop up mania! and rebuild blocked."
**Codewind version:**  Codewind tech preview	0.8.0.v202001202137
**OS:** MAC

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-09
**Kubernetes cluster:**

**Description:**
That pop-up to say a project is having trouble starting which was discussed here : https://github.com/eclipse/codewind/issues/1732 often appears when starting an open liberty project. Once the pop-up

[2020-01-23 15:54] eharris369 commented on #1845
0.8.0 PR: https://github.com/eclipse/codewind-eclipse/pull/546
master PR: https://github.com/eclipse/codewind-eclipse/pull/545

[2020-01-23 16:05] travis1111 opened #1857 "Codewind (VS code) auto builds project when project is enabled even auto build is off"
**Codewind version:**
0.7
**OS:**
Mac

**Description:**
If auto build is off, when enabling the project the build should not start.

**Steps to reproduce:**
Any project, uncheck the `auto build` checkbox, then disable the project, after project is disabled, enable it, auto build will start.

![Video-2020-01-23 10 52 36](https://user-images.githubusercontent.com/35569780/73001351-506c7b00-3dd0-11ea

[2020-01-23 16:07] tetchel commented on #1857
I think this is the intended behaviour, to build the project **once** after re-enable even if auto-build is off. If you make a code change, does it auto-build?

[2020-01-23 16:09] #1683 closed

[2020-01-23 16:17] travis1111 commented on #1857
It does.

I made a change to the source code, saved it, and this is what happened:

![image](https://user-images.githubusercontent.com/35569780/73002362-eb198980-3dd1-11ea-820f-05335378b2b4.png)

[2020-01-23 16:19] travis1111 commented on #1852
Thanks for fixing it!

[2020-01-23 16:21] malincoln commented on #1845
Looks like PRs merged, moving to Verify.

[2020-01-23 16:21] malincoln commented on #1845
@jagraj pls verify.  Thanks

[2020-01-23 16:33] jagraj commented on #1845
Fix verified, thanks @eharris369 . Closing this now.

[2020-01-23 16:33] #1845 closed

[2020-01-23 16:43] malincoln commented on #1856
@elsony @rajivnathan can you investigate this?  See last comments in 1732 for reference.  Thanks

[2020-01-23 16:49] maysunfaisal opened #1858 "Turbine Functional Test for removeImagePushRegistry"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Write functional test for new index.ts function as per https://github.com/eclipse/codewind/pull/1846

**Proposed solution:**

[2020-01-23 16:49] maysunfaisal commented on #1858
/area iterative-dev
/kind test

[2020-01-23 16:52] rwalle61 commented on #1785
In fact, @maysunfaisal would you mind clarifying what the actual problem is? Does the error (copied below) actually cause a functional problem? (If it does, I can ensure that is fixed too).
[code]
Whether or not `upload/end` should be called during project creation, I think the errors above may be caused by an additional bug. They seem to occur in a docker cp function, and the PFE handler for `upl

[2020-01-23 16:53] rwalle61 commented on #1785
(we may want to rename this issue)

[2020-01-23 17:02] maysunfaisal commented on #1062
/assign maysunfaisal

[2020-01-23 17:02] maysunfaisal commented on #1062
/assign @maysunfaisal

[2020-01-23 17:05] eharris369 commented on #1251
Done in Eclipse: https://github.com/eclipse/codewind-eclipse/pull/537.  You must first go in to the preferences for Codewind to enable support features and then the menu item will appear on the connection.

[2020-01-23 17:12] maysunfaisal commented on #844
/assign @maysunfaisal

[2020-01-23 17:46] jgwest commented on #844
/close

[2020-01-23 17:53] tetchel commented on #1855
hmm. i think it used to clear that info, but maybe it changed. i will investigate

[2020-01-23 17:54] tetchel commented on #1853
I think this is the intended behaviour if it's an application update build. But i'm not sure this should happen after an initial build. Did you make an update?

[2020-01-23 17:55] jgwest commented on #844
/close

[2020-01-23 17:59] sghung commented on #78
Moving to icebox due to change in priority

[2020-01-23 17:59] #75 closed

[2020-01-23 18:00] #73 closed

[2020-01-23 18:03] sghung commented on #282
Setting to icebox. We talked with the appsody team and any new properties for stacks that would give ports would be in the new appsody + ODO.

[2020-01-23 18:13] jgwest commented on #844
🎉

[2020-01-23 18:14] eharris369 commented on #1856
The same thing happens in VSCode.  I could not find a way to refresh a project but if I did a build the timeout message flashed about 6 times.

I am not sure when to put out this message and when not to since it stays in the project info I guess until the app status changes to something else?

[2020-01-23 18:16] sghung opened #1859 "Investigate easily connecting services to my microservice applications"
Investigate a few options out there

[2020-01-23 18:20] sghung commented on #1069
Changes were made into 0.8.0, @maysunfaisal please verify or check the live site when 0.8.0 is released

[2020-01-23 18:26] jopit commented on #1776
Doesn't the ability to refresh the access token rely on the access token being valid?  If it does, and this scenario is causing the access token to be invalidated (as opposed to just being expired), then refreshing the token won't be enough, we'll need to re-authenticate.

I assume that underlying this is that when the gatekeeper sees the current access token being presented from an IP address tha

[2020-01-23 18:27] sghung commented on #1601
Can this be brought up to Rob and Tim? Since we are an eclipse open source project, it is nice to have our site in the eclipse domain. In addition to having good search engine optimization from being in the eclipse.org domain, the hosted site is similar to what Eclipse che uses.

[2020-01-23 18:40] sghung commented on #934
Still waiting on filewatcher and turbine fixes to get in.

[2020-01-23 18:42] eharris369 commented on #1828
Looking at the Eclipse .log file - it is trying to update the logs and metricsAvailable after a projectStatusChanged event.  Both of these time out even though for http requests the connect timeout is 10s and the read timeout is 10s.  After this it assumes that the connection is lost and tries to reconnect.  It is calling api/v1/ready but this times out as well.  It has a 5s timeout.

[2020-01-23 18:43] sghung commented on #1708
Waiting on Tim E, once ready PR can be put in

[2020-01-23 18:44] sghung commented on #676
I will setup a meeting with Jag next week to discuss this issue further.

[2020-01-23 18:46] sghung commented on #1394
Investigate to see if this is still an issue.

[2020-01-23 18:48] eharris369 commented on #1828
I also noticed at the end of the pfe log that 6 applications go to started state and then less than a minute later 3 of them go to stopped state for no apparent reason.

[2020-01-23 18:56] sghung opened #1860 "Integrate appsody tests into the CI and PR tests"
Need to see what tests exist out there, how to integrate it into the PR and CI build.

SVT has create appsody project and app edits for 0.8.0 (UI tests). For post 0.8.0 want this run nightly and during the afternoon. Jag working on getting notifications into a slack or mattermost channel (to publish test results).

For Travis' open API work, this is run per PR build in the jenkins build.

[2020-01-23 19:23] ssh24 commented on #1269
/assign

[2020-01-23 19:29] eharris369 commented on #1828
@mmulholl Given the above I think what happened is that docker was having trouble. I have seen this happen on Windows several times. It looks like docker is really slow but otherwise ok however it is not. Are you ok with closing this for now and re-opening if it happens again?

[2020-01-23 19:33] eharris369 commented on #1856
@rajivnathan I think the notify flag can only be set to true when the first projectStatusChanged event is sent after the problem occurs and then after that it must be set to false so that we don't pop up the dialogs again.  We still want the message in there because at least for Eclipse if the user selects the project, the message shows in the Eclipse status bar.

[2020-01-23 19:41] eharris369 commented on #1812
The only thing I can think of is that the linkLabel should be translated according to the locale of the machine where the IDE is running. However it does not sound like we are going to translate any time soon. And we could handle this in the future by having the IDEs pass the locale to PFE.

[2020-01-23 19:45] ssh24 commented on #1269
/pipeline in-progress

[2020-01-23 19:46] jgwest commented on #1269
@ssh24: Unable to locate pipeline with name: `in-progress`

[2020-01-23 19:48] ssh24 commented on #1269
/pipeline in progress

[2020-01-23 19:49] rajivnathan commented on #1522
@james-wallis can you please verify?

[2020-01-23 19:53] eharris369 opened #1861 "[Eclipse IDE] Missing project icon for swift projects"
For projects where the language is swift the icon that shows in the Codewind Explorer view is the generic project icon.

[2020-01-23 20:03] jagraj commented on #1098
I can not reproduce this in my new 4.2 cluster. Closing this for now. Thanks for debugging this problem.I can not recover one of my glusterfs client in 3.11 cluster. If I see this problem again, I will reopen this. I can not reproduce this on my 4.2 cluster.

[2020-01-23 20:03] #1098 closed

[2020-01-23 20:16] yangcao77 commented on #1856
The message is never saved in projectInfo, and the notify flag is never saved.
Turbine only emit the event when it needs to be sent, and only emit once.

I'm able to reproduce this issue with the first scenario in the description. after the pop-up showed up -> close the message -> click refresh. I'm able to see the message appears again.
However, in the pfe log, I only saw Turbine emitted the mess

[2020-01-23 20:21] rajivnathan commented on #1222
Discussed this in the iterative-dev status meeting today. We'll run tests with 0.8 for comparison with previous results and schedule a weekly run of the performance tests.

[2020-01-23 20:22] yangcao77 commented on #1856
Also, when manually hit rebuild, Turbine emit events for `buildStatus`. But since the appStatus is saved in project .inf file,  it would send previous `appStatus` saved in the inf file to ide.
[code]

[2020-01-23 20:34] GeekArthur commented on #1807
This is the related issue opened against Che https://github.com/eclipse/che/issues/14551 since other developers using Che hit this issue as well. From the issue, seems like it's related with "out of memory" and the fix from Che folks is only add hint to user which is the suggestion John mentions above.

[2020-01-23 20:41] yangcao77 commented on #1856
Suggestion:
Maybe before the for loop, check if the `currentProject` contains key `detailedAppStatus`, and `currentProject["detailedAppStatus"]["notify"] == true`
If it is, set it to false.  `currentProject["detailedAppStatus"]["notify"] = false`
https://github.com/eclipse/codewind/blob/21860767fc22b580fb04e254c205a864e718ec41/src/pfe/portal/modules/ProjectList.js#L100-L103

On refresh, I would as

[2020-01-23 20:43] yangcao77 commented on #1299
Verified the change is in. Close this issue.

[2020-01-23 20:43] #1299 closed

[2020-01-23 20:52] yangcao77 commented on #1853
Was the project built&started before? and you made an update on the project?

If it's the case, it is expected, since Turbine did not bring down the old application while it's trying to build your new change. So by that time, user is still able to ping/access the old application.

[2020-01-23 20:55] ssh24 commented on #1269
Talked with Andrew, it looks like the serverless stacks in Appsody don't come with a .cw-settings file. Since we are going with the solution to have -1 in the .cw-settings file, there is two things to do:

1. Either have appsody create a .cw-settings file by themselves OR another option would be to have something in the IDE where you can click and it would create a generic .cw-settings file - reco

[2020-01-23 20:57] ssh24 opened #1862 "Allow handling of app statuses for serverless templates"
**Description of the enhancement:**
Related to https://github.com/eclipse/codewind/issues/1269

**Proposed solution:**
Add function to Turbine so that if the port on cw-settings is set to a special value, e.g. -1, it indicates that the app does not have a port for ping so it will not cause error on PFE on failing to ping.

/area iterative-dev
/assign
/pipeline in progress

[2020-01-23 21:22] travis1111 commented on #1853
This happens when I create a new project.  For some reason I am not able reproduce this now.  When this happened, I have probably 4-5 projects are building.  I will report back once I know how to reproduce it.

[2020-01-23 22:16] #1861 closed

[2020-01-23 22:45] markcor11 commented on #1776
@jopit the refresh-token contains enough information for Keycloak to determine the user and works independently of any previously issued access-tokens. The refresh-token can be used instead of a username:password to request an access-token through cwctl but unlike username:passwords the refresh token has a much shorter lifespan making them more suitable for session based caching.

Refresh tokens s

[2020-01-23 23:46] maysunfaisal commented on #1839
/assign

[2020-01-24 08:35] #1659 closed

[2020-01-24 12:08] james-wallis commented on #1788
/assign

[2020-01-24 12:38] tobespc commented on #1579
@stalleyj Can you look at this alongside the uninstall work.  My thinking is that whilst looking at all the things to remove, we can build the list of all the things to gather info from.   Adding it to cwctl would mean its easier to run from the IDE's

[2020-01-24 13:02] tobespc commented on #1844
@rwalle61 can you pick this up please

[2020-01-24 13:26] tobespc commented on #1657
those links look good and would certainly address this issue

[2020-01-24 13:34] jcockbain commented on #1805
This CLI [change](https://github.com/eclipse/codewind-installer/pull/342) for #1892 adds the validate step back into create, and so I think should fix this.

[2020-01-24 14:02] mmulholl commented on #1856
I would expect, once I hit the OK button on the pop-up the timer would be restarted.

[2020-01-24 14:07] tobespc opened #1866 "Make template sources global instead of per-connection"
Currently the list of known/configured template sources is maintained separately for each connection. So if I configure a certain template source  on my local connection, I also have to repeat the configuration on each remote connection I have (and vice versa).

Ideally we would maintain a single list of the sources somewhere on the user's local machine and apply them to all connections.

One opti

[2020-01-24 14:11] rwalle61 commented on #1785
@maysunfaisal and I discussed this and here is my summary (Maysun correct me if I've misunderstood):
- we initially thought that calling `upload/end` during a project create would cause Turbine to build the project an extra time, after building it the first time to create the project
- to the user, the problem would be that projects (especially Liberty) would take twice as long to create and start

[2020-01-24 14:16] james-wallis opened #1867 "Project-types sometimes not returning default types (Nodejs, liberty, swift, etc)"
**Codewind version:** Master
**OS:** MacOS
**Local Docker**

**Description:**
When I call the `api/v1/project-types` I am sometimes not getting the default types listed in the title but only Appsody ones. Jenkins does not appear to be seeing this error as none of the PRs that have touched the extensions have been hit with a red `x`.

My first thought was that I had introduced it in https://github.

[2020-01-24 14:20] tobespc commented on #668
this can be looked at as part of https://github.com/eclipse/codewind/issues/1866

[2020-01-24 14:22] tobespc commented on #937
closing as we have improved the output.  Further enhancements will have individual items raised

[2020-01-24 14:24] tobespc commented on #1259
moving to verify as per comment above

[2020-01-24 14:25] tobespc commented on #1333
one thing we could look at is having our own docker registry that we could use unless overridden by the user

[2020-01-24 14:30] tobespc commented on #187
issue https://github.com/eclipse/codewind/issues/1788 is investigating using UBI that could well help in this area

[2020-01-24 14:36] johnmcollier commented on #1333
Bundling our own docker registry brings a couple of challenges such that I wouldn't want it to be default functionality:
- Unless using publicly signed certificates, in order to pull from the registry, each Kubernetes worker node needs to have the registry's hostname whitelisted, and then be restarted.
- Storage requirements: Docker registries require a lot of storage, due to the amount of space t

[2020-01-24 14:49] makandre commented on #1805
@jcockbain I would think that connection ID is required for `validate` (looks to be optional in the PR); as `cwctl` needs to call on PFE `extensions` API to find out whether additional commands, such as `appsody init` for appsody projects, are to be run.

And if `validate` is run as part of `create`, that would make connection ID required on `create` as well.

Are there IDE changes to go along wit

[2020-01-24 14:59] jopit commented on #1776
@tetchel @eharris369 Please take a look at Mark's comment above: https://github.com/eclipse/codewind/issues/1776#issuecomment-577913258

[2020-01-24 15:08] ssh24 commented on #1222
Something I noticed was that the cwctl installation in our test script was always pointing to master and for example when trying to do performance test on 0.8.0 it would fail on cwctl create project command as the syntax has changed in master. I have opened https://github.com/eclipse/codewind/pull/1868 to fix that. Once that lands in master, we should also backport it to 0.8.0 and 0.7.0 in order t

[2020-01-24 15:15] tetchel commented on #1805
Andrew is correct, `validate` and `create` both need to **require** connection ID.

[2020-01-24 15:28] tobespc commented on #1782
After discussion with @stalleyj and the uninstall story #1672 , when we remove a connection we will want to clean up any remote projects as well so this issue will be resolved as part of that

[2020-01-24 15:40] maysunfaisal opened #1869 "Enable and Update Image Push Registry Tests"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
After the pivot to the new architecture, the image push registry has been disabled. Update the tests and also implement test for `DELETE /api/v1/imagepushregistry`

[2020-01-24 15:40] maysunfaisal commented on #1869
/area portal
/kind test

[2020-01-24 16:11] jopit commented on #1776
Toby was saying that even restarting the IDE doesn't fix this problem -- does that mean the IDE wasn't refreshing the access token when it started up?

[2020-01-24 16:13] tetchel commented on #1776
It must refresh it on startup, the access token is only stored in extension RAM

[2020-01-24 16:17] markcor11 opened #1870 "Make `cwctl sectoken get` try the refresh token before trying credentials"
**Codewind version:**  0.8.0

**Description of the enhancement:**
Make `cwctl sectoken get` try the refresh token before trying credentials

Since CWCTL already knows and has a recent refresh-token, it would improve the user experience by allowing cwctl to use this refresh-token when requesting an access-token BEFORE using attempting to use the username:password combo from the keychain.

**Propose

[2020-01-24 16:17] maysunfaisal commented on #1839
/pipeline Review/QA

[2020-01-24 16:36] james-wallis opened #1871 "Add overview to Dockerhub"
The Docker images we host on Dockerhub don't have an overview so its not at all clear what they're for.
I'd have thought at least we'd have a link to the Codewind website and a brief overview of what Codewind is?
This is especially the case when Googling `docker codewind` which a potential user may end up doing - they'll likely click onto Dockerhub and see no information about Codewind.

Edit: Com

[2020-01-24 16:37] james-wallis commented on #1871
Actually the old initialize image does have an overview, not sure why the others don't.
https://hub.docker.com/r/ibmcom/codewind-initialize-amd64

[2020-01-24 16:40] james-wallis commented on #1871
Also the `ibmcom` images have the overview

https://hub.docker.com/r/ibmcom/codewind-pfe-amd64
https://hub.docker.com/r/ibmcom/codewind-performance-amd64
https://hub.docker.com/r/ibmcom/codewind-che-sidecar

[2020-01-24 17:08] maysunfaisal commented on #1069
https://www.eclipse.org/codewind/ still has the old labels

[2020-01-24 17:09] johnmcollier commented on #1871
IIRC from the last time we discussed this, the Eclipse webmaster would need to add the descriptions, so I think we'll need to reach out to them on the Eclipse bugzilla to get this done

@josephca is that correct?

[2020-01-24 17:12] maysunfaisal opened #1872 "Codewind.dev needs proper capitalization on the home page"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

![Screen Shot 2020-01-24 at 12 09 10 PM](https://user-images.githubusercontent.com/31771087/73088594-8ed26a80-3ea2-11ea-98fe-f09ebcc48a90.png)

**Proposed solution:**

Privacy policy should be Privacy Policy
Copyright agent should be Copyright Ag

[2020-01-24 17:28] tetchel commented on #1491
Really fast now :+1:

[2020-01-24 17:28] #1491 closed

[2020-01-24 18:10] tetchel opened #1875 "TypeError: Converting circular structure to JSON"
Codewind version: master `f60f0cff5c83e9084d55426987879f97851f6272`

I see this throughout my PFE log:
[code]

Looks like something in the structure being written to the inf has a circular reference and can't be stringified. This probably means the inf update fails, so the data stored may be out-of-date.

[2020-01-24 18:28] tetchel opened #1877 "Debugger disconnects from restarting Spring project because the app stops briefly"
Spring projects are misbehaving when restarting into debug mode. When restarting a new project into Debug mode:
1. App state goes stopping -> stopped -> Starting - Debug
2. Restart result success event is emitted
3. Debugger connects (all is ok so far)
4. App goes into Stopping state for some reason
5. Debugger disconnects
6. App starts building for some reason
7. The build finishes and the projec

[2020-01-24 18:36] tetchel commented on #1877
@eharris369

[2020-01-24 20:01] markcor11 commented on #1776
Could it be that quitting vscode doesn’t actually kill all its related processes and flush memory ? Just like if you had 2 chrome browser windows opened, closed 1 of them but leaving the other one able to retain its access to shared session storage ?

[2020-01-24 20:03] tetchel commented on #1776
Each window has its own instance of the extension, and there is definitely nothing cached when you close all windows.

[2020-01-24 20:21] johnmcollier commented on #1591
Delivered.

[2020-01-24 20:21] #1591 closed

[2020-01-24 21:20] stevencoc commented on #1069
@travis1111 can you fix this on the 0.8.0 stream?

[2020-01-24 21:32] scottkurz commented on #1753
@keithchong, the java-openliberty appsody stack is built on top of the "dev mode" of the liberty-maven-plugin.  This goal implements its own "lifecycle"-like workflow to provide a much quicker update upon source changes.  To do this, however, it does not support binding any generic plugin to any lifecycle phase, and this plugin goal is not supported.

It's possible we could open a new issue on the

[2020-01-24 21:36] sghung commented on #1069
@travis1111 can you make this change for the 0.8.0 branch? Thank you

[2020-01-24 21:43] tetchel commented on #1832
I have seen this too.

- The projects are actually still in Codewind but have `action: "deleting"` which causes VS Code to ignore them.
- The first project that gets stuck deleting is always an Appsody project. It then blocks up any subsequent delete requests until the Appsody project is deleted by hand.
- A `projectDeletion` event is never emitted by Codewind. The IDE does not delete the files un

[2020-01-24 21:45] tetchel commented on #1832
I can reproduce this with my appsody tests added here https://github.com/eclipse/codewind-vscode/pull/413

[2020-01-24 21:57] maysunfaisal opened #1881 "Describe the app pod before Helm delete"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

When the app pod fails to start on helm install for whatever reason, we currently do `helm status` before `helm delete`:
[code]

Describing the app pod before `helm delete` would be beneficial

**Proposed solution:**

`kubectl describe pod <app p

[2020-01-24 21:58] maysunfaisal commented on #1881
/area iterative-dev

[2020-01-27 09:02] hhellyer commented on #1869
Assigning to Maysun since he wrote the REST API.

[2020-01-27 09:02] markcor11 commented on #1723
/pipeline Validate

[2020-01-27 09:03] jgwest commented on #1723
@markcor11: Unable to locate pipeline with name: `Validate`

[2020-01-27 10:07] tobespc commented on #1569
closing this, we added timing info and its not being reported by anyone else

[2020-01-27 10:07] #1569 closed

[2020-01-27 10:10] tobespc commented on #255
@josephca is this easy to do ?

[2020-01-27 10:11] tobespc commented on #1105
@james-wallis please retest and close/fix

[2020-01-27 10:13] tobespc commented on #1466
closing but will reopen should this occur again

[2020-01-27 10:13] #1466 closed

[2020-01-27 10:14] tobespc commented on #1316
from 0.8.0, we don't have the short name anymore, it should all be fully qualified

[2020-01-27 10:14] tobespc commented on #1316
@jcockbain can you test and fix/close please

[2020-01-27 10:15] tobespc commented on #1509
as part of this, need to update our template to be a lot simpler - I can do this

[2020-01-27 10:21] #1673 closed

[2020-01-27 10:22] tobespc commented on #1716
please raise a separate issue for each area left and then we can close this off. Thanks

[2020-01-27 10:23] tobespc commented on #1735
closing as docs complete

[2020-01-27 10:27] tobespc commented on #1032
lets remove the operation section and close this off.   @james-wallis

[2020-01-27 10:32] tobespc commented on #1785
this is low priority for now but please fix when you get a chance

[2020-01-27 10:38] tobespc commented on #1792
@ebuckle can you assign this to you as well please

[2020-01-27 11:04] markcor11 commented on #1598
Added design doc : https://github.com/codewind-resources/design-documentation/blob/master/codewindServer/CodewindOperator.md

[2020-01-27 11:15] james-wallis commented on #1788
So far I've got all PFE running locally off the `registry.access.redhat.com/ubi8/nodejs-10` image with almost no other changes in the Dockerfile.
One issue I'm seeing is that the image size is `764MB` from the get-go with none of our packages. The standard `registry.access.redhat.com/ubi8/ubi` is `231MB` for example.
The minimal `registry.access.redhat.com/ubi8/ubi-minimal` is `106MB` so obviously

[2020-01-27 11:39] jcockbain commented on #1316
/assign

[2020-01-27 11:50] stalleyj commented on #1558
@jopit As far as I can see, the only consequence to a user is that some Codewind images will be left on their machine which I don't think justifies the effort required to fix this. Are you happy to close ?

[2020-01-27 12:00] jcockbain commented on #1805
The reason for leaving it optional is for the local use-case. If no `conid` is given, cwctl will default to calling local PFE. Testing now, creating a project without a `conid` is successful and gets the extensions from PFE as expected.

[2020-01-27 13:25] rwalle61 commented on #1716
Ok I will raise separate issues. Here is some overall info:

Here is the current coverage of PFE API tests, PFE unit tests, and FW unit tests combined (source https://github.com/eclipse/codewind/pull/1882):
![image](https://user-images.githubusercontent.com/18170169/73177786-c7bf4900-4107-11ea-9b88-be6a631af74f.png)

The key part to improve in PFE is coverage of the /projects routes:
![image](http

[2020-01-27 13:52] james-wallis commented on #1788
Currently having an issue installing `buildah`, potentially related to https://github.com/containers/buildah/issues/1712

[2020-01-27 14:04] ebuckle commented on #1792
/assign

[2020-01-27 14:05] ebuckle commented on #1742
/assign

[2020-01-27 14:16] makandre commented on #1805
@jcockbain fair enough but I think the previous IDE PRs had removed passing `conid` completely, so that will need to be fixed.

[2020-01-27 14:18] markcor11 commented on #954
The metrics collections are sampled and recorded by AppMetrics which runs within the project container.  Codewind PFE tells the project to start and stop collecting metrics using a few different endpoints :

* START _RECORDING :  POST http://127.0.0.1:8000/appmetrics/api/v1/collections
(which returns a collection ID)
* STOP_RECORDING :  GET http://127.0.0.1:8000/appmetrics/api/v1/{connectionID}
*

[2020-01-27 14:22] jcockbain commented on #1805
That's a good point @makandre. There's a PR up for [eclipse](https://github.com/eclipse/codewind-eclipse/pull/548), the same will be needed for vs-code.

[2020-01-27 14:38] makandre commented on #1723
This fixes Codewind projects, but for Appsody it still a problem because `project.workspace` is `/mounted-workspace` for Appsody projects.   The temp dir path needs to be constructed using the `global.codewind.CODEWIND_WORKSPACE` variable.

/reopen

[2020-01-27 14:43] malincoln commented on #1779
@sujeilyfonseca pls verify and close.  Thanks

[2020-01-27 14:44] malincoln commented on #657
@ssh24 pls verify and close.  Thanks

[2020-01-27 14:45] malincoln commented on #1373
@jagraj are you still seeing issues or is this now resolved?

[2020-01-27 14:45] malincoln commented on #1522
@james-wallis pls verify and close.  Thanks

[2020-01-27 14:46] malincoln commented on #1259
@jagraj pls verify and close.  Thanks

[2020-01-27 14:46] malincoln commented on #1746
@sujeilyfonseca pls verify and close.  Thanks

[2020-01-27 14:53] ssh24 commented on #657
**Verified**

[2020-01-27 14:53] #657 closed

[2020-01-27 14:56] markcor11 commented on #954
Ran a test script to check behaviour based on above :

1.  Start Recording metrics
2. Apply load for 10 seconds
3. Sleep 15 seconds (simulate external requests still arriving)
4. Turn off recording

results :

{"id":3,"time":{"data":{"start":1580135082273,"end":1580135107995},.....

Duration = 1580135107995 - 1580135082273 = 25.7 seconds

The 25 seconds includes the **15 of sleep** which is where

[2020-01-27 15:00] micgibso opened #1883 "ID: Move Codewind content images to dist/images"
**Description of the enhancement:**
Move all Codewind docs content images from  the `docs/images` folder to the `dist/images` folder according to:

![image](https://user-images.githubusercontent.com/7224752/73185107-67370880-4115-11ea-9d48-f6c037d06e20.png)

Record the amount of time this takes for planning/estimating purposes etc.

[2020-01-27 15:04] james-wallis commented on #1788
Am parking the use of `ubi8` images in the PFE container for now and am going to explore bringing all the images to use `centos` instead.

Reason for parking `ubi8` is that at the moment I am unable to get `buildah` installed inside the container. I believe this is due to the fact that I do not have a Redhat subscription and so cannot use all the repositories in the container. Having read the docs

[2020-01-27 15:18] sujeilyfonseca commented on #1779
I've verified this issue with the latest Codewind, and I no longer see the problem.

[2020-01-27 15:18] #1779 closed

[2020-01-27 15:19] rwalle61 commented on #1785
I have [implemented the fix](https://github.com/eclipse/codewind/pull/1884) described above, and it seems to have resolved the issue.

The [new `if` block](https://github.com/eclipse/codewind/pull/1884/files#diff-b73b1946195409164e2ccc8a3b7fe79cR254-R257) means we sync to build container only if the project was indeed changed. I have verified that by following the code execution with a debugger, a

[2020-01-27 15:27] lentheivendra commented on #1812
I'll take a look at this one for the pfe side

[2020-01-27 15:46] lentheivendra commented on #1812
/assign

[2020-01-27 15:56] jopit commented on #1558
Hi @stalleyj I think if the  `cwctl remove` command isn't removing the images like it's supposed to, it should be fixed.  I don't think this issue qualifies as hot anymore, so I will remove the hot tag.

[2020-01-27 15:57] jopit commented on #1558
Last week I tried the same scenario starting from Codewind 0.7.0, and it also did not remove the images, so it's not just a problem with 0.6.x

[2020-01-27 16:01] jagraj commented on #1807
More info from my current Codewind workspace. I let it run over the weekend and I see pod is restarted 5 times and restarts are triggering from che-machine-exec9a8 container and not from other containers. Based on the data below we are getting into OOM condition which is happening all the time from this container. Does this container by default need more resources or there is actual memory leak ca

[2020-01-27 16:04] sghung commented on #1836
Travis' investigation:
- Cannot create projects
- Only GO can build projects
- Need to test appsody as well

[2020-01-27 16:11] sghung commented on #934
For 0.9.0 supporting using the codewind ref file for adding external files that can be synced up. More details to come once the items get in.

[2020-01-27 16:16] ssh24 commented on #1858
/assign

[2020-01-27 17:06] james-wallis commented on #1788
Trying using Centos, I've made each of our images use `centos:10` and as the first command install `node 10` meaning that they share that layer.

**Test** - totally clear out my images and run `./build.sh` to see the total space we'll take up when they're built. The images will be smaller on Dockerhub as they're compressed.

*Before build.sh*
[code]

*After build.sh*
[code]

Our current master bra

[2020-01-27 17:28] sujeilyfonseca commented on #1746
I verified this issue with the latest Codewind, and I still see the problem.

If I have a clean installation, I can still see a message warning me that I haven't set up an Image Registry for Codewind style projects:

![Screen Shot 2020-01-27 at 11 04 37 AM](https://user-images.githubusercontent.com/49531960/73197647-a8242280-40ff-11ea-8efa-d567adcf3352.png)

However, I can still reproduce the scen

[2020-01-27 17:28] rajivnathan commented on #1812
@eharris369 PFE has locale settings so when the IDE connects it can set the locale. Not sure whether the locale API is currently exposed but that would be trivial if/when we need it.

[2020-01-27 17:39] #1862 closed

[2020-01-27 17:43] jcockbain opened #1886 "cwctl upgradeProjects test failures"
**Cwctl version:** Latest

**Description:**

The upgrade_tests are failing in master of cwctl.

[code]
We should fix this, and ideally look at getting these running in Jenkins to stop this happening again.

**Steps to reproduce:**

Run the tests, either from the package itself, or using the `test.sh` script.

[2020-01-27 17:43] jcockbain commented on #1886
/area portal

[2020-01-27 17:51] jcockbain opened #1887 "cwctl apiroutes templates_test failures"
**Cwctl version:** Latest

**Description:**

The apiroutes template_tests are failing in master of cwctl. This is because we assert the number of templates satisfying a certain filter are equal to hardcoded values. The template lists have changed without these numbers changing. As our non unit-tests don't run in Jenkins this is difficult to track.

[code]
This should be fixed, and we should think

[2020-01-27 17:52] jcockbain commented on #1887
/tag area/portal

[2020-01-27 17:58] maysunfaisal commented on #1746
This hasnt been implemented yet in the UI, so the fix cant be tested.

[2020-01-27 18:26] jgwest commented on #1723
Moving back to In Progress per above.

[2020-01-27 20:10] tetchel opened #1888 "Notify 'culprits' when master or release branch build fails"
After a merge to master or a release branch, if the build fails, an email should be sent to:
- any person who committed changes to the merged PR
- the person who merged the PR
- the releng head (joseph) and perhaps the backup (me)

this way we can notice and fix build failures asap.

https://stackoverflow.com/questions/30398465/how-to-get-culprits-or-committers-inside-a-jenkins-workflow-with-one-o

[2020-01-27 20:14] stevencoc opened #1889 "Fix jar signing issue for open api eclipse"
Currently the open api eclipse jar has jar signing warnings when installing. The jars should be signed to avoid this warning.

[2020-01-27 20:15] sghung opened #1890 "Fix jar signing issue for open api eclipse"
Currently the open api eclipse jar has jar signing warnings when installing. The jars should be signed to avoid this warning.

[2020-01-27 20:15] #1889 closed

[2020-01-27 20:19] sghung commented on #1889
Sorry, logged on as the wrong account to open the issue.

[2020-01-27 20:33] jgwest commented on #1854
@james-wallis Think that only works if one is using a scripted pipeline, whereas we are using declarative pipelines.

[2020-01-27 21:17] #1840 closed

[2020-01-28 01:50] eharris369 commented on #1877
I do not see this behaviour in Eclipse.  It restarts in debug mode and stays in debugging state with the debugger connected.  If I restart in debug mode from debug mode it is fine as well.