[2020-05-07 13:49] markcor11 commented on #2871
Reproduced this, is caused by missing labels in the deployments PR to follow

[2020-05-07 14:45] stalleyj commented on #2860
@jgwest Reminds me of that one too and I am happy to say that I have finally recreated the problem and identified why we are failing.  The issue occurs because when you import a folder in eclipse, the file(s) keep their original last modified timestamp and this is used inside of the sync function to determine if the file has changed since last sync. This means the new file is not uploaded. I was a

[2020-05-07 14:46] stalleyj commented on #1953
Closing this as a duplicate of the issue above, working on a solution.

[2020-05-07 14:46] #1953 closed

[2020-05-07 14:58] mattcolegate commented on #2798
This is taking a little longer than expected due to operater install meaning we have more than one PFE per namespace - having to fix that up too...

[2020-05-07 15:00] rwalle61 commented on #1160
Here's a summary of my research into this over the past couple of days:

There is no good way for PFE to support this feature without changes from Appsody, or handling Appsody projects very specially in PFE.

I could manually copy the appsody nodejs template files into the `codewind-pfe` container, then `exec` in and do `appsody init`. But when I did `appsody run`, I hit an error `ENOENT: no such

[2020-05-07 15:03] jagraj opened #2872 "SVT:Hybrid:Appsody node red sample fails to build and start."
**Codewind version:** 0.12.0
**OS:** Windows/OCP 4.3.18

**Che version:**
**IDE extension version:** 0.12.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:** OCP 4.3.18

**Description:**
Failed to build Appsody node red sample application on remote Codewind. This is the failure that I am getting.

When I go and look into app deployment I see this for pod.

**Pogs and their logs**

[code]

[

[2020-05-07 15:04] jagraj commented on #2872
/priority stopship

[2020-05-07 15:05] jagraj commented on #2872
I see same problem with Appsody Nodejs loop back application as well.

[2020-05-07 15:14] sishida commented on #2852
Notes:
- Linking: Two projects can connect to one another. Automatic service lookup and replace so a developer can place an environment variable in the code and simplify connecting projects together.
- Need to create, rename environment variable, and remove.
- If Project A stops and restarts, Project A will remember it's connected to Project B.
- If Project B is gone, Project A will still try to c

[2020-05-07 15:16] sishida commented on #2863
If a fix will be delivered in future releases, will it suffice to leave information for users in this issue and forego the troubleshooting documentation update?

[2020-05-07 15:17] rwalle61 commented on #2291
May status:
- **Proportion of open bugs / open issues on Codewind repo** 175/427 = 34%
- **Proportion of bugs opened by SVT / open issues on Codewind repo** 50/427 = 9%

[2020-05-07 15:22] makandre commented on #1160
@rwalle61 What you're seeing is a common gotcha when running docker-in-docker.

Your docker client in PFE is saying to mount `/codewind-workspace/cw-temp/anode2/` (this is a valid path in PFE).  But the client is talking to the Docker daemon on your host system, and the file system it sees is your host file system, not the PFE's file system.  Hence `/codewind-workspace/cw-temp/anode2` is not valid

[2020-05-07 15:24] mmulholl opened #2873 "SVT : Eclipse : Mac : Appsody Quarkus Kafka project does not start"
**Codewind version:** 0.12.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:** Eclispe jee 2019-09
**Kubernetes cluster:**

**Description:**
Not sure of this is expected but my Appsody Quarkus Kafka project does not start.

[pfe.log](https://github.com/eclipse/codewind/files/4593883/pfe.log)
[quarkuskafka.log](https://github.com/eclipse/codewind/files/4593884/quarkuskafka.log)

[2020-05-07 15:29] mmulholl opened #2874 "SVT : Eclipse : Mac : Appsody Spring Boot Kafka project does not start"
**Codewind version:**0.12.0
**OS:**Mac

**Che version:**
**IDE extension version:**Eclipse jee 2019-09
**IDE version:**
**Kubernetes cluster:**

**Description:**
Not sure if this is as expected but Appsody Spring Boot Quarkus project does not start

[pfe.log](https://github.com/eclipse/codewind/files/4593916/pfe.log)
[springkafka.log](https://github.com/eclipse/codewind/files/4593917/springkafka.l

[2020-05-07 15:51] makandre commented on #2874
It looks like this particular template doesn't start without a Kafka instance configured... will need to check with the appsody folks on this one.

/area appsody

[2020-05-07 15:52] makandre commented on #2874
btw this is Spring Boot **Kafka** and not Spring Boot **Quarkus** right? @mmulholl

[2020-05-07 16:08] mattcolegate commented on #2798
I was wrong - turned out all I needed was the `--insecure` flag - thanks @markcor11

[2020-05-07 16:10] mattcolegate commented on #2798
/pipeline Review/QA

[2020-05-07 16:12] makandre commented on #2873
Similar to #2874, this particular template appears to require a Kafka instance.  Will check with appsody folks.

/area appsody

[2020-05-07 16:13] james-wallis opened #2876 "Add the target project name to the project link object"
To enable the IDEs to show better user errors we should add the target project name to the project link object so that cases where the target project might no longer exist the IDEs can still show a nice error to the user.

**Proposed solution:**

Requires a change on the PFE side: #2875
Requires a change on the CLI side: needs to be completed after the PFE PR has gone in.

[2020-05-07 16:13] james-wallis commented on #2876
/area portal
/assign

[2020-05-07 16:32] james-wallis opened #2877 "Persist application ports on a rebuild"
**Description of the enhancement:**

For most projects when we trigger a rebuild the port for the application changes, this means that a webpage that the user has open will no longer work and they'll have to go back to the IDE and press the open page button again. This is bad UX.

To start this should be for local only but the ingress URLs provided in Kubernetes should also be checked.

**Proposed

[2020-05-07 16:32] james-wallis commented on #2877
/area portal

[2020-05-07 16:45] makandre commented on #2872
I wasn't able to reproduce this.  Both project types started fine for me.

[2020-05-07 17:21] malincoln commented on #2866
@stalleyj @tobespc  ^^^

[2020-05-07 17:52] makandre commented on #2866
Cloud be that these new Kafka templates don't run correctly without a configured Kafka.  I've asked @neeraj-laad a question on slack.

[2020-05-07 18:16] tetchel opened #2878 "Webviews should be disposed on deactivation"

[2020-05-07 18:53] jagraj commented on #2872
@tobespc @markcor11 @makandre
Ok, After lot of debugging on various clusters with operator install and legacy way installing remote codewind makes big difference. The operator install not enabling OpenShift clusters for root access and privileged. Due to this all the templates need root access and they all failing. The operator install for OpenShift clusters must enable these configs for the apps

[2020-05-07 18:56] jagraj commented on #2872
/area portal

[2020-05-07 19:08] johnmcollier commented on #2828
Nothing to do on our side - just waiting on the feature request from Che

[2020-05-07 19:12] mmulholl commented on #2874
Oops, updated to kafka, thx

[2020-05-07 19:40] johnmcollier commented on #2872
FYI, it seems the operator only enables the `privileged` policy, but not `anyuid`: https://github.com/eclipse/codewind-operator/blob/d10e28ab9fe90f15452bc7a0b9d32c3af3b84ba8/pkg/controller/codewind/rbac.go#L29

[2020-05-07 20:38] jasperchui opened #2879 "Update documentation to include Intellij"
**Description:**
Update docs to include Intellij:
https://www.eclipse.org/codewind/overview.html#what-integrated-development-environments-ides-do-codewind-support
Codewind is available as a desktop IDE extension for VS Code and Eclipse and as a cloud-based IDE extension for Eclipse Che.

[2020-05-07 20:50] jasperchui commented on #2879
also:
https://www.eclipse.org/codewind/remote-deploying-codewind.html#prerequisites
stall your preferred IDE on your local machine. For more information about installing Eclipse, see Getting started with Codewind for Eclipse, or for more information about installing VS Code, see Getting started with Codewind for VS Code.

[2020-05-07 21:10] sishida commented on #2879
Updates:
1️⃣ PR for the overview topic: https://github.com/eclipse/codewind-docs/pull/578
2️⃣ IntelliJ is added to the IDE list in the Markdown file: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-deploying-codewind.md#prerequisites. The update should appear with the next release.

[2020-05-07 21:15] keithchong opened #2881 "[IntelliJ] Enable the new project menu action and module builder to handle remote connections"
**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
Currently our implementation only handles local connections.  When we create the project, the connection id is defaulted to "local"    ( String conid = LocalConnection.DEFAULT_ID; )

We don't pass the connection object from the new project action to the CodewindModuleBu

[2020-05-07 21:28] jasperchui opened #2882 "Should this include IBM Cloud Kubernetes Service"
**Description:**
https://www.eclipse.org/codewind/remote-deploying-codewind.html#prerequisites
Have an active Kubernetes context and log in to the cluster. Codewind can run in OpenShift 3.11, OpenShift 4.3, OpenShift in IBM Public Cloud, standalone Kubernetes, and Kubernetes in Docker.

[2020-05-08 00:48] johnmcollier commented on #2882
Here's my 2 cents:

IMO, since we're Kube-generic, I'm not crazy on listing specific distributions of Kube that we should support. I'd almost rather we list the requirements we have on Kube (Kube version, ingress, storage, etc), then saying "OpenShift 3.11, OpenShift 4.x, ..."

[2020-05-08 11:47] #2764 closed

[2020-05-08 13:02] jasperchui commented on #2879
Another one:
https://www.eclipse.org/codewind/remote-codewind-overview.html#prerequisites
Install your preferred IDE on your local machine. For more information about installing Eclipse, see Getting started with Codewind for Eclipse, or for more information about installing VS Code, see Getting started with Codewind for VS Code.

[2020-05-08 13:13] jasperchui opened #2883 "Doc does not reflect in nav bar"
**Description:**
From this page (https://www.eclipse.org/codewind/remotedeploy-eclipse.html) When you select this link (use Codewind remotely to build and run projects in your cloud) the page (https://www.eclipse.org/codewind/remotedeploy-projects.html) does not reflect in the side nav bar.

<img width="800" alt="Screen Shot 2020-05-08 at 09 13 47" src="https://user-images.githubusercontent.com/11

[2020-05-08 13:19] rtaniwa commented on #2882
I kind of agree with you @johnmcollier to keep it simple for us. I do however wonder...will doing so make it more difficult for our users (especially those that may be newer to Kube) to be able to determine what version of those distributions suits their needs for prerequisites? Just curious if a meet in the middle approach makes sense where we list the version requirements for the various compone

[2020-05-08 13:22] sishida commented on #2883
@micgibso, @melhopper, I do not see `remotedeploy-projects` in the `docstoc` file (https://github.com/eclipse/codewind-docs/blob/master/docs/_data/docstoc.yml). However, I do see the `remotedeploy-projects-vscode` file there.

Should the link in `remotedeploy-eclipse` go to `remotedeploy-projects-vscode` instead? Thanks!

[2020-05-08 13:24] jasperchui commented on #2883
Also this page shows VScode but I got to it from the eclipse page.  Should there be an eclipse version?

[2020-05-08 13:29] eharris369 commented on #2851
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/713

[2020-05-08 13:36] jasperchui commented on #2882
I agree with the meet in the middle.  For those who know Kubernetes the version information will be sufficient and for those working with specific Cloud providers they will have confidence this has been tested against it.

I found Coder (https://coder.com/docs/installation).  For their installation they have:
Kubernetes Node Requirements
Coder Enterprise runs on any Kubernetes cluster that support

[2020-05-08 13:41] johnmcollier commented on #2882
Yeah, agreed on a middle approach. What about something like:

[code]

[2020-05-08 13:43] eharris369 opened #2884 "[Eclipse IDE] Remote debug reconnect not working after file change"
Create a Codewind style Spring project on a remote connection and switch it to debug mode. Modify a java file so that the project rebuilds (auto build is enabled). After the rebuild the debugger does not re-attach.

The problem is that currently the re-attach is triggered off of a projectChanged event because after a rebuild for a local project the exposed debug port changes. But for remote projec

[2020-05-08 13:49] eharris369 opened #2885 "[Eclipse IDE] Relaunch does not work for remote debug sessions"
A relaunch option is provided by default in Eclipse for any launch. It is not working for remote debug sessions because it is not starting up a new port forward. When the user disconnects the debug session, the port forward process is terminated as well so as not to leave these processes around. So if the user does a relaunch on their debug session then a new port forward needs to be set up.

[2020-05-08 13:56] jasperchui commented on #2879
template manager:
https://www.eclipse.org/codewind/workingwithtemplates.html#managing-templates
Note: Template Source Manager is the name used in VS Code. Eclipse uses the name Manage Template Sources.

[2020-05-08 13:58] jasperchui commented on #2879
This section should be reviewed too. "Use the Template Source Manager to perform the following actions"

[2020-05-08 14:01] eharris369 commented on #2885
Need to find a way to update the label since the port will change:
![image](https://user-images.githubusercontent.com/9484320/81413134-ef647b00-9112-11ea-9084-999b5553b663.png)

[2020-05-08 14:05] jasperchui commented on #2879
And this section:
https://www.eclipse.org/codewind/workingwithtemplates.html#adding-your-template-sources-to-codewind

[2020-05-08 15:28] #2871 closed

[2020-05-08 16:07] makandre commented on #2711
/area docs

[2020-05-08 16:08] jasperchui opened #2886 "Documenting IDE specific actions when working with projects"
**Description:**
In the Developing Projects section of the documentation it references actions such as "Codewind view and click the **Enable project** button to build containers and start the application." (https://www.eclipse.org/codewind/checkingstatuses.html#application-status)

Do we know if this button exists across all four environments?  If not, can we update the docs to reflect what users

[2020-05-08 17:30] jasperchui commented on #2879
Metrics dashboard Prereqs:  https://www.eclipse.org/codewind/metrics-dashboard.html#prerequisites
Should it include Intellij @jopit @keithchong @cccanderson could you confirm if this function is available? Thanks.

[2020-05-08 17:41] jasperchui opened #2887 "Missing instructions for other ides (Eclipse and Intellij)"
**Description:**
Code highlighting for profiling data (https://www.eclipse.org/codewind/metrics-dashboard.html#code-highlighting-for-profiling-data)
This section has instructions to install the appropriate VS Code extension VSCode however does not include instructions for the other IDEs.

[2020-05-08 17:46] tetchel commented on #2887
There is no profiling extension for those other two IDEs. This section should be explicitly marked as VS Code only.

[2020-05-08 17:46] jasperchui opened #2888 "Reference to microclimate"
**Description:**
The screenshot has reference to microclimate.
https://www.eclipse.org/codewind/metrics-dashboard.html#interpreting-the-annotation-tooltip

[2020-05-08 17:52] tetchel commented on #2888
it's also applicable to VS Code and theia, not just Theia

[2020-05-08 18:11] jasperchui opened #2889 "Screenshot says Eclipse document says Intellij in troubleshooting doc"
**Description:**
For this entry in the troubleshooting doc: https://www.eclipse.org/codewind/troubleshooting.html#cannot-find-codewind-in-marketplace-when-attempting-to-install-in-intellij
the section references intellij but the screenshot shows eclipse.

[2020-05-08 18:11] jasperchui commented on #2889
/area doc

[2020-05-08 19:21] tetchel opened #2890 "Default Node template doesn't have up-to-date appmetrics?"
`master` branch

I see this message with a new Node project:
![image](https://user-images.githubusercontent.com/8888438/81441229-657ed700-913f-11ea-8a3d-cc9507c73f7a.png)

I don't think our templates should generate any warnings out-of-the-box. Can we update the appmetrics version in the package.json?

[2020-05-08 19:38] tetchel opened #2891 "New Spring project is missing metrics capabilities"
`master` branch. 0.12 seems OK.

My new Spring project reports it doesn't have the capabilities to support the metrics dash or performance dash.

Snippet from the .inf:

[code]

(also, maybe we could remove the `injectMetrics` and `metricsAvailable` deprecated since https://github.com/eclipse/codewind/issues/1815)

[2020-05-08 21:01] #1139 closed

[2020-05-08 21:21] tetchel commented on #2891
after a restart, now my microprofile project and node project are missing the perf dashboard too

![image](https://user-images.githubusercontent.com/8888438/81450403-5a807280-9150-11ea-9079-be256d29cdc9.png)
![image](https://user-images.githubusercontent.com/8888438/81450415-5f452680-9150-11ea-940c-2c8f9dc2d102.png)

[2020-05-08 22:57] tetchel commented on #2890
I also still see this warning after enabling Inject Appmetrics and letting the project restart.

[2020-05-09 00:05] tetchel opened #2892 "What should happen when a project is deleted during a load run?"
Currently the delete proceeds, but the load runner continues sending socket events for the project that no longer exists.

Either the load run should be canceled and then the project gets deleted normally (I'd prefer this one), or the project delete should be rejected because 'a load run is in progress'.

[2020-05-09 04:10] scottkurz commented on #2712
@james-wallis  - that's interesting.   I just tried myself and couldn't recreate the problem, either inside an appsody container or outside (just running `mvn liberty:dev` on my laptop host system).
I tried a few variants... the only time I had problems was once when I accidentally named the "overrides" directory just "override" (no 's') and then tried to 'mv' it to the correct name (I had to "nud

[2020-05-10 16:19] douzizuibang commented on #2780
Sorry, How to installing codewind with vsix?

[2020-05-11 07:22] tobespc commented on #2890
you are using an old version of codewind performance, that no longer appears on latest master

[2020-05-11 07:22] #2890 closed

[2020-05-11 07:26] tobespc commented on #2892
be cleaner if the delete fails if a load is in progress, this ties in nicely with the work we are doing on preventing a build running if a load is also in progress. https://github.com/eclipse/codewind/issues/2870

[2020-05-11 07:30] tobespc commented on #2891
we also see this a lot and I've been trying to narrow it down to whether the project.inf has missing data or whether a socket message is being missed

[2020-05-11 07:49] markcor11 commented on #2872
What is the reason behind appsody projects needing the `anyuid` permission ?

[2020-05-11 08:02] markcor11 commented on #2872
/assign

[2020-05-11 08:15] mattcolegate commented on #2801
/pipeline Verify

[2020-05-11 08:31] mattcolegate commented on #2793
/pipeline In Progress

[2020-05-11 08:52] mattcolegate commented on #2801
/pipeline In Progress (as per @tobespc request)

[2020-05-11 08:52] mattcolegate commented on #2767
/pipeline In Progress
(as per @tobespc request)

[2020-05-11 08:53] mattcolegate commented on #2815
/pipeline In Progress
(as per @tobespc request)

[2020-05-11 08:53] mattcolegate commented on #2798
/pipeline In Progress
(as per @tobespc request)

[2020-05-11 09:06] mattcolegate opened #2893 "CWCTL pkg/actions has no tests"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Tests do not exist for the CWCTL pkg/actions directory
[code]

**Proposed solution:**

Create a test suite for the CWCTL pkg/actions directory

[2020-05-11 09:06] mattcolegate commented on #2893
/kind enhancement
/area portal

[2020-05-11 09:09] mattcolegate opened #2894 "CWCTL pkg/appconstants has no tests defined"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Tests do not exist for the CWCTL pkg/appconstants directory
[code]

**Proposed solution:**

Create a test suite for the CWCTL pkg/appconstants directory

[2020-05-11 09:09] mattcolegate commented on #2894
/kind enhancement
/area portal

[2020-05-11 09:10] mattcolegate opened #2895 "CWCTL pkg/errors has no tests defined"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Tests do not exist for the CWCTL pkg/errors directory
[code]

**Proposed solution:**

Create a test suite for the CWCTL pkg/errors directory

[2020-05-11 09:11] mattcolegate commented on #2895
/kind enhancement
/area portal

[2020-05-11 09:12] mattcolegate opened #2896 "CWCTL pkg/globals has no tests defined"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Tests do not exist for the CWCTL pkg/globals directory
[code]

**Proposed solution:**

Create a test suite for the CWCTL pkg/globals directory

[2020-05-11 09:12] mattcolegate commented on #2896
/kind enhancement
/area portal

[2020-05-11 09:13] mattcolegate opened #2897 "CWCTL pkg/remote/kube has no tests defined"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Tests do not exist for the CWCTL pkg/remote/kube directory
[code]

**Proposed solution:**

Create a test suite for the CWCTL pkg/remote/kube directory

[2020-05-11 09:14] mattcolegate commented on #2897
/kind enhancement
/area portal

[2020-05-11 09:14] jcockbain commented on #2829
/assign

[2020-05-11 09:15] jcockbain commented on #2829
/pipeline In Progress

[2020-05-11 09:17] mattcolegate opened #2898 "CWCTL test.sh incudes test dirs in test"
CWCTL pkg/ has no tests defined

**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Test.sh includes test directories in it's test run when it should leave them untested.
[code]

**Proposed solution:**

Remove /pkg/test and resources/test/go-project from test runs.

[2020-05-11 09:21] jcockbain commented on #2829
/assign @jcockbain

[2020-05-11 09:23] markcor11 commented on #2827
Please let us know if you are able to gather a new set of logs from the failed pod.

Moving to verify.

/verify

[2020-05-11 09:26] ebuckle commented on #2825
/assign

[2020-05-11 09:42] mattcolegate opened #2899 "Raise codecov of codewind-installer above 70%"
**Codewind version:** latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Currently codecov is showing codewind-installer's coverage being about 21%
![image](https://user-images.githubusercontent.com/15730986/81547652-0b1a8c00-9374-11ea-9284-46489253f0ae.png)

**Proposed solution:**

Add/enha

[2020-05-11 09:42] mattcolegate commented on #2899
/area portal

[2020-05-11 09:43] james-wallis commented on #2876
PR merged for this.

[2020-05-11 09:43] #2876 closed

[2020-05-11 09:44] mattcolegate commented on #2893
/kind enhancement
/area portal

[2020-05-11 09:50] mattcolegate commented on #2893
/area portal

[2020-05-11 10:42] mattcolegate commented on #2801
/pipeline In Progress

[2020-05-11 10:51] jgwest commented on #2882
My two cents:
- It's fine if we include IKS as long as we include one other service to imply our cloud-vendor agnosticism (at least one from the list of AKS, EKS, GKE)
- In the same breath, include a note saying PRs are welcome if other vendors want to test and document support for their cloud in our repo.

This guidance would also apply if we wanted to include specific step-by-step instructions o

[2020-05-11 11:32] jcockbain commented on #2829
/pipeline In Progress

[2020-05-11 11:34] makandre commented on #2872
@markcor11 Might be better answered by @neeraj-laad as to why Appsody needs `anyuid`

I know they have to spin up pods and services and they need to mount the codewind workspace pvc as well.

[2020-05-11 12:04] mattcolegate commented on #2767
https://github.com/eclipse/codewind-installer/pull/464 has now been merged - continuing work on this issue

[2020-05-11 12:36] tobespc opened #2900 "incorrect status on performance capability panel"
**Codewind version:** Latest
**OS:** Mac

**Che version:** Latest
**IDE extension version:** Latest
**IDE version:** Latest
**Kubernetes cluster:**

**Description:**
I'm testing the performance dashboard for the new capabilities panel and have found that the status is incorrect.

Create a websphere liberty microprofile app and then open the performance container.  The initial status should so ever

[2020-05-11 12:43] jagraj commented on #2679
I moved to OCP 4.4 GA and verified bsic scenarios and all looking good. I am closiong this issue now.
Thanks for all your help in debugging these issues.

[2020-05-11 12:43] #2679 closed

[2020-05-11 12:44] #2776 closed

[2020-05-11 12:54] rwalle61 commented on #2893
Thanks, I agree we'd benefit from tests for this package.

I'd just suggest using the
/kind test
tag for this and the other test issues

[2020-05-11 13:04] mattcolegate commented on #2894
/kind test

[2020-05-11 13:04] mattcolegate commented on #2895
/kind test

[2020-05-11 13:05] mattcolegate commented on #2896
/kind test

[2020-05-11 13:05] mattcolegate commented on #2897
/kind test

[2020-05-11 13:05] mattcolegate commented on #2898
/kind test
/area portal

[2020-05-11 13:06] mattcolegate commented on #2899
/kind test

[2020-05-11 13:12] jagraj commented on #2872
Based on my understanding, some of our default basic templates also need ```anyuid``` policy to be  configured.

[2020-05-11 13:13] jopit commented on #2879
Metrics dashboard is not yet available in IntelliJ.  Performance dashboard is available.

[2020-05-11 13:28] jopit commented on #2879
Metrics dashboard will be available for 0.12.

[2020-05-11 13:30] jagraj opened #2901 "SVT:Hybrid:Load test request status stuck at "Requested" state"
**Codewind version:** 0.12.0
**OS:** CoreOS/RHEL

**Che version:**
**IDE extension version:** 0.12.0
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:** OCP 4.3 / OCP 4.4 GA

**Description:**
I created Appsody open liberty project and tried to submit load test request and it got stuck at "Requested" state and it never changed after that.  We have seen this problem during 0.10.0 and 0.11.0 rel

[2020-05-11 13:30] jagraj commented on #2901
/area portal
/priority stopship

[2020-05-11 13:31] jagraj commented on #2901
At this time, I am making this as "stopship" and we will be verifying this issue on other environments as well.

[2020-05-11 13:35] tobespc commented on #2900
This is also incorrect for node apps
[code]
with appmetricsEndpoint not detecting correctly

[2020-05-11 14:14] johnmcollier commented on #2872
Doesn't Codewind still run as root? Doesn't it need the `anyuid` permission too?

[2020-05-11 14:23] mattcolegate commented on #2815
/pipeline verify

[2020-05-11 14:27] mattcolegate commented on #2801
/pipeline verify

[2020-05-11 14:28] mattcolegate commented on #2767
Updates pushed to https://github.com/eclipse/codewind-installer/pull/462 - ready for re-review

[2020-05-11 14:38] mattcolegate commented on #2798
Awaiting PR review

[2020-05-11 14:40] mattcolegate commented on #2801
Verified on master branch - namespace had codewind pods for both Toby and Mark, but `diagnostics` only pulled back Toby's.

[2020-05-11 14:40] #2801 closed

[2020-05-11 14:44] mattcolegate commented on #2857
How would you see this working for IntelliJ, as there is a default log directory we can check but the user can specify it to be anywhere?

[2020-05-11 14:52] AndyRWatson opened #2902 "codewind templates makes references to IBM Box"
**Codewind version:** 0.11
**OS:**  ALL

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Looking at the default codewind templates (aleit referenced at https://github.com/codewind-resources) I can see that that https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json references icon files stored in ht

[2020-05-11 14:55] AndyRWatson commented on #2902
/area portal

[2020-05-11 15:35] tetchel opened #2903 "(master) cwctl project create broken"
Since this morning, I can't create projects anymore. I can reproduce it locally too. It looks like the json output of `project create` is the empty string.

https://ci.eclipse.org/codewind/job/Codewind/job/codewind-vscode/job/master/131/console

[code]

[2020-05-11 15:36] tetchel commented on #2903
Looks like https://github.com/eclipse/codewind-installer/pull/464 is the culprit so fyi @stalleyj @mattcolegate

[2020-05-11 15:41] tetchel commented on #2903
https://github.com/eclipse/codewind-installer/pull/464/files#diff-fa96b9d5a42d1b81fc84841647707879R82 ?

[2020-05-11 15:44] keithchong opened #2904 "[IntelliJ] Add a connections page to the New Codewind Project Wizard"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
In IntelliJ, when you want to create a project, you can launch the new project wizard from the `File->Project..` menu.  There, you can choose the type of the new project, such as Maven, Java, Gradle, and also, Codewind.  Currently, when you

[2020-05-11 15:49] tetchel opened #2905 "Set Content-Length when streaming loadtest result"
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/loadtest.route.js#L191

Right now, the Content-Length header is not set, so the client can't know how long the download is going to take / how it is progressing. If this is set, I can show a progress bar while the download proceeds, which would be really nice when the profiling data is larger.

[2020-05-11 15:50] tobespc commented on #2901
from current investigations, it looks like the browser is simply not getting a connection to the UI socket.  We can see that the load runner has done its things but no socket messages have made their way back to the browser.  Refreshing the browser does fix this.  Can increase the initial timeout of the socket to see if that helps

[2020-05-11 15:53] rwalle61 commented on #1160
Thanks @makandre

To update the summary above, it is very difficult to sync appsody projects from PFE to the app container without bind mounting the host filesystem, because:

The `appsody` cli currently wants to bind mount the project files to the app container. But Docker does not let you bind mount files from a docker volume (used by PFE) to the app container https://stackoverflow.com/a/3138132

[2020-05-11 15:58] tobespc commented on #2900
this looks ok on 0.12.0 so could be just an issue with master

[2020-05-11 16:48] kimholmes opened #2906 "Bug when creating a project..."
**Codewind version:** .12
**OS:**

**Che version:**
**IDE extension version:** Was tested on VSCode but could exist on other IDEs
**IDE version:**
**Kubernetes cluster:**

**Description:** When creating a project, Codewind asks for permission to write to the user's desktop. If permissions are denied, Codewind does it anyway but the project is not usable.
FYI - This bug was uncovered during the DUX

[2020-05-11 16:50] kimholmes commented on #2906
@tetchel @jopit @thisguy-1

[2020-05-11 16:52] tetchel commented on #2906
What do you mean 'write to the user's desktop'?

[2020-05-11 16:53] kimholmes commented on #2906
To map the project to the user's machine, locally. Make sense?

[2020-05-11 17:08] sujeilyfonseca commented on #2692
Thank you very much for working on this issue, @hhellyer!

I have not been able to reproduce the problem again with the latest 0.12.0 images. I'll proceed to close the issue.

[2020-05-11 17:08] #2692 closed

[2020-05-11 17:28] jagraj commented on #2828
External issue which is open and my issue is duped to this and closed it.
https://github.com/eclipse/che/issues/15863

[2020-05-11 17:29] jagraj commented on #2828
Workaround posted here. (https://github.com/eclipse/che/issues/16819#issuecomment-623492491).

[2020-05-11 17:37] jopit commented on #1306
This feature still needs to be implemented by IntelliJ

[2020-05-11 17:47] mattcolegate commented on #2903
Hi @tetchel , do you happen to know what the expected output should be?

[2020-05-11 17:47] MelHopper commented on #2883
Hi @sishida @jasperchui this has been raised as a bug a few weeks ago https://github.com/eclipse/codewind/issues/2360 This is the Github issue I suggested Jake pick up last week - it is a high priority issue.

[2020-05-11 17:49] tetchel commented on #2903
the `validate` output, eg
[code]

[2020-05-11 17:52] jasperchui commented on #2883
What about "Also this page shows VScode but I got to it from the eclipse page. Should there be an eclipse version?" is that part of the bug? @MelHopper  Thanks.

[2020-05-11 17:55] mattcolegate commented on #2903
Curiously I get that on latest if `--json` isn't specified, but not if it is! Debugging now.

[2020-05-11 18:01] mattcolegate commented on #2903
OK, I see the problem - I'll have a PR up in a jiffy

[2020-05-11 18:01] mattcolegate commented on #2903
/assign
/pipeline In Progress

[2020-05-11 18:06] tetchel commented on #2903
Please add a test case too

[2020-05-11 18:15] mattcolegate commented on #2903
@tetchel https://github.com/eclipse/codewind-installer/pull/470 ready for review

[2020-05-11 18:57] tetchel commented on #2906
It asks for permission to download the project files? What operating system?

[2020-05-11 19:08] jgwest commented on #2864
Adding iterative-dev as next step is for me to review the PR.

[2020-05-11 19:42] tetchel commented on #2903
Looks good thanks

[2020-05-11 19:42] #2903 closed

[2020-05-11 19:49] jgwest commented on #2726
This should be fixed by the merged PR, but I'm closing this rather than asking Keith to verify, since it's intermittent and there are no reproduction steps (but feel free to reopen if it occurs).

[2020-05-11 19:49] #2726 closed

[2020-05-11 20:01] makandre commented on #2866
Based on discussion with @neeraj-laad in this morning's checkpoint and on slack, the template not exposing anything on the `/` endpoint is expected because the Kafka templates are not meant to be REST-style applications to begin with.

That said, the `/health` endpoints do work, and thus Codewind can ping it and the application status does go to `Running`.  Based on that I think there's nothing wr

[2020-05-11 21:22] markcor11 commented on #2901
/assign

[2020-05-11 21:33] markcor11 commented on #2872
@johnmcollier that change should be sufficient since there is an existing role binding between the service account (one per Codewind PFE) and the cluster roles containing the fix.

<img width="536" alt="Screenshot 2020-05-11 at 13 12 44" src="https://user-images.githubusercontent.com/28102564/81613920-2cf92a80-93d7-11ea-9d3d-dd1cfc660393.png">

[2020-05-11 21:50] markcor11 commented on #2827
I was able to catch the Gatekeeper logs just now at a point where Gatekeeper was up and being pinged by the IDE but the connection to PFE was not responding :

[code]

So I think I will go ahead and add the additional error handing around these proxied routes per my previous comment : https://github.com/eclipse/codewind/issues/2827#issuecomment-624646361

[2020-05-11 21:52] markcor11 commented on #2827
/pipeline In Progress

[2020-05-12 02:18] jagraj commented on #2872
This issue has been fixed with the latest 0.12.0 operator install. Thanks for the fix.

[2020-05-12 02:18] #2872 closed

[2020-05-12 06:46] markcor11 commented on #2900
Investigating,  The status of appmetricsEndpoint does change before during and after a load run or when the project is being built. I was watching it and saw it switch between a string and a boolean. It seems that the first time through it look ok (shows the "/javametrics-dash" string) then after running a 2nd or 3rd load test (which restarts the project) it goes to false and stays there. The only

[2020-05-12 07:13] tobespc commented on #2905
We are redesigning this area at the moment with regards to how and where data is processed for the profiling stuff.  This includes moving all the processing into the performance container so that the data we produce will be very lightweight.

[2020-05-12 07:15] tobespc commented on #2902
We put those files there after we found that referencing them on git was not working.  I agree thats not the best place for them long term though

[2020-05-12 08:17] mattcolegate commented on #2857
/assign

[2020-05-12 08:17] mattcolegate commented on #2856
/assign

[2020-05-12 08:36] james-wallis commented on #2900
/assign

[2020-05-12 09:48] MelHopper commented on #2243
TASK: Create a github issue to add appropriate Next Steps to the Intellij section once Intellij is no longer a tech preview.

[2020-05-12 09:54] #1980 closed

[2020-05-12 10:23] MelHopper opened #2908 "Intellij section: add signposting and orientation to function when available"
Currently, Intellij is a tech preview. Other Getting Started user flows include Next Steps, orientation and signposting to:
- remote (as Getting Started install is a prerequisite for remote install)
- working with templates
- metrics dashboard.

Once these functions become available for intellij, add the signposting and orientation into the Getting Started topics for Intellij.

Use the Eclipse or

[2020-05-12 10:28] #2243 closed

[2020-05-12 10:34] MelHopper opened #2909 "ODO: Enhance Codewind extension for ODO content location"
The ODO extension is currently burried in the Eclipse Che section of the documentation, under 'optional. configurations'. This is incorrect placement.

The ODO extension is supported for both Eclipse Che AND remote configurations.

Solution:

1. Move the ODO extension topic to level 1 in the ToC.
2. Add orientation and signposting to show it is supported for using Codewind remotely and with eclips

[2020-05-12 10:53] MelHopper commented on #2883
@jasperchui the issue we have is that the remotedeploy-project topic contains vs-code screenshots, so we cannot simply reinstate this whilst we await creation of an eclipse-specific topic with screenshots for the eclipse user flow via #2360.

However, we can for now change that link located in remotedeploy-eclipse so that it links to remotedeploy-projects-vscode.md, so that at least it appears in

[2020-05-12 10:57] stalleyj commented on #2246
This work is now complete.

[2020-05-12 10:57] #2246 closed

[2020-05-12 11:25] eharris369 commented on #2884
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/721

[2020-05-12 11:25] #2884 closed

[2020-05-12 11:28] james-wallis commented on #2900
From looking at the logs, when we make a loadrun request Turbine sends multiple `starting` and a `started` socket messages so its possible that the `setMetricsAvailability` function is overwriting itself. I have raised a PR to only run the `setMetricsAvailability` function when the project is either `started` (the endpoints should be available) and `stopped` (the endpoints most likely will not be

[2020-05-12 11:36] markcor11 commented on #2901
Following on from yesterdays Webex with @jagraj, debugged this further and it appears the socket authentication handshake may not complete following either a restart of PFE or when PFE goes unresponsive for a few seconds (busy building projects etc).  When either of those two issues occur Gatekeeper may crash with a http-proxy timeout (See issue https://github.com/eclipse/codewind/issues/2827) and

[2020-05-12 11:53] AndyRWatson opened #2913 "Update codewind.dev landing page image to include IntelliJ"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

With our support for IntelliJ, we should also look to update our main codewind.dev landing page initial image to include IntelliJ (Currently we show VSCode/Eclipse/Che)

**Proposed solution:**

[2020-05-12 11:53] AndyRWatson commented on #2913
linking to https://github.com/eclipse/codewind/issues/2908

[2020-05-12 12:43] #2881 closed

[2020-05-12 12:51] MelHopper commented on #2589
Diagrams for this topic being created under https://github.com/eclipse/codewind/issues/2369

[2020-05-12 12:59] kimholmes commented on #2906
@tetchel This happened on Mac OS.

[2020-05-12 13:02] mattcolegate commented on #2903
Test case added via PR https://github.com/eclipse/codewind-installer/pull/471

[2020-05-12 13:03] mattcolegate commented on #2798
PR has landed and I've verified using master branch code.

[2020-05-12 13:03] #2798 closed

[2020-05-12 13:05] sishida opened #2914 "Documentation style guidelines"
- Here are current style guidelines in the Codewind-docs wiki: https://github.com/eclipse/codewind-docs/wiki/Writing-style-guidelines
- Here is an issue that includes feedback that pertains to style: https://github.com/eclipse/codewind/issues/2136

[2020-05-12 13:07] MelHopper commented on #2908
Update:
- remote config and working with templates are not supported in 0.12.0 -- the user only has access to the default templates, and for IntelliJ we only support Java templates.
- performance and application metrics are supported as of 0.12.0

[2020-05-12 13:16] MelHopper commented on #473
This github issue is being done during user flow work for:
- remote: DONE as of 0.11.0
- local: DONE as of 0.12.0
- Eclipse Che: In progress  https://github.com/eclipse/codewind/issues/2718

So closing this issue.

[2020-05-12 13:17] #473 closed

[2020-05-12 13:24] MelHopper commented on #2359
This issue has been fixed as part of work on user flows.

[2020-05-12 13:27] MelHopper commented on #2381
The final parts of this issue are being covered as part of https://github.com/eclipse/codewind/issues/2718 - Create content for orientation and signposting in Eclipse Che section and improve user flow

As such, now closing this issue.

[2020-05-12 13:27] #2381 closed

[2020-05-12 14:05] rwalle61 commented on #2891
/assign

[2020-05-12 14:05] james-wallis commented on #2877
/assign

[2020-05-12 14:05] rwalle61 commented on #2877
/assign

[2020-05-12 14:06] james-wallis commented on #2891
/assign

From looking at this we just need to change the endpoints to have a trailing slash.

[2020-05-12 14:12] #2763 closed

[2020-05-12 14:12] malincoln commented on #2863
@tobespc @jagraj can this now be closed as Michael has completed the troubleshooting update?

[2020-05-12 14:12] #2359 closed

[2020-05-12 14:19] micgibso opened #2915 "Incorrectly sized box under Guides"
**Codewind version:** Latest
**OS:**

**Description:**
The box for the first guide under the Guides tab - Codewind in Eclipse - is a different size to the other one on the Guides page. The Blog tab uses the same or similar code, yet is unaffected.

**Steps to reproduce:**
Spin up the help locally, click Guides in the top menu bar.

**Workaround:**
No workaround, purely aesthetic.

[2020-05-12 14:26] jagraj commented on #2863
@micgibso
Thanks for the doc. We are good now. Closing this issue now.

[2020-05-12 14:26] #2863 closed

[2020-05-12 14:33] eharris369 opened #2916 "[Eclipse IDE] Connect debugger continues for a while after cancel"
The debugger continues trying to connect for a while after the user cancels. Everything is cleaned up properly so it is just the detection of the cancel needs to happen sooner.

[2020-05-12 14:34] eharris369 commented on #2916
Looks like CodewindDebugConnector.connectDebugger is not checking if the monitor is canceled often enough.

[2020-05-12 14:50] tetchel commented on #2906
Sorry, I don't know what prompt that could be, do you have more details or a screenshot?

[2020-05-12 15:29] eharris369 opened #2917 "[Eclipse IDE] Widget disposed exception on app overview update method"
Getting a widget disposed exception on the app overview update method after deleting a project:

[code]

[2020-05-12 15:40] micgibso commented on #2915
Screenshot attached, it's slightly offset too:
![image](https://user-images.githubusercontent.com/7224752/81714677-333ae580-946f-11ea-8c67-80ce886e1ab0.png)

[2020-05-12 16:10] MelHopper commented on #2718
Align with Becca's Quick Lab.

[2020-05-12 17:38] eharris369 commented on #2885
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/722

[2020-05-12 17:38] #2885 closed

[2020-05-12 18:16] elsony commented on #2828
Adding doc label to document the workaround for increasing the timeout in case the default value is not long enough.

[2020-05-12 18:26] eharris369 commented on #2851
Eclipse IDE accessibility testing for this feature complete. No issues found.

[2020-05-12 18:30] eharris369 opened #2920 "[Eclipse IDE] Bump up versions for 0.13.0"
Bump up the plugin and feature versions for 0.13.0

[2020-05-12 18:39] eharris369 commented on #2917
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/725

[2020-05-12 18:39] #2917 closed

[2020-05-12 19:47] tetchel opened #2922 "Warn user if they try to bind the same project to multiple connections"
Because that shouldn't really be encouraged.

Eclipse just added:

![image](https://user-images.githubusercontent.com/8888438/81738529-d5ef6600-9467-11ea-80ed-c47d479891d5.png)

[2020-05-12 19:48] maysunfaisal opened #2923 "Tile shortcut needed for IntelliJ Docs"
<img width="1675" alt="Screen Shot 2020-05-12 at 3 46 18 PM" src="https://user-images.githubusercontent.com/31771087/81738523-d25bdf00-9467-11ea-85c1-69b41b64924c.png">

Can we pls have a tile shortcut for IntelliJ like the other IDE/platforms?

/area website

[2020-05-12 20:05] eharris369 opened #2924 "[Eclipse IDE] Usability problems with project deployed dialog"
The dialog that appears when a user tries to add a project that is already deployed on another connection needs improvement:
- The message for the dialog is cut off
- Should mention the user can use the Cancel button to go back and select a different project
- Improve the text/tooltip text for the choices to make it more clear

[2020-05-12 20:20] sishida commented on #2651
From @eharris369:
Account for PR https://github.com/eclipse/codewind-eclipse/pull/722 in the documentation.

The change is that instead of creating a separate port forward launch when debugging remote Java projects, the port forward is added as a process to the debug launch. For Node.js projects the port forward is still a separate launch.

The top level is the launch and then the 2 process are un

[2020-05-12 20:22] eharris369 commented on #2651
Image to go with the above comment:
![remotedebug](https://user-images.githubusercontent.com/9484320/81741613-d5a59980-946c-11ea-9e69-e37a2de7942e.png)

[2020-05-12 20:41] AndyRWatson commented on #2923
Potential dupe ? https://github.com/eclipse/codewind/issues/2503

[2020-05-12 21:29] maysunfaisal opened #2925 "Codewind operator should not default to codewind namespace"
**Codewind version:** N/A
**OS:** N/A

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** OCP 4.3.x

**Description:**
The codewind operator should not default to namespace `codewind`. If I am running the install script from a namespace of my choosing, it should create the resources in the current namespace.

https://github.com/eclipse/codewind-operator

[2020-05-12 21:48] maysunfaisal opened #2926 "Fix Codewind operator docs for remote install"
**Description:**

I found various issues when trying to deploy Codewind remotely using the new Operator docs. IMO the docs are not user friendly, and we will be pinged for detailed explanation or missing steps from a novice user.

I am outlining some of the nits and fixes I would recommed:
- [ ] Add more details to adding user to Keycloak https://www.eclipse.org/codewind/remote-deploying-codewind.

[2020-05-12 22:47] markcor11 commented on #2925
On the original playback when we presented the operator using any namespace or a single namespace was debated and it was agreed there we would use one called "codewind".  That became the design for the first version of the operator.

Several weeks later, we've had a few requests now for allowing the operator to be installed into any namespace. I think its time we changed it...

[2020-05-12 22:52] markcor11 commented on #2926
" fiddling around for ages!" - that's not good...

[2020-05-12 22:59] maysunfaisal commented on #2926
@markcor11 yes sir. I have been getting Slack DMs from novice Docker/Kube users around Codewind installation docs in general.

I am also doing a session about Codewind and will be touching how to install Codewind remotely. So I would like to get these docs updated because someone new will struggle to navigate around these docs.

[2020-05-12 23:00] markcor11 commented on #971
/assign

[2020-05-12 23:08] maysunfaisal commented on #2925
Alright gotcha!

It'd be nice if I can provide a custom namespace using a flag `-n <namespace>` or to install it in the current namespace if no namespace flag is provided..

[2020-05-13 07:08] #2613 closed

[2020-05-13 07:09] #466 closed

[2020-05-13 07:15] tobespc commented on #2925
moving this to enhancement for adding custom namespace

[2020-05-13 07:24] tobespc commented on #2926
@micgibso Could you pick this up asap please and try a walkthrough.   If they are not clear we need to fix asap as we don't want the users first experience of using the operator to be anything less than perfect

[2020-05-13 07:48] mattcolegate commented on #2767
Awaiting PR review

[2020-05-13 07:51] mattcolegate commented on #2793
Docker solution awaiting PR review.
Investigation into getting version info for Kube continues - `kubectl version` calls `https://api.<hostname>:<port>/version` to get the server version, but how does it get the client version?

[2020-05-13 07:52] mattcolegate commented on #1579
@johnmcollier are you able to verify this issue please?

[2020-05-13 07:53] mattcolegate commented on #2858
@tobespc are you able to verify this issue please?

[2020-05-13 07:53] jcockbain commented on #2915
/assign

[2020-05-13 07:57] mattcolegate opened #2927 "Create tests for CWCTL pkg/actions/diagnostics"
**Codewind version:** Latest
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

As part of the solution to https://github.com/eclipse/codewind/issues/2893, a new test suite needs to be created to test `cwctl diagnostics`

**Proposed solution:**

A suite of tests using the "testing" framework for Go

[2020-05-13 07:57] mattcolegate commented on #2927
/assign
/area portal
/kind enhancement
/pipeline in progress

[2020-05-13 08:24] gruffwizard opened #2928 "The codewind plugins on VSCode market place say "IBM" not "Eclipse"."
I think thats pretty clear.

The codewind plugins on VSCode market place say "IBM" not "Eclipse".

![image](https://user-images.githubusercontent.com/9293028/81789096-67f47e80-94fb-11ea-80ce-bdd866e68ee1.png)

[2020-05-13 08:43] AndyRWatson commented on #2926
I agree we could add some clarify and examples around the install processes steps and adding a new user

[2020-05-13 08:46] #2915 closed

[2020-05-13 09:06] #2829 closed

[2020-05-13 09:22] MelHopper commented on #2332
This issue has been fixed by reworking the gettingstarted.md file for 0.12.0.

In addition, the new content landing page will replace the Getting Started page.

[2020-05-13 09:24] #2332 closed

[2020-05-13 09:24] MelHopper commented on #2503
This issue has been fixed in 0.12.0 by reworking the Getting Started page.

[2020-05-13 09:28] #2503 closed

[2020-05-13 10:26] MelHopper opened #2929 "Improve the design of the Guides pages"
The current Guides design is based on the kabanero-io blog design. Design of the guides pages needs to be enhanced.

**Guides Page**
- add ability to click the guide title on the list of guides at Codewind.dev/guides to navigate to the guide, in addition to the current link 'read more'
- consider adding the objectives and image metadata to the individual guide boxes when this metadata becomes avai

[2020-05-13 10:27] MelHopper commented on #2575
Please also see related github issue for improvements to Guides pages: https://github.com/eclipse/codewind/issues/2929

[2020-05-13 10:29] stalleyj opened #2930 "cwctl dg --clean should be a subcommand"
**Description:**
cwctl dg has been implemented to have a --clean flag that does not collect any diagnostic information but deletes any found on the users machine. This should be a subcommand and not a flag.  We will need to change things to be cwctl dg collect (perhaps) and I would suggest cwctl dg remove as we have used remove for projects, connections etc. Will need to update all documentation a

[2020-05-13 10:43] MelHopper opened #2931 "Rework the Remote Codewind section to use the new style guidelines"
The 'Deploying Codewind Remotely' section is currently styled like a guide. This section needs to be reworked to instead follow the new style guidelines that are now used for e.g. the Getting Started user flows.

[2020-05-13 10:47] micgibso commented on #2931
@MelHopper Look out for changes in this area too from https://github.com/eclipse/codewind/issues/2926

[2020-05-13 11:40] jcockbain commented on #2929
@MelHopper I noticed the title repetition and am about to make a PR for that.

[2020-05-13 12:08] jcockbain commented on #2929
Is this not already the case? I'm able to click the guide title to get to the guide on master.

[2020-05-13 12:17] jcockbain commented on #2594
/assign

[2020-05-13 12:22] jopit commented on #2928
The plugins are published to the VSCode market place by IBM, not by Eclipse, so the entries are in fact correct.

[2020-05-13 12:22] #2928 closed

[2020-05-13 12:37] #1362 closed

[2020-05-13 12:49] sishida commented on #2923
Closing as duplicate.

[2020-05-13 12:49] #2923 closed

[2020-05-13 13:11] eharris369 commented on #2920
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/726

[2020-05-13 13:11] #2920 closed

[2020-05-13 13:19] MelHopper commented on #2926
Re:

- [ ] Section https://www.eclipse.org/codewind/remote-codewind-overview.html#overview-using-codewind-remotely has the same info as https://www.eclipse.org/codewind/remote-deploying-codewind.html#deploying-codewind-remotely

- [ ]  Section https://www.eclipse.org/codewind/remote-codewind-overview.html#what-you-will-learn has overlapping info as https://www.eclipse.org/codewind/remote-deploying

[2020-05-13 13:24] jcockbain commented on #1872
/close

[2020-05-13 13:25] #1872 closed

[2020-05-13 13:26] jcockbain commented on #796
This will be part of https://github.com/eclipse/codewind/issues/2594.

[2020-05-13 14:21] tetchel commented on #2928
Here's the background: https://github.com/eclipse/codewind/issues/12

[2020-05-13 14:27] josephca opened #2933 "Che : URL to codewind-che.vsix should be updated to 'archive' site"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
https://github.com/eclipse/codewind-che-plugin/blob/f921854d049a32e0500f4b33a0310e0664cbad2f/plugins/codewind/codewind-theia/0.12.0/meta.yaml#L27
The URL is broken and it needs to be updated from 'download' to 'archive' site.
i.e. https://archive.eclipse.org/codewin

[2020-05-13 14:29] keithchong opened #2934 "[IntelliJ] Add image registry management in New Codewind Project wizard"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
This is relevant to remote connections only. When creating a new project under a remote connection, the new project wizard must check for the existence of at least one image or push registry already defined.

**Options:**
- Minimal code cha

[2020-05-13 14:31] tetchel commented on #2068
Closing based on John's comment above since the linked issue is fixed

[2020-05-13 14:31] #2068 closed

[2020-05-13 14:32] tetchel commented on #2933
I forgot about this when we moved to the archive; hopefully the downloads don't time out and regress https://github.com/eclipse/codewind/issues/2068 but the extension is less than 2MB now so even a poor connection should still be 'fast enough'.

[2020-05-13 14:34] eharris369 commented on #2832
I have fixed this so that the refresh method on the root Codewind element will now pick up the new connection.

[2020-05-13 14:43] elsony commented on #2761
To fix this problem, the node implementation can just follow what we did on the spring application support by overriding the entry point to tail a log file. And the log file is generated by redirecting the output of the node server start to the file.

[2020-05-13 14:47] johnmcollier commented on #2761
To add to what Elson mentioned, here are the scripts that we use to do the same in Spring:
Entrypoint: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/springScripts/new_entrypoint.sh
Server start: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/springScripts/spring-start.sh

[2020-05-13 14:57] tobespc commented on #2761
we can pick this work for 0.13

[2020-05-13 15:04] mmulholl commented on #2866
No fix was added, no change in behavior, there is nothing to verify.

[2020-05-13 15:14] mmulholl commented on #2873
Closing this issue, these project are not expected to start

[2020-05-13 15:14] #2873 closed

[2020-05-13 15:15] mmulholl commented on #2874
Closing, these projects are not expected to start.

[2020-05-13 15:15] #2874 closed

[2020-05-13 15:18] tetchel commented on #2892
This applies to a project being disabled, too

[2020-05-13 15:29] tetchel opened #2935 "Add favicon to Performance Dashboard"
It would be nice if the Performance Dashboard had a favicon, such as the Codewind logo, or some performance-related icon.

![image](https://user-images.githubusercontent.com/8888438/81832908-0d641e00-950d-11ea-83fa-30c72267e657.png)

[2020-05-13 15:35] MelHopper commented on #2929
It's not  obvious that you can click the title...other clickable entities e.g. on the content landing page are coloured in blue, so it would be good to change the colour of the guide titles to this blue whilst we await design input, if possible.

[2020-05-13 15:38] MelHopper commented on #2575
As per https://github.com/eclipse/codewind/issues/2929 for Guides, similar issue that it is not obvious that the blog title is 'clickable' in the list. Perhaps a quick fix for this whilst we await design input is to change the colour of the title text to be the blue used by design to highlight other clickable entities on e.g. the new content landing page.

[2020-05-13 15:38] MelHopper commented on #2575
'read more' is not a good link to have from an SEO point of view. UX input needed.

[2020-05-13 16:03] gruffwizard commented on #2928
@tetchel  thanks.  Well that's sucky!

[2020-05-13 16:32] tetchel commented on #2780
https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

However - Our 0.12 release is scheduled for Thursday, so you may just wait until that and then try on the new version.

[2020-05-13 16:37] tetchel opened #2936 "Improve the default name for a Keycloak instance deployed by the operator"
The default name for a keycloak instance deployed by the operator is `devex001` which seems to me like a pretty poor name, since it has no meaning to a user.

https://github.com/eclipse/codewind-operator/blob/master/deploy/crds/codewind.eclipse.org_v1alpha1_keycloak_cr.yaml#L16

https://github.com/eclipse/codewind-operator/blob/master/deploy/crds/codewind.eclipse.org_v1alpha1_codewind_cr.yaml#L19

[2020-05-13 16:38] markcor11 commented on #2935
We do actually have one - but only in remote (because its served up from gatekeeper). Should also be added to local and for Che

[2020-05-13 16:38] sujeilyfonseca opened #2937 "SVT: [Che] Metrics Dashboard intermittently missing for all other Codewind-style projects"
**Codewind version:** 0.12.0
**OS:**  Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2
**Kubernetes cluster:** OCP 4.3

**Description:** Metrics Dashboard view is missing for Java Spring projects, and intermittently missing for all other Codewind-style projects.

I encountered the problem with our Travis integration when executing an end-to-end test with a Java Spring project. Also, I r

[2020-05-13 16:38] sujeilyfonseca commented on #2937
/priority stopship

[2020-05-13 16:50] tetchel commented on #2937
this looks like https://github.com/eclipse/codewind/issues/2891 though I only saw it on master

[2020-05-13 16:59] tetchel opened #2938 "After remote Codewind operator reinstall, PFE reports an image push registry set but no image registries are configured"
Codewind version: master, but issue could be present on 0.12 too
edit: Jag has reproduced on 0.12

@eharris369 reported this issue yesterday in our IDE scrum, and now I see it too.

On Jag's Fyre cluster, we have previously created codewinds using the operator, and used them, including adding a push registry. After deleting the old codewind and deploying a new one, PFE is reporting a push registry

[2020-05-13 17:01] tetchel commented on #2938
Tagged with both areas because I don't know where the issue lies

[2020-05-13 17:07] malincoln commented on #2937
Thanks @tetchel for helping to investigate.  It looks like they may not have seen the issue on 0.12.0 but test is seeing it.   @tobespc pls help investigate.  Thanks

[2020-05-13 17:14] tetchel commented on #2938
Maybe the problem is that the `/codewind-workspace/.config/settings.json` is mounted into a PV somewhere and isn't cleared when Codewind is taken down.

[2020-05-13 17:22] markcor11 commented on #2936
The README.md documents the use of `devex001` here : https://github.com/eclipse/codewind-operator/blob/master/README.md#creating-an-initial-keycloak-service

[2020-05-13 17:23] bsbyrd1 commented on #2842
Linking to this pull request for reference: https://github.com/eclipse/codewind-docs/pull/576/files

[2020-05-13 17:28] eharris369 commented on #2916
The problem is that this call JDIDebugModel.newDebugTarget takes a long time and it does not take a progress monitor.

[2020-05-13 17:39] #2739 closed

[2020-05-13 17:43] jopit commented on #2869
@keithchong Hi Keith, could you fix this for IntelliJ?

[2020-05-13 17:46] eharris369 opened #2939 "Notify set to false for serious pod failed to start error"
I created a Codewind style Spring project on an OpenShift instance of Codewind. It got stuck in the following state:

![image](https://user-images.githubusercontent.com/9484320/81846309-dfd4a000-951f-11ea-9d64-bc8b13ad3e76.png)

When I look at the logs I see a `pod for helm release cw-spr1-c06b09a0-953f-11ea-beac failed to start` message was sent but notify is false. Should notify be true for this

[2020-05-13 17:56] sghung commented on #1991
Closing this issue as the work has been completed.

Doc changes:
Blog about working with private registries #518 (https://github.com/eclipse/codewind-docs/pull/518)

Some fixes include:
- docker: remove image after build #2402
- swift: remove image after build #2388
- nodejs: remove image after build #2387
- Copy settings.xml for springboot projects #2525
- Copy settings.xml for microprofile proje

[2020-05-13 18:01] eharris369 opened #2940 "Pod failed to start for Codewind style Spring project on OpenShift"
Creating a Codewind style Spring project on an operator installed instance of Codewind on OpenShift gives the following error:

pod for helm release cw-spr1-c06b09a0-953f-11ea-beac failed to start

PFE log with trace enabled:
[pfelog.txt](https://github.com/eclipse/codewind/files/4623742/pfelog.txt)

[2020-05-13 18:02] tetchel commented on #2940
I have the same problem; I can't get a Spring project to start.

[2020-05-13 18:56] kimholmes commented on #2041
@MelHopper I would much prefer we tweak the design to accommodate links for each IDE. I have not done that yet and will be on vacation through May 19th. I understand if you have to move forward.

[2020-05-13 19:01] josephca commented on #2933
Fixed by https://github.com/eclipse/codewind-che-plugin/pull/179

[2020-05-13 19:01] #2933 closed

[2020-05-13 19:19] jgwest commented on #2933
Yah, I'm slightly surprised we're using archive.eclipse.org for proper releases, rather than pre-release build artifacts, but guess as long as it works with acceptable wall-clock download time it's fine.

[2020-05-13 19:44] elsony commented on #2761
Removing iterative-dev label since portal team has agreed to pick this up. (Thanks Toby!)

[2020-05-13 19:46] sishida commented on #2647
Assigning myself to help with documentation work.

[2020-05-13 19:55] sishida opened #2941 "Broken links for 0.12.0"
URL        `/codewind/working-with-private-registries'
Name       `Working with Private Registries'
Parent URL http://localhost:8765/codewind/blog.html, line 139, col 65
Real URL   http://localhost:8765/codewind/working-with-private-registries
Check time 3.593 seconds
Size       196B
Result     Error: 404 Not Found

URL        `/codewind/codewind-in-intellij-may'
Name       `Codewind in IntelliJ I

[2020-05-13 20:11] sghung commented on #2080
Closing as this issue has been completed

[2020-05-13 20:11] #2080 closed

[2020-05-13 20:19] jagraj commented on #2938
After restarting my Che workspace, my push registry is gone and projects failed to build.
We will also try to reproduce this problem on other clusters as well.

![image](https://user-images.githubusercontent.com/713849/81860757-2f719680-9535-11ea-9f8f-143d4f34fb89.png)

[2020-05-13 21:15] sujeilyfonseca commented on #2761
Thanks for implementing a solution for Codewind 0.12.0!

I verified this issue with the latest Codewind 0.12.0, and I can see the logs files in Node projects when using a remote connection:

<img width="1157" alt="Screen Shot 2020-05-13 at 4 59 51 PM" src="https://user-images.githubusercontent.com/49531960/81866345-935c8500-955e-11ea-8a16-338c671e9f30.png">

[2020-05-13 21:19] sujeilyfonseca commented on #2656
I can still reproduce this problem with the latest Codewind 0.12.0, but I'll proceed to close this issue since we have another one to track this problem: https://github.com/eclipse/codewind/issues/2901

[2020-05-13 21:19] #2656 closed

[2020-05-13 21:22] sujeilyfonseca commented on #2101
Thank you for working on this issue, @tobespc and @markcor11!

I verified this issue with the latest Codewind 0.12.0, and I can no longer reproduce the problem.

[2020-05-13 21:22] #2101 closed

[2020-05-13 21:25] markcor11 commented on #2901
Made further progress with addition of 4 PRs for CWCTL, Operator and Gatekeeper. 3 have landed one about to. Those will resolve the certificate mismatch issues and problems seen because of a Gatekeeper pod restart when pfe goes silent.

Last part of this will be the socket reconnect attempt.  For that we may need to redirect the user back through he login page to pickup new tokens when a tradition

[2020-05-13 21:27] sujeilyfonseca commented on #2456
Thank you for working on this issue, @mattcolegate, @tobespc, and @tetchel!

I verified this issue with the latest Codewind 0.12.0, and I can no longer reproduce the problem.

[2020-05-13 21:27] #2456 closed

[2020-05-14 07:26] mattcolegate commented on #2767
Requested changes made and pushed to PR - awaiting PR review

[2020-05-14 07:31] mattcolegate commented on #2927
Small amount of progress available here:  https://github.com/mattcolegate/codewind-installer/tree/diagnosticsTests

[2020-05-14 07:36] micgibso commented on #2633
Completed.

[2020-05-14 07:36] #2633 closed

[2020-05-14 07:45] tobespc commented on #2937
I've ported the fix for spring projects from master to 0.12.0

The intermittent issue is something that has been seen occasionally across previous releases so will investigate that outside of this stop ship issue

[2020-05-14 08:43] james-wallis commented on #2891
/pipeline in progress

[2020-05-14 08:45] james-wallis commented on #2877
/pipeline in progress

[2020-05-14 09:00] hhellyer commented on #2830
This change has been in a week and we haven't found any issues with the performance container port being inaccessible. This can be closed.

[2020-05-14 09:00] #2830 closed

[2020-05-14 12:11] malincoln commented on #2866
@mmulholl can you go ahead and cancel this one.  Thanks

[2020-05-14 12:37] hhellyer opened #2945 "No build status while docker images are pushed."
**Codewind version:**
master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
Code Ready Containers

**Description:**
When I create a new project and build it there are various statuses about build progress but once the build completes there is no status while the build is being pushed. In the editor the project just says "Build Succeeded". (There is no

[2020-05-14 12:41] eharris369 commented on #2940
@tetchel A spring project built fine for me this morning. Can you still reproduce?

[2020-05-14 13:38] jgwest commented on #2865
Moving to verify, and will close once once it has had a chance to prove that it does not occur in our regular builds.

/pipeline verify

[2020-05-14 13:40] sishida commented on #2941
Ran the broken link check again. Received `0 warnings found. 0 errors found.` 🎉Closing this issue. 👍

[2020-05-14 13:40] #2941 closed

[2020-05-14 13:41] jgwest commented on #2865
Forgot that it was @josephca that opened this one, thanks @codewind-bot  😛

[2020-05-14 13:50] maysunfaisal commented on #2676
/release 0.14.0

[2020-05-14 13:52] maysunfaisal commented on #2649
/release 0.14.0

[2020-05-14 13:58] micgibso opened #2946 "Doc changes for 0.13.0"
**Codewind version:** 0.13.0
**OS:**

**Description of the enhancement:**
This is a summary record of all documentation changes in the Codewind 0.13.0 release:
[Brief description] [Link to issue] [Author]

[2020-05-14 14:01] maysunfaisal opened #2947 "Automate test suites with a cron/job schedule"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

All the Codewind components' test suites should be automated by a cronjob or job schedule to run outside their repo's PR environment

**Proposed solution:**

Individual Codewind component should set up a test infrastructure VM(ideally) and have t

[2020-05-14 14:19] johnmcollier commented on #568
@hhellyer @markcor11 In hybrid, is the PFE deployment labeled with a unique ID? In Che, we use `codewindWorkspace`. We need to be able to look up the parent deployment with a unique ID, in case there are multiple Codewind deployments in one namespace.

[2020-05-14 14:28] maysunfaisal opened #2949 "Run Kubernetes Test Suites in Jenkins"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Currently none of the Codewind Jenkins build have test suites for a Kube platform. They test the branch against local test suites.

We should have Kube platform tests as well

**Proposed solution:**

[To be filled soon]

/kind test

[2020-05-14 14:33] sujeilyfonseca commented on #2937
/remove-priority stopship
/priority hot

Thank you very much for working on this issue, @tobespc!

I verified this issue with the latest Codewind 0.12.0. Most Codewind-style projects didn't present the "Metric Dashboard" option when I created them. After a re-build, they seem to display the feature again. Sometimes the option may disappear after appearing with re-build in Swift and Liberty project

[2020-05-14 14:45] tetchel commented on #2947
fwiw, vs code already runs nightly.
https://github.com/eclipse/codewind-vscode/blob/master/Jenkinsfile#L88
https://github.com/eclipse/codewind-vscode/blob/master/Jenkinsfile#L124

[2020-05-14 14:51] tetchel commented on #2940
yep. Weird

[2020-05-14 14:54] keithchong opened #2950 "[IntelliJ] Show state in UI to indicate that images are being pushed"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
See Howard's issue: https://github.com/eclipse/codewind/issues/2945.

[2020-05-14 14:56] jagraj commented on #2937
@tobespc

More information from my local install. Spring project is fine that I do see Metrics feature available after build. This time Node project does not have this "Metrics dashboard" enabled. I navigated to project inf file and it says false.

[code]

Same project after rebuild, we see it is enabled and the option is available.

[code]

[2020-05-14 14:57] markcor11 commented on #568
yes they still include the workspaceID label.  The operator uses the NAME of the deployment which should be unique in the namespace.

[2020-05-14 15:01] j-c-berger commented on #2946
Please assign me, thanks!

[2020-05-14 15:11] eharris369 commented on #2940
Closing. Can re-open if it happens again.

[2020-05-14 15:11] #2940 closed

[2020-05-14 15:29] rwalle61 commented on #2947
Cool, I am happy to try setting up a test suite for Portal tests that run outside of a PR. @maysunfaisal let's go through the guidelines you wrote. (Do you have a link?)

[2020-05-14 15:29] #2024 closed

[2020-05-14 15:30] tetchel commented on #1622
Still a bug

[2020-05-14 15:39] malincoln commented on #2866
removing stopship label for 0.12.0

[2020-05-14 15:41] naveenkaratekid opened #2951 "SVT [IntelliJ]"
**Codewind version**: 0.12
**OS**: Windows

**IDE extension version:0.12**
**IDE version:IntelliJ 2019-3-5**

**Description:**
When I install Codewind and create an Appsody Open Liberty project for the first time, the project creates, but I get this popup error message that says
[code]
However, if I create another appsody open liberty project, the error message does not show up.
**Steps to reprodu

[2020-05-14 15:44] maysunfaisal commented on #2947
@rwalle61 let me edit that document a bit before sharing it with you

[2020-05-14 16:17] DavidG1011 opened #2952 "[SVT][IntelliJ] Open Container Shell option not working"
**Codewind Version**: 0.12
**OS**: Ubuntu 18.04.4 LTS
**IDE Version**: IntelliJ IDEA 2020.1.1 (Community Edition)
Build #IC-201.7223.91, built on April 30, 2020

Description: Open Container Shell option not working for any project.

In the stacktrace I see:

[code]

[pfe.txt](https://github.com/eclipse/codewind/files/4629578/pfe.txt)
[idea.log](https://github.com/eclipse/codewind/files/4629583/ide

[2020-05-14 16:46] DavidG1011 commented on #2952
/area intellij-ide

[2020-05-14 17:31] jagraj commented on #2951
I can not reproduce this problem with Codewind 0.11.0 release. Looks like this is specific to Codewind 0.12.0 release.

[2020-05-14 17:33] DavidG1011 commented on #2952
Tested on Mac with IntelliJ IDEA 2020.1.1 and the same problem is occurring. Seems to be the new version of IntelliJ that breaks it. This was working prior to upgrading.

[2020-05-14 17:33] jagraj commented on #2938
Looks like this problem happening with one of my cluster and our other team member @sujeilyfonseca  could n't reproduce this problem in her cluster. We are going to keep an eye on  other clusters as well.

[2020-05-14 17:56] sujeilyfonseca commented on #2951
During our call to debug the issue, we reproduced the problem on my Windows VM. The issue seems to be intermittent and occurs when the `temp` directory is held by a resource, making Codewind unable to delete the directory.

**Notes:**
- I created three Appsody Open Liberty projects, and I got the popup with the first of them.
- I created three Appsody Quarkus projects, and I got the popup with the

[2020-05-14 18:27] jopit commented on #2952
Open Container Shell function has been broken by a change in the 2020.1 IntelliJ release.  Right now you need to remain on the 2019.3.x versions of IntelliJ for this to work.

[2020-05-14 18:31] eharris369 opened #2953 "Documentation needs updating because dropping support for Eclipse 4.11 (2019-03)"
The new tooltip feature for common navigator views was added in Eclipse 4.12 (2019-06). This is being used to improve usability when there are errors or other problems with projects and connections (see #655). The documentation will need to be updated to reflect this including:

- Codewind documentation
- Eclipse Codewind marketplace page
- Readme

[2020-05-14 20:15] eharris369 opened #2954 "[Eclipse IDE] Modify tests so they can run with local or remote connection"
Modify the tests so that they can be run with a local or a remote connection.

[2020-05-14 20:42] eharris369 commented on #655
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/729

[2020-05-14 20:42] #655 closed

[2020-05-14 20:48] jgwest opened #2955 "Update uses of deprecated kubernetes-client APIs in Portal, to get rid of warnings in the logs and enable us to move to newer kubernetes-client versions when needed"
Now that https://github.com/eclipse/codewind/pull/2921 has merged, there are a few outstanding uses of old **kubernetes-client** APIs in the Portal PFE code that can be updated.

The [kubernetes-client](https://github.com/godaddy/kubernetes-client) folks have made breaking API changes in v9 of their codebase, and added deprecation warnings to v8 of their codebase. Since we are on v8.3.x there is n

[2020-05-14 21:28] josephca opened #2956 "IntelliJ: moderation on Jetbrains marketplace may take upto 2 days if there are compatibility issues"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
For the last releases (0.9.0/0.11.0), I don’t recall seeing this message, `'The plugin has been submitted for moderation. The request will be processed within two business days.'`
Publishing usually took 5-10mins for the last releases (0.9.0/0.11.0).

For 0.12.0, I’

[2020-05-14 22:07] keithchong commented on #2951
Project bind was successful, just before the attempt to delete the temporary folder.  The codewind project is valid.  I can reproduce this issue but it is intermittent.  Users can disregard this error message.

[2020-05-15 06:43] jcockbain commented on #2487
@sghung - has this been resolved by https://github.com/eclipse/codewind-docs/pull/498?

[2020-05-15 07:30] micgibso commented on #2765
See PR https://github.com/eclipse/codewind-docs/pull/585

[2020-05-15 07:30] #2765 closed

[2020-05-15 07:31] #2730 closed

[2020-05-15 07:31] #2731 closed

[2020-05-15 08:31] tobespc commented on #2235
first step is to get cwctl to use go modules rather than use dep dependancy package manager

[2020-05-15 08:32] tobespc commented on #2235
This may well be something we have to do to properly work with the odo2 cli

[2020-05-15 08:38] markcor11 opened #2957 "Keycloak password change dialog box is not styled"
**Codewind version:** 0.12.0

**Description:**

If a user has been assigned a temporary password they will be asked to change this during their first connection to Codewind with a browser.

On arriving at the password change screen the entry panel is not fully using the Codewind theme.

- Info lines overflow the container
- password entry fields are too small
- button is not styled

![image](https

[2020-05-15 08:38] markcor11 commented on #2957
/area portal
/assign @markcor11
/pipeline In Progress

[2020-05-15 08:39] james-wallis commented on #2891
/pipeline verify
PR has been merged for this issue, @tetchel can you please verify.

[2020-05-15 08:42] james-wallis commented on #2900
/close
PR merged for this. Given that @tobespc reviewed it, I'll close this issue.

[2020-05-15 08:42] #2900 closed

[2020-05-15 08:43] markcor11 commented on #2957
Updated theme to fix layout:

<img width="559" alt="Screenshot 2020-05-14 at 19 41 25" src="https://user-images.githubusercontent.com/28102564/82030255-1b8e7780-9690-11ea-9ee2-2b3c68674519.png">

and :
<img width="621" alt="Screenshot 2020-05-15 at 09 19 08" src="https://user-images.githubusercontent.com/28102564/82030147-f0a42380-968f-11ea-9635-dd30e0801eb4.png">

Also,  since the user will see t

[2020-05-15 09:52] tobespc opened #2958 "Define and document the upgrade story from 0.12.0 to 0.13.0 and beyond"
Now that we have the codewind-operator as a means of deploying codewind to ocp, what does this mean going forwards for upgrades?  Do we need users to install a new operator each time ?  Does anything else need to change ?

[2020-05-15 09:58] micgibso commented on #2958
Related: https://github.com/eclipse/codewind/issues/2556

[2020-05-15 09:59] stalleyj opened #2959 "cwctl diagnostic --quiet flag is not required"
**Description:**
cwctl dg has a --quiet flag but this is not required. We should be observing the --json flag to only output a single json object or output messages. Update any documentation accordingly.

[2020-05-15 12:07] hhellyer commented on #2833
This is resolved.

[2020-05-15 12:07] #2833 closed

[2020-05-15 12:12] hhellyer opened #2961 "Unable to add OpenShift internal registry to Codewind."
**Codewind version:**
master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
OpenShift (and CRC)

**Description:**
I followed the instructions here to configure access to the internal OpenShift registry:
https://www.eclipse.org/codewind/openshiftregistry.html#adding-the-openshift-registry-in-codewind
but could not add it to the registry list through th

[2020-05-15 13:04] hhellyer commented on #2961
This is caused by `cwctl` always attempting a local docker login to any registry specified. This is done to support Appsody but in this case the registry will never be available to local docker as it isn't visible outside the Kubernetes cluster.

Using the internal cluster instead of pushing images to dockerhub massively improves build times.

Adding an option to disable the docker login would be

[2020-05-15 13:50] makandre commented on #2961
Is it possible to not do the docker login for the registry designated as the Push registry?  It's unlikely for Appsody users to pull stack images from the same registry they are pushing Codewind project images to I think

[2020-05-15 13:56] hhellyer commented on #2961
The selection of whether a registry is the push registry or not is made after the registry is added. Also there's no reason a push registry can't also (generally) be a pull registry as well.

[2020-05-15 14:01] josephca opened #2962 "IntelliJ: idea-version may need to be updated to satisfy idea-version compatibility"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
In order to satisfy the new prereqs (https://github.com/eclipse/codewind/issues/2952), the following files also may need to be updated with the proper 'until-build' version (i.e. 201.6668)

Jenkinsfile:
`echo '        <idea-version since-build="193.5233.102" until-b

[2020-05-15 14:09] sghung commented on #2487
Yes @jcockbain it has been, let me close it

[2020-05-15 14:09] #2487 closed

[2020-05-15 15:01] james-wallis commented on #2712
@scottkurz That seems to describe what is happening in the container but I'm getting it just by creating the directory and file not by renaming it.

I've tested it locally outside the container by
1. `mv`ing the file into the `src/main/liberty/config/configDropins/overrides` directory, the file change is picked up fine so no issues.
2. Creating an empty file in the `src/main/liberty/config/configD

[2020-05-15 15:02] james-wallis commented on #2712
/pipeline verify
In addition, the PR has been merged for this issue (uses a rebuild rather than just adding the file to guarantee the metrics auth has been disabled).

[2020-05-15 15:07] james-wallis commented on #2712
/pipeline in progress
The UI part of this is still in progress

[2020-05-15 15:22] tetchel commented on #2891
👍

[2020-05-15 15:22] #2891 closed

[2020-05-15 15:26] markcor11 commented on #2712
Not happy with the UX.  The project needs to be restarted to pick up the changes but the capabilities panel does not show the current project status suggesting the project is still running at all times.

Reworked the feature so that the panel now closes after the /metrics/status API accepts the request to disable authentication.  Notifications then provide commentary on project bounce status.

[2020-05-15 17:12] eharris369 opened #2963 "[Eclipse IDE] Local connection shows error briefly after Eclipse restart"
After restarting Eclipse, the Local connection shows a disconnected error briefly until it is updated with the correct status. Looks like the problem is it is adding the Local connection to the connection manager before updating the install status.

[2020-05-15 18:11] thisguy-1 commented on #2647
/assign

[2020-05-15 19:36] thisguy-1 commented on #2647
@tetchel @sishida
Per our meeting here are the steps with a draft of the copy to be reviewed and edited by @sishida. This is specifically for VScode but should be adaptable to Eclipse, IntelliJ, and Che:

**Step 1**
Action: User selects "add new source", which creates dropdown wizard.
Where: Template Source Manager

**Step 2**
Action: User enters the URL of new source
Where: First prompt
Content:

[2020-05-15 20:20] eharris369 commented on #2954
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/730

[2020-05-15 20:20] #2954 closed

[2020-05-15 20:21] eharris369 commented on #2963
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/731

[2020-05-15 20:21] #2963 closed

[2020-05-18 07:28] jcockbain commented on #2594
I've deployed my version so far to https://jcockbain.github.io/codewind-docs/gettingstarted.html for feedback.

[2020-05-18 07:32] tobespc commented on #2937
so it seems our identification code still needs work. @james-wallis

[2020-05-18 07:55] hhellyer commented on #2761
This should be fixed in master, moving to verify.

[2020-05-18 08:14] hhellyer commented on #2938
@tetchel @eharris369  @jagraj - Could someone with access to @jagraj's cluster check what the reclaim policy is set to for the PV's with `kubectl get pv`?

It should be `Recycle` if we want the data they contain to be automatically removed:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reclaim-policy

(Otherwise persisting is the expected kubernetes behaviour.)

Checking on my lo

[2020-05-18 08:19] mattcolegate commented on #2959
/area docs

[2020-05-18 08:23] mattcolegate commented on #2959
/assign
/pipeline portal backlog

[2020-05-18 08:31] mattcolegate commented on #2767
PR merged
/pipeline verify

[2020-05-18 08:34] mattcolegate commented on #2927
More progress available at  https://github.com/mattcolegate/codewind-installer/tree/diagnosticsTests

[2020-05-18 09:12] markcor11 commented on #2827
/pipeline Verify

[2020-05-18 09:21] MelHopper commented on #2594
Looks great James. A few points:
- error  in Browser-based card copy "Download to develop, and run entirely on the cloud" -> 'Download to develop, **build** and run entirely on the cloud"
- Eclipse Che download button not working
- missing links in the Getting Started copy.
- Is there a way to make it obvious that page is scrollable?
- link incorrect from Developer card. Currently points to vsc-ge

[2020-05-18 09:24] MelHopper commented on #2594
Design input required: @holmesk

1. How do we get users to want to click a'button' to find more blogs? / go the blogs page? A link to '...more blogs' currently exists, but I suggest we link Blogs from the 'Blogs' section title, and this is coloured blue to indicate it is a clickable item..? Same question for Guides and Video section.
2. Please can we have an update on status of the IDE-specific de

[2020-05-18 09:38] MelHopper commented on #2594
@jcockbain can we link to a blog whose image is not a screenshot? - so that it can be distinguished better from the Youtube videos which have screenshots as an image? eg. sneak-peek-remote-development-with-codewind.html

Moving forward, we can discuss how perhaps bloggers can start using images that are not screenshots, if suitable and gets the message across better.

[2020-05-18 09:39] markcor11 commented on #2957
PR with UI changes : https://github.com/eclipse/codewind/pull/2964

[2020-05-18 10:50] jcockbain commented on #2594
Thanks @MelHopper, I've sorted most of the errors. This is the only stuff I'm not sure on:

-  what is the link for the Eclipse Che download? I didn't add that one as I wasn't sure where the download page was.

- at the moment this page is at `/getting-started.html`, so the link in the developer card would not go anywhere. Is this page supposed to be at a different URL, and are we then keeping the

[2020-05-18 10:52] james-wallis commented on #2937
/assign
Haven't been able to recreate on local, am currently getting my OpenShift instance set to version 12 to attempt to recreate there.

[2020-05-18 10:59] tobespc commented on #2648
first pass at this is to duplicate the current odo extension and replace the odo cli with odo2 commands

[2020-05-18 11:01] tobespc opened #2965 "Create odo 2 extension by cloning/amending https://github.com/eclipse/codewind-odo-extension"
**Codewind version:** latest
**OS:** all

**Che version:** n/a
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:** n/a

**Description of the enhancement:**
To get started with supporting odo2, we can take the structure of the current https://github.com/eclipse/codewind-odo-extension and create a new extension based from that.  Will need to modify the cli being used to be od

[2020-05-18 11:06] tobespc commented on #2647
The types of credential to support are
* Username / Password
* Personal Access Token
* Secure Access Token
These all need to be sent as the bearer token when making api requests.  We can store the information in the keychain (much like we do for docker registry) through cwctl

[2020-05-18 11:16] MelHopper commented on #2594
Blog copy under the blog title on the landing page is the author. can you replace the author text with the beginning of the blog? e.g. "Need a specific capability in your application? Chances are there’s a code library or package..." - however many words fit nicely on the screen.

[2020-05-18 11:16] MelHopper commented on #2594
...and same for the video - it displays the beginning of the video description.

[2020-05-18 11:19] MelHopper commented on #2041
Great, thanks Kim. The gettingstarted.html topic will be sunset when the new landing page goes live.

[2020-05-18 11:40] markcor11 commented on #971
All the required PRs are now merged which will ensure the Gatekeeper certificate is reused rather than recreated following a pod restart. That squashes  the unnecessary trust warnings in the browser.  It also makes it much easier now to import a different server key and certificates by way of the Kube TLS secret.

[2020-05-18 11:43] MelHopper opened #2966 "Determine process for ensuring topic link updates are actioned for priority external links"
**This work item depends on github issue:**

_Create Central Document detailing external links to topics_ https://github.com/eclipse/codewind/issues/2395

**Description**
As topics are reworked and overviews added to the website documentation, links from external sites and IDE UIs need to be modified and optimised.

A process is required to ensure priority external links are updated, the best link

[2020-05-18 11:51] MelHopper commented on #2041
Content Landing Page being implemented under https://github.com/eclipse/codewind/issues/2594

[2020-05-18 11:54] MelHopper commented on #2594
Link to step-by-step instructions on the Eclipse Che card are not included:
_Download to develop and run entirely on your cloud_ [step-by-step instructions](eclipse.org/codewind/che-installinfo.html)

[2020-05-18 12:09] MelHopper commented on #2594
TASK: @MelHopper to ensure we have signposting within the YAML File to the installation instructions on the website.

[2020-05-18 12:11] jcockbain commented on #2594
For the blogs, no problem as we already have the `blog_description` on each blog. The words will be the same as is seen in the `blogs` page.

Videos will be a bit trickier as we are linking off to Youtube and don't store the descriptions. I'll have a play and see if I can use the Youtube API to get descriptions.

[2020-05-18 12:12] james-wallis commented on #2937
Recreated it on OpenShift.
Think this issue is related https://github.com/eclipse/codewind/issues/2900 and there is a fix in master.
I've `cherry-picked` that commit on top of `0.12.0` and am have not seen the issue. I'll raise a PR with this commit.

[2020-05-18 12:31] micgibso commented on #2926
https://github.com/eclipse/codewind/issues/2957 also impacts this and will help signpost users further, will liaise with Mark. (fyi @markcor11)

[2020-05-18 12:42] james-wallis commented on #2937
/pipeline verify

[2020-05-18 13:07] ebuckle commented on #2825
As it currently stands, the design of LoadRunner is as follows:
- User.js creates a single LoadRunner object that it calls whenever a request for load from a project is made
- This LoadRunner can only hold a single Project object and considers itself to be 'in use' if it's project object is not null
- Once load is finished, this object is nulled and a new project can then request a load run

In th

[2020-05-18 13:56] scottkurz commented on #2712
Tagging @uberskigeek to verify (though last comment suggests it's not ready yet).

[2020-05-18 14:00] tobespc commented on #2712
not quite ready, have tested it and it does work but needs changes

[2020-05-18 14:01] stalleyj opened #2968 "Modify CLI test script to run all tests"
**Description of the enhancement:**
We currently have a test.sh script at the root of the codewind-installer repo that runs all tests that do not require Codewind to be running.  These are the tests that are executed in Jenkins. However, the repo has further tests, that need Codewind to pass but this is not obvious.

We need to make this obvious to anyone developing in this repository.

**Proposed

[2020-05-18 14:24] MelHopper commented on #2914
TASK: With respect to increasing the use of bold to also call out 'asides' to the user (see e.g. vsc-getting-started.html), @melanieh to investigate whether we can improve styling in topics to have e.g:
- a bar added like Docker https://docs.docker.com/get-started/part2/
- a box like Open Liberty

[2020-05-18 14:25] MelHopper commented on #2914
TASK: bullets and numbering: Can we use HTML inside markdown to get around the limitation in markdown of not being able to use ordered lists for sub-bullets?

[2020-05-18 14:26] MelHopper commented on #2914
Style guide to be embedded as much as possible into Acrolinx by ID team.

[2020-05-18 14:30] scottkurz commented on #2712
@james-wallis I can't think why it would matter that you were using `node` to write the override XML.   In any case, I did test your recreate instructions (outside a container, since you didn't mention appsody) and it continues to work fine for me on Win 10.

Not sure it's worth opening an issue on https://github.com/OpenLiberty/ci.maven  if it's not more recreatable, but it's an option.

[2020-05-18 14:33] MelHopper commented on #2946
To assign me.

[2020-05-18 14:34] micgibso commented on #2946
Michael
1.  Fix remote, https://github.com/eclipse/codewind/issues/2926, Michael
2.

[2020-05-18 17:53] thisguy-1 commented on #2647
@tetchel
per our conversation, we should try to figure out at what point we can let the user to know if they entered the correct credentials as they enter information and avoid them having to start the wizard all over again if they entered something incorrectly.

[2020-05-18 17:53] sishida commented on #2946
Sarah's latest doc changes:

[2020-05-18 17:55] thisguy-1 commented on #2647
Are you saying that in the front end, these method should be separate? We decided to combine the Personal access token and the secure template token in one input (method 2, above).

[2020-05-18 18:17] sishida commented on #2369
@MelHopper Please see the latest image changes incorporating feedback from Monday, May 18th:

All 3 configuration options in one file:
![ConfigOptions](https://user-images.githubusercontent.com/21180723/82245949-dd07ef80-9911-11ea-84c2-ccf27eb8e0cd.png)
Please let me know if you want to rearrange these.

Local configuration:
![LocalConfiguration](https://user-images.githubusercontent.com/21180723/

[2020-05-19 07:54] markcor11 commented on #2957
All 3 needed PRs have been created.  Will move to verify once they have been merged.

[2020-05-19 08:13] markcor11 opened #2970 "Template tests are broken in master"
**Codewind version:** master
**Description:**

Template tests are broken in master

**Steps to reproduce:**
[code]
**Workaround:**

None

[2020-05-19 08:13] markcor11 commented on #2970
/area portal

[2020-05-19 09:15] #2957 closed

[2020-05-19 10:51] markcor11 commented on #2970
Tried out the fix - works now - thanks

[2020-05-19 10:51] #2970 closed

[2020-05-19 10:53] rwalle61 opened #2972 "Unskip PFE /imagepushregistry API tests"
Leftover work from https://github.com/eclipse/codewind/issues/1716

Our `imagePushRegistry` routes are important, but our API tests for them are skipped https://github.com/eclipse/codewind/blob/master/test/src/API/registry.test.js. I think it would be fairly straightforward to revive these tests.

(We should also rename `registry.test.js` to `imagePushRegistry.test.js` to match our route file

/ar

[2020-05-19 10:54] rwalle61 commented on #2972
/kind Test

[2020-05-19 12:29] eharris369 opened #2973 "Problems with Eclipse quick guide"
Problems found in the `Getting Started with Codewind in Eclipse` guide:
- At the top it talks about running apps on Kubernetes but then all of the instructions are for a locally installed Codewind.
- `The Codewind backend containers install after you click Install. Clicking Install downloads the Codewind backend containers, ~1GB.`
   Change to:
`To install the Codewind backend containers double cl

[2020-05-19 12:57] #2755 closed

[2020-05-19 12:59] rwalle61 commented on #2647
Okay, so currently the user of `cwctl` must provide credentials when adding the secure template repository to PFE, and also when creating a project from one of those secure templates.

As per the design above, we want `cwctl` to let the user provide credentials just once (when adding the secure template repo), and not need to re-enter the credentials when creating a project from one of those secur

[2020-05-19 13:25] MelHopper commented on #2946
Mel's doc changes for 0.13.0:

1. Eclipse Che section: improve clarity, flow, signposting. Particular work done on adding browser certificates and image registries topics. Delivered under:
- https://github.com/eclipse/codewind-docs/pull/573

[2020-05-19 13:38] MelHopper opened #2974 "Split Eclipse Che section into instructions for sysadmin/DevOps and instructions for a developer"
Currently, the Eclipse Che instructions for installing Codewind for Eclipse Che and using Eclipse Che are all in a single section.

Ideally, the instructions are split based on whether the user is:

- Installing Codewind for Eclipse Che onto the cluster - DevOps or sysadmin
- Connecting to Codewind for Eclipse Che from their browser - developers

in a similar way to how the Codewind for Remote use

[2020-05-19 15:34] jopit commented on #2952
The fix for this requires updating the minimum supported level of IntelliJ to 2020.1.1

[2020-05-19 15:44] josephca commented on #2956
This issue is handled by https://github.com/eclipse/codewind/issues/2952
Closing it.

[2020-05-19 15:44] #2956 closed

[2020-05-19 15:45] josephca commented on #2962
This issue is fixed by https://github.com/eclipse/codewind-intellij/pull/126
Closing it.

[2020-05-19 15:45] #2962 closed

[2020-05-19 15:58] james-wallis commented on #2191
Demo project here: https://github.ibm.com/James-Wallis1/codewind-linking-demo

[2020-05-19 16:02] makandre commented on #1597
Verified Eclipse, thanks.

[2020-05-19 16:02] #1597 closed

[2020-05-19 16:13] eharris369 commented on #2924
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/727

[2020-05-19 16:13] #2924 closed

[2020-05-19 16:22] sishida commented on #2647
Hi, team, Just chiming in for ID that it would be great to get ID review for the messages that appear with this design. When you're ready with a PR that includes messages, please request an ID team member to look them over. Thank you!

[2020-05-19 16:33] MelHopper commented on #2718
@melanieh TASK: Add signposting to how to add registries within the Creating your 1st Codewind project for Eclipse Che topic **che-createfirstproject.html**, in case the user decides to start working with templates that exist in a credentials repo that they did not add during the setup instructions.

@melanieh TASK: Consider creating a new issue to add explicit instructions for adding an existing

[2020-05-19 16:41] MelHopper commented on #2369
Fantastic, thanks Sarah. I need to touch base with a developer to double-check how I've used the boxes on the Browser-based one, I'll get back to you asap on this.

[2020-05-19 16:48] MelHopper commented on #2718
@mark.cornaia @johnmcollier FYI.

[2020-05-19 17:14] sishida commented on #2817
@keithchong Hi, Keith, Do you know if we'll need any docs work for this issue for release 0.13.0? Please let me know. Thanks!

[2020-05-19 17:36] jcockbain commented on #1786
@sghung, @sishida I assume this is still something that would be good to have? I was looking through the website backlog and thought this might be good for @alif-munim or me to pick up.

[2020-05-19 17:56] jcockbain commented on #2771
Based on the description of the PR https://github.com/eclipse/codewind-docs/pull/149, seems that was the workaround to stop the navbar covering the anchor link.

Taking out that block does fix the spacing issue but for me the navbar then covers the anchor in question.

[2020-05-19 17:56] jcockbain commented on #2771
/assign /pipeline In Progress

[2020-05-19 17:58] jcockbain commented on #2771
/assign
/pipeline In Progress

[2020-05-19 18:01] johnmcollier commented on #568
@markcor11 Would the Codewind resource PFE UID change if the pod is restarted? I don't have an instance up right now, so can't quickly check

[2020-05-19 18:05] elsony commented on #2939
There are two things that can improve the usability on this:
1. Do not delete the pod when failure happens to allow user to view the failure log
2. Change message to notify `true` and update the message to tell the user on how to see the log to debug the problem.

[2020-05-19 18:19] sghung commented on #1786
Yes @jcockbain this is still something good to have. Even if it is the jekyll-search, which other people still use, it's still better than nothing

[2020-05-19 18:43] alif-munim commented on #1786
Hey all, I'm currently looking into lunr.js which uses client-side js to search through the site. I'll keep you posted.

[2020-05-19 19:30] eharris369 opened #2975 "[Eclipse IDE] Use builtin node.js debugger in Eclipse 2020-03 and later"
In Eclipse 2020-03 and later it has built-in node.js support including an editor and debugger. I could hook up the debugger to a Codewind node.js project for both local and remote. To support this we could check for the launch configuration type. If it is not there, use the old way (chrome based browser). If it is there than use it depending on a preference set by the user (in case it is buggy). T

[2020-05-19 20:07] sishida commented on #2952
@jopit Hi, John, I have created the PR to update the IntelliJ version in the docs: https://github.com/eclipse/codewind-docs/pull/601

[2020-05-20 06:27] markcor11 commented on #568
Yes it does change :

[code]

[2020-05-20 07:22] markcor11 commented on #971
Fixes merged and verified - closing this issue.  We have started considering cluster CA generated alternatives to self-signed certificates.

[2020-05-20 07:22] #971 closed

[2020-05-20 07:25] markcor11 commented on #2827
/close

[2020-05-20 07:37] jcockbain commented on #2837
/assign
/pipeline In Progress

[2020-05-20 07:41] mattcolegate commented on #2927
Test coverage at 62.8% at  https://github.com/mattcolegate/codewind-installer/tree/diagnosticsTests Continuing to develop

[2020-05-20 07:42] mattcolegate commented on #2793
No work done since the above update. Moving to
/pipeline Portal Backlog

[2020-05-20 07:44] mattcolegate commented on #2857
/pipeline In Progress

[2020-05-20 07:59] markcor11 opened #2976 "Send number of seconds remaining alongside the loadRun "running" heartbeat"
**Codewind version:**
**OS:** 0.12.0

**Description of the enhancement:**

Refreshing web page during a running load test makes loses the number of seconds remaining resulting in just :

![image](https://user-images.githubusercontent.com/28102564/82420051-1efe7600-9a77-11ea-9138-debb61b305a7.png)

instead of :

![image](https://user-images.githubusercontent.com/28102564/82420114-2e7dbf00-9a77-11ea

[2020-05-20 07:59] markcor11 commented on #2976
/area portal

[2020-05-20 08:05] markcor11 commented on #2901
Socket does now re-connect now that the TLS certificate remains constant after a gatekeeper restart.

The area marked in red is the socket failing to connect because the gatekeeper pod was being manually restarted.  Once it comes back up the connection resumes.

![Screenshot 2020-05-20 at 08 42 06](https://user-images.githubusercontent.com/28102564/82421314-bc0dde80-9a78-11ea-8beb-fdeea9034574.png

[2020-05-20 08:08] mattcolegate commented on #2857
PR ready for review https://github.com/eclipse/codewind-installer/pull/478

[2020-05-20 08:09] mattcolegate commented on #2856
/pipeline in progress

[2020-05-20 08:37] jcockbain commented on #2771
`margin-top: -115x` seems to be the culprit (x rather than px).

[2020-05-20 08:51] jcockbain commented on #2437
@sghung is this still a problem after your latest sidebar changes?

I can't recreate but may be misunderstanding the issue. Do you mean clicking on a linked section like https://www.eclipse.org/codewind/troubleshooting.html#cannot-find-codewind-in-marketplace-when-attempting-to-install-in-intelli?

[2020-05-20 08:53] jcockbain commented on #2049
/assign
/pipeline In Progess

[2020-05-20 08:53] jcockbain commented on #2771
/pipeline Review/QA

[2020-05-20 08:54] james-wallis commented on #2930
/assign
/pipeline in progress

[2020-05-20 09:19] snehlatamohite opened #2978 "Unable to start codewind containers on Power (ppc64le)"
**Codewind version:*0.12.0* , *0.11.0*
**OS:*RHEL*

**Question synopsis:**

We could build v0.11.0 and v0.12.0 versions of codewind on Power successfully with some changes in ppc64le dockerfiles. We will raise PR soon once we complete testing of containers successfully.
while executing test.sh script, it was not able to launch the containers due to below error which is with due to cwctl-ppc64le bi

[2020-05-20 09:22] hhellyer commented on #2248
Unassigning as we're working on improving the whole profiling story.

[2020-05-20 09:37] mattcolegate commented on #2959
/pipeline in progress

[2020-05-20 10:32] mattcolegate commented on #2856
PR ready for review https://github.com/eclipse/codewind-installer/pull/479

[2020-05-20 10:33] mattcolegate commented on #2959
PR ready for review https://github.com/eclipse/codewind-installer/pull/480

[2020-05-20 10:42] #2827 closed

[2020-05-20 10:44] #2630 closed

[2020-05-20 10:44] #2664 closed

[2020-05-20 10:45] #2815 closed

[2020-05-20 10:51] mattcolegate commented on #2248
/assign

[2020-05-20 10:59] mattcolegate commented on #2959
PR merged
/pipeline verify

[2020-05-20 11:31] jcockbain commented on #2837
After https://github.com/eclipse/codewind-installer/pull/431 the error returned shouldn't be the one described above but something like:

![image](https://user-images.githubusercontent.com/31372187/82441241-8e835e00-9a95-11ea-9e28-20bece90f5c8.png)

Investigating now however why the parameter for me is null.

[2020-05-20 11:36] markcor11 opened #2981 "Help a user change their Codewind remote password"
**Codewind version:** 0.12.0
**OS:**
**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Assist the user when they need to change their password for accessing a remote Codewind deployment.

The user needs to change their password in two places :

1.  Desktop :  CWCTL currently updates the password
2.  Remote :   Their Keycloak

[2020-05-20 11:37] markcor11 commented on #2981
/area portal

[2020-05-20 12:02] markcor11 commented on #2938
You may not see the PV show as `Recycle` if cluster storage is being dynamically allocated.  For example, in ROKS you'll see the PV policy marked as `Delete` because they also want to clean up the associated external storage asset when the PVC is removed.

Codewind operator does not generate any PV's (that is down to the cluster administrator to configure in advance).  The operator just uses the m

[2020-05-20 12:46] mattcolegate commented on #2248
The improvement work on the profiling will make this problem obsolete, so closing.

[2020-05-20 12:46] #2248 closed

[2020-05-20 12:58] mattcolegate commented on #2930
/area docs

[2020-05-20 12:58] j-c-berger commented on #2973
Thank you. I will take up this issue. I'll see if the VS Coe quick guide needs similar changes. If so, I'll make a PR for that quick guide as well.

[2020-05-20 13:00] j-c-berger commented on #1306
@hhellyer, can the docs label be removed from this issue? That is, is there anymore work for ID? Thanks!

[2020-05-20 13:10] hhellyer commented on #1306
@jopit - Will ID need to document anything IntelliJ specific for this, given that it's isn't implemented in IntelliJ yet?

[2020-05-20 13:14] sishida opened #2982 "Codewind for IntelliJ to be removed from tech preview"
The team plans to move Codewind for IntelliJ out of tech preview for 0.13.0. We need to we update docs to remove mention of IntelliJ being in tech preview and perform related clean-up.

[2020-05-20 13:16] mattcolegate commented on #2902
/assign
/pipeline in progress

[2020-05-20 13:16] tobespc commented on #2981
Whilst we can easily display a help page with info on it, we should also look to see about IDE integration and the use flow through this

[2020-05-20 13:38] mattcolegate commented on #2902
So as far as I understand the issue, we can't host the icons on Github, as there's rendering issues between browsers if we do that, and we can't store the images in Box, because even if we can get around needing to authenticate, Box links expire and we can't see them anymore. We could also do with an offline/airgapped solution (which Git would have provided).

[2020-05-20 13:41] malincoln commented on #1991
@rtaniwa or @deboer-tim pls review and close per Steven's update above.  Thanks

[2020-05-20 13:46] markcor11 commented on #2938
What could be happening is if you're quick to remove the old Codewind and create a new one with the same name, the storage associated with the old one may not have been released or recycled yet,  and since it will have the same name as the NEW codewind PVC it gets reused ?

We could do something about that by using a unique name each time for a PVC rather than the simplified deployment name.

[2020-05-20 14:06] makandre commented on #2805
Verified it's now ok on master

[2020-05-20 14:06] #2805 closed

[2020-05-20 14:18] micgibso commented on #2930
For docs, ensure `cwctl dg` command help in Troubleshooting is up to date: https://www.eclipse.org/codewind/troubleshooting.html#collecting-log-files-and-environment-data for James' PR.

[2020-05-20 14:52] tetchel commented on #2978
It's because `cwctl start` fails now if your system doesn't have a keychain installed https://github.com/eclipse/codewind/issues/2520

You could leave a comment there that this is preventing starting on PPC

[2020-05-20 14:55] tetchel commented on #971
Right now the IDEs run all cwctl commands with the `--insecure` flag. At some point it would be nice to make a user have to explicitly disable SSL cert checking instead of doing it for them. What will have to be done before we can consider that?

[2020-05-20 14:57] tetchel commented on #2647
One other sub-feature it would be nice to have is a `cwctl template repos update` command so we can allow a user to edit just some fields of an existing repo, instead of having to remove and re-add it entirely. Then we could give the option to update credentials without re-entering all the other info.

[2020-05-20 15:26] MelHopper commented on #2591
Change of plan to redirection:
1. existing getting started page will be renamed gettingstarted.md -> gettingstarted-overview.md and remain in the Getting Started section of the ToC, to be reworked or replaced at a later date.
2. gettingstarted.md page removed and a redirect to the new Content Landing Page implemented.

@jcockbain FYI

[2020-05-20 15:26] sishida commented on #978
Related issue for removing Codewind for IntelliJ from tech preview: https://github.com/eclipse/codewind/issues/2982

[2020-05-20 15:27] james-wallis commented on #2930
@micgibso raised here: https://github.com/eclipse/codewind-docs/pull/605

[2020-05-20 15:29] MelHopper commented on #2591
step 1, renaming of gettingstarted.md, delivered via PR: https://github.com/eclipse/codewind-docs/pull/606

[2020-05-20 15:35] sishida commented on #2817
Confirmed with Keith during a meeting on May 19th, 2020 that this issue is not for 0.13.0. I will unassign myself, and I or another team member can be reassigned when this issue is ready for the docs team to work on. 👍

[2020-05-20 15:35] tobespc commented on #2978
https://www.eclipse.org/codewind/troubleshooting.html#without-a-keychain-or-keyring-codewind-fails-to-run-certain-commands

this has details of the current workaround but to summarise
[code]

[2020-05-20 15:43] kimholmes commented on #2594
@MelHopper Just want to make sure I’ve answered these questions in full.
You asked:
_Design: @holmesk How do we get users to want to click a’button’ to find more blogs? / go the blogs page? Link to ‘...more blogs’ exists, does link to Blogs page need to be more prominent e.g. with the title of the section also linking to the Blogs page? Asking Design. Same question for Guides and Video section._

[2020-05-20 15:44] kimholmes commented on #2041
@MelHopper Just want to make sure I’ve answered these questions in full.
You asked:
_Design: @holmesk How do we get users to want to click a’button’ to find more blogs? / go the blogs page? Link to ‘...more blogs’ exists, does link to Blogs page need to be more prominent e.g. with the title of the section also linking to the Blogs page? Asking Design. Same question for Guides and Video section._

[2020-05-20 15:47] MelHopper opened #2984 "Add link to Guides page, Blog page and Video page from LH nav on website"
**ENHANCEMENT**
In the current design, the user only access the Guides, Blog and video Youtube) pages using:

1. links on the website header
2. links within the Content landing page codewind.dev/Learn

From a UX perspective, links from the documentation LH nav would be benficual.

**SOLUTION**
Add a link to the Guides page, blogs page and Youtube page (?) from the LH nav (aka ToC).

[2020-05-20 18:04] sishida commented on #2953
List of files in which we should update the Eclipse version:
- eclipse-getting-started.md
- codewind-openapi-eclipse.md

[2020-05-20 18:08] kimholmes commented on #1786
Adding from Slack:
![image (3)](https://user-images.githubusercontent.com/21316329/82481425-45d2a180-9aa3-11ea-943f-92fd982285d2.png)
![image (4)](https://user-images.githubusercontent.com/21316329/82481456-5256fa00-9aa3-11ea-8ccd-2fd1e27f49f2.png)

[2020-05-20 18:21] snehlatamohite commented on #2978
Thanks for pointers. I will try out given fix and will share findings here soon.

[2020-05-20 18:29] snehlatamohite commented on #2978
Hi All,

It works  with below flag , will also try installing keychain and then will try without flag.   I will add line in above mentioned defect as well.

[root@p006vm32 codewind]# ./cwctl-ppc64le --insecureKeyring start eclipse/codewind-pfe-ppc64le
Debug: false
==> environment structure written to /root/.codewind/docker-compose.yaml
System architecture is:  ppc64le
Host operating system is:  li

[2020-05-20 20:09] tetchel opened #2985 "Can't link to disabled project"
[code]
`nodep` (the target project) is disabled. it doesn't seem to matter if the source project is disabled.

[2020-05-20 21:02] makandre commented on #2792
I was testing a potential fix for https://github.com/appsody/appsody/issues/993.

The fix stopped exposing the debug port and I believe the port-forward works now, but the connection is still refused because the appsody app isn't actually listening on the debug port.  A new issue is opened for this: https://github.com/appsody/appsody/issues/999

[2020-05-20 21:50] alif-munim commented on #1786
Update:
- Added search bar with magnifying glass icon to navigation
- Alternative design for search results using bootstrap cards

I'll get this all up on a new branch as soon as I've set up the GitHub workflow on my machine 👍

![image](https://user-images.githubusercontent.com/59207653/82500588-a2dd5000-9ac1-11ea-848d-15841c6e5901.png)

[2020-05-20 23:41] tetchel opened #2986 "Consider speeding up initial build time of Codewind Node project"
I noticed that two steps of building a new Node project take up significantly more time than any other step. Those steps are
1. Installing and building natively using `gyp` the `appmetrics-dash` package
2. Running `apt-get dist-upgrade`.

Now that we can inject appmetrics, we may consider removing `appmetrics-dash` from the package.json. This reduced the build time on my machine from 87s to 44s.

[2020-05-20 23:53] tetchel commented on #2986
Also, we use a node-8 image but the `package.json` specifies an `engine` of node 12.0.0 or newer. The `engine` doesn't actually matter for this project, but the inconsistency is confusing.

[2020-05-21 00:07] tetchel opened #2987 "No state information for project stuck Pending due to failed scheduling"
My new Spring project was stuck in the `Building - Container image has been built successfully` state, with no app status. So I checked the PFE logs, which are just:

[code]
repeated.

Describing the project pod, I see
[code]

[2020-05-21 00:10] tetchel opened #2988 "No help output if an invalid operator 'install.sh' command is run"
I forgot the `codewind` command when trying to create a `codewind` using the operator:

[code]
It looks like this is output for any unrecognized command
[code]

I guess there should be a usage message output instead.

[2020-05-21 05:46] jgwest commented on #2864
@josephca Sorry for the delay, I have approved, and thanks for tackling this!

[2020-05-21 05:54] jgwest commented on #2902
@mattcolegate if it's only icons you are using, you can embed them in the HTML as base 64 URL strings:

[2020-05-21 07:12] tobespc commented on #971
I'll raise a new item to cover that @tetchel

[2020-05-21 07:17] tobespc opened #2989 "Enable codewind users to explicitly disable SSL cert checking"
Right now the IDEs run all cwctl commands with the --insecure flag. At some point it would be nice to make a user have to explicitly disable SSL cert checking instead of doing it for them.

Several parts will need to be put in place for this to happen.   IDE's will require modification to enable users to choose to disable SSL.   cwctl will need to be modified to react to SSL cert checking that cou

[2020-05-21 07:17] tobespc commented on #971
https://github.com/eclipse/codewind/issues/2989

[2020-05-21 07:30] tobespc commented on #2986
The appmetrics package does unfortunately require compilation due to having c++ code in it.   If we remove it from the node sample then users will be forced to inject it to give them the monitoring data.  By injecting appmetrics you still will get the compilation issue on first build after injecting so you ultimately don't gain anything

[2020-05-21 07:30] markcor11 commented on #2988
/assign

[2020-05-21 07:34] tobespc commented on #2985
why do you want to link to a disabled project ?  The project needs to be running so that all the information can be setup for the link to work.

[2020-05-21 08:13] mattcolegate commented on #2856
PR Merged
/pipeline Verify

[2020-05-21 08:36] markcor11 commented on #2988
PR which adds help :

Sample outputs:

**Missing command:**

[code]

**Missing operator flags:**

[code]

**Missing codewind flags:**

[code]

[2020-05-21 08:57] markcor11 commented on #2901
Made further progress :

- [x] tls resets not occurring with recent changes to gatekeeper (TLS Secrets)
- [x] UI socket connection retry if it loses connection
- [x] UI socket re-authenticates with Keycloak in order to gain access back through gatekeeper
- [x] Dashboard survives and handles Gatekeeper restarts caused by purged session tables
- [x] Dashboard REST requests all now use a valid bearer

[2020-05-21 09:15] james-wallis commented on #2985
We can't link to a disabled project as:
* Locally we use the container name (which Turbine generates but is always the same), so we need that container to be running. I didn't want to add code into Portal to generate this just incase changes in the future.
* In K8 we use the service name, but as that is generated by Turbine (iirc) we can get that from them too.

To allow us to add links while the

[2020-05-21 09:51] stalleyj opened #2990 "cwctl diagnostics remove failed"
**Description:**
cwctl diagnostics remove failed on Mac with the following output:-

./cwctl diagnostics remove
Deleting all collected diagnostics files ... 2020/05/21 09:55:43 DELETE_FILE_ERROR[206]: unlinkat /Users/stalleyj/.codewind/diagnostics: directory not empty.
done

Inspecting the directory afterwards
➜  diagnostics ls -al
total 64
drwxr-xr-x   3 stalleyj  staff     96 21 May 09:55 .
drwx

[2020-05-21 09:57] stalleyj commented on #2982
I noticed that the main landing page has a section for IDE support that doesn't currently mention IntelliJ

[2020-05-21 10:30] mattcolegate commented on #2857
Commits made to PR to address comments: PR ready for re-review eclipse/codewind-installer#478

[2020-05-21 10:36] micgibso commented on #2913
Significant signposting and user orientation improvements made, and the initial image quoted above has now gone, replaced with a list. See https://www.eclipse.org/codewind/gettingstarted.html
@MelHopper fyi...

[2020-05-21 10:46] jcockbain commented on #2451
/pipeline Review/QA

[2020-05-21 10:47] jcockbain commented on #2109
/pipeline verify

[2020-05-21 10:53] micgibso commented on #2711
@makandre I see this is pencilled in for 0.13.0, what doc changes are likely to be required? The only place we mention `codewind_network` at the moment is in the Troubleshooting.

[2020-05-21 10:54] jcockbain commented on #2757
Hi @sishida,

I was going to add redirection with the new Landing Page, as we want to redirect from `/gettingstarted` to `/learn` (with the new landing page).

At the moment, on my branch I've used `jekyll-redirect-from` (https://github.com/jekyll/jekyll-redirect-from. Which means in the frontmatter of each file you can define the routes you want to redirect to that page. Would it be help with thi

[2020-05-21 11:47] makandre commented on #2711
@micgibso We want to document that users can set `CW_NETWORKS` env var for appsody projects. Perhaps where we talk about setting environment variables for appsody? https://www.eclipse.org/codewind/importing-existing-projects.html#defining-environment-variables-for-appsody-projects

Although that section itself is somewhat hidden.

[2020-05-21 12:54] james-wallis commented on #2930
/pipeline verify

[2020-05-21 12:55] james-wallis commented on #2930
/close
Closing as PR merged.

[2020-05-21 12:56] #2930 closed

[2020-05-21 13:07] tetchel commented on #2986
At least that way the build is only slow for users actually using appmetrics

[2020-05-21 13:09] tetchel commented on #2985
OK I think I was mostly confused by the error message; if this is expected behaviour it can be closed.

[2020-05-21 13:09] #2985 closed

[2020-05-21 13:15] eharris369 opened #2992 "[Eclipse IDE] Add link to documentation on all push registry dialogs"
Add a link to the documentation on all of the error dialogs related to needing a push registry for Codewind style projects. There is already a link to the documentation on the Manage Image Registries dialog.

[2020-05-21 13:19] tetchel commented on #2780
This should be fixed now if your extension is up-to-date

[2020-05-21 13:20] tetchel commented on #2906
@kimholmes Do you have a specific message or screenshot? Since I'm not sure what this problem could be

[2020-05-21 13:26] markcor11 commented on #2988
/pipeline verify

[2020-05-21 13:28] kimholmes commented on #2906
@tetchel This was discovered during a demo we gave in the DUX review. Guy will follow up with you and see if he can recreate it.

[2020-05-21 13:30] jopit commented on #2961
- Issue a warning in this situation
  - It would be ideal if we can distiguish between not being able to contact the registry vs the login failing due to bad credentials (needs some investigation)

[2020-05-21 13:30] tetchel commented on #2988
:+1:

[2020-05-21 13:30] #2988 closed

[2020-05-21 13:32] j-c-berger opened #2993 "Problems with VS Code quick guide"
We need to correct several of our instructions, specifically, properly naming some commands. For example, we tell users to select, `Open Liberty (Default templates)` when users actually need to select `Appsody Open Liberty default template (Appsody Stacks-incubator.`

Also going through the guide, we need to add some instructions to help users with possible issues they might encounter.

[2020-05-21 13:49] tetchel commented on #1689
This is a total headache with the way the project tree is refreshed currently so i'm going to leave this as-is for the foreseeable future

[2020-05-21 13:49] #1689 closed

[2020-05-21 14:07] #2109 closed

[2020-05-21 14:09] #2959 closed

[2020-05-21 14:09] #2767 closed

[2020-05-21 14:12] rtaniwa commented on #1991
Looks like there is still a child story open. If that is done, we should close that one off (it's in verify), and then I think we can close this one off.

[2020-05-21 14:12] #2856 closed

[2020-05-21 14:16] mattcolegate commented on #2857
PR merged
/pipeline Verify

[2020-05-21 14:50] maysunfaisal commented on #407
Just posting a screenshot of the task scheduler for reference.

<img width="1053" alt="Screen Shot 2020-05-21 at 10 46 31 AM" src="https://user-images.githubusercontent.com/31771087/82571389-e59a3900-9b50-11ea-8dc1-9a554a002430.png">

[2020-05-21 15:23] makandre opened #2995 "Pick up new appsody for 0.13.0"
**Codewind version:** 0.13.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Pick up new appsody 0.6.2 scheduled for next week.

Fix for https://github.com/appsody/appsody/issues/993 will be in this release which is needed for #2792

**Proposed solution:**

[2020-05-21 15:24] makandre commented on #2995
/area appsody
/area ide-vscode
/area ide-eclipse
/area ide-intellij

[2020-05-21 15:29] makandre commented on #2995
/area appsody
/area vscode-ide
/area eclipse-ide
/area intellij-ide

[2020-05-21 15:32] sishida commented on #2757
@jcockbain Redirection would be useful! I think it sounds like a good idea! 👍

Also, please open an issue for the redirection work if there's not already one open for it. 😄Thank you!

[2020-05-21 15:32] makandre commented on #2792
The fix from appsody https://github.com/appsody/appsody/pull/1000 works. With it I can attach local vscode debugger to remote appsody project.

We'll pick up new appsody CLI with the fix via #2995.  However, that alone will not fully make remote debug work because the appsody stacks themselves will need to be updated with a new variable, and that will take time for all the stacks.

[2020-05-21 16:10] sishida commented on #2982
@stalleyj Hi, Julie, This issue is for removing instances of "tech preview" from IntelliJ documentation. I am going to add your comment to this issue instead: https://github.com/eclipse/codewind/issues/2879 Thank you!

[2020-05-21 16:12] sishida commented on #2879
Comment from @stalleyj: "I noticed that the main landing page has a section for IDE support that doesn't currently mention IntelliJ" (Originally here: https://github.com/eclipse/codewind/issues/2982#issuecomment-631997200)

[2020-05-21 16:23] sishida commented on #2982
I clicked around and searched in the Codewind.dev website for where I thought the words "tech preview" might appear for IntelliJ. I created PR 609 to update the website.

Then, I checked README files for Codewind repos: `codewind`, `codewind-docs`, `codewind-installer`, `codewind-filewatchers`, `codewind-operator`, `codewind-node-profiler`, `codewind-intellij`, `codewind-wiki`. I didn't find any i

[2020-05-21 17:00] keithchong opened #2996 "[IntelliJ] Create extensible codewind-specific dialog wrapper"
**Codewind version:** latest
**OS:** latest

**IDE extension version:** latest
**IDE version:** any supported
**Kubernetes cluster:** any

**Description of the enhancement:**
We need a base dialog wrapper that will have an OK and Cancel button, and a help button that will launch a browser on a codewind specific help topic

[2020-05-21 17:12] #2651 closed

[2020-05-21 17:36] tetchel commented on #2520
We nixed the preference to set the insecure keychain through the IDEs, so I'm removing the IDE tags

[2020-05-21 18:09] #2878 closed

[2020-05-21 18:09] #2922 closed

[2020-05-21 18:15] malincoln commented on #2078
@sghung pls verify and close. Thanks

[2020-05-21 18:17] sghung commented on #2078
Closing, thanks for investigating Andrew

[2020-05-21 18:17] #2078 closed

[2020-05-21 18:25] sghung commented on #1991
@rtaniwa I have closed off the remaining issue: https://github.com/eclipse/codewind/issues/2078

[2020-05-21 18:31] sghung commented on #1202
The microprofile template now mentions "deprecated" , so I don't think it should be marked as hot anymore

[2020-05-21 19:02] tetchel commented on #2851
@sishida for docs, the section https://www.eclipse.org/codewind/troubleshooting.html#collecting-log-files-and-environment-data should be amended to mention you can do this in VS Code and Eclipse now.

In VS Code, it's accessed through the `Codewind: Capture Diagnostics` command.

[2020-05-21 19:05] eharris369 commented on #2992
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/734

[2020-05-21 19:05] #2992 closed

[2020-05-21 19:21] eharris369 opened #2997 "[Eclipse IDE] Delay before dialog appears could confuse users"
Information about existing registries or repos needs to be retrieved before the manage image registries dialog or manage template sources dialog can be shown. This means there is an unexplained delay between when the user clicks on the action and the dialog displays. A progress monitor should be shown to the user so they know what is happening.

[2020-05-21 19:40] elsony commented on #2987
Is this reproducible or intermittent problem?

[2020-05-21 19:49] eharris369 commented on #2851
@sishida
For Eclipse it is similar to changing the Codewind server log level. First the user must enable support features in the Codewind preferences:
![image](https://user-images.githubusercontent.com/9484320/82599363-2195c400-9b7a-11ea-8c6a-ded87e09eaa4.png)
And then they can right-click on the connection and select Collect Diagnostics:
![image](https://user-images.githubusercontent.com/9484320/

[2020-05-21 19:54] tetchel commented on #2987
the problem with my PVC was intermittent but the failed scheduling problem in general is reproducible

[2020-05-21 20:27] markcor11 commented on #568
I just ran through the owner chain from a project pod to see who owns what.

Results of the owner chain are :

[code]

As a sanity check I deleted the codewind-pfe deployment and saw the projects do terminate:

[code]

That also means if a user were to do `$ kubectl delete codewind jane1` that would will remove the codewind deployment, all codewind pods and also the projects in the same way so I t

[2020-05-21 21:18] sghung commented on #1202
I talked with Sujeily and got agreement to lower the severity because the template is tagged with "deprecated" now

[2020-05-22 00:38] tetchel opened #2998 "Socket won't accept authentication after restarting minikube"
Steps:

1. Have Codewind working on minikube and connect to it from the IDE
2. Stop minikube and start it again (the IDE can be open or closed)
3. When the IDE tries to reconnect to the minikube Codewind instance, I get an `unauthorized` event after sending the authentication over the socket, with the message body `{ message: "TOKEN_REJECTED" }`.

However I can still do API calls through the gatek

[2020-05-22 07:01] jgwest commented on #2778
Merged.

[2020-05-22 07:01] #2778 closed

[2020-05-22 07:20] jgwest commented on #2998
If you all need a way to quickly setup a minikube-like cluster that can easily be restarted, see `jgwest/k3s-codewind-che` on GHE

[2020-05-22 07:42] #1579 closed

[2020-05-22 07:43] #2858 closed

[2020-05-22 09:07] james-wallis opened #2999 "Project Link - Can't link TO an ODO type project"
**Description:**
Linking to an ODO type project fails as they don't create an `ingress` which is used to get the service name for a project.

They do create a `route` which is an OpenShift type.
We can use this `route` to get the service name, we may also be able to use the application pod for the service name.
https://github.com/godaddy/kubernetes-client/blob/master/docs/1.13/CustomResourceDefini

[2020-05-22 09:41] james-wallis opened #3000 "Project Link - Can't link FROM an ODO type project"
**Description:**
Can't create a link from an ODO type project to Codewind/Appsody (Also ODO see https://github.com/eclipse/codewind/issues/2999)

Requires the ability to read from the `codewind-project-links.env` file and add them into the `odo create` command using the `--env` flags.
Needs adding here: https://github.com/eclipse/codewind-odo-extension/blob/master/odo-extension-entrypoint.sh#L60

[2020-05-22 09:41] james-wallis commented on #3000
/assign

[2020-05-22 09:58] james-wallis opened #3001 "Project ingress changes when user makes a code change to their project in Kube"
**Description:**
*Tested on a Node.js application.*
In Kube when I make a code change to my Node.js app the ingress address changes meaning a simple code change requires the user to have to look up the new ingress and open it in a browser.

Additionally, features such as project linking and metrics injection require a project to be rebuilt causing the same effect.

IMO this is really bad user expe

[2020-05-22 09:58] james-wallis commented on #3000
/area portal

[2020-05-22 09:58] james-wallis commented on #2999
/area portal

[2020-05-22 10:00] james-wallis commented on #3001
/area iterative-dev
/area portal

[2020-05-22 10:17] james-wallis opened #3002 "Automatically run the ODO Extension setup script"
**Description of the enhancement:**

As a user who had deployed Codewind and just wanted to create a project it was confusing when my ODO type project failed to build for unknown reasons.

After going through the PFE logs I asked @tobespc and he explained that when using the [ODO extension in Kubernetes](https://github.com/eclipse/codewind-odo-extension) we have to run a `setup` script to create a

[2020-05-22 10:25] james-wallis opened #3003 "Is the ODO extension only for Eclipse Che?"
**Description:**

Should the ODO extension only be run on Eclipse Che?

I'm running a remote Codewind deployment (non-eclipse che and deployed through the operator) and the ODO project types are showing up. I've created an ODO Node.js application and it seems to work fine.

Not sure if I've missed a page but the docs suggest that ODO project types are only available on Che.

Either:
1. PFE should

[2020-05-22 10:26] james-wallis commented on #3002
/area portal

[2020-05-22 10:27] james-wallis commented on #3003
/area portal
/area docs
/area extensions

[2020-05-22 10:39] james-wallis opened #3004 "Project Link - Send "From" links in the project/links GET request"
Copied from Mattermost:
`@tobycorbin` and `@james-wallis` we were talking about the implementation details of the project linking, and it would save us a lot of work if the links "to" a project were included in the project information, as well as the links "from" a project as we have currently.
I know we said we can get the frontends working with just the "from" links, but we are wondering if it's

[2020-05-22 10:40] james-wallis commented on #3004
/area portal

[2020-05-22 12:58] jcockbain commented on #2837
/pipeline Review/QA

[2020-05-22 13:12] jagraj opened #3005 "SVT:Che install failing with the latest chectl version on OpenShift 4.3.18 cluster"
**Codewind version:** 0.12.0
**OS:** CoreOS/RHEL

**Che version:** 7.9.2
**IDE extension version:** 0.12.0
**IDE version:** 7.9.2
**Kubernetes cluster:**
OCP 4.3.18

**Description:**
With the latest Chectl version ```(chectl/7.13.0 linux-x64 node-v10.20.1)``` and OC version (4.3.19 client, OCP 4.3.18 server) Che install is failing with the following error. But even with this failure, I do see all

[2020-05-22 13:13] jagraj commented on #3005
/area iterative-dev
/area docs
/priority hot

[2020-05-22 13:16] jagraj commented on #3005
This issue has been fixed in future release of `chectl` and here is the issue in che repository which has more information. https://github.com/eclipse/che/issues/16966

[2020-05-22 13:19] jcockbain commented on #2594
/pipeline Review/QA

[2020-05-22 13:49] eharris369 commented on #2997
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/735

[2020-05-22 13:49] #2997 closed

[2020-05-22 14:03] sghung commented on #2437
Hey James, yes, this was fixed with the sidebar changes, I will close it

[2020-05-22 14:03] #2437 closed

[2020-05-22 14:07] jcockbain commented on #2591
/pipeline Review/QA

[2020-05-22 14:08] jcockbain commented on #2591
Implemented as part of New Landing Page #611

[2020-05-22 14:09] jcockbain commented on #796
/pipeline Review/QA

[2020-05-22 15:07] tetchel commented on #3003
It's not for Che only, though it was when it was introduced (Before we had remote support).

@jingfuwang @sishida

[2020-05-22 15:12] tetchel commented on #3004
that's fine as long as, when A is linked to B, a `projectChanged` event is sent
1. for the new FROM link in A
2. for the new TO link in B

[2020-05-22 15:41] GeekArthur commented on #3003
ODO extension supports both Che and Remote now, we should update the corresponding docs.

[2020-05-22 15:55] jopit commented on #3004
Hi @tobespc could we get this prioritized for 0.14 please?

[2020-05-22 16:30] james-wallis commented on #3000
I've raised a PR for the ODO extension part of this: https://github.com/eclipse/codewind-odo-extension/pull/64

Need to change code in PFE to restart an ODO style project.

[2020-05-22 16:32] james-wallis commented on #2191
Support for the ODO extension:
https://github.com/eclipse/codewind/issues/3000
https://github.com/eclipse/codewind/issues/2999

[2020-05-22 17:27] johnmcollier commented on #3002
Be careful here, the script needs to be run by a user/service account that already has those roles (such as a cluster admin). You won’t be able to run it by default within PFE, as PFE doesn’t have those roles.

The roles could just be added to the PFE roles created by the operator.

[2020-05-22 17:41] #2087 closed

[2020-05-22 17:42] #2475 closed

[2020-05-22 18:01] DavidG1011 commented on #2952
This is now working with IntelliJ 2020.1.1 and has been documented for users. Thank you @jopit, @sishida

<img width="1368" alt="Screen Shot 2020-05-22 at 11 08 41 AM" src="https://user-images.githubusercontent.com/30476587/82692819-5fecbb00-9c2e-11ea-9b09-3ccf53e7b4f4.png">

[2020-05-22 18:01] #2952 closed

[2020-05-22 19:54] #2640 closed

[2020-05-22 20:27] tetchel commented on #2640
New reconnect behaviour:

After a remote connection is lost, a timer starts which will periodically try and reconnect to the disconnected Codewind instance.

The first reconnect will occur after 2s, then 4s, then 8s, etc, up to a maximum of 90s.

If the maximum period is reached, a warning is shown to the user that the tools are failing to reconnect, and they should likely disable the broken conne

[2020-05-22 21:58] keithchong opened #3007 "[Eclipse] No tab group defined in launch configuration"
**Codewind version:** Latest
**OS:** Mac

**IDE extension version:** Master
**IDE version:** Any supported
**Kubernetes cluster:** OpenShift  4.3.18

**Description:**
Error message dialog appears - No tab group defined in launch configuration

**Steps to reproduce:**
Switch app to debug mode
Go to the Debug view and right click on the process (the root node of the tree) or the `Debugging...` tree

[2020-05-24 16:15] kimholmes commented on #796
@AndyRWatson @jcockbain This issue refers to the main Codewind.dev landing page and not the Docs landing page in #2594 . Correct?

[2020-05-24 21:51] sujeilyfonseca opened #3009 "SVT: Codewind failed to create the image for default Spring Boot projects"
**Codewind version:** Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.2
**Kubernetes cluster:** OCP 4.3

**Description:** Codewind failed to create the image for default Spring Boot projects. I encountered this problem first with our Travis integration, but I can reproduce it manually in local and cloud scenarios.

<img width="315" alt="Screen Shot 2020-05-24 at 5 50 35 PM

[2020-05-25 13:15] johnmcollier commented on #3009
@sujeilyfonseca are you able to consistently reproduce? From the logs, it looks like it’s issue with the DHE server used to download the JDK. So need to figure if this was a one off issue, or if the link is dead.

[2020-05-25 15:36] tetchel commented on #3009
I really think we should try shifting the Spring template to use an openjdk instead of the IBM one for this reason. It makes the builds much slower and occasionally fail due to the DHE download.

[2020-05-25 15:42] keithchong opened #3010 "[Eclipse] Better handle the situation when you have to log into the server again"
**Codewind version:** Latest
**OS:** Mac

**IDE extension version:** Latest
**IDE version:** Eclipse - any supported
**Kubernetes cluster:** OpenShift 4.3.18

**Details:**

**Pre-req**: Do a remote debug session on a Codewind Microprofile project.  The launch config will be created.  Terminate the debug process.

Let some time pass such that you will have to login again to the server.  I tried to

[2020-05-25 16:16] eharris369 commented on #2975
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/737

[2020-05-25 16:16] #2975 closed

[2020-05-25 17:08] keithchong opened #3011 "[Performance] [Remote Debug]: Performance analysis needed. Step Over takes a long time"
**Codewind version:** Latest
**OS:** Mac  (Hybrid scenario)

**IDE extension version:** Latest
**IDE version:** Eclipse, any supported version
**Kubernetes cluster:** OpenShift 4.3.18

**Description:**
Using the Codewind Microprofile project template, set a breakpoint in the Example.java code at the first line in the method `example()`  .  I had already added a println  and rebuilt the project lik

[2020-05-25 18:55] keithchong opened #3012 "[Eclipse] Remote Debug: Remove Debug Launch Config history"
**Codewind version:** Latest
**OS:** Mac (hybrid)

**IDE extension version:** Latest
**IDE version:** Eclipse any supported version
**Kubernetes cluster:** OpenShift 4.3.18

**Description:**

After a remote debug session is terminated, restart the workbench.  The Debug view is empty.  The Launch configuration dialog shows no prior launch config (eg. Select `Run->Debug Configurations...`).  This is

[2020-05-25 23:38] keithchong opened #3013 "[OpenAPI] Bump up version numbers for 0.13.0"
**Codewind version:** latest

**IDE extension version:** latest
**IDE version:** Both Eclipse and VS Code

**Description:**
Bump up version numbers for 0.13.0

[2020-05-26 00:53] keithchong opened #3014 "Remote Debug: Process terminates unexpectedly while debugging Node app"
**Codewind version:** Latest
**OS:** Mac (Hybrid)

**IDE extension version:** Latest
**IDE version:** 2020.06M2 Eclipse
**Kubernetes cluster:** OpenShift 4.3.18

**Description:**
The debug process terminates unexpectedly.

1.  Create the Remote Connection
2. Create a Codewind Node.js Express project.
3. Set a breakpoint on line 7 of codewind.js
4. Run to that breakpoint.
5. Wait for a few seconds

[2020-05-26 07:07] tobespc commented on #3009
yep, makes sense @tetchel , will take care of that

[2020-05-26 07:33] jcockbain commented on #2771
/close

[2020-05-26 07:33] jcockbain commented on #2451
/close

[2020-05-26 07:33] #2771 closed

[2020-05-26 07:33] #2451 closed

[2020-05-26 07:52] jcockbain commented on #2837
@jagraj - the fix has now been merged to PFE. Could you verify when you get a change please?

[2020-05-26 09:01] james-wallis commented on #3002
To add the roles to the operator I think we need to take the values from [the odo cluster roles](https://github.com/eclipse/codewind-odo-extension/blob/master/setup/codewind-odoclusterrole.yaml) and add them to [the operator cluster roles](https://github.com/eclipse/codewind-operator/blob/master/deploy/cluster_roles.yaml)(and remove any duplicates).

[2020-05-26 09:15] jcockbain commented on #2594
@kimholmes @MelHopper - I've made the suggested updates, PRed my branch, and redeployed to the same link https://jcockbain.github.io/codewind-docs/learn.html.

[2020-05-26 09:23] MelHopper commented on #2718
TASK: Once this restructure PR is delivered, update the links from the Content Landing Page to the correct topic for Eclipse Che instructions.

[2020-05-26 09:25] james-wallis commented on #2999
/assign

[2020-05-26 09:35] ebuckle commented on #2892
/assign

[2020-05-26 09:36] MelHopper commented on #2974
Ensure the 'Sysadmin or Devops' Card also points the user to 'Installing Codewind on Eclipse Che' / Deploying Codewind on Eclipse Che' once this content exists.

[2020-05-26 09:43] MelHopper commented on #2594
This work will be delivered via PR #611 https://github.com/eclipse/codewind-docs/pull/611

[2020-05-26 09:46] MelHopper commented on #2594
<img width="722" alt="Screenshot 2020-05-26 at 10 31 08" src="https://user-images.githubusercontent.com/13365734/82886074-ead6f980-9f3d-11ea-95e9-60db77c0da1c.png">

'Callout with Header
This is an HTML element'

The PR with this change can be seen on the test website https://jcockbain.github.io/codewind-docs/learn.html.

[2020-05-26 09:51] micgibso commented on #1786
Tweaking the status in response to request from MelHopper.

[2020-05-26 09:51] MelHopper commented on #2568
This change is being delivered via PR https://github.com/eclipse/codewind-docs/pull/604

[2020-05-26 09:56] MelHopper commented on #2568
@micgibson please could you add me and @jcockbain as assignees and move this github issue to Review status? Cheers!

[2020-05-26 10:32] MelHopper commented on #2568
Delivered under PR https://github.com/eclipse/codewind-che-plugin/pull/180 and for                                  version 0.12.0 https://github.com/eclipse/codewind-che-plugin/pull/181

[2020-05-26 10:46] MelHopper opened #3015 "Add Callout styling to topics"
At present, the website documentation does not include styling for calling out specific information that the user needs to be aware of, but that is not part of the primary user flow for that topic.

**Enhancement:**

1. Add styling to webpages in a similar way to the following screenshots of docs/docker.com and Appsody.dev/docs, for the ID team to use within their markdown files for Callout conten

[2020-05-26 10:46] MelHopper commented on #3015
Delivered via PR #604 https://github.com/eclipse/codewind-docs/pull/604

[2020-05-26 10:50] jcockbain commented on #2568
/assign

[2020-05-26 10:54] jcockbain commented on #3015
/assign

[2020-05-26 11:04] micgibso commented on #2926
Extensive modifications, including user orientation and extra steps, added as a result of testing the instructions.  Looking back through the description again today, just the last bullet needs addressing now for VS Code and Eclipse.

[2020-05-26 11:34] MelHopper commented on #2591
/assign me

[2020-05-26 11:36] MelHopper commented on #2594
/assign me

[2020-05-26 11:38] MelHopper commented on #796
@andyrwatson are you able to confirm whether this github issue can be closed, given the new Content Landing Page, or whether this github issue refers to the main codewind.dev landing page? Many Thanks

[2020-05-26 11:42] MelHopper commented on #3015
/area ID

[2020-05-26 11:43] MelHopper commented on #3015
/area docs

[2020-05-26 12:24] AndyRWatson commented on #796
@MelHopper So originally I had envisaged a link being on the same page as the content.  So if we have instructions for remote install we'd also embed the video if available.   Maybe this wasnt clear now in original issue descriptionwith our distinction between landing page and docs.  If this is the case or its now part of a different design page then happy to consider closing.

[2020-05-26 12:44] jcockbain commented on #796
If embedding a video link in the content is something ID + Docs think would be useful, I don't believe it would be a big job technically.

I'm adding a `videos.yml` with the PR for (https://github.com/eclipse/codewind/issues/2594), which contains an embed link as one of its fields.

It would then be a case of attaching the desired video title in the metadata of the markdown file, and an embed wrap

[2020-05-26 12:50] snehlatamohite opened #3016 "Codewind test case failure on ppc64le v0.12.0"
Hi All,

I have successfully ported the codewind components to work with IBM POWER (arch : ppc64le).

eclipse/codewind-gatekeeper-ppc64le
econd ago        105MB
eclipse/codewind-keycloak-ppc64le
seconds ago      648MB
eclipse/codewind-performance-ppc64le
seconds ago      114MB
eclipse/codewind-pfe-ppc64le
I am running unit test cases, test.sh script. I have observed below results and please find a

[2020-05-26 14:25] jagraj commented on #2601
This issue has been fixed.

[2020-05-26 14:25] #2601 closed

[2020-05-26 14:30] james-wallis opened #3017 "ODO extension style project stuck in starting mode"
**Description:**
I'm using the ODO extension in OpenShift and while I can access the `route` and see the project running, the IDE is reporting them as `starting`.

This is being caused by the `deploymentconfig` property not being found in an object and Turbine throwing a Typeerror.
Logs:
[code]

**Steps to reproduce:**
Create an Openshift style project in Openshift.

**Workaround:**

[2020-05-26 14:31] james-wallis commented on #3017
/assign
/area iterative-dev
/pipeline in progress

[2020-05-26 14:39] james-wallis opened #3019 "Can't run a load test against an ODO style project"
**Description:**
As ODO does not add `projectID` labels to its `service` or `deploymentconfig` (or anything) we are unable to determine an `odo` style project's service name/ip. This means we're unable to fire load tests against it.
PFE will attempt to run a load test against: `http://codewind-gatekeeper-james-test-codewind.apps.exact-mongrel-icp-mst.9.20.195.90.nip.io:undefined/` - neither the cl

[2020-05-26 14:39] james-wallis commented on #3019
/assign
/area portal
/pipeline in progress

[2020-05-26 14:43] j-c-berger commented on #2711
@micgibso, I'm happy to take this on, thanks!

[2020-05-26 14:46] micgibso commented on #2825
We don't mention any restrictions about running load tests concurrently so no doc updates required.

[2020-05-26 15:28] maysunfaisal commented on #2938
The issue is, Codewind operator does not set all the ENV properly for Codewind to function in Kubernetes. In my PFE pod, it does not tell Codewind that it is running in K8S:
[code]

This https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/User.js#L798 is where Codewind API checks if its running in Kubernetes, and create a secret. Since this check does not pass, a secret is not c

[2020-05-26 15:37] maysunfaisal commented on #2938
This is perhaps also broken on Codewind Che as i dont see the secret there either

[2020-05-26 15:56] eharris369 opened #3020 "[Eclipse IDE] Show log files in project overview and allow user to open"
Show the log files in the project overview page as links so that the user can open them.

[2020-05-26 16:05] MelHopper commented on #796
Thanks @AndyRWatson and @jcockbain I've now added this github issue to the content strategy roadmap work item to add links to videos, blogs etc. from the website topics - work to 'add links to videos' modified to 'embed videos'.

[2020-05-26 16:18] mattcolegate commented on #2927
Delivering tests at 84.4% coverage.
PR available for review: https://github.com/eclipse/codewind-installer/pull/483

[2020-05-26 16:30] sishida commented on #3003
I have opened a PR to move the odo file under "Developing projects."

[2020-05-26 16:44] maysunfaisal commented on #2938
I have actually gone on a tangent with my prev comments and marked them as invalid.

I am actually unable to reproduce this, and I think @markcor11 maybe right.

`/codewind-workspace/.config/settings.json` is where the image push registry is stored and its the PVC mount path. If you're not cleaning up the Codewind instance properly and for whatever reason, the PVC is not getting cleaned up.

Since

[2020-05-26 16:48] eharris369 opened #3021 "Allow user to add several projects to Codewind at the same time"
If a user is setting up a new workspace and has their projects checked out from a repository it would be nice if they could add all of the projects to Codewind at the same time instead of having to do it one by one. Rather than have a complicated UI for this, the projects could be added with the detected project type. If the type could not be detected for some projects then these don't get added a

[2020-05-26 18:06] eharris369 opened #3022 "[Eclipse IDE] Potential NPE in Codewind preferences page"
There are places where it is not checking if the useBuiltinDebugButton is null. Since this is only initialized if the Eclipse builtin node.js debugger is available, all uses of it must check for null.

[2020-05-26 18:08] jasperchui opened #3023 "Managing Templates in IntelliJ"
**Description:**
Created from: #2879
https://www.eclipse.org/codewind/workingwithtemplates.html#managing-templates
"Use the Template Source Manager to perform the following actions" should be reviewed to determine if doc needs to include Intellij.

[2020-05-26 18:09] jasperchui commented on #3023
/docs

[2020-05-26 18:51] sishida commented on #2879
These files now include mention of IntelliJ. Please note that the updates might not appear on Codewind.dev until after 0.13.0 GAs. However, if you look at the Markdown files, you can see the mention of IntelliJ included.
- `overview.html#what-integrated-development-environments-ides-do-codewind-support`
- `remote-deploying-codewind.html#prerequisites`
- `performance.md`
- `metrics-dashboard.md`

T

[2020-05-26 19:09] sishida commented on #2982
Release moved to 0.14.0 after confirming with John P. that IntelliJ won't be moved out of tech preview for 0.13.0.

[2020-05-26 19:45] eharris369 opened #3024 "Don't show indicator for project details messages with severity info"
Because the info severity for project details is used for things like the ping address being used when the project is starting, it shows up a lot. Show the indicator for warning and error messages only. The hover help will still be there for all severities.

[2020-05-26 20:05] AndyRWatson opened #3025 "Installing Che using codewind doc gives error from server"
**Codewind version:**. 0.12
**OS:**.     macOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**.   OCP 4.3.18_1522 (on IBM Public Cloud)

**Description:**

When following the codewind.dev install instructions for che on OCP 4.3 I hit the following error that namespace "che" not found
[code]

we should add the   creation of the che namespace to the prerequisites

[2020-05-26 20:10] tetchel commented on #3023
We do not have this feature in intellij yet https://github.com/eclipse/codewind/issues/985

[2020-05-26 20:12] sishida commented on #2953
Followed up with Erin about the status of this issue. We think everything's good to go with the exception of the **[Eclipse Codewind marketplace page](https://marketplace.eclipse.org/content/codewind)**, which I'll update after 0.13.0 is released.

[2020-05-26 21:06] maysunfaisal commented on #2291
/assign
/epic

[2020-05-27 06:59] micgibso opened #3026 "Microclimate appears in Maven profile for Codewind"
**Codewind version:** 0.12.0
**Description:**
The word `Microclimate` occurs four times in https://www.eclipse.org/codewind/importing-existing-projects.html#pre-import-instructions.

Three occurrences are in the code sample, one in the text.

Check with dev for a suitable replacement.

[2020-05-27 07:14] tobespc commented on #2870
After discussing with UX team, proposal is for 0.13 we will simply prevent a build being triggered if a load run is already in progress (much like we do now if a build is in progress).  Future releases will include changes to the IDE to prompt users if they wish to cancel the current load run

[2020-05-27 07:17] tobespc commented on #2870
@ebuckle Can you go ahead and make this change please and just block a new build starting if a load run is in progress.  Its ok for the the synch to happen and files to be sent to pfe in preperation for build.  Look at
[code]
in bind.route.js for how this is currently done

[2020-05-27 07:19] tobespc commented on #2892
This is yet to be decided on what should happen so targeting this at 0.14

[2020-05-27 07:25] tobespc commented on #3026
looks like Turbine still use the 'microclimate' value in a lot of there scripts so I doubt we can just swap this out for 'codewind' in the example

[2020-05-27 07:57] mattcolegate commented on #2902
I now have a Che instance with Codewind - I'll be testing to see if Che can use embedded base64 URL strings from the JSON.

[2020-05-27 07:58] mattcolegate commented on #2857
@stalleyj Please can you verify that the code is working as expected?

[2020-05-27 08:40] snehlatamohite commented on #3016
Hi All,

Today have observed below changes in test results and also attaching logs.
[codewind-test-log-27-5.txt](https://github.com/eclipse/codewind/files/4687541/codewind-test-log-27-5.txt)

Test result today -
  904 passing (6m)
  29 pending
  11 failing

Thanks,
Snehlata Mohite.

[2020-05-27 08:53] AndyRWatson opened #3027 "Che install / configure flow steps not correct"
**Codewind version:**
**OS:**. 0.12

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

In the codewind.dev che install instructions flow , there are a couple of minor issues with the sidebar flow ordering compared to the "next steps" in the documentation flow itself.

<img width="1363" alt="Screenshot 2020-05-27 at 09 43 36" src="https://user-i

[2020-05-27 08:54] AndyRWatson commented on #3027
/area/docs

[2020-05-27 09:52] micgibso commented on #2712
Docs: current metrics dashboard topic needs updating to include new panel at top: https://www.eclipse.org/codewind/metrics-dashboard.html

[2020-05-27 10:11] micgibso commented on #2661
Duplicate of an issue that's been closed in the interim.
@tetchel Did your fix for #2456 resolve this too? @sujeilyfonseca Is this still an issue?

[2020-05-27 10:30] tobespc opened #3028 "Performance dashboard incorrectly gives benchmark status for websphere liberty"
**Codewind version:** latest
**OS:** N/A

**Che version:** N/A
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** N/A

**Description:**
Running performance tests against a websphere liberty project initially will correctly show that benchmarks are available.  However, after running a load test and cancelling it, the benchmark is now reported as red

![Screenshot 2020

[2020-05-27 10:40] tobespc opened #3029 "Insane number of socket messages when cancelling a load run"
**Codewind version:** latest
**OS:** N/A

**Che version:**N/A
**IDE extension version:**N/A
**IDE version:**N/A
**Kubernetes cluster:**N/A

**Description:**
Cancelling load causes an insane amount of socket messages to be emitted which makes all the screen status values flash
![Screenshot 2020-05-27 at 11 37 38](https://user-images.githubusercontent.com/13151286/83009461-b4b57a80-a00e-11ea-90df-9f

[2020-05-27 11:10] stalleyj opened #3031 "Performance dash, load test config dialog resizes and values appear"
**Description:**
The Load test configuration dialog, shown when the user selects Edit load run settings in the performance dashboard, draws initially with no values and then redraws once with values. It doesn't look great as the sizes of the boxes changes and it seems to be taking a really long time.

<img width="787" alt="Screenshot 2020-05-27 at 12 06 11" src="https://user-images.githubuserconte

[2020-05-27 11:13] tobespc opened #3032 "vscode reports bad request when attempting to build when build in progress"
**Codewind version:** latest
**OS:**

**Description:**
Following error message displayed when manually triggering a build
![Screenshot 2020-05-27 at 12 09 42](https://user-images.githubusercontent.com/13151286/83012490-622a8d00-a013-11ea-8338-e4aac5ba3ee4.png)

**Steps to reproduce:**
Create a project and start it building, then from the overview page click the build button and then the message wi

[2020-05-27 11:31] markcor11 opened #3033 "Reduce flicker in capabilities panel"
**Codewind version:** latest

**Description:**

Required UX changes :

1.  For live monitoring remove advice text since we now provide a fix my project button which makes the changes automatically.

2.  Remove flicker on the capabilities panel as status changes.

3. Reduce reaction to socket messages that may confuse users when project is restarting.

4. Show an animation on the capabilities panel

[2020-05-27 11:31] markcor11 commented on #3033
/area portal
/assign @markcor11

[2020-05-27 11:42] stalleyj opened #3034 "Error installing latest VSCode plugin"
**Codewind version:**
Latest vsix downloaded.
**OS:**
Mac

**Description:**
I attempted to install the plugin into VSCode and got the following error:-
![Screenshot 2020-05-27 at 12 32 49](https://user-images.githubusercontent.com/13417476/83014484-b5eaa580-a016-11ea-8719-61e9d7dffeff.png)

I did not have a previous version of the plugin installed as I've been using Eclipse.

In .vscode/extensions

[2020-05-27 11:45] markcor11 commented on #3031
/assign @markcor11

[2020-05-27 11:46] stalleyj commented on #3034
Tried again and got this
![Screenshot 2020-05-27 at 12 45 34](https://user-images.githubusercontent.com/13417476/83015239-08789180-a018-11ea-9eec-95d3467b4e11.png)

[2020-05-27 12:03] makandre opened #3035 "Pod name and application endpoint not updated in IDE when restarting remote app"
**Codewind version:** 0.13.0/master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Restarting an appsody project on a remote connection.  I can see the `projectRestartResult` emitted by PFE with new `podName` and `appBaseURL`:

[code]

**VS Code:** Pod name is updated but endpoint is not until I refresh the connection
**Eclipse:** N

[2020-05-27 12:04] makandre commented on #3035
/area vscode-ide
/area eclipse-ide

[2020-05-27 12:12] makandre commented on #3035
On eclipse, because the pod name is not updated attaching debugger fails.

[2020-05-27 13:03] tobespc opened #3036 "Incorrect capabilities status being returned when testing various projects"
**Codewind version:** latest
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The capabilities panel in the perf dashboard that shows the features available for the project show different values before and after a load run

![Screenshot 2020-05-27 at 14 01 23](https://user-images.githubusercontent.com/13151286/83021939-aa9d7700-a022-11

[2020-05-27 13:26] eharris369 commented on #3024
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/741

[2020-05-27 13:26] #3024 closed

[2020-05-27 13:35] malincoln commented on #1991
Tim gave okay to close.

[2020-05-27 13:35] #1991 closed

[2020-05-27 13:52] jagraj commented on #3005
When user get into this error, they can ignore this failure and this should not affect Che and Codewind functionality. This error is fixed in future release of `chectl`.

[2020-05-27 13:54] micgibso commented on #3005
In discussion with jagraj, no docs reqd for this, removing label.

[2020-05-27 14:02] tetchel commented on #2661
I don't know if this is a dupe of 2456; the missing connection.json is a different issue. but if this issue isn't seen during windows testing then it is likely fixed.

[2020-05-27 14:05] micgibso commented on #2926
Fixed remaining comment.

[2020-05-27 14:05] #2926 closed

[2020-05-27 14:20] eharris369 commented on #2360
Screen captures for Eclipse IDE getting started page:
![getStartedCreateProject](https://user-images.githubusercontent.com/9484320/83032314-aada4a00-a003-11ea-8495-867cd073a7b9.png)
![getStartedAddExisting](https://user-images.githubusercontent.com/9484320/83032331-b168c180-a003-11ea-979b-77ff1bbeb800.png)
![getStartedAddProjectWizPage1](https://user-images.githubusercontent.com/9484320/83032339-b

[2020-05-27 14:24] eharris369 commented on #2360
Should also mention that users can drag and drop projects from one connection to another (this is an Eclipse IDE only feature). Select the project in one connection and drag it onto another connection. The project will be removed from the first connection and added to the second connection.

[2020-05-27 14:51] makandre commented on #2995
All PRs merged

[2020-05-27 14:51] #2995 closed

[2020-05-27 14:55] j-c-berger commented on #2946
Jake's doc changes for 0.13.0

- [#613-CRW quick guide](https://github.com/eclipse/codewind-docs/pull/613): in progress. PR is up and waiting on dev review before making the new commit and getting SVT to review.

- [ #487-Minikube quick guide](https://github.com/eclipse/codewind-docs/pull/487): on hold. Bug with Minikube so Minikube must be updated before we progress with documentation.

-  #2360

[2020-05-27 14:59] makandre commented on #2792
#2995 is closed so this is ready to be verified... however, it needs to be verified against updated stacks that have `APPSODY_DEBUG_PORT` defined and none of official stacks have this yet.

So here's how to verify against a custom stack I built:

1. create a `nodejs-express` project
2. change the image in its `.appsody-config.yaml` to `docker.io/makandre/nodejs-express-debug:latest`
3. restart the

[2020-05-27 15:05] eharris369 commented on #3035
This is the event I am getting from PFE. The podName is in there but I don't see appBaseUrl:
[code]

[2020-05-27 15:13] mattcolegate opened #3039 "Support all diagnostics tests on Jenkins"
**Codewind version:** latest
**OS:** all

**Che version:** N/a
**IDE extension version:** N/a
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

https://github.com/eclipse/codewind-installer/pull/483 introduced a comprehensive suite of tests for the diagnostics code. However, several of these tests are currently skipped (with `short`) as they do not currently wo

[2020-05-27 15:14] mattcolegate commented on #3039
/assign

[2020-05-27 15:23] sishida commented on #2828
@jagraj, Could you please take a look at this PR https://github.com/eclipse/codewind-docs/pull/621 that documents the workaround for the issue? Please let me know if it looks good to go or if we need more edits. Thank you!

[2020-05-27 15:31] sishida commented on #2914
Other style guide considerations:
- Introductory sentences, such as those that come after titles/headings and those that precede lists, can be redundant and repeat info in the title/heading instead of providing more information to the user. How can we make them more useful?
- Clarify "username" vs. "user name." The "username" version is what Acrolinx suggests.

[2020-05-27 15:37] sishida commented on #2909
@MelHopper Please see this PR https://github.com/eclipse/codewind-docs/pull/616, which moves the `che-odo-support.html` file so it is a child topic of `Developing projects`.

We moved `che-odo-support.html` under `Developing projects` based on the comment here: https://github.com/eclipse/codewind/issues/3003#issue-623111487

[2020-05-27 15:41] tetchel commented on #3035
I added the logic to update the appBaseURL but sometimes after it updates it still doesn't work, I get a 502 from the server as though the route goes nowhere.

[2020-05-27 15:43] tetchel commented on #3034
ouch, can you post the extension logs?

[2020-05-27 15:44] tetchel commented on #3032
That's the response from the portal server, this is a portal bug

[2020-05-27 15:48] tetchel commented on #3034
nvm, found the bug

[2020-05-27 16:11] AndyRWatson opened #3040 "Dead link on codewind che install pages"
**Codewind version:** 0.12
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
On our [che install pages for Kubernetes](https://www.eclipse.org/codewind/che-installinfo.html#installing-che) page

we have a dead link (404) in step 3 Generate TLS certificates and keys.

https://www.eclipse.org/che/docs/che-7/setup-che-in-tls-mode-with-self

[2020-05-27 16:11] AndyRWatson commented on #3040
/area/docs

[2020-05-27 16:28] tetchel commented on #3034
Please `rm -rf ~/.codewind/latest` before installing the latest plugin in case it did something funky to that directory.

[2020-05-27 16:49] sishida commented on #3003
@james-wallis With merging these two PRs, I think this issue is good to close, correct? Please let me know if there's anything else you'd like to include. If not, I will close the issue! Thank you!
1️⃣ Moving the odo file in the table of contents: https://github.com/eclipse/codewind-docs/pull/616
2️⃣ Adding odo compatibility info: https://github.com/eclipse/codewind-docs/pull/620

[2020-05-27 17:25] jopit commented on #2913
There is a hero image for IntelliJ: https://github.com/eclipse/codewind-docs/blob/master/docs/images/hero-intellij.png

[2020-05-27 17:27] sishida commented on #2913
Here is the IntelliJ image from John P. to use for the home page: https://github.com/eclipse/codewind-docs/blob/master/docs/images/hero-intellij.png

[2020-05-27 17:32] eharris369 opened #3042 "Can't restart remote appsody project in debug mode if capitals in project name"
Using the latest Codewind and appsody 0.6.2. If I create an Appsody Node.js Express simple template project named `appsodyNode1` and try to restart it in debug mode the restart fails with the error below. If there are no capital letters in the name then everything is fine.

[code]

Full PFE log:
[logs.txt](https://github.com/eclipse/codewind/files/4690710/logs.txt)

[2020-05-27 17:34] makandre commented on #3042
![image](https://user-images.githubusercontent.com/17596240/83053453-b9822a80-a01e-11ea-9f8b-3fa1a41c4db6.png)

[2020-05-27 17:41] makandre commented on #3042
I'm surprised the first ingress creation works but fails when recreating the ingress after restart.

Anyways I think maybe we just need to lowercase the project name here https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/utils/kubeutil.ts#L453

@johnmcollier Do you see any problem with that?

[2020-05-27 18:16] j-c-berger commented on #2360
@eharris369, these look great, thank you so much! :)

[2020-05-27 18:39] johnmcollier commented on #3042
Works for me.

[2020-05-27 18:52] eharris369 opened #3044 "[Eclipse IDE] Breakpoints not working for appsody node projects"
If using the builtin Eclipse node.js debugger for an appsody node.js project, breakpoints are not working. This is because currently the remote app path is hard coded to /app but for appsody it is /project/user-app. This is available in the project info under extension.config.containerAppRoot. I could not find anything equivalent for Codewind style projects.

[2020-05-27 18:55] sishida commented on #2628
I have updated the terminology wiki page: https://github.com/eclipse/codewind-docs/wiki/Terminology. Closing this issue.

[2020-05-27 18:55] #2628 closed

[2020-05-27 18:56] eharris369 opened #3045 "[Eclipse IDE] Accessibility: set log link text to "" when no logs available"
For the project overview page if a project is disabled then the logs show a text message instead of the links. However, JAWS reads both the hidden links and the visible text message so need to set the links to the empty string when there are no logs.

[2020-05-27 19:06] eharris369 opened #3046 "[Eclipse IDE] Some dialogs still have old Manage Container Registries link"
Some dialogs still have the old name for managing image registries: Manage Container Registries. It should be changed to Manage Image Registries. Also in the text for the projectValidationPage it mentions 'container' registries.

[2020-05-27 19:26] sishida commented on #2882
For updates based on feedback in this issue, please see the PR, https://github.com/eclipse/codewind-docs/pull/623.

@johnmcollier, @jgwest, Could you please check the list of Kubernetes distributions and see if we're missing anything?

I'm also not sure if this is the best place for the contribution link...it almost feels like an ad in the  midst of the doc. 😅If this is an accepted practice in ope

[2020-05-27 19:40] sishida commented on #2883
It sounds like thee work for this issue is covered by issue https://github.com/eclipse/codewind/issues/2360. I'll bring this up to the docs team. I think we can close this issue.

[2020-05-27 20:07] eharris369 commented on #3044
Master PR: https://github.com/eclipse/codewind-eclipse/pull/744
0.13.0 PR: https://github.com/eclipse/codewind-eclipse/pull/745

[2020-05-27 20:08] jagraj opened #3047 "SVT:Codewind workspace is blank on ROKS cluster"
**Codewind version:** 0.12.0
**OS:** RedHat

**Che version:** 7.9.2
**IDE extension version:** 0.12.0
**IDE version:** Theia 7.9.2
**Kubernetes cluster:**
ROKS 4.13.19

**Description:**

Andy and Myself got into this problem where Codewind 0.12.0 workspace is blank. We do not see same problem on on-premise OCP 4.3.18 cluster install. This happens only on public cloud.

![image](https://user-images

[2020-05-27 20:08] jagraj commented on #3047
/priority stopship

[2020-05-27 21:08] sishida commented on #1336
Looks like we already added remote:
- In https://marketplace.eclipse.org/content/codewind, we mention, "Develop your code locally and build and run it remotely and securely in the cloud."
- If I recall correctly, the VS Code Marketplace page is built from, https://github.com/eclipse/codewind-vscode/blob/master/README.md, which includes, "Develop your code locally and build and run it remotely and

[2020-05-27 21:08] #1336 closed

[2020-05-27 21:20] jagraj commented on #3047
Opened this issue in che repo https://github.com/eclipse/che/issues/17031.

[2020-05-27 22:33] jgwest commented on #2882
@sishida

It's fairly common for open source components (that can be hosted in the cloud) to include references to an inexhaustive set of specific public clouds they support, and/or to provide quick start guidelines that use those clouds.

Below are some examples of that I have seen recently, but let us know if it feels like from your perspective that we are crossing a line from helpful, slightly

[2020-05-28 07:15] tobespc commented on #3047
This is raised against 0.12, does it also happen with 0.13 ?

[2020-05-28 07:16] tobespc commented on #3032
retesting now @tetchel , no one else could get this yesterday so it may be just me

[2020-05-28 07:40] jcockbain commented on #2913
@AndyRWatson is this https://www.eclipse.org/codewind/ or https://www.eclipse.org/codewind/gettingstarted.html?

[2020-05-28 07:41] jcockbain commented on #2913
/assign

[2020-05-28 07:55] markcor11 commented on #3033
/pipeline verify

[2020-05-28 07:56] markcor11 commented on #2901
/pipeline verify

[2020-05-28 07:59] markcor11 commented on #2712
@micgibso we should probably explain what the capabilities panel is and does, its part of the performance dashboard so it should probably go somewhere on here : https://www.eclipse.org/codewind/performance.html

[2020-05-28 08:15] #2883 closed

[2020-05-28 08:15] #520 closed

[2020-05-28 08:16] tobespc opened #3049 "Performance dashboard shows countdown timer when cancelling load run"
If you cancel a load run through the performance dashboard, it shows the countdown timer that is associated with the running of the load against the cancelling message.  This shouldn't be there
![Screenshot 2020-05-28 at 09 15 33](https://user-images.githubusercontent.com/13151286/83116528-d02e8d00-a0c3-11ea-9db0-f9b251e52ded.png)

[2020-05-28 08:17] markcor11 opened #3050 "Capabilities panel on perf-dash opens on page refresh."
**Codewind version:** 0.13.0

**Description of the enhancement:**

The capabilities panel embedded into the Performance Dashboard appears as soon as the dashboard opens to advise on status. It can also be toggled on / off using the action button on the main navbar.

![Screenshot 2020-05-28 at 09 07 49](https://user-images.githubusercontent.com/28102564/83116606-eb010180-a0c3-11ea-8c23-6c1544cf2f83

[2020-05-28 08:18] markcor11 commented on #3050
/area portal

[2020-05-28 08:20] markcor11 commented on #3049
/assign

[2020-05-28 08:25] hhellyer opened #3051 "Rapidly clicking the build button results in stuck builds."
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

**Steps to reproduce:**

**Workaround:**

[2020-05-28 08:40] james-wallis commented on #3003
Thanks for the changes @sishida

[2020-05-28 08:40] #3003 closed

[2020-05-28 08:44] jcockbain opened #3053 "Add Github Actions workflow to Codewind Docs repo"
**Description of the enhancement:**

Add a Github Actions workflow to be run on each PR into the Codewind-Docs repo.

This would mean we could check the following, for example:

- All links are valid, `linkchecker` script.

- Markdown style guide adhered to. Suggested by @markcor1.

There would also then be opportunity to automate the copying of the code into the deployment Eclipse repo, this was

[2020-05-28 08:44] jcockbain commented on #3053
/tag area/website

[2020-05-28 08:45] jcockbain commented on #3053
/pipeline Backlog

[2020-05-28 08:46] jcockbain commented on #2913
/pipeline In Progress

[2020-05-28 08:51] jcockbain commented on #3053
/area website

[2020-05-28 09:25] stalleyj commented on #3036
I see some really weird results here too, 'Your project is not running" - yes it is and the load is in progresss.
![Screenshot 2020-05-28 at 10 21 49](https://user-images.githubusercontent.com/13417476/83123975-7b900f80-a0cd-11ea-88a0-c25f8c44e9bd.png)

[2020-05-28 09:27] tobespc commented on #3036
start a load running against a websphere project and the hit cancel when its in the preparing state to recreate

[2020-05-28 10:29] #3033 closed

[2020-05-28 10:35] micgibso commented on #2712
Use Playback call demo from May 19, https://ibm.ent.box.com/v/codewindplayback/file/667477144246
30 minutes 10 seconds in to document the panel.

[2020-05-28 10:46] mattcolegate commented on #3039
/pipeline in progress

[2020-05-28 10:47] mattcolegate commented on #2927
PR is merged
/pipeline verify

[2020-05-28 11:22] tobespc commented on #3036
[code]
{
  "liveMetricsAvailable": true,
  "metricsEndpoint": "/metrics",
  "appmetricsEndpoint": "/javametrics-dash/",
  "microprofilePackageFoundInBuildFile": true,
  "appmetricsPackageFoundInBuildFile": true,
  "hasTimedMetrics": true,
  "microprofilePackageAuthenticationDisabled": false,
  "canMetricsBeInjected": true,
  "projectRunning": true
}
[code]

[2020-05-28 11:23] makandre commented on #3035
Verified it works now

[2020-05-28 11:23] #3035 closed

[2020-05-28 11:28] makandre commented on #2792
Update: It seems we may have been wrong about the exposing of the debug port as the thing that prevented us to attach, as we've discovered that the attach now works even on current stacks that have not been updated (appsody has fix other things along the way making this possible now)

[2020-05-28 12:22] stalleyj commented on #3036
Also seeing incorrect information for a running Node Express app, {
  "liveMetricsAvailable": false,
  "metricsEndpoint": false,
  "appmetricsEndpoint": false,
  "microprofilePackageFoundInBuildFile": false,
  "appmetricsPackageFoundInBuildFile": true,
  "hasTimedMetrics": false,
  "microprofilePackageAuthenticationDisabled": false,
  "canMetricsBeInjected": true,
  "projectRunning": true
}

[2020-05-28 12:37] stalleyj commented on #3036
Spring project, after I've injected and should have timed metrics
{
  "liveMetricsAvailable": true,
  "metricsEndpoint": false,
  "appmetricsEndpoint": "/javametrics-dash/",
  "microprofilePackageFoundInBuildFile": false,
  "appmetricsPackageFoundInBuildFile": true,
  "hasTimedMetrics": false,
  "microprofilePackageAuthenticationDisabled": false,
  "canMetricsBeInjected": true,
  "projectRunning":

[2020-05-28 12:46] eharris369 commented on #3046
master PR: https://github.com/eclipse/codewind-eclipse/pull/746
0.13.0 PR: https://github.com/eclipse/codewind-eclipse/pull/747

[2020-05-28 12:46] #3046 closed

[2020-05-28 12:59] stalleyj commented on #3034
Latest plugin installed successfully, thanks

[2020-05-28 12:59] #3034 closed

[2020-05-28 13:15] tobespc commented on #3032
recreated it again.  Steps are create a websphere project, start a load run, whilst its in the load running state, click the build button on the project overview page

[2020-05-28 13:24] jagraj commented on #3047
@tobespc
Yes, we will have same issue with 0.13.0 release as well.

[2020-05-28 13:38] malincoln commented on #3016
@tobespc I'm adding "priority/hot label" since we need to work through these power issues to make progress.

[2020-05-28 13:49] stalleyj commented on #3032
So as per Toby's comment above, it's hitting the build api when a load run is in progress that is the issue.  The build API has been modified to reject a build request and return 400 with message when there is a load run in progress (it already did this for a project that is disabled or being deleted).  Note that the API spec is not accurate and we also return a 400 for project not found.  I propo

[2020-05-28 13:51] tetchel commented on #3032
No, VS Code does not look for any specific responses or errors from the build API

[2020-05-28 13:51] eharris369 commented on #3044
Verified that this is fixed.

[2020-05-28 13:51] #3044 closed

[2020-05-28 13:52] jagraj commented on #2828
Troubleshooting docs updated for this issue. Closing this issue now.

[2020-05-28 13:52] #2828 closed

[2020-05-28 13:58] keithchong commented on #2674
Hi @naveenkaratekid , could you please verify and close this?  Thanks in advance.

[2020-05-28 14:02] jcockbain commented on #3015
Functionality added by https://github.com/eclipse/codewind-docs/pull/604.

[2020-05-28 14:04] tetchel commented on #2792
yes, this works now

[2020-05-28 14:04] #2792 closed

[2020-05-28 14:15] keithchong commented on #3023
@jopit.  The last action on the remote connection object that needs to be hooked in is the manage template action.  So, all the manage template source work should be done first.

[2020-05-28 14:17] keithchong commented on #3023
I was going to hook it in after Manage Image Registries is done.

<img width="232" alt="Screen Shot 2020-05-28 at 10 16 03 AM" src="https://user-images.githubusercontent.com/7726022/83152941-5f3fa300-a0cc-11ea-9f31-8d76aa40b79a.png">

[2020-05-28 14:23] maysunfaisal commented on #2947
/release 0.15.0

[2020-05-28 14:23] maysunfaisal commented on #2649
/release 0.14.0

[2020-05-28 14:24] tobespc commented on #3032
why can't you display the error message ?

[2020-05-28 14:46] tetchel opened #3057 "Show error response messages from Portal, not just status code"
may have lost this when switching to `got` without realizing because everything is through cwctl now

[2020-05-28 14:46] tetchel commented on #3032
oh i see, the message being sent is the "cannot build because project is in state" one... I should be showing it, I will see why that isn't working. https://github.com/eclipse/codewind/issues/3057

that said, I can't reproduce this for some reason, I always get the 202 response

[2020-05-28 14:52] sujeilyfonseca commented on #2661
I'll proceed to verify if this is still a problem.

[2020-05-28 14:55] sishida commented on #2913
IntelliJ screenshot from @jopit: https://github.com/eclipse/codewind-docs/blob/master/docs/images/hero-intellij.png

[2020-05-28 14:56] johnmcollier commented on #3047
@jagraj Can you try reproducing on Che 7.13.1? I can't reproduce

[code]

[2020-05-28 15:00] keithchong commented on #2996
This PR adds an extensible dialog wrapper class that any Codewind for IntelliJ feature can use whenever a new dialog (not wizard) is needed to be created. This dialog provides OK and Cancel buttons as well as a hooked in help button (a question mark) that when clicked, will open up the browser on the URL of your choice (eg. Codewind help page). If you extend DialogWrapper, the browser will open up

[2020-05-28 15:04] stalleyj commented on #3032
@tetchel the change to the API went into master yesterday some point before DCUT

[2020-05-28 15:05] keithchong commented on #2996
Example usage

[code]

[2020-05-28 15:10] naveenkaratekid commented on #2674
@keithchong I have just verified and I no longer see the ArrayOutOfBoundsException when I create a project. I will proceed and close this issue. Thanks Keith!

[2020-05-28 15:10] #2674 closed

[2020-05-28 15:30] tetchel commented on #2294
A rough user flow:
1. User wants to generate an env.properties for an appsody project
2. Prompt user for the location for the 'real' env.properties
  - Maybe let them select "the default location" which is under ~/.codewind
3. Map cw-repaths to real location
4. Create properties file (from stub if it exists)
5. Open properties file in editor

however, since this is specific to appsody, we are goin

[2020-05-28 15:40] maysunfaisal commented on #2947
/assign @keithchong
/area intellij-ide

- [ ] https://github.com/eclipse/codewind-intellij

/assign @tetchel
/area vscode-ide

- [ ] https://github.com/eclipse/codewind-vscode

/assign @eharris369
/area eclipse-ide

- [ ] https://github.com/eclipse/codewind-eclipse

/assign @jgwest
/area iterative-dev

- [ ] https://github.com/eclipse/codewind-filewatchers

/assign @maysunfaisal

- [ ] https://git

[2020-05-28 15:57] eharris369 opened #3061 "[Eclipse IDE] Wrong background for project logs in overview page"
The background for the project logs links in the project overview page does not match the overall background for the page when using dark mode.

[2020-05-28 16:04] jagraj commented on #2947
/assign @jagraj

[2020-05-28 16:05] jagraj commented on #2947
@maysunfaisal
Our SVT UI Automation scenarios enabled with cron jobs now.

[2020-05-28 17:18] alif-munim commented on #2929
/assign

[2020-05-28 17:19] alif-munim commented on #2929
/assign

[2020-05-28 17:20] alif-munim commented on #2929
I'd like to take this on! If someone could assign me, it would be greatly appreciated 😁

[2020-05-28 17:50] sujeilyfonseca opened #3062 "SVT: Error toggling logs: Response code 500 (Internal Server Error)"
**Codewind version:** 0.13.0
**OS:** VM with Windows 10

**IDE extension version:** 0.13.0
**IDE version:** Code 1.45.0

**Description:** Error toggling logs: Response code 500 (Internal Server Error)

<img width="1677" alt="Screen Shot 2020-05-28 at 1 29 03 PM" src="https://user-images.githubusercontent.com/49531960/83175392-cfa8ed00-a0e9-11ea-8735-07d7c95489f5.png">

<img width="1677" alt="Scree

[2020-05-28 17:59] malincoln commented on #3047
@jagraj are you able to set to Codewind release at top of template to both 0.12.0 and 0.13.0 or you can only choose one option?

[2020-05-28 18:00] malincoln commented on #3042
@makandre is this ready to be verified?  I can move it to either In Progress or Verify.

[2020-05-28 18:04] sishida commented on #2882
@jgwest Thank you for clarifying that the list doesn't have to be exhaustive. I think we're good to go if we're following standard conventions and practices of the wider community. :)

[2020-05-28 18:06] #2996 closed

[2020-05-28 18:06] makandre commented on #3042
Oh yes, should be.

/verify

[2020-05-28 18:09] malincoln commented on #3042
@eharris369 this is now ready for for you to verify.  Thanks

[2020-05-28 18:11] makandre commented on #3042
/assign

[2020-05-28 18:13] keithchong opened #3063 "[IntelliJ] Perform accessibility testing on new features (0.14.0?)"
**Codewind version:** Latest
**OS:** Mac

**IDE extension version:** Latest
**IDE version:** 2020.1.x
**Kubernetes cluster:** any

**Description of the enhancement:**
We need to do accessibility testing as per the Software Checklist.

[2020-05-28 18:32] eharris369 commented on #3045
Fixed by:
- master PR: eclipse/codewind-eclipse#748
- 0.13.0 PR: eclipse/codewind-eclipse#749

[2020-05-28 18:32] #3045 closed

[2020-05-28 18:33] eharris369 commented on #3061
Fixed by:
- master PR: eclipse/codewind-eclipse#750
- 0.13.0 PR: eclipse/codewind-eclipse#751

[2020-05-28 18:33] #3061 closed

[2020-05-28 18:36] jagraj opened #3064 "SVT:Image registry manager page is not loaded in right format with Che 7.13.1 version."
**Codewind version:** 0.13.0
**OS:** RHEL

**Che version:** 7.13.1
**IDE extension version:** 0.13.0
**IDE version:** Theia 7.13.1
**Kubernetes cluster:**
ROKS 4.3.19

**Description:**
After creating Codewind 0.13.0 workspace on IBM ROKS 4.3.19 cluster with Che 7.13.1 version, Image registry manager page view presented with wrong format. Please find the screenshots below for both Chrome and Firefo

[2020-05-28 18:39] jagraj commented on #3064
/priority stopship
/area vscode-ide

[2020-05-28 18:43] jagraj commented on #3047
@malincoln
As I mentioned, this issue we are noticing only on IBM Cloud ROKS cluster but we do not see same problem on on-premise OpenShift cluster.

@johnmcollier gave me other option to override `selfSignedCert: false`  on ROKS cluster. I just tried this option and I was able to go to the Codewind workspace and it is not blank any more. But I got into another issue (https://github.com/eclipse/co

[2020-05-28 18:46] keithchong opened #3065 "[Eclipse] Don't show the projects associated with a disconnected remote connection"
**Codewind version:** Latest
**OS:** Mac

**IDE extension version:** Latest
**IDE version:** Any supported
**Kubernetes cluster:** any

**Description:**
VS Code shows a Connection Lost message.

<img width="363" alt="Screen Shot 2020-05-28 at 2 44 38 PM" src="https://user-images.githubusercontent.com/7726022/83180717-d76c8f80-a0f1-11ea-80b7-053c3adfa8d3.png">

Eclipse:

<img width="375" alt="Scree

[2020-05-28 19:08] mmulholl opened #3066 "SVT : Eclipse : Node.js Express error pop-up after install."
**Codewind version:** 0.13.0
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2020-02
**Kubernetes cluster:**

**Description:**

After installing new codewind images the first creation of a Node.js Express project gets an error:

<img width="741" alt="Screen Shot 2020-05-28 at 2 39 03 PM" src="https://user-images.githubusercontent.com/16086270/83182893-0afce900

[2020-05-28 19:11] johnmcollier commented on #3047
Need to update our install docs for this

/assign

[2020-05-28 19:20] maysunfaisal commented on #3051
/assign

I worked with something similar, let me debug and see if its the same thing

[2020-05-28 19:32] jagraj commented on #3064
With the above style, It does allow me to create registry but I am still having problem when creating project. Nothing happens when I try to create new project.

I can reproduce these problems on both on-premise and ROKS clusters that I provisioned.

[2020-05-28 20:03] jopit commented on #3066
@eharris369 is this coming from the new base Eclipse support for node?

[2020-05-28 20:20] eharris369 commented on #3066
@jopit Yes. The version of node installed on the machine needs to be updated. I just hit this on my Linux machine which had an old version.

[2020-05-28 20:26] jgwest commented on #3066
Yes, WTP now does this because it includes [Wild Web Developer](https://projects.eclipse.org/projects/tools.wildwebdeveloper), I've had to work around it in WDT automated tests 😛

[2020-05-28 20:35] jgwest commented on #3062
Guessing this is `area/portal` based on
[code]

[2020-05-29 01:57] tetchel commented on #3064
Wow! I don't think I changed anything in this area. Can you try and figure out what Che/Theia version introduced the problem?

[2020-05-29 07:47] mattcolegate commented on #2902
The Che instance I had was unable to help me as I was unable to create projects. Tried again with two other che instances provided by team members and was similarly unsuccessful. There seems to be a problem with Codewind on the latest Che. I'm back to hunting for a Codewind on Che instance with the ability to create projects.

[2020-05-29 07:48] mattcolegate commented on #3039
Working on code to bypass the CWCTL code that checks connection status. Once I can feed back dummy connections, I will be able to reinstate 3 of the 6 currently skipped tests.

[2020-05-29 07:50] mattcolegate commented on #2927
Verified locally by getting a successful test run of the included tests in master branch

[2020-05-29 07:50] #2927 closed

[2020-05-29 08:06] tobespc opened #3067 "Modify vscode codewind-node-profiler to use new profiling rest api's"
**Codewind version:** Latest
**OS:** all

**Che version:** n/a
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** n/a

**Description of the enhancement:**
Issue https://github.com/eclipse/codewind/issues/2506 introduces 2 new api's into the Codewind that provide access to the profiling data.  This data was previously only available from within the codewind-node-profi

[2020-05-29 08:07] tobespc opened #3068 "Modify vscode codewind-java-profiler to use new profiling rest api's"
**Codewind version:** Latest
**OS:** all

**Che version:** n/a
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** n/a

**Description of the enhancement:**
Issue https://github.com/eclipse/codewind/issues/2506 introduces 2 new api's into the Codewind that provide access to the profiling data.  This data was previously only available from within the codewind-node-profi

[2020-05-29 08:13] tobespc commented on #1672
with 568 raised and in progress, can this now be resolved ?

[2020-05-29 08:14] tobespc commented on #2860
moving this issue to 0.14.0 as its not a stop ship for 0.13.0

[2020-05-29 08:14] #2825 closed

[2020-05-29 08:23] #3036 closed

[2020-05-29 08:25] tobespc commented on #2902
I'll setup tobes-ocp to work (I need that done anyway)

[2020-05-29 08:34] tobespc commented on #2852
This issue is the Epic ? Top level ? item to track the work required by the IDE's to use the new
[code]
command.

This requires design of how the IDE's will call the command, how it will be exposed to the user and then documentation on the user flow

[2020-05-29 08:38] tobespc commented on #2852
moving to new issues for prioritisation

[2020-05-29 08:39] micgibso opened #3070 "Docs for providing linking of microservices from the IDE's #2852"
Docs issue for https://github.com/eclipse/codewind/issues/2852

[2020-05-29 08:44] jcockbain commented on #2929
/assign @alif-munim

[2020-05-29 08:44] jcockbain commented on #2929
/pipeline In Progress

[2020-05-29 08:49] micgibso commented on #2729
Descoping from 0.13.0 because of technical challenges. Moving to backlog.

[2020-05-29 09:59] tobespc opened #3071 "Create article on microservice request throughput"
For the advocacy of Codewind, I want to write a targeted article on http throughput, why it's important and how codewind can help improve it via the performance dashboard page.

Adding the docs label for reference but there is not anything required by the ID team for this

[2020-05-29 10:01] micgibso commented on #3071
ID can review any output, use Acrolinx etc.

[2020-05-29 12:49] hhellyer commented on #3062
@jgwest - I think that stack overflow is from earlier on during project creation. I've pushed a fix for that here: https://github.com/eclipse/codewind/pull/3073

[2020-05-29 13:00] eharris369 commented on #3066
@mmulholl This is just a new feature of Eclipse. It would happen if you imported that project into Eclipse without Codewind installed (see Jonathan's comment above).

[2020-05-29 13:06] mmulholl commented on #3066
@eharris369, I am OK with that, I also notice it comes out shortly after install whether I create a node project or not, once it added code to spot it and hit OK, everything was fine.

[2020-05-29 13:06] mmulholl commented on #3066
Will close the issue.

[2020-05-29 13:06] #3066 closed

[2020-05-29 13:10] jcockbain commented on #3053
/assign
/pipeline In Progress

[2020-05-29 13:15] malincoln commented on #3047
@micgibso @sishida ^^^

[2020-05-29 13:17] scottkurz commented on #2712
@tobespc @james-wallis can you please confirm the version of codewind to use to verify (and any other prereqs)?   Thx.

[2020-05-29 14:22] jcockbain commented on #2727
@sghung - can this be merged with #2717?

[2020-05-29 15:18] tetchel commented on #3032
here is the what the current error looks like with the fixed HTTP error reporting

![image](https://user-images.githubusercontent.com/8888438/83276085-7a7ee100-a1a6-11ea-9b28-aa1fb17b48ad.png)

[2020-05-29 15:23] eharris369 commented on #3042
This is fixed now.

[2020-05-29 15:23] #3042 closed

[2020-05-29 15:24] eharris369 opened #3075 "Long delay between appsody node project in debugging state before get restart event"
There is a long (10s or more) delay between when a remote appsody node project goes into debugging state (started state in debug mode) and when the projectRestartResult event is received so the IDE knows to attach the debugger.  To reproduce:

- Create a remote project using the Appsody Node.js Express simple template
- When it is running, restart it in debug mode
- Note the delay between when the

[2020-05-29 16:10] makandre opened #3077 "Restart appsody on k8s, it's possible for the ingress to be created to the wrong port"
**Codewind version:** 0.13.0/master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

For restarting appsody app on k8s, a fix (#2805) was put in to re-expose the application over ingress.

I just discovered that sometimes the ingress can be created to the wrong port if the stack has multiple ports

![image](https://user-images.githubu