[2019-12-03 20:36] yangcao77 opened #1352 "Add automation test for detailedAppStatus in app status event"
We should add additional check for `detailedAppStatus` contents in app status event.

[2019-12-03 20:39] elsony commented on #1284
Marking this as stopship for 0.7.0 given that we haven't seen this problem on 0.6.x and the problem happens fairly often.

[2019-12-03 20:40] yangcao77 commented on #1352
/remove-kind enhancement
/kind test
/area iterative-dev

[2019-12-03 20:40] sujeilyfonseca opened #1353 "SVT: Getting capabilities failed and Filewatcher status code 404 errors with Appsody Templates"
**Codewind version:** 0.6.1 & latest
**OS:** Windows 10, Mac OS, and Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**IDE extension version:** 0.6.1
**IDE version:** VS Code 1.40.2
**Kubernetes cluster:** OKD/Openshift

**Description:** Getting capabilities failed and Filewatcher status code 404 errors with Appsody Templates

![Screen Shot 2019-12-03 at 2 26 08 PM](https://user-images

[2019-12-03 20:42] johnmcollier commented on #1353
Errors seem to be identical to the ones seen in https://github.com/eclipse/codewind/issues/936

@stalleyj @makandre Thoughts?

[2019-12-03 20:44] AndyRWatson commented on #796
Thanks @kimholmes ,   your right maybe I should have referred to Docs pages.     We are seeing good traffic to the Youtube overview video,   presumably from the link on the landing page.  We'd like to see if we can get more views on the other content too.

[2019-12-03 20:45] makandre commented on #1353
Yeah, I think this is a dup of https://github.com/eclipse/codewind/issues/1073 actually; but you're right is the same symptom and 1073 is the one that's still open.

[2019-12-03 20:46] johnmcollier commented on #1353
Ah, I missed 1073

[2019-12-03 20:47] johnmcollier commented on #1353
Closing as a dupe of #1073 then

[2019-12-03 20:47] #1353 closed

[2019-12-03 20:49] makandre commented on #1321
I think you're seeing #1304

[2019-12-03 20:54] elsony opened #1355 "Put more targeted rule on Codewind style project detection during bind"
During the project bind, PFE will ask for each extension to see if it supports a given project.  The existing odo and appsody extension are targeted enough that it only returns true for applications that they have been run by the odo cli or appsody cli respectively.  However, the Codewind style of applications are less targeted and the test is very basic so it ends up looks like the Codewind style

[2019-12-03 21:21] eharris369 commented on #1346
Fixed by PR https://github.com/eclipse/codewind-eclipse/pull/449

[2019-12-03 21:21] #1346 closed

[2019-12-03 21:36] eharris369 commented on #1348
Passing the following to PFE:

[code]

But PFE logs:

[code]

[2019-12-03 22:05] tetchel opened #1356 "Error getting sectoken: exit status 45"
My new connection can't get a sectoken for some unknown reason, any idea what this error code means?
@markcor11

[code]

[2019-12-03 22:11] tetchel commented on #1356
to be clear, i got the same error with a connection named 'ooo', so it's not the special characters in the label 🙃

[2019-12-03 22:28] johnmcollier opened #1357 "Inconsistent build status messages for container builds"
Something I just noticed when deploying multiple Codewind-style projects on Che, we're using inconsistent messages to convey that a projects container is being built:
<img width="444" alt="Screen Shot 2019-12-03 at 5 26 06 PM" src="https://user-images.githubusercontent.com/6880023/70095163-12ce4b80-15f2-11ea-98b1-ab6a023f422e.png">

Most projects (generic docker and Node) use `Creating image`, Mic

[2019-12-04 07:11] jgwest commented on #1309
[Portal folks have not yet secured the WebSocket endpoint used by filewatchers for project notifications](https://github.com/eclipse/codewind/issues/1342), so there is no need to include that in the FW PRs for this release.

[2019-12-04 08:12] markcor11 commented on #1356
It looks like that error is coming directly out of the keychain itself with the CLI handling that case indirectly whist retrieving the secret.

- Just to check if it is a keychain problem rather than a token auth problem,  whats the output of :

[code]

[2019-12-04 10:36] micgibso commented on #1290
Document the enabling/disabling injection of metrics toggle switch (`Auto inject metrics`) in https://www.eclipse.org/codewind/mdt-vsc-commands-project.html and https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html

[2019-12-04 10:40] tobespc opened #1361 "Metrics injection is not working for appsody project"
Version 0.7.0 is adding the ability to auto inject monitoring into developers projects.  This is currently broken for appsody projects.

[2019-12-04 10:41] micgibso opened #1362 "Rewrite project summary pages"
The help doesn't correspond with what you now see on the Project Summary page, for example, https://www.eclipse.org/codewind/mdt-vsc-commands-project.html.
So rewrite these pages for VS Code and Eclipse, suggested headings are:
- Project information
- Project Status
- Application information

etc.

Consult the UI and adapt accordingly.

[2019-12-04 10:44] james-wallis commented on #1362
### VSCode
Once https://github.com/eclipse/codewind-vscode/pull/317 lands the project page in VSCode will be:
![image](https://user-images.githubusercontent.com/17385115/70135849-c3842b80-1682-11ea-99ac-1d57fd0348f1.png)

And the context menu will be:
![image](https://user-images.githubusercontent.com/17385115/70135868-cc74fd00-1682-11ea-9391-79c6fab2da84.png)

(Without the PR they are the same ju

[2019-12-04 10:56] markcor11 commented on #1340
Code merged into master - closing

[2019-12-04 10:56] #1340 closed

[2019-12-04 11:16] #1170 closed

[2019-12-04 11:37] micgibso commented on #1362
On investigation, consider using content from 'projectview.md` currently in our docs source but not in our toc.

[2019-12-04 11:51] markcor11 commented on #1341
Code merged into master - Closing

[2019-12-04 11:51] #1341 closed

[2019-12-04 14:11] stalleyj commented on #1291
PR for this https://github.com/eclipse/codewind-installer/pull/263
@tetchel I added a -d flag to delete the source

[2019-12-04 14:22] eharris369 opened #1365 "Hybrid: applications will not open in the Eclipse internal browser"
Trying to open an application in the Eclipse internal browser results in a popup with the following message:

[code]

If I manually change the URL that PFE sends to be https instead of http I get the popup below.  Checking *Always trust* and clicking on *Continue* just pops up the dialog again.

![image](https://user-images.githubusercontent.com/9484320/70150093-68990700-1677-11ea-964d-27929169617

[2019-12-04 14:31] #1348 closed

[2019-12-04 14:40] tobespc commented on #1361
Initially, lets just put a PR up against the appsody stacks to move them from using appmetrics-dash to use codewind-metrics instead.  This will get them onto the new open metrics style monitoring

[2019-12-04 14:56] ssh24 commented on #1357
FYI - Swift does have two different steps, docker build and docker application build, so it does require two different messages

[2019-12-04 15:18] tetchel commented on #1356
I was able to auth against that connection just now, but then when I removed it and created a new one, I hit the 45 issue again. So i'll run your steps now...

[2019-12-04 15:23] tetchel commented on #1356
Running your steps seems to have fixed it. I'm on MacOS

[code]

[code]

[2019-12-04 15:46] jgwest opened #1366 "Cwctl install remote can't find kubeconfig on Windows"
**Description:**
It appears that the `cwctl install` command isn't able to locate the `.kube/config` file on Windows.

When running `cwctl install remote` I'm getting the following error: `Unable to retrieve Kubernetes Config FindFirstFile .kube\\config: The system cannot find the path specified.\n"`

The code in question appears to look for a `HOME` environment variable, which is not present on W

[2019-12-04 16:02] jgwest commented on #1366
On Windows, use the concatenation of these two env vars instead:  `%SystemDrive%%HOMEPATH%`

See below for their format and for proof they are proper env vars and therefore are accessible to Go.

[code]

([source](https://stackoverflow.com/questions/9228950/what-is-the-alternative-for-users-home-directory-on-windows-command-prompt))

[2019-12-04 16:05] jopit commented on #1321
Thanks @makandre, closing as a dup of #1304

[2019-12-04 16:05] #1321 closed

[2019-12-04 16:16] jgwest commented on #1366
Seemingly this was temporarily fixed and then reverted, but there is no corresponding issue that I could see:
https://github.com/eclipse/codewind-installer/pull/257

[2019-12-04 16:19] nastacio commented on #934
appsody can receive environment variables in two different ways today, both via --docker-options:
- --docker-options="--env-file somefile.properties"
- --docker-options="-e property=value ..."

It is unclear to me whether appsody/appsody#704 is mentioned here as a related issue or as blocker. I would disagree with the latter if that is the case.

[2019-12-04 16:26] eharris369 opened #1367 "Hybrid: File watcher not working for remote connections, due to inability to access WebSocket endpoint"
The [codewind-gatekeeper](https://github.com/eclipse/codewind/blob/d4d52ca990b720ebfd9929ca81744f68e550ebb6/src/gatekeeper/server.js) image appears to not properly handle the WebSocket endpoint used by the filewatcher, which causes the websocket upgrade failure in Erin's message below. See steps to reproduce in the comment below: https://github.com/eclipse/codewind/issues/1367#issuecomment-5617798

[2019-12-04 16:30] jopit commented on #1367
Is this different from #1309 ?

[2019-12-04 16:31] GeekArthur commented on #1351
Another folk @maysunfaisal can see this issue as well, add stopship label since user can’t choose templates that they enable with this issue.

/priority stopship

[2019-12-04 16:33] makandre commented on #934
@nastacio It's related

[2019-12-04 16:54] johnmcollier commented on #1357
@ssh24 Good point. On Kube though there's only one container build, so we should make sure the status on Swift is consistent there too

[2019-12-04 16:58] eharris369 commented on #1367
I thought so because there is no authentication required by PFE for the socket that file watcher is using yet according to Jonathan's latest comment in #1309: "Portal folks have not yet secured the WebSocket endpoint used by filewatchers for project notifications, so there is no need to include that in the FW PRs for this release."

[2019-12-04 17:17] jgwest commented on #844
/priority hot

[2019-12-04 17:18] jgwest commented on #844
/remove-priority hot

[2019-12-04 17:35] malincoln commented on #1211
@maysunfaisal pls verify and close if resolved.  Thanks

[2019-12-04 17:36] malincoln commented on #1084
@jopit pls confirm and close.  Thanks

[2019-12-04 17:53] rwalle61 commented on #1315
@mattcolegate now that your change to inject metrics collector into Spring projects is in, can you verify that we can remove injected metrics collectors from them too? If we have that functionality then this issue will be resolved so please close this issue

[2019-12-04 18:10] malincoln commented on #1284
@tobespc pls review and assign.  Thanks

[2019-12-04 18:10] malincoln commented on #1351
@tobespc pls review and assign.  Thanks

[2019-12-04 18:11] johnmcollier opened #1369 "Document how to run the Turbine functional tests on Kube and Local"
Currently we don't have much in terms of documentation telling folks how to run the functional tests for Turbine code changes(https://github.com/eclipse/codewind/tree/master/src/pfe/file-watcher/server/test) or what prerequisites there are (There's an implicit OKD/OCP requirement right now https://github.com/eclipse/codewind/issues/370)

In order to make it easier for external users to contribute

[2019-12-04 18:13] #1369 closed

[2019-12-04 18:13] ssh24 commented on #1369
Duplicate of https://github.com/eclipse/codewind/issues/315

[2019-12-04 18:13] johnmcollier commented on #1369
Closing as a dupe of #315 and #316

[2019-12-04 18:15] jopit commented on #1367
My understanding is that FW uses both sockets @jgwest can you clarify?

[2019-12-04 18:16] #1084 closed

[2019-12-04 18:17] maysunfaisal commented on #316
/assign

[2019-12-04 18:17] maysunfaisal commented on #316
@rajivnathan can you move this to in progress

[2019-12-04 18:17] maysunfaisal commented on #315
@rajivnathan can you move this to in progress

[2019-12-04 18:21] jopit commented on #1356
I just ran into the same problem.

[2019-12-04 18:29] jopit commented on #1356
[code]

[2019-12-04 18:31] jgwest commented on #1367
@jopit Nope, FW just the standard non-UI websocket, eg it doesn't use the socket.io socket for anything.

[2019-12-04 18:32] eharris369 opened #1370 "Hybrid: CertificateException: No name matching <url> found"
When trying to connect to a remote PFE I am getting the following error:

[code]

[2019-12-04 18:33] jgwest commented on #1367
I'm able to reproduce using a standalone websocket client, eg not requiring FWd with latest changes. I'm unable to establish a connection to:
[code]

[2019-12-04 18:33] eharris369 commented on #1370
Need to add a HostnameVerifier to the REST API calls and the socket.

[2019-12-04 18:36] #1116 closed

[2019-12-04 18:50] jopit opened #1371 "Remote appsody project doesn't start"
Installed codewind remotely into an OpenShift cluster.  Created a connection in vscode.  Created an appsody nodejs simple template project.  Project went into [Build Successful] almost instantly, but then it stayed in starting.  I don't see a pod for the appsody app in the OpenShift dashboard, or when I run `kubectl get pods`

Here's the PFE logs
[pfe.txt](https://github.com/eclipse/codewind/files

[2019-12-04 18:54] makandre commented on #1371
I have seen this, but it was always because of running into https://github.com/eclipse/codewind/issues/1284

If you view the logs of the pfe pod, do you see the trace in 1284?

Also, if you refreshed the connection, would it go to `running` state?

[2019-12-04 18:58] jopit commented on #1371
There are no `Maximum call stack` errors in the PFE log.

I don't believe the app is running because I don't see a pod for it
[code]

[2019-12-04 18:59] jopit commented on #1371
Here's the appsody log
[code]

[2019-12-04 19:02] makandre commented on #1371
ic... I missed your point about the pod not existing.  Giving this a try.

[2019-12-04 19:09] johnmcollier commented on #1371
@makandre This looks like the `index.docker.io` error we discussed with Michele, no?

[2019-12-04 19:19] makandre commented on #1371
Right... seems to be a regression in appsody CLI, opened https://github.com/appsody/appsody/issues/762

When I reverted to `0.5.0` the error went away.  In the worst case we could revert to that version

[2019-12-04 19:20] malincoln commented on #1367
@tobespc pls review and assign.  Thanks

[2019-12-04 19:24] johnmcollier opened #1373 "[OCP4] [Hybrid] Cwctl install fails on OCP4, can't find keycloak pod"
I'm trying to install Hybrid Codewind on OCP4 (on Fyre) using the following command:
[code]

However the install fails with the following error:
[code]
Despite the errors, the Keycloak pod is up and running fine, without issue, so something else must be causing the check [here](https://github.com/eclipse/codewind-installer/blob/master/pkg/remote/util.go#L261) to fail

[2019-12-04 19:25] johnmcollier commented on #1373
Both @makandre and I have seen this intermittently. There doesn't seem to be a sure-fire way to reproduce it, perhaps it's a timing issue? What's the timeout on the waitForPods function?

[2019-12-04 19:27] chilanti commented on #1371
This is really puzzling. In 0.5.0, you should see a failure even for `buildah pull`. In 0.5.1, on a *fresh* installation, the `.appsody.yaml` shouldn't even have `index.docker.io` (we changed it to `docker.io`).

[2019-12-04 19:29] GeekArthur opened #1374 "Project settings for odo extension"
We need to investigate and implement odo extension project settings, specific work items are:
- [ ] Investigate what project settings can be configured using our existing Codewind project settings (.cw-settings) architecture for odo extension
- [ ] Resolve project multiple ports issue by setting up port in our templates or project settings file use some way, so that odo extension can use the pre-c

[2019-12-04 19:29] GeekArthur commented on #1374
/area iterative-dev

[2019-12-04 19:30] malincoln commented on #1222
@ssh24 confirming that the fix is on track for 0.7.0?

[2019-12-04 19:38] ssh24 commented on #1222
I don't think I was assigned on this task for any particular fix. I was more of assigned to https://github.com/eclipse/codewind/issues/1245 to find the benchmark times across the projects in the turbine module

[2019-12-04 19:38] GeekArthur opened #1375 "[odo] Hybrid support for odo extension"
Since the remote support is almost done, IIRC only major feature left is project settings (https://github.com/eclipse/codewind/issues/1374), so we can start to test, investigate and implement corresponding changes for hybrid support.

[2019-12-04 19:39] GeekArthur commented on #1375
/assign
/area iterative-dev

[2019-12-04 19:46] ssh24 commented on #315
/assign

[2019-12-04 19:46] ssh24 commented on #316
/assign

[2019-12-04 19:49] keithchong opened #1376 "OpenAPI: Eclipse: Bump up version number for 0.7.0"
**Codewind version:** 0.7.0

The version of the OpenAPI Tools for Eclipse plugins, features and other build files needs to be bumped up for 0.7.0

[2019-12-04 19:52] makandre commented on #1371
@chilanti Thanks for the hint, yes turns out to be my bad here.  I have a PR to update the `images` value on our end.

[2019-12-04 19:54] sghung commented on #728
Did the investigation and create the steps for a tutorial to handle the Maven and NPM proxy scenario. Tim deBoer wrote the intro and background. I could not get the docker proxy scenario to work, so keeping this open for that.

[Nexus Repository Integration with Appsody.pdf](https://github.com/eclipse/codewind/files/3923706/Nexus.Repository.Integration.with.Appsody.pdf)

[2019-12-04 20:06] makandre commented on #1371
/assign

[2019-12-04 20:58] #1376 closed

[2019-12-04 21:04] sghung commented on #948
The che scenario was handled in 0.7.0. The local scenario was not covered and I wrote up a comment in https://github.com/eclipse/codewind/issues/938 explaining the workaround.

[2019-12-04 21:05] #1370 closed

[2019-12-04 21:08] elsony commented on #1222
@malincoln For this one, the major part of the original problem has been fixed before we shipped 0.6.0.  We are more in the process of doing investigation to see if we can figure out where that extra 6 sec is spent.  Unless we can find something early, I don't think we'll explicitly be doing anything for 0.7.0 on this.

[2019-12-04 21:35] malincoln commented on #1222
@elsony noted and thanks for the clarification.

[2019-12-04 22:12] markcor11 commented on #1356
@jopit is that a typo? zero vs letter O in the connection Id of the second command ?

[2019-12-04 22:13] malincoln commented on #1367
@tobespc this one identified as required for dcut.

[2019-12-04 22:14] jagraj commented on #1148
Looks like this problem is not fixed and it is back. Two users hit so far after we announced 0.6.1 release. One of the user from appsody team hit this problem and he ran `docker system prune -a` and we could not collect much of the data to investigate this problem.

I worked with Kabanero SVT team here in RTP and requested Monica to attempt upgrade from 0.5.0 release to 0.6.1 release and she got i

[2019-12-04 22:14] jagraj commented on #1148
/reopen

[2019-12-04 22:15] jagraj commented on #1148
/priority stopship

[2019-12-04 22:21] rajivnathan commented on #1317
@makandre @eharris369 I've dropped a fix for this. Can one of you please verify?

[2019-12-04 22:25] malincoln commented on #1148
@liamchampton @tobespc for awareness; this was reopened.

[2019-12-04 22:27] #1100 closed

[2019-12-04 22:27] rajivnathan commented on #1317
I tested the fix for codewind, appsody and odo type projects.

@makandre appsody project failed to deploy but I think that's an appsody bug because it failed after the check so seems unrelated to the change

[2019-12-04 22:28] mtamboli commented on #1148
Here is the vscode codewind plugin log:

[code]

[2019-12-04 22:38] tetchel opened #1379 "remove Add Project to Workspace from Theia"
![image](https://user-images.githubusercontent.com/8888438/70187721-e6333600-16bc-11ea-8474-b60279ced616.png)

[2019-12-05 03:39] jgwest commented on #1309
Filewatcher PRs have been merged. As described above, the next step is for the IDEs to pass an instance of `IAuthTokenProvider` to the Filewatcher constructor, which the Filewatcher will use to request the token at the appropriate times.

In VS Code, see [here for the constructor](https://github.com/eclipse/codewind-filewatchers/blob/5d73c5f3a44cb04bd2b8d2c171fc33e860e12451/Filewatcherd-TypeScript

[2019-12-05 10:17] rwalle61 commented on #1290
/assign

[2019-12-05 10:20] micgibso opened #1380 "(metrics) Performance monitoring enhancements"
Performance monitoring has changed, eg, https://www.eclipse.org/codewind/guide_performance.html, discussing with Toby, requires new content.

[2019-12-05 10:38] markcor11 commented on #1367
/assign @markcor11

[2019-12-05 11:34] mattcolegate commented on #1315
Tested this morning and both metrics injection and withdrawal is performed successfully with Spring projects. @rwalle61 I'm not sure this issue can be closed though, as it states 'users will be able to click a button in the IDE' - do you know where that work is being done?

[2019-12-05 14:10] deboer-tim commented on #1109
Tech topics: use google docs for agenda with shared link.

[2019-12-05 14:13] jopit commented on #1356
Yeah, that's a typo

[2019-12-05 14:21] eharris369 commented on #1309
PR for Eclipse IDE: https://github.com/eclipse/codewind-eclipse/pull/456

[2019-12-05 14:30] sujeilyfonseca opened #1382 "SVT: Templates are not updated after using Template Source Manager"
**Codewind version:** latest
**OS:** Mac OS, Windows 10, and Red Hat Enterprise Linux 7 (64 bit)

**Che version:** Eclipse Che 7.3.1
**IDE extension version:** 0.7.0
**IDE version:** VS Code 1.40.2
**Kubernetes cluster:** OKD/Openshift

**Description:** Templates are not updated after using Template Source Manager. It only shows one set of templates. If the templates are changed, they are not upda

[2019-12-05 14:32] sujeilyfonseca commented on #1382
/priority stopship

[2019-12-05 14:45] jagraj opened #1383 "SVT:Project list gone from the tree after moving from 0.6.1 to latest release."
**Codewind version:** latest (0.7)
**OS:** WIndows

**Che version:**
**IDE extension version:**
[code]
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I have bunch of projects created using Codewind 0.6.1 and I moved to Codewind latest (0.7.0) release and I lost the projects from the projects list, They started showing partial list initially and full list one time and th

[2019-12-05 14:46] jagraj commented on #1383
/priority stopship

[2019-12-05 15:04] deboer-tim commented on #1293
Discussed at tech topics (without UK team). The problem in Theia is similar to restarting an IDE locally; although it's worse in Theia solving this problem will ideally make it possible to close and reopen your local IDE without a full rebuild as well.

Leaning towards cwctl storing the timestamp and passing it back to FW, possibly storing it in the project info file. John C will talk to UK team,

[2019-12-05 15:22] naveenkaratekid commented on #1382
Codewind version: latest
OS: Windows 10

IDE extension version: 0.7.0
IDE version: VS Code 1.40.2

I too am able to reproduce this problem in Windows VSCode. If I check the Appsody templates, and
try to view the templates, I can only see the standard ones.

Screenshots
![image](https://user-images.githubusercontent.com/19738071/70248468-f1cc3e80-1748-11ea-9e4a-f1718c79ba6d.png)

![image](https://u

[2019-12-05 15:25] #315 closed

[2019-12-05 15:27] deboer-tim commented on #1347
From tech topics:
- We need the API to support allowing each extension to return multiple templates and tagging each of them as strong or weak (or some similar mechanism).

- When merged together, the API is going to return some number of strong and weak options. This leads to several cases:
 - A: 1 strong and any number of weak, or no strong and only 1 weak: same as today, we prompt for the 1 opt

[2019-12-05 15:48] eharris369 opened #1384 "[Eclipse IDE] No registry link if user right clicks on project and selects add existing"
Currently the registry link is on the project selection page but if the user right clicks on a project and selects **Codewind** > **Add existing project** then they will not see the link because this page is not shown.  The link should be moved to the project validation page.

[2019-12-05 15:49] makandre commented on #1317
@rajivnathan What is the deploy error you saw?  There was an issue we discovered yesterday and a fix went in.

[2019-12-05 15:54] keithchong commented on #1073
I see this locally too, using Codewind 0.6.1.

[2019-12-05 15:58] ssh24 commented on #316
/close

[2019-12-05 15:59] #316 closed

[2019-12-05 16:02] jopit opened #1385 "Remote appsody project takes 20+ minutes to start"
I am now getting past the error reported in #1371 , but the project took over 20 minutes to start.

Here's the log output
[code]

[2019-12-05 16:03] jopit commented on #1371
This issue is fixed, I am now running into a new problem, for which I've opened #1385

[2019-12-05 16:03] #1371 closed

[2019-12-05 16:14] eharris369 opened #1386 "[Eclipse IDE] Handle unauthorized socket event better"
When the authentication token is passed to the socket an unauthorized event can be sent if it is not valid.  Currently it just logs an error but it should disconnect the connection an show and error with the connection in the Codewind view.

[2019-12-05 16:23] eharris369 opened #1387 "[Eclipse IDE] Add a icon for creating a new connection to the toolbar"
The Codewind item in the view should have a label on it to tell users how to create new connections.  Something like:
- Right click to create a connection to a remote Codewind instance

[2019-12-05 16:24] makandre opened #1388 "cwctl stop-all does not stop appsody container if the image name not prefixed with appsody"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I have an appsody project whose base stack image is `makandre/nodejs-expres:0.2`.  `cwctl stop-all` does not stop this container, because it is looking only for containers whose image name starts with a known list of prefixes.

https://github.com/eclipse/cod

[2019-12-05 16:26] makandre commented on #1388
/area appsody
/area portal

[2019-12-05 16:30] makandre commented on #1385
I wasn't able to reproduce this just now, it started up fairly quickly.  However, I had to refresh the project status in Codewind explorer, because I'm constantly running into #1284

[2019-12-05 16:32] tetchel commented on #1382
Dupe https://github.com/eclipse/codewind/issues/1351

[2019-12-05 16:32] #1382 closed

[2019-12-05 16:39] makandre commented on #1351
This is possibly caused by https://github.com/eclipse/codewind/pull/1292

On quick glance I don't see `projectTemplatesNeedsRefresh` getting set to `true` when a repo is enabled.

[2019-12-05 16:41] tetchel commented on #1356
I'm seeing this on every new connection

[2019-12-05 16:52] jopit commented on #1385
Tried it with a second project, am seeing the same behaviour.

[2019-12-05 16:53] tetchel opened #1389 "Create project wizard does not close if error occurs populating templates list"
the error is shown, but then the quickpick just stays in the 'busy' state, it should close

[2019-12-05 16:53] jopit commented on #1385
This is running in an OpenShift cluster

[2019-12-05 17:12] GeekArthur commented on #1351
I think Andrew is right, we should set `projectTemplatesNeedsRefresh` to `true` when calling PATCH /api/v1/batch/templates/repositories since seems like PATCH api/v1/batch/templates/repositories is responsible for handling repo enable, below are logs when enable repo from IDE

[code]

[2019-12-05 17:23] eharris369 commented on #1384
Actually this is not relevant at the moment because right clicking on a project and selecting  **Codewind** > **Add project** will only add the project to the local connection as there is no way of selecting a connection.  There are no registries for local right now so a link is not required for this case.

[2019-12-05 17:30] tetchel opened #1391 "Show detailed app status in UI"
as per https://github.com/eclipse/codewind/issues/1297

we should show the detailed app status in the UI. I'm leaning towards the project overview for starters.

Also, if `detailAppStatus.notify === true`, show a notification with the `message`.

[2019-12-05 17:30] tetchel commented on #1297
done in backend, opened https://github.com/eclipse/codewind/issues/1391 for vs code followup

[2019-12-05 17:30] #1297 closed

[2019-12-05 17:37] tobespc commented on #1290
the work to add the check box to eclipse is still in progress

[2019-12-05 17:40] eharris369 commented on #1317
Tested this with local kubernetes and it is working.

[2019-12-05 17:40] #1317 closed

[2019-12-05 17:43] eharris369 opened #1392 "[Eclipse IDE] No prompt for push registry if drag and drop Codewind style project"
When dragging and dropping a Codewind style project on to a remote connection that does not have a push registry defined a dialog should pop up to prompt the user to add one, just as it does when the user creates a project or adds an existing project.

Also, when dragging and dropping a project onto a connection, the project overview page should be opened as this is now a new project for that conn

[2019-12-05 17:45] eharris369 opened #1393 "[Eclipse IDE] The new project wizard checks install status regardless of connection type"
The new project wizard is checking the Codewind install status even when the connection the user selected is a remote connection.

[2019-12-05 18:01] tetchel commented on #1373
Just saw this too with the performance pod

[2019-12-05 18:02] jopit opened #1394 "Can't open remote appsody app"
I created two appsody projects on a remote OpenShift cluster.  Opening the app in the browser works for one of them, but fails for the other.

![image](https://user-images.githubusercontent.com/29612372/70260942-5b574780-175f-11ea-8c76-2d4caa60625e.png)

The actual http response code that comes back is `503 Service Unavailable`

[2019-12-05 18:26] keithchong opened #1395 "Update Codewind MicroProfile project template to MicroProfile 3.0"
**Codewind version:** latest

**Description of the enhancement:**
The current MicroProfile template is at 1.2 and is old:  https://github.com/codewind-resources/javaMicroProfileTemplate

3.0 is available.

[2019-12-05 18:32] tetchel commented on #1073
I see this on every new project creation in hybrid

[2019-12-05 18:40] #1329 closed

[2019-12-05 18:50] sghung commented on #676
We will get together for a webex to discuss this further and see how it behaves. Can be related to https://github.com/eclipse/codewind/issues/1179 if its a refresh issue.

[2019-12-05 18:57] rajivnathan commented on #1246
Verified, closing

[2019-12-05 18:57] #1246 closed

[2019-12-05 19:00] makandre commented on #499
@mmulholl #1246 is closed now so the status won't flip between `starting -> stopped -> running` anymore; it will just stay as `starting`.  Can we close this issue?  Thx.

[2019-12-05 19:06] GeekArthur opened #1396 "[odo] odo CLI build issue"
Sometimes odo project fails to build due to odo CLI sync issue, the issue is intermittent but it affects both the project build step and adding owner reference step. Temporary workaround is to re-create the OpenShift project, permanent solution is let odo CLI team fix that. Below are detailed logs:

[code]

[2019-12-05 19:25] sishida opened #1397 "UI doc review and More Info file for Hybrid/Remote + Container Registry Scenario"
To Do:
- Doc review for strings and messages in the remote UI.
- Create documentation for the "More info" links in the remote UI.

This issue touched on the following issues:
- Allow user to specify multiple docker registry credentials: https://github.com/eclipse/codewind/issues/1178
- Create docker registry secret in Codewind: https://github.com/eclipse/codewind/issues/665
- Only require a user t

[2019-12-05 19:58] eharris369 opened #1398 "[Eclipse IDE] Request to disable log stream after project deleted causes exception"
This does not affect the function but the code is sending an API request to disable the log stream for a project when it gets the deletion event.  Since the project is gone this is causing an exception to be logged:
[code]

[2019-12-05 20:13] makandre commented on #1385
Hmm... `npm install` took 1442 seconds, that's 24 minutes right there

[code]

[2019-12-05 20:16] GeekArthur commented on #1131
Couple of questions:
- How long is the video?
- How many features we want to demo during the video?
- Does the video needs explanation/guidance

[2019-12-05 20:40] malincoln commented on #1351
@GeekArthur are you able to try the fix and confirm?  I see it was merged a few days ago.

[2019-12-05 21:04] makandre opened #1399 "Project sync support for reference to files outside of project folder"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

I would like to be able to create/define in my project, references to files that exist outside of the project folder (think of it like a symlink, but cross-platform).  Conceptually, something like this:

[code]

When the contents of `fileX` chang

[2019-12-05 21:11] ssh24 commented on #735
/close

[2019-12-05 21:12] #735 closed

[2019-12-05 21:23] jagraj commented on #1383
Docker daemon is crashed, I restarted docker daemon and now I am hitting this problem.

![image](https://user-images.githubusercontent.com/713849/70275166-936c8380-177b-11ea-92c3-31ac4cfe32c9.png)

[code]

[2019-12-05 21:24] jagraj commented on #1383
/area portal

[2019-12-05 21:37] sishida commented on #1111
Documentation needs:
- Separate odo documentation, including limitations and configuration.
- @GeekArthur will draft a PR, which the docs team can review.

[2019-12-05 21:41] sishida commented on #1397
Added comments to UI designs in InVision.

[2019-12-05 21:48] makandre commented on #1399
I discussed with @jgwest on a possible solution.

The first part would involve adding a new optional property to the payload `filewatcherd` gets from the `/api/v1/projects/watchlist` API:

[code]

The `syncIntoPfeContainer` defines the additional referenced files to watch for the project; this could possibly be defined by user in `.cw-settings`

Then, whenever a file change occurs, `filewatcherd`

[2019-12-05 21:55] makandre opened #1401 "Appsody extension should pass env to Appsody CLI via --docker-options"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Appsody CLI supports passing `--docker-options` to it.  Codewind should use that for passing environment, either using `--env` or `--env-file` (TBD) to Appsody

**Proposed solution:**

[2019-12-05 21:55] makandre commented on #1401
/area appsody

[2019-12-05 21:56] #1393 closed

[2019-12-05 21:56] makandre commented on #934
Related sub-features for this enhancement:

- #1399
- #1401

[2019-12-05 22:00] #1392 closed

[2019-12-05 22:08] johnmcollier opened #1402 "Cwctl not updating pre-existing roles when installing Codewind"
Currently when Cwctl installs Codewind onto Kubernetes, it creates a cluster role named `eclipse-codewind-x.x.dev`, where `x.x.dev` is the corresponding version (like 0.7.0). However, if that role already exists, Cwctl doesn't re-create or update the existing role, it just re-uses it.

That would be fine, except for when the cluster role changes (most likely during development, it's unlikely the r

[2019-12-05 22:18] johnmcollier opened #1403 "[Eclipse IDE] User is prompted to install docker containers before creating remote projects"
I've got Codewind installed on OCP4, with the Eclipse IDE plugin connected to it. I do not have local Codewind running on my machine. When I go to create a project, it tells me that `Codewind requires the installation of Docker containers to run`, if I hit no, it does not let me create a project
<img width="533" alt="Screen Shot 2019-12-05 at 5 14 24 PM" src="https://user-images.githubusercontent.

[2019-12-05 22:24] johnmcollier commented on #1403
If local Codewind is installed, then `Stopped` then projects can be created fine.

But you also can't create projects for remote connections while local Codewind is starting or stopping.

[2019-12-05 22:24] GeekArthur commented on #1351
@malincoln Me and Andrew find the root cause, but we are not the owner of this PR https://github.com/eclipse/codewind/pull/1292 that potentially cause the problem and we are not familiar with the part of Portal's code. To avoid inject a simple fix and bring more issues up, @james-wallis can you take a look at this and fix this since you create the PR?

[2019-12-05 23:04] GeekArthur commented on #828
Performance on vLaunch VMs has been resolved and we don't hit this issue any more, close this.

[2019-12-05 23:04] #828 closed

[2019-12-05 23:07] GeekArthur commented on #825
`odo delete` can handle `config.yaml` deletion, can't reproduce this, close the issue.

[2019-12-05 23:07] #825 closed

[2019-12-05 23:11] GeekArthur commented on #619
Already discussed with @lentheivendra and @ssh24, we only need functional tests for odo and share the unit tests. Close this issue.

[2019-12-05 23:11] #619 closed

[2019-12-05 23:14] johnmcollier opened #1405 "[Eclipse IDE] Users able to create/build Codewind-style projects without setting a push registry"
**Codewind version:** latest
**OS:** macOS

**IDE extension version:** latest
**IDE version:** Eclipse IDE 4.13
**Kubernetes cluster:** OpenShift 4.2

**Description:**
I've installed Codewind on OCP4.2 and pointed the Eclipse plugin for Codewind at it. If I create a Codewind style project without first designated a `Push Registry` in the `Manage Container Registries` view, I will get prompted with

[2019-12-05 23:18] GeekArthur commented on #1214
PRs are merged for both `codewind` and `codewind-che-plugin` and verified, close the issue.

[2019-12-05 23:18] #1214 closed

[2019-12-06 07:34] tobespc commented on #1284
assigning now

[2019-12-06 07:58] tobespc commented on #1388
can take a look at this from portal side, be next week though

[2019-12-06 08:01] tobespc commented on #1383
Do you have lots of projects ?  We are seeing issues where , due the amount of work in building lots of projects at once, pfe is not responding to ping requests from the IDE's and so everything looks broken.  Given time however, it does all sort itself out (not for one second am I saying this is acceptable though).  I don't think its anything that is linked to 0.6.1 specifically, more likely the w

[2019-12-06 08:02] tobespc commented on #1383
It might also be worth looking at this from an IDE pov as well to see if the IDE is getting the repsonses back from pfe.  @eharris369 , does that sound like another possible scenario ?

[2019-12-06 08:39] jcockbain commented on #614
My PR has been merged (https://github.com/google/go-github/pull/1336), working on integrating this into `cwctl` now.

[2019-12-06 09:56] liamchampton commented on #1148
**Update**

We use `docker-compose` to bring up the containers but use `docker` to bring them down and remove images. After the first _fix_ didnt resolve this, it seems that `docker-compose` is still caching image information. From the github ticket for `docker-compose` linked above it has been a known issue for a number of years. We should look at using `docker-compose down` + `docker-compose rm`

[2019-12-06 10:53] jcockbain commented on #1284
/assign @jcockbain

[2019-12-06 11:11] rwalle61 commented on #977
So the PFE changes are in: we can inject metrics into nodejs, liberty and spring projects.

The remaining thing is to have the `open app monitor` button on the IDEs (VSCode, Eclipse and Theia) pointing to:
* `${appOrigin}/appmetrics-dash` if the user has appmetrics as part of the app itself, or
* `${pfeOrigin}/performance/monitor/dashboard?theme=dark&projectID=${projectID}` if the user does not ha

[2019-12-06 11:22] james-wallis opened #1406 "Add inject metrics to eclipse plugin context menu"
**This feature is a part of https://github.com/eclipse/codewind/issues/1290. I'm adding this issue so its clear how far the feature gets.**

*The VSCode/Che version of this feature has already been completed.*

As a part of https://github.com/eclipse/codewind/issues/1290 I am adding a "Enable/Disable Inject Metrics" to the project context menu in the Eclipse plugin.

I've broken this work down int

[2019-12-06 11:22] james-wallis commented on #1406
/assign

[2019-12-06 11:25] james-wallis commented on #1362
I've split the eclipse plugin implementation out to issue https://github.com/eclipse/codewind/issues/1406

[2019-12-06 11:25] james-wallis commented on #1290
I've split the eclipse plugin implementation out to issue https://github.com/eclipse/codewind/issues/1406

[2019-12-06 12:18] #1287 closed

[2019-12-06 13:03] markcor11 commented on #1367
Made some progress,  I have this working on my test environment now and able to connect over TLS via the Codewind Gatekeeper

![image](https://user-images.githubusercontent.com/28102564/70324931-b5700f80-1828-11ea-9a09-640e0f8dd700.png)

[2019-12-06 13:18] jopit commented on #1383
@jagraj was the original problem of the project list being empty caused by the docker daemon crash?  I'm worried we're now using this issue to track multiple problems...

[2019-12-06 13:31] jagraj commented on #1383
My same workspace was building fine on 0.6 and 0.6.1 releases and after moving to 0.7.0 (latest) started seeing all these kind of problems. Yes docker daemon crashed and after that I started seeing this port in use issue. I worked with Erin from IDE perspective and she requested to capture above processes PIDs.

You had a chance to look into logs that I posted above.? , Wondering if there are any

[2019-12-06 13:38] jopit commented on #1383
I'm still confused, did the the docker daemon crash before or after the projects disappeared from the list?

[2019-12-06 14:01] jagraj commented on #1383
@jopit
The docker was idle, I was not using earlier. All I did is, installed latest codewind and tried to start codewind from eclipse IDE, it started building projects you can see there are 4 projects it built and failed after that and I found out docker daemon stopped responding.

[2019-12-06 14:09] eharris369 commented on #1405
I thought users would be able to create a push registry later and rebuild but it turns out they can't!!  They have to remove the project from the connection, create the push registry and add it again which is horrible so I will force them to create the push registry or cancel - not create the project at all.

[2019-12-06 14:11] eharris369 commented on #1403
I think I already fixed this with #1393.

[2019-12-06 14:14] jagraj commented on #1383
I also noticed this issue, port 10000 is not released even though I restarted docker daemon and causing this problem. I just killed all docker processes  manually after Docker desktop quit and it released 10000 port.

After quitting docker desktop.

[code]

[code]

After killing process manually then 10000 port is released. I am moving to latest again and give it a try.

[2019-12-06 14:15] eharris369 opened #1410 "[Eclipse IDE] Project overview page looks horrible on MAC in dark mode"
The project overview page looks terrible on MAC in dark mode.  Labels are dark but text fields are light.  Probably the same problem that occurs with groups on MAC where it seems to ignore the background setting for text fields.  Need to install JAWS and see if it can now find standalone labels and then maybe we can get away from using read only text fields.

[2019-12-06 14:31] eharris369 commented on #1383
As I mentioned to Jag yesterday I have seen this happen before.  Docker dies slowly and things start to behave very strangely.  You can do a docker ps and it looks ok but it is not.  In fact this happened one time when I was doing a demo.  It was really confusing because it looked like Docker was still working but the IDE was showing weird status in the Codewind view.  After the demo it completely

[2019-12-06 14:37] eharris369 commented on #1383
I checked the logs and I see this:

ERROR: for codewind-pfe  Cannot start service codewind-pfe: b"error while creating mount source path '/host_mnt/c/codewind-data': mkdir /host_mnt/c: file exists"

[2019-12-06 14:49] maysunfaisal commented on #1326
/assign me

[2019-12-06 14:52] eharris369 commented on #1387
@sishida Hi Sarah.  What would you recommend for this?  It would go on the top level Codewind element in the view, similar to how the Local element tells users how to create a project I want to tell users how to create a remote connection.

![image](https://user-images.githubusercontent.com/9484320/70331767-281fc180-180e-11ea-8204-55bcdff72e5d.png)

[2019-12-06 15:10] yangcao77 commented on #1383
I also see this issue on Mac with VSCode.
I only have 1 spring project in my workspace.
PFE and docker hangs after a change to the spring project. I've noticed that portal is trying to log all deleted files.
[pfelog.txt](https://github.com/eclipse/codewind/files/3932776/pfelog.txt)

[2019-12-06 15:17] jcockbain commented on #1284
I've not been able to recreate so far on local.

@makandre, is refreshing the connection referring to clicking 'refresh' on Codewind through VSCode?

Does anyone have any more info on their environment when seeing this? Types of projects/how they've been modified etc...

[2019-12-06 15:29] makandre commented on #1284
Yes, refresh using the action on the connection in VSCode.   I typically create appsody projects and I see it happen quite regularly (just ran into it on remote Che and hybrid this morning; have not tested local recently)

[2019-12-06 15:48] jcockbain commented on #1284
Thanks, I'll have a look using remote next.

I agree it seems to be an issue with the object sent over the socket (has-binary-2 is a dependant of socket.io). That should just be a project object + a result/error string, investigating now if in some scenario we have a circular reference in there.

[2019-12-06 15:56] johnmcollier commented on #1403
@eharris369 I pulled down the latest Eclipse plugin as of 4pm yesterday, so that should've had the fix in it, but let me pull down the latest again to double check

[2019-12-06 16:01] jgwest opened #1411 "cwctl project sync command is crashing on HTTP Post in remote scenario"
In the Codewind remote scenario, using the latest images/tools, the `cwctl project sync` command is crashing when it is called by the filewatcher (stack trace below).

Fortunately, from looking at the cwctl sync.go code and the stack trace, it appears to be due to the HTTP Post request attempting to validate the HTTPS certificate/hostname and failing (and consequently panicing). The specific line

[2019-12-06 16:01] jagraj commented on #1383
Yes, this is known issue and I have to reset disk share credentials and then it starts working. I had to do this when I uninstall and Install Codewind.

[2019-12-06 16:02] johnmcollier commented on #1403
@eharris369 I can't reproduce on the latest driver now, so closing. Thanks!

[2019-12-06 16:02] #1403 closed

[2019-12-06 16:13] maysunfaisal opened #1412 "Fix registrysecrets API error handling"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
When service account patch fails, GET API returns the new list from Docker Config which it should not because the Codewind Secret create and/or Service Account patch failed.

Revert changes to the Docker config when this happens.

Applies to POST and DELETE.

![imag

[2019-12-06 16:14] maysunfaisal commented on #1412
/assign me
/area iterative-dev
/kind hot

[2019-12-06 16:15] jgwest commented on #1412
@maysunfaisal: Could not find label: kind/hot

[2019-12-06 16:16] maysunfaisal commented on #1412
/priority hot

[2019-12-06 16:18] tetchel commented on #1412
well, it should return the new list, but the new list should equal the old list because we failed to modify it :P

[2019-12-06 16:18] james-wallis commented on #1406
PR raised: https://github.com/eclipse/codewind-eclipse/pull/461

[2019-12-06 16:19] maysunfaisal commented on #1412
/assign me

[2019-12-06 16:33] tetchel opened #1413 "Cancelling changing push registry puts registries table in incorrect state"
1. have multiple image registries configured
2. change your push registry with the radiobuttons
3. you are prompted to enter a namespace
4. cancel, with esc
5. the selected push registry should return to the old one, but it does not

also happens if you proceed with the push registry update, but then it fails.

for some reason refreshing the page doesn't updated the `checked` state of the radiobut

[2019-12-06 16:55] jopit commented on #1411
So without this being fixed, files don't sync at all, right?

[2019-12-06 17:05] mmulholl opened #1414 "SVT : Eclipse latest : New Java Spring projects fail maven build"
**Codewind version:**   Codewind tech preview	0.6.0.v201912022032
  codewind-pfe-amd64:latest
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Newly created Java Spring apps fail in maven build.
If I look at maven build logs for the project I just get: Waiting for server to send logs...

**Steps to reproduce:**
Create a new Java Sp

[2019-12-06 17:13] jgwest commented on #1411
The actual file upload is done by a PUT request (not the POST that is crashing), but that PUT request just buries it's errors without logging them, so it's likely that the actual file transfer is failing too, it's  just not being logged.

So:
- No files being transferred (no logging of these errors)
- And likewise sync is not informing PFE that the transfer is complete (this is the part that is ac

[2019-12-06 17:34] lentheivendra opened #1415 "Codewind vs-code installation error on Windows due to docker deamon not running"
**Codewind version:** latest master
**OS:** Windows 10

**Description:** When installing the latest master version of the codewind vs-code extension via the .vsix file, the following error is shown citing the possible cause to be the fact that the docker daemon is not running. I hadn't intended to start my local docker on Windows since I wanted to try the remote scenario.

[code]

[code]

[2019-12-06 17:36] james-wallis commented on #1290
The work for the Eclipse plugin has now landed.

[2019-12-06 17:36] james-wallis commented on #1406
PR has landed.

[2019-12-06 17:36] #1406 closed

[2019-12-06 17:45] eharris369 commented on #1414
Here is a pfe log for the failure:
[logs.txt](https://github.com/eclipse/codewind/files/3933337/logs.txt)

[2019-12-06 17:54] tetchel commented on #1266
/pipeline verify

[2019-12-06 17:55] tetchel commented on #1266
/verify

[2019-12-06 18:03] jagraj commented on #1414
I also see same problem on Windows.

[2019-12-06 18:33] johnmcollier commented on #1411
There's something else wrong going on with the sync. I did a quick test change that added `InsecureSkipVerify` setting to sync.go, and while it got rid of any errors in the logs and it seemed the sync command ran fine, they still weren't getting synced to PFE:
[code]

[2019-12-06 18:34] tetchel commented on #1379
was fixed in https://github.com/eclipse/codewind-vscode/pull/323

[2019-12-06 18:34] #1379 closed

[2019-12-06 18:36] tetchel commented on #1227
I improved the message for you, John. as for the original question, we are adding a button to open the manage sources page to the connection settings, which should suffice.

[2019-12-06 18:36] #1227 closed

[2019-12-06 18:36] tetchel commented on #1178
/pipeline verify

[2019-12-06 18:36] tetchel commented on #1178
merged https://github.com/eclipse/codewind-vscode/pull/323

[2019-12-06 18:54] makandre commented on #1401
/assign

[2019-12-06 19:00] johnmcollier commented on #1284
I should also note: Test on OCP4 on Fyre if you can, I've seen it there the most

[2019-12-06 19:03] makandre commented on #1401
One other thing needed is for Codewind to re-build the project (i.e. re-invoke `appsody run`) when the `env.list` file changes.  But currently `detectChangeByExtension = true` for `ShellExtensionProject` means that this does not happen.  This would need to be enhanced to allow certain files to trigger Codewind re-build.

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/s

[2019-12-06 19:29] mmulholl commented on #1179
This problem seemed to largely clear up in 0.6.1 but is now back being a big problem using latest to SVT automated tests which fail because projects are not being removed from the codewind list of projects.

[2019-12-06 19:33] eharris369 opened #1417 "[Eclipse IDE] Protocol version error when connect to Codewind on OpenShift"
Getting the following exception when trying to connect to Codewind on OpenShift.  The SSLContext should be created with TLSv1.2.

javax.net.ssl.SSLException: Received fatal alert: protocol_version
        at com.ibm.jsse2.k.a(k.java:32)
        at com.ibm.jsse2.k.a(k.java:37)
        at com.ibm.jsse2.av.b(av.java:549)
        at com.ibm.jsse2.av.a(av.java:715)
        at com.ibm.jsse2.av.i(av.java

[2019-12-06 19:37] johnmcollier commented on #1266
Verified, fixed. Thanks!

[2019-12-06 19:37] #1266 closed

[2019-12-06 20:03] eharris369 commented on #1417
/verify

[2019-12-06 20:07] maysunfaisal commented on #1414
/area iterative-dev

[2019-12-06 20:17] mmulholl opened #1418 "SVT : Eclispe : Running state shown too early"
**Codewind version:** latest :   Codewind tech preview	0.6.0.v201912022032
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I get test failures when a project is shown as running when it is not. Always seeing failures because OpenLiberty applications show the Liberty server welcome page instead of the project welcome page. I get si

[2019-12-06 20:18] ssh24 commented on #1414
Looks like `mvn` is not found from the logs
[code]

[2019-12-06 20:20] elsony commented on #1414
It looks like docker build failed. Can you provide docker.build.log?

[2019-12-06 20:33] johnmcollier commented on #1383
I'm able to consistently reproduce this on Che with spring projects:
1) Deploy a Spring Codewind project
2) Make a change to a .java file. It will trigger a maven build
3) Codewind will disconnect and when it eventually reconnects, the build will have failed

The following is show in the logs too:
[code]

[2019-12-06 20:35] johnmcollier commented on #1383
I should also note that this problem doesn't seem to be entirely restricted to workspaces that were migrated from 0.6.1 to 0.7.0, I can see this even on a fresh workspace

[2019-12-06 21:06] tetchel opened #1419 "Adding a docker registry secret with bad credentials in Che causes creation of subsequent Che workspaces to fail"
Env: Docker for desktop

Steps:
1. Create a codewind workspace in Che
2. Add an Image Registry with docker.io credentials that are invalid/wrong
3. Try and create another che workspace in the same namespace
4. The workspace creation fails when it tries to pull images using the bad credentials

![image](https://user-images.githubusercontent.com/8888438/70356291-093b2280-1842-11ea-8730-0f5ea8770b06.

[2019-12-06 21:08] johnmcollier commented on #1419
https://github.com/eclipse/codewind/issues/974 will address this

[2019-12-06 21:14] lentheivendra opened #1420 "Keycloak startup errors when installing remote codewind via cwctl"
**Codewind version:** latest/master
**OS:** Windows client, also seen with Mac client
**Kubernetes cluster:** OKD 3.11

After setting up a OKD 3.11 cluster with root and privileged access, when installing codewind remote via:
`cwctl.exe --insecure install remote --namespace codewind --kadminuser admin --kadminpass admin --krealm codewind --kclient codewind --kdevuser developer --kdevpass developer

[2019-12-06 21:16] tetchel opened #1421 "Switching push registries causes old push registry to lose its namespace"
This is a known limitation, but we should warn users when they switch their push registry that this will happen.

[2019-12-06 21:32] makandre commented on #1284
It looks like the error happens at https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/FileWatcher.js#L501

I can see that `updatedProject` has a reference to a `WorkspaceFileLogstream` which itself has a reference the the project; hence the circular reference.

<img width="428" alt="image" src="https://user-images.githubusercontent.com/17596240/70357800-c7ac7680-1845-11ea-9c36-

[2019-12-06 21:45] elsony commented on #1414
This section in the log looks suspicious as well:
[32m[05/12/19 11:13:36 /portal/routes/projects/remoteBind.route.js] [INFO][39m Project spring1 syncing with build container, projectRoot is /root/app
[91m[05/12/19 11:13:37 /portal/routes/projects/remoteBind.route.js] [ERROR][39m { Error: Command failed: docker cp /codewind-workspace/spring1/. undefined:/root/app
Error: No such container:path: u

[2019-12-06 21:47] ssh24 commented on #1414
I saw that previously as well and have https://github.com/eclipse/codewind/issues/1029 opened for it

[2019-12-06 21:55] markcor11 commented on #1420
Cwctl deploys keycloak using the embedded H2 database stored on a persistent volume rather than an optional remote MySQL or Postgres database.  Do you happen to have the kubectl describe output for the Keycloak pod ?

[2019-12-06 21:56] markcor11 commented on #1402
/assign @markcor11

[2019-12-06 22:01] markcor11 commented on #1402
I prefer option 2 (update the existing cluster roles rather than create namespaced Roles because all deployments of that version will be able to inherit the same role set in one hit (if we release a role patch) without having to patch each deployment in each namespace separately.

[2019-12-06 22:06] markcor11 commented on #1366
/pipeline Verify

This should be resolved now

[2019-12-06 22:07] johnmcollier commented on #1420
@lentheivendra @jingfuwang Please try using the following for the ingress domain on OKD:
- `<namespace>.<ip>.nip.io`, where `namespace` is the namespace you're installing Codewind in. I suspect the OKD router is rejecting your routes as invalid.

[2019-12-06 22:08] markcor11 commented on #1367
/pipeline Verify

[2019-12-06 22:12] #1415 closed

[2019-12-06 22:12] #1322 closed

[2019-12-06 22:12] #1324 closed

[2019-12-06 22:12] #1389 closed

[2019-12-06 22:17] jopit commented on #1383
It still sounds to me like there's (at least) two separate problems being described here.

[2019-12-06 22:23] johnmcollier commented on #1420
I'm unable to reproduce on OCP4 or OpenShift 3.11 on IBM Cloud, this seems to be restricted to OKD 3.11, hmm

[2019-12-06 22:28] maysunfaisal commented on #1383
I think we see this on our Turbine Functional tests on Che.

I had kicked them off today morning but PFE crashed during Spring suite sometime after maven failure. And thereafter, a new PFE was brought up with no projects.

[2019-12-06 22:35] johnmcollier opened #1423 "[VS Code/Hybrid] I only get prompted once to enter an image push registry"
**Codewind version:** latest
**OS:** Mac OS

**IDE extension version:** latest
**IDE version:**  1.40.2
**Kubernetes cluster:** OCP 4

**Description:**
When I go to create a project for the first time, without having entered an image push registry, I'll get prompted by VS Code:
![Screen Shot 2019-12-06 at 5 30 57 PM](https://user-images.githubusercontent.com/6880023/70361019-3392dd00-184e-11ea-8de

[2019-12-06 22:36] markcor11 commented on #1420
I wonder if storage is available, I have a check for that in a branch but haven’t delivered it yet...

[2019-12-06 22:38] johnmcollier commented on #1402
@markcor11 That sounds good to me

[2019-12-06 22:39] GeekArthur commented on #1420
@markcor11 I can confirm storage is available
[code]

[2019-12-06 22:43] elsony commented on #1414
Can we get the docker build log?  Given mvn is missing, chances are there are some issues on pulling down maven during the docker build.

[2019-12-06 23:01] maysunfaisal commented on #1383
I tried it out manually and I see the exact same issue as John

[code]

But after it reconnects and build fails, here is the log:

[code]

complains about ` mvn: command not found` which sounds similar to #1414

Here are both the PFE Trace and FW logs after editing a Spring Java file
[FW-1383_dec6.log](https://github.com/eclipse/codewind/files/3934336/FW-1383_dec6.log)
[PFE-1383_dec6.log](https://

[2019-12-06 23:03] GeekArthur commented on #1420
More specifically it fails on container starting stage
[code]
All other stages are good such as pulling image, persistent volume claim, etc

Also the same `cwctl` works on ROKS cluster but doesn't work on OKD cluster, so seems like the issue is OKD specific. I paste the whole keycloak pod logs below.

[keycloak.log](https://github.com/eclipse/codewind/files/3934316/keycloak.log)

[2019-12-06 23:03] tetchel commented on #1423
that's not right

[2019-12-06 23:05] GeekArthur commented on #1420
FWIW, below is describe keycloak po
[code]

[2019-12-07 01:03] markcor11 commented on #1420
I see from the logs that Keycloak tries to load the H2 then the MySQL Jdbc driver,  could you try setting the env var DB_VENDOR=h2 in the deployment descriptor. If that works we can (and should) set it by default during deploy

[2019-12-07 01:16] markcor11 commented on #1420
/assign @markcor11

[2019-12-07 01:27] GeekArthur commented on #1420
@markcor11 That works, perfect, thanks Mark! We can set `h2` by default to tolerate this issue.

[2019-12-07 01:57] markcor11 commented on #1366
/assign @markcor11

[2019-12-07 01:59] markcor11 commented on #1366
This should be resolved now since  HOME path is being determined by GOOS. Moving to verify

/pipeline Verify

[2019-12-08 16:21] sujeilyfonseca opened #1424 "SVT: [Che] Strange behavior in the command palette when writing or deleting values ​​to add a new Image Registry"
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Strange behavior in the command palette when writing or deleting values ​​to add a new Image Registry. Here is a video as a demonstration:

[Screen R

[2019-12-08 16:30] sujeilyfonseca opened #1425 "SVT: [Che] Codewind workspace disappeared after returning to the Workspaces section in Eclipse Che"
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Codewind workspace disappeared after returning to the Workspaces section in Eclipse Che.

<img width="1675" alt="Screen Shot 2019-12-08 at 11 20 00 A

[2019-12-08 16:46] maysunfaisal commented on #1239
/close

[2019-12-08 16:47] #1239 closed

[2019-12-08 16:49] maysunfaisal commented on #665
/close

[2019-12-08 16:49] #665 closed

[2019-12-08 16:51] maysunfaisal commented on #316
/assign @ssh24

[2019-12-08 16:54] maysunfaisal commented on #1300
@rajivnathan can you pls move this to in progress, thx

[2019-12-09 08:14] jgwest commented on #1300
/pipeline In Progress

[2019-12-09 08:53] micgibso commented on #1290
Docs PR approved and merged: https://github.com/eclipse/codewind-docs/pull/253

[2019-12-09 09:33] james-wallis commented on #1207
The templates tests have been enabled.

[2019-12-09 09:33] james-wallis commented on #1207
/close

[2019-12-09 09:34] #1207 closed

[2019-12-09 09:38] jcockbain commented on #1284
@makandre thanks!

That's the case for me too, I get the error as soon as I show logs for an appsody project.

I have the same project reference inside appsody.log of that project, looking now into where that is being created.

[2019-12-09 10:52] james-wallis commented on #1351
/assign

[2019-12-09 12:03] tobespc commented on #1411
have recreated and now working on a solution

[2019-12-09 13:25] jcockbain commented on #1284
So, as far as I can see this can happen for any project type, when selecting `view logs`. The offending project object is being created at https://github.com/eclipse/codewind/blob/86a4b097a1010117aa6aee68cd63142bfddcd52f/src/pfe/portal/modules/LogStream.js#L65.

Speaking to @hhellyer, the ui socket doesn't require the logstreams object. So, my plan is to remove this when we copy the project into t

[2019-12-09 13:36] hhellyer opened #1426 "Enhancement/Request : PPC64LE version of cwctl"
@vrushaliinamdar commented on [Mon Dec 09 2019](https://github.com/eclipse/codewind-installer/issues/271)

Hi Team,

Recently, I have built the "ppc64le" architecture specific version of cwctl binary. Please let me know if it is possible to make this binary available for download.

The steps I followed to build are:
**OS : rhel7.7 / ppc64le**

1. Install dep
2. Clone codewind-installer source code

[2019-12-09 13:36] hhellyer opened #1427 "Enhancement/Request : PPC64LE version of cwctl"
@vrushaliinamdar commented on [Mon Dec 09 2019](https://github.com/eclipse/codewind-installer/issues/271)

Hi Team,

Recently, I have built the "ppc64le" architecture specific version of cwctl binary. Please let me know if it is possible to make this binary available for download.

The steps I followed to build are:
**OS : rhel7.7 / ppc64le**

1. Install dep
2. Clone codewind-installer source code

[2019-12-09 13:39] hhellyer commented on #1427
I accidentally clicked the move button twice. Closing this duplicate.

[2019-12-09 13:39] #1427 closed

[2019-12-09 13:42] james-wallis commented on #1351
PR created for this issue https://github.com/eclipse/codewind/pull/1428

[2019-12-09 13:44] james-wallis commented on #1351
@GeekArthur would you be able to review the PR?

[2019-12-09 13:50] malincoln commented on #1367
@eharris369 pls verify and close.  Thanks

[2019-12-09 13:50] malincoln commented on #1417
@eharris369 does anyone else need to verify and close?

[2019-12-09 13:52] malincoln commented on #450
@elsony do we need SVT to verify this?

[2019-12-09 14:06] james-wallis commented on #1383
/assign

[2019-12-09 14:13] #1423 closed

[2019-12-09 14:17] eharris369 commented on #1417
@malincoln I don't know of anyone else that ran into it.  The 0.7.0 branch must have been created just before I delivered the fix so I had to create another PR for 0.7.0: https://github.com/eclipse/codewind-eclipse/pull/464

[2019-12-09 14:17] stalleyj commented on #1411
@jgwest The first fix required is for the various flavours of FW daemon to call cwctl with the global --insecure flag. The files are then uploaded successfully but the upload/end is not working correctly, continuing to investigate this.

[2019-12-09 14:21] james-wallis commented on #1383
As @jopit has said it seems multiple issues are being discussed here.
1. @jagraj's original issue which is Migration not working correctly from 0.6.1 -> 0.7.0
2. Docker is becoming slow and eventually failing
3. Docker not releasing port 10000 on a restart
4. Spring projects causing PFE to crash (maybe after Portal logs the files to be deleted)?

[2019-12-09 14:33] malincoln commented on #1402
@johnmcollier pls verify and close.  Thanks

[2019-12-09 14:35] malincoln commented on #1417
@eharris369 okay so you should be able to close now.

[2019-12-09 14:36] tobespc commented on #1411
issue with cwctl is that we weren't calling the upload/end with the necessary security.  Have a fix going into the installer to resolver this

[2019-12-09 14:36] malincoln commented on #1351
@GeekArthur pls verify and close.  Thanks

[2019-12-09 14:50] jgwest commented on #1367
I saw this as well, and was able to verify it is fixed by https://github.com/eclipse/codewind/pull/1409

[2019-12-09 14:54] tobespc commented on #1290
this has now finished and can be closed

[2019-12-09 15:13] tetchel commented on #1424
this is a theia UI bug, I'm not sure if there's anything I can do, which browser are you using?

[2019-12-09 15:20] sujeilyfonseca commented on #1424
Google Chrome

[2019-12-09 15:43] rwalle61 commented on #977
/assign

[2019-12-09 15:44] rwalle61 commented on #977
/pipeline inProgress

[2019-12-09 15:44] jgwest commented on #977
@rwalle61: Unable to locate pipeline with name: `inProgress`

[2019-12-09 15:45] rwalle61 commented on #977
/pipeline InProgress

[2019-12-09 15:46] jgwest commented on #977
@rwalle61: Unable to locate pipeline with name: `InProgress`

[2019-12-09 15:50] stalleyj commented on #1411
Also made a fix to PFE to check for undefined modifiedFiles/deletedFiles https://github.com/eclipse/codewind/pull/1432, https://github.com/eclipse/codewind/pull/1433

[2019-12-09 15:54] jgwest opened #1434 "[Filewatcherd] Java filewatcher's PUT request is still doing cert/host-checking, should not be"
The Java Filewatcher issues a PUT request to communicate the success/failure of the watch state, however the actual HTTP request is still checking cert/host. I fixed this for GET/POST but not for PUT.

Stack trace:
[code]

[2019-12-09 15:54] james-wallis commented on #1383
**Recreating original issue**

I've just created a bunch of projects using version `0.6.1` (PFE image 0.6.1, VSCode 0.6.1)
*Note: the appsody Node.js project never changed from `running` to `started` and could not be reached.*
![image](https://user-images.githubusercontent.com/17385115/70447155-354ee180-1a96-11ea-99e7-faf389aa06ac.png)

I then stopped PFE using the VSCode plugin, the two Appsody p

[2019-12-09 15:54] rwalle61 commented on #977
/pipeline In Progress

[2019-12-09 15:57] jgwest commented on #1411
As described above, next step is for me (in the Filewatchers) to add `--insecure` flag whenever we are invoking `cwctl project sync`. PRs incoming...

[2019-12-09 16:01] eharris369 opened #1435 "Projects left running over the weekend on open shift will not load"
I left 2 go projects running over the weekend on openshift and now they will not load anymore unless I rebuild them.  When I try to load them I get this:

![image](https://user-images.githubusercontent.com/9484320/70450981-9cf33580-1a72-11ea-9667-dc91d7cffb8f.png)

The pod is running and it does not look like it went down:

![image](https://user-images.githubusercontent.com/9484320/70451072-c318d5

[2019-12-09 16:02] GeekArthur commented on #450
@malincoln I can verify, verified, close the issue.

[2019-12-09 16:02] #450 closed

[2019-12-09 16:05] eharris369 commented on #1417
This is fixed in both 0.7.0 and master.

[2019-12-09 16:05] #1417 closed

[2019-12-09 16:10] eharris369 commented on #1414
[docker.build.log](https://github.com/eclipse/codewind/files/3940596/docker.build.log)

[2019-12-09 16:14] #614 closed

[2019-12-09 16:16] makandre commented on #1435
Is the route still up?

[2019-12-09 16:23] tobespc commented on #1383
@jagraj please can you retest as we are unable to recreate

[2019-12-09 16:29] ssh24 commented on #1414
I don't think docker build failed. Everything looks good on that log

[2019-12-09 16:32] johnmcollier opened #1437 "Cwctl deploying non-PFE deployments as privileged"
It appears that `cwctl` is deploying Keycloak, Performance, and Gatekeeper as privileged when only PFE needs to be deployed as privileged. This is because `generateDeployment` is used to create deployments for each of those containers, and it directly hard codes `Privileged`: https://github.com/eclipse/codewind-installer/blob/master/pkg/remote/util.go#L125

We should update `generateDeployment` so

[2019-12-09 16:44] james-wallis commented on #1388
/assign

[2019-12-09 16:59] eharris369 commented on #1435
I rebuilt it so I can't check now.  I will leave some projects running over a couple of days again.

[2019-12-09 17:04] GeekArthur commented on #1351
@james-wallis Verified, the issue has been resolved, thanks. We should backport the fix to 0.7.0 as well, once it's done we can close this issue.

[2019-12-09 17:21] jgwest commented on #1434
/pipeline Verify

[2019-12-09 17:21] rwalle61 commented on #1290
I believe this is done on PFE's end.

@james-wallis can you confirm if the checkbox is done?

Then @micgibso can close this when docs are done

[2019-12-09 17:22] sishida commented on #1387
@eharris369 I looked at the UI design for VS Code. We've got things like, "Click here to set up your connection" and "Click here to create a project".

Your suggestion should work--please just add a hyphen to "Right-click." ;) Thanks!

[2019-12-09 17:24] sishida commented on #1397
@micgibso recommends linking "More info" to this page: https://github.com/eclipse/codewind-docs/blob/9a919f5d29babc13dc23317dfe6e489b70e308a9/docs/_documentations/remote-overview.md

We might want to add a section that centers around the UI more, but this is a start for conceptual info! :)

[2019-12-09 17:34] makandre commented on #1401
Discuss with appsody team; they made `-e`/`--env` flag take effect on local and k8s, however it's preferable for us to use `--env-file` (PR https://github.com/eclipse/codewind-appsody-extension/pull/73 passes `--env-file`)

Opened followup issue https://github.com/appsody/appsody/issues/784 on appsody

[2019-12-09 17:43] tetchel commented on #1295
sorry shouldn't have closed this. I should add that in vs code, the first line in the "codewind" output view will be the user-friendly location of cwctl.

[2019-12-09 17:45] jopit commented on #1295
I actually think this can be closed, the code is in and it's been doc'd.

[2019-12-09 17:45] #1295 closed

[2019-12-09 17:58] rwalle61 commented on #977
@eharris369 @tetchel we have nearly finished the work mentioned above: to calculate the app monitor dashboard url in PFE and provide that information on the GET api/v1/projects/{id} endpoint.

So after we merge that PR, the IDEs will be able to simply ask PFE what the appMonitorUrl is for the project. I've raised a [PR for the VSCode plugin](https://github.com/eclipse/codewind-vscode/pull/329) to

[2019-12-09 18:11] jopit commented on #1309
Is there more work do do for this issue, or can it be closed?

[2019-12-09 18:12] jgwest commented on #1093
(Taking a guess on which `area`s to add, feel free to update)

[2019-12-09 18:18] johnmcollier commented on #1437
PR up at https://github.com/eclipse/codewind-installer/pull/277

[2019-12-09 18:21] jopit commented on #977
Is this going into 0.7.0?

[2019-12-09 18:29] maysunfaisal commented on #1367
/reopen

I still see this issue with latest cwctl and gatekeeper

### cwctl build info
[code]

### gatekeeper pod describe
[code]

### My gatekeeper has the changes:
[code]

### Gatekeeper logs:
[code]

[2019-12-09 18:30] maysunfaisal opened #1439 "Remote PFE project changes not taking place"
**Codewind version:** latest
**OS:**

**Che version:** N/A
**IDE extension version:** latest
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**
Changes to project not getting reflected on remote PFE.

I am on latest cwctl, someone needs to verify this for 0.7.0

**Steps to reproduce:**
- I deployed remote PFE with cwctl
- Create connection via VS Code
- Create Spring project and c

[2019-12-09 18:31] maysunfaisal commented on #1439
/priority stopship

[2019-12-09 18:35] maysunfaisal commented on #1439
could be dup of #1411

[2019-12-09 18:42] sishida commented on #596
@josephca and @j-c-berger to work on updating the Eclipse marketplace page.

[2019-12-09 18:43] johnmcollier commented on #1439
FWIW, sync on manual build is still broken for me despite 1411 being in verify.

@maysunfaisal @jgwest FYI

[2019-12-09 18:45] maysunfaisal opened #1440 "DELETE /api/v1/imagepushregistry should also remove the image push registry when user deletes from the UI"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Should delete the imagepushregistry defined at `/codewind-workspace/.config/settings.json`

[2019-12-09 18:45] maysunfaisal commented on #1440
/assign me

[2019-12-09 18:45] maysunfaisal commented on #1440
/area iterative-dev

[2019-12-09 18:53] maysunfaisal commented on #1367
I see an error with Filewatcher

[code]

which points to https://github.com/eclipse/codewind/issues/1411

so closing this now

/close

[2019-12-09 18:54] #1367 closed

[2019-12-09 18:56] GeekArthur commented on #1115
PR has been merged, verified, close the issue.

[2019-12-09 18:56] #1115 closed

[2019-12-09 18:58] #1309 closed

[2019-12-09 19:15] jopit commented on #673
@jagraj do you still see this?

[2019-12-09 19:26] jopit commented on #1387
@jopit create an icon for this

[2019-12-09 19:34] johnmcollier opened #1441 "Upgrade kubernetes-client version in Portal and Turbine"
Portal and Turbine currently use kubernetes-client 6.11.0, which has a max supported API version of Kube 1.10.

If we move up to a newer version of `kubernetes-client`, its Kube 1.13 client comes with typings for typescript, allowing for a **much** better developing experience for Turbine (which up to this point has had no typings for `kubernetes-client`). Moving up to a higher Kube API version al

[2019-12-09 19:42] tetchel opened #1442 "Use Webview.asWebviewUri to determine resource URIs"
whenever the extension opens a webview, we see the following:

[code]

This new API was added in 08/2019 https://code.visualstudio.com/updates/v1_38

So, to resolve this warning, we have to update our engine version and therefore minimum required VS Code version to 1.38.

[2019-12-09 19:55] eharris369 commented on #1178
@j-c-berger @sishida There is a "Learn more" link in the Manage Registries dialog that needs a URL for the documentation for this feature.  Can you give us a URL even if the documentation is not complete yet so we can update the code?

[2019-12-09 19:56] maysunfaisal commented on #1414
cant seem to reproduce it on 0.7.0 latest

[2019-12-09 19:57] eharris369 commented on #280
@mattcolegate Please verify this issue.

[2019-12-09 19:58] eharris369 commented on #571
This was fixed a while ago so closing.  Please re-open if you disagree.

[2019-12-09 19:58] #571 closed

[2019-12-09 20:07] eharris369 commented on #723
This is already fixed:

![image](https://user-images.githubusercontent.com/9484320/70468703-8ca08200-1a95-11ea-9d50-a4e368fbf78a.png)

[2019-12-09 20:07] #723 closed

[2019-12-09 20:07] jagraj opened #1443 "OpenAPI: Block user not to generate code again if project already has generated OpenAPI client and server code"
**Codewind version:** 0.6.1
**OS:** Windows/Mac

**Che version:**
**IDE extension version:** 0.6.1
**IDE version:** Eclipse - 2019-09
**Kubernetes cluster:**

**Description of the enhancement:**
OpenAPI tools should flag user to cancel or overwrite generating client and server code if it is already generated for a project.

**Proposed solution:**

[2019-12-09 20:09] sishida commented on #1178
@eharris369 This is the main Docker registry file that I am aware of: https://www.eclipse.org/codewind/dockerregistry.html

If we want to use this link, we should add a new section about specifying multiple Docker registry credentials. We could also link directly to this new section.

[2019-12-09 20:10] eharris369 commented on #1410
This is a duplicate of #732

[2019-12-09 20:10] #1410 closed

[2019-12-09 20:14] eharris369 commented on #1387
We discussed this and rather than adding a message next to the Codewind element which might be confusing to users (they might think they have to create a remote connection in order to use Codewind), an icon will be added to the toolbar for creating a connection.  The icon will be enabled at all times (not dependent on the selection).

[2019-12-09 20:15] sghung commented on #1443
Adding the design label, since it may involve their help on the flow.

[2019-12-09 20:16] eharris369 commented on #1365
@jopit - Can you check if you can reproduce this?

[2019-12-09 20:20] tetchel commented on #1178
Steps 1 and 2 in the linked page are invalid now and should be replaced by the new documentation

[2019-12-09 20:21] jgwest commented on #1439
@johnmcollier Since I am verifying #1411, I will be treating it as 'cwctl project sync' is crashing, rather than 'cwctl project sync' is working as intended (which is what we can use this bug for).

[2019-12-09 20:27] sishida commented on #1178
@j-c-berger Could you handle the doc updates for https://www.eclipse.org/codewind/dockerregistry.html?

Please let me know if you'd prefer me to handle it and/or open a separate issue. Thanks!

[2019-12-09 20:42] lentheivendra commented on #1420
Confirmed fix to cwctl solves the issue.

[2019-12-09 20:42] #1420 closed

[2019-12-09 20:42] eharris369 commented on #1178
Should the examples use the same terms as in the IDEs?  Address for host (docker.io) and namespace for the <username>?

![image](https://user-images.githubusercontent.com/9484320/70471101-8cef4c00-1a9a-11ea-9492-99244652d56e.png)

[2019-12-09 20:52] #1413 closed

[2019-12-09 20:52] sghung opened #1444 "Help Champ add a custom stack more easily into Codewind"
Codewind does not accept the .yaml file used in Appsody repositories. The Appsody team had to generate the json file for us as part of their stack creation via the script: https://github.com/appsody/stacks/blob/master/ci/create_codewind_index.py

Right now, I am manually creating the .json file for Codewind support, which mostly involves some copy and pasting from the .yaml file in addition to set

[2019-12-09 21:00] eharris369 commented on #791
I can't reproduce this.  On the line that is throwing the NPE is `boolean isDocker = projectType.eq(TYPE_DOCKER);` so the only thing that could cause an NPE is if projectType is null but there is a check for projectType null further up so it would never get to that line if it was null.

[2019-12-09 21:00] eharris369 commented on #791
@mattcolegate Can you still reproduce this problem?

[2019-12-09 21:03] GeekArthur commented on #1396
Charlie from odo team said

[2019-12-09 21:04] tetchel opened #1445 "Add UI for testing the image push registry"
The user should be able to verify that their push registry works. We should add a button in the UI to test pushing to either the current push registry, or any of the added registries.

https://eclipse.github.io/codewind/#/paths/~1api~1v1~1imagepushregistry/post

[2019-12-09 21:11] jopit commented on #1435
I am seeing the same thing, my project running on OpenShift that had a route late last week no longer has a route today.  After rebuilding it, the route shows up again.

[2019-12-09 21:21] rajivnathan commented on #1414
From the pfe logs Erin posted I see

[code]
[code]

The Dockerfile-build is what adds maven to the image. It looks like the remoteBind code is removing the file before it's used. I'm guessing this is a timing issue. If the file is deleted before this line is called https://github.com/eclipse/codewind/blob/113231c2b7973976ed182066b7f0df73f45a7eb4/src/pfe/file-watcher/scripts/spring-container.sh#L48

[2019-12-09 21:24] eharris369 commented on #787
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/469

[2019-12-09 21:25] beccabau commented on #496
[code]

Unfortunately, couldn't get inline code chunks within a numbered list on Medium, so I had to use bullet points. Maybe this is something I can change once I play around with Medium more (I think I could use gist or something, but would rather get this out the door sooner, so that might be a future experiment).

Posted on medium (and tweeted) > https://medium.com/codewind/enabling-https-in-y

[2019-12-09 21:35] mii-w commented on #164
In Progress Wire Frames for tomorrow's meeting reference
<img width="908" alt="Screen Shot 2019-12-09 at 4 32 40 PM" src="https://media.github.ibm.com/user/207956/files/b2338880-1aa1-11ea-88ac-194b9bd24ffc">
<img width="718" alt="Screen Shot 2019-12-09 at 4 32 49 PM" src="https://media.github.ibm.com/user/207956/files/b3fd4c00-1aa1-11ea-9480-1b3ca85bb4c6">
<img width="729" alt="Screen Shot 2019-12

[2019-12-09 21:38] sishida commented on #1336
@rtaniwa, @deboer-tim Hi, team, On our Marketplace pages, how would you like to highlight our significant Kubernetes feature for 0.7.0 and the fact that we'll no longer be local only?

Since this is marketing sort of content, I was recommended to contact you for guidance. :) I'm guessing this doesn't need to be a big change--just enough to add in Kubernetes. Thoughts? Thank you!

[2019-12-09 21:42] eharris369 commented on #1414
I do not see a `Dockerfile-build` file in the `codewind-workspace` project folder inside the codewind-pfe container.

[2019-12-09 21:44] sishida commented on #1178
I generally lean on the side of consistency. So unless there's a reason to change up the terms, my vote is for using the same terms. :)

Also, here are some minor edits:
- "Provide registries for projects that need to pull content to build. You can designate a single registry as a push registry."
   - The desktop checker recommends "to" instead of "in order to" because it's less wordy.
   - I also

[2019-12-09 21:45] #496 closed

[2019-12-09 22:03] johnmcollier opened #1446 "[Che] Sync broken on Che, cwctl expecting access to a keychain"
**Codewind version:** 0.7.0

**Che version:** 7.3.1
**IDE extension version:** 0.7.0
**Kubernetes cluster:** OCP4

**Description:**
Project updates / sync appears to be broken on Che. The project will deploy fine the first time around, but subsequent updates are not detected. The following error is shown in the logs:
[code]

It looks like `cwctl` is trying to retrieve a non-existent password from

[2019-12-09 22:14] makandre commented on #1435
Was it a properly configured and working route?  While working on Appsody, I noticed my routes disappeared but at the time the route wasn't working properly yet (so I thought that broken routes got garbage collected).  I have not seen my routes disappear recently.

(btw is this hybrid or in Che?)

[2019-12-09 22:17] rajivnathan commented on #1414
Created a PR for the spring template to have the file there by default. This should resolve the issue for projects created via our template (Microprofile has a Dockerfile-build as part of the project so we'd just be making it consistent with Microprofile). The file wasn't needed in the template in the past because Turbine would create the file in the project folder and that was mounted so the user

[2019-12-09 22:23] johnmcollier commented on #1446
It looks like the issue is here: https://github.com/eclipse/codewind-installer/blob/0.7.0/pkg/project/sync.go#L217

[code]

When doing a file upload during sync, it's calling out to `sechttp.DispatchHTTPRequest`, which then calls out to the go-keyring service. Since this is running on Che, and no credentials to store in a keyring, I'm wondering if the fix is to just modify `DispatchHTTPRequest` to

[2019-12-09 22:52] jgwest commented on #1366
Verified, thanks!

[2019-12-09 22:52] #1366 closed

[2019-12-09 23:15] markcor11 commented on #1446
sechttp only uses the keychain when the connection ID is not equal to “local”, For “local” projects a default unauthenticated request is made.

[2019-12-10 02:09] johnmcollier commented on #1446
@markcor11 I took at look in the connections .json files
- I had one project in my workspace, but three connections .json file, is that correct? Only one matched the project ID of the project
- All of the connections .json files had `"connectionID": "local"`, so it is getting set properly.

[2019-12-10 08:40] markcor11 commented on #1446
/assign @markcor11

[2019-12-10 08:49] markcor11 commented on #1446
@johnmcollier The project ID is generated by PFE and is PFE instance specific.  A single project might have multiple files in `.codewind/config/connections` if it has been deployed on additional "remotes" but only one of them will be named the `{projectID}.json`. You found the matching one,  and that does look correct being set in CHE to "local".  This then suggests that either somewhere in the sy

[2019-12-10 10:51] #1284 closed

[2019-12-10 11:32] tobespc opened #1451 "Image Registries panelling design doesn't seem right (vscode)"
I'm using the vscode Image Registries page and the font being used looks really out of place with the rest of codewind.  The font is very large and seems to be in bold.

[2019-12-10 11:41] stalleyj opened #1452 "make cwctl project create consistent, more user friendly and reliable"
**Description:**
The CLI command to create a project is inconsistent in usage with the rest of the CLI making it difficult to use and maintain. The command and it's various parameters needs to be fixed and the documentation/tests updated to reflect the changes.
For example, the path to put the project is not passed as --path VALUE but just assumed to be the first parameter, the documentation is in

[2019-12-10 11:45] tobespc commented on #1439
I can confirm that liberty and spring projects are still not syncing.  From the logs, the upload api is not being called which implies the fwd has not worked... investigating still

[2019-12-10 11:59] tobespc commented on #576
this is done, under many other issues to closing

[2019-12-10 11:59] #576 closed

[2019-12-10 12:00] tobespc commented on #504
closing as these have been addressed in other issues

[2019-12-10 12:00] #504 closed

[2019-12-10 12:01] tobespc commented on #1068
the redirect code is now in so closing as this is now resolved

[2019-12-10 12:28] mattcolegate commented on #280
Verified.

[2019-12-10 12:28] #280 closed

[2019-12-10 12:30] mattcolegate commented on #791
No, I can't reproduce it either. Issue shall be closed.

[2019-12-10 12:30] #791 closed

[2019-12-10 12:35] mattcolegate commented on #787
Verified.

[2019-12-10 12:35] #787 closed

[2019-12-10 12:47] markcor11 commented on #1446
Unable to reproduce this.

Created a new go app, modified it, watched it rebuild, status changed to running, refreshed webpage and app change appeared.

[code]

[code]

[2019-12-10 13:15] rwalle61 commented on #977
@jopit yea. Should land tomorrow

[2019-12-10 13:28] mmulholl commented on #1179
On my latest test run with 0.7.0 5 of 8 projects created remained in the codewind list after removal.

[2019-12-10 13:30] jagraj commented on #1383
With the latest 0.7.0 images, I am able to migrate all my 0.6.1 projects into 0.7.0 release. So far I did not hit docker crash issue so far. I will open separate issues when I hit crash and port not releasing.

@yangcao77 @maysunfaisal
Please open separate issues for your problems. I am closing this issue for now.

[code]

![Screen Shot 2019-12-10 at 8 27 23 AM](https://user-images.githubuserconte

[2019-12-10 13:33] malincoln commented on #1411
@jgwest does anyone else need to verify?

[2019-12-10 13:33] malincoln commented on #1434
@jgwest does anyone else need to verify?

[2019-12-10 13:36] mmulholl commented on #1179
I have also seen some projects apparently stuck in starting state (for over 5 minutes), change state to running immediately after I hit refresh.

[2019-12-10 13:38] jagraj commented on #1179
I also see this problem when running tests manually. I have to refresh tree to change the status of the projects.

[2019-12-10 13:40] malincoln commented on #1414
@tobespc I see this is still in interative-dev backlog but will probably be moved shortly?

[2019-12-10 13:42] eharris369 commented on #1435
I could load the applications in the browser fine before.  I left the same projects running overnight and the routes are gone again.  I had rebuilt them yesterday and they were loading fine after the rebuild and now they don't load again this morning.

I rebuilt one of them and the route was restored:
![image](https://user-images.githubusercontent.com/9484320/70534328-d0909700-1b28-11ea-8e2c-92119

[2019-12-10 13:51] eharris369 commented on #1435
This is hybrid connecting to Codewind on OpenShift.  I have not seen the same problem connecting to Codewind running on a local Kubernetes (on MAC).

[2019-12-10 14:02] rajivnathan commented on #1317
Sorry for the late reply. I don't have the error but I had talked to Steven that day and he mentioned there was a fix that you had recently put in so I'm assuming that's the one. Either way, if you've tested appsody with this fix we're all good.

[2019-12-10 14:06] johnmcollier commented on #1446
@markcor11 Hmm, let me try again. I was able to reproduce on 0.7.0 and master yesterday. Unless it took a while for the image to get refreshed with new cwctl binaries? I'll test again after the playback call today.

[2019-12-10 14:18] eharris369 commented on #1387
master PR: https://github.com/eclipse/codewind-eclipse/pull/471
0.7.0 PR: https://github.com/eclipse/codewind-eclipse/pull/474

[2019-12-10 14:19] tetchel commented on #1451
can you post a screenshot, it should look exactly like the Template Sources page

[2019-12-10 14:27] johnmcollier commented on #1446
@markcor11 I can still reproduce on Che with the 0.7.0 devfile, how did you test with Che?

[2019-12-10 14:30] johnmcollier commented on #1446
[code]

[2019-12-10 14:38] eharris369 commented on #1434
I pinged Jonathan about this problem originally so I can verify.  I do not see these exceptions anymore and auto build is now working on hybrid so closing.

[2019-12-10 14:38] #1434 closed

[2019-12-10 14:47] eharris369 commented on #1418
Trying to reproduce this but I can't get Open Liberty projects to build: `The command '/bin/sh -c apt-get update     && apt-get install -y --no-install-recommends unzip     && unzip /config/LibertyProject.zip     && mv /wlp/usr/servers/sampleAppServer/* /config/     && rm -rf /config/wlp     && rm -rf /config/LibertyProject.zip' returned a non-zero code: 100`

The message mentioned above “The proj

[2019-12-10 14:47] eharris369 commented on #1418
[logs.txt](https://github.com/eclipse/codewind/files/3945420/logs.txt)

[2019-12-10 14:54] eharris369 opened #1453 "Open Liberty projects fail to build"
Open Liberty projects fail to build with the latest 0.7.0 Codewind images.  The last line in the build log is:
`The command '/bin/sh -c apt-get update     && apt-get install -y --no-install-recommends unzip     && unzip /config/LibertyProject.zip     && mv /wlp/usr/servers/sampleAppServer/* /config/     && rm -rf /config/wlp     && rm -rf /config/LibertyProject.zip' returned a non-zero code: 100`

[2019-12-10 14:56] eharris369 commented on #1418
I opened this issue for Open Liberty projects failing to build: https://github.com/eclipse/codewind/issues/1453

[2019-12-10 15:00] eharris369 commented on #1418
I can't reproduce the problem at all with microprofile projects.  I created 3 of them and double clicked on them to open the app in the browser as soon as they went in to running state and there were no issues.  Can you reproduce this manually or only with the automated test cases?

[2019-12-10 15:01] malincoln commented on #1179
@eharris369 ^^^

[2019-12-10 15:02] malincoln commented on #811
is this still on track for 0.7.0?

[2019-12-10 15:06] makandre commented on #1068
@tobespc But we are not using the latest link it seems: https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L38

Also, we still have to address the other issue: if we hardcode the repo link here, that doesn't add the corresponding `index.yaml` url to the appsody CLI

[2019-12-10 15:08] makandre commented on #1068
/reopen

[2019-12-10 15:08] markcor11 commented on #1446
just reproduced it :

[code]

[2019-12-10 15:17] markcor11 commented on #1446
[code]

Seems the hostname is missing....

[2019-12-10 15:26] tetchel opened #1454 "Add a proper version to cwctl"
cwctl had a version in 0.6.1, but is still `x.x.dev` in 0.7.

That's the same version returned in the environment in codewind-on-kube, and it's used in the kube metadata too. We need to version it 0.7.0 before we ship so that we don't have production installs that use the dev version

[2019-12-10 15:31] tetchel commented on #1451
![image](https://user-images.githubusercontent.com/8888438/70543341-3fc1b780-1b38-11ea-9324-f36d69c7308d.png)

[2019-12-10 15:32] eharris369 commented on #1179
I have investigated this and the Java socket.io code is using the same thread for all of the events.  If I put a breakpoint on the code to handle the project status changed event it stops on the breakpoint for build started event.  If I leave it on the breakpoint for a while and then run it, it stays in build started state.  It never hits the breakpoint for any other events after that on the same

[2019-12-10 15:41] tetchel opened #1455 "cwctl install remote still pulls "latest" images instead of versioned ones"
When you install codewind on kube with cwctl 0.7.0, you get the latest images. If you have the 0.7.0 cwctl, you should get the 0.7.0 images.

This may be related to / resolved by #1454

[2019-12-10 15:51] #1411 closed

[2019-12-10 15:52] markcor11 commented on #1446
The bug is here : https://github.com/eclipse/codewind-installer/blob/a1d31b08fbf4509a819f2b5d20892f2dbd9887a4/pkg/project/sync.go#L205

because the connection info for local is never pre-populated (local desktop mode PFE starts up on a random port so we dont persist it in connections.json). The code change should be to use the URL obtained from the PFEOriginFromConnection function (which is both d

[2019-12-10 16:00] sishida commented on #811
We are currently linking to the blog with the word "Blog" on the website. I am leaving this issue open if we want to replace the word with the Medium logo later, but it doesn't have to be done for 0.7.0.

[2019-12-10 16:05] ssh24 opened #1456 "Turbine kube functional test unable deploy codewind workspace"
**Description:**
The turbine kube functional test failed to deploy codewind workspace. It looks like the API that we use returns `101` instead of `201`. Further investigation is required on why it returns a different code. I have also seen the same issue on our che-setup script which mirrors the logic used on our test script to deploy a codewind workspace.

[2019-12-10 16:06] ssh24 commented on #1456
/area iterative-dev
/kind test

[2019-12-10 16:10] eharris369 commented on #1386
master PR: https://github.com/eclipse/codewind-eclipse/pull/475

[2019-12-10 16:11] eharris369 commented on #1387
This is fixed now.

[2019-12-10 16:11] #1387 closed

[2019-12-10 16:14] tobespc opened #1457 "vscode not sending authenticate token after resetting connection"
UI socket is not sending the access token when reconnecting to a remote codewind.

pfe logs show
[code]

I can recreate by removing a connection in vscode, then adding a new one to the same gatekeeper, this then occurs.  To fix I need to remove all connections and stop and start codewind

[2019-12-10 16:19] jgwest opened #1458 "On Windows, the 'file-changes` path is incorrect with project created via Eclipse (preventing auto build)"
After creating a Java project in Eclipse, and targeting a remote PFE, I noticed that auto-build wasn't working.

I checked the filewatcher log, and noticed the following error:
[code]

This is due to PFE `watchlist` endpoint returning the filewatcher a `pathToMonitor` path in an invalid format. Here is the GET request received by the filewatcher:
[code]

The `pathToMonitor` field should always use

[2019-12-10 16:25] AndyRWatson commented on #811
I think I am happy to close for now with the blog link.   There are some conversations around whether we should host our own blog on our website ( @kimholmes )  vs uses medium,  so lets close for now

[2019-12-10 16:25] #811 closed

[2019-12-10 16:44] ssh24 commented on #1456
Issue on che: https://github.com/eclipse/che/issues/15448

[2019-12-10 16:54] tobespc commented on #1454
installer changed

[2019-12-10 16:54] tobespc commented on #1455
fixed by the change to #1454

[2019-12-10 16:58] tobespc opened #1459 "sync is not working on vscode with latest filewatcher demon"
project sync appears to be broken on the latest filewatcher demon in vscode.  From my testing, I can see that the inital upload and bind works but the gatekeeper is never called when a sync should happen.  Will investigate cwctl but @jgwest could you check the filewatcher is ok please.   I can't find the filewatcher log on my machine to check that

[2019-12-10 17:04] tobespc opened #1460 "Cannot find the filewatcher log"
Trying to debug a filewatcher issue and can't the log anywhere.  Following the instructions points me here `"/Users/tobes/Library/Application Support/Code/logs/20191209T180347/exthost14/IBM.codewind"` but there is only a codewind.log

I'm running vscode-ide by running `code codewind.workspace`

[2019-12-10 17:07] james-wallis commented on #1388
PR is up for this: https://github.com/eclipse/codewind-installer/pull/283/

Also fixed in that PR is the dynamic removing of Docker containers based on their `AutoRemove` setting.

[2019-12-10 17:19] malincoln commented on #1458
@jopit @eharris369 can you review today to see if anything is needed from Eclipse?  @tobespc can review tomorrow.  Thanks

[2019-12-10 17:19] GeekArthur commented on #1396
I talk with Tomas for this issue and have possible solution, all details are here: https://github.com/openshift/odo/issues/2445

[2019-12-10 17:20] malincoln commented on #1459
@tetchel can you help investigate?  Thanks

[2019-12-10 17:29] maysunfaisal commented on #1337
/assign me

[2019-12-10 17:43] james-wallis opened #1461 "Protected Template Repository can be deleted"
**Codewind version:** Master

**Description:**
PFE has template repositories that can be protected so they do not get deleted (such as the default ones), it appears that they can be deleted.

**Steps to reproduce:**
Run the DELETE template repo API on the default template URL.

[2019-12-10 17:43] james-wallis commented on #1461
/area portal

[2019-12-10 17:43] james-wallis commented on #1461
I can pick this up tomorrow.

[2019-12-10 18:03] jgwest opened #1463 "Unstyled (Times New Roman) text in the Codewind Connection settings page on Windows"
With latest Codewind VSCode (self-hosted, in this case), on Windows, the remote connection info page seems to use non-styled (eg Times New Roman) text, which I strongly presume is not intentional. In contrast, the project info page looks fine.

See screenshot for details:

![it-was-the-best-of-times-new-roman](https://user-images.githubusercontent.com/7594762/70555632-71914900-1b4d-11ea-94ea-8e9b3

[2019-12-10 18:13] jopit opened #1464 "Image registry password prompt considers certain characters to be illegal"
I tried to set up a new image registry for docker.io.  When I pasted my password into the password prompt, it gives me an error telling me the input contains illegal characters.  It also displays the "invalid" password, which is not good from a security point of view.

[2019-12-10 18:24] malincoln commented on #1454
@tetchel pls verify and close.  Thanks

[2019-12-10 18:24] malincoln commented on #1455
@tetchel pls verify and close.  Thanks

[2019-12-10 18:27] eharris369 commented on #1458
There shouldn't be anything needed on the Eclipse side if the path format is fixed on the portal side.

[2019-12-10 18:29] johnmcollier opened #1465 "[Hybrid] Make it easier to uninstall remote Codewind with cwctl"
With https://github.com/eclipse/codewind/issues/1287, we added a command to cwctl to uninstall remote Codewind on Kube.

Currently, the command to uninstall Codewind from cwctl is:
[code]

And then to remove keycloak
[code]

The problem is that there isn't any easy way for the person uninstalling Codewind to look up the workspace ID. They have to do the following to uninstall:
1. Run `kubectl get

[2019-12-10 18:31] jopit opened #1466 "Hybrid: Bad 500 response code getting build logs"
Using Eclipse, I created a remote go project, which built and ran successfully.  I then made a change and the build failed.  I then tried to get the build logs for the project, but there was a 500 error from the REST API

[code]

[2019-12-10 18:33] johnmcollier commented on #1465
This issue could be alternately titled: `Add cwctl command to list remote installs`

[2019-12-10 18:36] sishida commented on #596
I have updated the Eclipse Marketplace page: https://marketplace.eclipse.org/content/codewind

Now that both Eclipse and VS Code pages are updated, I will close this issue.

@eharris369 If you would like me to add the screenshots for Eclipse, please feel free to send me the images when you are ready. I will then open a new issue just for adding those. 😃

[2019-12-10 18:36] #596 closed

[2019-12-10 18:38] elsony commented on #896
We don't see this problem on recent ones. Looks like it is fixed.

[2019-12-10 18:38] #896 closed

[2019-12-10 18:40] tetchel commented on #1464
Lol, ouch

[2019-12-10 18:40] eharris369 commented on #596
@sishida I can add them myself but thanks for offering!

[2019-12-10 18:40] elsony commented on #1234
Done the sidecar piece of work. Still need to do the same on the Codewind PFE turbine test.

[2019-12-10 18:41] GeekArthur commented on #1465
You can use `oc get po --selector=app=codewind-pfe -o jsonpath='{.items[*].metadata.labels.codewindWorkspace}'` to get the workspace ID, probably `cwctl` can wrap it and display it to user.

[2019-12-10 18:41] tetchel commented on #1457
i too have noticed funky "reconnect" behaviour with the socket. Do you see this message in vscode?

`Socket at ${this.uri} did not respond to authentication request within ${timeoutS} seconds. Try refreshing the connection.`

I definitely am sending the authentication event again, and from the logs you have above, it looks like it is indeed receiving that event, it's just rejecting it (`TOKEN_REJE

[2019-12-10 18:42] johnmcollier commented on #1463
Same as on Linux (though I chalked this up to being on a quite back level VS Code version)
<img width="892" alt="Screen Shot 2019-12-10 at 1 42 25 PM" src="https://user-images.githubusercontent.com/6880023/70558461-efa41e80-1b52-11ea-89c6-f6b781345763.png">

[2019-12-10 18:52] johnmcollier commented on #1465
We could wrap the call to `oc`/`kubectl`, but I'd rather we call out to client-go from `cwctl`.

[2019-12-10 18:53] jgwest commented on #1439
I can confirm the Java Filewatcher is working as expected, however the `cwctl project sync` command appears to be throwing a `404` error:
[code]

Version of cwctl is:
[code]
[code]

[2019-12-10 18:53] j-c-berger commented on #1045
@johnmcollier and/or @jagraj , do we think this issue is still for 0.7.0? ID team just did iteration planning today and thought if this issue is best to be postponed?

[2019-12-10 18:56] maysunfaisal commented on #1337
/pipeline In Progress

[2019-12-10 19:01] jopit commented on #1365
From my mac I am able to access the app using http.

[2019-12-10 19:05] yangcao77 commented on #1209
Closing this issue since not seeing this in latest master as of Dec.10th, 2019.

[2019-12-10 19:05] #1209 closed

[2019-12-10 19:17] GeekArthur commented on #1285
All auto detection is working (eg. if user project directory has .odo folder we can detect the project type as odo) now, only issue is if user removes the project there is no `.odo` folder in the project directory, in order to avoid double build and performance issue, we decide to leave as it is and use the current code with the current behavior.

[2019-12-10 19:17] #1285 closed

[2019-12-10 19:28] #1454 closed

[2019-12-10 19:28] #1455 closed

[2019-12-10 19:30] sishida commented on #1336
Link to PR for initial additions: https://github.com/eclipse/codewind-vscode/pull/338

[2019-12-10 19:30] tetchel commented on #1460
the first line of the extension's output should be like:
`Codewind Tools created logs dir /Users/tim/Library/Application Support/Code/logs/20191210T004207/exthost7/IBM.codewind`

then lower down:
`codewind-filewatcher logging to /Users/tim/Library/Application Support/Code/logs/20191210T004207/exthost7/IBM.codewind with log level INFO on platform 'darwin'`

the paths should match

[2019-12-10 19:32] GeekArthur commented on #1465
Yeah, that's better than wrapper.

[2019-12-10 19:48] eharris369 commented on #1386
This is fixed now.

[2019-12-10 19:48] #1386 closed

[2019-12-10 20:01] eharris369 opened #1467 "[Eclipse IDE] Unhelpful message if cwctl status fails (if docker not installed for example)"
If cwctl status fails (if docker is not installed for example) the IDE does not show a helpful message to the user, it just shows [Error] (Disconnected. Check that Codewind is running and then right click and select Refresh).  If cwctl can't get status, it should pop up a dialog and give the user the full error message from cwctl.  It can then show a more useful message in the view.

[2019-12-10 20:05] makandre opened #1468 "PFE, Performance, Tiller deployments remains after deleting CheCluster"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Description:**

Started a Codewind workspace in Che, then I deleted the CheCluster.  The PFE, Performance and Tiller deployments are still left running.

**Steps to reproduce:**

1. Start a Codewind workspace
2. Without stopping the workspace, go to Installed Operators sec

[2019-12-10 20:12] sishida commented on #1397
Jake's file might be the best file to link from the Image Registry Manager page: https://github.com/eclipse/codewind-docs/pull/251

[2019-12-10 20:32] tetchel opened #1469 "Only force user to set push registry if they tried to create a codewind project, or have the codewind source enabled"
Only force user to set push registry if they tried to create a codewind project, or have the codewind source enabled

[2019-12-10 20:47] johnmcollier commented on #1468
@makandre Were there Che workspace resources (pods or PVCs) leftover too? If so, unfortunately there's not much we can do here. Deleting a `CheCluster` resource does not ensure that running workspaces are stopped or cleaned up.

It's recommended that users stop the Che workspace(s) first, before deleting the CheCluster custom resource. The tiller sticking around will be fixed by https://github.com

[2019-12-10 20:49] jopit commented on #1385
Can't reproduce this on a new OCP cluster.

[2019-12-10 20:49] #1385 closed

[2019-12-10 21:09] makandre commented on #1468
Yes, Che workspace resources do get left behind too; I was just hoping we could do something to stop PFE and Perf but if that's a limitation with the way Che behaves then that's fine

[2019-12-10 21:18] jgwest commented on #1460
I think what Toby may be seeing is multiple instance of Filewatcher's file logger stepping on each other's toes, due to us now having multiple connections open in VS Code (not sure why other people would not have hit it, but it would be a race condition when it did occur...).

The TS Filewatcher is designed to delete any old filewatcher log files on IDE startup, but what they are actually doing is

[2019-12-10 21:18] mii-w commented on #164
Design changes/feedback from the meeting:
- removing default/custom toggle
     - erasing field would automatically turn field back to default, empty field = default values
- checkboxes are kind of odd
- need ID team on wording for header "Getting Started" (ex. Profile Configuration, Create New Test, etc.)
- passing wireframes to Carrie for Hi-fis
- there will be preset Test Profiles with values/f

[2019-12-10 21:23] markcor11 commented on #1465
The gatekeeper environment API shows the workspace ID. However I like the idea of being able to scan the cluster (or scope it to a namespace) and have cwctl report what it finds.

[2019-12-10 21:23] j-c-berger commented on #1178
@jopit, as always, thank you for the detailed and spot-on feedback! Looking forward to progressing with this issue.

@tetchel,  question regarding your comment on steps 1 and 2 for the `dockerregistry` doc: https://www.eclipse.org/codewind/dockerregistry.html

Do we want to replace steps 1 and 2 with the content that I'm developing now? Basically, this issue will focus on `dockerregistry` and upda

[2019-12-10 21:32] johnmcollier commented on #1439
Filewatching (and thus sync and rebuild) are working for me now on the latest 0.7.0 drivers.

@jgwest @maysunfaisal any luck on your ends?

[2019-12-10 21:34] jopit commented on #1464
Reopening because this isn't in the 0.7.0 branch yet

[2019-12-10 22:06] tetchel commented on #1457
I definitely saw an issue at least similar to this this morning, but I can't reproduce it now that I'm testing against Codewind 0.7.0. It may also have been resolved by https://github.com/eclipse/codewind-vscode/commit/bc1b1324737d628e419e7f89ee5f82b983700651

Can you try it again in the morning?

[2019-12-10 22:14] johnmcollier opened #1471 "[Hybrid] Reloading IDE workspace triggers full rebuild for all projects"
**Codewind version:** 0.7.0
**OS:** Mac OS

**IDE extension version:** 0.7.0
**Kubernetes cluster:** OCP4

**Description:**
When I have multiple projects in a workspace and I right click on a project and select `Add Project to Workspace`, it adds the project to the workspace but also triggers a full rebuild of all of the projects.

Could be the same root issue as https://github.com/eclipse/codewin

[2019-12-10 22:16] tetchel commented on #1471
so does this mean restarting vs code also triggers a rebuild of all projects?

[2019-12-10 22:28] jgwest commented on #1460
I've confirmed that the Java and Go filewatchers don't have this issue.

[2019-12-10 22:35] johnmcollier commented on #1468
Yeah, from a Codewind side, not sure what we can do, since we're tied to the workspace resources. But I'll at least see if Che has an issue or feature open to address this, and if not, open one on their side.

[2019-12-10 22:40] johnmcollier commented on #1471
Here's what I've been able to determine:
- Happens on both VS Code and Eclipse
- Simply reloading the IDE triggers this error as well
- It's the same issue as described in https://github.com/eclipse/codewind/issues/1293 and a proper fix for it will require changes in `cwctl` (as discussed on last week's tech topic)

[2019-12-10 22:42] jopit opened #1472 "Hybrid: connection lost after editing appsody project"
I created a remote appsody node project.  I then changed the 'app.js' file and saved it.  While it was building, the connection to the IDE was lost.  I saw this with both VSCode and Eclipse, and can reproduce it fairly reliably.  Refreshing the connection will often re-establish the connection.

Here is the pfe log
[pfe.txt](https://github.com/eclipse/codewind/files/3947472/pfe.txt)

Here's the re

[2019-12-10 22:42] jopit commented on #1472
I don't see the same problem with a codewind-style node project.

[2019-12-10 22:46] tetchel commented on #1472
I wonder if it may be because the code is blocked on some IO which is causing the repeated error in the logs;

`[33m[10/12/19 22:04:26 sharedFunctions.js] [WARN][39m spawn /bin/sh EAGAIN`

[2019-12-10 22:46] jgwest commented on #1460
As a workaround until this is available in VSCode, you can test on Codewind Eclipse, or ensure that only one Codewind connection exists in the Codewind view.

[2019-12-11 09:44] stalleyj opened #1475 "cwctl project create can fail if the path parameter is not an empty directory"
**Codewind version:**
0.7.0.
**OS:**
Mac

**Description:**
cwctl project create will fail in a fairly spectacular fashion if the path value passed is not an empty directory. The process is eventually killed by the os because under the covers we are walking the entire directory, attempting to replace the PROJ_NAME_PLACEHOLDER.

**Steps to reproduce:**
 ./cwctl project create /Users/stalleyj --url h

[2019-12-11 09:45] stalleyj commented on #1452
This issue could be fixed as part of this https://github.com/eclipse/codewind/issues/1475

[2019-12-11 09:47] james-wallis commented on #1351
PR Opened for 0.7.0 branch https://github.com/eclipse/codewind/pull/1474

[2019-12-11 10:38] rwalle61 commented on #977
Change of plan because it turns out that:
1. PFE, when running locally, doesn't seem to know its origin (e.g. `http://localhost:10000`), but the IDE does. This is needed because the appMonitorUrl can point to the dashboard hosted at PFE.
2. PFE sends the IDE project data via both `GET projects` and the `onProjectStatusChange` socket message. This makes it more complicated for PFE to keep the `proj

[2019-12-11 12:47] james-wallis opened #1476 "Add labels to the Docker Project containers started by PFE/Turbine"
*This may have been raised before but I couldn't find anything*

**Description of the enhancement:**

Currently in local Docker our project containers start with a `cw-` prefix before their container name (`cw-projectname-123-123-123`).
The CLI (and potentially other parts) use this to perform queries on the container, for example the `cwctl stop-all` command which stops and removes all the projec

[2019-12-11 13:21] eharris369 commented on #1453
I can build open liberty projects with the latest version of Codewind so closing.

[2019-12-11 13:21] #1453 closed

[2019-12-11 14:04] sujeilyfonseca opened #1477 "[odo] SVT: [Che] ODO projects bounded to cluster volumes after being removed and after deleting the workspace"
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** I removed my projects and deleted my workspace in Codewind for Eclipse Che (0.7.0), and I still see the ODO projects bounded to my cluster volumes:

[2019-12-11 14:05] jcockbain commented on #793
/assign jcockbain

[2019-12-11 14:09] tobespc commented on #1471
think this also affect #1073

[2019-12-11 14:14] malincoln commented on #1459
@tobespc says this is working fine now.

[2019-12-11 14:14] #1459 closed

[2019-12-11 14:15] tobespc commented on #1414
I've merged the pr to the samples template, this should now be ok

[2019-12-11 14:17] sujeilyfonseca commented on #1477
/priority stopship

[2019-12-11 14:18] tobespc commented on #1439
I've retested and everything is working ok

[2019-12-11 14:30] sujeilyfonseca opened #1478 "SVT: Codewind no longer starts or stops after migration because Appsody projects' pods didn't stop"
**Codewind version:** 0.7.0
**OS:** VM with Windows 10

**IDE extension version:** 0.7.0
**IDE version:** 1.40.2

**Description:** In my VM, I started with Codewind 0.5.0. After successfully migrating to Codewind 0.6.1, I decided to migrate to Codewind 0.7.0. The migration seemed to work, but then I stopped Codewind 0.7.0. After that, I can no longer start or stop Codewind due to the following err

[2019-12-11 14:33] jagraj commented on #1478
/priority stopship

[2019-12-11 14:34] jagraj commented on #1478
/area portal

[2019-12-11 14:39] makandre commented on #1478
@sujeilyfonseca Do you happen to know which version/build of `cwctl.exe` you have?

[2019-12-11 14:42] eharris369 opened #1479 "[Eclipse IDE] Accessibility issue with radio button in registry management table"
Radio buttons in a table are not accessible.  The reader reads it as "blank" even if the radio button has a label and there is no way to change the setting.

[2019-12-11 14:45] sujeilyfonseca commented on #1478
[code]

[2019-12-11 14:57] makandre commented on #1478
@james-wallis Could this be related to your fix to `stop-all` recently?

[2019-12-11 15:02] markcor11 commented on #1466
1. Built Eclipse plugin from 0.7.0 branch
2. Built Codewind PFE from 0.7.0 branch and deployed a new remote
3. Lauched Eclipse from Run-Configuration
4. Created a Connection to Codewind Remote
5. Created a Go APP
6. Launched it
7. Updated it
8. Watched it build by viewing the docker.build.log file
9. Saw the logs stream :

![Screenshot 2019-12-11 at 14 57 44](https://user-images.githubusercontent.

[2019-12-11 15:04] jgwest commented on #1388
(Guessing this should be verify rather than closed, feel free to close again if I'm incorrect)

[2019-12-11 15:12] james-wallis commented on #1351
@GeekArthur PR has been merged into 0.7.0 branch, can you verify and close please.

[2019-12-11 15:13] malincoln commented on #1446
@johnmcollier pls verify and close.  Thanks

[2019-12-11 15:14] malincoln commented on #1414
@mmulholl pls verify and close.  Thanks

[2019-12-11 15:15] malincoln commented on #1439
@maysunfaisal pls verify and close.  Thanks

[2019-12-11 15:15] james-wallis commented on #1478
Looks like its related to `stop-all` not working, fix went into `cwctl` master yesterday - https://github.com/eclipse/codewind-installer/pull/283.

[2019-12-11 15:21] GeekArthur commented on #1477
@sujeilyfonseca Can you also upload your PFE log here?

[2019-12-11 15:24] james-wallis commented on #1478
PR opened https://github.com/eclipse/codewind-installer/pull/286

[2019-12-11 15:24] james-wallis commented on #1478
/assign

[2019-12-11 15:29] kimholmes commented on #164
**Thanks @mii-w Other thoughts/notes:**
- Michelle will remove the link to add to Description - Description will be surfaced in the form as optional.

- For the left list of tests, do we want to include a "collapse all" and "expand all?"

- Toby has pointed out that the profiles form and the dropdown will be pre-populated with existing endpoints and the user might not even be aware of them. How wi

[2019-12-11 15:34] johnmcollier commented on #1446
Verifying, fixed.

Thanks @markcor11!

[2019-12-11 15:34] #1446 closed

[2019-12-11 15:36] tobespc commented on #1471
adding a lastSyncTime field to the project data returned for each project

[2019-12-11 15:38] tetchel commented on #1464
Fixed in both branches now https://github.com/eclipse/codewind-vscode/pull/345

[2019-12-11 15:38] #1464 closed

[2019-12-11 15:40] tetchel commented on #1463
/pipeline verify

[2019-12-11 15:45] tetchel commented on #1466
Even if we can't reproduce, we should see why PFE sent an empty error message

[2019-12-11 15:51] james-wallis commented on #1478
PR accepted into 0.7.0 branch @sujeilyfonseca can you please verify and close please.

[2019-12-11 15:54] james-wallis commented on #1290
My checkbox is done.

[2019-12-11 16:01] makandre opened #1480 "Can no longer use run.sh to start Codewind"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

After https://github.com/eclipse/codewind-installer/pull/147 was merged, developers can no longer use the `run.sh` script to build and start Codewind for development and debugging.  They'll get this error:

[code]

The reason is the images built are `codewind-*`, b

[2019-12-11 16:04] makandre commented on #1480
/portal

FYI @jcockbain

[2019-12-11 16:07] sghung opened #1482 "Improve Champ's ability to create an Appsody stack"
Many of the existing Codewind functionality focuses on Jane, yet Champ has an integral part as an Appsody stack architect and should have an excellent user experience too.

Some thoughts:
- Improve the Codewind index JSON file generation: https://github.com/eclipse/codewind/issues/1444
- Possibly need an additional vscode/eclipse extension to deal with build and deploy

[2019-12-11 16:13] jcockbain commented on #1480
/assign @jcockbain

[2019-12-11 16:15] ssh24 commented on #1478
@james-wallis I am actually seeing `cwctl stop-all` not working on Windows with latest master https://github.com/eclipse/codewind-installer/issues/287

[2019-12-11 16:27] tobespc commented on #1480
so `cwctl install` followed by `cwctl start` works ok

[2019-12-11 16:28] tobespc commented on #1480
run.sh has never done the install, it builds and runs the code locally

[2019-12-11 16:33] sujeilyfonseca opened #1483 "SVT: Design for Image Registries' management needs some improvements"
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Design for Image Registries' management needs some improvements:
1. If the namespace is incorrectly selected, projects will not start, and no message

[2019-12-11 16:35] makandre commented on #1480
If we run `cwctl` install`, I'm guessing that would just pull down images from docker rather than use the images I just built

[2019-12-11 16:36] sujeilyfonseca commented on #1477
I don't have PFE logs since the workspace was also deleted.

[2019-12-11 16:44] tetchel commented on #1483
3 is by design, a restriction from how container registries work.

I will split 1 and 2 into separate issues.

[2019-12-11 16:45] tetchel opened #1484 "No error if specific invalid image registry namespace is used"
From #1483

The app fails to start, but no error message is shown in the UI or in the project's logs.

Likely there is an error in the PFE logs.

![image](https://user-images.githubusercontent.com/8888438/70641555-d01cfc80-1c0b-11ea-83dc-7304d682dafe.png)

@sujeilyfonseca

[2019-12-11 16:46] maysunfaisal commented on #1337
/pipeline Verify

[2019-12-11 16:46] tetchel commented on #1483
can we see the pfe logs?

[2019-12-11 16:47] maysunfaisal commented on #1300
/pipeline Verify

[2019-12-11 16:47] tetchel commented on #1483
For 2, have you applied the most recent clusterrole yaml? We had to add the permission to delete secrets.

https://github.com/eclipse/codewind-che-plugin/blob/master/setup/install_che/codewind-clusterrole.yaml

[2019-12-11 16:48] johnmcollier commented on #1483
To elaborate on why 3. is by design: The docker API doesn't support specifying more than one set of credentials for a registry server.

[2019-12-11 17:00] jcockbain commented on #1480
I've made https://github.com/eclipse/codewind-installer/pull/288 to revert, as it's the end of the day here and I don't want this to hold up dev for others. All committers have left over here so will need someone else to merge if we need it fixed.

[2019-12-11 17:04] makandre commented on #1388
Verified this on 0.7.0 and master.  Thanks for the fix.

[2019-12-11 17:04] #1388 closed

[2019-12-11 17:06] maysunfaisal commented on #1412
/pipeline Verify

[2019-12-11 17:06] maysunfaisal commented on #1412
@tetchel changes have been merged

[2019-12-11 17:07] tetchel commented on #1412
neato

[2019-12-11 17:08] jcockbain commented on #1480
I'll be working on a solution for #462 tomorrow that works for images both pulled from dockerhub, and built with run.sh.

[2019-12-11 17:18] maysunfaisal commented on #1484
namespace: `docker.io/maysunfaisal`
[code]

namespace: `sdfdd`(rubbish)
[code]

[2019-12-11 17:33] maysunfaisal commented on #1484
[code]

![Screen Shot 2019-12-11 at 12 30 24 PM](https://user-images.githubusercontent.com/31771087/70644978-0cebf200-1c12-11ea-8272-5826e56c6e8e.png)

Think with https://github.com/eclipse/codewind/issues/1391 in, the user will know that the App has failed to start on helm install. But right now, it is just empty.

[2019-12-11 17:35] maysunfaisal commented on #1484
@johnmcollier @rajivnathan any thoughts on how we handle the First Case above?

[2019-12-11 17:58] kimholmes commented on #811
New design:
![CW_headerNav2](https://user-images.githubusercontent.com/21316329/70646285-913f7480-1c14-11ea-992d-828da89f6a18.png)

[SocialLogos12_11_19.zip](https://github.com/eclipse/codewind/files/3951861/SocialLogos12_11_19.zip)

[2019-12-11 18:31] travis1111 commented on #811
Thanks I will work on it

[2019-12-11 18:40] sishida commented on #811
@kimholmes @travis1111 Please see Andy's comment above. We are not sure if we want to continue using Medium for blogs or not. It might be safest to hold off from adding the logo for now and wait until we get confirmation for how we want to move forward. Thanks!

[2019-12-11 18:42] sujeilyfonseca commented on #1478
I still see the problem with Codewind 0.7.0:

![Screen Shot 2019-12-11 at 1 41 04 PM](https://user-images.githubusercontent.com/49531960/70649843-f21e7b00-1c1b-11ea-9cab-cc75ab73b4b4.png)

[2019-12-11 18:46] johnmcollier commented on #1484
We should make sure we're catching the `ErrImagePull` error in the project's pod and display the appropriate detailed error message to the user

[2019-12-11 18:47] jopit opened #1485 "Hybrid: new connection immediately goes into authentication error"
Installed remote codewind into a new OpenShift cluster.  Used VSCode to create a remote connection.  The connection immediately showed 'authentication error'  in the tree.

Simply invoking refresh on the connection fixed the error.

Here's the vscode logs (not including the refresh)
[code]

[2019-12-11 18:49] johnmcollier commented on #1476
@james-wallis We're doing something similar with projects deployed on Kube. We're adding the `projectID=<projectID>` label to all of the Kube resources that are created.

IMO, we should keep things consistent. I'm fine with either `projectID=<projectID>` or `CodewindProject=<projectID>` as the label

[2019-12-11 18:52] rajivnathan commented on #1484
Is the problem that in the first case, it is trying to push to `docker.io/docker.io/maysunfaisal` but there are no errors? So the push was successful but we expected it to fail?

[2019-12-11 18:57] maysunfaisal commented on #1484
@rajivnathan yes but buildah push doesn't see it as an error. Only when we are pulling the image during helm install, does it fail.

And like @johnmcollier said I think we need to show why helm install failed in the UI and that should be covered by  #1391  if that is all we want to do in this case

[2019-12-11 18:58] rajivnathan commented on #1484
But would it be clear to the user what's wrong? IMO, if buildah can push but can't pull then we should prevent pushing to that server/namespace combination in the first place if we can safely determine the cases where it would happen.

[2019-12-11 19:02] sujeilyfonseca commented on #1483
Thanks, @tetchel!

[codewind-workspaced1t3j4r0747qrmr5-6948db558-8s9kr.txt](https://github.com/eclipse/codewind/files/3952092/codewind-workspaced1t3j4r0747qrmr5-6948db558-8s9kr.txt)

For #2, the problem was related to the `codewind-clusterrole.yaml`.

[2019-12-11 19:05] GeekArthur commented on #1351
Verified 0.7.0, it works, thanks @james-wallis, close the issue.

[2019-12-11 19:05] #1351 closed

[2019-12-11 19:06] tetchel commented on #1483
kk, so since 2 and 3 are resolved, and 1 is #1484 we can close this one I think

[2019-12-11 19:28] tetchel opened #1486 "PFE does not update pushregistry if pushregistry namespace is the empty string"
Pushregistry namespace needs to be allowed to be `""` because not all registry providers use namespaces

POST /imagepushregistry
`{ operation: "set", address: "docker.io", namespace: "" }`
--> appears to succeed
GET /imagepushregistry
`{ imagePushRegistry: false }`

There is a condition in PFE which basically checks `if (namespace)` which fails if the namespace is the empty string, it needs to be

[2019-12-11 19:29] jagraj commented on #1486
SVT also into similar issue.

[2019-12-11 19:30] johnmcollier commented on #1484
@rajivnathan I don't think it's a case of a buildah can push but can't pull, but rather a case of buildah considers the credentials to be valid, whereas Kube doesn't, e.g.:
- `buildah pull docker.io/docker.io/hello-world:latest` works
- `ErrImagePull` for a pod that tries to pull `docker.io/docker.io/hello-world:latest`

[2019-12-11 19:33] james-wallis commented on #1478
@sujeilyfonseca can you please check that you have the rebuilt version of the CLI?
The current CLI is:
[code]
However, I've just pulled down the latest CLI and am getting the following logs:
[code]

As far as I can tell the `stop-all` command is working fine just a new container is starting in between the collection of the containers and the removal of them which is a new bug in itself.

If I reru

[2019-12-11 19:35] eharris369 opened #1487 "NPE in Eclipse file watcher for removed resource"
After I remove a project from Codewind checking the box to delete the project contents I see the following in the console log.  It looks like it is trying to get the location for a deleted resource.

java.lang.NullPointerException
	at org.eclipse.codewind.filewatchers.eclipse.CodewindResourceChangeListener$CodewindResourceDeltaVisitor.visit(CodewindResourceChangeListener.java:124)
	at org.eclipse.

[2019-12-11 19:41] jgwest commented on #1487
Thanks Erin... a regression, likely due to https://github.com/eclipse/codewind-eclipse/pull/436 , PRs incoming...

[2019-12-11 19:53] maysunfaisal commented on #1486
/assign

[2019-12-11 19:56] johnmcollier commented on #566
@maysunfaisal Can this be closed? I don't think we've had any issues with buildah since you switched the RPM url.

[2019-12-11 20:02] maysunfaisal commented on #566
/close

[2019-12-11 20:03] #566 closed

[2019-12-11 20:08] jagraj opened #1488 "SVT:[0.7.0]:Need doc updates for che install."
**Codewind version:** 0.7.0
**OS:**

**Che version:** 0.7.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
OKD

**Description:**

**Cluster roles**
We need update to doc to apply new cluster roles and also get all config files from 0.7.0 release branch.

https://www.eclipse.org/codewind/mdt-che-installinfo.html#prerequisites
https://www.eclipse.org/codewind/mdt-che-installinfo

[2019-12-11 20:09] jagraj commented on #1488
/area docs
/priority hot

[2019-12-11 20:10] tetchel commented on #1488
should be covered by https://github.com/eclipse/codewind/issues/1178

[2019-12-11 20:22] jagraj commented on #1486
/priority stopship

[2019-12-11 20:27] maysunfaisal commented on #1484
/assign

[2019-12-11 20:51] jopit commented on #1472
Making this stopship because it looks really bad

[2019-12-11 21:00] johnmcollier commented on #1488
For the items not covered by #1178, I've opened https://github.com/eclipse/codewind-docs/pull/259 to fix

[2019-12-11 21:03] jopit commented on #1472
I've reproduced this on two different OpenShift clusters, one of them freshly created, so it's not a system-specific problem.

[2019-12-11 21:13] sishida commented on #1045
Jag, John, and ID agreed to not include this issue in 0.7.0. Release to be determined.

[2019-12-11 21:29] jopit opened #1489 "Hybrid: delay in status changes on rebuild of remote node project is confusing"
Using vscode, I created a codewind-style node project on a remote connection.  Made a change the code and saved.  After the build was done, there were several seconds where the status was `[Running] [Build Succeeded]` before it went to `[Starting] [Build Succeeded]`, long enough that I tried to open the application to see my change, which of course didn't work.

Here's the relevant part of the vsc

[2019-12-11 21:37] eharris369 commented on #1479
master PR: https://github.com/eclipse/codewind-eclipse/pull/481
0.7.0 PR: https://github.com/eclipse/codewind-eclipse/pull/482

[2019-12-11 21:37] #1479 closed

[2019-12-11 21:51] tetchel commented on #1485
https://github.com/eclipse/codewind-vscode/commit/09d988256b1339fe02bbf1feb6a08b3d009b2ffd

[2019-12-11 21:51] tetchel commented on #1485
/pipeline verify

[2019-12-11 21:52] tetchel commented on #1251
curious where you'd want this

[2019-12-11 21:57] tetchel opened #1490 "Use toggles instead of radiobuttons to show pushregistry"
One or zero can be selected at a time, plus the radiobuttons look bad in theia

[2019-12-11 22:09] jopit commented on #1485
Verified

[2019-12-11 22:09] #1485 closed

[2019-12-11 22:24] tetchel opened #1491 "Initial 'templates repos get' is very slow on kube"
[code]

You can see the initial templates sources GET took 22 seconds!

[2019-12-11 22:33] GeekArthur commented on #1477
Okay, I figure this out, there are two different issues described under this issue:
1 Dangling odo project PVC after project deletion
2 Dangling odo project PVC after workspace deletion

I can reproduce the first issue but can't reproduce the second issue, the second issue should be resolved since we already added owner reference (owner is workspace) to odo project PVC when we create odo project,

[2019-12-11 22:53] tetchel commented on #1491
Applies to che too

[2019-12-11 22:54] maysunfaisal commented on #1486
Dont think its a stopship since its a special case but i have a PR up for it

[2019-12-11 23:09] maysunfaisal commented on #1486
/pipeline In Progress

[2019-12-11 23:09] maysunfaisal commented on #1484
/pipeline In Progress

[2019-12-11 23:33] johnmcollier commented on #1489
@jopit Do you have the Codewind PFE logs from when this happens?

My guess is that the delay is due to the time it takes to push the (surprisingly large, almost 1GB) node image up to the registry.

We should probably improve our app and build statuses here though and add the following statuses:
- Pushing container image
- Container image successfully pushed.

[2019-12-12 03:53] jgwest commented on #1487
/pipeline Verify

[2019-12-12 04:01] jgwest opened #1493 "[Filewatcherd] If a project is deleted in Eclipse (either entirely, or just from the workspace), inform cwctl via project sync"
The current Java Filewatcher behaviour is to filter out file change events in `CodewindResourceChangeListener` related to the deletion of an entire project; this occurs both if the project is deleted from the FS or only just removed from the workspace. This isn't necessarily by design, but instead is just a happenstance of the way the CRCL is written, and so I've marked it as a bug despite not bei

[2019-12-12 07:46] micgibso commented on #560
@tobespc @tetchel Ingress/route instructions provided on https://github.com/eclipse/codewind/issues/579, see https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-configuring.md.  Can this be closed as complete?

[2019-12-12 07:51] micgibso commented on #560
Discussed with Mark, closing as complete.

[2019-12-12 07:51] #560 closed

[2019-12-12 08:40] tobespc commented on #1491
The initial pull is always slow, but is that a bug, a lot of git queries are happening at that point?  I think we should use this to investigate the reasons why it's slow.   It does seem a lot of the time that local infrastructure has a huge impact on this first pull.  Lots of things are slow on the first startup of codewind ;-)

Moving this to investigate task

[2019-12-12 08:44] markcor11 commented on #1466
/assign @markcor11

[2019-12-12 09:29] james-wallis commented on #1476
Think `CodewindProject` would be best as it explicitly says that its "ours". Can always have more than one label so both `projectID=<projectID>` and `CodewindProject` so we have consistency with Kube?

[2019-12-12 09:33] tobespc commented on #1478
moving to verify as confirmed locally its ok

[2019-12-12 09:35] james-wallis commented on #1458
/assign

[2019-12-12 10:28] tobespc opened #1497 "Uninstalling codewind from vscode does not remove extension from disk"
I've just uninstalled codewind from vscode and found that there is still an entry for it under

`cd ~/.vscode/extensions/ibm.codewind-0.7.0`

Should this be cleared as well when uninstalling codewind ?

[2019-12-12 10:30] james-wallis commented on #1476
I've just noticed that `docker build` has a `--label` tag (no `--label-file` tag).

I'd now propose that we have :
`docker build --label BuiltBy=Codewind --label projectID=<projectID>`
and
`docker run --label RunBy=Codewind  --label projectID=<projectID>` (Can still use `--label-file` for this part)

Meaning we can track that an image is created by us and separately a container is created by us.

[2019-12-12 10:32] jcockbain commented on #793
@james-wallis I can't recreate this now creating a project from a node template, can you see if it's still an issue for you?

[2019-12-12 10:33] jcockbain commented on #1480
PR is merged and I can use run.sh now, @makandre can you verify and close if fixed?

[2019-12-12 10:37] jcockbain commented on #462
/open

[2019-12-12 11:05] micgibso commented on #579
Closing as complete

[2019-12-12 11:05] #579 closed

[2019-12-12 11:37] rwalle61 commented on #977
done - manually tested on master and 0.7.0 branch

[2019-12-12 11:37] #977 closed

[2019-12-12 11:53] james-wallis commented on #1458
Debugging this on a mac so I'm working on assumptions but I believe that
[code]
Won't be "windows" in a host environment so the path is not being converted. I've seen that a `isWindowsAbsolutePath` has been added to `sharedFunctions.js` so I'm going to use instead of checking for windows. This will ensure that filewatcher always gets a linux type path.

[project.pathToMonitor](https://github.com/e

[2019-12-12 12:16] markcor11 commented on #1466
Please could you provide the corresponding PFE logs from the time this problem occurs.

[2019-12-12 13:14] micgibso commented on #489
Documented as part of https://github.com/eclipse/codewind/issues/579

[2019-12-12 13:25] tobespc commented on #1471
the watchlist api now returns a lastSyncTime value which should be used by the FWD to call cwctl rather than a value of `-t 0`  @jgwest

[2019-12-12 13:34] makandre commented on #462
/reopen

[2019-12-12 13:34] makandre commented on #1480
Yes, can verify working once again after the revert was merged

[2019-12-12 13:34] #1480 closed

[2019-12-12 13:50] malincoln commented on #1472
@sghung @makandre pls review.  Thanks

[2019-12-12 13:54] malincoln commented on #1478
@sujeilyfonseca pls verify and close.  Thanks

[2019-12-12 14:03] markcor11 commented on #1466
The error 500 is a catch all error for an unexpected condition.  The main phases of this route are

1. retrieving the project details,
2. fetching the project log types,
3. streaming the requested logs over the uiSocket.

There are places I can add increased debug and improve some of the error handling although I'd still like to know if this is happening on more than one of your remote deployments

[2019-12-12 14:03] sujeilyfonseca commented on #1483
Thanks for the explanation, @johnmcollier!

I will proceed to close this GitHub issue since No. 1 is being tracked with https://github.com/eclipse/codewind/issues/1484.

[2019-12-12 14:03] #1483 closed

[2019-12-12 14:07] tetchel commented on #1491
it looks like a bug to a user, maybe it could be done as soon as the server starts instead of the first time we GET /templates/repositories

[2019-12-12 14:13] tetchel commented on #1466
I meant is that instead of `res.sendStatus(500)` in the catch block, we should `res.status(500).send(err.message);` so we can see the actual error on the client side, but i agree pfe logs are needed.

[2019-12-12 14:13] malincoln commented on #1466
Per discussion, downgrading to "hot" and continue investigation.  Gather logs when it reoccurs.

[2019-12-12 14:14] tetchel commented on #1497
I can't control that :(

[2019-12-12 14:22] eharris369 commented on #1487
Verified that the exception no longer occurs.

[2019-12-12 14:22] #1487 closed

[2019-12-12 14:24] tetchel commented on #1497
I tried it with another extension and it seems this is just vscode's behaviour 🤷‍♂

[2019-12-12 14:24] #1497 closed

[2019-12-12 14:26] eharris369 opened #1498 "[Eclipse IDE] Filewatcher unable to connect to remote PFE via WebSockets, when using IBM JVM"
An exception keeps showing up in the log file for the Eclipse file watcher when connected to a remote instance of Codewind running on OpenShift:
[code]

[2019-12-12 14:35] makandre commented on #1472
I tried a few times and reproduced it once... doesn't always happen it would seem.

It may have something to do with the app log being open; I somehow got into a state where the log view says the log is disconnected and I can't close the log.  Once it got to that state the disconnect happens on the edits.  Otherwise I was able to do multiple edits and the connection didn't get cut

[2019-12-12 14:40] eharris369 commented on #1498
[filewatcherd-1.log](https://github.com/eclipse/codewind/files/3956227/filewatcherd-1.log)

[2019-12-12 14:50] jcockbain commented on #462
The changes @liam is making at https://github.com/eclipse/codewind-installer/compare/master...liamchampton:1148-no-image modifies this.

Docker compose will now pull the images (defaulting to latest with no tag), if the image isn't already there. The output, when I have no 0.7.0 tagged image, is as follows:

[code]

[2019-12-12 14:51] makandre commented on #1472
... happened again on a new project, this time didn't have the log open :(

[2019-12-12 14:52] deboer-tim commented on #1148
Discussed on tech topics:
 - If you start with compose you need to use compose to cleanup as well, we'll switch to doing this.
 - Discussion for later: do we need to store the file to disk? per version? or better to generate on the fly?
 - We will switch to always using the eclipse/codewind- namespace for images, which will remove the 'duplicate' containers. Shouldn't be an issue for users, but ne

[2019-12-12 14:57] liam commented on #462
I'm not making any changes

On Thu, 12 Dec 2019, 14:50 James Cockbain, <notifications@github.com> wrote:

[2019-12-12 15:09] james-wallis commented on #1458
PR opened https://github.com/eclipse/codewind/pull/1500. Need someone with a windows machine to test it.

[2019-12-12 15:10] makandre commented on #1472
I also see a lot of defunct processes in PFE..

[code]

Taken together with the `EAGAIN` error, it seems to suggest something is starting up a lot of (`rm`?) processes and maybe reaching the max limit of process you could have (googling `EAGAIN` suggest this may indicate too many processes)

There's a `rm` call in https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/utils/sharedF

[2019-12-12 15:11] sujeilyfonseca commented on #1478
I have verified this problem on Windows and Mac with the following CLI version:

[code]

I can not see the problem, if all projects are "Running" when I click on "Stop Local Codewind". However, if there is at least one container in "Starting" state, Codewind fails to stop. As you can see below:
I can't see the problem, if all the projects are "Running" when I click on "Stop Local Codewind". Howeve

[2019-12-12 15:20] stalleyj opened #1501 "Simplify all references to images to all be eclipse/codewind-xxxx"
**Description of the enhancement:**
Update all scripts and build process to only refer to images in their full name of eclipse/codewind-xxx
rather than a short name of only codewind-xxx

**Proposed solution:**
Update various scripts and files to use full name only.

[2019-12-12 15:21] sujeilyfonseca opened #1502 "SVT: Codewind doesn't stop if a new container is starting between the collection of the containers and their remotion"
**Codewind version:** 0.7.0
**OS:** VM with Windows 10, Mac OS Mojave 10.14.6

**IDE extension version:** 0.7.0
**IDE version:** Code 1.40.2

**CLI version:**
[code]

**Description:** Codewind doesn't stop if a new container is starting between the collection of the containers and their remotion.

**(1) Mac:**

<img width="1577" alt="Screen Shot 2019-12-12 at 9 58 56 AM" src="https://user-images.g

[2019-12-12 15:21] #1478 closed

[2019-12-12 15:25] eharris369 opened #1503 "Icons for Eclipse IDE context menus"
Most of the context menu items for the Eclipse IDE do not have icons or are overusing the Codewind icon.  Icons for Eclipse need to be visible in dark mode and light mode (Eclipse does not support separate icons for each mode).

Context menu for local connection:

![image](https://user-images.githubusercontent.com/9484320/70724584-da510080-1cc8-11ea-9136-595ffc1a80aa.png)

Context menu for remote

[2019-12-12 15:26] makandre commented on #1472
[here](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L229) and [here](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L242) are places where we are potentially calling `rm` on a lot of files

[2019-12-12 15:30] eharris369 commented on #1503
Tagging @kimholmes to notify the design team.

[2019-12-12 15:39] jopit commented on #1489
Here's the relevant part of the PFE log

[pfe-node-build.txt](https://github.com/eclipse/codewind/files/3956532/pfe-node-build.txt)

Here's the full log (it's quite long)

[pfe.txt](https://github.com/eclipse/codewind/files/3956541/pfe.txt)

[2019-12-12 15:47] sujeilyfonseca commented on #1502
/priority stopship

[2019-12-12 15:54] tobespc commented on #1073
this is a dupe of #1471 , moving to verify to test once 1471 has landed

[2019-12-12 15:54] jcockbain commented on #786
@liamchampton - this appears fixed for me, can you check again?

[2019-12-12 15:55] tobespc commented on #1293
We are fixing this in #1471 by adding the lastSyncTime to the project metadata.  The FWD will see this when the watchlist is queried and use that value rather than 0.   Moving this to close as a dupe of 1471

[2019-12-12 15:55] #1293 closed

[2019-12-12 15:56] makandre commented on #1472
Just prior to the `EAGAIN`, it is trying to remove `node_modules` file by file, hence all the `rm` processes are overwhelming the process limit.

[code]

For appsody projects, the project dir is still mounted to the app container, hence when the app container does `npm install`, the `node_modules` it lays down will appear inside PFE's copy of the project.  But the project on user's local disk does

[2019-12-12 15:56] makandre commented on #1472
/area portal

[2019-12-12 15:56] jcockbain commented on #1032
/assign @jcockbain

[2019-12-12 16:09] elsony commented on #1476
Adding a label sounds fine to me.  We already have a specific label for Kube resources that we create so it is good to have the same for the local docker case as well.  We should probably consider to use the same label to make it consistent across the two scenarios.  But with the label value "Codewind" look fine to me.

[2019-12-12 16:10] sujeilyfonseca opened #1504 "SVT: Codewind is not validating if there is a project with the same name on the User's disk, which could result in directories with a mixture of files or project failures"
**Codewind version:** 0.7.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.7.0
**IDE version:** Code 1.40.2

**Description:** Codewind is not validating if there is a project with the same name on the User's disk, which could result in directories with a mixture of files or project failures. Here is an example:

I originally created a Java Lagom project called "myproject". After that,

[2019-12-12 16:11] sujeilyfonseca commented on #1504
/priority stopship

[2019-12-12 16:12] james-wallis commented on #1476
I'm only talking about the local Docker environment in this issue, isn't ODO just in Kubernetes environments? Would be good to have labels for them but probably a different issue.

[2019-12-12 16:15] elsony commented on #1476
ok

[2019-12-12 16:15] GeekArthur commented on #1476
@james-wallis Yes, odo only supports Kube env (more specifically only OpenShift or OKD). @elsony I think we are able to inject labels by using `kubectl patch` to the kube resources that we want and deployed by odo.

[2019-12-12 16:20] jopit opened #1505 "Hybrid: VSCode: new connection page doesn't reflow to fit a smaller window"
![image](https://user-images.githubusercontent.com/29612372/70729485-50596580-1cd1-11ea-9df6-28275e5e96a3.png)

[2019-12-12 16:21] elsony opened #1506 "Add Codewind label odo project containers/images for easy clean up"
As part of the discussion https://github.com/eclipse/codewind/issues/1476#issuecomment-565072859, this item is to track to odo case to add Codewind specific labels to images/containers that has been created as part of the Codewind odo project support.

[2019-12-12 16:21] maysunfaisal opened #1507 "Rethink workspace settings validation"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Was having a chat with @hhellyer about workspace validation and looks like we're validating after writing to the workspace settings which does not sound right.

Should be done pre write to the file.

**Steps to reproduce:**

**Workaround:**

[2019-12-12 16:21] maysunfaisal commented on #1507
/assign

[2019-12-12 16:21] tetchel commented on #1505
@laven26

[2019-12-12 16:21] elsony commented on #1476
@GeekArthur I have created https://github.com/eclipse/codewind/issues/1506 to keep track on the odo scenario on Kube given that this item is for local docker case only.

[2019-12-12 16:22] maysunfaisal commented on #1507
/area iterative-dev

[2019-12-12 16:23] tetchel commented on #1504
I swear cwctl used to error out if the directory to clone into was nonempty

[2019-12-12 16:24] tetchel commented on #1504
related https://github.com/eclipse/codewind/issues/1475 ?

[2019-12-12 16:24] johnmcollier commented on #1476
@james-wallis I'm good on that approach: `BuiltBy=Codewind` and  `projectID=<projectID>` sound good to me.

[2019-12-12 16:33] malincoln commented on #1458
@jgwest are you or someone else with a Windows machine able to test?

[2019-12-12 16:34] jcockbain commented on #699
@ssh24 has this been resolved? That template test is passing on master, and the /registry route doesn't seem to be being used anymore.

[2019-12-12 16:35] tetchel commented on #1073
I don't see how this is a dupe of 1471

[2019-12-12 16:37] jcockbain commented on #1452
/assign

[2019-12-12 16:37] jcockbain commented on #1475
/assign

[2019-12-12 16:38] james-wallis commented on #1502
From your `docker ps` it looks like it is Appsody projects that are not exiting.
I've seen this with Swift too, I think Appsody and Swift just take the longest to build and launch?

**Workaround**
The workaround is to have the user run `cwctl stop-all` again.

[2019-12-12 16:40] sujeilyfonseca commented on #1504
No, it doesn't seem related to #1475.

[code]

[code]

[code]

[myproject.txt](https://github.com/eclipse/codewind/files/3956851/myproject.txt)

[2019-12-12 16:40] james-wallis commented on #1502
@sujeilyfonseca just to check, if you navigate to the command line and run `cwctl stop-all` the rest of the containers disappear?

[2019-12-12 16:41] keithchong commented on #502
Closing.  This was delivered.  Three wizard tests were subsequently added too.

[2019-12-12 16:41] #502 closed

[2019-12-12 16:45] keithchong commented on #535
This was completed.

[2019-12-12 16:45] #535 closed

[2019-12-12 16:48] jcockbain commented on #1032
@maysunfaisal is this still valid? I can't see operation in the project.inf for a project created from latest.

[code]

[2019-12-12 16:49] eharris369 commented on #1179
Tried setting IO.Options.timeout to -1 to disable it but it did not help.

[2019-12-12 16:50] jagraj opened #1508 "SVT:[OCP 4.2]:Performance tests are not available in history to compare results"
**Codewind version:** 0.7.0
**OS:** CoreOS

**Che version:** 0.7.0
**IDE extension version:** 0.7.0
**IDE version:**  Theia 7.3.1
**Kubernetes cluster:**
OKD 4.2 cluster

**Description:**
Performance tests results are not stored after running tests for Node.js default project.
History section does not show any of the test results.

**Steps to reproduce:**
1. Install OKD 4.2 cluster.
2. Install Ecl

[2019-12-12 16:50] jagraj commented on #1508
/area portal
/priority stopship

[2019-12-12 16:53] sujeilyfonseca commented on #1502
Yes, @james-wallis. If I execute `cwctl stop-all` or use the "Stop Local Codewind" function in the IDE, the rest of the containers will stop.

[2019-12-12 16:55] jagraj commented on #1508
I see same problem with appsody projects as well.

[2019-12-12 16:56] tobespc opened #1509 "Inject metrics not available for openliberty project"
The 2 stories we want to focus on are

"Developer brings their OpenLiberty (or Java or Node.js) application to codewind and they don't have any type of metrics.  We can inject metrics as OpenLiberty is a  application with a pom.xml and we support injection for that"

"Developer brings their OpenLiberty (or Java or Node.js)  application to codewind and they already have data on a /metrics endpoint

[2019-12-12 16:58] tetchel commented on #1509
the short-term fix is to update https://github.com/eclipse/codewind-vscode/blob/master/dev/src/codewind/project/ProjectType.ts#L139 to check against the list of supported languages instead. ie

[code]

[2019-12-12 17:06] james-wallis commented on #1458
@jgwest looks like my `fixes` message in the PR has caused this to close. Pasting your message from our Slack conversation as it indicates it can stay closed.
[code]

[2019-12-12 17:08] jgwest commented on #1458
/pipeline verify

[2019-12-12 17:13] tetchel commented on #517
Want to bump this, our multiline code blocks look really bad.
![image](https://user-images.githubusercontent.com/8888438/70733681-c9a88680-1cd8-11ea-8e24-c955027e522a.png)

They should be one block, not blocked per-line.

![image](https://user-images.githubusercontent.com/8888438/70733704-d4631b80-1cd8-11ea-9cb7-11e343948bc3.png)

[2019-12-12 17:14] james-wallis commented on #1502
Best guess fix is:
1 PFE needs to be stopped (not removed) before we get the list of project containers
or
2 Remove all containers from docker-network, `docker-compose down`, remove project containers.
   * I think fix 1 would guarantee this issue would be fixed however.

[2019-12-12 17:23] mmulholl opened #1510 "SVT : Eclipse : Mac : Spring apps failing maven build"
**Codewind version:**  Codewind tech preview	0.7.0.v201912112008
**OS:** Mac

**Che version:**
**IDE extension version:** 2019-0019
**IDE version:** 2019-009 Eclipse jee
**Kubernetes cluster:**

**Description:**
Spring app fail maven build. See this is the workspace log:

!ENTRY org.eclipse.codewind.core 4 0 2019-12-12 12:19:49.295
!MESSAGE [ERROR JSONObjectResult.getString:41] The project templat

[2019-12-12 17:27] mmulholl commented on #1510
This from the pfe log:
[12/12/19 17:19:59 /portal/routes/projects/remoteBind.route.js] [INFO] Project Springer007a syncing with build container, projectRoot is /root/app
[12/12/19 17:19:59 /portal/routes/projects/remoteBind.route.js] [ERROR] { Error: Command failed: docker cp /codewind-workspace/Springer007a/. undefined:/root/app
Error: No such container:path: undefined:/root

    at ChildProcess.

[2019-12-12 17:54] travis1111 commented on #517
This was caused by not using correct markdown syntax.

Add `sh` solves the problem.

![image](https://user-images.githubusercontent.com/35569780/70736528-87824380-1cde-11ea-9bdc-5d41721812b1.png)

![image](https://user-images.githubusercontent.com/35569780/70736563-979a2300-1cde-11ea-9a87-c1d9b1aa70c3.png)

[2019-12-12 17:56] travis1111 commented on #517
also this issue can be closed, the code formatting was delivered a couple months ago.

Thanks

[2019-12-12 18:08] travis1111 commented on #517
This PR contains the MD file fix:

https://github.com/eclipse/codewind-docs/pull/262

[2019-12-12 18:08] beccabau opened #1511 "Landing Pages, News: Emojis not showing up in markdown"
**Question synopsis:**
I want to add a few emojis to the news page, but looks like something is conflicting with the markdown syntax.
(attempting to add `:sparkles:` and `:clap:`)

https://gist.github.com/rxaviers/7360908

![image](https://user-images.githubusercontent.com/13971834/70737473-92d66e80-1ce0-11ea-8b7e-6a3340f658d3.png)

[2019-12-12 18:19] beccabau commented on #1511
@tetchel provided workaround -- markdown emojis won't work, but can just copy/paste from emojipedia or computer's emoji keyboard.

Thanks!

[2019-12-12 18:19] #1511 closed

[2019-12-12 18:36] mmulholl commented on #1418
Only see it in automated tests now, could produce manually before but not now

[2019-12-12 19:05] jagraj commented on #1383
I moved to latest 0.7.0 images and codewind tried to build projects from the list and eclipse IDE not able to connect to codewind any more. I took snapshot of docker stats and codewind docker container consuming 260% of CPU. We did not see same problem with 0.6.1 release.

Here are screenshots and logs that I captured when this happened.

![Screen Shot 2019-12-12 at 2 02 25 PM](https://user-images

[2019-12-12 19:42] mmulholl commented on #1418
What I am seeing with microprofile apps now is the app view being blank:
[thread_40-running-pods-logs-codewind-pfe.log](https://github.com/eclipse/codewind/files/3957539/thread_40-running-pods-logs-codewind-pfe.log)
![thread_40-screenshot-on-error-12 12 2019_14 35 45-ID_10](https://user-images.githubusercontent.com/16086270/70743314-80166680-1ced-11ea-8890-e9aa60aa29f3.png)

[2019-12-12 19:45] jopit opened #1512 "Hybrid: 0.7.0: remote configuration doc doesn't mention need to enable privileged and root containers to run"
When I install codewind remotely into an OpenShift cluster, I need to grant it permission to run privileged and root containers.  This information should go into the documentation for remote configuration, under the `Configuring other cloud deployments` section.  It should say something like

[code]
(Stolen from here: https://www.eclipse.org/codewind/mdt-che-installinfo.html#enabling-privileged-an

[2019-12-12 19:55] jagraj commented on #1383
To make progress, this is what I had to do.

1. Quit docker desktop.
2. Kill all docker process on my machine from process list. Otherwise we are not releasing "10000" port for codewind to start again.
3. Restart docker and then Eclipse IDE was able to connect to Codewind.
4. `docker system prune -a`
5. Start docker desktop again.

[2019-12-12 20:05] jagraj commented on #1510
I just hit same issue after moving to latest 0.7.0 images. My codewind default spring project failing to build.

[2019-12-12 20:17] malincoln commented on #1512
@sishida @micgibso pls assign.  Thanks

[2019-12-12 20:19] malincoln commented on #1383
@james-wallis this has been reopened.

[2019-12-12 21:01] jagraj opened #1513 "SVT:[Doc]:Hybrid:OpenShift:Need instructions for the user to create a project first before making client remote call."
**Codewind version:** 0.7.0
**OS:** CoreOS

**Che version:** 7.3.1
**IDE extension version:** 0.7.0
**IDE version:** Their 7.3.1
**Kubernetes cluster:**
OpenShift 4.2 cluster

**Description:**
We need instructions to the user to create OpenShift project first and then configure remote "Codewind" from codewind CLI.

I do not see these steps listed in this doc.
https://github.com/eclipse/codewind-do

[2019-12-12 21:02] jagraj commented on #1513
/area docs
/priority stopship

@markcor11 @micgibso

[2019-12-12 21:27] malincoln commented on #1458
@jgwest if you've verified, can you close it?  Thanks

[2019-12-12 21:41] naveenkaratekid opened #1514 "[odo] ODO projects fail to build. Unable to deploy application"
**Codewind version:0.7.0**
**OS: OKD 3.1**

**Che version:7.3.1**

**Description:**
All ODO Projects are failing to build and deploy. Getting a
```Failed to build or deploy odo application```

**Steps to reproduce:**
1. In Che, create an ODO project
2. Let the project build.

Here are the logs

Codewind PFE
[codewindpfelog.txt](https://github.com/eclipse/codewind/files/3957930/codewindpfelog.txt)

[2019-12-12 21:47] jagraj commented on #1514
/area iterative-dev
/priority stopship

@jingfuwang
Can you take a look at this issue when you get a chance.?
I can not reproduce this issue on OpenShift 4.2 cluster. I can deploy ODO projects and I did not try on my OpenShift 3.11 cluster. We marked this issue as "stopship" for now. It will be nice you can reproduce this issue on your cluster and you can debug on Naveen's 3.11 cluster.

[2019-12-12 22:12] sujeilyfonseca commented on #1514
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift 3.11

I only saw this problem once, but only with a Python project. However, I could not reproduce the problem now:

<img width="1674" alt="Screen Shot 2019-12-12 at 5

[2019-12-12 22:33] jgwest commented on #1458
It looks like the Codewind build failed that contained the PR for this fix, but as soon as that is in I will verify. But AFAICT the steps that @james-wallis already tested on his own Windows VM means it should just be a formality.

[2019-12-12 22:48] jgwest commented on #1498
This issue is specific to IBM JDK's cipher suite names, and [is described here](https://github.com/eclipse/jetty.project/issues/2921).

[2019-12-12 22:52] jagraj opened #1515 "SVT:[Hybrid]:Missing cluster login as prereq before setting up remote codewind"
**Codewind version:** 0.7.0
**OS:** Windows

**Che version:** 7.3.1
**IDE extension version:** 0.7.0
**IDE version:**  Theia 7.3.1
**Kubernetes cluster:**

Openshift 4.2 cluster.

**Description:**
Missing Cluster login as prereq for `cwctl`  remote codewind deployment.

https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-configuring.md

I get into this issue...

[code]

[2019-12-12 22:52] jagraj commented on #1515
/area docs
/priority stopship

@micgibso @markcor11

[2019-12-12 23:26] jgwest commented on #1498
/pipeline verify

I will verify on Erin's behalf on Friday once this is in the build.

[2019-12-13 02:27] jopit commented on #1179
Setting OkHttpClient's readTimeout to 0, however, does stop the timeout exceptions.  Need to do more testing to ensure it doesn't break anything.

[2019-12-13 02:56] johnmcollier commented on #1512
@jopit Yeah, that text sounds good to me.

[2019-12-13 06:06] jgwest commented on #1471
## The projectCreationTime field should work for this purpose, rather than adding a new lastSyncTime field (though we could rename pCT)

Rather than using a new field `lastSyncTime`, I believe the existing `projectCreationTime` field can be used for this purpose. We can rename it to serve its new conceptual purpose (`lastSyncTime`), but I believe the underlying logic of this existing field, and ho

[2019-12-13 08:02] markcor11 commented on #1513
@jagraj CWCTL in 0.7.0 makes use of the --namespace flag to check and use an existing or create a new OC project / Kube namespace of that name. An early prereq of creating the namespace before running cwctl is no longer required.

[2019-12-13 08:11] markcor11 commented on #1515
Agreed,  to deploy a remote Codewind environment the operator needs to be logged into the cluster  (using, for example `oc login`). We should call that out in our guides.

[2019-12-13 08:19] jgwest commented on #1463
Verified, thanks Tim!

Button overflows slightly on the top RHS panel but thats for another day:
![image](https://user-images.githubusercontent.com/7594762/70783743-277bb380-1d57-11ea-8704-dba70b0048c2.png)

[2019-12-13 08:19] #1463 closed

[2019-12-13 09:05] markcor11 commented on #1508
/assign @markcor11

[2019-12-13 09:06] jcockbain commented on #1504
/assign

[2019-12-13 09:07] tobespc commented on #1502
doesn't this require the IDE to call the cwctl to issue a different command then ?

[2019-12-13 09:10] tobespc commented on #1502
the stop command requests the stop but we don't wait.  The IDE needs to check to see if things are dropped.  Its like kubectl, we ask to stop pods and then we manually poll `kubectl get pods` to see when they actually drop

[2019-12-13 09:17] tobespc commented on #1510
isn't this the same issue as https://github.com/eclipse/codewind/issues/1414 ?
You need to make sure you have created a new spring project that has the docker-build file

[2019-12-13 09:20] tobespc commented on #1383
``Quit docker desktop.
Kill all docker process on my machine from process list. Otherwise we are not releasing "10000" port for codewind to start again.
Restart docker and then Eclipse IDE was able to connect to Codewind.
docker system prune -a
Start docker desktop again.``

So if thats the recreation scenario - doesn't seem like a thing a developer would do ?   I'm only asking as I'm triaging the

[2019-12-13 09:27] james-wallis commented on #1502
/assign

[2019-12-13 09:38] liamchampton commented on #786
Cannot reproduce, closing.

[2019-12-13 09:38] #786 closed

[2019-12-13 09:57] james-wallis commented on #1383
From looking at the screenshots added for the new recreation scenario it looks like a different issue. The first screenshots showed an empty project list whereas the new ones show that the IDE has `disconnected` from PFE.

If this is the case this issue should be closed.

[2019-12-13 10:43] liamchampton opened #1517 "Go Report Card"
**Description of the enhancement:**
Add the go report card rating for the CLI in a label at the top of the README. It is currently an A+ rating which is very good.

This is also a really good way to get the code exposed and help anyone from the community to find an easy fix and put up a PR against the project.

Find the report card here - https://goreportcard.com/report/github.com/eclipse/codewind

[2019-12-13 10:57] tobespc commented on #1471
I've put a change in to pass projectCreationTime back in the watcthlist call
[code]
and updating this value on a sync.   For now, I've made the same change to 0.7.0 and master but we can look at improving master next year

[2019-12-13 10:58] liamchampton commented on #1502
/assign

[2019-12-13 11:22] jagraj opened #1520 "SVT:[OCP:4.2]:Application monitor returns blank page for remote apps"
**Codewind version:** 0.7.0
**OS:** Windows/CoreOS

**Che version:** 0.7.0
**IDE extension version:** Theia 0.7.0
**IDE version:** Theia 7.3.1
**Kubernetes cluster:**
OS 4.2 cluster

**Description:**
Performance monitor returns blank page for all supported applications. I have eclipse plugin installed on Windows and connected to remote OpenShift cluster.

![image](https://user-images.githubusercon

[2019-12-13 11:22] jagraj commented on #1520
/area portal
/priority stopship

[2019-12-13 11:33] jagraj opened #1521 "SVT:[OCP 4.2]:Application performance returns "Unable to fetch metrics from API" error on performance page."
**Codewind version:** 0.7.0
**OS:** Windows/CoreOS

**Che version:**
**IDE extension version:** 0.7.0
**IDE version:** Theia 7.3.1
**Kubernetes cluster:** OpenShift 4.2

**Description:**
Application performance returns this message for all supported applications.
"Unable to fetch metrics from API reason: Error: 403"

**Steps to reproduce:**
1. Install codewind from eclipse plugin.
2. Install remot

[2019-12-13 11:34] jagraj commented on #1521
/area portal
/priority stopship

[2019-12-13 11:34] liamchampton commented on #1517
Quick change on branch https://github.com/liamchampton/codewind-installer/tree/go-report-card will see the readme label addition:
![Screenshot 2019-12-13 at 11 32 16](https://user-images.githubusercontent.com/42477259/70797440-713abd00-1d9c-11ea-9b0a-fcf777dfb01d.png)

[2019-12-13 11:38] james-wallis commented on #1472
/assign

[2019-12-13 11:54] james-wallis commented on #1472
I've had a look through the logs provided:
* agree with @makandre that its the `deleteFilesInArray` file which is causing problems with Appsody (as its going file by file).
* concerned that it appears @jopit has only a single project in PFE.
* I think the below lines show that PFE is being blocked for over 30 seconds while running that function (very bad if true).
[code]

IMO the only way to fix t

[2019-12-13 12:07] makandre commented on #1472
But in appsody case, we do not want to delete the node_modules directory. Doing so will probably break the running application; remember that the project folder is mounted to the appsody app container

[2019-12-13 12:45] james-wallis commented on #1472
Ok, so PFE is deleting the files which we are not told to keep and as locally the node_modules folder will not exist it is also being deleted.
PFE needs to read the projects `ignoredFiles` before deleting things?

[2019-12-13 13:14] micgibso commented on #1515
`oc` commands documented on PR https://github.com/eclipse/codewind-docs/pull/265/

[2019-12-13 13:41] sishida commented on #1512
The PR to add the text update has been merged. Closing this issue.

[2019-12-13 13:41] #1512 closed

[2019-12-13 13:50] malincoln commented on #1477
@sujeilyfonseca pls verify and close.  Thanks

[2019-12-13 14:02] markcor11 commented on #1508
I've tried testing the 0.7.0 branch of PFE/Performance/Theia in Che and was unable to reproduce this.

From the performance container logs, I can see the 3 x 20sec loadtest ran.  All 3 completed but none of the requests were serviced by the project each time:

**Performance pod reports :**

[code]

**PFE pod reports :**

[code]

Was the project responding to browser requests ok between load runs ?

[2019-12-13 14:10] jopit commented on #1472
To confirm, I did only have the one project in PFE.

[2019-12-13 14:12] micgibso commented on #1513
@jagraj This was in an early draft of the docs, but as Mark says above, it's no longer required;  removing the `area/docs` label.

[2019-12-13 14:13] malincoln commented on #1471
@johnmcollier can you test the 0.7.0 fix and confirm if problem is resolved?  Thanks

[2019-12-13 14:14] james-wallis opened #1522 "[Remote/Kube] Can't have projects which share the same first three letters"
**Codewind version:** Master
**OS:** Using VSCode extension on Mac OS connecting to a remote deployment in OpenShift.

**Description:**
If I have two projects which share the same first 3 characters in their name ("app" for example) I can only reach the first application using the ingress address.

I have created two applications using remote mode into an open shift cluster:
1. `appsody-node-expre

[2019-12-13 14:15] malincoln commented on #1513
@jagraj can this defect be closed?

[2019-12-13 14:17] malincoln commented on #1290
@micgibso can you close this one now?  Thanks

[2019-12-13 14:17] malincoln commented on #1375
@GeekArthur can you verify and close?  Thanks

[2019-12-13 14:18] jagraj commented on #1383
@james-wallis @tobespc
I have seen same issue when I opened this initially. First time I did not captured multiple screenshots and now I captured multiple screenshots when this problem was happening. Looks like this happens not only after migration and it happens stop and start of codewind with multiple projects in the list.

I just reopened this issue, cause we do not want to loose history.

[2019-12-13 14:18] malincoln commented on #1291
@stalleyj can you verify and close or we need someone else to verify?  Thanks

[2019-12-13 14:21] sishida commented on #1111
Hi, @GeekArthur, It looks like the PR is merged, and this issue is good to close. :) If so, could you please close it? Thank you!

[2019-12-13 14:30] sujeilyfonseca opened #1523 "SVT: Option to edit an Image Registry"
**Codewind version:** [0.7.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/0.7.0/devfiles/0.7.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description of the enhancement:**
It would be good to include an option to edit an Image Registry because, for example, if a user makes a mistake in a field, he/she

[2019-12-13 14:31] micgibso commented on #1290
@malincoln Closing...

[2019-12-13 14:31] #1290 closed

[2019-12-13 14:34] makandre commented on #1472
@james-wallis yes perhaps somewhere around https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L222 when PFE is computing what to delete, it needs to ignore `node_modules` dir.

But I think we need to consider the following:

- the appsody project handler does not define any `defaultIgnoredPath`, since everything* in an appsody project is supposed to

[2019-12-13 14:46] malincoln commented on #1513
Jag agreed to close

[2019-12-13 14:46] #1513 closed

[2019-12-13 14:46] rwalle61 commented on #1520
Hi @jagraj I'm looking at this

[2019-12-13 14:57] ssh24 commented on #699
Looks like the tests are not broken anymore. Closing.

[2019-12-13 14:57] #699 closed

[2019-12-13 15:00] makandre commented on #1472
Aside from not removing `node_modules` for this case, the fix to delete by dir rather than file-by-file is also a fix we need regardless.

[2019-12-13 15:05] malincoln commented on #1504
@jcockbain can you provide clarification on the fix you're proposing.  There were questions about what the end-user would see after fix during checkpoint today.

[2019-12-13 15:08] jcockbain commented on #1504
@malincoln - have you read the pr description at https://github.com/eclipse/codewind-installer/pull/293? I have tried to include all details there, including a screenshot of what a user would see.

[2019-12-13 15:11] jgwest commented on #1498
Verified as fixed on latest Eclipse driver, using IBM Java.
/close

[2019-12-13 15:11] malincoln commented on #1504
@jcockbain we did review and there were questions on "Note: This file should be returning errors, in the same way as more recent functionality, as opposed to calling log.fatal. "  @jopit can you elaborate?

[2019-12-13 15:12] jcockbain commented on #1504
In summary, the only time we'll halt downloading a project (from a template) is when that directory exists and is non-empty.

If the directory is there and is empty, the project is written into it. If it's not there, the directory is created with the project inside. The error we display from the CLI can be changed to be whatever we need it to be in the scenario we stop the project being downloaded

[2019-12-13 15:13] #1498 closed

[2019-12-13 15:15] malincoln commented on #1073
@makandre and @jagraj can verify once PR for 1471 is merged.

[2019-12-13 15:20] jgwest commented on #1179
I'm curious, how do we handle the case where the connection drops for network reasons? Would we lose events in this case too? I imagine it may be slightly different with socket.io, but with the filewatchers my solution to this question is:
- Every ~20 seconds, send an empty packet on the WebSocket to make sure it is still open
- If we get an unexpected 'WebSocket closed' event on the client side,

[2019-12-13 15:21] jcockbain commented on #1504
The note was about me not wanting to make large code changes into the release branch. I'm working on cleaning that file to return error structs and am planning to PR that against master when ready. That'll make the code more reusable but shouldn't change anything for an end user.

[2019-12-13 15:34] jopit opened #1525 "Hybrid: Project overview should show the name of the namespace and pod associated with the application"
This kind of information would be needed to be provided by the developer to the cluster admin/support if they are having network or infrastructure problems working with the application.

We should identify if here's other info that would be needed for this kind of situation.

[2019-12-13 15:37] GeekArthur commented on #1111
Verified, close the issue.

[2019-12-13 15:37] #1111 closed

[2019-12-13 15:43] jopit commented on #1179
In the local scenario, if the 'network' drops you probably have bigger problems than missing a few events.  In the hybrid scenario, if the network drops, the connection will go into 'disconnected' state.  When you reconnect, the status is fully refreshed.  It's no different from the user explicitly disconnecting and the later reconnecting.

[2019-12-13 15:44] GeekArthur commented on #1375
I move this issue to `In Progress` and change release to `0.8.0` since hybrid case is not blocker of `0.7.0`, and we still need to implement script to bind roles to dynamic service account and ensure no regression for che case and may decide if we want to move the binding roles step to `cwctl` (think that depends on what specific roles we need to bind). Also we need to ensure corresponding instruc

[2019-12-13 15:46] GeekArthur commented on #1375
Currently I am focusing on `0.7.0` and make the che case stable for odo project type.

[2019-12-13 15:57] keithchong opened #1526 "OpenAPI: Update to 4.3.2 to pick up the new MicroProfile client library"
**Codewind version:** 0.7.0
**IDE version:** Both VS Code and Eclipse

**Description of the enhancement:**
A new MicroProfile client has been added.
Pick up version 4.3.2 of the openapi-generator, and add the option to client list.
Test it.
Rerun automated tests.
React to other 4.3.2 changes if necessary.

[2019-12-13 16:16] josephca commented on #1458
The master build went fine with the PR and fix.
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/349/

[2019-12-13 16:18] GeekArthur commented on #1514
I am using the **latest** `0.7.0` and can't reproduce the issue
![Screen Shot 2019-12-13 at 11 12 37 AM](https://user-images.githubusercontent.com/15131537/70814465-8bbf6700-1d99-11ea-9798-90d2cf0de965.png)

But from @naveenkaratekid 's PFE log, I find a line is suspicious
[code]
Portal shouldn't remove odo project files at that time, so seems like it's the syncing issue results in the following f

[2019-12-13 16:39] johnmcollier commented on #1522
@james-wallis I know why this is happening, it's cause we're trimming the ingress hostname we create in a bad way.

On OKD 3.x clusters, it requires that the host name for the ingress/route be < 63 characters. The problem here is that we have no way to know what the maximum allowed ingress host name length is, as it heavily varies by Kube distribution (even OCP 4.x doesn't have this issue). So wha

[2019-12-13 16:43] johnmcollier commented on #1522
@james-wallis I know why this is happening, it's cause we're trimming the ingress hostname we create in a bad way.

On OKD 3.x clusters, it requires that the host name for the ingress/route be < 63 characters. The problem here is that we have no way to know what the maximum allowed ingress host name length is, as it heavily varies by Kube distribution (even OCP 4.x doesn't have this issue). So wha

[2019-12-13 16:43] johnmcollier commented on #1522
Test

[2019-12-13 17:06] jgwest commented on #1522
@james-wallis Nice catch finding this one :+1:

[2019-12-13 17:20] maysunfaisal opened #1527 "[odo] Odo functional test failing on ignorePaths"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The odo projects fail on ignorePath functional test
[kube-functional-test.log](https://github.com/eclipse/codewind/files/3961913/kube-functional-test.log)

/area iterative-dev
/kind test

[2019-12-13 17:25] GeekArthur commented on #1527
It fails here: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectsController.ts#L995, which returns default status error code 500 instead of 202 when calling `projectSpecifications.projectSpecificationHandler`, since the function is generic function, so if it’s a real issue the problem shouldn’t be odo project specific or any project type specific.

[2019-12-13 17:35] GeekArthur commented on #1527
But this one might be related with the syncing issue I find recently `[13/12/19 17:26:09 /portal/routes/projects/remoteBind.route.js] [INFO] Removing locally deleted files from project: odo-nodejs, ID: 43c61e60-1dcd-11ea-9690-81a499d046aa - .odo/config.yaml, .odo/odo-file-index.json`, Portal removes all files under `.odo` folder so that all updates (including update `.cw-settings` file) won't work

[2019-12-13 17:50] makandre commented on #1472
Now that I think about it, I think this delete behaviour is actually a larger problem for appsody.

Basically, any runtime resources that the appsody app container creates in the project folder, they will be in PFE's copy of the project but not in user's local copy of the project.  If this condition causes PFE to attempt to delete those resources, then it's a real problem.

We need to somehow dist

[2019-12-13 18:02] jgwest commented on #1179
@jopit I see, does the user have to manually reconnect (invoke a menu item) after disconnect occurs?

[2019-12-13 18:40] james-wallis commented on #1522
@markcor11 mentioned that he'd already fixed an issue like the one @johnmcollier described in codewind-installer when deploying keycloak. Best to talk to him on Monday to get the details but I we were able to make it longer than you've said above.
But, like you say, his fix might not work on OKD 3.x clusters.

Sidenote - On OpenShift I've been able to change:
[code]
to
[code]
 and it still works a

[2019-12-13 18:45] ssh24 commented on #1527
/assign

[2019-12-13 18:49] james-wallis commented on #1472
**End of Friday status**
Had problems all day trying to recreate this issue in a remote scenario.
I was able to create a project using the master branch of VSCode but it was not reflecting my file changes in a remote deployment only (locally was fine). Tried updating everything to master + re-installing on OpenShift as I wasn't aware anyone else was seeing an issue with file changes, still didn't

[2019-12-13 18:56] johnmcollier commented on #1522
@james-wallis Huh, that's interesting. I'll definitely reach out to Mark on Monday and give that a try.

[2019-12-13 18:58] jopit commented on #1472
I can assure you that my versions do match up.

[2019-12-13 19:21] makandre commented on #1527
@GeekArthur the remove deleted files problem you describe, could the core issue be the same as in #1472?

[2019-12-13 19:24] makandre opened #1528 "Edit ingoredPaths in .cw-settings shows update failed"
**Codewind version:** 0.7.0 and master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

![image](https://user-images.githubusercontent.com/17596240/70826101-18771e80-1db4-11ea-85cb-a8f1d286a774.png)

**Steps to reproduce:**

1. Edit the `ignoredPaths` property in a project's `.cw-settings` file
2. See the error popup (I was using VS C

[2019-12-13 19:26] james-wallis commented on #1472
@jopit I meant the reasons for my Remote Codewind not working was the versions.

[2019-12-13 19:26] makandre commented on #1528
The `projectUpdate` object at https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/FileWatcher.js#L430 omits the `status` property.  The fix should be fairly straightforward.

[2019-12-13 19:27] makandre commented on #1528
/area portal

[2019-12-13 19:28] jopit commented on #1472
@james-wallis Oh, ok, my apologies, I misunderstood your comment.

[2019-12-13 19:29] malincoln commented on #1514
@naveenkaratekid pls confirm 1516 resolves this issue.  Thanks

[2019-12-13 19:30] malincoln commented on #1510
@mmulholl pls confirm 1414 resolves this issue.  Thanks

[2019-12-13 19:30] GeekArthur opened #1530 "Turbine test autoamtion should test if dangling kube resoureces exist"
Currently Turbine test automation doesn't have capabilities of testing if dangling kube resources (eg. all kube resources deployed by Turbine like deploy, svc, pvc, etc) still exist after project deletion, we should add the capabilities when testing project deletion.

[2019-12-13 19:30] naveenkaratekid commented on #1514
@malincoln Verifying now.

[2019-12-13 19:34] johnmcollier commented on #1471
I can no longer reproduce on 0.7.0

[2019-12-13 19:34] johnmcollier commented on #1471
Closing and verifying as it's fixed for me.

Thanks @tobespc!

[2019-12-13 19:34] #1471 closed

[2019-12-13 19:46] malincoln commented on #1504
@sujeilyfonseca looks like the PR has been merged.  Can you retest and confirm this resolves the issue?

[2019-12-13 19:51] GeekArthur commented on #1527
@makandre Seems like they are not the same, my problem is only files missing on PFE side, there is not issue for remote connection.

[2019-12-13 20:09] mmulholl commented on #1414
Still seeing the same issue

[2019-12-13 20:10] mmulholl commented on #1510
Issue not solved

[2019-12-13 20:15] johnmcollier opened #1532 "Consider versioning the index.json for Codewind-style projects"
The current index.json that we're using for Codewind style projects is https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json, which points to the master branch of the index.json (and the master branch for each of the templates). This index.json (and the corresponding project templates) will be the same for **all** Codewind versions right now.

This mean

[2019-12-13 20:15] johnmcollier commented on #1532
Adding the techtopics label so that we can discuss this as a whole

[2019-12-13 20:22] naveenkaratekid commented on #1514
Just re deployed the workspace both using using the ```latest``` devfile from ```master```, and using ```latest``` from ```0.7.0``` branches.
Just created three ODO projects (Python, Perl, and NodeJS).

Projects are still failing to build. Still getting error ```Failed to update odo application```

Here is the PFE logs for master branch with latest as well as 0.7.0 branch with latest:

[codewindpf

[2019-12-13 20:24] jagraj commented on #1508
After debugging with Mark this morning, we found out that we are not using ingress endpoint to make a call for performance request and we are appending "Nodeport" to ingress endpoint and that is why calls are failing. The other issue we found is, we should use private ip and internal port to drive the load rather running load with application ingress endpoint which is not best practice.

[2019-12-13 20:25] GeekArthur opened #1533 "Files generated by PFE are deleted during project update"
**Codewind version:** 0.7.0 PFE SHA:
[code]
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:** 0.7.0
**IDE version:** Latest
**Kubernetes cluster:** OKD 3.11

**Description:**
Currently I find this issue on odo project type, how the odo project build works is that odo project generates `.odo` folder + files under `.odo` folder on PFE side during first time odo project build, and it u

[2019-12-13 20:31] GeekArthur commented on #1514
@naveenkaratekid From your log, this is the root casue
[code]

Issue is `.odo` folder is deleted during project syncing step before triggering build on Turbine layer, so that the build is failed due to missing `.odo` folder. This is the parent issue: https://github.com/eclipse/codewind/issues/1533, you can verify once https://github.com/eclipse/codewind/issues/1533 is fixed.

[2019-12-13 20:35] makandre commented on #1533
So this is in fact the same root cause identified in #1472.

Appsody projects are affected too because the project folder (in PFE) is mounted to appsody container.  When appsody runs, it will generate runtime resources (such as `node_modules`) into the project folder (again in PFE).  These files are not on the user's local copy of the project, causing PFE to think they are deleted by user and so P

[2019-12-13 20:39] GeekArthur commented on #1533
@makandre From your description, it's the same issue! Only difference is odo project doesn't lose connection but it's same root cause. Thanks for pointing this out!

[2019-12-13 20:46] GeekArthur commented on #1533
This issue is important since all the following issues (most of them are stopship issues) are affected by this issue. Think the following issues will be resolved once this issue is fixed.
https://github.com/eclipse/codewind/issues/1472
https://github.com/eclipse/codewind/issues/1514
https://github.com/eclipse/codewind/issues/1527

[2019-12-13 20:47] jopit commented on #1533
Losing the connection doesn't always happen even for appsody projects -- for me it happens almost all the time, but for others it happens rarely.  However, the file deletion and the spawning off of hundreds of processes happens whether the connection drops or not.

[2019-12-13 20:52] sujeilyfonseca commented on #1477
I have tested this problem several times and also asked @DavidG1011 to reproduce the problem. We both notice that it tries to release the pods after removing the workspace, but then they fail and remain bounded to the volumes:

[code]

[code]

**Steps to reproduce:**
1. Install and start Codewind for Eclipse Che
2. Create ODO projects
3. Remove the workspace without deleting the projects

[2019-12-13 20:52] malincoln commented on #1510
@elsony ^^^

[2019-12-13 21:00] DavidG1011 commented on #1477
Some statuses from my 4.2 cluster:

Prior to deletion:
![image](https://user-images.githubusercontent.com/30476587/70831638-15cef600-1dc1-11ea-98cc-99f2a815714f.png)

Post deletion. Seems to release and then gradually fail:

![image](https://user-images.githubusercontent.com/30476587/70831731-5464b080-1dc1-11ea-9a0d-2c4cdd0368be.png)
![image](https://user-images.githubusercontent.com/30476587/7083

[2019-12-13 21:06] jgwest commented on #1458
Moving from Verify back to In Progress as a subset of the problem still occurs:

Happy to report that the `GET /watchlist` endpoint now output the `pathToMonitor` in the correct format 🎉 , but unfortunately looks like the WebSocket `/file-changes` endpoint is still using the old form.

#### Filewatcher Log:
[code]

#### Full Log:
[code]

[2019-12-13 21:13] sujeilyfonseca commented on #1504
I verified this issue and I can no longer see the problem. Users are now informed if the target directory is not empty:

<img width="446" alt="Screen Shot 2019-12-13 at 4 10 49 PM" src="https://user-images.githubusercontent.com/49531960/70832520-42840d00-1dc3-11ea-87cf-fc9fdd99ec4b.png">

[2019-12-13 21:13] #1504 closed

[2019-12-13 21:21] malincoln commented on #1533
@tobespc pls review and assign.  This seems to be affecting several of the stop-ship issues.

[2019-12-13 21:24] sujeilyfonseca opened #1536 "SVT: [Hybrid][Docs] There are no instructions on how to configure Tekton Dashboard in hybrid scenarios, but the option is available"
**Codewind version:** 0.7.0
**IDE extension version:** 0.7.0
**IDE version:** Code 1.40.2

**Description:** There are no instructions on how to configure Tekton Dashboard in hybrid scenarios, but the option is available.

<img width="559" alt="Screen Shot 2019-12-13 at 4 21 07 PM" src="https://user-images.githubusercontent.com/49531960/70833055-c985b500-1dc4-11ea-8be0-11b7bd47beba.png">

https://g

[2019-12-13 21:27] GeekArthur commented on #1477
@sujeilyfonseca @DavidG1011 let us do two things:
1. To get the SHA of PFE image by running `oc get po --selector=app=codewind-pfe -o jsonpath='{.items[*].status.containerStatuses[*].imageID}'` to ensure we are testing the same PFE image and we are on the same page
2. PVC requests PV resource, so if the behavior is `PV is trying to release but fail`, we need to check the PVC as well, we can run th

[2019-12-13 21:29] malincoln commented on #1502
Jag to discuss with @sujeilyfonseca and see if this is an edge-case and if so change to enhancement.

[2019-12-13 21:31] malincoln commented on #1458
@james-wallis this was moved back to In progress.  Please review.

[2019-12-13 21:35] malincoln commented on #1414
@tobespc heads-up.  Martin will add additional info.

[2019-12-13 21:36] malincoln commented on #1510
duplicate of #1414

[2019-12-13 21:37] #1510 closed

[2019-12-13 21:44] mmulholl commented on #1414
I am still seeing the issue and and after working with @jagraj the problem seems to be that my codewind install in pulling the templates from the wrong location :

https://raw.githubusercontent.com/kabanero-io/codewind-templates/master/devfiles/index.json

Do not know how this gets updated.

[2019-12-13 21:48] malincoln commented on #1520
will review again on Monday to see if we have possible fix.

[2019-12-13 21:49] malincoln commented on #1521
@tobespc we will review on Monday to see if we have possible fix.

[2019-12-13 21:50] malincoln commented on #1486
fix is ready; will go ahead and merge and have @hhellyer review on Monday

[2019-12-13 21:51] malincoln commented on #1383
@james-wallis pls investigate further.  We will review on Monday to see if there's a possible fix.

[2019-12-13 22:00] GeekArthur commented on #1477
Also one more note is currently we rely on `odo` to delete odo project PVC and reclaim the corresponding PV, but `odo` doesn't add `blockOwnerDeletion: true` in the owner reference of its PVC, so we may see workspace is gone but PV is still there (sometimes with failed state), we need to wait for some time the PV will be gone automatically.

[2019-12-13 22:10] jagraj commented on #1502
I and Sujeily did more debugging and recreates and I also got into same issue. Looks like this is regression from release to release. I requested Sujeily to reproduce this problem on 0.6.1 to see if this is true regression.

[code]

![Screen Shot 2019-12-13 at 5 10 11 PM](https://user-images.githubusercontent.com/713849/70835548-719e7c80-1dcb-11ea-98a8-74965de35dc0.png)

[2019-12-13 22:22] maysunfaisal commented on #1397
@sishida has #665 doc made it or is it in progress?

[2019-12-13 22:30] mmulholl commented on #1179
Have ran my test twice now, it would normally see around 4 failures per run and now it is none. Thank you!!!!!!

[2019-12-13 22:30] #1179 closed

[2019-12-13 22:37] maysunfaisal commented on #1178
@j-c-berger with regards to the question addressed to @tetchel, I have put a comment on PR https://github.com/eclipse/codewind-docs/pull/261/files#r357857126

Steps 1 and 2 needs to be merged, because they;re now done with the same UI (Image Registries):
![Screen Shot 2019-12-13 at 5 36 29 PM](https://user-images.githubusercontent.com/31771087/70836704-21291e00-1dcf-11ea-9e83-be7ed199e9e1.png)

Bu

[2019-12-16 08:01] vrushaliinamdar commented on #1426
@hhellyer @tetchel Any updates on this ?

[2019-12-16 09:29] micgibso commented on #715
Documented here in the Troubleshooting: https://www.eclipse.org/codewind/troubleshooting.html#projects-stuck-in-starting-or-stopped-state

[2019-12-16 09:29] liamchampton commented on #1517
/assign

[2019-12-16 09:37] tobespc commented on #1383
as we cannot recreate and this is being kept for history, removing stop ship tag

[2019-12-16 09:39] jcockbain commented on #1533
/assign

[2019-12-16 10:01] tobespc commented on #1414
you need to do a clean up first for this, I suspect you have install features left lying around in the codewind volume.  run this command (make sure codewind is not running)
`docker system prune --volumes`

[2019-12-16 10:04] tobespc commented on #1458
` but unfortunately looks like the WebSocket /file-changes ` we don't use this anymore ?

[2019-12-16 10:11] james-wallis commented on #1458
The only other lines that are dependent on Windows are:
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/FileWatcher.js#L418
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/FileWatcher.js#L452

If we're having problems with `pathToMonitor` elsewhere it will be better to ensure that `project.pathToMonitor` is only set once.

[2019-12-16 10:33] liamchampton commented on #1271
Fixed in 0.7.0:
eclipse/codewind-pfe:
[code]

eclipse/codewind-performance:
[code]

[2019-12-16 10:33] #1271 closed

[2019-12-16 10:47] stalleyj commented on #1458
/assign

[2019-12-16 11:37] james-wallis commented on #1472
/assign

[2019-12-16 11:53] james-wallis commented on #1472
I've now recreated this issue in OpenShift (using remote) and have found that we have different behaviours for Appsody locally (Docker) and in Kube. Essentially in Docker we've not seen this issue as the PFE container does not see the `node_modules` directory.

**Local Docker**
* Appsody projects go into the `mounted-workspace` not `codewind-workspace`
* In PFE the projects `node_modules` director

[2019-12-16 13:55] malincoln commented on #1486
@tetchel the fix has been merged into 0.7.0 branch.  Can you test and verify?  Thanks

[2019-12-16 13:58] mmulholl commented on #1414
@tobespec - Does this mean docker system prune is needed for 0.7.0 install?

[2019-12-16 14:26] jagraj commented on #1414
During 0.5.0 to 0.6.0 migration, users workspace migrated to docker volume and during migration codewind did not migrate to this new repo. If we remove the volume user has to bind all the projects again. We may still get into same issue when we add support for other cloud project types.