[2019-10-22 16:05] tetchel commented on #783
it's probably a timing issue, turbine is doing the validation before those files were uploaded.

given that the turbine validation feature doesn't even work anymore, we should be rethinking this

[2019-10-22 16:06] ssh24 opened #802 "[Hybrid - Local] Cannot compile liberty application"
**Description:**

With the new hybrid changes that went in this morning, unable to compile a simple liberty project.

[code]

[2019-10-22 16:19] tetchel commented on #789
Go has the same problem

[2019-10-22 16:21] james-wallis commented on #750
Track on this branch: https://github.com/james-wallis/codewind-installer/tree/ignoredpaths

I've added the functionality to ignore directories if they're found using the regex. Next is individual file names.

[2019-10-22 16:30] makandre commented on #789
When binding an existing project, the templates aren't really involved tho

[2019-10-22 16:41] ssh24 commented on #802
Tried it again and it worked. So not really sure what happend

[2019-10-22 16:41] #695 closed

[2019-10-22 17:28] #733 closed

[2019-10-22 17:30] #591 closed

[2019-10-22 17:31] #656 closed

[2019-10-22 17:32] #646 closed

[2019-10-22 17:33] #605 closed

[2019-10-22 17:37] j-c-berger commented on #712
@sishida I can help with this, thanks.

[2019-10-22 17:50] rajivnathan commented on #452
This is now done

[2019-10-22 17:50] #452 closed

[2019-10-22 18:01] j-c-berger commented on #656
@sishida I looked into this and worked on it as necessary. Thanks.

[2019-10-22 18:18] #528 closed

[2019-10-22 18:19] #799 closed

[2019-10-22 18:25] ssh24 commented on #765
![Screen Shot 2019-10-22 at 12 40 14 PM](https://user-images.githubusercontent.com/15173354/67316820-20fb5900-f4d7-11e9-99d0-1563afb22e8b.png)

So I noticed that once you export a project using the hybrid architecture, at first it disables the project by default till all the file copying is done. For example on Liberty, if you have a project that has mc-target and everything, it will briefly pause

[2019-10-22 18:35] tetchel commented on #713
dupe #559

[2019-10-22 18:35] #713 closed

[2019-10-22 18:37] mmulholl commented on #752
This is an open source project so there is nothing to stop a user from running the latest driver with the tag set and then change to a pre-release version.

[2019-10-22 18:56] mmulholl commented on #752
Use of CW_TAG is publicly documented here: https://github.com/eclipse/codewind-eclipse

[2019-10-22 18:57] yangcao77 commented on #783
Suspecting the issue happens on reimport is because of this: https://github.com/eclipse/codewind/issues/779
The deletion never clean up the project directory in workspace, so when import a project with the same name, the sync might not work since the directory already exist, and will use the old project to bind.

[2019-10-22 19:00] eharris369 opened #803 "CWCLI: No output from project create anymore"
The project create command used to have json output that included a status and potentially an error message.  The latest cwcli does not have any output.

[2019-10-22 19:01] eharris369 commented on #803
@tetchel

[2019-10-22 19:02] keithchong opened #804 "Provide Codewind IDE extenders an API to turn off and on autobuild"
**Codewind version:** Latest
**OS:** any

**IDE version:** For both Eclipse and VS Code IDEs

**Description of the enhancement:**
The Codewind Open API tools extend the Codewind IDEs via menu contributions in the Codewind Explorer (Eclipse) and commands (VS Code via menus and view context).  The actions generate source code as well as build artifacts, including pom.xml for Java Maven-based code ge

[2019-10-22 19:05] eharris369 commented on #803
Tim noticed that this was working this morning so it is likely PR https://github.com/eclipse/codewind-installer/pull/156/files

[2019-10-22 19:32] jagraj commented on #715
@makandre

Thanks for the fix, I moved to latest drivers and started codewind with all the projects from the workspace. The fix did improve the issue but I still see some projects in the bad state. Here are the logs and screenshot from the failure. I reproduced on one of windows machine from the pool.
I see some of the containers using same images for different projects. Is that valid.?

I will go

[2019-10-22 19:49] sujeilyfonseca commented on #715
**Codewind version:** codewind-0.5.0-201910161808.vsix
**OS:** VM with Windows 10

**IDE extension version:** 0.5.0
**IDE version:** 1.39.2

I see a similar behavior on my machine. My Appsody Spring Boot Default template is stuck on "Stopped" state, and before the Appsody Spring Boot Kotlin was stuck in "Starting" state:

<img width="1463" alt="Screen Shot 2019-10-22 at 3 47 29 PM" src="https://us

[2019-10-22 19:56] #321 closed

[2019-10-22 20:03] GeekArthur commented on #757
We discuss the odo binary version today, we will use the latest version for odo binary on Codewind master branch, but will try to move it to build stage so that we don't need to specify version for each release.

[2019-10-22 20:11] makandre commented on #715
@jagraj @sujeilyfonseca Looking at your appsody logs, it appears you both hit a problem where the `appsody run` command for the spring project error out:

[code]

So this is an appsody stack issue.  Appsody team did introduced some range tolerance to their framework but I'm told there are some some edge changes where a version change happens that would require some user intervention.  I suspect th

[2019-10-22 20:15] yangcao77 opened #806 "url for odo project is only created when project successfully being created"
**Codewind version:**
**OS:** Mac os

**Che version:** 7.2.0

**Description:**
url for odo project is only created when project successfully being created
If the first time creation failed. The url won't be created for any following build.

[2019-10-22 20:21] GeekArthur commented on #806
Please assign this issue to me.

[2019-10-22 20:26] jopit opened #807 "Bind failing (remote architecture)"
**Codewind version:** latest
**OS:** macos

I'm calling cwctl to bind an existing project, but it's panicking
[code]

I believe the `N` in ` invalid character 'N'` is the `N` from  `Not Found` in a 404 response, because when I try to bind in Eclipse, which is still calling the REST api, I get a `404 Not Found` response.

1. cwctl should handle a 404 response
2. PFE bind should be fixed

[2019-10-22 20:31] sishida commented on #559
I'm just trying to wrap my head around this issue...

I'm thinking we could update this page with the instructions for adding your own templates/template index? https://www.eclipse.org/codewind/mdt-vsc-usingadifferenttemplate.html

New section title: Adding your own Codewind templates
New section brief description: Create your own template to use Codewind with the framework of your choice.

1. Cre

[2019-10-22 20:40] tetchel commented on #777
i think it happens if repository_list.json already existed

https://github.com/eclipse/codewind/issues/718

[2019-10-22 20:41] tetchel commented on #784
`Node.js` project type is hard-coded into vs code tools, `nodejs` is the language as fetched from the project info (from the template). I would rather fix the latter because it is the one that is not correct

though the best fix would be the make the language `javascript` since that's the actual language

[2019-10-22 20:43] tetchel commented on #766
it's fixed now

[2019-10-22 20:43] #766 closed

[2019-10-22 20:59] sishida commented on #615
Just a thought: I want everyone to be able to see this list of links, so a Box Note or an attached spreadsheet probably won't be ideal. At the moment, I am leaning towards creating a wiki page in the `codewind-docs` repository. Although tables don't look the best in Markdown, perhaps a list will work...

[2019-10-22 20:59] naveenkaratekid commented on #715
**Codewind version**: 0.5.0
**OS**: VM with Windows 10

**IDE extension version**: 0.5.0
**IDE version**: 1.39.2

I am also noticing issues with Appsody Springboot default and Kotlin templates, in addition to the micro profile templates. Attached are the logs files for Codewind PFE, and the logs for the templates mentioned and a screenshot of VSCode

[appsody-SP-kotlin.log](https://github.com/ecli

[2019-10-22 21:22] malincoln commented on #715
Adding info from Andrew on workaround:
ANDREW MAK:deathstar:  41 minutes ago
It’s easily recoverable by manually building the project tho, and typically there’s no problem when things are not as busy as during a startup when 10+ projects are getting brought up at the same time

[2019-10-22 21:35] sishida commented on #708
Hi, @tetchel, Thank you for this feedback. I have created a PR for your changes: https://github.com/eclipse/codewind-docs/pull/187

Also, could you please take a look at the link in line 26? The original link didn't make a whole lot of sense to me, so I hoped to improve it, but please let me know if another link is better. Thank you!

[2019-10-22 22:00] sishida commented on #615
Created wiki page: https://github.com/eclipse/codewind-docs/wiki/List-of-links-and-files-with-similar-content

[2019-10-22 22:29] yangcao77 opened #808 "[Hyrbid local] .cw-settings file change would trigger a rebuild"
**Codewind version:** master
**OS:** Mac

**IDE extension version:** hybrid master

**Description:**
a single change to `.cw-settings` file would trigger a project rebuild/update.
From the filewatcher log, it looks like it's trying to upload all files under the project to the container with `cwctl project sync`.

logs from filewatcher:
[code]

pfe log
[code]

**Steps to reproduce:**
1. create a pr

[2019-10-23 01:37] makandre commented on #715
@naveenkaratekid Did you delete the old `<codewind-workspace>/.extension/codewind-appsody-extension`, so that a new version will be installed by PFE when it restarts?

[2019-10-23 07:59] tobespc commented on #808
So the way the syncing works is that when we are notified of a file change, any files that have been modified since the last notification will be uploaded.

[2019-10-23 08:15] stalleyj commented on #807
This problem has already been fixed, you should see output below when the path doesn't exist.

cwctl project bind -name gogo -type docker -language go -path /Users/jsp/codewind-workspace/gogo
{"error":"proj_path","error_description":"stat /Users/jsp/codewind-workspace/gogo: no such file or directory"}

[2019-10-23 08:19] jcockbain96 commented on #789
Yep, reading from template info wouldn't affect the binding from existing project scenario.

[2019-10-23 08:21] jcockbain96 commented on #777
Ok, I'll close this one as there's already discussion on that issue.

[2019-10-23 08:21] #777 closed

[2019-10-23 08:48] stalleyj commented on #803
I'll take it

[2019-10-23 08:51] deboer-tim commented on #652
FWIW, this issue was randomly mentioned to me by someone from EclipseSource last night, so others are also noticing this problem on larger monitors.

[2019-10-23 09:11] johnmcollier commented on #345
Investigated this further this week and got Prow up on IKS. Here's what's needed:
1) IKS cluster to run the tests (funding already okay'd).
   - Need to install Prow on the cluster and expose it over the clusters ingress
   - Set up Che on the cluster (with which to run the tests)
2) Github bot account (such as `codewind-test` or `codewind-bot`, or something more creative)
   - Needs to have the `

[2019-10-23 09:45] jcockbain96 commented on #739
Could I be assigned please @tobespc ?

[2019-10-23 09:51] stalleyj commented on #803
@eharris369 @tetchel This is now fixed, sorry my refactor caused this issue.https://github.com/eclipse/codewind-installer/pull/161

[2019-10-23 10:46] travis1111 commented on #652
I will take a look

[2019-10-23 10:47] jcockbain opened #810 "Document `bind`, `sync`, and `upgrade` commands in cwctl readme"
**Codewind version:** Latest
**OS:** Mac

**Description of the enhancement:**
We now offer a command to `bind` an existing local project through `cwctl`, however I cannot see any information on it in the readme for the repo (https://github.com/eclipse/codewind-installer/blob/master/README.md#project).

**Proposed solution:**
Add details for the command and its requisite flags.

[2019-10-23 10:49] jcockbain96 commented on #810
Likewise sync

[2019-10-23 10:51] travis1111 commented on #652
@sghung do we have any wide screen monitor?

[2019-10-23 12:08] cccanderson commented on #775
Is this unique to VS Code?  Or can you reproduce in Eclipse?

[2019-10-23 12:10] naveenkaratekid commented on #715
@makandre Yes, I deleted the folder after uninstalling Codewind. Maybe I missed a step. I'll try again, and let you know.

[2019-10-23 12:14] cccanderson commented on #786
If this is still occurring, is it unique to VS Code?  Or does it happen in Eclipse, too?

[2019-10-23 12:18] cccanderson commented on #792
We need to be using https: whenever possible!

[2019-10-23 13:01] micgibso commented on #715
Documented on https://github.com/eclipse/codewind-docs/pull/188/files

[2019-10-23 13:20] rajivnathan commented on #808
Is the issue that a change to a single file (in this case `.cw-settings`) causes all of the files to be uploaded again?

[2019-10-23 13:20] AndyRWatson opened #811 "add medium link to social tab on landing page"
**Codewind version:**0.4
**OS:** MACOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
In addition to youtube,twitter, github we also have a medium.com publication for codewind related blogs.   We should include this in our social links toolbar

**Proposed solution:**
add https://medium.com/codewind   link to our social too

[2019-10-23 13:38] sishida commented on #708
PR merged. Closing this issue.

[2019-10-23 13:38] #708 closed

[2019-10-23 13:51] stalleyj commented on #807
So this isn't the path issue but a 404 return from a PFE route. Need to handle this gracefully and figure out why it's occurring.

[2019-10-23 13:53] #292 closed

[2019-10-23 13:58] eharris369 commented on #803
This is fixed.  Thank you!

[2019-10-23 13:58] #803 closed

[2019-10-23 14:38] makandre opened #812 "Codewind sometimes could not determine application port"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Occasionally, I see following error in the logs:

[code]

Normally, I think Codewind will re-attempt the ping and then it could find the port. But sometimes this does not appear to happen, and the application state will be stuck in `stopped` state.

This seems to b

[2019-10-23 14:43] jopit opened #813 "Enable opening Tekton dashboard from the IDEs for a remote connection"
Once support for developing against remote kube instances is working, enable opening the Tekton dashboard for a remote connection

[2019-10-23 14:43] rajivnathan commented on #752
I think I fit the target demographic for a user of CW_TAG so thought I'd share my input as well. CW_TAG is for development purposes and is only documented under the *Developing* section on each of the vscode and eclipse repos so an end user would not have this issue. If you set `CW_TAG=latest` you're effectively telling the IDEs the image tags you want it to work with , irrespective of the version

[2019-10-23 14:44] yangcao77 commented on #808
I only modified `.cw-settings` file, but all files got uploaded.

[2019-10-23 14:45] eharris369 opened #814 "Eclipse IDE: Project validation is not working"
When adding an existing project the detection of the project type always fails.  Need to pass in the create option to cwctl for validation.

[2019-10-23 14:57] ssh24 commented on #802
Closing this as I am not able to reproduce this anymore. Will reopen if seen.

[2019-10-23 14:57] #802 closed

[2019-10-23 15:02] micgibso commented on #812
For docs, see the PR for #715 above, https://github.com/eclipse/codewind-docs/pull/188, on which the new Troubleshooting issue was created.

[2019-10-23 15:02] maysunfaisal opened #816 "Turbine Local Functional Tests Failing [Hybrid architecture]"
**Codewind version:** latest (22-10-2019)
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Turbine local func tessts are failing after hybrid architecture has been made default in the repo.

Logs at
[local-functional-test.log](https://github.com/eclipse/codewind/files/3763020/local-functional-test.log)

**Steps to reproduce:**
Run the

[2019-10-23 15:17] eharris369 opened #817 "Extension project types missing from result of project-types API"
Using the latest PFE pulled and built this morning, if I have all extension repos enabled, the result of project-types API is only showing default Codewind project types.  See attached output from templates/repositories and project-types APIs.

[repos.txt](https://github.com/eclipse/codewind/files/3763103/repos.txt)
[projectTypes.txt](https://github.com/eclipse/codewind/files/3763104/projectTypes.

[2019-10-23 15:24] maysunfaisal commented on #704
This fixes it but the PR changes has not been pushed to the latest Codewind image as of 22-10-2019 evening..

[2019-10-23 15:34] makandre commented on #808
I would also like to point out that when any file is changed and gets uploaded, it triggers Turbine's [updateProjectForNewChange](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectEventsController.ts#L49) to run.  But in this pathway we never look at the `ignorePath` that a project type defines, so even files that are meant to not trigger a build wo

[2019-10-23 15:35] tobespc commented on #307
this is really old code and almost all those tests have been re written as obsolete.  Can you pull the latest code please

[2019-10-23 15:41] tetchel commented on #779
this is fixed now because vscode was using the wrong path from portal but it has been corrected

[2019-10-23 15:41] #779 closed

[2019-10-23 16:12] makandre opened #818 "Remote: ignorePath is bypassed"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

In the new remote architecture:

- When a file is changed, it is uploaded from host filesystem to PFE
- At the end of the upload, file change events are [sent to Turbine](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.rout

[2019-10-23 16:29] makandre opened #819 "Remote: project remains in PFE after user deletes their project"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Now that `codewind-workspace` is no longer mounted between the user's filesystem and PFE container, when the user deletes their local project, the copy inside PFE will still remain.

~This however does not appear to interfere with user's ability to create another p

[2019-10-23 16:43] makandre commented on #819
Correction: it does affect recreation of a project with the same name.  The new project is getting uploaded to a subdirectory under the first directory:

![image](https://user-images.githubusercontent.com/17596240/67415259-b0b20d80-f592-11e9-8995-23be2e5a7224.png)

[2019-10-23 17:06] mmulholl commented on #752
personally, I don't understand the objection, I uninstall codewind from eclipse, install from the 0.5.0 latest download, and eclipse tells me 0.5.0 is installed, but 0.5.0 is not installed at all, under the covers codewind installer has installed something completely different. Not sure how that can be WAD.

[2019-10-23 17:17] #814 closed

[2019-10-23 17:48] rtaniwa commented on #752
My two cents if I am understanding this all correctly. I think what folks are saying is if you choose to over-ride using CW_TAG, then it is up to you to manage the tag usage and the impact it has on your environment. That variable specifically allows you to over-ride the images and use something other than what was expected via the install. So in that case, a mismatch is more or less expected. Wha

[2019-10-23 17:55] naveenkaratekid opened #821 "SVT: ODO Projects failing to build in Che Workspace"
**Codewind version: 0.5.0**
**OS: RHEL**
**Che version: 7.2**
**IDE extension version: 0.5.0**
**IDE version: 7.1**

**Description:**
ODO templates for Python, NodeJS, and Perl are failing to build.

**Steps to reproduce:**
1. Create new ODO project.
2. Look at the project build status

Python log file:
[code]
<img width="1502" alt="Screen Shot 2019-10-23 at 1 43 42 PM" src="https://user-images.gi

[2019-10-23 17:57] makandre commented on #819
The nested dirs would be fixed by https://github.com/eclipse/codewind/pull/820.  However the old project contents will be merged with the new project contents as long as the old dir is not deleted.

[2019-10-23 18:01] GeekArthur commented on #821
From your log, issue is you have danging project directory includes .odo folder, that blocks you create new project, you can remove the dangling directory then create project again

[2019-10-23 18:02] GeekArthur commented on #821
This is the real error: `this directory already contains a component`

[2019-10-23 18:08] tetchel commented on #770
this is fixed in vs code, we are doing the sync now

[2019-10-23 18:13] tetchel commented on #560
@markcor11 your thoughts?

[2019-10-23 18:21] jgwest commented on #818
It seems like there are 3 different places that we may need filter rules to apply:
- A) **Filewatcher change notification filter rules** (current): This is what we currently have; filewatcherd will watch a directory, and trigger on file changes, but will ignore changes that match one of the ignore rules. Example: Maven's `/target` would be filtered out by `*/target*`
- B) **Cwctl project sync uplo

[2019-10-23 18:48] makandre commented on #817
Appsody not showing is possible due to us switching to getting appsody extension from eclipse downloads now, however there's a bug where the bits are getting installed to the wrong place

[2019-10-23 19:09] eharris369 opened #822 "Hybrid: use kubectl command to open a shell in the application container"
So far we have avoided the need to use kubectl in the IDEs so it makes sense to have a command in cwctl that the IDEs can call to set this up.

[2019-10-23 19:10] yangcao77 commented on #818
Is that possible for `cwctl project sync` to only upload changed files received from filewatcher? so it won't need another filter, and we reduce the amount of files required to be uploaded.

[2019-10-23 19:23] jgwest commented on #818
@yangcao77 Unfortunately not: the file watcher uses 3rd-party libraries that interface with the operating system (fsnotify et al) to receive file change notifications, and I have previously found these libraries to not reliably detect ALL file/directories changes in high-throughput situations.

Thus the `cwctl project sync` does its own scan of the file system for changed files, and synchronizes b

[2019-10-23 19:30] jopit opened #823 "Open Container Shell fails if user sets 'git bash' as default shell in vscode"
**Codewind version:** 0.4.0
**OS:** Windows

Reported by a Windows user who has Git Bash set as their default shell in vscode

I am going through the "Kabanero Developer Experience - Getting Started" instructions on Windows - have gotten to the codewind development section, specifically to the point of adding new code to the sample app and forcing a code rebuild etc (here: https://github.com/gchar

[2019-10-23 19:53] tetchel commented on #823
we can try [this](https://github.com/moby/moby/issues/24029#issuecomment-250412919)

[2019-10-23 20:17] sishida commented on #615
Because we have the wiki page, I am closing this issue.

[2019-10-23 20:17] #615 closed

[2019-10-23 20:25] maysunfaisal commented on #666
FYI this only happens on pure Kube, where there is no Filewatcher. In Che, Filewatcher is running in the Sidecar and is not an issue

[2019-10-23 20:27] tetchel commented on #666
well, there is a filewatcher, but it's not watching that file, because there's no more workspace

[2019-10-23 20:32] eharris369 opened #824 "Eclipse IDE: Can't create connection to local kube"
A remote connection cannot be created to a local kube with PFE running because the code is expecting workspace_location field in the result of api/v1/environment.  Remove the dependency on this field.

[2019-10-23 20:32] sujeilyfonseca opened #825 "[odo] SVT: EACCES: permission denied, unlink configuration file"
**Codewind version:** [0.5.0 ](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** EACCES: permission denied, unlink configuration file with ODO Python and ODO Perl. This is an intermittent error, so it could not be reproduced all

[2019-10-23 20:36] maysunfaisal opened #826 "Hybrid Local Remote Sync"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

When I create a remote connection to Codewind from my local IDE; my projects are going to reside in my local machine and will be synced to the remote Codewind, which is all fine.

what happens if my remote Codewind has

- a project of the same name
- other pr

[2019-10-23 20:36] maysunfaisal commented on #826
cc: @tetchel

[2019-10-23 20:37] maysunfaisal commented on #826
@tobespc a few questions about Hybrid..

[2019-10-23 20:38] tetchel commented on #826
afaik the syncing is one way only, I think it would be quite separate to "pull" a project from remote to local.

[2019-10-23 20:39] jagraj opened #827 "SVT:ODO projects failed to build in my cluster - (Build Failed - Creating image for build failed)"
**Codewind version:** 0.5.0
**OS:** RHEL

**Che version:** 7.2
**IDE extension version:** 0.5.0
**IDE version:** Theia - 7.1
**Kubernetes cluster:** OKD

Storage - GlusterFS

Other services which are running on my cluster.

[code]

**Description:**
When I try to create project from my OKD cluster i get into following issue. Here is the log.
I am able to deploy the application outside of codewind f

[2019-10-23 20:42] sujeilyfonseca opened #828 "[odo] SVT: Timeout error with 'deploymentconfig' selector"
**Codewind version:** [0.5.0 ](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** There are some timeout errors with the 'deployconfig' selector after creating ODO projects. This is an intermittent error, so it could not be repro

[2019-10-23 20:45] ssh24 commented on #826
I think projects with the same name will still collide since the projects are still stored in `/codewind-workspace` in PFE container.

[2019-10-23 20:47] tetchel commented on #826
`bind` command blocks it;
`{"error":"proj_response","error_description":"project name is already in use"}`

[2019-10-23 20:53] sujeilyfonseca opened #829 "SVT: [ODO] User must ensure that there is a persistent volume available for each project that will be created"
**Codewind version:** [0.5.0 ](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.5.0/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** User must ensure that there is a persistent volume available for each project that will be created. Therefore, we must include this information in

[2019-10-23 20:54] ssh24 commented on #682
@rajivnathan With #681 this should also be fixed. You can assign me to it

[2019-10-23 20:55] tetchel opened #830 "cwctl bind needs to provide json output in success case"
The commands the IDE uses have to give JSON output, but it looks like `bind` has json output only in the error case, and rejects the `-j` flag.

Every command which the IDEs consume should accept `-j`, have a `success` status, and an `error` string if the status is not `OK` and/or the exit code is not 0.

[code]

the output should minimally be
[code]

it could have an array of uploaded files too (

[2019-10-23 20:56] tetchel commented on #767
blocked by https://github.com/eclipse/codewind/issues/830

[2019-10-23 21:08] rajivnathan opened #831 "Return unknown status when a project is being built for the first time"
Parent issue: https://github.com/eclipse/codewind/issues/159

**Description of the enhancement:**

Turbine changes required to improve status representation next to projects

**Proposed solution:**

See https://github.com/eclipse/codewind/issues/159#issuecomment-538069212

[2019-10-23 21:16] yangcao77 opened #832 "[local hybrid] portal error spamming the log"
**Codewind version:** master
**OS:** mac

**Che version:**
**IDE extension version:** master
**IDE version:**
**Kubernetes cluster:**

**Description:**
Seeing this portal error spamming the log.
looks like portal trying to set header after the res has been sent.
[code]

**Steps to reproduce:**

**Workaround:**

[2019-10-23 21:27] tetchel commented on #793
tagged with portal since it's a problem with the template nodejs project

[2019-10-23 21:31] yangcao77 opened #833 "[Hybrid] Unable to create project on Che from VSCode"
**Codewind version:** master
**OS:** Mac

**Che version:** 7.2.0
**IDE extension version:** master
**IDE version:**
**Kubernetes cluster:**

**Description:**

Unable to create project on che from vscode ide

![image](https://user-images.githubusercontent.com/22285490/67435815-fb478000-f5ba-11e9-84dc-1a4903c5c0e0.png)

[code]

**Steps to reproduce:**

**Workaround:**

[2019-10-23 21:32] yangcao77 commented on #833
@tetchel Not sure if creating project on che from vscode is supported yet.

[2019-10-23 21:34] tetchel commented on #833
#767

[2019-10-23 21:34] #833 closed

[2019-10-23 21:35] tetchel commented on #833
it was supported, but then the remote bind apis were removed, and now we can't create until cwctl bind supports `--depid` option

[2019-10-23 21:35] tetchel commented on #767
also blocked by `bind` not accepting a deployment ID

[2019-10-23 21:39] yangcao77 commented on #831
can assign this to me

[2019-10-24 06:11] GeekArthur commented on #821
@mmulholl This one is not stopship, please remove the stopship label. We already guided @naveenkaratekid to make his build work in the meeting with SVT folks, issue is he didn't pull the latest RBAC yaml files to apply for adding additional rules to access OpenShift resource for ODO.

[2019-10-24 06:19] GeekArthur commented on #821
Given the step has been documented before here: https://github.com/eclipse/codewind-odo-extension#add-additional-rules-to-support-codewind-odo-extension, and will be published to landing page through this PR: https://github.com/eclipse/codewind-docs/pull/180, think we can close this issue.

[2019-10-24 06:21] jgwest commented on #818
Related: https://github.com/eclipse/codewind/issues/750

[2019-10-24 07:13] tobespc commented on #665
The docs in that link are not valid anymore with the work Mark has done, rather than go through tech topics lets just have a chat when you get in to sort this out

[2019-10-24 08:00] tobespc commented on #822
so to clarify what is needed here is you want cwctl  to wrap running 'kubctl exec -it podID bash' ?
how you will you invoke this ?  Will you run up a terminal, execute this command in the terminal so that the shell appears there ?

[2019-10-24 08:01] tobespc commented on #770
The proposed solution above may not be the best solution- apologies @tetchel  if you spent a long time on this.

If the filewatcherd tells cwctl of a file change (regardless of the state of autobuild), then we will sync that up to pfe.  What we need to do in pfe is not build if autobuild is off and then add a new cwcrl project build command

[2019-10-24 08:03] micgibso commented on #559
@sishida I'll take this please.

[2019-10-24 08:13] tobespc commented on #826
bind command does block it (went in yesterday) but we do need to figure out how to handle duplicate project names.

Sync is only one way - files get written by the IDE, they get synced into the PFE container and then further synced in to the build/run container

[2019-10-24 08:26] tobespc opened #834 "Level set on how we expect the cwctl to behave and be used"
At some point, the cwctl will be made production ready . We are not at this point yet

Current status -

The main driver of cwctl (from a users perspective) is still via the IDE's.  A codewind user does not need to know about the cli (ignoring the upcoming security stuff in this comment)

The IDE's call cwctl to trigger actions.  cwctl should return a yes/no on the action completing but any furthe

[2019-10-24 09:36] james-wallis opened #835 "Add an ignoredPaths API to PFE and remove hard coded list from CLI"
**Codewind version:** Master

**Description of the enhancement:**

Issue https://github.com/eclipse/codewind/issues/750 and PR https://github.com/eclipse/codewind-installer/pull/162 added functionality to ignore large unneeded folders such as `node_modules` to improve the time it took to add the users files into PFE.

The solution includes a hardcoded list and work should be completed to make it d

[2019-10-24 09:37] james-wallis commented on #818
The work for #750 has been completed and a PR accepted. Further work for dynamic lists / using a PFE API is in a new issue: https://github.com/eclipse/codewind/issues/835

[2019-10-24 09:37] #750 closed

[2019-10-24 09:49] james-wallis commented on #832
@tobespc assign please

[2019-10-24 09:53] stalleyj commented on #807
I've added error handling to bind so we should get a sensible message back if either PFE isn't running or the API that cwctl calls isn't present.

[2019-10-24 10:45] NikCanvin opened #836 "Node.js app fails when Node.js version > 8, due to appmetrics compatibility"
**Codewind version:** 0.4.0
**OS:** MacOs

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I'm trying to do this: https://github.ibm.com/dev-ex/devAdvocacy/issues/147
Been chatting to Toby about this issue.
Appmetrics is hardcoded to 4.0.1, when using Express Node.js template
But even when I force appmetrics up to 5.0.5 (which should support u

[2019-10-24 11:41] eharris369 commented on #822
Yes, that is what we are looking for and the command will be executed in a terminal.

[2019-10-24 12:49] josephca commented on #139
FYI, only Jenkins builds can upload files (i.e. test reports) to **download.eclipse.org**. Eclipse doesn't share the credentials.

[2019-10-24 12:51] rajivnathan commented on #159
Turbine work to be done in https://github.com/eclipse/codewind/issues/831

[2019-10-24 12:57] makandre commented on #818
It sounds like #750/#835 is meant to address what files should or should not be synced to PFE.

However, this issue is for when files that are synced to PFE, they should not trigger a build if they are on the project type's `ignorePath`

[2019-10-24 13:13] jopit commented on #834
- Return same data as current REST APIs
- Return human-readable output unless JSON requested via -j flag

- Look into glog for logging.

Questions to be resolved
- How to handle stdout/stderr -- what kind of output should go to which stream?
- Best way to document the cwctl API?

[2019-10-24 13:22] sishida commented on #829
ID will defer this update for a refresh early next week if we can't complete it today.

To consider: How does a user configure a persistent volume? The only mention of persistent volume in our docs so far is in https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-che-roks.md.

[2019-10-24 13:33] tetchel commented on #830
also `sync`

[2019-10-24 13:38] jopit commented on #666
- IDE calls new command on cli
- Command on cli will update registry which will POST to PFE
- PFE will save the file to the settings.json
- Keep Che with current architecture?
  - Keep it at least for 0.6.0
  - TODO: decide if we want to keep file-watcher on Che

[2019-10-24 14:00] jopit commented on #665
TODO: iterative-dev to investigate if this could be done in PFE upon POST /registry.

[2019-10-24 14:45] tobespc commented on #767
we don't need a deployment id - we are going to take care of that @tetchel

[2019-10-24 14:47] tetchel commented on #767
What do you mean, then how does it know which Codewind instance to bind the new project to

[2019-10-24 14:48] jopit opened #839 "IDE support for Kube"
This scenario involves developing locally in the IDE but building and running the application in a kube cluster. We have been calling this hybrid, but hybrid is not a good "official" name for this capability, no-one will understand it without an explanation and without an explanation people may think its something to do with could developing specifically for Hybrid Cloud.

See this design issue fo

[2019-10-24 14:55] #821 closed

[2019-10-24 14:56] maysunfaisal opened #840 "Turbine Functional Test deployment registry error"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
[code]

seems to be failing with devfile:
`DEFAULT_DEVFILE="https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml"`

**Steps to reproduce:**

**Workaround:**

[2019-10-24 15:12] james-wallis commented on #830
@tobespc please assign me

[2019-10-24 15:14] GeekArthur commented on #828
This could be a timing due to performance on vLaunch VMs recently,  `deploymentconfig` label is added by odo build engine instead Codewind, if the label can not be added within 4 mins then we will hit this issue.

[2019-10-24 15:25] makandre opened #841 "IDEs should use CLI for template repo management"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

IDEs should use the CLI's template repo management commands:

[code]

**Proposed solution:**

[2019-10-24 15:27] makandre commented on #564
For the proposal above IDEs need to call CLI for template repos management, which is tracked by #841

[2019-10-24 15:32] makandre commented on #779
Files maybe removed from local disk now but the project files still lives in PFE's volume.  #819 tracks that problem.

[2019-10-24 15:34] jopit opened #842 "Replace all REST API calls with calls to cwctl"
The end goal for the cwctl is to have it call the API's for everthing and just have the IDEs call cwctl.   However, we are some ways off this for now so will need to scope the amount of work required and chip away at them

[2019-10-24 15:43] sishida opened #843 "Correcting installoncloud.md"
(DONE) 0.5.0 refresh:
1️⃣(@GeekArthur) Beginning with https://github.com/eclipse/codewind-docs/pull/180, we are missing some content. We need to add it back in and edit accordingly.
- We should also maintain the single code block as mentioned in https://github.com/eclipse/codewind/issues/708, and we also need to fix the link so it no longer connects to codewind.dev. See https://github.com/eclipse/

[2019-10-24 16:15] jgwest opened #844 "Switch Filewatcherd to use absolute time (not relative time) when calling cwctl project sync"
Filewatcherd is currently using relative time across all three filewatchers, but cwctl would like absolute time (in Unix epoch msecs) instead and I am happy to oblige.

[2019-10-24 16:41] sishida commented on #829
Update Troubleshooting "Creating a new project" section.

The Problem: You cannot create a project if a PV is unavailable.

Workaround: Check to ensure that a persistent volume is available for each project that you want to create. Run the `kubectl get pv` command.

[2019-10-24 16:43] GeekArthur commented on #843
Please assign to me.

[2019-10-24 17:03] rajivnathan opened #845 "Investigate dynamic registry setup"
**Description of the enhancement:**

Related to https://github.com/eclipse/codewind/issues/665

This issue will be used to investigate whether we can set the deployment registry without needing to redeploy PFE.

[2019-10-24 17:07] maysunfaisal commented on #845
I can take a look at this

[2019-10-24 17:13] rajivnathan commented on #808
Believe this one's portal? FYI @tobespc

[2019-10-24 17:21] GeekArthur commented on #758
Please assign this to me, this will be fixed by this PR: https://github.com/eclipse/codewind/pull/815.

[2019-10-24 17:28] jopit commented on #491
Does the 'upgrade' command do the right thing for Appsody projects, which still need to be in a location that is mounted into the container?

[2019-10-24 17:35] maysunfaisal commented on #704
So this is still an issue:

[code]

Apparently `The watch list: {"projects":[{"pathToMonitor":"/codewind-workspace/.config","projectID":"e953a26318cec2fdfa2e81003c86db73","ignoredPaths":[],"projectWatchStateId":"2d3a4bb865a23d2a536587e3237572e4","type":"non-project"}]}` is not working. So even though IDE is now able to right to the file after user inputs data through Theia; PFE is never notified o

[2019-10-24 17:36] jopit opened #846 "Workspace migration for 0.6.0"
The new 'remote architecture', which lifts the requirement that user's projects be in the ~/codewind-workspace folder (except for Appsody projects), also requires a migration step in order to preserve Codewind's knowledge of projects created with prior versions.

The cwctl has been enhanced with an 'upgrade' command to do this, see: https://github.com/eclipse/codewind/issues/491

When we prompt th

[2019-10-24 17:48] tetchel commented on #830
Also the error cases of the `templates repos` commands

[2019-10-24 18:12] maysunfaisal commented on #704
I think I may have narrowed down the issue:

1. when File watcher calls GET for watchlist; we return with the wrong path ie with `/codewind-workspace` instead of `/projects`
2. Filewatcher cannot put watch status because Filewatcher cannot find the file with that path in the SC

[2019-10-24 18:16] jopit commented on #807
When I now run with the latest cwct, I get the following:
[code]
which is better than a panic.  But I still don't know why the call is failing.  Am I doing something wrong or is there a bug in PFE?

[2019-10-24 18:17] tetchel opened #847 "Templates repos commands are missing fields"
repository_list contents:
[code]

cli output from `templates repos list`
[code]

`enabled`, `protected`, and `projectStyles` are missing

[2019-10-24 18:17] tetchel commented on #841
https://github.com/eclipse/codewind/issues/847

[2019-10-24 18:21] makandre opened #848 "Give template repo unique ID"
**Codewind version:** 0.5.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Currently template repo uniqueness is based on its URL.  But in some case it is useful to have unique ID (e.g. when integrating with other technologies that require unique ID or name)

Can we give template repos unique IDs?

**Proposed solu

[2019-10-24 18:23] makandre commented on #841
FYI, as part of #564 `cwctl templates repo remove` will require name to be passed to it as well.

[2019-10-24 18:40] markcor11 commented on #560
Having a Kube config is only required when deploying Codewind Remote into Kube.  Once  deployed, the expected interaction with Codewind remote (from either the CLI,  IDEs, curl) will be via the new codewind-gatekeeper ingress instead of the old workspace-ingress (which will be removed).

We don't expect "developers" using Codewind to install Kubectl or oc, or have to worry about Kube namespaces or

[2019-10-24 18:50] mmulholl commented on #752
So in my opinion the CW_TAG thing is totally flawed:

Want to run latest of 0.5.0 - tell eclipse to install from here : https://download.eclipse.org/codewind/codewind-eclipse/0.5.0/latest/repository/ but don't set the tag.

Want to run latest of master, tell eclipse to install from here: https://download.eclipse.org/codewind/codewind-eclipse/master/latest/repository/ but you need the tag.

Why can

[2019-10-24 19:07] yangcao77 commented on #832
Verified not seeing this issue any more with the latest master code.

[2019-10-24 19:07] #832 closed

[2019-10-24 19:08] rajivnathan commented on #682
Closing as this is a subset of #681

[2019-10-24 19:08] #682 closed

[2019-10-24 19:12] maysunfaisal commented on #783
Saw this yesterday on project create for a Go Project thru VS Code

[2019-10-24 19:23] tetchel commented on #847
at the same time, maybe we could change `--URL` to `--url` for consistency with `create`

[2019-10-24 19:30] GeekArthur commented on #825
The issue is `odo delete` is failed for some reason during the resources (eg. service, route, pvc) deletion process, then dangling `config.yaml` won't be deleted by non-root theia editor since `config.yaml` is generated by PFE which uses root as user.

[2019-10-24 19:32] GeekArthur commented on #827
Investigate this with this issue: https://github.com/eclipse/codewind/issues/710 together, both issues are from Jag's cluster.

[2019-10-24 19:33] jopit commented on #807
If I start pfe using `./run.sh`, bind works.  If I shut down the containers, delete the codewind docker volume, and start pfe using `./cwctl start -t latest`, bind fails even though it's using the images created by run.sh.

So the run.sh script itself must be doing something different from cwctl when it starts the containers.

[2019-10-24 19:46] yangcao77 commented on #826
In latest master built from today, I saw portal log the error saying the directory already exist, but it still sync the project to container and send creation request to Turbine.
[code]

To reproduce:
1. create a project
2. delete the project, and DO NOT delete the project directory.
3. exec into the container, open workspace, delete the Dockerfile of the project
4. create a project with the same

[2019-10-24 19:56] jopit commented on #155
We'll need icons for Eclipse as well.  Since Eclipse doesn't support separate icons for dark and light themes, we'll need icons that work in both.  If you provide .svg files for the Eclipse icons, I can generate the required .png files for both normal and high-DPI displays.

[2019-10-24 20:00] jgwest commented on #844
All watchers updated.

[2019-10-24 20:06] yangcao77 commented on #783
With the latest master branch, the re-import issue does not exist any more.
For the initial issue that a valid project failed with validation error, portal should not trigger the validation until the sync is done/ the project is ready to be validated.

[2019-10-24 20:11] rajivnathan commented on #783
@james-wallis Sounds like the fix is for portal not to trigger validation until sync is complete.

[2019-10-24 20:27] tetchel commented on #770
so, i should remove the manual call to `sync` when user clicks build?

[2019-10-24 20:30] tetchel commented on #830
added some more detail to issue description

[2019-10-24 20:44] #757 closed

[2019-10-24 20:44] #758 closed

[2019-10-24 20:48] eharris369 commented on #817
This is working now.

[2019-10-24 20:48] #817 closed

[2019-10-24 21:02] sishida opened #852 "Correcting news info for docs pages"
- DONE: Correct the 0.5.0 news page date. The actual GA date was Oct. 24th, 2019.
- DONE: Correct the versioning: 0.50 is not the same as 0.5.0!
- DONE: Update news page metadata so that titles, etc. are consistent.
- DONE: Change the 0.5.0 news page so that "Automatically import projects from other workspaces into the Eclipse workspace." is removed. In its place put, "Add existing projects to Cod

[2019-10-24 21:39] tetchel commented on #765
I see new projects go through these states:

Disabled -> (syncing) -> (upload complete) -> Starting (build succeeded) -> Started

There's no Building step, and the Disabled status is highly confusing to the user.
@jgwest suggested adding an 'initial sync' step to fill the gap, which should likely be a build status. the app status should stay 'unknown' at first, since that status is hidden in the I

[2019-10-24 22:38] rajivnathan commented on #831
Looks like this change is causing the build step to be skipped. If I revert the change I get the build status back. Sounds like something is missing in the current logic.

[2019-10-25 00:01] maysunfaisal commented on #704
I have identified the issue, I will open a PR when I get in tomorrow morning

PR  will
- fix the above issue
- disable filewatching on /codewind-workspace/.config/settings.json as identified in https://github.com/eclipse/codewind/issues/666 😈

[2019-10-25 09:53] james-wallis commented on #640
@ssh24 could this issue be closed as the fix is in and its verified?

[2019-10-25 10:07] tobespc commented on #830
This should be a new work item to cover all error cases

[2019-10-25 10:13] tobespc opened #855 "Ensure cwctl errors are handled correctly and inline with how appsody and kubectl handle errors"
The error handling within the cwctl currently does a lot of 'panics'.  Need to make sure we handle these conditions better

[2019-10-25 10:39] james-wallis commented on #830
About to put a PR up which would default to printing the following into the terminal. A further PR would follow enabling a global `--json` flag into the CLI and if it isn't specified the JSON response will be printed in a more readable format.

For `bind`
[code]

For `sync`
[code]

[2019-10-25 10:42] james-wallis commented on #830
@tetchel using a global flag will mean that the CLI command will be `cwctl --json project bind -l nodejs -t nodejs -p ~/codewind-workspace/anothernodeapp -n finalapp12`.

FYI I'll be changing the `status` and `install` commands to use the global `--json` flag but for the moment they will work as normal until the plugins change to use the global. I'm happy to do the work for the plugins to change t

[2019-10-25 10:57] jgwest commented on #652
@travis1111 On Firefox or Chrome, load codewind.dev and just hit `CTRL-Minus` (or the Mac equivalent)  until the text and screenshot are behind the buildings.

[2019-10-25 11:57] tobespc commented on #491
not sure for appsody, it should work as we are not actually moving any source code around, just rebinding it

[2019-10-25 12:35] tobespc commented on #822
I think we should stage the delivery for this.

- Add the shell command to the cwctl but assume all things like context, security, kube is all pre req

- Enhance the cwctl to take care of setting the context etc

[2019-10-25 12:38] tobespc commented on #826
I'm going to open separate issues for items in here

[2019-10-25 12:39] tobespc opened #856 "Unbinding/removing project does not clear up the project in the pfe container"
when you unbind a project, it doesn't get removed from the 'codewind-workspace/proj' folder inside pfe.   Need to add this step to do deletion

[2019-10-25 12:42] tobespc opened #857 "Cannot create projects with same names but different localpath"
In pfe, when we store projects in the workspace volume, we just use the name of the project without any unique value.   This means, if a user binds 2 projects with the same name but 2 completely difference local disk locations, we overwrite the existing project.   Should change this to create directories based on project ID

[2019-10-25 12:43] tobespc commented on #826
closing as raised separate issues to address the questions

[2019-10-25 12:43] #826 closed

[2019-10-25 12:48] tobespc commented on #836
This can be fixed by making sure the node_modules is deleted so forcing a rebuild of the image.   This is fixed in the latest version of codewind

[2019-10-25 12:48] #836 closed

[2019-10-25 12:51] #774 closed

[2019-10-25 12:51] tobespc commented on #807
this should now be fixed by the change Julie put in

[2019-10-25 13:11] jopit opened #858 "Create 'Create Connection' wizard/web-view"
Based on the design provided by Design, we need to implement a web view in vscode to create a connection and set up the docker registry for a remote kube instance.  We also need a wizard in eclipse to do the same thing.

[2019-10-25 13:17] vrushaliinamdar commented on #307
@tobespc I have taken the latest code and started working on it.
It seems for pfe, it is now using version 1.11.2 for buildah. For ppc64le, buildah 1.11.1 rpm is available but needs some additional dependencies to be installed. However, the version 1.9.0 doesnt need these dependencies. Hence, currently I am using version 1.9.0 of Buildah.

I will update you on my findings, soon.

[2019-10-25 13:19] #769 closed

[2019-10-25 13:19] tobespc commented on #769
done

[2019-10-25 13:19] tobespc commented on #770
yes please Tim, will give you a new cwctl to call shortly

[2019-10-25 13:30] jopit commented on #807
It's now working, thanks.

[2019-10-25 13:30] #807 closed

[2019-10-25 14:22] jopit opened #859 "HTTP error 413 when binding existing microprofile project (remote architecture)"
**Codewind version:** latest
**OS:** macOS Catalina

Tried to bind an existing microprofile project (created with 0.4.0) via the eclipse plugin, got a 413 error
[code]

[2019-10-25 14:22] a-roberts opened #860 "Document Vscode requirement (1.26.x too low)"
While looking to triage https://github.com/tektoncd/dashboard/issues/646 I tried to install Codewind 0.5.0 onto my Mac running the latest version of Mojave. I had version 1.26.1 and noticed this (isn't really a bug by the way)

[code]

I then installed the latest stable vscode (1.39.2). Spoke with @tobespc about this in person, would be useful to:

a) build against the oldest version possible for

[2019-10-25 14:24] tobespc opened #861 "Rename deployment to be connection (deployment is confusing)"
Rename the use of deployment (meaning location of pfe) to be connection.   This will require changing cwctl, pfe, docs

This is to clear up confusion over appsody deploy, deploying apps in cloud etc

[2019-10-25 14:29] tetchel commented on #860
Our minimum version is **1.28.0** which is from September 2018. I didn't expect anyone to be on such an old version because VS Code autoupdates 😅.

But you're right that we should doc this.

[2019-10-25 14:50] NikCanvin commented on #836
yeah - I can workaround this issue (until 0.6.0 comes along), as Toby says, a manual flushing of node_modules in the app container

[2019-10-25 14:52] tetchel commented on #861
At the same time, can we make this consistent? I prefer "active" to "target"

![image](https://user-images.githubusercontent.com/8888438/67581161-8d639b80-f715-11e9-8019-d5dfd663e6b6.png)

[2019-10-25 14:57] jopit opened #862 "Project name inconsistent between codewind and eclipse"
**Codewind version:** latest
**OS:** macOS Catalina

I entered the following in the create project wizard. It created a project which was imported into eclipse with the name 'project', but in the codewind view, the project is called 'liberty2'

<img width="373" alt="Screen Shot 2019-10-25 at 10 31 10 AM" src="https://user-images.githubusercontent.com/29612372/67580662-b2a3da00-f714-11e9-8797-15d2e

[2019-10-25 14:57] rajivnathan commented on #831
After looking into this further the build status is being sent to the IDEs. The only difference now is the appStatus: Stopped is no longer being sent on initial project creation.

[2019-10-25 15:02] sishida commented on #829
Hi, @jingfuwang, This troubleshooting info now appears on the website: https://www.eclipse.org/codewind/troubleshooting.html#project-creation-fails-if-a-persistent-volume-pv-is-unavailable
Is this issue good to close now? 😃

[2019-10-25 15:04] yangcao77 commented on #783
I'm seeing this issue as well for liberty project. From the logs, it looks like Turbine creation is called before the files got uploaded.
attaching the log:
[code]

[2019-10-25 15:07] sishida commented on #811
Tagging @kimholmes for design and @travis1111 for website content.

[2019-10-25 15:07] sishida commented on #797
Tagging @kimholmes for design and @travis1111 for website content.

[2019-10-25 15:07] sishida commented on #796
Tagging @kimholmes for design and @travis1111 for website content.

[2019-10-25 15:22] #831 closed

[2019-10-25 15:44] GeekArthur commented on #829
@sishida Yep, it looks good to me. @sujeilyfonseca Can you close this issue since you are the author and this issue should be due to PV is not available.

[2019-10-25 15:48] tetchel opened #863 "Codewind containers failed to start: codewind_network is ambiguous"
[code]

It looks like the CLI needs to handle the case where there are multiple `codewind_network`s.

[2019-10-25 15:52] jopit opened #864 "New microprofile project fails to build (remote architecture)"
**Codewind version:** latest
**OS:** macOS Catalina

In the Eclipse IDE, I created a new `WebSphere Liberty Microprofile®` project.  The initial build failed `[Build failed: Creating image for build failed]`

Here are the pfe logs:
[pfe.txt](https://github.com/eclipse/codewind/files/3772772/pfe.txt)

[2019-10-25 16:03] #749 closed

[2019-10-25 16:04] ssh24 opened #865 "Cannot disable appsody projects"
**Codewind version:** Master
**OS:** MacOS

**Che version:** None
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** None

**Description:**
After creating an appsody project if I try to disable the project, it cannot disable. On the IDE it is stuck on saying that project is being disabled and on the PFE logs no action of project deletion is done. It does not eventual

[2019-10-25 16:06] ssh24 commented on #864
@jopit Can't see the error with the current log setting. Can you turn on the trace level and send the log again?

To set the trace level exec into the PFE container and run:
[code]

[2019-10-25 16:11] ssh24 commented on #864
Actually the error might be because of

[code]

[2019-10-25 16:24] tetchel commented on #731
other team members have hit it so increasing priority

[2019-10-25 16:45] makandre commented on #865
I was able to disable an appsody node project.  Will try Liberty (I assume you meant the java-microprofile stack) next

<img width="849" alt="image" src="https://user-images.githubusercontent.com/17596240/67588807-03233380-f725-11e9-8c26-0187b1d18557.png">

[2019-10-25 16:48] makandre opened #866 "Support Appsody Kitura Stack"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

A new swift based stack:

https://github.com/appsody/stacks/tree/master/incubator/kitura

**Proposed solution:**

[2019-10-25 16:52] ssh24 commented on #865
Yup, the eclipse microprofile stack

[2019-10-25 17:07] #830 closed

[2019-10-25 17:13] GeekArthur commented on #864
The issue shouldn't related with `localm2cache.zip`, by design if the cache is not there build will continue from scratch (not use cache). Also the error is `Build failed: Creating image for build failed`, it failed on image build stage. localm2cache.zip is used for maven build not image build

[2019-10-25 17:21] maysunfaisal commented on #864
Just built one, I dont see any issue with my Liberty except it was disabled on creation and then went to the other status and eventually, to started

[2019-10-25 17:26] maysunfaisal opened #867 "[Remote] Local Project Update Fails"
**Codewind version:** Latest Oct 25
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:** Latest Oct 25
**Kubernetes cluster:**

**Description:**
Cannot update a Liberty proejct:

[code]

**Steps to reproduce:**
update a java file

**Workaround:**

[2019-10-25 17:27] makandre commented on #865
Now I run into this even on the node project... something's up...

[2019-10-25 17:35] maysunfaisal commented on #666
Update:

- IDE already calls POST /registry for PFE writing to file, so no need to call the cwctl cli
- I think it makes sense to remove filewatching and this is done with PR https://github.com/eclipse/codewind/pull/868 since #704 can be solved as well. This also makes logic consistent between Che and Hyrbid ie; PFE Post /registry is the only way to update the `/codewind-workspace/.config/settings

[2019-10-25 17:36] maysunfaisal commented on #704
Can someone assign this issue to me as well? I can close it once i have verified the PR merge

[2019-10-25 17:37] jopit commented on #752
Three comments

1. We could probably do some magic in the IDE builds to set the tag for which docker images to install/run based on the branch being built.  Maybe have the IDEs read the tag from a .properties or .json file that by default specifies `latest` but have the build overwrite it if on a release branch.  This also means we wouldn't need to change the tag value in the IDE source code for e

[2019-10-25 17:41] maysunfaisal commented on #704
@tetchel thx, can you also put the iterdev label for it

[2019-10-25 17:54] maysunfaisal commented on #867
Was able to reproduce it twice. Think this is stop ship as well. Dont know if it regressed this week.

[2019-10-25 18:01] jopit commented on #864
Here's the log with the trace level set
[pfe.txt](https://github.com/eclipse/codewind/files/3773197/pfe.txt)

[2019-10-25 18:02] rajivnathan commented on #611
Since the issue is with Docker assigning ports for us and there isn't much movement on the issue we're going to investigate setting ports ourselves because this applies to all project types and is likely to be a problem for anyone with newer versions of docker.

[2019-10-25 18:29] rajivnathan commented on #864
Looks like the error is due to the pom.xml missing from `/home/default/app` in the app container. Does the pom.xml exist in your pfe container? @jopit

[code]

[2019-10-25 18:30] maysunfaisal opened #869 "[Remote] Local PFE hangs onto trash ghost projects"
**Codewind version:** latest, Oct 25
**OS:** Mac

**IDE version:** latest, Oct 25

**Description:**

1. I have a PFE up and running from Codewind master with `run.sh`
2. Created some projects, in a random dir on my Mac.
3. Did a bunch of stuff with these projects but didnt delete these
4. Deleted the containers and pruned all the Docker images `docker system prune -af`
5. Confirmed `docker images

[2019-10-25 18:36] makandre opened #870 "Remote: Appsody java-microprofile project missing .appsody-config.yaml error"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Create an appsody `java-microprofile` project, I see this in `Turbine.log`:

[code]

Notes:
- I do not see this error with `nodes-express` project
- The file is clearly there in `/mounted-workspace/<projectname>/.appsody-config.yaml`
- When debugging through the co

[2019-10-25 18:41] rajivnathan commented on #752
I (and others) use `CW_TAG=latest` when we need to test against a PFE image that was built using `run.sh` (so not just images pulled by the IDE). If there are going to be any changes to the behaviour of `CW_TAG` this capability must be maintained.

[2019-10-25 18:53] makandre commented on #870
Do we need to `await cwUtils.copyProject(...)` here https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L364  (and also line [246](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L246))?

@tobespc

[2019-10-25 18:59] maysunfaisal commented on #869
**Workaround**

`docker volume ls` and delete all the volume `docker volume rm -f <vol name>`

your next `run.sh` PFE built container should not have it, however repeat OP Steps and you shall see it again.

This is a stopship

[2019-10-25 19:01] jgwest commented on #611
I don't believe this is a Docker bug. Docker can listen on the same host port, as long the host port is used by different host network interfaces. So for example (depending on networking configuration), you can listen on localhost and your external IP simultaneously, because these represent different networks from the perspective of the OS.

For example, on Linux, to reproduce,  I wrote a quick ap

[2019-10-25 19:02] maysunfaisal commented on #867
Could be the related change - https://github.com/eclipse/codewind/pull/837/files

[2019-10-25 19:10] rajivnathan commented on #611
@jgwest True, I suppose not technically a bug. But I think the issue for us is we use `127.0.0.1` intentionally so it's not reachable from outside of your local machine but when we allow Docker to decide the mapping with `-P` Docker uses the `0.0.0.0` IP by default. Not sure if we can configure that to be `127.0.0.1` somehow. If we can't then think we'd need to start setting the port mappings ours

[2019-10-25 19:18] AndyRWatson commented on #611
I also question its docker as was working for other Projects language templates but failing on node on the same machine

[2019-10-25 19:19] GeekArthur commented on #648
PR has been merged above.

[2019-10-25 19:19] #648 closed

[2019-10-25 19:20] jopit commented on #864
[code]

[2019-10-25 19:22] jopit commented on #864
For the app container
[code]

[2019-10-25 19:38] eharris369 commented on #862
Unfortunately the SmartImportJob does not provide a way to give the project a name (even the smart import wizard does not have this).  I tried calling setListener(RecursiveImportListener) on SmartImportJob but that did not work (not really what it was meant for anyway).  A workspace resource change listener could be added and the project refactored but the project would show initially with the ori

[2019-10-25 19:38] yangcao77 commented on #611
I tested with spring, it also has the same issue.
In addition, I was testing use docker cli. So codewind is not involved at all. I'm still seeing the same issue.

[2019-10-25 19:50] yangcao77 commented on #611
@rajivnathan Do we need the app url to be exposed externally? ( Is `0.0.0.0` required? )
If not, we can use `-p 127.0.0.1::$DEBUG_PORT  -p 127.0.0.1::$APP_PORT`. I would expect docker will allocate different ports since these two `-p` are with same ip.

[2019-10-25 20:01] maysunfaisal commented on #869
dup of https://github.com/eclipse/codewind/issues/819

[2019-10-25 20:08] rajivnathan commented on #611
@yangcao77 When port mapping was discussed a while ago we didn't want 0.0.0.0 by default because it'd be reachable from outside of your local machine by default. Your suggestion sounds okay to me.

[2019-10-25 20:15] jopit commented on #752
All `CW_TAG` does is override the default image version that's hard-coded into the IDEs.  The `run.sh` script tags the images it creates with `latest`.  If the build magic works, IDEs built from master by Jenkins, or self-hosted IDEs would now use `latest` by default. You would no longer have to specify `CW_TAG` to override the tag at all.

[2019-10-25 20:15] maysunfaisal commented on #819
I have seen this as well #869

Looks like the old projects goes away from the PFE container if I remove the volume `docker volume rm -f <volume>`

[2019-10-25 20:20] #869 closed

[2019-10-25 20:21] #829 closed

[2019-10-25 20:22] jopit commented on #752
To be completely accurate, any IDE built by Jenkins on a release branch would use the name of the branch as the tag (so `0.6.0` for example).  All other builds would use `latest`.

[2019-10-25 20:40] rajivnathan opened #871 "Standard news page for the latest version"
The News URL is currently https://www.eclipse.org/codewind/news05.html should we make a file that's dedicated to the latest release  eg. https://www.eclipse.org/codewind/news.html so that we can link to the latest news page in blogs, etc.?

[2019-10-25 20:47] sishida commented on #871
@travis1111 Hi, Travis, Would this issue fall into your area of expertise?

[2019-10-25 20:53] makandre commented on #564
A couple of appsody bugs that need to be fixed for this work:

https://github.com/appsody/appsody/issues/522
https://github.com/appsody/appsody/issues/523

[2019-10-25 20:54] makandre commented on #430
This is no longer valid.

[2019-10-25 20:54] #430 closed

[2019-10-25 20:55] sujeilyfonseca opened #872 "SVT: Codewind unable to access Tekton Dashboard and 403 seen on OpenShift"
**Codewind version:** 0.5.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Tekton Dashboard:** v0.2.0

**Description:** [Issue #646 from tektoncd/dashboard](https://github.com/tektoncd/dashboard/issues/646 )
With the "Install on Openshift" instructions, the Tekton Panel works outside of Codewind, but not within the Codewind workspace.

[2019-10-25 20:55] eharris369 opened #873 "Eclipse IDE: If install is canceled, Codewind gets stuck in installing state"
If the install is canceled, Codewind gets stuck in installing state.  This is because it is trying to split the progress monitor when the monitor has been canceled which throws an exception.

[2019-10-25 21:10] makandre opened #874 "Appsody stop filtering out experimental repo, instead disable it by default"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Now that we have template management and can disable repos, maybe we can now stop filtering out the experimental appsody repo, and instead disable it by default

**Proposed solution:**

[2019-10-25 21:11] makandre commented on #366
https://github.com/eclipse/codewind/issues/874 may address this

[2019-10-26 13:50] #874 closed

[2019-10-27 14:44] nastacio opened #875 "Codewind removes (?) execute permissions from files in appsody stack"
**Codewind version: 0.5.0
**OS:**
MacOS Mojave

**Che version:**
N/A

**IDE extension version:**
0.5.0

**IDE version:**
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

**Kubernetes cluster:**
N/A

**Appsody version:**
0.4.7

**Description:**
When

[2019-10-27 22:35] jcockbain96 commented on #861
https://github.com/eclipse/codewind-installer/pull/166

[2019-10-28 08:58] jcockbain96 commented on #861
We're going to remove the obsolete commands (all the target deployment stuff) in  a PR after that one, as it's already pretty massive

[2019-10-28 09:02] jcockbain96 commented on #810
bind and sync were documented as part of https://github.com/eclipse/codewind-installer/commit/aaf2dfb2d4147f6c8fbad9a882517294f893906b, upgrade still needs to be added.

[2019-10-28 09:15] stalleyj commented on #867
This should be fixed, will test.

[2019-10-28 09:15] tobespc commented on #859
Will need to check this out, did you run the upgrade script or manually try and re bind it ?

[2019-10-28 09:16] stalleyj commented on #865
I'll look at this

[2019-10-28 09:17] #848 closed

[2019-10-28 09:21] tobespc commented on #875
need to investigate this from a portal side - make sure we've not done anything crazy

[2019-10-28 09:29] tobespc commented on #727
Node is done

https://github.com/codewind-resources/nodeExpressTemplate

[2019-10-28 09:30] tobespc commented on #727
https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json

[2019-10-28 09:40] jcockbain96 commented on #861
The change to `connection` should now be complete for `cwctl`. I'm looking at pfe code too, but all references to deployment appear to be for the docker registry deployment which is separate.

[2019-10-28 09:40] tobespc commented on #458
autobuild is done

[2019-10-28 09:40] #458 closed

[2019-10-28 09:41] tobespc commented on #255
I believe this is complete as we now have cwctl

[2019-10-28 09:44] liamchampton commented on #255
@tobespc will we be leaving the rest of the checklist to remain as `codewind-installer` (repo name/links/file paths etc)?

[2019-10-28 09:55] jcockbain96 commented on #739
This has almost been completed, we are now using `projectID` to associate a project to a `depID`. We then use this `depID` to get the `depURL` from the `/doployments.json, and use this as the API host for the project.

Moving forwards, we should look at the most reusable way to call this logic. It will be called at the start of every CLI command that wraps a `project` pfe API, that gets added as p

[2019-10-28 10:05] tobespc commented on #483
closing as issues dealt with

[2019-10-28 10:05] #483 closed

[2019-10-28 10:08] tobespc commented on #129
closing as no longer an issue

[2019-10-28 10:08] #129 closed

[2019-10-28 10:09] #587 closed

[2019-10-28 10:10] tobespc commented on #28
closing as fixed in latest

[2019-10-28 10:10] #28 closed

[2019-10-28 10:13] tobespc commented on #15
this is no longer an issue on master so closing

[2019-10-28 10:13] #15 closed

[2019-10-28 10:13] tobespc commented on #23
closing as we no longer use docker in the cli

[2019-10-28 10:13] #23 closed

[2019-10-28 10:15] stalleyj opened #876 "Liberty project created in disabled state"
**Codewind version:** .
Latest code, 0.6 version on VSCode plugin

**Description:**
I created a microprofile project and it appears in disabled state. Extract from PFE log file:-

[28/10/19 10:08:18 FileWatcher.js] [ERROR] Error: project update 400 Bad request. projectID, timestamp, chunk, chunk_total and eventArray are required.
    at FileWatcher.projectFileChanged (/portal/modules/FileWatcher.j

[2019-10-28 13:02] micgibso commented on #489
@sishida Can you assign me please, I'll take a look at this one.

[2019-10-28 13:35] hanczaryk commented on #715
FYI, Jag asked that I add a comment with my experience where my spring-boot2 application get stuck reporting 'Stopped' Application Status when I attempted to 'Enable Project'.  In actuality, my app is functional and can be accessed at http://127.0.0.1:32831/sbgolf

![image](https://user-images.githubusercontent.com/30906029/67682635-3274b300-f966-11e9-9ee9-0a226d03b78b.png)

[2019-10-28 14:06] travis1111 commented on #796
I will work on it as soon as I receive the design from design team.  Thanks!

[2019-10-28 14:07] travis1111 commented on #797
Will work on this as soon as I have the design.

[2019-10-28 14:08] travis1111 commented on #811
Will work on this

[2019-10-28 14:09] travis1111 commented on #652
thanks I will try that

[2019-10-28 14:11] travis1111 commented on #871
Yes, please assign it to me

[2019-10-28 14:34] stalleyj commented on #867
@maysunfaisal Can you please retest on the latest code as this all seems to be working here.

[2019-10-28 14:42] ssh24 commented on #876
I saw this before but on a bind where portal tries to copy a lot of the files in `mc-target` or `target` dirs and take s a long time and the project is disabled in that period.

[2019-10-28 15:01] james-wallis commented on #819
@tobespc assign me please

[2019-10-28 15:13] stalleyj commented on #876
I've found the problem. We create the project in 'closed' state deliberately so that it isn't built until all files are uploaded. We change the state to 'open' before we request it to be built but do not send a socket msg, so the IDE is not notified until something comes through from Turbine.  We can fix it by adding a quick socket msg.

[2019-10-28 15:14] liamchampton opened #879 "Investigate CLI file structure best practices"
**Description of the enhancement:**
Investigation into the file structure of the CLI is needed. It is becoming large enough to become messy very easily and we need to put some real structure in place to follow. To do this we need to look at the Go documentation, best practices and other established Go projects.

[2019-10-28 15:19] liamchampton opened #880 "Investigate code structure/best practices in the CLI"
**Description of the enhancement:**
Investigate the best practices for code structure within the CLI. With more people contributing to the CLI it is important to ensure we have a structure in place to follow. This will prevent it becoming a free-for-all. Examples: global functions/structs being at the top of files and ensuring everyone has the correct IDE plugins etc.

[2019-10-28 15:24] ssh24 commented on #681
**Local checklist**

- [x] Liberty
- [x] Node.js
- [x] Spring
- [x] Swift
- [x] Generic Docker
- [x] Appsody

[2019-10-28 15:24] johnmcollier commented on #880
Are we running golint as part of the jenkins build for the CLI?

[2019-10-28 15:24] ssh24 commented on #681
**Che checklist**

- [ ] Liberty
- [ ] Node.js
- [ ] Spring
- [ ] Swift
- [ ] Generic Docker
- [ ] ODO

[2019-10-28 15:32] liamchampton commented on #880
@johnmcollier No not yet, but i certainly agree. Its something we are in the middle of discussing/investigating and how we are going to introduce it all into the project

[2019-10-28 15:45] maysunfaisal opened #881 "Enable Portal ES Linter on PFE Dockerfile build"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Portal es linter should be executed during PFE Dockerfile build

Sometiems when I make a Portal code change, I find issues with the Portal es linter in the PR Jenkins test. This could be detected much earlier if the es lint is run during dockerfi

[2019-10-28 16:11] rajivnathan commented on #752
That's not what's happening on the latest vscode builds. (Haven't tried eclipse) I have PFE running using `latest` images from run.sh. I installed the latest vscode extension from http://download.eclipse.org/codewind/codewind-vscode/master/latest/codewind.vsix and I see this:

![image](https://user-images.githubusercontent.com/20015929/67695475-86d65d80-f97b-11e9-9509-5f64dd44bc13.png)

![image](h

[2019-10-28 16:34] #870 closed

[2019-10-28 16:50] jgwest opened #882 "'Install on Cloud' doc page dev file URL references 0.4 rather than 0.5"
The [Install on Cloud](https://www.eclipse.org/codewind/installoncloud.html) doc page, under [Creating the Codewind workspace with a Devfile](https://www.eclipse.org/codewind/installoncloud.html#creating-the-codewind-workspace-with-a-devfile), asks the user to install Codewind using the 0.4 devfile URL. Since we have recently released 0.5.0, the docs should likely reference the 0.5.0 devfile:  `ht

[2019-10-28 17:25] ssh24 opened #883 "[Hybrid] Client adaptation to new log architecture"
**Description:**
As a result of the hybrid changes the log architecture will change https://github.com/eclipse/codewind/issues/681. Portal will need to adapt to the new log architecture and the new event that will be emitted.

An example of the new project emittion object:
[code]

Once, portal fixes their streaming function be able to stream from both container and workspace logs, IDE should be ab

[2019-10-28 17:47] sishida commented on #839
IDE issue for hybrid support.

[2019-10-28 17:50] sishida commented on #846
Because of remote architecture changes, users need to be able to smoothly move their workspace. Currently unclear what the design, etc. will look like. Need input from design.

Aim for simplicity because 0.6.0 is so close.

[2019-10-28 17:52] jopit commented on #858
Docs will be handled via #393

[2019-10-28 18:12] makandre opened #884 "CLI cannot reach PFE even with --insecure"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** Openshift 4.2

**Description:**

This is on Che, running from the theia container:

Calling CLI with or without `--insecure` returns null:
[code]

I noticed the line here https://github.com/eclipse/codewind-installer/blob/master/config/config.go#L26 is `http`.  I changed it to

[2019-10-28 18:16] makandre commented on #884
This issue is causing Appsody projects to be incorrectly detected as Codewind projects (because the CLI could not retrieve extensions metadata from PFE `/api/v1/extensions` API)

@tobespc @liamchampton

[2019-10-28 18:27] johnmcollier commented on #884
Couple things to note here:
1) On Che, Codewind is behind an nginx proxy and can be reached via `https://localhost:9090` from the Theia container (where the CLI is running)
2) The proxy doesn't exist for Hybrid

[2019-10-28 18:48] rajivnathan commented on #864
So it looks like the pom.xml is missing in the app container (where the maven build actually takes place). I believe this is a sync problem. @tobespc Seems to be an issue with syncing to the app container?

[2019-10-28 18:50] makandre opened #886 "codwind-theia needs to call CLI with --insecure"
**Codewind version:** 0.6.0
**OS:**

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** Openshift 4.2

**Description:**

CLI needs to be called with `--insecure` global option for any command that calls PFE apis.

But there's currently a bug, see #884

**Steps to reproduce:**

**Workaround:**

[2019-10-28 19:05] jopit commented on #666
I thought the ultimate goal was for the IDEs to do everything through the cwctl cli, so shouldn't we still provide this support in the cli?

[2019-10-28 19:12] jopit commented on #752
We haven't changed anything yet, so you still need to use the CW_TAG. The discussion above is about how we could potentially change the behaviour if we decide to do so.

[2019-10-28 19:13] jopit commented on #859
I manually tried to rebind it

[2019-10-28 19:16] makandre opened #887 "Project overview cannot be opened again after closing it on Che"
**Codewind version:** 0.6.0
**OS:**

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** Openshift 4.2

**Description:**

Browser used: Chrome

After closing a project's overview page, it cannot be opened again; neither the `i` icon or the `Open Project Overview` action works

**Steps to reproduce:**

**Workaround:**

Switch away from the workspace, e.g. go t

[2019-10-28 19:46] makandre commented on #717
Short term solution to keep a `mounted-workspace` on Codewind side is mostly done.  However we need https://github.com/appsody/appsody/issues/399 to address the controller mount

[2019-10-28 20:05] sghung opened #889 "Appsody support on kube for 0.6.0"
Ensure 0.6.0 has working appsody support

<Link to dev-ex-planning issue: https://github.ibm.com/dev-ex/dev-ex-planning/issues/982>

[2019-10-28 20:08] keithchong opened #890 "OpenAPI: Update docs for Open API for 0.6.0"
This is for:

https://github.com/eclipse/codewind/issues/79

for Maven-based projects

[2019-10-28 20:09] makandre commented on #889
There are a couple bugs we need fixed:
- https://github.com/eclipse/codewind/issues/884
- https://github.com/eclipse/codewind/issues/886

[2019-10-28 20:34] sishida commented on #843
@elsony Hi, Elson, Jingfu and I have discussed this issue. Could you please add your approval as a committer so that we can merge? Thank you!

[2019-10-28 20:58] eharris369 opened #891 "Disable debug and open container shell actions for remote connections"
Debug actions and the open container shell action should be disabled for remote connections.

[2019-10-28 21:58] maysunfaisal commented on #867
Still seems an issue, I see multiple things happening:

1. Before project is started:
[code]
[code]

2. On File update:
[code]
[code]
[code]

and some more stuff

I think Portal should not sync the target dir, not sure if that is what is causing the sync faillure. There should be some sort of ignoredFiles list like what Codewind local currently has?

[2019-10-29 09:20] micgibso commented on #659
Now published. @sishida please close.

[2019-10-29 09:48] stalleyj commented on #867
@maysunfaisal Correct, the target dir should not be being updated and the fact that it is indicates you don't have an up to date cli.

[2019-10-29 10:28] stalleyj opened #893 "VSCode plugin gets stuck in Disconnected state"
**Codewind version:**
latest code

**IDE extension version:**
latest 0.6
**IDE version:**

**Description:**

I'm running the latest plugin but starting PFE myself with run.sh and Codewind keeps getting stuck in disconnected state. There doesn't seem to be any way to get it back to being connected. The health endpoint of local PFE responds ok as to other APIs.

**Steps to reproduce:**
I'm not exact

[2019-10-29 11:14] tobespc opened #894 "VSCode does not call cwctl project bind (calls remote api directly)"
The vscode plugin is not calling cwtcl project bind which it needs to.   Added more functionality to the bind which needs to be executed.  The plugin is directly calling the api/v1/remote-bind api still

[2019-10-29 13:11] #659 closed

[2019-10-29 13:14] hhellyer commented on #611
@yangcao77 - The change looks like the right thing to do as it should mean any port we open is only accessible locally but when I ran Codewind locally after the merge I got this message:
[code]
I had to run `docker network rm codewind_network` before I could start Codewind. This might cause issues when users upgrade. (Should be cleaning up our docker network when we shutdown anyway?)

[2019-10-29 13:15] tetchel commented on #887
it's a theia bug, i have to update the latest devfile too https://github.com/eclipse/codewind/issues/670

[2019-10-29 13:20] stalleyj commented on #893
Due to the changing port each time we stop/start pfe. Fix it by refreshing the connection.

[2019-10-29 13:20] #893 closed

[2019-10-29 13:22] tetchel commented on #887
we will be updating to 7.3 shortly which should fix this

[2019-10-29 13:23] tetchel commented on #767
https://github.com/eclipse/codewind/issues/894

[2019-10-29 13:23] #767 closed

[2019-10-29 13:26] tetchel commented on #894
Blocked waiting for a way to deploy gatekeeper, because `connection add` command fails without one

[2019-10-29 13:49] maysunfaisal commented on #840
Closing this now as this seems not to be happening

[2019-10-29 13:49] #840 closed

[2019-10-29 13:52] maysunfaisal opened #896 "[Iterative-Dev] Turbine Functional Tests failing on Kube [Remote]"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Logs at
[kube-functional-test.log](https://github.com/eclipse/codewind/files/3783833/kube-functional-test.log)

**Steps to reproduce:**

**Workaround:**

[2019-10-29 14:01] #852 closed

[2019-10-29 14:17] jopit commented on #666
It's more a question for @tobespc

[2019-10-29 14:18] markcor11 commented on #489
PR to automate deployment of Codewind Remote + Keycloak + Gatekeeper https://github.com/eclipse/codewind-installer/pull/171

[2019-10-29 14:26] jopit commented on #894
Calling cwctl bind for local doesn't require the gatekeeper (at least it didn't last week)

[2019-10-29 14:27] tetchel commented on #894
i meant generally, not just local

[2019-10-29 14:29] tobespc commented on #894
you don't need to do anything differently for calling bind whether local or remote.  the cli will take care of it

[2019-10-29 14:38] tetchel commented on #883
@tobespc 👀

[2019-10-29 15:05] ssh24 opened #897 "[Remote] [Che] Cannot build ODO projects"
**Codewind version:** Master
**OS:** MacOS

**Che version:** 7.2.0
**IDE extension version:** Master
**IDE version:** Master
**Kubernetes cluster:** OKD

**Description:**
After creating an ODO project on che, the project fails to build on validation of the `Dockerfile`. This should not be happening because ODO projects don't have `Dockerfile` to begin with, so somehow the validation code is being

[2019-10-29 15:06] micgibso commented on #727
@sishida I'll look at the docs for this, thanks!

[2019-10-29 15:33] sishida commented on #712
@j-c-berger Will work on graphics.
@micgibso Has worked on text.

[2019-10-29 15:41] sishida commented on #843
@GeekArthur Hi, Jingfu, Were you planning to add any further edits/PRs to the installoncloud.md file for 0.6.0? @micgibso needs to edit installoncloud.md for some upcoming changes and can also help with this issue.

[2019-10-29 16:00] micgibso commented on #882
@sishida I'll take this one please, ta.

[2019-10-29 16:07] GeekArthur commented on #897
@lentheivendra FYI, below is the project validation for 0.5.0 without remote architecture gets in
[code]

I think either this error won’t cause the build fail before (that means the hybrid master has other errors cause the build fail, I assume you see the build is failed) or the hybrid master expose the validation code (that means the validation code doesn’t work before for OpenShift projects).

o

[2019-10-29 16:21] ssh24 commented on #865
I was able to disable an appsody project this morning. So looks like the behavior is intermittent. Don't think it is a stopship (unless we can reproduce it more often)

[2019-10-29 16:23] sishida commented on #843
Thanks for the info, @GeekArthur!

@micgibso, sounds like you can start on this work. Please let me know if you have any questions. Also please add a comment so I can assign it to you. Thank you!

[2019-10-29 16:35] markcor11 opened #900 "Enable security on bind and sync cli commands"
**Codewind version:** latest

**Description of the enhancement:**

Now that we can deploy a PFE remote into Kube, Codewind gatekeeper will block any requests to PFE which dont include a bearer token.  Until then,  Bind and Sync will be unable to complete.

**Proposed solution:**

The Bind and Sync (only two commands we have right now) need to be enabled for security.  They should present an access

[2019-10-29 17:05] lentheivendra commented on #897
Problem appears to be due to PFE thinking the project type is node.js as opposed to odo, so therefore validateRequiredFiles() fails. If the correct project type of odo was discovered, then it should go into the odo extension project type's validation codepath where the list of required files specified in the extension config is currently non-existent and this wouldn't happen.

Interestingly, this

[2019-10-29 17:24] pdestrais commented on #411
<img width="460" alt="image" src="https://user-images.githubusercontent.com/11016696/67792347-4957fa00-fa79-11e9-9927-82b13768b8e3.png">
The proble still exist with v0.5

[2019-10-29 17:24] tetchel commented on #886
@markcor11 @tobespc when, exactly, should I use `--insecure` ?

[2019-10-29 17:32] tetchel commented on #886
there was talk of migrating the theia proxy to use http instead of https... might this be the time?

[2019-10-29 17:35] johnmcollier opened #901 "[Che] Autobuild broken on master"
**Codewind version:** latest

**Che version:** 7.2.0
**IDE extension version:** latest
**Kubernetes cluster:** OCP 4.2

**Description:**
Autobuild is broken on master after the changes in https://github.com/eclipse/codewind-che-plugin/pull/93 were merged to use the codewind cli (cwctl) in the Che sidecar.

**Workaround:**
Build manually?

[2019-10-29 17:47] jopit opened #902 "Latest cwctl start fails (because of old codewind network?)"
**Codewind version:** latest
**OS:** macOS Catalina

Cwctl build date: 2019-10-29-15:40:16

[code]
and it eventually exits with error code 1

Deleting the network may fix this, but we need something that works out of the box for existing customers.

[2019-10-29 17:47] rajivnathan commented on #704
Maysun and John C confirmed this is now fixed. Closing

[2019-10-29 17:53] jopit commented on #846
We're not going ask the user if they want to migrate their workspace, we're going to do it automatically when the accept updating PFE to 0.6.0

[2019-10-29 18:00] elsony opened #903 "[Remote] Regression: IgnorePaths are ignored in the cw-settings file"
As part of https://github.com/eclipse/codewind-installer/pull/162, it uses a hardcoded list of ignorePaths in the installer.  This causes a regression in function that we are ignoring the settings in the .cw-settings file.

[2019-10-29 18:04] kimholmes commented on #155
Zip file:
[CodewindVScodeIcons.zip](https://github.com/eclipse/codewind/files/3785092/CodewindVScodeIcons.zip)

I'm unable to use the check boxes in the description, so I've copied and pasted here with what I have:

Remote Connection Settings - Gear (dark theme)(light theme)
![image](https://user-images.githubusercontent.com/21316329/67769724-5fd76480-fa2b-11e9-9004-67560e73a7ba.png)

Build Icon -

[2019-10-29 18:08] elsony commented on #372
Add doc label to describe the restriction on OCP 4 that Codewind needs to run using NFS.

[2019-10-29 18:08] ssh24 commented on #816
@rajivnathan I am looking into this. Could you please assign this to me?

[2019-10-29 18:10] elsony commented on #903
Closing since it is a dup on #835

[2019-10-29 18:11] elsony commented on #835
Add hot to this item since using a hardcoded list of ignorePaths in the installer causes regression in function that we are ignoring the settings in the .cw-settings file.

[2019-10-29 18:16] johnmcollier commented on #372
@sishida FYI, I'll work with you later this week on this. Should be a small addition to our install docs.

[2019-10-29 18:19] yangcao77 commented on #835
Turbine has ignoredPaths for each project, it can be get from`projectInfo.ignoredPaths`.
Perhaps an additional Turbine GET API need to be created to return the `projectInfo.ignoredPaths` to portal.

[2019-10-29 18:23] sishida commented on #560
Hi, team, I started trying to write up content for this issue today. To clarify...does the more recent comment from @markcor11 override the original Sept. 26th comment from @tetchel? Or do we need to provide Codewind users with both sets of info? Thanks!

[2019-10-29 18:32] tetchel commented on #560
my comments above are outdated, mark is the authority on this

[2019-10-29 18:52] sishida commented on #846
We need to move internal project metadata that Codewind keeps about projects. Projects themselves won't move. But where Codewind finds its info about the projects will move. Thus, we don't want users to be able to decline migration.

Users should have the `codewind-workspace` folder for existing projects, but `codewind-workspace` won't be a special folder like it is in 0.5.0. Projects can be anywh

[2019-10-29 19:18] jagraj opened #904 "SVT:Default Websphere liberty project failed to build with the latest remote architecture."
**Codewind version:** latest (0.6)
**OS:** WIndows

**Che version:**
**IDE extension version:** latest
**IDE version:**  eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I installed latest eclipse plugin and installed latest codewind on my Windows VM. I tried to create Websphere liberty project and it is failed to build. Please find the attached pfe.txt log for more information.

**Steps

[2019-10-29 19:38] sishida commented on #466
Update: The hybrid/remote scenario didn't go in the 0.5.0 release but is scheduled to go in with 0.6.0, the docs team will follow up about this issue after the testing of the 0.6.0 hybrid/remote scenario.

[2019-10-29 20:11] j-c-berger commented on #552
Sarah and I were working more on the templates for Appsody, Codewind, and Kabanero. Here's what we came up with. We all can discuss these more in our Plugin meeting tomorrow, Oct. 30th.

**Appsody**
Shareable technology stacks for development of cloud ready applications.

**Codewind**
Extension to develop in containers with an IDE or language of your choice.

**Kabanero**
Curated collections with

[2019-10-29 20:13] lentheivendra commented on #897
From what I can see, when in https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/FileWatcher.js#L230 the project type is incorrect, so think this is a portal issue where the installer/CLI is determining an incorrect project type on project creation, which then leads to other problems.

[2019-10-29 20:16] GeekArthur commented on #897
I can reproduce the same error that @lentheivendra saw, currently the new remote architecture uses `cwctl` to call the bind API, the issue is when user try to create new OpenShift/odo projects through IDE, `cwctl` specify the wrong project type when calling the bind API (expected project type is `odo` instead of `nodejs`). We can also verify this from the IDE below:

![Screen Shot 2019-10-29 at 4

[2019-10-29 20:21] ssh24 commented on #897
I think we can easily use the cwctl to point it to the ODO node.js type. Something like this:

[code]

[2019-10-29 20:25] rajivnathan commented on #897
@tobespc This appears to be an issue with cwctl based on @GeekArthur 's comment above https://github.com/eclipse/codewind/issues/897#issuecomment-547609731

[2019-10-29 20:34] johnmcollier opened #906 "[Che] CLI doesn't sync code changes to PFE"
**Codewind version:** latest
**Che version:** 7.2.0
**IDE extension version:** latest
**Kubernetes cluster:** OCP 4.2

**Description:**
I created a modified sidecar that deploys PFE without mounting the Che workspace PVC (it creates PFE's own volume), as required for the remote changes. However, while the initial project creation does sync the project's code to PFE, successive code changes are not

[2019-10-29 20:39] johnmcollier commented on #906
**Note:**
To test with my changes, you'll either need to use my [devfile](https://raw.githubusercontent.com/johnmcollier/devfiles/master/codewind/codewind.yaml) or build from the branch in this PR: https://github.com/eclipse/codewind-che-plugin/pull/94, as the PR still needs to be merged

[2019-10-29 20:43] maysunfaisal opened #907 "[Iterative-dev]Update Turbine Win Func Tests"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Currently we are using a cwctl installer from ages ago.

To pick up the hybrid/remote changes from the cwctl; we need to download and install a new one during every Turbine Win cronjob..

**Steps to reproduce:**

**Workaround:**

[2019-10-29 20:49] elsony commented on #904
@jagraj What are those txt files?  Are they supposed to be log files? They don't look like our regular log files. It mentioned docker image create failed. Is there any docker log or container log that you can share?

[2019-10-29 21:13] sishida commented on #889
@sghung @makandre Just so the ID team understands...this issue is just for the documenting of 2 bugs, https://github.com/eclipse/codewind/issues/884 and https://github.com/eclipse/codewind/issues/886? Or do we have more Appsody support on Kube info that we also need to document?

[2019-10-29 21:20] thisguy-1 commented on #552
It's looking better. For Codewind, however, you're describing the extension, not the project templates. All of these sources provide the same thing (plus or minus features) only that they are executed differently and optimized for different purposes.

In an ideal world we'd be able to describe these different sources like we do Cars or Computers. For example (my bad attempt at this analogy) :

COM

[2019-10-29 21:37] sishida commented on #560
---
layout: docs
title: Deploying into Codewind remote
description: Deploying into Codewind remote
keywords: build, deploy, cloud, public cloud, Kubernetes, remote, credentials
duration: 1 minute
permalink: remote_deployment.
type: document
---

# Deploying into Codewind remote
When you deploy Codewind remote into Kubernetes, you need a Kubernetes configuration. After you deploy Codewind remote, y

[2019-10-29 21:55] ssh24 opened #908 "Add/update Turbine tests for the new log architecture"
### Description

Once https://github.com/eclipse/codewind/issues/681 goes in we need to update the test automation to work with the new log architecture.

[2019-10-30 08:07] micgibso commented on #560
@sishida I'll take a look at this please.

[2019-10-30 08:15] micgibso commented on #860
@sishida I can take a look at this. Thanks.

[2019-10-30 08:45] tobespc commented on #901
We have put a fix in already to the cli to fix this (so make sure you have the latest).  But, you need to make sure that theia is calling the cwctl bind (rather than api/v1/bind) as that is the reason the build is not autobuilding.   When we bind a project, we set up a default connection.  There was a bug in the cli where it would break autobuild if this file was not found.  We have fixed that but

[2019-10-30 09:04] aifayed opened #909 "Error starting codewind"
I've installed docker and codewind plugin to eclipse and while starting codewind I get below error

There was a problem trying to start Codewind: 2019/10/30 10:58:33 CREATE_FILE_ERROR[201]: open installer-docker-compose.yaml: Access is denied..

**OS**
Windows 10

**Codewind version**
Version: 0.4.0

[2019-10-30 09:05] jgwest commented on #882
Fixed by @GeekArthur  on https://github.com/eclipse/codewind-docs/pull/200

[2019-10-30 09:05] #882 closed

[2019-10-30 09:06] stalleyj commented on #867
@maysunfaisal We do only sync the updated files from user disk to the volume.  We then also sync to the build container and it looks like the logic isn't quite right so we will investigate.

[2019-10-30 09:24] jgwest commented on #907
@maysunfaisal In case you hadn't already seen this, you can steal [cli-pull.sh from here](https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/scripts/cli-pull.sh) to automaticallly download the latest cwctl. No parameters needed, just invoke with `CW_CLI_BRANCH=master ./cli-pull.sh` (env var is optional).

[2019-10-30 09:28] mattcolegate commented on #904
I've also recreated this on my Windows laptop. I don't seem to have a .logs directory created in my workspace, so I'm attaching the log from the pfe container.

[2019-10-30 09:35] hhellyer opened #910 "Unable to start Codewind containers on Windows"
**Codewind version:**
master

**OS:**
Windows 10 Enterprise

**Description:**
The pfe container fails to start on Windows with:
[code]
This is because of the extra volume mount added here:
https://github.com/eclipse/codewind-installer/blame/master/utils/docker.go#L45

It has never been possible to get bind mounts working on the Windows 10 Enterprise boxes and this blocks us from starting codewind

[2019-10-30 09:40] mattcolegate commented on #904
[logs.txt](https://github.com/eclipse/codewind/files/3788031/logs.txt)

[2019-10-30 10:33] ebuckle commented on #789
I'll take a look into this

[2019-10-30 10:47] tobespc commented on #904
looks like when we copy files we are not using the correct directory structure on windows.  Files are copied across with a flat file structure

[2019-10-30 10:48] #903 closed

[2019-10-30 10:49] tobespc commented on #906
sync was broken due to a change going into the cli for bind without realising that the the ide's were still calling bind directly on pfe.   We have put a fix into the cli so get round this but we need all editors to be calling cwctl bind.  That will enable sync to work again (but... the latest cwctl will fix this anyway)

[2019-10-30 10:50] tobespc commented on #901
this is the same as #906

[2019-10-30 10:52] tobespc commented on #897
@ebuckle can you look at this as well please

[2019-10-30 10:53] ebuckle commented on #897
Will do

[2019-10-30 10:55] ebuckle commented on #884
Will look into this

[2019-10-30 11:04] tobespc commented on #904
this is a dupe of #864 closing

[2019-10-30 11:04] #904 closed

[2019-10-30 11:05] tobespc commented on #863
a change has just gone into the cli so that during install, all current codewind-networks get removed.

[2019-10-30 11:06] tobespc commented on #861
closing as done

[2019-10-30 11:06] #861 closed

[2019-10-30 11:31] vrushaliinamdar commented on #307
@tobespc I was able to build latest code on ppc64le using all latest versions of dependencies except buildah. For Buildah, I am still using 1.9.0.
But when I run the tests using **npm run test** command, I am getting following error:
  11 passing (194ms)
  39 pending
  1 failing

  1) Project Types API tests
       should return expected list of project types:

      AssertionError: expected [] to

[2019-10-30 11:40] stalleyj commented on #876
https://github.com/eclipse/codewind/pull/911

I've added the socket msg but VSCode plugin still shows the state as disabled until it gets updated to be building. @tetchel could you have a look please

[2019-10-30 11:48] liamchampton commented on #909
@aifayed please can you provide more information? - **Codewind version:**/**OS:** etc?

[2019-10-30 12:34] aifayed commented on #909
@liamchampton  Updated in main post

[2019-10-30 12:40] j-c-berger opened #912 "Guide-Getting Started with Codewind in Kabanero"
We need a guide to help users begin to develop with Codewind.

With this guide, users will learn Codewind's capabilities and develop a simple Microservice with their chosen IDE.

You may see the working progress of this guide by going to this repo, `kabanero-io/draft-guide-codewind-getting-started` https://github.com/kabanero-io/draft-guide-codewind-getting-started#developing-with-eclipse

[2019-10-30 13:16] elsony commented on #864
Changing this to stopship to match the SVT defect #904 that get closed as a dup of this one.

[2019-10-30 13:27] jopit commented on #909
@aifayed could you please attach the eclipse logs?  You can find them under your workspace, in `.metadata\.log`

[2019-10-30 13:27] jgwest commented on #910
@hhellyer

A few points:
- Docker does work on Enterprise Windows (for example, what IBM puts on Thinkpads like mine), but you need to create a new local user account, and provide that account's credentials when Docker asks. (See [here](https://tomssl.com/2018/01/11/sharing-your-c-drive-with-docker-for-windows-when-using-azure-active-directory-azuread-aad/)
- Docker does support bind mounts on Ent

[2019-10-30 13:34] sghung opened #913 "VSCode: Notify user that codewind-workspace folder is still required for Appsody projects"
For Appsody projects, we can't get away with binding due to how Appsody is currently implemented. As a result, we still require binding and creation of Appsody projects to be in the codewind-workspace directory. We choose this workspace to make the migration scenario easier for 0.5.0 to 0.6.0, since we don't want to move the user projects to a new directory.

[2019-10-30 13:35] makandre commented on #910
Yes it's a bind mount for retaining our Appsody support under 0.6.0's architecture.

But I'm not doing anything different from how we had the `codewind-workspace` bind mount pre-0.6.0, i.e. we had mounted `C:\codewind-workspace` -> `/codewind-workspace`, and now the mount is `C:\codewind-temp` -> `/mounted-workspace` (soon to be renamed to `codewind-data` pending https://github.com/eclipse/codewin

[2019-10-30 13:38] sghung opened #914 "Eclipse: Notify user that codewind-workspace folder is still required for Appsody projects"
For Appsody projects, we can't get away with binding due to how Appsody is currently implemented. As a result, we still require binding and creation of Appsody projects to be in the codewind-workspace directory. We choose this workspace to make the migration scenario easier for 0.5.0 to 0.6.0, since we don't want to move the user projects to a new directory.

Mirror item on vscode: https://github.

[2019-10-30 13:46] sghung commented on #914
Closing as the codewind-workspace isn't needed, a codewind-data is created instead and we need to let the user not to use that directory as it is special.

[2019-10-30 13:46] #914 closed

[2019-10-30 13:46] sghung commented on #913
Closing as the codewind-workspace isn't needed, a codewind-data is created instead and we need to let the user not to use that directory as it is special.

[2019-10-30 13:46] #913 closed

[2019-10-30 13:53] maysunfaisal commented on #907
sweet, i did see that change, thx for reminding~

[2019-10-30 13:59] hhellyer commented on #910
Pre-0.60 we couldn't run on (some - I'm not sure how many) Windows machines because of the issues with giving docker access to shared drives.

Removing them allowed us to run on Windows without needing to do that. The changes to remove the bind mounts had fixed that issue. This does regress that improvement.

(There are also issues with bind mounts on Linux, it causes files to be created as root.

[2019-10-30 14:19] james-wallis commented on #835
If we go down the route of having an ignoredPaths API in Turbine I think it'll create extra overhead each time a users project is changed as the CLI will need to make an API request to see which files it should ignore. Potentially `CLI -> Portal -> Turbine -> Portal -> CLI`.

I don't have a better solution however, but agree it should be dynamic and Turbine and Portal should be using the same `ign

[2019-10-30 14:25] maysunfaisal opened #915 "Turbine Unit Test Broken"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
[code]

**Steps to reproduce:**

**Workaround:**

[2019-10-30 14:25] ssh24 commented on #915
I am looking into this. @rajivnathan Could you please assign this to me?

[2019-10-30 14:26] maysunfaisal opened #916 "Jenkins PR does not notify on Turbine Test failures"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Even tho #915 is broken, Codewind PR Jenkins tests are still passing even tho the unit test are failing

**Steps to reproduce:**

**Workaround:**

[2019-10-30 14:30] maysunfaisal commented on #816
[code]

Log on Oct 30

[2019-10-30 14:43] makandre commented on #865
@stalleyj which check?

[2019-10-30 14:52] makandre commented on #884
Was asked to retest this.  I built from latest in `master` and copied it over to my theia container, I'm still getting the same `null` response.

[2019-10-30 14:53] makandre commented on #886
See https://github.com/eclipse/codewind/issues/884#issuecomment-547945199
But basically I'm still hitting the prob with latest CLI

[2019-10-30 14:58] stalleyj commented on #865
https://github.com/eclipse/codewind/blob/6ce8133de6277d2e8ff3dbd1e2cdf6b19aa67f8e/src/pfe/portal/modules/User.js#L470

[2019-10-30 15:01] markcor11 commented on #884
If PFE is running in KUBE it will be running with HTTPs and on port 9191 using a self signed certificate.   For the CLI to successfully connect it will therefore require the --insecure flag since this flag turns off certificate checking.   By default certificate chains are validated so without the --insecure flag REST requests to PFE from the CLI will fail and generate an x509: certificate signed

[2019-10-30 15:16] stalleyj commented on #865
https://github.com/eclipse/codewind/pull/918

[2019-10-30 15:17] yangcao77 commented on #835
However, since Turbine is now monitoring & read the change of `.cw-settings` file. Turbine has already kept the record of the `ignoredPaths`.
Not sure if we want portal to also read the file, or if both portal & Turbine are going to read the file.

[2019-10-30 15:26] markcor11 commented on #884
We could detect in CLI if running in KUBE then use https instead of http to determine PFEOrigin

[2019-10-30 15:33] stalleyj commented on #864
@jopit This is working fine for me on the latest code, could you retest please.

[2019-10-30 16:00] tobespc commented on #886
closing as dupe of #884

[2019-10-30 16:02] #789 closed, assigned to nobody

[2019-10-30 16:03] tobespc commented on #902
this has now been fixed by iterative-dev

[2019-10-30 16:03] #902 closed, assigned to nobody

[2019-10-30 16:03] lentheivendra commented on #897
@tobespc Yes like appsody but need a OKD cluster + Che. You can create a ODO project with usual create command/menu-item and then choose Openshift Templates and then one of the three OpenShift templates (try node.js)

[2019-10-30 16:44] maysunfaisal opened #922 "Turbine handle IN_K8 as string"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
When debugging #915, @ssh24 found issues where in Turbine ts file; we're treating process.env.IN_K8 as a boolean rather than string..

This is working in product because; local PFE has not set the ENV VAR but Kube PFE does. However, Sakib had to update unit tests an

[2019-10-30 17:08] jopit commented on #884
When should the IDEs be using --insecure, and when should they be leaving it out?  Or should we be adding it all the time? @markcor11 @tobespc

[2019-10-30 17:19] maysunfaisal opened #923 "[Remote] Add Existing Project does not work"
**Codewind version:** Master branch as of Oct 30 1PM EDT
**OS:**

**Che version:**
**IDE extension version:** Latest from Eclipse download as of Oct 30 1PM EDT
**IDE version:**
**Kubernetes cluster:**

**Description:**
Add Exissting project from the IDE

[code]

**Steps to reproduce:**

**Workaround:**

[2019-10-30 17:20] maysunfaisal commented on #923
This is a stopship

[2019-10-30 17:22] aifayed commented on #909
@tobespc  I tried the new version and getting the same issue. I got version  0.4.0 from eclipse marketplace few weeks ago.

[2019-10-30 17:27] rajivnathan commented on #867
Update still doesn't work for me on local using the latest PFE and vscode extension as of this comment. I've tried microprofile and nodejs and both don't work. Not sure what's different between my environment and Maysun's.

[2019-10-30 17:30] #894 closed

[2019-10-30 17:45] tetchel commented on #883
everything seems ok from my testing just now

[2019-10-30 17:52] ssh24 opened #924 "Overall build log for specific project"
**Description of the enhancement:**
We had an overall build log file for specific project types back in the Microclimate days, it would cover from the beginning of the build to the end and cover everything that is between the `docker.build` and `maven.build`. We should try to generate that log and add it back.

/cc @elsony

[2019-10-30 17:55] ssh24 commented on #883
Yes, I just saw it work after a while as well :\

Is this intermittent behavior from portal or IDE?

[2019-10-30 17:58] jopit commented on #864
@stalleyj still fails for me.  Using latest eclipse, latest cli, started codewind via eclipse, not via `run.sh`

[2019-10-30 18:03] ssh24 commented on #816
@maysunfaisal I am looking into that failure as part of https://github.com/eclipse/codewind/issues/908

[2019-10-30 18:09] ssh24 commented on #908
@rajivnathan Could you please assign this to me?

[2019-10-30 18:09] sishida opened #926 "New and noteworthy for 0.6.0"
Need to add a news page to the Codewind.dev website for 0.6.0.

[2019-10-30 18:11] #923 closed

[2019-10-30 18:12] jopit commented on #859
I'm no longer seeing the 413 error.

[2019-10-30 18:12] #859 closed

[2019-10-30 18:12] GeekArthur opened #927 "Error of creating directory /codewind-workspace/cw-temp/"
Currently if we use the latest Codewind to create project we can see the error below, seems like we should check directory existence of `/codewind-workspace/cw-temp/` before mkdir, otherwise this error will be always there
[code]

Suggest solution:
Use `mkdir -p` instead `mkdir` to create the directory

[2019-10-30 18:21] johnmcollier commented on #884
Minimally it'll be needed for Codewind on Che, to communicate with the internal sidecar proxy we've got. (Proxy isn't exposed externally, so not concerned about the `--insecure` flag)

[2019-10-30 18:26] #883 closed

[2019-10-30 19:00] tetchel opened #928 "cwctl bind exits with success status even if it failed"
[code]

The bind failed, but the exit code was still zero (indicated by "successfully ran cli command")

[2019-10-30 19:05] jgwest commented on #928
Likewise the `project sync` command is also returning a zero error code even when an error string is output.

[2019-10-30 19:06] tetchel commented on #928
This is a bit tough to deal with because only some commands produce JSON error output

[2019-10-30 19:07] rajivnathan commented on #867
Appeared to be a problem with the vscode extension update but project update on local is now working for me.

[2019-10-30 19:19] #863 closed

[2019-10-30 19:20] tetchel commented on #847
@tobespc

[2019-10-30 19:25] GeekArthur opened #929 "Implement jenkins build for odo extension release"
Currently the odo extension release is:
Each time we do some changes for odo extension we have to manually tag to specific commit then github will automatically generate the odo extension zip file to let PFE pick up during PFE image build stage, also we pull the odo binary during PFE image build stage as well.

Once we implement jenkins build for odo extension, we can pull the odo binary and gener

[2019-10-30 19:25] GeekArthur commented on #929
Please assign this issue to me.

[2019-10-30 19:54] tetchel commented on #901
im going to close this as a dupe of 906

[2019-10-30 19:54] #901 closed

[2019-10-30 19:55] tetchel commented on #906
[code]

For some reason the project types do not work in Che. The same command works in local.

[2019-10-30 19:57] tetchel commented on #666
The GET works now

[2019-10-30 19:57] #666 closed

[2019-10-30 20:22] jopit commented on #909
@eharris369 what's the current working directory when we run the cli?  I think that's where the cli tries to write out the yaml file -- maybe the permissions on the directory don't allow the write?

[2019-10-30 20:24] #876 closed

[2019-10-30 20:31] GeekArthur commented on #906
This issue (https://github.com/eclipse/codewind/issues/897) also related with project type in Che

[2019-10-30 20:32] makandre commented on #847
I think this https://github.com/eclipse/codewind-installer/pull/179 (WIP) would cover what you need, aside from `URL` part

[2019-10-30 20:37] jopit commented on #884
There's some comment drift on this issue.  The core problem is that the cli has is hard-coded to use http instead of https, which fails in Che (not sure what happens in true hybrid)

[2019-10-30 20:56] makandre commented on #491
If we're just re-binding the existing appsody projects (which btw can be located anywhere on user disk just like other codewind projects), it should work

(project is synced over to PFE during the bind I assume?)

[2019-10-30 21:16] tetchel commented on #906
looking into this, the project-types API appears intact in Che.
[code]

I think the problem is that the cwctl outputs the "invalid type" message for *any* 400 error.
https://github.com/eclipse/codewind-installer/blob/master/utils/project/bind.go#L112

So, likely we're getting 400 for a different reason, but the real error is being masked by this one? I don't see anything in the PFE logs.

[2019-10-30 21:22] tetchel commented on #906
doing the request by hand worked, so it's not that. something is wrong with the cwctl wrapping of this command.
[code]

[2019-10-30 21:25] tetchel opened #930 "Project bind broken in che"
Moving my comments from #906 into this new issue to not distract from the original sync problem

For some reason the project types do not work in Che. The same command works in local.

[code]

[2019-10-30 21:25] tetchel commented on #930
looking into this, the project-types API appears intact in Che. I omitted most of the output because it's too long but all the expected types are there.

bash-4.4$ curl -sSkL https://localhost:9090/api/v1/project-types
[
  ....
  {
    "projectType": "docker",
    "projectSubtypes": {
      "items": [
        {
          "id": "go",
          "label": "go"
        },
        {
          "id": "jav

[2019-10-30 21:25] tetchel commented on #930
doing the request by hand worked, so it's not that. something is wrong with the cwctl wrapping of this command.
[code]

[2019-10-30 23:19] richard-trotter commented on #583
+1 When developing a new library and testing with a sample app, the library may be installed to the local maven repo for test. When run from command line, appsody includes a '-v' parameter to mount '$USER/.m2' as '/mvn'. Codewind does not, and the library is not accessible from within the container.

[2019-10-31 00:48] ssh24 commented on #930
Same issue I saw?
![Screen Shot 2019-10-30 at 4 23 00 PM](https://user-images.githubusercontent.com/15173354/67909722-9f4e9f80-fb56-11e9-8f2e-33c7bae8e736.png)

[2019-10-31 00:49] tetchel commented on #930
yes although it should show the message from cwctl now, ie `project type is invalid`

[2019-10-31 00:54] ssh24 opened #931 "PR builds broken because of eslint error"
**Description:**

All PR builds are currently broken because of portal's eslint error.

[code]

[2019-10-31 05:51] jgwest commented on #583
FWIW mounting the Maven cache (using a bind mount with `-v` ) into the Appsody container is [inherently unsafe](https://github.com/eclipse/codewind-appsody-extension/issues/2#issuecomment-521890329)  and [breaks enterprise Windows users](https://github.com/appsody/appsody/issues/24).

[2019-10-31 08:21] tobespc commented on #927
This has been fixed in a PR that landed last night

[2019-10-31 08:21] #927 closed

[2019-10-31 08:31] tobespc commented on #867
ok, closing this issue as local update is now fixed.  Will investigate the delta change separately

[2019-10-31 08:31] #867 closed

[2019-10-31 08:43] tobespc commented on #770
this is working ok at the moment as the old api is being called.  Adding a pass though to to put build on the cli is an enhancement, so adjusting this issue accordingly

[2019-10-31 08:43] #770 closed

[2019-10-31 10:02] jcockbain96 commented on #835
@tobespc, picking this up. Can I be assigned?

[2019-10-31 10:39] markcor11 commented on #489
PR:  Adds DispatchHTTPRequest in CLI to wrap security around PFE API requests https://github.com/eclipse/codewind-installer/pull/181

[2019-10-31 10:57] micgibso commented on #559
For Eclipse, https://www.eclipse.org/codewind/mdteclipseusingadifferenttemplate.html

[2019-10-31 11:14] gcharters opened #933 "Refresh in Template Service Manager not working"
**Codewind version: 0.5.0**
**OS: Mac (Catalina**

**Che version: N/A**
**IDE extension version: 0.5.0**
**IDE version:VS Code 1.39**
**Kubernetes cluster:**

**Description:**

"Refresh" doesn't appear to do anything.  If I change the underlying repository_list.json file, no changes are observed.

**Steps to reproduce:**

Modify the repository_list.json file and Click Refresh in the Template Servi

[2019-10-31 11:16] #931 closed

[2019-10-31 11:23] tobespc commented on #818
I've found the problem.   The change that @jgwest put into FW 7 days ago had not been pulled into the vscode IDE.  Due to the package-lock file, it was still using the previous version.   I've put a PR up against vscode to sort this out but can confirm that using the lates fw demon with the ide fies this

[2019-10-31 11:23] #818 closed

[2019-10-31 11:25] james-wallis commented on #819
@makandre the PR has been merged for this, could you retest and close please.

[2019-10-31 11:31] tobespc commented on #906
closing this issus as the cli changes (providing you have the latest ones in the editor) fixes the sync issue.

[2019-10-31 11:33] tobespc commented on #930
@ebuckle can you take a look please

[2019-10-31 11:33] ebuckle commented on #930
Will do

[2019-10-31 11:41] hhellyer commented on #872
@sujeilyfonseca - It looks like your dashboard is running on port 443. That is the port for `https` and we attempt to connect using `http`. This probably explains the 403.

Could you run `kubectl get svc --selector="app=tekton-dashboard" --all-namespaces` and let me know what the output is? I'd like to see if the dashboard has more than one port available.

Also did you do anything to configure yo

[2019-10-31 12:11] richard-trotter opened #934 "enable passing environment options to appsody from codewind"
From command line I can do:
  appsody run --docker-options "-e MYDB_PWD=passw0rd"

I need to be able to do this from Codewind as well.

Environment variables are a very obvious omission. There may be other use cases motivating '--docker-options'.

By analogy, consider an Eclipse launch config, or a K8s deployment spec.

Codewind version: 0.5.0
Eclipse IDE version:   4.12.0.v20190605

[2019-10-31 12:53] ssh24 commented on #742
This can now be closed.

[2019-10-31 12:54] ssh24 commented on #896
@rajivnathan I am looking into this. Could you please assign it to me?

[2019-10-31 13:10] ssh24 commented on #906
I am still seeing the error with latest devfile. How often does the theia editor pick up the latest cli?
![Screen Shot 2019-10-31 at 9 09 56 AM](https://user-images.githubusercontent.com/15173354/67949567-4ca8ce00-fbbe-11e9-96b4-0ee4cf72aec3.png)

[2019-10-31 13:15] #742 closed

[2019-10-31 13:19] eharris369 commented on #909
I don't know how go determines the working directory but the cwctl and appsody executables are copied to <user's Eclipse workspace>\.metadata\.plugins\org.eclipse.codewind.core\installerWorkDir and run from there.  The environment for the execution would be the same as the environment eclipse was started in.

[2019-10-31 13:19] deboer-tim commented on #345
Discussed on tech topics, no objections. Need to pull Carl in to confirm things can be locked down securely. Will estimate GCS requirements and confirm we can fund it.

[2019-10-31 13:20] tobespc commented on #906
Its the filewatcher demon that needed to be updated as well.  I added a fix into the vscode to make sure it was pulling it as the package-lock was preventing the most recent one being pulled down

[2019-10-31 13:21] tobespc commented on #906
Will install all the components manually to make sure they all still work on latest

[2019-10-31 13:21] tetchel commented on #933
this is the intended behaviour, but I can see why it would be confusing.

Refresh updates the repository list from the backend, but if you modify the file by hand your changes won't be picked up until Codewind restarts.

We could put in an enhancement request to have a way to pick up the new file contents without restarting codewind, but I wonder why you are editing the file by hand in the first p

[2019-10-31 13:29] jcockbain96 commented on #808
I'm seeing this on my latest too, could you assign me @tobespc?

[2019-10-31 13:51] makandre commented on #819
Verified it on latest code this morning.  Thanks for the fix!

[2019-10-31 13:51] #819 closed

[2019-10-31 13:56] rajivnathan commented on #139
Discussed in the tech-topics call today. Consensus was ideally nightly runs are public as well but can continue to be internal to begin with. Results should be displayed publicly. We'll look at reviving the old test dashboard and hosting it on the same cluster we use for prow.

Julie to open a Story for prioritization.

[2019-10-31 13:56] micgibso commented on #524
This has been superseded; new guides and guide proposals are meeting this requirement, closing.

[2019-10-31 13:56] #524 closed

[2019-10-31 13:57] maysunfaisal commented on #906
The latest SC always pulls the latest FW as well, but that sync call from FW is during update right? 🤔

[2019-10-31 14:10] richard-trotter commented on #583
As a naive user, it seems strange to me that I get different behavior running Appsody from Codewind than from command line.

If there is a concern about this for Codewind users, how is it not also a concern for those using Appsody from command line?

However that concern is addressed, the solution shouldn't break users trying to test a library under development.

[2019-10-31 14:11] tetchel commented on #906
the filewatcher is not the cause of this but i will address pulling the latest filewatcher in my build script

[2019-10-31 14:13] liamchampton commented on #909
Since its just the binary being called the working directory will be the directory the binary is in. This directory will need read/write/execute permissions to create the `installer-docker-compose.yaml`, write the contents to it and then delete it once `docker-compose` has finished. @aifayed do you have the correct permissions to do this/can you check them for the directory specified above?

[2019-10-31 14:43] tetchel commented on #930
from https://github.com/eclipse/codewind/issues/884 it sounds like the local connection is hardcoded to use http, so this may be caused by that too (note my curls above use https)

[2019-10-31 14:48] sujeilyfonseca commented on #872
Thanks for following this issue, @hhellyer!

You're right, my Tekton Dashboard is running on port 443. Here is the requested output:
[code]

I did nothing to configure my Tekton Dashboard to listen on `https`.

[2019-10-31 14:54] #396 closed

[2019-10-31 15:03] tobespc commented on #847
confirmed the output with latest cwctl

[2019-10-31 15:03] #847 closed

[2019-10-31 15:07] tobespc commented on #872
so can this be closed ?

[2019-10-31 15:08] GeekArthur commented on #449
@rajivnathan This one can be closed.

[2019-10-31 15:08] GeekArthur commented on #448
@rajivnathan This one can be closed.

[2019-10-31 15:08] GeekArthur commented on #642
@rajivnathan This one can be closed.

[2019-10-31 15:08] GeekArthur commented on #643
@rajivnathan This one can be closed.

[2019-10-31 15:09] GeekArthur commented on #677
Fixed has been merged, @rajivnathan This one can be closed.

[2019-10-31 15:11] rtaniwa commented on #872
Doesn't look like it. Per @hhellyer comment:

_I'll talk to the dashboard team and check if there is a property on the service (other than the port number) that can tell us whether to connect via http or https? If we can determine which it's trivial to set the right flag when connecting._

[2019-10-31 15:15] #643 closed

[2019-10-31 15:15] #642 closed

[2019-10-31 15:16] sujeilyfonseca opened #935 "SVT: Open Tekton Dashboard option is no longer available with the latest Codewind for Eclipse Che"
**Codewind version:** [Latest](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml)
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** Open Tekton Dashboard option is no longer available with the latest Codewind for Eclipse Che

![Screen Shot 2019-10-31 at 10 54 33 AM](https://use

[2019-10-31 15:21] #449 closed

[2019-10-31 15:22] #677 closed

[2019-10-31 15:24] tetchel commented on #935
🤦‍♂

[2019-10-31 15:35] james-wallis commented on #857
@tobespc can you assign me please?

[2019-10-31 15:52] tetchel commented on #891
fixed in vs code https://github.com/eclipse/codewind-vscode/pull/257

[2019-10-31 15:52] makandre opened #936 "2 errors (getting capabilities & toggling logs failed) on project create"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I'm getting these 2 errors every time I create a new project.

<img width="447" alt="image" src="https://user-images.githubusercontent.com/17596240/67963045-55a49a00-fbd4-11e9-97a3-d3db0fdbc992.png">

Chatted with @tetchel and IDE make calls for capabilities

[2019-10-31 15:56] hhellyer commented on #872
@sujeilyfonseca - I installed into docker kube and it was on 9097 and I'd assume that's been the default in other cases otherwise we'd have never had a connection.
[code]
However on openshift there are two services:
https://github.com/tektoncd/dashboard/blame/1e7c51f81f4d34162b0e7299ed1c326d99530353/config/openshift/openshift-tekton-dashboard.yaml#L197

`tekton-pipelines` is created on 443 (and is

[2019-10-31 16:01] markcor11 commented on #906
Reproduced

[2019-10-31 16:08] liamchampton opened #937 "Improve CLI output for IDE's"
**Description of the enhancement:**
IDE's need to consume the CLI output easily. There is currently inconsistency with the return error codes and not all commands return JSON output. To standardise this:
- all commands output JSON as an option
- if an error occurs, exit with error code 1 + description so that the IDE's can easily identify an error
- All logs go to one output file. Should a user en

[2019-10-31 16:11] makandre commented on #936
There's a `projectBind` success socket event at `remote-bind/start` https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L125

Turbine is not yet involved at this point, possibly why pings for capabilities and logs are coming after this?

(however, this is not new code)

[2019-10-31 16:22] makandre commented on #936
Commented out the `projectBind` event line and indeed I don't get the 2 errors anymore (but I don't know what breaks)

[2019-10-31 16:24] rajivnathan commented on #906
Changing to stopship as we cannot ship until this has been verified fixed.

[2019-10-31 16:31] eharris369 commented on #891
This is also fixed in Eclipse: https://github.com/eclipse/codewind-eclipse/pull/387

[2019-10-31 16:31] #891 closed

[2019-10-31 16:43] #916 closed

[2019-10-31 16:48] mtamboli opened #938 "Codewind not able to work with stacks images in the internal registry/non-docker hub"
I have a custom stack/collection for which image is pushed to the OpenShift internal registry instead of docker hub. Appsody CLI can work with internal registry if
1. If you are already looked into internal docker regisiry
docker login -u  <user> -p <password>  <docker-registry>
2. Also, if you update ~/.appsody/.appsody.yaml
images: <docker-registry>

When using the corresponding kabanero-index.j

[2019-10-31 16:53] jcockbain96 commented on #835
@yangcao77 how does turbine determine its list of `ignoredPaths`? Is it a set of defaults for each `projectType` + anything user defined in `.cw-settings`? If we stay with the `ignoredPaths` list being stored there I'd think we would need a Turbine API to call.

Otherwise we'd have two copies of the same list being stored (the current Turbine one, plus another in PFE for this new API to expose).

[2019-10-31 17:07] makandre opened #939 "Appsody project file changes not synced to PFE"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Changes to files in Appsody projects are not synced over to PFE

**Steps to reproduce:**

**Workaround:**

[2019-10-31 17:17] jgwest commented on #583
Yes, I have brought up both issues with the Appsody folks (on the linked issues); I would argue that this is ALSO an issue with the way they are implementing their CLI, eg anytime you are sharing Maven M2 cache between two independent build processes (eg IDE and CLI container), you will hit issues of m2 cache corruption.

(Opinions are my own and do not necessarily reflect the views of either the

[2019-10-31 17:19] liamchampton commented on #928
as discussed this will be covered as part of #937

[2019-10-31 17:20] tetchel commented on #935
@sujeilyfonseca can you verify?

[2019-10-31 17:34] yangcao77 commented on #835
@jcockbain96 `ignoredPaths` is the user defined value in `.cw-settings`. if it's not defined in `.cw-settings`, Turbine would use the default one for that specific projectType.
I agree that from user's perspective, exposing the default/current `ignoredPath` or other settings in `.cw-settings` is better than our current design. (i.e. `.cw-settings` file with empty values.) so user would have an ide

[2019-10-31 17:35] sishida commented on #889
We plan to fix bugs with 0.6.0. Need to document Appsody support on Kube. Might need a new page.

[2019-10-31 17:40] tetchel opened #941 "More cwctl commands need to take a connection ID parameter"
for example, `cwctl templates repos ls` does not take any parameters. so, how am I meant to tell the CLI which connection I want to fetch template repos for? It appears to always return the list from local.

[2019-10-31 17:41] sujeilyfonseca commented on #935
I verified this problem after the fix made, and now I can't see the options `Open Tekton Dashboard` and `Set Deployment Registry`:

![Screen Shot 2019-10-31 at 1 37 58 PM](https://user-images.githubusercontent.com/49531960/67971728-ab347300-fbe3-11e9-9b10-807d1b2535da.png)

[2019-10-31 17:42] tetchel commented on #935
oh dear

[2019-10-31 17:43] tetchel commented on #937
here's another,
[code]

[2019-10-31 17:45] sghung commented on #938
This may happen for general codewind projects too, so removing the area/appsody label.

[2019-10-31 17:48] jopit commented on #864
Here's something:  when I use `run.sh` to start the codewind containers, the build succeeds.  When I start the containers using `cwctl start -t latest`, it fails as described above.

Is this maybe another case of `run.sh` still specifying the REMOTE_MODE flag and changing the behaviour of the containers when they are started?

[2019-10-31 17:53] jcockbain96 commented on #835
Thanks @yangcao77, as I understand it using the CLI we can now write to a users `cw-settings`.  I remember that being the problem too. I can confirm tomorrow.

So does that mean it would work from a Turbine perspective if we use the CLI to add the default `ignoredPaths` for that type on a bind? It would then be up to the user to manage that list. The Portal API could return the default list for ea

[2019-10-31 17:57] jopit commented on #941
Needed for true hybrid scenario

[2019-10-31 18:00] james-wallis commented on #857
Track on my branch: https://github.com/james-wallis/codewind/tree/change-directory
Initially I'm using the `projectID` for the directory name but this looks pretty horrible when debugging. I think I might add the name to the `projectID`?
Might become too long so I'll see if I can get a shortened UUID for the directory.

[2019-10-31 18:08] jagraj commented on #864
I created open liberty project and I see this in the pfe log. It is not able to copy as part of the docker build.

[code]

[2019-10-31 18:16] johnmcollier commented on #345
So it looks like Prow supports running tests on a separate target cluster (separate from where Prow itself is running). **However**, it's only supported on Google Kubernetes (GKE) right now, and not on IKS or ROKS.

[2019-10-31 18:19] sghung commented on #938
Marika said this is a stop ship issue

[2019-10-31 18:25] jopit commented on #864
@jagraj I'm not seeing those particular errors in my scenario, that may be a separate problem.

[2019-10-31 18:34] yangcao77 commented on #835
@jcockbain96 Yes. Upon creation, Turbine reads the `.cw-setings` file to look for the value. If it's empty, Turbine is going to use the default on set in each project type's handler.
So I would say set the default `ignoredPaths` in `.cw-settings` before portal sends creation request to Turbine. Otherwise, it would be considered as a "settingsChanged" event, and would rely on filewatcher & cwctl to

[2019-10-31 18:48] #939 closed

[2019-10-31 18:54] makandre opened #943 "Separate "sync" and "build" ignore filters for filewatcherd"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

@jgwest can explain this better.

There is currently one set of `ignorePath` filter, which controls what files should not trigger a build, and hence should not be synced from the filesystem to PFE.

But this does not support the use case of exten

[2019-10-31 19:06] ssh24 commented on #936
I am unable to reproduce this. Appsody projects are emitting the events fine and I can also see them on the IDE
<img width="1621" alt="Screen Shot 2019-10-31 at 3 06 24 PM" src="https://user-images.githubusercontent.com/15173354/67978226-04a29f00-fbf0-11e9-8afa-57d27bb99e8c.png">

[2019-10-31 19:10] sghung commented on #938
Removed the stopship to avoid confusion for our release. This is a stopship for another product.

[2019-10-31 19:11] #692 closed

[2019-10-31 19:12] rajivnathan commented on #611
Installer and run.sh changes are now merged. Closing

[2019-10-31 19:25] rajivnathan commented on #936
@makandre Is this appsody projects or other projects?

[2019-10-31 19:26] makandre commented on #936
All projects

[2019-10-31 19:28] yangcao77 commented on #936
Checked the `binding` route, the socket event was sent to ui socket after a build event is sent to Turbine.
https://github.com/eclipse/codewind/blob/a2540865948a54eaf3f70f44b25e6d26dd403424/src/pfe/portal/routes/projects/binding.route.js#L126-L128

However, in the remoteBind, portal does not send any creation request to Turbine before it's sending this success event to ui. So by the time ide reque

[2019-10-31 19:31] ssh24 commented on #936
So it is an intermittent situation then? https://github.com/eclipse/codewind/issues/883#issuecomment-548035792

[2019-10-31 19:33] rajivnathan commented on #936
@stalleyj This sounds like the same issue from https://github.com/eclipse/codewind/pull/354 ?

[2019-10-31 19:34] makandre commented on #936
Yes I think it's because now (remote) bind is divided into `start` and `end`.  There's actually a second `projectBind` event emitted at `end`:

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L375

[2019-10-31 19:36] jgwest commented on #943
Exactly: previously we had only one filter, which controlled (only) filewatcher's file change detection.

However, if Appsody is going to use a `*/*` filter to prevent builds, we need to separate the filters as Andrew described above (likely this work would be in PFE).

For more detail and a diagram of the workflow, see my comment here:
https://github.com/eclipse/codewind/issues/818#issuecomment-5

[2019-10-31 19:38] yangcao77 commented on #936
Sounds like a new event name is required for the `bind - start`.

[2019-10-31 19:42] makandre commented on #936
Does IDE need to react to a bind start?  If not then maybe just don't emit at that point?

@tetchel

[2019-10-31 20:02] yangcao77 commented on #943
I can work on this issue.

[2019-10-31 20:09] sishida commented on #372
- Delivering OpenShift 4
- Add ID update to this page in the "Prerequisites" section: https://www.eclipse.org/codewind/installoncloud.html
- Add a new bullet point under "Set up the PersistentVolume (PV) with either Network File System (NFS) or GlusterFS." Say something like, "Codewind uses RWX (ReadWriteMany) volumes to provide persistent storage. Because of this, on OpenShift 4, NFS (Network Fil

[2019-10-31 20:13] elsony commented on #943
One thing that I have discussed on a meeting with @makandre  is that if we can stay on only one list instead of creating a new list for it.  At the end of the day, it is the Appsody extension implementation that decides that it doesn't need build.  Andrew will take a look at to see if it is possible to setup the properly list of files for the sync build do a no op when Appsody get called for a bui

[2019-10-31 20:33] makandre commented on #943
Yes I checked the code, and for a "build" the extension already does very little; we don't take the container down.  But minimally we still had to issue some build/app status change events (this was needed to address some state display issues in IDE).  So in turn that would cause project status events etc. to be emitted by Turbine.

It's not the end of the world but it does result in some unnecess

[2019-10-31 20:46] sghung commented on #938
I have setup a meeting with some of the leads to discuss the possible solutions on the morning of November 1st.

[2019-10-31 21:29] tetchel commented on #936
###

[2019-10-31 21:29] tetchel commented on #936
We could emit it later, the project will just show up in the IDE UI later.

[2019-10-31 21:44] nastacio opened #944 "Codewind should allow the mounting of volumes"
**Description of the enhancement:**
Besides being able to pass environment variables to containers started by Codewind (https://github.com/eclipse/codewind/issues/934) , we also need a way to allow the mounting of volumes.

Environment variables and/or mounted filesystems containing secret files are the mechanism for K8s to hand out secrets to application runtimes, so that without them, Codewind c

[2019-11-01 11:08] markcor11 commented on #884
The localhost:9090 proxy in theia is using https protocol with a self signed certificate.

[code]

We will add a change to the CLI to detect if its running in CHE (and default to using the theia proxy https://localhost:9090) with https protocol as required but there is still the issue of the proxy self signed certificate to deal with.  We'll try switching off certificate checking when the CLI is i

[2019-11-01 11:13] gcharters commented on #934
This gets my vote.. I also came across it needing to specify database connection information in an environment file.

[2019-11-01 12:24] tobespc commented on #941
we know we will need this, its not a bug as such as an enhancement feature

[2019-11-01 12:27] tobespc commented on #930
we have this fixed :-) .  about to land a change to the installer that resolves this

[2019-11-01 12:33] #884 closed

[2019-11-01 12:33] #930 closed

[2019-11-01 12:37] jopit commented on #864
@stalleyj I'm guessing this is the root cause
https://github.com/eclipse/codewind/blob/7e2c88aadc6e2ece6223afb69f49a90764730227/src/pfe/portal/routes/projects/fileChanges.route.js#L78
but I don't know why blindly returning status 200 would fix the problem.  @tobespc could probably explain.

[2019-11-01 12:56] sujeilyfonseca commented on #935
I verified this problem on November 1, 2019, and now the options are presented as expected:

![Screen Shot 2019-11-01 at 8 54 08 AM](https://user-images.githubusercontent.com/49531960/68026186-4d586780-fc85-11e9-8f7e-bd45cc9fd5bd.png)

[2019-11-01 12:57] rtaniwa commented on #938
Let's keep this one tagged as hot, given it is high priority for Kabanero.

[2019-11-01 12:59] j-c-berger commented on #712
@micgibso made PR #207 for a screenshot of Appsody projects to add to your content. Let me know what you think.

[2019-11-01 13:02] tobespc commented on #906
ok, so in my testing I can see that we are updating the files into the codewind-workspace inside the workspace.   Need to see why a build is not triggering

[2019-11-01 13:06] james-wallis opened #946 "Appsody CLI update causes Portal to crash and Jenkins tests to fail"
**Codewind version:** Latest
**OS:** MacOS and Jenkins

**Description:**
Portal API `/api/v1/project-types` causes PFE to crash.
When the api is called it runs the command `${__dirname}/appsody repo list -o json` using `exec` to get a list of repositories from the Appsody CLI.
Looks like Appsody has been updated and doesn't give the correct output in JSON so the line `const json = JSON.parse(stdou

[2019-11-01 13:10] james-wallis commented on #946
Looks like the issue is in this file:
https://github.com/eclipse/codewind-appsody-extension/blob/master/templatesProvider.js#L47

[2019-11-01 13:32] eharris369 opened #947 "cwctl templates list returning no results or incorrect results"
I have only the appsody template source enabled (see below) but when I run `cwctl templates list --showEnabledOnly true` I get null and when I run `cwctl templates list` I get only the Codewind templates.  I am on Windows 10 Enterprise using the latest Codewind (pulled down from git and built) and the latest cwctl build and appsody 0.4.8 release build.

Even if the list of templates is really empt

[2019-11-01 13:36] johnmcollier commented on #906
@tobespc Are you testing with my devfile with the PVC removed or with the master branch? Keep in mind if the Che workspace PVC still exists, syncing could still be broken and we wouldn't notice.

[2019-11-01 13:39] james-wallis commented on #947
This might be related to https://github.com/eclipse/codewind/issues/946

[2019-11-01 13:46] tobespc commented on #906
so I can see that all the files are updated into the project container, just not having a build kicked off

[2019-11-01 13:48] johnmcollier commented on #906
@tobespc When I remove the Che workspace volume mount, the files in PFE still don't get synced over.

[2019-11-01 13:56] johnmcollier commented on #906
Sidecar logs: [sidecar_logs.txt](https://github.com/eclipse/codewind/files/3798189/sidecar_logs.txt)

Specifically:
[code]

[2019-11-01 14:17] james-wallis commented on #946
I've raised this with Appsody here: https://github.com/appsody/appsody/issues/563.

We should still at least add a try/catch when parsing JSON from `stdout`.

[2019-11-01 14:24] jopit commented on #946
If the appsody binaries we ship in Codewind will output non-valid json when they detect there's a newer version of appsody available, isn't that going to break existing customers using 0.5.0 @sghung @makandre ?

[2019-11-01 14:30] makandre commented on #946
I'll look into it.  I had changed the timestamp in appsody config so it would not do that version check....

[2019-11-01 14:41] makandre commented on #946
So it was a combination of factors of:

- appsody releasing a new version yesterday (`0.4.8`)
- my timestamp change would prevent the CLI from doing the version check, but a bug in `0.4.7` was ignoring that flag
- picking up `0.4.8` in https://github.com/eclipse/codewind-appsody-extension/pull/55 should fix this

[2019-11-01 14:43] james-wallis commented on #946
@makandre I've just seen the PR you've raised. I agree it would fix this but if a check for valid JSON is not added then we run the risk of this issue appearing in production if Appsody release a new version?

[2019-11-01 14:46] liamchampton commented on #879
After some investigation the best way to structure the repository is to have two top-level directories - `cmd`/`pkg`. `cmd` will contain a project folder which then contains`main.go`. This is where the binary will be build. `pkg` will contain the bulk of the code. Doing this will move us away from a flat level directory and allow us to better structure the CLI as it expands.

[2019-11-01 14:47] makandre commented on #946
True... I can put in a check for valid JSON in a follow-up PR

[2019-11-01 14:49] sghung opened #948 "Dynamic registry setup for the local scenario"
For local codewind to support docker private registries, the same technique (that is used for kube), should be used. The kube item is https://github.com/eclipse/codewind/issues/845

This issue is the overall codewind fix after the docker private registry issue was found via using appsody: https://github.com/eclipse/codewind/issues/938

[2019-11-01 14:50] tobespc commented on #906
ok, so I have confirmed that by ensuring the latest cli is installed in sidecar, the sync now works

[code]

[2019-11-01 14:56] james-wallis commented on #946
I agree with the theory but as its running an exec command and assuming it returns a JSON object it would be safer to add the valid JSON check. It just protects the off chance that something other than valid JSON is outputted.

[2019-11-01 15:05] james-wallis commented on #946
@sghung can you re-open this until the fix has been verified in this repo please.

[2019-11-01 15:23] johnmcollier commented on #906
Verified fixed with the latest CLI in the sidecar

[2019-11-01 15:54] ebuckle commented on #897
Have found the problem.

The CLI pulls in from ``api/v1/extensions``:

The "detection" field is what's used for the CLI to determine if a project is an extension or not, it checks the project dir to see if that file exists.

Appsody projects all have ``.appsody-config.yaml`` but ODO projects do not have ``.odo`` present, so the CLI cannot identify them.

Is this something that needs to be fixed in

[2019-11-01 16:11] tobespc commented on #936
Yes, so the bind end is when you would expect to then be able to do logs etc not before

[2019-11-01 16:19] tobespc commented on #897
so I think the fix for this is that the cwctl needs to be passed the type of odo when its called as there is no way of detecting it up front.

[2019-11-01 17:14] jopit commented on #897
ODO is only supported on Che I believe, so this is a vscode-in-theia issue, and doesn't apply to eclipse.

[2019-11-01 17:19] jopit commented on #897
According to the doc for the project creation api
[code]
So unless the doc is wrong, having the IDEs specify the type (even if we know it, which I'm not sure we do) isn't going to work.
@tetchel can you please look into this?

[2019-11-01 17:39] jopit commented on #897
@makandre has confirmed that the `-t` flag is ignored when creating a project from a template.  So the IDEs can't fix this either.  Passing this issue back to iterative-dev to figure out what to do here.

[2019-11-01 20:16] elsony commented on #897
I am not sure if I fully understand the problem.  When a project is being created, the user pick and choose the template and by that time, the type is already determined. Why do we have to detect the type that we just create?  Should we already know the type already given that the template is coming from the odo extension?  In terms of the templates, the templates is coming from the repos from Red

[2019-11-01 20:27] makandre commented on #897
That's a good point...

I think it's just how things have been: IDE tells cwctl (used to be the initialize container) to pull down template archive, it runs some validation and returns the detected project type back to IDE.  IDE uses what's returned rather than the attribute from the template.

[2019-11-02 00:03] jopit commented on #897
So someone needs to change cwctl project create to honour the -t flag, and the IDEs need to specify that flag when creating a project from a template.  I'll add the IDE tags back and we can make that change.  Then once cwctl has been updated it should work.

[2019-11-04 10:22] NikCanvin commented on #611
I have not verified this but I can't reopen it (I recommend we keep it open for now)
..
also could/should we change the link in Codewind to app to be 'localhost:<port number>' rather than <ip address>:<port number> ???
.. I saw in the docs tutorial it showed 'localhost' not 'ip address' here: https://www.eclipse.org/codewind/mdt-vsc-tutorial.html

[2019-11-04 14:02] sujeilyfonseca opened #951 "SVT: Appsody projects no longer have the option "Show Log Files" in Eclipse"
**Codewind version:** 0.5.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.5.0
**IDE version:** Eclipse IDE for Enterprise Java Developers 2019-09 R (4.13.0)

**Description:** Appsody projects no longer have the option "Show Log Files"

<img width="1251" alt="Screen Shot 2019-11-04 at 8 56 09 AM" src="https://user-images.githubusercontent.com/49531960/68126174-31e99880-fee1-11e9-925a-

[2019-11-04 14:08] makandre commented on #951
I wonder if this is related to the new log architecture.

Could you ensure you have the newest codewind appsody extension by opening a shell to the PFE container, removing `/codewind-workspace/.extensions/codewind-appsody-extension`, and then restarting PFE?

cc @ssh24

[2019-11-04 14:08] tetchel commented on #936
isn't the fix still in portal?

[2019-11-04 14:21] malincoln commented on #657
@rajivnathan @ssh24 since it was downgraded and we now have 729, I don't think this one is required for 0.6.0.  Please confirm.  Thanks.

[2019-11-04 14:28] sujeilyfonseca commented on #951
I followed your suggestion and it worked after restarting PFE, but I wonder if a user can experience the same problem with Codewind 0.5.0.

[2019-11-04 14:31] makandre commented on #951
For users, they would be getting a newer 0.6.0 of the extension which would overwrite the old 0.5.0.

I suspect you ran into this because you've been testing with newer builds but the version is essentially the same, so the older copy did not get overwritten.

[2019-11-04 14:37] malincoln commented on #910
@makandre as this is stopship, is this still in plan for 0.6.0?

[2019-11-04 14:40] stalleyj commented on #936
@rajivnathan Yes, this exactly the same symptoms as #354. @tetchel Are you happy with us just removing the socket emit from bind start ?

[2019-11-04 14:41] tetchel commented on #936
Makes sense to me

[2019-11-04 14:49] makandre commented on #910
@hhellyer This is not stopship, as discussed, is that right?

[2019-11-04 14:58] stalleyj commented on #936
https://github.com/eclipse/codewind/pull/953

[2019-11-04 15:14] ssh24 commented on #951
I think if it is Eclipse only it could be IDE related. I recall @tetchel making some changes on the IDE to pick up the new log architecture, but that change could only be VS Code based

[2019-11-04 15:16] tetchel commented on #951
I did not make any changes for the new log architecture

[2019-11-04 15:39] NikCanvin opened #954 "Performance feature not easily able to test a stressed microservice"
**Codewind version:** 0.5.0
**OS:** MacOs

**Che version:** na
**IDE extension version:** 0.5.0
**IDE version:** VSCode
**Kubernetes cluster:** na

**Description:**
As part of a perf BLOG in progress here: https://github.ibm.com/dev-ex/devAdvocacy/issues/147 ... I have tried to use the PerformanceDashboard for 2 days, to demo a perf enhancement in Node.js v13 (from v12).
..
When I load the microse

[2019-11-04 15:46] maysunfaisal commented on #845
This looks feasible. I had manually tested it out with kubectl cmd in the PFE container and it seemed to work

[2019-11-04 16:00] ssh24 commented on #915
@maysunfaisal Could you please verify and close this?

[2019-11-04 16:01] ssh24 commented on #907
@rajivnathan I am looking into this. Could you please assign this to me?

[2019-11-04 16:05] rajivnathan commented on #611
Reopened. @NikCanvin Can you please verify?

[2019-11-04 16:08] gcharters opened #955 "Unable to debug node.js express Appsody project"
**Codewind version: 0.5.0**
**OS: Mac OS Catalina**

**Che version: N/A**
**IDE extension version: Not sure how to find this**
**IDE version:
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 19.0.0
**
**Kubernetes cluster: N/A**

**Description:**

I took a

[2019-11-04 16:16] maysunfaisal commented on #915
verified

[2019-11-04 16:16] #915 closed

[2019-11-04 16:18] tetchel commented on #955
This means the capabilities API is returning that restart in debug is not supported for that project

[2019-11-04 16:26] malincoln commented on #657
@rajivnathan Comment from today's retrospective was to improve user experience for this bug.  I see @markcor11 has opened 729 but this comment likely extends that issue.

[2019-11-04 16:27] islamm-ibm commented on #715
I am facing similar issue, the application status in Codewind explorer is "stopped", though I can access application, the associated services seems to be up/running.
Attached Appsody.log & Turbine.log (zipped).

[Turbine.log.zip](https://github.com/eclipse/codewind/files/3804957/Turbine.log.zip)
[appsody.log.zip](https://github.com/eclipse/codewind/files/3804960/appsody.log.zip)

[2019-11-04 17:07] yangcao77 commented on #943
In my opinion, Turbine does not need a separate filter. Since for other project types, the filter will be exactly the same, and the filtering is already done by cwctl/filewatcherd. Appsody project is the only exception.
In addition, the `ignoredPaths` filter is controller by user in the `.cw-settings` file; however, appsody implementation does not support that, and still decides whether to build o

[2019-11-04 17:19] rtaniwa commented on #910
It isn't clear to me what level of broken we are, but if the title is an accurate reflection (Codewind doesn't work on Windows) then this is a stop ship.

[2019-11-04 17:43] tetchel commented on #731
we also need to document whatever docker version we require, in our getting started / setup docs

[2019-11-04 17:51] johnmcollier opened #956 "Make the Codewind deployment from the sidecar more configurable"
We need to make it easier to configure the deployment of Codewind from the Che sidecar. Areas where users may want to customize:

- Images and image tags to pull (esp. for offline support)
- Volume size for PFE
- Storage class for PFE
- Ingress annotations for Codewind

[2019-11-04 18:05] tetchel opened #957 "Improve theia extension startup failure behaviour"
- make the timeout ~120s~ 180s instead of 60s
- link to https://www.eclipse.org/codewind/installoncloud.html from the error popup on failure

@johnmcollier

[2019-11-04 18:18] jagraj opened #958 "SVT:Project is not imported to the eclipse workspace after codewind is restarted."
**Codewind version:** latest
**OS:** WIndows

**Che version:**
**IDE extension version:** Eclipse latest
**IDE version:** 2019-09
**Kubernetes cluster:**

**Description:**
I created a go project with the latest remote architecture and the project is created and successfully running. I stopped codewind and deleted project from eclipse workspace. After codewind restarted I see project still exist in

[2019-11-04 18:32] johnmcollier opened #959 "Support remote debugging of projects on Codewind on Kube"
We need to be supporting remote debug on Codewind on Kubernetes, especially as we work to deliver Hybrid support.

Some articles that talk about remote debugging on Kube and may be useful:
- https://dev.to/nheidloff/debugging-microservices-running-in-kubernetes-3f2b
- https://blog.christianposta.com/kubernetes/java-remote-debug-for-applications-running-in-kubernetes/

At a super high level, we may

[2019-11-04 18:35] johnmcollier commented on #957
Thanks Tim

These changes are required for us to onboard Codewind on to the Che plugin registry.

[2019-11-04 18:38] johnmcollier commented on #731
For the CLI, we can set a minimum version of 1.30, as it looks like v1.30 of the API corresponds to 17.06 https://docs.docker.com/engine/api/v1.30/

Our system requirements for Microclimate also had 17.06, and I don’t think it would’ve changed since then. https://microclimate.dev/installlocally#installing-on-linux-or-macos

[2019-11-04 18:38] sghung commented on #889
In our meeting on November 4th, we are waiting on the appsody team to help us with two issues (talking on slack now, but I have asked for specific issue numbers):

- There is a problem with ingress that needs to be addressed. Otherwise the user cannot open the app properly
- When the che workspace is removed, there is a chance that appsody resources are left behind

[2019-11-04 18:39] sghung commented on #889
Regarding debugging, codewind doesn't support it for kube (https://github.com/eclipse/codewind/issues/959) so no documentation needs to be added specifically for appsody

[2019-11-04 18:42] johnmcollier commented on #959
As @jgwest noted on slack, we could also achieve remote debugging with SSH tunneling, as was done for Eclipse Tools for Bluemix

[2019-11-04 18:48] maysunfaisal commented on #845
Another thing to keep in mind:

Docker config does no let me do this:

[code]

it fails for `maysunfaisal` but passes for `codewindtest`
so that is why Che does not allow two `docker.io` registries in the UI. It is one secret per docker server.

[2019-11-04 18:51] jgwest commented on #959
I'm not necessarily advocating any specific solution: anything that uses a secure and auth-ed tunnel, rather than merely exposing a fully-open debug port, is fine. 👍

[2019-11-04 18:58] tetchel commented on #897
@tobespc why doesn't portal pick up the ODO type from the index.json like the regular codewind projects?
https://github.com/eclipse/codewind-odo-extension/blob/master/templates/master-index.json#L6

[2019-11-04 18:58] jagraj opened #960 "SVT:Bunch of Java,Nodejs and Swift projects failed to run on Windows"
**Codewind version:** latest
**OS:** Windows

**Che version:**
**IDE extension version:** latest
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:** N/A

**Description:**
WIth the latest from master bunch of Java, Nodejs and Swift projects does not work. They all say creating image but build failed.

![image](https://user-images.githubusercontent.com/713849/68148624-5dcd4400-ff0a-11e9-9e8f-6d

[2019-11-04 19:12] makandre commented on #897
The detection part run by CLI is necessary to run commands for extension project types, such as `appsody init`

[2019-11-04 19:16] johnmcollier commented on #960
@jagraj Do you have any logs from the build failures?

[2019-11-04 19:17] johnmcollier commented on #960
@jagraj Can you share the docker.build.log for the failed projects too?

[2019-11-04 19:22] tetchel commented on #897
The IDEs don't currently run the validation command in the create case, is that what we are being asked to change? it seems like it makes more sense to put it into the project creation command

[2019-11-04 19:26] jopit commented on #897
@tobespc is asking us to pass the `-t odo` flag when creating a project

[2019-11-04 19:29] jopit commented on #897
From what I understand, the cwctl create command is already running the detection/validation, the problem is that for ODO projects can't detect that the type is ODO.

[2019-11-04 19:30] eharris369 opened #961 "cwctl upgrade --workspace <codewind workspace> does not appear to do anything"
I installed 0.5.0 version of Codewind and created a go and a python project.  I uninstalled 0.5.0 and ran `cwctl upgrade --workspace <user dir>/codewind-workspace` but it does not appear to do anything except print out `About to upgrade projects`.  If I then install the latest version of codewind and run the API to list the projects the list is empty.  I tried running the upgrade again after insta

[2019-11-04 19:30] tetchel commented on #897
the validation also cannot tell that a go project is go language, but the create still 'detects' that properly. let me investigate a little

[2019-11-04 19:40] jopit commented on #897
Maybe because go projects aren't provided by an extension?

[2019-11-04 19:43] johnmcollier opened #962 "Remove doc on setting up OpenShift on IBM Cloud for Codewind"
We currently have a doc that outlines the steps needed to get OpenShift on IBM Cloud (ROKS) working for Codewind (https://www.eclipse.org/codewind/mdt-che-roks.html).

These steps are no longer needed with the remote architecture changes delivered into Codewind and the Che sidecar over the past week. The setup instructions for Codewind on ROKS are the same as any regular OpenShift install.

[2019-11-04 19:51] yangcao77 opened #963 "[Remote] Not able to get microprofile project's console log and message log"
**Codewind version:** master
**OS:** MacOS

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
Unable to get microprofile project's console log and message log on che.
![image](https://user-images.githubusercontent.com/22285490/68152497-c66bef00-ff11-11e9-8c03-bebe95094f6b.png)
![image](https://user-images.githubusercontent.com/22285490

[2019-11-04 19:53] beccabau opened #964 "SVT [landing pages]: Codewind mobile site does not render well"
**Codewind version:** N/A
**OS:** Android version 10

**Description:** Landing pages - home page for codewind.dev does not render well on my phone.

![image](https://user-images.githubusercontent.com/13971834/68152925-92dd9480-ff12-11e9-81a5-04ec3fe70600.png)

**Steps to reproduce:** Hit `codewind.dev` on your phone (really small screen), notice that the example IDE windows do not stack well/stay

[2019-11-04 19:57] #871 closed

[2019-11-04 19:58] tetchel opened #965 "Don't prompt for parent directory in theia"
what's the point?

![image](https://user-images.githubusercontent.com/8888438/68153474-8a398e00-ff13-11e9-856f-d6c3ab88a9a1.png)

[2019-11-04 20:02] makandre commented on #946
All fixes for this are in now

[2019-11-04 20:08] tetchel commented on #897
OK, so here's what is going on:

1. IDE calls `cwctl create` with a `url` to a git repo to download into a `path`
2. cwctl downloads the repo into that path, and also responds with an object: `projectType: { language: string, projectType: string }`
3. IDE calls `cwctl bind` with the project name, and the `type`, `language`, and `path` from above.

The problem with ODO is that in step 2, the `proje

[2019-11-04 20:10] yangcao77 opened #966 "[Remote - che] Update for microprofile project does not get reflected"
**Codewind version:** master
**OS:** macos

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
Update a single java file of a microprofile project, I can see the rebuild has been taken place. However, the change is not reflected in the app.
![image](https://user-images.githubusercontent.com/22285490/68154100-c5888c80-ff14-11e9-9614-eacb

[2019-11-04 20:12] johnmcollier commented on #966
@yangcao77 This is because the Liberty container includes a default health endpoint at `/health` that overrides the one in the code.

Can you try modifying another file (e.g. example.java) and see if it takes effect?

[2019-11-04 20:16] yangcao77 commented on #966
Confirmed that the update works when modifying another file as suggested by@johnmcollier
Closing this issue since it's invalid.

[2019-11-04 20:16] #966 closed

[2019-11-04 20:18] jopit commented on #897
OK, let's fix this on the IDE side.  @eharris369 fyi/fya

[2019-11-04 20:41] yangcao77 commented on #819
I'm still seeing this issue on che.

[2019-11-04 20:47] makandre commented on #936
Verified that I don't get these errors anymore. Thanks.

[2019-11-04 20:47] #936 closed

[2019-11-04 20:54] ssh24 commented on #960
One thing I noticed:

**MacOS**
[code]

**Windows**
[code]

[2019-11-04 20:57] maysunfaisal commented on #819
This issue is still there if users dont delete their projects i.e.;

create proj xyz -> stop.sh -> docker prune -> run.sh -> proj xyz still exists

because the codewind docker volume is still present. Ideally IMO the PFE should not have it I am doing a prune and building from scratch. But I guess if I dont delete a proj, I should expect the docker volume to have it on a newer image. Tho this was n

[2019-11-04 21:05] jagraj commented on #960
I can not get the logs for these projects from the codewind explorer. Here is what I have...

[code]

[2019-11-04 21:05] makandre commented on #865
Working for me now.  I think we can close this?

[2019-11-04 21:07] ssh24 commented on #865
**Verified**

[2019-11-04 21:07] #865 closed

[2019-11-04 21:11] yangcao77 commented on #963
Also not able to get logs for Spring projects.
Same pfe error:
[code]

[2019-11-04 21:13] mmulholl commented on #752
@jopit I like your suggestions, something, anything, would be an improvement :-)

[2019-11-04 21:13] makandre commented on #819
`docker system prune` need to have `--volume` flag to delete volumes as well

But how does that remove the project code before the switch?

[2019-11-04 21:14] jopit commented on #960
Tests shouldn't be run with $REMOTE_MODE set because it may mask problems.

[2019-11-04 21:16] ssh24 commented on #960
REMOTE_MODE is by default set to true when codewind is built from master. Nothing the test does.

[2019-11-04 21:17] eharris369 commented on #897
Eclipse already ignores the project type passed back on the create request.  It uses the project type from the template for the bind request.

[2019-11-04 21:22] maysunfaisal commented on #819
Before we relied on bind mount ie my CW workspace on my laptop <-> PFE workspace, and thus if you had projects there, PFE would build it on restart. But if you check `docker-compose.yaml` we now have `volumes` since we no longer use bind mount.. This allows our project to be anywhere on our local disk

[2019-11-04 21:22] markcor11 opened #968 "Set Deployment registry via CLI"
**Codewind version:** latest

**Description of the enhancement:**

Need a way to set the deployment docker registry of "remote" using the CLI.  When performing a BIND,  if a registry has not been set the project will not build

**Proposed solution:**
There is already a PFE API for setting the registry : `POST:  /api/v1/registry` however the CLI should be able to perform this operation and set cred

[2019-11-04 21:26] markcor11 opened #969 "Add RBAC policy for PFE in Remote mode"
**Codewind version:** Latest
**Kubernetes cluster:** Openshift

**Description of the enhancement:**

Add policy when deploying Codewind remote to list project services in the same namespace

Console log :
[04/11/19 21:09:58 mynode21] [ERROR] [ File Name: /file-watcher/server/dist/utils/kubeutil.js | Function Name: getApplicationContainerInfo | Line Number: 168] Error: services is forbidden: User "

[2019-11-04 21:27] ssh24 commented on #963
@yangcao77 Just tried it out and it is working for me. Do you have the latest?

![Screen Shot 2019-11-04 at 4 26 03 PM](https://user-images.githubusercontent.com/15173354/68159492-d985bb80-ff1f-11e9-9f08-0a748bd3033c.png)

[2019-11-04 21:29] jopit commented on #960
It's still invalid -- if the tests are running with REMOTE_MODE set, they're not valid.

[2019-11-04 21:31] ssh24 commented on #960
I don't understand:

[2019-11-04 21:32] tetchel commented on #968
https://github.com/eclipse/codewind/issues/665, https://github.com/eclipse/codewind/issues/845

[2019-11-04 21:37] jopit commented on #960
User's don't run with REMOTE_MODE set.  Setting it changes the behaviour of PFE.  Therefore running tests with it set means we're not testing the code as a user will run it.  We know of instances where problems occur when REMOTE_MODE is not set, but don't occur when REMOTE_MODE is set.

[2019-11-04 21:40] johnmcollier commented on #906
Reopening as I'm seeing this issue again after merging into master:
[code]

[2019-11-04 21:43] yangcao77 opened #970 "[Remote-che] maven.build.log is not deleted after a spring project has been deleted"
**Codewind version:**  master
**OS:** Mac0s

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
`maven.build.log` still left under `./logs` folder after the spring project has been deleted.
And the location of the maven log is incorrect to me. It should be under the project log directory`/codewind-workspace/.logs/<projectName>-<projectI

[2019-11-04 21:47] yangcao77 commented on #963
Reinstalled latest che today 2p.m. from `codewind-che-plugin` and codewind master image from `https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml`

[2019-11-04 21:51] markcor11 opened #971 "Remote: - Improve browser experience and impact of Self Signed Certificates"
**Codewind version:** latest

**Description of the enhancement:**
When deploying Codewind remote it is initially deployed with self signed certificates across Codewind Gatekeeper, Keycloak and PFE.  Self signed certificates whilst providing an initial encrypted connection will cause browsers to display the "Not trusted" error message.  The user can accept the certificate in their browser and conti

[2019-11-04 21:52] rajivnathan commented on #960
@jopit I'm confused as well. The current, (latest in master) as of this comment has `REMOTE_MODE=true` when you use `run.sh` to start up the PFE container. Are you saying that is not correct?

[2019-11-04 21:54] johnmcollier commented on #906
So I found the problem with the syncing.

It’s because the IDE calls the CLI to create the project (and thus the json file) It gets created at `/.codewind/config/connections/1e76e810-ff4b-11e9-a40e-e58078679932.json` on the Theia container.

So when the CLI is triggered by the filewatcherd in the sidecar, it can't find that file, since it's located on the different container. Thus causing the abov

[2019-11-04 21:58] jopit commented on #960
Yes, that is not correct.  The cwctl command does not set REMOTE_MODE.  Which is why sometimes things work when people use `run.sh`, but fail when they run in the IDEs, which use cwctl.

[2019-11-04 21:59] maysunfaisal commented on #906
@johnmcollier so the first sync worked but subsequent ones never did?

[2019-11-04 21:59] johnmcollier commented on #906
@maysunfaisal Yup, projects build fine, but successive code changes aren't synced.

[2019-11-04 22:01] maysunfaisal commented on #906
@johnmcollier Not sure how one would solve this other than

1. cwctl being invoked from the sidecar always ie project creation and fw calls
2. sidecar and theia are merged

[2019-11-04 22:03] johnmcollier commented on #906
@maysunfaisal We don't need to merge the sidecar and Theia just yet:

3. Use the typescript filewatcher in Theia, keep the sidecar from nginx proxy and PFE deployment

[2019-11-04 22:05] kimholmes commented on #155
Here are some tweaks based on how the icons appear in VS Code.
[VSCode_iconTweak.zip](https://github.com/eclipse/codewind/files/3806283/VSCode_iconTweak.zip)

[2019-11-04 22:06] sishida commented on #889
Current locations of Appsody content:
- Troubleshooting Appsody section: https://www.eclipse.org/codewind/troubleshooting.html#appsody-with-codewind

[2019-11-04 22:09] jopit opened #972 "Node project fails to start"
**Codewind version:** latest
**OS:** macOS Catalina

Using Eclipse plugin codewind-0.5.0-201911041925 I created a nodejs application.  It built but fails to start.

[pfe.txt](https://github.com/eclipse/codewind/files/3806281/pfe.txt)

Grepping the log for errors shows this:
[code]

[2019-11-04 22:10] johnmcollier opened #973 "Ingress test automation for kube"
We need test automation for Kube to verify that the ingress is created properly.

Easiest route for testing is to first verify that the `appBaseURL` field exists in the project settings after deployment.

[2019-11-04 22:19] ssh24 commented on #960
If we turn off the REMOTE_MODE that means it is not testing any of the new architecture changes?

Also I think that is what is caused the windows PFE above in  https://github.com/eclipse/codewind/issues/960#issuecomment-549542330 to not have REMOTE_MODE set to true because it was installed using cwctl.

So does cwctl set REMOTE_MODE before installing? There seems to be a discrepancy here.

[2019-11-04 22:19] johnmcollier opened #974 "Merge together PFE deployment code and use cwctl for deployment on Che"
Once we deliver hybrid support in Codewind, there will be two sets of code to handle the deployment of PFE, written in Golang.

1. codewind-che-sidecar: Used to deploy PFE in a Che workspace
2. cwctl: Forked from the codewind-che-sidecar deployment code, with modifications to work outside of a Che environment.

To avoid having to maintain two separate, **very** similar codebases, we should instead

[2019-11-04 22:42] ssh24 commented on #970
So maven.build log is under `/root/logs` folder

[code]

But for some reason (old architecture from MC days) we mount the whole codewind-workspace to /root/logs directory which causes this weird mess.

[2019-11-04 22:43] ssh24 commented on #963
Oh, this was on che. I just tried it out and I am also able to see it as well
[code]

[2019-11-04 22:49] ssh24 commented on #970
Tried deleting the project and the log file was removed:
[code]

[code]

[2019-11-04 22:49] rajivnathan commented on #960
Did an `echo $REMOTE_MODE` inside PFE for each case:

1. Local with run.sh
Result: `true`
2. Local with VSCode bringing up PFE (I'm assuming cwctl is bringing up PFE)
Result: not set
3. Che
Result: not set

@tobespc Can you please confirm what's expected? @elsony FYI

[2019-11-04 23:01] yangcao77 commented on #897
I'm not able to build odo project on che, seeing this error:
[code]

[2019-11-04 23:10] maysunfaisal commented on #665
I can take a look at this.

Even tho this is tagged as iterative-dev; this issue will need new sets of Portal API for setting up docker registries.

I have already laid the foundation of the new API in my branch, will update this issue with API info tomorrow.

[2019-11-04 23:12] maysunfaisal commented on #665
cc: @tetchel @jopit

[2019-11-04 23:14] maysunfaisal commented on #948
Why do we need docker registries for local @sghung?

[2019-11-04 23:19] yangcao77 commented on #970
@ssh24 The log file is under `./logs` folder. You are checking the main workspace directory.
This is what I saw before and after deletion. The spring log directory has been directory, but the maven log is still there.
[code]

[2019-11-04 23:49] ssh24 commented on #970
Is this under PFE or the app container?

[2019-11-05 00:46] johnmcollier commented on #948
@maysunfaisal It's to enable Codewind (and Appsody) to pull docker images from private registries. All that's needed here is the .dockerconfigjson that Docker and Appsody will read from.

[2019-11-05 00:54] tetchel commented on #960
toby did say this morning that he was removing all the REMOTE_MODE code paths so hopefully by tomorrow it won't matter

[2019-11-05 08:55] markcor11 opened #975 "Only allow authenticated socket connections"
**Codewind version:** latest

**Description of the enhancement:**

Socket streaming should only occur after the socket has been authenticated using a valid access_token.  If the authentication handshake can not complete the socket should be denied access and the ability to listen or post socket messages blocked

eg:

**Authentication**

* Client socket request initiated
* Server checks token in pa

[2019-11-05 08:56] markcor11 commented on #975
WIP

[2019-11-05 09:08] tobespc commented on #961
@stalleyj please a look

[2019-11-05 09:54] hhellyer commented on #910
The title should probably be *some* Windows versions (or configurations).

(I assume Appsody isn't supported in remote/hybrid mode as there's no way to provide a bind mount there.)

[2019-11-05 11:11] stalleyj commented on #961
@eharris369 The upgrade command has been broken by some of the connection logic, working on a fix.

[2019-11-05 13:20] ebuckle commented on #906
We have a shared workspace between the sidecar and Theia containers.

We could save the config file into this shared workspace for sharing between the two. We would need some kind of detection to know which container we're in.

[2019-11-05 13:39] hhellyer commented on #635
This is resolved now.

[2019-11-05 13:39] #635 closed

[2019-11-05 13:53] markcor11 commented on #906
`CHE_PROJECTS_ROOT=/projects` should be in common between theia and sidecar

[2019-11-05 14:34] sishida commented on #926
Perhaps include mention that we no longer have the OpenShift on IBM Cloud for Codewind doc page because it is no longer necessary: https://github.com/eclipse/codewind/issues/962

[2019-11-05 15:09] james-wallis commented on #946
Happy this is guarded against happening again due to https://github.com/eclipse/codewind/pull/949

[2019-11-05 15:09] #946 closed

[2019-11-05 15:22] micgibso commented on #843
@sishida Please assign me, thx!

[2019-11-05 15:47] #957 closed

[2019-11-05 15:47] #965 closed

[2019-11-05 15:48] tobespc commented on #857
@deboer-tim @jopit Do we want to allow codewind to deal with projects that have the same name (but with different paths )?  We can deal with it as a cli level but how would the IDE's reflect this ?

We have a PR ready that would enable this... but... is it a requirement ?

[2019-11-05 15:50] jopit commented on #897
This has been fixed with PR https://github.com/eclipse/codewind-vscode/pull/263.  Please verify this @ssh24

[2019-11-05 15:54] yangcao77 commented on #970
@ssh24  pfe container.

[2019-11-05 16:00] stalleyj commented on #961
pr up https://github.com/eclipse/codewind-installer/pull/190

[2019-11-05 16:12] maysunfaisal opened #976 "[Che] Toggling Logs failed on Che latest"
**Codewind version:** latest
**OS:**

**Che version:** 7.2.0
**IDE extension version:**latest
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**
![Screen Shot 2019-11-05 at 11 10 27 AM](https://user-images.githubusercontent.com/31771087/68224636-00de9600-ffbd-11e9-8253-7a7b43a6b13a.png)

[code]

**Steps to reproduce:**
IDE->Show all logs

[2019-11-05 16:13] maysunfaisal commented on #976
[code]

[2019-11-05 16:16] maysunfaisal commented on #970
I also see it. @ssh24 is this the same issue we saw on the kube test today?

[code]

[code]

[code]

[2019-11-05 16:16] tobespc commented on #725
retested with path of /Users/tobes/temp/toby/qwertyuiopasdfghjkl/workspaces/qwertyuiopasdfg/workworkworkwork/tobestobestobes
all seems to be ok now

[2019-11-05 16:16] #725 closed

[2019-11-05 16:17] ssh24 commented on #970
Yes looks like it. Can you try other project types? I also saw the failure on Swift.

[2019-11-05 16:23] rwalle61 opened #977 "New app monitor dashboard to display prometheus metrics of Codewind projects"
**Codewind version:** Latest
**OS:** Mac

**Description of the enhancement:**

Appmetrics-dash and javametrics-dash are cool, but users don't want to have to include that code in their projects. It'd be useful to be able to see these metrics dashboard without the user having to change anything about their Codewind projects.

**Proposed solution:**

It'd be good if the IDEs' `Open App Monitor` butt

[2019-11-05 16:25] rwalle61 commented on #977
@mattcolegate and myself are working on this, with others:
- https://github.com/eclipse/codewind/issues/514
- https://github.com/eclipse/codewind-eclipse/pull/396

[2019-11-05 16:26] jopit opened #978 "[IntelliJ] Integrate Codewind into IntelliJ"
Create an IntelliJ plugin to support Codewind

**Completed for 0.9.0**
  - Support project creation and project remove [#980](https://github.com/eclipse/codewind/issues/980)
  - Support opening application, performance dashboard, tekton dashboard [#986](https://github.com/eclipse/codewind/issues/986)
  - Add file-watcher to notify backend of project file changes [#983](https://github.com/eclipse/c

[2019-11-05 16:29] jopit opened #979 "[IntelliJ] Restructure codewind view for new architecture and hybrid"

[2019-11-05 16:31] jopit opened #980 "[IntelliJ] Support project creation and project remove"

[2019-11-05 16:33] maysunfaisal commented on #976
dup of #963

[2019-11-05 16:33] #976 closed

[2019-11-05 16:35] jopit opened #981 "[IntelliJ] Add existing codewind project into IntelliJ (bind)"

[2019-11-05 16:37] jopit opened #982 "[IntelliJ] Install/Update/Migrate/Uninstall of codewind backend"

[2019-11-05 16:39] jopit opened #983 "[IntelliJ] Add file-watcher to notify backend of project file changes"

[2019-11-05 16:41] jopit opened #984 "[IntelliJ] Add Project Overview page"

[2019-11-05 16:43] jopit opened #985 "[IntelliJ] Manage Template Sources"

[2019-11-05 16:47] jopit opened #986 "[IntelliJ] Support opening application, performance dashboard, tekton dashboard"

[2019-11-05 16:48] jopit opened #987 "[IntelliJ] Support Disable/Enable project"

[2019-11-05 16:50] jopit opened #988 "[IntelliJ] Support explicit build for project"

[2019-11-05 16:52] jopit opened #989 "[IntelliJ] Show project log files"

[2019-11-05 16:52] rwalle61 commented on #977
(FYI it will require code changes to the VSCode and Eclipse IDEs, but Matt and I will do the work/ lead the requirements)

[2019-11-05 16:53] jopit opened #990 "[IntelliJ] Support debugging codewind projects"

[2019-11-05 17:02] jopit commented on #857
At this point I'd vote to explicitly not allow it. We can always relax the restriction later if there's a need.

[2019-11-05 17:10] yangcao77 opened #991 "[Remote-che] Liberty app image cannot be removed. disable & re-enabled failed"
**Codewind version:** master
**OS:** MacOS

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
After disabling a liberty project, it cannot be re-enabled again. It's complaining about the image already exist.  It looks like the image failed to be removed, event it said it has all dangling image removed from the log.

[code]

[code]

**S

[2019-11-05 17:13] maysunfaisal commented on #991
### Also happens on direct delete:

[code]

[code]

[code]

[2019-11-05 17:20] yangcao77 commented on #991
For me, the deletion of the project directory is fine.
[code]

`codewind-workspace` content before and after the deletion:
[code]

[2019-11-05 17:21] DavidG1011 opened #992 "[SVT] [VSCode] Socket hang up when creating new project."
**Codewind version:** Latest
**OS:** MacOS

**IDE:** VSCode
**IDE extension version:** Latest

**Description:** Socket hang up error when creating new project.

**Steps to reproduce:**
1. Remove codewind entirely from system. images, `.codewind`, `codewind-workspace`, etc.
2. Install latest extension.
3. Create new project.

Result: Project menu displays "fetching available project templates.." an

[2019-11-05 17:40] tetchel commented on #992
please upload the logs, but i am fairly certain it's https://github.com/eclipse/codewind/issues/946

[2019-11-05 17:52] GeekArthur commented on #897
@tetchel @jopit Thanks for fixing this, the current design for `create` case makes more sense for me, if we can know project type from user (templates), we don't need to use detection code to get the project type again even the detection code logic has no problem but currently it has logic issues. I just try the latest devfile and the issue gets fixed.

[2019-11-05 17:57] maysunfaisal commented on #960
FYI, I cannot create projects on Windows using VS Code latest

I made sure the PFE container spun up by VS Code had the code commits as of Nov 5..

[code]

![Screen Shot 2019-11-05 at 12 51 26 PM](https://user-images.githubusercontent.com/31771087/68232763-c9c3b100-ffcb-11e9-85a7-7f3ac379fbb0.png)

[2019-11-05 18:03] maysunfaisal opened #993 "Cannot Bind Project on Win VS Code Latest"
**Codewind version:** latest
**OS:** Win

**Che version:**
**IDE extension version:** latest
**IDE version:**
**Kubernetes cluster:**

**Description:**
When trying to debug #960 I hit:

### FYI, I cannot create projects on Windows using VS Code latest

I made sure the PFE container spun up by VS Code had the code commits as of Nov 5..

[code]

![Screen Shot 2019-11-05 at 12 51 26 PM](https://user-

[2019-11-05 18:04] maysunfaisal opened #994 "Cannot Bind Projects on Win Latest"
**Codewind version:** latest
**OS:** Win

**Che version:**
**IDE extension version:** latest
**IDE version:**
**Kubernetes cluster:**

**Description:**
When trying to debug #960 I hit:

### FYI, I cannot create projects on Windows using VS Code latest

I made sure the PFE container spun up by VS Code had the code commits as of Nov 5..

[code]

![Screen Shot 2019-11-05 at 12 51 26 PM](https://user-

[2019-11-05 18:04] #994 closed, assigned to nobody

[2019-11-05 18:07] #897 closed

[2019-11-05 18:14] maysunfaisal commented on #993
cwctl command from the Codewind output stream (thanks @tetchel)

[code]

[2019-11-05 18:37] maysunfaisal commented on #665
POST `/api/v1/dockerregisrty` will take `url`,`username`,`password` in it's body
GET `/api/v1/dockerregisrty` will return the list of created Docker registry - `url` and `username`
DELETE `/api/v1/dockerregisrty` will take `url` as the input and delete the docker registry from PFE

[2019-11-05 18:41] DavidG1011 commented on #992
Seems to be the same issue:
[pfe.txt](https://github.com/eclipse/codewind/files/3810674/pfe.txt)

[code]

[2019-11-05 18:42] maysunfaisal commented on #993
this is a stop ship because I cannot create projects on Win using VS Code latest

[2019-11-05 18:50] jopit opened #995 "Ensure user specifies full path when creating app in non-default location"
**Codewind version:** latest
**OS:** macOS Catalina

When creating an app, I deselected the 'Use default location' checkbox, and typed 'zzz' into the location field.  The application was created inside the Eclipse.app "folder", probably because that's the current folder when running Eclipse.  However, that's not a valid location for apps.  We should ensure that the user enters a full path in the l

[2019-11-05 18:55] sishida commented on #890
Rough draft of text.
In the meeting recording, Keith's demo starts around the 45 min mark.

# OpenAPI tools usability improvements
After code generation, you would have to tweak to get code to compile. But now you can generate code into an existing Maven project and have it build successfully. You can then customize your client.

### Prerequisites
- Finish building
- Have a Codewind project (In th

[2019-11-05 18:55] yangcao77 commented on #972
I can take a look at this issue.
One thing I want to mention is that for this error message. It's logged from portal, and I'm seeing this error for all project types on che. Can we have portal team to take a look at this one?
[code]

[2019-11-05 18:57] jopit commented on #906
This is no longer an IDE problem from what I can see, so I'm removing the ide label and adding portal

[2019-11-05 19:02] ssh24 commented on #897
I am still seeing build failures on ODO projects:

[code]

[2019-11-05 19:09] tetchel commented on #846
we should write some user doc for the new workspace behaviour. it can be relatively short, but should mention

- projects are no longer required to be under the codewind-workspace ❗️
- users should NOT create projects under the special `~/codewind-data/` directory
- if you want to move an existing project, remove it from codewind (without deleting the files!), and then run the Add Existing Project

[2019-11-05 19:15] GeekArthur commented on #897
@ssh24 Please post the odo.build.log, once we ensure both build is successful and new log architecture is good, then we can close both issues.

[2019-11-05 19:17] tetchel commented on #897
the project type in the logs above is correct, so open a new issue if you are seeing a problem

[2019-11-05 19:19] DavidG1011 commented on #992
Fixed by removing the `codewind_cw-workspace` docker volume and refreshing images.

[2019-11-05 19:19] #992 closed

[2019-11-05 19:19] ssh24 commented on #970
I just tried with latest and my app was deleted as well as the .logs folder however the image failed

[code]

[2019-11-05 19:21] yangcao77 commented on #972
@jopit Is this always reproducable? I'm build pfe from latest master branch and installed latest vscode plugin. I'm not able to reproduce.
However, from the log, it does look like there is something wrong with the `noderun.sh`

I have checked our code, only 2 places `exit 1` in `noderun.sh`. It's either nodemon is not running, or there's no node process running.

If you can reproduce it, can you t

[2019-11-05 19:23] ssh24 commented on #897
Weird, it worked now when I tried again

[2019-11-05 19:24] yangcao77 commented on #970
@ssh24 Yes. That's what I saw as well. Created new issue for it: https://github.com/eclipse/codewind/issues/991

[2019-11-05 19:25] GeekArthur commented on #897
Cool, for the successful build, the log from IDE is also working? If so, we can merge the PR of ODO extension repository

[2019-11-05 19:26] ssh24 commented on #897
Yup, see https://github.com/eclipse/codewind-odo-extension/pull/17#issuecomment-549980769

[2019-11-05 19:30] ssh24 commented on #681
**Verified** all project logs. This issue can now be closed.

[2019-11-05 19:30] #681 closed

[2019-11-05 19:34] eharris369 commented on #846
In Eclipse it is the same as above except:

- Moving projects: to add an existing project right click on Local in the Codewind explorer view and select Add Existing Project
- Creating new projects: the default is to create the project in the Eclipse workspace.  The user can enter a different location if they want.

[2019-11-05 19:38] tetchel commented on #961
it still doesn't seem to work,

[code]

I don't see anything in the PFE logs indicating that the bind API was ever called for that project, and there's no output after [line 64](https://github.com/eclipse/codewind-installer/pull/190/files#diff-b9c476fb866b1309274372b666a7ef6aR62)

[2019-11-05 19:45] tetchel commented on #846
also this can be removed from the [vs code readme](https://github.com/eclipse/codewind-vscode)
`Codewind creates a folder called codewind-workspace within your home directory to contain your projects. On Windows, this is the C:\codewind-workspace directory. When the installation is complete, you can open the codewind-workspace folder or a project within the workspace as your VS Code workspace. The

[2019-11-05 19:46] tetchel commented on #926
#846 is news but may merit its own page

[2019-11-05 19:53] tetchel commented on #846
i want to link to this page from a popup, so i guess we could get text for a notification shown after the migration/upgrade too. something like:

`Codewind workspace migration completed - Projects no longer need to be located under the codewind-workspace.`
With a 'read more' button that links to wherever we put this info.

[2019-11-05 19:53] ssh24 commented on #991
Also saw this https://github.com/eclipse/codewind/issues/970#issuecomment-549977467 where the project delete worked but the image could not be removed

[code]

[2019-11-05 20:06] jgwest opened #996 "downloadCwctl() automated test function will always download master, should use branch version"
The [`downloadCwctl()` function](https://github.com/eclipse/codewind/blob/5b64bbecffb096ff82ba3216802504bc652628ff/src/pfe/file-watcher/server/test/scripts/exec.sh#L29) -- which is used to download the Codewind CLI when running Tempest automated tests -- is currently programmed to only grab the installer from the `master` branch. Once we shift to running tests on product branches, this installer v

[2019-11-05 20:29] jagraj commented on #947
I and Andrew investigated further on my machine and cwctl does not list all the enabled templates. We are able to get all the templates from the `curl` but not from `cwctl`.  #946 issue did not fix this problem.

[2019-11-05 20:34] eharris369 commented on #947
A further problem is that the `source` field is missing for the templates.  This used to be in the result of the REST API call but is not there in cwctl templates list.

[2019-11-05 20:35] jgwest commented on #906
As I see it, here are the options for handling this, ordered by descending feasibility to deliver for 0.6.0:
1) Ideally the `cwctl project sync` command doesn't actually need the information from the file it is looking for when [that error message is thrown](https://github.com/eclipse/codewind/issues/906#issuecomment-549559673), and this step can be bypassed. This is the solution that Elson mentio

[2019-11-05 20:40] tetchel commented on #996
here's how we do it in vs code, more or less the same as what jonathan put above https://github.com/eclipse/codewind-vscode/blob/master/Jenkinsfile#L50

[2019-11-05 20:49] jopit commented on #972
This is another problem that works if you start PFE using `run.sh` or `start.sh`, but fails if you start it up using `cwctl` or through the IDEs.

[2019-11-05 20:49] #972 closed

[2019-11-05 21:14] sujeilyfonseca opened #997 "SVT: [Windows] Appsody projects are in "Disable" state the first time they are created or get stuck in "Starting" state if manual enable is attempted"
**Codewind version:** codewind-0.6.0-201911051703.vsix
**OS:** VM with Windows 10

**IDE extension version:** 0.6.0
**IDE version:** 1.39.2

**Description:** I got all Appsody projects in “Disable” state the first time they were created. After manually enabling them, they did not start due to:

[code]

I deleted all Codewind's images, volumes, and files, and uninstalled and reinstalled the plugin,

[2019-11-05 21:24] maysunfaisal commented on #991
Found the issue:

[code]
[code]

[code]

The issue is at https://github.com/eclipse/codewind/blob/master/src/pfe/iterative-dev/idc-java/IDC/src/org/eclipse/codewind/iterdev/tasks/ContainerRemoveTask.java#L88

Looks like the whole if block is messed up and makes no sense, after Line 88. I will fix Line 88 and clean up the block with a PR

[2019-11-05 21:26] jopit commented on #997
Maybe another issue due to the REMOTE_MODE flag in PFE?

[2019-11-05 21:28] naveenkaratekid opened #998 "Codewind unexpectedly crashed in Windows VSCode"
**Codewind version: 0.6.0**
**OS: Windows 10**

**IDE extension version: 0.6.0**
**IDE version:1.39.2**

**Description:**
Codewind seems to be randomly restarting itself. The most recent occurrence was when I was looking at log files for the Codewind SpringBoot template. The status of Codewind changed to ```Disconnected```, and after a few seconds or so, all the projects I created show up under th

[2019-11-05 21:31] tetchel commented on #998
please post pfe and extension logs

[2019-11-05 21:38] jopit opened #999 "Exeption when stopping codewind"
When stopping codewind, IntelliJ will often pop up a notification with the following exception.  The same exception occurs in Eclipse, but is not surfaced to the user.  We need to find a way to suppress the notification or (better) prevent the exception

[code]

[2019-11-05 21:52] jgwest commented on #998
@naveenkaratekid Do you think this is related to VSCode, or is this just the environment where you saw it? Also I presume it was the actual Codewind server (Docker images) that were restarting, rather than the IDE?

[2019-11-05 21:53] naveenkaratekid commented on #998
hey @tetchel. My apologies. Here are the log files from PFE and from VSCode

**Logs from VSCode**
[codewind.log](https://github.com/eclipse/codewind/files/3811404/codewind.log)
[filewatcherd-1.log](https://github.com/eclipse/codewind/files/3811405/filewatcherd-1.log)
[codewind pfe latest log.txt]

**Codewind PFE Log**:
(https://github.com/eclipse/codewind/files/3811406/codewind.pfe.latest.log.txt)