[2019-12-16 14:49] jcockbain commented on #1533
We agree with the reasoning above for the cause of this. Anything that is generated in the build container, but is not in the users project, is then deleted on the next `sync`.

In terms of a long-term fix, the `ignoredPaths` list at the moment is specific to the sync from the users project to the build container. It contains the things that shouldn't be in PFE. Our preference to fix this issue is

[2019-12-16 14:52] malincoln commented on #1477
@GeekArthur are we waiting on additional fixes or this is good to close?

[2019-12-16 14:53] malincoln commented on #1073
@makandre @jagraj 1471 is now closed.  Please verify.  Thanks

[2019-12-16 14:57] malincoln commented on #1472
Per discussion with @tobespc on checkpoint call, this is related to 1514, 1520, and 1533.
James should land a fix today for 0.7.0.  @tobespc pls confirm defect list.

[2019-12-16 15:02] malincoln commented on #1508
Requires further work for the single master node for 0.8.0.  Doc current usecase for 0.7.0

[2019-12-16 15:04] malincoln commented on #1458
Discussion with @tobespc on checkpoint.  @stalleyj fix should land today.

[2019-12-16 15:06] malincoln commented on #1414
@tobespc to investigate more on previous releases with SVT.  Also mentioned was a new issue for migration.

[2019-12-16 15:10] makandre commented on #1472
@james-wallis yes that perfectly explains why we don't see this on local.

Re:

Maybe it rebuilds correctly because the deletion of `node_module` actually fails?  In any case, we need a solution that won't delete the `node_module` folder.

[2019-12-16 15:12] james-wallis commented on #1472
Discussed with @tobespc and @jcockbain.

**0.7.0**
Add `node_modules` and `.odo` to a specific ignore list when deleting files within `codewind-workspace`. Basically just an `if node_modules don't delete`.

**Master**
 * Add a `directoryList` to the `sync`/`upload/end` API so that we delete by directory where possible not by files (fixes `node_modules` being deleted file by file).
* Add `.odo` to

[2019-12-16 15:19] mmulholl commented on #1414
I uninstalled codewind, ran "docker volume rm codewind_cw-workspace", reinstalled codewind and now spring projects build OK.

[2019-12-16 15:24] rtaniwa opened #1542 "Shouldn't reference "Tekton" in our Open Dashboard menu item"
We currently have a menu option to Open Tekton Dashboard. We shouldn't reference the technology underneath. It should just be something to indicate they can view the build dashboard or something to that affect. Let's get design pulled in and figure out what the proper menu option would be.

[2019-12-16 15:32] stalleyj commented on #1458
I've created a PR for the 0.7.0 branch that takes @james-wallis changes and also fixes the content of the socket messages to FW daemon. This is just being tested on a windows machine. Will put a more robust fix in master that sets the pathToMonitor at project creation time.

[2019-12-16 15:35] makandre commented on #1472
The only concern I have with the protected list approach is that we don't necessarily know all the appsody stacks that would be used with Codewind, so any protected list provided by the extension would need upkeep and only be current on a "best-effort" basis (I would imagine it would be similar for ODO as well? cc: @GeekArthur )

To avoid that we would need a way to distinguish files that are uplo

[2019-12-16 15:35] GeekArthur commented on #1477
@malincoln There is no additional fixes for this issue, let me confirm Sujeily then I can close this issue.

[2019-12-16 15:38] maysunfaisal commented on #1527
/pipeline In Progress

[2019-12-16 15:40] sujeilyfonseca commented on #1502
I tested this issue with Codewind 0.5.0, 0.6.0, is  and 0.6.1. It seems to be a regression, but after Codewind 0.5.0, since this version does not have the problem.

[2019-12-16 15:40] ssh24 commented on #1527
/pipeline Verify

[2019-12-16 15:42] maysunfaisal commented on #1507
When working with this issue, please also fix and clean up feedback suggested by @hhellyer :

https://github.com/eclipse/codewind/pull/1492#discussion_r358126591

Would it be simpler just to check for characters that are valid for a namespace? That would eliminate the namespace as address/namespace case and a whole load of other invalid cases. Otherwise we're adding an error check that's very spec

[2019-12-16 15:56] sghung commented on #715
@jagraj @micgibso I believe Jag was working with project types that have a proper server, so it wouldn't fall into the troubleshooting doc's restrictions on serverless appsody apps.

[2019-12-16 15:57] jagraj commented on #1502
@hhellyer
I see the fix has been delivered into master and not to 0.7.0 release. Are we planning to deliver this fix into 0.7.0.? . Looks like this is regression in 0.6.1 release. Don't want to close this issue until this is verified by owner unless we have dupe issue opened already for this.

[2019-12-16 15:58] sghung commented on #938
I did a Webex with Monica and Jag, it looks like their setup is different than what I had. They define the private registry via the "image" property in their global appsody config file (not in the stack image). I need to try out this scenario with my test case as the setup is different.

[2019-12-16 16:03] makandre commented on #938
The use of global `image` property is the old way of doing things I believe.  Now it is expected to have the fully qualified image name (incl. repository) in the project's `.appsody-config.yaml`

[2019-12-16 16:06] tobespc commented on #1472
same issue as #1533

[2019-12-16 16:07] sujeilyfonseca commented on #1502
/reopen

[2019-12-16 16:13] liamchampton commented on #1502
@jagraj I stated that my PR 294 fixed this issue in the comment box and as a result github automatically closed the issue (wasn't deliberately closed).

[2019-12-16 16:15] tobespc commented on #1458
fix is in

[2019-12-16 16:16] mtamboli commented on #938
@makandre `appsody init` fails to get the image of the stack (for images that are not in docker hub). User does not have any way to update .appsody-config.yaml file before the init.

[2019-12-16 16:17] stalleyj opened #1545 "Port fix for 1458 to master"
**Description:**
2 Changes were required for fixing the windows paths to be unix style for the fw daemon, changing the watchlist api and also changing the socket messages. We want to pull the changes into a single place in socket creation for master.

[2019-12-16 16:17] stalleyj commented on #1545
/ assign

[2019-12-16 16:17] mtamboli commented on #938
Please let me know if you need my cluster for debugging.

[2019-12-16 16:21] malincoln commented on #1502
@liamchampton are you also planning to merge the fix into 0.7.0 before leaving today?

[2019-12-16 16:26] makandre commented on #938
This is in Che right?  Yes `appsody init` would fail to download the image, but in Che that is expected; `appsody init` purpose is to setup the env for IDE, such as Eclipse or VS Code when in local, but on Che it is not necessary for Theia.  This failure should only result in a WARNING and should not fail the entire `appsody init` command.

Also, we (Codewind) pull the project template `tar.gz` di

[2019-12-16 16:26] malincoln commented on #1458
@jopit who can verify the fix (believe Jonathan is out now)?

[2019-12-16 16:28] rwalle61 commented on #1509
I think this is 2 user stories/ pieces of functionality, which can be completed independently of each other:
1. user with open liberty project can inject metrics
2. user with open liberty project with `/metrics` endpoint can click `open app monitor` and see their metrics graphed (on our app monitor dashboard hosted on our performance container)

For 1, @tetchel's suggestion enables this in VSCode,

[2019-12-16 16:28] tobespc commented on #1383
I've managed to recreate the problem.   I created 10 appsody applications all at the same time to effectively tie up my machine.  The vscode IDE lost connection and then refused to reconnect.  Eventually it did recreate and then only show 5 projects in the list.  Then it lost connection again, when it came back it showed all 10.  There are certainly issues with the IDE and PFE somewhere.  Still in

[2019-12-16 16:30] rwalle61 commented on #1509
Part of part 2: https://github.com/eclipse/codewind/pull/1544

[2019-12-16 16:30] rwalle61 commented on #1509
Also part of part 2: https://github.com/eclipse/codewind/pull/1543

[2019-12-16 16:33] GeekArthur commented on #1533
@jcockbain Regarding long-term fix, the `codewind.yaml` that you point is Appsody, odo uses this one: https://github.com/eclipse/codewind-odo-extension/blob/master/codewind.yaml#L6, we can see odo already added `.odo` as detection so when Portal loads `.odo` extension, Portal already knew that and probably can use that directly for `not to delete case`, or we may have a new design for that.

Also

[2019-12-16 16:34] mtamboli commented on #938
This is VScode and codewind on the local machine. Project seems to be failing during the initialization.

[2019-12-16 16:38] makandre commented on #1073
I do not see the 2 errors on workspace re-open.  However, I see them pretty much on every project creation now.

pls see https://github.com/eclipse/codewind/issues/1073#issuecomment-552048475 for some background

[2019-12-16 16:44] makandre commented on #938
Oh if it's local, then in 0.7.0 users will need to do a local `docker login` to their private registry first.  We ran out of runway to get the private registry credentials persisted in Codewind in 0.7.0.  We will address the local case in the next release.

[2019-12-16 16:46] jopit commented on #1458
@elsony does Jonathan have a backup who can verify this fix?

[2019-12-16 16:50] maysunfaisal commented on #1484
/pipeline Verify

[2019-12-16 17:03] DavidG1011 commented on #1508
Seeing possibly related behavior on my 4.2 cluster with 3 masters, 3 workers.

Upon running a load test, it gets stuck on "preparing", then produces this error:
![Screen Shot 2019-12-16 at 10 27 53 AM (3)](https://user-images.githubusercontent.com/30476587/70926254-c96efa80-1ffa-11ea-9349-f45aa5b1ef5a.png)

Logs:
[pfe.txt](https://github.com/eclipse/codewind/files/3969214/pfe.txt)
[performance.txt

[2019-12-16 17:03] malincoln commented on #1439
@maysunfaisal pls verify and close. Thanks

[2019-12-16 17:04] GeekArthur commented on #1472
My concern is `.odo` and `node_modules` are two different level directory/file ignore, `.odo` is project type level which applies to all odo projects (shouldn't delete `.odo` for all odo projects, project language doesn't affect), but `node_modules` is project language level which applies to all projects (Codewind, Appsody and odo project types) with nodejs language (I believe Codewind project typ

[2019-12-16 17:06] sishida commented on #393
@thisguy-1 I understand that we might still want to make changes to the UI in the future, but because we already have a functional remote scenario for 0.7.0, is this issue good to close?

I'm thinking if we want to add changes in 0.8.0 and onward, we can open a separate issue.

[2019-12-16 17:08] sujeilyfonseca commented on #1477
FYI, I have been working to provide @GeekArthur with the information he requested. However, I currently have a problem with the master node of my cluster. I have opened a ticket, and someone is working on it.

[2019-12-16 17:11] GeekArthur commented on #1477
@sujeilyfonseca Okay, when your cluster is back and you verify this issue, if you still see the failed PV you can wait for some time the PV will be gone automatically. Reason is here: the PV will be gone automatically

[2019-12-16 17:17] johnmcollier commented on #1508
I can reproduce on an HA (3 masters) OCP 4.2 cluster. I can also reproduce on both 0.6.1 and 0.7.0

The root issue is due to differences in load balancing and how HA Proxy is used on OCP4 vs. OCP/OKD 3.x. On OCP4.x, it's no longer valid to access a NodePort over an ingress (which is why we delivered ingress support in https://github.com/eclipse/codewind/issues/459 for applications).

As Jag mentio

[2019-12-16 17:26] jagraj commented on #1508
We agree now, this is not related to single vs multiple master nodes and I changed problem description that this is specific to OCP 4.2 support is missing for performance tests.

[2019-12-16 17:41] sujeilyfonseca commented on #1484
I verified this problem with the latest Codewind 0.7.0, and now users are being properly informed about the invalid format for their namespace:

<img width="1677" alt="Screen Shot 2019-12-16 at 12 31 01 PM" src="https://user-images.githubusercontent.com/49531960/70929420-15bd3900-2001-11ea-9dbd-4b351a2f6ec9.png">

[2019-12-16 17:54] #1484 closed

[2019-12-16 17:55] maysunfaisal commented on #1488
https://www.eclipse.org/codewind/openshiftregistry.html

needs to be modified.

With PR https://github.com/eclipse/codewind-docs/pull/261 changing docs, we need to update this as well. We can remove the screenshots containing Administration tab and Set Deployment Registry and merge the two sets of instructions to fit together.

[2019-12-16 17:56] maysunfaisal commented on #1488
^ FYI @j-c-berger

[2019-12-16 17:57] johnmcollier commented on #1488
We also need to update the openshift registry doc to say to use `image-registry.openshift-image-registry.svc:5000` on OCP4

[2019-12-16 18:06] tetchel opened #1547 "Connecting to an uninstalled/down remote Codewind results in "authentication error", not "connection error""
[code]

The error here is that we fail to connect to the auth service `Authentication service unavailable`, which makes sense. But it should show up as a network error, and the connection should be be in disabled state, not auth error state.

[2019-12-16 18:07] sujeilyfonseca commented on #1477
[code]

[2019-12-16 18:09] tetchel opened #1548 "No padding under Open Template Source Manager button"
Since we made the template source description two lines, the button no longer has any padding under it, which looks weird.

@laven26

![image](https://user-images.githubusercontent.com/8888438/70931394-59b23d00-2005-11ea-9463-b13a2ec05af7.png)

[2019-12-16 18:09] james-wallis commented on #1472
Agree that `.odo` and `node_modules` should be handled differently.

I'd still make the case that it would be a good enhancement for this project if an extension could tell PFE a list of paths to ignore (don't delete/modify). The ODO extension can use this to tell PFE to ignore its `.odo` directory as it is very extension specific. This would fit inside the `codewind.yaml` - PFE can read it when a

[2019-12-16 18:11] maysunfaisal opened #1549 "Windows docker cp failing on Microprofile Create"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
During Microprofile create, creation fails due to run_docker.sh failing on docker cp of project root to the app container.

It fails on https://github.com/ssh24/codewind/blob/a0057bdb39f17ed9bf5aaedbfba53d41198851d2/src/pfe/file-watcher/idc/artifacts/run_docker.sh#L

[2019-12-16 18:11] tetchel commented on #1486
❤️

[2019-12-16 18:11] #1486 closed

[2019-12-16 18:12] maysunfaisal commented on #1549
/kind bug

[2019-12-16 18:12] j-c-berger commented on #1488
@maysunfaisal and @johnmcollier, thanks for the input. Since 1178 is wrapping up, I can start to work on this issue, removing the current screenshots, adding the new one, and making all necessary changes to content.

Feel free to assign to me.

[2019-12-16 18:14] ssh24 commented on #1062
related to #1549

[2019-12-16 18:14] maysunfaisal commented on #1549
dup

[2019-12-16 18:14] #1549 closed

[2019-12-16 18:14] maysunfaisal commented on #1062
During Microprofile create, creation fails due to run_docker.sh failing on docker cp of project root to the app container.

It fails on https://github.com/ssh24/codewind/blob/a0057bdb39f17ed9bf5aaedbfba53d41198851d2/src/pfe/file-watcher/idc/artifacts/run_docker.sh#L70

@ssh24 debugged this and found this in the log before docker cp, docker exit code, after docker cp:

[code]

[2019-12-16 18:20] tetchel opened #1550 "First column of "project status" table is too narrow"
![image](https://user-images.githubusercontent.com/8888438/70932028-bb26db80-2006-11ea-9d3a-7dd0798cffc2.png)

The first column should fit all the labels in one line. 4 of them have to wrap and it looks bad

[2019-12-16 18:21] maysunfaisal commented on #1488
/assign @j-c-berger

[2019-12-16 18:21] tetchel opened #1551 "Project has to be removed and re-added after changing push registry"
If you:
1. Have an image push registry
2. Add/Create a project
3. Change your image push registry
4. Build the project

The build fails with the following message:
`Build Failed - The project will not build with the new Image Push Registry. Please remove and re-add the project to deploy to the new Image Push Registry.`

We should support changing the image push registry without this extra step, wh

[2019-12-16 18:26] maysunfaisal commented on #1551
This is expected behaviour from the days before we had buildah

but with buildah:

[code]

we may no longer have to do this and keep track since we don't do `docker tag` and `docker push` anymore. This needs to be investigated and probably cleaned up

[2019-12-16 18:27] johnmcollier commented on #1551
FWIW, I don't think we ever needed that restriction, even with Docker (we're doing an implicit `docker tag` when we do `buildah bud -t <tag>`)

[2019-12-16 18:29] tetchel commented on #1550
it is caused by the two-line build status, you can see the App Info table doing the same here

![image](https://user-images.githubusercontent.com/8888438/70932567-068db980-2008-11ea-8293-83de9cb980b5.png)

[2019-12-16 18:41] tetchel commented on #1502
I don't think this is accurate - I can see the connection to PFE drop while the stop command runs.

Either way, the stop command shouldn't exit until the stop is finished. I don't think any changes should be made on the IDE side for this.

[2019-12-16 18:45] mmulholl opened #1552 "SVT: Eclipse : Windows : problem opening microprofile app view."
**Codewind version:**   Codewind tech preview	0.7.0.v201912132118
**OS:** Windows

**Che version:**
**IDE extension version:**
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-09 R (4.13.0)
Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**

After creating a WebSphere Liberty Microprofile application I try to open the application view a get this:

<img widt

[2019-12-16 18:46] makandre commented on #1472
At present it may only be appsody projects that is exhibiting the problem with `node_modules`, but I think the general issue here, where files generated in PFE's copy of the project during build/run is deleted, can potentially happen for any project type (the problem with `.odo` certainly falls into this category as well)

Totally agree that having to maintain a list of protected/ignored resources

[2019-12-16 18:48] tetchel commented on #1536
the instructions should be the same for hybrid as they are for che, but I agree it would be nice to link to the tekton doc from one of the 'remote' pages.

https://www.eclipse.org/codewind/codewindandtektonpipelines.html

[2019-12-16 18:48] j-c-berger commented on #1488
@maysunfaisal, I just had a conversation with ID and Plugin team, and we talked about how quickly this screenshot will become antiquated. So we thought about holding off on screenshot changes for 1488 (focusing only on doc content) and saving the screenshots changes for a later release where they will be more permanent. What do you think?

[2019-12-16 18:48] tetchel commented on #1542
The docs call it 'tekton' too https://www.eclipse.org/codewind/codewindandtektonpipelines.html

[2019-12-16 18:50] sishida commented on #1542
@rtaniwa Should we remove the https://www.eclipse.org/codewind/codewindandtektonpipelines.html page? Right now, it just links to the Tekton content.

[2019-12-16 18:50] maysunfaisal commented on #1488
@j-c-berger sounds good

[2019-12-16 18:51] sujeilyfonseca commented on #1477
**Before workspace deletion:**
[code]

[code]

[code]

[code]

[code]

<br>

**After workspace deletion:**
[code]

[code]

[code]

</br>

**After workspace deletion (30 minutes):**
[code]

[2019-12-16 18:52] liamchampton commented on #1502
@malincoln i had no plans to put this into 0.7.0 as i want this to be tested from master first. I want to see what/if there are any significant issues that come from this change as it is fairly big.

[2019-12-16 18:59] tetchel commented on #1525
This would have to be provided by portal/turbine in GET /projects

[2019-12-16 19:01] jopit commented on #1552
This is a limitation of Eclipse's internal browser on windows -- see https://github.com/eclipse/codewind-eclipse/issues/126, particularly comment https://github.com/eclipse/codewind-eclipse/issues/126#issuecomment-506489535

[2019-12-16 19:02] rtaniwa commented on #1542
@sishida I never really understood why we had that standalone topic tbh. So not sure if we need to remove it, but somewhere in the docs we should have some reference to what the menu item actually does. And as part of that perhaps we should also ensure the docs match the new change as well. So theoretically, if we went with something like "View build/depoy dashboard" (or something better than that

[2019-12-16 19:04] tetchel opened #1553 "(0.8) Update VS Code required version"
Starting in 0.8, VS Code 1.38 will be our minimum required version. I'll update the readme.

![image](https://user-images.githubusercontent.com/8888438/70934896-fdebb200-200c-11ea-9d5e-5f27f9d5a2d0.png)

[2019-12-16 19:07] jagraj commented on #1477
@GeekArthur
Looks like 30 mins is lot that ODO is not releasing volume resources and in most of the clouds, storage is a service and customers are charged based on their usage and 30 mins is lot for no reason that they have to pay even though they are not using it any more. We should open issue against ODO and add reference here, once they resolve this issue and we can close this issue after verif

[2019-12-16 19:09] sishida commented on #1542
OK, I have added the docs label to this issue so that ID can track it. As development/design change the "Open Tekton Dashboard" menu option, ID will update the docs accordingly.

Tagging @thisguy-1 for designer awareness.

[2019-12-16 19:10] keithchong commented on #804
Also need an API to retrieve the current autobuild setting.  If on, then the extender can turn it off and then turn it on at the appropriate time.  If off, then the extender doesn't have to do anything.

[2019-12-16 19:12] jagraj commented on #1477
With above fixes, this is no longer stopship issue for 0.7.0 release. I am wondering we need to doc this in troubleshooting page and let users know eventually volume gets released and they need to have additional volumes available if they want to create more ODO projects until volume is available.

[2019-12-16 19:12] GeekArthur commented on #1472
@james-wallis

That makes sense, currently only `.odo` is generated on PFE side and it's the only directory in the protected list for odo projects as odo has its own sync mechanism from PFE to build container, that means all generated build files except `.odo` will be in build container but not in PFE so they don't have this issue. Currently odo `codewind.yaml` file already had `.odo` as detection

[2019-12-16 19:18] GeekArthur commented on #1477
@sujeilyfonseca can you describe the two failed PV to see what it shows and why it still failed?

[2019-12-16 19:25] GeekArthur commented on #1477
@jagraj Agree on that, 30 mins is definitely too long for user, my manually try is only ~ 1 min, weird thing is nodejs PV is available only perl and python PVs are failed, but from Codewind perspective they all use the same odo code path for releasing the PVs. And yes, it's not stopship since we can document this to let user know if the PV is not released intermittently, user can either create mor

[2019-12-16 19:41] malincoln commented on #1502
@liamchampton I was just going by @tobespc slack msg to me that he was backporting your fix to 070 since you were gone and he created https://github.com/eclipse/codewind-installer/pull/300 for that

[2019-12-16 19:42] makandre commented on #1399
I have the first part, `/api/v1/projects/watchlist` API with the extra `refPaths` attribute prototyped in https://github.com/eclipse/codewind/pull/1535 (where `refPaths` is defined in `.cw-settings.)

It turns out it was more involved than just the API however, because the watchlist also gets sent over to `filewatcherd` over `WebSocket`.  The PR also takes care of this.

[2019-12-16 20:06] GeekArthur commented on #1477
Given odo project deletion issue has been fixed, currently only issue is it takes a long time for some environments to release the odo project PV intermittently, so remove the stopship tag.

[2019-12-16 20:09] GeekArthur commented on #1477
We need to investigate why it takes a long time for some environments to release the odo project PV intermittently and document it if it's needed.

[2019-12-16 20:14] GeekArthur opened #1556 "[odo] Handle odo build sctipt exit code properly"
Currently when we run project build script we handle exit code 1 explicitly here: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/projectUtil.ts#L389, we need to use exit code 3 instead of exit code 1 in odo build script since exit code 1 is for unexpected script exec errors, otherwise the correct build status won't be displayed on IDE properly.

![Screen S

[2019-12-16 21:10] sujeilyfonseca commented on #1477
@GeekArthur

[code]

[code]

[2019-12-16 21:51] makandre opened #1557 "Properties in .cw-settings are not really optional"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Are properties in `.cw-settings` file optional? [This](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectsController.ts#L1183) appears to suggest they are; also if you removed a property from the file, there's

[2019-12-16 21:51] makandre commented on #1557
/area iterative-dev

[2019-12-16 21:52] jopit opened #1558 "The change for #1148 breaks migration"
The change for https://github.com/eclipse/codewind/issues/1148  breaks migration if an older version of codewind is already running.

I installed and started codewind 0.6.1, then started the latest version of vscode. When I tried to migrate, I got an error, possibly because there is no docker-compose file in the ~/.codewind folder.

Note that cwctl and therefore the IDEs think that codewind is not

[2019-12-16 21:55] makandre commented on #1557
I was prototyping adding a new `refPaths` property to the `.cw-settings` file, and I handled removing a property like so: [here](https://github.com/eclipse/codewind/pull/1535/files#diff-2a30a2a4dccd9b8e1dccf2220b27057fR930) and [here](https://github.com/eclipse/codewind/pull/1535/files#diff-2a30a2a4dccd9b8e1dccf2220b27057fR508)

[2019-12-16 22:18] sishida commented on #1336
We have decided not to update the Marketplace pages until after Codewind remote comes out of tech preview.

[2019-12-17 00:05] ssh24 commented on #1558
I ran into this as well on Windows. Basically, you need to run `docker rm -f codewind-pfe` to manually stop PFE, and then start cwctl which will create the `docker-compose` file in `/.codewind` directory. I think this needs to be documented somewhere unless there is a more elegant way of doing this.

[2019-12-17 07:39] markcor11 commented on #1508
I'm coding up a way for PFE to use the internal cluster network for applying load pressure and controlling metrics gathering from the project (pfe direct to pod) rather than the external ingress address.

[2019-12-17 09:36] james-wallis commented on #1514
@naveenkaratekid @GeekArthur https://github.com/eclipse/codewind/pull/1546 has been accepted into master which should fix this issue on 0.7.0, please retest using 0.7.0 branch and remove stop ship flag - master branch fix should land soon but will have a different implementation.

[2019-12-17 09:36] tobespc commented on #1472
issue 1533 has a fix that will fix this for 0.7.0

However, there are other improvements to be made in the master branch going forwards.  Targetting this at 0.8.0

[2019-12-17 09:45] tobespc opened #1560 "Improve directory deletion when syncing changes"
Currently, when syncing files to pfe, we don't do anything specfic for directories.  As such, if a directory has been removed, we individually delete each file rather than just `rm -fr` on the directory.

[2019-12-17 09:47] james-wallis commented on #1560
/assign

[2019-12-17 09:48] tobespc commented on #1502
Based on comments in slack, this is too risky to port this to 0.7.0 so late in the release.  We should leave this for 0.8.0 only

[2019-12-17 09:49] james-wallis commented on #1560
For this piece of work I'll need to make changes in 3 different places:
* Change the `/api/v1/projects/:id/upload/end` API to take a `directoryList` parameter.
* Modify `cwctl` to send a directoryList on the above API call.
* Modify PFE to delete by directory.
  * Delete directories
  * Rescan file system to get updated file system
  * Delete by individual file

[2019-12-17 10:21] rwalle61 commented on #977
related issue https://github.com/eclipse/codewind/issues/1509

[2019-12-17 10:29] stalleyj opened #1561 "Remove redundant code between FW daemon and Codewind server"
**Codewind version:**
0.8.0 or above
**Description of the enhancement:**
The communication between the FW daemon and Codewind server has been significantly changed during the move 0.7.0. and while everything is working, there are hangovers from how it all worked before. I would like to see this code streamlined, redundant APIs removed, unnecessary fields stripped out and any other improvements mad

[2019-12-17 10:58] stalleyj commented on #1561
The watchlist API currently passes back a value as projectCreationTime which is actually lastSyncTime. Update the name which will match what the doc says.

[2019-12-17 12:52] tobespc commented on #1383
the problem is due to pfe being completely maxed out building projects that it cannot respond to the requests from the IDE to provide the list of projects.   If pfe is only building 1 or 2 projects at a time, everything is good but once we max it out, all sorts of things start to go wrong.  The IDE's appear to lose connection as PFE can't respond to its ping request, project watch list can't retur

[2019-12-17 13:09] tobespc commented on #1395
I've updated to 3.2 under this PR

https://github.com/codewind-resources/javaMicroProfileTemplate/pull/1

[2019-12-17 13:54] malincoln commented on #1533
@GeekArthur pls verify and close.  Thanks

[2019-12-17 13:55] malincoln commented on #1472
@jopit pls verify and close.  Thanks

[2019-12-17 14:12] ssh24 commented on #1530
/assign me

[2019-12-17 14:12] ssh24 commented on #1530
/pipeline in-progress

[2019-12-17 14:14] jgwest commented on #1530
@ssh24: Unable to locate pipeline with name: `in-progress`

[2019-12-17 14:15] ssh24 commented on #1530
/pipeline In Progress

[2019-12-17 14:20] tetchel opened #1562 "Can't tab to many items in Remote Connection Settings page"
The following are not tabbable:

- the help buttons
- the buttons to open the other pages
- all the buttons at the bottom (including the buttons that aren't shown below)
- the copy button that becomes available after you've saved the connection

![image](https://user-images.githubusercontent.com/8888438/71002883-2b3c6c80-20ae-11ea-9ec9-b3dcdfef2513.png)

[2019-12-17 14:50] rajivnathan opened #1563 "Ensure build queue applies to all builds, not just restart of Codewind"
**Description of the enhancement:**

Related to #1383. There can be significant load when a user creates or updates many projects in a short period of time.

**Proposed solution:**

The build queue should limit the number of builds that can run at any time. Any type of build (create/update)

[2019-12-17 14:51] rajivnathan commented on #1383
In the release meeting we discussed what we can do for 0.8.0.

1. Investigate why PFE server stops responding under load. Suspect there may be some synchronous code that blocks the event thread for extended periods of time.
2. Ensure that the build queue limits the number of builds at any time (https://github.com/eclipse/codewind/issues/1563)

[2019-12-17 14:53] tetchel opened #1564 "Refreshing a Codewind connection causes any Project Overviews from that connection to close"
this bizarre bug is because of how I implemented refresh - it disposes all the projects, which is supposed to wipe their state so we can construct new ones that don't have any of the old, possibly erroneous state.

but, when we dispose the project objects, their overviews close 🤦‍♂

This bug has been around forever, but I should probably rethink this. perhaps, have different code branches for 'dis

[2019-12-17 15:03] malincoln commented on #1520
agreed to move to 0.8.0

[2019-12-17 15:04] malincoln commented on #1383
agreed to move to 0.8.0

[2019-12-17 15:05] malincoln commented on #1508
agreed to move to 0.8.0

[2019-12-17 15:06] malincoln commented on #1502
agreed to move to 0.8.0

[2019-12-17 15:06] malincoln commented on #1521
agreed to move to 0.8.0

[2019-12-17 15:14] #1451 closed

[2019-12-17 15:14] #1442 closed

[2019-12-17 15:14] #1457 closed

[2019-12-17 15:14] stalleyj commented on #1291
The function is in, working and ready to be used by the IDEs.

[2019-12-17 15:14] #1291 closed

[2019-12-17 15:15] tetchel commented on #1548
fixed https://github.com/eclipse/codewind-vscode/pull/357

[2019-12-17 15:15] #1548 closed

[2019-12-17 15:16] malincoln commented on #1073
@makandre do you have any logs that you can provide to @tobespc to investigate further?

[2019-12-17 15:29] tetchel opened #1565 "Use cwctl to remove projects"
https://github.com/eclipse/codewind/issues/1291

[2019-12-17 15:29] tobespc commented on #1457
verified, all ok

[2019-12-17 15:29] tobespc commented on #1451
verified, all ok

[2019-12-17 15:38] GeekArthur commented on #1477
@sujeilyfonseca From your log, seems like the issue in your cluster is the recycler pod issue from OpenShift, if the recycler has some issue the PV won't be available since recycle volume work is done by recycler pod. From Red Hat Portal here https://access.redhat.com/solutions/2143161 looks like it's an known issue in OpenShift and temporary workaround is delete the recycler pod then delete and r

[2019-12-17 15:51] GeekArthur commented on #1533
I verified the issue was fixed on 0.7.0, so I remove the stopship label and add 0.8.0 release. I can close the issue once it's fixed in master (master has different implementation for the long-term fix).

[2019-12-17 15:54] GeekArthur commented on #1514
I verified the issue was fixed on 0.7.0, so I remove the stopship label and add 0.8.0 release. I can close the issue once https://github.com/eclipse/codewind/issues/1533 is fixed in master (master has different implementation for the long-term fix).

[2019-12-17 16:01] GeekArthur commented on #1514
PR for master is not merged yet: https://github.com/eclipse/codewind/pull/1559, I can verify and close the issue once the PR is merged.

[2019-12-17 16:01] GeekArthur commented on #1533
PR for master is not merged yet: #1559, I can verify and close the issue once the PR is merged.

[2019-12-17 16:12] naveenkaratekid commented on #1514
@GeekArthur Im still seeing build failures on ODO projects.

PFE Log:

[codewindPFE_070_latest.txt](https://github.com/eclipse/codewind/files/3974257/codewindPFE_070_latest.txt)

Screenshot:
![image](https://user-images.githubusercontent.com/19738071/71013089-1962c580-20be-11ea-9959-50f29a8eba37.png)

[2019-12-17 16:18] jopit commented on #1472
Verified

[2019-12-17 16:18] #1472 closed

[2019-12-17 16:25] elsony commented on #1458
@lentheivendra will be verifying this.

[2019-12-17 16:30] jopit commented on #1073
I can reproduce this on both local and hybrid.  Here's the PFE log from local.

[pfe.txt](https://github.com/eclipse/codewind/files/3974341/pfe.txt)

[2019-12-17 16:34] rajivnathan commented on #1073
Briefly chatted with Andrew. Think his earlier comment is how we can fix this. It'd require changes on Turbine and the IDEs cc @elsony @jopit

Adding iterative-dev and IDE area labels and downgrading from stopship to hot because it does not lead to functional problems as Andrew pointed out.

[2019-12-17 16:36] jagraj commented on #1515
Looks like this issue has been closed for wrong PR. I do not see PR 265 added prerequisite
for cluster login.

/reopen

[2019-12-17 16:36] tetchel commented on #1073
I believe the one functional problem we should see from this is that unsupported capabilities are enabled (ie, restart, app monitor). If there's an error getting the capabilities (as seen here) then the extension falls back to assuming all capabilities are available.

[2019-12-17 16:42] lentheivendra commented on #1458
Verified on latest 0.7.0 Codewind (eclipse on Windows 10) + OKD 3.11 remote.  The filewatcherd log shows the correct paths being used.

[2019-12-17 16:43] tobespc commented on #1073
I like @rajivnathan suggestion but rather than wait for a new event to be triggered, can we not use the existing one to say a build has started ?  I guess if autobuild is off though then we wouldn't get a build event. So I've argued against myself :-) .

so +1 to @rajivnathan for that idea

[2019-12-17 16:49] jopit commented on #1073
I've updated the title to more accurately reflect the problem.

[2019-12-17 16:51] johnmcollier commented on #1515
Given Codewind should be Kube generic and that logging into a cluster can not only vary between Kube providers, but even different versions of the same Kube (e.g. logging in on OCP 3.x is slightly different than on 4.x), can we just provide something generic like:

[code]

[2019-12-17 16:51] elsony commented on #1073
@tetchel What event is the IDE listening for before calling the capabilities?  We currently have a project creation successful event (not just the acknowledgement of project creation) sent out when the project creation is completed.  Before that event is issued, no operation can be done by the project on the Turbine layer.  If we happens to be sending the project creation success event too early b

[2019-12-17 16:52] jagraj commented on #1515
Thanks @johnmcollier and @sishida

[2019-12-17 16:54] maysunfaisal opened #1567 "[Latest] Cannot open any webview on Che"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Cannot open Image Registry Manager on master latest

Theia Log:
[code]

![Screen Shot 2019-12-17 at 11 53 20 AM](https://user-images.githubusercontent.com/31771087/71016962-e15e8100-20c3-11ea-9f96-b2912f628d6d.png)

Please confirm this for local remote UI as well

[2019-12-17 16:54] maysunfaisal commented on #1567
/area vscode-ide

[2019-12-17 16:55] sishida commented on #1515
Hi, team, Please see line 21 in the PR update: https://github.com/eclipse/codewind-docs/pull/269

As soon as we get a committer approval, we can merge. :)

[2019-12-17 16:55] maysunfaisal commented on #1567
cc: @ssh24

[2019-12-17 16:58] tetchel commented on #1073
i am using `projectBind` because `projectCreation` takes way too long to be emitted (https://github.com/eclipse/codewind/issues/747)

[2019-12-17 17:01] makandre commented on #1073
If `projectCreation` takes too long, then what about the `newProjectAdded` event?

[2019-12-17 17:02] tetchel commented on #1073
Never heard of that one 🙃

[2019-12-17 17:07] elsony commented on #1458
Closing this off based on the previous comment from Len.

[2019-12-17 17:07] #1458 closed

[2019-12-17 17:10] #1439 closed

[2019-12-17 17:12] GeekArthur commented on #1514
@naveenkaratekid Can you run `oc get po --selector=app=codewind-pfe -o jsonpath='{.items[*].status.containerStatuses[*].imageID}'
` to see which PFE SHA you use?

[2019-12-17 17:15] maysunfaisal opened #1569 "Remote changes gets detected after a long time"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
- Download 0.7.0 Codewind VS Code extension
- deploy remote CW using cwctl (I used the one under `~/.codewind/0.7.0`
- create remote connection and a project
- make changes to the local project

The changes gets picked up after >30s. This is bad UX.

/priority hot

[2019-12-17 17:16] maysunfaisal commented on #1439
opened https://github.com/eclipse/codewind/issues/1569 for bad UX

[2019-12-17 17:18] naveenkaratekid commented on #1514
@GeekArthur Here is the output I got from running the command you specified:

```docker-pullable://docker.io/eclipse/codewind-pfe-amd64@sha256:cd3b159c1145cb6f1b9b069d55bcca75aa4fe2743dedeedb39baedd21532ac45```

[2019-12-17 17:21] maysunfaisal opened #1570 "[0.7.0] Losing Remote connection frequently"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I have a remote connection to my remote PFE from 0.7.0 VS Code extension

Every now and then I keep losing connection

![Screen Shot 2019-12-17 at 12 19 21 PM](https://user-images.githubusercontent.com/31771087/71019047-a8c0a680-20c7-11ea-9d3f-696c63f24ca2.png)

I h

[2019-12-17 17:22] GeekArthur commented on #1514
@naveenkaratekid The one you use is not the latest PFE image so it doesn't include Portal's fix,
`6ab50c345c4946208ddbcdf68a229c706b18360e6c1c9c635fe22ed88e90f53b` from https://hub.docker.com/layers/eclipse/codewind-pfe-amd64/0.7.0/images/sha256-6ab50c345c4946208ddbcdf68a229c706b18360e6c1c9c635fe22ed88e90f53b. You can try again with the latest PFE image.

[2019-12-17 17:24] maysunfaisal commented on #1569
could be related to #1570

[2019-12-17 17:27] GeekArthur commented on #1514
@naveenkaratekid Are you trying to verify 0.7.0 or master? Like I said master still doesn't work https://github.com/eclipse/codewind/issues/1514#issuecomment-566607347

[2019-12-17 17:29] #1567 closed

[2019-12-17 17:30] ssh24 commented on #1563
Not sure I understand the enhancement properly. What are you proposing?

[2019-12-17 17:39] naveenkaratekid commented on #1514
@GeekArthur I am verifying using this devfile:

[code]

If this isn't the correct link to test on Che, could you provide me with that link?

[2019-12-17 17:42] GeekArthur commented on #1514
@naveenkaratekid You can use this one, the one you use is latest master not latest 0.7.0
[code]

[2019-12-17 17:45] jopit commented on #1073
Isn't that event emitted on the filewatcher socket and not on the ui socket?

[2019-12-17 17:45] rajivnathan commented on #1563
As the proposed solution says "Any type of build (create/update)". The build queue was original implemented for restart scenarios. It currently does not handle update builds. That may be related to the problems seen in #1383

[2019-12-17 17:47] tetchel commented on #1073
for the most part, Portal propagates FW events to its clients (the IDEs) but it's likely that one isn't, since each event has its own 'forwarding function'.

[2019-12-17 17:48] naveenkaratekid commented on #1514
Let me verify.

[2019-12-17 17:51] makandre commented on #1073
I think it is propagated:

https://github.com/eclipse/codewind/blob/0.7.0/src/pfe/portal/modules/FileWatcher.js#L473

[2019-12-17 17:52] sghung commented on #674
Closing on behalf of Martin since this has been opened a long time and has been resolved by appsody + kabanero to make it consistent

[2019-12-17 17:52] #674 closed

[2019-12-17 17:56] sghung commented on #1121
Closing on behalf of Toby, since this is old, has no additional activity by Toby, and has not come up during 0.7.0 SVT.

[2019-12-17 17:56] #1121 closed

[2019-12-17 17:59] jopit commented on #1073
Yeah, it is propagated.  Here's the sequence of events that are emitted when creating a simple appsody node project
[code]

[2019-12-17 18:05] sghung commented on #293
Closing as Laven had created a script to help get the specific version. The script is now in use via https://github.com/eclipse/codewind-appsody-extension/blob/master/bin/pull.sh

[2019-12-17 18:05] #293 closed

[2019-12-17 18:16] keithchong commented on #1129
Hi @beccabau , I'll be working on this.  What is the format of and guidance for the video?  Eg. resolution, size, will we add the 'bubble' comments or are we going to narrate, etc?

[2019-12-17 18:20] ssh24 commented on #1563
Ah, I see. So currently the build queue logic is for create/recreate scenarios. You are proposing for it to be extended to update scenarios as well

[2019-12-17 18:22] ssh24 commented on #1527
@maysunfaisal I think the ODO tests have been more stable on the ignoredPaths lately? Could you please verify?

[2019-12-17 18:22] #669 closed

[2019-12-17 18:23] ssh24 commented on #543
I think this set of tests are not broken anymore. Closing.

/close

[2019-12-17 18:23] #543 closed

[2019-12-17 18:49] naveenkaratekid commented on #1514
@GeekArthur I just verified, and I found some strange observations.

The Python ODO now builds and runs successfully. The Java ODO stays stuck at the ```Starting Build Succeeded``` stage.
The NodeJS ODO fails off the bat when I create a project.
The Perl ODO showed ``````Starting [Build Successful]```, but then now it shows that it failed.

Screenshot:
![image](https://user-images.githubuserconten

[2019-12-17 18:54] beccabau commented on #1129
Hi Keith, the only hard requirements are an intro/outro (located https://github.ibm.com/dev-ex/devAdvocacy/tree/master/Media/videos).
- I would recommend as high resolution as you can (at least 1080p), since that will look nicer in general
- We can be pretty creative with these (just keep them under a minute). Some of the videos are narrated over, others have text on the screen (which can be a lit

[2019-12-17 18:59] rtaniwa commented on #1129
My two cents, I prefer a video with narration for general use over one with just text. The latter is great for conferences or venues where there may not be audio available at a ped etc, but for general use videos I think they are much better received when there is someone narrating. :)

[2019-12-17 19:11] yangcao77 commented on #1073
The `newProjectAdded` is not a proper event for ide to listen to. It's for filewatcherd, and it's not emitted for queued projects.

[2019-12-17 19:13] GeekArthur commented on #1514
Your screenshot displays the nodejs project, looks like your cluster already had the odo resource with the same component name before. Can you delete all your workspaces then re-create a new one with the latest 0.7.0 and check your PVs are available. Then create odo projects again, if you still hit the issue, other than PFE log, please post the odo.build.log as well for the failed odo projects. od

[2019-12-17 19:18] elsony commented on #1073
ProjectBind is definitely not good enough. ProjectBind get issued as long as portal issue a bind command to Turbine. There is no guarantee what code has turbine goes through yet so I think we kind of luck out to get things working today if we are relying on ProjectBind.  ProjectCreation is the original notification that is defined for IDE to safely start doing operations on the project.  So that i

[2019-12-17 19:22] tetchel commented on #1570
Something is blocking the event loop (maybe calling a sync version of some `fs` function) causing the socket connection to go down

[2019-12-17 19:23] tetchel commented on #1073
fixing #747 would likely make the projectCreation event suitable to use for this as is intended

[2019-12-17 19:24] #1356 closed

[2019-12-17 19:28] tetchel opened #1571 "[Theia] Can't reopen project info page"
1. Open project info page
2. Close project info page
3. Open the same project info page
4.
![image](https://user-images.githubusercontent.com/8888438/71027540-7324b900-20d9-11ea-8186-5caae2195e7a.png)

[2019-12-17 19:35] tetchel opened #1572 "Stop user from having to recreate registry secret on every Che workspace creation"
It's annoying to have to re-enter my docker registry credentials every time I create a Che workspace. Can we persist it between workspaces with the new design?

[2019-12-17 19:38] johnmcollier commented on #1572
What's needed from iterative-dev on this? Wouldn't the persistence need to happen at the IDE level?

[2019-12-17 19:39] GeekArthur commented on #1514
I just created some odo projects and they build fine.

![Screen Shot 2019-12-17 at 2 38 29 PM](https://user-images.githubusercontent.com/15131537/71028283-001c4200-20db-11ea-9491-bf6129b04ad6.png)

[2019-12-17 19:39] tetchel commented on #1572
in che? where would we persist anything?

[2019-12-17 19:40] naveenkaratekid commented on #1514
**odo.build.log for Python**
[code]

**odo.build.log for Java**
[code]

**odo.build.log for NodeJS**
[code]

**odo.build.log for Perl**
[code]

[2019-12-17 19:43] johnmcollier commented on #1572
D'oh, I missed the Che part. Thought this was for Hybrid.

 As it is right now, the secrets are tied to the Che workspace volume, so that if the workspace is stopped, they still exist and are available when the workspace is restarted. The secrets only go away when the workspace is deleted.

I'd be hesitant to keep secrets around on the cluster after the corresponding workspace has gone away. I'd a

[2019-12-17 19:44] tetchel commented on #1572
ok, that makes sense, sounds like we can't get this then?

[2019-12-17 19:45] sishida commented on #1515
Pull request https://github.com/eclipse/codewind-docs/pull/269 has been merged. Closing this issue.

[2019-12-17 19:45] #1515 closed

[2019-12-17 19:46] johnmcollier commented on #1572
We can keep this open to see if other folks have thoughts on the matter (I unfortunately am not yet surpreme dictator of Codewind on Che 😉 ).

As it is right now, with Che workspaces being shared between users, I'd be hesitant to support this (especially as Che doesn't provide a good mechanism for workspaces to figure out which user is running the workspace). This _could_ be more useful once [Che

[2019-12-17 19:47] GeekArthur commented on #1514
Yeah, from the logs, we can clearly see for all the failed builds, they have the same type of error like this: `Failed to create component with name cw-perlodoodo. Please use `odo config view` to view settings used to create component. Error: imagestreams.image.openshift.io "cw-perlodoodo-app" already exists
unable to create ImageStream for cw-perlodoodo-app`

That means you already had ImageStrea

[2019-12-17 19:49] naveenkaratekid commented on #1514
If I delete the workspace, how do I verify that the ImageStream doesn't exist?

Do I need to delete the che workspace?

[2019-12-17 19:51] GeekArthur commented on #1514
You can run `kubectl get is`

Yes, you need delete Che **workspace** (not delete Che) and use devfile to re-deploy it as before

[2019-12-17 19:56] naveenkaratekid commented on #1514
Here is the output of ```kubectl get is```

[code]

[2019-12-17 19:58] sishida commented on #393
Confirmed with Guy and John P. that we can close this issue and then open a new one as we continue to iterate on the design.

[2019-12-17 19:58] #393 closed

[2019-12-17 19:58] GeekArthur commented on #1514
You need to manually all of them except `codewind-odo-openjdk18`

[2019-12-17 20:02] GeekArthur commented on #1514
The best way for cleaning up your cluster is to delete all existing workspaces then run:
- `kubectl get is` to check dangling image streams
- `kubectl get pvc` to check dangling PVCs
- `kubectl get pv` to check if all PVs are available

[2019-12-17 20:04] naveenkaratekid commented on #1514
When I ran the ```kubectl get pv```, I noticed that in ``che-data```, the CLAIM section says che/cw-nodejsodoodo-app-s2idata. Do I need to remove that?

```che-data         1Gi        RWO            Recycle          Released    che/cw-nodejsodoodo-app-s2idata                            131d```

[2019-12-17 20:07] GeekArthur commented on #1514
You can leave it as it is since recycler pod can handle that, but you need to make sure all workspaces are deleted then re-deploy new workspace.

[2019-12-17 20:08] jagraj commented on #1508
Changing title to reflect OCP 4.2. support.

[2019-12-17 20:12] jopit opened #1573 "Design issue for hybrid scenario refinements"
Issue #393 covered the initial design for the hybrid scenario, delivered in 0.7.0. This issue is for additional refinements that Guy would like to see.

[2019-12-17 20:14] elsony commented on #1073
One thing that you mentioned earlier is ProjectCreation takes a long time. A big chunk of the time is on building the build and runtime containers.  Therefore, even if we change the ProjectCreation to the end of building the build and runtime container, it still take long to issue that event.  Also, even if build and runtime containers are build, some operations like getting the URL will not be re

[2019-12-17 20:17] yangcao77 opened #1574 "PFE disconnected after a single change to a spring project"
**Codewind version:** master
**OS:** MacOS

**Che version:**
**IDE extension version:** VSCode master
**IDE version:**
**Kubernetes cluster:**

**Description:**
This is an intermittent issue.
I only have 1 spring project in my local workspace.
PFE and docker hangs after a change to the spring project. I've noticed that portal is trying to log all deleted files, and my pfe hangs after that.

I need

[2019-12-17 20:18] yangcao77 commented on #1574
/area portal
/priority stopship

[2019-12-17 20:23] elsony commented on #1574
Based on the described scenario, I wonder if it is possible that the portal code is doing the sync on the main thread so it will block any incoming connection, e.g. ping from the IDE, if it is in the middle of a sync operation.

[2019-12-17 20:24] sghung commented on #1247
Closing on behalf of John, as this was fixed on #1246.

[2019-12-17 20:24] #1247 closed

[2019-12-17 20:28] sghung commented on #320
Closing, as this won't happen and is lower priority.

[2019-12-17 20:28] #320 closed

[2019-12-17 20:28] elsony commented on #1574
Although we kind of mentioned this problem in https://github.com/eclipse/codewind/issues/1383, that item is currently classified as having a lot of project building at the same time and hold up the CPU. However, this particular scenario is just one single project on local and I think it is more serve than #1383.

[2019-12-17 20:28] sghung commented on #366
Already implemented. Experimental Appsody extensions can be added to 0.7.0

[2019-12-17 20:37] elsony commented on #1574
@johnmcollier It sounds like you are seeing similar problem when running on Che (https://github.com/eclipse/codewind/issues/1383#issuecomment-562727397). Can you confirm if you are still seeing the problem on Che scenario?

[2019-12-17 20:37] kferrone opened #1575 "GRPC Compatible?"
So I was trying to set up my first project to work with Codewind. This project is a typescript based GRPC server. I had everything almost exactly like the simple codewind node project which is generated from saying new project. I'm starting to think I can't get it to work because of GRPC and Codewind not being compatible. Is this the case? Can I use Codewind with GRPC or is Codewind expecting a no

[2019-12-17 20:59] jopit commented on #1574
The log Stephanie attached shows PFE is deleting the maven cache folder (.m2) .  Seems like another instance of the kind of problem reported in #1472 and #1546

Even if we change to deleting folders instead of individual files, deleting the maven cache is less than ideal since it will likely dramatically increase build times -- maven will have to download all dependencies again.

[2019-12-17 21:05] DavidG1011 opened #1576 "SVT: VSCode: Linux: Default Java Microprofile and Java Spring projects failing to build on Ubuntu."
**Codewind version:** 0.7.0
**OS:** Ubuntu 18.04.3 LTS

**Description:** Java Microprofile and Java Spring projects are failing to build in VSCode on Ubuntu.

**Steps to reproduce:**
1. Build a default Microprofile or Spring project:
<img width="403" alt="Screen Shot 2019-12-17 at 3 55 44 PM" src="https://user-images.githubusercontent.com/30476587/71033644-bdac3280-20e5-11ea-88f6-dbc24c27e395.png"

[2019-12-17 21:06] tetchel commented on #1574
also similar https://github.com/eclipse/codewind/issues/1570

[2019-12-17 21:12] jopit commented on #1570
Do you have the logs from PFE?

[2019-12-17 21:14] johnmcollier commented on #1574
@elsony I can still reproduce on Che

[2019-12-17 21:18] tetchel commented on #1575
woops, https://github.com/eclipse/codewind-vscode/pull/362 is not related, bad paste.

I will get a team member to respond, however...

[2019-12-17 21:24] ssh24 commented on #1576
Looks like the failure is on:
[code]

[2019-12-17 21:24] johnmcollier commented on #1575
Hey @kferrone, thanks for opening an issue!

When you say that you couldn't get it to work, do you know what happened exactly, or what errors (if any) were shown in the UI?

Generally Codewind expects the projects it deploys to have an exposed HTTP server to communicate with, so I don't think gRPC would work well with Codewind **right now**. But, given its popularity in microservices, it's somethi

[2019-12-17 21:25] ssh24 commented on #1576
@DavidG1011 Did you make sure to start VSCode as a root user in Ubuntu?

[2019-12-17 21:27] sghung commented on #284
@makandre Is there any work left for this? Or can we close it? After I added the environment variable to block the extension from being overwritten, I don't think there's anything else left.

[2019-12-17 21:31] jopit commented on #1574
That log snippet from John's comment in https://github.com/eclipse/codewind/issues/1383#issuecomment-562727397 also shows PFE is deleting the maven cache.

[2019-12-17 21:32] elsony commented on #1574
@tobespc One way to fix it is to add .m2 to the skip list for deletion similar to what we did for the similar odo and Appsody in the past.  Having said that, this is the third variant of stopship problems caused by the new sync logic introduced on 0.7.0 is trying to delete files that it doesn't know about (as mentioned on #1533).  I am not sure if we can safely say that we have have found all case

[2019-12-17 21:33] tetchel opened #1577 "Add command to move project between Codewind instances"
It should be pretty easy to give users a straightforward way to move projects between the local codewind and any remote instances.

When moving the project, they should be prompted to deal with the project in one of 3 ways:
- leave the project running on the old Codewind
- leave the project but disable it on the old Codewind
- remove the project from the old Codewind

Eclipse already has this feat

[2019-12-17 21:34] #1571 closed

[2019-12-17 21:34] DavidG1011 commented on #1576
Running as root as far as I know

[2019-12-17 21:38] tetchel opened #1578 "Link back to Connection page from Templates/Registries managers"
The user should be able to open the Conneciton Settings page by clicking the connection's label.

![image](https://user-images.githubusercontent.com/8888438/71036411-a8d29d80-20eb-11ea-8c7a-2c31dbc82c6f.png)

[2019-12-17 21:39] jagraj commented on #1576
I am trying on my linux system now with eclipse plugin. Will post the results here.

[2019-12-17 21:41] makandre commented on #284
I thought the code was not merged.  Where and what env var are we using?

[2019-12-17 21:41] elsony commented on #1575
This is an existing item for handling apps that doesn't expose http port. One proposed way to resolve it can be found in https://github.com/eclipse/codewind/issues/1269#issuecomment-558347306.  Having said that, as @johnmcollier mentioned, knowing more details will help us to have a better understanding in this specific issue.

[2019-12-17 21:45] johnmcollier opened #1579 "Create a mustgather script for Codewind"
We currently have no mustgather script that we can ask users to run when they open bugs related to Codewind. Given that not every user of Codewind will be entirely familiar with Docker or Kubernetes, it might be useful to have a simple, easy to run script that does the following, on both local Codewind and Codewind on Kube (Che or Hybrid):
- Determines Docker and/or Kubernetes version, and if it's

[2019-12-17 21:47] sghung commented on #346
@josephca I think this issue has been fixed now, can you confirm and close?

[2019-12-17 21:49] jagraj commented on #1576
Looks good on my RHEL 7.2 machine, both default Java and Spring projects built fine. I think this might be related to mount issue with the permissions.

![Screen Shot 2019-12-17 at 4 46 08 PM](https://user-images.githubusercontent.com/713849/71037181-306cdc00-20ed-11ea-9311-b70c5c56d0a6.png)

[2019-12-17 22:10] DavidG1011 commented on #1576
I had a leftover `/codewind-workspace` directory, so I tried removing it. Still running into the same issue:
[pfe_2.txt](https://github.com/eclipse/codewind/files/3975690/pfe_2.txt)

[2019-12-17 22:25] GeekArthur commented on #1556
PR is merged, close the issue.

[2019-12-17 22:25] #1556 closed

[2019-12-17 22:26] markcor11 commented on #1508
I have made changes :

1. PFE - In Kube, discover endpoints using project service
2. PFE - In Kube make LoadRunner apply load pressure to project directly rather than ingress
3. PFE - In Kube make metrics controller gather metrics from project directly rather than ingress
4. PerfDash - When PFE is secured, send authentication token to access the protected UISocket
5. Built test images for Jag to t

[2019-12-18 08:52] tobespc commented on #1073
We have discussed this in the past but bringing it up again here.   Why can we not implement the capabilities function in portal ?   Is there anything that requires build specific (that only Turbine knows about) data to be used ?  Are the capabilities bound to language and type ?   If we don't need to wait for Turbine to give us this data then we should move this to portal.

[2019-12-18 09:36] tobespc commented on #1574
The change we want to put in will not delete files individually but rather delete files by directory.  However, build files should not be being deleted .  Files can exist in 3 places now.   In the users workspace, in the pfe container and in the build/run container.

Files likes .m2 cache should only exist in the build/run container ?

We do deletion by comparing the list of files in the users wor

[2019-12-18 09:46] tobespc commented on #1574
This is raised on master ?   not 0.7.0

[2019-12-18 09:57] james-wallis commented on #1560
PR raised for CLI https://github.com/eclipse/codewind-installer/pull/301/

[2019-12-18 10:27] tobespc commented on #1574
ok, so I can see that in the pfe volume, we have the .m2 cache as well as in the build container, why ?   The codewind-workspace/project should be a mirror of that is on the user workspace, should never contain build artifacts

[2019-12-18 10:36] markcor11 opened #1581 "Some metrics can't be deleted from performance dashboard"
**Codewind version:** 0.7.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Performance Dashboard fails to delete metrics

**Steps to reproduce:**
Create some load tests, try to delete them. Some may delete, some may not resulting in 404 errors.

Reason:  This is more obvious on Hybrid where there can be millisecond delays between the

[2019-12-18 10:37] markcor11 commented on #1581
/assign @markcor11

[2019-12-18 10:38] markcor11 commented on #1581
/area portal

[2019-12-18 12:14] MelHopper commented on #1106
Add info on additional codewind plugins in the next iteration of this work.

[2019-12-18 13:35] tobespc commented on #1574
I've made a change to the spring-container.sh script to match liberty.  That is, rather than unzip the m2cache, leave it as a zip file and let it get extracted by the build.sh file

[2019-12-18 13:37] micgibso opened #1585 "Move docker registry topic"
The dockerregistry.md topic is no longer Che specific so move into each IDE section by having multiple copies of the same file located under each of the IDE specific-help.

For more info, see https://github.com/eclipse/codewind-docs/pull/261

20/12 Also see PR https://github.com/eclipse/codewind-docs/pull/274

---
02/01 Looking at this today, we have two identical files in our source with differen

[2019-12-18 13:40] jagraj commented on #1514
@GeekArthur
Looks like Naveen has to follow all those steps apart from the fix we delivered. Is it possible our users will get into similar issue and it makes sense to doc this to clean up their environment.?

[2019-12-18 13:58] james-wallis commented on #1560
PR raised for PFE https://github.com/eclipse/codewind/pull/1582

[2019-12-18 14:25] tobespc commented on #1574
I've had some thoughts around improving the deletion logic to prevent this happening in future, will get a change in for 0.8.0

[2019-12-18 14:28] jcockbain commented on #1475
@stalleyj this should be fixed now - could you verify?

[2019-12-18 14:30] MelHopper opened #1586 "Repurpose Performance Monitoring topic into a guide"
The performance monitoring content in the table of contents topic tree was originally written as a Guide. Now that we will have a Guides section on our new Docs Landing Page, we can repurpose this content back into a performance monitoring Guide.

Current content is located at:
https://www.eclipse.org/codewind/guide_performance.html

Time Estimate: 1 full day

[2019-12-18 14:32] MelHopper opened #1587 "Repurpose the Kabanero.io Getting Started with Codewind Guide for the Codewind website"
Guides are to be created in 2020 for the codewind.dev website.

The first Guide to be created is a Getting Started guide.

Getting Started on Codewind content currently exists as a guide on kabanero.io:
https://kabanero.io/guides/guide-codewind/

This task is to duplicate and repurpose this kabanero.io guide content so that it is suitable to be used as a Codewind guide on the Codewind.dev website.

[2019-12-18 14:32] james-wallis commented on #1560
CLI PR merged.

[2019-12-18 14:38] jcockbain commented on #462
Now our Liams PR has been merged - I get the above in master when starting without install. @tetchel, is this good to be closed?

[2019-12-18 14:41] makandre commented on #1574
@tobespc re:

Well in the case of appsody, the appsody container still mounts pfe's project dir, hence build artifacts do appear in the dir

There's also another case of build artifacts getting generated into the project dir:  when appsody runs in pfe in k8s, it will generate `app-deploy.yaml` etc. into the project dir.  Tho, it's less of an issue if those are deleted because appsody will just gen

[2019-12-18 14:57] makandre commented on #1073
But the other API called is getting the logs, think that one is squarely in Turbine side.

[2019-12-18 15:11] tobespc commented on #1574
@makandre yeah, thats what I'm finding, the change I'm making will preserve all that stuff

[2019-12-18 15:17] tobespc opened #1589 "Improve file deletion logic to only delete src code artifacts"
When we sync files to pfe, we need to make sure that we don't delete any additional artifacts that have been injected into the codewind volume.  For example, .odo files, appsody files etc

[2019-12-18 15:17] tobespc commented on #1574
Raised https://github.com/eclipse/codewind/issues/1589 to cover the enhancement to delete

[2019-12-18 15:24] GeekArthur commented on #1514
@jagraj User won't hit this issue if user only uses Codewind for development purpose since either delete workspace or delete odo project can delete corresponding image stream automatically. But that's good point, we can doc this in case user uses the cluster for other purpose. I can drop a PR quickly to doc this issue.

[2019-12-18 16:01] GeekArthur commented on #1514
PR for documentation: https://github.com/eclipse/codewind-docs/pull/273

[2019-12-18 16:18] elsony commented on #1574
@makandre Does it mean that there are still some potential problems on Appsody case that has not been addressed yet or is that already fixed as part of the earlier fixes?

[2019-12-18 16:19] keithchong commented on #1526
*** Correct release version which was originally given as a result of a typo.

[2019-12-18 16:22] johnmcollier opened #1591 "Support Codewind on Kubernetes 1.16+"
Kubernetes 1.16 removed a number of deprecated APIs and API groups, some of which Codewind was using (mostly the now-removed `extensions/v1beta1` deployments). As it is right now, Codewind starts up fine and Appsody projects can be deployed fine, but our Codewind-style projects still use the removed Deployment type and need to be updated. Similarly, the Helm 2.9.1 we were using needed to be update

[2019-12-18 16:26] johnmcollier commented on #1591
For the type of change that's needed for each template, see: https://github.com/codewind-resources/goTemplate/compare/master...johnmcollier:kube116

[2019-12-18 16:26] johnmcollier commented on #622
For the type of change that's needed for each template, see: https://github.com/codewind-resources/goTemplate/compare/master...johnmcollier:kube116

[2019-12-18 16:28] makandre commented on #1574
@elsony good question.  I have to say yes: because any runtime artifact will get removed and we don't know how that affects the running app.  We are catching the `node_modules` scenario now, but because we can't know for sure what appsody stacks will be used with Codewind, we won't catch all the scenarios.  That's why I've been advocating for a way that can distinguish
between files sync to PFE an

[2019-12-18 16:36] johnmcollier commented on #1591
Codewind can be tested easily on Minikube with Kube 1.16+:
1) `minikube start --memory=8192` (suggest atleast 8Gi of RAM)
2) `minikube addons enable ingress`
3) `minikube ip` to get the IP to use with ingress
4) Use `cwctl` to install Codewind onto Minikube, use `<minikube-ip>.nip.io` as the ingress domain.

[2019-12-18 16:36] elsony commented on #1574
@tobespc Although you have raised #1589 to fix it post 0.7.0, as mentioned in the earlier comments, I wonder if we should really consider to remove that file deletion logic for 0.7.0 since and reintroduce the proper deletion logic when we have one.  Leaving that logic in 0.7.0 can potentially causes instability to our 0.7.0 driver:
1. We don't know if we have caught all cases that the deletion wil

[2019-12-18 17:08] GeekArthur commented on #1574
I think the key point is we need to have a design to identify the `origin of triggering the sync`.

Currently we only support forwards sync which sync from user workspace to PFE, so the origin of triggering the sync should only be the user workspace and only operations (create, update, delete files) in user workspace can trigger the sync. However, the current behavior is that if we generate build

[2019-12-18 17:13] tobespc commented on #1574
So I have a design worked out that will solve this going forwards and prevent deletion of anything that is not src code. I can work on it for delivery for 0.7.0 of you really want it for that but it's not a tiny change

[2019-12-18 17:14] tobespc commented on #1574
For info though, the deletion logic is the same as it was in 0.6.0 and 0.6.1

[2019-12-18 17:14] makandre commented on #1574
I don't think a sync is triggered when files are created in PFE though.  The sync (and deletion of files) is triggered on the **next** modification of files in the user's local project.

[2019-12-18 17:15] tobespc commented on #1574
Ah yes, so this issue was masked behind the original build

[2019-12-18 17:15] tobespc commented on #1574
Now you get it on the first sync

[2019-12-18 17:18] tobespc commented on #1574
It's not sync that is the issue. It's when we do sync and the logic in pfe compares what files are in the users workspace against what is in the volume. Any differences are deleted

[2019-12-18 17:19] tobespc commented on #1574
I'll be home in about an hour if you want me to work on a change. I don't this we should revert anything as that would not give us any file deletion

[2019-12-18 17:21] johnmcollier commented on #1320
Closing, as Helm 3 has been delivered into master.

[2019-12-18 17:21] #1320 closed

[2019-12-18 18:05] sishida commented on #1178
@j-c-berger This issue is good to close, correct?

[2019-12-18 18:09] #1178 closed

[2019-12-18 18:10] sishida commented on #1397
#665 doc has made it in! Closing this issue now. :)

[2019-12-18 18:10] #1397 closed

[2019-12-18 18:12] kferrone commented on #1575
So I was using the standard template because I already wrote my own Dockerfile and I'm pretty proficient with Helm. Never heard of Appsody until Codewind gave me an example.

The issue in the UI is it says the Build failed making the image. However the logs in the Dockerfile say everything worked just fine. In my Docker client (eclipse) I can see the container it started and it says it is working

[2019-12-18 18:19] johnmcollier commented on #1575
@kferrone Yeah, I don't think Codewind's current design would work well for non-HTTP servers at this moment. But I think this is something we should investigate further.

That being said, the `Build failed` message you got seems like a bug given the docker logs showed it built fine and it was running on your machine. I would have expected the status to be `[Stopped] [Build Succeeded]`, as we would

[2019-12-18 18:28] elsony commented on #1574
Regarding to the change in deletion logic from 0.6.1, Jingfu has pointed out earlier that there were some changes on the deletion logic (https://github.com/eclipse/codewind/pull/1310/files#diff-b73b1946195409164e2ccc8a3b7fe79cR216) that was causing the odo case to fail on 0.7.0 which was working on 0.6.0 and 0.6.1 before.

[2019-12-18 19:41] rajivnathan commented on #729
Added the hot label because this issue was opened directly from https://github.com/eclipse/codewind/issues/657 which was a hot issue. We haven't seen https://github.com/eclipse/codewind/issues/657 in a while but if problems like that occur we'd need better logs for investigation.

[2019-12-18 19:41] rajivnathan commented on #657
I haven't seen this in a while. @ssh24 can you please confirm that's the case? #729 is for adding additional log statements in case this pops up later.

[2019-12-18 20:37] yangcao77 commented on #1574
Verified it's been fixed on local.

[2019-12-18 20:38] johnmcollier commented on #1574
I can still reproduce on master with Che

[2019-12-18 20:41] rajivnathan commented on #1073
Regardless of whether it's the capabilities or logs API we're talking about the issue is that the calls are happening too early. If the same call is made later (when the project metadata is initialized) then everything works just fine. Think the solution is to use the ProjectCreation event or create a new event to signal when Turbine APIs can be invoked.

@tobespc to answer your question, cannot m

[2019-12-18 20:44] GeekArthur commented on #1533
Verified the fix on master, close the issue.

[2019-12-18 20:44] #1533 closed

[2019-12-18 20:45] GeekArthur commented on #1514
PR for doc has been merged, close the issue.

[2019-12-18 20:45] #1514 closed

[2019-12-18 21:12] jopit commented on #1073
From the user's point of view, we want the new project to show up in the IDE as soon as possible, which means having it appear before it's properly ready.  Currently vscode is keying off the 'projectBind' event, and eclipse is keying off the initial 'projectStatusChanged' event.

It would be a better design if there was some other event that was emitted when PFE first starts the process of creatin

[2019-12-18 21:55] elsony commented on #1574
Putting this back to in progress since the problem still happens on Che (local works fine).

[2019-12-18 21:57] johnmcollier commented on #1574
Logs from PFE indicate that the .m2 folder is **still** getting deleted:
[code]

Also weirdly, once PFE "disconnects" from the editor (note it doesn't crash), the following is spammed in the logs a **lot**
[code]

[2019-12-18 22:04] johnmcollier commented on #1574
I know why it’s happening. It’s because Spring projects on Kube still share a volume mount with Codewind. So the fix here: https://github.com/eclipse/codewind/pull/1592/files#diff-a3b69d6f69e6c6c34ddf2550e3fde307 won't work since it's still creating the .m2 cache on the volume mount that PFE has.

[2019-12-18 22:04] rajivnathan commented on #1073
These errors don't prevent the IDE from showing the projects earlier though? It can still appear before it's properly ready but you just can't perform actions like run/debug (capabilities) or show logs before you have containers for the projects.

[2019-12-18 23:02] rajivnathan commented on #1574
Verified https://github.com/eclipse/codewind/pull/1594 fixes the issue. @jagraj to verify with the public 0.7.0 image once the build completes

[2019-12-19 09:28] #793 closed

[2019-12-19 14:21] jopit commented on #1073
The errors don't prevent the IDEs from showing the projects early.

And yes, actions like run/debug are different from actions like showing the logs.  A developer might want to stream the logs from the initial build even though the project isn't ready to run -- if nothing else it's a way to see that things are actually happening, especially for projects that take a long time before they're ready.

[2019-12-19 14:46] makandre commented on #1399
The syncing of referenced files is implemented in https://github.com/eclipse/codewind-installer/pull/304

The `sync` command was reading `.cw-settings` already, so actually there's no need for `filewatcherd` to pass the json to the command, which should simplify the logic in `filewatcherd`.  Now it only has to pass `--refPaths true` if a change to a referenced file occurs.

cc @jgwest

[2019-12-19 16:19] makandre opened #1597 "No message when add template source fails"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

This was on VS code.  If I add a template source and it fails (e.g. trying to add URL that already in Codewind), it will just silently do nothing.

**Steps to reproduce:**

1. Add https://raw.githubusercontent.com/codewind-resources/codewind-templates/master

[2019-12-19 16:19] makandre commented on #1597
/area vscode-ide

[2019-12-19 16:21] johnmcollier opened #1598 "Implement a Codewind operator"
So I've been thinking over the differences in how chectl deploys Che and how cwctl deploys remote Codewind on Kube, and the big difference between the two is that chectl is really just a wrapper for the Che operator, rather than dealing with deployment/upgrades/deletion directly. So it got me thinking, would we want to write an operator to manage the deployment of remote Codewind? There's a few ad

[2019-12-19 16:23] ssh24 opened #1599 "Latest installer failing to start PFE"
I am seeing this on windows with latest installer pulled in this morning:
[code]

[2019-12-19 16:25] sghung commented on #366
Need to re-open, I had used the URL: https://github.com/appsody/stacks/releases/download/nodejs-functions-v0.2.0/experimental-index.json instead of the default one https://github.com/appsody/stacks/releases/latest/download/experimental-index.yaml which does not work. Thanks to Andrew for pointing this out

[2019-12-19 16:31] makandre commented on #1597
On Eclipse, it will appear as if the add was successful; it will get added to the list, but when you re-open the template manager, the new repo won't be in the list.

[2019-12-19 16:31] makandre commented on #1597
/area eclipse-ice

[2019-12-19 16:33] makandre commented on #366
But you do have a simple workaround there for getting experimental repos in Codewind; using a different URL.

[2019-12-19 17:59] jopit commented on #1597
The problem is that cwctl is reporting the error back to the IDEs in plain text, not JSON as requested.  You can see this by issuing the same cwctl command from the terminal:
[code]
I also think PFE/cwctl need to return a more useful error message.

[2019-12-19 18:25] maysunfaisal commented on #1326
/pipeline In Progress

[2019-12-19 18:28] keithchong commented on #1129
@rtaniwa, I agree that someone narrating it is better in this video series.   Another question, @beccabau , is there some leeway regarding the 1 minute limit?  Including the intro (3 sec) and outtro (5 sec), my video is 1:21 in length.  Also do you mind if I send you the video part only for your review?  (It is Full HD (1920x0180) and is 43MB in size.)  Note also that I enabled the option to show

[2019-12-19 19:05] beccabau commented on #1129
Yes, you can send it to me. We might be able to speed it up a tad. I think by the nature of the series (features in under a minute), the content should be at least a minute or less.

[2019-12-19 19:45] GeekArthur commented on #1134
Test github notification

[2019-12-19 19:55] GeekArthur commented on #1134
test notification

[2019-12-19 20:14] jagraj commented on #1574
Verified on 0.7.0 as well. Closing this one. Thanks for the fix.

[2019-12-19 20:14] jagraj commented on #1574
/close

[2019-12-19 20:15] #1574 closed

[2019-12-19 20:24] jopit commented on #698
Changes made via PR https://github.com/eclipse/codewind-eclipse/pull/372

[2019-12-19 20:24] #698 closed

[2019-12-19 20:31] #1551 closed

[2019-12-19 20:44] johnmcollier commented on #1574
Fixed in master too.

[2019-12-19 20:57] jopit commented on #768
Change was made via PR https://github.com/eclipse/codewind-eclipse/pull/388

[2019-12-19 20:57] #768 closed

[2019-12-19 22:02] ssh24 commented on #1576
@DavidG1011 Could you please verify this on master?

[2019-12-19 22:02] ssh24 commented on #1576
/pipeline Verify

[2019-12-19 22:03] ssh24 commented on #1530
/pipeline Verify

[2019-12-19 22:03] ssh24 commented on #1527
/close

[2019-12-19 22:04] ssh24 commented on #1245
/pipeline Verify

[2019-12-19 22:04] #1527 closed

[2019-12-19 22:05] ssh24 commented on #1221
/cc @maysunfaisal

[2019-12-19 22:40] AndyRWatson commented on #1129
yep gotta be under a minute,   we've already had one nit comment that our first video shows as 1:00 and technically not under a minute :-o

+1 on the 1080p .mp4,  thats what we've been using for all the other videos and please also upload to https://ibm.ent.box.com/folder/80656701482 when complete so we have a backup incase we ever need to edit again in the future

@beccabau we should really look

[2019-12-19 22:45] AndyRWatson commented on #796
@kimholmes this came up on an advocacy call this week.   By having the youtube link there is a click away from our website whilst imbedded video will keep people on codewind.dev.    Any chance we might get something for 0.8 ?

[2019-12-19 22:50] AndyRWatson opened #1601 "Host Blog content directly on codewind.dev"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

There have been some discussion on which blogging sites we should be using / linking from our landing page, particularly around people potentially leaving our site to read the blogs.   Currently we link to Medium and we are also considering other

[2019-12-19 22:51] AndyRWatson commented on #1601
/assign @AndyRWatson

[2019-12-20 08:03] vrushaliinamdar commented on #1426
Hi Folks,

Is it possible to get PPC64LE version of cwctl this week? Please let me know if you need any help.

[2019-12-20 09:56] NikCanvin opened #1602 "In 0.7.0 release, appmetrics inject can cause app crash for Express Node.js"
**Codewind version:** 0.7.0
**OS:** Mac

**Che version:** -
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Note:**
This issue only applies to Node.js Apps, as everything worked OK on 'Websphere Liberty Java Microprofile'.

**Description:**
I was trying to understand/test the new metrics inject feature in 0.7.0 release, when toggling the inject feature and trying to do perf

[2019-12-20 09:57] tobespc commented on #1602
this also affects master branch

[2019-12-20 10:01] rwalle61 commented on #1602
Okay, I'm trying to recreate. It'd be great if you could post:
1. What's at /metrics
2. what does the package json of the project look like, in the project's docker container?
3. what does the package json of the project look like, in the project dir of the PFE docker container? (`.codewind-workspace`)

[2019-12-20 10:04] tobespc commented on #1602
nothing on /metrics except a nice 404 not found

package.json does not container codewind-metrics

[2019-12-20 10:07] rwalle61 commented on #1602
neither package.json, not even in the PFE container? If so that narrows the problem very specifically

[2019-12-20 10:12] rwalle61 commented on #1602
if metrics injection fails there should be an error in the PFE logs, probably `Injection of metrics collector is not supported for projects of type 'nodejs'`. But if there is a `debug` level log saying `Successfully injected metrics collector into nodejs project` then metrics injection succeeded and the bug is afterwards.

It'd be good to know, if you set logging level to `trace`, whether we get t

[2019-12-20 10:21] tobespc commented on #1602
[code]

[2019-12-20 10:21] tobespc commented on #1602
the injection part has worked fine

[2019-12-20 10:25] rwalle61 commented on #1602
so the package json of the project in PFE has `appmetrics-codewind`, but the package json in project's docker container doesn't have it...

That happened a while ago when there was a bug where I think we built the project before injecting the package json. I thought we fixed that, but a similar thing may be happening now

I'm still trying to recreate

[2019-12-20 10:42] liamchampton commented on #1599
@ssh24 `created file C:\/C:\Users\...` this home directory looks a bit funky.
1) Are you getting this every time?
2) What is the value of your environment var `USERPROFILE`?

[2019-12-20 11:36] NikCanvin opened #1603 "'inject metrics' could be clearer for Users, in 0.7.0 release news"
re: https://www.eclipse.org/codewind/news07.html

I installed 0.7.0, looked at the news article and wanted to try the new features. The first fully ready feature (Remote is labelled 'Tech Prev') was 'inject metrics'. As a pre-exisintg User (I used 0.6.0 a lot) I could not figure out what the feature would do for me (I already had metrics working, so why would I ever want to 'inject metrics'.

I dr

[2019-12-20 12:55] AndyRWatson opened #1604 "update github location for codewind/che clusterRole"
**Codewind version:**   0.7
**OS:** N/A

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

This is a request to look at improving our installation process for the CHE and particularly the page https://www.eclipse.org/codewind/mdt-che-installinfo.html

In this page we reference the latest clusterrole for che/codewind an that u

[2019-12-20 13:03] AndyRWatson opened #1605 "Update CHE installation instructions to include codewind-checluster.yaml"
**Codewind version:** 0.7
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

In the current codewind che installation instructions we make reference to downloading the codewind-checluster.yaml (typo on page which references 'codewind-che checluster yaml' )  and then in the following paragraph we reference the file in

[2019-12-20 13:34] markcor11 commented on #1581
Code merged into master - closing

[2019-12-20 13:34] #1581 closed

[2019-12-20 13:50] hhellyer commented on #1426
@vrushaliinamdar - I've added a PPC64LE build to the Jenkins file. You can now find a ppc64le build in the binaries produced here:

https://download.eclipse.org/codewind/codewind-installer/master/

(The first build with the binary in is 50.)

Please let us know if it works on your environment. If it does can you close this issue?

[2019-12-20 13:50] ssh24 commented on #1599
Yes, it was happening everytime
[code]

[2019-12-20 14:31] NikCanvin opened #1607 "Application Monitoring document on web is missing"
The online docs: https://www.eclipse.org/codewind/gettingstarted.html
no longer has section for application monitoring
(if fact has no mention of application monitoring, except from the 0.7.0 news article)
..
I chatted with Toby, he verified some doc for 'application monitoring' used to be there, but is no longer.

[2019-12-20 14:54] rwalle61 commented on #1602
**Diagnosis**
Okay I think I've recreated this bug. An app that `attach` `appmetrics-dash` after `attach`ing `appmetrics-codewind` crashes when any endpoints shared by the 2 packages are hit, including the endpoints that the performance test hits, and `/appmetrics-dash`.

In our Nodejs templates, the 1st line in `server.js` is `require('appmetrics-dash').attach()`. And when we inject metrics, the

[2019-12-20 15:07] hhellyer commented on #1186
package-lock.json is git ignored at the top level top prevent accidental commits from other locations but it is un-ignored in both portal, turbine, gatekeeper and performance:

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/.gitignore#L4
https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/.gitignore#L5
https://github.com/eclipse/codewind/blob/master/src/gate

[2019-12-20 15:09] elsony commented on #1073
yes, so the only missing piece of info is to know which are the list of API/actions that IDE expect to work with that notification so we can pick the point to send that new notification.

[2019-12-20 15:54] NikCanvin commented on #954
To @tobespc ..
.. following 0.7.0 release, with a new metrics architecture ... I retested the performance feature.

Unfortunely, the same issue here is seen:
![Screenshot 2019-12-20 at 15 52 51](https://user-images.githubusercontent.com/16120163/71266681-cfd5dd00-2340-11ea-95e5-d03b723dfbec.png)

Identicle runs causes the performace to degrade (despite no code changes).. an App restart restores th

[2019-12-20 17:17] johnmcollier commented on #1605
Yeah, that's a fair request. I'll update the docs.

@sishida Any thoughts/concerns?

[2019-12-20 17:18] AndyRWatson commented on #1605
Thanks @johnmcollier

[2019-12-20 17:21] johnmcollier commented on #1604
So, I've had some thoughts on this too.

We used to point to the roles on the master branch of the repo (https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/setup/install_che/codewind-clusterrole.yaml), but since the roles could change from release to release, we changed it to the corresponding release branch. The problem is that this means we have to make sure we update that doc

[2019-12-20 17:25] AndyRWatson commented on #1604
maybe as part of the release we could publish on codewind-resources ?

[2019-12-20 18:12] johnmcollier commented on #1604
Yeah, that could work too, and may be simpler than messing with Jenkins.

[2019-12-20 20:04] maysunfaisal opened #1611 "Jenkins build does not run Portal Integration Tests"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I have noticed on Dec 20 that Jenkins PR builds do not run Portal's integration tests.

I am not sure how long this is broken, it means we've been checking in PRs without running it against the integration tests.

From one of the PRs

[code]

[2019-12-20 20:05] maysunfaisal commented on #1611
/area portal
/priority hot

[2019-12-20 20:09] liamchampton commented on #1599
/assign

[2019-12-20 20:15] ssh24 commented on #1599
So this issue seems intermittent. I just tried it again on the test windows and it worked. One thing to note, the test windows machine does pull down the latest installer everytime, so maybe sometimes the installer executable is not pulled properly?

[2019-12-20 20:19] ssh24 commented on #1599
Closing for now. Will reopen if seen again

[2019-12-20 20:19] #1599 closed

[2019-12-20 20:29] #1326 closed

[2019-12-23 15:13] ssh24 opened #1612 "Investigate test failures on kube deployment"
**Description:**
The kube deployment checks are failing on functional tests. This is might be because the `includes` function in mocha could be different in checking substring compared to the `includes` function within a string. https://github.com/eclipse/codewind/blob/1fd00c42040c40b7121e8c70d18f2ecd8588274d/src/pfe/file-watcher/server/test/functional-test/lib/utils.ts#L325

/kind test

[2019-12-23 15:13] ssh24 commented on #1612
/area iterative-dev

[2019-12-23 15:16] ssh24 opened #1613 "Add a background while loop to keep PFE up when running functional test in OKD4"
**Description of the enhancement:**
The issue happens in OKD4 where basically kube exec timeout expires while running the test and it just cancels it. We need a way to keep a background process running to keep the exec command running.

/kind test
/area iterative-dev

[2019-12-23 15:41] johnmcollier opened #1614 "Ensure all 'kubectl' commands in our Kube tests have the namespace flag"
It looks like some of our Kubectl commands in the Codewind-che and codewind functional tests are missing the `-n <namespace>` flag. If the oc and kubectl clients are configured to point to a different namespace than where the tests are running, this could cause test failures. E.g:
- https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/tests/testutil.bash#L103
- https://g

[2019-12-23 15:49] ssh24 commented on #1614
We don't need it for https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/test/scripts/exec.sh#L93 because the functional test does do `oc project $NAMESPACE` before going to that step.

However, it is needed for sidecar tests

[2019-12-23 16:05] ssh24 commented on #1614
Looks like we do it for SC as well:
https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/tests/sidecarfvt.bats#L38
https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/tests/cronjob-sidecar.sh#L54
I think this issue can be closed.

[2019-12-23 16:09] ssh24 opened #1615 "Investigate codewind sidecar test failures on nightly runs"
**Description:**
After we moved to a new nightly run VM, the sidecar tests have been failing. It looks like it cannot get the `oc` or `kubectl` command correctly. Here is the latest run log:
[code]

Sidecar tests are in: https://github.com/eclipse/codewind-che-plugin/tree/master/codewind-che-sidecar/tests

/kind test
/area iterative-dev

cc @lentheivendra

[2019-12-23 16:12] johnmcollier commented on #1614
IMO, we should be adding the flag to the kubectl and oc commands to be safe, and **not** relying on an implicit `oc project` command

[2019-12-23 16:15] #1614 closed

[2019-12-23 16:18] johnmcollier commented on #1615
The error below:
```#   Error from server (NotFound): pods "workspacenpefky5gtjf1fm8g.che-workspace-pod-7bbf7789b5-vzkvm" not found```

Is coming from `oc` or `kubectl` though?

[2019-12-23 21:05] GeekArthur opened #1616 "[odo] Update odo extension repo README"
Since we introduce new features for 0.7.0 (bind case and Java support), we need to update the corresponding instructions/setup for odo extension README as well, also instruction of hybrid support should be covered.

[2019-12-26 07:44] douzizuibang commented on #1148
I also encountered the same error when start codewind in VS Code IDE.

[code]

I have checked the docker container by `docker ps -a`
[code]
Remove above container and then start condewind, then the start is successful.

[2019-12-27 14:35] ssh24 commented on #1613
/assign
/pipeline in progress

[2019-12-27 14:36] ssh24 commented on #1612
/assign
/pipeline in progress

[2019-12-27 16:18] ssh24 commented on #1615
/assign
/pipeline in progress

[2019-12-27 21:30] GeekArthur commented on #1375
We may need to dynamically get the service account name of hybrid Codewind, then apply additional rules to the specific service account name for supporting odo.

[2019-12-30 16:34] ssh24 commented on #1270
Our tests are now running on OKD4. Closing this as done.

/close

[2019-12-30 16:35] #1270 closed

[2019-12-30 18:17] ssh24 commented on #1563
/pipeline in progress

[2019-12-30 18:49] #1612 closed

[2019-12-30 18:49] #1613 closed

[2019-12-30 20:38] #1517 closed

[2019-12-31 21:50] GeekArthur commented on #1616
PR is merged, close the issue.

[2019-12-31 21:50] #1616 closed

[2020-01-02 12:03] #1240 closed

[2020-01-02 14:50] micgibso commented on #1605
@AndyRWatson @johnmcollier Changes on above PR, please review.

[2020-01-02 15:47] #462 closed

[2020-01-02 17:57] sujeilyfonseca opened #1621 "SVT: If the creation of an image registry is canceled in the namespace step, it will create the registry anyway"
**Codewind version:** Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** If the creation of an image registry is canceled in the `namespace` step, using the `ESC` key, it will create the registry anyway. That doesn't happen in the previous steps.

I know you can create a registry using a blank namespace, and that's why

[2020-01-02 18:40] tetchel commented on #1621
so, you want an additional confirmation step after everything is entered, before creating?

it seems like this could be fixed by edit support ie https://github.com/eclipse/codewind/issues/1523

[2020-01-02 18:48] tetchel opened #1622 "'Application is taking longer than expected to start' message is missing application host"
Remote codewind

[code]

`Pinging http://:5000/cc`
should be
`Pinging http://cw-pyproj123-603e6690-2031-11ea-b6f3-codewind.codewind-ide-7674b4bd9abbdeea0be228236d5275c9-0001.tor01.containers.appdomain.cloud/cc`

[2020-01-02 18:49] tetchel commented on #1622
it would be nice if the message was shorter
![image](https://user-images.githubusercontent.com/8888438/71685573-b97b4880-2d66-11ea-9df2-fdd21ddc46ea.png)

[2020-01-02 21:05] GeekArthur commented on #1134
PRs are merged, close the issue.

[2020-01-02 21:05] #1134 closed

[2020-01-02 21:20] tetchel commented on #1505
it's improved but the lower card shouldn't have the padding to the left, and the buttons should be stacked some other way
![image](https://user-images.githubusercontent.com/8888438/71693962-c5bdd080-2d7b-11ea-8803-b470c6a4bf1e.png)

[2020-01-02 22:22] GeekArthur commented on #1375
Verified, close the issue.

[2020-01-02 22:22] #1375 closed

[2020-01-02 22:32] sishida commented on #1536
Since issue #1542 indicates that we'd ideally like to remove the Tekton links from having their own file and since this issue #1536 indicates we'd like to link the Tekton info to one of the "remote" pages...
1️⃣ I'm going to try to find a place for the Tekton info on one of the remote pages and then
2️⃣ delete the `codewindandtektonpipelines.html` file.

[2020-01-03 08:18] #1553 closed

[2020-01-03 12:23] vrushaliinamdar opened #1623 "Need cli-pull.sh to be updated to download ppc64le specific binary"
**Codewind version: 0.7.0**
**OS: RHEL 7.7 PPC64LE **

**Description of the enhancement:**
There is a "cwctl-ppc64le" binary download available at http://download.eclipse.org/codewind/codewind-installer/master/latest/cwctl-ppc64le. But to make this download happen automatically, the "cli-pull.sh" needs to be updated to use ppc64le as a platform.

[2020-01-03 12:27] sujeilyfonseca commented on #1621
No, it is not an extra step. It is just that the action is not canceled if the user wishes to cancel it. In previous steps, a user can cancel the creation action without any problem.

[2020-01-03 17:35] tetchel commented on #1621
i guess esc could cancel the whole process.

[2020-01-03 17:39] tetchel commented on #1623
in your scenario who is running the cli-pull script? is it for development, or are we trying to run the plugins on ppc64le platforms now?

[2020-01-03 20:51] sishida commented on #1536
Hi, team, I have made changes in this PR: https://github.com/eclipse/codewind-docs/pull/280

[2020-01-06 09:29] hhellyer commented on #1426
@vrushaliinamdar has confirmed the PPC binaries worked and we can close this issue.

[2020-01-06 09:29] #1426 closed

[2020-01-06 09:35] james-wallis commented on #1560
/close

[2020-01-06 09:36] #1560 closed

[2020-01-06 11:29] liamchampton opened #1625 "Bump CLI Go version from 1.11 -> 1.12"
**Description of the enhancement:**
When first getting the Jenkins builds running we used Go v1.11. This was used as you cannot turn the `GOCACHE` environment variable off in a newer version and it was unclear how to work around this at the time. Go v1.12 release notes can be seen here https://golang.org/doc/go1.12. One of the most notable parts in this release is the more extensive support for Go

[2020-01-06 11:29] liamchampton commented on #1625
/assign

[2020-01-06 11:30] stalleyj commented on #539
I'm closing this issue as we have fixed some of the commands and will raise separate items for anything left to do.

[2020-01-06 11:30] #539 closed

[2020-01-06 11:32] stalleyj commented on #1223
@tobespc Please can you close as we haven't had any update from Martin.

[2020-01-06 11:32] tobespc commented on #1223
closing as not been seen since 0.6.0 and was a one off.  Without logs we can't progress this

[2020-01-06 11:32] #1223 closed

[2020-01-06 11:56] jcockbain opened #1626 "PFE unit test failure"
**Codewind version:** Latest
**OS:** MacOS

**Description:**

The Portal unit tests run locally are displaying 76 failures, all of the following form:

<img width="569" alt="Screenshot 2020-01-06 at 11 50 49" src="https://user-images.githubusercontent.com/31372187/71816577-fa32d480-307a-11ea-91b2-e757294ebd72.png">

This is being caused by the following function being called, with `absolutePath =

[2020-01-06 12:04] jcockbain commented on #1626
/area portal
/priority hot

[2020-01-06 12:07] james-wallis commented on #1611
Looks like when the containers fail to build the Jenkinsfile is exiting with a code of 0.
Think the Fix would be to change the line https://github.com/eclipse/codewind/blob/master/Jenkinsfile#L216 should be changed to be `exit 1;`.

As a further enhancement it would be nice if the `eslint` and `unittest` scripts ran before we built and ran the containers.

[2020-01-06 12:30] vrushaliinamdar commented on #1623
@tetchel  Yes, it is getting downloaded as part of start.sh

[2020-01-06 13:32] micgibso commented on #1536
See my review on the PR. Discussing with the team here, there are no instructions to configure the Tekton Dashboard in hybrid scenarios because none are required.  Suggest closing this issue.

[2020-01-06 13:41] markcor11 commented on #438
I tried this out on Mac with Codewind Plugin 0.7.0 and latest templates (This issue says it happens on Windows 10 so still need to determine if it can be reproduced there), however I was not able to reproduce on MAC.  When I double clicked on the running project from the Codewind Explorer,  the application root page opened in the embedder browser as expected :

![Screenshot 2020-01-06 at 13 39 04]

[2020-01-06 13:41] micgibso commented on #1542
See my review on the PR. Discussing with the team here, there are no instructions to configure the Tekton Dashboard in hybrid scenarios because none are required. Suggest closing issue #1536.

[2020-01-06 13:46] ebuckle commented on #631
/assign

[2020-01-06 13:48] ebuckle commented on #631
This has been resolved, the CLI no longer re-tags these images so only one copy shows up with `docker images`

![image](https://user-images.githubusercontent.com/33088613/71821871-34a46d80-308b-11ea-97de-b9d1c06ea337.png)

![image](https://user-images.githubusercontent.com/33088613/71821881-39692180-308b-11ea-8911-6ae105b628ec.png)

[2020-01-06 14:08] markcor11 commented on #1054
/assign @markcor11

[2020-01-06 14:18] tobespc commented on #1589
The fix for this is actually quite simple.  We currently use a cw-temp staging folder to upload file to before copying them in to the correct directory.   Rather than clean up this dir each time, we can keep it as the exact mirror of the local src (as no build artifacts go in here) and use that to determine which files should be deleted.

[2020-01-06 14:39] markcor11 commented on #1055
/assign @markcor11

[2020-01-06 14:41] micgibso commented on #1607
Application monitoring is at the IDE level, see https://www.eclipse.org/codewind/mdteclipsemanagingprojects.html and https://www.eclipse.org/codewind/mdt-vsc-commands-project.html.

We do have a topic that isn't currently in our toc: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/appmetrics.md. Is this the one that you chatted to Toby about?

[2020-01-06 14:43] jopit commented on #1585
The `image-registry-credentials.md` page is referred to by the IDEs, so should not be removed.

[2020-01-06 14:49] tetchel commented on #1623
What does `uname -m` output?

[2020-01-06 14:51] tobespc commented on #327
test suite has been re enabled now

[2020-01-06 14:52] tobespc commented on #327
closing as this is now all running

[2020-01-06 14:52] #327 closed

[2020-01-06 14:54] tobespc commented on #328
we don't have tests right now that test creating projects.   Closing this as its not applicable right now

[2020-01-06 14:54] #328 closed

[2020-01-06 14:56] #1589 closed

[2020-01-06 15:05] #1550 closed

[2020-01-06 15:05] #1578 closed

[2020-01-06 15:14] james-wallis commented on #1611
/assign

[2020-01-06 15:15] j-c-berger commented on #1488
@maysunfaisal, think this doc would still benefit from getting new screenshots?

[2020-01-06 15:34] DavidG1011 commented on #1576
Sorry for the delay. This is fixed on master.

[2020-01-06 15:34] #1576 closed

[2020-01-06 15:35] #1626 closed

[2020-01-06 15:42] stalleyj commented on #1383
@jagraj I've been investigating this today to determine if we have some async code tying up the server but I can't recreate the problem. I've created 15 projects of various types and I stop/start codewind and they all appear with no problems. Can you see if you are able to recreate please.

[2020-01-06 15:43] tobespc commented on #1521
With the changes that have gone in for #1588 , this is now ok

[2020-01-06 15:47] markcor11 commented on #1508
/pipeline Verify

[2020-01-06 15:52] markcor11 commented on #454
/assign @markcor11

[2020-01-06 15:53] markcor11 commented on #454
/pipeline Verify

[2020-01-06 16:05] markcor11 commented on #1054
/pipeline Verify

[2020-01-06 16:06] ebuckle commented on #1597
/assign

[2020-01-06 16:08] maysunfaisal commented on #1488
@j-c-berger I think this doc could do with screenshots rather than putting them in https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/openshiftregistry.md

[2020-01-06 16:22] tobespc commented on #237
This is all working correctly now I believe and from my testing it looks ok.  Moving to verify

[2020-01-06 16:23] tobespc commented on #256
I don't believe this is valid anymore, moving to verify

[2020-01-06 16:25] tobespc commented on #438
closing as this is working ok

[2020-01-06 16:30] tobespc commented on #808
I don't believe this is still an issue.  I suspect the confusion initially with some scenarios working and others not was due to having different version of cwctl left lying around.  I've retested today and cannot reproduce

[2020-01-06 16:39] sghung commented on #1202
From the appsody stacks side, the open liberty appsody stack (which will replace the microprofile stack) PR is here: https://github.com/appsody/stacks/pull/573/files

[2020-01-06 16:42] #1623 closed

[2020-01-06 16:44] tetchel commented on #1623
@vrushaliinamdar can you try it now? run `export export CW_CLI_PLATFORM=ppc64le` before `start.sh` (README)[https://github.com/eclipse/codewind-vscode/tree/master/dev/bin).

[2020-01-06 16:53] j-c-berger commented on #1488
@maysunfaisal, thanks for letting me know. ID has an iteration meeting tomorrow where we'll determine when we can begin work on this issue. I'll update here tomorrow.

[2020-01-06 16:53] sghung commented on #676
Putting this back into the backlog until the webex can be scheduled

[2020-01-06 16:57] johnmcollier opened #1634 "Codewind Che plugin build is broken, need to switch to Go Dep"
The Che sidecar's builds are currently failing due to this error:
[code]

Specifically: `github.com/openshift/api@v3.9.0+incompatible: unknown revision v3.9.0`. This is because the OpenShift API doesn't fully support Go Modules and now something has caused what little support there was to break (see https://github.com/openshift/api/issues/456#issuecomment-568010334).

A solution for this will be t

[2020-01-06 16:58] johnmcollier commented on #1634
As the build failure will prevent us from building and branching off the Che plugin for 0.8.0 (and would obviously prevent us from merging any changes), I'm marking this as a stopship.

[2020-01-06 17:12] sghung commented on #517
Closing as this work has been done

[2020-01-06 17:12] #517 closed

[2020-01-06 17:14] sghung commented on #1069
Kabanero-io uses alts like "Kabanero Twitter" or "Kabanero GitHub". Please use https://kabanero.io/ as an example and make the same changes for Codewind

[2020-01-06 17:16] sghung commented on #1235
I don't think we can do anything about this, because the files are hosted on Eclipse. It is similar to Eclipse che being hosted on Eclipse too. I don't think there's anything wrong with us using the Eclipse domain if we're an official Eclipse project. I will put this into icebox for now until someone has time to investigate this further

[2020-01-06 17:39] sghung commented on #1093
Since this is assigned to Erin, I am moving back to new issues, so it can be added to the correct pipeline

[2020-01-06 18:25] tetchel opened #1635 "Disabling a project should clear its detailedAppStatus"
This leads to projects that are disabled showing detailedAppStatus notifications, which doesn't make sense since the statuses don't apply to disabled projects.

[2020-01-06 18:28] tetchel commented on #1635
nevermind, I can't reproduce this behaviour now

[2020-01-06 18:28] #1635 closed

[2020-01-06 18:28] sghung commented on #1298
Confirmed with Travis that the work has been completed and this issue can be closed.

[2020-01-06 18:28] #1298 closed

[2020-01-06 18:29] #1625 closed

[2020-01-06 20:09] sghung commented on #728
The kabanero-io issue is here: https://github.com/kabanero-io/docs/issues/233

Currently the PR is under review: https://github.com/kabanero-io/draft-guide-nexus-repository-integration-with-appsody/pull/1

[2020-01-06 20:17] #1469 closed

[2020-01-06 20:17] #1421 closed

[2020-01-06 20:19] tetchel commented on #1621
/pipeline verify

[2020-01-06 20:26] sghung opened #1637 "Get open api tests integrated into daily builds"
Integrate the open API tests as part of the daily build to ensure we have continuous testing. It wasn't possible to add it as part of the PR build, so this is the next best thing.

[2020-01-06 20:44] sghung commented on #1637
Travis merged the changes required into master. An example test output can be seen via the URL: https://ci.eclipse.org/codewind/job/Codewind/job/codewind-openapi-eclipse/job/master/21/testReport/

[2020-01-06 20:58] keithchong commented on #1129
I've reduced it down to 0:59 - I had to talk fast.  The mp4 file has been uploaded to the above box location ( https://ibm.ent.box.com/file/591630850498 ).  Please review.  I have the video only file, and the transcript if you think someone else should do the audio for this video, or for all the videos in the series, for consistency.

[2020-01-06 21:04] sishida commented on #1508
@markcor11 Hello! I see that this issue has the `docs` label. Do we still need to update the docs, or should we remove that label? Thank you!

[2020-01-06 22:53] thisguy-1 commented on #1573
@jopit can you assign this to me? Is there a way for me to edit?

[2020-01-06 23:07] thisguy-1 commented on #303
@tetchel & @rachelwchen  did we find a solution to this? Having trouble checking it on my VScode.

[2020-01-06 23:12] thisguy-1 commented on #153
@thisguy-1 must update this issue to reflect the new "as is" and the mural with the pain points done with the devs.

[2020-01-06 23:16] thisguy-1 commented on #155
@tetchel @jopit What do we still need from this? I think there are a few that are needed for Eclipse. Can you list them out? If not, can we close?

[2020-01-07 09:44] stalleyj commented on #1281
/assign

[2020-01-07 10:10] #1605 closed

[2020-01-07 10:48] rwalle61 commented on #1461
Fyi I introduced the `protected` property here https://github.com/eclipse/codewind/pull/382

I think I was aware at the time that `protected` only *indicates to the IDEs* which templates should not be deleted. Those templates can still be deleted via PFE's DELETE template repo API (as you've found). This was so that tests could delete the templates via PFE's DELETE API.

If we had an alternate way

[2020-01-07 10:55] stalleyj commented on #1281
I've added a deletion of the inf file https://github.com/eclipse/codewind-installer/pull/315

[2020-01-07 10:56] rwalle61 commented on #553
Related to https://github.com/eclipse/codewind/issues/1611

@james-wallis @jcockbain you're more up to date on this than I am - I know we've skipped a lot of failing tests, so is the build still failing?

[2020-01-07 11:01] rwalle61 commented on #342
I have been able to start open liberty samples recently (on MacOS, Codewind 0.7.0+), and I believe @mattcolegate has been able to start them on Windows (10?). So maybe we can close this?

[2020-01-07 11:09] hhellyer commented on #342
This was an error in the logs when the health endpoint was accessed.
There is a closed Open Liberty bug from August (around when this issue was originally raised) here: https://github.com/OpenLiberty/open-liberty/issues/8573 which references the exact error string and a fix here: https://github.com/OpenLiberty/open-liberty/pull/8631

I have started an Open Liberty app locally and access /health -

[2020-01-07 11:10] #342 closed

[2020-01-07 11:19] stalleyj commented on #1093
@makandre Is there anything to do here ? I don't think we want to start identifying bash as a language so it seems like it's all working as expected.

[2020-01-07 11:20] liamchampton commented on #631
Can confirm this has been resolved in PR here https://github.com/eclipse/codewind-installer/pull/294. This was part of the `docker api` -> `docker-compose` conversion.

[2020-01-07 11:30] stalleyj commented on #1029
/assign

[2020-01-07 11:31] stalleyj commented on #1029
@ssh24 Can we close this as we are unable to recreate the issue with the latest code ?

[2020-01-07 11:36] stalleyj commented on #718
/assign

[2020-01-07 11:41] #879 closed

[2020-01-07 11:46] liamchampton commented on #1148
@douzizuibang the fix for this is only in the master branch of the installer (https://github.com/eclipse/codewind-installer) and not in the release 0.7. It will however be in the 0.8 release.

[2020-01-07 13:22] james-wallis commented on #553
The API template tests should have been refactored to prevent this from happening - they should set which repositories to use in the tests rather than relying on what is set in PFE. I think this issue can be closed.

If we have an issue again it would be good to have a new issue as all the Jenkins links are dead.

[2020-01-07 13:33] hhellyer commented on #533
The problem is here:
https://github.com/microclimate-dev2ops/microclimate-ls-node-prof/blob/master/server/src/modules/ProfilingManager.ts#L78
We have to map the path of the profiled file in the container to the path of the same file in the users source tree. Previously we assumed the container path would always be `/app` based on the non-appsody NodeJs template.

We need to know where the source c

[2020-01-07 13:52] stalleyj commented on #795
This is true of all project types and an expected consequence of containerised development.  Plus, if they are using Codewind, they don't really need to know/care about the port so there is nothing to fix here.

[2020-01-07 13:52] hhellyer commented on #795
Agreed, closing.

[2020-01-07 13:52] #795 closed

[2020-01-07 14:10] beccabau commented on #1129
Thanks Keith, will review after playback

[2020-01-07 14:13] tetchel commented on #411
I think this instance of this bug can be closed since the 'unknown error' doesn't occur anymore. Though we still have upgrade troubles some of the time.

[2020-01-07 14:13] #411 closed

[2020-01-07 14:14] beccabau commented on #964
![Screenshot_20200107-091315](https://user-images.githubusercontent.com/13971834/71901465-02981780-312e-11ea-9934-075a854d8dff.png)

Looks fixed on my phone now

[2020-01-07 14:14] #964 closed

[2020-01-07 14:14] travis1111 commented on #964
Thanks!  I delivered a fix in Dec. :-)

[2020-01-07 14:21] #1634 closed

[2020-01-07 14:29] eharris369 commented on #438
I can still reproduce this on Windows.  It looks like the SVT team is running into it as well: https://github.com/eclipse/codewind/issues/1552.

[2020-01-07 14:29] tetchel commented on #1186
It is done

[2020-01-07 14:29] #1186 closed

[2020-01-07 14:31] eharris369 commented on #1552
This is a duplicate of https://github.com/eclipse/codewind/issues/438.

[2020-01-07 14:31] #1552 closed

[2020-01-07 14:48] johnmcollier commented on #1622
In respect to making the message shorter, how about something like:
[code]

[2020-01-07 14:51] beccabau commented on #1129
Okay, just watched it - I'm impressed you were able to fit all the content in under a minute!

@AndyRWatson  - I'm a little worried that this sounds more like a "how to" instead of a feature highlight, but I think it's great content that we should make sure is available for people looking to use. What do you think about going with Keith's original speed and putting this under tutorials?

And/or we

[2020-01-07 15:20] tetchel commented on #1505
https://github.com/eclipse/codewind-vscode/pull/369

[2020-01-07 15:20] j-c-berger commented on #1587
Assign to me, please!

[2020-01-07 15:20] j-c-berger commented on #1586
Assign to me, please!

[2020-01-07 15:20] #1562 closed

[2020-01-07 15:20] james-wallis commented on #1314
This was fixed in PR https://github.com/eclipse/codewind/pull/1582

[2020-01-07 15:20] #1314 closed

[2020-01-07 15:21] #1391 closed

[2020-01-07 15:24] micgibso commented on #1401
Epic #934 , this not yet ready for doc

[2020-01-07 15:26] micgibso commented on #78
@sghung Will this need doc? Is it still relevant, can it be closed?

[2020-01-07 15:26] AndyRWatson commented on #1129
Yes I agree @beccabau I think we should expand this video to be the how to and look to create a separate FIUM video which is more like a trailer and inline with the existing videos https://www.youtube.com/channel/UCnKCVK6RFDyHFqUmXlAhCHQ/playlists

One thing though i'd like to call out that FIUM videos today have no sound, however we should be also including audio and not precedenting on a silent

[2020-01-07 15:30] stalleyj commented on #668
@lentheivendra Do you know what is going on with this enhancement and where the requirement came from ? For PFE to be able to access an index.json, it would need to be put into the Docker volume which seems like harder work than pushing it to git.

[2020-01-07 15:31] malincoln commented on #595
@lentheivendra I see this is in Verify.  If it's ready, pls verify and close.  Thanks

[2020-01-07 15:32] malincoln commented on #1211
@maysunfaisal @elsony pls verify and close if resolved. Thanks

[2020-01-07 15:33] malincoln commented on #1248
@jagraj pls verify and close.  Thanks

[2020-01-07 15:33] malincoln commented on #1402
@johnmcollier pls verify and close. Thanks

[2020-01-07 15:34] malincoln commented on #1054
@makandre pls verify and close. Thanks

[2020-01-07 15:36] malincoln commented on #1502
@liamchampton @tobespc just confirming this still on target for 0.8.0?

[2020-01-07 15:37] malincoln commented on #1508
@jagraj pls verify fix resolves problem.  Thanks

[2020-01-07 15:38] malincoln commented on #1520
@tobespc just confirming this is still on target for 0.8.0 (dcut tomorrow)?

[2020-01-07 15:39] malincoln commented on #1521
@jagraj pls verify fix resolves problem.  Thanks

[2020-01-07 15:41] liamchampton commented on #1502
@malincoln The fix has been in master for a while now with little disturbance so I believe this is on track or 0.8.0

[2020-01-07 15:43] rtaniwa commented on #1129
+1 to adding a narrator. at a personal level i am much less likely to watch any kind of tech video that has no sound. this should be a requirement imho.

[2020-01-07 15:47] markcor11 opened #1640 "Access Token rejected when setting up a new connection"
**Codewind version:** 0.7.0

**Description:**

Saw this whilst doing some manual testing,  after installing a new Codewind remote deployment against an existing Keycloak deployment,  when setting up the connection the IDE fails with :   TOKEN_REJECTED

![Screenshot 2020-01-07 at 15 45 36](https://user-images.githubusercontent.com/28102564/71907838-c207c080-3164-11ea-96ab-251ae0f11fb8.png)

Using t

[2020-01-07 15:50] j-c-berger commented on #728
@sghung, I'm happy to begin to work on this. I was wondering what iteration you wanted this complete by?

[2020-01-07 15:51] markcor11 commented on #1640
/area portal
/assign @markcor11

[2020-01-07 15:51] makandre commented on #1054
I have a question about the fix:

If an error is thrown at `await user.unbindProject(project);` (this happens after a `202 request accepted` is already sent), in that case I think sending a `500` is going to fail

@markcor11 ?

[2020-01-07 15:53] hhellyer commented on #1057
The PR https://github.com/eclipse/codewind-installer/pull/313 has been merged, this should be resolved.

[2020-01-07 15:53] #1057 closed

[2020-01-07 15:54] hhellyer commented on #875
@nastacio - This issue and the follow up I raised should be resolved now. Can you close?

[2020-01-07 16:06] stalleyj commented on #1068
@makandre I don't understand the issue you describe around the index.yaml and appsody CLI. Can this be raised as a separate issue to updating the repo link ?

[2020-01-07 16:06] stalleyj commented on #1068
/assign

[2020-01-07 16:07] nastacio commented on #875
I am now using Codewind 0.7.0 and the recreation steps are not working. When try and add "https://github.com/appsody/stacks/releases/latest/download/experimental-index.json" as a new template source, nothing happens after I complete the "Add New" sequence.

There is no error message on the screen, just nothing happens and the new source never shows up in the "Template Sources" window, even after I

[2020-01-07 16:11] nastacio commented on #875
I am getting the same problem on Eclipse, the creation dialog closes and the template is not added.

<img width="881" alt="Screen Shot 2020-01-07 at 11 08 37 AM" src="https://user-images.githubusercontent.com/3278623/71909605-5f033300-313e-11ea-8f35-156431295a97.png">

<img width="590" alt="Screen Shot 2020-01-07 at 11 11 08 AM" src="https://user-images.githubusercontent.com/3278623/71909644-6fb3a

[2020-01-07 16:18] jopit opened #1641 "VScode error with remote connection created by Eclipse plugin"
I created a remote connection using Eclipse, then shut down Eclipse and started VSCode.  VSCode displayed the following error notification
![image](https://user-images.githubusercontent.com/29612372/71910018-1f891680-313f-11ea-8930-48c6db8ed347.png)
and the connection was not displayed in the codewind view.

[2020-01-07 16:23] sishida opened #1643 "Edit message from "whilst" to "while""
Change this message from cwctl so that "whilst" becomes "while:"
<img width="501" alt="Screen Shot 2020-01-07 at 10 24 04 AM" src="https://user-images.githubusercontent.com/21180723/71910280-9cb48b80-313f-11ea-9979-006f49c6e335.png">

Here is the Acrolinx feedback for "whilst," which is considered archaic:
<img width="275" alt="Screen Shot 2020-01-07 at 10 53 06 AM" src="https://user-images.github

[2020-01-07 16:23] makandre commented on #875
Hi @nastacio, in 0.7.0 we tightened the rules on what repos you can add.  The experimental repo is built-in but hidden by design, so you can't add it (there's an issue opened for the IDEs not returning an appropriate error to the user #1597 )

You should be able to workaround this by adding this repo url instead: https://github.com/appsody/stacks/releases/download/python-flask-v0.2.0/experimental-

[2020-01-07 16:28] johnmcollier commented on #1402
Verified in the last release, and fixed.

[2020-01-07 16:28] #1402 closed

[2020-01-07 16:30] nastacio commented on #875
The workaround allowed me to proceed and Codewind created the project with the same original problem:

<img width="1373" alt="Screen Shot 2020-01-07 at 11 30 02 AM" src="https://user-images.githubusercontent.com/3278623/71911093-1a2ccb80-3141-11ea-890f-80e5637bd911.png">

[code]

[2020-01-07 16:32] jopit commented on #1641
When in this state, I can't use VSCode to create another connection to the same remote kube, nor can I use VSCode to delete the existing connection.  I have to use Eclipse to delete the connection, or edit the connection.json file manually.

[2020-01-07 16:34] nastacio commented on #875
Using appsody 0.5.3 to confirm this is not a problem with the stack itself, note how `mvnw` has the executable permissions:

[code]

[2020-01-07 16:42] sishida commented on #1643
@tobespc Could we please assign someone on the Portal team to this issue? Thanks!

[2020-01-07 16:54] sishida commented on #466
@jagraj Hi, Jag, Now that Codewind remote is in tech preview, can we confirm that this issue is resolved? Or does it still need to be worked on? Thank you!

[2020-01-07 16:56] sishida commented on #715
@sghung Hi, Steven, Do you happen to know if this issue good to close? Thanks!

[2020-01-07 16:58] sishida commented on #839
@jopit Hi, John, Is this issue good to close, or should we move the release out to something like 0.9.0? Thanks!

[2020-01-07 17:10] eharris369 commented on #1405
Fixed by: https://github.com/eclipse/codewind-eclipse/pull/460

[2020-01-07 17:10] eharris369 commented on #1405
/pipeline verify

[2020-01-07 17:21] makandre opened #1645 "Cannot bind project to appsody stacks in the built-in Kabanero repo"
**Codewind version:** 0.7.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

(using VSCode)
1. Enable only the Kabanero repo in the Template Sources Manager
2. Attempt to bind a project to Codewind.  If prompted to confirm the detected type, answer `No`
3. The next prompt should give you a list of stacks in the Kabanero repo that you

[2020-01-07 17:21] makandre commented on #1068
@stalleyj I have opened #1645

[2020-01-07 17:59] malincoln commented on #1412
@tetchel @maysunfaisal can you verify and close?  Thanks

[2020-01-07 18:01] malincoln commented on #808
@yangcao77 can you confirm whether this is still an issue or not?  Thanks

[2020-01-07 18:13] #1007 closed

[2020-01-07 18:25] jopit commented on #155
@thisguy-1 Could you please work with @eharris369 on the icons required for Eclipse?  I think at a minimum we would want remote and local connection icons with both connected and disconnected variants.  We may also want icons for creating new projects and adding existing projects.

[2020-01-07 18:26] yangcao77 commented on #808
I'm still able to reproduce the issue on my cluster with latest master image.
Like @maysunfaisal and I mentioned, `cwctl` is behaving differently on different environments. I can always reproduce this even with a new install of che.

I can provide my cluster for debug purpose.

[2020-01-07 18:36] johnmcollier commented on #1522
Moving to in progress

[2020-01-07 18:41] malincoln commented on #1044
@jagraj pls verify and close if resolved.  Thanks

[2020-01-07 18:42] jopit opened #1646 "Eclipse: Fix metrics enablement"
We need to implement the same logic for this that vscode implemented for 0.7.0 in PR eclipse/codewind-vscode#360.

[2020-01-07 18:42] sujeilyfonseca commented on #1502
As requested by @liamchampton, I have verified this issue with the latest master version and I don't see the problem. Therefore, I will proceed to close this issue.

[2020-01-07 18:42] #1502 closed

[2020-01-07 18:43] malincoln commented on #1460
@tobespc pls verify this is resolved. Thanks

[2020-01-07 18:44] yangcao77 commented on #808
Correct myself, I'm not seeing this issue anymore.
Instead, I saw another issue that `projectChanged` event got emitted right after `projectCreation` event. Will investigate more on that one.
Closing this issue

[2020-01-07 18:44] #808 closed

[2020-01-07 18:44] malincoln commented on #1337
@maysunfaisal pls verify and close if resolved. Thanks

[2020-01-07 18:48] malincoln commented on #1477
@GeekArthur @sujeilyfonseca is this resolved or should this bug move back to in progress if it's still being worked?

[2020-01-07 18:49] malincoln commented on #1414
@mmulholl can this be closed now?

[2020-01-07 18:51] malincoln commented on #237
@jagraj pls verify and close if resolved. Thanks

[2020-01-07 18:52] malincoln commented on #256
@jagraj pls verify and close if resolved. Thanks

[2020-01-07 18:53] malincoln commented on #1621
@sujeilyfonseca pls verify and close if resolved.  Thanks

[2020-01-07 18:54] malincoln commented on #1281
@AndyRWatson pls verify and close if resolved.  Thanks

[2020-01-07 18:56] jopit commented on #858
Delivered in 0.7.0

[2020-01-07 18:56] #858 closed

[2020-01-07 18:57] eharris369 commented on #1365
I only see this problem when self-hosting so closing.

[2020-01-07 18:57] #1365 closed

[2020-01-07 19:01] j-c-berger commented on #1488
@maysunfaisal ID discussed screenshots and we want to be careful with them given how quickly they become outdated. If we have so many docs with screenshots that we'll need to continually revisit, it will be easy to forget about screenshots and then unintentionally deliver antiquated, untrue information to users.

[2020-01-07 19:11] eharris369 commented on #1565
I checked the remove command and it is looking up the connection id based on the project id. Are all project ids unique even across connections?

[2020-01-07 19:30] tetchel commented on #1565
I asked that question a few months ago and the response was 'yes', I think it's not explicitly checked but given that there are 2^128 possible project IDs, the chance of a collision is basically impossible.

https://en.wikipedia.org/wiki/Universally_unique_identifier#Collisions

[2020-01-07 19:31] #1412 closed

[2020-01-07 19:32] tetchel commented on #595
Closing as a duplicate of https://github.com/eclipse/codewind/issues/668#issuecomment-571636500

[2020-01-07 19:32] #595 closed

[2020-01-07 19:38] tetchel commented on #1641
I did not consider that scenario. I will fix it

[2020-01-07 19:51] markcor11 commented on #1640
After debugging this,  the root cause was is simply that the wrong Keycloak URL set in PFE during remote deployment.  Rather than using the supplied Keycloak URL from the `--kurl` flag,  the code was constructing a Keycloak URL using a workspace ID which matches the newly created PFE pod.

The solution will be to use the --kurl flag value if it was supplied during install.

[2020-01-07 20:06] sishida commented on #839
Met with John and team today. This issue does not need anymore documentation work. John will close this issue later.

[2020-01-07 20:36] makandre commented on #1093
I agree we should not identify bash as a language in `cwctl`

@eharris369 on IDE side however, if `cwctl` returns unknown language, can IDE just use the language value in the template in that case?

[2020-01-07 21:00] makandre commented on #1528
/pipeline verify

[2020-01-07 21:02] johnmcollier commented on #1109
Closing this out, both the playback and techtopics are being held publicly.

[2020-01-07 21:02] #1109 closed

[2020-01-07 21:21] markcor11 commented on #1640
posted PR: https://github.com/eclipse/codewind-installer/pull/318

[2020-01-07 21:25] sujeilyfonseca commented on #1621
I can still reproduce the problem. If you press `ESC` for the first time, it does nothing. If you press `ESC` a second time, it create the registry anyway.

<img width="1666" alt="Screen Shot 2020-01-07 at 4 11 19 PM" src="https://user-images.githubusercontent.com/49531960/71930707-33963d80-316a-11ea-8f8c-1fd2c10c2837.png">

[2020-01-07 21:30] naveenkaratekid opened #1647 "SVT: An Internal Error occurred during "Installing Codewind""
**Codewind version:0.7.0**
**OS:MacOS 10.14 Mojave**

**IDE extension version:0.7.0**
**IDE version: Eclipse 2019-06 (4.12.0)**

**Description:**
The Codewind plugin is able to install in the Eclipse IDE, but Eclipse will not start up Codewind. It tries to download the images but after the progress bar on the bottom right hits 99%, it throws an error saying ```Internal Error Occurred```

When I ru

[2020-01-07 21:39] jopit commented on #1491
We can debate whether this is a bug or not, but it is a bad user experience.  @tobespc can you assign someone to investigate how we can improve it?

[2020-01-07 22:20] maysunfaisal opened #1648 "Helm Secret does not delete on Che workspace delete"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I create a Che Codewind workspace and create a project the usual way.

Since we moved to Helm v3; there are now helm secrets generated..

The issue(not sure if its actually an issue) here is,

1. I had an application `maysungo123` and when I edited this Go project,

[2020-01-07 22:28] maysunfaisal commented on #1062
Saw this issue on Win test on Jan 06 and Jan 07 and Linux test on Jan 06

cc @rajivnathan

[2020-01-07 22:36] keithchong opened #1649 "OpenAPI: Bump up eclipse feature and plugin versions for 0.8.0"
**Codewind version:** 0.8.0
**IDE:** Eclipse

**Description:** Bump up the version number due to 0.8.0 changes.

[2020-01-07 23:16] sujeilyfonseca commented on #1536
I will proceed to close this issue since a generic bullet was added to refer to the "Open Tekton Dashboard" option: https://github.com/eclipse/codewind-docs/pull/280

[2020-01-07 23:16] #1536 closed

[2020-01-08 08:00] #1163 closed

[2020-01-08 08:23] hhellyer commented on #1643
The text was coming from the installer, I've raised a PR to fix it.

(I must use `whilst` more in conversation.)

[2020-01-08 08:57] hhellyer commented on #1344
@makandre - I've updated the package.json files, can this be closed?

[2020-01-08 08:58] hhellyer commented on #1643
@sishida - This should be done. Can you verify and close?

[2020-01-08 09:03] tobespc commented on #533
removing the bug label as this is an enhancement as appsody is currently unsupported in node-profiler

[2020-01-08 09:05] tobespc commented on #553
as of today, we do not have intermittent failures to closing

[2020-01-08 09:05] #553 closed

[2020-01-08 09:05] #631 closed

[2020-01-08 09:06] tobespc commented on #657
moving this to verify fpr @ssh24 to confirm

[2020-01-08 09:11] tobespc commented on #1383
@jagraj please verify this no longer occurs

[2020-01-08 09:11] stalleyj commented on #1068
https://github.com/eclipse/codewind/pull/1651

[2020-01-08 09:14] micgibso commented on #1603
Issue https://github.com/eclipse/codewind/issues/1607 raised for missing app monitoring section.
@beccabau, @sishida fyi.

[2020-01-08 09:22] tobespc commented on #1545
all done

[2020-01-08 09:22] #1545 closed

[2020-01-08 09:28] stalleyj commented on #1569
/assign

[2020-01-08 09:32] tobespc commented on #1068
I have retested and can verify its good

[2020-01-08 09:32] #1068 closed

[2020-01-08 09:38] stalleyj commented on #1569
@maysunfaisal Hi Maysun, could you provide a few more details please, what kind of project did you create ? How did you measure that it took 30s to pick up the changes ?  Was a build in progress when you edited the project ?

The FW should notify the cwctl immediately of the changes which will then call to sync files across and build. If there is a build in progress, the sync doesn't happen until

[2020-01-08 10:56] NikCanvin opened #1652 "Eclipse plugin contains unusable OS package"
To @eharris369
while improving Java OS dependency automation for 0.8.0, I discovered:
1. org.json_1.0.0.v201011060100.jar is used by the Eclipse plug-in
2. Eclipse IP reject requests to use this package, see (it includes work-around suggestions): https://dev.eclipse.org/ipzilla/show_bug.cgi?id=20330
..
ideally this should be fixed in 0.8.0, should that not be realistic then we should get approval

[2020-01-08 11:29] jgwest commented on #1652
@NikCanvin The version of this package we use in Codewind Eclipse is bundled as part of Orbit and therefore approved for use by Eclipse: https://download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/

[2020-01-08 11:32] stalleyj commented on #1570
/assign

[2020-01-08 11:33] stalleyj commented on #1570
I've tested this today and cannot recreate the issue which we are pretty sure was fixed by https://github.com/eclipse/codewind/pull/1582 @maysunfaisal please can you verify ?

[2020-01-08 11:35] james-wallis commented on #1437
@johnmcollier as the PR is in can this be closed?

[2020-01-08 11:41] rwalle61 commented on #1602
/assign rwalle61

[2020-01-08 11:46] neeraj-laad commented on #366
What is the process for adding the experimental repo while using CodeWind? I can see why that is not enabled by default, but I hope the process for enabling it is simple and straight forward.

[2020-01-08 11:59] stalleyj commented on #582
No longer valid

[2020-01-08 11:59] #582 closed

[2020-01-08 12:59] micgibso opened #1653 "Enhance the help by implementing tabs"
Implement tabs in our docs pages similar to what Docker do on their website, for example, see https://docs.docker.com/compose/install/.  Under **Install Compose** the help splits into tabs for the different operating systems, which would be very useful for our various installs and so on.

Docs here: https://www.eclipse.org/codewind/gettingstarted.html

[2020-01-08 13:00] travis1111 commented on #1653
Thanks.  Please assign it to me :-)

[2020-01-08 13:49] stalleyj opened #1656 "Improve functionality around Template Sources"
**Description of the enhancement:**
Template sources get stored in a file inside of the docker volume but we don't update the contents of this file unless it is removed. This means that if we update the URL for any of our standard repos, it will not be reflected in the product unless the user deletes the original file.  Not a great user experience.

**Proposed solution:**
We need to carefully cons

[2020-01-08 13:56] stalleyj commented on #718
I don't think there is anything we can really do to cope with an old/corrupt repository_list.json, however this has made us ask a few questions around the management of that file so I've raised an enhancement to look at this separately

[2020-01-08 14:03] james-wallis commented on #242
/assign

I'm working on the Jenkinsfile anyway so I'll pick these up.

[2020-01-08 14:05] #718 closed

[2020-01-08 14:13] eharris369 opened #1657 "Hybrid: allow user to import project source to a different machine"
It would be nice if users who were helping someone else out or just need to debug on someone else's setup could import project source to their local machine.  Currently if I create a project for a hybrid connection on my local machine and then connect to the same remote connection from another machine, I can see the projects but I can't work with them because the source is not available on that ma

[2020-01-08 14:16] malincoln commented on #1647
@tobespc says this is fixed and he'll confirm.

[2020-01-08 14:17] jagraj commented on #1647
@naveenkaratekid
Can you please provide IDE and PFE logs for this issue.?

[2020-01-08 14:18] jagraj commented on #1647
@naveenkaratekid
Could you please try to reproduce this problem with the latest as well and capture all the logs and post to this issue.

[2020-01-08 14:29] beccabau opened #1659 "New and noteworthy for 0.8.0"
Need to add a news page to the Codewind.dev website for 0.8.0.

[2020-01-08 14:29] naveenkaratekid commented on #1647
@jagraj. I was able to reproduce the issue with the latest.

![image](https://user-images.githubusercontent.com/19738071/71985746-27a58c80-31f9-11ea-87b7-a9f7e2cec808.png)

[code]

[code]

[2020-01-08 14:30] beccabau commented on #1659
@sishida @micgibso can someone add area/docs label, please? Thanks

[2020-01-08 14:34] makandre commented on #1344
Thx

[2020-01-08 14:34] #1344 closed

[2020-01-08 14:34] jopit commented on #1652
As Jonathan said, we are using the version of this jar that comes from the Eclipse Orbit site and is approved for use in Eclipse projects, see https://dev.eclipse.org/ipzilla/show_bug.cgi?id=3603

[2020-01-08 14:34] #1652 closed

[2020-01-08 14:42] eharris369 commented on #1093
The language is showing as Bash now in the overview page.  It is picking up the language from the project listing (we don't keep track of what template was used to create a project in the IDEs).

[code]

![image](https://user-images.githubusercontent.com/9484320/71986855-2c6b4000-31fb-11ea-8c14-a5dba078ff91.png)

[2020-01-08 14:43] makandre commented on #366
Hi @neeraj-laad, in earlier releases of Codewind, our SVT was encountering a lot of problems with testing stacks in experimental repo and hence it was decided we would hide the experimental repo by default.

As of now, the only way to add the experimental repo is to use the workaround mentioned above; i.e add it using a different (not `latest`) url.  This enhancement is about having a formal way t

[2020-01-08 14:43] eharris369 commented on #1093
/pipeline verify

[2020-01-08 14:46] markcor11 commented on #1508
@sishida the docs label can be removed since with the fix its business as usual.

[2020-01-08 14:47] sishida commented on #1603
@beccabau, Would you like to work on this? If so, please add a comment so I can assign you.

I should also have the bandwidth to help with news needs this release--please just let me know. Thanks!

[2020-01-08 14:49] sishida commented on #1659
Hi, Becca, I have added the label and assigned the issue to you. :)

[2020-01-08 14:53] tobespc commented on #1520
confirmed this is working ok

[2020-01-08 14:56] rajivnathan commented on #685
Can no longer reproduce this. Closing

[2020-01-08 14:56] #685 closed

[2020-01-08 14:59] james-wallis commented on #1647
Haven't been able to reproduce on latest.

Steps taken to reproduce:
* Using the development steps for the `codewind-eclipse` project - https://github.com/eclipse/codewind-eclipse/#developing-codewind-for-eclipse.
* Updated `codewind-eclipse` to latest master.
* `docker system prune -a`
* Started plugin via the Eclipse `debug configurations`.
* Double click the `Local [installation incomplete] ...

[2020-01-08 15:08] #1490 closed

[2020-01-08 15:21] stalleyj commented on #1656
Consider whether we want to be able to delete the default template repositories that are marked as protected, see https://github.com/eclipse/codewind/issues/1461

[2020-01-08 15:21] stalleyj commented on #1461
I've raised an enhancement to look at template sources because there are a few issues that need to be resolved/redesigned. We can consider this as part of that work so can we close this ?

[2020-01-08 15:24] james-wallis commented on #1461
@stalleyj sounds good to me.

[2020-01-08 15:24] #1461 closed

[2020-01-08 15:26] eharris369 opened #1660 "New project remove cwctl command is not working for remote"
The new cwctl project remove command is not working for remote.  I created a go project on a remote connection to OpenShift and tried to delete it but nothing happened.  Local projects can be successfully removed using the new command. If I switch back to using the REST API to remove the remote project then it does get removed properly. I am using the Eclipse IDE on Windows 10.

The command used i

[2020-01-08 15:26] #1649 closed

[2020-01-08 15:30] tetchel commented on #1647
I'm not sure where that websocket library comes from, but if it's bundled with eclipse, the bug will likely depend on your eclipse version.

It looks like we require 4.13 [doc](https://www.eclipse.org/codewind/mdteclipsegettingstarted.html) but @naveenkaratekid is on 4.12. Naveen, can you reproduce on a supported Eclipse version?

[2020-01-08 15:31] naveenkaratekid commented on #1647
I also tried the same steps on Windows, and I couldn't reproduce this issue.

I tried the following steps as Jag suggested, and I am still getting the same error message:

1. In the Mac terminal, go to the folder of Eclipse: ```/Applications/Eclipse.app/Contents/MacOS```

2. Run ```./eclipse -clean```

3. Uninstall Codewind from Eclipse

4. run docker ps -a, and remove the processes using docker r

[2020-01-08 15:32] eharris369 opened #1661 "[Eclipse IDE] Bump versions for 0.8.0"
Bump up the plugin and feature versions for 0.8.0

[2020-01-08 15:32] maysunfaisal opened #1662 "Run Turbine tests on Hybrid Codewind"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Since cwctl can bring up a hybrid CW, we should run Turbine tests on Hybrid CW

**Proposed solution:**

/area iterative-dev

[2020-01-08 15:33] tetchel commented on #1660
blocks https://github.com/eclipse/codewind/issues/1565

[2020-01-08 15:43] johnmcollier commented on #1437
@james-wallis Yup, thanks. Closing this one out.

[2020-01-08 15:43] #1437 closed

[2020-01-08 15:49] jopit commented on #1647
I see this in the eclipse log:
[code]
We bundle the Jetty websocket jars inside the filewatcher plugin.

@jgwest can you please take a look?

[2020-01-08 15:50] naveenkaratekid commented on #1647
@tetchel According to the Codewind Docs:

```However, the earliest supported version of the Eclipse IDE is Version 2019-03 (4.11).```

I have 2019-06 (4.12), and it does not work on my MacOS, but works fine on Windows. I moved to the 2019-12 version of Eclipse, and now Codewind works just fine.

[2020-01-08 16:03] tam512 opened #1664 "Plugin runtime crashed unexpectedly in Che/Codewind workspace"
**Codewind version:** 0.6.0
**OS:** Red Hat

**Che version:** 7.4.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2
List of plugins and editors:
- eclipse/CodewindPlugin/0.6.0 - Enables iterative development and deployment in Che
- eclipse/codewind-plugin/0.6.0 - Codewind Extension for Theia
- eclipse/che-machine-exec-plugin/7.3.1 - Che Plug-in with che-machine-exec ser

[2020-01-08 16:05] johnmcollier commented on #1664
Can you try using the latest devfile? We increased the amount of memory given to Theia: https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml

[2020-01-08 16:06] stalleyj commented on #1558
/assign

[2020-01-08 16:07] stalleyj commented on #1558
I'm sure we can make cwctl a bit cleverer to handle this situation

[2020-01-08 16:18] rwalle61 commented on #1602
I believe the errors were caused by `appmetrics-codewind` [patching the same listeners](https://github.com/RuntimeTools/appmetrics-codewind/pull/3/files#diff-a427f349a78624131dbcf9702a67fe58L103-L107) that `appmetrics-dash` [patches afterwards](https://github.com/RuntimeTools/appmetrics-dash/blob/master/lib/appmetrics-dash.js#L195). When the listeners hear a request, they both respond, throwing th

[2020-01-08 16:41] #1641 closed

[2020-01-08 17:31] #1661 closed

[2020-01-08 17:38] johnmcollier opened #1665 "Can't create projects on Che"
**Codewind version:** latest

**Che version:** 7.6.0
**IDE extension version:** latest
**Kubernetes cluster:** OCP 4.2

**Description:**
Starting today, I've been unable to create projects on Che, as the dialog doesn't show up when I click the "+" button or use the "Create project" command in the command pallet.

I see this in the logs each time I try to open the view:
[code]

I'm unable to reprod

[2020-01-08 17:38] johnmcollier commented on #1665
Marking as stopship as a core functionality is broken and will block SVT test efforts.

[2020-01-08 17:53] sishida commented on #1508
Thanks! I've removed the docs label.

[2020-01-08 18:01] johnmcollier commented on #1665
Looks to be a cwctl issue? Looking at the output from codewind.log, I see the following from cwctl:
[code]

It appears that `cwctl --json --insecure templates repos list --conid local` is returning null

[2020-01-08 18:18] malincoln commented on #1647
@naveenkaratekid can you update title to append "SVT" so we're aware it's an SVT scenario?  Thanks

[2020-01-08 18:20] jgwest commented on #519
Thanks Sarah, looks great! I have merged all PRs, and taken a couple additional action items based on comments in the PRs.

[2020-01-08 18:20] #519 closed

[2020-01-08 18:22] tetchel commented on #1665
https://github.com/eclipse/codewind-vscode/pull/373 kind of works around the issue, and shows that error message a little more obviously.
once it's in. you will be able to create projects, the template source management page will still not work though.

[2020-01-08 18:24] #1547 closed

[2020-01-08 18:28] makandre opened #1666 "Pick up appsody 0.5.4 release"
**Codewind version:** 0.8.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

New release: https://github.com/appsody/appsody/releases/tag/0.5.4

**Proposed solution:**

[2020-01-08 18:29] makandre commented on #1666
/area appsody vscode-ide eclipse-ide

[2020-01-08 18:30] jgwest commented on #1666
@makandre: Unexpected command format: area appsody vscode-ide eclipse-ide<details>

In response to [this](https://github.com/eclipse/codewind/issues/1666#issuecomment-572196717):

</details>

[2020-01-08 18:30] makandre commented on #1666
/area appsody
/area vscode-ide
/area eclipse-ide

[2020-01-08 18:36] markcor11 commented on #1054
@makandre good catch,  I think setting the status codes or response mid way through a function is generally bad practice for this exact reason. I can refactor that entire route and move to a single response set right at end.

[2020-01-08 18:36] sishida commented on #519
Thanks a bunch, @jgwest! It's nice to have this big issue closed! 😄

[2020-01-08 18:38] jopit opened #1667 "Make template sources and image registries global instead of per-connection"
Currently the list of known/configured template sources and the list of known/configured docker registries is maintained separately for each connection.  So if I configure a certain template source or docker registry on my local connection, I also have to repeat the configuration on each remote connection I have (and vice versa).

Ideally we would maintain a single list of the sources and registri

[2020-01-08 18:38] maysunfaisal commented on #1665
Also cannot add image registry on 7.6.0 now. Not sure if it should be a separate issue or its because of the same reason as this issue

[code]

![Screen Shot 2020-01-08 at 1 34 38 PM](https://user-images.githubusercontent.com/31771087/72005652-2043aa80-321c-11ea-84d8-290bcce9b2a2.png)

[2020-01-08 18:39] tetchel commented on #1665
same issue

[2020-01-08 19:01] jopit commented on #1647
@jgwest can you confirm that the jetty websocket code used by the filewatcher plugins requires Eclipse 2019-12 and we should pre-req that version?

[2020-01-08 19:39] malincoln commented on #1665
@tobespc pls review

[2020-01-08 19:54] rtaniwa commented on #366
@neeraj-laad out of curiousity...why are there three separate files for each stack type? Why wouldn't there be a single json file that labels if the stack is experimental, stable, or incubator? The method to add experimental to Codewind seems very clunky, but part of it appears to be because of how there are different indexes rather than one master one.

[2020-01-08 20:31] eharris369 commented on #155
Adding from issue #1503:

Most of the context menu items for the Eclipse IDE do not have icons or are overusing the Codewind icon. Icons for Eclipse need to be visible in dark mode and light mode (Eclipse does not support separate icons for each mode).

Context menu for local connection:

![image](https://user-images.githubusercontent.com/9484320/72013425-d06cdf80-322b-11ea-8396-762df6f4c127.png)

[2020-01-08 20:31] eharris369 commented on #1503
All of this is now covered in issue #155 so closing this one.

[2020-01-08 20:31] #1503 closed

[2020-01-08 20:45] eharris369 commented on #155
@thisguy-1 From the above and John's comment I think we need:
- local connection icon (could have variants for uninstalled, installed, started, unsupported version - but I think this is too much)
- remote connection icon with connected and disconnected variants
- create new project
- add existing project
- manage image registries
- manage template sources
- it would be nice to also have icons for

[2020-01-08 21:00] makandre commented on #1666
Done

[2020-01-08 21:00] #1666 closed

[2020-01-08 21:06] makandre commented on #1645
/area portal

[2020-01-08 21:20] jopit commented on #155
Also a reminder, in order to support high definition display's we need two versions of each .png file, one that's 16x16 and one that's 32x32, named similarly to the following: `xyz.png` and `xyz@2x.png`

For the other images which must work for both dark and light modes, we have been using the codewind blue color: #0083CA

[2020-01-08 21:23] #1528 closed

[2020-01-08 21:47] sishida commented on #1542
What about "Open Pipeline Dashboard" to replace "Open Tekton Dashboard"?

[2020-01-08 21:58] tetchel commented on #813
this is done but maybe we need svt verification

[2020-01-08 21:59] #673 closed

[2020-01-08 22:00] tetchel commented on #163
now that there's no workspace, the second and third items don't apply. but the first one still could

[2020-01-08 22:00] rtaniwa opened #1669 "Nit: New Codewind connection shows example text "My IBM Cloud" - should be generic"
In VS Code if I select to create a remote connection the example text says "My IBM Cloud". Given we are open source, this should probably just have something more generic. Perhaps "My remote cloud" or something similar.

[2020-01-08 22:04] sghung commented on #1637
Completed for 0.8.0

[2020-01-08 22:04] #1637 closed

[2020-01-08 22:06] tetchel commented on #1669
:+1:

[2020-01-08 22:09] tetchel commented on #1667
https://github.com/eclipse/codewind/issues/1264

[2020-01-08 22:11] tetchel commented on #158
I think this flow has been improved a lot, do we still need this issue?

[2020-01-09 08:20] tobespc commented on #1645
The hardcoding of the kabanero repo was fixed yesterday so if that was the culprit it should be ok now

[2020-01-09 09:24] markcor11 commented on #1054
@makandre the changes in 1630 have now been reverted,  looking at the code it does appear that if `await user.unbindProject(project);` throws an exception,  the response back to the user will be via a socket IO message rather than via the REST request. I've discussed this within the squad and that is the intended behaviour which happens in two phases.

1. Accept or reject the request to unbind a p

[2020-01-09 10:25] NikCanvin commented on #1652
after further investigation, I raised: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=21382
..
I expect our code need not change (so this issue should remain closed), but I raised a usage CQ to check the 'later' version of the package we now use is still OK for us to use

[2020-01-09 13:03] markcor11 commented on #1640
Closing - PR merged into master

[2020-01-09 13:03] #1640 closed

[2020-01-09 13:46] stalleyj opened #1672 "Codewind Uninstall story"
Currently, when we uninstall the VSCode plugin all Codewind artifacts are left untouched. Projects and codewind containers are left running, information stored in the docker volume remains and anything placed in .codewind is left behind. I haven't looked at eclipse or che but presume the behaviour is the same.

What should the behaviour be ?  Local / Remote / Che ?

[2020-01-09 14:02] makandre commented on #1645
If a repo is added from IDE via the Template sources manager, it will go through all the proper code paths to add it to both Codewind and the appsody CLIs (both local IDE copy and one in PFE) This was implemented in https://github.com/eclipse/codewind/issues/564.  So I think we would need to programatically add the Kabanero repo this way, rather than hardcoding it.

[2020-01-09 14:05] markcor11 commented on #1665
reproduced with above dev file :

![Screenshot 2020-01-09 at 14 05 24](https://user-images.githubusercontent.com/28102564/72074049-16d44400-32e9-11ea-9990-0cffe8e1c245.png)

[2020-01-09 14:18] beccabau commented on #1603
Yeah @sishida - let's work on this together.

[2020-01-09 14:24] james-wallis opened #1673 "Portal unit tests don't run on initial clone of Codewind repository (or before Codewind is built)"
**Codewind version:** Master

**Description:**
The Portal unit tests will fail if they are run before PFE is built.

This happens because they require the `openapi.yaml` in the `/docs` directory to be copied into a `/src/pfe/portal/docs` directory to satisfy the path given in `/src/pfe/portal/middleware/reqValidator.js` inside the PFE Docker container.

We haven't seen this issue before because as

[2020-01-09 14:25] james-wallis commented on #1673
/area portal

[2020-01-09 14:39] jagraj opened #1674 "SVT:Codwwind ODO setup instructions failing."
Codewind ODO instructions are failing to apply cluster roles for the user. Here is more information.
We need to clone per release and configure cluster roles and  role bindings.

https://www.eclipse.org/codewind/mdt-che-odo-support.html#adding-rules-and-importing-java-image-stream

[code]

[2020-01-09 14:41] stalleyj commented on #1660
I've recreated this issue and can see the following error in the PFE log

[09/01/20 14:34:31 /portal/routes/projects/remoteBind.route.js] [ERROR] TypeError: Cannot read property 'forEach' of null
    at getPathsToDelete (/portal/routes/projects/remoteBind.route.js:285:16)
    at router.post (/portal/routes/projects/remoteBind.route.js:229:43)

[2020-01-09 14:43] eharris369 commented on #1647
I didn't see any issues with jetty in the eclipse .log file using 1906 on MAC.  If I try to do the install from the command line on Windows or MAC I get:

[code]

The if tag is `latest` then it works.  Same if I set the CW_TAG environment variable to `latest` before starting Eclipse then the install works.

[2020-01-09 14:45] jagraj opened #1675 "SVT: [odo] Codewind ODO setup instructions failing"
**Codewind version:** 0.7.0
**OS:** RHEL

**Che version:** 7.3.1
**IDE extension version:**  0.7.0
**IDE version:**
**Kubernetes cluster:**

OCP 4.2

**Description:**

Codewind ODO instructions are failing to apply cluster roles for the user. Here is more information.
We need to clone per release and configure cluster roles and  role bindings.

https://www.eclipse.org/codewind/mdt-che-odo-support.

[2020-01-09 14:45] jagraj commented on #1674
opening another issue due to template issue not being available when creating new issue from github.

[2020-01-09 14:45] #1674 closed

[2020-01-09 14:46] jopit commented on #1667
For docker registries, we want a global list of registries, but need to support different connections having different push registries.

For template sources, have cwctl keep a list of templates locally, possibly as a flat file in ~/.codewind.
How do we get the list for appsody?

For docker registries?

[2020-01-09 14:47] jagraj commented on #1675
/priority hot
/area iterative-dev

[2020-01-09 14:59] jopit commented on #1672
VSCode don't provide an uninstall hook, so we can't run any code at uninstall time.  Eclipse does provide such a hook.

Implement a `cwctl uninstall` command.

[2020-01-09 15:07] makandre opened #1678 "uuid format on repo id is too restrictive, failing jenkins build"
**Codewind version:** 0.8.0 and master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

https://ci.eclipse.org/codewind/view/Codewind/job/Codewind/job/codewind/job/0.8.0/11/

![image](https://user-images.githubusercontent.com/17596240/72078774-b7b20780-32c7-11ea-8eb4-ec99784defb4.png)

**Steps to reproduce:**

**Workaround:**

[2020-01-09 15:07] makandre commented on #1678
/assign

[2020-01-09 15:09] micgibso opened #1679 "Restructure the TOC"
Restructure the TOC, with particular focus on the Getting started experience.  Use Toby and Mark's fork, to be merged into https://github.com/eclipse/codewind-docs master tomorrow, as baseline and work with them to refine.
Author all topics refining the content, checking the links, and confirming the user journey.

[2020-01-09 15:11] markcor11 commented on #1665
Looks like this may be related to recent changes in installer PR 303 - debugging....

[2020-01-09 15:15] j-c-berger commented on #1679
feel free to add me, @micgibso

[2020-01-09 15:18] james-wallis commented on #1611
This has been fixed in #1632 , @maysunfaisal can this be closed?

[2020-01-09 15:33] rajivnathan commented on #512
Any updates on this? It makes the docs rather difficult to navigate and the docs are the first place someone new to the product will look.

[2020-01-09 15:41] makandre commented on #1054
Yes that makes sense.  I think your fix was ok, only addition fix needed was if we know the `202` was already sent, then we don't need to send the `500` and just let the error be reported on the socket.

[2020-01-09 15:51] james-wallis commented on #1105
Still failing: https://github.com/eclipse/codewind/pull/1644

[2020-01-09 16:03] MelHopper commented on #1679
commenting so I can be added.

[2020-01-09 16:11] maysunfaisal commented on #1569
@stalleyj it didnt matter what project type it was, saw it for pretty much any project type i tried.
There were no builds in progress, just the single file that i was editing. It was before the holidays, I am not sure if FW detected changes after 30s or if installer detected after 30s, but i think it is the latter. As for how i knew it was 30s, i used a stop watch to count the average time taken.

[2020-01-09 16:16] james-wallis commented on #1660
/assign

[2020-01-09 16:20] #1611 closed

[2020-01-09 16:20] tobespc commented on #1491
From my testing against a local kube install, it would seem that its not kube but the infrastructure of our cloud is the issue.   One thing we could do is rather than wait for the user to call the api, we pre cache the call on codewind startup

[2020-01-09 16:24] oiricaud opened #1682 "Unable to install Codewind on visual studio"
**Codewind version:** v0.7.0
**OS:** Mac OS
**Docker:** 19.03.5

**Che version:** n/a
**IDE extension version:** 0.7.0
**IDE version:**1.41.1
**Kubernetes cluster:** n/a

**Description:**
Trying to install Codewind onto visual studio but when I click install I get error installing.

`cwctl is available at /Users/Oscar.Ricaud@ibm.com/.codewind/0.7.0/cwctl
==> Run cwctl --json --insecure connections

[2020-01-09 16:24] james-wallis commented on #1660
I'll check this in the CLI

[2020-01-09 16:28] rtaniwa commented on #1682
Hi Oscar,

Do you have Docker installed locally on your Mac? Docker is a prereq, and it appears as though we aren't locating it on your machine.

[2020-01-09 16:29] oiricaud commented on #1682
@rtaniwa yep I got docker installed.

[2020-01-09 16:30] markcor11 commented on #1665
Have this working now by detecting if running on CHE before performing any Docker container checks.

![Screenshot 2020-01-09 at 16 21 18](https://user-images.githubusercontent.com/28102564/72085485-4d1bbe80-32fd-11ea-9af7-307dc5df5dda.png)

[2020-01-09 16:35] johnmcollier commented on #1665
@markcor11 Slight nitpick, rather than performing a Docker container check, could we just check for the existence of one of the Che workspace env vars? Such as `CHE_WORKSPACE_ID`?

[2020-01-09 16:40] rtaniwa commented on #1682
@tobespc @tetchel either of you seen anything similar? Looks like cwctl is failing to find docker.

[2020-01-09 16:45] oiricaud commented on #1682
I have docker installed... i have reset my docker. Uninstalling and reinstalling visual code to see if it makes a difference.

[2020-01-09 16:46] tetchel commented on #1682
it could be that VS Code is using a different PATH than the shell you ran `docker -v` from. can you try launching VS Code from that shell?

1. Add VS Code it to your PATH https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line
2. Reload your shell and run `code`

[2020-01-09 16:57] oiricaud commented on #1682
I reinstalled visual studio and made no difference.

I added VS Code it to my PATH https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line and it made no difference. I am still having this issue.

<img width="1680" alt="Screen Shot 2020-01-09 at 10 57 08 AM" src="https://user-images.githubusercontent.com/11867058/72087865-ca7c0a80-32ce-11ea-84af-f89a9d1bf258.png">

[2020-01-09 16:58] tetchel commented on #1682
to clarify the steps above, you have to close all instances of VS Code and then run `code` from outside of VS Code (ie in a regular terminal).

Could you also post the output of:
`echo $PATH`

from both your normal terminal and from your VS Code terminal.

[2020-01-09 16:58] james-wallis commented on #242
I've completed all the items in this issue, @tobespc can you close please.

[2020-01-09 16:59] #242 closed

[2020-01-09 17:05] oiricaud commented on #1682
Thanks @tetchel I redid the steps on your previous comment and it works.

`Add VS Code it to your PATH https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line
Reload your shell and run code
try and run the Codewind install action again`

[2020-01-09 17:09] thisguy-1 commented on #155
@eharris369, my comments bellow each item:

**We never made one for this. Why do we need it? It seems like the only place in the context menu, but there is never an occasion we would see this icon on its own...**

**Same comment for this one.**

**Usually I try to limit the design of icons to actions for which we need visual representation- as in if there will be a menu without words. Do any of th

[2020-01-09 17:17] thisguy-1 commented on #1542
@mii-w

[2020-01-09 17:17] thisguy-1 commented on #1542
@kimholmes

[2020-01-09 17:26] eharris369 commented on #155
For manage template sources and manage image registries if we don't have an icon for them for VS code then we don't need one for Eclipse.

[2020-01-09 17:28] thisguy-1 commented on #163
Is this technically feasible? What do you think the flow would be like. I'm trying to think if its worth it when a user could simply download the project from github and then click on add existing within vscode. Is the addition of this feature easy to do and does it benefit a developer enough?

[2020-01-09 17:32] thisguy-1 commented on #163
Also, is it worth it to a developer, for codewind to be able to move there project's file to another directory during the addition process? Say they had the project existing within a different directory, and and now the wanted to either copy it/move it to another, or in the case of downloading directly from github within codewind, being able to specify where.

[2020-01-09 18:05] josephca opened #1683 "[0.8.0] build failure in publishing docker images"
Fix Jenkinsfile to tag before publishing 0.8.0 docker images.

[2020-01-09 18:05] #1577 closed

[2020-01-09 18:05] #1669 closed

[2020-01-09 18:16] tetchel commented on #1682
Nice, I'm not sure why VS Code may be using a different PATH, but you may have to always launch VS Code from the terminal to work around it.

[2020-01-09 18:17] tetchel commented on #1682
can you close the issue if you're satisfied?

[2020-01-09 18:42] tetchel opened #1685 "Add the Kabanero template source to Codewind on Kube"
Now that Appsody is supported on Kube, we can show the Kabanero source.

[2020-01-09 18:46] sghung commented on #715
Closing as this will be covered in two issues:
- https://github.com/eclipse/codewind/issues/812
- https://github.com/eclipse/codewind/issues/1269

[2020-01-09 18:46] #715 closed

[2020-01-09 18:50] sghung commented on #512
I will followup with Kim on this to see if Sarah's suggestion is suitable

[2020-01-09 18:53] #1682 closed

[2020-01-09 18:56] sishida commented on #1269
When this issue is resolved, we need to revisit the doc content that was added in this PR (https://github.com/eclipse/codewind-docs/pull/188/files) and see if it is still needed in the doc.

[2020-01-09 19:00] eharris369 commented on #1647
I missed that this is for 0.7.0.  I tried with 0.7.0 and did not have any problems.  After Joseph's announcement about 0.8.0 being ready for SVT I tried it as well and no issues.  Both using Eclipse 1906.

[2020-01-09 19:00] jgwest commented on #1647
I just tried Eclipse 19.03 with Codewind 0.7.0, and also Eclipse 19.03 with Codewind 0.8.0 (latest), and both worked fine for me, so I am unable to reproduce. And as Erin mentioned above, she was likewise able to install fine in 19.06.

Likewise, since the Jetty jars are packaged directly into the Codewind Filewatcher Core plugin ([using `Bundle-Classpath`](https://github.com/eclipse/codewind-ecli

[2020-01-09 19:01] tetchel opened #1689 "Move Project command could be hidden if there's only one active connection"
Since there's nowhere to move it to

[2020-01-09 19:07] jopit commented on #1643
TimE just verified the change

[2020-01-09 19:07] #1643 closed

[2020-01-09 19:14] sghung commented on #676
Jag will do some testing in 0.8.0 and then close this if this problem doesn't exist

[2020-01-09 19:14] kimholmes commented on #512
I assigned this to @thisguy-1 before the holiday.
Re: Sarah's suggestion. It would make more sense to me if we used the Carbon Guidelines:
https://www.carbondesignsystem.com/guidelines/typography/overview

Those are based in CSS, and that's you're using on the site, correct?

[2020-01-09 19:26] #1685 closed

[2020-01-09 19:28] markcor11 commented on #1665
@johnmcollier that sir is exactly how I solved it, swapping the host name search order from Docker container check first then a CHE check, to now doing the CHE check first by looking up the env var CHE_API_EXTERNAL.  If its set pfe host will be https:/localhost:9090 (the theia proxy) rather than attempt to find the docker containers.

[2020-01-09 19:32] jagraj opened #1690 "SVT:Appsody microprofile app fails to build with the latest"
**Codewind version:** 0.8.0
**OS:** Windows

**Che version:**
**IDE extension version:** Codewind 0.8.0
**IDE version:** Eclipse - 2019-09
**Kubernetes cluster:**

**Description:**

Appsody eclipse microprofile fails to build on Windows. It is complaining about disk share issue and I already have disk shared in my docker. You can see the screenshot below.

[code]

![image](https://user-images.gith

[2020-01-09 19:32] jagraj commented on #1690
/priority stopship

[2020-01-09 19:33] johnmcollier opened #1691 "Create a guide for using Codewind with Local Kubernetes (Minikube, CodeReady containers)"
Codewind can run on local Kubernetes, and we have [some instructions in our docs](https://www.eclipse.org/codewind/remoteconfiguring.html#configuring-kubernetes-for-docker-desktop), telling users how to deploy Codewind on a local Kube, but we don't have any end-end instructions or guides showing users what to do, and it can be confusing at times.

Given that local Kubernetes (such as Minikube, Doc

[2020-01-09 19:36] sghung opened #1692 "Appsody Extension - Change env.list to env.properties"
To ensure editors can pickup syntax and formatting properly

[2020-01-09 19:36] jagraj commented on #466
@tobespc
Not sure how new architecture address this prerequisite. As a prerequisite user must share their drive on Windows with their user account.

[2020-01-09 19:38] malincoln commented on #1690
@sghung pls review.  Thanks

[2020-01-09 19:40] travis1111 commented on #512
So you suggestion is to use carbon scale?

https://www.carbondesignsystem.com/guidelines/typography/overview/#scale

[2020-01-09 19:42] sishida commented on #512
Documentation for Codewind is written in Markdown, which is why I suggested  https://www.markdownguide.org/basic-syntax/. Making the heading match the Markdown defaults would be like a "factory reset" of our headings. :)

Of course, if design wants to design new headings, then I am all for the Carbon guidelines!

Another thing to consider is limiting our use of headings. For example, if we decide

[2020-01-09 19:54] tetchel commented on #529
Cleaning up issues right now, since this has been put on hold, can you re-add the vs code label or open a new issue once the iterative dev component is finished?

[2020-01-09 19:58] #842 closed

[2020-01-09 20:02] tetchel commented on #933
We're not going to action this. If you are hitting issues with adding/removing template sources that are causing you to have to edit the file directly, we can address those.

[2020-01-09 20:02] #933 closed

[2020-01-09 20:02] thisguy-1 commented on #580
I don't think we should change this. My best guess is that a user would want to know what they are doing before they decide to name it. In user testing, there hasn't been any mention of this being confusing.

[2020-01-09 20:11] #580 closed

[2020-01-09 20:15] tetchel commented on #1251
it would be added as a command with no 'regular' UI in VS Code

[2020-01-09 20:16] makandre commented on #1678
Build now passes https://ci.eclipse.org/codewind/view/Codewind/job/Codewind/job/codewind/job/0.8.0/14/

[2020-01-09 20:16] #1678 closed

[2020-01-09 20:17] makandre commented on #1401
The name of the file is being changed from `env.list` to `env.properties`.  See https://github.com/eclipse/codewind/issues/1692

[2020-01-09 20:20] sishida commented on #1488
Screenshots for this documentation weren't deemed essential. Closing this issue.

[2020-01-09 20:20] #1488 closed

[2020-01-09 20:22] elsony commented on #1647
Removing the stopship flag based on the discussion with SVT.  Given that this problem only happens on a specific version 2019-06 of Eclipse on a particular machine, we do not consider this is a general problem based on the current understanding on the problem.

[2020-01-09 20:24] makandre commented on #1692
/assign

[2020-01-09 20:27] eharris369 commented on #1657
This would also be useful for local Codewind as I think it would fix: https://github.com/eclipse/codewind/issues/958.

[2020-01-09 20:27] eharris369 commented on #958
This would be fixed by https://github.com/eclipse/codewind/issues/1657 if we decide to support it.

[2020-01-09 20:38] maysunfaisal commented on #1648
Here are labels:

[code]

[2020-01-09 20:39] eharris369 commented on #1418
Removing the eclipse-ide label since it does not look like this is an IDE problem. The IDE only shows the state the PFE tells it to show. I think iterative-dev needs to have a look.

[2020-01-09 20:45] #1692 closed

[2020-01-09 20:46] eharris369 opened #1695 "[Eclipse IDE] Support project add from project explorer view for remote"
In the Eclipse IDE the user can right click on a project and select Codewind > Add Project. Currently this only allows the user to add the project to the local Codewind instance. If they want to add an existing project to a remote Codewind instance they must right click on it in the Codewind Explorer view and select Add Existing Project.

Another page could be added to the wizard that comes up for

[2020-01-09 20:48] eharris369 commented on #1384
This bug will become relevant when https://github.com/eclipse/codewind/issues/1695 is implemented.

[2020-01-09 20:49] eharris369 commented on #1695
See https://github.com/eclipse/codewind/issues/1384 for changes that need to be made to where the registry link is located in the wizard if this enhancement is implemented.

[2020-01-09 20:50] j-c-berger commented on #1691
@sishida and/or @micgibso maybe assign to me. We can discuss at our next iteration since a guide is a big endeavor.

[2020-01-09 20:57] eharris369 opened #1696 "[Eclipse IDE] Do not use StyledText as JAWS does not read well"
JAWS does not appear to work well with StyledText.  Adding the following will get it to read the styled text when the user tabs to it but when the user does an Insert (JAWS key) + B to read the entire dialog it skips it:
[code]
It would be better to replace StyledText with Text and use bold font when needed.

[2020-01-09 20:58] tetchel opened #1697 "Invalid detailedAppStatus sometimes received"
When doing an initial build on a Node project, the initial detailedAppStatus is briefly an error that fails to be translated:
[code]

since `notify: true`, this results in VS Code showing the following:
![image](https://user-images.githubusercontent.com/8888438/72104196-dda3d000-32f8-11ea-8c57-4857cbd25da1.png)

[2020-01-09 21:04] tetchel commented on #1697
it looks like this is what's causing the `exit status 1`

[code]

[2020-01-09 21:19] yangcao77 commented on #1697
/assign

[2020-01-09 21:23] eharris369 opened #1698 "[Eclipse IDE] Restructure application overview page"
Restructure the application overview page to be more like the VSCode one except keep the single Edit Project Settings and More Information buttons instead of having separate ones for each item.

![image](https://user-images.githubusercontent.com/9484320/72105516-ac78cf00-32fb-11ea-8e41-e9b967e6246f.png)

[2020-01-09 21:24] sishida commented on #1691
@j-c-berger I have assigned this issue to you. I think it'd be good to bring this issue up in the iteration planning meeting.

From reading the initial comment, I'm thinking that this local Kubernetes content might fit the new "tutorial" format that the team talked about instead of something like an Open Liberty guide, assuming that most of the existing Codewind content is going to be in the tutor

[2020-01-09 21:27] eharris369 commented on #752
@mmulholl In the master branch the default install version is set to `latest` now.  Is that sufficient for what you need?

[2020-01-09 21:32] eharris369 commented on #1647
I believe that this message `java.util.ServiceConfigurationError: org.eclipse.jetty.websocket.api.extensions.Extension: Provider org.eclipse.jetty.websocket.common.extensions.identity.IdentityExtension not a subtype` means that there is more than one version of jetty loaded and the classes are getting mismatched.

[2020-01-09 21:38] johnmcollier commented on #1691
@sishida I'm flexible with the completion date, maybe in time for 0.9.0 to give us time to prepare it? No other guides/tutorials that I'm aware of at the moment.

I can work with @j-c-berger to get the technical details sorted out.

[2020-01-09 21:41] johnmcollier commented on #1251
What about also when you right click on the connection?

[2020-01-09 21:43] jopit commented on #1652
@NikCanvin we already have approval for a piggyback CQ for this: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19943

[2020-01-09 21:46] johnmcollier commented on #1675
Looks like the script from the repo has already been updated, so just the docs need to be updated with the 0.8.0 branch and be refreshed upon release.

PR: https://github.com/eclipse/codewind-docs/pull/281

[2020-01-09 21:47] kimholmes commented on #512
Ok @sishida If it's already written in Markdown (although, that seems a little strange since it's a website), then I think it's fine. Whatever is easiest. Is it also not possible to look at the code for Open Liberty or another site and see what they have?

[2020-01-09 21:51] tetchel commented on #1251
I don't really want to clutter the UI with something so niche

[2020-01-09 21:54] johnmcollier commented on #1251
I understand the point about not wanting to clutter things up, but is enabling verbose logging niche though?

[2020-01-09 22:00] tetchel commented on #1251
It should be, if it's not, shouldn't we make the default logging more useful?

[2020-01-09 22:03] johnmcollier commented on #1251
That’s fair. I’m fine with having just a simple command then.

[2020-01-09 22:12] keithchong commented on #75
@sghung , I'm closing this.  I will open more for test holes.  We currently have the above junit tests, and UI tests to test the content type, and 3 wizard scenarios

[2020-01-10 04:45] jgwest commented on #1647
@eharris369 True, good point... 🤔 . ServiceLoader, used by the Jetty WebSocket code, is a wildcard which can easily make a mess out of OSGi classloading and resolution. There is some OSGi support for working around ServiceLoader, but it looks like more trouble than it's worth.

I'm now looking at dumping Jetty and switching to the OkHttp's WebSocket support (this will be the THIRD WebSocket client

[2020-01-10 09:55] tobespc commented on #1657
I can see how this would be a useful feature but.... would have to make it clear that for hyrbid, the remote workspaces are mean't for building and running and not guaranteed to have the latest code as that will always be on the originators workspace.  Should be relatively easy to implement as well

[2020-01-10 10:25] tobespc commented on #466
this is no longer a pre req for windows.  The changes that went in to 0.7.0 removed the need for anything to be shared locally.   Its not the remote change as such, more the general architecture change

[2020-01-10 10:26] mattcolegate commented on #1657
Would VSCode LiveShare be enough to satisfy this use case? https://code.visualstudio.com/blogs/2017/11/15/live-share

[2020-01-10 10:42] mattcolegate commented on #1657
There's also this for Eclipse: https://marketplace.eclipse.org/content/saros-distributed-collaborative-editing-and-pair-programming

[2020-01-10 10:55] hhellyer commented on #1373
It looks like it was the watch on the pod timing out because the pull took too long, that would explain the <nil> value returned from the `Watch()` calls channel. (I could also reproduce that by explicitly setting a very short timeout.)

I've pushed a fix for this so we handle the watch for the pod timing out better. If you retest you should see cwctl wait for the pod to start, and warn that it is

[2020-01-10 11:14] liamchampton commented on #1148
@tetchel Please can this issue be verified/closed?

[2020-01-10 11:30] liamchampton commented on #1316
@jopit Please can you verify this is still an issue. We have changed from `docker apis` -> `docker-compose` which should handle this issue.

[2020-01-10 12:35] j-c-berger commented on #1691
@sishida, thank you for assigning me. Yes, we'll discuss it at our iteration meeting, and from there, we can better determine an end date for it. We can also talk more about format, whether it will adhere to guide standards or the "tutorial" format we've been discussing.

@johnmcollier, thank you for being willing to work with me on the technical details. I recently put together a proposal, includ

[2020-01-10 13:29] james-wallis opened #1700 "cwctl project list"
**Description of the enhancement:**

Would be good to have a `cwctl project list` function so that its easier for us to `bind`, `sync` and `remove` projects when we've lost the `projectID` so that we don't need to drop out of the terminal to find it.

**Proposed solution:**

add a `cwctl project list` command which will effectively pretty print the response to `/api/v1/projects`.

[2020-01-10 13:29] james-wallis commented on #1700
/assign

[2020-01-10 14:06] liamchampton commented on #1259
@jagraj please can this be verified/closed? I don't think this is going to be an issue anymore since we are using `docker-compose down` in 0.8.0

[2020-01-10 14:11] #1124 closed

[2020-01-10 14:19] sishida commented on #466
@jagraj and @tobespc If the prereq is no longer needed, would it be OK to close this issue? Please let us know. Thank you! 😸

[2020-01-10 14:24] eharris369 commented on #1251
In Eclipse I will add a preference to enable support features.  If the preference is enabled then the menus will include setting PFE log level items.

[2020-01-10 14:56] markcor11 commented on #1665
/pipeline Verify

[2020-01-10 15:20] jagraj commented on #466
@tobespc
We don't have to share even for appsody projects.? I got into this issue (https://github.com/eclipse/codewind/issues/1690) with the 0.8.0 release.

[2020-01-10 15:48] mmulholl opened #1703 "SVT: Eclipse IDE : Mac : AppsodyEclipseMicropofile project stuck in starting"
**Codewind version:**   Codewind tech preview	0.8.0.v202001082125
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**Eclipse IDE for Enterprise Java Developers. Version: 2019-09 R (4.13.0). Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**
After creating an AppsodyEclipseMicropropfile the project gets stuck in starting state.

This in the app logs:

Running de

[2020-01-10 15:51] sghung commented on #1690
Using Eclipse +  codewind 0.8.0 + mac, I see this issue as well, s o we can rule this out as being a windows only issue. I will keep investigating and add comments with updates

[2020-01-10 16:08] james-wallis commented on #1700
I'll also add a `cwctl project get --id` so we can get an individual project

[2020-01-10 16:13] james-wallis commented on #1660
PR open for this https://github.com/eclipse/codewind-installer/pull/324

[2020-01-10 16:19] hhellyer commented on #1491
I've fixed our caching of the repssitories, we were actually caching them on startup *but* the call to do so was before we loaded the extensions which then invalidated the cache. (I've moved the caching to after we've loaded extensions.)

See: https://github.com/eclipse/codewind/pull/1705 - please feel free to pull and test with that branch if you want to verify the performance on your systems bef

[2020-01-10 16:20] sishida commented on #512
@kimholmes, The doc files are Markdown files: https://github.com/eclipse/codewind-docs/tree/master/docs/_documentations

The website itself is separate, but the Markdown in these files has an impact on how that content appears on the website.

For example, Markdown uses `#` characters to determine heading size. The more of the `#` characters, the smaller the heading appears.

[2020-01-10 16:27] #1564 closed

[2020-01-10 16:31] tetchel commented on #1148
ok, @jagraj please reopen this if it's seen during SVT.

[2020-01-10 16:31] #1148 closed

[2020-01-10 17:06] tetchel commented on #1621
@sujeilyfonseca can you confirm if this is fixed in your 0.8 testing?

[2020-01-10 17:06] tetchel commented on #1505
@jopit can you verify?

[2020-01-10 17:17] malincoln commented on #1703
@sghung pls review

[2020-01-10 17:20] makandre commented on #1703
I was not able to reproduce and asking others on the team to try.  It is likely an environment or stack issue since not much was changed in appsody extension for 0.8.0

[2020-01-10 17:21] tetchel opened #1706 "Kabanero source description missing space"
![image](https://user-images.githubusercontent.com/8888438/72172657-b0602c00-33a3-11ea-8e5d-3417304a2598.png)

[2020-01-10 17:21] tetchel commented on #1706
https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L32

[2020-01-10 17:26] tetchel commented on #1622
Also, the message that _does_ have the host, uses the internal Docker networking IP address, which isn't actually reachable from the user's system and doesn't match the Application Endpoint, which is pretty confusing.

![image](https://user-images.githubusercontent.com/8888438/72172905-5e6bd600-33a4-11ea-9aba-08e41fbb3dcc.png)

[2020-01-10 17:43] sghung commented on #1703
I run into this issue: https://github.com/eclipse/codewind/issues/1690

Not sure why fhat isn't blocking this scenario from happening. Although in both cases, it is complaining about a missing pom.xml

[2020-01-10 17:47] sghung commented on #1690
Isolating the problem further, if calling it outside of codewind (i.e. `appsody init` on the OS), it does work.

The output is as follows:

Setting up the development environment
Pulling docker image docker.io/appsody/java-microprofile:0.2
Running command: docker pull docker.io/appsody/java-microprofile:0.2
0.2: Pulling from appsody/java-microprofile
Digest: sha256:44deecb2d0b2567e964444e9ba9d5041

[2020-01-10 18:05] keithchong commented on #1703
I reproduced this only once.  I tried to rebuild (it downloaded dependencies again) and it built successfully.

[Container] failed to load external entity "pom.xml"
[Container] failed to load external entity "pom.xml"
[Container] failed to load external entity "pom.xml"
[Container] Project pom.xml is missing the required parent:
[Container]
[Container]   <parent>
[Container]     <groupId>dev.appso

[2020-01-10 18:19] naveenkaratekid opened #1707 "SVT: Windows VSCode: Icons not showing up in 0.8.0"
**Codewind version:0.8.0**
**OS:Windows**

**IDE extension version:0.8.0**
**IDE version: 1.41.:**

**Description:**
In VSCode, I cannot see any icons for Codeiwnd 0.8.0. All I see is the alt text for them. Also, some of the alt text in the Manage Templates page is hard to read because the text is black in a dark background, making it difficult to determine if I have disabled or enabled a specific

[2020-01-10 18:51] jgwest commented on #1672
As a partial workaround, we could implement a keep-alive from the IDE to Codewind server:
- Every X minutes/hours, the IDE sends a message to the Codewind server indicating that the user has an active IDE running, with an active Codewind entry defined.
- If the Codewind server does not receive such a keep-alive entry within X minutes/hours, it is assumed the workbench is closed, and Codewind and i

[2020-01-10 18:58] naveenkaratekid commented on #1647
With help from @eharris369, here are the steps I took to resolve this issue:

1. Uninstall Eclipse 1906.
2. Reinstall it.
3. Install Codewind 0.7.0 from Eclipse Marketplace.

Now Codewind starts up in Eclipse successfully.

[2020-01-10 18:58] #1647 closed

[2020-01-10 19:11] jgwest commented on #1251
Now the cwctl is (more) easily accessible by the user -- since we copy it under `~/.codewind` -- an alternative to adding this mechanism to the IDE would be to add a `cwctl logging` command.

IIRC when we initially discussed adding this mechanism to the IDE, cwctl was not (yet) something we were making it easy for the user to access, whereas now it is in a fixed location.

[2020-01-10 19:18] sishida commented on #1603
@tobespc Hi, Toby!
Becca and I were looking at this issue, and we were wondering if the Codewind website should have instructions on injecting metrics and application monitoring?

We're aware of the design doc here https://github.com/codewind-resources/design-documentation/blob/master/codewindServer/metricsInjection.md, but perhaps we should also include instructions on Codewind.dev?

Thank you!

[2020-01-10 19:26] sghung commented on #1690
I tried creating 3 more projects and all of them worked. It could be a timing issue as it isn't reproducible 100% of the time.

[2020-01-10 19:29] tetchel opened #1708 "Appsody project capabilities should report "debug" mode instead of "debugNoInit""
The Microprofile/Liberty Appsody stack actually does always wait for init, so the capabilities should report `debug` mode but not `debugNoInit`. However, since Codewind doesn't know which stack each project uses, we can't change the capabilities per-stack.

So currently the IDEs are asking for `debugNoInit` but actually receiving `debug`, which causes problems when restarting, debugging projects f

[2020-01-10 19:35] makandre commented on #1708
/assign

[2020-01-10 19:42] eharris369 opened #1709 "Can't restart Codewind node project in debug mode"
Using a newly created Codewind node project (not Appsody) when I try to restart it in debug mode I get an error dialog popping up with the message: projectStatusController.appStatusContainerStopped.  This is coming from a projectStatusChanged event:

[code]

I am using the latest 0.8.0 Codewind and Eclipse IDE.  I tried both on Windows and MAC with the same results.

Full log file:
[pfelog.txt](ht

[2020-01-10 19:43] tetchel commented on #1707
i will also make the alt text for the Remove button the name instead of the description 😢

[2020-01-10 19:43] tetchel commented on #1709
I see it too

[code]

[2020-01-10 19:44] tetchel commented on #1709
I reported the bad detailed status here, https://github.com/eclipse/codewind/issues/1697 it looks like it was fixed in master

[2020-01-10 19:55] tetchel opened #1710 "Don't show "enable inject metrics" action if the project already has metrics"

[2020-01-10 20:02] thisguy-1 opened #1711 "Remove "Open" from menu items"
**Codewind version:** Latest

**Description of the enhancement:**

The right click menus are hard to navigate becasue so many of the items start with "Open" ( as seen bellow) Except for Open App and Open Container shell, I do not see why we shouldnt remove the "Open" from the names, since it would be understood that by clicking on the item, it would take you to that feature.

@sishida @eharris369

[2020-01-10 20:03] tetchel commented on #1711
I think that's fine

[2020-01-10 20:16] tetchel opened #1712 "Logs for Microprofile project appear to be outdated"
I was wondering why my restarting Microprofile project was starting, but had no log output other than that the server had stopped. You can see the last output was 3 minutes ago.

![image](https://user-images.githubusercontent.com/8888438/72182681-f4f6c200-33b9-11ea-8634-556dadfba1d4.png)

`messages.log` is up-to date, but `console.log` got stuck after the first server stop too.

![image](https://u

[2020-01-10 20:17] thisguy-1 commented on #155
@eharris369 I think I got them all, and I added some replace the ones youv'e been using already to make them more cohesive. If I've included it, then it should replace what you've been using even if it looks similar, since I might have made some tweaks. Please let me know if there are any problems. If not please comment and close. Thanks!
[Eclipse Icons.zip](https://github.com/eclipse/codewind/fil

[2020-01-10 20:24] sishida commented on #1711
I think it's good, too.

We also don't want users to get confused with "open" as in "open source" if they see the word "open" in the menu items. 😅

[2020-01-10 20:30] thisguy-1 commented on #1711
Cool, I know @eharris369 wanted to do this, so let's go ahead and do it for all the IDE's. Please comment when done and post a screenshot of the menu. Thank you!

[2020-01-10 20:48] elsony commented on #1073
Based on the discussions, here is the proposed fix to this problem:
1. Turbine will create a new notification, e.g. projectCapabilitiesReady (final name TBD), after Turbine has handled the project creation up to a stage that the capability info is ready, i.e. when Turbine has finished creation of metadata so Turbine has registered that project.
2. IDE can listen to the projectCapabilitiesReady eve

[2020-01-10 20:57] elsony commented on #1073
@yangcao77 Can you work on the Turbine work, i.e. item #1 on my previous comment.

[2020-01-10 21:21] rajivnathan commented on #1709
It's now in 0.8.0 as well: https://github.com/eclipse/codewind/pull/1704

Can you please try again?

[2020-01-10 21:22] rajivnathan commented on #1697
@tetchel can you please verify

[2020-01-10 21:27] jopit commented on #1505
Currently the second card attaches to the right side of the window if it won't fit side-by-side with the first card, and it moves leftward as I make the window smaller.  I'd prefer if it would line up under the first card and not move around as the window is made smaller.

![image](https://user-images.githubusercontent.com/29612372/72187537-f29a6500-33c5-11ea-8ac8-3757cea64a20.png)

[2020-01-10 21:30] eharris369 commented on #1711
![image](https://user-images.githubusercontent.com/9484320/72187717-718f9d80-33c6-11ea-956d-945b56a13d51.png)

[2020-01-10 21:35] mmulholl commented on #1703
Seeing it with Appsody Spring Kotlin project too, if it is an environment problem what can I do?

[2020-01-10 21:43] eharris369 commented on #776
I found a way in JAWS to read the labels by using Inspect (JAWS key) + B.  This reads the entire dialog from start to finish including the labels.  Since labels are usually just extra information, this may be ok.  Sent an email to an expert to check - just waiting for a response.  I did remove one read only text and replaced it with a better group label (which JAWS does read).  This will not work

[2020-01-10 21:50] mmulholl commented on #1703
I do see a lot of old appsody docker images, maybe they need cleaning up

[2020-01-10 22:05] jagraj commented on #1665
I got the latest drivers and I am still hitting this problem. I can not create image push registry from Image registry manager.

<img width="528" alt="Screen Shot 2020-01-10 at 4 55 14 PM" src="https://user-images.githubusercontent.com/713849/72189636-58d5b680-33cb-11ea-9e0f-8c9a148bd531.png">

[2020-01-10 22:19] DavidG1011 commented on #1665
Seeing the same as Jag on OCP 4.2 with Che 7.5.1:

![Screen Shot 2020-01-10 at 5 09 27 PM](https://user-images.githubusercontent.com/30476587/72189880-06e16080-33cc-11ea-8341-5df100c6cc5e.png)

Also still seeing this error when creating a new project:

![Screen Shot 2020-01-10 at 5 08 54 PM](https://user-images.githubusercontent.com/30476587/72189957-3db77680-33cc-11ea-96ea-7e2570d621c9.png)

[hos

[2020-01-11 00:06] markcor11 commented on #1665
I suspect you don’t have the latest CLI in the theia yet

[2020-01-11 05:47] sujeilyfonseca commented on #1621
I have tried to test this issue with Codewind 0.8.0 and Eclipse Che 7.5.1, but I cannot execute this scenario yet since I still see the following issue: https://github.com/eclipse/codewind/issues/1665:

<img width="1348" alt="Screen Shot 2020-01-11 at 12 43 54 AM" src="https://user-images.githubusercontent.com/49531960/72199543-80e50a00-340b-11ea-98a0-1123ee4568c5.png">

[2020-01-11 05:47] sujeilyfonseca commented on #1621
I have tried to test this problem with Codewind 0.8.0 and Eclipse Che 7.5.1, but I still can't run this scenario yet because I still see the following problem.

[2020-01-12 13:37] markcor11 commented on #1665
Just checked the pipeline status,  CWCTL containing the fix has still not yet been pushed as of Sunday 13:25 GMT.  Although build and test phases are complete, Jenkins seems stuck in the Deploy stage along with one other job since Friday.

See. Build 62 in https://ci.eclipse.org/codewind/job/Codewind/job/codewind-installer/job/master

[2020-01-12 13:43] markcor11 commented on #1665
<img width="1201" alt="Screenshot 2020-01-12 at 13 42 05" src="https://user-images.githubusercontent.com/28102564/72219774-7a58ae80-3541-11ea-8c94-5f5c5c9145f5.png">
<img width="840" alt="Screenshot 2020-01-12 at 13 42 36" src="https://user-images.githubusercontent.com/28102564/72219775-7c227200-3541-11ea-84db-179787852fed.png">

[2020-01-12 19:03] johnmcollier commented on #1665
@markcor11 I tried kicking off a rebuild to see if it would fix the hanging

[2020-01-13 09:05] micgibso commented on #1659
This isn't a bug, this is normal wip, so removing the kind/bug label  :)

[2020-01-13 10:11] stalleyj commented on #1706
/assign

[2020-01-13 10:37] mattcolegate commented on #1509
/assign

[2020-01-13 10:37] mattcolegate commented on #1509
/in progress

[2020-01-13 10:39] mattcolegate commented on #1509
/inprogress

[2020-01-13 10:41] #514 closed

[2020-01-13 10:41] mattcolegate commented on #514
This work has been delivered.

[2020-01-13 11:18] hhellyer commented on #1598
/assign @markcor11

[2020-01-13 11:19] jgwest commented on #1598
@hhellyer: GitHub didn't allow me to assign the following users: markcor11

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2020-01-13 11:20] markcor11 commented on #1598
Will look into this