[2019-08-29 18:45] deboer-tim commented on #279
The design that we're working on from an IDE standpoint is to push the user to pick one devfile repo the first time they go to create a project (i.e. disable all but one), and then only show the templates from that repo. The user could also access full repo management at any time to add/remove/enable/disable individual repos.
IMHO if we proceed with this design there should be no need for this iss

[2019-08-29 19:00] makandre commented on #279
But I think currently portal can only enable/disable things that are persisted in `repository_list.json`, which anything coming from an extension won't be in there.  So this issue is meant to cover that?

[2019-08-29 19:20] rajivnathan commented on #166
@naveenkaratekid can this be closed?

[2019-08-29 19:21] naveenkaratekid commented on #166
Yes. It can be closed.

[2019-08-29 19:38] DavidG1011 commented on #310
Seeing this error now:
![image](https://user-images.githubusercontent.com/30476587/63970789-01195d00-ca73-11e9-82a9-a3d1751d13e4.png)

[2019-08-29 20:01] johnmcollier opened #337 "Codewind should show a proper error if a project is missing a helm chart"
This week, we saw that the Open Liberty template was missing a Helm chart and couldn't be deployed on Kube (see https://github.com/microclimate-dev2ops/openLibertyTemplate/pull/2). We found that instead of reporting an error that no Helm chart was found and erroring out, the Turbine build process just hangs and does nothing, providing no message to user about what went wrong.

We're already detect

[2019-08-29 20:27] johnmcollier commented on #332
Is this because we're doing a `mvn compile` on incremental updates, rather than a `mvn package`?

[2019-08-29 20:46] josephca commented on #327
Sure, I'll comment the test suite run for now.

[2019-08-29 20:49] josephca commented on #328
@johnmcollier @tobespc can you consider this as a higher priority? this is rather urgent. Unless we fix this, the docker agent will experience space issue again and PR build cannot be restarted as it cannot remove workspaces.

[2019-08-29 20:50] makandre commented on #292
In order to bind a vanilla project as `appsody` (or similarly `odo`), user would need a secondary selection page to choose the desired `stack` (or `component` for `odo`)

Today, both VS Code and Eclipse already kind of have that secondary selection page for bind, which is used to select the language:

![image](https://user-images.githubusercontent.com/17596240/63969283-8ac72b80-ca6f-11e9-9806-66c6

[2019-08-29 20:52] johnmcollier commented on #328
@josephca You're probably more familliar with Jenkins and the Docker VPS than I am though

[2019-08-29 20:56] johnmcollier commented on #328
@josephca I should also note that the Codewind Che Plugin docker build isn't creating or writing to any files on the workspace, so I don't think this will help with the storage issues (though it may for the Codewind repo)

[2019-08-29 21:14] markcor11 commented on #254
I have a branch working with a new deployments command:

[code]

[2019-08-29 21:28] deboer-tim commented on #292
Sounds ok to me. The one thing I'm a little uneasy about is this:

In the non-Appsody case it'd still be looping over all the templates to build a composite list. Since that's essentially what computing via appsody list would be doing, why not always use the same logic - i.e. just iterate over the templates in all enabled template repositories (and no need to call any extensions)?

This would also

[2019-08-29 21:38] josephca commented on #327
Please enable test suite run once you get a fix. Please refer to #339. Thanks,

[2019-08-29 21:38] deboer-tim commented on #179
FWIW, for 1 Appsody is now essentially implemented as a URL callback, so it could be pinged once and stored in the list (which I think it probably should be) and then deleted and added back. I don't love the thought of making it non-removable either way, but maybe once we get the support for enabling/disabling repos that won't matter.

[2019-08-29 21:43] deboer-tim commented on #279
I'm good if we want to use it for that. We should chat if we think we need to keep in sync with changes to the repo list in the external cli, but either way they should probably be added to the repository list so that they can be enabled/disabled like any other repo.

[2019-08-30 00:08] makandre commented on #292
There are 2 reasons for proposing that `getSubTypes` method:

1. The templates has `language` there, such as `java`, `nodejs`, but appsody secondary values user need to choose from are the stack names, such as `java-microprofile`, `nodejs-express` (and for `odo` components such as `dotnet`, `nginx`).  So I was assuming the `language` stays the same so everything else, such as filter by language, s

[2019-08-30 03:04] GeekArthur commented on #310
@DavidG1011 I can reproduce this error as well, Portal handles the project files (including `<project>/target/classes`) deletion, from my understanding Portal shouldn't have permission issue to delete that folder because Portal also belongs to PFE and should use root user for deletion. I would suggest move this issue to Portal to see why Portal can't delete it or if some changes on project deletio

[2019-08-30 10:26] ebuckle commented on #271
I believe that option 1 would be our best bet for this:
- Appsody install on Mac would require us to also install Xcode and Homebrew as pre-reqs
- Appsody install on Linux requires a sudo install

The other options could be implemented if desired but displaying a message to the user upon creation of an appsody project feels like the cleanest solution.

It would just be a case of deciding how and w

[2019-08-30 12:58] jagraj opened #342 "SVT:Exceptions when starting open liberty sample"
**Codewind version:** 0.3
**OS:**  Windows

**Che version:**
**IDE extension version:**  eclipse-plugin 0.3
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**
With the latest open liberty docker image, we are getting exceptions during application start.
I had cached liberty image with previous version, I deleted old image and with the latest open liberty image that I am get

[2019-08-30 13:16] jagraj opened #343 "SVT:Open liberty and Lagom projects failed to build on RHEL7"
**Codewind version:** 0.3
**OS:**  RedHat Linux 7

**Che version:**
**IDE extension version:**  eclipse-plugin 0.3
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**
Open liberty and Lagom projects failed to build on RHEL7.  Both of these projects have multi stage build files.

[code]

Dockerfile ...

[code]

**Steps to reproduce:**
1. Install codewind from eclipse plugin o

[2019-08-30 13:47] jagraj opened #344 "SVT: Intermittently Open liberty project fails on codewind che"
**Codewind version:** 0.3
**OS:** RHEL

**Che version:** 0.3
**IDE extension version:** Theia 0.3
**IDE version:** Theia - RC4
**Kubernetes cluster:**  OpenShift

**Description:**
Open liberty project intermittently fails to build from Codewind che.  It tries to use lagom projects maven cache and fails to build.

[code]

[2019-08-30 13:51] jagraj commented on #344
Here is the log from codewind.
[codewind.txt](https://github.com/eclipse/codewind/files/3560156/codewind.txt)

[2019-08-30 14:03] johnmcollier commented on #344
@jagraj Can you upload the project's docker.build.log too?

This is certainly odd.

Looking at the logs, the only thing that stands out to me is:
[code]

Looking at [docker-build.sh](https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/dockerScripts/docker-build.sh#L19), I'm wondering if we're not properly sanitizing the arguments? And thus, the wrong project is getting bui

[2019-08-30 14:08] DavidG1011 commented on #344
Logs from my attempt:
[docker.build.log.txt](https://github.com/eclipse/codewind/files/3560216/docker.build.log.txt)
[codewind.txt](https://github.com/eclipse/codewind/files/3560224/codewind.txt)

[2019-08-30 14:28] rajivnathan commented on #343
@jagraj can you please add the docker version on the RHEL 7 machine you reproduced this on?

[2019-08-30 14:35] jagraj commented on #343
Here is my docker version...

[code]

[2019-08-30 14:44] johnmcollier commented on #343
Multi-stage docker builds weren't introduced until Docker 17.05 and RHEL by default uses Docker Enterprise 1.13.1, which is based on an older version of Docker without support for multi-stage builds. As such, this behaviour is expected.

@jagraj As mentioned on the call, since our [docs](https://www.eclipse.org/codewind/installlocally.html) say that Docker 17.06 or higher is needed, can we close o

[2019-08-30 14:51] jagraj commented on #343
Thanks John, closing the issue now.

[2019-08-30 14:51] #343 closed

[2019-08-30 14:54] GeekArthur commented on #292
FWIW, `odo` doesn't have the equivalent method to compute matched component(s) for the repository (I believe `appsody list <repository>` can compute). `odo` has `odo catalog list components`, but it will list **all** components that `odo` supports because by design `odo` decides to let user specify the component type. It would be better we have code to compute that, otherwise the full `odo` suppor

[2019-08-30 14:55] johnmcollier commented on #344
I've been able to reproduce this, by doing the following:
- Create and deploy a Lagom project. It _should_ build fine without issue
- Create an Open Liberty project. It will build the Open Liberty dockerfile **but** use the Lagom pom.xml, causing the build to fail

Or by doing the following:
- Create and deploy an Open Liberty project. It _should_ build fine without issue
- Create a Lagom project.

[2019-08-30 15:05] makandre commented on #292
Actually appsody case would also just return all the available stacks

[2019-08-30 15:08] GeekArthur commented on #292
@makandre okay, then `odo` and `Appsody` are exactly the same.

[2019-08-30 15:16] GeekArthur commented on #310
Also I can delete the project files when I shell into the PFE container to delete, if Portal uses the same way then those files should be deleted.

[2019-08-30 15:52] GeekArthur commented on #310
Here is the processes running in PFE before and after the project deletion

Before
[code]

After
[code]

Given that, I don't any process from Turbine hold the `target` folder. Worth having Portal investigate more.

[2019-08-30 15:55] rajivnathan commented on #310
Thanks @GeekArthur, @tobespc we've looked at it from a Turbine perspective and don't see anything we're missing on cleanup before handing back to Portal. Can you please take a look from a Portal perspective?

[2019-08-30 16:06] johnmcollier opened #345 "Investigate Prow for Codewind test coverage on Kube"
## Background
As part of our long-term plan to get test coverage on Kubernetes for our Codewind PRs (and knowing we can’t run Kube on the Eclipse VPS) we should consider looking at [Prow](https://github.com/kubernetes/test-infra/tree/master/prow) to supplement Jenkins and to get Kube test coverage.

[Prow](https://github.com/kubernetes/test-infra/tree/master/prow) is a CI/CD solution designed for

[2019-08-30 17:30] rajivnathan commented on #332
Yes, exactly. Which is what I noted in the description ;) We'd need to detect when <looseApplication>false</looseApplication> is used and use `mvn package` instead.

[2019-08-30 17:40] josephca opened #346 "Link to 'VS Code Marketplace' is broken"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The link in the README.md is broken.
https://github.com/eclipse/codewind-openapi-vscode/blob/master/README.md

2. Installing.
(OPTIONAL) Install Codewind for VS Code from the **VS Code Marketplace** or by searching for Codewind in the VS Code Extensions view.

The l

[2019-08-30 17:44] keithchong commented on #346
No it is supposed to point to Codewind for VS Code

The link should be https://marketplace.visualstudio.com/items?itemName=IBM.codewind

They changed the link from

https://marketplace.visualstudio.com/items?itemName=IBM.codewind-tools

[2019-08-30 17:45] josephca commented on #346
LOL. I changed the description with the correct link at the same time you wrote a comment. :)

[2019-08-30 18:17] johnmcollier commented on #344
I've done some more investigation, this seems to be a bug with buildah when using the `--layers` flag, rather than Codewind.

I'll be opening a bug against Buildah for this, but outside of removing the `--layers` flag from builds (which will slow down the builds a fair bit), there's not much we can in Codewind.

[2019-08-30 18:46] keithchong commented on #346
At least the description provides an alternative way to show the Codewind extension
"or by searching for Codewind in the VS Code Extensions view."

[2019-08-30 19:45] johnmcollier commented on #344
Buildah issue: https://github.com/containers/buildah/issues/1830

[2019-08-30 22:45] AndyRWatson opened #521 "landing page tweak to "works on my machine" quote."
In the current landing page we have the quote "Make, “It worked on my machine,” a thing of the past."   could maybe be read wrong as you'd expect it to work on a machine.

Maybe the quote should be more like " Making, Well it works ok on my machine"  a thing of the past ?

[2019-09-02 10:03] tobespc commented on #255
proposing cwctl as codewindctl is longwinded

[2019-09-02 10:50] ebuckle commented on #271
Suggesting to add information about requiring appsody and it's installation to the docs.

As taken from: [https://appsody.dev/docs/getting-started/installation](https://appsody.dev/docs/getting-started/installation)

### Installing on macOS
Follow these steps:
1. If you don't have the Xcode command line tools installed on your system, install them by running `xcode-select --install`.
2. If you don

[2019-09-02 12:56] stalleyj opened #347 "Split the Project Lifecycle tests from PR builds"
The PR build tests have been temporarily disabled because they keep timing out (ie failing to build projects within a given timeout).  We need to resolve this issue with a very clear goal of having reliable green tests.

There are a number of approaches/things to investigate:-
 - split the tests so we have npm run unit tests and npm run integration tests and implement these as separate steps withi

[2019-09-02 12:59] ebuckle commented on #347
I'm looking into this

[2019-09-02 13:04] makandre commented on #271
There's some ongoing design around selecting the project style when Codewind starts up.  That's also a possible spot to let users know to install appsody.

@deboer-tim

[2019-09-02 14:42] rwalle61 commented on #279
so to clarify:

1.  we don't want to disable/enable template extensions,
2.  we do want to disable/enable templates from extensions?

[2019-09-02 15:30] hhellyer opened #386 "Placeholder strings not replaced when creating a project."
When we create a new project through the installer e.g:
[code]

The project name placeholder strings are left in place, e.g. in pom.xml:
[code]

This means we can't build some project types as the placeholder strings cause build errors.

[2019-09-02 16:36] kimholmes commented on #302
@rachelwchen Letting you know that the design to the page has been updated:
So, we need to work this button into this new design. I can take this as a to-do.

![temp](https://user-images.githubusercontent.com/21316329/64126982-e0f0e300-cd7d-11e9-8689-cce39cb112d6.png)

[2019-09-03 08:40] stalleyj commented on #227
Closing as duplicate item.

[2019-09-03 08:40] #227 closed

[2019-09-03 09:14] jcockbain96 commented on #224
Picking this up

[2019-09-03 09:18] tobespc commented on #310
How are you deleting the project ?   Under codewind, portal does not lock or write any files to the filesystem after the initial creation.  We also don't have a delete project api anymore as we assume the editors will handle all that

[2019-09-03 09:25] stalleyj commented on #347
Can you also add the extra tests for project types so that all our templates are tested, you can find them here https://github.com/kabanero-io/codewind-templates/tree/master/devfiles

[2019-09-03 12:52] deboer-tim commented on #279
Well, it's more complicated than that :) but the best balance we've found from a usability perspective between what the user understands the first time in, what they want, and simplicity is handling this by enabling/disabling repos.

[2019-09-03 14:10] josephca commented on #327
As a reminder, please refer to https://bugs.eclipse.org/bugs/show_bug.cgi?id=550488#c3 while fixing the test suite.

Copying https://bugs.eclipse.org/bugs/show_bug.cgi?id=550488#c3 :
I've notice something else: all the workspace files are owned by root, as they are eventually written by the docker daemon. This prevents files to be removed later on by the Jenkins agent process (a standard user).

Y

[2019-09-03 15:18] elsony commented on #344
For this issue, we'll workaround the existing buildah problem by removing the --layer flag when we build for docker project type with language of java as a temporarily solution for the ifix until we have got a proper fix from buildah.

[2019-09-03 15:20] rajivnathan commented on #54
Discussed this today with Elson, Toby and Julie. Came to the consensus that when Codewind starts up again, all **enabled** projects will be built once irrespective of whether auto build is on/off. The auto build setting only applies to subsequent builds. Users still have the option of disabling a project if they do not want it to be built and started.

[2019-09-03 15:39] deboer-tim commented on #271
When we were initially developing the Appsody support we had a discussion around whether we a) require Appsody to be pre-installed, b) whether we install it, or c) whether we embed it in our extension, each of which has pros and cons. I was initially leaning toward b so that the cli would be available outside of the IDE as well, but after discussion we went with c - not just because of technical l

[2019-09-03 17:47] #298 closed

[2019-09-03 17:48] johnmcollier commented on #298
Fixed in https://github.com/microclimate-dev2ops/openLibertyTemplate/pull/2

[2019-09-03 17:52] tetchel commented on #179
Yeah, that's the idea, it can still be "disabled", but not "deleted", so it's always in the list and the user can always get it back if they want - though its templates won't show up in the creation wizard.

[2019-09-03 18:02] #289 closed

[2019-09-03 18:21] jagraj commented on #224
Looks like this issue is important one for the users who want to migrate from older version of codewind to codewind 0.3. We have migration logic delivered in both VSCode and Eclipse plugins. During uninstall of codewind installer fails to uninstall due to Appsody projects still consuming docker compose resources like codewind_network. If uninstall works successfully then migration will work fine.

[2019-09-03 18:21] ssh24 commented on #331
This happens when looking for the log file but shouldn't be this long. Looks like the app is stuck in starting state for a while and it is looking for the app log files

[2019-09-03 18:37] johnmcollier opened #350 "Add docs showing users how to build and run Codewind from source"
I’ve noticed that a lot of our repos (well, mainly https://github.com/eclipse/codewind) are missing any sort of docs telling users how to build Codewind and actually run development/custom builds.

As an open source project I feel this is a really important step in getting external users to contribute to us. If users can’t figure out how to even build and run their builds of Codewind, how can we e

[2019-09-04 04:18] #39 closed

[2019-09-04 08:09] stalleyj commented on #65
PR up for ready endpoint https://github.com/eclipse/codewind/pull/353

[2019-09-04 08:16] jcockbain96 commented on #224
@makandre was correct - there's no known prefix in the images for Appsody projects. So they're not being stopped.

Adding `appsody` to the list at https://github.com/eclipse/codewind-installer/blob/master/actions/stop-all.go#L26 then stops Appsody projects, but this then would also remove Appsody projects built outside of Codewind.

So, I'm researching a better fix now. Should be fine for release

[2019-09-04 08:25] tobespc commented on #65
ready endpoint is now in the code to be used, closing issue

[2019-09-04 10:53] stalleyj opened #355 "Turbine unit tests fail to run"
**Codewind version:**  Failure occurs on master branch.
**OS:** Mac

**Description:**
I wanted to run the Turbine unit tests to verify my code changes but they fail immediately.

/Users/stalleyj/Development/codewind/src/pfe/file-watcher/server/src/controllers/projectStatusController.ts:70
     *
                                                                                         ^
TypeError: p

[2019-09-04 11:07] tobespc commented on #179
for 1) We now have enabling and disabling repos so do we still want to prevent them removing the defaults ?  That is a valid use case to be able to configure to not have anything we ship

for 2) At present there are only 2 styles, "codewind" and "appsody".  We can add to the information you get when calling /api/v1/templates/repositories to also include an array of styles.   For example

[code]

[2019-09-04 11:08] tobespc commented on #179
@rwalle61 Can you work on implementing (2) please

[2019-09-04 11:09] rwalle61 commented on #179
sure

[2019-09-04 11:10] rwalle61 commented on #186
sure, I can pick this up

[2019-09-04 13:03] jopit commented on #179
Yes, we still want to prevent the user from removing the defaults.

[2019-09-04 13:11] ssh24 commented on #355
I am investigating why this is happening. I am also able to reproduce this using master code.

[2019-09-04 13:12] ssh24 commented on #355
It is also something new because the nightly run also failed for today https://9.37.138.217/index.html

[2019-09-04 13:18] ssh24 commented on #355
Looks like this PR https://github.com/eclipse/codewind/pull/351/files is the culprit. Reverting that commit fixes the test. A recent change was introduced that causes circular dependencies between `projectUtil.ts` and `dockerUtil.ts.

https://github.com/eclipse/codewind/blob/cafae4f274e8b0b804e299f883776db9a7dc6950/src/pfe/file-watcher/server/src/utils/dockerutil.ts#L20

https://github.com/eclipse

[2019-09-04 13:21] makandre commented on #270
Note that because of requirements coming up from #292, we likely need to define 2 ways to run `appsody init`:

1) For creating a project from a template (where `.appsody-config.yaml` exists), we would run `appsody init` without arguments

2) For binding a vanilla project as an appsody project, we would run `appsody init <stack> --no-template`

[2019-09-04 13:29] rwalle61 commented on #279
Okay, sounds like we can park this for now. We can already enable/disable individual repos, except those that come from the Appsody extension.

So the way forwards is to allow PFE to enable/disable those repos individually, rather than enabling/disabling all/no repos from the Appsody extension (which was this issue)

[2019-09-04 13:39] makandre commented on #279
This seems to be opposite of what was discussed in one of the tech-topic meeting (I'll try to dig up the issue) where we said we are not going to enable/disable individual repos that come from an extension, but to enable/disable sources of repos instead (where an extension is a source of repositories)

[2019-09-04 13:52] mattcolegate commented on #270
So currently hardcoding seems to be the way forward to get it done quickly for release.
I put some effort in yesterday thinking about how to architect this, and I came up with the following:

## Extension
Each extension has an identifier (currently `name`), a `detection` file or path that would be in the project root that uniquely identifies projects that would use this extension, and an array of

[2019-09-04 13:57] stalleyj commented on #355
Does this mean the 0.3.0 branch is also broken ?

[2019-09-04 14:06] elsony opened #357 "Portal testing running on RHOS IKS"
Testing to make sure all Portal function works on RHOS IKS

[2019-09-04 14:08] makandre commented on #270
Re jamming the extension yaml into `project.inf`. While I don't know the decision for why that is done, it does mean that projects returned by `GET /api/v1/projects` will have the extension metadata, some of which is used by IDEs (e.g. https://github.com/eclipse/codewind-appsody-extension/blob/master/codewind.yaml#L8)

At the very least that saves the IDE from making an extra API call to query the

[2019-09-04 14:13] ssh24 commented on #355
I think the change went into 0.3.1 instead 0.3.0? If so, I think we should backport it to 0.3.1 branch just to be safe.

cc @johnmcollier

[2019-09-04 14:15] makandre commented on #292
@deboer-tim Did https://github.com/eclipse/codewind/issues/292#issuecomment-526405295 address your concerns?

[2019-09-04 14:31] makandre commented on #292
@tobespc Is there an issue/design that shows what the bind CLI command will look like?

I think we need a way to pass the secondary value (i.e. for appsody, it's the stack name) to the bind command:

1) First way is to bind an appsody project (one that already has `.appsody-config.yaml`) to Codewind, and in this case we just call `appsody init`

2) Second way is to bind a vanilla project (one with

[2019-09-04 14:55] elsony opened #359 "Theia testing on RHOS IKS"
Testing to make sure all VSCode function works on RHOS IKS

[2019-09-04 14:56] elsony opened #360 "Eclipse testing on RHOS IKS"
Testing to make sure all Eclipse function works on RHOS IKS

[2019-09-04 14:57] elsony opened #361 "Open API Tools testing on RHOS IKS"
Testing to make sure all Open API Tools function works on RHOS IKS

[2019-09-04 15:24] GeekArthur commented on #310
Fix has been merged to both master and 0.3.1 branch, please verify.

[2019-09-04 15:26] mattcolegate commented on #270
That's a good use case - I was thinking that querying the extension might provide better service in terms of ease of updating extension versions (which might have extra command structures, so every existing project will need to have it's project.inf updated with the new commands). I wonder if that would be something the current API call could be altered to provide, rather than maintaining (hopeful

[2019-09-04 15:38] jopit commented on #359
@elsony Please confirm, this is for testing the VSCode plugin running in Theia in Che on IKS, correct?

[2019-09-04 15:39] tetchel commented on #359
#360 is for eclipse (which of course does not run in the cloud), so this might be for hybrid?

[2019-09-04 15:44] makandre commented on #270
Perhaps it is here: https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/binding.route.js#L107

I agree that rather than writing a copy of the extension metadata into `project.inf`, it's better that at the `GET /api/v1/projects` API, the extension metadata is appended to the projects in the response.

I was thinking the call to `appsody init` happens after project is boun

[2019-09-04 15:54] #360 closed

[2019-09-04 15:54] elsony commented on #360
RHOS on IKS does not apply to Eclipse

[2019-09-04 16:00] sghung opened #363 "Appsody python debug does not work and its option should be removed"
**Codewind version:** 0.3.1
**OS:** Mac

**Description:**
Appsody added the python stack. For the debug scenario, debugging is not supported on python and its capabilities will need to be removed as part of https://github.com/eclipse/codewind/pull/367. The user can still restart in debug mode, but debugging will not actually work.

https://github.com/eclipse/codewind-appsody-extension/pull/20 was

[2019-09-04 16:15] rajivnathan commented on #355
Changes are now delivered to master and 0.3.1. @stalleyj can you please verify?

[2019-09-04 16:55] thisguy-1 commented on #149
Yes. I think that it's in the troubleshooting that we mention the name "PFE". We should also mention how to bring up the install if for some reason they missed all the notifications. Some steps to reset like "you can uninstall and install again". And what to do if they are not prompted immediately to open a workspace.

[2019-09-04 17:10] rajivnathan opened #364 "Run Turbine unit tests on PR builds"
**Description of the enhancement:**

Once we have PR builds enabled we should enable the Turbine unit tests on PR builds.

[2019-09-04 17:10] mattcolegate commented on #270
I'm struggling to think of a way to include #292 in this - any ideas I have rely on knowledge of the project.inf file, and I don't think we want extension providers to necessarily know the inner workings of that in case it gets corrupted.

[2019-09-04 17:12] johnmcollier commented on #359
@tetchel @jopit Yeah, this is for validating Hybrid mode with vscode against RHOS on IKS

[2019-09-04 17:14] rajivnathan opened #365 "Extend Turbine PFE Functional Tests - Swift Projects"
Description of the enhancement: Once #48 has been completed for the docker projects, we can go ahead and extend the PFE functional tests for swift project types.

Proposed solution: The extended functional tests for swift project types should comply with the following list of functions (can change if new functions are added, check index.ts under src/pfe/file-watcher/server/src/) and work for both

[2019-09-04 17:22] sghung opened #366 "Allow experimental appsody extensions to show up in codewind for testing"
**Codewind version:** 0.3.0
**OS:** Mac

**Description of the enhancement:**
Right now, experimental appsody stacks do not show up. However, to ensure we know what projects may go to incubator, we should test any new ones and open issues if we find them

**Proposed solution:**
Add an environment variable to enable experimental appsody stacks

[2019-09-04 17:29] elsony commented on #359
Yes

[2019-09-04 17:45] yangcao77 commented on #365
Can assign this to me.

[2019-09-04 18:03] makandre commented on #270
Couldn't we just define 2 commands?  For appsody for example, extension would define:

[code]

I mentioned in https://github.com/eclipse/codewind/issues/292#issuecomment-527927693 that we would need to pass the `<stack>` name to bind command for the second case; but then it's just a matter of Codewind CLI calling one of the commands depending on whether `<stack>` was passed in.

I'm not sure why t

[2019-09-04 18:09] DavidG1011 commented on #310
Verified fixed on latest

[2019-09-04 18:11] makandre commented on #363
I have a PR for this

[2019-09-04 18:16] mattcolegate commented on #270
We could do it like that for sure, but then it stops being generic because we're adding custom extension points solely for Appsody. We need a way to tell the two different types of Appsody project appart. Perhaps modify the `codewind.yaml` of the extension to be able to define more than one `projectType` where each type has it's own set of `commands`, `detection' and 'config'?

I was thinking we'd

[2019-09-04 18:18] rtaniwa commented on #279
I wasn't involved in the discussion, but to me we need a quick fix for this as currently the appsody templates are taking over the menu. So if we are doing this in baby steps the first step is allowing a user to filter what is displayed based on selecting a source repo. In the future we can perhaps decide if we want to allow more granular hide and show in the IDE.

[2019-09-04 18:22] sishida commented on #350
ID will help draft something up for this issue!

[2019-09-04 18:31] makandre commented on #270
It's not really a custom extension point for Appsody.  The upcoming ODO extension would make use of the `postVanillaProjectBind` command as well.

They would define something like:

[code]

(they only support the second scenario)

cc: @jingfuwang @ssh24

[2019-09-04 18:33] tetchel commented on #148
this was done a couple weeks back

[2019-09-04 18:33] #148 closed

[2019-09-04 18:36] ssh24 commented on #270
Similar to Appsody projects, a vanilla project can be binded as an ODO project in codewind. Once a vanilla project is binded it creates an odo config file. The command Andrew provided above will be similar to what we are designing it as well.

[2019-09-04 18:36] sishida commented on #149
@thisguy-1 We only mention PFE when we tell them to enter the command:
[code]
Thus, I don't think we need to define "PFE" in the Troubleshooting doc.

However, I will mention somewhere, maybe in the install info page itself, how to bring up the install if they miss notifications, how to reset the install, and what to do without the prompt. Thanks!

[2019-09-04 18:36] tetchel commented on #158
Do we need this _and_ #161 ? They seem to have the same goal

[2019-09-04 18:39] tetchel commented on #156
We can't make this change, but I will change the Stopped tree item to say `Stopped` on it which should draw some more attention to it to Start things.

[2019-09-04 18:47] jopit commented on #150
This is complete for VSCode.  We're going to open a new issue for the Eclipse work

[2019-09-04 18:49] sishida opened #368 "Improve Writing of Eclipse Codewind Extension Readme"
We have already completed the VS Code tools improvements (https://github.com/eclipse/codewind/issues/150), and now we need to add the equivalent Eclipse tools updates.

To include:
- Must include link to Codewind Docs.
- Must outline Features with the explicit command pallet names and possibly links, as well as explain relationship to make them aware of their existence with links to specific docs.

[2019-09-04 18:53] #150 closed

[2019-09-04 18:56] rajivnathan commented on #279
Agreed with Rob, the Appsody types have taken over and these aren't currently in a state where we'd want them front and centre because they don't have optimized iterative development or debug capability yet.

What the new project list looks like right now:
![image](https://user-images.githubusercontent.com/20015929/64282389-534ef800-cf23-11e9-9bae-fa5536d1d060.png)

Think it's worth re-opening thi

[2019-09-04 18:58] jopit commented on #150
New issue to track the work for Eclipse is https://github.com/eclipse/codewind/issues/368

[2019-09-04 18:58] sishida commented on #149
@thisguy-1 and @tetchel I have created a PR with more info about troubleshooting specific to installation: https://github.com/eclipse/codewind-docs/pull/116

Could someone please check the accuracy of the update and provide more details for the "Installing the Codewind containers without a prompt" section? Thank you!

[2019-09-04 19:31] sghung opened #369 "Run appsody init from the host OS to avoid docker binding issues"
Right now, the appsody init is run in container. We need to run appsody init outside of the container to avoid docker bind issues. During appsody init, we have to map the m2 directory such that the init updates the OS so that the IDE can compile properly. However, that causes issues on Windows when using enterprise accounts and doesn't work for some future project types appsody plans to support (t

[2019-09-04 19:44] ssh24 opened #370 "Have the ability to run turbine functional on any kube"
**Description of the enhancement:**
We support two kube environments on codewind at this moment - Docker Desktop (DD) and OKD. Our test assumes the user only has an OKD environment setup and asks for the cluster ip for an OKD env. https://github.com/eclipse/codewind/blob/2068cc0c511d8e9a2d5a53c0a7d26c6f7be73528/src/pfe/file-watcher/server/test/test.sh#L192

**Proposed solution:**
We should make th

[2019-09-04 19:50] sghung opened #371 "Call the codewind CLI for project creation in the IDEs"
**Description of the enhancement:**
Once the codewind project creation is moved out of the docker container and into the codewind CLI, we need both the Eclipse and VSCode codewind extensions to call the CLI instead of the REST service inside the codewind docker container.

There are extensions such as Appsody, which need to run natively on the OS (instead of the docker container) to avoid docker i

[2019-09-04 20:07] sghung commented on #238
Closing as it has been documented in https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/troubleshooting.md

[2019-09-04 20:07] #238 closed

[2019-09-04 20:28] sishida opened #520 "Add gif files to VS Code and Eclipse documentation"
In Codewind for VS Code and Eclipse, gif files could be added to clarify instructions.

This gif idea was mentioned in this issue: https://github.com/eclipse/codewind/issues/150

[2019-09-04 20:35] GeekArthur commented on #270
For my understanding `extendedBy` field is an array of extension identifiers in `.inf` file for each project and its functionality is tell us which extension is available to use for the project. Given that, I think only install & uninstall extension can modify `extendedBy` field, then during the project bind, if we find the `detection path` we don't need to add the extension identifier to the `ext

[2019-09-04 20:39] sghung commented on #369
Currently blocked by:

- Run `appsody init` when creating a project from an Appsody template #95
- Ability for Codewind CLI to run extra commands when creating project #270
- Ensure Appsody CLI is available if user wants to use Appsody in Codewind #271
- Call the codewind CLI for project creation in the IDEs #371

[2019-09-04 20:49] tetchel commented on #151
I fixed this by adding an Open Workspace button to the already existing "Created/Added project" messages, which is shown only if the user is not already in a codewind workspace/project.
![image](https://user-images.githubusercontent.com/8888438/64290351-f14abe80-cf33-11e9-9b42-a5e90d5ac123.png)

[2019-09-04 22:21] johnmcollier opened #372 "Codewind support for OCP 4"
Out of curiousity, I attempted to stand up Codewind and Che on OCP4 with three separate clusters:
   - Two existing ones running remotely
   - One running locally on my laptop with [CodeReady Containers](https://github.com/code-ready/crc)

I hit the following issues:
- Che doesn't start on some OCP 4 clusters https://github.com/eclipse/che/issues/14426
    - Not our issue, but something to keep an

[2019-09-05 02:13] rajivnathan commented on #310
Thanks, closing

[2019-09-05 02:13] #310 closed

[2019-09-05 09:23] ebuckle commented on #357
I'm looking into this

[2019-09-05 09:34] tobespc commented on #270
So lets just quickly go back over how the codewind extension mechanism is intended to work.  Each extension can define a list of commands that can be run at certain steps in the development process.  For example, you could define a'build' step and supply the command you wish to run.  What would then happen is during each development process in codewind, we would look to see if any registered exten

[2019-09-05 10:21] tobespc commented on #371
We have made the changes for vscode to call the CLI for project creation but not for eclipse yet

[2019-09-05 11:11] rwalle61 commented on #186
I've done the work for this, but an earlier templates PR has to be merged first: https://github.com/eclipse/codewind/pull/260. And we've held off merging that while the Jenkins tests aren't running.

So fyi the lack of Jenkins tests is blocking both PRs (unless we merge them anyway)

[2019-09-05 13:03] sghung opened #376 "Appsody extension does not install with the version appended to the directory"
**Codewind version:** 0.3.0, 0.3.1, master
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I expect the appsody extension to be installed in the codewind-workspaces/.extensions folder with a format like codewind-appsody-extension-0.3.0, instead I only see it as codewind-appsody-extension. Need to debug why, since the version is us

[2019-09-05 13:05] sghung opened #377 "Update master to use appsody extension 0.3.1"
The appsody extension needs to be updated

[2019-09-05 13:14] tobespc commented on #224
fix is in master branch

[2019-09-05 13:41] stalleyj commented on #355
I have verified that the tests do now run on master although I did get 4 test failures (3 timeouts). Is there an issue open for the failures ?

228 passing (29s)
  4 failing

  1) PFE - unit test
       actions module
         combinational testing of validate function
           combo24 => validate: good appsody project:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "d

[2019-09-05 13:52] jagraj commented on #65
Deleted spring project from theia plugin palette and lost the connectivity and projects list came as empty. It took sometime to get the list back. I just reproduced this problem with latest 0.3.1 image.

[2019-09-05 13:57] sishida commented on #152
Text from John that I will add to a PR:
[code]

[2019-09-05 14:04] stalleyj commented on #65
@jagraj Did you have a new version of the VSCode plugin as the solution to this problem was in 2 parts ?

[2019-09-05 14:09] makandre commented on #363
When you restart in debug mode, you will get a message similar to this:

`Failed to attach debugger to <project>. No debug type available for project of type Extension.`

[2019-09-05 14:13] stalleyj opened #378 "Appsody Runtime for Node.js template not compatible with Codewind ?"
**Codewind version:**
Latest code on Mac

**Question synopsis:**
Projects created from the Appsody runtime for Node.js template show as stopped in Codewind. This is because it is a very simple node application that prints a message then exits. Turbine is therefore unable to ping the endpoint of the application and the IDE unable to open the application.

Does it make sense to include this template

[2019-09-05 14:30] ssh24 commented on #355
@stalleyj Those tests have been passing on the nightly run builds. If you see them consistently failing, can you please open issue for them? Thanks.

[2019-09-05 14:34] makandre commented on #271
Just want to confirm if we are going with documenting appsody CLI as a prerequisite as suggested by @ebuckle for this release?  If so, we need a doc issue for this?

[2019-09-05 14:47] tetchel commented on #186
I don't know if the tests are coming back anytime soon, but would like this change in, can you ask joseph for the status of adding back the tests?

[2019-09-05 15:01] tetchel commented on #65
jag's issue is different. i've asked him to open a new one

[2019-09-05 15:05] makandre commented on #270
Updated some previous comments to change `bind` to `validate`; since just found out `bind` is still a REST API call (runs in container), but as part of the process of binding a project to Codewind, `validate` will be called which will be a CLI command (runs out of container).

Running extension commands post-validate is fine; it should cover what needed for appsody and ODO.

[2019-09-05 15:09] mmulholl opened #379 "SVT : Eclipse Plugin locks up on 13th project"
**Codewind version:** 0.3
**OS:** MacOS

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Shortly after I created a 13th project, and hit refresh to refresh the codewind view,  codewind got into trouble and became unresponsive.

The codewind view now shows:

Codewind [Error] check workspace log for more information.

The timestamp for the direc

[2019-09-05 15:10] mmulholl commented on #379
@jagraj @eharris369

[2019-09-05 15:13] lentheivendra opened #380 "Integrate sidecar tests into codewind server tests, misc improvements"
**Description of the enhancement:**
Integrate the existing codewind che plugin's sidecar tests into the codewind tests regular runs.

**Proposed solution:**
- change BATS test results/output format to TAP text format
- convert the test output TAP text to xunit .xml format using a 3rd party tool
- drop dependency on yq and use che workspace creation api with yaml devfile directly
- integrate the si

[2019-09-05 15:20] makandre commented on #286
Pls assign this to me

[2019-09-05 15:34] deboer-tim commented on #378
This is 'expected', that stack and at least one other are mostly used for binding/importing existing projects, which would then provide the endpoint. A couple fixes have gone in to make sure we behave reasonably well in this scenario - after all, any other project could have a missing or incorrect endpoint.

We didn't include this stack initially, then did once the initial fixes went in. You could

[2019-09-05 15:42] mmulholl commented on #379
restarted docker to get codewind going again, deleted a project and all is good.

[2019-09-05 16:40] jgwest opened #519 "Review new Rogue Cloud doc updates: adding support for Codewind to Rogue Cloud"
I have updated Rogue Cloud to support Codewind, with most of that work being updates to the Rogue Cloud documentation. Just like with Microclimate, I have written up step-by-step instructions on how to import the game client into Codewind.

If you are interested in reviewing the documentation updates, here are the changes:

#### Documentation can be found in:
https://github.com/microclimate-dev2op

[2019-09-05 17:05] sghung opened #383 "Check if the correct appsody is installed on the OS in codewind-installer"
**Codewind version:** master
**OS:** any

**Description of the enhancement:**
- Check if appsody is installed on the OS
- Check if the version is compatible (we may need to discuss this further on what version to check for and what to tell the user)
- Return an error to the user (with info to point to the troubleshooting docs)
- Make changes in https://github.com/eclipse/codewind-installer

[2019-09-05 17:13] sghung opened #384 "Display certain Codewind CLI errors to the user in the IDE"
**Codewind version:** master
**OS:** any

**Description of the enhancement:**
For appsody, we'd like to the one in the operating system. If the CLI detects that appsody isn't installed, it will return back an error (CLI work to be done on https://github.com/eclipse/codewind/issues/383). We want to bubble up this message to the user in the IDE so they know to read the documentation on how to instal

[2019-09-05 17:36] jgwest commented on #384
@sghung Does the user need to have Appsody installed, in order to use Codewind? Or will they only get the error when trying to create/import an Appsody project?

[2019-09-05 18:24] sghung commented on #383
- determine if GO has a way to detect exit status for running appsody. If it doesn't exist, see if there's an error code that is not OS specific
- see if we can throw an error that the IDE can eventually get. See if it is standard error or output
- give IDE team a title or message that they can display generically

[2019-09-05 18:28] #152 closed

[2019-09-05 18:28] #156 closed

[2019-09-05 18:28] #151 closed

[2019-09-05 18:28] deboer-tim commented on #271
We don't have it as a prerequisite today, so IMHO and as per my previous comment it would be a big usability issue if we changed that.

[2019-09-05 18:44] tetchel commented on #160
The overview page is opened on create/add now, but i think we are still considering the new overview page for future

[2019-09-05 18:58] sishida opened #517 "Improve visibility of code blocks and code phrases"
Add a grey background behind code blocks and code phrases so that they stand out more on the website.

Note: For large blocks of code, it's best if we can make the grey background appear as a single block instead of highlighting each line in grey. When we worked on Microclimate, we got feedback that indicated that highlighting each line was not ideal.
For example...
- Not like this code block: htt

[2019-09-05 19:21] sghung commented on #271
@deboer-tim for our 0.4.0 release, we plan to have the IDE display a message to the user letting them know if they can't find appsody to run and instructions on how to install. While the usability could be improved to auto install it, at least the user is notified and given information on how to get appsody to work. They aren't left with a strange error and have to go digging through the docs them

[2019-09-05 19:22] rajivnathan commented on #344
Jag has verified

[2019-09-05 19:22] #344 closed

[2019-09-05 19:34] #166 closed

[2019-09-05 19:56] rajivnathan commented on #134
@jgwest can you please verify whether this is now fixed?

[2019-09-05 19:56] rajivnathan commented on #86
@tetchel can this one be closed now?

[2019-09-05 20:15] jopit opened #389 "Installer stop-all command no longer stops codewind containers (0.3.1 and master)"
It only stops the application containers, not the codewind ones. Likely cause is this PR: https://github.com/eclipse/codewind-installer/pull/103.  This is happening in both the 0.3.1 branch and in the master branch.

[2019-09-05 20:17] johnmcollier commented on #389
Looking at this section: https://github.com/eclipse/codewind-installer/blob/845d7f544b60d73b002f1af2ae6d37a3583691bd/actions/stop-all.go#L23

[code]
The array entries for `codewind-pfe` and `codewind-performance` are being overwritten by `cw-` and `appsody`.

I think changing it to the following would fix things:
[code]

[2019-09-05 20:34] GeekArthur commented on #270
I just realize that appsody has the mount issue for running `appsody init` inside container, and that’s the root reason why appsody needs run CLI on the host OS, odo doesn’t have the limitation. Given that and also it’s a lot pain to support multiple OS if run CLI on the host OS, I think odo can only run everything inside PFE container. So I think after 0.3.1 appsody and odo may work on slightly d

[2019-09-05 20:46] makandre commented on #389
After above fix, there is still problem stopping appsody container.

It turns out that installer does `stop` then `remove` of a container.  But when you stop an appsody container, appsody itself will already remove the container.  So I believe installer's `remove` fails.

[2019-09-05 20:55] jopit commented on #389
Right, the installer's stop of an appsody container fails like so:
[code]

[2019-09-05 20:56] johnmcollier commented on #389
@makandre @jopit Would merging https://github.com/eclipse/codewind-installer/pull/106 address the issue with appsody?

[2019-09-05 21:02] makandre commented on #389
Don't believe so as that is for removing images

[2019-09-05 22:38] jagraj opened #391 "SVT:After codewind restart few appsody projects are not running but build is successful."
**Codewind version:** 0.3.1
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.3.1
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**
I migrated to codewind 0.3.1 version from eclipse plugin. After restart some of my appsody projects are not in running state even though build status says successful.

Project types having this issue :

1. Eclipse Microprofile pro

[2019-09-05 22:49] tetchel commented on #86
sure, turbine part is done, i have to react to it in vs code though.

[2019-09-05 22:49] #86 closed

[2019-09-06 12:16] tobespc commented on #389
Im looking at this asap

[2019-09-06 13:08] #251 closed

[2019-09-06 13:08] #253 closed

[2019-09-06 13:14] makandre commented on #391
Remember that plain node and swift projects don't have listening server and are expected to be stopped

[2019-09-06 13:22] jagraj commented on #389
I tried to stop codewind and got into this failure...

[code]

[2019-09-06 13:29] jagraj commented on #391
Thanks, do you need any other information from my environment to debug for other failures.?

[2019-09-06 13:31] makandre commented on #391
Of the attached appsody logs:

1) Java Microprofile, appsody stopped with following error

[code]

We've seen this kind of error before that seemed to occasionally pop up, especially when a new version of the stack is released.

2) Plain node, expected to be stopped

3) Spring project, log shows nothing out of the ordinary and that the spring project started.  Note that if a project takes a long t

[2019-09-06 13:42] ebuckle commented on #347
I believe what was causing this is the project creation loop. Creating all the projects at once means that there is a large wait time as you have no control over which containers with initialize first.

I've unrolled the project creation loop so that projects are created and tested one by one and have added in the missing templates (Go, Lagom and Open Liberty).

I am currently having two issues wi

[2019-09-06 13:53] deboer-tim commented on #271
@sghung No, if this is adding a dialog and dependency to the user flow then we need to discuss.

[2019-09-06 14:20] jagraj commented on #391
Hmm, I can not stop due to installer issue to try this again. It will always fail saying container missing.

But the Microprofile project is up and running and we don't poll for status change after 10 retries.?

[2019-09-06 14:29] makandre commented on #391
@yangcao77 will know more about what Codewind does when the polling times out

[2019-09-06 14:44] laven26 commented on #383
@laven26

[2019-09-06 14:50] tobespc commented on #389
changes are all in and merged to master and 0.3.1 of the installer

[2019-09-06 14:50] #389 closed

[2019-09-06 14:55] #186 closed

[2019-09-06 15:05] yangcao77 commented on #391
If the project stucks in `starting` state after 10 retries. and we will consider the project as `stopped`.

[2019-09-06 15:13] rwalle61 commented on #179
https://github.com/eclipse/codewind/pull/382 resolved part 1 of this

[2019-09-06 16:01] MelHopper commented on #49
For entry-level users, in the Installation and Tutorial topics I think we could also do with stating:
1. That Docker needs to be started
2. HOW to check that Codewind is started. At the moment, the tutorial step 1 states: _First, ensure that Codewind is installed and running. For more information, see the Getting started: Codewind for VS Code page._ But the Getting Started page does not refer to s

[2019-09-06 17:18] jagraj commented on #311
When I click on Java appsody project and open container shell and it results no such container. Java Microprofile project says it is running but there is no container when I list the containers from command line.

[code]

![image](https://user-images.githubusercontent.com/713849/64447068-78b93e80-d0a8-11e9-9285-c4c3d9b55bf8.png)

[code]

[2019-09-06 18:13] jopit opened #393 "Design issue for developing locally, building and running in kube (hybrid scenario)"
This is the design issue for the user experience for what we've been calling the hybrid scenario. That scenario involves developing locally in the IDE but building and running the application in a kube cluster.  Hybrid is probably not a good "official" name for this capability, no-one will understand it without an explanation and without an explanation  people may think its something to do with co

[2019-09-06 18:14] jopit commented on #393
@holmesk fyi.

[2019-09-06 18:23] jopit commented on #393
@kimholmes fyi

[2019-09-06 18:55] #363 closed

[2019-09-06 19:05] jagraj commented on #391
Ok, got more info on Java Microprofile project failure. Looks like 0.3.0 version of Appsody Java Microprofile project fails to build on 0.3.1 version of Codewind which is due to parent  change in pom.xml to new version.

Looks like existing projects has to be migrated or supported in latest Appsody/Codewind 0.3.1 release.

Codewind 0.3.0 appsody project

[code]

Codewind 0.3.1 appsody project

[co

[2019-09-06 19:18] makandre commented on #391
This actually does not have anything to do with our version 0.3.0 vs 0.3.1.  We simply pickup whatever is the latest stack version that appsody publishes.   As we've seen before I think whenever the stack gets updated, we see this sort of error.  I recall seeing some activity in appsody slack channel regarding this and how they were switching to version ranges.  We can keep this issue open and I c

[2019-09-06 19:28] jagraj commented on #391
I am fine with that, do we have to document this or does Appsody team already has doc for this.?

[2019-09-08 21:12] johnmcollier opened #395 "[Che] Project creation is broken on master due to missing installer"
**Codewind version:** latest

**Che version:** 7.0.0
**IDE extension version:** latest
**IDE version:** Che Theia 7
**Kubernetes cluster:** OpenShift 3.11 on IKS

**Description:**
Project creation from the Theia extension is now broken on Che. When I go to create a project, the Theia extension spits out an error saying: `Error creating new project: spawn /tmp/codewind-installer ENOENT`.

<img widt

[2019-09-08 21:13] johnmcollier commented on #395
Tagging both the Portal and IDE squads as there's things both teams need to do:
1. Unpack the codewind-installer to the proper directory (`/tmp/codewind-installer`)
2. Only package the Linux binary of `codewind-installer`
3. Build `codewind-installer` with `CGO_ENABLED=0`

[2019-09-09 09:49] #386 closed

[2019-09-09 09:50] tobespc commented on #305
closing as this is resolved

[2019-09-09 09:50] #305 closed

[2019-09-09 09:51] tobespc commented on #279
closing as this is done

[2019-09-09 09:51] #279 closed

[2019-09-09 09:53] tobespc commented on #271
@makandre Can you please advise of the next steps.  Looks like there is nothing to do from a portal perspective now

[2019-09-09 09:55] tobespc commented on #262
seems reasonable to me, will schedule it in

[2019-09-09 09:58] tobespc commented on #256
we now a ready api that should now be called to determine that portal is ready before any builds are attempted.  @eharris369 Can you check what it is the eclipse plugin is waiting for please?

[2019-09-09 09:58] tobespc commented on #254
this is done and delivered

[2019-09-09 09:58] #254 closed

[2019-09-09 09:59] tobespc commented on #54
this is now delivered

[2019-09-09 09:59] #54 closed

[2019-09-09 10:28] stalleyj opened #396 "Turbine unit test failures"
When I run the Turbine unit tests against master, I consistently see four failures which all seem to be Appsody related.

228 passing (29s)
  4 failing

  1) PFE - unit test
       actions module
         combinational testing of validate function
           combo24 => validate: good appsody project:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if r

[2019-09-09 10:39] stalleyj commented on #378
Great, I'm happy that this has been considered and the decision made to include the stack.

[2019-09-09 10:39] #378 closed

[2019-09-09 11:12] MelHopper opened #516 "Ensure topic <Codewind on VS Code - Tutorials> is up to date"
The codewind extension UI has been modified since the original content for the topic was developed.

Update the tutorial to align with the updated Codewind extension UI.

[2019-09-09 11:53] stalleyj commented on #355
@ssh24 I've run the tests again this morning on latest code so I've raised this issue, they all seem to be appsody related https://github.com/eclipse/codewind/issues/396

[2019-09-09 12:10] MelHopper commented on #153
Consider where to reference this new Open Workspace topic in the following topics (which reference the workspace but do not explain the relationship between workspace and Codewind):
1. Getting Started
2. Tutorial
3. Installing Codewind - note that this topic does contain the following subheading content on Workspaces:

![Screenshot 2019-09-09 at 13 09 49](https://user-images.githubusercontent.com/

[2019-09-09 13:27] eharris369 commented on #256
It waits for the installer to return from the start request which it looks like is timing out.  If it is actually up and running you should be able to right click on Codewind in the view and select Refresh.  I have a PR for checking that Codewind is ready before creating a connection: https://github.com/eclipse/codewind-eclipse/pull/263 but I don't think that is the problem as it will not even get

[2019-09-09 13:28] tetchel commented on #54
@jagraj can you verify this in codewind master, when you have a chance

[2019-09-09 13:35] ebuckle commented on #357
All tested, all working fine.

[2019-09-09 13:38] tetchel commented on #395
Good detective work John

[2019-09-09 13:51] hhellyer commented on #395
I built the statically compiled binary, this ran but in the theia container hit issues with the docker socket being unavailable. I've raised a PR to fix those here: https://github.com/eclipse/codewind-installer/pull/111

Once that's landed I will get a statically compiled binary into the plugin.

[2019-09-09 14:23] maysunfaisal commented on #396
I can take this issue and the area should be iterative dev since its iterative dev unit tests for all project types but since appsody extensions involve reading from files, the tests exceed the default mocha 2s timeout..

[2019-09-09 14:31] maysunfaisal opened #397 "[Turbine Functional Test] Node Project Settings afterhook failing"
Looks like the afterhook of the Node project settings fails consistently:

[code]

Log:
[kubefunctional_sept9.log](https://github.com/eclipse/codewind/files/3591035/kubefunctional_sept9.log)

[2019-09-09 14:58] mmulholl opened #398 "SVT: Eclipse plugin: Appsody Python language not selected by default on import"
**Codewind version:** 0.3.1
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclispe committers Version: 2019-06 (4.12.0)
**Kubernetes cluster:**

**Description:**
When I import an appsody python flask project the language of "Python" is not selected by default as part of the import wizard.

**Steps to reproduce:**
1. Create an appsody  python flask project.
2. Remove the

[2019-09-09 15:27] stalleyj opened #399 "Unable to open app for project with context root in VS-Code plugin"
**Codewind version:**
0.3.1
**OS:**
Mac

**Description:**
When creating a new project that has a context root set, I'm not able to open the app initially.  If I then do some other stuff, I am then able to open the app.  It seems that the context root is not set initially so the plugin attempts to open '/'.

**Steps to reproduce:**
Create a lagom project and attempt to open the app once it is runni

[2019-09-09 15:30] johnmcollier commented on #399
Adding `area/iterative-dev` since this may be a timing issue in Turbine

[2019-09-09 15:44] tetchel commented on #398
The detection logic only checks for Java, Node, or Swift.

https://github.com/eclipse/codewind/blob/master/src/initialize/src/controllers/typeDetectionController.ts

If we want to detect more languages, that's an enhancement for the portal team.

[2019-09-09 17:09] ssh24 opened #400 "Docker projects emit projectCreation event upon rebuild in kube"
**Description:** I have noticed that docker projects emit a different event compared to other projects upon a rebuild in kube scenarios. It emits the `projectCreation` event where other project types emit `projectChanged`. The latter (i.e `projectChanged`) is a more reasonable event emit for a project rebuild, so the bug is in the case of docker projects emitting `projectCreation` in kube.

**Note

[2019-09-09 17:39] sghung commented on #384
@jgwest I talked with Tim deBoer on this and he wants appsody to be included as part of our install so the user can avoid this. He saw adding appsody as a pre-req would be a regression. We are currently looking into getting appsody installed by packaging up the binaries to get past this install dependency. As a result, I am closing this.

[2019-09-09 17:39] #384 closed

[2019-09-09 17:39] sghung commented on #383
No longer applicable since we are packaging up the appsody binaries.

[2019-09-09 17:39] #383 closed

[2019-09-09 18:14] eharris369 commented on #256
I checked with Elson and the number of projects should not affect Codewind start.  It would affect Codewind stop since it needs to stop all of the project containers but not start.

[2019-09-09 21:42] johnmcollier commented on #307
@akhileshbhople Thanks for sharing the logs. Would you be able to share the branch with your changes? And what kind of PPC environment did you build and test this on (RHEL, Ubuntu, etc)

@tobespc FYA, this seems to be for Power/PPC porting and seems to be mostly Portal tests failing:
[code]

[2019-09-09 22:06] maysunfaisal commented on #400
I can fix this,

i made the change for local here
https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/projectUtil.ts#L1176

but Kube is emitting from here https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/projectUtil.ts#L1779

[2019-09-10 07:39] tobespc commented on #398
yes, so right now Appsody is detected as a type only, not with the additional language.  One of the main reasons for this is that due to the way Appsody stacks are put together, we may not be able to get at that info.  What we could do is enhance the data that we get from the appsody to include that which should then be a no-op for portal (yep, I'm passing the work to @makandre !)

[2019-09-10 08:15] stalleyj commented on #399
I think it's more likely to be a timing issue in VScode as it works fine in Eclipse.

[2019-09-10 09:19] micgibso commented on #77
@keithchong This appears complete, #31 above has been closed, Open API docs have been added, can this be closed?

[2019-09-10 10:41] jcockbain96 opened #403 "Hybrid - deliver hybrid mode into master"
**Description of the enhancement:**

Allow for the codewind PFE container to be switched between `remote` and `local`, driven by a setting in the plugins.

**Proposed solution:**

Read an env-variable in plugin (e.g `CW_MODE='REMOTE'`). Then call the CLI `start` command with a `remote` flag (if the mode is remote).

Then, in the CLI, start up the PFE container with a `remote` env-var. The PFE cont

[2019-09-10 10:51] deboer-tim commented on #403
Can we not just set an environment var outside the IDE that the PFE can pick up? This is temporary until we can get the plugins to drive a per-project remote, so trying to keep it as simple as possible.

[2019-09-10 11:00] hhellyer commented on #403
@deboer-tim The plugins need to know the pfe container is in remote mode as well when they create a connection to it so they can call the remote-bind API to create projects. Hopefully soon all projects will be remote (effectively) and the setting will go away.

[2019-09-10 13:28] makandre commented on #398
Appsody doesn't really have a language per se, what they have is stack (tho from the stack you could arguably infer from it what the underlying language is)

So when we implemented the appsody extension we relied on portal to detect the language that Codewind recognizes.  If we want to language detection to be done by the appsody extension, we would need a new plug-point for extensions during that

[2019-09-10 13:39] mmulholl commented on #398
It sets the correct language for other appsody types.

[2019-09-10 14:05] makandre commented on #398
Other appsody language detection works because portal can detect those languages as @tetchel pointed out https://github.com/eclipse/codewind/issues/398#issuecomment-529540710

I noticed (in vscode at least) if I import a Codewind python project, there's a prompt for me to select the language (which makes sense since portal does not detect python).  But there's no such prompt for Appsody python pro

[2019-09-10 14:24] maysunfaisal opened #404 ".cw-settings default value not being initialized correctly"
**Codewind version:** latest
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The default setting `internalDebugPort` in .cw-settings for a non debuggable project says null and seems like https://github.com/eclipse/codewind/blob/master/src/initialize/src/controllers/cwSettingsController.ts#L44 is not working?

This is also blocking

[2019-09-10 14:47] jopit commented on #393
@thisguy-1 fyi

[2019-09-10 14:48] tobespc commented on #403
as we are now no longer shipping this for Q3, lets drop the flip mode and deliver this into the master branch as the 'only' mode

[2019-09-10 14:54] stalleyj commented on #328
@josephca It is not possible to run Codewind passing in the user as it is currently a requirement for it to run as root. We therefore can't re-enable the tests at the moment. Once the new architecture (for hybrid mode) is delivered, the pfe container will not mount the filesystem and not run as root which should eliminate any deletion issues.

[2019-09-10 15:06] stalleyj commented on #404
@maysunfaisal The initialize pod is no longer creating projects (via VS-Code) but Eclipse is still using it so it hasn't been removed yet. The bug is therefore in the cli which is doing the creation.

[2019-09-10 15:08] makandre commented on #391
Re the parent pom error, found out from appsody team that to resolve the problem, you have to edit the `pom.xml` and change the parent pom version to match the version it's looking for in the error message.

They are also rolling out version range support that should reduce the need to make this manual edit.

Can we close this issue?  Codewind does not need to react to this, when the stacks update

[2019-09-10 15:10] johnmcollier opened #512 "Make the headings & subheadings more distinct"
In our docs, I've found that the headings and subheadings for docs are hard to tell apart (and are pretty much the same size). We should make them more distinct (probably make the subheadings smaller) to be easier for users to read

Current Examples:
![Screen Shot 2019-09-10 at 11 09 04 AM](https://user-images.githubusercontent.com/6880023/64626266-91cd3280-d3bb-11e9-8f6e-a47a91c8669e.png)

![Scre

[2019-09-10 15:19] makandre commented on #376
That's actually by design to install as `codewind-appsody-extension`.  Then afterwards we can check that location when replacing with newer version (version checking will be added by #394; looks at the version in `codewind.yaml`)

[2019-09-10 15:27] ssh24 commented on #397
I am taking a look at this. @rajivnathan Could you please assign me to it?

[2019-09-10 15:28] rajivnathan commented on #269
Waiting on https://github.com/eclipse/codewind/issues/404 before putting this one in.

[2019-09-10 15:29] makandre commented on #271
@tobespc We decided to bundle appsody with IDEs; we'll take it from here.

[2019-09-10 15:30] #126 closed

[2019-09-10 15:30] rajivnathan commented on #355
Accidentally reopened. Closing...

[2019-09-10 15:30] #355 closed

[2019-09-10 15:40] tobespc commented on #404
https://github.com/eclipse/codewind-installer/pull/113

[2019-09-10 15:41] yangcao77 commented on #287
Verified that it has been fixed in latest master branch. This issue can be closed now.

[2019-09-10 15:41] #287 closed

[2019-09-10 15:46] jgwest commented on #134
Confirmed as fixed, thanks @ssh24 !

[2019-09-10 15:46] #134 closed

[2019-09-10 15:51] maysunfaisal commented on #404
@tobespc @stalleyj I built the installer from the repo using https://github.com/eclipse/codewind-installer#building-and-deploying-locally-on-macos; how do I use the CLI to create projs using my Codewind which is using my code from the Codewind repo?

I have tried the Readme projects command but cant seem to get it run?

[2019-09-10 16:15] sghung commented on #369
We are still working towards DCUT for this item. We are currently not blocked by anything, our team is making changes to the vscode and eclipse codewind extensions. In addition, we're making changes to the codewind-installer.

[2019-09-10 16:39] sishida commented on #149
Removed the "Installing the Codewind containers without a prompt" section.

Merged https://github.com/eclipse/codewind-docs/pull/116.

@tetchel I think this issue is good to close! If so, could you please close it? Thanks! :)

[2019-09-10 16:52] sishida opened #406 "Doc review for managing project styles and repositories"
If we have text and UI updates for the following areas, ID should be notified for review.
- [ ] VS Code
    - https://github.com/eclipse/codewind/issues/32
       - New way of filtering templates. Contact Tim and Erin.
    - Need documentation for the "Learn more" link in the VS Code UI.
    - Link to corresponding design issue: https://github.com/eclipse/codewind/issues/393
- [ ] Eclipse
- [ ] Ch

[2019-09-10 16:57] #149 closed

[2019-09-10 17:48] elsony opened #407 "Turbine testing on Windows"
Setup nightly run of Turbine testing on windows

[2019-09-10 17:57] yangcao77 commented on #365
Local 100% passed, saw 2 failures on Kube.
changeInternalAppPort  & rebuild
Suspecting the same issue as https://github.com/eclipse/codewind/issues/397

[2019-09-10 18:00] maysunfaisal commented on #399
@stalleyj is this because of issue https://github.com/eclipse/codewind/issues/404?

Since its fine on Eclipse and not on VS Code?

[2019-09-10 18:10] johnmcollier commented on #395
Adding stopship to ensure the DCUT isn't declared until this is fixed.

[2019-09-10 19:30] tetchel commented on #399
i think it is my bug, let me see

[2019-09-10 19:34] johnmcollier commented on #395
Verified on master, fixed. Thanks @hhellyer!

[2019-09-10 19:34] #395 closed

[2019-09-10 20:11] tetchel opened #408 "Support HTTPS in the IDEs"
https://github.com/eclipse/codewind/pull/208

From Maysun,

[2019-09-10 20:11] tetchel commented on #408
marked as bug because of DCUT and also because users will perceive it that way

[2019-09-10 20:26] #399 closed

[2019-09-10 20:27] tetchel commented on #399
indeed it is my problem, sorry for not giving it a better look earlier

[2019-09-10 20:37] #285 closed

[2019-09-10 22:05] thisguy-1 commented on #160
Yes, for now we have kept the old version, but I have designed a new one which I hope will be implemented. If you like, we can close this one and open a new one that reflects the redesign of the overview page.

[2019-09-10 22:15] thisguy-1 commented on #158
Once we have the improved one, probably not, but until we have the 161 implemented, this at least will work somewhat.

[2019-09-10 22:19] thisguy-1 commented on #160
in fact we have that already: https://github.com/eclipse/codewind/issues/161

[2019-09-11 01:19] johnmcollier opened #409 "`Set Deployment Registry` setting invalid deployment registry if test fails"
**Codewind version:** latest
**Che version:** 7.0.0
**IDE extension version:** latest
**Kubernetes cluster:** OpenShift

**Description:**
If the user initially enters an invalid deployment registry where the deployment registry test fails, and the enters a valid deployment registry, the settings.json will get updated with the old, invalid registry, rather than the new one.

In the likely scenario

[2019-09-11 01:54] #160 closed

[2019-09-11 12:34] mmulholl opened #410 "SVT : Eclipse plugin: Appsody project create fails"
**Codewind version:**     Codewind Base	1.1.4.v201909102036
**OS:** Mac and Linix

**Che version:**
**IDE extension version:**
**IDE version:** Eclispe Eclipse IDE for Eclipse Committers Version: 2019-06 (4.12.0)
**Kubernetes cluster:**

**Description:**

Cannot create appsody projects on latest driver:

Lunux:
An error occurred trying to create Codewind project AppsodyMicro
Project create failed

[2019-09-11 12:34] mmulholl commented on #410
@jagraj

[2019-09-11 12:35] gruffwizard opened #411 "Upgrade to CW 3.0.1 in VSCode failed"
While using codewind , VSCode spotted the update from 3.0 to 3.0.1 and offered the upgrade.  Eventually got a this error
![image](https://user-images.githubusercontent.com/9293028/64697389-09c15880-d4a1-11e9-9d21-5b8ae0ea5941.png)

Stop and starting CW in VSCode didn't work.  Had to stop the docker containers and **prune them.** Restarted CW in VSCode and it downloaded latest docker images

[2019-09-11 12:40] mattcolegate commented on #411
I'll look into it

[2019-09-11 12:48] hhellyer opened #413 "Appsody templates missing from list of new project templates."
**Description:**
The appsody templates are now missing from the templates list when I try to create a new project from a template.

**Steps to reproduce:**
Start the latest master build of codewind, connect the VSCode plugin and try to create an new project from a template. The appsody templates will be missing.

**Workaround:**
I backed off https://github.com/eclipse/codewind/pull/394 by checking

[2019-09-11 13:23] makandre commented on #410
At the moment you need to install appsody CLI on your local system and it has to be on your system path.

A couple of changes are going in installer, vscode and eclipse to bundle the CLI but they are not all there yet

[2019-09-11 13:25] makandre commented on #413
I'll take a look

[2019-09-11 13:35] mattcolegate commented on #411
Couldn't recreate on first pass - after installing 0.3.0 and restarting VSCode, it informed me my images were out of date then the upgrade was a success. Trying again after clearing out docker.

[2019-09-11 13:52] tetchel commented on #411
minor, but the broken message ("$tag$") is fixed in master.

It's hard to know what may have caused this. it is not uncommon for docker to get "corrupted" in this way where the images have to be pruned / the engine has to be restarted, before install/start can succeed.

[2019-09-11 13:53] tetchel commented on #411
For the installer/CLI team, this message is shown only if there is no stderr output from the command that was invoked (`start` here). It may help to look into error scenarios that do not produce output.

[2019-09-11 14:11] #413 closed

[2019-09-11 14:35] rajivnathan commented on #404
@maysunfaisal https://github.com/eclipse/codewind-installer/pull/113 appears to be delivered. Can you please verify and close?

[2019-09-11 14:44] sghung opened #511 "Remove sections of the appsody troubleshooting now that appsody is locally installed"
For 0.4.0, we bundle the appsody binary as part of the codewind install and call it from the local OS when doing appsody init (instead of in the docker container). There are a few troubleshooting sections in appsody that can be removed. However, let the appsody codewind team verify these are okay before removing. Not all the troubleshooting has been fixed, just certain parts. The appsody codwind t

[2019-09-11 14:47] makandre commented on #398
I guess the new language detection code is here in the installer now: https://github.com/eclipse/codewind-installer/blob/master/utils/project.go#L37

Perhaps a quick fix would be to make it able to detect python language (maybe by presence of files ending with `.py`?)

[2019-09-11 14:53] maysunfaisal commented on #404
verified with the CLI

[2019-09-11 14:53] #404 closed

[2019-09-11 15:02] maysunfaisal opened #416 "[Iterative-dev] Spring func test intermittently failing"
**Codewind version:** latest
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
The iterative-dev functional test is intermittently failing on the Spring app status
Log:
[kubefunctional_sept11.log](https://github.com/eclipse/codewind/files/3601434/kubefunctional_sept11.log)

**Steps to reproduce:**
run the functional test from Filewa

[2019-09-11 16:43] sghung opened #417 "Add a git issue template to redirect codewind-docs issues to the codewind repo"
Please add a template similar to what was done in the codewind-appsody-extension into the codewind-docs repo: https://github.com/eclipse/codewind-appsody-extension/commit/9a06f9630a0055c7ea832b06f67a66032e193b67

For the line: "This repository is not used for issue tracking of the Codewind Appsody extension" replace it with codwind docs and put a period at the end...so somehting like "This reposit

[2019-09-11 17:14] keithchong commented on #77
Verified. Closing.

[2019-09-11 17:14] #77 closed

[2019-09-11 18:04] tetchel opened #418 ".cw-settings not indented correctly anymore"
the default cw-settings is now:

[code]

bring back the indentation!

[2019-09-11 18:06] makandre commented on #410
All above PRs are merged so it should be working now even without a local install of appsody.

[2019-09-11 18:17] jgwest commented on #418
Well this is `stopship` obviously 😄 *jk*

[2019-09-11 18:18] tetchel commented on #418
technically, it is a regression 🤔

[2019-09-11 18:34] keithchong opened #419 "OpenAPI: Fix broken link to Codewind VS Code marketplace entry"
**Description:**  The install steps for the OpenAPI tools have a broken link to the Codewind VS Code marketplace entry

[2019-09-11 18:42] #286 closed

[2019-09-11 18:43] sishida commented on #406
Note on content update for https://github.com/eclipse/codewind/issues/32.

- VS Code
   - Developer contact: Tim Etchells
   - Edit this page: https://www.eclipse.org/codewind/mdt-vsc-usingadifferenttemplate.html
- Eclipse
  - Developer contact: Erin Harris
  - Edit this page: https://www.eclipse.org/codewind/mdteclipseusingadifferenttemplate.html

[2019-09-11 19:10] keithchong commented on #419
FIxed.

[2019-09-11 19:10] #419 closed

[2019-09-11 19:29] jgwest commented on #418
🤔 🤔 🤔 🤔

[2019-09-11 19:29] maysunfaisal opened #420 "[Performance] Dashboard with a https enabled project"
**Codewind version:** latest
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

With https://github.com/eclipse/codewind/pull/208 I can now run a https enabled project on Codewind

I have a https enabled Microprofile project, and I tried running a load test on the dashboard, is this report correct?

![Screen Shot 2019-09-11 at 3 2

[2019-09-11 19:32] tetchel commented on #420
@markcor11

[2019-09-11 20:30] #408 closed

[2019-09-11 20:31] eharris369 commented on #371
Eclipse PR merged: https://github.com/eclipse/codewind-eclipse/pull/262

[2019-09-11 20:33] sghung opened #421 "Document Open API tools does not support kube"
**Codewind version:** 0.4.0 and earlier
**OS:**

**Description of the enhancement:**
Need to document open api tools does not support kube

**Proposed solution:**
Elson recommends: add the IKS requirement to the general Che support item as well to include IKS in the future when we do Che support.

[2019-09-11 20:34] sghung commented on #361
Closing, kube is not supported for open API. It will be documented in 0.4.0: https://github.com/eclipse/codewind/issues/421

[2019-09-11 20:34] #361 closed

[2019-09-11 20:38] makandre opened #422 "codewind-installer does not have version"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

`codewind-installer --version` doesn't actually give back a version:

[code]

**Steps to reproduce:**

**Workaround:**

[2019-09-12 03:05] jagraj opened #423 "SVT:Codewind failed to Upgrade from 0.3.1 to 0.4.0 after updating eclipse plugin to 0.4.0 version"
**Codewind version:** 0.4.0
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.4.0.v201909102036
**IDE version:** 2019-06
**Kubernetes cluster:**

**Description:**
I tried to upgrade Eclipse plugin from 0.3.1 to 0.4 version and it is failed with the following error.

![image](https://user-images.githubusercontent.com/713849/64750953-9f340b00-d4e8-11e9-8914-41ac36c75a31.png)

[code]

**

[2019-09-12 07:10] micgibso opened #424 "Accessibility test the docs pages"
Use the Dynamic Assessment Plugin (DAP) to test a selection of topics: https://www.eclipse.org/codewind/docindex.html

[2019-09-12 07:13] #424 closed

[2019-09-12 13:51] sghung opened #429 "Create notices file for codewind appsody extension"
The codewind appsody extension needs a notices file.

[2019-09-12 14:10] makandre opened #430 "Remove from cache repos that an extension removes"
**Codewind version:** 0.4.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

This is a TODO from https://github.com/eclipse/codewind/pull/382

In that PR, repositories that are contributed by an extension (such as appsody) were added to the `repostory_list.json` file.  However, this means that if the user removes a

[2019-09-12 14:50] keithchong opened #431 "OpenAPI: Update license and notice files in OpenAPI repos"
**Codewind version:** For 0.4.0
**Description:** Update license and notice files in OpenAPI repos

[2019-09-12 16:46] erpenbach opened #432 "Links are broke on Codewind VS Code Extension page."
**Codewind version:** 3.1
**OS:** macOS

**Che version:**
**IDE extension version:** 1.38.1
**IDE version:** VS Code
**Kubernetes cluster:**

**Description:**  When bringing up the information page for the Codewind extension in VS Code, All of the links under the section "Using Codewind for VS Code" are broke.  For example, the links for "Create New Project and Add Existing Project" leads to https

[2019-09-12 16:48] erpenbach opened #433 "Unknown error Starting Codewind $tag$"
**Codewind version:** 0.3.1
**OS:** macOS

**Che version:**
**IDE extension version:** 0.3.1
**IDE version:** 1.38.1
**Kubernetes cluster:**

**Description:**  Codewind fails to start fully.  When selecting Manage Extension gear, the message is:

"Error starting Codewind: Unknown error Starting Codewind $tag$"

**Steps to reproduce:**
Installed VS Code into /Applications folder.
Installed Codewind

[2019-09-12 17:16] #432 closed, assigned to tetchel

[2019-09-12 18:58] tetchel opened #434 "Learn More (about template sources) button"
when we have docs for https://github.com/eclipse/codewind/issues/32, we have to update the Learn More button to open them.

If we don't get those docs in time, we have to remove the Learn More button

[2019-09-12 19:22] elsony opened #435 "Update application cache that ships with Codewind"
Update the liberty and spring cache to the latest.

[2019-09-12 19:22] sishida opened #436 "Update troubleshooting page for installation/starting issues"
Add troubleshooting for the general issue of when Codewind installation/starting fails. This is usually resolved by stopping Codewind containers and doing a Docker system prune.

https://github.com/eclipse/codewind/issues/411
https://github.com/eclipse/codewind/issues/433

[2019-09-12 20:49] eharris369 opened #438 "Eclipse internal browser does not like Microprofile/Java EE root page"
**Codewind version:** 0.4.0
**OS:** Windows 10

**Che version:**
**IDE extension version:** Codewind for Eclipse 0.4.0
**IDE version:** Eclipse 2019-03
**Kubernetes cluster:**

**Description:**
If I create a new Microprofile/Java EE project from the template and then try to open it in Eclipse using the Eclipse internal browser I get a pop up asking me if I want to save the json to a file. I am not

[2019-09-13 14:02] makandre opened #442 "Generic way to run extension commands when creating projects"
**Codewind version:**0.4.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

This item is a follow-up to #270.  For 0.4.0 due to time constraints the call to extension command `appsody` (~as well as the detection of appsody projects~ (see: #445)) was hardcoded into the CLI.

This should be made generic to avoid hardc

[2019-09-13 14:07] eharris369 commented on #280
Can this be closed now?  The PR: eclipse/codewind-eclipse#240 was delivered a while ago.  I tested both scenarios and they work (user do not have a choice to leave their apps running on stop anymore).

[2019-09-13 14:09] sishida opened #443 "Dynamically generated table of contents for Codewind.dev"
Create a dynamically generated table of contents for the Codewind.dev website.

[2019-09-13 14:37] jagraj opened #444 "SVT:Appsody templates must be disabled in codewind che for 0.4 release"
**Codewind version:** 0.4
**OS:** RedHat

**Che version:** 7.1
**IDE extension version:** 0.4
**IDE version:**  Theia
**Kubernetes cluster:** RedHat openshift

**Description:**
Appsody projects must be disabled for 0.4 release and we do not support them in eclipse che.

**Steps to reproduce:**
1. Install codewind 0.4 on OpenShift.
2. Select which templates to enable.
3. Select Kabanero template re

[2019-09-13 14:39] tetchel commented on #444
@stalleyj can Portal not add the Kabanero repo when initializing the `repository_list` on Che?

[2019-09-13 15:49] makandre opened #445 "Codewind no longer auto-detect appsody project"
**Codewind version:** 0.4.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I believe when we switched over to using installer CLI for project validation and creation, we are no longer able to auto-detect an appsody project, as evident by the following test:

[code]

Note the `"projectType": "docker"` in the response.  As a result, w

[2019-09-13 15:58] makandre commented on #442
This would fix bug #445 in the process

[2019-09-13 17:17] sishida commented on #436
With all the a Docker system prune removes, it could cause unintentional setbacks:
[code]
Ideally, Codewind should have a more targeted solution even though the prune is likely to resolve the issues.

[2019-09-13 18:23] elsony opened #446 "Odo project type extension implementation"
Add implementation for Odo project type extension including functions for:
create, first time app build, app update, app delete

[2019-09-13 18:25] elsony opened #447 "Odo project type extension shell into container"
Shell into container function for odo project type extension

[2019-09-13 18:27] elsony opened #448 "odo project type defintion"
Define new project type extension for odo implementation. This extension is only applicable on OpenShift Kube scenario, not applicable for local.

[2019-09-13 18:29] elsony opened #449 "odo project creation based on generated templates"
Return index.json to Portal to allow creating project using odo templates

[2019-09-13 18:30] elsony opened #450 "[odo] Support application binding for odo projects"
Adding application binding support for odo projects

[2019-09-13 18:31] elsony opened #451 "Auto install on odo project type extension on OpenShift"
Auto install on odo project type extension on OpenShift in Che.

[2019-09-13 18:32] elsony opened #452 "Provide scripts to apply odo RBAC automatically for odo project extension"
Script to apply odo RBAC (role based authentication) automatically for odo project extension so assign the correct permission to preform the odo project support functions. Only available for OpenShift Che scenario.

[2019-09-13 19:38] GeekArthur commented on #446
You can assign this issue to me.

[2019-09-13 19:38] GeekArthur commented on #447
You can assign this issue to me.

[2019-09-13 19:39] GeekArthur commented on #448
You can assign this issue to me.

[2019-09-13 19:39] GeekArthur commented on #451
You can assign this issue to me.

[2019-09-13 19:39] GeekArthur commented on #452
You can assign this issue to me.

[2019-09-13 19:42] johnmcollier commented on #451
When deploying Codewind in Che, [we're already detecting if it's on OpenShift](https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/deploy-pfe/pkg/kube/kube.go#L36), so it should be relatively trivial to pass in an environment var to PFE, something like `ON_OPENSHIFT=true`.

[2019-09-13 19:43] GeekArthur commented on #446
Currently we already finished `create`, `update`, `delete` user scenarios. We propose to create new repository called `codewind-odo-extension` under GitHub to host the source code of odo extension implementation.

[2019-09-13 19:55] GeekArthur commented on #451
@johnmcollier Nice to know that, it makes this issue easier because we don't need to do extra check for OpenShift detection.

[2019-09-13 20:00] GeekArthur commented on #451
The auto install work can be divided into three parts:
- Build phase:
Download extension zip file from odo extension release
- PFE startup phase:
If `ON_OPENSHIFT` is set to `true` then do the following actions:
Unzip the extension zip file
Download the odo latest/stable binary

[2019-09-13 20:03] GeekArthur commented on #452
Already crated role and role binding to add additional rules into service account for supporting odo extension, we can either document the steps for user or automate the steps for applying those rules.

[2019-09-13 20:58] GeekArthur commented on #449
The index.json file should be similar to this:
[code]

[2019-09-13 21:02] GeekArthur commented on #449
We need to run `odo catalog list` to detect the supported component types in the user's OpenShift cluster then dynamically generate/update the index.json that hosts in the PFE extension file system. Once Portal send the template request to odo extension, odo extension will send the link which is `fille://<patg to the index.json in the PFE extension file system>` back.

[2019-09-13 22:00] GeekArthur commented on #446
#447

[2019-09-16 09:40] tobespc commented on #422
x.x.dev is the tag we give it for the master branch to show its in development.  The release branch will have the correct tag

[2019-09-16 09:41] tobespc commented on #420
looks like its a bug in the configuration - @markcor11 please take a look

[2019-09-16 09:43] #357 closed

[2019-09-16 09:46] tobespc commented on #216
closing as working as designed

[2019-09-16 09:46] #216 closed

[2019-09-16 10:48] ebuckle commented on #445
I'm looking into this

[2019-09-16 12:34] deboer-tim opened #454 "Performance Dashboard fades in too slow"
**Codewind version: 0.3**
**OS: Mac**

**Description:**
When I open the performance dashboard it has a really nice fade-in effect of the data, but it takes too long for everything to appear and for a split second I always second guess whether it's actually opening or not. Or, if I'm trying to look at something quickly like a daily user I get impatient. IMHO we just need to speed things up a touch,

[2019-09-16 12:37] deboer-tim commented on #444
Sorry, this was my bad not thinking through the temporary state we're in with Che. Portal, do we have a simple way of doing this only on local for now? If not, it may be better to delay this until the current iteration.

[2019-09-16 13:11] tobespc commented on #444
We don't have a simple way of doing this but I guess we could look at doing something clever at install time

[2019-09-16 13:30] sishida commented on #454
Tagging @kimholmes to be notified of this issue with a design tag.

[2019-09-16 13:51] makandre commented on #422
I downloaded the release from https://download.eclipse.org/codewind/codewind-installer/0.4.0/latest/ and there's no version either

[2019-09-16 13:52] makandre commented on #445
Hey @ebuckle, I actually have some thing in the works for #442, which is also going to fix this problem.

[2019-09-16 14:03] josephca commented on #21
Done - created https://ci.eclipse.org/codewind/job/copy_builds_to_download_area/

[2019-09-16 14:03] #21 closed

[2019-09-16 14:07] tobespc commented on #422
ok, then thats needs to be updated for the release.  @josephca we need to make sure this step is added to the steps when we branch the code

[2019-09-16 14:18] maysunfaisal commented on #397
seeing it today again - Sept 16

[2019-09-16 14:22] ebuckle commented on #445
Sure. It would be possible to fix this through the Appsody logic in the CLI but your solution is much cleaner for the long term.

[2019-09-16 14:38] tobespc commented on #411
assiging this to the installer to catch this scenario and moving to enhancement as unable to recreate

[2019-09-16 14:42] tobespc commented on #403
closing as this is not needed now

[2019-09-16 14:42] #403 closed

[2019-09-16 14:56] laven26 commented on #293
I can work on this issue

[2019-09-16 14:56] laven26 commented on #267
I can work on this issue

[2019-09-16 14:58] tobespc commented on #444
PR's are in, closing

[2019-09-16 15:21] makandre commented on #429
Can close this

[2019-09-16 15:26] tobespc commented on #454
not sure this is a bug is it ?  Its designed like that

[2019-09-16 15:28] tobespc opened #458 "Autobuild needs to be fixed for the new architecture design of Codewind"
Under the new design of codewind, autobuild is currently disabled.  This needs reimplementing so that autobuild will work

[2019-09-16 15:39] johnmcollier opened #459 "Expose the project services over ingress/routes"
Currently in Codewind on Che, the user's projects are exposed via NodePort services, and the service is accessed via `<che-ingress-domain>:<NodePort>`. This works because the ingress domain points to the same external IP as the NodePort services

However, due to architectural changes in OCP 4, we can no longer assume that NodePort services will be available over any ingress. This can result in pro

[2019-09-16 15:41] jcockbain96 commented on #458
Picking this up

[2019-09-16 15:47] keithchong commented on #76
In Eclipse, there is a content type extension point that allows plugins to identify or classify specific file types, regardless of the file name.   So, for example, the suggested name for an OpenAPI definition is openapi.yaml or openapi.json, but users typically would use other file names, like, petstore.yaml.   We need to add this so that the context menu for the OpenAPI generator actions will ap

[2019-09-16 15:49] jagraj opened #460 "SVT:Add new project dialog no longer available to enable repositories after disabling all repositories"
**Codewind version:** 0.4
**OS:** RH EL 7.4

**Che version:**
**IDE extension version:** 0.4
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**
I disabled all repos from "Create new project" dialog and I no longer get "Create new project to enable repositories"

**Steps to reproduce:**

1. Install Codewind 0.4 on Eclipse
2. Create New project.
3. Manage repositories.
4. Dis

[2019-09-16 15:57] johnmcollier commented on #372
https://github.com/eclipse/codewind/issues/459 needs to be addressed too

[2019-09-16 17:45] keithchong opened #461 "Design: OpenAPI: Create new icons for Eclipse generator actions and wizards"
**Codewind version:** latest
**IDE:** Eclipse only

**Description of the enhancement:**
Currently, the actions and wizard banners in the Codewind OpenAPI tools for Eclipse have no icons.  This shows that the tools are not fit and finished

Attn: Kim H.

I'm using existing icons from Eclipse in the interim.  For example, this is what I'd to see in the context menu.   Since the generator actions gen

[2019-09-16 17:45] #89 closed

[2019-09-16 18:16] sishida commented on #368
@eharris369 Hi, Erin, I have included your feedback in my latest commit: https://github.com/eclipse/codewind-eclipse/pull/291/commits/7b6daa8ef18416f41debc12cc3a8d3e5cb507399

I also realized that your feedback also applies to the `mdt-eclipse-managingprojects.md` file in the `codewind-docs` repo, so I created a separate PR for updating that file: https://github.com/eclipse/codewind-docs/pull/140

[2019-09-16 18:36] travis1111 commented on #443
I will take a look :-)

[2019-09-16 19:37] lentheivendra commented on #449
I will be looking at this

[2019-09-16 19:51] tetchel opened #462 "Give a proper message when installer start is run without installer install"
The current output if a user runs `start` without `install` is hopelessly confusing!

[code]
The team member did not realize he had to run `install` first, and instead went to check his docker credentials.

If the images aren't found, we should give a better error (or run `install` for them). We can already detect if CW is installed from the `status` logic.

[2019-09-16 20:04] tetchel opened #463 "Give better error message when project path or name is already in use"
![image](https://user-images.githubusercontent.com/8888438/64989353-563ed680-d89b-11e9-9168-f6eb38e25026.png)

[this message](https://github.com/eclipse/codewind/blob/cde48d8308a9f04a500535445658c67a9958cd17/src/pfe/portal/routes/projects/binding.route.js#L64) and the similar one below it

should be made user-friendly. Something like:

"A Codewind project already exits at \<path\>."
"The project n

[2019-09-16 20:10] sishida commented on #32
Drafting content for new file:

Use Codewind to help manage templates.
- Right-click "Projects (Local)" and select "Manage Template Sources". The "Template Source Manager" page opens.
- Click "Add New" to add a new repository source.
- Enable or Disable a repository type to view the repositories of that type in the wizard.
- See the Description field to understand the key differentiators among the

[2019-09-16 20:26] eharris369 commented on #368
Hi Sarah.  I had one additional comment that applies to both.  Otherwise it looks good.

[2019-09-16 20:34] #460 closed

[2019-09-16 20:47] tetchel commented on #433
since this issue is getting some attention from the team, please also see https://github.com/eclipse/codewind/issues/411

[2019-09-16 20:54] tetchel commented on #433
since we have #436 for docs i'm going to close this in favour of #411 which has a little more info.

[2019-09-16 20:54] #433 closed

[2019-09-16 21:00] deboer-tim commented on #454
Usability issue vs bug? I've removed the label if that helps.

[2019-09-16 21:36] GeekArthur commented on #447
I figure out that for each odo component it has the label `deploymentconfig=$COMPONENT_NAME-$APP_NAME`, so we can still use `kubectl` to get the pod name to let the user shell into the container, the full `kubectl` command would be `kubectl get po -o name --selector=deploymentconfig=$COMPONENT_NAME-$APP_NAME`.

Also I check odo source code, odo also use this way to get the pod name: https://github

[2019-09-16 21:59] sishida commented on #368
@eharris369 Thanks for the feedback! I have updated both PRs.

[2019-09-17 08:52] vrushaliinamdar commented on #307
Hi @johnmcollier ,

This is Vrushali. I am Akhilesh's colleague. PFA the container logs for pfe container.
[logs_17_sept.log](https://github.com/eclipse/codewind/files/3620245/logs_17_sept.log)

The changes which we made for ppc64le are present in the below fork:
https://github.com/vrushaliinamdar/codewind

Please let me know if you need more details.

[2019-09-17 08:58] #422 closed

[2019-09-17 09:11] markcor11 commented on #420
will do

[2019-09-17 10:22] ebuckle commented on #463
Looking into this. Seems like a good change, pr will be in soon

[2019-09-17 11:14] danielvaughan commented on #411
+1 this is an error I am also experiencing. Codewind 0.3.1, VS Code 1.38.1,  Docker 19.03.2 on OSX.

"Error starting Codewind: Unknown error Starting Codewind $tag$"

[2019-09-17 11:33] danielvaughan commented on #411
Doing a full reset on the Docker Desktop caused the images to be re-pulled and has appeared to clear this error for me.

[2019-09-17 12:41] josephca commented on #346
@tetchel Please close this if it is fixed by #432. Thanks,

[2019-09-17 13:03] tetchel commented on #346
No, separate issue

[2019-09-17 13:11] tetchel opened #465 "Accessibility test the Manage Template Sources page"

[2019-09-17 14:25] tetchel commented on #411
I don't expect us to fix this for 0.4 but I'm adding the hot tag because of the attention this is getting with users hitting it at this week's conference

[2019-09-17 14:42] jagraj opened #466 "Codewind install on windows need disk share as prereq for both VSCode and Eclipse."
**Codewind version:** 0.4
**OS:** Windows

**Che version:**
**IDE extension version:** 0.4
**IDE version:** Eclipse and VSCode
**Kubernetes cluster:**

**Description:**
We need to add disk share as prereq for windows users. Here is more information that we documented in Microclimate.dev docs.

https://microclimate.dev/installlocally#installing-on-windows

[code]

**Steps to reproduce:**

**Workaro

[2019-09-17 16:28] sishida commented on #434
@tetchel This is the link where the new content will appear for the "More Info" button: https://www.eclipse.org/codewind/mdt-vsc-usingadifferenttemplate.html

[2019-09-17 17:36] GeekArthur commented on #435
Verified that latest code can use the cache, issue could be Sakib's env. We can close this one.

[2019-09-17 17:41] #125 closed

[2019-09-17 17:43] #380 closed

[2019-09-17 18:07] maysunfaisal commented on #396
I think this https://github.com/eclipse/codewind/issues/99 maybe the same reason as this test failure.. ie it is returning a Docker Project handler as default if for some reason; appsody project extension fails to return

[2019-09-17 18:07] naveenkaratekid opened #468 "Windows 10: Unable to create or import projects."
**Codewind version: 0.4.0**
**OS: Windows 10**

**IDE extension version: 0.4.0**
**IDE version:1.38.1**
**Kubernetes cluster: 1.14.6**

**Description:**
I'm unable to create a new project in VSCode. When I attempt to create one, I get this error message: ```Error creating new project: "Path to project must be an absolute path"```

Strangely, the project does get created in the ```codewind-workspac

[2019-09-17 18:20] ssh24 commented on #396
@stalleyj Could you post the latest test stack-trace that is failing?

[2019-09-17 19:22] ssh24 commented on #468
I am also seeing this on 0.4.0 in windows

[code]

[2019-09-17 19:25] #368 closed

[2019-09-17 19:27] jagraj commented on #468
I am able to reproduce on my windows machine with VSCode today but no issues with eclipse.

[2019-09-17 19:35] tetchel commented on #465
fixed by https://github.com/eclipse/codewind-vscode/pull/203

[2019-09-17 19:45] mmulholl opened #469 "SVT : Eclipse IDE on Linux, projects intermittently fail to delete"
**Codewind version:**   Codewind tech preview	0.4.0.v201909161757
**OS:** Linux

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse IDE for Eclipse Committers Version: 2019-06 (4.12.0)
**Kubernetes cluster:**

**Description:**
Projects intermittently fail to remove from disk. Running my automated test on Linux I get occasional failures to remove a project from disk. In the test I

[2019-09-17 20:11] jagraj commented on #468
Here is the log from the failures.

[codewind.log](https://github.com/eclipse/codewind/files/3623233/codewind.log)

[2019-09-17 20:14] #465 closed

[2019-09-17 20:45] jgwest commented on #469
Slightly similar Windows-only bug in Codewind Eclipse, which was recently fixed, but this fix should be in the driver you are testing with, based on the dates: https://github.com/eclipse/codewind-eclipse/issues/245

[2019-09-17 20:48] eharris369 commented on #469
It looks like there are two issues here:

- Maven projects can fail to delete because there are Maven jobs running in Eclipse that are holding on to the files.  Not sure how to get around this one except to wait for all existing jobs to be complete before trying to delete.  Also not sure what happens if Maven tries to start another job in the middle of the delete - hopefully Eclipse removes the pr

[2019-09-17 22:39] keithchong opened #470 "OpenAPI: Use OpenDialog instead of QuickPick for OpenAPI file selection"
**IDE:** VS Code only

**Description of the enhancement:**
The quick pick way of choosing the OpenAPI document was suitable if the selected project contains an OpenAPI file that has the spec-recommended name.  Typically, the file would be at the root of the project or even one or two sub-folders down and the quick pick list was short and concise.  Because users use other file names, the tools had

[2019-09-17 22:40] keithchong commented on #470
See https://github.com/eclipse/codewind-openapi-vscode/issues/33

[2019-09-18 08:44] #463 closed

[2019-09-18 08:45] tobespc commented on #466
this issue will go away when we have the new architecture for codewind (the hybrid stuff)

[2019-09-18 09:23] stalleyj commented on #462
Agreed, the output from start is not helpful or user friendly. We should do any checking up front and return a message as soon as possible. I don't think we should be chaining commands but giving a message to the user that informs them of what command they need to run.

[2019-09-18 12:52] MelHopper opened #472 "Improve readability of documentation topics by improving design and styling"
**Codewind version:**  Codewind-docs folder as per 16th September 2019
**OS:** n/a

**Che version:** n/a
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:** n/a

**Description of the enhancement:**

Readability of topic content in table of contents/ manual documentation, e.g. topic https://www.eclipse.org/codewind/mdt-vsc-getting-started.html

For example, It is not obvious

[2019-09-18 13:01] MelHopper opened #473 "Add 'overview' and 'next steps' sections to topics in ToC/Manual"
**Codewind version:** codewind-docs as per 16th Sept 2019
**OS:** n/a

**Che version:** n/a
**IDE extension version:** n/a
**IDE version:** n/a
**Kubernetes cluster:** n/a

**Description of the enhancement:**

Readability and user-friendliness of the documentation could be improved by giving context, explaining concepts and linking to the next topic(s) of interest for the user journey.

** For bes

[2019-09-18 13:21] stalleyj commented on #396
This is what I get when I run, it's definitely appsody releated. @maysunfaisal I understand that you put the appsody testing in ?  How are the FileWatcher module unit tests accessing the extension ?
205 passing (10m)
  3 failing

  1) PFE - unit test
       actions module
         combinational testing of validate function
           combo24 => validate: good extension project:
     Error: Timeout

[2019-09-18 13:23] eharris369 opened #474 "Docs: Recommend Eclipse 19.09 to users"
Because of the following Eclipse issue we want to recommend users install Eclipse 19.09 (which is scheduled to be released today):

https://bugs.eclipse.org/bugs/show_bug.cgi?id=541220 (fixed in Eclipse 19.09)

The recommendation should be added anywhere in the docs where we are telling the user to install Eclipse.

[2019-09-18 13:30] deboer-tim opened #475 "Auto-update too aggressive?"
Currently, Visual Studio auto-updates our extension, and each version of the extension uses a specific set of Codewind docker containers and will automatically download them. This is nice and clean and makes sure the user is always on the latest version, but it also means that the user may suddenly hit a large download they weren't expecting.

In the worst case on a slow network the extension may

[2019-09-18 13:31] sishida commented on #472
This issue is a little too broad to be dealt with all at once. We will continue to work with @MelHopper to open new issues that are in smaller scope.

[2019-09-18 13:31] #472 closed

[2019-09-18 14:14] kimholmes commented on #454
This is a dev bug. Shouldn't need design. But I do like the fade in effect. :-)

[2019-09-18 14:27] sujeilyfonseca opened #476 "SVT: [Windows 10] Enable/Disable buttons in Template Source Manager Windows are broken if they are clicked"
**Codewind version:** 0.4.0 and Latest Development Version (Master)
**OS:** Windows 10

**IDE extension version:** 0.4.0
**IDE version:** VS Code 1.38.1

**Description:** Enable/Disable buttons in Template Source Manager Windows are broken if they are clicked.

![Screen Shot 2019-09-18 at 10 05 18 AM](https://user-images.githubusercontent.com/49531960/65156011-4b4f8780-d9fc-11e9-9eec-bdf994a9daf3.

[2019-09-18 14:27] jagraj commented on #444
@tobespc

I moved to latest pfe image and I still see option for the users to select Kabanero collections.

![Screen Shot 2019-09-18 at 10 26 56 AM](https://user-images.githubusercontent.com/713849/65157524-de89bc80-d9fe-11e9-9a6c-ee312f5b9b1d.png)

[2019-09-18 14:30] ssh24 commented on #396
So it is actually timing out even after 5mins? The PR I landed involved increasing the timeout to 5 minutes. This is extremely unlikely that these tests will timeout after 5 minutes. Under `src/pfe/file-watcher/test/resources` do you have the `dummyappsodyproject.json` file?

[2019-09-18 14:50] mmulholl opened #477 "Mac : Creating project fails : net/http: TLS handshake timeout"
**Codewind version:**  Codewind tech preview 0.4.0.v201909161757
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Creating projects on Mac fails and codewind reports an error:
net/http: TLS handshake timeout

Running the codewind-installer from the command resulted in the same issue, but running the same curl command that is used b

[2019-09-18 14:52] mmulholl commented on #410
Linus works.
For Mac I opened as issue for tracking: https://github.com/eclipse/codewind/issues/477

[2019-09-18 14:52] #410 closed

[2019-09-18 14:54] sujeilyfonseca opened #478 "SVT: Appsody projects now throw errors when debugging is not supported"
**Codewind version:** 0.4.0 and Latest Development Version
**OS:** Windows 10 and MacOS Mojave (10.14.6)

**IDE extension version:** 0.4.0
**IDE version:** VS Code 1.38.1

**Description:** In previous releases, there were warning messages when debug mode was not supported with an Appsody project. However, in Codewind 0.4.0, there is a request error indicating that "AppsodyExtension projects do not

[2019-09-18 15:00] tetchel commented on #478
so, this issue is to improve the message? I'm not sure what the message may have been previously

[2019-09-18 15:24] makandre commented on #321
Related issue on appsody: https://github.com/appsody/appsody/issues/96

[2019-09-18 15:33] tetchel commented on #476
I can reproduce, this is super bizarre. Refresh fixes the images, too.

[2019-09-18 15:37] tetchel commented on #444
I see this too. It also appears that the kabanero source is not marked as "protected" [code](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js)
[code]

[2019-09-18 15:39] tetchel opened #480 "Kabanero built-in template source should be marked as 'protected'"
The user should not be allowed to delete the Kabanero template source, same as Codewind and Appsody.

[code](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js)
[code]

[2019-09-18 15:42] tetchel commented on #359
:+1:

[2019-09-18 15:42] #359 closed

[2019-09-18 16:32] ssh24 commented on #396
@stalleyj Me and maysun worked on creating a branch which adds some more logging to the appsody project extension. It is in this branch https://github.com/ssh24/codewind/tree/cw-396. This only runs one of the tests `combo6 => getProjectHandler & getProjectCapabilities: projectID dummyappsodyproject:`, could you please try it out and share the test logs?

[2019-09-18 16:38] eharris369 commented on #474
Eclipse 2019-09 R (4.13.0) has just been released.

[2019-09-18 16:49] tetchel commented on #480
this can be fixed along with #444

[2019-09-18 17:13] sujeilyfonseca commented on #444
I'm also seeing this problem with Codewind for Eclipse Che (OKD/Openshift Cluster).

<img width="595" alt="Screen Shot 2019-09-18 at 1 10 55 PM" src="https://user-images.githubusercontent.com/49531960/65170052-dbe69180-da15-11e9-9883-c7f3b1508f6d.png">

[2019-09-18 17:20] jgwest commented on #477
@mmulholl Do you think it would be beneficial if the installer error message outputted the URL it was timing out on? I'm guessing the install folks could add that without too much trouble...

[2019-09-18 17:25] sishida commented on #466
@jagraj and @tobespc If we plan to eventually resolve this issue, ID will not update the Troubleshooting page in the docs. Instead, let's just leave all the info in this issue for reference.

[2019-09-18 17:30] sghung opened #482 "Let users know that Open API Tools is not supported in Che"
**Codewind version:** 0.4.0 and before
**OS:** any

**Description of the enhancement:**
Open API Tools on che is still being worked on: https://github.com/eclipse/codewind/issues/78 as a result, there is no support for Open API Tools on kube or che.

**Proposed solution:**
I think this restriction should be mentioned in installoncloud.html. If there are other places that you think makes sense, I a

[2019-09-18 17:35] makandre commented on #478
The previous message was `Failed to attach debugger to <project>. No debug type available for project of type Extension.` (see #363)

Basically old behaviour was allowing to restart in debug mode but then failing to attach debugger.  Now we disallow restarting in debug mode and this happens to be the message for that

(note this is only for appsody python project which we don't have debug type for

[2019-09-18 17:40] tetchel commented on #478
ok, this is the expected behaviour then, but I agree the message sucks.

[2019-09-18 18:16] sishida commented on #474
Notes from meeting on Sept. 18th:
- You can use earlier versions of Eclipse, but to avoid this bug, you need 19.09. Thus, we recommend using 19.09.
- Mention "Eclipse 19.09 and later."
- The bug brings up a dialog window although it doesn't actually cause importing problems.
- Add a link to the bug.

[2019-09-18 18:27] kimholmes commented on #473
This Doc page just won a design award:
https://ibm.github.io/event-streams/

[2019-09-18 18:49] eharris369 opened #507 "[Eclipse IDE] Allow user to add existing projects from the file system"
Allow the user to add existing projects from the file system without having to import them into Eclipse first.

[2019-09-18 19:02] jagraj commented on #444
Looks like you are right fix has been delivered to master and release branch. We were keep seeing the problem due to workspace data persisted when we created workspace with older version of codewind 0.4. We were just stoping and restarting workspace to get updates to the images. To see the change user has to delete the workspace and create new workspace. (https://github.com/eclipse/codewind/issues

[2019-09-18 19:02] #444 closed

[2019-09-18 19:06] naveenkaratekid commented on #468
The issue has been fixed. I am able to create projects in VSCode in Windows.

[2019-09-18 19:06] #468 closed

[2019-09-18 19:07] tetchel commented on #480
I removed the hot tag but I still think this bears discussion for 0.4 because it would be so annoying to a user

[2019-09-18 19:21] eharris369 commented on #474
If you want more details:  When creating a new Codewind project an error dialog may pop up about a java.lang.NullPointerException.  This is a problem with the smart import in Eclipse.  The project will import properly so there is no functional issue but the dialog can be confusing and make users think that there is a problem.

[2019-09-18 19:40] maysunfaisal opened #483 "Hybrid Feature Bugs [local]"
- [ ] Deleting a file from my local project in the codewind-workspace does not get reflected in the PFE container workspace
- [ ] Getting capabilities and logs initially fails for all project types, which has been seen in the past when doing requests to Portal before Turbine has "created" the project
[code]
- [ ] Go and Python projects are not given their correct language:
![image](https://user-im

[2019-09-18 20:02] maysunfaisal commented on #483
Docker projects seem to be fine - Python, Go

[2019-09-18 20:20] keithchong opened #485 "OpenAPI: Add automated tests for OpenAPI content types"
**IDE:**  Eclipse only

**Description of the enhancement:**
Tests for https://github.com/eclipse/codewind/issues/76

See also:
https://github.com/eclipse/codewind-openapi-eclipse/issues/42

[2019-09-18 20:46] tetchel commented on #483
In the midst of the remote uploads, I see 413 errors:

[code]

[2019-09-18 20:49] #435 closed

[2019-09-18 20:54] tetchel commented on #476
should be fixed in 0.4 now

[2019-09-18 21:19] jagraj commented on #445
Looks like appsody project imports are failing to set language type intermittently even though I selected language type "Java".

Steps to recreate.

1. Create appsody Microprofile Java project.
2. Wait until it builds and running.
3. Remove project from Eclipse "codewind explorer view".
4. Import again, with "Appsody" and "Java" options and the language not being set.

This happens 50% of the time

[2019-09-18 21:28] sujeilyfonseca opened #486 "SVT: Appsody Python Flask projects are being imported with Java as the language"
**Codewind version:** 0.4.0
**OS:** Windows 10 and MacOS Mojave (10.14.6)

**IDE extension version:** 0.4.0
**IDE version:** 1.38.1

**Description:** Due to [eclipse/codewind#445](https://github.com/eclipse/codewind/issues/445), appsodyExtension must be selected manually to properly import a project into VS Code.

However, Appsody Python Flask projects are being imported with Java as the language,

[2019-09-18 21:54] tetchel commented on #486
yep, i see the bug. there is a logic error in this 'wizard' for extension project types

[2019-09-18 22:05] mmulholl commented on #486
Seeing this issue with all appsody project types.

For example when importing an existing Appsody Node Skaffold project, by default the type is set to Node.js - if i install that way it will not build. However, If I change the type to appsody and language to Node.js all is fine.

Making the stop/ship because it is both bad and a regression.

[2019-09-18 22:06] tetchel commented on #486
i don't think this is a stopship but the fix is ready either way

[2019-09-18 22:08] tetchel commented on #486
please open a different bug for eclipse, there was an error in the vs code logic which is what this issue is for (and it's fixed now)

[2019-09-18 22:09] mmulholl commented on #486
will do

[2019-09-18 22:09] tetchel commented on #486
i'm pretty sure the eclipse issue is just https://github.com/eclipse/codewind/issues/445

[2019-09-18 22:10] tetchel commented on #486
also, erin may already have it under control https://github.com/eclipse/codewind-eclipse/pull/309

[2019-09-18 22:16] mmulholl opened #487 "SVT : Eclipse IDE set incorrect project type when importing appsody projects"
**Codewind version:**  Codewind tech preview	0.4.0.v201909162044
**OS:** Macos

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**

If create an appsody project and try importing it again the wizard does not set the project type to "appsody" but the value it would be if the project was not an appsody project.

For example when imp

[2019-09-18 22:16] mmulholl commented on #487
@jagraj

[2019-09-18 22:26] tetchel commented on #487
this may be fixed by https://github.com/eclipse/codewind-eclipse/pull/309

[2019-09-18 23:12] makandre commented on #445
The language select problem is likely not directly caused by this issue (not auto-detecting appsody project) but it is exposed by it (since now you always have to choose the type and language when importing an appsody project)

The language select problem is possibly fixed by https://github.com/eclipse/codewind-eclipse/pull/309; @eharris369 can confirm.

[2019-09-18 23:36] makandre commented on #486
Since we are talking about python, this is possibly related to https://github.com/eclipse/codewind/issues/398 as well

[2019-09-19 02:10] sujeilyfonseca commented on #487
This is the problem that I mentioned in the IDE channel. In VS Code, users are asked to confirm the type and language of the project to be imported. However, the types are always incorrect in Appsody projects. As Martin said, if the project type is manually selected for appsodyExtension, the project builds fine. However, if not, the project will not be built. Here are some examples:

<img width="4

[2019-09-19 02:43] sujeilyfonseca opened #488 "SVT: Missing files error when importing some Appsody projects (VS code)"
**Codewind version:** 0.4.0
**OS:** Windows 10 and MacOS Mojave (10.14.6)

**IDE extension version:** 0.4.0
**IDE version:** 1.38.1

**Description:** In VS Code, users are requested to confirm the type and language of the project to be imported. However, the types are always incorrect and if the user selects “yes”, the import will fail due to missing files. This error occurs with all Appsody proje

[2019-09-19 07:57] tobespc opened #489 "Implement Secure connection between local editor and remote cloud deployment"
I don't think we should create our own identity provider or add user registries for storing users/passwords in hybrid/cloud. We should support use of 3rd party providers and use security modules like OpenID Connect / OAuth 2 and JWT. That will take some work to implement but we can do this in phases.

JSON Web Tokens can be used in all scenarios, but for each one :

Portal server needs to reject a

[2019-09-19 08:01] markcor11 commented on #489
Working on above

[2019-09-19 08:39] tobespc commented on #478
moving to iterative-dev as that is where the message originates

[2019-09-19 10:34] makandre commented on #488
This is basically same as #445 (for which there is a PR to fix)

[2019-09-19 12:57] eharris369 commented on #445
The language issue will be fixed by eclipse/codewind-eclipse#309.  Just waiting for John to review.

[2019-09-19 13:14] tetchel commented on #488
The vs code behaviour is correct; portal is providing bad info, and the user will likely not know better than to override it (by selecting "No, this is not the correct type" and then selecting Appsody)

[2019-09-19 13:16] stalleyj commented on #396
Here's my output with your branch:-

Users/stalleyj/Development/codewind/src/pfe/file-watcher/server
[19/09/19 14:07:56 Turbine] [INFO] The current log level is info
[19/09/19 14:07:58 Turbine] [INFO] Initialize application state map
[19/09/19 14:07:58 Turbine] [INFO] Initialize build state map
[19/09/19 14:07:58 Turbine] [INFO] Starting application ping intervals
[19/09/19 14:07:59 Turbine] [INFO

[2019-09-19 13:19] deboer-tim commented on #475
Discussed on tech topics meeting. Short term, we should recommend that anyone on a very slow (e.g. conference) network should turn off auto-updating in VS Code.

Longer term, we expect the move to cli will reduce the amount of API between extension and container, and as our API settles down we may be able to have compatibility within a range (e.g. update the extension and it'll still work against

[2019-09-19 13:19] #475 closed

[2019-09-19 13:21] eharris369 commented on #487
This is fixed by eclipse/codewind-eclipse#309.  The problem of the project type being detected as Appsody is covered in https://github.com/eclipse/codewind/issues/445.

[2019-09-19 13:26] micgibso commented on #473
@sishida I'll take this one please Sarah.

[2019-09-19 13:32] stalleyj opened #491 "Upgrade story for 0.6 where codewind-workspace will not be mounted"
The remote architecture removes the requirement for codewind-workspace to be mounted in docker and replaces this with a docker volume which means that users existing projects will not appear in codewind. Anything that pfe currently stores in the workspace (project inf files, logs, metrics data, repository settings etc) will also be gone.

A user would need to copy the contents into the pfe contain

[2019-09-19 13:33] eharris369 commented on #487
This is a duplicate of 2 other issues:
- eclipse/codewind-eclipse#309
- #445

[2019-09-19 14:17] rajivnathan commented on #478
@sujeilyfonseca  @tetchel @makandre Any suggestions for what the error message should be?

[2019-09-19 14:21] rajivnathan commented on #478
I think part of the problem is that the message is constructed from 3 separate components.

1. From the IDE: `cw-appsody-python-flask: Restarting into debug mode failed:`
1. From portal: ` Request error for project <projectid>.`
1. From turbine: `AppsodyExtension projects do not support restarting in debugNoInit mode.`

[2019-09-19 14:32] makandre commented on #478
IMO, I would prefer to see something like:

`<project name> does not support... (something about debugging)`

The problem with current message `AppsodyExtension does not support...` is that's not entirely accurate because some `AppsodyExtension` projects does support debugging

[2019-09-19 14:39] hhellyer commented on #483
@maysun

This should be fixed by using the fixed branch but I am about to add some improved syncing so we only send changed files and only delete files that no longer exist locally.

As you say, I think it's because Turbine doesn't know about the project yet. I'll check to see if the project state indicates it's not ready yet and then we can check that in the plugins before we query the capabiliti

[2019-09-19 14:43] sujeilyfonseca commented on #478
I agree with @makandre. As he said, it would be nice to include something like:

``<project-name> does not support Debug Mode.``

If possible, it would be good to display it in the IDE as a warning message instead of an error, or not provide the option of "Restart in Debug Mode".

[2019-09-19 14:45] tetchel commented on #478
this is indeed hidden if the project capabilities API states that the project does not support debug

[2019-09-19 15:24] rajivnathan commented on #478
@makandre should these project types state that they don't support debug? Could the underlying problem be a problem with the appsody project extension configs? Looking at the code it looks at whether the appsody config defines debug ports to determine whether it has the debug capability.

See https://github.com/eclipse/codewind/blob/514d1eefdc7749c67fd8a9419d340c2759cabd2f/src/pfe/file-watcher/ser

[2019-09-19 15:52] makandre commented on #478
There's actually only 1 appsody project type - but depending on the appsody stack used, debug may or may not be supported (currently controlled by whether there's a debug port that maps to that stack)

[2019-09-19 15:56] tetchel commented on #243
can this be closed?

[2019-09-19 15:57] tetchel commented on #239
what's there still to be done on this?

[2019-09-19 15:58] tetchel commented on #262
can you open a new issue with the vscode tag, or update me otherwise when the portal change is in?

[2019-09-19 15:59] tetchel commented on #434
Links from IDEs have been updated, just awaiting docs PR linked

[2019-09-19 16:04] maysunfaisal commented on #483
I am also seeing this error on a Spring manual build:

[code]

![Screen Shot 2019-09-19 at 12 02 37 PM](https://user-images.githubusercontent.com/31771087/65261175-a5704b80-dad5-11e9-8eff-86df8685d403.png)

[2019-09-19 16:12] jagraj commented on #309
This has been verified. Thx for the fix.

[2019-09-19 16:12] #309 closed

[2019-09-19 16:51] sghung commented on #371
Closing as it has been implemented

[2019-09-19 16:51] #371 closed

[2019-09-19 17:01] tetchel opened #495 "Rename "Add Folder to Workspace" command to "Add Project to Workspace""
VS Code already has a command called "Add Folder to Workspace"

[2019-09-19 17:05] sishida opened #496 "Article about enabling HTTPS"
@elsony recommends that we include the content from the pull request https://github.com/eclipse/codewind-docs/pull/139 into an article.

From Elson: Although this is a useful piece of information, this is just example on how to enable https and those steps are not specific to the templates that we provide. Therefore, I suggest to turn this to an article instead of putting that as part of the Codew

[2019-09-19 17:05] rajivnathan commented on #478
That sounds like the problem. We should be able to map a specific project to a specific appsody stack to accurately determine what capabilities are supported for that project. Showing the restart in debug option to the user for a stack that doesn't support it sounds like a bug.

[2019-09-19 17:06] sishida commented on #496
Here is the content to go into the article:
---
layout: docs
title: Converting an application from HTTP to HTTPS
description: Converting an application from HTTP to HTTPS
keywords: https, http, python, microprofile, application, applications, codewind
duration: 1 minute
permalink: convertingtohttps
type: document
---

# Converting an application from HTTP to HTTPS

You can convert Codewind applica

[2019-09-19 17:10] sishida commented on #269
@maysunfaisal and @rajivnathan Is this issue good to close?

I suppose there are no links to add since we have decided to move PR https://github.com/eclipse/codewind-docs/pull/139 into an article instead. :)

[2019-09-19 17:26] jagraj commented on #466
I came to know we have close to 70 to 80% os the users coming to conferences using Windows for the labs. It will be nice to doc this as prerequisite section for Codewind install in the docs. This will definitely help avoid install failures.

[2019-09-19 17:28] eharris369 commented on #469
The second issue (timing issue between project listing and delete event) is fixed through PR: https://github.com/eclipse/codewind-eclipse/pull/302
For the first issue I cannot find that m2e is using a family for its jobs.  It does appear to set this scheduling rule for most jobs but doing the same thing for my delete job did not help:
[code]
Nor did setting the rule to the project being deleted or

[2019-09-19 17:28] mmulholl commented on #469
@eharris369 I am still seeing the happen in the latest driver, but maybe with less regularity:
Codewind tech preview	0.4.0.v201909191538

[2019-09-19 17:38] #269 closed

[2019-09-19 17:42] sishida opened #497 "Documentation for creating your own template source repository"
Tagging @tetchel and @eharris369 for their awareness.

Although we merged https://github.com/eclipse/codewind-docs/pull/143, as Tim mentioned, we need documentation for how to create your own template source repository, such as how to provide your own index.json file.

[2019-09-19 17:49] rajivnathan commented on #483
@hhellyer

Agree that uploading individual files is okay for update scenarios, but even then we'd probably want to upload a set of changes as a batch so that a build won't begin with a partial change set.

I'm also concerned about the performance impact on project creation in a local -> kube case where latency can be poor. We could look at zipping up the project folder and transfer the single file

[2019-09-19 17:56] sishida commented on #474
List of locations we need to update:
1️⃣ The `codewind-eclipse` README: https://github.com/eclipse/codewind-eclipse/blob/master/README.md
2️⃣ https://www.eclipse.org/codewind/mdteclipsegettingstarted.html

[2019-09-19 18:10] mmulholl commented on #469
seeing delete failures on all platforms, linux, windows and mac

[2019-09-19 18:21] j-c-berger commented on #474
I'll update the README

[2019-09-19 18:22] sujeilyfonseca commented on #476
I tested this issue on 2019-09-19 and I no longer see the problem.

[2019-09-19 18:23] #476 closed

[2019-09-19 18:37] makandre commented on #292
Discussed today in tech-topic:

- Should have more data for each "subtype", something like:

[code]

- Subtype is not meant to replace language.  Language is still needed to for determining debugging type.  Will need to see where language comes from, and whether it needs to be supplied by the API

[2019-09-19 18:42] sujeilyfonseca commented on #486
I tested this issue on 2019-09-19 and I no longer see the problem.

[2019-09-19 18:50] sghung opened #498 "Update appsody troubleshooting to include additional windows instructions"
The appsody troubleshooting section needs to have the following info:

https://github.com/gcharters/kabanero-dev-getting-started/blob/master/docker-windows-aad.md

This will get past a Windows issue one of our developers was experiencing. When they are using java projects on Windows, some users may hit this issue and needs to follow those instructions above.

[2019-09-19 19:01] sujeilyfonseca commented on #488
I tested this problem on 2019-09-19. Users may not encounter this problem frequently, as Appsody projects are now being detected correctly. However, if the user selects "No" in the confirmation window and then enters the same type and language, he/she will get the error presented above regarding the missing files. For example, if the project type appears in the confirmation window as "appsodyExten

[2019-09-19 19:09] maysunfaisal commented on #496
@sishida you can assign it to me

[2019-09-19 19:40] makandre commented on #488
@tetchel there were some language selection bug in IDE that was fixed I believe?

[2019-09-19 19:40] mmulholl opened #499 "SVT : Mac, Eclipse, Appsody, project status transitions messed up."
**Codewind version:**   Codewind tech preview	0.4.0.v201909191538
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse committters 2019-06
**Kubernetes cluster:**

**Description:**

As an example a Appsody microprofile project status transition was
starting -> stopped (for 3 minutes) -> running.

Seen similar for  Appsody spring projects too

**Steps to reproduce:**

C

[2019-09-19 19:42] tetchel commented on #488
yes, that was #486

Sujeily, If the user chooses to ignore the autodetection, and then selects the wrong type, it is expected that the project will misbehave. I consider this issue fixed

[2019-09-19 19:42] makandre commented on #313
https://github.com/appsody/appsody/releases/tag/0.4.5 added a `--no-watcher` option on the CLI.  Perhaps it is something we can exploit.

[2019-09-19 19:44] tetchel commented on #488
I expect it has something to do with the installer tracking `isAppsody` separately in its detection logic, ie `isAppsody` is not necessarily the same as `projectType == "appsodyExtension"` ? but I just took a quick look at that code

[2019-09-19 19:44] #486 closed

[2019-09-19 19:45] #434 closed

[2019-09-19 19:48] makandre commented on #488
`isApposdy` was only used inside the installer to keep track of whether they need to run init.  It's not returned to IDE (and it's going away post-0.4)

[2019-09-19 19:50] tetchel commented on #488
ok, if this behaviour is changing in 0.5 i think we should consider this issue good for now (since it doesn't make much sense for a user to ignore the correct autodetection), and verify the new behaviour when it's in?

[2019-09-19 19:50] tetchel commented on #398
appsody can correctly detect python now

[2019-09-19 19:50] #398 closed

[2019-09-19 19:55] eharris369 commented on #499
Looks like it is related to the timeout.  I see this in the logs:
[code]
And then a few seconds later:
[code]

[2019-09-19 19:57] eharris369 commented on #499
Here is the full log:
[logs.txt](https://github.com/eclipse/codewind/files/3632960/logs.txt)

[2019-09-19 19:57] makandre commented on #499
^ Right, it's kind of what's expected now since the ping timeout was added in Codewind.  Unfortunately appsody projects hit this more often because the "run" phase actually includes the parts that download maven dependencies and builds the app.

[2019-09-19 19:58] makandre commented on #499
@yangcao77 wondering is there any way to configure the ping timeout in Codewind?

[2019-09-19 20:18] #429 closed

[2019-09-20 00:05] yangcao77 commented on #499
@makandre  We currently hardcoded it to be 3 mins. @rajivnathan  I guess we want to make it configurable?

[2019-09-20 03:02] jagraj opened #500 "SVT: Open liberty project is not enabled for debugging"
**Codewind version:** 0.4
**OS:** Windows

**Che version:**
**IDE extension version:** 0.4
**IDE version:** Eclipse 2019-06
**Kubernetes cluster:**

**Description:**
Open liberty projects not enabled for debugging. Could you please enable these open liberty projects for debugging.?

**Steps to reproduce:**

1. Install codewind 0.4
2. Create Open Liberty project.
3. After project up and running. I

[2019-09-20 07:51] markcor11 commented on #489
# Proposal

## Desktop :

Interaction with KeyCloak should be handled by the Codewind CLI.  The desktop IDEs should not be required to talk directly to KeyCloak or take responsibility of managing user credentials.   IDEs may provide a UI to allow the developer to change their passwords but they should connect only to the Codewind CLI which should handle secure storage of credentials and communicat

[2019-09-20 08:32] tobespc commented on #491
This might actually be simpler than we through.   The load test metrics will already exist in the projects workspace so when we bind the project, we need to send those files to the remote server along with the src code.  For logs, I'm not too worried if logs don't persist through an upgrade but that is up for debate.  The only real problem will be with the project.inf file, that will need to be re

[2019-09-20 08:34] jcockbain96 commented on #418
@tobes, I'll take this

[2019-09-20 12:49] jcockbain96 commented on #418
https://github.com/eclipse/codewind-installer/pull/127

[2019-09-20 12:53] jcockbain96 commented on #129
@mdh69-github - is this still relevant? Do you more details about the environment if so?

[2019-09-20 13:08] jcockbain96 commented on #462
I'll take this, can someone assign me ?

[2019-09-20 13:14] hhellyer commented on #483
I've made an update to pfe so that in remote mode we only need to send changed files. This is in `eclipse/codewind#master`. This requires updated versions of the hybrid branches for `codewind-vscode` and `codewind-eclipse` which I've also pushed to the `hybrid` branch on both those repositories.

@rajivnathan - I also added log messages that include the time taken to do the uploads so we can evalu

[2019-09-20 13:14] jopit commented on #489
Does Keycloak provide an web ui that can be used to change passwords?  If so, does it make sense to require the user to use that ui for those kind of administrative tasks rather than building that function into the IDEs, at least for a first pass?

[2019-09-20 13:34] #325 closed

[2019-09-20 13:34] #495 closed

[2019-09-20 13:59] tetchel commented on #500
We don't support this.

[2019-09-20 14:02] sishida commented on #482
@sghung It sounds like we are eventually going to include OpenAPI tools on Che, so we can leave this issue open until we have it ready. However, I prefer not to add the info to the landing pages because then we'll just have to remove it later.

[2019-09-20 14:04] keithchong opened #502 "OpenAPI: Create new SWTBot, UI-based test plugin"
**IDE:** Eclipse only
**Purpose:** Fill in holes in test coverage; Outstanding collateral

Create a new SWTBot, UI-based test plugin and seed it with context menu tests that also test the Content Type support.  Like this:

<img width="960" alt="Screen Shot 2019-09-20 at 9 55 35 AM" src="https://user-images.githubusercontent.com/7726022/65332715-36562e00-db8d-11e9-8ee8-e493f23820de.png">

Then, wiz

[2019-09-20 14:08] sishida commented on #466
@jagraj Because @tobes mentions that this issue will go away when we have the new Codewind architecture, I'd prefer to leave this info in an issue and not update the doc. If I updated the doc, we'd just have to remember to remove the info later.

[2019-09-20 14:12] sishida commented on #498
@sghung Hi, Steven, Is this issue something that we intend to eventually fix in Codewind? If so, I'd prefer not to update the docs because then we'll just have to remove the info later.

However, if this is an issue that is beyond our control or something that will remain indefinitely, I will add it to Troubleshooting. 👍 Please let me know. Thank you!

[2019-09-20 14:57] keithchong opened #503 "Releng: Add version checker"
Add version checker, at least for Eclipse features/plugins, to check that plugins and features have their versions properly increased for a Codewind release.

VSCode extensions' package version increase follows the same line of reasoning, so it will help too.

[2019-09-20 15:07] sghung commented on #498
Hey Sarah, this appears to be a limitation that won't be fixed and will rely on documentation indefinitely.

[2019-09-20 15:13] tetchel opened #504 "Hybrid issues in Che"
Devfile (internal domain): http://time-nix.rtp.raleigh.ibm.com/devfile-hybrid.yaml

Issues:
- [ ] Since `.config` is not mounted out of the PFE container anymore, the plugin cannot write to `.config/settings.json`. So the deployment registry code has to be updated.
  - This also means that if the PFE container restarts, the data in this file and similarly `repository_list.json` is lost and the use

[2019-09-20 15:15] mmulholl commented on #487
all good now.

[2019-09-20 15:15] #487 closed

[2019-09-20 15:24] johnmcollier commented on #483
@hhellyer
Not necessarily bugs, but a preliminary list of things that may need to be done or checked for Che on hybrid:
[code]

[2019-09-20 15:26] johnmcollier commented on #504
@hhellyer @tobespc

Not entirely issues or bugs, but things that need to be done or checked for Che with the hybrid changes
[code]

[2019-09-20 15:30] eharris369 opened #531 "[Eclipse IDE] The application overview page flickers when there are updates"
The application overview page flickers when there are updates.  It turns out that Codewind is sending duplicate events.  The CodewindApplicationFactory.updateApp method could be modified to return a boolean - true if anything actually changed, false otherwise.  The UI update could then be skipped if this method returns false.

[2019-09-20 15:45] tetchel commented on #504
linking to the local issue https://github.com/eclipse/codewind/issues/483

[2019-09-20 16:19] sishida commented on #498
Thanks for the clarification! I'll plan to add it in after 0.4.0! 👍

[2019-09-20 17:22] maysunfaisal opened #505 "Create a logger for Turbine Unit & Functional tests"
We need a logger to help demarcate and debug Turbine tests

[2019-09-20 17:27] rajivnathan commented on #499
@makandre Sounds like the "run" phase is doing too much? Wouldn't it be better to leave the app in building state if the app is still building? Once it completes then it can change state to Starting. Another reason we'd want to have it as part of the "build" phase is if there's a problem with the maven build, for example, then we'd want the status to be "Build failed", not "Failed to start" or equ

[2019-09-20 17:41] makandre commented on #499
Yes, that's ideal, but we currently don't have any means to find out what stage the `appsody run` command has reached (unless we do something like grepping the output which isn't a great solution)

[2019-09-20 19:32] ssh24 commented on #400
**Verified**

[2019-09-20 19:32] #400 closed

[2019-09-20 20:16] deboer-tim commented on #507
I already do this - projects I was working on in VS Code are magically in Eclipse when I switch IDEs (and vice versa). ;-)

[2019-09-21 00:27] markcor11 commented on #489
Keycloak does have a web UI that facilitates user password changes.
However, matching credentials still need to exist in the desktop keychain for the Codewind CLI to use.  If the IDEs are not going to prompt the user to enter a new password,  the user will need to manually update their desktop keychain to match any new Keycloak stored password. For a first pass that would be ok (with some support

[2019-09-23 08:22] nheidloff opened #509 "Error starting Codewind: Unknown error Starting Codewind 0.4.0"
**Codewind version:** 0.4.0
**OS:** Mac 10.14.6

**IDE version:** Visual Studio Code 1.13.1

**Description:**
I just installed the Visual Studio Code plugin for 0.4.0, but now Codewind doesn't start anymore. I only get this message:

Error starting Codewind: Unknown error Starting Codewind 0.4.0

I had previously installed 0.3.x which worked. I also uninstalled everything and then reinstalled, but

[2019-09-23 11:06] rwalle61 commented on #509
I'm getting this as well, so trying the temp fix (`docker system prune -a`) recommended in https://github.com/eclipse/codewind/issues/411#issuecomment-532181522. (This may be a duplicate of https://github.com/eclipse/codewind/issues/411 and https://github.com/eclipse/codewind/issues/433)

[2019-09-23 13:06] rtaniwa commented on #411
I don't believe this issue should be labelled an enhancement. This is a bug. Let's remove the enhancement tag and continue to work with priority given we have seen a number of users hit this.

[2019-09-23 13:11] deboer-tim commented on #411
Ditto. I couldn't reproduce either, but enough people saw it that I think we need to understand what's going on. If anyone is still seeing this, I think it would help if they could take a snapshot of all the installed images before and after the docker purge/reset. IMHO this sounds like one of our stack images (which we attempt to lock down) wasn't locked down and made a breaking change.

[2019-09-23 13:12] mmulholl opened #510 "SVT : Eclipse: Jav Microprofile : Open application view fails for running project"
**Codewind version:**E   Codewind tech preview	0.4.0.v201909191538
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse Comitter 2019-06
**Kubernetes cluster:**

**Description:**
When opening an application, application monitor, or performance monitor views can result in this error: It appears to be intermittent but regular:

![image](https://user-images.githubusercont

[2019-09-23 13:13] mmulholl commented on #510
@jagraj @eharris369

[2019-09-23 13:16] jgwest commented on #469
@eharris369 Re: the second issue, could you keep trying to delete the project every X seconds, until it succeeds?
[code]

[2019-09-23 13:18] jcockbain96 commented on #411
I'll take it

[2019-09-23 13:33] mattcolegate opened #514 "appmetrics- and javametrics-dash to monitor metrics by polling /metrics"
**Codewind version:** vNext
**OS:** All

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/a

**Description of the enhancement:**

This is step 1 in a multi step process to improve the performance dashboard to automatically pick up and display metrics broadcast on a /metrics endpoint. This work will cover `appmetrics-dash` and `javametrics-dash` gai

[2019-09-23 13:56] eharris369 commented on #469
@jgwest
Did you mean the first issue with Maven (the second issue is fixed)?  I would be worried about doing that for 2 reasons:
    1. Trying to delete things while m2e is running might cause m2e to pop up error dialogs
    2. I am not sure how the delete is handled for projects - if it send events for files as it deletes them m2e might start other jobs

The best thing would be to know when all t

[2019-09-23 13:58] tetchel commented on #411
I want to re-iterate that the best fix for this is to find a way to ensure a helpful error is always output (to the error stream) by the installer when it exits with an error code. But I know that may be easier said than done.

[2019-09-23 14:05] #480 closed

[2019-09-23 14:26] deboer-tim commented on #514
What's the main difference between appmetrics-dash and javametrics-dash today? I think one of the goals of this would be to have a single dash that can poll any container's /metrics, possibly with some detection to graph specifics for different languages or frameworks based on what's in the feed.

[2019-09-23 14:54] jagraj opened #515 "SVT:Appsody Microprofile project started in debug mode turning into "Stopped" state when the project is in idle."
**Codewind version:** 0.4
**OS:** Windows

**Che version:**
**IDE extension version:** 0.4
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
Appsody Microprofile project started in debug mode going into "stopped" state after few hours of workspace idle. I left it running in debug mode during weekend and the project went into "stopped" state.

**Steps to reproduce:**
1. Ins

[2019-09-23 15:05] #521 closed

[2019-09-23 15:05] AndyRWatson commented on #521
lgtm

[2019-09-23 15:12] #442 closed

[2019-09-23 15:27] sghung commented on #482
Closing as the feature is covered by https://github.com/eclipse/codewind/issues/78

[2019-09-23 15:27] #482 closed

[2019-09-23 15:35] johnmcollier commented on #78
We also really, really **should** onboard the Che plugin for this to the [Che plugin registry](https://github.com/eclipse/che-plugin-registry)

[2019-09-23 15:37] johnmcollier commented on #518
@beccabau FYI, I went through and updated the install docs to be simpler / more Kube generic, hopefully that addresses most of your concerns

[2019-09-23 15:52] #507 closed

[2019-09-23 16:09] #445 closed

[2019-09-23 16:13] sishida commented on #461
Tagging @kimholmes to notify the design team.

[2019-09-23 16:23] sishida commented on #517
@travis1111 Could you please implement the grey backgrounds to the code blocks and code phrases? Please let me know if I can help in any way.

@kimholmes I'm not sure if you/the design team need or want to be involved with this issue, but because it involves a visual component of the website, I wanted to at least tag you for awareness. 😃

Thanks, team!

[2019-09-23 16:53] sishida commented on #518
@beccabau Becca, when you get the chance, could you please look at John's updated doc at https://www.eclipse.org/codewind/installoncloud.html and let us know if this issue is good to close or if you'd like any more changes? Thank you!

[2019-09-23 16:53] travis1111 commented on #517
Hi, @sishida please assign this to me :-)

[2019-09-23 17:29] jgwest commented on #515
@jagraj While the project was idling, was it waiting on a breakpoint, by chance? (and thus one of the serving threads was blocked)

[2019-09-23 17:37] jopit commented on #32
@jagraj can this be closed please?

[2019-09-23 17:40] jgwest commented on #469
Yes, sorry, meant the first 😑... hmm, good thinking re: M2E popping up error dialogs, that definitely sounds possible/likely.

`isIdle()` looks best... as food for thought, another option would be to grab the job list and look for m2e jobs, but this is kinda hacky/slighty prone to race conditions/might not be easy to identify which jobs are m2e's:
[code]

(@eharris369)

[2019-09-23 17:45] jagraj commented on #515
There are no breakpoints enabled for this project source. Some how it goes into stopped into state from "Debugging".

[2019-09-23 17:48] jagraj commented on #32
SVT complete for this story during 0.4 release. This can be closed if there are no open items from other squads.

[2019-09-23 17:52] jgwest commented on #515
Cool. thanks, my theory was: If the JVM was blocked on a thread due to a breakpoint, it might prevent the Liberty server from replying to requests, which Codewind (or Docker) would interpret as the application being dead. But no breakpoints == not the case...

[2019-09-23 17:53] johnmcollier opened #529 "Consolidate the Codewind Che plugins"
We currently have two separate Che plugins required for Codewind to function:
- `codewind-theia` for the Codewind Theia/VS Code extension
- `codewind-sidecar` for the PFE deployment, reverse proxy, and file watching.

This means that if a user wants to start a Codewind workspace in Che, they need to ensure that both plugins are installed into the workspace, which is usually done by creating a spec

[2019-09-23 17:54] johnmcollier commented on #529
Marking as a tech-topic since there's a number of architectural changes that need to be discussed as a whole

Also adding `area/vscode-ide` as this will require a few changes to the Theia extension.

[2019-09-23 17:55] #474 closed

[2019-09-23 18:09] johnmcollier commented on #528
@jgwest I've gone through and updated the install docs for Codewind on Che to be simpler and more Kube-generic, can you go through it and see if you have any more concerns?

[2019-09-23 18:29] sishida commented on #511
@sghung Could you please let me know which of the following sections need to be removed from Appsody Troubleshooting (https://www.eclipse.org/codewind/troubleshooting.html#appsody-with-codewind)?
- Node.js and Swift templates go from the starting state and then to the stopped state by default
- A project build error appears after you create an initial project
- An Unknown error appears on line one

[2019-09-23 19:06] sghung commented on #511
After researching "Appsody mount errors on Windows Enterprise" some more, this section cannot be removed, as it can still happen. As a result, it looks like none of these sections can be removed so I will close this issue. In the future, when appsody removes the mounting, the Windows case may be resolved and I will open a new issue to remove that doc item then.

[2019-09-23 19:06] #511 closed

[2019-09-23 19:26] eharris369 commented on #469
@jgwest I already checked if there was some way to identify m2e jobs and I could not find one.  They don't appear to have their own job family or anything easy to search on like that.  I suppose I could look at the class name but I don't think that is a good idea.  So I posted a question on stack overflow but nobody has answered yet: https://stackoverflow.com/questions/58016123/need-an-eclipse-sch

[2019-09-23 20:00] mattcolegate commented on #514
The main difference is in the type of metrics exposed that are language-specific - Node, for example, has the Event Loop Latency that is useful for asymmetric programs to monitor to see when their next portion of code will be executed, something that Java doesn't have.
Most of the dashboard's functional backends come from the same common codestream https://github.com/runtimetools/graphmetrics so i

[2019-09-23 20:13] eharris369 opened #530 "[Eclipse IDE] Show a message if there are no available workspace projects to add to Codewind"
Instead of showing an empty list if there are no available projects in the Eclipse workspace to add to Codewind, show a message.

[2019-09-23 21:52] sishida commented on #512
@kimholmes Could design help improve our headings to make them more distinct with different sizes/colors/letter thickness/etc.?

Also tagging @travis1111 for any upcoming implementation after we decide on designs for the headings.

If either of you would like to be assigned to this issue, please leave a comment. (GitHub won't allow me to assign you without you first leaving a comment.)

[2019-09-24 00:40] beccabau commented on #518
Yep, the flow of the docs makes sense and it's much simpler. Thanks!

[2019-09-24 00:40] #518 closed

[2019-09-24 01:03] tetchel opened #533 "Unable to use Nodejs profiler with appsody applications in vscode"
From https://github.com/eclipse/codewind-node-profiler/issues/5

@csantanapr commented on [Mon Sep 23 2019](https://github.com/eclipse/codewind-node-profiler/issues/5)

Using VSCode Codewind node.js profiler with appsody app it doesn't highlights the code with profiling metadata

Steps to reproduce:
- create appsody app
[code]
- Add app to codewind workspace
- Right click on app select `Open Perfo

[2019-09-24 03:27] jgwest commented on #469
@eharris369 👍 . Checking the job's package name/class was what I was thinking of, but I have the same qualms that you do.

[2019-09-24 08:31] tobespc commented on #533
This has never been tested with appsody.  Its only been tested with vanilla node apps as it was written before appsody came along.

[2019-09-24 13:20] kimholmes commented on #155
Adding myself.

[2019-09-24 13:41] kimholmes commented on #164
@tobespc

[2019-09-24 13:56] tetchel opened #534 "Convert 'add new project' user flow to a proper wizard"
It should have a back button, steps, probably a doc link, etc.

[2019-09-24 14:21] #530 closed

[2019-09-24 14:31] keithchong opened #535 "OpenAPI: Add UI tests to test the three generator wizards"
**IDE:** This issue is for OpenAPI on Eclipse

A new UI-based test plugin has been committed via https://github.com/eclipse/codewind-openapi-eclipse/pull/53 with initial tests to test the context menus and the OpenAPI content types.

This issue is for adding UI tests to test the three generator wizards.

[2019-09-24 14:35] jcockbain96 commented on #411
As this comes from a similar place to https://github.com/eclipse/codewind/issues/462 (the `start` command on the CLI). I'm testing where we aren't outputting to stderr there and will add some more checking.

[2019-09-24 14:47] keithchong commented on #485
Closing.  The fix has been merged via https://github.com/eclipse/codewind-openapi-eclipse/pull/43

[2019-09-24 14:47] #485 closed

[2019-09-24 14:50] keithchong commented on #470
Closing.  The fix has been merged via PR https://github.com/eclipse/codewind-openapi-vscode/pull/44

[2019-09-24 14:50] #470 closed

[2019-09-24 14:54] ssh24 commented on #505
@rajivnathan I am working on this. Could you please assign this to me?

[2019-09-24 15:00] thisguy-1 commented on #155
we also might need an icon that labels Connection different from the icon we have for Local. Might be it isnt necessary, depending on where we locate the icon I created on the right side.

[2019-09-24 15:16] eharris369 opened #537 "[Eclipse IDE] Do not use FILL for verticle alignment as it looks bad on MAC"
Minor fixes to ProjectSelectionPage:
- Using FILL for vertical alignment on the MAC results in a huge text box that makes the text look really small.
- Also missed an error case where a Codewind project already exists with the same name.

[2019-09-24 15:36] #537 closed

[2019-09-24 15:54] NottyCode opened #547 "Plugin asks user where to generate files to"
I have a maven project in vs code and the tool asks me where to write the generated Java source files. Given this is a maven project the tool should know to write the generated code into the `src/main/java` folder. Perhaps `src/test/java` might be a contender, but even then the question should be should this go into main or test, not which folder under src should it go into.

[2019-09-24 16:20] NottyCode opened #549 "Generated client test doesn't follow integration test conventions"
The generated test client is called `src/test/java/org/openapitools/api/DefaultApiTest.java` however it is not a unit test, it is an integration test which means that it needs a running server to work. These should be run by the failsafe plugin, not surefile and its convention standard convention to name the feature so it would be called `src/test/java/org/openapitools/api/DefaultAPiIT.java`

[2019-09-24 16:27] keithchong commented on #461
File icon:

<img width="142" alt="Screen Shot 2019-09-23 at 5 42 32 PM" src="https://user-images.githubusercontent.com/7726022/65530758-88b58880-dec6-11e9-8ff6-9214aa32a045.png">

[2019-09-24 16:27] keithchong commented on #461
Interim wizard icons:

<img width="528" alt="clientGenWizard" src="https://user-images.githubusercontent.com/7726022/65530817-a97dde00-dec6-11e9-9362-3052d7159af0.png">

<img width="508" alt="genMenuActions" src="https://user-images.githubusercontent.com/7726022/65530818-a97dde00-dec6-11e9-98ec-8ced5b66c516.png">

<img width="527" alt="htmlGenWizard" src="https://user-images.githubusercontent.com/

[2019-09-24 16:38] NottyCode opened #550 "Generated client won't build"
After generating the client into my project I run mvn verify and get the following errors:

[code]

I'm pretty sure this is because the generated client was written into a `src/gen/java` folder rather than `src/main/java` and no update to my maven pom was made to cause that to be built.

[2019-09-24 16:41] NottyCode opened #551 "Generated code won't compile because maven dependencies are missing"
I've fixed my project so the generated classes are compilable and now I get this:

[code]

Similar to eclipse/codewind#550 the pom isn't updated for dependencies that are needed to build the project as a result of the generated code.

[2019-09-24 16:46] rajivnathan commented on #478
@makandre If you agree with the last comment think we can transfer the bug to appsody area? Or do you and @tetchel think the message still needs an update?

[2019-09-24 16:50] tetchel commented on #478
It's super minor, but I don't think we should expose "debugNoInit" to the user, can we just call it debug mode?
https://github.com/eclipse/codewind-vscode/blob/master/dev/src/codewind/project/ProjectCapabilities.ts#L39

[2019-09-24 17:00] makandre commented on #478
I agree with @tetchel that this is more of a message change.

I am not sure how, or whether we should, try to map capabilities to specific stack in Codewind, because "stack" is an appsody concept (and part of the extension side) and Codewind shouldn't be required to understand what a stack is

[2019-09-24 17:24] ssh24 commented on #396
@stalleyj Maysun pushed some additional changes on my branch that might probably fix the issue you were facing. Could you please pull latest and try it out again? https://github.com/ssh24/codewind/tree/cw-396

[2019-09-24 17:41] sghung commented on #522
We will re-open this later. As of right now, there is no immediate need for copying MD files from other repos.

[2019-09-24 17:41] #522 closed

[2019-09-24 17:47] ssh24 commented on #365
@rajivnathan I am looking into this on the stablization work. Could you please assign me to this?

[2019-09-24 17:52] rajivnathan commented on #407
This is now complete. See #506 for details

[2019-09-24 17:52] #407 closed

[2019-09-24 19:31] keithchong commented on #79
We've added documentation to the trouble-shooting section of the help.  See the last paragraph in:
https://www.eclipse.org/codewind/troubleshooting.html#openapi-tools

Currently, the commands/wizards from the VS Code extension and Eclipse plugin are 'dumb' in that they simply generate the code into the user-selected output folder.  It affects usability because the generated code will usually not

[2019-09-24 19:36] jagraj opened #538 "SVT:Show all logs not enabled for Java project when I right click after importing project into codewind"
**Codewind version:** 0.4
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.4
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
After importing Rogue cloud from (https://github.com/sujeilyfonseca/rogue-cloud-client-codewind) , "Show log Files" option is not enabled. I need to refresh the "Codewind explorer" to get this option. The application started building

[2019-09-24 20:52] sishida commented on #498
@sghung Hi, Steven, Could you please review my PR for this issue? https://github.com/eclipse/codewind-docs/pull/159

[2019-09-25 08:43] vrushaliinamdar commented on #307
@johnmcollier,

Did you get a chance to look into the information given? Please let me know if you need more details / inputs.

[2019-09-25 10:40] stalleyj commented on #396
@ssh24 @maysunfaisal The test does indeed pass now but we absolutely cannot have code in our product that is behaving different in "test' mode.  There must be a better solution to this ?

[2019-09-25 12:49] rajivnathan commented on #396
Agreed with Julie. Judging by the changes I'm guessing it was more investigative than a proposed solution? It's good that we've weeded out the problem. Definitely should not inject code that checks if we're in test mode in product code in the final solution.

[2019-09-25 13:17] MelHopper commented on #512
@kimholmes the other item we didn't have time to discuss - the best-practice design/style for topics that I've ever come across - the styling of this webpage made following this tutorial incredibly easy:

https://docs.docker.com/get-started/part2/

(see tabs on the top of the page for other parts within this tutorial)

The webpage uses:
- mixture of header sizes
- marks on text to indicate 'aside'

[2019-09-25 13:18] tobespc commented on #123
this is now implemented and the codewind repo has this change in
https://github.com/kabanero-io/codewind-templates/blob/master/devfiles/templates.json

[2019-09-25 13:18] #123 closed

[2019-09-25 13:24] jopit commented on #123
I believe the PR for this is https://github.com/eclipse/codewind/pull/426

[2019-09-25 13:24] MelHopper commented on #472
Github issue https://github.com/eclipse/codewind/issues/512 deals with part of this.

[2019-09-25 13:32] stalleyj opened #539 "Codewind CLI commands fail if not run in a specific order"
**Description:**
As we develop the installer into a cli, it has become apparent that some of the Codewind CLI commands require you to run install and start before they can be run successfully.  It doesn't seem right for a CLI to behave this way and I don't think we should be chaining commands together. We should return a sensible message informing the user of this.

**Steps to reproduce:**
For exa

[2019-09-25 13:39] groeges opened #540 "Template Source Manager doesn't allow URLs to github without the raw link"
When attempting to use "Manage Template Sources" to add a new template, you are unable to add a URL to a github repository that doesn't use a raw link.

The URL I was trying to add was the `Kabanero` URL: https://github.com/kabanero-io/collections/releases/latest/download/kabanero-index.json.

The `Appsody Stacks` template that comes as default doesn't use a raw link!!!

Unfortunately, the only re

[2019-09-25 13:42] jopit opened #541 "Use template source name and description coming from templates.json file"
See issue #123 and PR #426

[2019-09-25 13:44] #32 closed

[2019-09-25 14:12] tetchel commented on #540
🤦‍♂

[2019-09-25 14:14] tetchel commented on #539
same as https://github.com/eclipse/codewind/issues/462

[2019-09-25 14:23] tetchel commented on #541
Out of the 3 default repositories, only one has a `name`. Do we want to make this change without those?

[code]

[2019-09-25 14:26] tetchel commented on #540
You can work around it by editing `codewind-workspace/.config/repository_list.json` by hand to add your new repository, and the restarting Codewind. Note the object at the bottom of the array:

[code]

[2019-09-25 14:27] jopit commented on #491
I find the idea of storing the "master" copy of Codewind metadata in a docker volume a little worrying.  If the docker volume gets deleted (because the user reinstalled docker or because they pruned all volumes to free up disk space for example) the metadata is lost.

I would be happier if the "master" copy of the metadata was always on the filesystem, and was changed first on the filesystem and t

[2019-09-25 14:29] jopit commented on #541
Why couldn't we use the name and description if it exists, else do what we currently do?

[2019-09-25 14:30] tetchel commented on #541
what do we put in the "name" column of the table for the ones that don't have names

[2019-09-25 14:31] jopit commented on #541
@makandre are you going to be able to update the data provided by the appsody extension to include a name and a better description.

[2019-09-25 14:35] jopit commented on #541
@tetchel We either put the description or we put something indicating there is no name.

[2019-09-25 14:41] jopit commented on #541
Maybe we should open a PR against https://github.com/kabanero-io/collections to provide a templates.json file

[2019-09-25 14:44] makandre commented on #541
I can try to bring it up with appsody team.  But they would need to understand why we need them to host another file. They had expressed concerns before about hosting non-appsody related files (such as devfiles).  Can you post a screenshot for where the information in templates.json is used?

I was also under the impression that templates.json was optional and things work without one.

[2019-09-25 14:52] makandre commented on #292
After some feedback from @deboer-tim, I tweaked my code so that the questions are collapsed down to one level (so appsody doesn't feel like a second class citizen).  Please consider this still a prototype mainly to flesh out what data the API needs to return and demonstrate how it can be consumed.

![image](https://user-images.githubusercontent.com/17596240/65610869-f83b7e80-df7f-11e9-82b9-4d100be

[2019-09-25 14:53] maysunfaisal opened #543 "[Iterative-dev] Intermittent Turbine Kube Functional Tests"
**Codewind version:** latest
**OS:** linuux

**Description:**
Seeing intermittent failures on Kube:

Sept 24:
[code]

Sept 25:
[code]

**Steps to reproduce:**

**Workaround:**

[2019-09-25 14:54] tetchel commented on #292
Can we prepend "Codewind " to each of the lower ones, so they don't look so sad? :(

[2019-09-25 14:55] tetchel commented on #292
I still like the idea of adding a first step in which the user selects the style to use, otherwise this list will continue to get more and more intimidating.

Select a project style: Appsody, Codewind, odo
If they select appsody, show the Appsody stack types
Else if they select Codewind, show the Codewind build types

etc

[2019-09-25 15:10] jopit commented on #541
@makandre where does the current description come from?  Presumably the name should come from the same "place"

[2019-09-25 15:17] makandre commented on #541
@jopit here: https://github.com/eclipse/codewind-appsody-extension/blob/master/templatesProvider.js#L55

[2019-09-25 15:20] jopit commented on #541
@makandre so if the description is provided by the appsody extension, then the extension should also provide the name, and it's up to the extension as to where the name comes from.

[2019-09-25 15:36] makandre commented on #541
I see. Ok, maybe I got confused and thought that the name/description had to come from a templates.json file.  If that's not a requirement, then I could easily change it to be:

[code]

`name` is what we get back from appsody CLI's output:
[code]

Or some variation of that, but basically I only have `NAME` and `URL` from the CLI to work with

[2019-09-25 15:42] jopit commented on #541
@makandre  would it make sense if part of the description could point the user to https://appsody.dev/ ?

[2019-09-25 15:57] sishida commented on #477
ID will add this info to the "Creating a new project" section of the Troubleshooting page.

[2019-09-25 16:10] sishida commented on #496
@AndyRWatson Hi, Andy,

Today the ID team discussed a location for sharing articles like this one. Medium and Developer.ibm.com came up as potential places, but we think that the fastest/easiest place would be to add it to Codewind.dev as a new tab along with "Docs" and "News."

Does this sound good to you? If you'd prefer a place like Medium instead, could you please let us know the Codewind acco

[2019-09-25 16:13] sishida commented on #406
After discussing this issue during the Codewind leads call today, we concluded that we can close this issue.

[2019-09-25 16:13] #406 closed

[2019-09-25 17:18] #365 closed

[2019-09-25 17:50] makandre commented on #292
Something that may help with filtering the list: https://github.com/appsody/appsody/issues/372

[2019-09-25 17:54] NottyCode opened #545 "Multiple project folders are usuable"
If you have multiple project folders in vs code (I do this a lot) then you have two source directories with the same name that are eligible to be mounted into docker and there is no way to tell which is which when generating the rest client.

Also seems odd that the target folder is a contender since by definition it isn't source.

<img width="1213" alt="image" src="https://user-images.githubuserc

[2019-09-25 17:54] NottyCode opened #546 "Plugin cannot locate openapi v3 yaml"
When using the Open Liberty Open API guide project it places the openapi.yaml in src/main/webapp/META-INF and the code wind project cannot find the yaml to generate a client.

https//github.com/openliberty/guide-microprofile-openapi.git

[2019-09-25 17:55] NottyCode opened #548 "Client generator shouldn't add swagger annotations"
I have a yaml in my project and I've used it to generate a JAX-RS client. Given I have the yaml which is the definitive definition of the API there is no need to add any of the swagger apis to the generated code. This would significantly simplify the generated code from an end user perspective.

[2019-09-25 17:57] tetchel opened #552 "Improve Codewind template source metadata"
Currently:
[code]

Current proposals for 0.5.0:
- Codewind
  - Name: Codewind templates
  - Description: Use Codewind to create projects in your choice of IDE.
- Appsody (from Appsody tech lead)
  - Description: Use Appsody to rapidly develop cloud ready applications built on the best practices of sharable technology stacks.
- Kabanero
  - Description: Kabanero, an open source project, brings toge

[2019-09-25 17:59] tetchel commented on #552
These strings are sourced from:
https://github.com/kabanero-io/codewind-templates/blob/master/devfiles/templates.json

[2019-09-25 18:01] keithchong commented on #549
The test name and its contents are created based on their templates.  Looks like for this one, the class name is:

public class {{classname}}Test

The Codewind extension does not control the name or the test contents.  (The Java test looks bare and has several TODOs.   The user needs to do some coding to get the tests running and with a running server).

@sghung, please return this as as-designed.

[2019-09-25 18:08] tetchel commented on #541
[kabanero data](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Templates.js#L32)

[2019-09-25 18:09] keithchong commented on #551
@sghung , please resolve this as a dup of https://github.com/eclipse/codewind/issues/79

Maven project customizations/setup.

[2019-09-25 18:10] keithchong commented on #550
@sghung , please resolve this as a dup of https://github.com/eclipse/codewind/issues/79

Maven project customizations/setup.

[2019-09-25 18:20] keithchong commented on #548
Hi @NottyCode , I don't think I can control whether annotations should or should not be added.  It's in the specific generator.

On a related note, you can be selective in terms of which Java packages/classes is generated.  For example, there is an option to turn off generating the org.openapitools.api package, and only generate the org.openapitools.model package and so.   If you'd like that, then

[2019-09-25 18:22] keithchong commented on #547
@sghung , please resolve this as a dup of #79

Maven project customizations/setup.

[2019-09-25 18:23] ssh24 commented on #396
@stalleyj That was more for an investigation than a solution. There are some more changes we worked and pushed to our branch today. The change was basically creating our own entrypoint script with the correct content the extension is looking for and the right permissions. It looks to be working in our end. Could you please pull and rerun the test?

[2019-09-25 18:31] sishida commented on #552
@tetchel: Thanks for bringing this to our awareness. ID should be reviewing all strings, messages, etc.

[2019-09-25 18:33] keithchong commented on #545
@sghung , I can reproduce this.    However, I can't reproduce this if I use the codewind-workspace as the vscode workspace.    Please assign this to me, and add the `kind/bug` label.

[2019-09-25 18:43] tetchel commented on #552
We need a description for the Appsody and Kabanero template repositories too

[2019-09-25 18:45] tetchel commented on #541
https://github.com/eclipse/codewind/issues/552 related

[2019-09-25 18:48] rajivnathan opened #553 "Intermittent build failures due to automated tests"
**Description:**
The PR tests run as part of the Jenkins build are failing intermittently.

master build:
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/111/console

PR build:
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-544/2/console

[2019-09-25 18:59] ssh24 commented on #553
I have also been seeing this intermittently on some of my PRs.

[2019-09-25 19:24] sghung commented on #551
Closing based on Keith's comment.

[2019-09-25 19:24] #551 closed

[2019-09-25 19:27] sghung commented on #550
Closing based on Keith's comment regarding this being a dupe of #79

[2019-09-25 19:27] #550 closed

[2019-09-25 19:28] sghung commented on #547
Closing based on Keith's comment regarding this being a dupe of #79

[2019-09-25 19:28] #547 closed

[2019-09-25 19:41] sishida commented on #525
All PRs for all repos have been merged! Closing this issue! 😄

[2019-09-25 19:41] #525 closed

[2019-09-25 20:37] sishida commented on #477
The PR to update the Troubleshooting page is merged. Closing this issue.

[2019-09-25 20:37] #477 closed

[2019-09-25 20:45] sishida commented on #552
@j-c-berger Could you please contact someone from the Kabanero team to provide the Kabanero description? If you would like to see more of the context for where this description will be used, just let me know. 👍

I will see if I can find someone to contact for the Appsody description.

[2019-09-25 20:53] josephca opened #555 "Fix deliverable file name to be compatible with other Codewind projects"
it would be better to have the same pattern for the deliverable file names

i.e.
codewind-openapi-tools-0.2.0_2019-06-28-1524.vsix ->  codewind-openapi-tools-0.2.0-201906281524.vsix

[2019-09-25 20:56] keithchong opened #556 "Integrate Open API tools with IntelliJ"
We currently have Eclipse and VS Code.

Integrate Codewind with the current IntelliJ wrapper

[2019-09-26 03:21] johnmcollier commented on #307
@vrushaliinamdar Changes look okay to me, so I'm not sure on the errors.

@tobespc and his team will need to look at the test failures, as its their tests that are failing.

[2019-09-26 08:09] tobespc commented on #553
first failure is this

18:35:14
18:35:14    29 passing (47s)
18:35:14    15 pending
18:35:14    1 failing
18:35:14
18:35:14    1) Batch enabling repositories
18:35:14         1 repo
18:35:14           "before all" hook for "returns 207 and sub-status 200 for each subrequest when batch disabling 1 repos":
18:35:14       Error: Timeout of 10000ms exceeded. For async tests and hooks, ensure "done()"

[2019-09-26 08:10] tobespc commented on #553
2nd failure

 1) Batch enabling repositories
16:55:53         1 repo
16:55:53           "before all" hook for "returns 207 and sub-status 200 for each subrequest when batch disabling 1 repos":
16:55:53       Error: Timeout of 10000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (/home/genie.codewind/jenkins-agent/workspace/Codewind_cod

[2019-09-26 09:17] hhellyer opened #557 "/api/v1/registry should set deployment registry as well as get"
As identified in https://github.com/eclipse/codewind/issues/504 the deployment registry API can query and return the value of the deployment registry but requires the editor plugins to set it by writing to the file directly.

The setting and getting this value should really use the same mechanism, since remote mode will block the editor plugins from having direct access to files the PFE container

[2019-09-26 09:40] groeges commented on #540
@tetchel Thanks. The workaround worked.

Is it possible to use file:// URLs to specify the templates?

[2019-09-26 10:01] micgibso commented on #523
@MelHopper
`A few proposals...` section has been extracted into a new work item, see https://github.com/eclipse/codewind/issues/473.

The `formatting and headings` proposal is covered in https://github.com/eclipse/codewind/issues/512.

This just leaves the following to close this issue out:
`Pre-requisites in Codewind list Docker Compose BUT Docker desktop for Mac already has Docker Compose bundle

[2019-09-26 10:54] micgibso commented on #523
@MelHopper
Further update, spotted that our Getting started instructions for both Eclipse and VS Code are missing the Docker install prereq so added as an extra step 2 on the above PR and reordered the list numbering which was out of kilter.

[2019-09-26 12:12] liamchampton commented on #255
As per mentioned in PR, the things still to do to complete this:
- Update README.md
- Rename repository
- Update NOTICE.md repository link
- People may need to rename their local directory to match that of the folder tree on file imports within the code base from `github.com/eclipse/codewind-installer` -> `github.com/eclipse/cwctl`
- Rename file paths on imports to match the folder tree
- Change d

[2019-09-26 12:45] stalleyj commented on #396
Latest results:-
PFE - unit test
    actions module
      combinational testing of enableautobuild & disableautobuild function
        ✓ combo1enableautobuild => args: {}
        ✓ combo1disableautobuild => args: {}
        ✓ combo2enableautobuild => args: {"projectID":"dummynodeproject"}
        ✓ combo2disableautobuild => args: {"projectID":"dummynodeproject"}
        ✓ combo3enableautobuild =>

[2019-09-26 12:53] j-c-berger commented on #552
Thanks @sishida I'll get to it.

[2019-09-26 13:04] tetchel commented on #540
No, http(s) only. Do you want to point to a local template, or a local template repository (`index.json`) ?

[2019-09-26 13:42] sishida commented on #552
@tetchel What is the deadline for this work? Do we want this work done by 0.5.0 or a different time? Thanks! 👍

[2019-09-26 13:43] tetchel commented on #552
It would be good to have this done for 0.5

[2019-09-26 14:00] deboer-tim commented on #491
Discussed on tech topics:
 - We'll start using Users/<user>/.codewind for the '.' files
 - On upgrade (if workspace exists and .codewind doesn't), the cli will move '.' files over

[2019-09-26 14:03] tetchel opened #559 "Provide user-friendly directions for adding own templates or template index"
https://github.com/eclipse/codewind/issues/540#issuecomment-535492577

We have to provide proper directions to walk users through adding their own templates.

[2019-09-26 14:12] sishida commented on #559
Note: We are not aiming to get this completed by 0.5.0.

[2019-09-26 14:13] tetchel opened #560 "Provide user directions for getting the codewind-workspace ingress/route"
With the current hybrid architecture, the user has to specify the codewind-workspace ingress (or route on openshift).

1. Log into the cluster
2. `kubectl get ing | grep codewind-workspace` or `oc get route | grep codewind-workspace` in the relevant namespace
3. It's the second item, eg in:
[code]
we're looking for: `codewind-workspacef46yui3s8782yntz-che-che.10.102.13.205.nip.io`.

Alternatively,

[2019-09-26 14:24] johnmcollier commented on #560
Can we assume the installer/CLI needs an active Kube context for Hybrid to function? If so, could we just have the installer/CLI look up the ingress URL for PFE instead?

[2019-09-26 14:28] maysunfaisal commented on #396
@stalleyj Hi Julie, could you pls pull and run again? Looks like the logs are from the prev commit.. Here is the branch https://github.com/eclipse/codewind/compare/master...ssh24:cw-396?expand=1

[2019-09-26 14:39] makandre opened #564 "How to handle .appsody config and repos without codewind-workspace"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

Currently there are instructions telling users to make their local appsody CLI use the same configuration as Codewind's.  This allows them to add a repo in their local CLI, and it shows up in Codewind.

This is possible because Codewind's `.appsody` configura

[2019-09-26 14:43] sishida commented on #498
@sghung Thank you for merging the PR. Is this issue now good to close?

[2019-09-26 14:51] johnmcollier opened #566 "Buildah RPMs get removed every 3-6 weeks"
The version of buildah that's bundled with CentOS is too low for us to use (bugs with certain docker builds, no way to log in to a registry, etc), so we pull down an RPM to install instead (from https://download-ib01.fedoraproject.org/pub/fedora/linux/updates/30/Everything/x86_64/Packages/b/). This allows us to install a newer version of buildah onto CentOS

The problem is that the mirror (and oth

[2019-09-26 15:03] sishida commented on #466
After talking with @jagraj, we are currently unsure if this issue will go away, so we will wait until testing of the 0.5.0 hybrid scenario until we take further action.

[2019-09-26 15:08] jcockbain96 commented on #539
Yes, #462 is one of the examples of this. I'd imagine the one that will be hit most. I am about to PR against the CLI for that one specifically, but then this suggests we should give proper instructions for any command run without having a PFE container running.

[2019-09-26 15:41] tobespc opened #567 "Which docker registry to use ?"
For deploying apps in the cloud, we need a registry to push the images to.  Should we packagr our own or rely on users installing there own as a prereq.

Tech Topic results
=============

General consensus for now is that we should pre req a user having installed a registry already and we will provide api's on the cli to set secrets and any other initialisation steps.  In the future, should we dis

[2019-09-26 15:42] #567 closed

[2019-09-26 15:47] hhellyer opened #568 "Make project deployments 'owned' by their direct PFE parent deployment."
At the moment when projects are deployed in kubernetes environments (currently just che) their deployments are modified to add an 'ownerReferences' section that references the che deployment. This has to be passed through in an environment variables so that the PFE container can set it on the deployments it creates. The PFE deployment also references the Che deployment. This is all done so that wh

[2019-09-26 15:50] johnmcollier commented on #568
I can tackle this.

Should be a small change to `modify-helm-chart.sh` and the deploy-pfe code to accommodate this, and will work for both Che and Hybrid.

[2019-09-26 16:50] tetchel commented on #541
Right now if a user adds their own template source, they will be prompted to enter a description, but not a name, for it. The [backend code](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/templates.route.js#L49) won't accept a `name`. How should we deal with this?

1. Allow that POST endpoint to accept a `name` too, and prompt the user for a name and optionally a description

[2019-09-26 17:07] sghung commented on #443
Fix has been delivered. The TOC is generated from a defined list. The TOC can't be generated dynamically without a list, since we still need to define the order, main topics, sub topics, etc. However, it will be much easier for ID and others to add new items to the list and have it show up (without any coding).

[2019-09-26 17:07] #443 closed

[2019-09-26 17:13] kimholmes commented on #512
Thanks. I will roll this into the overall revamp we're doing for the Docs page. I've created a new issue in the design repo here:
https://github.ibm.com/dev-ex/icap-design/issues/94

[2019-09-26 17:34] sghung commented on #498
Thanks, closing

[2019-09-26 17:34] #498 closed

[2019-09-26 18:02] deboer-tim opened #570 "Disambiguate similar templates from different repos"
**Codewind version:** 0.4
**OS:** Mac

**Description of the enhancement:**
When you have two or more repos configured, sometimes they have very similar template names, sometimes even duplicate (or near-duplicate) ones. We should include the repo name in these cases to help distinguish them.

**Proposed solution:**
I've seen a more elaborate design from Guy, but the simpler initial fix is to add th

[2019-09-26 18:04] deboer-tim opened #571 "Clean up plugin providers"
**Codewind version:** 0.4
**OS:** Mac

**Description:**
Some of the plugins still list IBM as a provider, and on 0.3 at least one plugin (filewatcher) didn't have a valid name. Worth checking all the feature + plugin manifests to make sure they're clean and consistent.

[2019-09-26 18:57] deboer-tim commented on #292
For Tim E's idea, maybe the API should filter based on something like the list of styles of the configured repositories? First, this would simplify the options and streamline to what the user is trying to do; second, I'm guessing that (for example) if you didn't have any Appsody repos configured then we probably don't have any stacks to show you anyway.

[2019-09-26 19:04] ssh24 commented on #397
@maysunfaisal Could you verify and close this issue?

[2019-09-26 19:05] makandre commented on #292
The `/api/v1/project-types` API is going to get project type from enabled repos only:
https://github.com/eclipse/codewind/pull/508/files#diff-6e0c5846408558ac24fed6e7092696f1R77

So in that way the list you get back already contains only styles you have enabled.

[2019-09-26 19:07] ssh24 commented on #416
@maysunfaisal Can you please verify and close this issue?

[2019-09-26 19:21] #540 closed

[2019-09-26 19:45] deboer-tim commented on #541
IMHO the ideal flow would be something like:
 - User enters a URL
 - We automatically pick up the name and description from there (if it has them)
 - We allow the user the option to edit or add any missing info before saving

To me this keeps a simple/fast default flow, allows the user to enter any missing info/supports repos that don't include the info, and still allows them to give a more meanin

[2019-09-26 19:50] johnmcollier opened #572 "Project creation broken on Kube due to CLI changes"
**Codewind version:** latest

**Che version:** 7.1.0
**IDE extension version:** latest
**IDE version:** latest
**Kubernetes cluster:** ROKS 3.11

**Description:**
Project creation is broken on the latest Codewind images, as the extension is trying to call out to the initialize container which doesn't exist on Kube / Che. The follow error is spit out by Theia:
<img width="547" alt="Screen Shot 2019

[2019-09-26 20:03] johnmcollier commented on #572
http://download.eclipse.org/codewind/codewind-vscode/master/65/codewind-theia-0.5.0-201909201551.vsix

[2019-09-26 20:26] johnmcollier commented on #572
May be something at the installer level actually? The error message `CONTAINER_LIST_ERROR` is coming from the Codewind CLI.

Adding the `area/portal` label too, just in case.

[2019-09-26 20:58] johnmcollier commented on #572
Dug a little further, not a theia extension bug like I thought. Bug is in the CLI:

When validating for a new project, the CLI is calling `apiroutes.GetExtensions()`, which ends up calling out to the Docker Daemon to get the container. However, since the docker daemon isn't accessible on Kube, it fails.

https://github.com/eclipse/codewind-installer/blob/58b800df4fb77190d163ab3b8263307fba2caa97/ac

[2019-09-26 21:02] makandre commented on #572
My bad, caused by https://github.com/eclipse/codewind-installer/pull/119

[2019-09-26 21:25] malincoln commented on #572
@johnmcollier Should this be fixed for 0.5.0?

[2019-09-26 21:27] malincoln commented on #411
@jcockbain96 as this is in progress for next release, pls add 0.5.0 release.  Thanks

[2019-09-26 21:27] johnmcollier commented on #572
@malincoln Yup, it's a stop ship for 0.5.0

[2019-09-26 21:32] malincoln commented on #572
@johnmcollier can you update label to "priority/stopship"?

[2019-09-26 21:38] johnmcollier opened #573 "Create tutorial on how to set up and use a custom docker registry with Codewind"
As discussed on this morning's tech topic call, we didn't want to bundle a docker registry with Codewind right now, but also acknowledged that users _may_ want to use Codewind with an internal/custom registry. So we decided to create a doc or tutorial of sorts outlining how to set one up, and then configure Codewind to use it.

Things to cover:
- Install a Docker registry on Kube
   - Pick a small

[2019-09-26 21:38] johnmcollier commented on #573
I'll run with this and see what needs to be done, not a super high priority item so I'll tackle it when I've got a lull.

@sishida FYI

[2019-09-26 21:45] malincoln commented on #557
@tetchel should svt label be added?

[2019-09-26 22:38] tetchel commented on #557
This falls pretty squarely under the hybrid story so I don't think that's necessary

[2019-09-27 04:36] muralidharchavan opened #575 "Error starting Codewind 0.4 on Eclipse 4.13.0"
**Codewind version:** 0.4
**OS:** Mac Mojave 10.14.6

**Che version:**
**IDE extension version:**
**IDE version:** 4.13.0
**Kubernetes cluster:**

**Description:**
After upgrade from Codewind 0.3 to 0.4, Codewind does not start and throws up the error as shown in the image.
<img width="362" alt="Error" src="https://user-images.githubusercontent.com/25784779/65742552-454d5b00-e10e-11e9-90ca-3776aec

[2019-09-27 12:13] vrushaliinamdar commented on #307
@tobespc could you please help?

[2019-09-27 13:05] jcockbain96 commented on #462
https://github.com/eclipse/codewind-installer/pull/129

[2019-09-27 13:19] hhellyer opened #576 "Move PFE deployment code from codewind-che-plugin to codewind-installer to enable stand alone deployments of PFE outside of Che."
To enable remote/hybrid mode we need to be able to deploy the Codewind back end (the PFE container and friends) into kubernetes without Che. Moving this function to the installer will make it available to the IDE plugins so they can prompt the user to deploy PFE to a kubernetes cluster. The installer is included in the Theia plugin that we provide for Che and so will still be available there when

[2019-09-27 13:19] hhellyer commented on #576
Issue #568 is directly related to this and will be needed to install the Codewind backend without a parent Che installation.

[2019-09-27 13:27] hhellyer commented on #576
I've confirmed we can deploy PFE stand alone in kube by deploying to kubernetes in docker locally.
The yaml for this is below (so I don't lose it). The ownerReferences had to be commented out as there was no Che installation. It was necessary to create the secrets the yaml references first.

In the installer these should be conditional on whether we are using Che. Also for any deployments to work

[2019-09-27 14:04] malincoln commented on #541
@jopit @tetchel pls set release to "0.5.0".  Thanks

[2019-09-27 14:17] jcockbain96 commented on #539
Looking at the commands as-is I can see the following requirements:

- Catch the above case and others that require a pfe backend to be up. i.e `Codewind is not running, call install and then start`

- #462 handles start without the tagged images installed.

- `Stop` & `stop-all` currently will reply `stopping containers` even if none exist. This could be `No Codewind containers running`.

- `remo

[2019-09-27 14:35] tetchel commented on #575
Hi, it looks like Docker has mismatched the identifier for your codewind_network. Can you:

1. Run `docker network remove codewind_network` in a terminal
2. Right-click Codewind in the Codewind Explorer view  and select Uninstall.
3. Right-click the Codewind item again and select Start. This will recreate the network and reinstall the images.

[2019-09-27 14:50] makandre commented on #292
I now have the end-end scenario working:

1. have a non-appsody project (without an `.appsody-config.yaml`) on my filesystem
2. add the project to Codewind, when prompted, choose an appsody stack (`Appsody python-flask` for example)
3. Codewind CLI runs `appsody init appsody/python-flask none` on the project, this initializes the project and creates the `.appsody-config.yaml` file
4. project is no

[2019-09-27 17:20] jopit commented on #576
It makes perfect sense to move this function into the installer to make it easy for an administrator to install the Codewind back end into a kube cluster.

However, this is not really something a developer would do, so exposing this function in the IDEs is questionable.

[2019-09-27 18:08] naveenkaratekid opened #577 "Debugging in Appsody MicroProfile template not working"
**Codewind version**:0.4.0 Build 201909191538
**OS: MacOS Mojave 10.14.6 and Windows 10**

**IDE extension version:0.4.0**
**IDE version: VSCode 1.38.1**

**Description:**
Debugging does not work for Appsody MicroProfile template in VSCode in Mac or Windows. Getting error saying
[code]
![unable to attach debugger for appsody microprofile VSCode](https://user-images.githubusercontent.com/19738071/6

[2019-09-27 18:30] tetchel commented on #577
https://github.com/eclipse/codewind/issues/300 ?

[2019-09-27 18:31] tetchel opened #578 "No version data in remote /environment API"
The `/environment` endpoint of Codewind on Che (and probably pfe-without-che too) is missing the `codewind_version` attribute.

[code]

[2019-09-27 19:02] johnmcollier commented on #576
@jopit Wouldn't the IDEs need to be able to start Codewind on Kube for Hybrid? Much like how it's starting Codewind locally right now

[2019-09-27 19:33] naveenkaratekid commented on #577
Oh yea, my bad @tetchel. Thanks for reminding me.

[2019-09-27 21:03] #577 closed

[2019-09-27 21:39] thisguy-1 commented on #393
Hybrid Flow:

![1  Jane Creates a connection](https://user-images.githubusercontent.com/52169824/65803777-a6485380-e14d-11e9-95ea-5c5b4668fafd.png)
![2  Jane gets editable Remote Connection form](https://user-images.githubusercontent.com/52169824/65803778-a6e0ea00-e14d-11e9-90d2-0ba94a9e4bd9.png)
![3  Jane gets an error and decides to exit without saving](https://user-images.githubusercontent.com/

[2019-09-27 21:40] thisguy-1 commented on #393
<img width="911" alt="Screen Shot 2019-09-27 at 5 39 41 PM" src="https://user-images.githubusercontent.com/52169824/65803832-d263d480-e14d-11e9-8c37-b67d6bceb3b0.png">

[2019-09-27 21:42] thisguy-1 commented on #393
During Create New Project, Jane would select where she would like to build and run her app.

<img width="733" alt="Screen Shot 2019-09-27 at 5 41 19 PM" src="https://user-images.githubusercontent.com/52169824/65803897-09d28100-e14e-11e9-9cfa-8125688fbae4.png">

[2019-09-27 21:54] thisguy-1 commented on #393
@sishida we need ID for the following (@tetchel please verify):
<img width="733" alt="Screen Shot 2019-09-27 at 5 41 19 PM" src="https://user-images.githubusercontent.com/52169824/65804000-6e8ddb80-e14e-11e9-836c-41dede416953.png">

What should be the title of this? What should go in the bar? Any instruction bellow?:
<img width="742" alt="Screen Shot 2019-09-27 at 5 45 18 PM" src="https://user-ima