[2020-02-25 04:18] jgwest commented on #844
/svt

[2020-02-25 09:18] micgibso opened #2301 "Error `/favicon.ico' not found"
**Codewind version:** Latest
**OS:** Windows

**Description:**
Running Codewind locally on Windows produces the following error:
`[2020-02-25 03:12:02] ERROR `/favicon.ico' not found.`

**Steps to reproduce:**
1. Run Codewind on localhost:
   $ docker login
   $ docker run --rm -it --volume="$PWD/docs:/srv/jekyll" --volume="$PWD/vendor/bundle:/usr/local/bundle" -p 4321:4321 jekyll/jekyll:3.8.5 jek

[2020-02-25 09:19] micgibso commented on #2301
@sghung Fyi, thanks

[2020-02-25 09:31] stalleyj opened #2302 "Application monitor, lines on graph/key do not match"
**Description:**
The graph displaying heap information on the Application Monitor page has lines that do not match the legend.
![Screenshot 2020-02-25 at 09 22 08](https://user-images.githubusercontent.com/13417476/75233301-8e363800-57b0-11ea-9b95-898d9f8d5731.png)

This problem has been fixed in graphmetrics so we need to update the version in Javametrics, Appmetrics.
**Steps to reproduce:**
Run

[2020-02-25 09:43] micgibso opened #2303 "Topics called from VS Code but not in TOC"
**Codewind version:** 0.9.0
**OS:** Windows

**Description:**
The following topics are called from VS Code https://github.com/eclipse/codewind-vscode/blob/master/dev/src/constants/CWDocs.ts but following the rework of the TOC are no longer in it.
mdt-vsc-installinfo.md
mdt-vsc-commands-project.md (link is "mdt-vsc-commands-project.html#configuring-project-settings")
remoteconnectionui.md
mdt-vsc-c

[2020-02-25 10:30] stalleyj commented on #2027
We also see the GC graph plotting outside the axes.

[2020-02-25 10:39] mattcolegate commented on #2027
@stalleyj that issue covered separately under https://github.com/eclipse/codewind/issues/2056

[2020-02-25 11:17] micgibso commented on #2163
Two new issues raised on the back of this one:
https://github.com/eclipse/codewind/issues/2303 Topic called from VS Code but not in TOC
https://github.com/eclipse/codewind/issues/2301 Error `/favicon.ico' not found]

[2020-02-25 11:32] micgibso commented on #2074
Have put all changes on PR https://github.com/eclipse/codewind-docs/pull/389/files which restores the Project actions topic and makes it generic across all IDEs.
The remaining two topics no longer exist in our source.

[2020-02-25 11:47] hhellyer opened #2304 "Can't set image registry on Kubernetes"
**Codewind version:**
master (possibly 0.8.0 as well)
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**
Open shift via Code Ready. (crc)
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.2", GitCommit:"4320e48", GitTreeState:"clean", BuildDate:"2020-01-21T19:50:59Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}

**De

[2020-02-25 11:53] james-wallis commented on #2004
PR merged.

[2020-02-25 11:53] #2004 closed

[2020-02-25 13:00] tobespc commented on #2304
I see this on my openshift 4.3 machines

[code]

[2020-02-25 14:05] sujeilyfonseca commented on #2220
I verified this issue, and I no longer reproduce this problem.

[2020-02-25 14:05] #2220 closed

[2020-02-25 14:06] rwalle61 commented on #2283
- [ ] **team** Portal
- [ ] **what is the current coverage of tests in total?** 67%
- [ ] **what is the current coverage of tests running on PR builds?** 67%
- [ ] **what gaps in testing are most important to you?** Unit testing our Loadrunner and Filewatcher logic. Fuller integration tests, e.g. involving built projects, different project types. Tests on Remote
- [ ] **what are the largest obstac

[2020-02-25 14:11] johnmcollier commented on #2304
This is because https://github.com/eclipse/codewind/pull/2295 was merged without merging https://github.com/eclipse/codewind-installer/pull/381 and https://github.com/eclipse/codewind-che-plugin/pull/148 first.

I probably should have added a note to https://github.com/eclipse/codewind/pull/2295 to mention not to merge it, my bad.

[2020-02-25 14:23] mattcolegate commented on #2056
Change agreed was to update the graph to plot summary data, as individual sample data was proving unreliable under heavy load. PRs above achieve that for injected and vanilla java projects.
/pipeline Review/QA

[2020-02-25 14:24] sujeilyfonseca commented on #2199
I verified this issue, and I no longer see the problem:

<img width="647" alt="Screen Shot 2020-02-25 at 9 23 35 AM" src="https://user-images.githubusercontent.com/49531960/75255847-968e7300-57b0-11ea-90e4-c3ee8cd24cf3.png">

[2020-02-25 14:24] #2199 closed

[2020-02-25 14:33] jcockbain commented on #2283
- [ ] **repo** cwctl

- [ ] **What is the current coverage of tests in total?** 31.5%

- [ ] **what is the current coverage of tests running on PR builds?** 22.7%

- [ ] **what gaps in testing are most important to you?**
Facilitating unit tests across the codebase. Structuring the code to allow injections of any dependancy, as has been added for the Docker client.

The Remote package has the leas

[2020-02-25 15:55] sishida commented on #2301
Didn't we used to have a "like" button on the news pages? It looks like that is no longer being pulled in. I don't see it on the news pages anymore.

[2020-02-25 16:00] jgwest commented on #1952
/svt

[2020-02-25 16:04] mattcolegate commented on #2027
This seems to be restricted to injected projects only - can't recreate this with normal javametrics

[2020-02-25 16:05] sishida commented on #2301
I did some investigating...
1️⃣There's this image called "favicon.ico": https://github.com/eclipse/codewind-docs/blob/master/docs/favicon.ico
2️⃣ The `head.html` also mentions favicon: https://github.com/eclipse/codewind-docs/edit/master/docs/_includes/head.html

[2020-02-25 16:07] sghung commented on #728
@j-c-berger thanks for taking a look and reviewing!

[2020-02-25 16:51] sishida commented on #2303
Ideas for updated topics:
- Remove `mdt-vsc-installinfo.md`, add `mdt-vsc-getting-started.md`
- Remove `mdt-vsc-commands-project.md` (link is 1mdt-vsc-commands-project.html#configuring-project-settings`), add `project-settings.md`
- Remove `remoteconnectionui.md`, add `remotedeploy-vscode.md`
- Remove `mdt-vsc-commands-overview.md`, add `project-settings.md`? I don't think we currently have a comm

[2020-02-25 17:00] sishida commented on #2303
Ideas for updated topics:
- Remove `mdt-vsc-installinfo.md`, add `mdt-vsc-getting-started.md`
- Remove `mdt-vsc-commands-project.md` (link is 1mdt-vsc-commands-project.html#configuring-project-settings`), add `project-settings.md`
- Remove `remoteconnectionui.md`, add `remotedeploy-vscode.md`
- Remove `mdt-vsc-commands-overview.md`, add `project-settings.md`? I don't think we currently have a comm

[2020-02-25 18:41] sghung commented on #2301
@micgibso and @sishida This error looks to be a jekyll problem: https://talk.jekyllrb.com/t/favicon-ico-not-found/2571/3

It is the same behaviour we're seeing, when it is a non-home page, you see this error.

However, if I am using the google inspector with the console enabled on the live site, I don't see that problem. You can also confirm that on the news page, you do see the icon.

The favicon

[2020-02-25 18:57] sishida commented on #2136
PR for these changes: https://github.com/eclipse/codewind-docs/pull/414

**Note:** The mismatch between the left menu and the actual title of the page can be confusing. For example, a menu item called “Connecting VS Code to a remote deployment”, but with a page called “Connecting VS Code to Remote Codewind”.

[2020-02-25 19:06] ssh24 commented on #2231
Could this also include the turbine functional test coverage?

[2020-02-25 19:22] sishida commented on #2301
@sghung Thanks for letting us know! I'll update our Box doc with a note mentioning this false positive.

Since it looks like it's a Jekyll issue and not harming anything on our side, I am OK with closing this issue. :)

[2020-02-25 19:31] sghung commented on #2301
I also was trying to play around with this and had a hard time reproducing this issue consistently. Sometimes Jekyll complains and sometimes it doesn't. As a result. based on the last comment and some additional investigation on my side, I think this is a false warning and we can confirm in our website (both locally and live) that the icons aren't missing.

[2020-02-25 19:55] sishida commented on #2251
Hi, @johnmcollier, I have created a PR for this issue: https://github.com/eclipse/codewind-docs/pull/415 Could you please look at it and review/approve/merge if it looks good to go? Thank you!

[2020-02-25 20:01] sishida commented on #1906
Link to updated file on site: https://www.eclipse.org/codewind/mdt-che-setupregistries.html Closing this issue.

[2020-02-25 20:01] #1906 closed

[2020-02-25 20:09] tetchel commented on #2303
reminder --> https://github.com/eclipse/codewind-vscode/blob/master/dev/src/constants/CWDocs.ts#L25

[2020-02-25 21:05] josephca opened #2307 "[Docs] rename Codewind html files by dropping 'mdt' from the file name"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
There are a number of 'mdt*.html' and better to be renamed by dropping 'mdt' or replaced by 'codewind'

./docs/_site/mdteclipseuninstall.html
./docs/_site/mdt-che-managingprojects.html
./docs/_site/mdt-che-installinfo.html
./docs/_site/mdt-vsc-com

[2020-02-25 21:08] josephca commented on #2300
Opened a related issue: https://github.com/eclipse/codewind/issues/2307

[2020-02-25 21:31] sujeilyfonseca commented on #2304
I see this error with my OKD 3.11 and 4.2 clusters. My tests agains latest were failing to create image registries:

![Screen Shot 2020-02-25 at 4 23 16 PM](https://user-images.githubusercontent.com/49531960/75289158-b3946780-57eb-11ea-97ac-355372660c43.png)

[code]

[2020-02-25 21:32] #2300 closed

[2020-02-25 21:36] sghung commented on #1883
@micgibso a quick summary of my proposal from today's meeting:

My proposal is to use the `images` directory and to add subfolders into there. For example, `images/docs` and the existing `images/imagesfornews`. All website related images (e.g. main page) just goes into `images`. Any user seeing this would have a good idea of where to put the images into. I wouldn't think to look at the dist folder

[2020-02-26 07:58] #2301 closed

[2020-02-26 08:54] #2019 closed

[2020-02-26 08:59] micgibso commented on #2303
Also consider `project-actions.md` currently being restored on PR https://github.com/eclipse/codewind-docs/pull/389/files.

[2020-02-26 09:48] micgibso commented on #2049
@sghung Are you aware of this one?

[2020-02-26 09:51] micgibso commented on #2049
@sghung Are you aware of this one?

[2020-02-26 10:00] hhellyer commented on #1306
I've looked into this some more and come up with a proposed design:

- Add a cwctl command to call api/v1/registrysecrets API.

- Enhance the command so that when adding a new registry:
    - If the connection is 'local':
        - Also use docker GO API to do docker login, locally, with those credentials.
        - Save credentials (to keychain?)

- On cwctl start (local start):
    - If we have

[2020-02-26 10:12] tobespc commented on #1306
@hhellyer looks good

[2020-02-26 11:05] stalleyj opened #2309 "Unable to open container shell in Eclipse ide"
**Codewind version:**
0.9.0
**OS:**
Mac

**IDE extension version:** 0.9.0
**IDE version:** 2019-09

**Description:**
If I right click on a project to open a container shell, nothing happens. I did not get shown an error but have found one in the log -
!ENTRY org.eclipse.codewind.core 4 0 2020-02-26 10:57:46.690
!MESSAGE [ERROR ContainerShellAction.run:83] ContainerShellAction ran but the terminal

[2020-02-26 11:45] mattcolegate commented on #2027
The cause of this is down to the data collectors for injected projects using the value of base_cpu_systemLoadAverage from /metrics as input for the system load graph.
[code]
This is why high numbers are registered, depending on the number of entities. It's not a percentage indication of system load.
Will raise PRs to stop the use of that metric for system load.

[2020-02-26 13:26] hhellyer commented on #1306
@maysunfaisal @makandre - Could you take a look at this and see if the design I put above looks ok? If it is we'll want to move the editor plugins over to using cwctl to get/set/delete registries.

[2020-02-26 13:49] #2074 closed

[2020-02-26 13:57] micgibso commented on #938
Docs complete, removing docs label, if you require further changes please add the label back in and let us know. Thanks.

[2020-02-26 14:15] keithchong commented on #2307
@sishida , add ./docs/_site/mdt-intellij-getting-started.html to the list of doc file links that are referenced directly by code.

[2020-02-26 14:22] keithchong opened #2312 "[OpenAPI] Bump up version numbers"
Bump up version numbers for 0.10 for both VS Code and Eclipse extensions

[2020-02-26 14:24] keithchong opened #2313 "[IntelliJ] Update getting started doc link"
Change GETTING_STARTED_INFO_URL doc link to https://www.eclipse.org/codewind/mdt-intellij-getting-started.html

[2020-02-26 14:47] rwalle61 commented on #2283
Hi guys, would you mind filling this out for your repositories by the end of the week please? Some of you have already done so on Box but please do so again here (I would copy your replies across in comments, but then you wouldn't be able to edit them). Thanks

Let's get a status on all these repos https://projects.eclipse.org/projects/ecd.codewind/developer. Then we can prioritise which ones to i

[2020-02-26 14:52] keithchong commented on #2313
This was fixed already. Closing

[2020-02-26 14:52] #2313 closed

[2020-02-26 15:12] rwalle61 commented on #2219
Spotted LOCK_FAILUREs in intermittently failing tests again, this time Node Metrics Injection: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-2311/1/consoleFull

[2020-02-26 15:30] jgwest commented on #2283
**Repo**:

[Go and Node Filewatchers](https://github.com/eclipse/codewind-filewatchers)
[Java Filewatchers](https://github.com/eclipse/codewind-eclipse)

**What is the current coverage of tests in total?**

65% Java Filewatcher (others filewatchers should be similar if not higher, but have not measured) 

**What is the current coverage of tests running on PR builds?**

65% Java Filewatcher (others

[2020-02-26 15:40] micgibso commented on #2283
**Team/repository**
Docs - main repo: https://github.com/eclipse/codewind-docs

**What is the current coverage of tests in total?**
N/A

**What is the current coverage of tests running on PR builds?**
N/A

**What gaps in testing are most important to you?**
Manually testing the docs against the product.

**What are the largest obstacles to increasing coverage of tests in total?**
Would be good to

[2020-02-26 16:14] tetchel opened #2316 "cwctl install remote should accept Codewind version as an argument"
If I have the latest cwctl, I should be able to use it to install 0.9.0, instead of having to go download another binary.

[2020-02-26 16:22] tobespc opened #2317 "Appsody projects returning "project" for dashboard rather than "performanceContainer""
**Codewind version:** Latest
**OS:** All

**Description:**

The latest appsody microprofile stack has been released without including javametrics.   This means we should be able to graph the mpmetrics data from the performance dashboard.  For this to happen we need to return that the host of the dashboard is `performanceContainer` rather than `project`.

See project.js for details

[code]

[2020-02-26 16:23] tetchel opened #2318 "Improve message when cwctl install remote times out "waiting for keycloak""
I was writing out a bug report for my `install remote` timing out waiting for keycloak when keycloak is actually started, when I realized it is because I gave cwctl the wrong ingress subdomain.

I expect others have made / will make this error, so could we tell the user to check that the `--ingress` option is set correctly when this step fails? And perhaps when the 'waiting for Codewind to start'

[2020-02-26 16:28] tobespc opened #2319 "Panic thrown when attempting to move project in vscode"
**Codewind version:** latest
**OS:**

![Screenshot 2020-02-26 at 16 27 04](https://user-images.githubusercontent.com/13151286/75365368-0554f480-58b5-11ea-859d-fa7289cd242d.png)

[2020-02-26 16:40] eharris369 commented on #2283
**Team/repository**
Eclipse IDE - main repo: https://github.com/eclipse/codewind-eclipse

**What is the current coverage of tests in total?**
20% for JUnit tests, probably a lot more if include the SWTBot tests written by SVT

**What is the current coverage of tests running on PR builds?**
0%

**What gaps in testing are most important to you?**
Some of these may already be covered by the SWTBot te

[2020-02-26 16:52] tetchel opened #2320 "Remote install instructions need to include instructions to enable privileged containers"
The steps in https://www.eclipse.org/codewind/mdt-che-installinfo.html#enabling-privileged-and-root-containers-to-run

apply to all Codewind-on-OpenShift (NOT all IBM Public Cloud, see John's comment below) installations, not just Che.

So these steps should be in the Prereqs section
https://www.eclipse.org/codewind/remote-overview.html
and also in the all-in-one steps.
https://www.eclipse.org/cod

[2020-02-26 16:53] tetchel commented on #2320
also, from `remotedeploy-single`:

This isn't accurate anymore, cwctl will create the namespace if it doesn't exist.

[2020-02-26 16:54] johnmcollier commented on #2320
Slight nitpick:
[code]

To avoid confusion it should only be OpenShift (which includes OpenShift on IBM Cloud). Those commands aren't needed on IKS (and won't work)

[2020-02-26 16:58] keithchong commented on #2274
Enabling/Disabling menus actually is not trivial.  This applies to any of our actions in general, where enable/disable applies depending on some situation.  Eg. the stop and start actions are still enabled even though the actions have already been initiated and in the process of stopping and starting respectively.  In Codewind for Eclipse, during this transition period, the only action available i

[2020-02-26 17:10] makandre commented on #2283
WIP

**Team/repository**
appsody - https://github.com/eclipse/codewind-appsody-extension

**What is the current coverage of tests in total?**

**What is the current coverage of tests running on PR builds?**
0%

**What gaps in testing are most important to you?**

**What are the largest obstacles to increasing coverage of tests in total?**

**What are the largest obstacles to increasing coverage of

[2020-02-26 17:22] sishida commented on #2303
Link to PR: https://github.com/eclipse/codewind-vscode/pull/478

@tetchel Could you please review when you have a moment? Thank you!

[2020-02-26 17:27] sishida commented on #2307
@micgibso Please remember to update the https://github.com/eclipse/codewind-vscode/blob/master/dev/src/constants/CWDocs.ts file for VS Code when you change the names of the codewind-docs files. Thank you!

[2020-02-26 17:59] jagraj commented on #2289
Yes, I can consistently reproduce this problem on public cloud and not on my on-premise  cluster.

[2020-02-26 18:08] #2255 closed

[2020-02-26 18:39] sishida commented on #1883
@micgibso and the ID team met this morning.

@sghung Let's work together to move the images to better locations. :)

[2020-02-26 18:44] malincoln commented on #934
@makandre is this ready to be verified?

[2020-02-26 18:44] jopit commented on #2221
Moving back to 'in progress' as the fix is in 0.9.0 but not yet in master.

[2020-02-26 18:45] jopit commented on #2240
The fix for https://github.com/eclipse/codewind/issues/2275 will also fix this issue.

[2020-02-26 18:45] malincoln commented on #875
@hhellyer are you investigating?  Should this go back to In progress?

[2020-02-26 18:48] malincoln commented on #489
is this issue ready for verification or more work is needed?

[2020-02-26 18:50] malincoln commented on #67
@markcor11 pls verify and close. Thanks

[2020-02-26 18:56] sishida commented on #2227
PR is merged. Closing this issue.

[2020-02-26 18:56] #2227 closed

[2020-02-26 18:57] sishida commented on #1251
Documentation is complete with this issue (https://github.com/eclipse/codewind/issues/2227) and this PR (https://github.com/eclipse/codewind-docs/pull/408).

[2020-02-26 18:57] malincoln commented on #1069
@travis1111 is the fix now ready to be verified?

[2020-02-26 18:59] malincoln commented on #732
@jopit pls verify and close. Thanks

[2020-02-26 18:59] malincoln commented on #1525
should this move back to In Progress?

[2020-02-26 19:01] tetchel opened #2322 "IntelliJ - Hybrid: Project overview should show the name of the namespace and pod associated with the application"
https://github.com/eclipse/codewind/issues/1525 still has to be done for IntelliJ

[2020-02-26 19:02] malincoln commented on #938
@mtamboli @sghung I believe this can be closed now as you are tracking the new fix with https://github.com/eclipse/codewind/issues/1306?

[2020-02-26 19:02] tetchel commented on #1525
I'm closing this because it's done for eclipse and vs code. I opened a separate issue for IntelliJ because hybrid is some way away for that.

[2020-02-26 19:02] #1525 closed

[2020-02-26 19:02] eharris369 commented on #1525
It is delivered in master so should stay in verify state. See https://github.com/eclipse/codewind/issues/1525#issuecomment-587465259.

[2020-02-26 19:04] sghung commented on #1069
Confirmed on behalf of Travis

[2020-02-26 19:04] #1069 closed

[2020-02-26 19:04] beccabau opened #2323 "New and Noteworthy for 0.10.0/0.11.0"
Need to add a news page for 0.10.0 release

[2020-02-26 19:10] tetchel commented on #2283
### team/repository
CW for VS Code https://github.com/eclipse/codewind-vscode

### what is the current coverage of tests in total? e.g. 60%. (If unknown, give an honest estimate and say it's an estimate).
No idea, but it's low. Much higher if you include SVT's UI tests.

### what is the current coverage of tests running on PR builds?
0

### what gaps in testing are most important to you?
detecting

[2020-02-26 19:21] jagraj commented on #2289
Opened this external issue to track this.
https://github.com/eclipse/che/issues/16150

[2020-02-26 19:21] mtamboli commented on #938
Thanks @malincoln I will close this defect as you have another one for more permanent fix.

[2020-02-26 19:21] #938 closed

[2020-02-26 19:21] sujeilyfonseca opened #2324 "(metrics) SVT: Users now receive a warning message in the Performance Dashboard, if they are using an old version of AppMetrics"
**Codewind version:** Latest
**OS:** MacOS Mojave 10.14.6, Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.5.1
**IDE extension version:** 0.10.0
**IDE version:** Code 1.42.0
**Kubernetes cluster:** OKD/Openshift

**Description:** Users now receive a warning message in the Performance Dashboard, if they are using an old version of AppMetrics. However, this message is not user-friendly, as i

[2020-02-26 19:29] eharris369 commented on #2299
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/596

[2020-02-26 19:33] eharris369 opened #2325 "[Eclipse IDE] Bump versions for 0.10.0"
Bump up the plugin and feature versions for 0.10.0

[2020-02-26 19:43] naveenkaratekid opened #2326 "IntelliJ:SVT:Not able to see list of existing projects in specific directory"
**Codewind version: master latest**
**OS:Windows**

***IDE***: IntelliJ IDEA
**IDE extension version: latest**
**IDE version: 2019.3.3 Community Edition**

**Description:**
When I try to import an existing project in IntelliJ that isn't under the Codewind explorer, I cannot see a list of projects given a specific directory, but I can see those projects in the Windows Explorer.

**Steps to reproduc

[2020-02-26 19:44] naveenkaratekid commented on #2326
/priority stopship

[2020-02-26 19:46] sishida commented on #2320
There has been some reorganization of the files involved in this issue. However, I think I addressed the concerns in this PR: https://github.com/eclipse/codewind-docs/pull/419

The first commit should cover the points in this issue; the second commit is more style and grammar edits.

[2020-02-26 20:15] mmulholl commented on #1093
Verified

[2020-02-26 20:15] #1093 closed

[2020-02-26 20:21] jgwest opened #2327 "Add Java Filewatcherd automated tests to FWd PR builds"
Add the filewatcher tests to the PR build, but ensure that the tests only run if a file changed under one of the org.eclipse.codewind.filewatchers.* projects. This should prevent the tests from running for non-filewatcher PRs.

[2020-02-26 20:33] sujeilyfonseca commented on #2326
**Codewind version:** Latest
**OS:** VM with Windows 10

**IDE extension version:**
<img width="532" alt="Screen Shot 2020-02-26 at 3 23 01 PM" src="https://user-images.githubusercontent.com/49531960/75385174-48ab6500-58ad-11ea-9a83-ceb61835fc74.png">

**IDE version:**
<img width="319" alt="Screen Shot 2020-02-13 at 12 45 49 PM" src="https://user-images.githubusercontent.com/49531960/74462840-decb

[2020-02-26 20:40] jopit commented on #732
Verified

[2020-02-26 20:40] #732 closed

[2020-02-26 20:57] maysunfaisal commented on #2283
- **team/repository**
Turbine

- **what is the current coverage of tests in total?**
Unit tests: 40%
Functional tests local: 60%
Functional tests kube: 64%

- **what is the current coverage of tests running on PR builds?**
Unit tests: 40%
Functional tests local: None
Functional tests kube: None

- **what gaps in testing are most important to you?**
From Turbine's perspective, we would absolutely l

[2020-02-26 21:07] maysunfaisal commented on #2283
#### **team/repository**
[codewind-che-plugin](https://github.com/eclipse/codewind-che-plugin)

#### **what is the current coverage of tests in total?**
- Hard to estimate percentage, tests are in bash but it covers all the major steps in bringing up Codewind workspace on Che
-

#### **what is the current coverage of tests running on PR builds?**
None

####  **what gaps in testing are most importa

[2020-02-26 21:12] #2325 closed

[2020-02-26 21:15] sishida commented on #2136
### Getting Started
 **VS Code**
1.	Installing Codewind for VS Code
o	Link for Docker Compose in (1): Install Docker 17.06 or later. If you use Linux, you must also install Docker Compose.

2.	Creating your first project
o	“Open Application” instead of “Open App” in (8):
<img width="297" alt="Screen Shot 2020-02-11 at 11 48 27 AM" src="https://user-images.githubusercontent.com/49531960/74276705-37

[2020-02-26 21:30] makandre opened #2328 "Why call updateProjectStatus build failed twice?"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

Came across this code which looked odd:

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/projects/projectUtil.ts#L479

[code]

The 2 calls to `updateProjectStatus` are identical, why?  Also if you look at the `if (process.env.I

[2020-02-26 21:31] makandre commented on #2328
/area iterative-dev

[2020-02-26 22:20] jgwest commented on #2328
The second block was added by https://github.com/eclipse/codewind/pull/199 so a question for @yangcao77

[2020-02-26 22:20] makandre commented on #2052
If appsody extension emits the build status as `unknown`, then in VSCode it appears as `[Starting][]`. @tetchel I assume we can hide the empty square brackets?

But it would seem that alone might not be enough, because at various points during the build and run of a project, Turbine itself will pre-set the build status to `in progress`, with messages such as "Build Started", "Calculating Differenc

[2020-02-26 22:28] maysunfaisal commented on #1306
I wouldnt store docker credentials anywhere other than a keychain or in /root/.docker/config.json . I think the argument that it does not buys any security is not right. It is docker’s limitation that they’re storing credentials in plaintext/base64 but that doesn’t mean we should store them anywhere we would want. So I am against the idea of storing it in docker-volume or in ~/.codewind-workspace

[2020-02-26 23:01] yangcao77 commented on #2328
The second `updateProjectStatus` should be removed.  This will be fixed in https://github.com/eclipse/codewind/pull/2329

[2020-02-27 03:03] #1405 closed

[2020-02-27 03:05] #1251 closed

[2020-02-27 09:21] micgibso commented on #2307
@sishida And let's not forget the Eclipse variant of the same, see https://github.com/eclipse/codewind-eclipse/pull/570/files, this line:
`CWSETTINGS_INFO_URL = DOC_BASE_URL + "/mdteclipsemanagingprojects.html",`

[2020-02-27 10:24] tobespc opened #2330 "Vscode loses focus on input box for registry namespace and project name"
**Codewind version:** latest
**OS:** all
**IDE extension version:** master

**Description:**
When adding details for an image registry into vscode, focus is automatically given to the input box for the first 3 entries i.e.  docker.io, username, password

For the fourth entry of namespace, the focus gets lost and you have to click back on the box to add the data.  This doesn't happen when running i

[2020-02-27 10:37] #2027 closed

[2020-02-27 10:47] mattcolegate commented on #2056
/pipeline in progress
After PR review, there is more to do here - now that we know that the GCTime metric can be dodgy, the decision has been taken to remove the generation of that metric altogether so that we know our customers are not affected by erroneous data. This will include:

- commenting out the system calls that create the data item
- changing the various files that export that data (mos

[2020-02-27 12:02] micgibso commented on #2307
For VS Code, see PR https://github.com/eclipse/codewind-vscode/pull/481

[2020-02-27 12:04] micgibso commented on #2307
For Eclipse, no changes necessary, see https://github.com/eclipse/codewind-eclipse/blob/master/dev/org.eclipse.codewind.ui/src/org/eclipse/codewind/ui/internal/UIConstants.java#L20

[2020-02-27 13:36] #2214 closed

[2020-02-27 14:06] sishida commented on #2303
Because we have updated the file names in VS Code and deleted the extraneous files, I am closing this issue. :)

[2020-02-27 14:09] sishida commented on #2251
Documentation complete with merging of https://github.com/eclipse/codewind-docs/pull/415.

[2020-02-27 14:44] sishida commented on #2307
Ran broken link checker. This was the only broken link to fix:
[code]

[2020-02-27 14:59] sishida commented on #2307
PR for fixing broken link: https://github.com/eclipse/codewind-docs/pull/422

[2020-02-27 15:07] nastacio commented on #944
I talked to Neeraj on the same day to lobby him to do this in existing Appsody. He tells me other people asking for it too since it hurts even the interim adoption appsody.

People are ok with appsody changing cli name/parameters down the road, but not so much with not being able to write code the way they want.

[2020-02-27 15:18] nastacio commented on #944
I talked to Neeraj on the same day to lobby him to do this in existing Appsody. He tells me other people asking for it too since it hurts even the interim adoption appsody.

People are ok with appsody changing cli name/parameters down the road, but not so much with not being able to write code the way they want.

[2020-02-27 15:21] makandre opened #2332 "Docs: add Intellij section to getting started landing page"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

There's no Intellij on this page

![image](https://user-images.githubusercontent.com/17596240/75457789-e6a13d00-594a-11ea-8b1c-7722f2081510.png)

**Proposed solution:**

[2020-02-27 15:51] tam512 opened #2333 "Unable to launch Tekton dashboard from Codewind workspace in CodeReadyWorkspaces"
**Codewind version:** 0.8.x
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
In CodeReadyWorkspaces in Kabanero 0.6.0 which has Tekton Dashboard on `tekton-pipelines` namespace, launch Tekton Dashboard from Codewind project explorer, it fails with error

<img width="522" alt="Screen Shot 2020-02-26 at 5 07 11 PM" src="https://user-imag

[2020-02-27 15:55] hhellyer opened #2334 "Deploying Codewind overview, same content in Prerequisites and Planning sections"
**Codewind version:**
master

**Description:**

This section of the docs:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remote-overview.html#prerequisites
and this section:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remote-overview.html#planning-your-remote-deployment---codewind-and-authentication-services
appear to have exactly the same content.

The next section has the same

[2020-02-27 15:56] micgibso commented on #2334
@MelHopper Fyi

[2020-02-27 16:01] micgibso commented on #2233
This needs to be prioritised higher in our backlog due to Kabanero now running a different version of Codewind.

[2020-02-27 16:03] eharris369 commented on #2309
I could not reproduce this. Are you sure you are using the right Eclipse package? It needs to be the Eclipse IDE for Enterprise Java Developers. You can check by expanding the Eclipse menu and selecting About Eclipse:

![image](https://user-images.githubusercontent.com/9484320/75461373-b52b7000-5950-11ea-8bf6-92b886153c43.png)

[2020-02-27 16:06] eharris369 opened #2336 "[Eclipse IDE] Create new fonts properly"
Currently fonts are created by overwriting the FontData for an existing font.  The FontData should be copied instead.

[2020-02-27 16:14] hhellyer opened #2337 "Problems in remote deployment docs"
On the page http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-combo.html

We probably don't want to hardcode 0.8.0 in these locations:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-combo.html#prerequisites
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-single.html#pre-requisites
Should use <version> like here:
http://codewind-docs.rtp.ra

[2020-02-27 16:26] mattcolegate opened #2338 "Align Context Menus between IDEs"
**Codewind version:** latest 27/02/2020
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest Eclipse & VSCode plugins 27/02/2020
**IDE version:** VSCode and Eclipse
**Kubernetes cluster:** N/A

**Description of the enhancement:**

The context menus of projects (gained by right-clicking a project in the codewind view) differ in subtle but noticable ways - the grouping of optio

[2020-02-27 16:27] hhellyer commented on #2337
Notes for: http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-single.html

http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-single.html#pre-requisites - checking you are logged into your cluster should probably come first.

All the commands use `oc` - that means they're OpenShift specific, we do say we support non-openshift kubernetes here: http://codewind-docs.

[2020-02-27 16:51] hhellyer commented on #2337
Notes for: http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-existingkeycloak.html

Same comments as about:
http://codewind-docs.rtp.raleigh.ibm.com:4321/codewind/remotedeploy-single.html#3-deploy-additional-remote-codewind-services with the pre-reqs being in a strange order and only having instructions for `oc` not `kubectl`.

http://codewind-docs.rtp.raleigh.ibm.com:4321/codewi

[2020-02-27 17:09] eharris369 commented on #2336
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/598

[2020-02-27 17:09] #2336 closed

[2020-02-27 17:10] eharris369 opened #2339 "[Eclipse IDE] Update copyright and link in about.properties"
Update the copyright and link in the about.properties file.

[2020-02-27 17:25] #2333 closed

[2020-02-27 17:30] sghung commented on #2233
I did a quick proof of concept during the call today: https://github.com/eclipse/codewind-docs/pull/435

Instead of dynamically generating the version specific content each time, we cache a copy. This allows someone to use URLs like:

http://localhost:4321/codewind/0.7.0/
http://localhost:4321/codewind/0.8.0/open-api-tools-for-eclipse.html

These snapshots were generated from the appropriate branc

[2020-02-27 17:34] eharris369 opened #2340 "Add link in eclipse-firstproject.md to managing templates documentation"
In the eclipse-firstproject.md file it displays the project creation dialog where there is a long list of templates.  It would be nice to have a link to the documentation on managing templates here (workingwithtemplates.md).

[2020-02-27 17:41] eharris369 opened #2341 "Instructions and image don't match for Eclipse getting started page"
In the eclipse-getting-started.md page it says `6. Once complete, you have a Codewind section in the IDE.` but the image shows it as still installing so it is not complete:

![image](https://user-images.githubusercontent.com/9484320/75470089-1d348300-595e-11ea-80fc-173f414ef554.png)

I think it would be better if the image matched the statement and showed Codewind as running:

![image](https://use

[2020-02-27 18:26] sishida commented on #978
IntelliJ doc updates in 0.10.0: https://github.com/eclipse/codewind-docs/pull/424

[2020-02-27 18:29] jagraj commented on #1807
I did not notice this problem during 0.9.0 release. I will go ahead and monitor this issue in 0.10 release if I can not reproduce then I will go ahead and close this issue.

[2020-02-27 18:46] sghung commented on #2080
The appsody team looked into https://github.com/appsody/appsody/issues/895 but due to some issues, can't commit to 0.10.0

[2020-02-27 19:24] eharris369 opened #2342 "VSCode specific content is under general heading in the docs"
The remotedeploy-projects-vscode page is under the general `Connecting your IDE to remote Codewind` heading (see screen capture below). For Eclipse, all of this information is directly in the remotedeploy-eclipse page but for some reason for VSCode it is separated into 2 pages.

![image](https://user-images.githubusercontent.com/9484320/75478817-963ad700-596c-11ea-8e25-0b632c335799.png)

[2020-02-27 20:21] sujeilyfonseca commented on #2304
After applying the latest cluster role:

`kubectl apply -f https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/setup/install_che/codewind-clusterrole.yaml`

I no longer see this problem with the latest Codewind.

[2020-02-27 20:22] #2304 closed

[2020-02-27 22:36] keithchong commented on #2274
<img width="523" alt="Screen Shot 2020-02-27 at 5 27 02 PM" src="https://user-images.githubusercontent.com/7726022/75493319-9dbba980-5987-11ea-94f8-656fac2ea5d4.png">

[2020-02-27 22:36] keithchong commented on #2274
<img width="529" alt="Screen Shot 2020-02-27 at 5 36 18 PM" src="https://user-images.githubusercontent.com/7726022/75493356-b035e300-5987-11ea-8132-2a4e95471b2a.png">

[2020-02-27 22:37] keithchong commented on #2274
<img width="525" alt="Screen Shot 2020-02-27 at 5 36 57 PM" src="https://user-images.githubusercontent.com/7726022/75493405-c80d6700-5987-11ea-9428-4e1fdb269df9.png">

[2020-02-27 22:37] keithchong commented on #2274
<img width="519" alt="Screen Shot 2020-02-27 at 5 37 33 PM" src="https://user-images.githubusercontent.com/7726022/75493437-dd829100-5987-11ea-944f-0bb78d72774f.png">

[2020-02-28 00:27] keithchong opened #2343 "[IntelliJ] Finish button still enabled when project type is deselected; Misc. fixes"
<img width="480" alt="Screen Shot 2020-02-27 at 7 26 43 PM" src="https://user-images.githubusercontent.com/7726022/75499130-1d9d4000-5997-11ea-8a25-bfd1ea1b15aa.png">

[2020-02-28 01:48] keithchong opened #2344 "[Eclipse] [Appsody] Inconsistent content in Project Type Selection page of the Project Bind Wizard"
**Codewind version:** latest
**OS:** any

**IDE extension version:** latest
**IDE version:** Any supported Eclipse version

**Description:**
Compare the Project Type selection page when you try to bind a Codewind MicroProfile project versus an appsody project.  I'm expecting the list of subtypes for the Appsody project type to still be displayed regardless of the detected type.  This appears to be

[2020-02-28 08:29] hhellyer commented on #2319
Looks like the panic is caused by parsing bad JSON. (Obviously there was another problem that caused us to be sent invalid JSON, it's hard to tell what that was.)
This is probably a case the standard API tests should check.

[2020-02-28 13:24] #2274 closed

[2020-02-28 13:40] #2343 closed

[2020-02-28 13:49] liamchampton opened #2347 "List of CLI tests needing to be mocked"
**Description of the enhancement:**
List of tests still to be mocked in the CLI:
- `template_test.go`
- `version_test.go`
- `connection_test.go`
- `projectConnection_test.go`
- `authentication_test.go`
- `keychain_test.go`

**Proposed solution:**
Mocking these tests will enable us to run these in the Jenkins builds and increase the overall CI/CD test coverage stat.

[2020-02-28 14:16] #2339 closed

[2020-02-28 15:14] eharris369 commented on #2342
Also the Next Steps link at the bottom of remotedeploy-eclipse takes the user to this VSCode page.

[2020-02-28 15:19] makandre commented on #2344
When you say binding to an Appsody project, I assume you mean it's a project that's already an Appsody project, with a `.appsody-config.yaml` file.  That file already specifies what stack the project is based on, and so when you bind the project to Codewind, you are not supposed to be able to change the stack, hence the list of stack choices is not shown.

[2020-02-28 15:30] mattcolegate commented on #2056
/pipeline Review/QA

The code has now all been put into PRs: here's how to merge it -

1. Review and merge https://github.com/RuntimeTools/graphmetrics/pull/59
1. Release graphmetrics (or at least, update javametrics to the new commit hash).
1. Review and merge https://github.com/RuntimeTools/javametrics/pull/106
1. Release javametrics and publish to maven
1. Review and merge https://github.com/ec

[2020-02-28 15:41] AndyRWatson opened #2349 "troubleshooting guide - Codewind-installer reference"
**Codewind version:**. 0.9
**OS:**. ALL

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

In out Troubleshooting page we make reference to a project creation error and that it may happen if you run "codewind-installer from the Terminal".  I am not sure running codewind-installer from a terminal was ever documented behaviour so something a user

[2020-02-28 15:47] ssh24 opened #2350 "Avoid network latency on docker builds for Turbine tests"
**Description of the enhancement:**
We need to come up with a way where we can avoid the network latency on docker build for turbine performance tests.

**Proposed solution:**
One possible solution is to have an even emit when docker build has started and stop the timer and resume it back when the docker build has ended with another event. The problem is that portal is not aware of turbine functio

[2020-02-28 15:47] james-wallis commented on #1788
Product owner from UBI discussed the differences between Centos and UBI in this post.
Attaching to this closed item to keep it from being lost.

https://discuss.python.org/t/using-ubi7-images-instead-on-centos7-for-future-manylinux-images/1709/15

[2020-02-28 15:48] sishida commented on #2136
This instance of "user name" is correct in this context. If you have the variable `username`, then you can write it as one word. However, if it is not used as a variable name, "user name" should be two words.

o	“username” instead of “user name”
![image](https://user-images.githubusercontent.com/49531960/74277969-6b9f1c00-4ce6-11ea-96a8-cfc453349592.png)

[2020-02-28 15:51] AndyRWatson opened #2351 "troubleshooting - Update references of Theia to Che"
**Codewind version:** 0.9
**OS:** All

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

In the troubleshooting guides we should not make reference to Theia in our titles, but replace with Che as that is the editor we support/document.    I think its ok to reference that the issues is within theia as a dependancy of Che,  but we should referent

[2020-02-28 15:53] ssh24 commented on #2350
Another solution mentioned was to add a separate threshold parameter for builds that involves network latency, such as creation of project and modifying dockerfile. Which might be easier to do than the proposed solution above.

[2020-02-28 15:56] sishida commented on #2136
PR for this issue:

- See previous comment about "user name." This was left as two words.
- Some of the feedback, such as about Node.js, no longer applies because of other file changes.

### Local to remote development

**Connecting VS Code to Remote Codewind**
o	In (3), we should use “Username” instead of “developer username” and “Password” instead of “developer password” to be consistent with th

[2020-02-28 16:13] sishida commented on #2349
If this section https://www.eclipse.org/codewind/troubleshooting.html#project-creation-on-macos-fails-and-codewind-reports-an-error can be removed, ID will be glad to remove it. We will wait on confirmation from development. Thank you!

[2020-02-28 16:20] eharris369 opened #2353 "[Eclipse IDE] Template source table should allow multiple selection"
The table of template sources in the manage template sources dialog should allow multiple selection for the Remove button.

[2020-02-28 17:03] #2353 closed

[2020-02-28 17:30] AndyRWatson commented on #2349
/assign @liamchampton

[2020-02-28 17:57] mattcolegate commented on #438
Tested on Windows 10 with Eclipse latest plugin 20200225. Can confirm issue is fixed. @tobespc please close.

[2020-02-28 17:58] mattcolegate commented on #438
(close as I can get)
/pipeline verify

[2020-02-28 18:05] keithchong commented on #2326
This looks like Windows only.  On Mac it is fine. The fix for this is to set, `setShowFileSystemRoots(true)` instead of false.  This apparently has not impact on Mac but the folders will show fine on Windows.

[2020-02-28 18:06] makandre commented on #2078
Go projects are fine

[2020-02-28 18:10] keithchong commented on #2326
<img width="427" alt="Screen Shot 2020-02-28 at 1 06 00 PM" src="https://user-images.githubusercontent.com/7726022/75573856-b382aa80-5a2b-11ea-961f-748d62af9e4a.png">

[2020-02-28 18:40] makandre opened #2354 "Nodejs project build does not take advantage of docker caching"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation https://github.com/eclipse/codewind/issues/2078

For Codewind Nodejs projects, despite using best practice of copying `package.json` first before doing `npm install` (i.e. https://github.com/codewind-resources/nod

[2020-02-28 18:43] makandre commented on #2354
We seem to always remove previous image here: https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/nodejs-container.sh#L80 which I'm guessing also removes anything cached.

When I commented out that line I can see the docker cache does get used.

[2020-02-28 18:44] jgwest commented on #489
Shifting it back to `In Progress` as the server-side filewatcher WebSocket API should still be secured as part of this work.

[2020-02-28 18:59] eharris369 opened #2355 "[Eclipse IDE] Accessibility: no mnemonic for new connection menu item"
For accessibility purposes, all menu items should have a mnemonic.  Add one for the new connection menu item.

[2020-02-28 19:12] makandre opened #2356 "Nodejs project can't run offline when auto-build is enabled"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation #2078

When offline and auto-build is enabled, Nodejs projects fail to run and following is in the app log:

[code]

**Steps to reproduce:**

1. You'll need to workaround #2354 first, otherwise the build fails if

[2020-02-28 19:14] makandre commented on #2356
When auto-build is on, running the app attempts to install `nodemon` but it will fail since we're offline

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/nodejsScripts/noderun.sh#L63

[2020-02-28 19:18] makandre commented on #2078
Nodejs projects:

- projects can be worked on offline if it is already running prior to connection loss
- but if we need to manually build the project while offline, there are 2 issues:

  1. build fails since docker cache is not used #2354
  2. if you managed to workaround the above problem, the app doesn't start if auto-build is enabled #2356

[2020-02-28 19:22] makandre commented on #2078
/pipeline in progress

[2020-02-28 19:29] sishida commented on #2136
Relevant PRs have been merged. Closing this issue.

[2020-02-28 19:29] #2136 closed

[2020-02-28 19:52] #2355 closed

[2020-02-28 19:55] makandre opened #2357 "Python project dockerfile not optimized to take advantage of docker caching"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation #2078

Python project dockerfile installs dependencies after copying application code: https://github.com/codewind-resources/pythonTemplate/blob/master/Dockerfile#L5.  This means whenever user make any code change

[2020-02-28 19:57] makandre commented on #2357
Also a good idea to make use of a `requirements.txt` file as well, e.g. https://www.aptible.com/documentation/faq/deploy/dockerfile-caching/pip-dockerfile-caching.html

[2020-02-28 20:01] makandre commented on #2078
Python projects cannot be worked on offline, even if project was running prior to connection loss.  This is due to #2357 (the fix is simple)

[2020-02-28 20:16] makandre commented on #2357
A fix for this is quite simple, @tobespc could you review https://github.com/codewind-resources/pythonTemplate/pull/2?

[2020-02-28 20:16] makandre commented on #2357
/assign

[2020-02-28 20:55] thisguy-1 commented on #159
To do:
Put Build in front of Running Status
Only have build when necessary (temporary "build succeeded")
Put details at the end? [Bulk Detail]
Hover over application see detail of application status
Find out if we can use icons : [X] [Y] [Detail]

[2020-02-28 21:36] makandre opened #2358 "Swift project build fails offline (no docker caching)"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation #2078

When building Swift project while offline, we hit the following errors in `docker.app.log`, despite the image had been built previously and no dependencies have changed.

[code]

**Steps to reproduce:**

1.

[2020-02-28 21:38] makandre commented on #2358
Ultimately the problem is similar to #2354, the application image is always removed before a build, so the new build cannot use previously cached layers

https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/swift-container.sh#L265

[2020-02-28 21:39] makandre commented on #2078
Swift projects cannot be worked on offline, even if project was running prior to connection loss.  This is due to #2358

[2020-02-29 11:52] rwalle61 commented on #2232
Results after 2 weeks:
* **unit test coverage overall has risen from 32% to 43%**
* **coverage of `portal/modules` has risen from 33% to 55%**
* coverage of `User.js` has risen from 0% to 45%
* coverage of `FileWatcher.js` has risen from 0% to 51%
* coverage of `LoadRunner.js` has risen from 0% to 27%
* found and fixed unexpectd behaviour when saving project.inf #2258
* found and removed some obso

[2020-02-29 15:36] malincoln commented on #2253
@tobespc looks like this was bounced back to in progress. I think it can be closed now that the fix has been merged into master.  @sujeilyfonseca did verify on 0.9.0.

[2020-02-29 15:37] malincoln commented on #2193
@tobespc pls assign. Thanks

[2020-03-01 19:54] #2253 closed

[2020-03-02 08:48] micgibso commented on #2163
Removal complete, closing.

[2020-03-02 08:48] #2163 closed

[2020-03-02 08:50] micgibso commented on #2307
Rename complete, closing.

[2020-03-02 08:50] #2307 closed

[2020-03-02 09:04] MelHopper commented on #2107
This epic has the following children issues:

- Create suitable topics to be linked from our Docs Landing Page: https://github.com/eclipse/codewind/issues/2150

- Create tutorial topics for Champ: https://github.com/eclipse/codewind/issues/2241

- Create new topic ‘Using Codewind Locally’: https://github.com/eclipse/codewind/issues/2243

- ToC restructure to improve user workflow: https://github.c

[2020-03-02 09:23] hhellyer commented on #2319
@tobespc - There are a lot of places that have this bug, I've fixed the one you were seeing. Do you want to address the others under this issue or shall I raise one specifically to clean up our error checking when we unmarshall JSON in cwctl?

[2020-03-02 09:55] mattcolegate commented on #776
Fixes look good, accepting that we're unable to change the rest.

[2020-03-02 09:55] #776 closed

[2020-03-02 10:13] tobespc commented on #489
@elsony This will require work from your squad as to deliver this for filewatcher

[2020-03-02 10:17] tobespc commented on #489
We discussed moving the socket type to be a socket.io rather than a websocket.   Lets re visit this as part of this work

[2020-03-02 10:52] MelHopper commented on #2151
Keeping track of remaining work:
1. Split 'Using Codewind Remotely->Creating and Importing Projects' to be IDE-specific.
2. Topic ' Deploying remote codewind with an existing keycloak' section 2 'Deploy additional remote Codewind services' needs work. Remove capital letter flags.
3. Topic 'using Codewind remotely' needs to reference 'deploying Codewind remotely'

[2020-03-02 10:56] MelHopper opened #2359 "Reference deploying Codewind remotely in the Using Codewind Remotely topic"
This issue covers further work related to https://github.com/eclipse/codewind/issues/2151

_'Using Codewind Remotely'_ is referenced in the overview section of _'deploying Codewind remotely'_ topic to provide orientation and signposting.

The reverse needs to be actioned i.e. provide orientation and signpost to deploying of codewind remotely in the overview section of the _Using Codewind Remotely_

[2020-03-02 11:02] MelHopper opened #2360 "Split Creating and Importing Projects into IDE-specific topics."
1. Currently, the topic 'creating and importing projects' is VS code specific. We do not have an eclipse-specific topic at present.

Actions:

1. The topic name needs to be titled 'VS Code' and sat underneath the a tree titled 'Creating and Importing Projects' in the ToC:

Using Codewind Remotely
-> Creating and Importing Projects
--> VS Code
--> Eclipse

2. Create an eclipse-specific topic and ad

[2020-03-02 11:09] MelHopper opened #2361 "Fix the content in section 'Deploy Additional Remote Codewind Services'"
The content needs work and the CAPITAL LETTERS flagging this work need to be removed before the content is published.

Consider swapping paragraphs 2 and 3 around.

Add further information link to the bullet
_2. assigning users through role-based acccess control. This is/can be? set up automatically using/by? the cwctl command_

[2020-03-02 11:15] MelHopper opened #2362 "ToC changes: Move remote-removing.md to same level as 'Deploying your Remote Codewind Instance' title"
1. Move the remote-removing.md ' titled 'remove a remote deployment' to the correct level in the ToC as follows:

Deploying Codewind Remotely
-> Overview: Deploying Codewind Remotely
->Deploying your remote codewind instance
->Removing a remote deployment

2. rename title from _'remove a remote deployment'_ to _'removing a remote Codewind deployment'_

[2020-03-02 11:21] MelHopper opened #2363 "ToC Change: move Creating and Importing Projects to correct level in ToC"
**NOTE: This bug needs to be action BEFORE bug https://github.com/eclipse/codewind/issues/2360**

Move the remotedeploy-projects-vscode.md ' titled 'remove a remote deployment' to the correct level in the ToC as follows:
Using Codewind remotely
-> Overview: Using Codewind Remotely
->Connecting your IDE to remote Codewind
--> Connecting VS Code to remote Codewind
--> Connecting Eclipse to remote Co

[2020-03-02 11:23] rwalle61 commented on #2232
Prioritised list of gaps in `User.js`:
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2020-03-02 11:36] hhellyer opened #2364 "cwctl not checking `json.Unmarshal` response"
**Description:**
`cwctl` often fails to check that the http response body returned to it from unmarshalled from json correctly, for example:

https://github.com/eclipse/codewind-installer/blob/3b4f18e6ece4eca7b4a9bd0749ff3392e710c512/pkg/apiroutes/templates.go#L94-L95

This pattern is repeated in a lot of cwctl code.
Under: https://github.com/eclipse/codewind-installer/pull/389/files we added the

[2020-03-02 11:37] hhellyer commented on #2319
I've added https://github.com/eclipse/codewind/issues/2364 to deal with other occurrences. This issue can now be closed.

[2020-03-02 11:37] #2319 closed

[2020-03-02 12:00] MelHopper opened #2365 "Update links used by VS Code UI and Eclipse UI for using Codewind remotely"
The following remote Codewind topic links for the UIs of VS Code and Eclipse need to be altered as a result of reworking/'tutorialising' of remote topics in the documentation at codewind.dev for 0.10:

**VS Code UI:**

REMOTE_UI:              new CWDoc("remotedeploy-vscode.html"),
REMOTE_DEPLOYING:       new CWDoc("remotedeploy-combo.html"),

**Eclipse UI:**
REMOTE_SETUP_URL =  DOC_BASE_URL +"/rem

[2020-03-02 12:30] MelHopper opened #2366 "Rename markdown files for remote topics to match splitting into Using and Deploying actions"
**Issue**
The remote documentation has now been split into 2 tutorials:

1. 'Deploying Codewind Remotely' - for devops to set up Remote instances of Codewind for their developers

2. 'Using Codewind Remotely' - for developers who simply need to connect to a remote instance of Codewind that Devops has set up for them

The markdown file names do not currently reflect this split and so could lead to

[2020-03-02 12:43] MelHopper opened #2367 "Designing user workflows based on different user roles"
Other products, including IBM products such as IBM Cloud Pak for Applications, split their content based on the users' role.

See for an example: Quick start section on https://cloud.ibm.com/docs

It would be good to split Codewind based on the user role of:

1. Devops - (i) setting up remote instances of Codewind (ii) providing templates that standardise runtime versions etc, for developers to th

[2020-03-02 12:44] MelHopper commented on #2367
@rachel.chen created a mural showcasing examples of product landing pages, some of which are split based on user role: https://app.mural.co/invitation/mural/ibmappplatform8963/1581621386636?sender=rachelchen6222&key=b407fa58-fed1-4b2f-a07b-13b78d5fe7f0

[2020-03-02 13:29] MelHopper opened #2368 "Hone Keycloak content in Deploying Codewind Remotely topics"
Keycloak is referenced multiple times within the Deploying Codewind Remotely topics.

It is possible that the documentation can be reworked so that this information can be hidden from the user, to reduce Excise.

If not, further information about a Keycloak could be added along with explicit external webpage links to further information on the topic.

@markcor11 made this comment during a demo of

[2020-03-02 13:38] MelHopper opened #2369 "Create single diagram defining local, hosted and remote config options for Codewind"
### The problem
The distinctions between the different possible configurations for Codewind, along with the IDEs that each supports, is unclear and a big confusion even within the Codewind tribe.

### The solution
A single diagram defining the configurations and how each is related is required, for use both within Overview topics to orient users, and for other content such as Guides etc.

### Deta

[2020-03-02 13:40] MelHopper commented on #2369
I have created a draft diagram which I will forward to @kholmes for design to use to create a branded diagram.

Note that @beccabau is creating diagrams for use in less formal content types such as Blogs.

[2020-03-02 13:52] MelHopper commented on #2369
@sishida Hi Sarah, just tagging you FYI as this will be the first of a few diagrams that me, Becca and design will create for using across content including documentation - an FYI re. where you'd like these diagrams put as I know you are dealing with image location in github repo.

[2020-03-02 14:02] beccabau commented on #2369
Yes, can add my blog designs here (for the less formal blogs/more "fun" things) if requested.

[2020-03-02 14:03] beccabau commented on #2369
Yep, just let me know if we have a place to put the less formal designs!

[2020-03-02 14:16] bsteinfeld commented on #2251
I ran into a similar error trying to deploy the default go template.

In short when I tried to build my go project it tried to start the k8s pod but it failed to start due to: ` ErrImagePull`.

I am running this in IKS version `1.15.10_1531`.

Here are all the logs (describe go pod, pfe logs, list of serviceaccounts): https://gist.github.ibm.com/Bradley-Steinfeld/c61b76988a77ca0c8e8b5422ed37a9e3

[2020-03-02 14:24] jopit commented on #2275
Fixed by PR https://github.com/eclipse/codewind-intellij/pull/66

[2020-03-02 14:24] #2275 closed

[2020-03-02 14:28] jopit commented on #2240
Fixed via PR https://github.com/eclipse/codewind-intellij/pull/66

[2020-03-02 14:29] jopit commented on #2225
Fixed via PR https://github.com/eclipse/codewind-intellij/pull/62

[2020-03-02 14:38] keithchong commented on #2283
- **team/repository**
https://github.com/eclipse/codewind-openapi-vscode
https://github.com/eclipse/codewind-openapi-eclipse
- **what is the current coverage of tests in total?**
**VSCode**:
   Mocha Automated Tests.  10%
   UI Tests. 0%
**Eclipse**:
   JUnit Automated Tests: 80%
   SWTBot Automated Tests: 70%
- **what is the current coverage of tests running on PR builds?**
**VSCode**:
   Mocha A

[2020-03-02 14:48] jgwest commented on #489
If anything we should be moving in the opposite direction (using standard websockets), given the poor socket.io support in Go and Java.

[2020-03-02 14:52] beccabau commented on #2369
![CW-Local-Config](https://user-images.githubusercontent.com/13971834/75687062-39406900-5c6b-11ea-9e06-e8c13c2c9f3b.jpg)
![CW-Hosted-Config](https://user-images.githubusercontent.com/13971834/75687173-62f99000-5c6b-11ea-840d-2cc1c01247ca.jpg)
![CW-Remote-Config](https://user-images.githubusercontent.com/13971834/75687181-65f48080-5c6b-11ea-8fd1-6b8e570a622f.jpg)

@MelHopper - i haven't gotten arou

[2020-03-02 15:01] sishida commented on #2369
I have reached out to the design team and asked them about style guidelines for charts/diagrams.

[2020-03-02 15:06] jgwest commented on #2349
@jgwest

[2020-03-02 15:08] jgwest commented on #2349
@AndyRWatson Liam needs to comment on the issue first before GitHub will let him be an assignee.

[2020-03-02 15:09] malincoln commented on #533
@tetchel pls verify and close. Thanks

[2020-03-02 15:10] malincoln commented on #1792
@tobespc do we need SVT to verify?

[2020-03-02 15:20] stalleyj commented on #2309
So I wasn't using the right Eclipse package, guess I just started using the Eclipse that I already had on my machine. To improve the user experience (for other stupid users like me), it would be great if we catch the error and inform the user that they may not be using the correct Eclipse package rather than the menu option doing nothing.

[2020-03-02 15:27] sishida commented on #1883
On Friday, Feb. 28th, Steven and I moved the images in the codewind-docs repo so that all images are located in codewind-docs/docs/images.

I might organize them further into subfolders, but at least now we no longer have a dist/images folder to get confused about.

[2020-03-02 15:29] eharris369 commented on #2309
@josephca Do you know if there is some way of failing with a nice message if users try to install Codewind on the wrong Eclipse package?

[2020-03-02 16:11] keithchong commented on #2269
Follow-on to original issue: https://github.com/eclipse/codewind/issues/989

[2020-03-02 16:43] jagraj commented on #2283
- **team/repository**
SVT - UI Automation and Manual integration tests.

Eclipse Che, VSCode - UI automation.
https://github.ibm.com/dev-ex/codewind-svt/blob/master/README.md

Eclipse plugin
SWTBot - UI automation
https://github.ibm.com/dev-ex/automation-codewind-svt

Here is our Automation matrix progress captured in this box note.
https://ibm.box.com/s/u2qrknn9dl6eylycs7140wspl3f8jy67

- **what

[2020-03-02 16:50] makandre opened #2371 "Lagom project dockerfile not optimized to take advantage of docker caching"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation #2078

Lagom project dockerfile runs maven build after copying application code: https://github.com/codewind-resources/lagomJavaTemplate/blob/master/Dockerfile#L5. This means whenever user make any code changes, s

[2020-03-02 16:51] makandre commented on #2078
Lagom projects cannot be worked on offline, even if project was running prior to connection loss. This is due to #2371

[2020-03-02 17:11] eharris369 commented on #2341
![image](https://user-images.githubusercontent.com/9484320/75699710-e5d81600-5c7e-11ea-9cd5-ef207c4ed80f.png)

[2020-03-02 17:31] AndyRWatson opened #2372 "intellij 0.9.0 plugin / marketplace Getting Started link gives 404."
**Codewind version:** 0.9.0 Intelij
**OS:**

**Che version:**
**IDE extension version:**.   intellij
**IDE version:**
**Kubernetes cluster:**

**Description:**

When viewing codewind plugin in the intellij marketplace the Getting Started link returns a 404 File not found.

https://plugins.jetbrains.com/plugin/13839-codewind

It looks like we have the extra .md. withithing the url

https://www.ecli

[2020-03-02 17:34] tetchel commented on #2299
@jopit does intellij need this change?

[2020-03-02 17:34] GeekArthur commented on #2283
**Team/repository**

OpenShift DO (odo) - https://github.com/eclipse/codewind-odo-extension

**What is the current coverage of tests in total?**

Functional tests kube: 64%

**What is the current coverage of tests running on PR builds?**

0% 😭

**What gaps in testing are most important to you?**

- Increase the testing coverage of odo functional tests
- Enable odo functional tests on PR builds

[2020-03-02 18:08] tetchel commented on #533
works now, neato

[2020-03-02 18:08] #533 closed

[2020-03-02 18:14] josephca commented on #2372
This was fixed by https://github.com/eclipse/codewind/issues/2300 and target **0.10.0** release as the same documentation can be obtained from https://plugins.jetbrains.com/plugin/13839-codewind
![image](https://user-images.githubusercontent.com/25185698/75704537-8a5e5600-5c87-11ea-8448-2718e651d4e2.png)

Please re-open if this should be fixed before **0.10.0** release.

[2020-03-02 18:18] jopit commented on #2299
Yes it does (@cccanderson)

[2020-03-02 18:24] josephca opened #2373 "The recent doc file name changes have not been reflected fully in the corresponding Codewind codes"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The recent docs change (https://github.com/eclipse/codewind-docs/pull/421) should be reflected in the Codewind codes (not only IntelliJ)

e.g. **mdt-** has been removed from docs and the corresponding changes need to be done.

grep intellij-getting-started.html -r *

[2020-03-02 19:22] AndyRWatson commented on #2372
Can we not update ahead of 0.10 ?   Thats a few weeks out and the wrong url doesnt make for a good user experience

[2020-03-02 19:23] tetchel commented on #2330
i've noticed this too, it's really annoying. Input boxes are supposed to take focus by default and there's no way to configure that. I'll see if there is any way I can hack a fix.

[2020-03-02 19:23] sishida commented on #2341
The PR for the text and image update has been merged. Closing this issue.

[2020-03-02 19:23] #2341 closed

[2020-03-02 19:25] AndyRWatson commented on #2372
can we please reopen (not sure I can) as we should look to get the url fixed before 0.10.

[2020-03-02 19:32] jopit commented on #2283
- **team/repository**
IntelliJ IDE - https://github.com/eclipse/codewind-intellij

- **what is the current coverage of tests in total?**
0

- **what is the current coverage of tests running on PR builds?**
0

- **what gaps in testing are most important to you?**
Initially to get some minimal automated testing.

- **what are the largest obstacles to increasing coverage of tests in total?**
Lack of

[2020-03-02 19:43] AndyRWatson commented on #1735
This is a prereq to being able to use codewind as part of the skills network labs which will form the basis of quicklabs for future conferences in 2020.    @johnmcollier can you confirm based on the  work you did with @bsteinfeld

[2020-03-02 19:46] makandre commented on #2078
MicroProfile and Spring Boot projects have can be worked on while offline

[2020-03-02 19:47] malincoln commented on #2189
@tetchel pls proceed.  This new pkg can be picked up when the legals are done for 0.10.0

[2020-03-02 19:54] tetchel commented on #2189
ok, this will not be done for 0.10 though.

[2020-03-02 20:12] #2320 closed

[2020-03-02 20:13] johnmcollier commented on #1735
@AndyRWatson I can confirm that this is a requirement for the work that @bsteinfeld has been looking at

[2020-03-02 20:32] tetchel commented on #2278
Yes it is, if I `rm -rf /Users/tim/programs/vscode-codewind-workspace/apps-mpp` here are the filewatcherd logs:

[code]

[2020-03-02 20:43] makandre opened #2374 "Open Liberty project dockerfile not optimized to take advantage of docker caching"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Discovered as part of offline support investigation #2078

Two problems:

1. dockerfile runs maven build after copying application code: https://github.com/codewind-resources/openLibertyTemplate/blob/master/Dockerfile#L4. This means whenever user make any code chan

[2020-03-02 20:44] makandre commented on #2078
Open Liberty projects cannot be worked on offline, even if project was running prior to connection loss. This is due to #2374

[2020-03-02 20:59] makandre commented on #2078
### Summary of findings

- 3 project types can work offline as-is: `Go`, `Microprofile`, `Spring Boot`

- 3 project types don't work offline due to non-optimized dockerfiles:
  - `Python` #2357
  - `Lagom` #2371
  - `Open Liberty` #2374

- 2 projects types don't work because previous images are always removed before build, so docker caching cannot be leveraged:
  - `Nodejs` #2354
  - `Swift` #2358

[2020-03-02 21:03] #1883 closed

[2020-03-02 21:08] sghung commented on #1859
We're done with the investigation so closing.

[2020-03-02 21:08] #1859 closed

[2020-03-02 21:13] sghung commented on #2078
We will focus on getting the top 3 issues in for 0.10.0

[2020-03-02 21:21] makandre commented on #2371
/assign

[2020-03-02 21:22] makandre commented on #2374
/assign

[2020-03-02 21:45] sishida commented on #2340
@eharris369, I have added the link to "Working with templates" in this PR: https://github.com/eclipse/codewind-docs/pull/452. Could you please review/approve/merge if it looks good to go? Thank you!

[2020-03-02 22:06] mmulholl commented on #1804
So I still see app metrics listed as an option, I select it and get a message pop-up to say it is not supported and then the option disappears.

[2020-03-02 22:16] mmulholl opened #2375 "SVT : Eclipse : Error deleting project"
**Codewind version:*  Codewind tech preview	0.10.0.v202002281957
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse
**Kubernetes cluster:**

**Description:**

Deleting an appsody open liberty project I see this pop-up although the project does appear to be deleted.

![image](https://user-images.githubusercontent.com/16086270/75723136-b25eb100-5ca9-11ea-9ac3-2a6107673

[2020-03-02 22:46] tetchel commented on #2375
https://github.com/eclipse/codewind/issues/2193

[2020-03-02 23:14] johnmcollier commented on #2251
@bsteinfeld Yup, that's the issue you're hitting. The ErrImagePull is due to containerd being unable to extract the image that was built by buildah.

Unfortunately, there's not much I think we can do for 1.15 installs. Is moving up to Kube 1.16 (or higher) a possibility for you?

[2020-03-02 23:16] bsteinfeld commented on #2251
@johnmcollier Luckily I think we _will_ be able to upgrade to 1.16! We are testing this right now - but so far so good.

[2020-03-03 07:03] jgwest commented on #2278
The current filewatcherd behaviours appear to be:
- Java (non-Eclipse): Detects the change but does not correctly report it. Fix attached as PR.
- TypeScript: Detects the change and correctly reports it.
- Go: Detects the change but does not report it. Fix attached as PR.
- Java (Eclipse): Detects the change, but I don't see an obvious way to get the path of a deleted project from the IProject API

[2020-03-03 10:11] liamchampton commented on #2349
Will take a look at this

[2020-03-03 10:13] #2317 closed

[2020-03-03 10:18] tobespc commented on #1735
Having a "developer" or "debug" mode where (as per comment above)

 ```perhaps only supporting it behind a debug environment variable like ALLOW_INSECURE_KEYING, that would just store the keyring information in a simple text file in .codewind.```

is worth looking into

[2020-03-03 12:24] malincoln commented on #2225
@jagraj pls verify and close. Thanks

[2020-03-03 12:26] malincoln commented on #982
@jopit is this being targeted for 0.10.0?  I'm removing the 0.9.0 release tag as that released is complete.

[2020-03-03 12:27] malincoln commented on #1672
@tobespc is this being targeted for 0.10.0.  I'm removing the 0.9.0 release tag as that released is completed.

[2020-03-03 12:29] malincoln commented on #1254
removing 0.9.0 release tag as that released is now completed.

[2020-03-03 12:29] malincoln commented on #978
@jopit should we reset the release to 0.10.0?

[2020-03-03 12:31] malincoln commented on #676
@sghung I'm removing the 0.9.0 release tag as that release has completed.  Please reset once you know the targeted release.  Thanks

[2020-03-03 13:08] rwalle61 commented on #1735
/assign

[2020-03-03 13:16] rwalle61 commented on #1735
@jgwest @johnmcollier so cwctl will provide a debug mode where we store the keyring info in a simple text file in .codewind. There are 2 options:

1. the IDEs tell cwctl which keyring mechanism to use by calling cwctl with a flag such as `--allow-insecure-keyring`.
2. IDEs don't tell cwctl which keyring mechanism to use. Cwctl tries to use the secure keyring by default. If that fails, cwctl will f

[2020-03-03 13:43] bsteinfeld commented on #1735
I like option 1. Would be nice if this _also_ could be defaulted via an environment variable (e.g. `ALLOW_INSECURE_KEYRING=true`

[2020-03-03 13:52] rwalle61 commented on #1735
just to clarify, you mean defaulted via an environment variable *in the IDE*, right?

[2020-03-03 14:06] bsteinfeld commented on #1735
I mean via any process (_IDE_ included) that will call `cwctl`. To be specific I'd like all the following to work:

No IDE
[code]

No IDE
[code]

IDE (e.g. theia)
[code]

[2020-03-03 14:07] jopit commented on #982
This was done in 0.9.0

[2020-03-03 14:07] #982 closed

[2020-03-03 14:27] makandre opened #2378 "Pick up appsody 0.5.9 release for 0.10.0"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Pick up appsody `0.5.9` which is scheduled to be released on Mar 4.

**Proposed solution:**

[2020-03-03 14:27] makandre commented on #2378
/area appsody
/area eclipse-ide
/area vscode-ide
/area intellij-ide

[2020-03-03 14:28] sishida commented on #2363
PR merged. Closing this issue.

[2020-03-03 14:28] #2363 closed

[2020-03-03 14:32] sishida commented on #2362
PR merged, closing this issue.

[2020-03-03 14:32] #2362 closed

[2020-03-03 14:34] sishida commented on #2340
PR merged, closing this issue.

[2020-03-03 14:34] #2340 closed

[2020-03-03 14:44] sghung commented on #2233
Demoed the release specific website I quickly prototyped. Tim D didn't like having a combo with a drop down of all the versions. More discussion is required so tagging with tech topic.

Jag also brought up a good point, we don't want to show versions we don't support anymore

[2020-03-03 15:11] j-c-berger commented on #2360
@micgibso or @sishida, please feel free to assign me!

[2020-03-03 15:12] MelHopper commented on #1758
Hi @sishida we're missing the 'Configuring Codewind for Eclipse Che' title, under which the children 'Adding a container registry' and Creating a Codewind workspace in Che'.

[2020-03-03 15:14] MelHopper commented on #1758
and a Next Step section that sends user to 'Creating a Codewind workspace in Che' - are you able to add?

[2020-03-03 15:15] j-c-berger commented on #2342
@sishida, feel free to assign me, thanks!

[2020-03-03 15:27] james-wallis opened #2379 "Incubator repository from Appsody missing from the repository list"
**Codewind version:** Master
**OS:** MacOS

**Description:**
The default `incubator` repository is missing from the repository list.
When `appsody` is first initialised into an completely new `codewind-workspace` volume it correctly adds a `repository.yaml` into the `/codewind-workspace/.appsody/repositories/repository.yaml` that contains the `incubator` repository (and the experimental one but we

[2020-03-03 15:47] #2374 closed

[2020-03-03 15:47] sishida commented on #2233
Discussion from Slack:

From @sishida:
Here's an idea about the version specific documentation: What if we linked the version URLs in each of the news pages? For example, the 0.8.0 news page could have a statement like, "Click here for the 0.8.0 version of the website." and it could open in a new tab so the user wouldn't get stuck in the older version of the website. Would something like this work

[2020-03-03 15:48] #2371 closed

[2020-03-03 15:48] #2357 closed

[2020-03-03 16:04] AndyRWatson commented on #1601
Bringing the discussion up again as we need to close out on how best to ensure blog posts remain within the scope of codewind.dev rather than a 3rd party site such as medium

[2020-03-03 16:28] sishida opened #2380 "Adding another level of child topics on the Codewind website"
We currently cannot get the third level headings on our website to have child topics.
For example, say you have *Getting Started* > *Eclipse Che* > *Configuring Codewind*. This third level heading, *Configuring Codewind*, cannot have child topics.

If you do try to add them, you get *Configuring Codewind* plus its children all appearing at the same level, and *Configuring Codewind* will link out t

[2020-03-03 16:31] sishida commented on #1758
@MelHopper Please see this issue for the limitations regarding child topics: https://github.com/eclipse/codewind/issues/2380

[2020-03-03 16:32] MelHopper commented on #1758
Can you now delete che-usingtheia.md _'Using codewing from the Che Theia IDE'_? - has the content been moved into the new topic _Creating your first project_ ?

[2020-03-03 16:35] MelHopper opened #2381 "Move Optional topics out of Eclipse Che tutorial block and into it's own block"
Currently, all topics relevant to Eclipse Che are sitting under the Eclipse Che section of the Getting Started block.
- 🦄 Update link on `mdt-che-createcodewindworkspace.md`.
- Installing Codewind for Eclipse Che
- Adding registries in Che
- Creating the Codewind workspace
- Creating your first project
- Uninstalling Codewind for Eclipse Che
(🦄 From meeting with John C on March 9th: The above topi

[2020-03-03 16:35] MelHopper commented on #1758
Hi Sarah, are you happy to create a new issue to cover the remaining work 'Need to add paragraph about optional configurations, link)(eclipse/codewind-docs#315)'? - then we can close this work item and it is not blocked by github issue https://github.com/eclipse/codewind/issues/2381 'Move Optional topics out of Eclipse Che tutorial block and into it's own block'

[2020-03-03 16:47] MelHopper commented on #1980
Depends on https://github.com/eclipse/codewind/issues/2381 **Move Optional topics out of Eclipse Che tutorial block and into it's own block**

[2020-03-03 16:59] johnmcollier commented on #1060
Can this be investigated for 0.11.0?

[2020-03-03 17:03] maysunfaisal commented on #1060
Been hitting #2068 badly on Che for couple days. Even Turbine Che tests intermittently time out on workspace creation.

[code]
[code]

cc @ssh24

[2020-03-03 17:09] MelHopper opened #2382 "Add detailed registry information to instructions for using Codewind remotely"
Currently, Eclipse Che has a whole topic dedicated to Adding a Container Registry, che-setupregistries.html

The tutorial for Using Codewind Remotely should have this content too.

**Tasks**

1. Copy the content in che-setupregistries.html into a new topic remoteuse-setupregistries.md with title 'Adding a container registry to Codewind'.

2. Amend content to make it valid for remote Codewind rathe

[2020-03-03 17:09] MelHopper commented on #2382
@tetchel FYI

[2020-03-03 18:15] tetchel commented on #303
resolved in above PR

[2020-03-03 18:15] #303 closed

[2020-03-03 18:16] tetchel commented on #1910
I don't see this anymore 🤷‍♂

[2020-03-03 18:24] jopit commented on #2167
I see this in the PFE logs
[code]
which isn't an IDE error.  The Turbine team needs to investigate.

[2020-03-03 18:46] malincoln commented on #2240
@sujeilyfonseca pls verify and close. Thanks

[2020-03-03 19:01] eharris369 commented on #2193
This also affects other things like drag and drop of a project from one connection to another in the Eclipse IDE.

[2020-03-03 19:02] cccanderson commented on #2038
This was "fixed" by https://github.com/eclipse/codewind-intellij/pull/59 .  (Note that recent changes made it so that all project types currently supported by IntelliJ show the Performance Dashboard option... but the code is now in place where, should that change, the action will not be shown.)

[2020-03-03 19:02] #2038 closed

[2020-03-03 19:05] sujeilyfonseca opened #2384 "(metrics) SVT: Users will not know for which projects we support performance and metrics dashboards"
**Codewind version:** 0.9.0 & Latest

**Description:** Users will not know for which projects we support performance and metrics dashboards.

Metrics and performance dashboards must be available in Java, Node JS, and Swift projects. However, projects such as Java Lagom didn't support the mentioned options in previous releases (i.e., before 0.9.0). Therefore, as with other types of projects (Go and

[2020-03-03 19:06] sujeilyfonseca commented on #2384
/priority stopship

I'm adding this tag after discussing this issue with @jagraj.

[2020-03-03 19:26] jopit commented on #2326
Reopen so that SVT can verify the fix.

[2020-03-03 19:39] jopit opened #2385 "[IntelliJ] Disable New Project menu item when Codewind not running."

[2020-03-03 19:40] jopit opened #2386 "[IntelliJ] Support for app metrics -- dashboard and injection"

[2020-03-03 20:09] ssh24 commented on #2350
Please note the second solution is already implemented in #2091

[2020-03-03 20:40] #2091 closed

[2020-03-03 20:40] #2254 closed

[2020-03-03 20:40] #2175 closed

[2020-03-03 20:41] #2173 closed

[2020-03-03 20:41] #2228 closed

[2020-03-03 20:42] makandre commented on #2354
/assign

[2020-03-03 20:43] ssh24 commented on #1928
/close

Closing this as it has been solved. Please reopen if needed.

[2020-03-03 20:43] #1928 closed

[2020-03-03 20:48] sghung commented on #2142
If you have the codewind website running locally, you can run:

`docker run --network="host" --rm -it linkchecker/linkchecker http://localhost:4321/codewind/ `

This will do the website checking for you in one line. You need to run this in another terminal and ensure your website is running on port 4321

[2020-03-03 20:56] eharris369 commented on #1804
This is expected behaviour for Eclipse IDE. If it tries to ping the app metrics when it is bringing up the menu the menu will be too slow. Instead, the first time the user tries to use the app metrics it pings and if it fails it will disable that menu item in the future. The fix is for portal to do the ping (or something) to give the IDEs the correct setting for the menu item up front. I think thi

[2020-03-03 20:58] eharris369 commented on #2095
Closing since it is not reproducible. Please re-open if you find that you can reproduce the problem.

[2020-03-03 20:58] #2095 closed

[2020-03-03 20:59] eharris369 commented on #1828
Closing as this is not reproducible. Please re-open if you run into this again.

[2020-03-03 20:59] #1828 closed

[2020-03-03 21:00] eharris369 commented on #752
I believe this is resolved by setting the default install version to latest in master branch so closing. If you still have a concern, please re-open.

[2020-03-03 21:00] #752 closed

[2020-03-03 21:21] eharris369 commented on #239
I can reproduce this problem with the Eclipse IDE and Appsody MicroProfile projects.

[2020-03-03 21:28] james-wallis commented on #2379
Spoke to @makandre about this and the outcome was that the `appsodyExtension` should not guarantee that the `incubator` repository is always there. Although it is a default the user can delete it at their will.
Due to this in my #2346 PR I have removed the checks for `appsodyExtension` from the `project-types` API (user with existing workspace may not have any `appsodyExtension` templates and so w

[2020-03-03 21:28] #2379 closed

[2020-03-03 21:36] makandre opened #2389 "Each swift project build leaves behind 1.5 GB dangling docker image"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Every time a Codewind swift project is built, it leaves behind a 1.5 GB dangling docker image (it corresponds to the `-build` container):

[code]

**Steps to reproduce:**

**Workaround:**

[2020-03-03 21:37] tetchel commented on #2202
Hi Bradley, I made a series of changes to the extension which should help supporting your scenario. However, my extension's webviews (such as the new remote connection page) do not work for me - but they worked for you in the screenshot above. Could you provide more detail on this step, since my issue may be ssl related?

[2020-03-03 21:38] sishida commented on #2373
I have opened the following PRs to update the links:
1️⃣Since the links changed more than just removing `mdt`, I'm not sure about these updates. They need review: https://github.com/eclipse/codewind-intellij/pull/73
2️⃣I'm pretty confident this one is good to go, though: https://github.com/eclipse/codewind-intellij/pull/72

[2020-03-03 21:39] makandre commented on #2389
Note: old image should be deleted *after* new image is built in order to leverage cached docker layers, similar to what's done in https://github.com/eclipse/codewind/pull/2388

[2020-03-03 21:42] #2385 closed

[2020-03-03 21:52] makandre commented on #2078
I now have fixes for `Nodejs` #2354 and `Swift` #2358 as well.

@elsony or @rajivnathan, could you take a look at the issues above and review associated PRs?  Thanks.

[2020-03-03 21:52] makandre commented on #2358
/assign

[2020-03-03 21:54] rachelwchen opened #2390 "Broken URL in Codewind VSCode when adding remote connection"
**Codewind version:** v0.9.0
**IDE:** VSCode
**IDE version:** 1.42.1

**Description:**
In the remote connection settings page on VSCode, the "3. Add Registries (?)" link is broken (see the yellow arrow):
![url](https://user-images.githubusercontent.com/12159451/75822830-7bde7000-5d55-11ea-9a0a-d20925269756.png)

The link takes you to https://www.eclipse.org/codewind/image-registry-credentials.html

[2020-03-03 22:02] makandre opened #2391 "Each open liberty project build leaves behind 3 (now 2) ~400 MB dangling docker image"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Every time a Codewind open liberty project is built, it leaves behind 3 roughly 400 MB dangling docker image (1 image per stage of the multi-stage docker build):

[code]

**Steps to reproduce:**

**Workaround:**

[2020-03-03 22:08] sishida commented on #2390
My guess (based on PR https://github.com/eclipse/codewind-docs/pull/364/files), is that `che-setupregistries` is the update for that broken link, but it specifically talks about Che, not VS Code.

[2020-03-04 05:01] jgwest commented on #2372
/reopen

[2020-03-04 05:10] jgwest commented on #844
/reopen

[2020-03-04 05:16] jgwest commented on #844
/reopen

[2020-03-04 05:23] jgwest commented on #844
/reopen

[2020-03-04 05:26] jgwest commented on #844
/reopen

[2020-03-04 05:30] jgwest commented on #844
/close

[2020-03-04 08:40] tobespc commented on #2193
This will be picked up today

[2020-03-04 08:56] tobespc commented on #2278
if you do delete an entire root delete, what would be the reasoning behind doing that ?  Would you be thinking the project should be deleted from codewind (as in unbind) ?

[2020-03-04 11:39] micgibso commented on #516
[vsc-tutorial.zip](https://github.com/eclipse/codewind/files/4287049/vsc-tutorial.zip)

Topic no longer in TOC, but was in source. Attached and removed from source.

[2020-03-04 13:25] micgibso commented on #248
Readme last updated 31 October 2019

[2020-03-04 13:26] micgibso commented on #272
@sishida Something else to consider for your folders work perhaps?

[2020-03-04 13:45] liamchampton commented on #2349
@sishida We don't currently support native use of cwctl (unless its for remote install). I don't think we need the sentence: "You might encounter the same issue if you run codewind-installer from the Terminal." as this could confuse people quite quickly.

[2020-03-04 13:46] sishida commented on #2351
PR merged, closing this issue: https://github.com/eclipse/codewind-docs/pull/456

[2020-03-04 13:46] #2351 closed

[2020-03-04 14:12] jgwest commented on #2189
Adding iterative-dev for typescript filewatcher code
/area iterative-dev

[2020-03-04 14:17] #526 closed

[2020-03-04 14:23] #516 closed

[2020-03-04 14:35] sishida commented on #2349
@liamchampton Thank you for the info! I have opened the PR here to remove the sentence: https://github.com/eclipse/codewind-docs/pull/459

Please let me know if it's good to go and if we can close this issue. If we need changes or other updates for this issue, please let me know what else you'd like to change. Thanks!

[2020-03-04 14:36] MelHopper commented on #2390
Hi Sarah, I've been having a similar conversation in parallel with @tetchel. This resulting github issue solves the problem. https://github.com/eclipse/codewind/issues/2382

(The image-registry-credentials file I assume was one of the 3 topics that existed under the Che block in the ToC that got amalgamated: Adding Registries, Docker Registry Guidance, and Setting Docker Registries).

I believe ou

[2020-03-04 14:37] makandre commented on #2389
I put a fix for this into #2388

/assign

[2020-03-04 14:39] MelHopper commented on #2365
@sishida FYI

[2020-03-04 14:40] hhellyer commented on #2193
I've pushed a fix under https://github.com/eclipse/codewind-installer/pull/391 it's awaiting review.

[2020-03-04 14:40] MelHopper commented on #2365
@tetchel FYI

[2020-03-04 14:41] sishida commented on #2390
@MelHopper @tetchel
To see the amalgamation of the image-registry-credentials file, see this PR: https://github.com/eclipse/codewind-docs/pull/364/files

I can start https://github.com/eclipse/codewind/issues/2382 and ask @tetchel for review to help make sure the file conforms to the remote situation if everyone's OK with this plan?

[2020-03-04 15:01] MelHopper opened #2395 "Perform audit and create central document detailing external links to topics"
As topics are reworked and overviews added to the website documentation, links from external sites and IDE UIs need to be modified and optimised.

A central document detailing all the external locations that use links to topics is required, to ensure links are updated, the best links are used, and to prevent 404 errors.

**The list includes:**
ICP4A Knowledge Center
Marketplace
Docker
IDE UIs - Ec

[2020-03-04 15:02] MelHopper commented on #2395
@micgibso FYI creating a spreadsheet for us to use, which will hopefully reduce number of bugs resulting from doc changes.
Please can you assign ID label and assign to me? Many Thanks.

[2020-03-04 15:05] MelHopper commented on #2365
Related to https://github.com/eclipse/codewind/issues/2395

[2020-03-04 15:06] MelHopper commented on #2395
Related Github Issues: https://github.com/eclipse/codewind/issues/2365

[2020-03-04 15:07] MelHopper commented on #2366
NOTE: consider impact of these name changes - if this will break many links from external sites, reconsider.

[2020-03-04 15:26] makandre commented on #1825
/pipeline verify

[2020-03-04 15:36] sishida commented on #2395
Please remember to make sure that this central document is publicly viewable.
As an open source project, we want all users and contributors to have easy access to it. Thanks!

[2020-03-04 15:56] tetchel commented on #2278
I don't know, really, but i expected at least something to happen 😅

[2020-03-04 15:57] tetchel commented on #2278
I guess the reasons to delete the directory would be by accident, to try and move it to another location on disk, or if I wasn't interested in the project any more but didn't know how / forgot to remove it from Codewind first.

[2020-03-04 16:02] malincoln commented on #2384
@tobespc @eharris369 @tetchel  ^^^

[2020-03-04 16:02] tetchel commented on #159
To answer the last point, we can use emojis, but not icons in the VS Code tree items :)

[ 🔨 Building] [🟢 Started] ;)

[2020-03-04 16:02] malincoln commented on #2193
@eharris369 pls verify and close. Thanks

[2020-03-04 16:03] malincoln commented on #2326
@naveenkaratekid pls verify and close. Thanks

[2020-03-04 16:05] tetchel commented on #2384
The IDEs are behaving correctly with the information provided, as described in https://github.com/eclipse/codewind/issues/1815#issuecomment-583354048.

The backend has to provide 'more correct' information such as not saying that lagom projects support the metrics dashboard. Until we have that, there's nothing more we can do.

[2020-03-04 16:14] tobespc opened #2398 "Jane wants to know about 'hot' methods on the performance dashboard"

[2020-03-04 16:18] tobespc opened #2399 "Jane would like to see which 'hot' methods are associated with a performance test"
**Use Case**

Jane would like to be able to see which methods are consuming the most CPU during a performance run.  With this information, she would be able to identify which code would be a candidate for optimisation.  Having this information readily available on the performance dashboard alongside the other data from the run would make analysis simpler.

**Visual Design Requirements**

The data

[2020-03-04 16:23] tobespc opened #2400 "Jane would like to link back to her code from the performance container for 'hot' methods"
**Use Case**

Jane would like to be able select a method from the performance run that is a candidate for optimising and then have the IDE automatically open the code at that point.  This would save her having to hunt through the code herself for the method.

**Visual Design Requirements**

From the list of methods supplied through the performance dashboard

<img width="538" alt="Screenshot 2020-0

[2020-03-04 16:37] AndyRWatson opened #2401 "Kabanero collections to be known as Kabanero Stacks from v4.1 (March 13)"
**Codewind version:** 0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The Kabanero project will be updating their terminology for their v4.1 release (GA expected 13th March).  They will stop referring to "Kabanero Collections" and  instead start using "Kabanero Stacks"

We currently refer to Kabanero Collection

[2020-03-04 17:29] jgwest commented on #2309
I presume it's the Eclipse TCF/TM/RSE plugins that are used for this view?

#### Some Options:
1) Add dependency on those plugins to our product update site; if they aren't present, they will either be downloaded from eclipse.org, OR the install will fail (with a not nice message). In either case, at least our product will only be used with the plugins installed.
2) If you click the **Open Contain

[2020-03-04 17:37] josephca commented on #2372
@AndyRWatson @jopit The fix is made and verified: http://download.eclipse.org/codewind/codewind-intellij/0.9.0/26/codewind-intellij-0.9.0.zip
However, in order to republish we need to bump up the version to next (i.e. 0.9.1) - republishing the same version is not allowed by the marketplace.  We need to discuss whether we (1). fix it for 0.10.0 (2). create 0.9.1 ifix.

[2020-03-04 17:54] sishida commented on #2365
@MelHopper I'm wondering if we could discuss this issue during one of our regularly scheduled meetings, such as the Codewind playback call or a smaller meeting? It sounds like it'd be good for multiple people to understand how these pieces fit together. :)

[2020-03-04 18:24] jopit commented on #2372
I don't think we should create an entire codewind ifix just to fix the broken link.

[2020-03-04 19:08] malincoln commented on #1646
@jopit do we need SVT to verify?

[2020-03-04 19:09] malincoln commented on #2292
@johnmcollier pls verify and close.  Do we also need SVT to verify?

[2020-03-04 19:09] malincoln commented on #438
@eharris369 pls verify and close. Thanks

[2020-03-04 19:11] johnmcollier commented on #2292
I verified on my end earlier

[2020-03-04 19:11] #2292 closed

[2020-03-04 19:11] malincoln commented on #1825
@makandre are you verifying or we need SVT to verify?

[2020-03-04 19:20] makandre commented on #1825
I can verify it

[2020-03-04 19:23] sishida commented on #2366
I would prefer to leave the names as they currently are. It is easy to see how the files are organized by looking at the `docstoc.yml` file.

Also, if we ever need to reorganize the files again or add another category, I would rather not constrain the file names to specify `deploy` and `use`. Having them all include `remote` in their file names should suffice.

[2020-03-04 19:28] #1646 closed

[2020-03-04 20:04] eharris369 commented on #438
I have been trying but have not been able to get a microprofile project to build on Windows lately.

[2020-03-04 20:06] sghung commented on #2142
I added Windows scripts via https://github.com/eclipse/codewind-docs/pull/462 and updated the README to let people know the limitation with the Windows scripts (it cannot set the "last updated" time correctly). @micgibso please verify and close.

[2020-03-04 20:07] eharris369 commented on #2309
There could be other things that don't work as well so it would be better to add a dependency on the Eclipse JEE package feature (org.eclipse.epp.package.jee.feature). I am testing this out now. Also this is what we test on so we should require it.

[2020-03-04 20:14] sishida commented on #2369
Experimenting with Illustrator. It's possible to change anything in these designs.

[2020-03-04 20:35] makandre commented on #2391
Turns out open liberty projects are Docker type projects in Codewind, and this problem of leaving dangling images behind exists for all Docker type projects.

PR https://github.com/eclipse/codewind/pull/2402 ensures we remove the dangling final image but it doesn't fully solve the problem for projects using multi-stage docker build (`lagom`, `open liberty`).  For these project the intermediate ima

[2020-03-04 20:56] jgwest commented on #2233
Re: Combo drop down containing all the versions, that seems to be the common practice:
- Helm: https://helm.sh/docs/
- Kube: https://kubernetes.io/docs/home/
- Ansible: https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-apt-ubuntu
- OpenShift: https://docs.openshift.com/container-platform/4.2/welcome/index.html
(etc)

[2020-03-04 21:44] makandre commented on #2378
All merged including https://github.com/eclipse/codewind-eclipse/pull/608

/pipeline verify

[2020-03-04 22:27] AndyRWatson opened #2403 "Adding own template source example in documentation refers to kabanero.io not codewind-resources"
**Codewind version:** 0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

https://www.eclipse.org/codewind/workingwithtemplates.html#adding-your-own-template-sources-to-codewind

In  our "Adding Own Template Source" documentation we give an example which gives a repo example at Kabanero.io

Ensure your template source has an index.js

[2020-03-04 22:42] AndyRWatson opened #2404 "Document the steps to create your own template/stack"
**Codewind version:** 0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

within our documentation for "working with templates" https://www.eclipse.org/codewind/workingwithtemplates.html

there is no documentation on the required template structure or steps on how to create your own repo or add a template of your o

[2020-03-04 22:44] AndyRWatson commented on #2404
linking to https://github.com/eclipse/codewind/issues/2241

[2020-03-04 23:06] keithchong opened #2405 "[IntelliJ] CodewindToolWindow and *.actions classes should reference CodewindIntellijApplication"
....instead of CodewindApplication

CodewindIntellijApplication override methods from CodewindApplication and contain IntelliJ-specific code.

The CodewindToolWindow handleApplicationPopup and the actions in the *.actions package call these methods, so as it stands currently, there will be a lot of casting involved.

[2020-03-05 07:38] jgwest commented on #2278
My expectation is that if you delete the project directory (for whatever reason), it should remove the project from Codewind (eg delete project files inside the container, delete the application containers, stop tracking its state, remove it from the active projects list, etc).

[2020-03-05 09:33] rwalle61 commented on #1735
/pipeline InProgress

[2020-03-05 09:56] tobespc commented on #2278
What should happen (based on current design) is

  - Project files deleted from disk
  - Filewatcherd detects this and notifies cwctl of file changes
  - cwctl determines that all the files have been deleted
  - files on pfe end are deleted to keep in line with local changes
  - build will fail as no project artifacts
  - ide is notified of failing build

If this is not the case then this should b

[2020-03-05 10:23] MelHopper commented on #2041
@kimholmes small change - can we change the term _'docs'_ in the header or the website pages, that will link to the new docs landing page, to _'Learn'_? (from UX perspective: we want users to know where to go to find out more about Codewind, whereas 'docs' doesn't have the same connotations, could imply a manual / too much detail vs. our 1 stop shop docs landing page for downloading, getting start

[2020-03-05 10:31] AndyRWatson opened #2407 "Add support for Code Ready Workspaces IDE (CHE)"
**Codewind version:** 0.10
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The kabanero.io project has just announced support for codewind running in RH Code Ready Workspaces (CHE based IDE support).  https://kabanero.io/blog/2020/02/27/WhatsNew060.html

with instructions on how to enable
https://kabanero.io/docs/r

[2020-03-05 10:46] MelHopper commented on #2366
@sishida Agreed, closing this issue.

[2020-03-05 10:47] #2366 closed

[2020-03-05 10:48] MelHopper commented on #473
See the new topic blocks / tutorials 'Using Codewind Remotely' and 'Deploying Codewind Remotely' for a template of how to do this.

[2020-03-05 10:51] MelHopper commented on #2108
Revisit copy: "If you are responsible for defining standards for application and runtime environments such as framework and software levels, see ADD TOPIC_" - replace with Developer's user story?

[2020-03-05 11:05] hhellyer opened #2408 "Set quiet period on Jenkins builds."
**Description of the enhancement:**

When we merge a PR this triggers not only a new build of `master` but also a new build for every outstanding branch.
As a committer my usual workflow is to allocate some time to review PRs which results in several being merged fairly closely to each other.
This triggers a lot of builds `(merged_pr_count) * (1 + outstanding_pr_count)` - often our PR queue is > 1

[2020-03-05 11:06] hhellyer commented on #2408
I've raised https://github.com/eclipse/codewind/pull/2409 and asked @josephca to review.

[2020-03-05 11:16] hhellyer commented on #2408
If this is successful for codewind we should look at doing it on some of the other respositories like codewind-installer.

[2020-03-05 11:33] stalleyj commented on #937
Reopening this item as we are picking this work back up.  The initial requirement is to ensure that all cwctl commands used by the IDEs return json when the flag is passed.

[2020-03-05 13:33] mattcolegate commented on #2232
/assign

[2020-03-05 13:34] eharris369 commented on #2193
I installed 0.10.0 this morning and am still seeing an error (slightly different message):
![image](https://user-images.githubusercontent.com/9484320/75986485-27093980-5ebc-11ea-98ed-ca43013d887e.png)

[2020-03-05 13:47] markcor11 commented on #1598
Work in progress, have Codewind,Performance,Gatekeeper and Keycloak now deployed via an operator :

[code]

Installing a Codewind deployment :

[code]

The operator will currently create the Deployments, Services, Ingress, PVC, Secrets with owner/garbage collection set to the codewind custom resource and reconcile any changes.

Next to do :

configure Keycloak with user and Codewind deployment

[2020-03-05 13:51] mattcolegate commented on #2232
Have raised https://github.com/eclipse/codewind/pull/2410 to deliver on the list of gaps for User.js and to increase coverage to 62.15%

![image](https://user-images.githubusercontent.com/15730986/75987733-4cac3800-5ee8-11ea-9084-ac2b1885d730.png)

[2020-03-05 13:55] tobespc opened #2411 "Jane would like to run a performance test without it being interrupted on a code change"
**Use Case**
When Jane runs a performance test, she will want that test to run to completion but still be able to develop source code at the same time and see it run.  This is so she can execute a long running performance test and not be blocked on development.

**Problem**
Currently, we only run a single build which will get restarted whenever a code change is made and the file is saved. This res

[2020-03-05 14:14] eharris369 opened #2412 "[VSCode IDE] Have to click on entry field to type project name"
On Windows 10 using Codewind for VSCode 0.10.0 latest build.

- Click on create a new project
- Type go to search for the project type and click enter
- Try to type a project name and nothing happens, have to click on the field in order to type the project name

[2020-03-05 14:19] eharris369 opened #2413 "[VSCode IDE] Select folder for project does not remember previous folder"
On Windows 10 using Codewind for VSCode 0.10.0 latest build.

- Create a new project and select the folder for the project
- Create a second project and the Select Folder dialog does not show the parent folder of the previous project so need to navigate to it again

[2020-03-05 14:31] naveenkaratekid commented on #2326
I can see the list of folders in a directory when importing existing projects.

I was able to import an existing Lagom project into IntelliJ.

I will go ahead and close this issue now.

![image](https://user-images.githubusercontent.com/19738071/75991097-f0cfb800-5ec3-11ea-9ee1-afd49e800849.png)

[2020-03-05 14:31] #2326 closed

[2020-03-05 15:17] ebuckle commented on #937
/assign

[2020-03-05 15:29] sishida commented on #2349
PR merged, closing this issue. :)

[2020-03-05 15:29] #2349 closed

[2020-03-05 15:46] malincoln commented on #2398
dup so closing

[2020-03-05 15:46] #2398 closed

[2020-03-05 16:01] jgwest commented on #2278
Presuming that your definition of 'project files deleted from disk' includes the root project directory, then based on the behaviour we are seeing, the following are currently not true:
- Filewatcherd detects this and notifies cwctl of file changes
- cwctl determines that all the files have been deleted

So I will convert this item to a bug.

[2020-03-05 16:01] malincoln commented on #2400
Discussed today.  @tobespc to make this a story for #2399

[2020-03-05 16:08] mattcolegate commented on #2232
Have raised https://github.com/eclipse/codewind/pull/2414 to deliver on the list of gaps for Filewatcher.js and to increase coverage to 69.7%

![image](https://user-images.githubusercontent.com/15730986/76000380-88043200-5efb-11ea-90d5-38c88c24ff71.png)

[2020-03-05 16:18] tetchel commented on #2412
it is the same cause as https://github.com/eclipse/codewind/issues/2330

I'm not sure why the new inputbox sometimes doesn't grab focus.

[2020-03-05 16:22] scottkurz commented on #1960
Let me just note, as a maintainer of the java-openliberty stack, that in the general case you're not guaranteed to see the liberty-maven-plugin in the project pom.xml... it's possible it's only in the parent, which is baked into the stack image.

[2020-03-05 16:29] josephca opened #2415 "Jenkins build failure - codewind-openapi-eclipse"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The Jenkins build failure is caused by the recent change - build using non-root user.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=559302

Remove unnecessary 'deleteDir()' call which caused an access issue on cleanup

**Steps to reproduce:**

**Workaround:**

[2020-03-05 16:29] scottkurz commented on #1804
Reading through this issue and a couple others, I was expecting to see the observation that we introduced the MP metrics endpoint in the **java-openliberty** stack protected by authentication.

Is this being tracked somewhere already?    If not we have to decide how to address this.

E.g. one way would be to have Codewind implement the logic reading the password from the default location (see [her

[2020-03-05 16:41] tobespc commented on #2384
Whats the justification for this being a stop ship ?  It doesn't prevent the user doing anything.  I realise that the performance dashboard can be displayed for a project type that could never have metrics.  Thats more ugly than broken :-)

[2020-03-05 16:46] #2415 closed

[2020-03-05 17:08] jagraj commented on #2384
Yes, this is more ugly and not user friendly. We should let user know that performance and metrics not supported for the projects that we do not support. Best solution is, IDEs need to know which projects that we support and disable them for the user. If we can not deliver fix in this release and we should document and let user know which projects we support Performance metrics, Metrics dashboard

[2020-03-05 17:30] malincoln commented on #2384
@jagraj I'm assuming we need the docs label?  @micgibso @sishida ^^^

[2020-03-05 18:21] josephca commented on #2408
In addition to adding the quiet period, I increased the repository scan intervals from 5 mins to 10 mins (from Jenkins configuration) which would help in the same way.

[2020-03-05 18:28] jopit commented on #2193
Moving this back out of verify as it's still not working.

[2020-03-05 18:45] jopit commented on #2193
Note that removing a project in VSCode does not run into this error because the VSCode extension is still calling the REST API for removing projects.

[2020-03-05 19:04] keithchong commented on #2312
Merged

[2020-03-05 19:04] #2312 closed

[2020-03-05 19:05] makandre commented on #1825
Verified, problem fixed in newer Kitura stack.

[2020-03-05 19:05] #1825 closed

[2020-03-05 19:15] ssh24 opened #2416 "Che setup script does not work with latest 7.9.0 che"
**Description:**
Since 7.9.0 moved into more secure https connection, the che setup script is now not working and resulting in curl error

[code]

This needds to be fixed and any other test scrip that uses it for 7.9.0 che install.

[2020-03-05 19:15] ssh24 commented on #2416
/area iterative-dev

[2020-03-05 19:36] jopit commented on #159
Same for IntelliJ, we can use any unicode character (including unicode emojis) but not icons.

[2020-03-05 19:59] jopit commented on #2405
What IntelliJ specific methods are required in `CodewindIntellijApplication` (as opposed to overriding existing methods in `CodewindApplication`)?

[2020-03-05 20:05] tetchel commented on #2193
yeah, and 202 is a success status code. probably we're checking for 200 specifically, instead of any 'success' code.

[2020-03-05 20:07] rajivnathan commented on #2126
@jagraj John has updated 0.10.0 to use Che 7.9 so this can now be retested.

[2020-03-05 20:11] malincoln commented on #2193
@hhellyer ^^^

[2020-03-05 20:27] #193 closed

[2020-03-05 20:35] sishida commented on #2384
In this file (here https://www.eclipse.org/codewind/metrics-dashboard.html), we state, "The Metrics Dashboard is available for Java, Node.js, and Swift." Should we clarify this statement in some way?

[2020-03-05 20:47] keithchong commented on #1395
I see the changes from this PR https://github.com/codewind-resources/javaMicroProfileTemplate/pull/5

Closing.

[2020-03-05 20:47] #1395 closed

[2020-03-05 21:38] sghung commented on #1601
My prototype based on Kabanero.io's blogs. I took their CSS and their blog posts and put them into our repo. I created a new blog layout that displays our contents. The PR: https://github.com/eclipse/codewind-docs/pull/463

![image](https://user-images.githubusercontent.com/7843164/76027997-a66c2c80-5eff-11ea-8c97-4ee6792c8d98.png)
![image](https://user-images.githubusercontent.com/7843164/7602800

[2020-03-05 21:41] josephca commented on #2408
@hhellyer  Second thought - I don't think the change would help much in reducing the number of builds. Because, currently, the repository scan is scheduled to run every 5 mins and if it detects any changes in branches and PRs, it will kick off builds anyways. Adding a quiet period is simply making the build slower.
Instead, I increased the repository scan intervals from 5 to 10 mins from Jenkins c

[2020-03-05 21:49] yangcao77 commented on #1998
/pipeline verify

[2020-03-05 21:54] #1829 closed

[2020-03-05 21:55] #1211 closed

[2020-03-06 06:24] jgwest commented on #1735
/pipeline In Progress

[2020-03-06 10:00] james-wallis commented on #2190
The PR for this has been accepted. Closing.

[2020-03-06 10:01] james-wallis commented on #2190
/close

[2020-03-06 10:02] #2190 closed

[2020-03-06 11:04] liamchampton commented on #2244
Progress of this can be found here: https://github.com/eclipse/codewind-node-profiler/pull/22/files
There is a green build but the upload to eclipse is still required.

[2020-03-06 12:57] mattcolegate opened #2419 "Remove code/tests to do with FileWatcherError CONNECTION_FAILED"
**Codewind version:** latest
**OS:** N/A

**Che version:** N/A
**IDE extension version:** N/A
**IDE version:** N/A
**Kubernetes cluster:** N/A

**Description of the enhancement:**

Some code and tests for User.js make mention of FileWatcherErrors with the code 'CONNECTION_FAILED'. According to @hhellyer, these were used in the days when FileWatcher was a separate container, but are now not needed

[2020-03-06 12:59] mattcolegate commented on #2419
/label area/portal

[2020-03-06 13:00] mattcolegate commented on #2419
/area portal

[2020-03-06 13:42] james-wallis commented on #2191
Discussed this with @tobespc yesterday and we agreed on the following process for designing and implementing this feature:
* Create document for design
    * PFE
    * cwctl
    * Implementation details / what the IDE might need to do
* Create a list of assumptions (things that have to work, things that will need to be fixed, requirements for products such as ICPa), split the work into sections an

[2020-03-06 13:42] james-wallis commented on #2191
/assign

[2020-03-06 14:28] #2378 closed

[2020-03-06 14:34] malincoln commented on #2328
@makandre pls verify and close. Thanks

[2020-03-06 14:34] malincoln commented on #1998
@ssh24 pls verify and close. Thanks

[2020-03-06 14:42] malincoln commented on #934
@richard-trotter pls verify and close if resolved.  Thanks

[2020-03-06 14:48] makandre commented on #2328
Fix looks good.

[2020-03-06 14:48] #2328 closed

[2020-03-06 14:55] ssh24 commented on #1998
**Verified**

[2020-03-06 14:55] #1998 closed

[2020-03-06 16:04] sishida commented on #2382
Hi, @MelHopper, I think this issue is good to close. I have added the new file, remote-setupregistries.md and have received approval from both Tim E. and Erin H.

In your original comment in this issue, I was not sure about the statement, "4. Ensure section 2. and Next Steps of 'Connecting VS Code to remote Codewind' and 'Connecting Eclipse to remote Codewind' are moved into this new topic about a

[2020-03-06 16:35] sishida opened #2420 "Separating homepage images into their own folder"
Now that we have all images together in one folder https://github.com/eclipse/codewind-docs/tree/master/docs/images), we need to separate the images that appear on the Codewind.dev home page (https://www.eclipse.org/codewind/) into their own folder.

[2020-03-06 16:46] keithchong commented on #2405
A lot of the debug related methods, like clearDebugger, connectDebugger, etc.

[2020-03-06 17:01] keithchong commented on #2405
@jopit , I see it set up this way in Eclipse.  See https://github.com/eclipse/codewind-eclipse/blob/75aaa9187edd0e9417df93eef2f0f4ab0236bf32/dev/org.eclipse.codewind.ui/src/org/eclipse/codewind/ui/internal/actions/AttachDebuggerAction.java#L42

[2020-03-06 17:04] makandre commented on #2356
We could solve this problem by baking `nodemon` into the image at build-time rather than try to install it at run-time.  And we can (should) also control it via a `--build-arg` so `nodemon` is installed only when the project is built in Codewind.

I propose making a change to the template like so: https://github.com/makandre/nodeExpressTemplate/blob/nodemon/Dockerfile#L13

And then we can make a s

[2020-03-06 18:27] jopit commented on #2405
But that doesn't mean we need to change all occurrences of `CodewindApplication` to `CodewindIntellijApplication` does it?

[2020-03-06 18:43] AndyRWatson commented on #2372
ok I agree.  also spoken to @sghung and he has agreed to look at creating a temporary link to the correct page until 0.10 fixes the issue.   Would look to do the same for eclipse

[2020-03-06 18:55] malincoln commented on #875
@nastacio if you have verified successfully, can you close this one?  Thanks

[2020-03-06 19:31] ssh24 commented on #2416
/assign

[2020-03-06 19:46] sishida commented on #2420
Pictures to move:
- images/email-icon.svg
- images/github-logo.svg
- images/mattermost-logo.png
- images/youtube-logo-dark.svg
- images/eclipse.svg
- images/email-icon.svg
- images/twitter-logo.svg
- images/github-logo.svg
- images/mattermost-logo.png
- images/youtube-logo-dark.svg
- images/favicon-16x16.png
- images/favicon-32x32.png
- images/header-logo.svg

[2020-03-06 20:33] eharris369 opened #2422 "[Eclipse IDE] Incorrect status shown if delete Codewind containers"
If the Codewind containers are deleted then the status shows the disconnected icon but the message still says [Running][No project. Right click ...]

![image](https://user-images.githubusercontent.com/9484320/76120598-d24ee700-5fbf-11ea-8714-1a59cb2ba55c.png)

[2020-03-06 20:40] mmulholl opened #2423 "SVT : Eclipse : After import appsody node projects lose metrics and perf dashboard options"
**Codewind version:**  Codewind tech preview	0.10.0.v202003050956
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-09
**Kubernetes cluster:**

**Description:**
Create an appsody node app, for example NODE RED and once it is started you can open the metics and performance dashboards. Remove the project and re-import it, but now the language has changed from

[2020-03-06 20:40] eharris369 opened #2424 "[Eclipse IDE] App overview still displays if stop/disconnect Codewind"
Any application overview pages still display after stopping local Codewind or disconnecting from a remote Codewind. This might be ok since the loss of connection could be temporary and it would not be nice to close all of the user's overview pages but the Refresh button throws an NPE if clicked. If Refresh clicked, could pop up a dialog to say the connection is not available and ask them if they w

[2020-03-06 21:14] AndyRWatson opened #2425 "Getting started link in eclipse marketplace returns 404"
**Codewind version:**  0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

Similar to intelliJ https://github.com/eclipse/codewind/issues/2372 , the eclipse marketplace information contains a "getting started link' which is currently returning a 404.

Need to update the link to reflect the recent docs changes https://github.com/eclip

[2020-03-06 21:16] AndyRWatson commented on #2425
https://github.com/eclipse/codewind/issues/2372

[2020-03-06 21:27] sghung commented on #2425
I setup a redirect page to fix the problem. It has our header and redirects after 5 seconds (a link if someone wants to press it sooner). I confirmed that you cannot use .htaccess to do redirect because eclipse.org doesn't support that (I confirmed by trying out redirects on eclipse che's website). As a result, the second best option is a redirect page.

[2020-03-06 21:28] sghung commented on #2425
[redirects.zip](https://github.com/eclipse/codewind/files/4300493/redirects.zip)

[2020-03-06 21:30] sghung commented on #2372
See https://github.com/eclipse/codewind/issues/2425#issuecomment-595972527 for the file that was uploaded and an explanation of my fix.

[2020-03-06 21:31] eharris369 opened #2426 "[Eclipse IDE] Show host and port for debug process in the Debug view"
Currently the debug process name is displayed as below. It would be nice if the debug host and port were included.

![image](https://user-images.githubusercontent.com/9484320/76124058-e991d280-5fc7-11ea-95e5-8951e4738652.png)

[2020-03-06 21:39] #2416 closed

[2020-03-06 21:57] josephca commented on #2425
Verified the fix. Closing it on behalf of @AndyRWatson

[2020-03-06 21:57] #2425 closed

[2020-03-06 21:58] josephca commented on #2372
Verified the fix. Closing it on behalf of @AndyRWatson

[2020-03-06 21:58] #2372 closed

[2020-03-06 22:38] sishida commented on #2382
PRs to update the links in the UIs:
- Eclipse master: https://github.com/eclipse/codewind-eclipse/pull/610
- Eclipse 0.10.0: https://github.com/eclipse/codewind-eclipse/pull/611
- IntelliJ master: https://github.com/eclipse/codewind-intellij/pull/79
- IntelliJ 0.10.0: https://github.com/eclipse/codewind-intellij/pull/80
- VS Code master: https://github.com/eclipse/codewind-vscode/pull/492
- VS Cod

[2020-03-07 10:39] AndyRWatson opened #2427 "Images are tight cropped on create first project page"
**Codewind version:** 0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
On the create first project page

https://www.eclipse.org/codewind/mdt-vsc-firstproject.html

The image for the "open app" view in a browser has been too tightly cropped so we see no edges to the original screen capture and the image appears in some way to be pa

[2020-03-09 09:30] micgibso commented on #2142
Thanks Steven, have tested them on my machine and they work as described. Closing...

[2020-03-09 09:30] #2142 closed

[2020-03-09 09:35] #1460 closed

[2020-03-09 09:41] mattcolegate commented on #2056
Code has all been merged.
/pipeline Verify

[2020-03-09 11:41] james-wallis commented on #2193
/assign

The API docs say that we return a `202` on successful deletion (as @tetchel says) but in the CLI we're checking for a `200`.

Running the command locally produces:
[code]

[2020-03-09 12:03] micgibso commented on #2337
@hhellyer @markcor11
Worked with Mark to complete the remaining sections of this issue in PR 2337 above.

[2020-03-09 12:47] malincoln commented on #2384
@jagraj does this suffice or additional doc is needed?

[2020-03-09 12:57] james-wallis commented on #2193
PR raised here: https://github.com/eclipse/codewind-installer/pull/400
I've verified locally that I can run `cwctl project remove` and no longer see the failure.

[2020-03-09 13:23] jagraj commented on #2384
Yes, this is the doc. We need to doc exactly which projects we support metrics and performance.
We will capture set of projects that we do not support and provide the list here to doc it.

[2020-03-09 13:25] eharris369 opened #2430 "[Eclipse IDE] Create a test case to test the documentation links"
Create a test case that tests the documentation links (and any other links used in the IDE). All are in the UIConstants class.

[2020-03-09 13:26] MelHopper commented on #2041
@kimholmes FYI I've
(i) changed some of the copy https://github.com/eclipse/codewind/issues/2108 - it's in flux but we can discuss
(ii) got a mural on the go for the multiple user workflows that we're going to discuss on our call today - maintains topics so that does not break external site links, but caters for all possible the different user workflows.

[2020-03-09 13:32] jgwest commented on #2430
@eharris369 Food for thought: you might even be able to automate this as a test case... a test case look through each of the URLs:
[code]
and looks under `https://github.com/eclipse/codewind-docs/tree/master/docs/_documentations` to make sure an `.md` file with the same name exists.

[2020-03-09 13:32] sujeilyfonseca commented on #2384
I consider we should update both documents that talk about metrics and performance dashboards. As Jag said, we need to update for which projects we support these features:

http://9.21.109.38:4321/codewind/metrics-dashboard.html
http://9.46.86.50:4321/codewind/performance.html

[2020-03-09 14:30] makandre commented on #1991
One other scenario we discussed was organizations that require devs to communicate with the outside world through a proxy server.  For this, I was able to determine that configuring the proxy settings of the docker daemon does make the containers spun up via Codewind talk thru the proxy* (and presumably configuring the proxy at the machine/OS level will also work)

One possible problem is if the p

[2020-03-09 14:31] beccabau commented on #2369
Hey Sarah -- great start!

For the local machine (the first image), I think let's organize it the way you have it in the other renderings, where the IDE has its own box, and the container platform is outside of the IDE.

![image](https://user-images.githubusercontent.com/13971834/76222387-eaf21380-61f0-11ea-92a8-e6161f934561.png)

vs
![image](https://user-images.githubusercontent.com/13971834/7622

[2020-03-09 14:34] mattcolegate commented on #2232
Have raised https://github.com/eclipse/codewind/pull/2432 to deliver increased coverage of Loadrunner.js to 60.9%

![image](https://user-images.githubusercontent.com/15730986/76222831-0a019d00-6213-11ea-9e45-a7b24d85ef1f.png)

[2020-03-09 14:42] markcor11 commented on #67
Tried this out again with latest code on a new ROKS cluster and was unable to reproduce it.

![Screenshot 2020-03-09 at 14 40 47](https://user-images.githubusercontent.com/28102564/76225282-2fdb7180-6214-11ea-9084-6d28dceae072.png)

Closing

[2020-03-09 14:42] #67 closed

[2020-03-09 16:45] eharris369 opened #2433 "[Eclipse IDE] NPE if Codewind plugins shut down before connection manager initialized"
An NPE occurs if the Codewind plugins are shut down before the connection manager is initialized:

[code]

[2020-03-09 17:15] johnmcollier opened #2434 "[Che] Theia unable to reach Codewind on master"
**Codewind version:** master

**Che version:** latest
**IDE extension version:** latest
**Kubernetes cluster:** Kube 1.14

**Description:**
I deployed Codewind on Che from master and found that the Theia extension couldn't reach Codewind

Despite this error message, Codewind is up and running fine and the logs don't show anything suspicious.

The Theia logs show the following message:
[code]

It l

[2020-03-09 17:18] makandre opened #2435 "VS Code: Error initialing a build, Unexpected token T in JSON at position 0"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

When requesting a manual build, getting this popup in VS Code:

![image](https://user-images.githubusercontent.com/17596240/76239606-3b28a000-6208-11ea-8f43-b25e136baabd.png)

From what I can tell PFE always returned text (not JSON) https://github.com/eclips

[2020-03-09 17:19] sghung opened #2436 "[Investigation] Implementing tabs into codewind docs"
We want tabbed content for certain sections to make it cleaner

[2020-03-09 17:20] tetchel commented on #2435
it is the same as https://github.com/eclipse/codewind/issues/2434

[2020-03-09 17:32] sghung commented on #2436
This file shows how to have a two tabbed navigation within the MD files.

[remotedeploy-combo.md.zip](https://github.com/eclipse/codewind/files/4308110/remotedeploy-combo.md.zip)

For accessibility reasons, I use the "kubernetes" and "openshift" as IDs and aria properties. If you use these tabs elsewhere, you will need to change them as needed.

For the annoying scroll up, I will be investigating

[2020-03-09 17:39] sghung opened #2437 "Codewind webpage scrolls to the top on anchor presses"
When the user clicks on anchors (say a tab), it scrolls to the top all the time, which is very annoying. This functionality needs to be investigated to see:
1. Why was this implemented
2. Can it be removed or fixed?

[2020-03-09 17:42] sghung commented on #2436
Travis had provided some code for implementing tabs, there was just some minor fixes to get it to work. I had investigated whether we can use tabs in Jekyll and it wouldn't work for our case. It would make the tabs complicated since it would need a new layout and each tab source would need to be in its own md file. For the currently requirements, where there are only two sentences for each tab, pu

[2020-03-09 17:56] malincoln commented on #2193
@eharris369 updated fix merged.  Pls verify and close. Thanks

[2020-03-09 18:08] sghung commented on #2437
The issue is being caused by this PR: https://github.com/eclipse/codewind-docs/pull/285/files

I am talking to Michael to see if this can be removed, since the "detect OS" function isn't being used anywhere. The regex used to call this function would affect all tabs, so I'd rather remove it since it seems buggy to jump to the top. If the tabs were embedded into the MD, it may not be at the top, so

[2020-03-09 18:12] thisguy-1 commented on #159
We should discuss what are some possible emoji's. We already a use a hammer icon for the command button for build in the codewind view on VSCode and eclipse.

[2020-03-09 18:17] eharris369 commented on #2422
The best thing to do here would be to display the message composite similar to when Eclipse is starting and the connections have not been re-established yet (see the ApplicationOverviewEditorPart update method). Another issue is that applications aren't updated if the connection is lost because it gets the applications from the connection. Changes were made to the UpdateHandler class for #2169 whi

[2020-03-09 18:20] eharris369 commented on #2424
The best thing to do here would be to display the message composite similar to when Eclipse is starting and the connections have not been re-established yet (see the ApplicationOverviewEditorPart update method). Another issue is that applications aren't updated if the connection is lost because it gets the applications from the connection. Changes were made to the UpdateHandler class for #2169 whi

[2020-03-09 18:28] johnmcollier opened #2438 "[Hybrid] Allow user to pass in certificate to cwctl when installing Codewind"
Currently when user installs hybrid Codewind, `cwctl` creates a self-signed certificate, stores it in a Kubernetes secret and configures the Codewind gatekeeper and keycloak ingress URLs to use that secret.

While this is fine for development or trying out Codewind, this makes it hard to set up Codewind with publicly signed certificates.

 It would be nice if a flag was added to cwctl called `--tl

[2020-03-09 18:58] makandre opened #2439 "Add/remove repository to providers broken by deepClone"
**Codewind version:** master
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

When adding a template repo (an appsody one for example: https://github.com/makandre/testrepo/releases/download/0.1/testrepo-index.json), it is not being added to the corresponding provider in PFE.

Looks like this is recently broken by https://github.com/ec

[2020-03-09 18:58] makandre commented on #2439
/area portal

[2020-03-09 19:38] #2434 closed

[2020-03-09 19:39] eharris369 commented on #2193
It is fixed in master but not 0.10.0. I don't see a PR for 0.10.0, just master.

[2020-03-09 19:43] #2169 closed

[2020-03-09 19:44] #2433 closed

[2020-03-09 19:45] #2422 closed

[2020-03-09 19:46] #2426 closed

[2020-03-09 19:46] bsbyrd1 commented on #2041
Great work, team! Any iteration plans for implementing and publishing this?

[2020-03-09 20:12] jagraj opened #2441 "SVT:Che:Creating projects getting into "Disabled" state and projects failed to build"
**Codewind version:** 0.10.0
**OS:**  CoreOS

**Che version:** 7.9.0
**IDE extension version:** 0.10.0
**IDE version:** Theia 7.9.0
**Kubernetes cluster:**
OCP 4.3

**Description:**
Codewind default WebSphere liberty project failed to build in Codewind 0.10.0 release.

![image](https://user-images.githubusercontent.com/713849/76252622-7387a880-621f-11ea-8a55-6d9ff9172fef.png)

[pfe.txt](https://gi

[2020-03-09 20:12] jagraj commented on #2441
/priority stopship

[2020-03-09 20:21] jagraj commented on #2441
It builds fine on local but fails on Che.

[2020-03-09 20:39] sghung commented on #2052
@tetchel on Eclipse, it displays a no build status info message. Would we have something similar in vscode?

<img width="492" alt="Screen Shot 2020-03-09 at 4 37 36 PM" src="https://user-images.githubusercontent.com/7843164/76255295-56090d80-6224-11ea-83b6-ad627fd4335e.png">

Andrew, your PR looks good, but I think if we commit this before the VSCode change, it's going to look like a bug

[2020-03-10 08:51] MelHopper commented on #2041
Hi @bsbyrd1 Kim and I are currently working on refining the user workflows, iterating on the design of both this new docs landing page and the ToC + user workflow in the documentation...we're getting there. Once we have a final design, we can look at planning implementation of the docs landing page with @sghung and the github issues related to the ToC and Getting Started content enhancements.

[2020-03-10 09:29] tobespc commented on #2438
@markcor11 will this be taken care of by the operator work ?

[2020-03-10 09:37] tobespc commented on #974
I suspect this work item is no longer valid as we are moving to using an operator to install

[2020-03-10 09:39] tobespc commented on #1561
moving this to icebox.  With the proposal to adopt odo and its syncing mechanism, this will all have to change anyway.  No point in investing time now on this

[2020-03-10 09:41] tobespc commented on #1805
moving to verify as I believe (from the comments above) this is now resolved

[2020-03-10 10:25] mattcolegate commented on #2028
/assign

[2020-03-10 10:43] tobespc commented on #2028
Can you break this down into the following please

  - Add monitor-1.0 to see what data is on /metrics
  - Can we add additional data via monitor-1.0 ?
  - Discuss next steps based on findings

[2020-03-10 10:47] stalleyj opened #2442 "PR checks missing from branches"
**Description:**
I was looking at a PR this morning and realised that I would have been able to merge it without it either having a review or the travis build having completed.  The checks need to be applied to all branches. The PR was in the codewind-installer repository. This could easily lead to a PR being merged that does not build.

[2020-03-10 11:17] malincoln commented on #2441
@elsony @rajivnathan pls assign. Thanks

[2020-03-10 11:58] #2334 closed

[2020-03-10 12:44] #1758 closed

[2020-03-10 13:12] jagraj commented on #2441
Looks like PFE is in bad state where all projects are failing now when I create new ones and they get into "Disabled" state. I did enable project but they are not getting enabled.

![image](https://user-images.githubusercontent.com/713849/76314522-58637a00-62ad-11ea-8df7-7e8cb694a2b9.png)

[code]

PFE log...
[pfe.txt](https://github.com/eclipse/codewind/files/4312514/pfe.txt)

[2020-03-10 13:15] sishida opened #2443 "Write template descriptions"
For the template sources descriptions in the Codewind UI, complete a full iteration of content, design, and research. Submit it to the Illumi award.

The documentation team will be responsible for the content rewrite while designers will be involved with page design, user testing, and writing and uploading the Illumi award submission.

**Content rewrite**
We need to rewrite the template descriptio

[2020-03-10 13:29] #2424 closed

[2020-03-10 13:39] sishida commented on #2369
@beccabau Thanks for the feedback! I've changed the Local Configuration image and placed it in my original comment. Please let me know if you'd like any other changes. Thanks!

[2020-03-10 13:45] sishida commented on #1758
Closed this issue because we can cover remaining work in https://github.com/eclipse/codewind/issues/2381.

[2020-03-10 13:53] sghung opened #2444 "Document 0.10.0 offline support for default codewind projects"
In 0.10.0 we need to document the support that was added from https://github.com/eclipse/codewind/issues/2078

The default codewind projects supported are:
- Python
- Lagom
- Open Liberty

We need to add this into a new offline section.

Some things we should say:
- What projects are supported
- What scenario we support (i.e. the airplane mode)
- What limitations there are (e.g. can't pull in new

[2020-03-10 14:00] sishida commented on #2444
@micgibso Hi, Michael, Do we have a specific place in our docs where we'd like to add info about offline support? Right now it looks like we don't have any other issues open or have any other files to cover it. Thanks!

[2020-03-10 14:01] ssh24 commented on #2441
The issue seems to be here **Disk quota exceeded:**

[code]

Looks like che workspace ran out of memory limit?

[2020-03-10 14:09] josephca commented on #2442
Thanks, @stalleyj for the catch. As we had a chat, it seems to be a bug that needs to be handled by the Eclipse team.
I re-opened a Bugzilla bug and will close this issue once it gets fixed by the Eclipse team.

Copying the request:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=550116

[code]

[2020-03-10 14:10] micgibso commented on #2444
@sishida Good spot, new topic in Developing projects would be a good starting point.

[2020-03-10 14:28] james-wallis commented on #2193
@eharris369 the PR for 0.10.0 has been merged

[2020-03-10 14:30] james-wallis commented on #2191
I've PR'd a design documentation for this feature: https://github.com/codewind-resources/design-documentation/pull/17/files

My current plan (may change) is to:
* Implement local to local
* Implement remote (will be remote -> remote and local -> remote)

[2020-03-10 14:30] makandre commented on #2052
Have PR https://github.com/eclipse/codewind/pull/2446 for Turbine, to hide those brief flashes of "in progress" build statuses mentioned above https://github.com/eclipse/codewind/issues/2052#issuecomment-591674420

[2020-03-10 14:32] johnmcollier commented on #2441
The Che workspace memory limit won't affect disk space, that'll depend on the backing storage that's used

[2020-03-10 14:53] eharris369 commented on #2052
PR for Eclipse IDE to hide build status if unknown: https://github.com/eclipse/codewind-eclipse/pull/619

[2020-03-10 14:53] sishida commented on #2444
@sghung I have started a new file for offline Codewind: https://github.com/eclipse/codewind-docs/pull/467 I image there's more info we could add--could you please let me know in comments on the PR?

Also, how do we access the offline mode? Do we just try to access Codewind when we don't have an internet connection, and it functions as normally as it can? Or do we have to click something to activat

[2020-03-10 14:56] #2430 closed

[2020-03-10 15:05] eharris369 commented on #2193
Verified that this is fixed in master and 0.10.0.

[2020-03-10 15:05] #2193 closed

[2020-03-10 15:35] micgibso commented on #2390
Fixed, closing...

[2020-03-10 15:35] #2390 closed

[2020-03-10 15:38] #2373 closed

[2020-03-10 15:40] micgibso commented on #2427
Discussions ongoing about image standards. Also need to consider dark mode vs. light mode.

[2020-03-10 15:42] micgibso commented on #2407
See Jake's PR for Code Ready workspaces here: https://github.com/eclipse/codewind-docs/pull/434

[2020-03-10 15:43] johnmcollier opened #2447 "Rethink how Codewind is deployed on Che?"
Currently when a user starts up Codewind on Che, the following happens:
1) The Codewind Theia extension gets downloaded and started
2) The Codewind Che sidecar automatically deploys Codewind and sets up a proxy for the Codewind Theia extension to communicate with it.

This current approach (specifically the Che sidecar) has a number of disadvantages:

- It requires modification of the Che install

[2020-03-10 15:51] jagraj commented on #2441
Looks like persistent volume used 100% for codewind and it is causing this problem. I did create same number of projects in the past and did not hit 1GB limit. Is there option for the user to configure PV wth custom size.?

I am also wondering what changed in this release to consume entire volume.

[code]

[2020-03-10 15:54] eharris369 opened #2448 "[Eclipse IDE] Investigate changing all ViewHelper calls to UpdateHandler calls"
Investigate whether all ViewHelper calls should be changed to UpdateHandler calls so that update listeners get invoked.

[2020-03-10 16:03] johnmcollier commented on #2441
Hmm, there shouldn't have been anything in this release that increased volume usage.

@jagraj Which PVC is filled up? Is it `codewind-workspacepg3r5u90kcx7o7yv` or `claim-che-workspace-workspacepg3r5u90kcx7o7yv`, I'm guessing it's `codewind-workspacepg3r5u90kcx7o7yv`?

There's not much the user can do to configure the volume size currently (and this lack of configurability is why we need https://g

[2020-03-10 16:05] johnmcollier commented on #2441
/assign

@elsony Any concerns about increasing our default volume size to 5Gi? FWIW, it's the same default odo uses 😉

[2020-03-10 16:20] tetchel opened #2449 "Remove deprecated 'request' dependency from VS Code"
https://github.com/eclipse/codewind/issues/2189 for VS Code

[2020-03-10 16:21] tetchel commented on #2189
This is done in VS Code so I opened and closed #2449 for VS code specifically.

[2020-03-10 16:21] tetchel commented on #2449
done https://github.com/eclipse/codewind-vscode/pull/490

[2020-03-10 16:21] #2449 closed

[2020-03-10 16:29] eharris369 commented on #2423
After creating the node RED project, the project info contains:
[code]
and `cwctl --json project validate --path C:\home\work\codewind\eclipse1909\runtime-devtest3\node1` returns:
[code]

Removing the project and adding it back using the project information from the validate call:
[code]
and the project info now contains:
[code]

[2020-03-10 16:43] markcor11 commented on #2438
It makes sense to do it in the operator going forward because it will replace cwctl for deploying Codewind.  There are a few places where the self-signed certificates are being generated today including in each of the Codewind containers and it happens when they start up.

Since those certificates will get re-generated on every restart that causes problems for browsers because they would see the c

[2020-03-10 16:48] josephca commented on #2442
Fixed by the Eclipse team. @stalleyj - please verify. Thanks!

[2020-03-10 17:04] johnmcollier commented on #2438
@markcor11 I'm good with doing it in the operator, but may not want to store the TLS cert and key in the Codewind CRD. It may be better to accept the Kubernetes TLS secret as an field in the custom resource, like what ingresses do for TLS.

See https://github.com/openshift/origin/issues/2162 for an example of why we wouldn't want to store the tls cert and key directly in the custom resource.

[2020-03-10 17:22] jagraj commented on #2441
@johnmcollier
Yes, it is codewind workspace volume and here is the list of projects by their sizes consuming in the volume.

[code]

[2020-03-10 17:41] sishida commented on #2381
I attempted to add child topics to **Getting Started**>**Eclipse Che** with this PR: https://github.com/eclipse/codewind-docs/pull/469.

I ran `./serve.sh`, and got what the screenshot shows here.
- Unlike with the **Eclipse Che** parent, **Optional configurations for Codewind on Eclipse Che** doesn't have the arrow indicating it has children.
- The nested child files nested don't even appear.
<im

[2020-03-10 17:45] rajivnathan commented on #2423
This looks like it's isolated to cwctl and portal's handling of the project.inf file so removing the iterative-dev label.

[2020-03-10 19:36] elsony commented on #2441
I think it is fine for us to change the default.

[2020-03-10 19:40] jagraj commented on #2441
Ok, I created Codewind 0.9 workspace with Che 7.9.0 version and I was able to create all projects one for each template and I did not hit space issue. The total space it is occupied is 553M (24 projects). I see WebSphere liberty project is taking 216MB vs 3.5M in 0.9.0. You can also see other projects as well where in Codewind 0.10.0 it is consuming more space almost double for just (18 projects).

[2020-03-10 19:51] makandre commented on #1991
Using https://github.com/eclipse/codewind/issues/2444 to document the offline support based on findings (and fixes) from #2078 and #2080

[2020-03-10 20:34] keithchong opened #2450 "Remove project error when removing a project that is in debug mode"
**Codewind version:** 0.9.0
**OS:** Mac OS

**IDE extension version:** Eclipse codewind 0.9.0 / latest, IntelliJ as well
**IDE version:** Any supported Eclipse version, latest IntelliJ

**Description:**
Local. Try removing a Codewind MicroProfile project that is running in debug mode.  You will get an error message:

An error occurred trying to remove the XYZ project from Codewind.
Project unbind

[2020-03-10 20:36] sishida commented on #2052
Because we plan to include this issue in 0.11.0, we have removed the update from https://github.com/eclipse/codewind-docs/pull/468 with another PR https://github.com/eclipse/codewind-docs/pull/472.

After we create a 0.10.0 release branch for `codewind-docs`, we can then add the update from https://github.com/eclipse/codewind-docs/pull/468 back into the documentation. :)

[2020-03-10 20:37] tetchel commented on #2450
this is the same issue as https://github.com/eclipse/codewind/issues/2193#issuecomment-595232320 and should have been fixed this morning

[2020-03-10 20:37] keithchong commented on #2450
Codewind for Eclipse trace:
java.io.IOException: Project unbind failed with status code 202
	at org.eclipse.codewind.core.internal.cli.CLIUtil.checkResult(CLIUtil.java:198)
	at org.eclipse.codewind.core.internal.cli.ProjectUtil.removeProject(ProjectUtil.java:114)
	at org.eclipse.codewind.ui.internal.actions.UnbindProjectAction$2.run(UnbindProjectAction.java:115)
	at org.eclipse.core.internal.jobs.

[2020-03-10 20:42] jgwest opened #2451 "Product screenshots obscurred by skyline sprites on Codewind Landing page, at default resolution/zoom, on all browsers"
On the codewind.dev landing page, the product screenshots are partially obscurred by the building skyline sprites, when viewed at default resolution, on all browsers, and all OSes.

Related to https://github.com/eclipse/codewind/issues/301 and https://github.com/eclipse/codewind/issues/652 but those were both specific to a wide screen. This is at default 16:9 aspect ratio and no page zoom.

@tetch

[2020-03-10 20:47] jopit opened #2452 "Eclipse and VSCode hero images don't have Codewind installed"

[2020-03-10 22:27] markcor11 commented on #2438
@johnmcollier,  I agree the right place to store the key pair secrets are in Kube secret.   (in fact I'm already doing that for gatekeeper in one called secret-codewind-tls but not for PFE or Perf)

[code]

What I mean by adding Ito to the Codewind CRD was to add it to the API but not to persist the keypair there just use it facilitate creating the Kube secret.

[2020-03-11 00:28] tetchel commented on #2427
You could give it a border, something like this. +1 for hiding your bookmarks before taking a screenshot :)

![image](https://user-images.githubusercontent.com/8888438/76370556-a019ee00-630d-11ea-95dd-3af93f3ad02b.png)

[2020-03-11 08:37] AndyRWatson commented on #2407
Is that a kabanero guide @micgibso  or an update to our own landing pages ?

[2020-03-11 08:58] micgibso commented on #2407
@AndyRWatson Jake mentions that it's `taken from work that was done for Kabanero`
@j-c-berger Any more info?

[2020-03-11 09:14] micgibso commented on #2361
Resolved by #2337 on PR https://github.com/eclipse/codewind-docs/pull/453

[2020-03-11 09:14] #2361 closed

[2020-03-11 10:12] #2403 closed

[2020-03-11 10:29] #2337 closed

[2020-03-11 10:43] micgibso commented on #2365
Also IntelliJ, see full list of IDEs/files here: https://github.com/eclipse/codewind-docs/wiki/Links-to-docs-in-IDEs-and-other-locations

[2020-03-11 11:01] jcockbain commented on #1961
An update on this one - we've been researching and testing deploying a simple default registry into the cluster with Codewind. I've written up some design docs - which are in this [PR](https://github.com/codewind-resources/design-documentation/pull/16).

As it says there, without user configuration we can add this registry in when we deploy Codewind. Exposing this as a kube service, and posting th

[2020-03-11 11:31] jagraj opened #2454 "SVT:Theia plugin stuck at "Starting" state if "Codewind" pod has start issues due to volume issues"
**Codewind version:** 0.10.0
**OS:** CoreOS

**Che version:** 7.9.0
**IDE extension version:** 0.10.0
**IDE version:** Theia 7.9.0
**Kubernetes cluster:** OCP 4.3

**Description:**
I got into volume issues with the Codewind 0.10 (https://github.com/eclipse/codewind/issues/2441). With this issue Theia plugin is stuck at "Starting" state and did not change status to "Disconnected" state after multip

[2020-03-11 12:49] nastacio commented on #875
Got this trying to start Codewind 0.9.0:

[code]

Will try and cleanup old .codewind folder, which shouldn't be necessary.

[2020-03-11 13:03] nastacio commented on #1597
VS-Code still fails, but now returns this cryptic message: "Error adding new template source: Error: PFE responded with status code 400"

On a related note about error messages meant for end-users, they would not know what a "PFE" is.

[2020-03-11 13:11] nastacio commented on #875
It works now, thanks!

[2020-03-11 13:11] #875 closed

[2020-03-11 13:14] sishida commented on #2381
PRs for removing unnecessary files:
1️⃣https://github.com/eclipse/codewind-docs/pull/470
2️⃣ https://github.com/eclipse/codewind-docs/pull/475
3️⃣ https://github.com/eclipse/codewind-docs/pull/478

[2020-03-11 13:16] malincoln commented on #2056
@tobespc pls verify and close. Thanks

[2020-03-11 13:54] josephca commented on #2442
Verified with https://github.com/eclipse/codewind-installer/pull/398 which requires a code review in order to get merged.
![image](https://user-images.githubusercontent.com/25185698/76424121-3128ad80-637e-11ea-8890-ea4a6a8a9b94.png)

[2020-03-11 13:54] #2442 closed

[2020-03-11 14:00] mattcolegate commented on #2028
I added `monitor-1.0` to an Open Liberty instance and we do get extra metrics, but I don't think we can use them to add additional data - what I thought we could use for http data actually turns out to be statistics against the servlet that's attached to the endpoint, like:
[code]
There might be a way of programatically finding out the endpoint of a particular servlet to tie it to the URL, but it

[2020-03-11 14:04] #2056 closed

[2020-03-11 14:23] malincoln commented on #2189
Need to complete for PFE now.

[2020-03-11 14:25] keithchong commented on #2450
Confirmed. It is fixed in master.

[2020-03-11 14:25] #2450 closed

[2020-03-11 14:27] malincoln commented on #2008
Will work to get changes into 0.11.0

[2020-03-11 14:38] sujeilyfonseca opened #2455 "SVT: Build failure with Appsody Open Liberty"
**Codewind version:** 0.10.0
**OS:** VM with Windows 10

**IDE extension version:** 0.10.0
**IDE version:** 1.42.0

Build date: 2020-03-10-12:22:59
build_info.url=https://download.eclipse.org/codewind/codewind-vscode/0.10.0/7
build_info.che.SHA-1=a1bfcb9274bc5365489e96596ab2faea4dc1678f
build_info.SHA-1=90663a8ff7ba33857f163016cb5c813df2d2e35d

**Description:** After migrating from Codewind 0.9.0

[2020-03-11 14:43] tetchel commented on #2454
https://github.com/eclipse/codewind-vscode/pull/499

[2020-03-11 14:43] #2454 closed

[2020-03-11 14:44] makandre commented on #2455
In both cases I see `Container] [INFO] CWWKM2011E: Timed out searching for CWWKF0011I: in /opt/ol/wlp/usr/servers/defaultServer/logs/messages.log.` and then the Liberty server is stopped after that

[2020-03-11 14:56] sujeilyfonseca opened #2456 "SVT: Failed to delete a Default WebSphere Liberty MicroProfile project after executing a load test, which produced profiling data"
**Codewind version:** 0.10.0
**OS:** VM with Windows 10

**IDE extension version:** 0.10.0
**IDE version:** 1.42.0

Build date: 2020-03-10-12:22:59
build_info.url=https://download.eclipse.org/codewind/codewind-vscode/0.10.0/7
build_info.che.SHA-1=a1bfcb9274bc5365489e96596ab2faea4dc1678f
build_info.SHA-1=90663a8ff7ba33857f163016cb5c813df2d2e35d

**Description:** Failed to delete a Default WebSphere

[2020-03-11 14:56] sujeilyfonseca commented on #2456
/priority hot

[2020-03-11 14:58] j-c-berger commented on #2407
@AndyRWatson & @micgibso, Yes, issue #434 is adapted from the content already published here on Kabanero.io (the link Andy included above): https://kabanero.io/docs/ref/general/installation/installing-codeready-and-codewind.html

[2020-03-11 15:14] sujeilyfonseca opened #2457 "SVT: [VS Code] Removal notification has been hanging for more than 30 minutes even when the project was removed from Codewind for VS Code"
**Codewind version:** 0.10.0
**OS:** VM with Windows 10

**IDE extension version:** 0.10.0
**IDE version:** 1.42.0

Build date: 2020-03-10-12:22:59
build_info.url=https://download.eclipse.org/codewind/codewind-vscode/0.10.0/7
build_info.che.SHA-1=a1bfcb9274bc5365489e96596ab2faea4dc1678f
build_info.SHA-1=90663a8ff7ba33857f163016cb5c813df2d2e35d

**Description:** Removal notification has been hangin

[2020-03-11 15:14] micgibso commented on #2380
Not keen on this, we need to discuss the following points:

- Adds unnecessary complexity
- No search engine
- Extra user clicks
- Obfuscates content
- IDEs linking to that fourth level might add more complexity
- More hidden content

[2020-03-11 15:15] tetchel commented on #2457
Please post extension logs

[2020-03-11 15:18] sujeilyfonseca commented on #2457
Done, @tetchel ✅

[2020-03-11 15:27] makandre commented on #2455
@sujeilyfonseca Does this happen on a new openliberty project?

[2020-03-11 16:02] sujeilyfonseca commented on #2455
I can reproduce the problem intermittently with new Appsody Open Liberty projects. They can build fine the first time, but they might not after stopping and starting Codewind.

Here is an example of the mentioned scenario:

[cw-appsody-open-liberty-0.10.0.txt](https://github.com/eclipse/codewind/files/4319225/cw-appsody-open-liberty-0.10.0.txt)

[2020-03-11 16:25] tetchel commented on #2457
Your IDE extension version says 0.10.0 but the first few lines of the log:

[code]

Are you sure you've upgraded?

[2020-03-11 16:58] douzizuibang opened #2473 "Why can I use codewind only after upgraded codewind version"
There are two problem,
1. Why can I use it only after upgrading if there is new version?
  If I have not access to internet, what should I do?

2. if I have pull these image by other solution
`eclipse/codewind-performance-amd64` and `eclipse/codewind-pfe-amd64`.
But when I try to start codewind in vscode, it will still pull image.
How to set the config of codewind, if there are images in local, th

[2020-03-11 17:01] hhellyer commented on #2189
I'm taking a look at this. I'll use `got` as well since we've done the license checks and it seems to function as a drop in replacement if we use `got.stream()`.
I'll need to update portal and gatekeeper.

[2020-03-11 17:17] sujeilyfonseca commented on #2457
Yes, I migrated from Codewind 0.9.0 to 0.10.0:

[code]

...

[code]

...

[code]

[2020-03-11 17:19] tetchel commented on #2457
and you can reproduce this issue with the 0.10 extension? I put a fix for this exact problem (closing the notification if the project file removal fails) into .10 which is why I'm making sure

[2020-03-11 17:29] elsony commented on #2189
@jgwest Given that there are some impact to filewatcherd, I am assigning this one to you on the iterative dev side. Please also include your work to include the related work on the rest of the turbine components as well.

[2020-03-11 17:41] malincoln commented on #2189
assigning to 0.11.0 as work is required for a few squads at this point.

[2020-03-11 17:44] josephca opened #2458 "Jenkins docker-agent build failed after using non-root user instead of root"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Codewind build is failed on our own docker-build agent (https://ci.eclipse.org/codewind/computer/ub18-01/) Since March 4th, the docker-build agents are using non-root users instead of root and worked fine so far.
I believe the fix should be done by the Eclipse team.

[2020-03-11 17:50] malincoln commented on #2284
@tobespc are you targeting 0.10.0 for fix?

[2020-03-11 18:01] jagraj commented on #2126
This has been verified with Che 7.9.0 release. Closing this one.

[2020-03-11 18:01] #2126 closed

[2020-03-11 18:13] jgwest opened #2459 "Codewind weekly call UTC meeting time is off by an hour due to daylight saving time"
The UTC [Codewind weekly call meeting time](https://github.com/eclipse/codewind#feedback-and-community) is currently off by one hour due to shift to EDT (UTC-4) from EST (UTC-5).

[2020-03-11 18:24] jgwest commented on #2456
It wouldn't surprise me if this is Windows only, in that Windows doesn't allow you to delete open files (unlike other platforms).

[2020-03-11 18:37] jagraj commented on #2455
Looks like this issue exists in Codewind 0.9.0 as well. I have CW 0.9 workspace and tried to reproduce this problem and this seems to be intermittent problem. One of my appsody open liberty project built and started fine. I created another appsody open liberty project and it failed to build and it also made my first project to fail as well. Looks like something is not right with this stack. We hav

[2020-03-11 18:49] makandre commented on #2455
Fairly certain this is an issue in the appsody stack.

[2020-03-11 19:23] johnmcollier commented on #2459
@jgwest Any suggestions here? I want the times to be accurate, but don't want to have to update it again in two weeks

[2020-03-11 19:43] sujeilyfonseca opened #2460 "SVT: [VS Code] Extension 'Codewind' failed to update workspace folders: Error: Unable to write into the file because the file is dirty. Please save the file and try again."
**Codewind version:** 0.10.0
**OS:** VM with Windows 10

**IDE extension version:** 0.10.0
**IDE version:** 1.42.0

Build date: 2020-03-11-17:30:50
build_info.url=https://download.eclipse.org/codewind/codewind-vscode/0.10.0/8
build_info.che.SHA-1=7aea24ceb7da2f8c4f1e933fc17e421bfb5446c5
build_info.SHA-1=2de69bbbec6b9823ea79fd0f01872ddd5ce1c326

**Description:** Extension 'Codewind' failed to updat

[2020-03-11 19:50] sujeilyfonseca commented on #2457
I reproduced the problem after migration. So far, I have not been able to reproduce the problem in a clean 0.10.0 installation.

[2020-03-11 19:53] tetchel commented on #2460
does this happen every new project creation, or just sometimes?

[2020-03-11 19:57] tetchel commented on #2460
oh it might be a timing issue caused by the extension trying to write the debug configuration at the same time. i think i can fix this

[2020-03-11 19:58] sujeilyfonseca commented on #2460
It happens sometimes. I've seen the error multiple times, but I'm not sure what triggers it.

[2020-03-11 20:04] tetchel opened #2461 "Mention Hybrid/Kube support in the VS Code tools readme"
We should add our kube support to the [VS Code tools readme](https://github.com/eclipse/codewind-vscode/blob/master/README.md) value propositions.

https://github.com/eclipse/codewind-vscode/pull/338 was the furthest we got previously, but it was closed. I also think we can make it sound a lot more exciting, since it is a great new feature.

Maybe @deboer-tim could help in writing a couple lines

[2020-03-11 20:06] rtaniwa opened #2462 "Improve Codewind marketplace entry for IntelliJ"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The IntelliJ marketplace entry for Codewind needs beefing up.

https://plugins.jetbrains.com/plugin/13839-codewind

There isn't anything that really explains the plugin, or what value props it provides. We need to have it similar to what we have

[2020-03-11 20:07] sishida commented on #2420
PRs merged. Closing this issue.

[2020-03-11 20:07] #2420 closed

[2020-03-11 20:08] rtaniwa commented on #2462
/priority hot

[2020-03-11 20:09] rtaniwa commented on #2462
/area docs

[2020-03-11 20:11] jagraj commented on #2441
Thanks @johnmcollier

I just verified this change and I do see default volume size is "5GB" now. Once we have doc changes and fix merged into master then I will go ahead and close this issue.  We should consider this as an enhancement in future release to provide an option to the user  to customize  Codewind  workspace size before creating one.

[2020-03-11 20:11] jgwest commented on #2459
@johnmcollier Until we as a society drop Daylight Saving Time in this timezone, I think this necessarily means it needs to be updated twice a year 😃 . (Note that UTC != British Summer Timer, thus no need to update in 3 weeks).

[2020-03-11 20:12] jagraj commented on #2441
/priority hot

[2020-03-11 20:15] jagraj commented on #2441
Making this as "hot" and this problem exist in previous releases and the new default size 5GB should help users with more projects with build cache.

[2020-03-11 20:30] jopit commented on #2462
JetBrains gives the following 'guidance' for the description of a plugin:
[code]
from here: https://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_configuration_file.html

[2020-03-11 20:32] makandre commented on #2052
Had to temporarily revert https://github.com/eclipse/codewind-appsody-extension/pull/90 as a problem was discovered and need a change on Codewind side first: https://github.com/eclipse/codewind/pull/2463

[2020-03-11 20:39] rtaniwa commented on #2462
We may need to tweak our content to conform to these guidelines, but if you compare what we have to other examples (https://plugins.jetbrains.com/plugin/8079-cloud-code), we are very thin. :)

[2020-03-12 10:19] micgibso opened #2464 "Rewrite remote topics for the Codewind Operator"
**Description of the enhancement:**
See https://github.com/eclipse/codewind/issues/1598

**Proposed solution:**
Redraft topics to reflect the implementation.

[2020-03-12 11:12] tobespc commented on #2384
My thinking of this is that we could enhance the performance dashboard to provide the necessary info around why we are not getting metrics.  that way, the IDE's could just always link to the perf dash (which can always be used to run load) and then if we can't display the results, let the user know from there

[2020-03-12 11:14] tobespc commented on #2324
tagging in design for input on a better message

[2020-03-12 11:15] tobespc commented on #2302
believe this is now fixed, will test

[2020-03-12 11:39] NikCanvin opened #2465 "Build Failed indicated, but app actually built and running"
**Codewind version:** 0.9.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:** VS Code 1.43.0
**Kubernetes cluster:**

**Description:**
while saving Dockerfile updates, builds kick-off and complete successfully, but 'build status' in VS Code indicates .
--- Application Status: | Running
--- Build Status: | Build Failed - Creating image for build failed

**Steps to reproduce:**
-

[2020-03-12 11:57] tobespc commented on #2284
this has been fixed already, can not reproduce with the fixes in

[2020-03-12 12:13] NikCanvin commented on #2465
I think might be a 'multi' docker build case ... where an ealier part of the build has an error, but the final app build seems to work ... so maybe the build status is right - but this scenario can be a bit confusing to devs

[2020-03-12 12:40] malincoln commented on #2284
@sujeilyfonseca pls verify and close. Thanks

[2020-03-12 12:43] jagraj commented on #2455
Making this as stopship and we need to investigate with appsody team why this stack fails intermittently.

[2020-03-12 12:44] jagraj commented on #2455
/priority stopship

[2020-03-12 13:28] makandre commented on #2455
@jagraj @sujeilyfonseca could I have access to your machines to investigate?  So far I have not been able to reproduce it

[2020-03-12 13:32] jopit commented on #2447
Seems like we're trading ease of use for the user vs ease of use for admin

Plus is that Hybrid and Che are more consistent

No real strong consensus one way or the other.  Need input from Elson/TimD.  Table this and come back to this in a future tech-topic.

[2020-03-12 13:43] jopit commented on #2435
Rather than do this in a scattershot fashion, we should take a more consistent approach.  One possibility is to move all this function into cwctl.

This would involve producing a new version of the API, rather than replacing the existing one.

Julie will set up a discussion with TimE, Erin and JohnP to move this forward.

[2020-03-12 13:54] jagraj opened #2466 "SVT:IntelliJ:Logs console is not switching for a project that I requested and it stays for previous project all the time"
**Codewind version:** 0.10.0
**OS:** Windows

**Che version:**
**IDE extension version:** 0.10.0
**IDE version:** Intellij 2019-3.3
**Kubernetes cluster:**

**Description:**
I installed Codewind 0.10 from  Intellij plugin and I tried to access log files for  my projects and they are not switching from one project to another project. If I access "Project1" logs and then tried to access logs for "Pr

[2020-03-12 13:55] sujeilyfonseca commented on #2455
@makandre, I'll share my machine credentials with you via Slack. I currently have 4 out of 5 Appsody Open Liberty projects with build failures.

<img width="1675" alt="Screen Shot 2020-03-12 at 9 52 52 AM" src="https://user-images.githubusercontent.com/49531960/76528619-7ebd1d00-6447-11ea-8bc3-73d717be0041.png">

[2020-03-12 13:56] jagraj commented on #2466
/priority hot

[2020-03-12 13:57] makandre commented on #2455
It's really a timing issue, it looks like the stack waits 120 seconds for the `CWWKF0011I` message to appear in the log.  That message is:

`CWWKF0011I: The defaultServer server is ready to run a smarter planet. The defaultServer server started in 104.223 seconds.`

[2020-03-12 13:58] keithchong commented on #2466
I think this is because the log files are for a different IntelliJ project.  Enforcing the user to open the project into another window or current window should resolve this.

[2020-03-12 14:02] makandre commented on #2455
There maybe an easy workaround actually, in the project's `pom.xml` file, look for:

`<serverStartTimeout>120</serverStartTimeout>`

You can try increasing the timeout there

[2020-03-12 14:05] mii-w commented on #2399
## wireframe ideas:

### Hot Method View should be located next to each test
<img width="655" alt="Screen Shot 2020-03-12 at 9 56 09 AM" src="https://user-images.githubusercontent.com/51759906/76529066-22a6c880-6448-11ea-9493-5f3029b5eb5c.png">
<img width="648" alt="Screen Shot 2020-03-12 at 9 56 18 AM" src="https://user-images.githubusercontent.com/51759906/76529075-25092280-6448-11ea-97e9-c75783

[2020-03-12 14:07] malincoln commented on #2107
@micgibso will add estimates.

[2020-03-12 14:09] malincoln commented on #2367
@micgibso will add estimates.

[2020-03-12 14:25] micgibso commented on #2367
Following on from today's Backlog sorting meeting, removing Epic label for now for further discussion with Mel.

[2020-03-12 14:27] sujeilyfonseca commented on #2284
I've verified this issue with the latest Codewind 0.10.0, and I no longer reproduce the problem.

[2020-03-12 14:37] tetchel commented on #2435
I'm fixing it on my end since I originally thought the problem was isolated to the build endpoint, but there are several more.

[2020-03-12 15:15] sujeilyfonseca commented on #2455
My projects built after increasing the timeout to 180:

<img width="1667" alt="Screen Shot 2020-03-12 at 10 32 39 AM" src="https://user-images.githubusercontent.com/49531960/76532630-43bde800-644d-11ea-82dd-f3a7e9c14317.png">

However, they stopped again with same errors:

[code]

[code]

[code]

[code]

Therefore, I proceeded to increase the timeout to 260. This caused the projects to build and s

[2020-03-12 15:17] josephca opened #2467 "API Test failed in Codewind build - exec: "dbus-launch": executable file not found in $PATH."
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The API test failure causes Codewind Jenkins build failed and also affects other PR builds.

Build log: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/621/consoleFull

09:36:59  Creating codewind-workspace
09:36:59  PFE Image: e1878fa87510
09:3

[2020-03-12 15:18] naveenkaratekid commented on #2466
I notice that issue too in IntelliJ. When I right click on the project and select ```Log files```, it doesn't show the logs. But when I click on the name of the project at the bottom left (highlighted in green), the option for seeing the log files for the other project show up. Then when I click on it, I am then able to see the logs.

![IntelliJ 0 10 0](https://user-images.githubusercontent.com/19

[2020-03-12 15:23] james-wallis commented on #2467
I took a look into this and it seems that the failure comes from within `start.sh`:
[code]

So I think the `cwctl start` command has started to fail in Jenkins where we're writing to a file?

Ran `master` branch locally and it starts fine.

[2020-03-12 15:24] eharris369 commented on #2309
It turns out that to depend on a particular feature is not that simple and requires listing all of the required plugins with their versions in a separate feature for each version of Eclipse that is supported. So have just added code to check for the bundles required for the container shell and show a dialog if they are not installed. The message asks the user to check that they are using the Eclip

[2020-03-12 15:32] makandre commented on #2455
I would recommend trying with a large timeout (say 600 = 10 mins) just so we can narrow down whether the apps can indeed start.

Do these app contained any custom code or are they largely unmodified from when they were created by Codewind?

Re the Open Liberty landing page you see, the fact it shows as `[Running]` means the `/health` endpoint is up (can you verify by going to it?) and that by defi

[2020-03-12 15:33] josephca commented on #2467
It might be related to another issue that I raised against Eclipse team - a recently found an issue with Jenkins build workspace location under '/home/root/workspace' instead of non-root user workspace location.
https://github.com/eclipse/codewind/issues/2458

[2020-03-12 15:54] jgwest commented on #2467
`dbus-launch` is only available on full desktop installs of Linux (GUI, either directly or through VNC), rather than the minimal server install (no GUI, SSH access only). For example, for Ubuntu, this is the difference between the 'Ubuntu 18.04 Desktop image' and the 'Ubuntu 18.04 Server install image', but similar distinctions exist in other distributions.

In general, I don't think we can rely o

[2020-03-12 15:55] maysunfaisal commented on #2467
/priority stopship
/area portal

This has been happening since yesterday. Cannot `cwctl start` in docker-compose because dbus-launch is missing in PATH.

if we fix it with installing dbus-x11, we then get
[code]

Basically need to do https://github.com/eclipse/codewind/issues/2224#issuecomment-586440910 to workaround and fix it

Should this PR https://github.com/eclipse/codewind-installer/pull/405

[2020-03-12 15:58] tetchel commented on #2467
`cwctl start` is for local and shouldn't need to access the keyring anyway 🤔

[2020-03-12 16:10] hhellyer commented on #2467
We do now use the keyring locally to store docker login credentials so we can persist them across PFE restarts.
The insecure keyring changes in eclipse/codewind-installer#405 should resolve this but I don't know if that PR has been updated since the credentials persistence was added.

[2020-03-12 16:15] sujeilyfonseca opened #2468 "SVT: [IntelliJ] Right-click on Codewind and select "New Project..." doesn't provide focus in the Codewind project creation window"
**Codewind version:** 0.10.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.10.0-202003101220
**IDE version:** IntelliJ IDEA 2019.3.2 (Community Editio)

**Description:** Right-click on Codewind and select "New Project..." doesn't provide focus in the Codewind project creation window.

<img width="313" alt="Screen Shot 2020-03-12 at 12 01 23 PM" src="https://user-images.githubusercont

[2020-03-12 16:27] keithchong commented on #2466
Hey @naveenkaratekid , initially, when you select "Show All" from the context menu of a project in the Codewind view, it appears like nothing happens, but actually, they are added.  There just isn't any feedback.  Yes, then if you select the combo box from the `Log Files` view, you will see them.

Similarly, bit not the exactly the same problem, if a log content changed, you won't get notified.  S

[2020-03-12 16:36] sujeilyfonseca commented on #2455
Increasing the time by 600 (10 minutes) seemed to work:

<img width="1677" alt="Screen Shot 2020-03-12 at 12 31 47 PM" src="https://user-images.githubusercontent.com/49531960/76543895-87b8e900-645d-11ea-9204-7b396fd2754a.png">

<img width="1464" alt="Screen Shot 2020-03-12 at 12 30 53 PM" src="https://user-images.githubusercontent.com/49531960/76543902-88ea1600-645d-11ea-8bd8-792c4996bd8c.png">

T

[2020-03-12 16:44] jcockbain commented on #1961
Ran into the registry whitelist issue described by @johnmcollier when testing the local registry on an Openshift 4.3 cluster. The projects fail to build, showing a helm install error through the vscode plugin.

Adding the registry service address as an insecure registry, through modifying the cluster resource (as described [here](https://docs.openshift.com/container-platform/4.3/openshift_images/i

[2020-03-12 16:57] makandre commented on #2455
I agree, we should document the workaround.  I'll put up a PR for this.

Do we agree that this is not a stopship then?

[2020-03-12 17:02] jgwest commented on #2467
I `git bisect`ed the cwctl repo, and this is the first commit to introduce the problem:
https://github.com/eclipse/codewind-installer/commit/59ab994f8e7e8a57ab1a0c9d995d615d6b1d06ca

with the actual `dbus-launch` command coming from this line of this dependency:
https://github.com/godbus/dbus/blob/8e900ab0295c2569ce43c79276e714f1d84e543a/conn_other.go#L20

eg cwctl -> go-keyring -> godbus

[2020-03-12 17:25] sghung commented on #2437
As I dig into this more, I realize that there were a few javascript functions that are causing this problem and its related to the sidebar. I am looking to redo the sidebar in order to remove these problematic functions. Bootstrap have APIs to deal with the sidebar, so we shouldn't need to implement this logic ourselves. This logic is interfering with all anchors.

[2020-03-12 17:29] sishida commented on #2462
✍️I will write a draft of the text to appear on the marketplace and then post it here as a comment. Then, the IntelliJ team can update the plug-in XML file and add HTML for the formatting.

[2020-03-12 17:32] sghung opened #2469 "Investigate accessing Codewind default projects via private registries"
For each default codewind project, see how easy it is for its dependencies to be picked up from a or private server. For example, for express, see how we can use a private NPM (e.g. nexus) and a private docker. This will simulate a user who can only connect to internal systems and cannot access public docker, NPM, etc.

[2020-03-12 17:32] sghung opened #2470 "Investigate accessing Codewind default projects via proxies/private registries"

[2020-03-12 17:38] #2435 closed

[2020-03-12 17:40] eharris369 commented on #438
Verified with 0.10.0 and master.

[2020-03-12 17:40] #438 closed

[2020-03-12 17:40] makandre commented on #2469
/assign

[2020-03-12 18:00] sishida commented on #2444
PRs merged. Closing this issue.

[2020-03-12 18:00] #2444 closed

[2020-03-12 18:17] jgwest commented on #2467
I pulled the https://github.com/eclipse/codewind-installer/pull/405 and rebuilt cwcli use that code, and the issue is still reproducible.

[2020-03-12 18:29] eharris369 commented on #2382
I think the registries information belongs in a separate file rather than included in the remote deploy info because:
- There are many places where this information is relevant including:
          creating a new connection
          creating a new project
          adding an existing project
          context menu item on connections
- If it is a separate document, links to it can be inserted dir

[2020-03-12 18:32] ssh24 commented on #1222
So I have been doing some investigation on this issue on the basis of testing out a large java application (i.e gameclient) on Mac and Windows across three different release: 0.5.0, 0.6.0 and 0.9.0 and checking the time differences across docker build and maven build.
1. I couldn't replicate the numbers Jonathan have found on his windows run after trying multiple times. I was however able to repli

[2020-03-12 18:35] makandre commented on #2455
Doc PR: https://github.com/eclipse/codewind-docs/pull/484

[2020-03-12 18:40] josephca commented on #2458
The fix has been made by the Eclipse team. Closing it now.

Copying the comment from the Eclipse team here:

The reason why it stopped working was a redeploy of the "configuration as code" with old/wrong values for user and remote root directory.

Then I completely misunderstood the goal of this issue yesterday, assuming that using the root user was desired, instead of the non-root user. So my fix

[2020-03-12 18:40] #2458 closed

[2020-03-12 18:43] sujeilyfonseca commented on #2455
During a call with @sghung, @makandre, and @jagraj, I was able to reproduce the same scenario in MacOS:

<img width="1641" alt="Screen Shot 2020-03-12 at 2 42 41 PM" src="https://user-images.githubusercontent.com/49531960/76556369-c2c41800-646f-11ea-8de5-156e0dbe1fc4.png">

[2020-03-12 18:44] josephca commented on #2458
Verified that this doesn't affect the issue as no change was made w.r.t.

remoteFS: "/home/root"

[2020-03-12 18:47] jagraj commented on #2455
I and Steven tried to reproduce this problem outside of Codewind and got into this problem where Open liberty, Spring boot both of the stacks failed due to this issue (https://github.com/appsody/appsody/issues/912). We need this issue to be resolved to isolate the problem between Codewind and Appsody.

[code]

[2020-03-12 18:54] sishida commented on #2342
Options for separating info:
1️⃣Have one page for each IDE (Eclipse and VS Code).
2️⃣Merge pages so we have one page for connecting and creating projects.

📓Also...creating projects should be the same (except for the registry step) in both local and remote. The documentation team needs to discuss how we want to proceed with the structure.

[2020-03-12 18:55] sujeilyfonseca commented on #2455
@sghung, I added the log errors to my previous comment.

[2020-03-12 18:58] rajivnathan commented on #2455
Removing the iterative-dev label since this seems to be an appsody specific issue

[2020-03-12 19:02] sujeilyfonseca commented on #2240
I've verified this issue with the latest Codewind 0.10.0, and I no longer reproduce the problem.

<img width="683" alt="Screen Shot 2020-03-12 at 3 01 19 PM" src="https://user-images.githubusercontent.com/49531960/76557721-6e6e6780-6472-11ea-8ead-425753d339fe.png">

[2020-03-12 19:02] #2240 closed

[2020-03-12 19:31] malincoln commented on #2384
@jagraj @tobespc should we open a separate bug for the fix that we track for 0.11.0 and use the current bug for the doc change?

[2020-03-12 19:32] sishida commented on #2382
I have closed this PR: https://github.com/eclipse/codewind-docs/pull/483

To do:
1️⃣ PR 483 included some text updates, such as saying "image registry" instead of "deployment registry." I will make a new PR for those updates.
1️⃣ Make a new PR for linking section 2 in remotedeploy-eclipse.md/remotedeploy-vscode.md into remote-setupregistries.md. A link prevents duplicate content and keeps remote-s

[2020-03-12 19:47] ssh24 commented on #1222
Based on the discussion above, the turbine team has decided that we cannot do much about the maven compile command process taking longer to return back to us.

Closing this issue as resolved.

/close

[2020-03-12 19:47] #1222 closed

[2020-03-12 19:48] johnmcollier commented on #1961
@jcockbain Yeah, that's what I was worried about:
1) The `cluster` resource isn't available on managed OpenShift, so it wouldn't be possible there
2) The implementations of this approach would differ between Kubes:
    - OCP and OKD 3.x: SSH into worker nodes to add it to Docker's whitelist
    - Minishift / Minikube / Docker Desktop: Possible, but not sure how?
    - IKS, ROKS, any managed Kube:

[2020-03-12 19:54] makandre commented on #2455
If https://github.com/appsody/appsody/issues/912 is blocking test on Windows, then test on Mac (since https://github.com/eclipse/codewind/issues/2455#issuecomment-598356873 mentions it is reproduced there)

In any case it's actually easy to make this error happen by going the opposite way, i.e. **reducing** the timeout value.  I set it to 10 seconds and my server doesn't start within that time, in

[2020-03-12 19:54] eharris369 opened #2471 "[Eclipse IDE] Generate an install zip for the test plugins and features"
Generate an install zip for the test plugins and features.

[2020-03-12 20:03] ssh24 commented on #2465
This shouldn't happen regardless. For the first case on your reproduction step, the build failed which makes sense why it says `Build Failed` status. For the next step when you update the pom.xml, it should trigger a new build and the build status to change to `Building` -> `Build Succeeded`.

Prioritizing this as user can run into this very easily and we probably need to debug if this happens for

[2020-03-12 20:03] makandre commented on #2455
I should also point out, the message from Liberty also states that the user should consider increasing the `serverStartTimeout` value as a way to get around this:

[code]

[2020-03-12 20:12] sishida commented on #2384
If we plan to fix the issue, and thus if the proposed doc update is only going to appear in one release, I would prefer that we refrain from a doc change and instead leave this issue open for everyone to see.

However, if we want a doc change that will need to appear in the docs indefinitely, then let's go forward with the doc change. Thank you!

[2020-03-12 20:12] malincoln commented on #2439
@makandre pls verify and close. Thanks

[2020-03-12 20:31] tetchel opened #2472 "Templates API sometimes returning templates from disabled sources with showEnabledOnly=true"
Master branch

When I GET `http://localhost:10000/api/v1/templates?showEnabledOnly=true` I get all the templates, even the ones from disabled sources. I see the same behaviour using the `cwctl` templates commands (the kabanero source is disabled, but its templates are still listed).

This means the user gets prompted with the entire list of templates every time they want to create a project, and d

[2020-03-12 21:03] makandre commented on #2439
Verified it's fixed on master

[2020-03-12 21:03] #2439 closed

[2020-03-12 21:05] jagraj commented on #2225
This issue has been fixed. Thanks for the fix.

[2020-03-12 21:05] #2225 closed

[2020-03-12 21:11] malincoln commented on #1805
@mmulholl pls verify and close. Thanks

[2020-03-12 21:43] jagraj commented on #2455
@makandre @sghung
Looks like we are  able to reproduce this problem in both Windows and Mac intermittently and we should increase this default timeout and users will not see this problem frequently.

We already documented workaround and error message says to increase timeout and this is no longer "stopship" issue for Codewind 0.10.0 release. We should work with appsody team and increase this defau

[2020-03-12 22:27] malincoln commented on #2455
@jagraj I update the labels for you.

[2020-03-13 03:50] johnmcollier commented on #2447
Discussed more on today's dev stat. We acknowledged the advantages and disadvantages of both approaches and rather than deciding on one approach over another, decided to support a hybrid model:
- Support a Che plugin that can be installed into _any_ Che. Only sets up the Codewind VS Code / Theia extension. Up to user (or cluster admin, etc) to set up and configure Codewind as needed
- Also support

[2020-03-13 09:59] NikCanvin opened #2474 "Build status hangs with 'build queued - rank 1/1)"
**Codewind version:** 0.9.0
** OS:** MaOs

**IDE version:** VS Code 1.43

**Description:**
despite only having 1 enabled project, Codewind docker build hangs, saying it's queued.
<img width="397" alt="Screenshot 2020-03-13 at 09 53 32" src="https://user-images.githubusercontent.com/16120163/76610723-408c3000-6511-11ea-9d2d-33632a1b92b8.png">

note: this is a continuation of my work, which also led

[2020-03-13 10:22] NikCanvin commented on #2465
done some more invewstigation ...

I think the BUILD failed (no new docker images listed in 'docker images')...

But after the fail, Codewind still attempts to start the app, finds the previous images that were built before my code change and starts that instead.

As a USER I thought my new app was actaully RUNNING, but it was the old one - this might need to be a SEPARATE ISSUE, I'm not sure

[2020-03-13 10:35] NikCanvin commented on #1999
I've not see this issue recently either, so good to close

[2020-03-13 11:00] micgibso commented on #466
ID complete.

[2020-03-13 12:52] sujeilyfonseca commented on #2460
I've verified this issue with the latest Codewind 0.10.0, and I no longer reproduce the problem.

[2020-03-13 12:52] #2460 closed

[2020-03-13 12:57] hhellyer commented on #2467
You need to enable the insecure keyring explicitly. We've pulled the changes to store the docker credentials *until* the insecure keyring is available. Once that is in we will need to modify the `cwctl start` command in the build so that it starts up using the insecure keyring.

With the changes reverted from cwctl the latest codewind master build (625) is green: https://ci.eclipse.org/codewind/jo

[2020-03-13 12:58] jagraj commented on #2384
@sishida
Sounds good. We will add list of projects that we support in this issue, so that user can get more info from this issue.

[2020-03-13 13:09] makandre commented on #2474
This looks like the same as https://github.com/eclipse/codewind/issues/2075 tho that was supposed to be fixed

[2020-03-13 13:09] sujeilyfonseca commented on #2384
@jagraj @sishida
I'm working on the list of projects. I'll post it in a moment.

[2020-03-13 13:23] naveenkaratekid opened #2475 "SVT: IntelliJ: Highlight problem in Codewind Explorer when creating new project"
**Codewind version:** 0.10
**OS:**Windows

**IDE version:** IntelliJ 2019.3.3

**Description:**
The Codewind explorer does not seem to highlight when the user creates a new project. The Codewind tree doesn't show up when the user creates a project

**Steps to reproduce:**
1. Create a new Codewind project of any template
2. When the Open Project wizard pops up, click ```This Window```.
![image](htt

[2020-03-13 13:29] sujeilyfonseca commented on #2475
I consider this is a similar issue: https://github.com/eclipse/codewind/issues/2037

[2020-03-13 13:32] naveenkaratekid opened #2476 "SVT: IntelliJ: Cancel button when creating project"
**Codewind version:** 0.10
**OS:** Windows

**IDE extension version:** 0.10
**IDE version:** IntelliJ 3.11

**Description:**
![image](https://user-images.githubusercontent.com/19738071/76624898-8c88a600-650c-11ea-8a97-542b4acb038a.png)
We are not sure about what the ```Cancel``` button in this wizard is supposed to do. Is it supposed to not create the project whatsoever? Or is it supposed to creat

[2020-03-13 13:37] naveenkaratekid commented on #2476
/priority stopship

[2020-03-13 13:58] makandre commented on #2455
I opened https://github.com/appsody/stacks/issues/717 to see if we can have the default timeout value increased

[2020-03-13 14:32] scottkurz commented on #2455
@jagraj  the issue here https://github.com/eclipse/codewind/issues/2455#issuecomment-598358470
[code]
looks like issue:  https://github.com/appsody/appsody/issues/912

I have a workaround in a PR...I'll ask again if they can merge it.   (I also have a Windows binary if you want to ping me).

[2020-03-13 14:39] ssh24 commented on #2474
What does the pfe log say? Could you also enable `debug` mode so we can see more of the logs

[2020-03-13 14:45] eharris369 commented on #2309
/pipeline verify

[2020-03-13 15:00] sujeilyfonseca opened #2478 "SVT: [IntelliJ] "New Project.." label is not consistent with other IDEs"
**Codewind version:** 0.10.0
**OS:** Mac OS Mojave 10.14.6

**IDE extension version:** 0.10.0-202003101220
**IDE version:** IntelliJ IDEA 2019.3.2 (Community Edition)

**Description of the enhancement:** "New Project..." label is not consistent with other IDEs.

<img width="313" alt="Screen Shot 2020-03-12 at 12 01 23 PM" src="https://user-images.githubusercontent.com/49531960/76631644-62d57c00-65

[2020-03-13 15:21] malincoln commented on #2476
@keithchong can you take a look?  I don't see @jopit online right now.  Thanks

[2020-03-13 15:31] jagraj commented on #2476
@jopit @keithchong
I have been trying migration scenario from 0.9.0 to 0.10.0. Looks like this problem does exist in 0.9.0 release and not sure if this is "stopship" issue and this is not regression. I leave this decision to you, we are ok making this as "hot" as we are not loosing functionality here as user can delete manually if he does not want project or he can always import the project if nee

[2020-03-13 15:31] sghung commented on #2470
Closing, this issue was created incorrectly from another github issue,

[2020-03-13 15:31] #2470 closed

[2020-03-13 15:39] sujeilyfonseca commented on #2384
[UPDATE] I was working on the list, but then I got into a blocker. The performance dashboard is very confusing now. I see some projects that should support it without results now. Also, the function gets stuck many times.

@jagraj asked for clarification, so we will wait until an answer is provided to identify the list of projects and if there are any possible new issues.

[2020-03-13 15:48] sujeilyfonseca opened #2479 "SVT: Load test can no longer run after canceling an unsuccessful load test request"
**Codewind version:** 0.10.0
**OS:** VM with Windows 10, Mac OS Mojave 10.14.6, and Red Hat Enterprise Linux 7 (64 bit)

**Che version:** Che 7.5.1 & 7.9.0
**IDE extension version:** 0.10.0
**IDE version:** Code 1.42.0
**Kubernetes cluster:** OKD/OpenShift

**Description:** Load test can no longer run after canceling an unsuccessful load test request.

I was executing load tests on different types

[2020-03-13 16:07] sghung commented on #2455
@jagraj for the windows VM I have, I cannot upgrade to the latest docker (it won't allow me to due to the OS), so I couldn't reproduce appsody issue 912, as I was able to get my open liberty to run fine with appsody 0.5.9 when running the CLI.

[2020-03-13 16:27] ssh24 commented on #2474
I have tried reproducing this error standalone without https://github.com/eclipse/codewind/issues/2465 and I couldn't reproduce this

[2020-03-13 16:30] sujeilyfonseca commented on #2479
I can't reproduce the same scenario in our previous release (0.9.0). I tested VS Code and Eclipse Che, but I'm able to get load test results after running a load test that couldn't produce results.

[2020-03-13 16:30] tetchel commented on #2474
he's on 0.9 so if it's fixed in master then we should be ok

[2020-03-13 16:31] ssh24 commented on #2465
That is right. So this is happening because:
1. When you update the initial dockerfile, the docker build fails (the app is running initally from the creation of the project)
2. Please note we don't take down the project before docker build starts just in case the docker build fails and the user cannot no longer access an older copy of the app. As a reason, we keep the old container up before docke

[2020-03-13 16:33] sishida commented on #2462
**Codewind**
Adds tools to help build cloud-native, containerized applications, regardless of which runtime or language you use. Create an application from a template project and launch, update, test, and debug in containers on the desktop. For more information, see https://www.eclipse.org/codewind/.

**Why use Codewind?**
- Get started with templates or samples to create and deploy applications t

[2020-03-13 16:34] sujeilyfonseca commented on #2457
So far, I have not been able to reproduce the problem again. Therefore, I'll proceed to close this issue.

[2020-03-13 16:34] #2457 closed

[2020-03-13 16:37] sishida commented on #2462
@jopit Hi, John, The draft is in the previous comment. Here are some things I thought might need editing:
- If Codewind for IntelliJ doesn't support everything mentioned yet, we'll of course want to remove that content. Please just let me know. :)
- Also, I wasn't sure if we needed to add info for the JetBrains guidance, `the description MUST specify the version of the corresponding language/platf

[2020-03-13 16:37] ssh24 commented on #2474
Oh, I was trying on master. However, looking at the 0.9.0 history it looks like the fixes for this #2075 and #2072 related to this issue did go in for 0.9.0. But we did put in a change in build queue architecture for 0.10.0 only and not 0.9.0.

@NikCanvin Could you please try the same scenario on 0.10.0 and see if it fails?

[2020-03-13 16:42] jagraj commented on #2479
Looks like this is regression and we can not reproduce in 0.9.0 release. Marking this one as "stopship" for 0.10 release.

/priority stopship

[2020-03-13 16:43] jagraj commented on #2479
/area portal

[2020-03-13 16:45] sujeilyfonseca commented on #1792
I verified this issue with the latest Codewind 0.10.0, using the Codewind Node and Java Profilers. I was able to get the profiling data for Java and Node JS projects. The `.json` and `.hcd` files were created on my machines.

[2020-03-13 16:55] eharris369 opened #2480 "[Eclipse IDE] Automated test set up"
Set up the tests so that they can run automatically.

[2020-03-13 17:15] BinaryWizard904 opened #2481 "Option to generate csharp-netcore clients is missing from Codewind OpenAPI Tools for Visual Code"
**Affects:** [Codewind OpenAPI Tools for Visual Code](https://github.com/eclipse/codewind-vscode) version 0.9.0

The OpenAPI Generator underlying this extension supports generating a csharp-netcore client but the option is missing from the Codewind OpenAPI Tools for Visual Code extension.

This bug is caused by the omission of the option in the [codewind-openapi-vscode/dev/src/constants/Constants.

[2020-03-13 17:32] ssh24 commented on #2481
Hi @BinaryWizard904 , thanks for the feature request! Since you already have found an enhancement solution for it, could you please open a PR and have it reviewed by us? Thank you for using codewind!

/area openapi
/kind bug

[2020-03-13 18:08] keithchong commented on #2476
Selecting cancel should not create the project.  The problem is that the project folder is indeed created but not all of the intended content is there.  For example, there is an empty src folder, and there is the IntelliJ project format folder `.idea`.

IMHO, I don't think this is stop-ship.  The user should relaunch the wizard and select the option to open the project in a new window.

The fix sh

[2020-03-13 18:29] malincoln commented on #2479
@tobespc pls assign.  Thanks

[2020-03-13 18:58] keithchong commented on #2481
Hi @BinaryWizard904 , thanks for reporting this.  I know that the static list can get outdated.  However, we will try to update it when we update the generator version.  Ideally, the quick pick list should be provided dynamically.  The Eclipse version needs to be updated too:

[org.eclipse.codewind.openapi.ui/src/org/eclipse/codewind/openapi/ui/Constants.java](https://github.com/eclipse/codewind-o

[2020-03-13 20:22] #697 closed

[2020-03-13 20:33] makandre opened #2482 "Go project build does not take advantage of docker caching"
Discovered as part of offline support investigation #2078

For Codewind Go projects, the Dockerfile is not optimized for caching.  In fact the file doesn't make it easy for users to add new dependencies:

- it doesn't run `go get`
- you would need to run `go get` after copying the source, which invalidates the cache layer forcing dependencies to be downloaded each time source is changed

[2020-03-13 20:35] makandre commented on #2078
As it turns out, `Go` project only works because the template is very simplistic and does not pull in any external dependencies.  When users start adding dependencies they'll have problems working offline.  I've opened #2482 for this problem

[2020-03-13 20:35] makandre commented on #2482
/assign

[2020-03-13 21:18] rajivnathan commented on #2356
@makandre Wouldn't that only work for projects created via the nodejs template? What about existing projects imported by users that don't have that in their Dockerfile?

[2020-03-13 21:28] makandre commented on #2356
That’s a very good point 😕.  It won’t work for imported projects... in that case there’s still the workaround of disabling auto build. So would still be slightly better than before. I will see if there’s a better solution