[2019-06-23 15:10] jagraj opened #1 "Open Performance dashboard results blank page pointing to localhost rather ingress endpoint"
I have application deployed from codewind-che on  IBM Cloudprivate. When I try to access performance dashboard, I am getting blank page and the URL pointing to "localhost" rather ingress endpoint.

![image](https://user-images.githubusercontent.com/713849/59977599-02c13300-95a1-11e9-850d-b0b48ca3b913.png)

![image](https://user-images.githubusercontent.com/713849/59977611-2b492d00-95a1-11e9-9f95-3

[2019-06-23 15:36] jagraj opened #2 "Failed to open container shell from the editor running on ICP"
When I try to open container shell from the editor and the message says "java1905gawin does not have an application container running. Wait until the project is Running." .

The application is running fine and I can access from the "Open app"

![image](https://user-images.githubusercontent.com/713849/59978485-aebb4c00-95aa-11e9-89ce-361b0a027b5d.png)

Here are the logs from all the containers.
[ch

[2019-06-23 15:55] jagraj opened #3 "Loadrunner is timing out when I submitted load request from the codewind running on ICP"
I have Java application up and running, I am trying to start the load from one of the option in codewind palette and I see these messages in the logs.

[code]

Logs ..
[che.txt](https://github.com/eclipse/codewind/files/3318045/che.txt)
[che-machine.txt](https://github.com/eclipse/codewind/files/3318046/che-machine.txt)
[codewind.txt](https://github.com/eclipse/codewind/files/3318047/codewind.txt)

[2019-06-24 08:43] tobespc commented on #1
Thanks for raising this, will investigate asap

[2019-06-24 08:48] tobespc commented on #1
This is an environment we have not tested yet so I'm not surprised it doesn't work though

[2019-06-24 18:00] sujeilyfonseca opened #4 "Build failure issue on Windows 10"
**Environment:**
- **Codewind version:** Latest Development Version
- **VS Code version:**  Code 1.35.1
- **OS:** VM with Windows 10

**Description:**
Several projects failed to build in VS Code (Windows 10). The file watcher log has several error messages due to not supporting Windows-style paths.

<img width="841" alt="Screen Shot 2019-06-24 at 10 56 24 AM" src="https://user-images.githubusercon

[2019-06-24 20:03] DavidG1011 opened #5 "[ICP] Changes to any created project not being saved."
Platform: Che on ICP

Reproduce:
1. Create python project from "Hello World" template in Codewind.
2. Edit .py file.
3. Save using File > Save or shortcut (both reproduce this behavior).

Result: Project changes do not save.

Note:

Upon closing the file, user is prompted to save. Selecting "Save" on this prompt does not save changes either.

[2019-06-24 21:08] DavidG1011 commented on #5
As far as I can tell, the issue is only occurring with python projects. Changes to the file just do not save, so new versions of the app can't be built. I created a python project from the "Hello World" template included with Codewind. It seems like any file changed within the project folder doesn't save (Dockerfile, app.py).

[2019-06-24 21:26] rajivnathan commented on #5
When the files are created they need to be assigned with owner set to uid 1724 because that is the UID the theia container in the Che workspace pod is given. I verified changing the owner uid to that in pfe allows deletion from the theia container.

[2019-06-25 07:13] tobespc commented on #5
@rajivnathan Thanks Rajiv, will look asap

[2019-06-25 13:12] elsony commented on #4
This problem should have just been resolved. Please try again.

[2019-06-25 21:11] maysunfaisal commented on #5
This is not only affecting  python, but any projects created from template on Che and hence a stopship.

After a git clone of the template, we would need to give permission to the group for the project dir like `chmod -R g=rwx myproject/` so Theia can edit the projects in the Theia container on Che

[2019-06-26 13:22] jagraj opened #6 "Project disabled, but in VSCode it says project up and running."
I disabled project in VSCode, the project's container stopped and deleted. I still see application as running in the VSCode tools. I did refresh codewind palette and I still see the project in running state.

![image](https://user-images.githubusercontent.com/713849/60181323-f4b52180-97ef-11e9-8cfa-7029c4105cea.png)

[code]

[2019-06-26 14:13] ssh24 commented on #5
Also seeing this on all project types created on theia as a new project, i.e from the template.

[2019-06-26 14:26] tobespc commented on #5
have recreated locally, working on a fix now

[2019-06-26 14:28] sujeilyfonseca commented on #4
I verified this problem with the latest development version of the vs code plugin (codewind-0.2.0_2019-06-26-0052.vsix). I created all types of projects and they built successfully. I just saw that the lagom project is not running and build failures with swift projects, but both are known problems. However, I'm still seeing the Windows style path errors. Therefore, I will proceed to change the nam

[2019-06-26 15:35] jgwest commented on #4
In Sujeily's log, the `pathToMonitor` values are incorrect, but now in a different way 😄 ...
[code]

On Windows, `pathToMonitor` should begin with `/c/`, like `/c/codewind-workspace` (where `c` is the drive letter that is mounted). However, for all the projects in Sujeily's log it is `/\\/codewind-workspace/go-cw`. That value is an invalid path for Windows, but also is an invalid path for any OS.

[2019-06-26 15:58] sujeilyfonseca opened #7 "Java Microprofile projects do not present some logs on Windows 10"
@sujeilyfonseca commented on [Wed Jun 26 2019](https://github.com/eclipse/codewind-vscode/issues/76)

**Environment:**
- **Codewind version:** Latest Development Version (codewind-0.2.0_2019-06-26-0052.vsix)
- **VS Code version:** 1.35.1
- **OS:** VM with Windows 10

**Description:**
Java Microprofile projects do not present some logs (messages.logs, app.log, and console.log). If you click "Show a

[2019-06-26 16:28] tetchel commented on #7
@ssh24

[2019-06-26 18:50] sujeilyfonseca commented on #7
This is also a problem in the latest Codewind plugin for Eclipse (codewind-0.2.0-201906261508.zip), since this problem could be related to an error in portal or file watcher, as Tim said.

**Eclipse version:** 2019-06 (4.12.0)

![Screen Shot 2019-06-26 at 2 42 18 PM](https://user-images.githubusercontent.com/49531960/60206175-eb907880-9820-11e9-90a5-112197d1f34e.png)

![Screen Shot 2019-06-26 at 2

[2019-06-26 22:17] elsony commented on #4
Looks like the vs-code extension is not correctly converting the path format:
![image](https://user-images.githubusercontent.com/7669867/60218864-9d8a6d80-983e-11e9-9132-af0062233326.png)

[2019-06-27 13:35] tobespc commented on #3
This is just a warning message to say that the loadrunner service can not be found.  Its not timing out running, its timing out connecting.  This is due to issue #1

[2019-06-27 14:21] tetchel commented on #1
Jag, do you mean the 'performance dashboard'? This doesn't work because the performance container is not deployed by the che sidecar.

The URL is correct now, but it is a 404 because there's no server running.

I removed Performance Dashboard action in https://github.com/eclipse/codewind-vscode/pull/83

[2019-06-27 17:12] rajivnathan commented on #5
@DavidG1011 The fix for this should be in now, can you give it another try?

[2019-06-28 12:36] ericdylanpeters2 commented on #5
@tobespc @DavidG1011 is this fixed now as per Rajiv's comments?

[2019-06-28 12:46] tobespc commented on #5
this is now fixed and delivered

[2019-06-28 12:46] #5 closed

[2019-06-28 14:49] keithchong opened #8 "Go app state is stuck on 'Starting'"
I have a Go project with a generated OpenAPI server stub running in Codewind.  The image appears ok, and the container is running.  The app seems to be running (I can access the API endpoints) but the state in the two VS Code and Eclipse IDE plugins show "Starting" and doesn't turn to "Running".

Try reproducing with these files:

[zGoProj.zip](https://github.com/eclipse/codewind/files/3339703/zGo

[2019-06-28 14:53] keithchong commented on #8
![Screen Shot 2019-06-28 at 10 50 38 AM](https://user-images.githubusercontent.com/7726022/60350922-9d9b8200-9992-11e9-8952-b64be7fa7dd7.png)

For this, see routers.go
![Screen Shot 2019-06-28 at 10 52 24 AM](https://user-images.githubusercontent.com/7726022/60351026-dcc9d300-9992-11e9-9c43-096752465345.png)

[2019-06-28 15:00] tetchel commented on #8
is it because the context root is /v1/ instead of / so filewatcher is pinging a 404?

[2019-06-28 15:02] keithchong commented on #8
I can try, but are users supposed to know to edit that file?

[2019-06-28 15:02] tetchel commented on #8
yes, they are

[2019-06-28 15:02] keithchong commented on #8
Ok

[2019-06-28 15:06] keithchong commented on #8
Thanks @tetchel , that worked.

[2019-06-28 15:06] #8 closed

[2019-06-28 15:06] tetchel commented on #8
awesome

[2019-06-28 18:31] keithchong commented on #8
@tetchel , how about a Node.js app?  How is the "Running" state determined?   The Node.js example has the value set to "" and its status is "Running":

![Screen Shot 2019-06-28 at 2 29 03 PM](https://user-images.githubusercontent.com/7726022/60363299-27f2de80-99b1-11e9-8f9c-a8a9c116e100.png)

My OpenAPI nodejs is still stuck on Starting, but the server is actually running.

[2019-06-28 18:32] tetchel commented on #8
look at the project overview page and see the "application endpoint", that is what turbine pings to determine started-ness

[2019-06-28 18:44] keithchong commented on #8
VSCode IDE-Plugin: Application Endpoint = http://localhost:32954/
Eclipse IDE-Plugin: Application URL = http://localhost:32954/

You guys should sync up these labels ;-)

[2019-06-28 18:44] tetchel commented on #8
and in cw-settings, it's `contextroot`. we know :(

[2019-06-28 18:45] keithchong commented on #8
"contextRoot": "",

[2019-06-28 18:45] keithchong commented on #8
The sample nodejs app that is "Running" has the same/similar contextRoot and URL values

[2019-06-28 18:55] keithchong commented on #8
@tetchel, could you clarify, it's `contextroot`

[2019-06-28 19:03] tetchel commented on #8
yes, as in `.cw.settings`.

[2019-06-28 19:03] keithchong commented on #8
Ok it worked.  I thought I had to change the R to r...

[2019-07-03 16:27] rtaniwa opened #10 "Typo in install instructions"
Minor typo in the install instructions for VS Code:

Click Install **whem** prompted. The download is approximately 1 GB.

[2019-07-03 18:07] sishida commented on #10
@rtaniwa Hi, Rob, I have created a pull request to fix this typo: https://github.com/eclipse/codewind-vscode/pull/101 Thank you!

[2019-07-03 21:59] rajivnathan commented on #10
It's now merged. Thanks!

[2019-07-03 21:59] #10 closed

[2019-07-04 19:37] ericdylanpeters2 opened #11 "Codewind dockerhub images - move to https://hub.docker.com/r/eclipse"
We've some codewind docker images on dockerhub that should move to https://hub.docker.com/r/eclipse (e.g. https://hub.docker.com/r/ibmcom/codewind-pfe-amd64)

This will minimally require changes to the codewind installer.

[2019-07-04 19:48] ericdylanpeters2 opened #12 "Codewind VS Code Marketplace Extensions - move to an eclipse namespace"
Currently published codewind extensions should be published under an eclipse namespace (might need to work with the eclipse webmaster to create the namespace if it doesn't already exist)

https://marketplace.visualstudio.com/items?itemName=IBM.codewind-java-profiler
https://marketplace.visualstudio.com/items?itemName=IBM.codewind-openapi-tools
https://marketplace.visualstudio.com/items?itemName=IB

[2019-07-08 14:36] ericdylanpeters2 opened #13 "Codewind repositories - add descriptions and tags"
Add descriptions, websites, and tags to ALL eclipse codewind repos, this makes them easier to discover through GitHub’s ‘explore’ feature, and makes them look nicer. Only the repo admin can do it, so we will have to ask the eclipse webmaster.

today we have (e.g.);
https://github.com/eclipse/codewind
No description, website, or topics provided.

better (e.g.);
https://github.com/microclimate-dev2o

[2019-07-09 14:26] spoole167 opened #14 "Google search related: Old links in Eclipse Codewind project proposal"
I dont know where else to report this as I couldn't find a repo for the website.

The proposal project for Codewind on Eclipse Foundation [website](https://projects.eclipse.org/proposals/eclipse-codewind) points to the old microclimate repos not the new CodeWind versions.

This is confusing for anyone googling for "Eclipse CodeWind"  since the top hit is the link above and not to the new repos.

[2019-07-09 14:29] rtaniwa commented on #14
@deboer-tim is this something you can fix as the project proposal owner?

[2019-07-09 15:01] deboer-tim commented on #14
Fixed title: this is not the Codewind main page, it's the original project proposal. The main page is codewind.dev and the Eclipse project page is https://projects.eclipse.org/projects/ecd.codewind.

It's also normal that the project proposal points to the original code to be donated to Eclipse, e.g. see https://projects.eclipse.org/proposals/eclipse-jakarta-ee-platform.

This original proposal wa

[2019-07-10 14:36] rtaniwa opened #15 "Error (timing related) starting codewind plugin"
I am on W10, running codewind in VS Code. I have a python and Java microprofile project already created. I stop codewind, and then start it up again and the Java project surfaces the following error (while it is still starting):

![Capture](https://user-images.githubusercontent.com/26257153/60977581-bd6d6700-a2fd-11e9-8f76-6265c7faefb9.PNG)

It eventually starts up fine.

[2019-07-10 15:18] GeekArthur commented on #7
I will set up a Win env to investigate this issue.

[2019-07-10 16:05] tetchel commented on #15
yea, i have seen this too.

it is because FileWatcher has yet had the chance to build the project, so when Portal asks FW for the logs list, FW responds with a 404 project not found (which is then turned into a 500, for some reason)

[2019-07-10 16:18] GeekArthur commented on #15
If it only happens on Java microprofile project log, may related with this issue: https://github.com/eclipse/codewind/issues/7

[2019-07-10 16:25] josephca opened #16 "Create Codewind build page for easier navigation"
Create a build page so that users can easily locate release, milestone and the latest builds with the links to the download area (https://download.eclipse.org/codewind)
e.g.
https://download.eclipse.org/eclipse/downloads/

[2019-07-10 17:49] beccabau opened #518 "Clarifications to "Setting up a Codewind-ready install of Che" file"
"Setting up a Codewind-ready install of Che" (https://www.eclipse.org/codewind/installoncloud.html) could benefit from clarifications:

- Are the PV/NFS prereqs on OpenShift the same as on ICP?
- Should we link from the Codewind doc to these docs? https://docs.openshift.com/enterprise/3.1/install_config/persistent_storage/persistent_storage_nfs.html (NFS)
https://docs.openshift.com/enterprise/3.1/

[2019-07-10 21:55] GeekArthur commented on #7
I did an investigation on this issue and find one more logging issue, so we have two logging issues for microprofile project on Win

1 Can not retrieve `app.log`, `messages.log` and `console.log` from UI, it always gets stuck on `Waiting for Codewind to send logs...`
2 Missing `docker.build.log`

For the first issue, I check the VS Code log
![Screen Shot 2019-07-10 at 5 35 04 PM](https://user-imag

[2019-07-10 22:04] tetchel commented on #7
fwiw the vs code plugin does not use the log path anywhere, for exactly this reason - the path is not provided on windows because the files are not mounted into the user's filesystem.

however it looks like the missing docker build log may be an issue with my plugin? does it work in eclipse?

[2019-07-10 22:10] GeekArthur commented on #7
I never use eclipse plugin, but help you verify that your vscode plugin works on `Mac` for `docker.build.log` for microprofile project

[2019-07-10 22:11] tetchel commented on #7
it would help to try it in eclipse so we can determine if it is plugin-specific or a general codewind bug

[2019-07-10 22:17] GeekArthur commented on #7
A quick question, if vs code plugin does not use the log path anywhere, how does the UI know where to retrieve those log files?

[2019-07-10 22:34] tetchel commented on #7
the content is sent over the socket using the `log-update` event

[2019-07-11 13:31] ericdylanpeters2 opened #17 "Setup JIPP slave to build docker images for Codewind"
In order to be able to build docker images on a build agent, administration rights to the Codewind JIPP is required.

Requested admin right here:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=549121

[2019-07-11 13:43] josephca opened #18 "Define a sign-off process for Codewind release"
For future releases, create a git issue to get a sign-off mark or comment from each squad. Having a defined process would help us to keep track of the status and minimize over-communications. (e.g. slack)

[2019-07-11 13:45] josephca opened #19 "Convert Codewind eclipse build by using Eclipse method (i.e. Tycho)"
It would be better to use Eclipse way to build update sites for **codewind-eclipse** and **codewind-openapi-eclipse** builds. i.e. Tycho

[2019-07-11 13:47] josephca opened #20 "Clean Codewind download area for test and PR builds"
There are some left over from the test and PR builds. Create a Jenkins job to clean them.

[2019-07-11 13:53] josephca opened #21 "Automate creating milestone driver in Jenkins"
Create a Jenkins job to automate copying milestone drivers to a proper location on Eclipse download area so that we can avoid manual driver updates.

[2019-07-11 17:56] josephca commented on #13
@elsony @tobespc @jopit @sghung Can you provide the description of the repositories that you're working on? then I'll open an Eclipse bug to have them updated together by Eclipse webmaster.

[2019-07-11 18:05] jopit commented on #13
https://github.com/eclipse/codewind-vscode
    Extension for developing cloud-native, containerized applications from VS Code

https://github.com/eclipse/codewind-eclipse
    Plugin for developing cloud-native, containerized applications from Eclipse IDE

[2019-07-11 18:15] tetchel commented on #13
imo, everything should be tagged with:
kubernetes, container, cloud, eclipse, codewind
at the very least.

in addition, for vs code plugin in the past I had
vscode, vscode-extension, typescript

[2019-07-11 18:28] josephca commented on #20
Created a Jenkins job and cleaned the download area.
https://ci.eclipse.org/codewind/job/_clean-donwload-area/

[2019-07-11 18:28] #20 closed

[2019-07-11 18:31] josephca commented on #17
The title of the Eclipse bug has been updated : **Provision VPS and add it as an external dedicated agent to Codewind JIPP**. Thus, instead of getting admin right, Eclipse VPS will serve as a slave for docker builds.

[2019-07-11 18:50] sghung commented on #13
https://github.com/eclipse/codewind-docs
Description: Codewind project documentation
Tags: kubernetes, container, cloud, eclipse, codewind, documentation

https://github.com/eclipse/codewind-openapi-vscode
Extension for using OpenAPI Tools in VS Code
Tags: codewind, vscode, openapi, vscode-extension, typescript

https://github.com/eclipse/codewind-openapi-eclipse
Extension for using OpenAPI Tools

[2019-07-11 20:23] sghung opened #522 "Investigate script for syncing MD/doc files from other repositories"
To avoid duplicating README content, there are other repos that we should be pulling in codewind MD files from. For example: https://github.com/eclipse/codewind-vscode could be used in guides

The script can be part of the setup in codewind-docs. It may be part of the Jekyll script, or it could be another script that downloads those files and puts it into the codewind-docs dir.

[2019-07-15 13:55] josephca commented on #17
Update on **ETA** from Eclipse: early week of July 15, 2019.

[2019-07-15 15:59] jgwest commented on #13
https://github.com/eclipse/codewind-filewatchers
Description: File change notification clients that recursively monitor project directories and notify the Codewind server of file changes.
Tags: codewind, file monitoring, inotify, file change notifications

[2019-07-15 16:02] johnmcollier commented on #13
https://github.com/eclipse/codewind-che-plugin
Description: The official plugin for Codewind on Eclipse Che
Tags: codewind, che, kubernetes, openshift, plugin

[2019-07-15 18:41] GeekArthur commented on #15
Not sure if we can paste internal repo link here, but for tracking purpose, internal Portal repo issue 1093 will track and fix this issue.

[2019-07-15 19:00] deboer-tim commented on #14
Joseph, could you see if there's some SEO or other changes we can make to ensure that codewind.dev is the first link that people get in queries?

[2019-07-15 19:05] GeekArthur commented on #7
There are two separate issues under this issue:

1 Once a Java Microprofile project is created on Windows 10, the UI presents an error indicating "project-name: checking available logs failed: Internal error occurred, status code: 500".

This is due to project container is not up and running then Turbine cannot return the log list to Portal, solution is we can let Portal wait for the container up

[2019-07-16 14:27] deboer-tim commented on #13
Joseph, please add a link to codewind.dev in every description, e.g. at the end.

[2019-07-16 15:09] tetchel commented on #13
^ That should go into the "website" section, you can see `microclimate.dev` in the description's screenshot

[2019-07-16 16:37] deboer-tim commented on #13
Sorry, my bad - forgot it was two fields. We should make sure all the websites go to codewind.dev, but not duplicate in the description.

[2019-07-16 17:24] ericdylanpeters2 commented on #13
@tobespc can you or someone on your team provide descriptions for remaining repos?

[2019-07-16 17:29] ericdylanpeters2 commented on #13
@tobespc @sghung figure it makes sense to cover what we've got at kabanero as well - https://github.com/kabanero-io?utf8=%E2%9C%93&q=codewind&type=&language=

[2019-07-16 20:28] beccabau opened #22 "SVT: Swift project not building in vscode, and not building after edits in eclipse/eclipse che"
SVT team is experiencing project build issues with Swift projects.

In Eclipse local:
We can build the default Swift template, but after making changes to the app, the project fails to build. We see warning messages in app.log related to application metrics

In vscode local:
We cannot build the default Swift app at all. It seems to be stuck at the last step.

For both, we see error messages like:

[2019-07-16 21:58] maysunfaisal commented on #22
@beccabau can you provide the filewatcher daemon logs (the project watching log)? Want to see if editing project files kicks off OS modify events on those files.

Can you also share the CW PFE log?

[2019-07-17 03:07] juansuerogit opened #23 "Error creating new project: "connect EACCES /var/run/docker.sock""
Im running CentOS Linux release 7.6.1810 (Core)
with visual studio code code-1.36.1-1562627663.el7.x86_64.rpm
with docker-ce from the yum repository docker-ce-18.06.3.ce-3.el7
with docker-compose from the yum repository docker-compose version 1.24.1, build 4667896

my setup also added a parameter to docker systemd /usr/lib/systemd/system/docker.service
ExecStart=/usr/bin/dockerd --userns-remap=met

[2019-07-17 03:11] juansuerogit opened #24 "codewind says docker not installed even though it is."
Im running CentOS Linux release 7.6.1810 (Core)
with visual studio code code-1.36.1-1562627663.el7.x86_64.rpm
with docker-ce from the yum repository docker-ce-18.06.3.ce-3.el7
with docker-compose from the yum repository docker-compose version 1.24.1, build 4667896

my setup also added a parameter to docker systemd /usr/lib/systemd/system/docker.service
ExecStart=/usr/bin/dockerd --userns-remap=met

[2019-07-17 03:12] juansuerogit commented on #23
fyi  my systemd settings are wiped out and replaced with
/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock

is this why?  because docker is listening on the containerd.sock?  instead of the sock codewind is looking for?

[2019-07-17 14:13] tetchel commented on #23
Hi, we're looking into it. Also linking to #24 since they seem to be caused by the same problem.

[2019-07-17 14:37] beccabau commented on #22
pfe log (local) [pfe.txt](https://github.com/eclipse/codewind/files/3402216/pfe.txt)

filewatcher (che)
[filewatcher-che.txt](https://github.com/eclipse/codewind/files/3402288/filewatcher-che.txt)

[2019-07-17 16:13] josephca commented on #11
Opened a bugzilla ticket : https://bugs.eclipse.org/bugs/show_bug.cgi?id=549354

[2019-07-17 16:14] josephca commented on #17
Provisioned a VPS for Codewind today.

[2019-07-17 16:14] #17 closed

[2019-07-17 16:16] juansuerogit commented on #23
thanks.  i downloaded the source code and didnt find any reference to docker.sock.   and couldnt find the a log file.   its possible you are defaulting to docker.sock but docker is more fragmented now some people even use podman on RHEL 8.  and some people use other engines like containerd or crio.   so maybe the location of centos 7.6 is change cause now the repo uses containerd.sock and thats wh

[2019-07-17 16:18] tetchel commented on #23
The [codewind-installer](https://github.com/eclipse/codewind-installer/) is what is trying to access docker, which uses the Docker SDK for Go, we're trying to figure out what the limitation is.

[2019-07-17 18:34] sujeilyfonseca commented on #22
**Codewind version:** Latest Development Version
![Screen Shot 2019-07-17 at 1 57 32 PM](https://user-images.githubusercontent.com/49531960/61400692-d1394000-a89e-11e9-8eba-d05e33c6c468.png)

![Screen Shot 2019-07-17 at 2 08 33 PM](https://user-images.githubusercontent.com/49531960/61400707-d8f8e480-a89e-11e9-9f44-567d732e6524.png)

![Screen Shot 2019-07-17 at 2 08 13 PM](https://user-images.githu

[2019-07-17 20:56] eharris369 opened #1252 "Show restart in debug mode action even if can't automatically connect debugger"
If the project supports restart in debug mode then the action should be available even if a debugger cannot be automatically attached.  A dialog can be displayed when the application is restarted to let the user know the debug port and that they have to attach themselves.

[2019-07-18 18:28] josephca commented on #11
codewind-che-plugin is now being published to Eclispe dockerhub : https://hub.docker.com/r/eclipse/codewind-che-sidecar/tags

Issue: https://github.com/eclipse/codewind-che-plugin/issues/33

[2019-07-18 18:31] josephca opened #26 "Add Jenkinsfile to build docker images and upload to eclipse dockerhub"

[2019-07-18 18:33] josephca commented on #11
related issue: https://github.com/eclipse/codewind/issues/26

[2019-07-18 19:33] josephca commented on #12
Opened Eclipse bugzilla ticket : https://bugs.eclipse.org/bugs/show_bug.cgi?id=549405

[2019-07-18 20:09] josephca commented on #14
According to https://support.google.com/webmasters/answer/7451184?hl=en Google suggested to use the "description" meta tag and https://www.eclipse.org/codewind/ already use  **<meta name="description" content="Eclipse Codewind">**

The codewind.dev is listed as the rank_#2 and I believe it will become rank_#1 as time goes by.

[2019-07-18 20:11] #11 closed

[2019-07-19 17:57] cncook001 opened #27 ""Open in Browser" should be "Open App""
This web page needs to be updated: https://www.eclipse.org/codewind/mdt-vsc-tutorial.html

Step 7, Open in Browser

https://www.eclipse.org/codewind/mdt-vsc-commands-project.html#open-in-browser

In the node.js version of the app it seems to be called "Open App"

[2019-07-20 18:25] tetchel commented on #27
good eye! @jopit

[2019-07-22 15:39] mjwhale opened #28 "codewind-workspace created by root"
https://www.eclipse.org/codewind/mdt-vsc-getting-started.html

using vscode 1.3.61 on ubuntu

codewind appears to create the codewind-workspace as root user, is this expected?

Is it ok to change the ownership back to the logged in user?

Thanks

[2019-07-22 16:22] tobespc commented on #3
closing as this will be resolved when #1 is delivered

[2019-07-22 16:22] #3 closed

[2019-07-22 16:39] tobespc commented on #28
By default we do run as root when running locally, the current design is built around that.  Having said that, we are working on a solution that should remove this restriction

[2019-07-22 16:40] tobespc commented on #13
https://github.com/eclipse/codewind-installer
Description: The installation package for installing Codewind into an editor
Tags: codewind, che, install, vscode, eclipse

[2019-07-22 16:41] tobespc commented on #13
https://github.com/eclipse/codewind-java-profiler
Description: Provides automatic code highlighting of 'hot' java methods
Tags: codewind, eclipse, vscode, performance,plugin

[2019-07-22 16:41] tobespc commented on #13
https://github.com/eclipse/codewind-node-profiler
Description: Provides automatic code highlighting of 'hot' node.js methods
Tags: codewind, eclipse, vscode, performance ,plugin, node.js

[2019-07-22 16:44] tobespc commented on #13
https://github.com/eclipse/codewind
Description: The official repository of the Eclipse Codewind project
Tags: codewind, eclipse, kubernetes, openshift, docker, java, node.js, swift

[2019-07-22 16:44] tetchel commented on #23
Issue moved to [eclipse/codewind-installer #53](https://github.com/eclipse/codewind-installer/issues/53) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-22 16:45] tetchel commented on #24
This appears to be the same issue as https://github.com/eclipse/codewind-installer/issues/53

[2019-07-22 16:45] #24 closed

[2019-07-22 16:47] tetchel commented on #13
`openshift` is a good one for all of them.

[2019-07-22 16:51] tetchel commented on #28
should we convert this to an enhancement, then?

[2019-07-23 08:19] tobespc commented on #28
we can do, this will be indirectly fixed so wouldn't want this to be picked up and worked on independently though

[2019-07-23 08:29] mjwhale commented on #28
is it ok to change ownership (chown -R) of the codewind-workspace back to the logged in user or do I really need to login and run as root?

[2019-07-23 18:15] naveenkaratekid opened #29 "Error creating Codewind project node-js.app"
Currently running MacOS Mojave 10.14.5
with Eclipse IDE for Enterprise Java Developers Version: 2019-06 (4.12.0)

When I try to create a project from the available templates in Codewind, I keep getting an error message similar to the one below:

'Creating Codewind project: node-js-app' has encountered a problem.
An error occurred trying to create Codewind project node-js-app

Expanded Error Messag

[2019-07-23 18:17] tetchel commented on #29
You get that error if your Codewind backend version is outdated compared to your Codewind tools (plugin) verison. What are the versions of each?

[2019-07-23 18:30] naveenkaratekid commented on #29
On Eclipse and VSCode, I have version 0.2.0. In my mac, I have the Codewind executable file, and when I run it, it shows the version I have is 0.2.0 as well.

[2019-07-23 18:32] tetchel commented on #29
Don't run it, let the tools manage the version for you.

[2019-07-23 18:40] naveenkaratekid commented on #29
Codewind works fine in VSCode, but some reason, Eclipse throws an error. I was able to make the python app I demoed this morning in VSCode, but in Eclipse, I have gotten the same error message.

[2019-07-23 18:41] tetchel commented on #29
try a more recent version of the eclipse plugin, https://download.eclipse.org/codewind/codewind-eclipse/master/latest/?d

[2019-07-23 18:57] naveenkaratekid commented on #29
I just uninstalled the plugin from eclipse, and then re-imported it from the zip archive I got from the link you sent me. However, I am still getting this error message:

An error occurred trying to create Codewind project my-node-project
Received bad response code 400 for uri http://localhost:9090/api/v1/projects with error message Error while validating request: request.body should have required

[2019-07-24 18:55] #26 closed

[2019-07-24 19:02] eharris369 commented on #29
You need to make sure any Codewind container images are uninstalled first.  I am wondering if you have a version installed already from when you were using VSCode?  From Eclipse, right click on **Codewind** and select **Uninstall**.  When it is uninstalled delete the codewind-workspace folder from your home directory.  The best way to make sure everything works is to install the Codewind plugin fr

[2019-07-24 19:08] jopit opened #32 "IDE support for configuring template repositories"
- The first time you bind or create a project we will need to prompt the user to pick between "Codewind standard" (will find a better name) and Appsody project types, and potentially others in the future. This choice can be simple, but needs a description so that the user can understand the difference. This setting will filter the list of templates and bind options that they get back.
- The settin

[2019-07-25 11:21] mjwhale opened #33 "appsody deploy case sensitive project failure"
appsody deploy fails because the project name is converted to lower case.   libertyTest becomes libertytest:

Running appsody extract results in:

Extracting project from development environment
Running command: docker[pull appsody/java-microprofile:0.2.2]
Running command: docker[create --name libertyTest-extract -v /home/mike/codewind-workspace/libertyTest/src:/project/user-app/src -v /home/mike/

[2019-07-25 12:58] tobespc commented on #6
just tested this on the latest code and its working fine

[2019-07-25 12:58] #6 closed

[2019-07-25 13:10] makandre commented on #33
This is possibly related to appsody bug https://github.com/appsody/appsody/issues/73 (it says build in the summary but affects deploy as well)

[2019-07-25 13:16] makandre commented on #33
@mjwhale Could you try your scenario with a newer release of the appsodyExtension? Replace your copy with this: https://github.com/kabanero-io/appsodyExtension/releases/tag/0.2.2

Be sure to restart Codewind so it picks up the newer release

[2019-07-25 13:18] makandre commented on #33
Oh, you should also make sure your local install of appsody is version 0.2.5 which contains fix for https://github.com/appsody/appsody/issues/73

[2019-07-25 13:56] mjwhale commented on #33
my versions already appear compliant, from ~/codewind-workspace/.extensions/appsodyExtension/README.md:

This repository is an extension to Codewind that adds support for [Appsody](https://appsody.dev) projects.

- appsody version: [0.2.5](https://github.com/appsody/appsody/releases/tag/0.2.5)
- appsody controller version: [0.2.1](https://github.com/appsody/controller/releases/tag/0.2.1)

[2019-07-25 14:02] makandre commented on #13
https://github.com/eclipse/codewind-appsody-extension
Description: Extension to Codewind providing support for Appsody projects
Tags: codewind, appsody

[2019-07-25 14:07] makandre commented on #33
How about your local install of appsody CLI?  From your description it looks like you're running appsody CLI directly.

[2019-07-25 14:17] mjwhale commented on #33
I have installed appsody_0.2.5_amd64 for ubuntu and then applied the appsody extension in the codewind workspace extensions directory by cloning the following:

https://github.com/kabanero-io/appsodyExtension

resulting in the following directory:
~/codewind-workspace/.extensions/appsodyExtension

[2019-07-25 14:24] hhellyer commented on #7
I have a branch with a prototype of a fix for the issues with Microprofile logs on Windows. Windows Microprofile is the only environment which uses this particular log type so it makes sense that this isn't seen anywhere else, I need to verify the changes on a Windows machine when I am back in the office next week. (Or ask someone who already has a Windows box to verify the fix for me.) After that

[2019-07-25 15:22] josephca commented on #12
Update from Eclipse team :

Unfortunately, the Microsoft Visual Studio Marketplace Publisher Agreement[1] contains an unlimited indemnity clause which prevents the Eclipse Foundation from being able to enter into the agreement.

We are extremely sorry to not have better news as we were excited to support this initiative.

Thank you for understanding our position.  Should you have any other questio

[2019-07-25 17:15] kylegc commented on #33
We found the issue in Appsody and are working on a fix. Apologies that this wasn't thoroughly fixed in 0.2.5
If all goes well, the fix will be included in a new release (probably 0.2.8) of Appsody later today.

[2019-07-25 18:41] josephca commented on #13
Opened a bugzilla ticket : https://bugs.eclipse.org/bugs/show_bug.cgi?id=549574

[2019-07-25 19:07] johnmcollier opened #36 "Improve PFE deployment on Codewind Che"
Related to https://github.ibm.com/dev-ex/iterative-dev/issues/1077

**Background**
Codewind workspaces in Che require a couple things in order for them to start successfully:
1) At least one Docker registry set in Che
2) Codewind clusterrole created, and bound to the Che workspace service account

These steps aren't required by vanilla Che installations, and unless the user looked at our docs on h

[2019-07-25 19:10] johnmcollier opened #37 "Codewind Sidecar functional tests"
Tests the following:

- [ ] Deployment of PFE
- [ ] Check if FilewatcherD is started correctly

[2019-07-25 19:12] johnmcollier opened #38 "Investigate using an operator for Codewind/PFE lifecycle management"
Related to https://github.com/eclipse/codewind/issues/36

We do not provide a separate operator for installing a Codewind-branded version of Che since the Che operator supports specifying a Che image of your choice using the `CheCluster` CRD. However, an operator could be useful for creating a PFE deployment and service whenever a Che workspace is created. Note: The Che developers plan to use a CR

[2019-07-25 19:18] johnmcollier opened #39 "Deploy Codewind/PFE on Che using a Golang-based utility"
We're currently using a series of shell scripts in the Codewind Che sidecar to deploy Codewind/PFE in Che (see https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/scripts/kube/deployPFE.sh and https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/scripts/kube/deployUtils.sh).

While these do work, it's fairly hacky and clunky (using sed to set

[2019-07-25 19:19] johnmcollier commented on #39
I've got a WIP PR up at https://github.com/eclipse/codewind-che-plugin/pull/31, and can take a look

Please assign t ome

[2019-07-25 19:19] #38 closed

[2019-07-25 20:04] maysunfaisal opened #41 "Deployment registry setup issue"
After a new codewind workspace is created and a deployment registry is set; it complains that the registry could not be set. Even tho the workspace settings file is present, PFE API cannot find the file.

[2019-07-25 20:04] maysunfaisal commented on #41
I enabled debug log:

[code]

Currently the flow is: When the user enter the deployment registry and IDE writes to the file, IDE calls the deploymentRegistry GET API to check for the deployment registry every second for 10s. This way IDE can confirm that settings file has been written or at the end of 10s, there was an issue with setting deployment registry https://github.com/eclipse/codewind-vsco

[2019-07-25 20:08] johnmcollier opened #42 "Use the official Eclipse Codewind image in the Codewind Che plugin"
The `latest` Codewind Che plugin currently uses an internal docker image that's not easily consumable by external users. Now that we have Jenkins builds updating the `eclipse/codewind-pfe-amd64` image after a PR merge, we can finally point the Che plugin to that image instead.

[2019-07-25 20:12] johnmcollier commented on #42
Have a PR up here https://github.com/eclipse/codewind-che-plugin/pull/37

[2019-07-25 20:29] deboer-tim commented on #12
I've asked them to clarify whether there's another option via bugzilla, we'll have to wait and see.

[2019-07-25 20:33] johnmcollier commented on #42
Closed in https://github.com/eclipse/codewind-che-plugin/pull/37

[2019-07-25 20:33] #42 closed

[2019-07-25 21:54] kylegc commented on #33
Appsody 0.2.8 is now released and this issue should be fixed.

[2019-07-26 09:34] mjwhale commented on #33
Excellent, that works now.  Thanks!

[2019-07-26 13:12] makandre commented on #33
Thanks @kylegc.  @mjwhale Please close issue if there are no other problems, thanks.

[2019-07-26 13:23] #33 closed

[2019-07-29 15:01] rajivnathan opened #47 "Increase code coverage of unit tests"
Determine what functions make sense to be covered by unit tests and create follow up issues for implementation of groups of unit tests.

The unit tests refer to the tests under https://github.com/eclipse/codewind/tree/master/src/pfe/file-watcher/server/test/unit-test

[2019-07-29 15:28] GeekArthur commented on #47
@rajivnathan You can assign this issue to me

[2019-07-29 16:02] rajivnathan opened #48 "Increase code coverage of functional tests"
Functional testing will cover the Turbine module functions in index.ts
https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/index.ts

The functional tests refer to the tests under https://github.com/eclipse/codewind/tree/master/src/pfe/file-watcher/server/test/functional-test

[2019-07-29 16:25] henrynash opened #49 "Add documentation on start/stop of codewind"
If you add a codewind extension (e.g. appsody) then you need to restart the codewind docker container. Restarting, for instance, VScode is not enough. We should perhaps have a general section on codewind extensions (i.e. the concept), plus the start/stop commands.

[2019-07-29 16:55] johnmcollier opened #50 "Remove references to ICP and Microclimate from Codewind"
There's still some references to ICP (IBM Cloud Private) and Microclimate in Codewind that should be removed, we should ensure that we changes references of `ICP` to `Kubernetes` and references of `Microclimate` to `Codewind`.

[2019-07-29 17:01] johnmcollier commented on #50
We should also be removing any Microclimate specific scripts / files that are no longer needed

[2019-07-29 17:07] GeekArthur commented on #48
@rajivnathan You can assign this issue to me

[2019-07-29 17:27] johnmcollier opened #51 "Remove references to IBM-internal links from Codewind"
There's still some leftover links to IBM-internal resources in Codewind from before we open sourced that should be removed

[2019-07-29 17:29] tetchel commented on #49
Yes, you may restart codewind through the Codewind view in VS Code.

However, we are changing the extension behaviour so you won't have to restart after adding one.

[2019-07-29 17:30] johnmcollier opened #52 "Project ID missing for projects created through API with autobuild: false"
Richard Waller came across this while trying to unskip `build.test.js`.

Steps to recreate:
1. create a project through the `POST /projects` API with `autobuild: false`
2. request to build the project through the `POST /projects/:projectID/build` API, and receive status `202`
3. the project does not actually build, and I see this error in `pfe` logs:
[code]

[2019-07-29 17:30] yangcao77 commented on #47
@maysunfaisal  and I will work on this issue.

[2019-07-29 17:30] sghung commented on #49
For the doc team, please reach out to me or Andrew if you need more clarification for general codewind extension install, since we can provide some verification.

[2019-07-29 17:32] maysunfaisal commented on #47
Hey @rajivnathan you can assign it to me as well

[2019-07-29 17:59] johnmcollier opened #54 "Auto Build is not working in Codewind for VSCode and Eclipse"
**Codewind Version:** Latest Development Version
**Eclipse Version:** Eclipse IDE for Enterprise Java Developers 4.11.0
**VS Code Version:** Code 1.35.1

**Operating Systems:**
- Mac Mojave 10.14.5
- VM with Windows 10

In VS Code, if you click on "AutoBuild", stop Codewind and start Codewind again, you will receive some error messages indicating that no logs were found and a 404 error in the file

[2019-07-29 18:01] johnmcollier commented on #52
Closing as a dupe of https://github.com/eclipse/codewind/issues/54

[2019-07-29 18:01] #52 closed

[2019-07-29 21:27] cccanderson opened #56 "lodash needs to be at least 4.17.13"
The GitHub Security assessment is reporting that there are 4 places where an older (and vulnerable) version of lodash are specified:

 src/pfe/portal/package-lock.json
src/performance/dashboard/package-lock.json
src/pfe/file-watcher/server/package-lock.json
src/initialize/package-lock.json

These need to be moved up to at least 4.17.13.  (But note that lodash is not directly pulled in, so other pr

[2019-07-30 08:05] micgibso commented on #49
Thanks, will be in touch.

[2019-07-30 08:10] #50 closed

[2019-07-30 13:15] ssh24 commented on #48
**Functions to be tested**
- [x] createProject
- [x] deleteProject
- [x] setLocale
- [ ] setLoggingLevel
- [ ] readWorkspaceSettings
- [ ] testDeploymentRegistry
- [ ] registerListener
- [ ] getProjectTypes
- [ ] getProjectCapabilities
- [ ] projectAction
- [ ] projectSpecification
- [ ] logs
- [ ] shutdown;
- [ ] deleteProject
- [ ] updateStatus
- [ ] deploymentRegistryStatus
- [ ] checkNewLogFil

[2019-07-30 14:45] lentheivendra commented on #37
I'll be taking a look at this

[2019-07-30 17:10] josephca commented on #13
I was given the maintainer role and updated descriptions and websites. However, when adding Topics it just shows the loading icon
![image](https://user-images.githubusercontent.com/25185698/62150189-507d3980-b2cb-11e9-8f2a-c0d84786613f.png)

Will try again later.

[2019-07-30 17:14] keithchong opened #61 "NPE in FW CodewindResourceChangeListener when deleting a project"
Steps to reproduce:
1. Open the Codewind Eclipse IDE on the codewind-workspace folder
2. Create any project from File->New wizard (Can be a general project)
3. Delete the project
--> You'll get an NPE

It looks like FW is watching the entire codewind workspace and not only the projects it knows about.

java.lang.NullPointerException
	at org.eclipse.codewind.filewatchers.eclipse.CodewindResourceCha

[2019-07-30 17:37] johnmcollier commented on #51
Closed via https://github.com/eclipse/codewind/pull/55

[2019-07-30 17:37] #51 closed

[2019-07-30 18:03] tetchel commented on #29
@naveenkaratekid have you resolved this?

[2019-07-30 18:03] jgwest commented on #61
Likely a dupe of https://github.com/eclipse/codewind-eclipse/issues/156

[2019-07-30 18:05] naveenkaratekid commented on #29
I have uninstalled the Codewind plugin and then re-installed it from the public marketplace as @eharris369 suggested. When I tried to make a new project again, I got the exact same error as before

[2019-07-30 18:05] yangcao77 commented on #47
Turbine module requires unit tests:

- [ ] projectsController

- [ ] projectStatusController

- [ ] projectExtensions

- [ ] action

- [ ] DockerProjects

- [ ] Libertyprojects:

- [ ] LibertyValidator:

- [ ] logHelper: (Already covered)

- [ ] nodejsProjects:

- [ ] projectSpecifications: (Maysun)

- [ ] projectUtil:

- [ ] ShellExtensionProjects:

- [ ] Locale: (Stephanie - dev-ex/tempest#470)

[2019-07-30 18:07] tetchel commented on #29
also make sure you stop all your docker containers and do a system prune so that the plugin may install the correct version of the codewind backend

[2019-07-30 18:08] johnmcollier commented on #41
@maysunfaisal Can this be closed now?

[2019-07-30 18:11] naveenkaratekid commented on #29
I have killed the running docker images on my system to free up space. Then I restarted Codewind plugin in VScode. then I opened Eclipse and attempted to make a new project using Codewind's plug-in, and I get the exact same error as before.

[2019-07-30 18:12] tetchel commented on #29
I really don't know what more we can offer; it works for our users

[2019-07-30 18:13] naveenkaratekid commented on #29
Let me try that. Thanks @tetchel and @eharris369! I appreciate your help

[2019-07-30 18:21] eharris369 commented on #29
Also, please install Codewind using Eclipse and not VSCode.  Better not to start VSCode at all.

[2019-07-30 18:22] tetchel commented on #29
yes, one or the other if you are encountering such issues (though the two of them should install the same backend version...)

[2019-07-30 18:27] #41 closed

[2019-07-30 18:30] naveenkaratekid commented on #29
Got it. Codewind is installed in both VSCode and Eclipse.

Naveen K
510-304-8025

________________________________
From: Tim Etchells <notifications@github.com>
Sent: Tuesday, July 30, 2019 2:22 PM
To: eclipse/codewind
Cc: naveenkaratekid; Mention
Subject: Re: [eclipse/codewind] Error creating Codewind project node-js.app (#29)

yes, one or the other if you are encountering such issues (though the

[2019-07-30 19:38] tetchel opened #65 "Wrongly empty projects list on startup due to race condition"
If you restart Codewind often enough through either extension, you can see that sometimes there is a race condition where Codewind starts, and `/environment` returns good data, but `/projects` will return an empty list. A refresh a second or two later provides the correctly populated project list.

There should be an API from which clients can tell if Codewind is fully initialized, ie, a 'readines

[2019-07-30 19:50] tetchel commented on #65
I have been convinced that this is a bug because of the race

[2019-07-31 07:38] markcor11 opened #67 "Creating a new project within Che does not show files until refreshing navigator"
When creating a new project in Codewind running on Che the project source files are not immediately visible.

The template files are downloaded and the project will start to build but the project navigator does not show the downloaded source files until after a refreshed eg :

<img width="1064" alt="Screenshot 2019-07-31 at 08 28 18" src="https://user-images.githubusercontent.com/28102564/62192329

[2019-07-31 10:50] hhellyer commented on #7
I've raised PR #68 to enable container log streams. This should fix the console and messages log. Unfortunately the app.log isn't in the container, it's in the workspace but the logs interface to the file-watcher module doesn't allow for a mix of logs. All application logs either have an `origin` of `container` or `workspace`: https://github.com/eclipse/codewind/blob/deebc7bdf94d8a27f8ff1756e7ba63

[2019-07-31 12:51] rajivnathan commented on #67
@tetchel Not sure whether this is a problem with Theia or if the Codewind extension should refresh the explorer view (if possible) after project creation is complete.

[2019-07-31 13:51] tetchel commented on #67
interesting, I always saw them show up. I will see if there is anything I can do from my end

[2019-07-31 15:32] sujeilyfonseca opened #71 "Codewind does not work on Eclipse Che (ICP) instance after trying to get the latest version"
**Environment:**
- **Codewind version:** [Latest](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml)
- **ICP version:** 3.2.0
- **OS:** macOS Mojave (10.14.5)

**Description:**
Codewind does not work on Eclipse Che (ICP) instance after trying to get the latest version.

<img width="1680" alt="Screen Shot 2019-07-31 at 10 21 21 AM" src="https://user-i

[2019-07-31 16:13] keithchong opened #72 "OpenAPI: Cannot find folders in the workspace"
Thanks Rob T. for pointing this out/directing me to this issue.

There is an issue with one of the dockerode APIs (run) on Windows, but it is fine on Mac.  I tried using a different variation of the API which works on both Windows and Mac.

Need to use Path.fsPath also.

This is a must-fix.

https://github.com/eclipse/codewind-openapi-vscode/issues/29

[2019-07-31 16:15] keithchong opened #73 "OpenAPI: Add automated tests for VSCode plugin"
Add automated tests for VSCode plugin

[2019-07-31 16:16] keithchong opened #74 "OpenAPI: Investigate integrating Codewind with IntelliJ wrapper"
This is an enhancement.

Investigate integrating Codewind with IntelliJ wrapper contribution

[2019-07-31 16:17] keithchong opened #75 "OpenAPI: Add automated tests for Eclipse plugin"
Add automated tests for Eclipse plugin

[2019-07-31 16:20] keithchong opened #76 "OpenAPI: Eclipse: Add content type for Open API Definition files"
This is an enhancement

This is to properly support spec files with any arbitrary name

[2019-07-31 16:27] tobespc commented on #72
Can you provide some more information please. Recreatre scenario, impact ?

[2019-07-31 16:28] sishida opened #525 "Update Contributing.md files"
We need to update our Contributing.md files across all Codewind repos. The Contributing.md files should be uniform and explain how to open issues and add to Codewind.

[2019-07-31 16:28] tobespc commented on #76
Can you provide some more information on this please so that it can be picked up.  What spec files are you referring to ?

[2019-07-31 17:01] keithchong opened #77 "OpenAPI: ID: Add documentation"
See:  https://github.com/eclipse/codewind-docs/issues/31

[2019-07-31 17:18] keithchong commented on #72
This is for the VS Code Open API extension only.  The user launches any of the Generator commands, but is blocked from selecting an OpenAPI definition.

[2019-07-31 17:21] keithchong opened #78 "OpenAPI: Get VS Code extension running in Che"
This is an enhancement (not for 3Q)

Get VS Code Open API extension running in Che

[2019-07-31 17:32] keithchong opened #79 "OpenAPI: Provide better user experience with Codewind post-codegen"
This is an enhancement, likely, for the Eclipse Open API extension at first.

After server code gen, it would be nice to have the server stub work right away,  There needs to be some slight tweaks to get it going.

Like this for Node

![Screen Shot 2019-06-28 at 2 33 55 PM](https://user-images.githubusercontent.com/7726022/62233835-62c4a980-b397-11e9-83bf-f257bbdde25b.png)

Or this, for Spring

![

[2019-07-31 17:49] sishida commented on #77
I'll start work on this issue. 👍

[2019-07-31 18:10] jgwest opened #80 "User must set world-readable/writable permissions (777) on their NFS server path in order to use it with Codewind/Che"
In order to use NFS with Codewind/Che, the user is required to set their NFS server path as world readable/writeable, which has significant security connotations, and is also just a bad user experience (it throws a nasty error if you miss this step, and if we can make it work specific user intervention, like setting 777, then we should).

Back in Microclimate, this was reported by a customer as `p

[2019-07-31 19:17] jgwest opened #81 "No intelligent language support in Codewind on Che/Theia via LSP servers"
In Microclimate, we had LSP servers for TS/Node, Java, and XML (plus runtime performance). These LSPs provided content assist/code completion (sometimes call intellisense) for these languages, and generally speaking these features are a bare minimum requirement for an IDE targeting those platforms.

Eclipse Che (w/o Codewind) does include language servers in some of their stacks, but we are not re

[2019-07-31 19:40] sishida opened #83 "Create a template for opening issues"
We need to create a template that contributors can fill out when they want to open a new issue in this Codewind repository.

Examples of existing templates:
- Microclimate: https://github.com/microclimate-dev2ops/microclimate-dev2ops.github.io/tree/master/.github/ISSUE_TEMPLATE
- Codewind VS Code: https://github.com/eclipse/codewind-vscode/blob/master/.github/ISSUE_TEMPLATE/bug_report.md
- Che: ht

[2019-07-31 19:50] jgwest opened #528 "'Installing and Using Codewind on Kubernetes' prerequisites and tag tweaks"
John C agreed to handle this one.

The 'Installing and Using Codewind on Kubernetes' page (https://www.eclipse.org/codewind/installoncloud.html) needs a few tweaks:
- Under prerequisites, we are referencing IBM Cloud Private (and I _believe_ all the numbered steps should have 'Set up the Cluster Role as a parent', rather than the OpenShift note)
- Steps that ask the user to clone the `codewind-che

[2019-07-31 21:26] elsony opened #86 "Send notification on application ping timeout"
We are currently pinging the application health check endpoint to decide if application has ben started or not.  Currently, if there is problem on application or user configured the wrong context root. Application will stay on starting state with detailed state message mentioning the corresponding pinging URLs.

This item is to introduce a timeout on the application pinging to send out a socket no

[2019-08-01 08:15] tobespc commented on #56
closing as now resolved

[2019-08-01 08:15] #56 closed

[2019-08-01 12:26] stalleyj opened #87 "Update repository settings to host api docs"
The codewind public api docs are defined in /docs and need to be hosted.  This requires a repository settings change, under GitHub Pages select the source master branch/docs folder as shown in the picture below. Please update the repository for this.

![githubpages](https://user-images.githubusercontent.com/13417476/62293120-ce724980-b45f-11e9-8dcf-99ac65964f3f.png)

[2019-08-01 12:28] stalleyj commented on #87
@josephca Can you get the webmaster to implement please.

[2019-08-01 13:53] josephca opened #89 "Add timestamp property in the download area - 'latest/build_info.properties'"
Build date information in 'build_info.properties' would be useful to clarify the correct latest build - the largest build id does not always mean the latest build.

[2019-08-01 13:56] sujeilyfonseca opened #90 "Codewind pod failed to start with new che install on ICP"
**Environment:**
- **Codewind version:** [Latest](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml)
- **ICP version:** 3.2.0
- **OS:** macOS Mojave (10.14.5)

**Description:**
Codewind pod failed to start with new che install on ICP.

![Screen Shot 2019-08-01 at 9 59 31 AM](https://user-images.githubusercontent.com/49531960/62299514-1636a800-b443-11

[2019-08-01 14:03] jagraj commented on #90
@johnmcollier @rajivnathan
Looks like we have issue with the helm chart that we are using to install on ICP. As a user if I want to create Codewind-che workspace then we must define at least one registry key in che otherwise it fails to start pod with volume mount problem for the registry key. I defined public registry key then I was able to bring up codewind-che workspace.

Are we going to have s

[2019-08-01 14:09] johnmcollier commented on #90
@jagraj @sujeilyfonseca Yes, this is a known limitation right now and our docs currently address that. Currently Codewind requires at least one registry secret to be set in Che prior to starting.

[2019-08-01 16:10] tetchel opened #91 "Add github pages feature"
As requested by @stalleyj please ask the webmaster team to enable the GitHub Pages feature this repo's settings, and select the master branch/docs option, so we may publish our API doc.

[2019-08-01 16:19] tetchel commented on #91
dupe #87

[2019-08-01 16:19] #91 closed

[2019-08-01 16:31] josephca commented on #87
@stalleyj Opened a bugzilla ticket : https://bugs.eclipse.org/bugs/show_bug.cgi?id=549730

[2019-08-01 16:33] josephca commented on #14
I think there's nothing much we can do. Closing the issue for now.

[2019-08-01 16:33] #14 closed

[2019-08-01 17:15] johnmcollier opened #92 "Investigate using dnf instead of yum in Codewind PFE"
We should look at using `dnf` for installing packages in the Codewind PFE container, rather than `yum`. We've hit some issues before where yum failed to install packages and it didn't error out when that happened. This is because yum doesn't error out if packages fail to install, whereas dnf does.

[2019-08-01 17:36] johnmcollier opened #94 "Add option to disable the Kube garbage collector for deployed projects"
On Kubernetes, we currently tie the projects deployed by Codewind to the Che workspace so that when the Che workspace goes away, the deployed project resources are automatically deleted by the Kubernetes garbage collector.

@jagraj highlighted that some users may not want the projects removed automatically when the workspace is stopped or even deleted. We should consider adding some kind of toggle

[2019-08-01 20:54] elsony commented on #94
Given that Codewind is a development environment, I am not sure if we want to leave the deployed project up and running after Che workspace space goes away.  I think the main thing that we want to improve is making sure that we rebuild/start the apps efficiently instead of doing the Docker build from scratch on a restart of Codewind.

[2019-08-01 20:56] johnmcollier commented on #94
Per discussion on slack this afternoon, I've updated the the issue title to focus on improving the workspace restart flow instead.

[2019-08-01 21:04] sujeilyfonseca opened #98 "ibmcom/codewind-che-sidecar:0.2 image is crashing on Codewind (OKD Cluster)"
**Environment:**
- **Codewind version:** [Codewind 0.2.0](https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/0.2.0/devfile.yaml)
- **OS:** macOS Mojave (10.14.5)

**Description:**
ibmcom/codewind-che-sidecar:0.2 image is crashing on Codewind (OKD Cluster).

[code]

@jagraj

[2019-08-02 05:42] maysunfaisal opened #99 "Wrong extension name gives an invalid project handler"
If Portal sends a wrong extension name via the project create request to Turbine, Turbine will get the wrong project handler for the extension.

Example, if I have an Appsody project and if by chance, Portal sends a wrong extension name, Turbine will set the wrong ExtensionID in its ProjectInfo and this will result in the wrong project handler in projectExtensions.ts

[2019-08-02 11:14] tobespc commented on #1
this is now landed and resolved

[2019-08-02 11:14] #1 closed

[2019-08-02 12:52] sujeilyfonseca opened #102 "Java MicroProfile projects do not present app.log on Windows 10"
**VS Code version:** 1.35.1
**Eclipse version:** 2019-06 (4.12.0)
**OS:** VM with Windows 10

**Description:**
Java MicroProfile projects do not have some logs (messages.logs, app.log and console.log).

Messages and console logs were addressed at https://github.com/eclipse/codewind/pull/68.

However, the app.log problem has yet to be resolved. This log file is in the workspace. For additional deta

[2019-08-02 12:53] sujeilyfonseca commented on #7
After reviewing the updates related to this issue, I agree that we can have another GitHub issue to address the app.log problem.

Here is the link to the issue raised for the app.log: https://github.com/eclipse/codewind/issues/102

Once the fixes for the messages and console logs are tested, we can proceed to close this issue.

Thank you all for working to solve this problem!

[2019-08-02 15:05] jagraj commented on #71
Looks like Tekton integration is delivered in latest builds and we can not see palette in eclipse che workspace. Here is the error we are seeing in the logs and it is complaining about RBAC for tekton-pipelines namespace.

[code]

[2019-08-02 15:10] #71 closed

[2019-08-02 15:10] johnmcollier opened #104 "Codewind / PFE fails to load on Kube"
I'm getting the following error in PFE after applying the fix for https://github.com/eclipse/codewind/issues/71 (https://github.com/eclipse/codewind-che-plugin/pull/47)

[code]

[2019-08-02 15:14] rajivnathan commented on #71
@sujeilyfonseca @jagraj When I merged John's PR this issue was automatically closed. Please reopen if you find you're still seeing the issue.

[2019-08-02 15:18] tetchel commented on #104
since no one is working today i will have a look at this

[2019-08-02 15:25] johnmcollier opened #106 "Update Codewind on Kube install docs for the Tekton integration"
The Tekton integration in PFE that was recently delivered introduced new setup steps if installing Codewind on Che:
[code]

Our manual install docs on https://www.eclipse.org/codewind/installoncloud.html need to be updated to reflect that.

[2019-08-02 15:42] tetchel commented on #104
this happens if tekton is not installed. tekton installation should not be mandatory. i will put in a fix

[2019-08-02 21:00] #83 closed

[2019-08-05 13:31] sishida opened #527 "Codewind Guides: Develop applications in Docker containers for Kubernetes"
**Note:** I am moving this issue from another repo to this repo. I have copied information and comments from the previous repo here:

**Originally posted in the previous issue by @micgibso on June 10, 2019:**

Develop applications in Docker containers for Kubernetes
- What is container & inner loop development?
- Getting started
- Create a new project
- Create an application template 
- Build your

[2019-08-06 09:45] MelHopper opened #526 "Codewind Landing Page: Assess and action recommendations from review July 2019"
Summary: As a team of Design and ID, assess the review of the codewind.dev Landing page and decide which recommendations need actioning.

A review of the Codewind Landing Page codewind.dev was instigated in July 2019.

This issue will track assessment of the review and any actions coming out of the internal review.

See the following internal IBM Epic for the review document, playback and takeaway

[2019-08-06 14:47] josephca commented on #87
Done for
eclipse/codewind
eclipse/codewind-docs

[2019-08-06 14:47] #87 closed

[2019-08-06 14:49] josephca commented on #18
The release process is now defined and socialized. It will be used starting from **0.3.0**(19.08) release.

[2019-08-06 14:49] #18 closed

[2019-08-06 17:45] elsony commented on #54
The cause of this problem is due to createProject has never been called by portal to turbine on the project if autobuild has been turned off.  When autobuild is being turned on again after Codwind restart, portal just call build instead of createProject on the first time build. Based on the last design discussion with @tobespc, the conclusion is to handle it on the portal side to make sure the fir

[2019-08-06 19:29] beccabau opened #115 "No meaningful error message if missing `oc adm policy` or `kube rolebinding` (permissions)"
**Codewind version:** latest (dev)
https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml
**OS:** OKD

**Che version:** 4ef1d89
**IDE extension version:**
**IDE version:** Eclipse Che
**Kubernetes cluster:** OKD

![image](https://user-images.githubusercontent.com/13971834/62570096-55a72f00-b85d-11e9-959a-ad342e943038.png)

**Description of the enhancement

[2019-08-06 19:31] beccabau opened #116 "[SVT] Codewind Che (on OKD) does not automatically refresh when all the pods are running"
**Codewind version:** latest (dev)
https://raw.githubusercontent.com/eclipse/codewind-che-plugin/master/devfiles/latest/devfile.yaml
**OS:** OKD

**Che version:** 4ef1d89
**IDE extension version:**
**IDE version:** Eclipse Che
**Kubernetes cluster:** OKD

![image](https://user-images.githubusercontent.com/13971834/62570096-55a72f00-b85d-11e9-959a-ad342e943038.png)

**Description of the bug:**
(Not

[2019-08-06 19:48] tetchel commented on #104
fixed in #110

[2019-08-06 19:48] #104 closed

[2019-08-06 20:08] sishida opened #117 "Update template names and descriptions"
**This issue was originally opened by @tetchel in an archived repo. I am opening it again in this repo because it's still relevant.**

The templates could benefit from more useful names and updated descriptions so that they can be helpful and consistent with one another.

Info is pulled from https://github.com/microclimate-dev2ops/codewind-templates
and stored in a meta.yaml per-template https://g

[2019-08-06 21:12] rajivnathan opened #119 "Improvements for test automation scripts"
**Codewind version:**
All
**OS:**
Mac/Linux

**Description of the enhancement:**

There still seems to be a few issues with the test scripts:

- Projects get cloned with the indices in the PROJECT_URLS array, eg. codewind-workspace/0
- Only the swift project appears to be cloned
- Think we can still make some improvements related to cronjob vs test scripts

**Proposed solution:**

- [x] Fix projec

[2019-08-07 07:04] micgibso opened #524 "Codewind Guides: Develop Microservices in Docker with customizable templates"
Develop Microservices in Docker with customizable templates

- (use Rogue Cloud in samples in each section of guide)
- Tell the story around developing microservices using manually created templates

From Tim: Is the purpose of this to talk about how you can customize the new project templates to share with the team. i.e. what the enterprise architect Champ personna does? If so that's fine, but I

[2019-08-07 11:02] hhellyer commented on #102
@tetchel @eharris369 - The log that is failing here is the app.log. IIRC correctly that is the standard out from the process which is also available direct from the container using the log name  `-`.
If it is going to take a long time to fix the app.log issue would it be possible to use the `-` log in the meantime?

[2019-08-07 13:15] rajivnathan commented on #115
We do some problem determination in the sidecar. 2 things we need to do:

1. Check to see whether this specific problem is being caught, and if not cover it.
2. Update the Codewind extension to expose the detected problems to the user.

@tetchel We should discuss how we want to do # 2.

[2019-08-07 14:48] tetchel commented on #115
The plugin hits the `/environment` API when it initializes. Could we put errors in that response?

Can errors appear after PFE is already running? In that case, we would have to send them in socket events too.

[2019-08-07 14:48] tetchel commented on #102
I'm not sure if they are the same thing @ssh24

[2019-08-07 15:18] tetchel opened #123 "Modify index.json format and update template repositories API"
The current template repository index.json format is just an array of templates. However, we have some data we want to be per-template-repository, which should be provided by the user in this file. Specifically, we want to add a `name` and `description` field. The templates themselves don't have to be changed (though we should update them to include `projectStyle`).

So our `index.json` (slimmed d

[2019-08-07 15:24] tetchel commented on #123
This may also be a good time to revisit https://github.com/eclipse/codewind/issues/123

[2019-08-07 16:03] tetchel commented on #123
@makandre pointed out that our index.json format is taken from che's devfile registry format, like [this](https://che-devfile-registry.openshift.io/devfiles/index.json). So we shouldn't make this change.

We will have to come up with another way to have the template repository maintainer declare a name and description.

[2019-08-07 17:06] johnmcollier commented on #116
Seeing this too on Che regularly

[2019-08-07 17:24] jopit commented on #29
@naveenkaratekid are you still encountering this problem?  Is there a way we can reproduce it?

[2019-08-07 17:28] naveenkaratekid commented on #29
I’ve fixed it. I uninstalled Codewind from vs code and installed it in eclipse. It’s been fixed. You can close this issue. Thank you!

Naveen K
510-304-8025

________________________________
From: John Pitman <notifications@github.com>
Sent: Wednesday, August 7, 2019 1:24 PM
To: eclipse/codewind
Cc: naveenkaratekid; Mention
Subject: Re: [eclipse/codewind] Error creating Codewind project node-js.ap

[2019-08-07 17:58] tetchel commented on #116
I'm quite certain this is a theia bug but I will see if there is anything I can do.

[2019-08-07 17:58] #29 closed

[2019-08-07 19:58] tetchel commented on #123
The best proposed solutino so far is to have a second file in the template repository, something like `templates.json` which contains:
- a name field
- a description field
- any other repository-specific fields we like (none others so far)
- a link to the `index.json` - I don't know how this would work for appsody.
eg for the codewind templates it would be

https://github.com/kabanero-io/codewind-

[2019-08-07 20:14] josephca commented on #13
Adding topics are currently blocked. It seems to be a Github issue rather than Eclipse issue. Hope this issue goes away when Eclipse upgrades the Github.
Closing it for now.

[2019-08-07 20:14] #13 closed

[2019-08-07 20:23] ssh24 commented on #102
Yes, currently the `app.log` file is the exact same as the app container output. For liberty cases, there are other logs such as `message` and `console` but that is app specific and not part of the application container.

[2019-08-07 20:32] ssh24 opened #125 "Extend Turbine PFE Functional Tests - Maven Projects (Liberty and Spring)"
**Description of the enhancement:** Once https://github.com/eclipse/codewind/issues/48 has been completed for the docker projects, we can go ahead and extend the PFE functional tests for maven project types.

**Proposed solution:** The extended functional tests for maven project types should comply with the following list of functions (can change if new functions are added, check `index.ts` under

[2019-08-07 20:34] ssh24 opened #126 "Extend Turbine PFE Functional Tests - Node"
**Description of the enhancement:** Once https://github.com/eclipse/codewind/issues/48 has been completed for the docker projects, we can go ahead and extend the PFE functional tests for node and swift project types.

**Proposed solution:** The extended functional tests for node and swift project types should comply with the following list of functions (can change if new functions are added, check

[2019-08-07 20:46] tetchel commented on #102
do we know how to fix the app.log?

[2019-08-07 20:53] eharris369 opened #127 "Can't create appsody projects - possibly related to the change to pull files from git"
I can't create appsody projects after updating to the latest codewind. I am getting this error in the log file:

[Error] The current directory is not a valid appsody project. Run appsody init <stack> to create one. Run appsody list to see the available stacks.

Possibly related to https://github.com/eclipse/codewind/commit/d9d85309eb47a59697ed8e8fce2e8600c096e9e4#diff-8a0ecce0840fc29db0bdb8acdf825

[2019-08-07 20:54] makandre commented on #127
This affects all project types but to a lesser degree. For example, you can still create node projects, but if you look inside the project, the template's .dockerignore file is missing.

In appsody's case, .appsody-config.yaml is needed for project creation

[2019-08-07 21:10] tetchel commented on #116
dupe https://github.com/eclipse/codewind/issues/67

[2019-08-08 01:33] tetchel commented on #67
https://github.com/theia-ide/theia/issues/5885

[2019-08-08 12:30] makandre commented on #127
@hhellyer

[2019-08-08 13:00] mdh69-github opened #129 "Empty project created"
**Codewind version: 0.2.0**
**OS: Win10**

**Che version:**
**IDE extension version:**
**IDE version: VSCode 1.36.1**
**Kubernetes cluster: 1.14**

**Description of the bug:**
 The project creation does not import project template files

**Workaround:**

[2019-08-08 13:37] micgibso opened #523 "Rework the Codewind for VS Code section"
Rework the Codewind in VS Code section to be more consistent with the following section titles:
- Managing Codewind projects
- Building Codewind projects
- Debugging Codewind projects
- Troubleshooting Codewind
- Uninstalling Codewind

Also, edit the topic titles to match the TOC entry throughout the information set.

[2019-08-08 13:43] sujeilyfonseca commented on #7
Maven and console logs are now present in Java MicroProfile projects (Windows 10).

I still see the UI warning due to https://github.com/eclipse/codewind/issues/102, but as Jingfu Wang said, it must be addressed with https://github.com/eclipse/codewind/issues/15:

![Screen Shot 2019-08-08 at 9 25 14 AM](https://user-images.githubusercontent.com/49531960/62707055-b437ee80-b9be-11e9-9bac-cc43efa232d

[2019-08-08 13:43] #7 closed

[2019-08-08 13:48] josephca opened #130 "Remove .travis.yml"

[2019-08-08 14:10] rajivnathan commented on #129
@mdh69-github We're not aware of any current issues with project creation on Windows. Can you provide more details please? Are you seeing this problem with a specific project type or all projects? You mentioned Win10 but also a Kubernetes cluster version, can you add more details about your environment?

[2019-08-08 14:58] rajivnathan commented on #115
The problem is that PFE may not be up. If the user/cluster admin (whoever set up Che for Codewind) has missed some configuration required for Che (eg. RBAC issues, etc.) then only the sidecar will be up in the Che workspace, no PFE. In this case the sidecar will serve up a simple json file with error details but we need a way to expose that to users so that they have specific information about the

[2019-08-08 15:00] eharris369 opened #132 "Appsody projects stuck in Building: Calculating difference state"
If I create a new appsody project, disable auto build, make a change and then enable auto build, the project gets stuck in `Building: Calculating difference` state.

If changing the auto build setting is not supported for appsody projects then a capability should be added for auto build so that the IDEs know to disable it.  If no capability is added then the projects should not get stuck in this s

[2019-08-08 15:29] #130 closed

[2019-08-08 15:33] hhellyer opened #133 "Getting error for watchedFiles when updating the .cw-settings contextRoot"
**Codewind version: master**
**OS:**

**Description of the bug:**
Given the default .cw-settings file, if I change the value for contextRoot and save it, a projectSettingsChanged event is sent with the following:

{"operationId":"0f7b0c358b4ce74496a0392e9831025e","error":"BAD_REQUEST: watchedFiles is not a configurable setting.","projectID":"d84658a0-b94d-11e9-b317-d19b82183890","status":"failed"}

[2019-08-08 16:03] GeekArthur commented on #119
@rajivnathan You can assign this issue to me

[2019-08-08 17:07] tetchel commented on #115
Yes

[2019-08-08 17:31] yangcao77 commented on #133
The `watchedFiles` fie;d was for the old file watching logic. The field has been removed from Turbine after filewatcher was introduced.

The entire `watchedFiles` object should be removed from all `.cw-settings` files.

[2019-08-08 17:32] #116 closed

[2019-08-08 17:44] GeekArthur commented on #119
Since @ssh24 test cases cover the Kube case, I can add setup code to enable Kube case for test automation scripts

[2019-08-08 17:48] jgwest opened #134 "'Cannot read property of concat' TypeError in Codewind server logs during MicroProfile project creation"
**Versions and OS:**
Tested on Windows, using Codewind and Codewind Eclipse built from a couple days old master branch.

**Description of the bug:**

When creating a new Microprofile project, on local Codewind, I am seeing the below concat error repeated every X seconds, in the logs. It goes away once the Liberty app has started.

[code]
Rajiv mentioned to look at these lines in `libertyProject.ts

[2019-08-08 17:49] jgwest commented on #134
PFE log:
[codewind-pfe-log.txt](https://github.com/eclipse/codewind/files/3483038/codewind-pfe-log.txt)

[2019-08-08 18:04] rajivnathan commented on #133
I misunderstood, thought an old cw-settings file was being used but Stephanie believes the template on the portal side hasn't been changed so reopening. `watchedFiles` should have been removed from the template at the same time the validation code was modified but likely a communication breakdown on our part. (sorry!)

@hhellyer James Cockbain previously managed the cw-settings changes on the port

[2019-08-08 18:08] ssh24 commented on #134
@jgwest Is this happening on windows only?

[2019-08-08 18:37] jgwest commented on #134
@ssh24 Not sure, have only tested on Windows.

[2019-08-08 19:04] ssh24 commented on #119
Will this story also include enabling the cronjob into the VM?

[2019-08-08 19:05] johnmcollier commented on #115
@beccabau https://github.com/eclipse/codewind/issues/36 is also open to address this

[2019-08-08 19:20] lentheivendra commented on #37
Scenarios tested:
- Create Che workspace from Codewind dev file
- Verify Codewind workspace pod is running
- Verify sidecar container is running and ready, nginx & filewatcherd processed, and Codewind service successfully deployed
- Verify filewatcher daemon is up & running
- Verify filewatcher daemon restarts after kill
- Verify sidecar container restarts after nginx kill
- Stop and delete the Co

[2019-08-08 19:55] elsony commented on #99
Should we try to fix it on the portal layer to make sure portal don't send wrong extension name to our level.  We are not going to know whether the right extension is being picked or not and we can only build using the extension that portal tell us to build with.

[2019-08-09 03:29] ssh24 opened #137 "Update functional test nightly cronjob script"
**Description of the enhancement:**
After https://github.com/eclipse/codewind/issues/48 has finished we want to update the cronjob in our nightly vm to kick-off the test.

**Proposed solution:** The test should work for both on local and che cases. We will need a different vm for local and che. We will also need to have the kube option in our script enabled before this as part of https://github.co

[2019-08-09 03:33] ssh24 opened #138 "Enable new way to kick-off PFE Turbine tests on PR builds"
**Description of the enhancement:** Once we have PR build enabled and with the completion of functional test story https://github.com/eclipse/codewind/issues/48 and unit test story #47, we want to enable the tests to run on PR builds.

**Proposed solution:** The PR build should trigger the test script as a locally built test. It should run the test from the new script introduced by https://github.

[2019-08-09 03:38] ssh24 opened #139 "Provide an external test dashboard to display test results"
**Question synopsis:** With various test buckets from different squads, we should now consider providing the opensource community with an external test dashboard where they can see the latest test results (similar to what we have externally).

Opening this story up for all the squad leads to discuss possible solutions to host an external test dashboard and come to an agreement.

[2019-08-09 13:37] rajivnathan commented on #99
Think the issue is we're defaulting to the Docker project type internally when we should probably return an error if it's an ExtensionID that isn't recognized.

[2019-08-09 13:42] makandre commented on #99
Under what conditions would Portal send a wrong extension name to Turbine?

[2019-08-09 13:45] rajivnathan commented on #115
I updated #36 to include a section on 'How to provide status to the user' with Tim's proposal to use `/environment`

@beccabau @johnmcollier Are we okay to close this one given that it'll be covered by #36 ?

[2019-08-09 13:54] beccabau commented on #115
Yep, I'm okay to close. Thanks!

[2019-08-09 14:01] rajivnathan commented on #133
@hhellyer Please verify and close when you have a chance

[2019-08-09 14:06] jgwest commented on #139
My proposed solution here was to generate the test report and upload it to download.eclipse.org via the same credentials we are already using as part of the build process.

[2019-08-09 14:25] josephca opened #143 "Skip publishing docker images from non-release branch build"
This allows publishing docker images only from 'master' or release branches so that it allows for creating a collaboration branch with no impact on dockerhub images.

[2019-08-09 15:36] eharris369 commented on #133
Built the latest and verified that the problem is resolved.

[2019-08-09 15:36] #133 closed

[2019-08-09 15:46] makandre commented on #99
Hi, I think we are encountering this issue too, and I believe it's because at https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/src/controllers/projectsController.ts#L181, the project ID did not get set here.

May I take this one to fix?

[2019-08-09 16:30] keithchong opened #146 "Add alt attribute to codewind.svg image"
**IDE version:** Codewind for VS Code (latest)

**Description:** Add alt attribute to codewind.svg image that is shown in the project overview page

Screen reader reads the image file name and not meaningful text

[2019-08-09 16:55] #143 closed

[2019-08-09 18:05] keithchong commented on #75
Initial contribution is JUnit Plugin Tests:

Test client, server, html generator commands, and key generator types.
Tests for definitions with different filenames and different locations within the project
Tests for different output locations within the project.

![Screen Shot 2019-08-09 at 1 04 54 PM](https://user-images.githubusercontent.com/7726022/62799290-6a2e3600-baae-11e9-868f-ca2be29aef49.

[2019-08-09 18:07] keithchong commented on #75
PR: https://github.com/eclipse/codewind-openapi-eclipse/pull/27

[2019-08-09 18:31] thisguy-1 opened #148 "Fix "More Info" First Install PFE Popup Notification"
@tetchel
@sishida

- [x] "More Info" in PFE Popup doesn't link to an actual page.

- [x] Install PFE Popup must remain after user comes back from "more info" page. If not possible, then a notification must appear or second popup.

[2019-08-09 18:39] tetchel commented on #148
second item is https://github.com/eclipse/codewind-vscode/issues/142

[2019-08-09 18:56] thisguy-1 opened #149 "Codewind.dev Docs - Create "PFE" More Info Page"
Work with @thisguy-1, @tetchel, and @sishida to create a page that will link from CW VS Code IDE.

- [x] Explain what is being downloaded by Codewind when they accept the second part of the installation.

- [x]  Must include instructions on how to make the pop-up notification visible again.

- [x]  Provide guidance as to next steps, AFTER PFE is installed (eg. as simple as links)

- [x]  Explore c

[2019-08-09 19:10] thisguy-1 opened #150 "Improve Writing of Codewind Extension Readme"
![Codewind Install Button](https://user-images.githubusercontent.com/52169824/62892872-428dd680-bd17-11e9-96d6-d95af3a4ecc1.png)

Think of this page as a get started page that also highlights some features. On this page, which exists in VS Code and the VS Code marketplace, a user is guided to getting set up and opening up their first project.

- [ ] Must include getting started GIF > @thisguy-1
-

[2019-08-09 19:16] thisguy-1 opened #151 "Additional "Open Workspace" Notification"
- [ ] If a user gets to start a project without having opened a Codewind workspace, then they must be notified to open a workspace after they have created a project. 

- [ ] This one doesn't have to be a persistent popup

@tetchel

[2019-08-09 19:19] thisguy-1 opened #152 "Permanent & More Obvious "Open Workspace" Notification"
- [ ] Must Be Permanent
- [ ] Probably will need to be a top popup
@tetchel

[2019-08-09 19:20] thisguy-1 opened #153 ""Codewind Welcome Page" in VS Code"
When a user clicks on "open workspace" notification, s/he usually is a bit disoriented s/he is taken to the explorer page and is presented with the VScode welcome page, and rarely understands the relationship between the workspace and codewind. Having a "Codewind Welcome Page" will help orient them, and extend the readme they saw when they were installing codewind.

- [ ] Must explain dynamic betw

[2019-08-09 19:36] thisguy-1 opened #155 "Improve Codewind View Icons"
- [x] Switch "+" to the tight of  "add new".
- [x] Design new Icon for "add new"
- [x] Remove on/off from toggle

Complete lis of Icon deliverables for 0.6.0 release due Nov 5:

- [x] Separator Icon (dark theme)(light theme)
- [x] Remote Connection Settings - Gear (dark theme)(light theme)
- [x] Build Icon - Hammer (dark theme)(light theme)
- [x] Remote Connection Status Icon - Connected Cloud (da

[2019-08-09 19:40] thisguy-1 opened #156 "Draw more attention to Stopped Codewind item"
It's a good attention grabber. @tetchel

[2019-08-09 19:42] tetchel commented on #156
This is a limitation of the VS Code treeview API, inline buttons only show when the item is selected. We can force focus but that would hijack keyboard focus which would be very annoying for the user. I'm not sure what else I could do

[2019-08-09 19:45] tetchel commented on #149
what does pfe have to do with this? it's supposed to abstracted away from the user

[2019-08-09 19:47] thisguy-1 opened #157 "Tekton Pipeline Link and Icon"
- [x] Design Pipeline Icon
- [ ] Decide from where is will go (eg. command pallet, project info page, right click, and an icon on the hover).
@thisguy-1 @tetchel

[2019-08-09 19:50] tetchel commented on #157
this is done, but with a crappy icon. It's not in the project info page, I'm not sure it makes sense to go there because there is no per-project feature.

https://github.com/eclipse/codewind-vscode/pull/144

[2019-08-09 19:54] thisguy-1 opened #158 "Improve Notification For Create Project"
Users are confused by what is happening after they create new project and it is building.
- [ ] Add a building notification with progress bar (or whatever VScode calls that moving blue bar)

@tetchel
@thisguy-1

[2019-08-09 19:57] tetchel commented on #158
do we want to do this just on the initial build?

[2019-08-09 20:00] thisguy-1 commented on #149
I'm just referring to figuring out what information is included in the "more info page". What's actually going to be there? If we don't mention PFE, what are we going to say? Also, when a user chacks out whats going on in docker, they do see something called PFE, so we might want to mention that. (some users like to see what's going on in the backend). Not really dictating the terminology that wil

[2019-08-09 20:01] thisguy-1 commented on #156
Hijacking would not be good. If it cant be done it cant be done.

[2019-08-09 20:02] thisguy-1 commented on #156
Can this at least happen the first time a person click on "open workspace"? It does feel logical that you would want to go there.

[2019-08-09 20:04] thisguy-1 commented on #158
Yes. Let's only do it on the initial build for now.

[2019-08-09 20:04] thisguy-1 commented on #158
It makes sense because this is the longest one.

[2019-08-09 20:07] tetchel commented on #156
For starters, I opened https://github.com/microsoft/vscode/issues/78829

I can see about selecting it just once, but since users are generally clicking a lot of the time anyway I'm not sure they would even notice the selection (since it would be lost as soon as they click).

[2019-08-09 20:19] thisguy-1 opened #159 "Improve Status Representation Next to Project"
Problem: [Stopped] and [Building] is confusing and difficult to see depending on size of side explorer. Change wording. Do we need both statuses?

- [ ] Change wording - Possibly "Starting"?

[2019-08-09 20:25] thisguy-1 commented on #156
Gotcha. Then lets not do this. Hopefully with it opening up, that will be sufficient. When it is open, is possible for the entire tree line be extended as well? (showing the the projects icon, and the click here to create...)?

[2019-08-09 20:30] thisguy-1 opened #160 "New Project Info Page Pops Up after Create New Project & Add Existing..."
User should also have a the ability to disable if s/he chooses.
@tetchel @thisguy-1

[2019-08-09 20:31] tetchel commented on #156
It does do that once CW is started. What would it show if it's stopped?

[2019-08-09 20:37] thisguy-1 commented on #156
Projects (Connecting)>(Local)>(Disconnected)?
Something like that? Any ideaS @sishida ?

Or maybe just show the Projects Icon. Though it would be weird without anything in () and then getting the local status.

[2019-08-09 20:44] thisguy-1 opened #161 "Enhance Project Info Page"
- [ ] Add an "Open App" button. 
- [ ] Possibly Tekton pipeline button or link.
- [ ] Show all building  and application statuses and have them highlighted - so they can know what step they are on and what is left
- [ ] ID review terminology and statuses

      - Related to:
https://github.com/eclipse/codewind/issues/159
https://github.com/eclipse/codewind/issues/158

Note: Make sure to start comp

[2019-08-09 20:46] thisguy-1 opened #162 "Explore right click use for codewind- workspace"
Is it as simple as having the same right click menu as projects?
@tetchel

[2019-08-09 20:47] tetchel commented on #162
Sorry, I don't understand this one

[2019-08-09 20:49] thisguy-1 commented on #162
Remember when i presented, that I pointed out that most people tried clicking around the worskspace rather than the extension. For example, if I said to try and open their app in the browser, they either thought they needed to do it through the terminal or through the workspace.

[2019-08-09 20:49] thisguy-1 commented on #162
Not sure if it will be useful with all the other changes we are making, but worth exploring.

[2019-08-09 20:50] tetchel commented on #162
We can only do that if we are OK with all the Codewind actions appearing on _all_ folders in the Explorer view, regardless of what folders are open (codewind or otherwise). The extension API is very limited in this.

[2019-08-09 20:58] thisguy-1 opened #163 "Support adding project quickly from Git repo"
- [ ] Codewind should be able to import a project from github directly into VSCode/Eclipse

@tetchel @sishida @thisguy-1

[2019-08-09 21:11] thisguy-1 opened #164 "Performance Dashboard Design Enhancements and Bug Fixes - User Feedback"
Run Load test needs to have its settings set the first time is set
- [ ] What the setting were for each run load test needs to be able to be looked up
- [ ] The colors associated with each measurement needs to be more obvious
- [ ]  What the setting were for the latest run test needs to be on screen
- [x] Solve the issue of when to lines overlap in the graph
- [x] "Unable to render" error

[2019-08-09 21:30] thisguy-1 opened #165 "Reduce steps from Codewind website to install"
- The "Install Codewind Link" should just take them to VS Code, not to the online market place.
@micgibso
@thisguy-1
@sishida
@tetchel

![Codewind Install Instructions](https://user-images.githubusercontent.com/52169824/62888731-e8d4de80-bd0d-11e9-9b8c-693b93b1d62c.png)

![Artboard](https://user-images.githubusercontent.com/52169824/62810280-64931900-bacb-11e9-8400-fe4db725a52a.jpg)

[2019-08-09 21:31] thisguy-1 commented on #165
The link should also be renamed.

[2019-08-09 21:43] tetchel commented on #165
I believe this could be done by replacing the current marketplace link `https://marketplace.visualstudio.com/items?itemName=IBM.codewind` with `vscode:extension/IBM.codewind`. It works for me, but I would be curious to see if that works on a machine which does *not* have VS Code installed.

[2019-08-09 21:45] thisguy-1 commented on #165
I imagine it would be the same as if you were starting at the marketplace. But yes, I have the same question.

[2019-08-09 21:46] tetchel commented on #165
Also, we should still link to the marketplace entry separately.

[2019-08-09 21:59] thisguy-1 commented on #148
related to https://github.com/eclipse/codewind/issues/149

[2019-08-09 22:44] eharris369 commented on #163
Could we allow the user to specify the workspace on install or start of codewind? That way if they have a "git" folder where they check out all of their projects, it could be used as the codewind workspace (known issues with windows if it is in their Azure user dir).  That way they could still check in changes they make through the IDEs.

[2019-08-10 16:23] naveenkaratekid opened #166 "Project Build Failed - Unable to push image to deploy registry"
Codewind version 0.3.0:
MacOS Mojave 10.14.6:

Che-Theia@4ef1d89 using Theia@4ef1d89
Kubernetes cluster: 1.14.3

**Issue:**

I am unable to build my Codewind project in Eclipse Che. I keep getting an error saying that it is unable to push an image to the Docker registry. I have configured the Docker registry correctly with my username and password. To verify that my registry is valid, I logged int

[2019-08-12 13:33] sishida commented on #156
I'd have to see this in action to get a better idea of context, but if we want to show how a project is connecting, able to be used locally, and then disconnected, then I think that @thisguy-1's suggestion works.

[2019-08-12 13:34] sishida commented on #150
I can help with the writing improvements.

[2019-08-12 13:35] sishida commented on #153
I can help with the writing of this page.

[2019-08-12 13:36] sishida commented on #149
I can help with the writing of the more info page.

[2019-08-12 13:37] sishida commented on #159
If "Stopped" and "Building" are part of the same "Starting" process, "Starting" sounds good to me to replace both "Stopped" and "Building."

[2019-08-12 13:37] sishida commented on #161
I can help with the ID review.

[2019-08-12 13:38] sishida commented on #163
If we need error notification rewrites, I can help with those.

[2019-08-12 14:05] ssh24 commented on #166
Hi @naveenkaratekid, did you add the docker registry login credentials under `Administration` in che? The address will be https://index.docker.io/v1/ and your docker login/password.

[2019-08-12 14:07] naveenkaratekid commented on #166
Thank you for your response. Yes, I did add my docker credentials under the Administration menu in Eclipse Che. I verified that the credentials were correct because I logged into docker hub with those same credentials and it logged me in successfully.

Naveen K
510-304-8025

________________________________
From: S. Sakib Hasan <notifications@github.com>
Sent: Monday, August 12, 2019 10:05 AM
To:

[2019-08-12 14:22] ssh24 commented on #134
@jgwest Still trying to find the root cause of the problem. Do you have the PFE logs by any chance?

[2019-08-12 14:41] jgwest opened #169 "MicroProfile project cache contents differs from template contents, causing slow, uncached initial image build of every new MicroProfile project"
**Codewind version:** Latest
**OS:** Confirmed on Windows and Linux

**Description:**

The MicroProfile cache Dockerfile (https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/dockerfiles/liberty/libertyDockerfile I believe) that is used to build the cache currently differs from the actual MicroProfile template that is generated for the user.

This means that every time you create a

[2019-08-12 14:56] jgwest opened #171 "If the contents of the MicroProfile Codewind template change after initial install of Codewind, every subequent new MicroProfile project takes a long time to perform initial build"
**Description**:
The MicroProfile (and Spring) Codewind caches are currently only generated on initial install of Codewind. This means that if the MP/Spring template's Dockerfile changes after the initial install of Codewind, the cache will no longer work as intended.

Thus, if the template changes after user install of Codewind, every time they create a new MicroProfile project, or disable/re-ena

[2019-08-12 15:08] jgwest opened #172 "Java download on initial Dockerfile for MicroProfile/Spring is unnecessarily slow, can instead pull directly from Docker Hub"
**Description:**
On initial creation of a Spring/MicroProfile project, there is a long initial container image creation time due to the download of Java JDK. This is partially mitigated by the image cache, but sometimes [it](https://github.com/eclipse/codewind/issues/169) [breaks](https://github.com/eclipse/codewind/issues/171).

However, this slowness may not be a necessary evil, as John C sugges

[2019-08-12 15:19] josephca commented on #14
Now **codewind.dev** link appears as the first link. :)

[2019-08-12 15:28] tetchel commented on #132
@makandre

[2019-08-12 15:40] makandre commented on #132
What stack?    Right, auto-build is not supported.  I know we had discussed about hiding the auto-build option for appsody but I'm unsure if we actually raised that as an issue.  @sghung might know.

[2019-08-12 16:09] jgwest commented on #169
This bug is about fixing the current libertyDockerfile to match the current template

The other two bugs about improving the *general* problem of cache invalidation w/o regeneration and/or slow Java download.

[2019-08-12 16:16] johnmcollier commented on #166
Spoke with @naveenkaratekid on slack. We suspect the failure was due to the deployment registry name that was entered in.

`index.docker.io/v1/<username>` should be `docker.io/<username>` instead.

[2019-08-12 16:31] thisguy-1 commented on #159
@tetchel What are all the statuses?

[2019-08-12 17:04] tetchel commented on #159
### App Statuses:
Running
Starting
Stopping
Stopped

Debugging
Starting - Debug

Disabled
Unknown

### Build Statuses:

Build Succeeded
Building
Build Failed
Build Queued

Unknown

[2019-08-12 17:04] tetchel commented on #159
To be clear, these have been the same since Microclimate days, and are shared by the Eclipse plugin

[2019-08-12 17:27] thisguy-1 opened #173 "OS Detection in the Get Started Page"
There is too much text for this page. A user should only see what is relevant to them. OS detection would help with this issue. A Mac OS user should only have to see what is relevant to them. If for some reason they need to see the instructions for a different platform, they could see a link that says "Need a different platform?".

https://www.eclipse.org/codewind/installlocally.html

- [ ] OS det

[2019-08-12 17:42] deboer-tim commented on #159
@elsony should be included as he has a strong opinion on keeping these statuses independent internally (since different backends and programming languages will go through slightly sets of  states), but he may also be able to help narrow down the likely combinations of states or come up with shorter statuses.

I don't have any quick suggestions, but agree there are some redundant combinations or ca

[2019-08-12 17:43] johnmcollier opened #174 "PFE-Deploy: Use watch API for resources and add redeploy command"
Once https://github.com/eclipse/codewind-che-plugin/pull/31 has been merged, we need to look at two sets of changes that couldn't make it into that PR for the Golang `pfe-deploy` utility:
- Use the client-go watch API to wait for the Codewind pods to successfully come up and be ready
     - Should have a somewhat generous timeout, we used 5 minutes in the past, and that should be enough
     - Wil

[2019-08-12 18:04] tetchel commented on #87
openapi docs now available --> https://eclipse.github.io/codewind/

[2019-08-12 18:42] deboer-tim commented on #160
Are you talking about the project's readme here? Is the usability of seeing and closing it that bad since project creation is not that frequent?

I ask because template creators often want to show a quick summary of what's in the project the user just created to help them get started, and I've heard from another group that wants to expand on this.

[2019-08-12 18:43] tetchel commented on #160
he is referring to the Project Overview page. The README makes sense too, iff the project has one.

[2019-08-12 18:46] tetchel opened #176 "Provide Installer functionality for upgrade path"
We believe that the installer is not sufficiently sophisticated to support installing the correct *version* of Codewind, and this will block users from upgrading unless they explicitly remove the old images, which is not acceptable.

It looks like currently "installed" status is determined by if the images are present *regardless of tag*.

Since the plugin version 0.3 will not work with Codewind 0

[2019-08-12 18:54] deboer-tim commented on #123
FWIW, Appsody uses a similar index that also doesn't allow for name or description: https://github.com/appsody/stacks/blob/master/index.yaml

I don't have a better suggestion than the one above, but I don't like the descriptor including a relative URL to the index. IMHO the URL that users see should be to the repo itself (i.e. base URL) and then we should assume relative paths to both the index an

[2019-08-12 19:12] rajivnathan commented on #132
I just saw this happen with a Microprofile project so doesn't appear to be specific to appsody.

Steps to reproduce:
1. Clone https://github.com/microclimate-dev2ops/javaMicroProfileTemplate to the codewind workspace (Do not create using Codewind)
2. Delete the Dockerfile-build file
3. Add the project to Codewind using the "Add existing project" action
4. It should fail to build, state will be [St

[2019-08-12 19:39] thisguy-1 commented on #150
@eharris369

[2019-08-12 19:44] tetchel commented on #150
Don't forget that the user can also encounter this readme at https://github.com/eclipse/codewind-vscode

So they are not necessarily already past step 1.

But all the other changes I certainly agree with

[2019-08-12 19:58] thisguy-1 commented on #149
https://github.ibm.com/dev-ex/landing-pages/issues/1112

[2019-08-12 20:03] tetchel opened #179 "More features for GET templates/repositories"
As we continue to design the repository management, we need two new fields to be added to each repository object.

1. (easy) We should have a boolean flag for indicating a repository is a Codewind default. We will then block the user from deleting this repository because it is not straightforward to re-add it (it is impossible with appsody which does not have a corresponding url). The user can sti

[2019-08-12 20:06] josephca opened #180 "Remove direct call of build.sh from Jenkins"
**Description of the enhancement:**
We need Codewind Jenkins to trigger PR builds opened by non-committers. Initially, comment trigger was considered as an option - this would allow PR build triggered if committers add a defined comment e.g. 'trigger_build' to PRs. Unfortunately, no luck after several tries.

As a workaround, Jenkins is configured to trigger PR builds from non-committers by using

[2019-08-12 20:07] deboer-tim commented on #160
Ah. Maybe we should have a discussion or there is more detail elsewhere, but which Codewind concepts do we want to introduce them to, and couldn't we do that as part of the initial welcome? I'm a little anxious about showing two pages for different reasons and just want to make sure we have a plan for how this fit together in a clean flow.

[2019-08-12 21:05] #180 closed

[2019-08-12 21:25] thisguy-1 commented on #160
@deboer-tim
I'm not familiar with the difference between project readme and the project overview. I am referring to this:
<img width="1662" alt="Screen Shot 2019-08-12 at 5 11 43 PM" src="https://user-images.githubusercontent.com/52169824/62898857-84714980-bd24-11e9-9390-f68a292fcb94.png">
Im guessing the readme is this:
<img width="1677" alt="Screen Shot 2019-08-12 at 5 12 30 PM" src="https://use

[2019-08-12 21:30] thisguy-1 commented on #163
Do you mean like a "set your workspace" type deal?

[2019-08-12 22:31] rajivnathan opened #181 "Cannot enable project after deleting Turbine.log file"
**Codewind version:**
0.2.0
**OS:**
Mac OSX

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Cannot enable project after deleting Turbine.log file. Unclear whether it affects more than just enabling a project.

**Steps to reproduce:**
1. Disable a project
2. Delete the Turbine.log file
3. Enable the project

**Workaround:**

[2019-08-12 23:41] tetchel commented on #163
putting aside the design, is this technically possible with the current architecture? if not, I don't think we will put in the work because the workspace is going away someday anyway.

[2019-08-13 09:29] hhellyer commented on #176
We think it's possible for the plugins to check and upgrade the level of codewind if they need to:

- If Codewind is running (as reported by `status`) then querying api/v1/environment will report the level of Codewind.
- If this is not the level the plugin expects then it can prompt the user to ask them if they want to shutdown, upgrade and restart codewind. (We may not want to automatically resta

[2019-08-13 10:13] micgibso commented on #165
See also https://github.com/eclipse/codewind/issues/173

[2019-08-13 12:54] hhellyer commented on #102
@tetchel - I'm not sure, Turbine is returning the app.log in the list of logs but whether the logs are in the container or in the workspace isn't returned per log file turbine reports that all of them are either in the workspace or the container.
Unfortunately Windows microprofile is the only scenario where we have container logs but only `messages.log` and `console.log` are actually in the contai

[2019-08-13 13:47] tetchel commented on #176
good solution :+1:

[2019-08-13 13:53] jgwest commented on #134
@ssh24  Do the ones I posted above count?

[2019-08-13 15:17] tetchel opened #186 "POST /repositories should validate URLs are reachable and point to template repo index files"
See the discussion starting at https://github.com/eclipse/codewind/pull/183#issuecomment-520833427

[2019-08-13 16:16] johnmcollier opened #187 "Reduce image size of project templates, and optimize their dockerfiles"
The overall size of the docker images we use in our templates (both as the base-layer and the resultant, built image) is getting to be too large. This leads to a small number of images taking up a lot of space on the user's machine, and on their docker registry. It also leads to overall longer build times, as more time needs to be spent pulling the base image, and pushing the built image up to a D

[2019-08-13 16:17] johnmcollier commented on #187
Some areas to look at:
- Can we use smaller base/runtime images?
- Will multi-stage builds help? Do we necessarily need all of the framework's build tools in the runtime container?
- For Spring/Microprofile which require a JDK, can we use a smaller JDK?

[2019-08-13 16:45] josephca opened #189 "Go build on 'codewind-installer' failed intermittently with a signal killed error"
Go build for 'codewind-installer' gets failed intermittently with 'signal: killed' error. From the google search, it might be caused by not enough memory.

build log:
...
10:10:05  + export HOME=/var/jenkins_home
10:10:05  + export GOCACHE=off
10:10:05  + export GOARCH=amd64
10:10:05  + GOOS=darwin go build -ldflags=-s -w -o codewind-installer-macos
10:12:42  go build crypto/elliptic: /usr/local/g

[2019-08-13 16:50] josephca commented on #189
Increase the allocated memory from 512mb to 2GB

Reference: https://wiki.eclipse.org/Jenkins#What_is_killing_my_build.3F_I.27m_using_custom_containers.21

[2019-08-13 17:01] #189 closed

[2019-08-13 17:04] johnmcollier opened #190 "Remove MICROCLIMATE_RELEASE_NAME from Codewind"
We're currently still passing in and using `MICROCLIMATE_RELEASE_NAME` in Codewind to label all of the Helm charts that the use deploys (https://github.com/eclipse/codewind/search?q=MICROCLIMATE_RELEASE_NAME&unscoped_q=MICROCLIMATE_RELEASE_NAME). This is a holdover from the Microclimate days when we wanted all of the user's projects labeled with the Microclimate install name they belonged too.

Ho

[2019-08-13 17:05] johnmcollier commented on #190
Will require changes in both eclipse/codewind-che-plugin and eclipse/codewind

[2019-08-13 17:43] GeekArthur commented on #137
@rajivnathan You can assign this issue to me

[2019-08-13 18:32] GeekArthur commented on #119
Issue of enabling cronjob into the VM is here: https://github.com/eclipse/codewind/issues/137

[2019-08-13 18:55] tetchel commented on #176
@eharris369 pointed out one scenario that is not covered by this, when Codewind is stopped so we cannot ask /environment for the version info.

Let's say the user has the _wrong_ version (here, `latest`) already installed, but the plugin wants to start a different version (here, `0.2`).

[code]

I don't know what the heck this error message means, but I'm not sure how the plugins can handle this s

[2019-08-13 19:33] sishida commented on #149
Rough draft of text:
"The Codewind installation includes two parts. The first part installs when you Install Codewind from the VS Code Marketplace or when you install by searching in the VS Code Extensions view. The second part installs when you click Install when you are prompted by the dialog box.

After you click Install, the necessary images are downloaded from the internet. Your IDE displays

[2019-08-13 21:13] GeekArthur commented on #169
I am looking into this issue, I find update cache image Dockerfile to match the Template Dockerfile is more complicated than I thought before because each time we have to ensure & update:
1 Cache image Dockerfile itself
2 Resources that `COPY` or `ADD` command uses in Dockerfile
(eg. `COPY /target/liberty/wlp/usr/servers/defaultServer /config/`, `ADD /artifacts/artifacts.tar.gz $HOME/artifacts`)

[2019-08-13 21:15] deboer-tim commented on #187
Many of these templates are still coming from microclimate-dev2ops, and also include out of date readme/splash screens and Jenkinsfiles. FYI, I've talked to a couple people (but primarily Toby) about copying these to another org and then doing some general cleanup, I don't know if we have an issue open for that.

[2019-08-13 21:22] johnmcollier commented on #187
@deboer-tim I've actually been meaning to follow up about creating a `codewind-templates` org on Github. I don't see one an issue Github for that currently, but I'll go open one.

[2019-08-13 21:46] johnmcollier opened #193 "Create Codewind samples Github org and host code samples and templates there"
Most of our Codewind templates currently come from https://github.com/microclimate-dev2ops, which is the old Github org we used to host Microclimate resources. We should move off of that repo and into something more specific to Codewind.

Other open source projects like Jenkins-X and Che use a dedicated Github org for project templates (see https://github.com/jenkins-x-quickstarts and https://gith

[2019-08-13 21:51] johnmcollier commented on #193
As part of the move to the new org, we'd also want to look at pruning any remaining references to `Microclimate` or `IBM Cloud` from the project samples

[2019-08-14 13:51] markcor11 commented on #81
I can look into it

[2019-08-14 13:52] markcor11 commented on #81
I can look at it

[2019-08-14 15:12] rajivnathan opened #196 "Add reference to doc page in .cw-settings file"
**Description of the enhancement:**

Jonathan: Couldn't hurt to reference the doc page in the actual file itself, as a comment, for users coming from the reverse direction (.cw-settings -> doc)

This can be done once https://github.com/eclipse/codewind-docs/issues/53 is complete.

[2019-08-14 16:26] thisguy-1 commented on #160
Based on our conversation, I will mock up a Project Overview page with collapsable information that doesn't have to be seen and a section for the readme.

[2019-08-14 17:12] sishida commented on #149
I have created this PR for Codewind installation info pages: https://github.com/eclipse/codewind-docs/pull/55.

To do:
- In both new files, we need to add the list of images installed.
- If needed, we need to add a section in the Troubleshooting page for PFE info.
- In step 3 "Complete the installation" of the Readme pages for both VS Code and Eclipse, add the link to these new installation info p

[2019-08-14 17:13] keithchong opened #197 "Eclipse IDE: Project Overview page, project type is Unknown for any Appsody projects"
**Codewind version:** Dev driver
**OS:**  Mac

**IDE extension version:** Eclipse IDE Plugin latest from master

**Description:**  Using Codewind for Eclipse, in the project overview page, the project type for any Appsody project shows up as Unknown

![Screen Shot 2019-08-14 at 1 00 27 PM](https://user-images.githubusercontent.com/7726022/63041010-d6d17800-be94-11e9-9eb8-4309cacbe163.png)

See rel

[2019-08-14 23:01] yangcao77 commented on #132
The fix for microprofile project is PR https://github.com/eclipse/codewind/pull/199

For appsody project,  if the update failed. it should return an exit code as well. So our code can caught the error and set the build status correctly.

[2019-08-14 23:22] makandre commented on #132
@yangcao77 could you open an appsody issue with the details at https://github.com/eclipse/codewind-appsody-extension/issues?

[2019-08-15 02:56] jgwest commented on #196
John noted that JSON doesn't support comments 😞 , so are options are:
1) Convert this file to YAML format (which actually is a better format for this sort of thing IMHO, but this is some work)
2) Or, add a JSON non-conformant comment (one that doesn't conform to JSON standard), and strip it out before parsing it (so it doesn't prevent parsing)
3) Give up
4) Another idea?

[2019-08-15 14:09] makandre commented on #132
Actually I've identified the problem on appsody side and the cause is slightly different

[2019-08-15 14:16] yangcao77 commented on #132
Is any code change required in Turbine to get appsody project issue fixed? @makandre I'm glad to help out if there's any.

[2019-08-15 15:01] makandre commented on #132
Thanks @yangcao77 I've a fix https://github.com/eclipse/codewind-appsody-extension/pull/6; it does not require Turbine changes.

[2019-08-15 19:13] sghung commented on #132
Re-opened since https://github.com/eclipse/codewind/pull/199 is not in yet

[2019-08-15 20:21] rajivnathan commented on #22
Initially thought this was a template issue but when I tried to reproduce I saw that the swift project was building endlessly. @maysunfaisal mentioned he can take a look. Thanks Maysun

[2019-08-15 21:06] tetchel commented on #15
Still a bug

[2019-08-15 21:08] tetchel commented on #54
It doesn't even look like the user can recover from this; I tried disable/enable but it still got stuck Unknown, so you have to remove and then re-bind the project.

[2019-08-15 21:27] tetchel commented on #186
tangentially related, I would the duplicate URL error message to be a little more user-friendly

Currently:
[code]

How about just:
[code]

[2019-08-15 21:37] tetchel commented on #32
This is mostly there in VS Code. We have some tweaks to do which depend on:
https://github.com/eclipse/codewind/issues/179
https://github.com/eclipse/codewind/issues/186
https://github.com/eclipse/codewind/issues/123

[2019-08-16 12:08] markcor11 commented on #164
PR: https://github.com/eclipse/codewind/pull/202

[2019-08-16 14:51] maysunfaisal commented on #22
@beccabau @sujeilyfonseca Hi, pls help verify when you have a chance.

[2019-08-16 15:14] jgwest commented on #193
@johnmcollier Rogue Cloud (which you could think of as a sample) is also hosted in `microclimate-dev2ops`, so a more generic name like `codewind-samples`/`codewind-artifacts`/`codewind-resources` would be favoured over `codewind-templates`.

We could just go with `codewind-samples`, or a more generic word (`codewind-resources`) would allow us to store things that ARENT just templates/sample in the

[2019-08-16 18:40] jopit opened #207 "Update DEFAULT_CW_TAG to "0.3""
Change DEFAULT_CW_TAG from "0.2" to in preparation for next release

[2019-08-16 19:42] johnmcollier commented on #193
@jgwest Agreed! I like the idea of using `codewind-resources` or `codewind-samples`, especially as we have other code samples in the works for Codewind (à la Rogue Cloud)

[2019-08-16 20:39] #207 closed

[2019-08-19 11:50] jagraj opened #209 "SVT:got into NPE when creating python project from eclipse plugin"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
I got into NPE when creating projects from codewind python templ

[2019-08-19 12:27] jagraj opened #210 "SVT:open application is blank for microprofile java and spring projects"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
Open application is blank for Java microprofile and spring proje

[2019-08-19 12:57] tobespc commented on #127
this is now fixed

[2019-08-19 12:57] #127 closed

[2019-08-19 13:07] sujeilyfonseca commented on #22
I no longer see this problem with Codewind (Windows and Mac Operating Systems).

![Screen Shot 2019-08-19 at 9 01 13 AM](https://user-images.githubusercontent.com/49531960/63267721-adcc3100-c260-11e9-9c0e-9acf7fdfa1bf.png)

![Screen Shot 2019-08-19 at 9 00 52 AM](https://user-images.githubusercontent.com/49531960/63267743-b58bd580-c260-11e9-8100-bc93355bc6c4.png)

![Screen Shot 2019-08-19 at 9 04

[2019-08-19 13:34] sghung opened #211 "Appsody Needs to be automatically installed"
**Codewind version:**
Master

**OS:**
Mac

**Description:**
This bug is to track the stop ship requirement of having the appsody extension automatically part of the codewind installation

**Steps to reproduce:**
Starting codewind does not have appsody or its stacks available

**Workaround:**
Manual install, which is not the preferred user experience

[2019-08-19 13:36] keithchong commented on #72
This is fixed.  Closing.

[2019-08-19 13:36] #72 closed

[2019-08-19 14:29] maysunfaisal commented on #22
Thx @sujeilyfonseca

[2019-08-19 15:35] jagraj opened #212 "SVT:Appsody spring boot apps does not build in eclipse due to path issues"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
Appsody spring boot app does not compile in eclipse tools on win

[2019-08-19 16:34] makandre commented on #212
I'll take a look

[2019-08-19 17:10] sishida commented on #106
@johnmcollier and @tetchel
Hi, team, I'm looking at these new commands as well as the installoncloud doc and was wondering if I could please get more info. For example, where within the installoncloud doc page do we want to include the new commands? I'm guessing we should create a new section? Thanks!

[2019-08-19 17:11] johnmcollier commented on #106
@tobespc @markcor11 Can you please help Sarah with the new install instructions for the Tekton integration? Thanks!

[2019-08-19 17:18] sishida commented on #106
@tobespc and @markcor11
This is the only Tekton info that we currently have in Codewind documentation: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/codewindandtektonpipelines.md
I am happy to add more details if we want to. Please just let me know. Thank you!

[2019-08-19 17:33] jagraj commented on #212
Fixed worked, the path has been set and I no longer see build errors.

[2019-08-19 17:39] #212 closed

[2019-08-19 18:40] tetchel commented on #210
does it work in vs code?

[2019-08-19 18:45] yangcao77 commented on #86
@tetchel From IDE's perspective, is a simple `updateStatus` event enough?(update app status to stopped & with a message saying it failed to ping)
Or you need another socket event?

[2019-08-19 18:49] tetchel commented on #209
From the logs:

[code]

It looks like the Smart Import is trying to import this as a java/jaxrs project, which it obviously is not.

[2019-08-19 19:04] tetchel commented on #196
Alternatively, the user usually will access this file from the IDE plugins' Overview pages. So we can (and plan to) link to this page from there.

[2019-08-19 19:19] rachelwchen opened #216 "Performance dashboard: plotting multiple variables in the same graph"
**Codewind version:** 0.2.0
**OS:** MacOS

**Description of the enhancement:**
During the usability testing of Codewind, we found an issue with the graph in the performance dashboard. Specifically, it was the issue with plotting multiple variables in the same graph. As shown in the screenshot below, when Y-axis represents the CPU, the units and scales of other variables (such as response, measured

[2019-08-19 20:22] tetchel opened #217 "Performance dashboard in Che Theia"
@tetchel commented on [Thu Jul 18 2019](https://github.com/eclipse/codewind-vscode/issues/123)

There will be a change needed in the Theia plugin to launch the performance dashboard on the correct URL

Within the Theia container there will be :

| VAR       | Value    |
| :------------- | ---------- |
|  CHE_API | http://namespace.ip.nip.io/api   |
| CHE_WORKSPACE_ID   | workspacehgafq9yutdr9c1qy

[2019-08-19 20:22] tetchel opened #218 "Change Perf Dashboard URL in Che"
@tetchel commented on [Thu Jul 18 2019](https://github.com/eclipse/codewind-vscode/issues/123)

There will be a change needed in the Theia plugin to launch the performance dashboard on the correct URL

Within the Theia container there will be :

| VAR       | Value    |
| :------------- | ---------- |
|  CHE_API | http://namespace.ip.nip.io/api   |
| CHE_WORKSPACE_ID   | workspacehgafq9yutdr9c1qy

[2019-08-19 20:48] tetchel commented on #217
implemented as was requested [here](https://github.com/tetchel/codewind-vscode/tree/theiaDashboard), but I can't get the backend working to verify.

[2019-08-19 20:51] tetchel commented on #217
I think this is the error:
[code]

[2019-08-19 20:51] tetchel commented on #218
obviously a dupe of #217

[2019-08-19 20:51] #218 closed

[2019-08-19 21:17] tetchel commented on #23
Moving this back here because we have moved the issue tracking back to this respository :)

[2019-08-19 21:17] tetchel commented on #23
@liamchampton said [here](https://github.com/eclipse/codewind-installer/issues/53#issuecomment-514988207)

After some investigation into this I see 2 separate issues:

    Detection of docker is failing - This seems like a docker/system environment issue rather than a codewind issue. Saying this on the basis that the installer is utilizing a docker API and not interfering with any underlying docke

[2019-08-19 22:21] johnmcollier opened #219 "Codewind ingress creation fails on Che installs with SSL enabled"
**Codewind version:** latest
**Che version:** 7.0.0
**Kubernetes cluster:** OpenShift 3.11 on IBM Kubernetes Service

**Description:**
If Che is installed on Kubernetes with SSL enabled, the Codewind ingress/route can't be created as we're unable to parse the Che ingress domain properly. This is because we're only removing `http://` from the `$CHE_API` environment variable string, and not `https:/

[2019-08-19 22:22] johnmcollier commented on #219
I've got a PR up at https://github.com/eclipse/codewind-che-plugin/pull/64 to fix this

IMO, this should be a stop ship, as we should be able to function properly if Che is using SSL. It should also be a relatively safe change to drop in.

[2019-08-20 00:07] eharris369 commented on #209
This is exactly the same as https://github.com/eclipse/codewind-eclipse/issues/89

[2019-08-20 00:16] eharris369 commented on #176
We forgot about the url so maybe:
{"installed-versions": [ "0.2", "latest" ], "started": [{"version": "0.2",  "url": "http://localhost:10001"}]}

[2019-08-20 00:26] eharris369 commented on #210
If this is Windows only then it is probably the same as https://github.com/eclipse/codewind-eclipse/issues/126.  If you change the browser to an external browser does it work (Window > Web Browser)?

[2019-08-20 08:35] markcor11 commented on #216
Originally we did have separate charts for each counter type however the behaviour you see is working to the latest design spec.  The Y-Axis labels and scale reflect the most recently selected counter chosen from the check-box list on the right hand side of the page.  If the user were to toggle 'hits', the Y-axis labels should change to show hit count values.

[2019-08-20 12:14] tobespc commented on #65
@stalleyj Can you pick this up please

[2019-08-20 12:27] jagraj opened #220 "SVT:Appsody java project stuck in starting state and not running"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
Appsody java project stuck in starting state and not running. He

[2019-08-20 12:34] jagraj commented on #210
I copied same link and tried to access in external browser and I still see same problem.

[2019-08-20 12:41] stalleyj opened #221 "Add the portal functional tests to the Jenkinsfile"
**Description of the enhancement:**

There are currently no tests run during a PR build.

**Proposed solution:**

We should add running of the portal functional tests to the PR builds and not upload the docker images if the tests fail.

[2019-08-20 12:47] jagraj opened #222 "SVT: Codewind failed to uninstall on windows with message "cannot remove codewind_network""
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
I tried to uninstall codewind on windows from eclipse plugin and

[2019-08-20 12:53] stalleyj opened #223 "Add tests to the VSCode plugin Jenkinsfile"
**Description of the enhancement:**

There are currently no tests run during a PR build.

**Proposed solution:**

We should add running of the VSCode plugin tests to the PR builds and not upload the results if the tests fail.

[2019-08-20 12:58] jagraj opened #224 "SVT:Appsody projects are not stopped and deleted during codewind uninstall from eclipse plugin"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**

Codewind failed to remove appsody projects during uninstall and

[2019-08-20 13:37] tetchel commented on #223
helpful links:

- [old travis build with tests run](https://travis-ci.com/microclimate-dev2ops/microclimate-vscode-tools/builds/113808398)
- [old CI scripts](https://github.com/microclimate-dev2ops/microclimate-vscode-tools/tree/master/travis-scripts)
- [new CI scripts](https://github.com/eclipse/codewind-vscode/tree/master/ci-scripts) which I have not really updated

[2019-08-20 13:38] tetchel commented on #222
added portal tag because this is straight from the installer

[2019-08-20 13:39] tetchel commented on #220
if you do the Open App, does it work?

[2019-08-20 13:40] jagraj commented on #222
Here is the failure message from the dialog window in eclipse.

```There was a problem trying to uninstall Codewind: 2019/08/20 08:33:00 DOCKER_NETWORK_ERROR[111]: Error response from daemon: error while removing network: network codewind_network id cbb1d48c084406b408f7fc910b05db8288001ebad3a32c3523c1e696efaa7152 has active endpoints. Cannot remove codewind_network. Use 'stop-all' flag to ensure a

[2019-08-20 13:56] jagraj commented on #220
No, it is does not. I think this might be appsody extension issue.

[2019-08-20 13:58] liamchampton commented on #176
@eharris369 i didn't forget that in the PR

[2019-08-20 14:10] beccabau commented on #209
Codewind version: 0.3
OS: MacOS Mojave

Che version:
IDE extension version: latest (0.3.0.v201908161735)
IDE version:
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: macOS Mojave, Version 10.14.6

Description:
I got into NPE when creating projects from codewind python template on mac local, eclipse.

From Jag's steps to reproduce, I ran into the sa

[2019-08-20 14:33] makandre commented on #220
What's in the appsody.log?

[2019-08-20 14:46] stalleyj opened #226 "Add tests to the Eclipse plugin Jenkinsfile"
There are currently no tests run during a PR build.

**Proposed solution:**

We should add running of the Eclipse plugin tests to the PR builds and not upload the results if the tests fail.

[2019-08-20 14:57] stalleyj opened #227 "Add Turbine tests to the Jenkinsfile"
The Turbine tests are not currently run as part of a PR build.

**Proposed solution:**

We should add the Turbine functional tests to the PR builds as a step before the API tests and not continue if any of them fail.

[2019-08-20 15:03] rajivnathan commented on #227
@stalleyj This appears to be a duplicate of https://github.com/eclipse/codewind/issues/138. Think we can close this one in favour of that

[2019-08-20 15:11] stalleyj commented on #138
FYI, we are fairly close to getting the API running on PR builds.

[2019-08-20 15:40] jagraj commented on #220
Here is the failure in the log...
Also attaching log file for Java project.
[appsody.log](https://github.com/eclipse/codewind/files/3521442/appsody.log)

[code]

[2019-08-20 15:43] sujeilyfonseca opened #228 "SVT: Container Shell does not work correctly with Java Lagom projects"
**Codewind version:** 0.3
**OS:** Windows 10 and MacOS Mojave (10.14.5)

**IDE extension version:** latest
**IDE version:** VS Code 1.37.1 and Eclipse 2019-06 (4.12.0)

**Description:** Container Shell does not work correctly with Java Lagom projects.

<img width="1505" alt="Screen Shot 2019-08-20 at 8 58 01 AM" src="https://user-images.githubusercontent.com/49531960/63361486-3c62b000-c33e-11e9-98

[2019-08-20 15:44] sujeilyfonseca opened #229 "SVT [VS Code]: Debugging feature does not work with Spring and MicroProfile projects"
**Codewind version:** 0.3
**OS:** Windows 10 and MacOS Mojave (10.14.5)

**IDE:** VS Code
**IDE extension version:** latest
**IDE version:** 1.37.1

**Description:** Debugging feature does not work in VS Code with Spring and MicroProfile projects.

![Screen Shot 2019-08-20 at 11 19 05 AM](https://user-images.githubusercontent.com/49531960/63361458-2c4ad080-c33e-11e9-9cad-66048a9e38c5.png)

![Scree

[2019-08-20 15:50] tetchel commented on #228
I expect this bug will happen in Eclipse too. Can you verify?

[2019-08-20 15:52] tetchel commented on #229
It looks like you don't have the `Java Extension Pack` installed. Can you try that?

[2019-08-20 16:01] sujeilyfonseca commented on #228
I asked @naveenkaratekid to verify this problem in Eclipse and the Java Lagom project has the same problem there:

<img width="1252" alt="Screen Shot 2019-08-20 at 11 53 00 AM" src="https://user-images.githubusercontent.com/49531960/63363620-f1e33280-c341-11e9-9ff9-a6222a37e47c.png">

[2019-08-20 16:16] sujeilyfonseca commented on #229
Hi Tim, you were right. I did not have the Java Extension Pack enabled. After installing and enabling it, I was able to debug Java Spring and Java MicroProfile projects. Thanks!

[2019-08-20 16:17] #229 closed

[2019-08-20 17:13] naveenkaratekid commented on #209
I've also seen this issue locally on Eclipse as well:

Codewind version 0.3
Codewind Extension Version: 0.3.0v201908161735
MacOS Mojave 10.14.6
Eclipse Build 06-2019 Version 4.12.0

Issue: Getting NPE when creating Python projects in Codewind in Eclipse Local on MacOS.

I also followed Jag's reproduce steps:
Install Codewind in Eclipse
Start up Codewind
Create new project, and choose Python templa

[2019-08-20 17:28] makandre opened #232 "Errors in log when removing appsody project"
**Codewind version:** 0.3.0
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The following errors are seen in the log whenever an appsody project is removed from Codewind.  The project does get removed successfully despite this.

[code]

**Steps to reproduce:**

Just remove an appsody project from Codewind

**Workaround:**

[2019-08-20 18:00] johnmcollier opened #233 "Address Codewind-Che-Plugin functional tests on macOS"
As part of https://github.com/eclipse/codewind/issues/37, the BATS-based functional tests for the Codewind Che sidecar were delivered. However, we're seeing issues running the tests on macOS, which use a backlevel version of bash, compared to what's available on Linux & WSL.

Seems that when the tests are run on macOS, Codewind is successfully deployed, but the test never detects it and thinks Cod

[2019-08-20 18:01] johnmcollier commented on #37
Sidecar functional tests have been delivered, closing this item out in favour of https://github.com/eclipse/codewind/issues/233

[2019-08-20 18:01] #37 closed

[2019-08-20 18:08] tetchel opened #234 "Unexpected installer output from status command"
[code]

@liamchampton can you output this to stderr instead so I can consume only the json from stdout?

[2019-08-20 18:15] tetchel commented on #228
should be fixed in latest drivers; give the eclipse build an hour or so to be uploaded.

[2019-08-20 18:23] jagraj commented on #209
Looks like this issue is consistent with python projects.

[2019-08-20 18:27] jagraj commented on #209
I have seen same problem with swift project as well.  I am also attaching .log file from workspace.
[.log](https://github.com/eclipse/codewind/files/3522061/default.log)

![image](https://user-images.githubusercontent.com/713849/63373773-7f308200-c356-11e9-81db-f2852ffea019.png)

[2019-08-20 18:52] naveenkaratekid commented on #209
@jagraj So did I. At times I got NPE when creating a Swift project in Codewind in Eclipse

<img width="362" alt="Screen Shot 2019-08-15 at 11 26 35 AM" src="https://user-images.githubusercontent.com/19738071/63375574-0cc1a100-c35a-11e9-9c45-f2d664a4e942.png">

[2019-08-20 18:54] tetchel commented on #86
so if we want it to show up like the current behaviour `[Starting] [Failed to ping <whatever>]` then the regular status event `projectStatusChanged` is fine.

We are reworking this as part of https://github.com/eclipse/codewind/issues/159 so maybe we should consider that one a blocker.

[2019-08-20 18:58] makandre commented on #232
I found where the problem is

[2019-08-20 19:17] jagraj opened #236 "SVT:Open liberty app created from the template fails to start"
**Codewind version:** Latest
**OS:** Windows

**Che version:**
**IDE extension version:**
Codewind tech preview	0.3.0.v201908161735	org.eclipse.codewind.feature.group	IBM

**IDE version:**
Eclipse IDE for Enterprise Java Developers.

Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Kubernetes cluster:**

**Description:**
Open liberty app does not start which is created from the template availa

[2019-08-20 19:22] naveenkaratekid commented on #236
I too see some exceptions when I run the Open Liberty App.

OS: MacOS Mojave Version 10.14.6

IDE: Eclipse IDE for Java EE v 4.12.0
Codewind version: 0.3.0v20198161735

I attached the log file below:
[my-openliberty-59983410-b704-11e9-acbe-859539e8bb52.log](https://github.com/eclipse/codewind/files/3522248/my-openliberty-59983410-b704-11e9-acbe-859539e8bb52.log)

[2019-08-20 19:22] sujeilyfonseca commented on #236
**Codewind version:** 0.3
**OS:** Windows 10 and MacOS Mojave (10.14.5)

**IDE extension version:** latest
**IDE version:** VS Code 1.37.1 and Eclipse 2019-06 (4.12.0)

**Description:** I'm also seeing this problem with VS Code.

**Logs:**
[app.log](https://github.com/eclipse/codewind/files/3522247/app.log)

[2019-08-20 19:30] tetchel commented on #236
tagging with portal because it appears to be an issue with the OL template

[2019-08-20 19:35] #232 closed

[2019-08-20 19:58] johnmcollier commented on #219
Verified, fixed. Closing.

[2019-08-20 19:58] #219 closed

[2019-08-20 20:16] jagraj opened #237 "SVT:Open application monitor does not work for few projects and it has to be disabled in codewind explorer view"
**Codewind version:** Latest
**OS:** Windows

**Che version:**
**IDE extension version:**
Codewind tech preview	0.3.0.v201908161735	org.eclipse.codewind.feature.group	IBM

**IDE version:**
Eclipse IDE for Enterprise Java Developers.

Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Kubernetes cluster:**

**Description:**
Open application monitor does not work for few projects and it has to be

[2019-08-20 20:36] jagraj opened #238 "SVT:Codewind does not support appsody Serverless templates and this needs to be documented"
**Codewind version:** Latest
**OS:** Windows

**Che version:**
**IDE extension version:**
Codewind tech preview	0.3.0.v201908161735	org.eclipse.codewind.feature.group	IBM

**IDE version:**
Eclipse IDE for Enterprise Java Developers.

Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Description:**
SVT:Codewind does not support appsody Serverless templates and this needs to be documented.

**Ste

[2019-08-20 20:40] keithchong opened #239 "Attach debugger must be run a second time for project extensions"
**Codewind version:** latest
**OS:** Mac
**IDE extension version:** latest VS Code
**IDE version:** latest

**Description:** When restarting an extension project in debug mode, the first debug attach attempt fails (Currently, there is no delay for project extensions).  Users then have to run the Attach Debugger action 'manually' after.

**Steps to reproduce:**
1. Set up project extension environme

[2019-08-20 21:03] tetchel commented on #149
so i suppose the new pages with permalinks `mdt-eclipse-installinfo` / `mdt-vsc-installinfo.md` added in https://github.com/eclipse/codewind-docs/pull/55 should be linked to from the "more info" buttons?

[2019-08-20 21:28] johnmcollier opened #241 "`Set Deployment Registry` command missing in Theia on Che"
**Codewind version:** latest
**Che version:** 7.0.0
**IDE extension version:** latest
**IDE version:** Che-Theia@2c7485f using Theia@2c7485f
**Kubernetes cluster:** OKD 3.11

**Description:**
The `Set Deployment Registry` command in missing for me in the command palette in Codewind on Eclipse Che.
![Screen Shot 2019-08-20 at 5 11 36 PM](https://user-images.githubusercontent.com/6880023/63385814-b0

[2019-08-20 22:08] DavidG1011 commented on #237
Noticing similar problems in VSCode on MacOS as well.

Not working for:
- Eclipse MicroProfile using OpenJ9 and Maven
- LoopBack 4 API Framework for Node.js
- Runtime for Node.js applications
- Quarkus runtime for running Java applications
- Spring Boot using OpenJ9 and Maven
- Spring Boot kotlin using OpenJ9 and Maven
- Spring Boot using OpenJ9, Maven and OpenLiberty
- Runtime for Swift applicati

[2019-08-21 03:03] #241 closed

[2019-08-21 03:17] johnmcollier commented on #217
This was my mess-up, a slight typo in the Codewind deployment code:
https://github.com/eclipse/codewind-che-plugin/blob/master/codewind-che-sidecar/deploy-pfe/pkg/codewind/util.go#L103

Should be:
`codewind.PerformancePrefix + "-" + codewind.WorkspaceID`

[2019-08-21 07:34] tobespc commented on #221
PR added that adds the tests to the jenkinsfile

[2019-08-21 08:33] stalleyj commented on #65
This is a problem and it occurs because there is a certain amount of initialisation that occurs when starting / restarting and there is no concept of waiting for that to be finished. On a restart, when the user has existing projects, this takes more time and if the list projects api is called, it can give the wrong result.  I think the solution is to implement a proper ready api, how does that sou

[2019-08-21 08:35] #190 closed

[2019-08-21 13:02] tetchel commented on #65
Yes a readiness endpoint is exactly what we need

[2019-08-21 13:21] bsbyrd1 commented on #220
Need to determine whether this is an Appsody problem or a Codewind problem. If Appsody problem, then we need to determine what alternatives we have for shipping Codewind with Appsody.

[2019-08-21 13:31] markcor11 commented on #236
I have not been able to reproduce this using v0.2 or v0.3 of the Codewind Plugin.   I've also tried pulling down the template sample and running the maven build manually which also worked as does running the docker build .

If this is still an issue,  could you check your <LibertyProject>/resources/CustomConfigSource file.  It should look like this (specifically config_ordinal which your logs sugg

[2019-08-21 13:32] makandre commented on #220
@kchong ran into this error, but later re-ran and I believe it was fine (@kchong can you confirm?)

We suspect it may be a point-in-time problem due to appsody updating the version of their micro profile stack.

@jagraj were you able to retry this?

[2019-08-21 13:42] bsbyrd1 commented on #237
@tobespc Can your squad help investigate this one?

[2019-08-21 13:47] bsbyrd1 commented on #224
Related to #222

[2019-08-21 13:53] bsbyrd1 commented on #209
The next Eclipse build should fix this. Carl will follow up with Keith on this one to find out why it's not closed, since it's been committed already.

[2019-08-21 13:59] jgwest commented on #209
Here is a link to the latest development build of Eclipse 2019.09, which should include the fix:
https://hudson.eclipse.org/packaging/job/simrel.epp-tycho-build/526/artifact/org.eclipse.epp.packages/archive/
(look for `eclipse-jee-2019-09-M2-` for your appropriate platform)

This is the relevant commit:
https://github.com/eclipse/webtools.webservices/commit/4880e0e0d243f0ca6bd51bca4bc97e65985a2226

[2019-08-21 14:50] cccanderson commented on #209
Keith closed bug 541220 - it was an oversight.

[2019-08-21 15:22] tobespc opened #242 "Improve the Jenkinsfile as per comments in PR 230"
- [ ] Is there an environment variable for the codewind directory that we can use to change directory instead of relative paths? If not we can create one before cd src/pfe/portal. It'd help make the Jenkinsfile more robust in case other changes are added in between in the future.

- [ ] Check uses of -eq instead of -gt?

- [ ] Think we need the -a flag to find exited containers and in the other us

[2019-08-21 15:57] tetchel commented on #234
thx

[2019-08-21 15:57] #234 closed

[2019-08-21 16:00] mmulholl opened #243 "SVT: Add Existing Open Liberty project fails - missing files"
**Codewind version:** eclipse  - latest
**OS:** Mac

**Description:**

If I create an open liberty project (openLiberty1) all is good. Remove the project from codewind but leave on disk. Now try adding it back using add existing project wizard but the project fails to build because of missing files. See this info in .projects folder:

  "validationStatus": "failed",
  "validationResults": [
    {

[2019-08-21 17:14] sghung opened #244 "Appsody should not be installed into kube case"
**Codewind version:**
0.3.0
**OS:**

**Description:**
Appsody should check if it is in the kube environment. If it is, do not install it

**Steps to reproduce:**
Start codewind in kube environment.

[2019-08-21 17:23] thisguy-1 commented on #152
![Install: PFE Installed](https://user-images.githubusercontent.com/52169824/63453547-e6157000-c416-11e9-88e6-8ce8a2f82b47.png)

@sishida Hi sarah, can you take a look at the notification and see what doc the more info could link to and if we need a specific page it should go to?
@tetchel can you add the appropriate ID label?

[2019-08-21 17:45] tetchel commented on #237
there is a portal API to determine if the project supports metrics:
https://eclipse.github.io/codewind/#/paths/~1api~1v1~1projects~1{id}~1metrics~1status/get

Perhaps it falsely returns `true` for the appsody projects listed above

[2019-08-21 17:57] makandre commented on #244
I can take a look at this

[2019-08-21 18:18] sishida opened #247 "Improve the Codewind-node-profiler README"
The `codewind-node-profiler` repository README file could use an update: https://github.com/eclipse/codewind-node-profiler/blob/master/README.md

[2019-08-21 18:19] sishida opened #248 "Improve the Codewind-java-profiler README"
The `codewind-java-profiler` repository README file could use an update: https://github.com/eclipse/codewind-java-profiler/blob/master/README.md

[2019-08-21 18:22] sghung commented on #244
Thanks Andrew. I started to take a look, I was hoping process.env.IN_K8 could be made available in templateProvider.js in the appsody extension, but it isn't

[2019-08-21 18:31] thisguy-1 commented on #149
yes, i believe this the page that sarah made which contains the information regarding the the installation of the pfe.

[2019-08-21 18:32] mmulholl commented on #243
Added priorty/stopship:

Think this would be a common scenario. Work on the project, remove from codewind, sometime later start work on it again.

[2019-08-21 18:44] makandre commented on #244
We maybe able to use https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/utils/sharedFunctions.js#L19

But the question is when running in k8s, do we:
- don't install the plugin, or
- install but don't load, or
- load but don't return any repos?

[2019-08-21 19:19] mmulholl commented on #243
Just noticed when adding an existing Liberty Profile project the type is set to  "Microprofile / Java EE" by default. If the default is left the problem happens. However if you set the type to "Other (Basic Container)" the project imports successfully.

[2019-08-21 19:34] johnmcollier commented on #243
@mmulholl I believe that's expected currently. The Open Liberty template can't currently be used as a `Microprofile / Java EE` project, but rather must be used as a generic Docker / `Basic container` project.

The `Microprofile / Java EE` project type requires WebSphere Liberty at the moment I believe.

[2019-08-21 19:35] sishida commented on #152
Does this notification really need a "More info" link? At the moment, I don't think we have a doc that focuses solely on workspaces.

For the notification text, maybe...
[code]

[2019-08-21 19:37] johnmcollier commented on #243
I believe @rajivnathan was looking at getting it running as a Liberty project, but don't believe that's done yet. I'll let him confirm

[2019-08-21 19:46] sghung commented on #220
I ran into this issue with microprofile, I will look into this some more. I was using a microprofile project. Even though maven is updating for the IDE to work, it still shouldn't cause the microprofile app to not start.

[2019-08-21 20:30] rajivnathan commented on #243
Yes, that's correct. Open Liberty should only be supported as a docker project for the moment. https://github.ibm.com/dev-ex/dev-ex-planning/issues/945 is for adding proper support. I've already done some initial investigation on it and I think I can get it working with our liberty project type with a few changes in pfe. I'll take a stab at it tomorrow.

[2019-08-21 20:36] sghung commented on #244
Gating was done as part of https://github.com/eclipse/codewind-appsody-extension/pull/11 and has been released to https://github.com/eclipse/codewind-appsody-extension/releases/tag/0.3.0. @johnmcollier, can you try this scenario again in the kube case? If it works, I'll close. Thank you

[2019-08-21 20:49] keithchong opened #249 "Containers are brought down when making a source change for Project Extensions"
**Codewind version:** latest
**OS:** Mac OS

**IDE extension version:** Eclipse latest
**IDE version:** 2019.06

**Description:** See https://github.com/eclipse/codewind-appsody-extension/issues/12
Found this out testing extension projects running in debug mode.  @sghung found out when testing it in normal run mode.

**Workaround:**
No reasonable workaround is available.  Must fix.

[2019-08-21 20:50] makandre commented on #249
I'll take this one

[2019-08-21 20:54] makandre commented on #249
This was cased by https://github.com/eclipse/codewind-appsody-extension/pull/6

[2019-08-21 21:39] sghung commented on #244
I talked with John and he verified the fix worked, closing.

[2019-08-21 21:39] #244 closed

[2019-08-22 07:23] tobespc opened #251 "'Batch enabling template repositories' tests are failing"
I've had to comment these tests out as they are failing on PR builds now that Jenkins runs our test suite.   They need to be investigated for the failure reason and enabled again when fixed

[2019-08-22 07:24] tobespc opened #252 "'Deployment Registry route tests' are failing on PR builds"
I've had to comment these tests out as they are failing on PR builds now that Jenkins runs our test suite. They need to be investigated for the failure reason and enabled again when fixed

[2019-08-22 07:26] tobespc opened #253 "'Template API tests' failing on PR builds"
I've had to comment these tests out as they are failing on PR builds now that Jenkins runs our test suite. They need to be investigated for the failure reason and enabled again when fixed

[2019-08-22 08:08] #221 closed

[2019-08-22 08:15] tobespc commented on #222
@mattcolegate could you take a look please

[2019-08-22 08:29] tobespc opened #254 "Add a new command to the codewind cli to set/get url of codewind server"
As part of the work to let the cli communicate with the codewind server, the cli will need to know the url of where the codewind server is running.   Would like to have getters and setters on the cli for the location of the codewind server

[2019-08-22 08:42] tobespc opened #255 "Rename the codewind-installer cli to be just codewind"
The codewind-installer now does way more than just install.   I would like to see the -installer bit removed to reflect that this is a cli now and not just an installer

[2019-08-22 10:20] mattcolegate commented on #222
@jagraj Can you tell me where you got your eclipse plugin 0.3.0.v201908161735 from please?

[2019-08-22 10:45] mattcolegate commented on #222
Tested with http://download.eclipse.org/codewind/codewind-eclipse/master/58/codewind-0.2.0-201908081534.zip and did not encounter error. Unable to test with latest due to https://github.com/eclipse/codewind-eclipse/issues/225

[2019-08-22 11:32] jagraj commented on #222
@mattcolegate

I got the latest eclipse plugin  from "latest" (https://download.eclipse.org/codewind/codewind-eclipse/master/latest/).

Eclipse has to be started from command line by setting "INSTALL_VERSION=latest" variable and this will tell the installer to install latest codewind images.

[2019-08-22 11:46] jagraj commented on #236
@markcor11
After going through the logs, it is complaining about missing file which does not exist in the docker container itself that we are building.

[code]
You can take a look at the log above and the path specified in the template is wrong.

[code]

In the docker container, file is missing even though we are copying it in Dockerfile.

[code]

[code]

[2019-08-22 12:22] jagraj opened #256 "SVT:Codewind did not start in the expected time.Process did not complete and had to be terminated"
**Codewind version:** Latest
**OS:** Windows

**Che version:**
**IDE extension version:**
Codewind tech preview	0.3.0.v201908161735	org.eclipse.codewind.feature.group	IBM

**IDE version:**
Eclipse IDE for Enterprise Java Developers.

Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Description:**
I am getting following message after starting codewind from eclipse plugin tools. Even though it i

[2019-08-22 12:27] jagraj commented on #236
@tobespc
If we are going to support open liberty template from codewind then this issue seems to be "stopship".
Let me know what do you think.

[2019-08-22 12:54] tobespc commented on #236
@jagraj If a change is needed then it would be with the template so that shouldn't hold up the release.   Have you tried making this run outside of codewind ?  Mark has tested this both inside and outside of codewind and we can't get it to fail.  One thought we have had is wondering whether you have an older version of the liberty docker image installed and its that that is causing the issue.

[2019-08-22 13:00] jagraj commented on #237
More info from my investigation, All appsody projects have this variable set to true ("metricsAvailable": true). Based on my understanding this should be set to "false" if we do not support Application metrics.

[code]

[2019-08-22 13:04] tetchel commented on #237
thanks, this is a backend bug, i expect this logic fails for appsody for some reason.

[2019-08-22 13:29] tetchel commented on #256
I wonder if it is because you have so many projects

[2019-08-22 13:31] tobespc commented on #237
we have to currently assume all appsody projects do have metrics enabled.  The reason being is that due to the way appsody put their stacks together, we can't check the package.json, pom.xml etc to see if they are requiring the appmetrics modules.   So we have gone for assuming they do have it.   Going forwards, we could look to see if the dashboard endpoint exists when the app is running but this

[2019-08-22 13:41] johnmcollier commented on #255
How about `codewindctl`?

[2019-08-22 13:45] stalleyj commented on #54
I am working on a fix for this which is 90% of the way there but still has a few issues.  The logs/capabilities/build action apis are all working with projects that have autoBuild = false.

[2019-08-22 13:57] jagraj opened #257 "SVT:Project Build rank info displayed with wrong data."
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
Projects build Rank displaying wrong data in plugins.  It says [

[2019-08-22 14:23] mattcolegate commented on #222
Thanks @jagraj, that worked.
Tested against https://download.eclipse.org/codewind/codewind-eclipse/master/latest/repository (currently 0.3.0.v201908201823)
Unable to reproduce problem.
Codewind uninstallation successful.
Jag, can you re-test using the latest please?

[2019-08-22 14:25] mattcolegate commented on #222
I did wait until all my containers were running before attempting uninstallation - will try when they're building

[2019-08-22 14:34] maysunfaisal commented on #252
@tobespc Hi, how can I access the logs?

[2019-08-22 14:36] jagraj commented on #222
@mattcolegate
I had appsody  projects as well in my projects list and all project containers removed except appsody ones. Then when I tried to uninstall it failed with the error message "cannot remove codewind_network".

[2019-08-22 14:37] jagraj commented on #256
Could be, may be we need to provide settings to the user so that they can configure based on their workspace size.?

[2019-08-22 14:38] jagraj commented on #256
May be you can set these timeouts based on user projects list size.?

[2019-08-22 14:48] jagraj commented on #210
I no longer see this problem with the latest images. I can access both Java and Spring endpoint URLs.

[2019-08-22 14:48] #210 closed

[2019-08-22 14:54] sghung commented on #211
Changes have been merged into master

[2019-08-22 14:54] #211 closed

[2019-08-22 14:55] tobespc commented on #252
if you click on the build link when the PR goes up, you can see the jenkins build and get the logs from there.  For info, this is one that shows the failure
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-59/36/consoleFull

[code]

[2019-08-22 14:59] tetchel commented on #210
🤔

[2019-08-22 15:22] tetchel opened #258 "Work around App Monitor problem with Appsody projects"
A proper fix for https://github.com/eclipse/codewind/issues/237 is not straightforward.

For 0.3 we will put a fix into the IDEs to check if the monitor page 404s before opening it, and if so we will not open it.

[2019-08-22 15:23] tetchel commented on #237
opened #258 to track a 0.3 stopgap solution

[2019-08-22 15:26] mattcolegate commented on #222
OK, I've been playing with this for a while - I can't recreate the original issue seen by Jag (network) but I can make the uninstall fail if any projects are building when the uninstall command is issued. I can see two ways around the problem:
1. Make the installer and the builder robust enough to recognise the uninstall command and absolutely make sure that all projects have been stopped and remo

[2019-08-22 15:30] tetchel commented on #222
This is the case in vs code, and should be the case in Eclipse too, if it's not we should change that.

But that is a separate issue from the original

[2019-08-22 15:36] johnmcollier opened #259 "Remove projects from the Codewind devfile"
We currently clone 5 templated projects whenever a Codewind workspace is created from a devfile (see https://github.com/eclipse/codewind-che-plugin/blob/master/devfiles/latest/devfile.yaml#L16). These are the exact same projects that can be created from template in Codewind.

In order to keep a slimmer devfile and to avoid duplication, we should avoid specifying those projects in the devfile.

[2019-08-22 16:01] jgwest commented on #255
+1 for codewindctl

[2019-08-22 17:09] #249 closed

[2019-08-22 17:58] tetchel opened #261 "SVT : lots of this message : The Tekton dashboard URL is not valid:"
@mmulholl commented on [Thu Aug 22 2019](https://github.com/eclipse/codewind-eclipse/issues/226)

Running SWTBot tests for teh eclipse plugin I get this exception in the console log every time a new window is opened which is a lot. Probably being reported by eclispe but is there anything we can do?

!ENTRY org.eclipse.codewind.core 4 0 2019-08-22 10:47:57.707
!MESSAGE [ERROR ConnectionEnv.getTekto

[2019-08-22 17:59] tetchel commented on #261
I changed the backend to respond with `not-installed` if it cannot access the tekton namespace. you should not see this in the local case, though, it should always be "" there. 🤔

https://eclipse.github.io/codewind/#/paths/~1api~1v1~1environment/get

[2019-08-22 18:08] johnmcollier commented on #259
Verified, fixed.

[2019-08-22 18:08] #259 closed

[2019-08-22 19:20] #22 closed

[2019-08-22 19:20] #48 closed

[2019-08-22 19:21] #47 closed

[2019-08-22 19:24] maysunfaisal commented on #137
TODO:

- improve polling of workspace before proceeding
- Dont exit if ENV is missing until last oe

[2019-08-22 19:25] rajivnathan commented on #132
@sghung can this be closed now?

[2019-08-22 19:41] rachelwchen commented on #216
Thanks for the explanation @markcor11! I see the merit of both (combining vs. separating). Maybe we can backlog this issue for now and revisit again when we receive more user feedback on this. Out of curiosity, what were some reasons for combining the graphs?

[2019-08-22 20:49] johnmcollier opened #262 "Add Codewind ingress to Portal environment API"
The Codewind Theia extension is currently manually constructing the Codewind ingress URL in order to display the performance dashboard in the browser. This works fine as-is, but if the Codewind ingress URL format changes at all, it will break the extension.

Rather than constructing the URL manually, the Codewind ingress/route should get added to Portal's environment API so that it can be retrieve

[2019-08-22 20:50] johnmcollier commented on #262
@markcor11 FYI

[2019-08-22 20:52] #217 closed

[2019-08-22 21:38] rajivnathan commented on #243
After doing some digging I found that the project type detection code in Turbine is not being used. The project type detection code is in the initialize container which is called by portal code so I'll move this over to the portal area.

**Investigation details**
Project detection code is here:
https://github.com/eclipse/codewind/blob/e78feedc913500f39ac3a1e1f0dde729dbc69067/src/initialize/src/con

[2019-08-22 21:53] rajivnathan commented on #243
Added workaround instructions to the issue description. Given the simple workaround I don't believe this should be prioritized as stopship.

[2019-08-22 21:57] #119 closed

[2019-08-22 23:15] rajivnathan commented on #236
Think there's some confusion because the project will still be in running state and the open liberty server shows a default page so it appears that the app is running but the sample application contents don't appear to be there and there are errors in the server logs.

I investigated a bit and there appear to be a couple problems. Here's a PR that fixed it (at least for me):
https://github.com/mic

[2019-08-23 03:10] jagraj commented on #236
@rajivnathan
Thanks for the fix, now app starts fine and no more exceptions in the log.

@tobespc
Verification is done, Please go ahead and merge this PR. (https://github.com/microclimate-dev2ops/openLibertyTemplate/pull/1)

[2019-08-23 08:31] eddie-95 commented on #243
I'll take a look into this.

[2019-08-23 08:37] tobespc commented on #236
merging done, closing issue

[2019-08-23 08:37] #236 closed

[2019-08-23 12:33] ebuckle commented on #243
After a quick look, updating `typeDetectionController.ts` to check for `<groupId>com.ibm.websphere.appserver.api</groupId>` in pom.xml in addition to the current check will correctly identify liberty projects and assign the `docker` type to imported open liberty projects. So the project does not fail as above.

However, this hits another issue. While an imported open liberty project is correctly a

[2019-08-23 12:36] mattcolegate opened #264 "Eclipse plugin context menu showing invalid options"
**Codewind version:** latest
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** latest
**IDE version:** Version: 2019-06 (4.12.0)
**Kubernetes cluster:** N/A

**Description:**
In the Eclipse view 'Codewind Explorer', right-clicking the Codewind icon produces a context menu with options like Start, Stop, Install, Uninstall. This menu is not being refreshed on state changes properly

[2019-08-23 12:38] mattcolegate commented on #222
Opened https://github.com/eclipse/codewind/issues/264 to track the new issues I've found. @jagraj, I suspect this issue was caused by selecting Uninstall whilst the projects were still building. I certainly can't recreate it when the projects are all Running or all Stopped. I move to close this issue as Unable to Recreate.

[2019-08-23 13:17] sujeilyfonseca opened #265 "SVT: "Open Tekton Dashboard” is currently visible in local scenarios, even when it doesn't work"
**Codewind version:** 0.3
**OS:** MacOS Mojave (10.14.5)

**IDE extension version:** latest
**IDE version:** VS Code 1.37.1

**Description:** “Open Tekton Dashboard” is currently visible in local scenarios, even when it doesn't work.

<img width="733" alt="Screen Shot 2019-08-23 at 9 11 51 AM" src="https://user-images.githubusercontent.com/49531960/63595053-16c7e780-c586-11e9-8b33-a25ef7429614.png

[2019-08-23 13:34] sujeilyfonseca opened #266 "SVT: Performance Dashboard doesn't work for some projects"
**Codewind version:** 0.3
**OS:** Windows 10 and MacOS Mojave (10.14.5)

**IDE extension version:** latest
**IDE version:** VS Code 1.37.1

**Description:** Performance Panel doesn't work for some projects. Although this problem could be solved with the solution to the Application Monitor problem, I opened this to consider or be aware of the Performance Panel problem.

Does not work:
1.	Appsody Ec

[2019-08-23 14:17] sujeilyfonseca opened #267 "SVT: Appsody Spring Boot projects have several error messages in appsody.log"
**Codewind version:** 0.3
**OS:** Windows 10 and MacOS Mojave (10.14.5)

**IDE extension version:** latest
**IDE version:** VS Code 1.37.1

**Description:** Appsody Spring Boot projects have several error messages in appsody.log

``
[Container] 2019-08-23 13:37:39.518  INFO 161 --- [io-8080-exec-58] i.j.internal.reporters.LoggingReporter   : Span reported: 4df12176ff52405d:be73254be59f98a0:4df1217

[2019-08-23 14:21] beccabau opened #268 "SVT: Cannot use old project names, even though they no longer exist"
**Codewind version:** 0.3.0.v201908201823
**OS:** macOS Mojave Version 10.14.6

Eclipse/IDE Environment: Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Description:**
I cannot reuse names I've used in previous installs of codewind on eclipse, even though they don't exist in the codewind-workspace folder (and .projects is empty, too)

ex:
![image](h

[2019-08-23 15:31] sujeilyfonseca commented on #228
I tested this problem in VS Code and Eclipse with latest Codewind images, and it doesn't happen anymore:

<img width="1326" alt="Screen Shot 2019-08-22 at 4 43 38 PM" src="https://user-images.githubusercontent.com/49531960/63604323-6cf25600-c599-11e9-8778-baea885fd052.png">

<img width="698" alt="Screen Shot 2019-08-22 at 5 26 02 PM" src="https://user-images.githubusercontent.com/49531960/63604335

[2019-08-23 15:32] maysunfaisal opened #269 "Enable HTTPS application support on Codewind"
**Codewind version:** latest
**OS:** Local/Kube

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description of the enhancement:**

Codewind needs to be able to ping an https application and support it. Currently, if a user brings in an https application; Codewind never is able to fully support it by detecting its health/endpoint.

**Proposed solution:**

[2019-08-23 15:54] makandre opened #270 "Ability for Codewind CLI to run extra commands when creating project"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

When the CLI is used to create a new project, it would be good if it can run extra commands on the project depending on the type.

A use case for this is for appsody support.  For appsody projects, we need to run the `appsody init` command to set

[2019-08-23 15:55] makandre commented on #270
As discussed with @tobespc.  Please tag as appropriate.

[2019-08-23 15:56] maysunfaisal commented on #269
@rajivnathan can you pls assign me the issue along with the iterative-dev label and docs label? I have to update the doc for the new setting that has been introduced.

[2019-08-23 16:15] sghung commented on #267
We'll take a look and most likely open an issue against appsody. Those messages don't seem to be codewind related and is specific to that appsody app.

[2019-08-23 16:16] makandre opened #271 "Ensure Appsody CLI is available if user wants to use Appsody in Codewind"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

In order to enhance the IDE experience for developers using Appsody in Codewind, we are requesting via #270 for Codewind CLI to be able to invoke `appsody init` command when creating Appsody projects.

This does mean `appsody` needs to be on the

[2019-08-23 16:16] makandre commented on #271
As discussed with @tobespc. Please tag accordingly

[2019-08-23 16:36] sghung commented on #132
Yes, this can be closed now

[2019-08-23 16:36] #132 closed

[2019-08-23 16:43] sishida opened #272 "Add Codewind logos and media to a repo"
We need to upload our logo and media images to a Codewind repo.

Should we put the content in a "Media" or "devAdvocacy" folder in the existing Eclipse/Codewind repo, or should we create a new Codewind-media or Codewind-devAdvocacy repo?

We'll look at other repositories and projects to see how they have organized their content.

[2019-08-23 17:19] sishida commented on #106
@johnmcollier, @tobespc: Now that https://github.com/eclipse/codewind-docs/pull/67 has been merged, is this issue good to close? If so, could you please close it? (I'm not a committer yet.) Thank you!

[2019-08-23 17:19] johnmcollier commented on #106
@sishida Yup!

[2019-08-23 17:19] #106 closed

[2019-08-23 17:29] thisguy-1 commented on #151
<img width="695" alt="Screen Shot 2019-08-23 at 1 29 08 PM" src="https://user-images.githubusercontent.com/52169824/63611524-06c1ff00-c5aa-11e9-9cb2-9a27d9435768.png">
@tetchel

[2019-08-23 17:37] thisguy-1 commented on #151
@sishida, please review writing of the notification and where "more info" should point to.

[2019-08-23 17:42] thisguy-1 commented on #152
There isn't any place where we talk about workspaces? If not, this is something that needs to be created because it is one of the more confusing parts of Codewind and will also be a part of the new welcome page.

[2019-08-23 17:57] thisguy-1 commented on #159
per our conversation with @tetchel @elsony and @jopit, when a user first builds an app, s/he will only see [Building - xyz], while in the Project overview, which has popped up, they can see that the application state is "unknown - waiting for build". Bellow is still a work in progress but wanted to illustrate what this would look like:
<img width="732" alt="Screen Shot 2019-08-23 at 1 51 03 PM" sr

[2019-08-23 18:02] thisguy-1 commented on #160
As an edit to the above, having a "readme section" is not possible, so the readme will popup next to the overview, and a link to the readme file will be in the overview.

[2019-08-23 18:05] #228 closed

[2019-08-23 18:05] thisguy-1 commented on #160
Work in progress, need feedback @jopit @elsony @tetchel @deboer-tim :
<img width="731" alt="Screen Shot 2019-08-23 at 2 04 34 PM" src="https://user-images.githubusercontent.com/52169824/63613524-f82a1680-c5ae-11e9-9b0e-533489bb127e.png">

[2019-08-23 18:06] eharris369 commented on #264
I could reproduce this if I don't click on anything else in between (change the selection).  It looks like because the item in the view is already selected there is no selection event which is what triggers the menu items to update.  May have to force a selection event.

[2019-08-23 18:54] tetchel opened #273 "'Tekton not installed' message needs improving"
![image](https://user-images.githubusercontent.com/8888438/63616610-ef890e80-c5b5-11e9-8149-6ff629b8ecda.png)

- It should read "tekton dashboard" not just "tekton"
- recreate -> re-create 🌴

[2019-08-23 18:58] tetchel commented on #243
putting stopship label back so we can decide during a checkpoint

[2019-08-23 19:54] sishida commented on #152
@thisguy-1 What if we placed the workspace info on the page that gives more info about installing? https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-vsc-installinfo.md

We could add a new section called "Understanding workspaces" or something. @tetchel Could you help provide details?

[2019-08-23 20:53] tetchel opened #274 "Make project type appear as Appsody not appsodyExtension"
@tetchel commented on [Tue Aug 20 2019](https://github.com/eclipse/codewind-eclipse/issues/223)

https://github.com/eclipse/codewind-eclipse/issues/217#issuecomment-523082461

[2019-08-23 21:10] tetchel commented on #258
@tobespc if this ping fails, should we also hide the Perf Dashboard action? (if so, i will also do this ping before opening the perf dashboard)

[2019-08-23 21:13] tetchel commented on #268
can you reproduce this in vs code?

[2019-08-23 21:14] tetchel commented on #266
this will be fixed along with https://github.com/eclipse/codewind/issues/258

[2019-08-23 21:17] tetchel commented on #265
that action is hidden for me. Did you download your vsix from https://download.eclipse.org/codewind/codewind-vscode/master/latest/?d ?

[2019-08-24 22:21] eharris369 commented on #268
Do the projects still exist in the Eclipse Project Explorer view?  If they do then this is normal for Eclipse.  You need to delete the projects in Eclipse as well.  Normally a user would delete the projects using Eclipse (right click on the project in the Codewind Explorer view and select remove, it will ask you if you also want to delete the project).  If deleted using Eclipse then this will not

[2019-08-26 13:10] sghung commented on #239
Documented as part of https://github.com/eclipse/codewind-docs/pull/71. Can close once that gets in

[2019-08-26 15:29] jagraj opened #275 "SVT:OpenAPI need docs improvements for Windows users"
Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Description:**
OpenAPI generation on windows fails if path does not exist. User has to create folder manually to generate OpenAPI artifacts.

We need to document this for the users.

**Steps to reproduce:**
1. Install latest codewind.
2. Add sample openapi yaml file.
3. Right click on the project to generate OpenAPI artifacts.
4. In the dialog w

[2019-08-26 15:42] jagraj opened #276 "SVT:Need docs how to install latest codewind from eclipse and vscode tools"
Version: 2019-06 (4.12.0)
Build id: 20190614-1200

**Description:**
We need docs to the codewind users how to install latest codewind from Eclipse and VScode plugins.

These instructions need to address for both Windows, MacOS and Linux operating systems.

Users have to set this variable from command line/Terminal before starting eclipse/vscode tools.

Windows :
`set CW_TAG=latest`

MacOS/Linux :

[2019-08-26 17:02] #273 closed

[2019-08-26 17:13] #268 closed, assigned to nobody

[2019-08-26 20:01] tetchel opened #277 "remove open tekton inline button"

[2019-08-27 10:38] ebuckle commented on #243
Have now recreated issue in both VSCode as well as Eclipse. Still currently using the identification method as in my previous comment but will find a better solution as per @rajivnathan 's suggestion.

As shown below, this now correctly identifies Open Liberty projects and has the correct project type and language selected in eclipse. The user simply needs to accept:

<img width="529" alt="image"

[2019-08-27 10:44] rwalle61 opened #278 "Add Go CLI cmds to manage templates"
**Description of the enhancement:**
To manage project templates, Codewind Vscode plugins want to call the Codewind Go CLI rather than Codewind's REST API directly.

**Proposed solution:**
- [x] List templates (and filter by `projectStyle` and `showEnabledOnly`) https://github.com/eclipse/codewind-installer/pull/81, https://github.com/eclipse/codewind-installer/pull/91
- [x] List project styles htt

[2019-08-27 11:08] rwalle61 opened #279 "Allow PFE to enable/disable template extensions (e.g. Appsody)"
**Description of the enhancement:**
The Appsody extension to Codewind is enabled by default, so users by default have to see Appsody templates. However, some users want to be able to disable/hide them.

**Proposed solution:**
We can currently enable and disable individual template repositories. We could add similar APIs so that we can also enable and disable template _extensions_, such as Appsody.

[2019-08-27 11:56] mattcolegate commented on #222
@jagraj Can you close this issue? I don't have the permissions to be able to.

[2019-08-27 11:58] mattcolegate opened #280 "Eclipse Plugin allows Uninstall where it would cause errors"
**Codewind version:**   `latest`
**OS:** Windows 10

**Che version:** N/A
**IDE extension version:** 0.3.0.v201908262000
**IDE version:** Eclipse 2019-06 (4.12.0)
**Kubernetes cluster:** N/A

**Description:**
The Eclipse plugin allows `Uninstall` to be selected in the Codewind Explorer context menu when it would cause errors:
1. When projects are building
1. When Codewind is stopped but the user h

[2019-08-27 12:23] jagraj opened #281 "SVT:Appsody Microprofile project status says "Build Successful" even though it is building"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**

Appsody Microprofile Java project says "Build Successful" even

[2019-08-27 12:32] rwalle61 commented on #279
I see we also have `providers` in `Templates.js`. So shall I combine `providers` and `repositories` into `sources`?

[2019-08-27 13:40] #258 closed

[2019-08-27 13:40] #266 closed

[2019-08-27 13:42] #277 closed, assigned to nobody

[2019-08-27 13:48] sghung opened #282 "Dynamically determine the app and debug port for appsody"
**Codewind version:**
0.3.0

**OS:**
Any

**Description of the enhancement:**
Currently, the ports for the appsody projects are manually added and maintained by the appsody codewind extension. Ideally, it should be dynamically generated to ensure all stacks have a proper app and debug port (stacks can be added at anytime by the appsody team)

**Proposed solution:**
Solution to be investigated.

[2019-08-27 14:14] josephca opened #283 "Add timeout for Jenkins build"
Add a timeout to Codewind Jenkins build so that a stale build doesn't block other build requests in the queue. Especially, when adding test suites, the PR builds hog VPS.

[2019-08-27 14:19] makandre opened #284 "[Development only, not for end users] A way to disable auto-install of extensions for developers"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The capability to auto install extensions was added via #200 and #231.  For developers working on extension code, this is troublesome because restarting Codewind would overwrite their local working copy of the extension with what's bundled

[2019-08-27 14:31] makandre opened #285 "Improve extension auto-install version checking"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

In #200, auto-install of extensions was added to Codewind.  The initial implementation only does a simple backup of an existing extension during the install.

We should improve this to do some version checking, and install/overwrite only if

[2019-08-27 14:35] makandre opened #286 "Appsody extension should not call "appsody init" anymore"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

After #270 and #271, the appsody extension will no longer need to call `appsody init` command.

**Proposed solution:**

[2019-08-27 14:58] yangcao77 opened #287 "App status error missing in projectStatusChanged socket event"
The new error message added shows up in the log, but is missing in the socket event.

[code]

[2019-08-27 15:33] johnmcollier opened #289 "Tekton role needs updated permissions to list the Tekton Dashboard service"
**Codewind version:** latest
**Che version:** latest
**Kubernetes cluster:** OpenShift 3.11

**Description:**
The Tekton cluster role that we're requiring for the Tekton dashboard integration needs updated roles in order to list the Tekton dashboard's service, rather than ingress

[2019-08-27 16:01] DavidG1011 opened #291 "SVT: Tekton dashboard not opening from Codewind if installed using Openshift release of dashboard"
**Che version: 7.0.0**
**Kubernetes cluster: Openshift**

**Description:**
Using the instructions listed here:
https://github.com/tektoncd/dashboard#install-on-openshift
Codewind is unable to open the Tekton dashboard.

**Steps to reproduce:**
1. Install pipelines using: https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on-openshiftminishift
2. Install da

[2019-08-27 16:13] makandre opened #292 "Support binding existing project to appsody"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

When binding (importing) a project in codewind, they should be able to choose appsody as a selectable type

**Proposed solution:**

See https://github.com/eclipse/codewind/issues/292#issuecomment-526356002

[2019-08-27 16:18] makandre opened #293 "[Codewind binary bundling] A way to sync appsody binaries given their two week releases"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

To prevent appsody binaries from being stale, we should work with appsody team to figure out a way to update our binaries through some automated way

**Proposed solution:**

[2019-08-27 16:31] #291 closed, assigned to nobody

[2019-08-27 18:53] #146 closed

[2019-08-27 19:45] ssh24 opened #297 "Docker project exposed ports not picking up on first build"
**Description:**

If you change the expose port on the Dockerfile of a docker project and rebuild the project, the first build does not pick up the new exposed port. You need to click on build again for the new port to be picked up.

**Steps to reproduce:**
1. Create a docker project.
2. Change the expose port on the Dockerfile of the project.
3. Rebuild the project.
4. You will notice the project

[2019-08-27 19:49] jagraj opened #298 "SVT:Open liberty template failed to deploy from codewind che"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:** 7.0
**IDE extension version:** latest
**IDE version:** 0.3

**Kubernetes cluster:**

Openshift

**Description:**
Open liberty template failed to deploy from codewind che. I do not see helm chart defined for this template.

**Steps to reproduce:**
1. Install Openshift
2. Install Codewind che with the latest images.
3. Create open libert

[2019-08-27 20:16] naveenkaratekid opened #299 "Projects not disabling in Codewind Appsody VSCode Windows after building"
**Codewind version: 0.3.0**
**OS: Windows 10**
**IDE: Visual Studio Code**

**IDE extension version: 0.3.0**
**IDE version: 1.37.1**

**Description:**
Project templates won't disable when I try to disable it after building it. The project stays at the "Build Succeeded", "Running", or "Starting" stages. This applies to these Appsody templates:
- Loopback 4
- Node JS
- Microprofile
- Node JS Express

[2019-08-27 20:31] markcor11 commented on #216
@rachelwchen If I remember correctly,  the main reasons for switching to the single chart design was feedback from users seeing the early multi-chart prototype:

1.  "I don't want to have to scroll up and down to see the different chart counters"
2.  "I always want to see Response Time first - its the most important counter"
3. "I want to be able to compare different counters eg. Response Time vs

[2019-08-27 20:51] naveenkaratekid opened #300 "ClosedConnectionException when trying to debug certain Appsody templates in VSCode Windows"
**Codewind version: 0.3.0**
**OS: Windows 10**
**IDE version:1.37.1**

**Description:**
Error being thrown when I attempt to debug any of the following Appsody templates:

- **Springboot Default**
- **Microprofile**
- **Springboot Kotlin**

Whenever I try to debug any of the templates I listed above, after a few moments, I get a popup that says

**"Failed to attach to remote debuggee VM. Reason: c

[2019-08-27 21:15] rachelwchen opened #301 "Codewind landing page: image overlap, covering "Get Started" button and VSCode image"
**Description:** on https://www.eclipse.org/codewind/, the building image covers the "Get Started" button and the VSCode image.
![image](https://user-images.githubusercontent.com/12159451/63808515-f9bc4d00-c8d4-11e9-8fcc-fad0f8568f1b.png)

**Steps to reproduce:** I'm viewing the landing page on a bigger monitor (3840x2160 resolution).

[2019-08-27 21:43] rachelwchen opened #302 "On landing page: provide more ways to get started"
**Description of the enhancement:**
On the landing page, the "Get Started" button only appears in the first section. Once the user scrolls pass that, there's no other way to get to the "Get Started" doc page. See the landing page at https://www.eclipse.org/codewind/.

**Proposed solution:**
Maybe add another "Get Started" button towards the bottom, or provide a more persistent way to reach the "Ge

[2019-08-27 22:01] rachelwchen opened #303 "Improve the message for when a user tries to start Codewind without Docker running"
**Codewind version:** 0.2.0
**OS:** MacOS Mojave 10.14.6
**IDE version:** VSCode 1.37.1

**Description of the enhancement:**

When a user tries to run Codewind, in the VSCode Codewind Workspace, an error message reads: "Cannot connect to the Docker daemon at .... Is the docker daemon running?" During the usability study, we found that this message could be improved, since the latter part ("Is the

[2019-08-27 22:25] rachelwchen opened #304 "Improve the error message for when a user tries to open app in browser while the app hasn't "started""
**Codewind version:** 0.2.0
**OS:** MacOS Mojave 10.14.6
**IDE version:** VSCode 1.37.1

**Description of the enhancement:**

When a user tries to open app in the browser while the app is still building, the alert message says "You can only open projects that are Started in the browser." Two users were confused by this message, because A) it's unclear that "Started" refers to application status, a

[2019-08-27 22:57] rachelwchen opened #305 "Performance dashboard: test history disappearance for running different endpoints"
**Codewind version:** 0.2.0
**OS:** MacOS Mojave 10.14.6
**IDE version:** VSCode 1.37.1

**Description:** When we looked at the Performance Dashboard with usability study participants, we noticed an issue with test history disappearance. Specifically, in the "Test history" table, details associated with endpoint A disappear as soon as a test with endpoint B is run.
![image](https://user-images.git

[2019-08-28 06:51] markcor11 commented on #305
This problem has been fixed in PR225  :  https://github.com/eclipse/codewind/pull/225 that is currently queued to be merged .

[2019-08-28 08:15] ebuckle commented on #243
@tetchel I think showing that dialog would be good. Feels intuitive to give the user the option to use Codewind's type detection or to disregard it and use their own, in the docker case.

[2019-08-28 10:38] akhileshbhople opened #307 "Codewind test case failure on ppc64le"
**Codewind version: Master branch**
**OS: RHEL 7.6 (arch : ppc64le)**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

I have successfully ported the codewind components (initialize, performance & pfe) to work with IBM POWER (arch : ppc64le). I am running unit test cases, for which I have set up the codewind via available docker-compose

[2019-08-28 12:34] jagraj opened #308 "SVT:Appsody spring project failed to debug"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**

**Description:**
Failed to debug appsody spring default project. I added breakpoi

[2019-08-28 14:00] jagraj opened #309 "SVT: Codewind can not get to Tekton Dashboard if Tekton installed after codewind install"
**Codewind version:** 0.3
**OS:** RH

**Che version:** 7.0
**IDE extension version:** Theia plugin 0.3
**IDE version:** Theia 7.0-rc4
**Kubernetes cluster:** OpenShift

**Description:**
Codewind can not access Tekton Dashboard URL if it is installed after codewind.
We get this message in the log.

[code]

When this happens, the user has to stop workspace and restart workspace from Eclipse Che admi

[2019-08-28 14:39] DavidG1011 opened #310 "SVT: [Che] Java spring projects not deleting"
Codewind version: 0.3
OS: RHEL
Che version: 7.0.0
IDE extension version: Theia plugin 0.3
IDE version: Theia 7.0-rc4
Kubernetes cluster: OpenShift

**Description:**
Java spring projects have permission issues and thus can't be removed from the project workspace.

**Steps to reproduce:**
1. Create Java spring project
2. Remove project from codewind/delete directory

Result: Project remains in explo

[2019-08-28 14:49] #308 closed, assigned to nobody

[2019-08-28 15:04] jagraj opened #311 "SVT:Open container shell does not work for some of appsody projects started in debug mode"
**Codewind version:** 0.3
**OS:** WIndows 10

**Che version:**
**IDE extension version:** latest (0.3.0.v201908161735)
**IDE version:**
Eclipse IDE for Enterprise Java Developers.
Version: 2019-06 (4.12.0)
Build id: 20190614-1200
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 1.8.0_201

**Kubernetes cluster:**
**Description:**

Open container shell does not open if some of the appsody projec

[2019-08-28 15:27] tobespc commented on #293
Can we look to add a stage to install of codewind so that it pulls a blessed version of appsody at install rather than ship a version ?  That way we would be able to install the latest tested codewind ready of appsody without having to release a new codewind

[2019-08-28 17:06] sghung opened #313 "Handle the auto build option for Appsody projects"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
The auto build option currently does nothing in Codewind.

**Proposed solution:**
We should ask Appsody if they plan to support it, if not investigate whether we come up with a workaround or find a way to disable this option from the IDE (si

[2019-08-28 17:14] sghung opened #314 "Provide notification when appsody stacks have no server implemented"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
For swift and node.js Appsody templates, there is no server, so the application will never show as started until the user implements the server.

**Proposed solution:**
It would be nice if the user was notified that they need to implement an

[2019-08-28 17:30] ssh24 opened #315 "Add Turbine functional test README"
**Description of the enhancement:**
Now since we have Turbine functional test for the docker project types working, we should add documentation on how to run the tests. This story can be used to add the readme.

**Proposed solution:**
The read me can be under: `src/pfe/file-watcher/server/test/functional-test` and should provide list of functions being tested, list of projects being tested and how

[2019-08-28 17:31] ssh24 opened #316 "Add Turbine unit test README"
**Description of the enhancement:**
Now since we have Turbine unit test working, we should add documentation on how to run the tests. This story can be used to add the readme.

**Proposed solution:**
The read me can be under: `src/pfe/file-watcher/server/test/unit-test` and should provide list of functions being tested and how to run the tests.

[2019-08-28 18:03] sghung opened #317 "Integrate appsody test automation as part of builds"
**Codewind version:** 0.3.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Test automation is in progress, but once it is complete, we should see how it would be integrated into PR builds.

**Proposed solution:**

[2019-08-28 18:53] #275 closed, assigned to nobody

[2019-08-28 19:18] josephca opened #319 "Add 'latest' folder for codewind-installer download area"
Add 'latest' folder with the latest build info file and binaries for codewind-installer.

[2019-08-28 19:41] sghung opened #320 "Improved app status for appsody projects"
Need to get back better application status (e.g. build status). May need to talk with Appsody to give us better notification.

[2019-08-28 19:46] sghung opened #321 "Appsody support on Kube"

[2019-08-28 20:14] #319 closed, assigned to josephca

[2019-08-28 21:07] #304 closed, assigned to nobody

[2019-08-28 21:14] rachelwchen commented on #305
Perfect, thanks @markcor11! Sorry didn't see that PR earlier. We'll check out the new design and keep iterating :)

[2019-08-28 21:25] naveenkaratekid commented on #300
After verifying the issue in Mac and Windows, myself, @DavidG1011, and @sujeilyfonseca got the issue fixed using the workaround that was provided to us. In Windows, there is a different workaround we discovered: start by entering debug mode. Let the process finish, and expect it to fail (already documented that it will fail the first time). Wait for the restart notification on the bottom bar to fa

[2019-08-28 21:33] tetchel opened #325 "Noticable slowness when creating first project due to GETting list of templates"
Since the Appsody extension is now doing a bunch of processing to get the list of templates, the Create wizard takes a few seconds to come up, which users will not like.

We should show feedback, such as by opening the Create wizard with the "busy" flag active, while fetching this list.

[2019-08-28 21:38] GeekArthur commented on #310
For project deletion issue: the cache image including `.m2` folder with 777 permission is ready, Joseph will push it to Dockerhub tomorrow.

For project creation issue: I just give a try, reproduce steps are:
1 Delete spring project
2 Create spring project with the same project name that just deleted
This is due to the target folder still exist under spring project not from the `.m2` folder

[2019-08-28 23:31] josephca opened #327 "Build failed during test suite stage"
Test suite failed with the following message.
Jenkins build: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.3.0/2/console

11:10:09   message: projectDeletion
11:10:09   data: {
11:10:09    "operationId": "c059a69ba63d1894bb63ce2b8516364f",
11:10:09    "projectID": "cc829ed0-c9a5-11e9-adc5-df8cb98ef6c2",
11:10:09    "status": "success"
11:10:09  }
11:10:09  [91m[28/08/19 15:09:46

[2019-08-28 23:37] josephca opened #328 "Use -u parameter to map the user id properly when you call docker in Jenkins"
JIPP docker build agent experienced a disk space issue and the agent was cleaned manually by Eclipse team.  When calling docker command we should use -u parameter.

Bugzilla ticket: https://bugs.eclipse.org/bugs/show_bug.cgi?id=550488

Copying the response from Eclipse team :

I've notice something else: all the workspace files are owned by root, as they are eventually written by the docker daemon

[2019-08-29 03:58] akhileshbhople commented on #307
Hi @johnmcollier please find the attached logs.
[codewind-test-results.txt](https://github.com/eclipse/codewind/files/3553760/codewind-test-results.txt)

[2019-08-29 08:38] #283 closed

[2019-08-29 08:54] stalleyj commented on #327
@josephca Do you remember the actual test failure as the link is dead and the output you have included is just the end of the log ? There are many errors in the log because we test error cases so it's difficult to identify unexpected issues.

[2019-08-29 10:03] ebuckle commented on #271
I'll look into this

[2019-08-29 13:18] josephca commented on #327
@stalleyj Sorry, the build was removed by the scheduled clean. Here is a PR build to show the same error. https://ci.eclipse.org/codewind/job/Codewind/job/codewind/view/change-requests/job/PR-322/1/console

[2019-08-29 13:59] stalleyj commented on #54
PR is ready for review https://github.com/eclipse/codewind/pull/330

[2019-08-29 14:08] stalleyj commented on #327
Looks like our Project Lifecycle tests are timing out. I think the best solution is to separate these out to a separate step in the Jenkinsfile. You could skip them as a quick fix and i can get the work done to separate next week.

[2019-08-29 14:59] makandre commented on #279
Nothing really wrong with the design, but I'm not keen about introducing yet another API endpoint, esp when the operations are doing almost the same thing as operations on `templates/repositories`.  Also having both `/api/v1/templates/extensions` and `/api/v1/extensions` seems confusing.

In one of the previous meetings, it was discussed that we should treat each "repository entry" as a "repositor

[2019-08-29 15:11] makandre commented on #279
Alternatively, maybe whether an extension provides templates or not, should be a property (e.g. `enableTemplates`) on the extension resource at the `extensions` endpoint.  Then, we could use the `GET/PATCH extensions` API to set this property to true/false on the resource.

In this case I think we would need that separate json file to track this property (thus an extension resource would be a comb

[2019-08-29 15:54] maysunfaisal opened #331 "Codewind Log spams during project creation"
When I create a Microprofile project on Che using CW; my CW logs gets spammed:

[code]

[2019-08-29 16:12] GeekArthur commented on #310
Cache image has pushed to Dockerhub with the `.m2` folder permission that can be removed, so Spring project deletion and creation should work, please verify.

[2019-08-29 18:24] rajivnathan opened #332 "Microprofile non-loose application updates aren't working"
**Codewind version:** 0.3.0
**OS:** Any

**Che version:** 0.3.0
**IDE extension version:** any
**IDE version:** any
**Kubernetes cluster:**

**Description:**
If the liberty-maven-plugin is configured with `<looseApplication>false</looseApplication>` then incremental updates won't work. This is because `mvn compile` is called for all update scenarios but non-loose applications require `mvn package`