[2020-03-13 21:28] BinaryWizard904 commented on #2481
Amended the commits in my push requests to include the missing sign-offs.  First time working with Eclipse projects and I somehow managed to miss that requirement.

[2020-03-14 16:22] keithchong commented on #2466
Hi @jagraj , please verify in the latest 0.10.0 build.

[2020-03-15 03:03] keithchong commented on #2481
Thanks @BinaryWizard904 for updating the Eclipse plugin too.  I'll have a look at the PRs.

[2020-03-16 09:53] jcockbain commented on #1961
For Docker Desktop there's the 'insecure registries' panel under preferences -> daemon which then fixed it for me. The others mentioned I haven't tried, apart from OCP 4.

But yes, as you've said, setting an insecure registry would likely always be a manual step which is necessary to use our deployed registry. This is something we could document, for example with a `setting image registry` page in

[2020-03-16 10:14] rwalle61 commented on #2347
/kind Test

[2020-03-16 10:17] james-wallis commented on #2191
Development is taking place on https://github.com/eclipse/codewind/compare/master...james-wallis:project-link

I'm working by going through each project-type as some (Node.js, Spring, Liberty) have enhancements to enable them to restart quickly - bypassing a `docker build/run` on every code change.

I'll track each project type below (Local only)
- [ ] Node.js - Network envs get added just before

[2020-03-16 10:47] NikCanvin commented on #2465
I raised this with toby's squad at our daily meeting, to get wider feedback..
.. we all felt that the Java App should NOT BE RUNNING after a BUILD FAILURE, as if a User introcduces a build failing change they would not expect the App to be running (as a User, this was not the behavior I assumed)
.. also, NodeJS behaves the opposite way to Java, after BUILD FAILURE the app is NOT running

thanks.

[2020-03-16 11:02] #2482 closed

[2020-03-16 11:07] ebuckle commented on #2479
/assign

[2020-03-16 11:14] jcockbain commented on #1961
Takeaway from the meeting was whether we go with the in-cluster registry or not, we can improve our documentation to lessen this pain point for the user.

@johnmcollier is your preference still improved IDE and Codewind docs?

I'll look into what we can add and work with @micgibso on them.

[2020-03-16 11:29] micgibso commented on #722
Improvements made, PRs merged, have heard no more comments about this, closing...

[2020-03-16 11:29] #722 closed

[2020-03-16 12:23] jcockbain commented on #1961
Our current docs for this are [vs-code](https://www.eclipse.org/codewind/remotedeploy-vscode.html#adding-a-deployment-registry) and [eclipse](https://www.eclipse.org/codewind/remotedeploy-eclipse.html).

I wonder if its worth adding a section centrally which covers more about our need for a registry, things such as:

- what we use the registry for
- which type of projects require a registry and wh

[2020-03-16 12:28] jopit commented on #2476
Agreed, this is not stop-ship

[2020-03-16 12:42] jagraj commented on #2476
/priority hot

[2020-03-16 12:57] jagraj opened #2484 "SVT:IntelliJ:Import project wizard displays language "Unknown" before selecting actual language in Project selection wizzard"
**Codewind version:** 0.10.0
**OS:** WIndows 10

**Che version:**
**IDE extension version:** 0.10.0
**IDE version:** 2019-3.3
**Kubernetes cluster:**

**Description:**
During lagom project import wizard says language "Unknown" before selecting in project selection wizard. Trying to understand actual flow, it would be nice to hide "Language" if it is Unknown and provide option in language selection

[2020-03-16 13:07] malincoln commented on #2384
@tobespc will provide list of projects supported.

[2020-03-16 13:11] makandre commented on #2356
@rajivnathan I found a better solution for this, using a combination of `npm pack` to pre-download the `nodemon` package and install from it.  I have the changes in PR #2485, could you and @elsony please take a look?

[2020-03-16 13:48] tobespc commented on #2384
lagomTemplate, pythonTemplate and goTemplate do not provide any metrics (load test will run but you would not see any results) and you cannot inject metrics.

nodeExpressTemplate, springJavaTemplate, swiftTemplate, javaMicroProfileTemplate all provide out the box metrics and performance summary data.

openLibertyTemplate provides metrics out the box but requires 'injectMetrics' to give performance

[2020-03-16 13:49] micgibso commented on #1961
We do have this topic - https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/remote-setupregistries.md - in the new structure for 0.10.0 where `Deploying Codewind remotely` and `Using Codewind remotely` are split in two, the topic appearing under the latter thus:

Using Codewind remotely
- Overview: Using Codewind remotely
- Connecting your IDE to remote Codewind
- Adding an i

[2020-03-16 13:52] jopit commented on #2462
Hi @sishida, regarding the `the description MUST specify the version of the corresponding language/platform/framework` guidance, I think that Codewind itself counts as a 'framework', so somewhere we should mention that we support Codewind 0.10.0.  Also, since we only support Java in IntelliJ, I think we should remove the "regardless of which runtime or language you use"

Here's an updated version

[2020-03-16 13:55] mattcolegate commented on #2028
The code to populate the tables with injected metrics simply wasn't there for Java metrics - I don't know why it didn't get included first time round. Used the existing code in the Node metrics dashboard to reduce the development time to get all stats displayed for an injected project. https://github.com/eclipse/codewind/pull/2486 awaiting review and merge.

![image](https://user-images.githubuser

[2020-03-16 13:57] mattcolegate commented on #1579
/assign

[2020-03-16 14:32] tetchel commented on #2473
The problem is that a given version of the VS Code extension (say 0.9.0) is only meant to work with the matching version of the Codewind images. It will check the image tags to make sure they match.

One thing you can do is disable auto-updating your vs code extensions, then it won't update and won't require a new image version.
![image](https://user-images.githubusercontent.com/8888438/76768252-1

[2020-03-16 14:41] #2413 closed

[2020-03-16 14:51] malincoln commented on #2467
both fixes should be tested and merged by UK EOD today.

[2020-03-16 14:51] malincoln commented on #2479
expected fix to land UK EOD today.

[2020-03-16 15:31] jcockbain commented on #1961
@micgibso that's great, it covers the points I've raised above. Does that mean this page will be going out with the 0.10.0 release?

[2020-03-16 15:38] mattcolegate commented on #2232
When #2432  is merged, overall unit test coverage will have increased to 67.46% which is enough to close this issue.

/pipeline Review/QA

![image](https://user-images.githubusercontent.com/15730986/76774704-2d40c500-679c-11ea-908a-17726a565207.png)

[2020-03-16 16:10] #2452 closed

[2020-03-16 17:38] eharris369 commented on #2471
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/624

[2020-03-16 17:38] #2471 closed

[2020-03-16 18:20] eharris369 commented on #2480
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/626

[2020-03-16 18:20] #2480 closed

[2020-03-16 18:21] eharris369 commented on #2338
PR for Eclipse IDE: https://github.com/eclipse/codewind-eclipse/pull/622

[2020-03-16 18:54] sishida commented on #2462
@jopit Thanks for making changes! I've added small edits directly to the text in your comment, such as adding periods to the end of sentences and updating the `getting-started` link. All the link needed was to have the `mdt-` part removed. :)

[2020-03-16 19:02] sghung opened #2487 "Fix codewind.dev sidebar"
Right now, the side bar has a few behaviours when clicking on the top level item

1. Clicking "What is codewind" brings you to a page, nothing is expanded
2. Clicking "Getting started" brings you to a page and the sidebar is expanded to show sub items
3. Clicking "Developing projects" expands the sub items but doesn't go to a page

I've seen other sites (like kubernetes) support scenario 3. 1 is d

[2020-03-16 19:08] jopit commented on #2462
@sishida can you review PR https://github.com/eclipse/codewind/issues/2462 to make sure I've captured all you updates?

[2020-03-16 20:00] jagraj commented on #2384
@tobespc
How about Appsody templates, which project type we support.?

[2020-03-16 20:37] jgwest commented on #2051
I built this from `master` after the PR went in, and tested it on my local cluster (which is only accessible via a KUBECONFIG env config), and am happy to report it works great! 👍 🎉

[2020-03-17 01:22] makandre commented on #2469
For using docker images from private registries, it should already be supported on Che/Hybrid scenarios (via #665 and #1178)

For local case, #1306 is needed for persisting credentials.  After that, I would imagine is simply a matter of making the same `Image Registry Manager` we have on Che/Hybrid available on local as well, so users can use it to save their credentials.

[2020-03-17 03:03] makandre opened #2488 "Copy .npmrc file for nodejs docker build to allow installing packages from private registries"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

This came from investigations done in #2469

Let the `Dockerfile` of the nodejs default template copy `.npmrc` into the docker build to allow installing packages from private registries

**Proposed solution:**

It's a small tweak to the `Dockerfi

[2020-03-17 03:04] makandre commented on #2469
Using scoped npm packages from a private registry is not too difficult.  Assuming your `.npmrc` is already properly configured for it, we can use the `.cw-refpaths.json` mechanism to copy it into the project root, e.g.

[code]

For Appsody nodejs projects, the above is all you need.  For Codewind default project, you would need to tweak the `Dockerfile` to copy it to the docker build before `npm i

[2020-03-17 03:08] makandre commented on #2488
/assign

[2020-03-17 08:17] micgibso commented on #1961
@jcockbain Hi James, sorry, small misunderstanding here, that page will be published for 0.10.0. Does it require any further changes?

[2020-03-17 09:15] jcockbain commented on #1961
@micgibso - no problem. I'll have another read though and see

[2020-03-17 10:52] makandre commented on #2488
/assign

[2020-03-17 10:52] jcockbain commented on #1990
/assign

[2020-03-17 11:44] james-wallis commented on #2223
/area verify

[2020-03-17 11:47] james-wallis commented on #2223
/verify

[2020-03-17 12:09] scottkurz commented on #2455
@sghung thanks for the note.  I'll ping the appsody/appsody committers to ask them to merge my fix soon.

[2020-03-17 12:47] malincoln commented on #2467
@josephca @maysunfaisal just confirming this can be fixed in the next release?

[2020-03-17 12:50] eharris369 opened #2494 "[Eclipse IDE] Eclipse non-PR builds will output an (ignored) error in filewatcher tests"
The following error is occurring in the builds on the test step:

[Pipeline] stage
[Pipeline] { (Test)
[Pipeline] tool
[Pipeline] envVarsForTool
[Pipeline] withEnv
[Pipeline] {
[Pipeline] dir
16:56:13  Running in /home/jenkins/agent/workspace/Codewind_codewind-eclipse_master/dev
[Pipeline] {
[Pipeline] sh
16:56:13  fatal: ambiguous argument 'remotes/origin/': unknown revision or path not in the wo

[2020-03-17 12:52] malincoln commented on #2479
@tobespc @ebuckle just confirming the fix will land today (target day for all merged fixes)?

[2020-03-17 13:10] beccabau commented on #2323
release engineering checklist - https://github.ibm.com/dev-ex/dev-ex-planning/issues/1017

[2020-03-17 13:44] eharris369 opened #2496 "[Eclipse IDE] build break - trying to copy 2 files at once"
The Jenkinsfile has this line which is now also picking up the test zip file with the wildcard:

cp $OUTPUT_DIR/$OUTPUT_NAME*.zip $OUTPUT_DIR/$OUTPUT_NAME.zip

[2020-03-17 14:12] sghung opened #2497 "investigate adding"

[2020-03-17 14:12] sghung opened #2498 "investigate accessing"

[2020-03-17 14:13] sghung opened #2499 "2469"

[2020-03-17 14:13] #2499 closed

[2020-03-17 14:21] tetchel commented on #2022
You can see the need for this pretty obviously by creating multiple Microprofile projects at once (since they are large, require a lot of syncing). The projects get stuck in Disabled state for some time while they do the initial sync, and it would be worse on a slow connection. In the screenshot, `second` has been disabled for over two minutes.

![image](https://user-images.githubusercontent.com/8

[2020-03-17 14:25] mattcolegate commented on #2232
#2432 is now merged. @rwalle61 can this be closed?
/pipeline Verify

[2020-03-17 14:29] #2117 closed

[2020-03-17 14:38] hhellyer commented on #1306
The changes to store the docker credentials in the local keychain are currently backed out as there is no key chain on jenkins. The work under https://github.com/eclipse/codewind/issues/1735 should provide an insecure keychain we can use in these cases and I will rebase https://github.com/eclipse/codewind-installer/pull/394 on those once they are delivered.

[2020-03-17 14:49] tetchel commented on #2412
I plan to fix this but I am folding this specific issue under https://github.com/eclipse/codewind/issues/2330

[2020-03-17 14:49] #2412 closed

[2020-03-17 15:02] #1565 closed

[2020-03-17 15:07] james-wallis commented on #2191
Have appsody working with this function as the `appsodyStart()` function:
[code]

I had some trouble passing in two `--env-files` through via the `--docker-options` as Appsody was appending double quotes to random places in the String. Happy to be proven wrong but at the moment the implementation above will create a temp properties file and add the contents of both the users environment variables

[2020-03-17 15:11] tetchel commented on #2202
Everything seems to work now except webviews, which have a problem with Theia assigning the wrong domain name to the webview and then failing to load it. The Codewind component is ready and Bradley is working on that separately so I am closing this

[2020-03-17 15:11] #2202 closed

[2020-03-17 15:25] micgibso commented on #2407
@johnmcollier Discussing with @j-c-berger , do we want to document anything about CodeReady workspaces in Codewind for 0.10.0?   Or would 0.11.0 be more preferable?

[2020-03-17 15:26] johnmcollier commented on #2407
We can do 0.11.0

[2020-03-17 15:31] #1587 closed

[2020-03-17 15:32] #1586 closed

[2020-03-17 15:34] micgibso commented on #2233
See https://github.com/eclipse/codewind-docs/pull/466 for the latest.

[2020-03-17 15:35] micgibso commented on #80
@johnmcollier @rajivnathan Is this still needed?

[2020-03-17 15:46] micgibso commented on #2150
Hiya Mel, let's discuss before you resume work on this one, thanks.

[2020-03-17 15:50] #1045 closed

[2020-03-17 16:09] tetchel commented on #163
I checked out how a user would do this using the current tools, and I think this is probably suitable to be quickly documented because it's only two steps - `git clone` the normal way (either through the command line, or through the IDE) and then adding it to Codewind. So, I think this should be a docs issue.

You can see a screen recording below of how this looks in VS Code. Note that:
- Instead

[2020-03-17 16:32] AndyRWatson commented on #2407
given the short runway now for 0.10 then 0.11 is ok,

[2020-03-17 17:17] eharris369 opened #2500 "[Eclipse IDE] Bump versions for 0.11.0"
Bump up the plugin and feature versions for 0.11.0

[2020-03-17 17:47] rajivnathan commented on #2465
Discussed this on today's iterative-dev team meeting:
- Local: If the docker build fails, we should stop and remove the existing container
- Kube: If the buildah build fails, we should do a helm delete to take down the existing deployment

[2020-03-17 17:48] keithchong opened #2501 "[OpenAPI] Bump up version number for 0.11.0"
Bump up version number for Codewind OpenAPI Tools for VS Code and Eclipse.

[2020-03-17 17:50] rajivnathan commented on #2474
@NikCanvin have you tried reproducing this on 0.10.0?

[2020-03-17 17:51] #2497 closed

[2020-03-17 17:56] keithchong commented on #2481
Both PRs have been merged to master.

[2020-03-17 18:05] eharris369 opened #2502 "[Eclipse IDE] Run JUnit tests as part of the build"
Run JUnit tests as part of the build.

[2020-03-17 18:06] sishida commented on #2462
Everything should be good to go for updating the marketplace page--we just need to wait for the changes to go live for the updates to appear. :)

[2020-03-17 18:24] AndyRWatson opened #2503 "Include intellij on gettingstarted graphic for 0.10"
**Codewind version:** 0.9
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The getting started pages on codewind.dev https://www.eclipse.org/codewind/gettingstarted.html shows intelliJ alongside vscode/eclipse/che in the sidebar but there is no icon/graphic in the "Select your IDE to continue" frame.

Propose adding an intelliJ select

[2020-03-17 18:27] sishida commented on #2503
- Tagging designers @kimholmes and @thisguy-1.
- Also tagging @jopit and @sghung for awareness.

[2020-03-17 18:39] jopit commented on #2462
The changes will go live when we publish an updated version of the plugin to the marketplace.

[2020-03-17 18:49] sishida commented on #2251
Hi, team, Any updates on this issue? :)

[2020-03-17 18:52] kimholmes commented on #2503
I think we can certainly add a graphic in the interim, but this page will soon be replaced with the work happening here:
https://github.com/eclipse/codewind/issues/2041

[2020-03-17 18:59] jopit commented on #1990
If we're going to require the user have kubectl on their machine, we're going to have to document that requirement.  Adding the docs label.

[2020-03-17 19:06] sishida commented on #163
- Document Codewind command.
- Other IDE-specific instruction can be covered by IDE documentation.

[2020-03-17 19:12] eharris369 opened #2504 "Old screen captures in Eclipse creating your first project page"
This page: https://www.eclipse.org/codewind/mdt-eclipse-firstproject.html contains some old screen captures where the table background is white. This bug was fixed so the screen captures should be updated.

[2020-03-17 19:13] jagraj commented on #2221
This has been fixed. closing this now.

[2020-03-17 19:13] #2221 closed

[2020-03-17 19:23] keithchong commented on #2503
Note that the Codewind for IntelliJ extension has help links to:

https://www.eclipse.org/codewind/mdt-intellij-getting-started.html

If you want it to be changed to

https://www.eclipse.org/codewind/gettingstarted.html

it will require a code change to the extension for 0.10.0.

[2020-03-17 19:35] eharris369 commented on #1833
Unfortunately the concepts of language and subtype are overloaded in the project-types api so separating them in the code does not make sense. Instead I will add comments to try to make the code more clear.

[2020-03-17 19:37] jopit commented on #2504
Here's the updated screen capture for `2. Creating a new project displays the project creation screen.`

<img width="688" alt="Screen Shot 2020-03-17 at 3 32 34 PM" src="https://user-images.githubusercontent.com/29612372/76894752-1ade8e00-6865-11ea-93ed-6fe80c538360.png">

[2020-03-17 19:38] jopit commented on #2504
Here's the updated screen capture for `3. Enter a name for the project and change the location if you want. Scroll through the list of templates until you see Node.js Express.`

<img width="659" alt="Screen Shot 2020-03-17 at 3 34 49 PM" src="https://user-images.githubusercontent.com/29612372/76894875-58dbb200-6865-11ea-84c4-31268e775602.png">

[2020-03-17 19:42] eharris369 commented on #2500
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/630

[2020-03-17 19:42] #2500 closed

[2020-03-17 19:42] sishida opened #2505 "Broken links for 0.10.0"
**This error is a false positive and needs to be fixed:**
URL        `vscode:extension/IBM.codewind`
Name       `this link'
Parent URL http://localhost:8765/codewind/vsc-getting-started.html, line 931, col 36
Base       http://localhost:8765/codewind/
Real URL   vscode:extension/IBM.codewind
Info       The URL is outside of the domain filter, checked only
           syntax.
Result     Error: URL i

[2020-03-17 19:42] eharris369 commented on #2496
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/627

[2020-03-17 19:42] #2496 closed

[2020-03-17 19:52] malincoln commented on #2309
@stalleyj pls verify and close. Thanks

[2020-03-17 20:11] AndyRWatson commented on #2503
Thanks @kimholmes that will be fine and understand there will be replaced at some point

[2020-03-17 20:13] AndyRWatson commented on #2503
@keithchong  is that not fixed via work related to https://github.com/eclipse/codewind/issues/2372 ?

[2020-03-17 20:14] AndyRWatson commented on #2503
@keithchong i think plugin going direct to IntelliJ link is fine ?

[2020-03-17 20:21] #2504 closed

[2020-03-17 21:37] #2481 closed

[2020-03-17 21:40] keithchong commented on #2503
@AndyRWatson, yes, it's fine. No URLs should change.

[2020-03-17 21:40] jagraj commented on #2466
This issue has been fixed. Thanks for the fix.

[2020-03-17 21:40] #2466 closed

[2020-03-18 00:26] sujeilyfonseca commented on #2479
I tested this scenario with the latest images on local (VS Code) and cloud (Eclipse Che) scenarios. I still see the same behavior described in the issue.

I created some projects. Then, I successfully executed load tests with Default Spring and Node JS projects. After that, I tried a load test with an Appsody MicroProfile (the original issue mentions that project). The request failed and didn't ca

[2020-03-18 00:35] makandre commented on #2469
For Codewind Maven based projects, we can use the same approach of using the `.cw-refpaths.json` mechanism to copy the necessary configuration into the docker build.  The prereq would be:

- you have added the private repository url to the `pom.xml`
- you have the credentials configured the either the global or user `settings.xml` file

First we create a reference to the `settings.xml` file:

[cod

[2020-03-18 03:34] jagraj commented on #2479
With the latest images, I also tried this scenario along with Sujeily and I got into same problem.
Once we hit the problem with failed project (Appsody Node.js Express scaffold) and it always fails for other working projects. You can see here in the screen the spring project load test status goes into canceling state always.

<img width="1649" alt="image" src="https://user-images.githubusercontent

[2020-03-18 09:45] jcockbain commented on #1990
I've picked up the Portal side of this work.

[2020-03-18 09:46] hhellyer opened #2506 "Provide a new API on the performance container to support visualisations of profiling data."
At the moment we have only one limited way of displaying profiling data within Codewind via the LSPs. These are tightly bound to the editors, the language they support and their data models.

To support providing different visualisations of our profiling data easily we should add API endpoints to the performance container that multiple different visualisations can use to obtain profiling informati

[2020-03-18 09:46] hhellyer commented on #2399
I have raised https://github.com/eclipse/codewind/issues/2506 to describe a new API on the performance container to support different visualisations of the profiling data.

[2020-03-18 10:00] jcockbain commented on #1990
I've picked up the Portal side of this work.

As part of it, I'll wrap the `/project/restart` API in cwctl, as the IDEs are still calling the PFE API directly. I believe that'll be needed to make that call on a remote PFE.

In terms of running debuggers on k8s apps, there's plenty of articles around (like the ones above) that do this. https://www.ibm.com/cloud/blog/debugging-kubernetes-nodejs-app-

[2020-03-18 10:12] #2498 closed

[2020-03-18 11:55] rwalle61 commented on #1735
/pipeline Verify

[2020-03-18 11:58] rwalle61 commented on #1735
both
[code]
and
[code]
should work now

[2020-03-18 12:02] micgibso commented on #2182
@james-wallis James, looking at this now, the current Microprofile/Java EE project import instructions look particularly complex, and all other imports have their own particular requirements, and yet running the latest Codewind suggests the wizard has been improved considerably.

I'm now thinking the best approach is to cover off all bases in much the same way as we do for Getting Started, so that

[2020-03-18 12:54] eharris369 opened #2510 "[Eclipse IDE] Should pop up a confirmation dialog on remove of remote connection"
If the user right-clicks on a remote connection and selects remove there should be a confirmation dialog in case they selected it by accident.

[2020-03-18 13:18] markcor11 commented on #1598
I now have the operator deploying Keycloak and Codewind.  It can :

* Deploy Keycloak with Ingress,Secrets,Storage using simple YAML
* Configure Keycloak DB with required realms
* Create a Codewind deployment based on some simple YAML
* Add the Codewind deployment roles to an existing registered user
* Provides list commands for both Keycloak and Codewind deployments
* Sets resource owners to the

[2020-03-18 13:53] #2330 closed

[2020-03-18 14:08] malincoln commented on #2467
problem not in 0.10.0 code based.

[2020-03-18 14:18] NikCanvin commented on #2465
I recommend if a compile fails, then we should also STOP the app... as after the user makes a change, if the app gets broken for any reason, it should not be running
(I've spoken to most Hursley folks, who verified this recommendation)

[2020-03-18 14:19] sghung commented on #2503
@kimholmes any update on the graphic? If one is available, can we attach it here?

[2020-03-18 14:21] NikCanvin commented on #2474
I just sniff tested on 0.10.0, and get not immediately reproduce this issue
(however, I think it was only seen intermittent on 0.9.0, so my sniff test is not conculsive)

[2020-03-18 14:24] NikCanvin commented on #2465
also, the actual message [build failed - creating image for build failed], does not make sense to me... why are we 'creating image' for a 'failed build'?

[2020-03-18 14:26] eharris369 commented on #1833
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/632

[2020-03-18 14:26] #1833 closed

[2020-03-18 14:44] #2441 closed

[2020-03-18 14:48] jgwest commented on #2189
Work still in progress for iterative-dev.

[2020-03-18 14:49] elsony commented on #1807
@jagraj Do you happens to have got a chance to test on 0.10.0 to see if we can close this item yet?

[2020-03-18 15:00] sishida commented on #2382
PRs merged. Closing this issue.

[2020-03-18 15:00] #2382 closed

[2020-03-18 15:12] sujeilyfonseca opened #2513 "SVT: [Che] Node JS projects are failing to build"
**Codewind version:** 0.10.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.0
**Kubernetes cluster:** Fyre Cluster with OCP 4.3

**Description:** Node JS projects are failing to build

<img width="1637" alt="Screen Shot 2020-03-18 at 11 07 03 AM" src="https://user-images.githubusercontent.com/49531960/76975217-a1987700-6908-11ea-9d0a-a4de4b079db9.png">

[code]

**Stepts to repro

[2020-03-18 15:12] sujeilyfonseca opened #2514 "SVT: [Che] Logs are not automatically displayed if I right-click on a project and select "Show all logs""
**Codewind version:** 0.10.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.0
**Kubernetes cluster:** Fyre Cluster with OCP 4.3

**Description:** Logs are not  automatically displayed if I right-click on a project and select "Show all logs".

<img width="1639" alt="Screen Shot 2020-03-18 at 10 55 37 AM"
src="https://user-images.githubusercontent.com/49531960/76974362-7b260c00-69

[2020-03-18 15:13] jagraj commented on #1807
I no longer see this issue on 0.10.0 release. Let me go ahead and close this for now.

[2020-03-18 15:13] #1807 closed

[2020-03-18 15:15] sujeilyfonseca commented on #2513
/priority hot

[2020-03-18 15:15] sujeilyfonseca commented on #2514
/priority hot

[2020-03-18 15:19] eharris369 commented on #2502
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/634

[2020-03-18 15:29] johnmcollier commented on #2513
@makandre This looks to be related to the template changes you made in https://github.com/codewind-resources/nodeExpressTemplate, can you take a look?

[2020-03-18 15:32] johnmcollier commented on #2513
Also marking as stopship since one of our core templates is broken on Kube

[2020-03-18 15:34] makandre opened #2515 "Cleanup multiple appsody deps volume"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

The next release of appsody will add support for multiple deps volumes.  Relevant issues are:

- https://github.com/appsody/appsody/issues/934
- https://github.com/appsody/appsody/issues/938
- https://github.com/appsody/appsody/issues/926

Curren

[2020-03-18 15:34] makandre commented on #2515
/area appsody
/assign

[2020-03-18 15:36] makandre commented on #2513
/assign

[2020-03-18 15:41] makandre commented on #2513
I will revert my change with https://github.com/codewind-resources/nodeExpressTemplate/pull/7  @johnmcollier could you review and merge?

[2020-03-18 15:42] makandre commented on #2488
The changes caused problems on Kube, I'm temporarily reverting it with https://github.com/codewind-resources/nodeExpressTemplate/pull/7

/reopen

[2020-03-18 15:44] johnmcollier commented on #2513
@makandre Merged.

@sujeilyfonseca Can you verify? Thanks!

[2020-03-18 15:45] mattcolegate commented on #1579
Discussion doc and first pass design
[MustGather.zip](https://github.com/eclipse/codewind/files/4349882/MustGather.zip)

[2020-03-18 15:47] malincoln commented on #2384
@tobespc to add additional projects.  We can then remove the priority/stopship and add priority/hot for code fix to be added in 0.11.0

[2020-03-18 15:48] mattcolegate commented on #1579
### Proposed first pass

* Single script
* Local only
* Gathers:
  * Container logs for Codewind
  * Container logs for Apps
  * IDE log for either Eclipse or VSCode
  * Codewind files from PFE (.project)
  * CWCTL version info
  * Docker inspect Codewind containers
  * Docker compose file (Codewind home)

[2020-03-18 16:37] tetchel commented on #2514
this definitely works in vs code so i have to think it is either a theia bug or the `hosted-instance-log` is re-grabbing focus for some reason.

Either way it's not new behaviour so I'm not sure it should be `hot`.

[2020-03-18 16:40] james-wallis commented on #2191
*If you're tracking this issue I've updated the design documentation to cope with applications running on the same PFE.*

Just pushed the enhancement to use the Docker network address when on the same PFE.
https://github.com/eclipse/codewind/compare/master...james-wallis:project-link#diff-06557287ee50d16fedad9d12907b150dR57

Currently the implementation is using the container IP address on the `co

[2020-03-18 16:47] sujeilyfonseca commented on #2513
Thanks for working to solve this issue, @makandre and @johnmcollier!

I've verified this issue with the latest Codewind 0.10.0, and I no longer reproduce the problem.

<img width="1411" alt="Screen Shot 2020-03-18 at 12 46 13 PM" src="https://user-images.githubusercontent.com/49531960/76985453-9e0bec80-6916-11ea-9336-e08e86ded6a2.png">

[2020-03-18 16:47] #2513 closed

[2020-03-18 16:48] jagraj commented on #2514
May be issue with Theia 7.9.0 version.?

[2020-03-18 16:48] tetchel commented on #2514
did this used to work?

[2020-03-18 16:51] jagraj commented on #2514
We will verify with CW 0.9 and Che 7.5.1 and let you know.

[2020-03-18 16:51] malincoln commented on #2513
Thanks @makandre @johnmcollier for quick turnaround on the fix!!!

[2020-03-18 16:56] johnmcollier commented on #2514
It could be differences in the Theia API between the version of Theia in Che 7.5.1 and Che 7.9.0

_If_ we determine this to be a Theia bug, we should also open a bug against them.

[2020-03-18 17:01] sujeilyfonseca commented on #2514
I marked the issue as hot as this used to work with Che 7.5.1 before. I'll verify Codewind 0.9.0 to verify that it is so.

[2020-03-18 17:51] sghung opened #2516 "Put the intellij hero image onto the main page"
Currently, the front page just shows eclipse, che, and vscode. We need to put the intellij screenshot there too. Right now, the images are being covered up quite a bit already, I don't want the fourth image to show even less of the IDEs. You can barely see the codewind added UI as it is. That is, perhaps we need to change how the IDEs are being shown so that all four can be seen clearly (including

[2020-03-18 18:11] malincoln commented on #1792
@tetchel @tobespc ^^^

[2020-03-18 18:11] malincoln commented on #1805
@mmulholl have you been able to verify this one?

[2020-03-18 18:12] malincoln commented on #1856
@mmulholl have you been able to verify this one?

[2020-03-18 18:13] malincoln commented on #2223
@DavidG1011 pls verify and close. Thanks

[2020-03-18 18:13] malincoln commented on #1735
@jgwest pls verify and close. Thanks

[2020-03-18 18:23] eharris369 commented on #2510
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/635

[2020-03-18 18:23] #2510 closed

[2020-03-18 18:24] eharris369 commented on #2502
Had to pull out the changes because of a build problem related to cleaning up after the build.

[2020-03-18 18:37] sishida commented on #2443
**March 18th, 2020: Reached out to the Appsody team on Slack today.**

1. value prop & operational benefits: why/how this template is better suited for certain needs
2. technical details: what are some technical features that come with the template
3. Link to Appsody docs on the Appsody website: https://appsody.dev/docs
4. include template preview (optional)

[2020-03-18 19:24] jagraj commented on #2514
Looks like this is regression in Che 7.9.0 release. I can not reproduce this problem in Codewind 0.9 with Che 7.5.1 release.

[2020-03-18 19:38] sujeilyfonseca commented on #2514
I also tested Codewind 0.9.0 with Che 7.5.1, and I don't see the problem in that release.

[2020-03-18 19:42] jagraj commented on #2514
Is this Codewind or Theia plugin problem.?

[2020-03-18 19:47] tetchel commented on #2514
I have to think it's a theia problem since it works in VS Code

[2020-03-18 20:13] sishida commented on #2505
Ran link checker again. We are down to just the false positive like we're used to. 👍Closing this issue.

[2020-03-18 20:13] #2505 closed

[2020-03-18 20:14] jagraj opened #2517 "SVT:Che:User has to hide project logs to see the logs again if they already open with "Show logs" option for all projects"
**Codewind version:** 0.9.0 and 0.10.0
**OS:**

**Che version:**  7.5.1 and 7.9.0
**IDE extension version:**  Codewind 0.9 and Codewind 0.10.0
**IDE version:**  7.5.1 and 7.9.0
**Kubernetes cluster:** OKD 4.3

**Description:**
Once we click on option "Show all logs" for all the projects in the workspace and we can not see the logs for the same project. User has to click on "Hide all logs" and then

[2020-03-18 20:17] tetchel commented on #2517
how is this different from #2514, which apparently was not reproducible on 0.9 (but this one is?)

[2020-03-18 20:25] sishida commented on #2461
I went ahead and re-created the PR for what we had previously: https://github.com/eclipse/codewind-vscode/pull/518

I'll bring this issue up during a meeting to discuss how we can make it sound more exciting.

[2020-03-18 20:27] jagraj commented on #2517
Looks like this problem exist in CW 0.9.0 with Theia 7.5.1 release. Issue #2514 is different problem where logs are not displaying automatically in the "Output" view. This issue displays all the logs for all projects in the workspace once. If I want to view logs again for the same project then I have to click on "Hide all logs" and then click on "Show all logs"

[2020-03-18 20:48] johnmcollier commented on #2514
@jagraj can you try Codewind 0.10.0 on ache 7.5.1?

If it’s a Theia issue, you shouldn’t be able to reproduce on 0.10.0 on 7.5.1

[2020-03-18 21:15] tetchel commented on #2517
Sorry, I still don't understand the difference. The logs are displaying in both issues, they are just not toggling to become the active log, right?

[2020-03-18 22:34] sujeilyfonseca commented on #2284
I reopened this problem as we are seeing this problem again with Codewind 0.10.0:

<img width="624" alt="Screen Shot 2020-03-18 at 6 24 35 PM" src="https://user-images.githubusercontent.com/49531960/77013628-cd3a5200-6946-11ea-86a0-3e7c7412843a.png">

<img width="1518" alt="Screen Shot 2020-03-18 at 6 31 12 PM" src="https://user-images.githubusercontent.com/49531960/77013656-dd523180-6946-11ea-8ad

[2020-03-18 22:36] sujeilyfonseca commented on #2479
I can reproduce this problem using remote (VS Code):

<img width="623" alt="Screen Shot 2020-03-18 at 6 31 24 PM" src="https://user-images.githubusercontent.com/49531960/77013858-5baed380-6947-11ea-939c-a12b91e6bffe.png">

<img width="615" alt="Screen Shot 2020-03-18 at 6 36 26 PM" src="https://user-images.githubusercontent.com/49531960/77013871-649fa500-6947-11ea-8da2-511f8d617694.png">

[2020-03-18 22:42] jagraj commented on #2284
I also reproduced same problem with the remote/hybrid scenario. After clicking "Run Load Test" , the status get stuck into "Requested". If we wait for few minutes and refresh the page then we can see the results.

![image (3)](https://user-images.githubusercontent.com/713849/77014172-1212b880-6948-11ea-8abf-78ed4c1a2200.png)

After refresh..

![image](https://user-images.githubusercontent.com/7138

[2020-03-18 22:53] jagraj commented on #2514
Ok, I verified Codewind 0.10.0 on Che 7.5.1 and we all good. Works as expected. Looks like it is issue with Theia 7.9.0 version.

[2020-03-18 23:20] johnmcollier commented on #2514
@tetchel Can you investigate from the Theia side and open an issue in their repo if needed.

[2020-03-18 23:34] markcor11 commented on #1598
Whilst testing in Redhat CodeReady Containers had to make a couple of changes to accommodate openshift routes.

1.  Registered the OpenShift Route V1 api to the operator manager scheme
2.  Fixed an old issue that required having to grant "privileged" security context constraints using the `oc adm policy add-scc-to-group privileged`. This manual step is now no necessary since I've added this resour

[2020-03-19 00:31] markcor11 commented on #1598
Deploying to an Openshift cluster 3.11 had a problem because the generated CRD have a type:object that is not recognised by Openshift 3.11 api.   That blocks deployment of the Keycloak and Codewind CRD.yamls however it can be worked around by removing the type from the yaml.  Doing that lets the CDR deploy ok. IDEs were able to connect and create / run projects fine. I've added a TODO to look into

[2020-03-19 01:00] markcor11 commented on #1598
I setup a new Redhat 3.11 Openshift cluster on IBM Public Cloud - no problems here,  correct storage classes were configured by the operator  :

<img width="869" alt="Screenshot 2020-03-19 at 00 59 02" src="https://user-images.githubusercontent.com/28102564/77020796-d8a87000-697c-11ea-8f95-3a55ded64880.png">

Connected, built and launched a project from the IDE - worked fine

[2020-03-19 02:18] markcor11 commented on #1598
In Kubernetes v1.15.10+IKS Public Cloud - Deployment of Codewind was successful. VSCode plugin was able to connect, authenticate, create a project. Codewind built the image but failed to start any project. (go & node) 👎

[code]

[2020-03-19 03:47] johnmcollier commented on #2251
Closing as the doc changes were merged a while back

[2020-03-19 03:48] johnmcollier commented on #1598
@markcor11 that’s expected with IKS with Kube 1.15. The version of containerd it uses is incompatible with buildah. Move up to Kube 1.16 or higher and things are fixed.

See https://github.com/eclipse/codewind/issues/2251

[2020-03-19 04:41] douzizuibang commented on #2473
ok, thank you.

[2020-03-19 04:41] #2473 closed

[2020-03-19 07:54] tobespc commented on #2479
@ebuckle please look at this asap, thanks

[2020-03-19 09:22] micgibso commented on #2182
Update: see https://github.com/eclipse/codewind/issues/163 and PR https://github.com/eclipse/codewind-docs/pull/496

[2020-03-19 09:35] jgwest commented on #1735
Happy to report it works great on the keychain-less Linux environment that previously caused issues 🎉 👍

(I tested with the `export INSECURE_KEYRING=true` method listed above).

[2020-03-19 09:35] #1735 closed

[2020-03-19 09:51] jgwest commented on #2189
The filewatcher PR has been merged, but Turbine's use of the `request` dependency looks more difficult to remove... Request is pulled in via our use of the kubernetes-client library (https://www.npmjs.com/package/kubernetes-client) used by Turbine (not to be confused with the official client, @kubernetes/client-node)

I discussed it briefly with the iterative-dev squad, and it sounds we want to wa

[2020-03-19 10:03] markcor11 commented on #1598
Thanks @johnmcollier upgraded the cluster to 1.16.8 and was able to connect / build and launch projects ok IKS.

![Screenshot 2020-03-19 at 10 02 15](https://user-images.githubusercontent.com/28102564/77055434-c81de700-69c8-11ea-8c48-bb912df349c2.png)

Left to do -  Openshift 4

[2020-03-19 11:09] jcockbain commented on #1990
It's relatively simple to debug a Codewind style project using port-forwarding.

## For a Codewind style Node template

Modify dockerfile to use npm run debug.

i.e.

instead of `use ["npm", "run", "start"]`, `use ["npm", "run", "debug"]`

Project rebuilds, exposes debug port (9229) which is set in its debug script in its package.json.

Run the following command in a terminal, which will open up a

[2020-03-19 11:16] tobespc opened #2518 "Incorrectly formatted message in vscode plugin"
**Codewind version:**
latest
**OS:**
mac

**Che version:**
**IDE extension version:**
**IDE version:**
latest
**Kubernetes cluster:**

**Description:**
Stopping and starting my local connection from within vscode showed the following message
![Screenshot 2020-03-19 at 11 13 17](https://user-images.githubusercontent.com/13151286/77061917-ed175780-69d2-11ea-9730-cff562a90813.png)

Strange ```[1B```

[2020-03-19 11:27] micgibso commented on #2437
Have created https://github.com/eclipse/codewind-docs/pull/482 to add tabs to content using the latest code.

[2020-03-19 11:56] markcor11 commented on #1598
ROKS 4.3 cluster on IBM Public Cloud - no problems building and running a project from IDE :
OpenShift Version 4.3.1,  Kubernetes Version v1.16.2.

![Screenshot 2020-03-19 at 11 55 15](https://user-images.githubusercontent.com/28102564/77065100-93199080-69d8-11ea-8a68-80071c672fb2.png)

So that should be everything tested and working,  deploying everything with the same set of steps. We don't have

[2020-03-19 12:05] ebuckle commented on #2479
Using these project types on the most recent 0.10.0 images I can't recreate his issue on remote.

Would it be possible to get the PFE logs for these failing load tests?

[2020-03-19 13:14] jopit commented on #2487
Option 3 seem like the right approach, but we need input from design.
Also, removing the animation from expanding an item might be less distracting, but we need design's input.

[2020-03-19 13:14] sujeilyfonseca commented on #2479
@ebuckle, here are the logs for remote:

[vscode-codewind-pfe.txt](https://github.com/eclipse/codewind/files/4354679/vscode-codewind-pfe.txt)
[vscode-remote-codewind-pfe.txt](https://github.com/eclipse/codewind/files/4354681/vscode-remote-codewind-pfe.txt)
[vscode-remote-codewind-performance.txt](https://github.com/eclipse/codewind/files/4354680/vscode-remote-codewind-performance.txt)

Let me know

[2020-03-19 13:20] jagraj commented on #2284
I just tried to reproduce this problem again for failed project and now the request is not hung.Looks like this is intermittent problem. Here are the logs from my environment which should have for both failed and successful load test.

[performance.txt](https://github.com/eclipse/codewind/files/4354732/performance.txt)
[pfe.txt](https://github.com/eclipse/codewind/files/4354733/pfe.txt)

[2020-03-19 13:34] jcockbain commented on #1990
Wrapping restart API in cwctl on this branch -> https://github.com/jcockbain/codewind-installer/tree/add-project-restart-command

[2020-03-19 13:39] malincoln commented on #2284
@jagraj is this considered stopship?  I don't see the label.  Also, if it's intermittent, maybe we keep it hot and add "intermittent" in title?

[2020-03-19 13:43] markcor11 commented on #2487
I like option 3 over option 2.  I find it easier to scan down the list clicking / expanding / collapsing whilst I'm hunting for the right section to launch. That happens without the added flicker of the right hand frame changing when I didn't notice that the grey section was a link rather than an expander box.

[2020-03-19 14:18] johnmcollier commented on #2447
Removing techtopics label. Discussed with Elson and the squad and decided to go with the hybrid approach described above.

[2020-03-19 14:25] sujeilyfonseca commented on #2284
/priority hot

[2020-03-19 14:29] j-c-berger commented on #1991
@makandre or @sghung,  @sishida made the doc, `offline-codewind.md` do we think this doc could funnel into this Epic?

I want to determine what docs we'll need for this Epic, and ID's role. We can make additions and revisions to the `offline-codewind.md` as need be. Thanks!

[2020-03-19 14:31] tetchel commented on #2518
I think it's a terminal colour reset character, since the text just before that line is green.

![image](https://user-images.githubusercontent.com/8888438/77078280-be967e00-69cc-11ea-8d32-ec1aefc1718a.png)

I guess I can try and find-and-replace it out.

[2020-03-19 14:34] jopit commented on #2479
My understanding of the fix for this is that the performance container will emit a periodic heartbeat status event on the UI socket.  The claim is that this should not affect the IDEs.  What does this event actually look like?

[2020-03-19 14:45] hhellyer commented on #1306
The changes to store the credentials in the keychain have been added back in.
They have been integrated with the changes to provide a local, insecure keychain when running on a system with no keychain service. This is being used on Jenkins as the machines the builds run on there do not provide a keychain.

The credentials are persisted (or deleted) automatically when existing the `cwctl registryse

[2020-03-19 14:46] markcor11 commented on #2212
changes delivered in 2207 and 2208

[2020-03-19 14:46] #2212 closed

[2020-03-19 14:47] markcor11 commented on #2211
changes delivered in 2209

[2020-03-19 14:47] #2211 closed

[2020-03-19 14:51] markcor11 commented on #1048
closed - connections tests are now running

[2020-03-19 14:51] #1048 closed

[2020-03-19 15:04] tetchel commented on #1306
So, if the user is running one of our keychain'd features (local image registry, or logging into a remote cluster) on a keychain-less system, where is the data insecurely stored?

If we are storing the credentials insecurely (are they hashed? in plain text?) there should probably be some sort of warning step.

[2020-03-19 15:06] tetchel opened #2520 "cwctl start fails on keychainless system"
From https://ci.eclipse.org/codewind/job/Codewind/job/codewind-vscode/job/testsInJenkins/47/console
CLI version `2020-03-19-12:11:47`
[code]

I suspect this is caused by the changes for https://github.com/eclipse/codewind/issues/1306

[2020-03-19 15:21] rwalle61 commented on #2520
for `cwctl start` to use the insecure keychain, we need to do
[code]
or
[code]

I don't think the Jenkinsfile for the `codewind-installer` repo has been updated yet to have this env var

[2020-03-19 15:24] ebuckle commented on #2479
The events will look exactly the same as the current socket messages, they'll just be emitted in two second intervals instead of once.

So each of the current socket events ('starting', 'preparing', 'cancelling' etc) will remain completely unchanged.

[2020-03-19 15:31] tetchel commented on #2520
oh, i didn't realize it had to be explicitly enabled. I guess this is the expected behaviour then

[2020-03-19 15:33] rwalle61 commented on #2520
yep, `cwctl` uses the secure system keyring by default, unless we tell it to use our insecure one

[2020-03-19 15:56] rwalle61 commented on #1306
@tetchel the data will be insecurely stored in a base64-encoded `insecureKeychain.json`, written to the `~/.codewind/config` dir (same place as our `connections.json`)

Don't know what docker do

[2020-03-19 15:57] tetchel commented on #1306
I think docker does the same thing.

[2020-03-19 16:13] sghung commented on #1991
@j-c-berger this scenario is using private registries, so I think another .md is needed to avoid confusion.

[2020-03-19 16:31] j-c-berger commented on #1991
@sghung, that makes sense. Do we have an ideas or vision about what this other .md file would entail? Similar content to the existing one Sarah made?

[2020-03-19 16:52] mmulholl commented on #2375
Fixed.

[2020-03-19 16:52] #2375 closed

[2020-03-19 17:01] sghung commented on #1991
@j-c-berger it is hard to say at the moment, but I think it will be similar. I'd imagine there would be more steps, so probably need a table of contents at the top (just like troubleshooting).

[2020-03-19 18:05] sishida commented on #163
PR has been merged. Closing this issue. :)

[2020-03-19 18:05] #163 closed

[2020-03-19 18:31] #2518 closed

[2020-03-19 18:38] keithchong commented on #990
<img width="853" alt="Screen Shot 2020-03-19 at 2 35 20 PM" src="https://user-images.githubusercontent.com/7726022/77102283-f57d8b80-69ee-11ea-8be0-6a27af8bc50a.png">

<img width="831" alt="Screen Shot 2020-03-19 at 2 37 23 PM" src="https://user-images.githubusercontent.com/7726022/77102441-37a6cd00-69ef-11ea-8050-c9ca53081050.png">

[2020-03-19 19:12] #2338 closed

[2020-03-19 19:27] sishida commented on #2427
I cropped the image and added the border as now shown in the file, `docs/images/runningapp.png` in PR https://github.com/eclipse/codewind-docs/pull/497.

However, when I try to run a local build with `./serve.sh`, the file appears cropped but not with the border. Any ideas why this is happening? Here's what I'm seeing:

<img width="886" alt="Screen Shot 2020-03-19 at 3 25 35 PM" src="https://user-

[2020-03-19 20:27] sishida commented on #2427
Also typed up a wiki page about image info: https://github.com/eclipse/codewind-docs/wiki/Images-guidelines-%5BWIP%5D

[2020-03-20 11:34] hhellyer opened #2523 "Jenkins builds always use master cwctl regardless of branch."
**Codewind version:**
N/A - This is an issue to do with mixing versions.
**OS:**
Jenkins build image.

**Description:**
When we start cwctl in the Jenkins builds we use cwctl. However we always pull cwctl from master. This is a problem as e.g. 0.10.0 builds are using the master build and required an extra setting to avoid using the system keychain which isn't available in our Jenkins image.

Vario

[2020-03-20 11:34] hhellyer commented on #2467
Further to this the problem is not in 0.10.0 *but* it does exist in the 0.10.0 builds as the Jenkinsfile always pulls the latest master build of cwctl.

As this will block the merging of PR's for stop ship defects we have merged the same fix in under https://github.com/eclipse/codewind/pull/2522

Long term it would probably be better to use the matching build of cwctl, the Jenkins build contains t

[2020-03-20 11:53] jagraj commented on #2517
Once che issue is resolved for issue #2514 should address this problem as well. I verified CW 0.10.0 on Che 7.5.1 and I do not see this problem.

[2020-03-20 11:53] #2517 closed

[2020-03-20 13:39] malincoln commented on #1804
@tobespc @hhellyer  ^^^

[2020-03-20 13:40] malincoln commented on #2302
@tobespc @stalleyj has this been verified?  If so, pls close.  Thanks

[2020-03-20 13:42] malincoln commented on #2284
Moving from verify to In progress and assigning to @tobespc

[2020-03-20 13:56] jcockbain commented on #1990
I'm working on the cwctl command that'll port-forward from a remote project pod to local. I have the basic functionality working, i.e it  will forward the debug port from a cw project running in debug mode and point the vscode debugger at it.

This is the work still to do before I can PR and let the IDE team work against it:

### Work to do

- Go from projectID to k8s pod info. At the moment I'm w

[2020-03-20 14:10] makandre commented on #2469
PRs have been open for `Open Liberty` and `Lagom` projects.

For `Spring Boot` and `MicroProfile` projects, the maven build is done in a different way by scripts in Codewind, and not as part of the Docker build.  That said, the approach of referencing and copying the `settings.xml` file still works.  PRs:

- https://github.com/eclipse/codewind/pull/2525 for `Spring Boot` projects

[2020-03-20 15:16] malincoln commented on #2284
Decided during discussion to continue to investigate this for 0.10.0 and see if we have a fix by mid next week and decide whether we ship with/without fix.

[2020-03-20 15:27] keithchong opened #2526 "[IntelliJ] Cyclic service initialization exception"
IntelliJ - Debug support

I've seen this exception before when debugging a Codewind project.  It appeared that the launch config was being created when it already existed.  Fixes were added to try to prevent this situation from happening.  However, I'm periodically seeing this, but I don't have a reproducible scenario.

`com.intellij.diagnostic.PluginException: Cyclic service initialization: Servi

[2020-03-20 15:50] sujeilyfonseca commented on #2284
As a general note about this issue, it can be reproduced more often with new Codewind installations. If Codewind has been running for a while, the occurrence of this issue may be reduced.

Regarding environments, I have seen this issue more often in remote scenarios. However, it may be reproduced in Eclipse Che.

Once you hit this issue, there are three possible scenarios:

1. Cancel will not work

[2020-03-20 15:55] sujeilyfonseca commented on #2479
@jagraj and I tested this issue with the latest Codewind 0.10.0, and we no longer reproduce the problem. Even if we get an unsuccessful load test request, we can create new requests with other projects.

[2020-03-20 15:57] jagraj commented on #2284
After installing remote codewind, I created Appsody Node.js Scaffold, Appsody Eclipse Microprofile, Default Node.js express, WebSphere liberty projects. When the projects start running, I tried to access "Performance dashboard" and started "Run Load Test" for "Default Node.js Express" project. The status goes into "Requested" state and when we try to "Cancel" it then it get stuck at "Canceling" st

[2020-03-20 16:07] rwalle61 commented on #2246
@stalleyj , are there any repos outstanding without this PR template? (If not we can close this)

[2020-03-20 16:07] tetchel commented on #2514
https://github.com/eclipse-theia/theia/issues/7383

[2020-03-20 16:08] rwalle61 commented on #2231
completed

[2020-03-20 16:08] #2231 closed

[2020-03-20 16:09] rwalle61 commented on #2231
part of https://github.com/eclipse/codewind/issues/2291

[2020-03-20 16:45] sishida opened #2528 "Add borders to images"
Images with a white background blend into the background of the Codewind website pages. To help them stand out more, we should add a border around them.

To keep the borders uniform on each image, we'll use a new CSS entry.
- class name: `imageborder`
- starting border size: `1 pixel`

Example: The Carbon Design website has notes in boxes with a border. I think these look good and could work for o

[2020-03-20 16:53] tetchel commented on #2278
@tobespc the filewatcherd PRs have been merged, so I think the only blocker for this is `cwctl` falling over when the deleted directory doesn't exist

[2020-03-20 17:01] keithchong commented on #990
**Design notes:**

The debugger's console view shows the debugger's output only.  The messages shown here will typically be the messages for process attach and disconnect.  The debuggee's console output will still be in the Codewind logs.

The Codewind context menu action `Attach Debug` emulates the platform's Launch config actions.

All debug actions, switch to debug/run modes, and attach debug,

[2020-03-20 17:26] tetchel commented on #2523
Here is the logic in the VS Code plugin which checks if there's a matching cwctl version for the current build branch, and downloads it if it exists.

https://github.com/eclipse/codewind-vscode/blob/0.10.0/Jenkinsfile#L48

[2020-03-20 17:41] eharris369 commented on #1306
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/625

[2020-03-20 18:07] sishida commented on #2427
- Cropped the image so that it doesn't show bookmarks and too much extra space.
- Opened https://github.com/eclipse/codewind/issues/2528 to add a border around the image (and other images with white backgrounds) to make them better stand out from the rest of the page.
- Closing this issue.

[2020-03-20 18:07] #2427 closed

[2020-03-20 18:33] eharris369 opened #2529 "Inconsistent background in dark mode on Windows for overview and welcome pages"
The Codewind welcome page and project overview pages have inconsistent background for any read only text fields on Windows in dark mode.

![image](https://user-images.githubusercontent.com/9484320/77195386-ee6e8000-6ab7-11ea-88a1-03612dbdf93f.png)

[2020-03-20 18:34] keithchong commented on #990
https://github.com/eclipse/codewind/issues/1990

[2020-03-20 19:09] keithchong commented on #2481
Hi @BinaryWizard904 , thanks again for providing both PRs and quickly setting up the Eclipse environment to provide the change.  Curious, are you open to collaborating/contributing?  For example, we can move forward with the VS Code extension and Eclipse plugin further and provide enhancements and bug fixes.  One of the more trivial things we have to do each release is bump up the version number.

[2020-03-20 19:29] eharris369 commented on #2529
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/639

[2020-03-20 19:29] #2529 closed

[2020-03-20 20:00] keithchong commented on #990
- Preference - Build, Execution, Deployment->Debugger->Hide debug window on process termination - Need to look into this
I don't see any issue with this.

[2020-03-20 20:37] keithchong opened #2530 "[IntelliJ] Finalize icons for Debugger tab"
Child enhancement to:

https://github.com/eclipse/codewind/issues/990

Here is where the icons will appear.  The current language-based icon indicators are 16x16 but typically, for toolwindow tabs, they are 13x13.

<img width="449" alt="Screen Shot 2020-03-20 at 4 32 03 PM" src="https://user-images.githubusercontent.com/7726022/77204229-ae63c900-6ac8-11ea-878d-6efa59a78934.png">

<img width="296"

[2020-03-20 21:57] keithchong opened #2531 "[IntelliJ] Focus switches to previous window after canceling prompt"
IntelliJ Debug Support

Minor outstanding issue that hasn't been fixed in the Debug Support PR

When attaching the debugger on a project that is opened in another window, you are prompted to select that window.  If in that window, the process is already attached, you will get prompted to terminate and restart the debugger process.  If you select Cancel, the focus switches back to the original wind

[2020-03-21 00:15] keithchong commented on #2530
We can only use one icon, regardless of the project type.  The launch config template has the same template as the instance.  And it's only defined in the configuration type.  There is no way to override it dynamically.  We can use the existing icon for Remote Debug.

<img width="770" alt="Screen Shot 2020-03-20 at 8 09 05 PM" src="https://user-images.githubusercontent.com/7726022/77214856-6902c40

[2020-03-21 00:38] makandre commented on #2052
/pipeline in progress

[2020-03-21 00:51] jgwest commented on #844
/reopen

[2020-03-21 00:53] jgwest commented on #844
/close

[2020-03-21 14:30] balajikadambi opened #2532 "Error during install of codewind 0.9.0 on VSCode"
**Codewind version:**  0.9.0
**OS:**  Mac

**Che version:** Visual Studio
**IDE extension version:** 1.43.1

**IDE version:**
**Kubernetes cluster:**

**Description:**
I had an earlier version of Visual Studio and Code wind on Mac. I had uninstalled it. I tried to install the latest version of VisualStudio and codewind 0.9.0.
When I tried to start codewind, it said that the current version is 0.5.

[2020-03-21 17:55] tetchel commented on #2532
hi, you can work around this by removing the old codewind images by hand.

the images are `eclipse/codewind-performance-amd64` and `eclipse/codewind-pfe-amd64` and will have the `0.5.0` tag.

So you can remove them with this command:
`docker rmi $(docker images | grep eclipse/codewind | awk '{ print $3 }')`

[2020-03-22 08:06] balajikadambi commented on #2532
@tetchel thanks. that error is sorted now. I am getting another error now when I try to start codewind:
==> Run cwctl --json start -t 0.9.0
Debug: false
==> created file /Users/**/.codewind/0.9.0/Users/**/.codewind/docker-compose.yaml
==> environment structure written to /Users/**/.codewind/docker-compose.yaml
System architecture is:  amd64
Host operating system is:  darwin
Attempting to find avai

[2020-03-22 15:31] tetchel commented on #2532
I think it is the same issue seen here https://github.com/eclipse/codewind/issues/1682 where `docker` is not on the path VS Code is using.

Can you try following [these steps](https://github.com/eclipse/codewind/issues/1682#issuecomment-572649328) from that issue?

[2020-03-22 18:57] tobespc commented on #2479
moving to verify as this has can no longer recreate, @sujeilyfonseca please close if you have completed your testing

[2020-03-23 01:03] #1910 closed

[2020-03-23 09:26] hhellyer commented on #2467
Both master and 0.10.0 branches are now passing. https://github.com/eclipse/codewind/issues/2523 will resolve future issues with a codewind branches not being forward compatible with changes to cwctl. I think this issue can be verified and closed.

[2020-03-23 10:30] rwalle61 commented on #1990
/assign

I'm working on getting Turbine to restart remote projects in run and debug modes. I've got Turbine to try to restart the projects in these modes (https://github.com/eclipse/codewind/pull/2519) and am now working on the scripts (`nodejs-container.sh` first) to actually restart projects in run and ebug modes.

VSCode (and probably the other IDEs) will not need many changes to allow the user

[2020-03-23 10:34] tobespc commented on #1961
closing as just choosing to document the process

[2020-03-23 10:34] #1961 closed

[2020-03-23 10:35] hhellyer commented on #2189
@jgwest - I don't think we can do anything about our dependencies dependencies. I raised this so we could eliminate any direct dependencies on `request` that are under our control. I'll move this to verify now.

Also @kubernetes/client-node has a dependency on request anyway:
https://www.npmjs.com/package/@kubernetes/client-node?activeTab=dependencies

[2020-03-23 10:36] hhellyer commented on #2189
@jgwest @tetchel - I think we've done what we need to for this for the moment. Are you happy for me to close? (I raised this but since it covers several components I thought I'd check first.)

[2020-03-23 11:18] micgibso commented on #2284
New Troubleshooting issue drafted on above PR.

[2020-03-23 12:36] #2479 closed

[2020-03-23 13:02] eharris369 commented on #2494
Verified that this is fixed in the latest release build.

[2020-03-23 13:02] #2494 closed

[2020-03-23 13:10] tobespc commented on #2384
Appsody projects are not so easy to catagorise as we cannot detect what they support.  It should be possible to display the metrics dashboard for any appsody stack that either
  * Makes use of the mp-metrics module (https://cloud.ibm.com/docs/java?topic=java-mp-metrics)
                or
  * Includes javametrics/appmetrics/swiftmetrics

For the performance dashboard to display information, the ap

[2020-03-23 13:26] jagraj commented on #2284
@tobespc @micgibso
Based on the comments provided in this issue  (https://github.com/eclipse/codewind/issues/2284#issuecomment-601770507) the workaround solution will not help to the users always. Our understanding on Friday checkpoint call that we are planning to deliver fix for this issue in Codewind 0.10.0 release.

[2020-03-23 13:40] tobespc commented on #2284
As I understand it, refreshing the browser does solve the issue.   Its the ui socket disconnecting that causes the issue and if we can detect that, we can output a message to the user informing them.

To change this in code is a large change and not something I believe we should do under a stop ship.  If we have a suitable workaround then I would propose we use that and fix this in a different way

[2020-03-23 13:56] micgibso commented on #2284
Docs no longer required, programmatically rectified.

[2020-03-23 14:06] malincoln commented on #2284
Here is the update after the call on Friday.  There were more updates from SVT after my update

[2020-03-23 14:12] rwalle61 commented on #1910
It's good you're not seeing this error in use anymore, however we're still seeing this in the PFE PR build tests, e.g. https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/639/execution/node/65/log/

Might be worth (1) reopening this issue, or (2) use this issue to track seeing the error in the IDE, and open a new issue to track seeing the error in the PFE PR build

[2020-03-23 14:33] tetchel commented on #1910
I think 2) is a good idea

[2020-03-23 14:34] tetchel commented on #2189
Yes this can be closed

[2020-03-23 15:29] sghung commented on #1836
The work Travis had looked into is completed, closing

[2020-03-23 15:29] #1836 closed

[2020-03-23 15:45] stalleyj commented on #2472
I'm unable to recreate this issue so far, continuing to investigate. I may need to add some extra debug lines to help track down the problem.

[2020-03-23 15:57] tetchel opened #2535 "cwctl registrysecrets list doesn't work for remote connections"
[code]

[2020-03-23 15:58] tetchel commented on #2535
@eharris369 reported seeing the same problem, so while Eclipse is using `registrysecrets` it is using it only for the local connection (https://github.com/eclipse/codewind-eclipse/pull/625)

[2020-03-23 15:58] tetchel commented on #1306
https://github.com/eclipse/codewind/issues/2535

[2020-03-23 16:02] jcockbain commented on #2535
`--insecure` flag? I just tried it with an openshift connection and it returned the expected list.

[2020-03-23 16:05] tetchel commented on #2535
oh yeah, it worked. that error message is pretty unhelpful though

[2020-03-23 16:05] jcockbain commented on #2535
Yeah agreed, the one I got was the one that should be returned. Can leave the issue open to investigate?

[2020-03-23 16:07] tetchel opened #2536 "Unhelpful error when running cwctl without insecure flag"
See https://github.com/eclipse/codewind/issues/2535#issuecomment-602695105

[code]

[2020-03-23 16:07] tetchel commented on #2535
https://github.com/eclipse/codewind/issues/2536

[2020-03-23 16:07] #2535 closed

[2020-03-23 16:10] jcockbain commented on #2536
This is the error I got when testing, which is the one intended for missing the insecure flag:

[code]

We should investigate where the other error is coming from and make consistent.

[2020-03-23 16:22] eharris369 opened #2538 "[Eclipse IDE] Accessibility issues with welcome page"
There are the following accessibility issues with the welcome page:

- When click on the Codewind getting started link in the Eclipse welcome page it closes the welcome page and opens the Codewind Explorer view and the Codewind welcome page but focus is on the explorer view. It should be in the welcome page.
- Labels for steps are not read because they are followed by buttons which have their own

[2020-03-23 16:55] sishida commented on #2443
- Default Templates: Create containerized projects for various runtimes with Codewind project templates. If you're new to Codewind or not sure where to start, try a default template. With Codewind, you can develop in containers without feeling like you're developing in containers.
- Appsody Stacks--Incubator: Develop applications with  with Appsody in Codewind. Choose this Appsody template if you

[2020-03-23 17:00] josephca opened #2539 "Build failed during workspace cleanup on docker-build agents"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Some test codes are running on **docker-build** agents by calling **docker run**, and in turn, the unzipped test codes are owned by the **root**. As a result, clean-up workspace after a test run on docker-build agents is failed as a non-root user

[2020-03-23 19:21] sujeilyfonseca commented on #2284
I cleaned up my environments and executed tests immediately after getting the latest builds. I covered scenarios with Eclipse Che and VS Code (Remote). Here are my findings:

**1. Eclipse Che (Fyre OCP 4.3 Cluster):**
I deployed a new Codewind 0.10.0 workspace and proceeded to create four Default (Codewind-style) projects. Then, I continued to wait until at least one of them was in "Running" state

[2020-03-23 19:24] tobespc commented on #2284
Thanks for the update, will pick this up asap in the morning

[2020-03-23 19:27] sujeilyfonseca commented on #2284
Thanks, @tobespc!

[2020-03-23 19:48] #2539 closed

[2020-03-23 20:10] tetchel opened #2540 "Error deleting registry secret with address "docker.io""
I added a registry secret with address "docker.io", but now I can't delete it.
[code]

Note that the address in the error message is different - `docker.io` became `https://index.docker.io/v1/`.

I know turbine had some logic to translate between these two but I forget the reasoning.

@maysunfaisal @hhellyer

[2020-03-23 20:19] maysunfaisal commented on #2540
@tetchel because `docker.io` does not work on local https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/User.js#L936

can you paste `/root/.docker/config.json` O/P with all the info redacted

[2020-03-23 20:24] eharris369 opened #2541 "[Eclipse IDE] Problems with automated tests"
The automated tests are failing at the Codewind install step with the following message:
[code]
Also, when they do fail at this step and no connection is created, getting NPE in CodewindUtil.cleanup.

[2020-03-23 20:47] tetchel commented on #2540
[code]

[2020-03-23 22:58] tetchel commented on #2540
it works if I enter `docker.io/` :)

[2020-03-24 01:26] jgwest commented on #1268
/svt

[2020-03-24 01:52] makandre commented on #2488
/reopen

[2020-03-24 02:19] makandre commented on #2488
Reopened this issue again to address a problem, details are in the new PR https://github.com/codewind-resources/nodeExpressTemplate/pull/9

[2020-03-24 07:44] markcor11 commented on #2536
"No other methods left to try" happens when attempting to login to Codewind, first with an access token (which fails) then with a refresh token (which fails), then as a last resort trying the username/password from the keychain (which also failed) resulting in, no other methods left to try

[2020-03-24 09:12] #844 closed

[2020-03-24 12:27] #2488 closed

[2020-03-24 12:36] tobespc commented on #2284
After more debugging, we are still not any closer but... I have some points for discussion
  * This is an error scenario that should be fixed
                   however
  * To recreate, I don't believe this is normal behaviour for a developer.   The recreation requires the environment of multiple microservices all being developed at the same time, all wanting to have load test applied to them.
  *

[2020-03-24 12:42] eharris369 commented on #2541
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/645

[2020-03-24 12:42] #2541 closed

[2020-03-24 12:45] eharris369 opened #2545 "[Eclipse IDE] Include more test cases in set run with the build"
Include more test cases in the set of tests that is run with the build.

[2020-03-24 14:11] malincoln commented on #2008
@tobespc just confirming this is still on track for 0.11.0?

[2020-03-24 14:13] malincoln commented on #2441
@jagraj have you verified the fix?  It may have been closed automatically when 161 was closed.

[2020-03-24 15:00] jagraj commented on #2441
Yes, verified and it is closed.

[2020-03-24 15:23] stalleyj commented on #2472
I've found the initial problem that was in the POST /api/v1/templates/repositories api. Writing a specific test for this has led me to another issue though, in that we are not accepting the 'enabled' option to the API which my test requires. Hope to deliver a fix for both tomorrow.

[2020-03-24 15:51] j-c-berger commented on #2182
feel free to assign to me!

[2020-03-24 16:50] j-c-berger commented on #1306
Hi all, I'm touching base to see what ID's role needs to be for this issue. Let me know how we can help. Thanks!

[2020-03-24 16:50] johnmcollier commented on #2284
@elsony asked me to reproduce - As described in the issue, I can reproduce but only when loadtesting against multiple projects at once

[2020-03-24 17:08] makandre commented on #2469
### Summary

Following project types have changes made to their `Dockerfiles` in the template, allowing config files to be referenced and used during the build to fetch from private `npm/maven` registries:

- `Node.js Express` https://github.com/eclipse/codewind/issues/2488
- `Lagom` https://github.com/codewind-resources/lagomJavaTemplate/pull/3
- `Open Liberty` https://github.com/codewind-resourc

[2020-03-24 18:44] thisguy-1 commented on #2530
I would just stick with the codewind logo as an icon. It already says "debug:".

[2020-03-24 19:03] kimholmes commented on #2041
Please provide feedback. We don't have to pick a specific page but can identify elements that we like and iterate on the design:
![DocsLanding1](https://user-images.githubusercontent.com/21316329/77466037-0445b300-6de0-11ea-8eaa-f45dbcab8c32.png)

Here's a design with cards in the masthead that represent the different downloads (hybrid and remote):
![DocsLanding2_topPortion](https://user-images.gi

[2020-03-24 19:07] jgwest commented on #2284
@elsony likewise asked me to reproduce... I wasn't able to reproduce using traditional methods, but I was able to "reproduce" using the following:
1) Create a Node project, wait for it to build and start.
2) Open the Performance Dashboard for the project.
3) Disconnect from VPN (or disconnect from WiFi). The 'Offline' status at the top right is displayed. Wait ~10 seconds.
4) Reconnect to VPN(/WiF

[2020-03-24 19:38] sishida commented on #2443
What are Appsody stacks?
-  Stacks: Container images prebuilt with runtimes and frameworks (https://kabanero.io/developer/cli/)
- Each stack is pre-configured with popular open source technologies to enable rapid development of quality microservice-based applications. Stacks include a base container image and project templates which act as a starting point for your application development. Stacks

[2020-03-24 19:46] jagraj commented on #2284
@johnmcollier - Did you verify this scenario with Eclipse Che or Hybrid Scenario.?

[2020-03-24 19:51] johnmcollier commented on #2284
@jagraj Hybrid.

[2020-03-24 21:15] keithchong opened #2546 "[OpenAPI] [VSCode] Update test dependencies; Minimist security vulnerability"
Remove the deprecated way of referencing the vscode dependency.  See

https://www.npmjs.com/package/vscode

This will resolve some low level warnings when the package is audited.

[2020-03-24 21:19] keithchong commented on #2546
See also https://github.com/eclipse/codewind-vscode/pull/530

[2020-03-24 21:28] sujeilyfonseca commented on #2284
As you can see in the above scenarios where this problem has been reproduced, this can happen by accessing the Performance Dashboard using a single supported project.

https://github.com/eclipse/codewind/issues/2284#issuecomment-602805428
https://github.com/eclipse/codewind/issues/2284#issuecomment-601774669

**To summarize the steps that were performed:**
1. Install Codewind 0.10.0
2. For remote

[2020-03-25 07:55] tobespc commented on #2008
yes, still on track

[2020-03-25 09:07] markcor11 commented on #2284
Actually the new dashboard status is useful.  Offline indicates that the socket was not connected to PFE. It is over that socket channel that PFE drives the status button in the UI changing the state you see from Requested to Preparing, Running, Done etc.

If the dashboard socket is not connected to PFE, PFE is unable to control the button status which leaves it in the last known state of "Request

[2020-03-25 11:40] tobespc opened #2548 "Appsody node-express stack unable to show performance dashboard"
Creating an Appsody Node.js simple Express project from within Codewind will correctly setup a link to the performance dashboard.

However, if you create the same stack using
```appsody init nodejs-express```
and then import that project, the dashboard link is not set correctly.

Looking at the project.inf files for both projects, I can see that for the one created in codewind we have this set for

[2020-03-25 13:21] makandre commented on #2469
Regarding documenting some of this stuff, I think this is probably another new topic under `Developing Projects` > `Using packages from private registries` perhaps?  I can get this started if it sounds right to you

@sishida

[2020-03-25 15:15] malincoln commented on #2384
@tobespc is this still on track for 0.11.0?

[2020-03-25 15:16] #2467 closed

[2020-03-25 15:17] josephca commented on #2467
Both master and 0.10.0 builds are running fine. Closing the issue.

[2020-03-25 15:17] malincoln commented on #2523
@hhellyer @tobespc is this on track for 0.11.0?

[2020-03-25 16:25] stalleyj commented on #2008
I believe we should be able to fix this by updating the template to have a .cw-settings file with a contextRoot of health.  The load test config uses the project contextRoot as it's path so this should work. Further testing tomorrow.

[2020-03-25 17:27] malincoln commented on #1877
@tetchel can this be closed now?  Does anyone else need to verify?

[2020-03-25 17:28] malincoln commented on #2302
@tobespc I see this was reopened.  Who needs to verify?

[2020-03-25 17:28] tetchel commented on #1877
I have to verify it but can't right now because of a problem with my vs code environment, working on it.

[2020-03-25 17:37] sishida commented on #2469
@makandre Thanks for pulling the docs team in on this! 😃
1️⃣ In the title, if possible, I would prefer a more descriptive word instead of "Using". Maybe "Referencing"?

2️⃣ As for placement, "Developing Projects" sounds as good to me! However, I know @micgibso and @MelHopper have done a lot with the table of contents. Michael and Mel, are you OK with putting the new topic here?

[2020-03-25 18:52] j-c-berger opened #2550 "Doc for private registries"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**
Create a new doc since the scenario uses private registries

**Proposed solution:**
See the current doc, ```offline-codewind.md``` for help getting started

[2020-03-25 19:20] j-c-berger commented on #2041
Great work, Kim! I'm excited to see the final, published version!

I, personally, prefer the first layout option, because I am able to take everything in more all at once. For the second, I find myself reading it in chunks: 1, TOC on the left. 2, getting started in the middle. 3, quick guides and tweets on the right.

Of course, I'm not an expert opinion and shall agree with what the larger team d

[2020-03-25 19:55] jopit commented on #2520
This change means Codewind 0.11.0 won't start on many Linux systems out of the box, even if the user doesn't need docker registry credentials (i.e. they're not using appsody projects, or are only using public appsody stacks)

Potential fixes
- Add a preference in the IDEs to enable the insecure registry and document that Linux users should set that preference if they can't start codewind
- Add the

[2020-03-25 20:07] makandre commented on #2550
Is this meant for https://github.com/eclipse/codewind/issues/2469?

I have a draft started for that https://github.com/eclipse/codewind-docs/pull/501

[2020-03-25 20:11] makandre commented on #2469
@sishida I think it’s more than “referencing” since these are packages that would be downloaded when building the application; it’s code that the application depends on to run

[2020-03-25 20:33] sishida commented on #2469
OK, we can go with "Using" for now and just edit it later if anything better comes up. :)

[2020-03-25 20:40] tetchel commented on #2520
I think 1) and 2) are good, but I'd like it if cwctl could return a better error (and the same error on all platforms) when a keyring is not found so we can look for that specific error.

[2020-03-25 20:50] j-c-berger commented on #2550
@makandre, this issue was made so ID has an issue to work on for Epic #1991

does #2469 pertain to 1991 as well? If so, yes we can use your draft.

[2020-03-25 20:54] sishida commented on #2443
As of today, these are the descriptions that we have:
- Codewind Templates: Create containerized projects for various runtimes with Codewind project templates. Fully control the environment as part of your application.
- Appsody Incubator Templates: Build applications with preconfigured application stacks. Then, deploy and manage the applications in Kubernetes.
- Odo Templates: Develop your applic

[2020-03-25 21:00] keithchong commented on #2501
For VSCode, the version will be bumped up via the fix for https://github.com/eclipse/codewind/issues/2546

[2020-03-26 02:11] makandre commented on #2550
Ah I see.

#2469 is somewhat related.  In some organizations the user may not have access to the Internet, or otherwise restricted from accessing public registries.  And in that case they likely would have some internal private registry setup which they would use instead.

[2020-03-26 10:48] NikCanvin commented on #2474
just saw it again..

(I re-installed from Master since a week ago)

<img width="340" alt="Screenshot 2020-03-26 at 10 46 03" src="https://user-images.githubusercontent.com/16120163/77638484-2873d200-6f4f-11ea-875e-f9a0cff0b7a2.png">

[2020-03-26 12:42] makandre commented on #2548
For create, the language is `nodejs` and `isMetricsAvailable` returns `true` here:

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/Project.js#L204

But for import, the language is `javascript` so it doesn't return `true`

[2020-03-26 12:51] #2302 closed

[2020-03-26 13:37] jopit commented on #2520
For 0.11.0, do option 2 - cwctl to produce a better message that the IDEs can use to know what to tell the user.

For the future:
- Change cwctl to not require the keychain on start
- Find a way that cwctl can get PFE to begin using the credentials from the keyring only when needed.
- Consider storing the credentials in memory (PFE)
- When we try to access the credentials and it fails due to the a

[2020-03-26 14:05] tetchel commented on #2532
hi @balajikadambi did you get it working?

[2020-03-26 14:18] balajikadambi commented on #2532
@tetchel I have not been able to try it out. I will try and revert back to you by tomorrow. thanks for your prompt response and follow up.

[2020-03-26 15:01] tobespc opened #2555 "Create a jenkins build for the new codewind-operator"
https://github.com/eclipse/codewind-operator

Now that we have the operator, we need build to push it to eclipse/codewind-operator-amd64

The build will need to
[code]
(taken from the README.md)

[2020-03-26 15:09] AndyRWatson opened #2556 "No documentation on how to update version of a remote codewind install"
**Codewind version:**  0.x
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

I am currently running codewind 0.8 on my Openshift cluster running on IBM Cloud and want to move to the latest version. On our landing page we do not document the steps required to update a remote codewind once a newer release is available

**Steps to reprodu

[2020-03-26 15:10] j-c-berger commented on #2550
Since what you've made is for offline support, yes, let's bring your existing doc to this issue. I'll see what you have and make a PR for this issue or #2469 soon.

Thanks for jumping in with the good suggestion!

[2020-03-26 15:10] j-c-berger commented on #2469
@sishida, please assign this issue to me as well, thanks!

[2020-03-26 15:16] stalleyj commented on #2008
Hmm, so that does work for running load but means that the IDE plugins would also open the /health endpoint when a user chooses to 'Open application' so I think that is a no go.

My understanding is that we can't get metrics for http requests to '/' on Open Liberty because it is serving a static html page here rather than a servlet.  I'm investigating the option of checking the selected load test

[2020-03-26 15:21] makandre opened #2557 "Pick up appsody 0.6.0 release for Codewind 0.11.0"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Pick up new 0.6.0 release of appsody, scheduled to be release by Apr 1st:
https://github.com/appsody/appsody/releases/tag/0.6.0

Relevant issues we expect to pick up:
https://github.com/appsody/appsody/issues/895
https://github.com/appsody/appsod

[2020-03-26 15:21] makandre commented on #2557
/area appsody
/area eclipse-ide
/area vscode-ide
/area intellij-ide

[2020-03-26 15:47] tetchel commented on #2556
I agree we should doc this but there is no 'upgrade' path available in cwctl / the operator right now. You have to delete the old instance and create a new one

[2020-03-26 16:32] eharris369 commented on #2538
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/640

[2020-03-26 16:32] #2538 closed

[2020-03-26 16:44] james-wallis commented on #2191
The first part of this has been PR'd https://github.com/eclipse/codewind/pull/2552 which enables communication between local Docker projects.

[2020-03-26 17:07] james-wallis commented on #2191
After the code review I spoke to @markcor11 and @tobespc about sending the requests through PFE rather than straight to the application. This will mean that PFE can forward the request to the URL that it keeps up to date so we won't ever need to refresh the environment variable within a users application with a new url value.

I'm going to investigate this tomorrow based off my PR branch.
My propo

[2020-03-26 17:43] malincoln commented on #2284
moving to verify

[2020-03-26 18:25] sujeilyfonseca commented on #2284
I retested this issue with the latest Codewind 0.10.0. I covered scenarios with Eclipse Che, using a Fyre OCP 4.3 cluster and a Google Chrome browser on Mac; and VS Code (Remote) using a Windows VM and a Firefox browser. Here are my findings:

**1. VS Code (Remote):**
I installed the latest Codewind 0.10.0. After that, I created a new remote instance with the latest `cwctl`. Then, I created four d

[2020-03-26 18:25] j-c-berger commented on #2182
@james-wallis, hey James, I'm taking a closer look at this issue. I see that Sarah already made the changes you suggested for the beginning of the doc in [PR #496](https://github.com/eclipse/codewind-docs/pull/496).

As far as what ID still needs to do: do you want to reorganize the entire doc, or only the ```Generic docker projects``` section?

If you wanted the whole doc, I'm not sure how we'll

[2020-03-26 18:48] jagraj commented on #2284
With the leatest fix, I executed load test in both "Hybrid" and "Che" environments.

**1. Hybrid/Remote**

Plugin : Eclipse
Browser : Chrome
OCP version : 4.3 (Fyre)

I created four projects Default (WebSphere liberty, Spring) and Appsody (Node.js RED, Node.js Scaffold). After WebSphere liberty project started running, I started load test and the request submitted successfully and load test starte

[2020-03-26 18:53] jagraj commented on #2284
@elsony
Based on our conversation, can someone from your team try this latest fix in your environments as well.?

[2020-03-26 19:15] keithchong commented on #990
Debugging on Windows

<img width="1293" alt="Screen Shot 2020-03-26 at 3 12 56 PM" src="https://user-images.githubusercontent.com/7726022/77687333-9aaadd80-6f74-11ea-9f35-9275d2941e34.png">

[2020-03-26 19:47] keithchong commented on #2530
Thanks @thisguy-1 for your comments and feedback.  This change is included in https://github.com/eclipse/codewind-intellij/pull/91

Closing.

[2020-03-26 19:47] #2530 closed

[2020-03-26 20:00] elsony commented on #2284
yes, we are testing it out. We'll post the result when available.

[2020-03-26 20:10] tobespc commented on #2284
ok, so what happens if you don't try and start  multiple projects at once and as soon as one is ready fire load through it ?   What do you get if you wait for however many projects you choose to start to all be in running state before attempting the first load test ?  We want to make sure we are testing a realistic development scenario and not hitting errors due to unrealistic stress testing.  The

[2020-03-26 20:31] sishida commented on #2461
Discussed the update with Tim D. and Rob T. Also got feedback from the Codewind team. Merged the PR and will close the issue.

[2020-03-26 20:31] #2461 closed

[2020-03-26 20:31] keithchong commented on #990
<img width="669" alt="Screen Shot 2020-03-26 at 4 31 10 PM" src="https://user-images.githubusercontent.com/7726022/77693783-49ecb200-6f7f-11ea-81cb-ca35a4670f9f.png">

[2020-03-26 20:56] jgwest commented on #2284
Codewind 0.10.0 on Che, on generic Kubernetes, with Chrome, never load testing more than one application at a time:
- No problems one-at-a-time load-testing a Node application or  Microprofile application (at least based on my familiarity with this fxnality, but see below)
- When I disconnected my machine from the cluster (via disconnecting from VPN), I successfully got the new 'Dashboard Offline'

[2020-03-26 20:57] DavidG1011 commented on #2284
My findings with Che on OKD 4.2:

1. Created one of each: MicroProfile, Swift, Spring, and Nodejs. Waited for all of them to reach Running, Build succeeded status.

2. Ran a load test with the MicroProfile project. Test completed successfully and result was shown. After a brief pause, I started another load test, and the load test was stuck in the "Requested" state.

3. Attempted to cancel the loa

[2020-03-26 20:58] keithchong commented on #990
Codewind Spring project on Mac

<img width="1394" alt="Screen Shot 2020-03-26 at 4 57 44 PM" src="https://user-images.githubusercontent.com/7726022/77695979-05fbac00-6f83-11ea-8931-0ccf75037432.png">

[2020-03-26 21:00] tobespc commented on #2284
found a possible culprit in the code..... investigating....

[2020-03-26 21:19] eharris369 opened #2558 "[Eclipse IDE] Improve test cases"
Improve the test cases to do the following:

- Check the dashboards (if available)
- Disable project and check that it is disabled and can't be pinged and the consoles are closed
- Enable project check that it is enabled and goes to running state (as well as regular checks to ping the project and check the consoles)
- Remove project and check that it is removed and can't be pinged and the consoles

[2020-03-27 11:30] makandre commented on #2080
https://github.com/appsody/stacks/issues/646 is resolved
https://github.com/appsody/appsody/issues/895 PR has been accepted. We will need some changes in the Appsody extension https://github.com/eclipse/codewind-appsody-extension/pull/89

[2020-03-27 12:59] #2546 closed

[2020-03-27 13:41] jagraj commented on #2008
@stalleyj
Yes, that would be nice and user can provide valid endpoint for us to run load test. Thank you.

[2020-03-27 14:45] sujeilyfonseca commented on #2284
I retested this issue with the latest Codewind 0.10.0. I covered scenarios with Eclipse Che, using a Fyre OCP 4.3 cluster and a Google Chrome browser on Mac; and VS Code (Remote) using a Windows VM and a Firefox browser.

**1. VS Code (Remote):**
I cleaned my environment. I proceeded to install the latest Codewind 0.10.0. After that, I created a new remote instance with the newest `cwctl`. Then, I

[2020-03-27 15:10] tetchel commented on #2520
adding svt tag because it's platform dependent and most of us don't use linux

[2020-03-27 19:39] jopit commented on #2520
Note that cwctl is currently returning invalid JSON when this errors out:
`2020/03/19 14:41:38 WRITE_FILE_ERROR[204]: {"error":"sec_keyring","error_description":"dbus: invalid bus address (invalid or unsupported transport)"}`

[2020-03-27 19:44] j-c-berger commented on #2550
Closing because this issue was resolved with PR [#506](https://github.com/eclipse/codewind-docs/pull/506)

[2020-03-27 19:44] #2550 closed

[2020-03-27 19:48] tetchel commented on #2520
looks like it's using the logging library instead of just printing to stdout/err

[2020-03-27 19:58] richard-trotter commented on #934
Verified fix by way of 'env.properties' in 0.9.0.
I've added +1 for #2294

[2020-03-27 19:58] #934 closed

[2020-03-27 19:58] #2189 closed

[2020-03-27 22:01] keithchong opened #2560 "[IntelliJ] Pre-select project in the Codewind view, after opening the project in a new window"
Other minor enhancements/refinements to Debug Support

https://github.com/eclipse/codewind/issues/990

When a project is opened in a new window (via the actions to restart in debug or run modes, or attach debugger) the project should be pre-selected in the Codewind view.

This does not include changes to the New Project Action

[2020-03-28 13:06] balajikadambi commented on #2532
@tetchel I finally got it working :)   Thanks for your help here.

I followed all the steps and started VSCode from the terminal. I got a new error:
=========
Please wait while containers initialize...
Network "codewind_network" needs to be recreated - option "com.docker.network.bridge.host_binding_ipv4" has changed
{"error":"DOCKER_COMPOSE_START_ERROR","error_description":"exit status 1"}
=======

[2020-03-28 13:07] #2532 closed

[2020-03-30 07:06] tobespc opened #2561 "Unable to remove project from cloud connection in vscode-ide"
**Codewind version:**
master
**OS:**
mac

**Description:**
I have manage to get my IDE into a state where I don't have a connection object for the the project I want to delete and as such, I can't now remove it from my list of projects in the IDE.  I get the following error when I try to remove it

![Screenshot 2020-03-30 at 08 03 49](https://user-images.githubusercontent.com/13151286/77884600-486

[2020-03-30 08:33] jgwest opened #2562 "RBAC permissions issues getting/listing at cluster level when installing Codewind using codewind-operator on non-OpenShift Kubernetes"
**OS:** Linux
**Description:**

When installing Codewind using the fancy new codewind-operator, I hit an RBAC issue when following the documented codewind-operator install steps when running against non-OpenShift Kubernetes.

After I added the missing verbs, everything worked great (see PR).

**Steps to reproduce:**
Follow the steps described [here](https://github.com/eclipse/codewind-operator) ag

[2020-03-30 12:42] james-wallis commented on #2520
/assign

[2020-03-30 13:16] jagraj commented on #2523
With the latest Codewind 0.10 builds we have been testing cwctl implicitly. Once we are done with the Codewind 0.10 release and then we will verify Codewind 0.11 fix.

[2020-03-30 13:22] rwalle61 commented on #1990
@jopit @eharris369 @tetchel what debug ports would you like to display in the UI?
![image](https://user-images.githubusercontent.com/18170169/77915421-5c246400-728f-11ea-937a-c814c35f41b2.png)

To take Node projects for example, "Internal Debug Port" would be 9229. `cwctl` will forward that to (e.g.) `localhost:4000`. The user can attach their debugger to `localhost:4000` to debug their remote app

[2020-03-30 14:07] #2560 closed

[2020-03-30 14:16] tetchel commented on #2561
I don't know what the IDE could do in this situation. How did you get into this state? It seems more like a cwctl bug to have a project tied to a non-existent connection

[2020-03-30 14:17] tetchel commented on #1990
We could rename 'exposed debug port' for remote projects to something like 'forwarded debug port' ?

[2020-03-30 14:29] keithchong commented on #2037
Reference: https://github.com/eclipse/codewind/issues/2560

For some reason, after creating the new project, the new window is refreshed/reloaded which throws a wrinkle when using the solution https://github.com/eclipse/codewind/issues/2560.

[2020-03-30 14:32] tetchel opened #2563 "Document keychain usage with codewind"
with #2520 and https://github.com/eclipse/codewind/issues/1306, local users will now have to use a [keychain](https://askubuntu.com/a/1719) (aka keyring) too, or use the new insecure keychain, or have cwctl crash (!) when certain commands are used.

We should document the following:
1. what systems come with a keychain by default?
2. if I don't have a keychain, how do I install one?
2. what codewi

[2020-03-30 14:37] jopit commented on #1990
I don't think we should hide the 'External Debug Port' since users may want to manually attach a debugger to it.

If the user is likely to get confused about which host the port is on, isn't it a better solution to tell the user which host to use?

[2020-03-30 14:39] tetchel commented on #1990
it could be a debug url instead of a port, like `localhost:4000`. and we could call it something like 'local debug address'

[2020-03-30 14:45] tetchel commented on #2563
1. Windows 10, Mac and some Linux systems (installations including the `gnome-keyring` package) come with a keyring out-of-the-box.
2. On linux, you can install https://wiki.archlinux.org/index.php/GNOME/Keyring. You can use any keyring compatible with [go-keyring](https://github.com/zalando/go-keyring), which is what Codewind uses internally.
3. Not certain about this one. The following definitel

[2020-03-30 15:00] tetchel commented on #2563
It looks like there is a small mention of keyrings in the documentation already added in https://github.com/eclipse/codewind-docs/pull/289

[2020-03-30 15:16] hhellyer commented on #2563
I think this is probably more information than is needed. We probably don't want to document this in the main docs just the troubleshooting guide.

I suspect it's going to be very rare that a 'real' user needs to do anything about this. A normal Mac or Windows or Linux desktop will have a keychain or be pretty broken. A "normal" desktop will come with a keychain so documenting it as a separate req

[2020-03-30 15:22] tetchel commented on #2563
Any user using a headless linux environment or _many_ linux distributions which don't include `gnome-keyring` will hit this problem so I think at least 2) 5) and 6) need to be documented for those users

[2020-03-30 15:25] thisguy-1 opened #2564 "VSCode Operator UI: Deployment Settings"
Codewind flow for creating and editing a deployment.

Developer can:
- enter name and later edit name
- add a new cluster or select from already added clusters
- quickly select template sources or access more detailed template source manager if desired
- quickly add and toggle image registries

This UI will work in tandem with a higher topographical view the developer will have within her IDE that

[2020-03-30 15:36] jcockbain commented on #2555
/assign

[2020-03-30 15:52] thisguy-1 commented on #2564
Low Fidelity:
<img width="874" alt="Screen Shot 2020-03-30 at 11 52 24 AM" src="https://user-images.githubusercontent.com/52169824/77933563-f4651d80-727c-11ea-816a-192de5d6e0b2.png">

[2020-03-30 15:54] hhellyer commented on #2563
I think the logical questions are:
- Do we document or support using a headless Linux environment? (I'm not sure we document how to use cwctl manually as an end user.)
- Do Eclipse/VSCode/IntelliJ (our supported editors) support those Linux distributions?

As an aside, starting an editor from a terminal where `INSECURE_KEYRING` is set might be sufficient. Do the editors need to have a preference f

[2020-03-30 15:57] tetchel commented on #2563
I am much more concerned about the non-gnome-linux distros than the headless ones. The IDEs do support those.

And, whether or not we 'support' cwctl directly we see from Jonathan's issue (and bsteinfeld's participation) that people are using it - and my impression was we do plan to support it on its own one day even if it's not well supported right now

[2020-03-30 16:01] jgwest commented on #2562
Confirmed as fixed.

[2020-03-30 16:01] #2562 closed

[2020-03-30 16:01] maysunfaisal opened #2565 "Codewind Installer Services should be tied to Deployments"
[code]

[2020-03-30 16:05] eharris369 commented on #773
PR for adding generic help: https://github.com/eclipse/codewind-eclipse/pull/667

[2020-03-30 16:05] thisguy-1 opened #2566 "VSCode Codewind Operator UI: First Time Log In within IDE"
A developer can do her first time log in to the Codewind Operator without having to leave her IDE.

After an administrator has set up the operator in a cluster, he will send the developer temporary credentials, which the developer will then change and access. What are the requirements for this? What does this look like within an IDE?

Assign to:
@markcor11
@thisguy-1
@tetchel
@jopit

[2020-03-30 16:07] thisguy-1 commented on #2566
/assign @thisguy-1

[2020-03-30 16:08] thisguy-1 commented on #2566
/assign markcor11

[2020-03-30 16:09] hhellyer commented on #2563
Ok, so long as we actually do have environments where the user won't have a keychain. (Although as it's insecure we might suggest installing a keychain is a better option!)

Where do you stand on including it in the main docs or the troubleshooting?
https://www.eclipse.org/codewind/mdteclipsetroubleshooting.html
That would be enough to make it googleable which is probably the first place anyone wi

[2020-03-30 16:11] thisguy-1 commented on #2566
/assign tetchel

[2020-03-30 16:11] thisguy-1 commented on #2566
/assign jopit

[2020-03-30 16:11] tetchel commented on #2563
Yes I agree installing a keychain >> using the insecure keychain, item #2

I think the troubleshooting for sure should have it, we already have some mention of keychain from I think the troubleshooting from https://github.com/eclipse/codewind-docs/pull/289/files so we could expand that section and have the troubleshooting link to it

[2020-03-30 16:20] maysunfaisal opened #2567 "Codewind remote install docs needs to be fixed"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
If you follow the instructions on https://www.eclipse.org/codewind/remotedeploy-combo.html

Codewind-installer times out and the Codewind pod never comes up!

[code]

You need to add
[code]

which is described in the other link https://www.eclipse.org/codewind/remot

[2020-03-30 16:21] maysunfaisal commented on #2567
/priority stopship

[2020-03-30 16:24] MelHopper opened #2568 "Create orientation and signposting for Eclipse Che YAML file 'download'"
**The Problem**

Codewind for Eclipse Che is a YAML file:

https://github.com/eclipse/codewind-che-plugin/blob/0.9.0/setup/install_che/che-operator/codewind-checluster.yaml

Information needs to be added to orient and signpost the user to what to do with this YAML file.

**Further Details**

In particular, given that:
1. the YAML file can be reached by typing in keywords such as  Eclipse Che and C

[2020-03-30 16:25] tetchel commented on #2567
yeah, this wasn't fixed with https://github.com/eclipse/codewind/issues/2320

[2020-03-30 17:07] AndyRWatson opened #2570 "Need to document how to create own templates"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Our landing page document still does not document how a user creates/modifies their own templates.  We document how to point to your own template repo (via template source repo) but provide no guidance on the steps required to create your own repo or more importantl

[2020-03-30 17:19] AndyRWatson commented on #2570
/area docs

[2020-03-30 18:09] jgwest commented on #2563
Sounds like y'all are on the same page, but since I was @-ed I thought I would put in my two cents re: prevalence.

The original issue will occur with any Linux environment that does not have their distro's desktop packages installed. This includes the Ubuntu 18.04 LTS Server Edition (and presumably RH distro equivalents), which would be the most common distribution running on servers/VMs (rather

[2020-03-30 18:13] sishida commented on #2570
Looks like we currently have this file for templates: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/workingwithtemplates.md

[2020-03-30 18:25] keithchong commented on #2484
For a Codewind Lagom project, it shows Java for me. Can you provide the project?

<img width="622" alt="Screen Shot 2020-03-30 at 2 22 28 PM" src="https://user-images.githubusercontent.com/7726022/77947591-27fe7280-7292-11ea-8282-f7f5b1e72a4a.png">

[2020-03-30 18:52] keithchong commented on #2484
Same on windows:

<img width="464" alt="Screen Shot 2020-03-30 at 2 51 06 PM" src="https://user-images.githubusercontent.com/7726022/77950067-fe474a80-7295-11ea-9050-4523d5caaa27.png">

[2020-03-30 18:53] keithchong commented on #2484
I believe the Eclipse plugin will also show `Unknown`.  We cannot automatically detect the language, so you need to go to the next page to select the language.

[2020-03-30 18:56] keithchong commented on #2484
I'm not sure if we will do anything right now w.r.t. the language field.

However,  for IntelliJ, we can definitely improve upon the wizard flow as I mentioned before.  The Finish button is only available on the last page of the wizard for example.

[2020-03-30 19:13] james-wallis commented on #2191
Have raised a second networking PR which addresses the above. I've changed the implementation to use a proxy within PFE will receive requests from all applications with a link and forward them to the correct project. https://github.com/eclipse/codewind/pull/2571

[2020-03-30 19:52] #2531 closed

[2020-03-30 20:05] eharris369 commented on #2558
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/662

[2020-03-30 20:05] #2558 closed

[2020-03-30 23:38] jagraj commented on #2284
**Hybrid/Remote:**

With the latest fix without "Offline" dialog, we see some improvements better than last fix. Looks like WebSphere Liberty and Open Liberty projects load tests failing and not getting load test results and I also injected metrics explicitly to see if I can get results but I did not get results. When these projects fail and I no longer submit load tests for any other projects and

[2020-03-31 00:24] sujeilyfonseca commented on #2284
I retested this issue with the latest Codewind 0.10.0. I covered scenarios with Eclipse Che, using a Fyre OCP 4.3 cluster and a Google Chrome browser on Mac; and VS Code (Remote) using a Windows VM and a Firefox browser. I see some improvements with the latest fix.

**1. VS Code (Remote)**
I cleaned my environment. I proceeded to install the latest Codewind 0.10.0. After that, I created a new remo

[2020-03-31 00:27] DavidG1011 commented on #2284
My test results are similar to Jag's.

**Che:**

I was able to run a few load tests successfully with Java Spring, Nodejs, and Swift projects. I then tested out a load test with a Java Microprofile project. The test did not produce any results, and I was unable to run any subsequent load tests.

Test running:

<img width="1680" alt="Screen Shot 2020-03-30 at 8 03 49 PM" src="https://user-images.gi

[2020-03-31 07:02] tobespc commented on #2284
you are all seeing different results to me :-(

[2020-03-31 08:51] MelHopper commented on #2108
Copy completed and passed to Kim for final wireframe designs.

[2020-03-31 08:51] #2108 closed

[2020-03-31 10:30] micgibso commented on #2367
Discussed with Mel, Mel to discuss with Tim.

[2020-03-31 10:37] micgibso commented on #2380
Mel will revisit the design to see if we can do without the extra level. Iceboxing for now.

[2020-03-31 10:38] micgibso commented on #2365
All IDEs updated, closing...

[2020-03-31 10:38] #2365 closed

[2020-03-31 10:46] micgibso commented on #2342
Solution for this is in #2360 .

[2020-03-31 10:46] #2342 closed

[2020-03-31 10:46] micgibso commented on #2360
#2342 is a duplicate, closed, work to be done under here.

[2020-03-31 11:02] rwalle61 opened #2573 "[IDE] [Remote debug] Write correct debug configuration (e.g. in launch.json)"
**Codewind version:** 0.11
**OS:**

**Description of the enhancement:**

In https://github.com/eclipse/codewind/issues/1990, the user wants to debug their remote project. When they click "Restart in Debug Mode" or "Attach debugger", we need to have the correct VSCode `launch.json` configuration (or equivalent in other IDEs). The configuration we need to debug local projects is different to the con

[2020-03-31 11:06] rwalle61 commented on #2573
/area portal
/area intellij-ide
/area eclipse-ide
/area vscode-ide

[2020-03-31 12:31] jopit commented on #2573
My preference is for option 1.  I don't believe we should put the burden of choosing a port on the user.
@eharris369 @tetchel what do you think?

[2020-03-31 12:32] hhellyer commented on #2573
I'd vote 1. Port numbers aren't particularly interesting to the end user. This is something we can handle automatically and not a particularly useful choice.

[2020-03-31 13:10] sghung opened #2575 "Improve the blog design"
The current blog design is based on the kabanero-io blog design. We want to improve the current design to improve usability.

Some feedback we got were:
- Show more preview posts on the blog.html. Right now it shows 3, but it would be nice to have some tiles to show more
- Show an optional preview photo to grab people's attention in the blog preview post page
- Allow tags and search to be enabled

[2020-03-31 13:14] rwalle61 commented on #2573
so @jcockbain will make `cwctl` work for option 1, and could the IDE code-owners connect with that when it's ready please

[2020-03-31 13:17] tobespc commented on #2561
I don't how I got to the state of the connection object going but, given that it did, from an IDE perspective there seems to be no way to remove the project from the workspace.

[2020-03-31 13:19] tetchel commented on #2561
Does the connection shows in the codewind explorer, even if you restart vs code?

[2020-03-31 13:25] tetchel commented on #2563
ok, if the keychainless systems are only headless (desktop-less) systems, that changes this somewhat, because those systems won't support any graphical IDE. So the only proper use-case for insecure keychain is using cwctl on its own.

That makes me think we don't have to support this form the IDEs.

[2020-03-31 13:27] jgwest commented on #2566
@markcor11 must comment on the bug before he can be assigned (@thisguy-1)

[2020-03-31 13:36] MelHopper commented on #2575
Hi Steven, can you add to feedback:

1. Title 'Blogs'
2. Copy to introduce the page - I have created some copy to share with you

Thanks!

[2020-03-31 13:36] tetchel commented on #2563
(but, to be clear, I still think we should document 5) and 6) and briefly mention 1) and 2) )

[2020-03-31 14:11] MelHopper opened #2576 "CS: Define correct terminology for Remote Tutorials"
_This issue has come out of work done to tutorialise the Remote content: https://github.com/eclipse/codewind/issues/2151_

_This issue is related to work item: CS: Research terminology and propose improvements to reflect functionality https://github.com/eclipse/codewind/issues/2587_

**The Problem**

Better terminology needs to be defined for content. In particular, this issue is concerned with te

[2020-03-31 14:11] MelHopper commented on #2576
@deboer-tim FYI

[2020-03-31 14:12] MelHopper commented on #2151
@deboer-tim FYI improving terminology is in progress as part of this work - see above comments.

@micgibso New github issue has been created to track this particular part of the work: https://github.com/eclipse/codewind/issues/2576

[2020-03-31 14:15] micgibso commented on #2556
Upgrade path will be covered when I've finished documenting the new remote operator on https://github.com/eclipse/codewind-docs/pull/502.

[2020-03-31 14:16] MelHopper commented on #2151
Any work coming out of this issue have now been raised as separate github issues (as per comments above), so closing this work item - tutorialised remote content will become live in 0.10.0

[2020-03-31 14:16] #2151 closed

[2020-03-31 14:51] jcockbain commented on #2573
My installer PR should now port-forward to a local port that's available. https://github.com/eclipse/codewind-installer/pull/415

[2020-03-31 15:00] eharris369 opened #2577 "[Eclipse IDE] Make base test case more flexible"
Make the base test case more flexible so tests can have multiple connections and applications.

[2020-03-31 15:15] keithchong opened #2578 "[IntelliJ] ArrayIndexOutOfBoundsException after creating a new project"
**Codewind version:** latest
**OS:** Mac (should be on Windows too)
**IDE extension version:** latest
**IDE version:** any

**Description:**
When a new project is created, the Codewind view needs to be refreshed to show the newly added project.  However, the list of applications that we know about in Codewind is more up to date than what the tree shows, and it appears that it will try to update/re

[2020-03-31 15:50] eharris369 opened #2579 "Eclipse IDE tests not cleaning up containers"
The Eclipse IDE tests are not cleaning up the containers after running.

[2020-03-31 15:54] hhellyer commented on #1306
I had a chat with @j-c-berger about this. I'm going to suggest the changes below, @maysunfaisal and @makandre should probably take a look:

- Firstly the page about image registries is currently under the remote section here: http://codewind-docs1.fyre.ibm.com:4321/codewind/remote-setupregistries.html since we've added these changes it should probably move out to the general using codewind section

[2020-03-31 16:22] makandre commented on #1306
Even for remote codewind connection, we would *need* to do the local `docker login`, because the project creation is happening locally.  That means `appsody init` is run locally, and it will need to pull image down from a possibly private registry

@j-c-berger is there a doc PR for this?  I would like to review as well.

[2020-03-31 16:54] tetchel commented on #2280
https://github.com/eclipse/codewind-vscode/pull/536

[2020-03-31 16:54] #2280 closed

[2020-03-31 17:42] jopit commented on #2573
The https://github.com/eclipse/codewind-installer/pull/415 PR adds a new command `cwctl project port-forward` -- is the expected flow that the IDEs call (paraphrased) 'cwctl restart debug' followed by 'cwctl project port-forward <internal-port>', and the json output of the port-forward command contains the local port to use?  What's the exact format of the returned json?

[2020-03-31 17:55] jopit commented on #2573
And what was wrong with doing the port-forward as part of the restart, as was originally proposed: https://github.com/eclipse/codewind/issues/1990#issuecomment-600529181

[2020-03-31 18:00] j-c-berger commented on #1306
@hhellyer, thanks for the chat and for posting the recap here along with your suggestions.

@makandre, I don't have a PR up yet. I'll assign you and Howard and as reviewers when I get it up. Thanks

[2020-03-31 19:14] keithchong opened #2581 "[Docs] Add documentation for debug support in Codewind"
**Codewind version:** 0.11.0
**OS:** any
**IDE extension version:** latest
**IDE version:** any

**Description of the enhancement:**
From the Codewind docs link
https://www.eclipse.org/codewind/overview.html
There isn't much documentation on how to debug a Codewind application.

Under the section "Developing projects", will it make sense to cover the important aspects of the Edit, Build/Compile an

[2020-03-31 19:21] eharris369 commented on #2573
If the port is returned in the restart result then the IDEs would need a way to get it again if they were restarted. Also in this case I am wondering what the IDEs should do if they don't support debugging that project type. I assume that they should always make sure port forwarding is set up if a project is debugging so the user can attach a debugger if they want to (maybe using some other extens

[2020-03-31 19:32] tetchel commented on #2520
Can we make sure for 0.11 that `cwctl start` does not fail because there's no keychain?

[2020-03-31 21:51] eharris369 commented on #2579
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/680

[2020-03-31 21:51] #2579 closed

[2020-04-01 07:04] tobespc commented on #2520
but what would we want to then happen if there is no keychain ?  For 0.11 we agreed that we would just do option 2
[code]
and all other enhancements would be for future releases

[2020-04-01 08:50] MelHopper commented on #2369
@sishida @beccabau just an FYI - moving this task to In Progress as I shall be reviewing the diagrams over the next couple of weeks, ready to use within some content.

[2020-04-01 08:51] hhellyer opened #2582 "Always perform local docker login in 'cwctl registrysecrets add'"
**Codewind version:**
**OS: All**

**Description:**
At the moment when the command `cwctl registrysecrets add` is run we do a local docker login *if* the secret is being added to a local connection.
As discussed here: https://github.com/eclipse/codewind/issues/1306#issuecomment-606716276 we should change this so we always do the local docker login whether we are working with a local or remote conn

[2020-04-01 08:51] MelHopper commented on #2369
Diagrams look fantastic, thanks Sarah and for reviewing Becca. A couple of requests in the following comments....

[2020-04-01 08:51] hhellyer commented on #1306
@makandre - I've raised https://github.com/eclipse/codewind/issues/2582 to move the local docker login so we always run it and make sure the docs are in sync.

[2020-04-01 09:03] MelHopper commented on #2369
For the 2nd config, the 'browser-based' config, could you:

1. make the arrow coming from the desktop to the cloud a double-ended arrow? - showing data moving to AND from the cloud.

2. remove the arrow coming from the _Eclipse Che on Cloud Environment_ text - this text is a label for the cloud so would be best placed in the same way as the 'Local Machine' label in the Local config diagram - see s

[2020-04-01 09:04] MelHopper commented on #2369
For the Local config, please can you:

1. Change the label 'Local Machine' to 'Desktop'

[2020-04-01 09:09] MelHopper commented on #2369
For the 'hybrid' config, please can you:

1. rename the config to the approved terminology 'Remote config
2. change the label 'cloud hosted' to 'cloud' (as per approved terminology - FYI, cloud-hosted is not used because it is associated with on-prem software
3. rename the label 'local machine' to 'desktop'

(apologies, the original diagram I created was pre-nailing down these terminologies)

[2020-04-01 09:26] MelHopper commented on #2369
Could you make the titles 'local configuration', 'browser-based configuration' and 'remote configuration' stand out more? ie. currently the text is the same size, styling etc. as the labels 'local machine', 'cloud' etc.

[2020-04-01 10:38] MelHopper commented on #1980
Change to ToC, based on:

1. we cannot use more than 3 levels within the ToC
2. There is a separate link from the docs LP for users of browser-based codewind from the local and remote codewind cards.
3. we no longer need the current the Getting Started topic because we have a new Docs Landing Page.

As such, the following needs to happen:

1. Create a new topic at the top level titled  **_Using Co

[2020-04-01 10:45] jcockbain commented on #2573
@jopit - I moved `port-forward` to a separate command as it kept the outputs clearer and easier to follow. With a single command, within the `cwctl code` it's calling restart logic then forward logic. Was discussed in Portal scrum and @tobespc's preference was the one `restart` command too. I'm happy to revert to how it was if that's the consensus.

There currently isn't a json output, as it stand

[2020-04-01 12:41] eharris369 commented on #2577
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/675

[2020-04-01 12:41] #2577 closed

[2020-04-01 12:44] eharris369 commented on #2502
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/673

[2020-04-01 12:44] #2502 closed

[2020-04-01 13:26] makandre commented on #2557
Appsody is going to have a release today.  Currently there’s an error when running in Che and I’m talking with appsody team to have it fixed before they release.  They are aware that our dcut is today.

[2020-04-01 14:02] tetchel commented on #2520
The commands which actually use the keychain (registrsecrets, seckeyring update, sectoken get) would fail when they are used

[2020-04-01 14:18] tetchel opened #2584 "Cwctl doesn't clean up keychain"
I have over 250 saved credentials in the keychain, matching `org.eclipse.codewind.<connection ID>`. Obviously I'll have way more than a real user, but when I remove a connection, it should delete the keychain entry too.

[2020-04-01 14:23] sishida opened #2585 "Documenting debugging"
The docs currently do not include a page for debugging.
- We propose 1 debugging page for all IDEs.
- Although an IDE might have a debugging action that users of the IDE might already be familiar with, it could still be useful to point out Codewind's debugger.
- Remote debug should look similar but might be on a different page.

[2020-04-01 14:38] MelHopper opened #2587 "CS: Research terminology and propose improvements to reflect functionality"
**Enhancement**

Some terms and labels used within both content and UI design sometimes could be improved by using terms that reflect function.

This github issue is for researching our terminology and proposing improvements.

**Further Details**
Starting point: Previous work into terminology has resulted in the following definitions:

Codewind Terminology: https://ibm.ent.box.com/notes/5398845901

[2020-04-01 14:38] MelHopper commented on #2587
FYI @deboer-tim

[2020-04-01 14:55] hhellyer commented on #1306
I've added the fix for this to my existing PR https://github.com/eclipse/codewind-installer/pull/414 as that hasn't been merged yet.

[2020-04-01 14:58] hhellyer commented on #2582
This has been added to eclipse/codewind-installer#414 as that hasn't been merged yet.

[2020-04-01 14:59] tetchel opened #2588 "docker.io secret doesn't work after restarting local PFE"
**Codewind version:** master
**OS:** any

**Description:**
docker.io secret doesn't work after restarting local PFE

**Steps to reproduce:**
On the **local** connection:
1. Add a registry secret with address `docker.io`. Note it gets added as `index.docker.io/v1/`. The address in `<pfe>/.docker/config.json` is `index.docker.io/v1/` too. I know that @maysunfaisal implemented it this way because `in

[2020-04-01 15:00] tetchel commented on #2588
I think this should be stopship because it breaks the core use-case of the new local docker login functionality

[2020-04-01 15:03] tetchel commented on #2588
Also, if I enter `docker.io/` instead of `docker.io` as the address, it doesn't get "translated" to `index.docker.io/v1/`. I think the trailing `/` should be ignored

[2020-04-01 15:18] tetchel commented on #1306
bug with this new functionality -> https://github.com/eclipse/codewind/issues/2588

[2020-04-01 15:20] #2501 closed

[2020-04-01 15:30] malincoln commented on #2384
Update from @tobespc: Fix will not make 0.11.0 so moving to 0.12.0

[2020-04-01 15:49] MelHopper commented on #2575
@sishida FYI

[2020-04-01 16:14] MelHopper opened #2589 "Create new topic 'Three configurations of Codewind'"
_Note: This github issue blocks the New Landing Page design: https://github.com/eclipse/codewind/issues/2041

Note: This issue is related to https://github.com/eclipse/codewind/issues/1980 - ToC Restructure to improve user work flow._

**Enhancement**
To ensure good user workflow from the signposting in our new Docs landing page, some overview topics need to be created.

**Solution**

Create new t

[2020-04-01 16:15] makandre commented on #2052
Doc changes were just merged to master.

/pipeline verify

[2020-04-01 16:15] jcockbain commented on #1990
To summarize a chat between Portal(@rwalle61) and IDE team(@eharris369, @tetchel, @jopit).

The proposed `cwctl port-forward` command was essentially just wrapping the kube API. It was decided that it was less confusing for a user to interact directly with the kubectl command, in an IDE terminal, as follows:

1. IDEs will call `PFE projects/{id}/restart directly`, and receive status 202
2. IDEs wi

[2020-04-01 16:21] sishida commented on #2575
@MelHopper, In a comment on this issue, could you please add the copy text to introduce the page? I can go over it for review and then create a PR to add it to the website.

@sghung, I would need to add the title and intro text to the blogs page itself (maybe this one? https://github.com/eclipse/codewind-docs/blob/master/docs/_layouts/blog.html) as opposed to a separate Markdown file, correct?

[2020-04-01 16:31] sishida commented on #2587
Hi, @MelHopper, The Box links aren't visible to everyone, but I have started this "Terminology" page in the `codewind-docs` wiki, where we can specify terms for everyone to see: https://github.com/eclipse/codewind-docs/wiki/Terminology

At the time of posting this comment, it is very small, but please let me know if you'd like any particular changes/updates. Thank you!

[2020-04-01 17:01] mmulholl commented on #1805
Fixed

[2020-04-01 17:01] #1805 closed

[2020-04-01 17:12] scottkurz commented on #2455
@sghung @jagraj ..the Windows fix I mentioned is now available in v0.6.0:
https://github.com/appsody/appsody/releases/tag/0.6.0

[2020-04-01 17:23] tetchel opened #2590 "Content Security Policy problem in Che causes images to not load"
Environment: Che on OCP 4.3.1. Using https

![image](https://user-images.githubusercontent.com/8888438/78167130-f0233680-741b-11ea-9c56-67bfb0e319e0.png)

What could be different about this environment? che with https isn't new

[2020-04-01 17:31] sishida commented on #2528
PR to use Steven's code update to get the borders to appear around specific images in the docs: https://github.com/eclipse/codewind-docs/pull/514

PRs for Steven's code changes plus doc updates are merged. Closing this issue.

[2020-04-01 17:31] #2528 closed

[2020-04-01 17:45] sishida commented on #2323
Because we will no longer have a 0.10.0 release, I am updating this issue for 0.11.0 new and noteworthy content.

Existing 0.10.0 content:
- Original PR for 0.10.0 new and noteworthy file: https://github.com/eclipse/codewind-docs/pull/493
- 0.10.0 new and noteworthy file: https://github.com/eclipse/codewind-docs/blob/master/docs/_news/news10.md

To do list for 0.11.0:
[ ] Change the `news10.md` fi

[2020-04-01 18:57] #583 closed

[2020-04-01 18:57] #2515 closed

[2020-04-01 19:27] sghung opened #2591 "Remove the existing getting started page and redirect to the overview"
In the future, we will use this redirection to point to the new page we're working on. In the short term, we're redirecting to overview.html (https://www.eclipse.org/codewind/overview.html). The existing getting started page doesn't have intellij shown plus it causes navigation issues in the sidebar (it is the only item that expands and goes to a link, usually it's one or the other, not both)

[2020-04-01 19:56] eharris369 opened #2592 "[Eclipse IDE] NPE in ProjectSelectionPage.validate when user types in path"
The following NPE occurs when the user is typing in the path for the project in the Project Selection page of the Add Existing Project wizard. The NPE only appears in the workspace .log file.

java.lang.NullPointerException
        at org.eclipse.core.runtime.Path.<init>(Path.java:209)
        at org.eclipse.core.internal.resources.WorkspaceRoot.getProject(WorkspaceRoot.java:148)
        at org.ec

[2020-04-01 20:38] josephca opened #2593 "Setup additional docker-build agents to JIPP"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Setup additional Codewind slaves and add them as docker-build agent to Codewind JIPP

**Proposed solution:**

Setup VMs to work as docker-build agents.
Opened a Bugzilla bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=561452
Pull request: http

[2020-04-01 20:39] sghung opened #2594 "Implement new Codewind Landing Page"
Implement the design from https://github.com/eclipse/codewind/issues/2041

[2020-04-01 23:22] markcor11 opened #2595 "codewind-operator: Expand CR lists to show pod and PVC status"
**Description of the enhancement:**

Currently the operator will list some key information about the Codewind or Keycloak deployments. eg :

[code]

Should there be delays (such as waiting for storage to provision) it would be nice to have the status available in this list without having to use additional kubectl commands to hunt around the environment looking for individual status

**Proposed sol

[2020-04-01 23:22] markcor11 commented on #2595
/area portal

[2020-04-01 23:44] markcor11 opened #2596 "codewind-operator - ENOTFOUND error during browser connection to PFE"
**Description:**

Browser and IDE fail to connect to a deployed Codewind PFE when running on OpenShift 4 in IBM Cloud returning ENOTFOUND

**Steps to reproduce:**

Deploy codewind per readme,  wait for all pods to be ready,  try connecting from Browser to PFE and it will be unable to connect returning ENOTFOUND

[2020-04-01 23:44] markcor11 commented on #2596
/assign
/area portal

[2020-04-01 23:44] markcor11 commented on #2596
put in PR with fix : https://github.com/eclipse/codewind-operator/pull/8

[2020-04-02 00:01] tetchel opened #2597 "cwctl attempts to 'docker login' in Che and fails"
![image](https://user-images.githubusercontent.com/8888438/78197552-aeae7d80-7453-11ea-8822-558b116dfbef.png)

[code]

There's no need to run `docker login` in Che. This step should be skipped

[2020-04-02 00:01] tetchel commented on #2597
It should be an easy fix but this is stopship because now I can't add registry secrets which means I can't create Codewind-style projects

[2020-04-02 10:19] micgibso commented on #2436
Closing this due to the requirement for tabs in our content being negated by the new Codewind operator. If we identify further content that might require tabs, we can revisit. @MelHopper fyi.

[2020-04-02 10:19] #2436 closed

[2020-04-02 10:21] micgibso commented on #2464
Changing our approach so closed PR 502 above without merging.

[2020-04-02 12:55] jcockbain commented on #2536
@tetchel would modifying that error message to refer to authentication resolve this?

[2020-04-02 12:56] jcockbain commented on #2536
/assign

[2020-04-02 13:51] hhellyer commented on #2597
PR's raised for master and 0.11.0:
https://github.com/eclipse/codewind-installer/pull/423
https://github.com/eclipse/codewind-installer/pull/424

Just need review/merge.

[2020-04-02 14:31] eharris369 commented on #2592
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/684

[2020-04-02 14:31] #2592 closed

[2020-04-02 14:42] makandre commented on #2080
Docs was just merge as well.

/pipeline verify

[2020-04-02 15:03] hhellyer commented on #2588
Looks like the issue with the trailing `/` is actually in the registry code in PFE: https://github.com/eclipse/codewind/blob/2851d547e75a93a6f1c55eafa06bc609b21ad64d/src/pfe/portal/modules/User.js#L939

@maysunfaisal - Can this be fixed by just checking for the trailing `/` or are there other ways the user could enter docker.io registries that would also break?

[2020-04-02 15:18] kimholmes commented on #2041
@sghung @MelHopper Here are specs for the landing page. Although I'm sending final specs over now, we can still make minor tweaks moving forward.

To view the HTML/CSS specs, load the index.html page in this zip file (this code does not need to be exact, but can be used as a guide):
[Docs_Landing.zip](https://github.com/eclipse/codewind/files/4421847/Docs_Landing.zip)
![Docs_Landing](https://user-

[2020-04-02 15:47] kimholmes commented on #2233
@sghung Here's what I was thinking:
![nav_Versions](https://user-images.githubusercontent.com/21316329/78269560-c29bc300-74d7-11ea-9b4e-d28ef0e84fe7.png)

[2020-04-02 15:52] eharris369 opened #2600 "[Eclipse IDE] Views should include connection name in title"
The container shell and console titles should all include the connection name now that multiple connections are supported.

[2020-04-02 16:13] jagraj opened #2601 "SVT:Appsody project create failed and I can not create same project any more"
**Codewind version:** 0.11
**OS:** Windows

**Che version:**
**IDE extension version:**  Eclipse 0.11
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
I created one of appsody project from (Appsody Node.js Loop Back Template) and for some reason it is failed and after that I can not create same project with the same name. I can not find the actual folder of the project "a

[2020-04-02 16:13] jagraj commented on #2601
/priority hot

[2020-04-02 16:14] james-wallis commented on #2191
The second PR is awaiting a review of the first but in the meantime I've created the `cwctl` commands for `cwctl project link`: https://github.com/eclipse/codewind-installer/pull/421

In addition I've started looking at the Kubernetes work:
* `Project1` communicate to PFE using its cluster IP (available as an ENV in the container)
* PFE will proxy the request to `Project2` using either it's cluste

[2020-04-02 16:20] sishida commented on #2570
- Template sources adds GitHub repo that contains an existing set of templates, one or many.
- Each template consists of two parts: entry in the template source repo (an index of templates) and typically its own Git repository as well.
- Our template source: https://github.com/codewind-resources/codewind-templates
- Links to actual templates: https://github.com/codewind-resources/codewind-template

[2020-04-02 16:23] eharris369 opened #2602 "[Eclipse IDE] Update image for welcome page"
Update the image for the welcome page.

[2020-04-02 16:35] makandre commented on #2601
For appsody projects, you have to ls /mounted-workspace in pfe (which is bind mounted to your local codewind-data dir)

[2020-04-02 17:35] sishida commented on #2469
Andrew is currently working on a blog. We can close this issue after the blog is complete.

[2020-04-02 17:44] eharris369 commented on #2602
Fixed by PRs:
    master: https://github.com/eclipse/codewind-eclipse/pull/686
    0.11.0: https://github.com/eclipse/codewind-eclipse/pull/687

[2020-04-02 17:44] #2602 closed

[2020-04-02 18:14] jopit commented on #822
The IDEs can use kubectl to implement this without needing changes in portal.

[2020-04-02 19:06] maysunfaisal commented on #2474
/assign

[2020-04-02 19:08] tetchel commented on #2590
So, this is not a problem with the CSP or with my extension at all. Some investigation with @pdfruth revealed that he has the same issue with *all* webviews, not just the Codewind ones (eg, the Che welcome page).

![image](https://user-images.githubusercontent.com/8888438/78291596-a9a10b00-74f3-11ea-896d-b40e004fb9bd.png)

He is on OCS 4.3.1 and Che 7.10.0

[2020-04-02 19:09] yangcao77 commented on #2465
I can take a look at this issue.
/assign

[2020-04-02 19:12] johnmcollier commented on #2590
@pdfruth Che is very finicky with FF (especially older FF versions), recommend trying Chrome

[2020-04-02 19:21] eharris369 commented on #2600
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/685

[2020-04-02 19:21] #2600 closed

[2020-04-02 19:54] tetchel opened #2604 "Fix or document upgrade path from versions < 0.9"
We have had 3 users contact us in the last 2 weeks (eg #2532) getting stuck trying to upgrade Codewind from 0.4, 0.5, and 0.8.1 to latest production (0.9). They see the following error:

[code]

They can resolve this error by removing the images by hand or (on mac/linux) using the one liner in https://github.com/eclipse/codewind/issues/2532#issuecomment-602079463.

Then, they have to remove the co

[2020-04-02 22:03] sghung commented on #2601
Jag and I did some debugging on his machine and as far as Jag and I could see, none of the directories with his project name exist in the pfe container anymore.

In https://github.com/eclipse/codewind-installer/blob/master/pkg/project/create.go#L217

It should be returning the non empty error there, is there a way to see if this API is behaving incorrectly? Is there a way we can check what directo

[2020-04-02 22:20] tetchel commented on #2590
Solution: Use Chrome, or a newer version of firefox (ESR is too outdated!)

[2020-04-02 22:20] #2590 closed

[2020-04-03 01:52] makandre commented on #2601
If the error comes from `cwctl`, which runs locally, then we should check the local file system where we're trying to create the project rather than inside PFE

[2020-04-03 03:30] pdfruth commented on #2590
Just a quick update, in case others come should come looking, and find this issue.
The problem appears to be resolved after I updated Firefox to the latest version available (68.6.0esr) via the RHEL 8 repositories.
I'm also able to successfully use Chrome Version 80.0.3987.163 on same RHEL 8 system.

[2020-04-03 03:38] #2327 closed

[2020-04-03 07:17] tobespc commented on #2604
I'm not sure what we can fix in the code on this.  If they failure is to get to 0.9 then we would have to make changes to 0.9 which is not something we plan to do.   I suggest we document then required steps.

Once we have 0.11 live then then this will all change again when upgrading.

@micgibso Can you review what we have in the docs for upgrade support and look to add in the steps above please

[2020-04-03 07:58] micgibso commented on #2604
@tobespc Sure, will take a look.

[2020-04-03 08:37] jcockbain commented on #2584
/assign

[2020-04-03 08:47] hhellyer commented on #2523
I've looked at the latest 0.11.0 build, this was branched from master and didn't have the fix checked into it directly. It is correctly pulling the 0.11.0 cwctl to launch codewind for API testing so this can be closed.
[code]

[2020-04-03 08:47] #2523 closed

[2020-04-03 09:05] markcor11 commented on #2596
Fix Merged and verified

[2020-04-03 09:05] #2596 closed

[2020-04-03 09:11] markcor11 commented on #2584
That is correct - we don't delete secrets from the platform keychain (and we shouldn't expose that ability from cwctl because else badapp.sh could ping cwctl and ask us to wipe out keychain entries from our trusted process). However,  we could remove the secrets related to a connection at the time the connection is deleted.

[2020-04-03 10:04] hhellyer opened #2606 "Builds blocked by jenkins docker login failures."
**Codewind version:** 0.11.0
**OS: NA**

**Description:**
The codewind 0.11.0 builds here:
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.11.0/
have all failed recently when Jenkins attempts to login to dockerhub with it's own credentials via the `withDockerRegistry` statement in the Jenkins file:
[code]
which means we haven't pushed any new  0.11.0 images for 2 days.

I think the

[2020-04-03 13:21] malincoln commented on #2567
@maysunfaisal pls verify and close. Thanks

[2020-04-03 13:22] malincoln commented on #2606
@josephca pls investigate. Thanks

[2020-04-03 14:12] tobespc commented on #2284
current situation is as follows

For microprofile I get the following
  * Load will run for specified time
  * metrics.json is created and written to codewind-workspace/projname/load-test/xxxxxxx/metrics.json
  * the .hcd file does get created in the application container (/home/default/app/load-test/xxxxx/healthcenterxxxx.hcd) but only when the project status (top left of perf dash) goes to 'comp

[2020-04-03 14:15] tetchel commented on #2604
Did the upgrade path change again in 0.11 ? else wouldn't they see the same issue going from < 0.9 to 0.11 ?

[2020-04-03 14:31] tetchel commented on #2597
I still see the problem;

[code]

That executable is from Jenkins build 71 which contains the fix.
[code]

[2020-04-03 14:38] hhellyer commented on #2606
A master build that ran on `ub18-01` just passed: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/master/654/consoleFull
The failing builds appear to be running on `s8p2d-ubuntu1804`:
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.11.0/6/consoleFull
https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/0.11.0/5/consoleFull

[2020-04-03 14:44] hhellyer commented on #2597
@tetchel - I think this is a different error message, the fix resovles:
`{"error":"DOCKER_CREDENTIAL_ERROR","error_description":"exec: \"docker\": executable file not found in $PATH"}`
The error you are seeing now:
`{"error":"DOCKER_CREDENTIAL_ERROR","error_description":"{\"error\":\"sec_keyring\",\"error_description\":\"exec: \\\"dbus-launch\\\": executable file not found in $PATH\"}"}`
is becaus

[2020-04-03 14:46] tetchel commented on #2597
right, ok

[2020-04-03 14:52] hhellyer commented on #2597
If it's just in Che can we add the env var to the set for the container? (Which makes sense as not having a keyring is a property of the container.)

[2020-04-03 14:55] tetchel commented on #2597
I would prefer that to adding `--insecure-keyring` to every cwctl command I run in Che, let me see

[2020-04-03 15:41] tetchel commented on #2597
Fixed 👍

[2020-04-03 15:41] #2597 closed

[2020-04-03 15:42] josephca commented on #2606
I believe the root cause of the issue is recent 'docker-compose' install on 's8p2d-ubuntu1804'
I added a comment to fix the issue by reopening the existing Bugzilla bug against Eclipse:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=561659

Copying my own comment here:

After 'docker-compose' is installed, Codewind is experiencing the following error. By the way, this issue is not reproducible in o

[2020-04-03 15:43] j-c-berger commented on #1691
This issue was opened to make a tutorial on Minikube. Since we've decided to make a quick guide for Minikube, I say we close this issue.

See issue [#2407](https://github.com/eclipse/codewind/issues/2407) for work on Minikube quick guide and other quick guides. The work can be found in PR [#487](https://github.com/eclipse/codewind-docs/pull/487)

[2020-04-03 16:05] kimholmes commented on #164
Latest and greatest:
![PM_Dashboard4_3](https://user-images.githubusercontent.com/21316329/78381497-73bb5f80-75a3-11ea-90a5-d0acea6b2356.png)

[2020-04-03 16:22] kimholmes commented on #164
Latest and greatest:
![PM_Dashboard4_3](https://user-images.githubusercontent.com/21316329/78383071-cc8bf780-75a5-11ea-93dd-a921a70dd7aa.png)

[2020-04-04 20:17] rajivnathan opened #2610 "Report build-info.properties download more obviously"
**Codewind version:** master
**OS:** MacOS

**Description:**
Wanted to verify something so downloaded the latest vscode extension from http://download.eclipse.org/codewind/codewind-vscode/master/latest/codewind.vsix. It appears the new one is small so the download was very fast but then it was stuck "Setting up" for way too long. I'm assuming the cwctl is being downloaded? Either way, users would

[2020-04-04 20:39] tetchel commented on #2610
It isn't stuck downloading (ie not caused by slow network / download site) because the download shows an obvious progress bar in a notification. Probably it failed at some step before the download even started. Is there anything in the Codewind output view? Otherwise, I would have to see the logs.

I was worried there may be some issues with this new 'risky' download flow that would be platform/en

[2020-04-05 16:24] tobespc commented on #2008
We are having a new message added to make it clear to the user what is going on.  @markcor11 is providing that

[2020-04-06 07:18] markcor11 commented on #2008
I've modified the info screen to show more information about the load test endpoint and the reason for the chart not showing any data :

![NoMetrics](https://user-images.githubusercontent.com/28102564/78532224-c59bf980-77de-11ea-9a7b-6328d357755c.png)

Where metrics have been gathered the page now clearly shows the Route path that was tested:

![NoMetrics2](https://user-images.githubusercontent.co

[2020-04-06 08:15] stalleyj commented on #2309
Verified that I can a nice helpful message now when I try to Open a container shell, thanks.

[2020-04-06 08:15] #2309 closed

[2020-04-06 08:50] hhellyer commented on #2601
The error comes from here:

https://github.com/eclipse/codewind-installer/blob/1405623131abd7b8c7e2ea9c8146025a411f37a0/pkg/project/create.go#L229-L232

and is triggered by `cwctl` detecting that the directory already exists. If you have a look on the local disk in the directory the project was supposed to be created in there will be a folder with the name `appsodynodejslbcw011svt` that was probab

[2020-04-06 10:04] micgibso opened #2613 "Update the Troubleshooting topic for 0.12.0"
**Codewind version:** 0.12.0

Check https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/troubleshooting.md for any issues that are no longer valid, or add new issues or corrections.

[2020-04-06 10:24] micgibso commented on #2604
We do not document upgrade paths anywhere in the docs. Will add a new Troubleshooting issue on a PR for your review.

[2020-04-06 12:09] #2354 closed

[2020-04-06 12:09] #2358 closed

[2020-04-06 12:09] #2389 closed

[2020-04-06 12:17] makandre commented on #2356
https://github.com/eclipse/codewind/pull/2485 merged

[2020-04-06 12:17] #2356 closed

[2020-04-06 12:19] makandre commented on #2078
All associated issues are now closed

/pipeline verify

[2020-04-06 13:03] sishida commented on #2404
Talked with @micgibso about this issue. It looks very similar to https://github.com/eclipse/codewind/issues/2570. However, please feel free to reopen if needed.

[2020-04-06 13:03] #2404 closed

[2020-04-06 13:15] sujeilyfonseca opened #2615 "SVT: Metric Dashboard views are not consistent"
**Codewind version:** 0.11.0 & Latest
**OS:** Red Hat Enterprise Linux 7 (64 bit) & VM with Windows 10

**Che version:** 7.9.0
**IDE extension version:** 0.11.0
**IDE version:** 1.43.2
**Kubernetes cluster:** Fyre Cluster with OCP 4.3

**Description:** Metric Dashboard views are not consistent. They have different style or name convention.

_Java & Spring - Dark Style:_
<img width="1664" alt="Scre

[2020-04-06 13:28] jcockbain commented on #2278
/assign

[2020-04-06 13:33] sujeilyfonseca opened #2616 "SVT: [Local] Metric Dashboard content is missing for some projects even after injecting application metrics"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** Metric Dashboard content is missing for some projects even after injecting application metrics.

![Screen Shot 2020-04-06 at 9 23 46 AM](https://user-images.githubusercontent.com/49531960/78563689-6099d100-77e9-11ea-96aa-b2652126f1ad.png)

<img width="1676" alt=

[2020-04-06 13:33] sujeilyfonseca commented on #2616
/priority stopship

[2020-04-06 13:54] sujeilyfonseca commented on #2616
For some projects (i.e., Default WebShere Liberty MicroProfile), I retrieved the application metrics the first time, but I don't see them after enabling "Inject Appmetrics".

_Before injecting application metrics:_
![Screen Shot 2020-04-06 at 9 25 42 AM](https://user-images.githubusercontent.com/49531960/78565609-2847c200-77ec-11ea-8b3d-67cead3fb95f.png)

_After injecting application metrics:_
![S

[2020-04-06 14:09] jagraj commented on #2616
I am also noticing same problem with appsody projects where metrics data is missing for "Appsody Eclipse Microprofile, Appsody Open Liberty, Appsody Spring Kotlin" projects. I do see metrics data for swift, nodejs appsody projects but not for Appsody  Java projects.

For default projects, Sujeily provided more information in above comments. We are not sure if this same problem or not. If this is d

[2020-04-06 14:29] tetchel commented on #2561
@tobespc do you have more info or steps to reproduce?

[2020-04-06 14:29] tetchel commented on #2246
I think this is complete

[2020-04-06 14:31] tetchel commented on #223
The tests are finally running in the build! https://github.com/eclipse/codewind-vscode/pull/539

[2020-04-06 14:31] #223 closed

[2020-04-06 14:36] markcor11 commented on #2008
Added a message to the top status panel explaining why there are either no hits for the project route path (at all) or the last load test snapshot does not contain any hit data for the route path:

![noHits](https://user-images.githubusercontent.com/28102564/78570052-5a711800-781c-11ea-858b-2d2857e66623.png)

[2020-04-06 14:42] markcor11 commented on #2008
As a side note, whilst testing this code change out I noticed a difference how hits were being counted between a JavaMetrics and AppMetrics.

Projects created with the base node template returned a pretty 404 page but with a response code of 200 rather than a 404. Node Appmetrics counted that error page as a valid request and it will contribute to the total hits.  Where as in Java,  a missing page

[2020-04-06 14:59] malincoln commented on #2616
@tobespc pls assign.  Thanks

[2020-04-06 15:19] stalleyj commented on #2246
I still have a few repos to get to, unfortunately this has taken a back seat to fixing Performance dashboard issues...

[2020-04-06 15:37] tetchel opened #2619 "No proper error message if invalid credentials are given for registry secret"
When adding a registry to the local connection, and therefore doing a `docker login`:

[code]

So all the user will see is "Failed to run cwctl registrysecrets add: exit status 1".

Can we add an `error_description` to this output that says something like,
[code]
(I doubt we can determine if the domain is valid so that's the best we can do).

[2020-04-06 16:20] james-wallis commented on #2191
While working on the Kubernetes functionality I have hit a blocker which means I cannot use the proxy. In K8s we run in HTTPS using a self signed certificate. Continuing to use the proxy would mean asking the user to make requests as `insecure` which they would need to change in production. In addition during the review for #2552 it was suggested that the proxy might add more bugs in PFE as it's a

[2020-04-06 16:50] sishida commented on #1691
I am closing this issue based on the comment from @j-c-berger. Please feel free to reopen the issue if necessary. Thank you!

[2020-04-06 16:50] #1691 closed

[2020-04-06 17:15] DavidG1011 commented on #2223
Verified: Lagom projects no longer have an "Inject Appmetrics" toggle. Users should not run into this issue.

[2020-04-06 17:15] #2223 closed

[2020-04-06 17:18] josephca commented on #2606
This issue is fixed on all docker-build agents. Closing.

[2020-04-06 17:18] #2606 closed

[2020-04-06 17:20] josephca commented on #2593
3 more docker-build agents are provisioned successfully. Closing.

![image](https://user-images.githubusercontent.com/25185698/78586405-63a4b980-7809-11ea-8f73-a724d135159a.png)

[2020-04-06 17:20] #2593 closed

[2020-04-07 07:03] tobespc commented on #2616
this is all part of the work we are doing to resolve the perf dashboard issues that prevented us shipping 0.10.0

Until we have fully finished with #2284 and #2008 (should be today) then please hold off anymore perf dashboard testing

[2020-04-07 08:06] mattcolegate commented on #2028
PR has been merged.
/pipeline Verify

[2020-04-07 08:08] mattcolegate commented on #1579
First pass script is available on branch https://github.com/mattcolegate/codewind/tree/mustGatherScriptV1. It has become clear during development that integration with the CWCTL CLI is the preferred delivery vehicle, so I am proceeding with that.

[2020-04-07 08:42] NikCanvin commented on #2474
seen it again today

[2020-04-07 08:46] tobespc commented on #2561
I'll try a reproduce

[2020-04-07 09:25] hhellyer commented on #2423
@mmulholl - I think this is a duplicate (or possibly the original) of https://github.com/eclipse/codewind/issues/2548 which should now be resolved. Could you retest this and see if it's fixed for you? (The issue with see the project as `javascript` instead of `nodejs` and therefore not getting the dashboard after import is the same.)

[2020-04-07 09:39] rwalle61 commented on #1990
The PFE work will be complete when https://github.com/eclipse/codewind/pull/2519 is merged

[2020-04-07 10:03] micgibso commented on #2585
@sishida Discussed with Toby this morning, we are not expected to instruct devs how to debug using their preferred IDE, same applies for remote debug.

[2020-04-07 10:03] #2585 closed

[2020-04-07 11:12] MirtoBusico opened #2622 "How to recreate the project container"
**Codewind version:** 1.5.2
**OS:** Ubuntu 18.04

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse 4.15.0
**Kubernetes cluster:**

**Question synopsis:** I deleted the project container and I cannot recreate it

I created a test project using the nodejs template and everything worked.

Then I tried to push / delete / pull in a local docker registry and I deleted the container i

[2020-04-07 12:01] makandre commented on #2557
All merged

[2020-04-07 12:01] #2557 closed

[2020-04-07 12:08] malincoln commented on #2008
changing to priority/stopship to track for 0.11.0

[2020-04-07 12:32] rwalle61 commented on #2610
@jcockbain 's vscode was stuck "Setting up" after pulling master, don't know if it is related to this

[2020-04-07 12:50] tobespc commented on #164
we don't need to track it here as well, we can follow in the design issue

[2020-04-07 13:08] sishida commented on #2567
The documentation for deploying Codewind remotely has changed significantly. The `remotedeploy-combo.md` file has been replaced. See this PR for changes: https://github.com/eclipse/codewind-docs/pull/517. Closing this issue.

[2020-04-07 13:08] #2567 closed

[2020-04-07 13:12] tetchel commented on #2610
https://github.com/eclipse/codewind-vscode/commit/107fc1d43cbffefcac919de70a1fa4f1d67ffb36 added a more obvious error message is something catastrophic happens here

[2020-04-07 13:38] tobespc commented on #2008
We have put a fix in to make it clear to the user why there isn't any data being displayed.  This message appears on the graph itself

[2020-04-07 13:39] tobespc commented on #2284
Fix is in against 0.11 and I'll make the same fix to master.   Further changes to master can be tracked in a separate issue

[2020-04-07 13:50] kimholmes commented on #2369
Where will this diagram live on the site?

[2020-04-07 13:51] tetchel commented on #2622
Hi,

You can get Codewind to recreate the container:

1. Right-click the project in the Codewind explorer and select `Disable Project`
2. Wait for the project to be Disabled
3. Right-click the project and select Enable Project
4. The image build will proceed, and the container will be run again once the build finishes.

[2020-04-07 14:07] rwalle61 commented on #1990
FYI when 2519 is in master you should be able to restart projects in the IDEs by right clicking on them.

In VSCode this error pops up so will have to be removed
![image](https://user-images.githubusercontent.com/18170169/78678569-0aa85480-78e1-11ea-84ab-9840d23608b3.png)

In VSCode (and probably Eclipse) you will still have to attach the debugger yourself, because the debug config is incorrect fo

[2020-04-07 14:08] micgibso commented on #2585
This work now covered by https://github.com/eclipse/codewind/issues/2581

[2020-04-07 14:45] micgibso commented on #1601
Is this now complete? Can it be closed?

[2020-04-07 14:45] #1601 closed

[2020-04-07 14:57] #2604 closed

[2020-04-07 14:59] tobespc commented on #2616
now the changes are all in, I'll run the test scenarios above

[2020-04-07 15:11] keithchong commented on #2581
@sishida , I added more detail to this issue, based on our 'previous discussion'.  These initial steps can serve as an outline.

[2020-04-07 15:36] eharris369 commented on #2613
I think the workaround here needs to be more clear, especially since for Eclipse when the user is asked if the project type is correct they don't select No, rather they select Next to go to the next page in the wizard.

How about:
Workaround: Bind the existing project again but this time, don't accept the detected type (click No for VSCode, Next for Eclipse) and then choose **Other (Codewind Basic

[2020-04-07 15:53] eharris369 commented on #2613
For the following workaround, with Eclipse the user can edit the URL in the browser but this is temporary. If they want the change to be permanent then they can edit the .cw-settings file and save it. I would assume the same is true for VSCode and Che - that the user can do one or the other? @tetchel

[code]

[2020-04-07 15:58] eharris369 commented on #2613
Is the following true? I tried it on Eclipse and after disabling auto build and making a change it did not pick it up unless I did a manual build. For Node I thought when disabling auto build it stopped using nodemon? @elsony

[code]

[2020-04-07 16:17] MirtoBusico commented on #2622
Thansk. Worked.

[2020-04-07 16:17] #2622 closed

[2020-04-07 16:30] tetchel commented on #2613
For the contextroot one, there shouldn't be a special section for vs code and che. Like erin said, you should edit .cw-settings in all 3 scenarios, and the change will be permanent.

[2020-04-07 16:42] eharris369 opened #2626 "[Eclipse IDE] Bump up versions for 0.12.0"
Bump up the plugin and feature versions for 0.12.0

[2020-04-07 16:46] keithchong opened #2627 "[IntelliJ] NPE possible in Codewind application toString()"
**Codewind version:** latest
**OS:** any

**IDE extension version:** latest
**IDE version:** any

**Description:**
NPE possible in CodewindApplication toString() method.  Specifically, rootUrl and fullLocalPath

[2020-04-07 17:08] #2627 closed

[2020-04-07 17:33] sishida opened #2628 "Terminology: When to use "project" or "namespace"?"
In OpenShift, "project" is the preferred term over "namespace." See conversation in eclipse/codewind-docs#508 and then the closed PR eclipse/codewind-docs#513.

Should we add a note to address this info in the `codewind-operator` README: https://github.com/eclipse/codewind-operator/blob/master/README.md?

[2020-04-07 17:46] johnmcollier commented on #2628
In my opinion, our docs should be consistent and Kube generic, so we should use namespace over project where possible.

Branching off for openshift and mentioning project doesn’t make things any easier for the user in my opinion, so we should leave it as-is

[2020-04-07 17:48] johnmcollier commented on #2459
@jgwest Not trying to be cheeky, but I believe the problem has resolved itself 😛, can this be closed?

[2020-04-07 17:57] AndyRWatson commented on #2628
I think I agree @johnmcollier , we should remain lube generic and that openshift admins will know enough to know that they refer to namespaces as projects

[2020-04-07 18:07] yangcao77 opened #2630 "Non-docker Projects failed to sync files if previous build failed"
**Codewind version:**
latest master branch
**OS:**
MacOs

**Che version:**
**IDE extension version:**
latest master branch of vsCode extension
**IDE version:**
**Kubernetes cluster:**

**Description:**
For any non-docker projects, if a previous build has failed. Any change won't be synced; and therefore, no autobuild will get triggered.

[code]

**Steps to reproduce:**
1. Create a nodejs project
2

[2020-04-07 18:07] yangcao77 commented on #2630
/priority hot

[2020-04-07 18:07] yangcao77 commented on #2630
/area portal

[2020-04-07 20:07] jagraj commented on #2616
@tobespc
With the latest 0.11 images, looks like we still have issues with the Metrics dashboard where it does not work after injecting metrics for default  WebSphere liberty and also for Open Liberty projects.
I see same behavior with these projects ("Appsody Eclipse Microprofile, Appsody Open Liberty, Appsody Spring Kotlin").

![image](https://user-images.githubusercontent.com/713849/78714389-ce

[2020-04-07 20:16] jagraj commented on #2284
@tobespc @markcor11
With the latest 0.11 images, some how the message we used to display to the users saying another load test is in progress does not appear any more. This message was blocking user for not to submit another request before and not now. After injecting metrics for OpenLiberty on che I was able to run the load the test. When I tried to submit another request when the load was runnin

[2020-04-07 21:14] eharris369 commented on #2626
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/688

[2020-04-07 21:14] #2626 closed

[2020-04-07 21:16] eharris369 commented on #2545
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/682

[2020-04-07 21:16] #2545 closed

[2020-04-07 23:06] jgwest commented on #2459
@johnmcollier UTC != British Summer Time

[2020-04-07 23:09] jgwest commented on #2459
@johnmcollier If someone shows up at 14:00 UTC, which is the value we currently have listed, they will miss out meeting by an hour. 14:00 UTC is 10AM EDT.

[2020-04-08 07:10] tobespc commented on #2630
ok, thanks, will take a look

[2020-04-08 07:16] tobespc commented on #2615
The problem we have is that currently the dashboards can be displayed from several sources.  Its not something we are currently in control of fully (especially for Swift) in Codewind itself.   The other problem is that not all languages will provide the same information so the graphs will contain different information.  We can certainly change all the graphs to be the 'dark' theme and make sure th

[2020-04-08 07:24] mattcolegate commented on #1579
Code for the CLI version of mustgather (inc. the code used for the playback demo) is available at https://github.com/mattcolegate/codewind-installer/tree/mustgatherCli

As of today, it collects (Local only):
* Codewind container inspection and logs
* Project container inspection and logs
* Docker-compose.yaml
* CWCTL version.

Mustgather file location: .codewind/mustdather/${DATETIME}/

Still to d

[2020-04-08 07:29] tobespc commented on #2284
@jagraj , ok, will continue working this morning on it

[2020-04-08 08:04] jcockbain commented on #2278
It's correct that a blocker for cwctl is if a non-existing local dir is passed as the `-p` parameter to sync. I'm assuming that's whats being called by the filewatcher/IDE when the root project dir is deleted?

The flow seems to work as expected if the entire contents of project is deleted i.e. `rm -rf /workspace/project/*`. Where `cwctl` is erroring is if that local project path doesn't exist (i.

[2020-04-08 08:27] jcockbain commented on #2278
An alternative would be to return a proper error (with the relevant projectID) in the situation where sync is attempted with a local path that doesn't exist. The IDEs could then ask the user if they want to remove that project from Codewind.

That's my preferred option personally.

[2020-04-08 08:29] tobespc opened #2631 "Perf dashboard shows "old appmetrics..." message when no appmetrics installed"
**Codewind version:** latest
**OS:** macos

**Description:**

Running the performance dashboard against a vanilla open liberty template gives the warning message
[code]

However, upon checking the pom.xml for my project I found I didn't have any appmetrics/javametrics etc being used.  We should give a better message in this case to say something like

[code]

[2020-04-08 09:47] micgibso commented on #2613
@eharris369 @tetchel See PR https://github.com/eclipse/codewind-docs/pull/528/files for the changes. For the first, have clarified the workaround, for the second have reordered the text to put the permanent fix first, the temporary fix for Eclipse second.  Will await Elson's response for the third.

[2020-04-08 09:48] tobespc commented on #2616
so easy recreate, create an openliberty project, inject metrics, then run load and open the metrics dashboard. No data will be shown. If you go to
http://127.0.0.1:32809/javametrics/api/v1/collections
you can see that the injection has worked
but no dashboard data

[2020-04-08 09:51] hhellyer commented on #1306
The docs are updated and all the functionality is delivered (#2588 should be fixed) so I've moved this to verify.

[2020-04-08 09:52] hhellyer commented on #2582
This is done, we always do the docker login whatever the path and the docs reflect this. (It was writing the docs that highlighted this issue in the first place.)

[2020-04-08 09:52] #2582 closed

[2020-04-08 10:52] hhellyer commented on #2630
I have raised https://github.com/eclipse/codewind/pull/2632 to resolve this, it handles the exception and continues so that file change notifications are sent correctly. It also catches the case where the container hasn't started and the `containerId` is `undefined`.

[2020-04-08 10:52] markcor11 commented on #2616
I do see the dashboard requesting data every few seconds,  but I also see that no data was returned only : HTTP 200 content-length:0 bytes.   However,  if I access the project directly using http://127.0.0.1:{projectport}/metrics/codewind I do see data being served up which suggests injection has worked in the project container. Investigating why the data is not making its way back up through the

[2020-04-08 12:17] jcockbain commented on #2584
/assign

[2020-04-08 12:23] micgibso opened #2633 "Revisit IDE specific troubleshooting topics"
**Codewind version:** 0.12.0

**Description of the enhancement:**
Docs. The IDE specific help files mdt-eclipse-troubleshooting.md & mdt-vsc-troubleshooting.md have been iterated out.

**Proposed solution:**
Revisit these topics and check the contents, if applicable reinstate in the current troubleshooting topic.

[2020-04-08 12:56] sishida commented on #2563
Talked with Michael today. He talks about keyrings in the `remotedeploy-codewind` topic. Put in Developing Projects for now. Consult with Mel later to make sure it fits with the user journey.

[2020-04-08 13:54] sishida commented on #2613
@micgibso Here is a PR for a troubleshooting page update about "Executable file not found on PATH in VS Code": https://github.com/eclipse/codewind-docs/pull/525

[2020-04-08 14:42] james-wallis commented on #2191
I've made the necessary changes to add a `configmap` into the helm chart for the default project types and to populate that `configmap` with networking data if the network env file exists.
Have verified that:
* Liberty
* Spring
* Node
* Swift
* Docker (Go, Python etc)
all have:
* A `configmap` created for the project (have `-network` on its name so it doesn't clash with a user defined one)
* The `

[2020-04-08 14:45] tetchel commented on #2278
If you send a `projectDeletion` event over the socket the IDE will delete the project from codewind

[2020-04-08 16:21] tetchel opened #2639 "Codewind stuck starting at "initialising templates list" step"
A user reported Codewind 0.9 getting stuck starting:

[code]
[code]

He tried restarting multiple times but it kept getting stuck.

Even if we can't reproduce, we should add some logging or something so we can see exactly what it's stuck on.

[2020-04-08 16:58] tetchel commented on #2588
Fixed in master

[2020-04-08 17:02] tetchel commented on #2619
I'm converting this to a hot bug because it looks like a bug even though the user just has to fix their credentials

[2020-04-08 17:18] tetchel commented on #2588
On 0.11.0, though, it looks like the trailing slash issue is still present

![image](https://user-images.githubusercontent.com/8888438/78813692-67684580-799b-11ea-8a9a-df7658adbb6f.png)

[2020-04-08 17:22] AndyRWatson opened #2640 "codewind remote projects 'Connection Lost' after a number of hours"
**Codewind version:**   0.10
**OS:**      MacOS

**Che version:**
**IDE extension version:**  0.10
**IDE version:**    1.43.2
**Kubernetes cluster:**.  Openshift 43 and Kubernetes

**Description:**
After a period of time idle (multiple hours) I have been noticing my vscode remote codewind(s) reporting as "connection lost".   In my example (image) I can see two links are lost.

Clicking refresh on

[2020-04-08 17:39] AndyRWatson commented on #2640
/priority

[2020-04-08 17:39] AndyRWatson commented on #2640
/area vscode-ide

[2020-04-08 19:40] jgwest commented on #2278
Yep, the filewatcherd (Node/Go/Java) and the IDE (I believe) is calling cwctl with `-p` pointing to the expected location of the project (which now no longer exists).

Correct.

All correct.

And some of the implementation details depends on how y'all want to handle this scenario: Should we inform the user (via IDE UI socket) and just let the user sort it out? Should we automatically delete the pr

[2020-04-08 20:09] sishida commented on #2581
@keithchong Hi, Keith, I have merged the PR. 🎉Is this issue good to close now?

[2020-04-08 20:48] tetchel commented on #2277
The same unhelpful message is printed if the URL given is invalid / 404

[2020-04-08 21:09] tetchel commented on #2472
It looks like there's still a bug with this. Newly added sources initially report they are enabled, but the templates don't show up when the templates list is requested. If you disable the source and then enable it, then the templates show up as expected.

[2020-04-08 21:10] tetchel opened #2641 "New template sources are enabled but their templates don't show up"
Master and 0.11

Steps:
1. Add a new template source
2. The source is enabled by default
3. Try and create a new project - the source's templates don't show up

Workaround:
Disable the source and re-enable it, then try and create a project again. The new templates show up now

[2020-04-08 21:11] tetchel commented on #2472
The original bug is fixed so i'll close this and opened https://github.com/eclipse/codewind/issues/2641

[2020-04-08 21:11] #2472 closed

[2020-04-08 22:57] markcor11 commented on #2616
Posted PR #2636 which should hopefully address this, was caused by a recent switch from the security advisory deprecating the `request`NodeJS module and migration to the newer `got` nodeJS module. The new got module needs special handling for writable streams.

[2020-04-08 23:03] markcor11 commented on #1598
Operator code is now hosted in its own repo @  http://github.com/eclipse/codewind-operator which includes install instructions,  an install.sh, custom resource definitions and the operator code itself.

/pipeline verify

[2020-04-09 05:06] jagraj commented on #2284
@tobespc @markcor11
I tried latest fixes, I see some improvement. Now to we do show message to the user that "Another load test is in progress" when another test is in progress. The first test load run completed and went into "Running" state and did not come back to "Ready" state to submit another load test and it always complains another load test is in progress. I am also noticing this error int

[2020-04-09 05:15] jagraj commented on #2616
@markcor11
Thanks, we do get Metrics Dashboard results now for both WebSphere Liberty, Open Liberty projects. I do not see data for Appsody Eclipse Microprofile, Appsody Open Liberty  and Appsody Spring Kotlin projects. When you get a chance, could you please try with appsody projects.?

![image](https://user-images.githubusercontent.com/713849/78860156-6c5ee080-79ff-11ea-8ed7-a3f5c80fd428.png)
[p

[2020-04-09 07:18] markcor11 commented on #2616
/assign @markcor11

[2020-04-09 08:35] tobespc commented on #2284
This issue is becoming a bit of a mess now, so let me try and clarify how things are working.

The original stop ship of being stuck in requested state has been resolved and as such I would like us to consider removing the stop-ship label, closing this item and having a new issue with just the current failing behaviour documented for discussion

I believe the behaviour you are seeing is limited to

[2020-04-09 08:35] AndyRWatson commented on #2640
/priority hot

[2020-04-09 08:40] tobespc commented on #1361
metrics injection for Appsody is tricky as we don't have access to the underlying artifacts due to the them being hidden in the appsody stack

[2020-04-09 08:45] markcor11 commented on #2616
@jagraj we do not currently support live metrics in Appsody project types.  There is an open issue to request this functionality: https://github.com/eclipse/codewind/issues/1361

[2020-04-09 11:53] tobespc commented on #2284
Change made to make it clear through the status when the collecting of data is taking place

[2020-04-09 13:02] eharris369 opened #2645 "[Eclipse IDE] New connection wizard has white background on linux in dark mode"
The new connection wizard has a white background on linux in dark mode.

[2020-04-09 13:09] eharris369 commented on #2601
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/690

[2020-04-09 13:18] jcockbain commented on #2278
Thanks @jgwest, @tetchel

Steps 2 and 3 wouldn't be much extra work to implement. The majority of that logic already exists in the `cwctl project remove` command and the Codewind server `/unbind ` API respectively.

Our only concerns are around `cwctl` clearing up a project behind the scenes, without the user verifying it. With that flow, if sync is called with a filepath not on a user's filesyste

[2020-04-09 13:20] tetchel commented on #2278
To implement 3. you would have to either add a payload to the `projectDeletion` event to indicate a prompt is necessary. also, we'd have to make sure `cwctl project remove` won't error if the directory has already been deleted.

[2020-04-09 13:22] jcockbain commented on #2278
There's a deleteFiles boolean flag on the delete command I think, which should ignore the local directory if set false.

[2020-04-09 13:24] tetchel commented on #2278
yeah, i guess the prompt that sets that parameter would be skipped in this scenario, that works.

[2020-04-09 13:24] jcockbain commented on #2278
@tetchel is there IDE preference be for a modified payload on the `projectDeletion` message, or new message type?

[2020-04-09 13:25] tetchel commented on #2278
I guess a new message is clearer

[2020-04-09 13:42] micgibso commented on #2613
Changes on PR https://github.com/eclipse/codewind-docs/pull/528 for all above except Erin's third comment: https://github.com/eclipse/codewind/issues/2613#issuecomment-610471583

[2020-04-09 13:43] jagraj opened #2646 "SVT: Need windows support for remote operator install."
**Codewind version:** Codewind 0.11
**OS:** Windows

**Che version:**
**IDE extension version:** Eclipse, VSCode
**IDE version:** Codewind 0.11
**Kubernetes cluster:**

**Description:**
Jane as a developer working on Windows platform should be able to install operator from the scripts provided in the docs.  Looks like we have shell script ./install.sh and we need similar script for Windows users.

[2020-04-09 13:43] eharris369 commented on #822
Eclipse IDE PR: https://github.com/eclipse/codewind-eclipse/pull/689

[2020-04-09 13:43] jagraj commented on #2646
/priority hot
/area portal

[2020-04-09 13:45] eharris369 commented on #2601
@jagraj - Please wait for a new master build

[2020-04-09 13:50] jagraj commented on #2601
@eharris369
Can it be merged to Codewind 0.11 branch as well.? I have seen this issue with Codewind 0.11 release.

[2020-04-09 13:56] jagraj commented on #2284
@tobespc @markcor11
Thanks for the fix, We are going to get latest 0.11 images and give ot a try to see if we can reproduce this "Requested" state stuck issue. If we are able to reproduce this issue, then we will close this issue and open new issues for any other problems.  Once again thanks for all your support here.

[2020-04-09 14:22] deboer-tim opened #2647 "Access to secure template repositories"
Currently Codewind only supports accessing template repos that are accessible via http. We should also support repos that are https (self-signed/any cert for now) and require authentication.

We should allow the user to optionally enter a user and password along with the repo URL, and use this when connecting to it. Priority should be on the Appsody and odo vNext repos, we do not need to support t

[2020-04-09 14:24] elsony opened #2648 "odo2 extension in Codewind"
Add support odo2 style (devfile style) projects in Codewind.  Given that the odo2 build is different from the odo1 application, we'll most likely expose the devfile style of the application with a new odo2 extension instead of reusing the existing odo1 project extension.

[2020-04-09 14:26] maysunfaisal opened #2649 "Document Codewind Repository Tests in a README"
For #2291

We have several repos with different levels of testing using different frameworks.

Let's clarify how to set up these tests, execute these tests and where to find them.

Could each repo test owner create a README.md doc for a guidance on their tests

README Test checklist

- **what are the various test suites?**
- **what feature or functionality do the test suites test?**
- **where are

[2020-04-09 14:36] maysunfaisal commented on #2649
/assign @jopit
/area intellij-ide

- [ ] https://github.com/eclipse/codewind-intellij

/assign @tetchel
/area vscode-ide

- [ ] https://github.com/eclipse/codewind-vscode

/assign @eharris369
/area eclipse-ide

- [ ] https://github.com/eclipse/codewind-eclipse

/assign @jgwest
/area iterative-dev

- [ ] https://github.com/eclipse/codewind-filewatchers

/assign @maysunfaisal

- [ ] https://github.c

[2020-04-09 14:38] tetchel commented on #2649
It doesn't list coverage, but I have https://github.com/eclipse/codewind-vscode/blob/master/dev/src/test/README-Tests.md

[2020-04-09 14:46] maysunfaisal opened #2650 "Codewind Repositories Should Have a PR Template"
For #2291

We have several open source repos which contribute to Codewind

And it would be nice to follow a standard like everyone in the industry where the repos have a PR template. This also helps everyone who is a not an owner of the PR, as well as looking back in history for a PR.

Could each person assigned create a template PR doc for the repo

PR Template checklist

- **Type of PR?**
- **Wh

[2020-04-09 14:48] sishida opened #2651 "[Docs] Add documentation for remote debug support in Codewind"
For this issue, https://github.com/eclipse/codewind/issues/2581, we added a file for debugging.

Now, we need to add remote debug info to the documentation, whether as a part of the existing `debugging.md` file or as a new file.

[2020-04-09 14:50] maysunfaisal commented on #2650
/assign @jopit
/area intellij-ide

- [ ] https://github.com/eclipse/codewind-intellij

/assign @tetchel
/area vscode-ide

- [ ] https://github.com/eclipse/codewind-vscode

/assign @eharris369
/area eclipse-ide

- [ ] https://github.com/eclipse/codewind-eclipse

/assign @jgwest
/area iterative-dev

- [ ] https://github.com/eclipse/codewind-filewatchers

/assign @maysunfaisal

- [ ] https://github.c

[2020-04-09 14:51] tetchel commented on #2650
https://github.com/eclipse/codewind/issues/2246

[2020-04-09 14:52] maysunfaisal commented on #2650
@tetchel thx, closing this as dup

[2020-04-09 14:52] #2650 closed

[2020-04-09 15:12] james-wallis commented on #2191
Have now got the full flow of adding a Link, updating the configmap and restarting the project pod in K8s working. I've broken the API tests by adding in the functionality to automatically get the Docker container name locally - but I could fix this by polling the projects endpoint and waiting for the container to be running.
PR should come Tuesday or Wednesday.

[2020-04-09 15:28] eharris369 commented on #2601
I have created a PR for 0.11.0: https://github.com/eclipse/codewind-eclipse/pull/691

[2020-04-09 15:31] deboer-tim opened #2653 "Support for multi-service apps"
Some command lines like odo support the concept of more than one microservice project being part of a single application. (or in odo terms, a multi-component project) This usually means the application can be deployed in one step (i.e. not two or three independent projects) and there is simplified communication between the services or other benefits.

Although the IDE doesn't strictly need to supp

[2020-04-09 15:42] deboer-tim opened #2654 "Support for one-time service deployment"
The primary use of Codewind is development: deploying an instance of a project to test and make live code changes. We (through the underlying command lines) try to duplicate a production environment as much as possible, but there are always small differences in base container or settings to enable a responsive development environment.

When you're 'done' development, the golden path is to check yo

[2020-04-09 15:45] deboer-tim opened #2655 "Support for service binding"
Command lines like odo have support for binding services (e.g. databases, other microservices, etc) to an application. When the underlying command line supports this we should support similar listing, adding, and removing of services from within the IDE.

[2020-04-09 15:51] keithchong commented on #2581
@sishida , closing.  The content looks good.

[2020-04-09 15:51] #2581 closed

[2020-04-09 15:54] rtaniwa commented on #2646
/priority stopship

I think we should be looking hard at this for 0.11.

[2020-04-09 16:21] james-wallis commented on #2191
Appsody PR raised: https://github.com/eclipse/codewind-appsody-extension/pull/97

[2020-04-09 17:09] sujeilyfonseca commented on #2616
I verified this issue with the latest Codewind 0.11.0, and I was able to see metrics for the default projects before and after injecting application metrics.

<img width="1667" alt="Screen Shot 2020-04-09 at 1 01 44 PM" src="https://user-images.githubusercontent.com/49531960/78921664-3c492900-7a63-11ea-92ce-9ab384764bc8.png">

However, I see the same behavior as Jag. I don't see application metric

[2020-04-09 17:19] tetchel commented on #2633
The reason I asked if these pages were still around was for https://github.com/eclipse/codewind-docs/pull/525

[2020-04-09 17:46] sujeilyfonseca commented on #2284
Thank you very much for working to solve this issue, @tobespc and @markcor11! I appreciate all your help!

I verified this issue with the latest Codewind 0.11.0 in local and cloud-hosted scenarios. The original problem was resolved, but there is an issue with remote where the test first can present a status stuck in "Requested" in the first try, so if the user sees that, the refresh will make it w

[2020-04-09 18:21] sujeilyfonseca opened #2656 "SVT: [Remote] There is a problem with the remote/hybrid scenarios where the first load test can present a status stuck in "Requested""
**Codewind version:** 0.11.0
**OS:** VM with Windows 10 (w. OKD/Openshift cluster)

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** There is a problem with the remote/hybrid scenarios where the first load test can present a status stuck in "Requested". However, after waiting for a while, a refresh will make the user see the test results.

<img width="1674" alt="Scr

[2020-04-09 18:45] maysunfaisal commented on #2474
Was able to reproduce it, looking into it
![Screen Shot 2020-04-09 at 2 44 56 PM](https://user-images.githubusercontent.com/31771087/78929605-b502b200-7a70-11ea-8033-cfab86ef49b2.png)

[2020-04-09 19:15] mmulholl opened #2657 "SVT: [Eclipse]: Appsody Quarkus project does not auto restart after edit"
**Codewind version:**  Codewind tech preview	0.11.0.v202004030754
**OS:** Mac

**Che version:**
**IDE extension version:**
**IDE version:** Eclipse jee 2019-06
**Kubernetes cluster:**

**Description:**
Appsody Quarkus project does not restart after file edit.

**Steps to reproduce:**
1. Create a appsody Quarkus project
2. open application and change url to "/hello"  => hello is displayed
3. Modify

[2020-04-09 19:33] malincoln commented on #2646
Andy said he would take a look at this too

[2020-04-09 19:51] sujeilyfonseca opened #2658 "(metrics) SVT: Users can execute load tests with Default Open Liberty projects without injecting application metrics"
**Codewind version:** 0.11.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.0
**Kubernetes cluster:** Fyre Cluster with OCP 4.3

**Description:** Users can execute load tests with Default Open Liberty projects without injecting application metrics. We have been informed that we need to inject application metrics in order to retrieve the test results, if we are using a Default Op

[2020-04-09 19:58] jagraj opened #2659 "SVT: Load run status stuck in "Running" state and I can not submit any load run tests for other projects"
**Codewind version:** Codewind  0.11
**OS:**  Core OS

**Che version:**  7.9.2
**IDE extension version:**  Codewind 0.11
**IDE version:**  Theia 7.9.2
**Kubernetes cluster:**
OCP 4.3

**Description:**
I tried to run load test for Open Liberty after injecting metrics and it started fine but got it stuck at "Running" state even though it completed the test. I tried to submit another load test after

[2020-04-09 20:00] jagraj commented on #2659
/priority stopship
/area portal

[2020-04-09 20:03] makandre commented on #2657
In general, for appsody projects you would not see the project “restart” in Codewind, since changes are watched by the appsody controller and it rebuilds/restarts the application in place.

[2020-04-09 20:23] makandre commented on #2657
Btw, I think Quarkus stack is recently promoted to incubator status?  I recall it was experimental previously

[2020-04-09 20:30] malincoln commented on #2659
@tobespc pls assign. Thanks

[2020-04-09 21:06] sujeilyfonseca commented on #2659
**Codewind version:** 0.11.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.9.0
**Kubernetes cluster:** Fyre Cluster with OCP 4.3

I reproduced the same scenario when I was performing tests. I created some projects and waited for a "Running" status. After that, I successfully executed load tests with projects, such as MicroProfile and Swift. Then, I proceeded to start a load test

[2020-04-09 21:19] makandre commented on #2657
Changes are synced correctly to PFE, and appear in the appsody application container.  But this is not triggering a hot replace for some reason.

If I shell into the appsody application container directly and make a change, it does trigger a hot replace.

[2020-04-09 21:56] sujeilyfonseca opened #2660 "SVT: Users are allowed to run more than one test at the same time in remote/hybrid scenarios"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10 (w. OKD/Openshift cluster)

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** Users are allowed to run more than one test at the same time in remote/hybrid scenarios. This will eventually cause that any new load test gets stuck in "Requested". Once a load test gets stuck in "Requested", the Performance Dashboard

[2020-04-09 21:57] sujeilyfonseca commented on #2660
/priority stopship
/area portal

[2020-04-09 22:18] sujeilyfonseca opened #2661 "SVT: [VS Code] Failed to remove WebSphere Liberty MicroProfile projects in local and remote/hybrid scenarios"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** Failed to remove WebSphere Liberty MicroProfile projects in local and remote/hybrid scenarios

_Remote:_

Failed to remove cw-remote-microprofile-011: Error running cwctl.exe project remove: open C:\Users\Administrator/.codewind/config/connections/3e7e6040-7aaa-

[2020-04-09 22:19] malincoln commented on #2660
@tobespc pls assign when you return.  Thanks

[2020-04-09 22:19] sujeilyfonseca commented on #2661
/priority hot

[2020-04-09 22:19] sujeilyfonseca commented on #2658
/priority hot

[2020-04-09 22:22] tetchel commented on #2661
Your log contains the same error as https://github.com/eclipse/codewind/issues/2630

I think this is a different issue though. I'm not sure what would cause the missing connection.json or the 409 status, so I guess Portal should take a look first.

[2020-04-09 22:22] sujeilyfonseca opened #2662 "SVT: [VS Code] Projects are not being removed automatically from the VS Code workspace"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** Projects are not being removed automatically from the VS Code workspace. If I create a new project, it automatically is being added to the workspace, but if I remove the same project, it will remain in my workspace even after deleting the project files.

![Scree

[2020-04-09 22:25] tetchel commented on #2662
It's always been like this if you use a multi-root workspace but I agree the project folder should be removed when the project is deleted.

[2020-04-09 22:51] sujeilyfonseca opened #2663 "SVT: [VS Code] Command Palette got stuck listing projects after my remote connection refreshes automatically"
**Codewind version:** 0.11.0
**OS:** VM with Windows 10 (w. OKD/Openshift cluster)

**IDE extension version:** 0.11.0
**IDE version:** Code 1.43.2

**Description:** Command Palette got stuck listing projects after my remote connection refreshes automatically

![vscode-command-palette](https://user-images.githubusercontent.com/49531960/78947311-fc019f00-7a92-11ea-80c8-79a24b781c4e.gif)

**Steps to

[2020-04-09 23:33] tetchel commented on #2663
ok, this is a weird one. the problem occurs only if that if the first project finishes creating _while_ you are creating the second project (ie, not before).

1. create first project
2. open create project wizard for second project
3. first project finishes creating
  - codewind extension automatically adds the new project's folder to the workspace
4. VS Code refreshes the workspace because of the

[2020-04-10 01:23] makandre commented on #2657
Opened https://github.com/appsody/stacks/issues/753 for appsody team to have a look

[2020-04-10 16:14] malincoln commented on #2657
@makandre are you able to mark 753 as urgent/hot/stopship on their end for high priority?

[2020-04-10 16:55] makandre commented on #2657
@malincoln I can't but I pinged @neeraj-laad

[2020-04-11 10:05] NikCanvin commented on #2474
_@maysunfaisal  asked me in slack: "Do you just have all projects disabled except for one and do updates on the enabled one?"_
..
no, I just enable a different project and that project did not display the bug (whilst the project that was showing the bug, continued to do so even after repeated building.
.. however, I just disable/enabled the project with the bug and now the bug is not showing (I ho

[2020-04-11 18:01] AndyRWatson commented on #2646
Raised pull request to update install.sh to support Windows.

Should not cause stop ship as codewind-operator is independent of GA release code, as separate install process using git clone of codewind-operator repo, so could be updated independently of a codewind release if require extra testing on windows.

[2020-04-11 23:14] csantanapr opened #2664 "(metrics) Local metrics and performance dashboards missing for appsody nodejs-express"
**Codewind version:*0.9.0*
**OS:*MacOs*
**IDE version:*VSCode*

**Description:**
Create a new appsody using appsody 0.6.0 using nodejs-expresjs, add existing project, and when I right click on the application under "Local" metrics or performance dashboard shows up

**Steps to reproduce:**
appsody repo add kabanero https://github.com/kabanero-io/collections/releases/download/0.3.5/kabanero-index.ya

[2020-04-13 14:53] tetchel commented on #2664
This is a known issue https://github.com/eclipse/codewind/issues/2548 https://github.com/eclipse/codewind/issues/2423 which looks like it will be fixed in the next release.

[2020-04-13 18:38] sujeilyfonseca commented on #2640
**Codewind version:** 0.9.0
**OS:** MacOS

IDE extension version: 0.9.0
IDE version: 1.44.0

I just encountered the same issue, but not after a couple of hours. I installed Codewind 0.9.0 on VS Code because I wanted to perform a migration scenario. I created several projects, and suddenly the connection was lost:

<img width="1669" alt="Screen Shot 2020-04-13 at 2 23 53 PM" src="https://user-image

[2020-04-13 21:48] sujeilyfonseca opened #2665 "SVT: Import option "Codewind liberty" can be confusing for the users"
**Codewind version:** 0.9.0 & 0.11.0
**OS:** Any OS

**IDE extension version:** 0.9.0 & 0.11.0
**IDE version:** Code 1.44.0

**Description:** Import option "Codewind liberty" can be confusing for the users

If you select that option for a Default Open Liberty project, it will be imported as a WebSphere Liberty MicroProfile project.

<img width="597" alt="Screen Shot 2020-04-13 at 5 33 31 PM" src="

[2020-04-14 07:03] tobespc commented on #2658
This is the correct behaviour, you can run load against any project, its whether you get to see the results on the performance page that is the issue (and that is down to whether metrics have been injected).  Load run is simply a case of sending data to an endpoint, something that doesn't require any additional packages.

However, I totally agree that the current scenario is confusing and for 0.12

[2020-04-14 07:07] tobespc commented on #2664
@csantanapr For the next release, we are going to be improving the way the dashboard provides feedback on what data is available for what project types, and also why some project types do not give any results.  Right now, there is an element of confusion around this whole area.

For your specific case, that is a known issue and we will be working to fix it for the next release

[2020-04-14 07:15] tobespc commented on #2646
The install script is merely a helper script to wrap the documented kubectl steps, it does not in anyway prevent the operator being installed on windows as the steps listed in the git repo are correct for windows.

I agree with @AndyRWatson that this shouldn't be stop ship but we will work on adding a script for windows

[2020-04-14 07:26] tobespc commented on #2616
Metrics will only work for appsody projects that are making use of either our appmetrics modules, or mp-profile.  Without those we don't get anything.   For the next release, we are working on making the dashboard very clear as to what/why you can/cannot see data and the steps to take if they can be enabled.

[2020-04-14 07:30] tobespc commented on #2659
@markcor11 Can you pick this up please

[2020-04-14 07:50] markcor11 commented on #2659
/assign @markcor11

[2020-04-14 08:18] hhellyer commented on #2639
@tetchel - If they can reproduce this reliably can then running `cwctl --loglevel=trace start` will create the containers with the loglevel set to trace at startup.
Github tells me the changes to turn on logging at container startup did get tagged for 0.9.0: https://github.com/eclipse/codewind-installer/commit/e8d3ede82a833c9603624e2b2d3bb19c42887117

[2020-04-14 09:42] MelHopper commented on #2369
@kimholmes Hi Kim, these diagrams will be used within the website documentation topics whenever needed. e.g. the new topic 'The 3 configurations of Codewind' https://github.com/eclipse/codewind/issues/2589 Also, the relevant diagram of the 3 Sarah has created will be added at the top of each tutorial - Local, Remote, Browser-based (Codewind as a hosted application).

[2020-04-14 12:20] jagraj commented on #2646
I followed instructions from the docs on windows with the latest install.sh script on Windows.
When I try to execute install.sh script which opens "GitBash" shell window and closes it cause it is shell script. Looks like windows powershell by default runs the bash script in git bash. Once it closes, when I try to get the ingress endpoint for keycloak service this is what I get and it is not valid.

[2020-04-14 12:59] tobespc commented on #2659
Did you see the message about "collecting" appear ?

[2020-04-14 13:10] tetchel commented on #2665
yes, I think that option should read 'codewind microprofile'?

[2020-04-14 13:15] tetchel commented on #2665
That string comes from [this route](https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projectTypes.route.js#L82) which gets `liberty` from [the template index file](https://github.com/codewind-resources/codewind-templates/blob/master/devfiles/index.json#L7)

[2020-04-14 13:18] #2578 closed

[2020-04-14 13:19] jagraj commented on #2008
I do see the message in the graph now where we tell the user provide valid endpoint for the load test to run.

[2020-04-14 13:19] #2008 closed

[2020-04-14 14:06] eharris369 commented on #2645
Fixed by PR: https://github.com/eclipse/codewind-eclipse/pull/697

[2020-04-14 14:06] #2645 closed

[2020-04-14 14:07] james-wallis commented on #2191
PR raised to support Links in Kubernetes environments https://github.com/eclipse/codewind/pull/2667

[2020-04-14 14:12] AndyRWatson commented on #2646
@jagraj  can you make sure that you pick up the latest version in Repo as this was an issue I fixed on Friday. https://github.com/eclipse/codewind-operator

[2020-04-14 14:12] sishida opened #2670 "Fixing Broken Links for 0.11.0"
Broken links for 0.11.0:

1. False positive. No need to fix.
[code]

2.
[code]

3.
[code]

4.
[code]

5.
[code]

6.
[code]

7.
[code]

8.
[code]

9.
[code]

10.
[code]

11.
[code]

12.
[code]

13.
[code]

14.
[code]

[2020-04-14 14:13] AndyRWatson commented on #2646
also confirm that this is still a shell script so will run from a powershell window

[2020-04-14 14:15] jagraj commented on #2646
hmm, I cloned this morning and executed the script. Are there any fixes after that.?

[2020-04-14 14:16] tobespc commented on #2660
Changes have gone into 0.11.0 today to fix this, please retest with the latest changes.  Thanks

[2020-04-14 14:17] tobespc commented on #2616
Appsody also does not support inject metrics at the moment

[2020-04-14 14:19] tobespc commented on #2616
I believe this PR can be closed now with the comments and fixes that have already been made.  Moving to verify

[2020-04-14 14:19] AndyRWatson commented on #2646
the PR for the repo only just merged this afternoon

[2020-04-14 15:09] rwalle61 commented on #2647
/assign

[2020-04-14 15:14] tobespc commented on #2659
This should be now be fixed with the changes made to 0.11.0, please retest

[2020-04-14 15:55] eharris369 opened #2672 "[Eclipse IDE] Set install version based on build branch"
Set the install version based on the build branch.

[2020-04-14 16:48] naveenkaratekid opened #2674 "SVT [IntelliJ] ArrayIndexOutOfBoundsException when creating project"
**Codewind version:**0.11
**OS:**Windows

**IDE extension version:**0.11
**IDE version:**IntelliJ Community 2019-3-3

**Description:**
When I created an Appsody Open Liberty project in IntelliJ, the project successfully creates, but I got this popup saying ```ArrayOutOfBoundsException```. The exception seems to be coming from the codewind plugin itself.

This seems to happen at random occurrences.

[2020-04-14 16:48] naveenkaratekid commented on #2674
/priority hot

[2020-04-14 17:04] rwalle61 commented on #2647
fyi GitHub is deprecating some authentication methods in October, which may affect our design https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/

[2020-04-14 17:16] jagraj commented on #2646
I verified latest script on windows and I am able to install remote codewind from the operator.
On windows the script executes in "GitBash" window which is prerequisite. Once script executes in Windows and closes the GitBash popup and user has to get the endpoint from the following command.

Here are the instructions to retrieve endpoint URLs for KeyCloak and Codewind.

[code]

[code]

Thanks for