[2019-11-05 21:54] naveenkaratekid commented on #998
@jgwest I was running on VSCode in Windows

[2019-11-05 21:58] jopit commented on #947
We're switching the eclipse plugin back to using the REST API for now.  So while this needs to be fixed, it's no longer stopship

[2019-11-05 22:03] tetchel commented on #998
from the vs code logs,
`[INFO: 16:19:49.902 CLIWrapper.js:134]: Running CLI command: project sync --path c:\codewind-workspace\svt-sp --id 01e2b460-0011-11ea-8972-53db8c708b3f --time 1572988365171`

the `sync` command has been removed (commented out) from the vs code tools as of last week, are you sure your vsix is up to date?
https://github.com/eclipse/codewind-vscode/blob/master/dev/src/codewind

[2019-11-05 22:10] jgwest commented on #998
@tetchel Unrelated to this specific issue, but could we automatically embed the build date and/or last GitHub commit ID (at build time) into the build, and have it appear at the top of the VSCode logs?  🤔

[2019-11-05 22:11] tetchel commented on #998
yea, i'm thinking of a solution for this now...

[2019-11-05 22:13] Abhik1998 commented on #483
![image](https://user-images.githubusercontent.com/31558638/68250715-8149d900-0047-11ea-8864-2738db314cfc.png)
I am getting this error

[2019-11-05 22:24] sujeilyfonseca commented on #997
I saw some error messages in codewind.log:

[code]

[codewind.log](https://github.com/eclipse/codewind/files/3811496/codewind.log)

[2019-11-05 22:53] eharris369 commented on #961
It worked for me:
./cwctl upgrade --workspace /root/codewind-workspace
About to upgrade projects
Calling bind for project go1,docker,go
Project ID: eb5cd550-001e-11ea-9379-5f46ae802244
Status: 200 OK
And the upgraded go project builds and run successfully.

[2019-11-05 22:54] tetchel commented on #961
ok, i'll try with another workspace then

[2019-11-05 23:33] GeekArthur opened #1001 "Update all build files to pull correct ODO extension version"
Since ODO extension repository pre-release has been updated to 0.6.0, so need to update build.sh and Jenkinsfile to accommodate that.

[2019-11-05 23:34] GeekArthur commented on #1001
Please assign this issue to me.

[2019-11-06 00:21] eharris369 commented on #961
I can't get it to work on Windows though:
[code]

[2019-11-06 03:06] tetchel commented on #961
in any case, it doesn't look like the error logging is working the way it's supposed to

[2019-11-06 09:00] micgibso commented on #560
Discussing with Mark, might need some info re why we need an ingress, or on OpenShift, why we need routes. @sishida Could you move this out to 0.7.0 pls, thx!
Document download the mandatory.yaml and cloudgeneric.yaml, you need both. See slack, Monday 14th October. Also see codewind-installer PR 171.

[2019-11-06 09:04] micgibso commented on #489
@sishida Discussing with Mark, can you please move this out to release 0.7.0. thx!

[2019-11-06 09:44] tobespc commented on #857
closing this issue as this feature is not being allowed

[2019-11-06 09:44] #857 closed

[2019-11-06 09:51] tobespc commented on #765
closing as no longer see this error

[2019-11-06 09:51] #765 closed

[2019-11-06 10:19] james-wallis commented on #947
@tobespc I'll pick this up.

[2019-11-06 11:04] james-wallis commented on #947
Looks like the CLI might be adding `projectStyle=Codewind` to the `templates list` command without specifying any options.
The URL after the `Query.add`s is http://127.0.0.1:34077/api/v1/templates?projectStyle=Codewind&showEnabledOnly=false

[2019-11-06 11:12] james-wallis commented on #947
When no value is given for `projectStyle` the CLI is defaulting to `Codewind`.
https://github.com/eclipse/codewind-installer/blob/master/pkg/actions/commands.go#L279

I'll change this to not have a default value, for UX I'm also changing the `showEnabledOnly` flag to be a boolean so the user can either do `--showEnabledOnly true` as is implemented now or just `--showEnabledOnly` which has the same

[2019-11-06 11:22] makandre commented on #955
What’s in your project’s .appsody-config.yaml?

[2019-11-06 11:47] stalleyj commented on #961
I've added some more error handling and messages with this https://github.com/eclipse/codewind-installer/pull/195

I've also figured out why it fails on windows.  To determine the location of the source to pass into the bind command, I use the workspace + name from the inf file and they look wrong like this  "workspace": "/c/codewind-workspace/",

[2019-11-06 13:11] james-wallis commented on #947
I've made the changes in this PR which just needs testing written for it and then can be accepted. https://github.com/eclipse/codewind-installer/pull/197

[2019-11-06 13:19] eharris369 commented on #961
Looks like the docker version of the path. I can pass in the path like that if necessary.

[2019-11-06 13:53] NikCanvin commented on #611
trying to verify ... taking latest VSCode extension build ... but so far I can't get a Node app to run on that latest 0.6.0 level .. I'm investigating

[2019-11-06 14:02] stalleyj commented on #961
@eharris369 Good idea, I'll try that

[2019-11-06 14:15] tobespc commented on #906
done, pr in to the installer to fix

[2019-11-06 14:15] #906 closed

[2019-11-06 14:16] makandre commented on #997
There's a panic from the CLI during `bind/end`

[code]

[2019-11-06 14:22] jcockbain96 commented on #808
@yangcao77 from my testing, I think this is fixed now.

I added the following debug to check when we're hitting the `/upload` API in PFE.

![Screenshot 2019-11-06 at 14 10 06](https://user-images.githubusercontent.com/31372187/68305700-082aa000-00a0-11ea-811b-777678d43b85.png)

(https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L149).

When I create

[2019-11-06 14:35] hhellyer commented on #963
I've fixed the unimplemented method. The logs will now stream once the container running the app is up and running. There may still be a bug in that the logs appear in the list of possible logs before the container is running and at that point starting streaming them will fail. You need to start streaming the logs once the container is up and the project is running. (This can mean waiting quite a

[2019-11-06 14:42] eharris369 commented on #951
It is working now.  Please try again with the latest.

![image](https://user-images.githubusercontent.com/9484320/68307707-b0793e00-0079-11ea-8381-474aa579c60c.png)

[2019-11-06 14:48] eharris369 opened #1007 "Eclipse IDE: Fix up how --json flag is passed to cwctl"
Global options should be placed right after cwctl: `cwctl [global options] command [command options] [arguments...]`.  Currently it is calling `cwctl status --json` which works but it should be fixed and --json should be added for all cwctl commands.

[2019-11-06 14:50] stalleyj commented on #961
https://github.com/eclipse/codewind-installer/pull/198 . Should fix upgrade for windows

[2019-11-06 14:52] travis1111 commented on #811
@kimholmes This is what I came up with, please let me know if design is ok for this.  thanks

![image](https://user-images.githubusercontent.com/35569780/68307831-db639200-0079-11ea-9466-a02a9be083db.png)

I got the logo from Medium's official logo repo.

One thing I noticed, for other branding logos, we changed the color,  I think we should not alter colors:

https://www.youtube.com/about/brand-r

[2019-11-06 14:58] eharris369 commented on #961
It is also not always returning a non-zero error code when it fails.  If the workspace is not found then the error code is 1.  If there is a problem with one of the projects then the error code is 0.
[code]
[code]

[2019-11-06 14:59] ebullient commented on #583
We have worked through the IDE/CLI thing with .m2 directories -- it is a vanishingly slim usecase, as we are not (in most of the project operations) publishing back to the maven repository (most operations are mvn verify, test, or package, not mvn install).

Sharing the m2 repository across all projects you're working on is _normal_ for any person using maven or gradle over the last gazillion year

[2019-11-06 15:01] tobespc commented on #783
this is now resolved, moving to verify

[2019-11-06 15:05] mattcolegate commented on #993
Taking a look

[2019-11-06 15:11] mattcolegate commented on #993
We've tested using the latest VSCode plugin (https://download.eclipse.org/codewind/codewind-vscode/master/166/) with CW_TAG=latest, and we sucessfully created a Microprofile java project. It came up successfully, and when we made a change to the v1/example it rebuilt and came back up with the change present. Suspect this was fixed by https://github.com/eclipse/codewind-installer/pull/189 making it

[2019-11-06 15:11] deboer-tim opened #1008 "Where to store design docs"
As discussed a bit on the side, we need a place to store our design docs. It should be public, easy to find the key docs, and add to by committers. Need to discuss where the best place is, e.g. git repo, git issue, ...?

Next, we'll need to prime it with a few architecture docs - e.g. how IDEs, cwctrl, and portal communicate, and the new hybrid design.

[2019-11-06 15:12] mattcolegate commented on #993
@maysunfaisal Please re-test on latest IDE/Installer and images

[2019-11-06 15:14] mattcolegate commented on #997
Taking a look

[2019-11-06 15:19] jgwest commented on #1008
Some options:
- Use the Wiki tab of one of the repos (need webmaster to enable)
- Use Markdown in Git repo (but requires committer to merge, and edits might trigger product builds)
- https://github.com/eclipse/codewind-wiki (?)

[2019-11-06 15:30] rtaniwa commented on #483
@Abhik1998 should this last comment be an issue? Isn't clear to me if you added the comment here because you thought it was related to this issue or not?

[2019-11-06 15:32] jopit commented on #961
@eharris369 please verify this is fixed

[2019-11-06 15:33] tetchel commented on #961
Also we cannot parse the json error output if there is a bunch of non-json output before it

[2019-11-06 15:36] malincoln commented on #906
@johnmcollier pls verify

[2019-11-06 15:40] rwalle61 commented on #514
https://github.com/CloudNativeJS/appmetrics-prometheus/pull/31

[2019-11-06 15:46] liamchampton commented on #783
latest master codewind, VS code plugin & CLI - cannot recreate.

[2019-11-06 15:46] ssh24 commented on #1008
I think what we could have is a README in the codewind repo that describes the overall codewind architecture (with pictures, text, etc.). Similar to the architecture drawing we showed in the cascon booth. We could also have the description of each modules -> Turbine, Portal, IDE.

This level of docs should be fairly simple and as Jonathan mentioned if we want to store in detailed docs, we can use

[2019-11-06 16:01] eharris369 commented on #961
Windows is working now!!

[2019-11-06 16:09] j-c-berger commented on #846
@tetchel thanks for letting me know what you want. I was talking to Toby Corbin yesterday, and he said the only difference users should be made aware of for 0.6.0 is that the restriction to have your projects in 'codewind-workspace` has been lifted.

With that said, when I delete your recommended content from the README, would you like me to add something along the lines of, "Once you update Codew

[2019-11-06 16:09] mattcolegate commented on #997
Tested on Windows using VSCode extension https://download.eclipse.org/codewind/codewind-vscode/master/164/ and CW_TAG=latest. Could not recreate - projects came up as expected (apart from the ones that are meant to stop) apart from Appsody Kitura, which had the following in the container log:
[code]
Disabling and re-enabling the projects did not cause any hanging.

@sujeilyfonseca can you retest o

[2019-11-06 16:10] j-c-berger commented on #846
@eharris369, since Tim needed content omitted from VS Code's README, I wanted to see if you wanted anything taken out from Eclipse's README.

I went through the Eclipse README and didn't find any reference nor mention of codewind-workspaces but wanted to check with you nonetheless. Thanks!

[2019-11-06 16:16] ssh24 opened #1009 "Filewatcher.projectChanged throwing error before project starts"
**Description:**
If I create a project, the `projectChanged` function is throwing error just before the app starts. Though there is no issue with the app starting or build affecting it, not sure what might be causing this:

[code]

[2019-11-06 16:36] james-wallis opened #1010 "Template without a projectStyle should default to "other" rather than "Codewind""
**Codewind version:** Master

**Description of the enhancement:**

When we make a GET API request to `/api/v1/templates` we are able to specify a `projectStyle` query parameter which will get the templates for a given style.

Currently, if a template doesn't have a `projectStyle` property it is defaulted to "Codewind" here in the code:
[code]
https://github.com/eclipse/codewind/blob/master/src/pfe

[2019-11-06 16:37] #783 closed

[2019-11-06 16:44] tetchel commented on #846
sure, it makes sense to make that explicit

[2019-11-06 16:49] Abhik1998 commented on #483
I thought It was related to this issue.

[2019-11-06 16:52] yangcao77 commented on #611
It's because of the difference between `run.sh` and `cwctl`:https://github.com/eclipse/codewind/issues/972#issuecomment-550013575

[2019-11-06 16:53] tetchel commented on #483
Thanks for commenting - It looks like you hit this issue on our production 0.5 release. This behaviour has been reworked in our next version and should not be seen in 0.6. If you still see it then, please open a new issue.

[2019-11-06 17:19] j-c-berger commented on #846
@tetchel sounds good, thanks!

[2019-11-06 17:34] jgwest commented on #583
As per the original linked comment, I don't think this is only limited to install. The three scenarios I originally identified as cases where this would be an issue: initial source file changes of a project and/or initial build, invocations of mvn commands causing arbitrary plugin download, and changes to dependencies in pom.xml. All would trigger an `mvn` process call in both the Appsody containe

[2019-11-06 17:36] GeekArthur commented on #1008
Regarding architecture docs, we can use the same idea as Eclipse Che. Eclipse Che adds the `Che architecture` link under `Contributing` section of `README` in the Eclipse Che Github Repository: https://github.com/eclipse/che#contributing, then the `Che architecture` link points to the actual Che architecture docs: https://www.eclipse.org/che/docs/che-7/che-architecture.html. They host the actual d

[2019-11-06 17:39] ebullient commented on #583
We had talked w/ the appsody team about an option to suppress the on-change action. IMO, it is easier to launch appsody with a command line option than it is to mess with the IDE. Just let existing tools do what they do, and make sure appsody can behave well in the flow.

[2019-11-06 17:40] GeekArthur commented on #1009
I saw the same error
[code]
Seems like errors are from the caller since missing required parameters

[2019-11-06 18:17] eharris369 commented on #846
@j-c-berger The Eclipse readme does not mention anything about the codewind-workspace so nothing needs to be removed.

[2019-11-06 18:21] tobespc commented on #1009
umm, interesting, looks like it could be a syncing issue possibly ...  Will investigate

[2019-11-06 18:28] sishida commented on #962
PR has been merged. Closing this issue.

[2019-11-06 18:28] #962 closed

[2019-11-06 18:31] jopit commented on #961
I think we need these fixed before we can declare this one done.

[2019-11-06 18:34] tobespc commented on #961
So in the scenario that 4 projects successfully update but one fails, is that an overall failure scenario ?

[2019-11-06 18:37] jopit commented on #961
I'd say yes, but I think the returned json should reflect which ones succeeded and which ones failed.

[2019-11-06 18:38] tobespc commented on #961
ok, makes sense, will get that resolved tomorrow

[2019-11-06 18:39] tetchel commented on #961
ideally we would be able to parse which project names successfully migrated and which failed

[2019-11-06 18:39] makandre opened #1011 "Fix run.sh script to use codwind-data (for developers)"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The `run.sh` script used by developers still uses `codewind-workspace` for the name of the special mount space required for appsody support (related #717).  This should be renamed to `codewind-data` to be consistent with how the CLI sets it up.

**Steps to re

[2019-11-06 18:59] yangcao77 opened #1012 "Cannot remove projects"
**Codewind version:** master
**OS:** MacOS

**Che version:**
**IDE extension version:** VSCode plugin 0.6.0(master)
**IDE version:**
**Kubernetes cluster:**

**Description:**
Not able to remove a  project.

![image](https://user-images.githubusercontent.com/22285490/68328540-7fab0000-009d-11ea-92fb-4b40b77cd791.png)

The project directory still exist as well.

**Steps to reproduce:**
1. create a p

[2019-11-06 19:03] makandre commented on #1012
I'll look into this

[2019-11-06 19:14] makandre commented on #1012
The `/api/v1/projects/:id/unbind` route appears to be removed.

https://github.com/eclipse/codewind/pull/1004/files#diff-2aedf9823dfed0c38b88651bff30110dL148

This affects all projects, not just appsody

[2019-11-06 19:14] keithchong commented on #890
@sishida , the OpenAPI tools troubleshooting documentation needs to be updated, https://www.eclipse.org/codewind/troubleshooting.html

This does not apply to VS Code any longer.  Modify it so it only applies to Eclipse.

`The following work-around applies to both VS Code and Eclipse. The spring server generator creates invalid source in the OpenAPI2SpringBoot class. Simply implement the methods fr

[2019-11-06 19:20] tetchel commented on #1012
Confirmed the project removal endpoint is gone now
[code]

[2019-11-06 19:25] j-c-berger commented on #846
@tetchel for the popup that you want, regarding, ```Codewind workspace migration completed - Projects no longer need to be located under the codewind-workspace.```

I'm happy to review anything you want once you make a PR for it. No rush. I'm here whenever you need it reviewed. Thanks.

[2019-11-06 19:40] yangcao77 commented on #808
verified it's been fixed in the latest master branch

[2019-11-06 19:49] keithchong opened #1014 "OpenAPI: Language field is not pre-populated"
However, it is pre-populated if the wizards are launched from the Codewind Explorer view.

**Codewind version:** 0.6.0
**IDE:** Eclipse only

**Description:**

**Steps to reproduce:** Launch the OpenAPI code gen wizard from the Project or Package Explorer views

**Workaround:**
- Launch the wizard from the Codewind Explorer view
- Or, select the language yourself

[2019-11-06 19:53] sujeilyfonseca commented on #1012
**Codewind version:** codewind-0.6.0-201911061850.vsix
**OS:** VM with Windows 10

**IDE extension version:** 0.6.0
**IDE version:** 1.39.2

I noticed this problem too, with projects not disabled in Windows:

![Screen Shot 2019-11-06 at 2 44 12 PM](https://user-images.githubusercontent.com/49531960/68331973-efbc8480-00a3-11ea-9afa-ed83d1b3ec37.png)

[2019-11-06 19:55] yangcao77 commented on #963
Verified the issue has been fixed in latest master branch. Closing this issue.

[2019-11-06 19:55] #963 closed

[2019-11-06 19:55] sujeilyfonseca commented on #997
I tested this GitHub issue with `codewind-0.6.0-201911061850.vsix`, and I no longer see the problem. I also noticed the same error with Appsody Kitura projects:

![Screen Shot 2019-11-06 at 2 50 29 PM](https://user-images.githubusercontent.com/49531960/68332816-5d1ce500-00a5-11ea-998c-b1ffa076a934.png)

![Screen Shot 2019-11-06 at 2 54 34 PM](https://user-images.githubusercontent.com/49531960/6833

[2019-11-06 19:57] yangcao77 commented on #1012
Yes. This is a common issue for all projects, and happens on both che & local.
It's because the route is gone as mentioned in https://github.com/eclipse/codewind/issues/1012#issuecomment-550461010

[2019-11-06 20:00] makandre commented on #997
`kitura` is a new stack we haven't officially added support for: https://github.com/eclipse/codewind/issues/866

[2019-11-06 20:05] yangcao77 commented on #808
@james-wallis I just tested on che, I'm still seeing this issue. Looks like your PR only fixed local case.
[code]

[2019-11-06 20:05] #997 closed

[2019-11-06 20:39] rajivnathan commented on #665
Talked to Maysun and Elson, given we're working on shutdown we'll defer this to the next tech-topic call.

[2019-11-06 20:42] johnmcollier commented on #906
Verified, fixed

[2019-11-06 20:42] #991 closed

[2019-11-06 20:54] GeekArthur commented on #710
@rajivnathan We can close this one, Jag already opened a new issue to tracking issues against his cluster specifically: https://github.com/eclipse/codewind/issues/827, we can use that one for investigation.

[2019-11-06 21:06] ssh24 opened #1017 "Install codewind using cwctl for Turbine functional test for linux/macos cronjobs"
**Description of the enhancement:**
We are actually using `./run.sh` to install codewind for the linux/macos tests but for windows we are using cwctl to install codewind. We should install codewind for linux/macos using **cwctl** as well.

[2019-11-06 21:12] tetchel commented on #941
also `templates` not just `templates repos`

[2019-11-06 21:19] sujeilyfonseca commented on #951
I tested this GitHub issue with `codewind-0.6.0-201911061859.zip`, and I no longer see the problem:

<img width="687" alt="Screen Shot 2019-11-06 at 4 19 12 PM" src="https://user-images.githubusercontent.com/49531960/68338766-34025180-00b1-11ea-8b54-5cc2ae3c5cd4.png">

[2019-11-06 21:19] #951 closed

[2019-11-06 21:28] makandre opened #1018 "Can projects be rebind to Codewind after Che workspace restarts?"
**Codewind version:** 0.6.0
**OS:**

**Che version:** 7.3.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Question synopsis:**

Noticing that if the Che workspace is stopped and then restarted, projects previously bound to Codewind needs to be rebind to Codewind.  To make matters worst, in Che 7.3.0 there seems to be an `activity-checker` that stops my workspace after a pe

[2019-11-06 21:45] jopit commented on #846
@sishida @j-c-berger
I searched the landing pages for  where either `codewind-workspace` or `codewind workspace` (with a space, case insensitive) were used.

Here's the result for `codewind-workspace`:
[codewind-workspace.txt](https://github.com/eclipse/codewind/files/3816814/codewind-workspace.txt)
and here's the result for `codewind workspace`:
[codewind workspace.txt](https://github.com/eclipse

[2019-11-06 21:45] makandre commented on #1018
PFE's volume (i.e. `/codewind-workspace` where `.inf` files reside) is released when PFE is shutdown.  Therefore when PFE come's back there are no `.inf` files for it to know what to rebind

[2019-11-06 21:53] tetchel opened #1019 "Failed to create Codewind Keycloak route on ROKS due to host length"
My `cwctl install` got stuck at the "Waiting for Keycloak to start" step.

[code]

and here we see the error:

From @johnmcollier, ROKS will nearly always have a hostname that is too long. The suggested fix is to **not** set the `Host` in this line:
https://github.com/eclipse/codewind-installer/blob/master/pkg/utils/remote/deploy_keycloak.go#L214

[2019-11-06 21:56] jopit commented on #864
I verified that this now works with the latest code

[2019-11-06 21:56] #864 closed

[2019-11-06 22:00] tetchel commented on #1018
from @jagraj, this is a regression from 0.5. it makes sense since the workspace, and therefore `.projects/*.inf` would have been persisted, but that has changed in the new architecture

[2019-11-06 22:26] tetchel opened #1020 "refreshing local connection doesn't work if pfe url changed because cw dev scripts were used"
@rajivnathan

Doing a refresh on the local connection in the Codewind view in VSCode does not work.

[code]

and the view still shows Disconnected

[2019-11-06 23:54] rajivnathan commented on #1012
Put up a PR and verified using Eclipse. https://github.com/eclipse/codewind/pull/1022 Can someone from portal please review and merge if it's acceptable. Thanks.

[2019-11-07 00:03] maysunfaisal commented on #665
To use the docker registries on Kube/Che, we will need to enter information regarding our docker registries like we do in Che:

![Screen Shot 2019-11-06 at 7 02 10 PM](https://user-images.githubusercontent.com/31771087/68348485-f5c45c80-00c7-11ea-9ba6-5516cf3a1152.png)

## Existing Logic

### PFE Mount from Che secret

- When deploying PFE on Che, we mount the Che secret to `/tmp/secret` https://g

[2019-11-07 01:51] makandre commented on #1018
The `CHE_WORKSPACE_AGENT_DEV_INACTIVE__STOP__TIMEOUT__MS: '0'` property suggested by @johnmcollier does seem to disable the `activity-checker` at least

[2019-11-07 02:20] johnmcollier commented on #1018
Removing tech-topic as I was able to find a relatively simple fix for this

[2019-11-07 09:11] stalleyj commented on #1012
This should be fixed now, thanks @rajivnathan

[2019-11-07 09:22] NikCanvin commented on #611
verified this morning, with 172 build

[2019-11-07 09:22] #611 closed

[2019-11-07 09:52] NikCanvin opened #1023 "Unbinding failed error, when removing project using vscode"
**Codewind version:** 0.6.0 (using VSCode extension plugin from https://download.eclipse.org/codewind/codewind-vscode/master/172/ )
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
I can create new projects using VSCode, but when I click 'remove' project then 'delete directory' I get this error

**Steps to reproduce:**

**Workaround:**

[2019-11-07 09:53] NikCanvin commented on #1023
<img width="1065" alt="Screenshot 2019-11-07 at 09 36 22" src="https://user-images.githubusercontent.com/16120163/68378668-6741f080-0144-11ea-98d3-41d038493b7d.png">

[2019-11-07 10:16] NikCanvin commented on #1023
oohps - dup of: https://github.com/eclipse/codewind/issues/1012

[2019-11-07 10:16] #1023 closed

[2019-11-07 10:26] rwalle61 commented on #977
with @tobespc we have decided to merge the `appmetrics-prometheus` and `PFE` changes for 0.6.0, then merge change to the plugins later (probably 0.7.0), when the new PFE dashboard supports Swift as well

[2019-11-07 11:03] hhellyer commented on #910
Ok, I'll close this since it looks like the issues should be resolved by a future release of Appsody rather than Codewind.

[2019-11-07 11:03] #910 closed

[2019-11-07 11:26] jcockbain96 commented on #739
@tobespc, @markcor11 can this one be closed now? And future issues raised for per project connection work going forwards

[2019-11-07 11:35] jcockbain96 commented on #808
@yangcao77, was that for me or @james-wallis? I'll see if we can check on che

[2019-11-07 11:40] markcor11 opened #1024 "Keycloak data does not persist after cluster restart"
When deploying Remote + Keycloak into Kubernetes,  the Keycloak container uses the internal H2 Java database to store configuration of realms / clients / users / roles / keys etc.  If the pod is re-scheduled the configuration is lost and must be re-configured from scratch

Possible options :

1.  Move the H2 Java database files to a R/W persistent volume claim that will survive the restart

2. Ado

[2019-11-07 11:56] markcor11 commented on #1019
I can pick this up.  The change will need to capture the auto-generated hostname at the time the route is added (or look it up before creating the config-map) and use that version instead of the pre-determined version.  A similar change will also be required for the codewind-gatekeeper route too.

[2019-11-07 13:29] tobespc commented on #1009
The error is being thrown from projectEventsController.ts becuase we are passing a timestamp value of '0' in but the check for !timestamp is incorrect when applied to a number.  We could remove the !timestamp check or change it to be something like 'timestamp != null'

export async function updateProjectForNewChange(projectID: string, timestamp: number,  chunkNum: number, chunk_total: number, even

[2019-11-07 13:32] ssh24 commented on #1009
Shouldn't timestamp be a **number** either ways? I think portal should parse it as a number and then call turbine using that number.

[2019-11-07 13:48] tobespc commented on #1009
we do pass you a number, but if that number is 0 or 1, your check fails

[2019-11-07 13:59] ssh24 commented on #1009
I am looking at it. Please assign this to me.

[2019-11-07 14:10] jopit commented on #1024
2. has caused Che multiple problems, they are moving away from this architecture.
1. better than #1 but it requires yet another persistent volume

Mark will investigate if there's a better solution.

[2019-11-07 14:12] malincoln commented on #961
@tobespc @jopit if this one is still being worked, pls move back to In progress.  Thanks

[2019-11-07 14:13] malincoln commented on #1012
@yangcao77 pls verify.  Thanks

[2019-11-07 14:17] #887 closed

[2019-11-07 14:17] malincoln commented on #808
@rajivnathan pls move this to In progress if it requires an additional fix.  Thanks

[2019-11-07 14:29] jopit commented on #1008
Needs to be easily accessible from github
Needs to allow easily collaboration

wiki at eclipse.org (used by WTP for design)?
codewind-wiki?
set up a separate repo for design docs like Che does?
investigate what Kabanero is doing and follow suite?

[2019-11-07 14:35] jopit commented on #668
Would need changes in the cli and pfe
Toby to create a rough sizing, and we'll discuss/prioritize it at next weeks planning meeting

[2019-11-07 14:36] elsony commented on #710
Closing based on the last comment.

[2019-11-07 14:36] #710 closed

[2019-11-07 14:38] jopit commented on #841
@makandre are you ok for this issue to be closed?

[2019-11-07 14:38] #541 closed

[2019-11-07 14:40] makandre commented on #938
Summary

- It sounds like we can leverage the first part of https://github.com/eclipse/codewind/issues/665 to set the docker credentials in PFE (also covered by #948 at the epic level)
- there may be some additional configuration or parameters that we'll need to set on the Appsody CLI; this part needs investigation but should be fairly straightforward.

[2019-11-07 14:41] makandre commented on #841
I've verified vscode/theia.  Will close after verifying Eclipse today

[2019-11-07 14:45] johnmcollier opened #1028 "Ingress creation sending extra io.emit"
When we go to create the ingress right now, we're emitting right after it's created. The problem is that we're emitting before we have set the project event status to `success`, so this makes Turbine / Portal think the project has temporarily failed.

This doesn't appear to affect anything functionally, as we emit a project success notification almost instantly after, but this has caused some of o

[2019-11-07 15:15] rajivnathan commented on #960
I can no longer reproduce this issue. I think some of the recent fixes have resolved this issue. @jagraj can you please verify?

[2019-11-07 15:15] makandre commented on #841
Good on Eclipse as well

[2019-11-07 15:15] #841 closed

[2019-11-07 15:32] ssh24 opened #1029 "UnhandledPromiseRejectionWarning on docker copy of after enabling a project"
**Description:**
I had a disabled project and when I tried enabling it back I get the following error:
[code]

It looks like when portal copies the source over, it is missing the docker container id of the application. Looks like it is being done even before the application container is up and thus the container id is empty and the copy fails.

[2019-11-07 15:42] #1020 closed

[2019-11-07 15:58] maysunfaisal commented on #496
@sishida any updates on this?

cc: @johnmcollier

[2019-11-07 16:10] ssh24 opened #1031 "Use a common function to apply the logic of getting files from docker or kube container"
**Description of the enhancement:**
We should find a way to use a common function to apply the logic of getting log files or folders from docker or kube container. Currently, the `ls --full-time` logic is almost the same for both docker and kube container except the kube/docker commands, so we can easily make that a common function.

Please make sure to run the functional tests prior to submitting

[2019-11-07 16:24] yangcao77 commented on #1012
Verified this issue has been fixed in latest master branch.

[2019-11-07 16:24] #1012 closed

[2019-11-07 16:29] sishida commented on #496
@maysunfaisal I have posted in Slack and tagged Andy and Becca asking where we should place this article. :)

[2019-11-07 16:31] makandre commented on #564
All changes in

[2019-11-07 16:31] #564 closed

[2019-11-07 16:32] ssh24 commented on #960
I am still seeing liberty projects failing to build on windows with our test automation
[code]

[2019-11-07 16:38] beccabau commented on #496
Are you thinking like a "Codewind in the News" sort of thing?

I took a quick glance at the Eclipse website, and I kind of like the Planet Eclipse tab they have (under Community) - https://planeteclipse.org/planet/
![image](https://user-images.githubusercontent.com/13971834/68408077-b727b400-0152-11ea-965b-6f72820cae3d.png)

This may warrant John's input, but maybe we could start populating a Comm

[2019-11-07 16:46] maysunfaisal commented on #808
This is working on Che with latest devfile:

.cw-settings change triggers the right function, so the turbine calls looks good i think

[code]

[2019-11-07 16:47] rwalle61 commented on #278
Completed with https://github.com/eclipse/codewind-installer/pull/117

[2019-11-07 16:47] #278 closed

[2019-11-07 16:51] tobespc commented on #727
shouldn't be any doc changes for this, its an internal change.

All repos created

[2019-11-07 16:52] tobespc commented on #117
being resolved as part of the work for #727

[2019-11-07 16:52] #117 closed

[2019-11-07 17:03] AndyRWatson commented on #496
sorry @sishida somehow missed the previous comment that tagged me in.    Medium sounds like a good starting point and as @beccabau mentioned we can look at other options as well.

If we go for the  medium blog (medium.com/codewind) can we add some extra personalisation information, as a user of codewind and by default the template used HTTP and the steps you needed to go through to change to HTTPS

[2019-11-07 17:05] maysunfaisal opened #1032 "[Portal] Clean up project.inf"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
Looks like project.inf has operation in it:

[code]

[2019-11-07 17:58] rajivnathan opened #1034 "Can't access app on Che"
**Codewind version:** latest
**OS:** Mac OS

**Che version:** 7.1
**IDE extension version:** latest
**IDE version:** 7.1
**Kubernetes cluster:** OKD

**Description:**
[code]

**Steps to reproduce:**
Create a project with a fairly long name, in my case I used `nodejstestprojectforjag`.

To see the error you can describe the route:
`oc describe route`

It should show the error above.

**Workaround:*

[2019-11-07 17:59] tetchel commented on #1034
similar to https://github.com/eclipse/codewind/issues/1019

[2019-11-07 18:01] jgwest commented on #1008
Another option: create a new repo under our [codewind-resources org](https://github.com/codewind-resources), for example `github.com/codewind-resources/wiki`.

Since this org is under our control, rather than the Eclipse webbmaster's, we can allow edits from logged-in users without requiring them to be committers. This also has the advantage of allowing us to continue using markdown (unlike Eclips

[2019-11-07 18:03] rajivnathan commented on #1018
@makandre Can you please verify and close?

[2019-11-07 18:04] tetchel opened #1035 "Blank notifications seen in Theia"
https://github.com/eclipse-theia/theia/issues/6506

It looks like we are seeing this on theia 7.1 which was used for our 0.5 release, which did not have this issue. so it is possible that this issue is being caused by a change in the codewind extension. The most common message we are seeing blank is the "fetching project types" message.

labelled as hot because it looks bad and everyone is seeing

[2019-11-07 18:47] maysunfaisal commented on #993
project create now fails on validation:

[code]

[2019-11-07 18:48] johnmcollier commented on #1034
I can't reproduce on OCP 4, must be differences in the router between OCP 3 and 4.

[2019-11-07 19:03] jagraj opened #1036 "SVT:[Windows]:Failed to create appsody project on windows and error is coming from codewind-installer"
**Codewind version:** 0.6
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.6
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
Failed to create appsody microprofile java project on Windows and I get following failure.

![image](https://user-images.githubusercontent.com/713849/68418935-4212a980-0167-11ea-85b9-dbb4aaa9f5b1.png)

[pfe.txt](https://github.com/ecl

[2019-11-07 19:12] jagraj commented on #1036
@sujeilyfonseca @eharris369

I got into this problem with the latest eclipse and pfe images on my windows. I see you verified and closed similar problem (https://github.com/eclipse/codewind/issues/997) yesterday.

Erin, can you give it a try when you get a chance.?

[2019-11-07 19:17] maysunfaisal commented on #960
Even tho the issue title does not say Spring, Spring failed on Win latest:

I see this in the Spring app container, the files are in quotation marks?

[code]

Maven failed:
[code]

[2019-11-07 19:21] maysunfaisal commented on #993
I think the above issue could be tracked with https://github.com/eclipse/codewind/issues/960 since bind is now working

[2019-11-07 19:22] yangcao77 commented on #808
It still does not work for me with the latest devfile. Any change to `.sw-settings` file triggers a rebuild.
[pfe.docx](https://github.com/eclipse/codewind/files/3821316/pfe.docx)

[2019-11-07 19:28] sishida commented on #889
Merged PR. Closing this issue.

[2019-11-07 19:28] #889 closed

[2019-11-07 19:57] rajivnathan commented on #960
I was not able to reproduce the issue with spring.

[2019-11-07 20:11] mattcolegate commented on #993
Testing on Windows 10, VSCode plugin from https://download.eclipse.org/codewind/codewind-vscode/master/177/, CW_TAG=latest, no docker containers running before starting. Microprofile liberty template selected.

Unable to recreate. App built, started and is running. Some strange filewatcher messages in the log though, will attach.

[2019-11-07 20:11] mattcolegate commented on #993
[993PFELogLibertyProjCreate.txt](https://github.com/eclipse/codewind/files/3821471/993PFELogLibertyProjCreate.txt)

[2019-11-07 20:17] makandre commented on #1018
Verified

[2019-11-07 20:17] #1018 closed

[2019-11-07 20:19] rajivnathan commented on #993
@mattcolegate What is your pfe image id? I'm unable to reproduce as well but it looks like Maysun has a newer image ID than I do. I'm going to removing my image and pulling the latest one.

[2019-11-07 20:25] mattcolegate commented on #993
@rajivnathan codewind-0.6.0-201911071811.vsix

[2019-11-07 20:27] mattcolegate commented on #960
Me either

[2019-11-07 20:28] jgwest commented on #993
@mattcolegate I think Rajiv was looking for your PFE container image id (sha256 hash)

[2019-11-07 20:30] mattcolegate commented on #993
Ah right - `codewind-pfe-amd64                                   latest                 sha256:c641dd7f23b7f422d5d1c02caf6e7073d5bb7883fd333c4156bda12f187f6ec3   2 hours ago         781MB`

[2019-11-07 20:37] sishida opened #1037 "Screen captures/animated gifs for the news pages"
This issue comes from https://github.com/eclipse/codewind/issues/712.

@deboer-tim states, "It would be great to start including small screen caps or animated gifs to show the feature. This is both easier to read and understand and shows the user where the change is. See https://code.visualstudio.com/updates/v1_39 as an example."

[2019-11-07 20:37] makandre opened #1038 "Docs: remove a line in appsody troubleshooting"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

For this section: https://www.eclipse.org/codewind/troubleshooting.html#appsody-mount-errors-on-windows-enterprise

Remove the line which is no longer accurate:

`You might receive an error message in the appsody.log file when you try to create an Appsody pro

[2019-11-07 20:37] makandre commented on #1038
FYA @sishida

[2019-11-07 20:37] sishida commented on #712
Closing this issue because the ID portion is complete. I have opened https://github.com/eclipse/codewind/issues/1037 for the screen capture/gif portion.

[2019-11-07 20:37] #712 closed

[2019-11-07 20:49] maysunfaisal opened #1039 "Che & Local projects do a double build on project create"
**Codewind version:** latest
**OS:**

**Che version:** 7.2.0
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD 3.11

**Description:**

Double build on project creation. Project creation fails and a build kicks off right after and the app goes to started. Happens everytime. 😢

Logs at
[che-double-build-nov7.log](https://github.com/eclipse/codewind/files/3821606/che-double-buil

[2019-11-07 20:55] sishida commented on #1038
Hi, @makandre, I have created the PR (https://github.com/eclipse/codewind-docs/pull/217), but if users don't receive the error message in the `appsody.log` file anymore, should we tell them where the message will appear instead?

[2019-11-07 20:56] yangcao77 commented on #1039
From the log, looks like Portal sends another build request to Turbine right after the `projectCreation` event got emitted.

[code]

[2019-11-07 21:02] ssh24 commented on #1039
I am also seeing this with with the latest devfile.

[2019-11-07 21:02] johnmcollier opened #1040 "Codewind-resources templates are missing helm charts"
The codewind-resources project templates (https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json) are missing Helm charts and won't properly deploy (or cause issues) on Codewind on Che / Kube.

For example:
- https://github.com/codewind-resources/goTemplate
- https://github.com/codewind-resources/springJavaTemplate
- https://github.com/codewind-resources

[2019-11-07 21:06] mattcolegate commented on #960
Node, Swift, Spring and Liberty all coming up fine on my system
Windows 10
VSCode plugin: codewind-0.6.0-201911071811.vsix
PFE image: codewind-pfe-amd64 latest sha256:c641dd7f23b7f422d5d1c02caf6e7073d5bb7883fd333c4156bda12f187f6ec3

[2019-11-07 21:14] keithchong commented on #239
@tetchel , I'm still getting this message while testing 0.6.0:

Failed to attach debugger to appsEclipseMp01 at 127.0.0.1:32788.

I had to use the workaround described here to get it to work:

https://www.eclipse.org/codewind/troubleshooting.html#starting-in-debug-mode-results-in-failure-to-attach-the-debugger

[2019-11-07 21:20] makandre commented on #1038
Good point, I think you'll now get similar message from `cwctl`, which on VSCode is available from the Codewind log

![image](https://user-images.githubusercontent.com/17596240/68428495-51e7b900-017a-11ea-828c-48a40ad4a221.png)

I don't know if we expose `cwctl` messages in Eclipse, @eharris369?

[2019-11-07 21:39] johnmcollier commented on #1036
Adding stopship as requested by Jag

[2019-11-07 21:41] eharris369 commented on #1036
It worked for me.  Took a while to go into started state because it initially times out:
[code]

![image](https://user-images.githubusercontent.com/9484320/68430004-3df18680-017d-11ea-9dde-8c6486f0dc4d.png)

[2019-11-07 21:58] sishida opened #1043 "Improve table of contents on mobile devices"
When you view https://www.eclipse.org/codewind/ on a mobile device, the table of contents obscures the page itself. Could we get the table of contents to expand/retract on the side when you swipe the screen or get it to collapse in a way that's less intrusive on the page?

Note: This is a low priority enhancement. Other issues take priority.

[2019-11-07 21:59] sishida commented on #1043
@beccabau If you find an example of a website that has a table of contents that collapses nicely on mobile devices, could you please include the link here? Thanks!

[2019-11-07 22:08] maysunfaisal commented on #993
even tho i had the latest vsix and my PFE was the same as Matt; it was using an older cache of cwctl.

The way I resolved it was rename my vsix to `Maysun.vsix` and reinstalled IDE extension again and everything seemed to work. No idea why VS Code is using cached cwctl.

I have a video proof of it for anyone interested. 😂

verified, closing

[2019-11-07 22:08] #993 closed

[2019-11-07 22:08] eharris369 commented on #1038
The cwctl messages are only shown to the user if the cwctl command fails (non-zero return code).

[2019-11-07 22:22] maysunfaisal commented on #808
Confirmed me and Stephanie have the same PFE image(we have the same image id for the pod) and used the latest dev file. But Stephanie sees the behavior described and I dont.

Different behavior with the same devfile and image. So, cwctt sync logic is behaving differently on different clusters.

[2019-11-07 22:35] jagraj opened #1044 "SVT:Creating lagom project display error "BAD_REQUEST:watchedFiles is not a configurable setting" to the user"
**Codewind version:** 0.6
**OS:** Mac/Windows

**Che version:**
**IDE extension version:** 0.6
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
Create lagom project with the latest images and plugin, I get this failure message.
"BAD_REQUEST:watchedFiles is not a configurable setting"

![image](https://user-images.githubusercontent.com/713849/68433618-f4a53500-0184-11ea-87

[2019-11-07 22:42] jagraj commented on #960
Projects are creating and building now on my Windows machine.

[2019-11-07 22:46] jagraj commented on #1036
I have this eclipse plugin and pfe image on my system..

[code]

[2019-11-07 22:48] johnmcollier opened #1045 "Create a new doc for upgrading Codewind on Che installs"
Currently the Codewind on Che docs only provide instructions for installing a new Codewind workspace in Che, and not on upgrading a Codewind workspace from release `0.x.0` to `0.y.0`

We need a doc to tell users how:
- They can upgrade a Che workspace
    - Once we're onboarded to the Che plugin registry, this'll be especially important, as Che provides an easy mechanism to upgrade plugins in the

[2019-11-07 22:59] maysunfaisal commented on #1039
@johnmcollier @jagraj saw this and i have confirmed it as well

When creating proj on Che, we see this:
<img width="573" alt="Screen Shot 2019-11-07 at 5 56 07 PM" src="https://user-images.githubusercontent.com/31771087/68434971-43080300-0188-11ea-9b06-5f438cc8595e.png">

This MAY(emphasizing may) cause issue https://github.com/eclipse/codewind/issues/808 to occur and as a result we could be seein

[2019-11-07 23:00] jagraj commented on #1039
I see this error on my che workspace. @maysunfaisal thinks this is same issue.
![Screen Shot 2019-11-07 at 12 24 35 PM](https://user-images.githubusercontent.com/713849/68435020-6468ef00-0188-11ea-98e7-8a2b98d906fe.png)

[2019-11-07 23:02] sujeilyfonseca commented on #1036
**OS:** VM with Windows 10

**[Visual Studio Code]**
**Codewind version:** codewind-0.6.0-201911071935.vsix
**IDE extension version:** 0.6.0
**IDE version:** 1.39.2

**[Eclipse IDE for Enterprise Java Developers ]**
**Codewind version:** codewind-0.6.0-201911071125.zip
**IDE extension version:** 0.6.0
**IDE version:** 2019-06 (4.12.0)

I deleted all the files (e.g., .codewind, .appsody), volumes a

[2019-11-08 00:19] makandre commented on #1036
Is it possible that the `bind/end` is actually throwing a legitimate error, but it is hidden and we get an `EOF` because we're not returning a response body here?

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L375

[2019-11-08 00:43] maysunfaisal opened #1047 "[Local] Swift Projects do not pick up changes"
**Codewind version:** latest
**OS:** ~Win~ All local

**Che version:**
**IDE extension version:**
**IDE version:** latest
**Kubernetes cluster:**

**Description:**
Download vsix from latest, get the latest cwctl & PFE. Create Swift project, make change, wait for build to finish.

The application does not pick up the change.

~Needs to be confirmed for Mac local~. Does not work on Mac as well

Conf

[2019-11-08 00:43] maysunfaisal commented on #960
fixed. closing as verified.

[2019-11-08 00:46] tetchel commented on #960
only committers or the person who opened the issue can close issues, thx for verify

[2019-11-08 00:46] #960 closed

[2019-11-08 08:18] markcor11 commented on #739
Yes thanks @jcockbain96

[2019-11-08 08:18] #739 closed

[2019-11-08 08:37] markcor11 opened #1048 "Update unit tests to address changes to the connections command"
**Codewind version:** latest

**Description of the enhancement:**
Most of the installer tests for the connections command are currently skipped because the command had changed significantly from the old deployments command.  As such the old tests should be removed.

**Proposed solution:**
* Remove old deployments skipped tests
* Replace with new connections tests

[2019-11-08 09:08] markcor11 commented on #875
Reproduced with PFE 2019-11-09 master versions

[code]

[2019-11-08 09:16] tobespc commented on #1040
I took the helm charts out deliberately, will put them back in

[2019-11-08 09:21] NikCanvin commented on #496
nice

[2019-11-08 09:24] markcor11 commented on #875
[code]

changing it to:

```-rwxrwxr-x 1 root root 9892 Nov  8 09:00 mvnw```

Results in :

[code]

[2019-11-08 09:31] mattcolegate commented on #1036
Looking into this

[2019-11-08 09:34] tobespc commented on #875
@makandre Could you take a look please ?  After forcing the permissions to be correct Mark is then getting build errors which doesn't appear to be portal related.  Thanks

[2019-11-08 09:47] tobespc commented on #1040
charts have been put back in

[2019-11-08 09:54] tobespc commented on #1029
@james-wallis please take a look

[2019-11-08 09:55] james-wallis commented on #1029
I'll pick this up

[2019-11-08 09:57] tobespc commented on #1047
@rwalle61 please take a look

[2019-11-08 09:58] rwalle61 commented on #1047
I'll pick this up

[2019-11-08 10:15] tobespc commented on #961
@ebuckle please action

[2019-11-08 10:15] ebuckle commented on #961
Will take a look

[2019-11-08 10:19] mattcolegate opened #1050 "Win VSCode: Project overview local path click-through gives unexpected result"
**Codewind version:** 'latest' sha256:c641dd7f23b7f422d5d1c02caf6e7073d5bb7883fd333c4156bda12f187f6ec3
**OS:** Windows 10

**Che version:** NA
**IDE extension version:** 0.6.0-201911071935.vsix
**IDE version:** VSCode 1.40.0
**Kubernetes cluster:** N/A

**Description:** The local path in the project overview is clickable, but clicking it opens Windows Explorer in the root directory rather than the

[2019-11-08 10:23] tobespc commented on #1044
fixed, the lagom template had a .cw-settings files in there that had the watchedFiles setting which is no longer valid

[2019-11-08 10:44] tobespc commented on #928
closing as now complete

[2019-11-08 10:44] #928 closed

[2019-11-08 11:19] mattcolegate commented on #1036
Windows 10
VSCode: http://download.eclipse.org/codewind/codewind-vscode/master/178/codewind-0.6.0-201911071935.vsix
PFE: codewind-pfe-amd64                   latest                 sha256:c641dd7f23b7f422d5d1c02caf6e7073d5bb7883fd333c4156bda12f187f6ec3

Unable to recreate. Appsody Microprofile Java project is created successfully and starts successfully, although I did see the timeout @eharris369

[2019-11-08 11:25] rwalle61 commented on #1047
So on my Mac local, Swift Projects do not appear to pick up changes.

Changing the code locally triggers a sync with the code in the project container. However, the project does not appear to behave according to the source code - e.g. when I comment out `app.run` locally and wait for the project to rebuild and restart, the app still runs.

I'm unsure why this is. I'm not familiar with Swift, but p

[2019-11-08 12:59] james-wallis commented on #1029
@ssh24 I've tried and failed to recreate this issue.
Could you please pull master for all Codewind products and see if the issue persists please?

If it does still occur, steps which describe how to reproduce the product would help me to test it.
For example:
* Environment
* Method of running Codewind (VS_Code, Eclipse, cwctl)
* Version of Codewind
* Type of project
* What you did between disablin

[2019-11-08 13:44] nastacio commented on #875
This second problem is a defect in the appsody stack itself:
https://github.com/appsody/stacks/issues/448

[2019-11-08 14:17] hhellyer commented on #875
Upload was not sending file permissions, I've raised PR's for that against cwctl and portal
cwctl: https://github.com/eclipse/codewind-installer/pull/201
Portal: https://github.com/eclipse/codewind/pull/1052

This fixes permissions for a simple go project.

When I create a new Quarkus project I'm still seeing the permissions wrong but once changed on the host machine those permissions aren't lost.

[2019-11-08 14:26] johnmcollier opened #1053 "Change template services to ClusterIP"
Now that we're exposing ingresses for all of our applications, we no longer need our template services to provide an exposed NodePort for the user to access. We should instead switch our template services to ClusterIP and not require an external port be exposed:

ToDo:

- [ ] Change the type of service used in the code templates from `NodePort` to `ClusterIP`
- [ ] Change Turbine to allow projects

[2019-11-08 14:28] makandre opened #1054 "No response sent if unbind has error"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

If `unbind` throws an error on this line:

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L399

It would go to the `catch` and no response is send back on the `res` object.

**Steps to reproduce:**

**Workar

[2019-11-08 14:34] jagraj commented on #1036
I uninstalled codewind, eclipse plugin, removed workspace volume and got all latest this morning and I no longer see this problem. Thanks to everyone who tried to recreate this problem. I am all good now and closing this issue.

[2019-11-08 14:34] #1036 closed

[2019-11-08 14:38] makandre opened #1055 "No response body if error occurs in bind start/end"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

First spotted as part of:
https://github.com/eclipse/codewind/issues/1036#issuecomment-551326911

In the `bind/start` and `bind/end` APIs, if an error occurs portal returns status `500` but it doesn't look like it sends a response body.

This is possibly mask

[2019-11-08 14:50] makandre commented on #875
@hhellyer The upload happens for appsody projects as well.

Appsody projects can be created anywhere on the disk just like other Codewind projects.  Its contents are uploaded to PFE the same way.  Then here's the part that's different:  PFE puts Codewind projects under `/codewind-workspace` (docker volume space, not bind mount), but for Appsody projects PFE puts them under `/mounted-workspace` (wh

[2019-11-08 14:57] rajivnathan commented on #1047
I believe swift is doing a container rebuild even on update scenarios so the source would need to be synced to the pfe workspace instead of directly to the project container.

[2019-11-08 15:02] rwalle61 commented on #1047
I should have specified - the source is synced to the `codewind-workspace` in pfe too. (which baffles me as to how the build isn't reflecting the source)

[2019-11-08 15:26] hhellyer opened #1057 "cwctl not honouring file permissions when untarring."
When we untar files from template tar.gz's we don't copy the file permissions. In particular this means executables lose their executable bits.

We need to fix this here:
https://github.com/eclipse/codewind-installer/blob/95d1c93981b90825f421a6307ec599c0a40e6b6f/pkg/utils/filesystem.go#L214

[2019-11-08 15:27] AndyRWatson opened #1058 "Insecure upgrade message after vscode upgrade"
**Codewind version:** 6 (devt build)
**OS:**  MacOS

**Che version:**
**IDE extension version:** 6.0 (dev)
**IDE version:**   VSCode 1.39.2
**Kubernetes cluster:**

**Description:**

**Steps to reproduce:**

After upgrading my 0.5 (GA) plugin to 0.6 (devt build) I received an error in vscode and the following log output

About to upgrade projects from /Users/watsona/codewind-workspace
{"error":"un

[2019-11-08 15:29] hhellyer commented on #875
It looks like preserving the file permissions is one thing but we also don't create the files with the right permissions when we download the project templates. I've raised another bug for that here: https://github.com/eclipse/codewind/issues/1057

[2019-11-08 15:37] tetchel commented on #1058
this isn't a bug, this is how cwctl works, the `--insecure` flag disables SSL cert checking, since we don't have a proper solution for self-signed certs at this time

does `/Users/watsona/codewind-workspace` exist, or not?

[2019-11-08 15:40] jopit opened #1059 "[IntelliJ] Add hybrid support"

[2019-11-08 15:54] maysunfaisal commented on #1047
MAY have found the issue

`Step 11/11 : CMD [ "sh", "-c", "cd /swift-project && .build-ubuntu/release/swwwiiii1" ]` is the docker application step for Swift container

But between all the copying from "swiftproject-build" container to "PFE workspace" and then to "swift" container; it seems like `.build-ubuntu/release/swwwiiii1` is not updated on PFE between updates.

### Before update in PFE conta

[2019-11-08 16:20] tetchel opened #1060 "Consider downloading binary executables instead of bundling into the extensions"
cwctl and appsody executables have bloated to the point where we should not bundle them any longer. They are 173mb or ~60mb zipped, and should likely be downloaded after the extension is installed, but must be done before the docker images are updated.

This is going to be a pain for development, and adds another point of failure to the install step, but we can't be shipping 100mb extensions.

[2019-11-08 16:20] rajivnathan commented on #1047
Upgraded to stopship because swift update is essentially broken.

[2019-11-08 16:23] makandre opened #1061 "Doc: add troubleshooting for appsody bind failure scenario"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

We should document this scenario where appsody bind may fail:

1. An Appsody repository is added in Codewind via template manager
2. User tries to bind the project to a stack from that repository
3. Project is created in Codewind, but `apps

[2019-11-08 16:26] makandre commented on #1061
FYA @sishida

[2019-11-08 16:26] maysunfaisal commented on #1047
This line is the culprit https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/swift-container.sh#L321

All builds are broken - auto and manual

[2019-11-08 16:37] sishida commented on #1061
@makandre Are we planning to eventually fix this issue, or is this issue something beyond our control?

If we plan to fix the issue, the Troubleshooting update will become obsolete, and I'd rather just leave this issue open instead of updating the Troubleshooting. :)

[2019-11-08 16:43] maysunfaisal opened #1062 "Turbine Test: Win Liberty Project Create Failures"
**Codewind version:** latest
**OS:** Win

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
The Win Turbine func tests seem to be failing on Liberty create
[code]

Looks like this line https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/idc/artifacts/run_docker.sh#L67 is failing and it does not copy over the entire src and mvn f

[2019-11-08 16:45] makandre commented on #1061
It's beyond our control because user could have added the repo in their local appsody CLI

[2019-11-08 16:56] rwalle61 commented on #1047
Was it caused by the last change (https://github.com/eclipse/codewind/pull/1004/files#diff-fcbabad6dc400c5ba51a1a7718671571L321) or a previous one? I am totally unfamiliar with this code

[2019-11-08 17:07] sishida commented on #1061
@makandre OK, ID will plan to add it in. Thanks for the clarification!

[2019-11-08 17:13] maysunfaisal commented on #1047
I got the root cause, I will put up a PR to fix it.

Essentially, docker cp does not overwrite. Need to `rm -rf ` before doing a docker cp to PFE workspace.

Testing my fix on Win, if everything is ok, will open a PR

[2019-11-08 18:43] johnmcollier opened #1065 "Codewind deployment fails if Che was installed with `docker-desktop` flag on Chectl"
@tetchel found that his Codewind deployments were failing when he installed Che with the `--platform=docker-desktop` flag on Chectl. They would fail with the following error:
[code]

This is because when Chectl configures Che for Docker Desktop, it uses a single PVC for **all** user workspaces called `claim-che-workspace`, which our deploy Code doesn't check for.

https://github.com/eclipse/codewi

[2019-11-08 18:51] maysunfaisal commented on #1047
Can someone assign this to me, I can verify and close this as well. PR is up.

[2019-11-08 18:59] AndyRWatson commented on #1058
Thanks @tetchel, yes it does and it did have existing projects in the directory.

From a concern point I am wondering how this message is perceived by a user who is migrating or using for the first time. May panic people over what they have just downloaded ?! (Thoughts)

[2019-11-08 19:05] ssh24 commented on #1029
@james-wallis I am unable to see this now anymore as well. Not sure what caused it to show up yesterday.

[2019-11-08 19:08] eharris369 opened #1067 "Eclipse IDE: Application overview page not restored if Eclipse restarted"
Create a new project so that its application overview page is displayed.  Then restart Eclipse.  The application overview page does not show.

[2019-11-08 19:14] tetchel commented on #1058
some thoughts:
1. we could rename `--insecure` to something clearer like `--disable-certcheck` so users can see what's happening
2. we could remove `--insecure` altogether for 0.6 since there's no remote connections anyway, it has no effect, but that just pushes the problem to when we actually ship remote support in 0.7
3. (in 0.7) we could actually fix the ssl cert problem in the codewind backend

[2019-11-08 19:24] #609 closed

[2019-11-08 19:24] makandre commented on #866
I can handle this

[2019-11-08 19:39] #1047 closed

[2019-11-08 20:19] makandre opened #1068 "Kabanero repo in Codewind is outdated"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The Kabanero repo that comes pre-configured in Codewind is old, it's `0.1.2` and they are up to `0.3.0` now

The way we hardcode it is also incorrect now due to Codewind's architectural change in `0.6.0`.  The repo needs to be added "programmatically" via Tem

[2019-11-08 20:26] maysunfaisal opened #1069 "Fix Codewind.dev home page icons"
**Description of the enhancement:**

Fix the icon labels

<img width="1655" alt="Screen Shot 2019-11-08 at 3 24 36 PM" src="https://user-images.githubusercontent.com/31771087/68508293-0564b200-023c-11ea-87a0-bfbcf8636284.png">
<img width="1673" alt="Screen Shot 2019-11-08 at 3 24 50 PM" src="https://user-images.githubusercontent.com/31771087/68508294-0564b200-023c-11ea-8221-d5c26074629f.png">
<img

[2019-11-08 20:31] maysunfaisal commented on #1069
Should not be "twitter icon" "youtube icon" 😆

[2019-11-08 20:50] markcor11 commented on #1019
suggested fix of removing the host did not work, researching other ways

[2019-11-08 20:51] jopit opened #1070 "[IntelliJ] Improve logging for the plugin"
Not related to logs for Codewind applications and builds.
- Use separate logger for each class to make it clearer where the errors are coming from.
- In addition to writing to the log, calling the IntelliJ logger's `error` methods result a `IDE fatal error` dialog being shown to the user, offering them the option of disabling the offending plugin.  So don't log using the `error` methods unless it

[2019-11-08 20:53] ssh24 commented on #1029
Actually, I just noticed the issue again but this time on windows:
[code]

I created a fresh liberty project and saw this

[2019-11-08 20:56] ssh24 opened #1071 "Touching console.log file on different path on windows"
**Description:**
On windows, we are touching a different path for console.log (the path is valid for linux but not on windows). This needs to be fixed from `/home/default/app/mc-target/liberty/wlp/usr/servers/defaultServer/logs/console.log` -> `/tmp/liberty/liberty/wlp/usr/servers/defaultServer/logs/console.log`
[code]

[2019-11-08 21:01] ssh24 opened #1072 "Docker cp of mc-target is to a wrong folder in windows"
**Description:**
Similar to https://github.com/eclipse/codewind/issues/1071, the liberty path in windows should be `/tmp` instead of `/home/default/app/mc-target`
[code]

[2019-11-08 21:20] markcor11 commented on #1019
Seems that the 63 char limit is **per component** of the hostname where the hostname can be up to 256 chars long. In the example provided the violation would be in this part of the hostnamename coming in at 78 characters:

```codewind-keycloak-k2nsm9mj-codewind-ide-7674b4bd9abbdeea0be228236d5275c9-0001```

By using a dot separator after codewind-keycloak-k2nsm9mj we could get the size down to 27 +

[2019-11-08 21:21] markcor11 commented on #1019
Seems that the 63 char limit is **per component** of the hostname where the hostname can be up to 256 chars long. In the example provided the violation would be in this part of the hostname coming in at 78 characters:

```codewind-keycloak-k2nsm9mj-codewind-ide-7674b4bd9abbdeea0be228236d5275c9-0001```

By using a dot separator after codewind-keycloak-k2nsm9mj we could get the size down to 27 + 51

[2019-11-08 21:26] jopit commented on #999
Fixed with https://github.com/eclipse/codewind-intellij/commit/6b3f3ef0e71cfb18e6c62cf382982e4e27283386

[2019-11-08 21:26] #999 closed

[2019-11-08 21:30] makandre opened #1073 "Two errors on Appsody project creation"
**Codewind version:** 0.6.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**

The symptom observed here is same as https://github.com/eclipse/codewind/issues/936 but this is on Che and scenario is different.  The following 2 errors are seen when re-opening a closed Che workspace:

![image](https://user-images.githubusercontent.com/1759

[2019-11-08 21:34] makandre commented on #1073
Not sure why we don't see this for Codewind projects. One difference I can see is when projects are re-bound to Codewind, Appsody projects pretty quickly goes to `running` state, since they don't need to go through "build" stage, whereas Codewind projects goes to `building`

I tried with appsody and codewind nodejs projects

[2019-11-08 21:48] josephca opened #1074 "Remove the code for the initialize container from Jenkinsfile"
Jenkinsfile change seems to be missed from **Remove the code for the initialize container from Jenkinsfile.** #853

[2019-11-09 01:04] makandre commented on #1073
Briefly chatted with @tetchel, he suggested maybe it just takes more time for Turbine to become aware of appsody projects.

That make sense, there's more stuff to run through when Turbine first initializes a project handler for appsody, and the `fwdata` only gets written after that.

I wonder, if we had Turbine emit a new event after it writes the `fwdata`, could we delay the get logs and capabili

[2019-11-09 02:37] #1065 closed

[2019-11-09 14:21] jopit commented on #1058
@AndyRWatson you say you’re also seeing a pop up in vscode that says “Insecure Download” separate from  the —insecure flag?  That sounds like something we should change.

[2019-11-10 21:03] AndyRWatson commented on #1058
Sorry typo. The message said ‘insecure upgrade‘ not  ‘insecure download’

[2019-11-11 01:26] jgwest commented on #844
/assign

[2019-11-11 01:32] jgwest commented on #844
/assign

[2019-11-11 01:36] jgwest commented on #844
/unassign

[2019-11-11 01:37] jgwest commented on #844
/assign
/kind test
/area portal
/priority hot

[2019-11-11 01:38] jgwest commented on #844
/remove-kind test
/remove-area portal
/remove-priority hot
/unassign

[2019-11-11 09:59] tobespc commented on #1068
The architecture change has not modified this area at all.  The question here is do we hardcode the default set of templates that we ship with or, have some clever install that will use the template manager to inject them at that time ?

[2019-11-11 10:26] liamchampton commented on #909
@aifayed is this still a problem or can this issue be closed?

[2019-11-11 10:49] tobespc commented on #491
closing as this is done

[2019-11-11 10:49] #491 closed

[2019-11-11 11:36] mattcolegate commented on #1029
@ssh24 can you give us more details to recreate please? Ideally:
*  IDE you were using and version of the plugins
*  sha of the PDE image you were using
*  Exact steps to recreate the issue - were you creating a new project and saw it in the logs during creation? Did the project come up? Did the project fail to come up show as disabled? Did you then recreate the project?
*  Can you also post the w

[2019-11-11 13:56] ssh24 commented on #1062
@rajivnathan Please assign this to me.

[2019-11-11 14:12] jopit commented on #1058
OK, then I think the fix needs to come from portal.

[2019-11-11 14:27] ssh24 commented on #1029
I have attached the full log here
[pfe.log](https://github.com/eclipse/codewind/files/3831741/pfe.log)

- I was using the latest version of the IDE Plugin (pulled in latest this morning)
- PFE image sha: 6180c017fa6684b653ee1a3f0501b9844b54a44b
- The project does build and come up but you will see in the logs, after enabling it floods it with that message before the build starts.

[2019-11-11 14:28] johnmcollier commented on #1040
Verified, fixed.

[2019-11-11 14:28] #1040 closed

[2019-11-11 14:33] mattcolegate commented on #1029
Thanks @ssh24, just one more question - Eclipse or VSCode for the IDE? (or che?)

[2019-11-11 14:37] jagraj opened #1079 "(metrics) SVT:Add support for Performance tests on Appsody Liberty stacks"
**Codewind version:** 0.6
**OS:** WIndows

**Che version:**
**IDE extension version:** 0.6
**IDE version:** Eclipse 2019-09
**Kubernetes cluster:**

**Description:**
Performance tests results are no longer available in the history after test is completed running.

PFE log.

[pfe.txt](https://github.com/eclipse/codewind/files/3831771/pfe.txt)

Performance log.
[performance.txt](https://github.com/e

[2019-11-11 14:50] maysunfaisal opened #1080 "Turbine Test should be updating files rather than only calling the update functions"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Turbine functional tests currently only fake file updates and call the functions. I think it would be better if we can actually update files and call the functions

**Proposed solution:**

[2019-11-11 14:50] johnmcollier commented on #1028
Fixed in https://github.com/eclipse/codewind/pull/1046, passing in our nightly tests now.

[2019-11-11 14:50] #1028 closed

[2019-11-11 14:53] jagraj commented on #1039
We are seeing same problem on local as well. Here is the popup we are getting on Eclipse.

![portnotexposed](https://user-images.githubusercontent.com/713849/68596374-1cd4b280-0469-11ea-8ef7-33c500f23989.JPG)

[2019-11-11 14:53] mattcolegate commented on #1029
Hi @ssh24, the pfe.log file you attached doesn't contain the text `Error: No such container:path:`. Can you please verify you've uploaded the correct log file? Also any other pertinent log files, like the maven build or application log?

[2019-11-11 15:00] maysunfaisal commented on #808
We could(emphasizing COULD, dont want to lead ppl astray if its not) be seeing https://github.com/eclipse/codewind/issues/1039#issuecomment-551305508 because of this issue. We should probably keep these two issues close together.

[2019-11-11 15:20] maysunfaisal opened #1081 "Codewind repo should have a getting started dir"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Codewind repo should have a getting started dir in the root dir. This could be a MD of how to start and playing with Codewind

**Proposed solution:**

[2019-11-11 15:31] ssh24 commented on #1029
[pfe.log](https://github.com/eclipse/codewind/files/3831982/pfe.log)

@mattcolegate For some reason the `UnhandledPromiseRejectionWarning` error did not get redirected to the file. I have uploaded it again

[2019-11-11 15:32] ssh24 commented on #1029
Also the IDE I used was VSCode

[2019-11-11 15:44] sishida commented on #1038
@makandre, @eharris369, OK, sounds like the users won't need to dig around to find the message and that it appears as needed. I have removed the line that was obsolete. Closing this issue.

[2019-11-11 15:44] #1038 closed

[2019-11-11 15:59] j-c-berger commented on #1045
@sishida , I'm good to work on this issue, so please add me, thanks!

[2019-11-11 16:23] johnmcollier commented on #345
Adding back the techtopics label to discuss options from a security perspective this Thurs

@cccanderson FYI

[2019-11-11 16:26] sishida commented on #552
See https://github.com/eclipse/codewind/pull/620#event-2767943488 for descriptions that went into 0.6.0.

[2019-11-11 16:40] maysunfaisal commented on #1039
To make it easier to debug from Portal/cwctl side; I put some trace logs in Turbine and it looks like three files are getting change notifications on project create - `.cw-settings`, `Dockerfile`, `README.md`

You can look at my trace log `updateProjectForNewChange eventArray` below. This was added to Turbine entry point for File change function `updateProjectForNewChange`

[code]

[2019-11-11 17:03] j-c-berger commented on #1045
@johnmcollier where would I go to learn how to upgrade the Codewind workspace so I can document those steps? I tried to install Eclipse Che so I could upgrade the Codewind workspace myself, and document those steps, but that didn't get me too far. Thank you.

[2019-11-11 17:05] johnmcollier commented on #1045
@j-c-berger I'll write the steps, I'll just need you guys edit it for ID

[2019-11-11 17:18] #1074 closed

[2019-11-11 17:52] tetchel commented on #1079
did the performance monitor ever work with appsody? https://github.com/eclipse/codewind/issues/533

[2019-11-11 17:58] j-c-berger commented on #1045
Cool, thank you, John.

[2019-11-11 18:13] jagraj commented on #1079
Yes, this feature is enabled only for supported projects. I cerated Appsody eclipse Microprofile project and the options are available for this project. This is enabled for Java and Nodejs projects.

![Screen Shot 2019-11-11 at 1 11 50 PM](https://user-images.githubusercontent.com/713849/68610047-d8efa680-0484-11ea-8e6b-51deebe58106.png)

[2019-11-11 18:36] tetchel commented on #998
@naveenkaratekid can you provide an update and/or close this issue

[2019-11-11 18:51] tetchel commented on #941
also `project create`

[2019-11-11 19:09] tetchel commented on #937
[code]

for some reason this time the error used the key "result"

[2019-11-11 19:16] jopit commented on #941
@tobespc to gather the info in one place, we need the following commands to take a connection ID parameter
`templates`
`templates repos`
`project create`

[2019-11-11 19:25] jopit opened #1082 "Put back install remote"
PR https://github.com/eclipse/codewind-installer/pull/199 removed the ability for cwctl to install PFE into a kube cluster.

We need that function to be added back to cwctl.

[2019-11-11 19:30] sishida commented on #1061
@makandre I have created a PR for this issue: https://github.com/eclipse/codewind-docs/pull/220
Could you please review and let me know if you'd like any changes? Thanks!

[2019-11-11 19:34] GeekArthur opened #1083 "[ODO] OpenShift projects get stuck on Starting state"
**Codewind version:** 0.6.0
**OS:** MacOS

**Che version:** 7.2.0
**IDE extension version:** 0.6.0
**IDE version:** 7.1.0
**Kubernetes cluster:** OKD 3.11.0

**Description:**

Currently OpenShift projects get stuck on Starting state when using ODO extension to build. We need to upgrade odo CLI to v1.0.1 and update `getPodName` function to fix this.

[2019-11-11 19:35] GeekArthur commented on #1083
Please assign this issue to me.

[2019-11-11 19:36] jopit opened #1084 "Can't communicate with remote WebSocket"
This is likely related to issue #975 but any attempt by the IDEs to connect to the remote web socket is blocked by the Gatekeeper.  Do we need to wait until #975 is delivered before this works?  It's a major blocker for our hybrid work

[2019-11-11 19:51] #552 closed

[2019-11-11 19:58] johnmcollier commented on #1060
+1, even the single-platform Theia extension is getting bulky, at nearly 40MB.

One thing to consider here is offline & airgap support where the IDE may not be able to download the CLIs. May want to consider packaging a "fat" version of the plugins (on http://download.eclipse.org perhaps?) that could be used in offline/airgapped envs.

[2019-11-11 20:21] jagraj commented on #1079
I also verified against Codewind 0.5 release, load tests from "Performance Dashboard" does not work for appsody microprofile project and we should disable or display this message to the user.

![image](https://user-images.githubusercontent.com/713849/68618206-d8600b80-0496-11ea-8b10-c6d282f418a8.png)

[2019-11-11 20:29] GeekArthur commented on #1001
Close this since fix has been merged and verified.

[2019-11-11 20:29] #1001 closed

[2019-11-11 20:31] GeekArthur commented on #806
Fix has been merged and verified, think we can close this.

[2019-11-11 20:32] GeekArthur commented on #721
Openshift PHP projects are disabled, we can close this.

[2019-11-11 20:33] GeekArthur commented on #687
Openshift Wildfly project is disabled, we can close this.

[2019-11-11 20:34] GeekArthur commented on #686
OpenShift Ruby project is disabled, we can close this.

[2019-11-11 20:35] GeekArthur commented on #446
Implementation has been merged and verified, we can close this.

[2019-11-11 20:40] #721 closed

[2019-11-11 20:55] sishida commented on #596
I have created https://github.com/eclipse/codewind-vscode/pull/274 to make the VS Code Readme/Marketplace page look more like the Eclipse page. Would @rtaniwa and @tetchel please review?

[2019-11-11 20:57] #446 closed

[2019-11-11 20:57] #686 closed

[2019-11-11 20:57] #687 closed

[2019-11-11 20:58] #806 closed

[2019-11-11 21:59] elsony commented on #835
@yangcao77 Toby mentioned on one of the call this morning that this problem has been fixed.  Can you verify this?

[2019-11-11 23:28] ssh24 commented on #257
I am also able to reproduce this. I had these projects created and then rebuilt codewind and enabled them but the ranks don't seem correct
![Uploading Screen Shot 2019-11-11 at 6.26.52 PM.png…]()

[2019-11-12 08:53] jcockbain96 commented on #835
The change isn't into `cwctl` to set `.cw-settings` yet, https://github.com/eclipse/codewind-installer/pull/191.

Once that is merged that will be ready to verify.

[2019-11-12 08:59] tobespc commented on #1079
Will take a look but as this is not a regression I question whether its stop ship

[2019-11-12 09:39] markcor11 commented on #489
Introduce keycloak and gatekeeper to codewind:  https://github.com/eclipse/codewind/pull/1086

[2019-11-12 09:58] jcockbain96 commented on #1039
I've recreated on our cluster, @tobespc could you assign me?

[2019-11-12 10:03] jcockbain96 commented on #808
I'm not able to recreate on Che with latest dev file. @stalleyj is looking at the sync login now. I'm focussing on #1039 first, then will come back to this one.

[2019-11-12 10:30] markcor11 commented on #1019
PR https://github.com/eclipse/codewind-installer/pull/204

[2019-11-12 10:44] tobespc commented on #961
@ebuckle Can you put a PR up against 0.6.0 as well please

[2019-11-12 11:20] stalleyj commented on #1039
The situation is this, the FileWatcher daemon is notifying cwctl of changes to the project before we have finished creating it. The api to return the watchlist is including projects too soon, investigating the best way to fix this.

[2019-11-12 12:39] ssh24 commented on #257
After debugging this and I found out that Turbine is emitting the event correctly and it is the IDE that does not reflect the new ranks. I was able to see the new rank by clicking on `Local` -> `Refresh` and the new rank would show correctly on the IDE. Below is the logs from Turbine where you can see the ranks are emitted correctly from us:
[code]
And after clicking refresh, it shows the correct

[2019-11-12 14:19] sishida opened #1087 "Remove limitations.md from docs"
Remove the limitations page that doesn't appear on the website and no longer applies: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/limitations.md

Received confirmation from @johnmcollier that the issues in this file no longer apply.

[2019-11-12 14:20] micgibso commented on #559
@sishida Work completed and approved on PR #208 above, please close this issue, thx!

[2019-11-12 14:31] maysunfaisal commented on #896
As of Nov 12, these are the failing tests on Kube

[code]

[2019-11-12 14:32] #559 closed

[2019-11-12 15:13] #866 closed

[2019-11-12 15:14] micgibso commented on #839
@jopit Is this for 0.6.0?

[2019-11-12 15:23] markcor11 opened #1089 "Add Connection Update command to CLI"
**Codewind version:** latest

**Description of the enhancement:**
The user may need to change their username or URL to correct a typo or for some other reason. Currently they will need to delete then re-add the connection which causes a new ConnectionID to be assigned.

**Proposed solution:**

Add a "connection update" command so that an existing connection can be modified without having to delete

[2019-11-12 15:27] micgibso commented on #1087
@sishida I'll take this one please, thx!

[2019-11-12 15:39] #372 closed

[2019-11-12 15:39] johnmcollier commented on #372
Closing as OCP4 support has been delivered for Codewind and we have documented that OCP 4 requires NFS

[2019-11-12 15:40] johnmcollier commented on #459
Delivered in Codewind last week, verified and closing off

[2019-11-12 15:40] #459 closed

[2019-11-12 15:41] markcor11 commented on #1089
Current list of commands :

[code]

[2019-11-12 15:42] elsony commented on #372
Iterative dev item for ingress: https://github.com/eclipse/codewind/issues/590 - done

[2019-11-12 15:48] ssh24 commented on #257
see the thing is the event is only emitted for the current project and not other projects in the queue
[code]
thus, I think IDE only knows about the current projects rank and updates that and not the other ones in the queue

@elsony I am looking into this. Could you please assign it to me?

[2019-11-12 15:50] jopit commented on #839
Not for 0.6.0 -- I've changed the release.

[2019-11-12 15:57] stalleyj commented on #1039
@jgwest Are you able to help investigate this one ?  I think that sync is being called in cwctl before bind has completed but I don't know why/how the daemon is being notified of the project.

[2019-11-12 16:08] maysunfaisal commented on #1039
@stalleyj if I am right, Filewatcher does a GET watchlist API call on PFE every few secs. And this calls https://github.com/eclipse/codewind/blob/master/src/pfe/portal/modules/User.js#L199 to notify FW of the PFE projects. Filewatcher then calls a PUT watchStatus that tells PFE whether FW is listening on the project or not. But essentially the GET API is where FW knows of hte project. You can enab

[2019-11-12 17:35] makandre commented on #1011
This is fixed indirectly by https://github.com/eclipse/codewind/pull/1085

[2019-11-12 17:35] #1011 closed

[2019-11-12 17:39] elsony opened #1092 "Add git bot for non-committers to modify some fields on issues"
Non-committers currently don't have a way to add/remove labels and assign item to themselves on our existing Codewind repo.

This git bot will allow no-committer user to do the following tasks by adding comments to the issue:
1. Add and remove labels
2. Assign owner to the issue
3. Changing the pipelines on the issue, e.g. moving items to in progress and verify

Other requirement:
1. Only people o

[2019-11-12 17:40] makandre commented on #676
In `0.6.0` we made it so the appsody CLI won't do a version check any more so there should be a noticeable improvement

[2019-11-12 17:41] makandre commented on #674
We established the name is "scaffold".  Can this be closed?

[2019-11-12 17:44] jgwest commented on #844
/assign

[2019-11-12 17:44] makandre commented on #630
Probably a point-in-time error?  We've since updated the appsody CLI we bundle.  Do we still see this?

[2019-11-12 17:45] makandre commented on #488
This has been fixed for a while.  Can we close?

[2019-11-12 17:46] jgwest commented on #844
/unassign
/kind test

[2019-11-12 17:47] makandre commented on #311
This had been fixed for a while, can it be closed?

[2019-11-12 17:48] makandre commented on #391
@jagraj can we close this?

[2019-11-12 17:49] makandre commented on #300
Can this be closed?

[2019-11-12 17:50] sujeilyfonseca commented on #630
I no longer see this error with the latest Codewind.

[2019-11-12 17:50] #630 closed

[2019-11-12 17:50] makandre commented on #299
I think this old issue is no longer valid

[2019-11-12 17:52] jgwest commented on #844
/remove-kind test

[2019-11-12 17:53] makandre commented on #267
Can we close on this old issue?  I don't think the messages from the springboot app has any affect on the functionality

[2019-11-12 17:54] makandre commented on #239
We documented this right?  Can we close the issue?

[2019-11-12 17:57] jgwest commented on #1092
/kind enhancement

[2019-11-12 18:07] jgwest commented on #1039
Happy to help, just let me know, and I chatted with Toby so I am guessing y'all already have this info, but adding to what Maysun mentioned:
The filewatcher daemon has no direct connection to the IDE (in most cases), so it uses the following Codewind server APIs to detect when new projects become available:
- WebSocket endpoint, used for instant notification of new/changed projects: `/websockets/f

[2019-11-12 18:11] naveenkaratekid commented on #300
Yes.

[2019-11-12 18:11] #300 closed

[2019-11-12 18:14] sishida commented on #239
Here is a link to the documented section on our website: https://www.eclipse.org/codewind/troubleshooting.html#attempts-fail-to-attach-the-debugger

However, I was under the impression that development eventually wanted to fix the issue, and I would remove this documented section on the website?

[2019-11-12 18:21] rajivnathan commented on #510
@mmulholl Are you still seeing this issue?

[2019-11-12 18:25] maysunfaisal commented on #844
/assign me

[2019-11-12 18:26] jgwest commented on #844
/assign @maysunfaisal

[2019-11-12 18:27] maysunfaisal commented on #844
/priority stopship

[2019-11-12 18:28] ssh24 commented on #1072
/assign

[2019-11-12 18:29] maysunfaisal commented on #844
/kind bug

[2019-11-12 18:29] jgwest commented on #844
/assign @maysunfaisal

[2019-11-12 18:33] rajivnathan commented on #1073
Both the capabilities and logs API are expected to return errors if the project has not started yet. I believe we've seen this problem in the past where portal tries to call those APIs prematurely? @tobespc Does that ring a bell?

[2019-11-12 18:39] jgwest commented on #844
/remove-priority stopship

[2019-11-12 18:39] makandre commented on #1073
Tho I think in this case it's VSCode/Theia that's making those calls prematurely

[2019-11-12 18:39] mmulholl opened #1093 "SVT : Eclipse : language shown as unknown for Appsody Starter sample"
**Codewind version:**    Codewind Base	1.4.0.v201911081450
**OS:** Mac/OS

**Che version:**
**IDE extension version:**
**IDE version:**Eclipse IDE for Enterprise Java Developers. Version: 2019-09 R (4.13.0), Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**
After creating a Appsody Starter sample the language for the project is shown as "Unknown" in the overview page, was expecting

[2019-11-12 18:42] eharris369 commented on #1067
This is fixed by:
https://github.com/eclipse/codewind-eclipse/pull/408 (master)
https://github.com/eclipse/codewind-eclipse/pull/407 (0.6.0)

[2019-11-12 18:42] #1067 closed

[2019-11-12 18:42] maysunfaisal commented on #844
/remove-assign @maysunfaisal

[2019-11-12 18:44] maysunfaisal commented on #844
If all the remove commands are `/remove` should it be `/remove-assign`

[2019-11-12 18:44] #908 closed

[2019-11-12 18:45] jgwest commented on #844
/unassign @maysunfaisal

[2019-11-12 18:47] jgwest commented on #844
This shouldn't work (invalid format), but also shouldn't throw an exception:
/assign me

[2019-11-12 18:51] maysunfaisal commented on #844
/assign cute doge

[2019-11-12 18:51] makandre commented on #1093
That actually probably "correct", since the `starter` stack is not a real working stack, but a template for people to use when creating new stacks.

A `starter` project only contains 1 placeholder `hello.sh` script, hence there's no language

[2019-11-12 18:51] jgwest commented on #844
/remove-kind bug

[2019-11-12 18:53] maysunfaisal commented on #844
/reopen

[2019-11-12 18:54] jgwest commented on #844
@maysunfaisal The only supported commands are those I listed in my Slack message, there are no secret commands yet 🕵

[2019-11-12 18:58] jgwest commented on #844
Test invalid again:
/assign me

[2019-11-12 19:00] jgwest commented on #1092
**TODO**:
- White list
- `/label (label)`
- Ability to close/reopen issues
- Ability to change pipeline (requires ZenHub)

[2019-11-12 19:02] maysunfaisal commented on #844
/assign @maysunfaisal

[2019-11-12 19:03] maysunfaisal commented on #844
/assign @jgwest @johnmcollier

[2019-11-12 19:07] jgwest commented on #844
Let's try this:
/assign @jgwest @maysunfaisal

[2019-11-12 19:08] maysunfaisal commented on #844
@jgwest Did i break it again

[2019-11-12 19:09] eharris369 opened #1094 "Eclipse IDE: Fix up how project languages and types are handled"
For project languages and types an enum is currently used but this is not flexible.

[2019-11-12 19:10] GeekArthur commented on #748
For 0.7.0, we can do more investigation on image stream and template to ensure they are compatible with each other with the latest stable odo CLI.

[2019-11-12 19:15] maysunfaisal commented on #844
/assign @maysunfaisal

[2019-11-12 19:16] johnmcollier commented on #844
/assign me

[2019-11-12 19:18] #845 closed

[2019-11-12 19:19] jgwest commented on #844
/assign @johnmcollier

[2019-11-12 19:19] jgwest commented on #844
`/assign me` is not a valid command, but since people will inevitably try it, I will add it.

[2019-11-12 19:26] jgwest commented on #844
🤔

[2019-11-12 19:28] #488 closed

[2019-11-12 19:29] jgwest commented on #844
/unassign

[2019-11-12 19:30] jgwest commented on #844
/assign @johnmcollier

[2019-11-12 19:31] jgwest commented on #844
/unassign @johnmcollier

[2019-11-12 19:33] johnmcollier commented on #1039
FWIW, I checked the sidecar logs for when Portal reports that the cw-settings file changed and there's nothing there showing the filewatcherd service is detecting a change

[2019-11-12 19:35] eharris369 commented on #1093
But the language listed in the template is bash.  Is that incorrect as well?

[2019-11-12 19:35] jgwest commented on #844
/assign me

[2019-11-12 19:37] #299 closed

[2019-11-12 19:38] tetchel commented on #1073
Yes andrew is correct

[2019-11-12 19:38] #1070 closed

[2019-11-12 19:38] jgwest commented on #844
/unassign me

[2019-11-12 19:38] #267 closed

[2019-11-12 19:40] makandre commented on #1093
I'm guessing when appsody team generated the `index.json`, they just put `bash` based on the 1 bash script in it and because Codewind needed a language value.

I don't think `bash` is one of the language that `cwctl` detects, hence it shows as Unknown

[2019-11-12 19:45] eharris369 opened #1095 "Hybrid: could not bind an existing project"
Trying to bind an existing go project fails.  Calls to the REST API from within Eclipse are working fine - it gets the environment, can refresh the project list, etc.

The connections list is:
[code]

And the bind call:
[code]

[2019-11-12 19:46] maysunfaisal commented on #844
/assign @maysunfaisal @jgwest @johnmcollier

[2019-11-12 19:49] maysunfaisal commented on #844
/unassign @maysunfaisal

[2019-11-12 19:50] maysunfaisal commented on #844
/assign @maysunfaisal @jgwest @johnmcollier

[2019-11-12 19:51] maysunfaisal commented on #1092
`/assign` should be able to handle multiple accounts like `/assign userA userB`

[2019-11-12 19:54] maysunfaisal commented on #1092
Can typing `/` auto suggest commands like this

<img width="916" alt="Screen Shot 2019-11-12 at 2 53 45 PM" src="https://user-images.githubusercontent.com/31771087/68705550-44587780-055c-11ea-9c11-7d69c0937abc.png">

[2019-11-12 19:55] maysunfaisal commented on #844
tho i miss the prow /woof 😞

[2019-11-12 19:56] eharris369 opened #1096 "Hybrid: no version in the result from the environment API"
The IDE code checks the version of Codewind to make sure it is compatible but the output of api/v1/environment does not contain the version for the hybrid case:

{
  "running_in_k8s": true,
  "user_string": null,
  "socket_namespace": "/default",
  "workspace_location": "/projects",
  "os_platform": "Linux",
  "tekton_dashboard": {
    "status": false,
    "message": "not-installed",
    "url": ""

[2019-11-12 20:02] jopit commented on #1096
Not currently blocking, but still required for 0.7.0

[2019-11-12 20:09] johnmcollier commented on #1092
`/pipeline <pipeline>` should change the zenhub pipeline to the specified one

[2019-11-12 20:18] GeekArthur commented on #754
PR has been merged, so close this.

[2019-11-12 20:18] #754 closed

[2019-11-12 20:27] rajivnathan opened #1097 "Swift is taking a long time to build"
**Description:**
The build is taking over 20 mins on some machines. Need to investigate why.

[2019-11-12 20:37] tetchel commented on #1035
It looks like updating to theia 7.3.1 fixes the issue. Also, it looks like withProgress `cancellable` is now respected (https://github.com/eclipse-theia/theia/issues/5578) so maybe this was fixed at the same time

[2019-11-12 21:41] jagraj opened #1098 "SVT:Spring project failed to build and says "Maven build failed" but I can not access Maven build log"
**Codewind version:** 0.6
**OS:** RHEL

**Che version:** 7.2
**IDE extension version:** 0.6
**IDE version:** Theia 7.1
**Kubernetes cluster:**
OKD cluster 3.11

**Description:**
Spring project build failed and the message says "Maven build failed" but I can not access maven log for the build.

[code]

![image](https://user-images.githubusercontent.com/713849/68706015-1a538500-055d-11ea-8470-b22906

[2019-11-12 21:42] jagraj commented on #1098
@tetchel
When you get a chance, can you take a look at the Theia logs and I see bunch of errors.?

[2019-11-12 21:46] jagraj commented on #1035
We can move to theia 7.3.1 for 0.6.0 release.?

[2019-11-12 21:49] jagraj commented on #311
Done

[2019-11-12 21:49] #311 closed

[2019-11-12 21:56] sujeilyfonseca opened #1099 "SVT: [Che] Build failures in some default applications, even if they are running"
**Codewind version:** 0.6.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Description:** Java Lagom and Swift projects are displayed as `[Running]` but with the status `[Build Failed - Creating image for build failed]`.

![Screen Shot 2019-11-12 at 4 41 49 PM](https://user-images.githubusercontent.com/49531960/68713223-5d1c5980-056b-11

[2019-11-12 22:11] sujeilyfonseca opened #1100 "SVT: [Che] File watcher status 404 and Error loading remote connections"
**Codewind version:** 0.6.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift (Gluster FS)

**Description:** I was creating some projects in Eclipse Che and, suddenly, I received many errors: `File watcher status 404` and `Error loading remote connections`

![Screen Shot 2019-11-12 at 2 54 31 PM](https://user-images.githubusercontent.com/4953

[2019-11-12 22:13] ssh24 commented on #1080
I don't think that would be functional test because we are not testing the update function directly and beats the purpose of functional test. What you are saying is a valid scenario but should be done by integration tests IMO

[2019-11-12 22:44] sishida commented on #421
@sghung Are OpenAPI tools eventually going to support Kubernetes, or is unsupported Kubernetes just life as we know it?

[2019-11-12 22:51] johnmcollier commented on #1092
This one's a little more niche, but:
- If a user opens an issue in one of the Codewind repos other than `eclipse/codewind`, the button automatically moves the issue to this repo

[2019-11-12 23:01] keithchong commented on #421
@sishida , eventually, it will.

[2019-11-12 23:58] rajivnathan opened #1101 "Dependency differences between Turbine and Portal"
**Codewind version:** latest
**OS:** any

**Description:**
From Nik:
The Portal package.json, has a file ref dependency on filewatcher + some explicit file-watcher sub-dependencies in it's package-lock.json ..... but that I also see filewatcher has it's own package.json and package-lock.json ..
..
when filewatcher install, it overwrites the dependencies to lower levels, than was in portals lock.js

[2019-11-13 01:54] tetchel commented on #1098
I see loads of ` Error: Unknown actor TreeViewsMain` but that error is not being generated by my extension, I don't see any pertinent errors in the theia logs.

[2019-11-13 02:02] tetchel commented on #1100
the 404 errors are the same as https://github.com/eclipse/codewind/issues/1073, but for non-appsody projects too

the `ETXTBSY` is a bug in my extension

[2019-11-13 02:02] tetchel commented on #1073
#1100 now happening with regular codewind projects too so we may want to increase priority if @elsony agrees

[2019-11-13 03:00] tetchel commented on #1035
nevermind, it has to be resolved on my end https://github.com/eclipse-theia/theia/issues/6506#issuecomment-553211707

[2019-11-13 05:34] jgwest commented on #844
/assign

[2019-11-13 05:35] jgwest commented on #844
/unassign @maysunfaisal

[2019-11-13 05:40] jgwest commented on #844
🤔 💭

[2019-11-13 05:49] jgwest commented on #844
🤔

[2019-11-13 05:51] jgwest commented on #844
/assign

[2019-11-13 05:52] jgwest commented on #844
/assign
/unassign @maysunfaisal

[2019-11-13 05:53] jgwest commented on #844
/assign invalid

[2019-11-13 06:20] jgwest commented on #844
/assign invalid

[2019-11-13 06:22] jgwest commented on #844
@jgwest: Unable to find assignee: invalid

[2019-11-13 06:29] jgwest commented on #844
/assign invalid

[2019-11-13 06:30] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: invalid

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-11-13 06:31] jgwest commented on #844
/kind invalid

[2019-11-13 06:37] jgwest commented on #844
/kind invalid2

[2019-11-13 06:38] jgwest commented on #844
@jgwest: Could not find label: kind/invalid2

[2019-11-13 07:06] jgwest commented on #844
/assign honk

[2019-11-13 07:06] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: honk

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-11-13 07:07] jgwest commented on #844
/assign asda8s0d8as90d809a8sd09as8d09a8sd908a0s9d8a09s8d09a8sd098ad908asd

[2019-11-13 07:08] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: asda8s0d8as90d809a8sd09as8d09a8sd908a0s9d8a09s8d09a8sd098ad908asd

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844):

</details>

[2019-11-13 07:10] jgwest commented on #844
/assign as9d8as0d8as908d90as8d09a8s90d8as90d8as09d80a9s8

[2019-11-13 07:11] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: as9d8as0d8as908d90as8d09a8s90d8as90d8as09d80a9s8

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.<details>

In response to [this](https://api.github.com/repos/eclipse/codewind/issues/comments/553270470):

</details>

[2019-11-13 07:15] jgwest commented on #844
/assign asd87as98d7a89s7d89as7d98as7d987as98d7as89d789a7d9

[2019-11-13 07:16] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: asd87as98d7a89s7d89as7d98as7d987as98d7as89d789a7d9

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-553271813):

</details>

[2019-11-13 07:22] jgwest commented on #844
/assign asd8as09d809as8d90a8d098as09d8as908d0as8d90sa

[2019-11-13 07:22] jgwest commented on #844
/assign

[2019-11-13 07:23] jgwest commented on #844
@jgwest: GitHub didn't allow me to assign the following users: asd8as09d809as8d90a8d098as09d8as908d0as8d90sa

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-553273531):

</details>

[2019-11-13 07:44] jgwest commented on #844
/unassign

[2019-11-13 07:49] jgwest commented on #844
/assign me

[2019-11-13 08:07] jgwest commented on #844
/unassign @jgwest  @maysunfaisal

[2019-11-13 08:08] jgwest commented on #844
/assign @jgwest @maysunfaisal

[2019-11-13 09:25] markcor11 commented on #489
Add auth to Bind and Sync :  PR https://github.com/eclipse/codewind-installer/pull/208

[2019-11-13 09:41] tobespc commented on #1096
Closing as a dupe of #578

[2019-11-13 09:41] #1096 closed

[2019-11-13 09:44] tobespc commented on #808
moving to verify as unable to recreate here

[2019-11-13 09:49] #835 closed

[2019-11-13 09:59] NikCanvin commented on #954
I think this is a bug, becuase the performance feature promises to help the user detect performance changes between code changes -- however the data is broken due to codewind architectural behaviour/deisgn -- so the feature does not do what the user expects..
.. I realise though that it's a big change, so we consider it more 'feature-like' to address

[2019-11-13 10:19] markcor11 opened #1104 "Persist username in connections.json (CLI)"
**Codewind version:** latest

When creating a connection, the only information requested is a name (label) and the gatekeeper URL.  Followup commands such as bind / sync etc then require passing the username each time.   Since the CLI is already saving the password in the keychain, it would reduce the number flags on each command by persisting the username per connection too. The CLI will then be

[2019-11-13 10:50] micgibso commented on #860
Our VS Code Getting Started topic states this, https://www.eclipse.org/codewind/mdt-vsc-getting-started.html
![image](https://user-images.githubusercontent.com/7224752/68756518-30675100-0602-11ea-8ee4-7476b66fb4ab.png)

Depends on your entry point on whether that's enough I guess.
@a-roberts where did access the Codewind install link/instructions, was it here: https://www.eclipse.org/codewind/mdt-

[2019-11-13 11:37] stalleyj commented on #1039
Further understanding of the issue:- When the daemon is first notified of a new project, it calls sync with a timestamp of 0 to update all files as it has no idea if the project has just been created or has been modified. This is because it must cope with a user reconnecting their IDE to PFE and this is the expected behaviour.

[2019-11-13 11:59] james-wallis opened #1105 "Project-types API sometimes fails to include AppsodyExtension"
**Codewind version:** Master
**OS:** MacOS

**Description:**
Project types API test is intermittently failing for unknown reasons and when it does it makes all the PR builds to fail.
I made attempts to find the issue but did not get anywhere.

**Steps to reproduce:**
Sorry, no idea. Couldn't reproduce locally.
Failing Jenkins log: https://ci.eclipse.org/codewind/job/Codewind/job/codewind/job/PR-10

[2019-11-13 13:27] MelHopper opened #1106 "Product Overview content on Docs Landing Page"
**Description of the enhancement:**
Content required for the Documentation Landing Page to enhance the Discovery Phase experience of the user. Further detail than the main codewind.dev landing page is required so that Codewind's main value propositions are put into context of a user's workflow.

**Proposed solution:**
Create product overview and FAQ content for a new user learning about the produc

[2019-11-13 13:28] jagraj commented on #1079
@tobespc
We can move this to hot, Java is popular stack and Kabanero teams use this stack widely and it will be nice if we can make this to work or disable options and display the message as commented here. (https://github.com/eclipse/codewind/issues/1079#issuecomment-552599256).

[2019-11-13 13:33] jagraj commented on #1073
Looks like this seems to be regression, can we make this issue as "stopship" or hot for 0.6.0 release.?

[2019-11-13 13:45] a-roberts commented on #860
Hey Michael, in VScode itself which I'm guessing refers to https://marketplace.visualstudio.com/items?itemName=IBM.codewind

[2019-11-13 14:08] jcockbain96 commented on #1095
Mine's succeeding with the latest CLI, and the default local conid.
[code]
I believe the error is happening in call to `/bind/start` on PFE, as that's the only place the error message is used. (https://github.com/eclipse/codewind-installer/blob/master/pkg/utils/project/bind.go#L106).

@markcor11 has a PR up for review (https://github.com/eclipse/codewind-installer/pull/208) which updates the way w

[2019-11-13 14:10] james-wallis commented on #941
@tobespc I'll pick this up.

[2019-11-13 14:16] james-wallis commented on #947
@eharris369 could you please retest with latest and close this issue if its resolved.

[2019-11-13 14:18] sishida commented on #1087
PR is merged. Closing this issue.

[2019-11-13 14:18] #1087 closed

[2019-11-13 14:21] jopit commented on #1095
To be clear, this is failing in the true hybrid scenario, not a local scenario.

[2019-11-13 14:35] jopit commented on #1079
Based on a conversation with @tobespc, the IDEs need to disable the menu items for the performance dashboard as well when the flag to disable app metrics is set.

[2019-11-13 14:42] jgwest commented on #844
/unassign @maysunfaisal

[2019-11-13 14:49] sghung commented on #948
The target completion time is Dec 4 (codewind 0.7.0 DCUT) and is dependant on Maysun's work.

[2019-11-13 14:51] tetchel commented on #1079
We already do that

[2019-11-13 14:53] eharris369 commented on #1079
I checked the Eclipse code as well and it is only showing the perf monitor action if metrics are available.

[2019-11-13 14:55] elsony commented on #1039
@maysunfaisal will take a look at this on the Turbine side.

[2019-11-13 14:56] maysunfaisal commented on #1098
I would exec into the app container and go to the project dir; maybe it is `/root/app`? and check the maven logs there..

[2019-11-13 15:00] maysunfaisal commented on #948
I would also to emphasize that since Appsody is the only project type that would require docker registries; this may be a problem when we de-containerize PFE on local. At that point, we will not be allowed to mess with the user's machine local docker config. But we're able to do this now because we are in a container.

[2019-11-13 15:00] tetchel commented on #1079
background: https://github.com/eclipse/codewind/issues/258

My understanding is that portal always reports Appsody projects support appmetrics, because they can't inspect the package/pom/etc to determine if it actually does. So the IDEs ping the app monitor endpoint to see if it responds, and if it does, it opens it. If it doesn't, you see the message in https://github.com/eclipse/codewind/issues/

[2019-11-13 15:02] malincoln commented on #1083
@GeekArthur pls verify and close if resolved.  Thanks

[2019-11-13 15:03] malincoln commented on #808
@elsony to have FW help investigate.  Should maybe move back to In progress?

[2019-11-13 15:04] malincoln commented on #961
@eharris369 pls verify and close if resolved.  Thanks

[2019-11-13 15:05] tetchel commented on #1105
This is the expected behaviour if there are no template sources/repositories enabled which have Appsody style projects in them.

I think it is bad behaviour, though.

[2019-11-13 15:09] ssh24 commented on #1098
I just tried it out with the latest 0.6.0 and it worked for me. Both the app started and I can see the logs. Anything particular in the PFE logs you noticed?

[2019-11-13 15:28] tetchel commented on #1035
should be fixed now @jagraj

[2019-11-13 15:30] makandre commented on #1068
So users enabling this may run into problem and not realize it's outdate.  For `0.6.0`, should we remove this from the pre-configured repos until we can do it properly?

@tobespc @deboer-tim

[2019-11-13 15:31] j-c-berger commented on #1045
@johnmcollier wanted to follow up on the progress of the steps. Let me know if you need/want my help with anything now during the drafting of them. Thanks.

[2019-11-13 15:32] johnmcollier commented on #1045
@j-c-berger Working on it today, I'll send you a draft when it's ready.

[2019-11-13 15:35] tetchel commented on #1079
Nothing is wrong from the IDE side

- metrics/status reports metrics are installed, which is true
- <app url>/javametrics-dash can be opened, and so can the performance dashboard
but indeed, when I run load tests in the perf dashboard, I don't see any results

[2019-11-13 15:36] #1035 closed

[2019-11-13 15:36] makandre commented on #1105
The recent failure may have something to do with us updating the version after branching off for `0.6.0`

But now the code will dynamically set the version based on the git branch, and hopefully that will mean less disruption going forward.

https://github.com/eclipse/codewind/pull/1090

[2019-11-13 15:37] jopit commented on #1079
Based on @tetchel  investigation, I'm transferring this bug back to portal

[2019-11-13 15:41] tobespc commented on #1079
@jopit thanks for the update, will work on it again from portal perspective

[2019-11-13 15:50] jagraj commented on #1098
I was creating bunch of projects one by one for each templates we support and I have seen similar issue with lagom project as well. I did manual build again after all builds completed and lagom project built successfully. Looks like there are timing issues when multiple builds submitted. Here is another issue we opened (https://github.com/eclipse/codewind/issues/1099) and we are not sure if this i

[2019-11-13 16:23] tobespc commented on #1039
I've just installed the very latest of everything on my openshift machine and seeing no errors at all in building and syncing.   My previous install was seeing issues.  Can you make sure the latest of everything is installed (delete your workspace first)

[2019-11-13 16:26] yangcao77 commented on #808
Can we move this issue back to in progress?
I can always reproduce it with the latest devfile. But **ONLY after a project has been first time created**.
@maysunfaisal has the same  PFE and sidecar image. He did not see this issue.

Step to reproduce:
1. create a project
2. wait for it up and running
3. modify the `.cw-settings` file
(see a build being triggerred at this point)

At the same timesta

[2019-11-13 16:33] ssh24 opened #1108 "Liberty project failing to build on 0.7.0"
**Description:**
Seeing liberty projects failing to build because of missing `mvn` command on local master.

[code]

**Steps to reproduce:**
1. Create a liberty project on master

[2019-11-13 16:33] ssh24 commented on #1108
/area iterative-dev

[2019-11-13 16:34] yangcao77 commented on #808
This is the `cwctl` version maysun and I were using
[code]
It does look like a  cwctl issue, and looks like cwctl behaves differently on different environments.
I can provide my cluster to help debug.

[2019-11-13 16:37] sishida commented on #421
@keithchong Would it be OK if we put more details about this problem and solution into the opening comment of this issue instead of adding an update to the docs? The users can view the issue here, and then we can close it after the developers enable OpenAPI tools to support Kubernetes.

[2019-11-13 16:39] james-wallis commented on #941
@tetchel Do we also want the connection ID parameter for the extension and ignorePaths API calls? I think so as they're talking to PFE.

[2019-11-13 16:41] tetchel commented on #941
Yes if they are talking to PFE, I don't know those commands though, they are not used (directly) by the IDEs

[2019-11-13 16:43] james-wallis commented on #941
Perfect, I'll implement those too.

[2019-11-13 17:00] GeekArthur commented on #808
I reinstall Che 7.3.1 (we have to update Che version since Theia editor has been updated to 7.3.1) and use devfile 0.6.0, no rebuild issue and work as expected.

[2019-11-13 17:09] rajivnathan commented on #943
@makandre Can you please verify?

[2019-11-13 17:09] keithchong commented on #421
@sishida, this sounds like you're using the approach to other "temporary" limitations/restrictions, correct?  If so, then yes, we can add more details here.

[2019-11-13 17:09] elsony commented on #808
Moving back to in progress since @yangcao77 can still reproduce the problem. I have downgraded this to hot since it looks like this problem is specific to certain machines.

[2019-11-13 17:26] maysunfaisal commented on #1039
Still see it, with everything reinstalled on a clean new shiny Che 7.3.1 and with 0.6.0 devfile

[2019-11-13 17:45] jopit commented on #1082
Does PR https://github.com/eclipse/codewind-installer/pull/205 resolve this issue, or is there more work to do?

[2019-11-13 17:48] jopit commented on #941
I think the extension and ignorePaths API calls are used by Appsody and Turbine respectively -- @makandre and @elsony should at least be aware of this change.

[2019-11-13 17:56] sishida commented on #421
@keithchong You are correct! 😄

I'm thinking of editing Steven's original Sept. 11th comment to something like this:

In Codewind 0.4.0 and earlier, OpenAPI tools does not support Kubernetes.
In the future, Codewind should include IKS with Che support.

What do you think?

[2019-11-13 18:17] johnmcollier commented on #1108
Any idea how we can reproduce this? We've seen this very sporadically over the past year and a half, but never a consistent way to reproduce.

By all intents and purposes https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/dockerfiles/Dockerfile-jdk-maven#L47 should fail the Docker build if the Maven download failed or didn't complete. Which makes me think a corrupted tarfile was

[2019-11-13 18:18] makandre commented on #941
I'm not sure what are the `extension` and `ignorePaths` commands either

[2019-11-13 18:36] ssh24 commented on #1108
I am able to reproduce this on master consistently

[2019-11-13 18:44] GeekArthur commented on #1083
Verified, close this issue

[2019-11-13 18:44] #1083 closed

[2019-11-13 18:44] johnmcollier opened #1109 "Hold weekly community playback and techtopic calls"
As we continue to grow and evolve Eclipse Codewind, we need to be holding regular playback and techtopic calls in the open that the community can also participate in. In my opinion, our existing internal playback and tech-topic calls would be a good fit to hold in the open, as the vast majority of the content on these calls is related Codewind.

ToDo:
- [ ] Set up public call(s) to hold for Codewi

[2019-11-13 18:49] tetchel commented on #941
I think ignorePaths is filewatcher @jgwest

[2019-11-13 19:08] rajivnathan commented on #1108
It's likely the image itself has the corrupt tarfile. Can you try removing any images associated with microprofile projects and try again?

[2019-11-13 19:25] johnmcollier opened #1110 "Hold Codewind planning in the open"
As Codewind continues to grow and evolve as an open source project, we should be holding its backlog & feature planning in the open. We currently use `dev-ex-planning` in the IBM GHE for Codewind planning, and I think we should be able to migrate _most_ of it to an open repo. This planning repo / zenhub board should be linked to / reachable from the Codewind repo, so that users can easily find it.

[2019-11-13 19:28] maysunfaisal commented on #1039
### ⚠️ This also happens on local as @jagraj  pointed out. I have 0.6 PFE image and created a Go project and I confirmed it as well 😭

I have noticed what Julie mentioned ie FW sends a cwctl sync with a timestamp 0 on project create; PFE essentially takes this and calls Turbine for full update.

So to summarize:

### 1. Create project through UI
### 2. Bind happens and Portal calls Turbine to buil

[2019-11-13 19:30] maysunfaisal commented on #1039
So I think the solution maybe not to call Turbine build when timestamp is `0` and during create?

[2019-11-13 19:44] GeekArthur commented on #1039
I can see the double build issue when creating OpenShift projects as well, should be the same cause.

[2019-11-13 19:56] ssh24 commented on #1108
It doesn't look like I have any corrupt images (this is after deleting the project)
[code]
Not sure if the following images could be the reason, they are two months old:
[code]

[2019-11-13 20:08] johnmcollier commented on #512
Any updates on this?

[2019-11-13 20:11] tetchel commented on #961
not fixed, the new output is not valid JSON:
[code]

You can only have one top-level object.
Really, the error and error_description are not useful at all for this, since we already know that `one or more projects failed to upgrade` from the `failed` array. Ideally they could just be removed.

I also know I requested we exit with an error code (1) if a project fails to migrate, but I realized it d

[2019-11-13 20:13] GeekArthur opened #1111 "[odo] Create a new file for ODO extension related information for landing page"
We should create a new file for ODO extension related information for landing page, the section name on the landing page sidebar should be `OpenShift Do (odo) support in Codewind`, the contents should include:
- [x] OpenShift Do (odo) support in Codewind overview
- [x] Adding additional rules to support building OpenShift projects
- [x] Bind case
- [x] odo java component/builder setup (image strea

[2019-11-13 20:13] GeekArthur commented on #1111
Please assign this issue to me.

[2019-11-13 20:17] GeekArthur commented on #1111
/assign me

[2019-11-13 20:23] yangcao77 commented on #808
I'm always able to reproduce this issue on both 7.2.0 and 7.3.1 with the latest devfile.
I can share my cluster if you need an environment to reproduce and debug on this issue.

[2019-11-13 20:45] rtaniwa commented on #1110
I am on board. I do want the ability to manage issues though, so prefer somewhere where I don't require being a committer. Suggested name and location are both fine for me.

Do we need any clean-up before the move so we aren't moving stuff out there that is unneeded?
Do we expect the community to open up issues directly for planning consideration, or will those flow naturally through a git issue i

[2019-11-13 20:49] rtaniwa commented on #1109
+1 to keeping separate calls, and keeping them where they are currently scheduled. Given most of our calls are WebEx, I would prefer to stay consistent unless there is a compelling reason to switch. Re: hosting notes and storing recordings, if we can't find a way to make it work with Box can we follow the lead of the Che team and use the GitHub wiki, or something similar?

[2019-11-13 20:56] keithchong opened #1112 "A newly created class in a new package does not exist in the app container"
**Codewind version:** 0.6.0
**OS:** Mac
**IDE extension version:** 0.6.0
**IDE version:** VSCode or Eclipse 2019.09
**Kubernetes cluster:** Tested locally
**Description:** If you start with a newly created Spring Boot project, create a new Class file in a new package, the maven build is successful.  However, the class is NOT in the application container.  It however is in PFE.

**Steps to reproduc

[2019-11-13 21:02] rajivnathan commented on #1112
Assigning to portal as this appears to be an issue with syncing

[2019-11-13 21:04] maysunfaisal commented on #1112
### When I change an existing class:
[code]

### However if i have a new class in a new package:
[code]

The change is not present in the app container because of the wrong docker cp cmd. Need to make sure docker cp is acc to documentation here https://docs.docker.com/engine/reference/commandline/cp/#parent-command. It lists the various combinations of SRC and DEST file and dir.

[2019-11-13 21:17] rajivnathan commented on #1099
I've seen this as well

[2019-11-13 21:25] johnmcollier commented on #731
I think the fix for this is just changing:
https://github.com/eclipse/codewind-installer/blob/207305c7a542b27e20d7f69917a7671418a1c1b9/pkg/utils/docker.go#L170

[code]

to:
[code]

[2019-11-13 21:26] rajivnathan commented on #1034
Verified fixed. Thanks!

[2019-11-13 21:26] #1034 closed

[2019-11-13 21:34] malincoln commented on #961
@jopit can we get this moved back to In Progress so @stalleyj and @ebuckle  can fix?

[2019-11-13 21:36] keithchong commented on #1112
@maysunfaisal , reproducible using a Java MicroProfile project

[2019-11-13 21:37] rajivnathan opened #1114 "[Che] Logging isn't working correctly"
**Codewind version:** 0.6.0
**OS:** Mac OSX

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** Theia 7.3.1
**Kubernetes cluster:** OKD 3.11

**Description:**

Saw this with a Microprofile project. In the Theia logs view I see the app logs ending with:
[code]

But the app is actually running and accessible which leads to confusion.

I checked in the container and the logs loo

[2019-11-13 21:38] makandre commented on #943
I verified it on master, thanks.

[2019-11-13 21:38] #943 closed

[2019-11-13 21:41] ssh24 commented on #1114
Which log file is it?

[2019-11-13 21:47] rajivnathan commented on #1114
`app.log` I don't think `console.log` and `messages.log` were there initially but I chose the Hide all logs option and then Show all logs and then I saw the console.log and messages.log content is correct.

[2019-11-13 21:49] malincoln commented on #1110
No objections here.  Codewind-planning sounds good to me.  I like the idea of the codewind-resources for easier interaction for non-committers too.  Looks like you've covered all areas as I can't think of anything else.  Thanks!

[2019-11-13 21:51] elsony opened #1115 "[odo] Investigate and add odo templates"
We have removed a couple of odo templates since they were not working correctly.  This item is to investigate to see if there are any that are working again (especially Java ones) and add those back to the list of templates

[2019-11-13 21:55] rajivnathan commented on #1114
Looks like it's dependent on when you select Show All Logs. If I wait until the end I can see messages.log appear and then the content looks correct as well. Thinking we may need the IDE to request the latest list of logs and repopulate its logs view? @tetchel

Removing the hot label since it appears logging is working correctly but because the IDE does not automatically show new log files in the

[2019-11-13 21:57] ssh24 commented on #1114
Yes, show logs don't automatically pick up new log files as they are created. You have to hide and show again unfortunately

[2019-11-13 21:58] ssh24 commented on #1062
@maysunfaisal Could you please verify and close this?

[2019-11-13 22:03] keithchong opened #1116 "OpenAPI: Port VS Code fixes to the Eclipse plugin"
Port fixes related to the Spring Server post-code generation usability improvements

Specifically, this change includes fixes to ensure the project compiles successfully after code generation:
- The OpenAPI Wizard generator will not override the implicitly or explicitly defined main class in the Spring project
- The compilation errors related to unimplemented methods in the OpenAPI2SpringBoot clas

[2019-11-13 22:03] rajivnathan commented on #1098
I could not reproduce this. But I did reproduce #1099. I don't think they're related. #1099 appears to be related to the status reporting but this appears to be an actual failure with the build.

Looking at the pfe logs I see
[code]

Exit code 137 for docker means out of memory so I don't think this is an issue with the build but rather a cluster resource issue.

[2019-11-13 22:04] elsony commented on #342
The error looks like to be coming from the application itself instead of a problem on Turbine build.  Transferring to portal since portal owns the templates.

[2019-11-13 22:22] GeekArthur opened #1117 "OpenShift perl project fails to build"
**Codewind version:** 0.6.0
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** 7.3.1
**Kubernetes cluster:** OKD

**Description:**
OpenShift perl project fails to build with the following errors in log file
[code]

The failing command is
[code]
It's the sub-command of `odo push`

We try the odo CLI v1.0.1 locally it works fine so it's not an issue from odo CLI/

[2019-11-13 22:23] jgwest commented on #1111
/area iterative-dev

[2019-11-13 22:26] sishida commented on #165
@micgibso, I checked our list of files (https://github.com/eclipse/codewind-docs/tree/master/docs/_documentations) as well as our table of contents file (https://github.com/eclipse/codewind-docs/blob/master/docs/_data/docstoc.yml), and it appears that installlocally.md is no longer in use.

Is this file still in use but renamed, or can we go ahead and close this issue because the problematic link

[2019-11-14 02:39] tetchel commented on #1114
ok, we can make an enhancement for 'show all logs' to automatically show new logs, but is that  separate from the original issue of an outdated app.log ?

[2019-11-14 09:08] jcockbain96 commented on #1112
Picking this up @tobespc

[2019-11-14 09:29] ebuckle commented on #961
Yep, I see what was causing the issue. I was printing off the response object and then checking for errors to also print off.

- Now no longer returning an error when projects fail to upgrade
- Moved the printing of the response object to be after error checking, meaning the response prints one or the other, see PR

[2019-11-14 10:12] tobespc commented on #1079
I'm seeing performance metrics for
Appsody Node.js Express simple
Appsody Node.js skaffold

Appsody Spring - menus are disabled as metrics not supported
Appsody Kotlin - menus are disabled as metrics not supported

[2019-11-14 10:14] tobespc opened #1119 "Unable to create Appsody loopback project"
Trying to create an Appsody loopback project on the latest master branch of vscode gives me the following error

Running development environment...
[Error] The current directory is not a valid appsody project. Run `appsody init <stack>` to create one. Run `appsody list` to see the available stacks.

[2019-11-14 10:18] liamchampton commented on #961
@ebuckle https://github.com/eclipse/codewind-installer/pull/213 this PR provides a false positive. We want to exit(1) upon failure. The CLI and PFE should be treated as single entity and any failure in API calls should be represented in the CLI output.

[2019-11-14 10:34] tobespc opened #1121 "Unable to create Appsody Liberty project"
I get the following error trying to create an Appsody Liberty project in vscode using the latest master branches

Pulling docker image kabanero/java-microprofile:0.2
Running command: docker pull kabanero/java-microprofile:0.2
0.2: Pulling from kabanero/java-microprofile
Digest: sha256:cb6928768d89d77e9dcf85fb798c7830700ddded3d18ec9a5d0932573d903d13
Status: Image is up to date for kabanero/java-mic

[2019-11-14 10:47] tobespc commented on #1112
The issue is scoped to a new directory being created rather than just a new file.  If the new file is in an existing directory, then all is good.  If a new folder is also added, that is what causes the problem

[2019-11-14 10:54] tobespc commented on #1079
I currently can't get appsody liberty to build - have raised issue #1121

[2019-11-14 12:02] stalleyj commented on #1039
We've discussed how to fix this issue so that a double build does not occur on project creation but a sync will occur when reconnecting and IDE to codewind and think we have a solution:-

If we initialise the FW daemon with a timestamp when projects are added, it can use that as it's "last sync time". It would still call sync but instead of timestamp 0, it will be the timestamp that the project wa

[2019-11-14 13:22] lentheivendra commented on #1115
/assign me

[2019-11-14 13:33] jcockbain96 commented on #1112
I see this for all project types, whenever do the `docker cp` with a file beneath new directories.

We are invoking the copy here (https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L249), which errors when the parents dirs don't exist at the `dest_path`.

Looking through the documentation sent by @maysunfaisal, it seems `docker cp` won't make parent

[2019-11-14 13:59] makandre commented on #1121
@tobespc Are you using the pre-configured kabanero repo?  That's outdated, see https://github.com/eclipse/codewind/issues/1068 (and there's a question in there for you)

[2019-11-14 14:06] makandre commented on #1119
Are you using the loopback stack from the Appsody repo or the Kabanero repo?

In the project, is there a `.appsody-config.yaml` file?  What's inside?

[2019-11-14 14:17] malincoln commented on #727
@AndyRWatson pls verify and have committer close if resolved.  Thanks

[2019-11-14 14:21] johnmcollier commented on #1045
# Updating Codewind on Eclipse Che

1. Determine which Che version you are running
    - Navigate to the Che dashboard and the version of Che will be visible at the bottom
       <img width="1358" alt="Screen Shot 2019-11-14 at 9 13 11 AM" src="https://user-images.githubusercontent.com/6880023/68864705-91089380-06bf-11ea-9068-de12c5f42b36.png">

2. Download the newest devfile from Github.
    - Th

[2019-11-14 14:24] malincoln commented on #159
@elsony is this still ongoing?  I see the release set to 0.6.0.  If it is not resolved and still ongoing, pls update release.  Thanks

[2019-11-14 14:27] tetchel commented on #961
liam, it sounds like it's in line with what I requested above at the bottom of https://github.com/eclipse/codewind/issues/961#issuecomment-553581217

[2019-11-14 14:31] tobespc commented on #1119
changing to use 'https://github.com/kabanero-io/collections/releases/download/0.3.0-rc.3/kabanero-index.json fixes loopback

[2019-11-14 14:33] keithchong commented on #421
@sishida:
In Codewind 0.6.0 and earlier, OpenAPI tools does not support Kubernetes.
In the future, Codewind OpenAPI Tools will also include IKS with Che support.

From the user's point of view, the OpenAPI Generator commands do not show up in the Che Theia Editor command palette.

[2019-11-14 14:41] #998 closed

[2019-11-14 14:43] makandre commented on #1119
So this can be closed?

[2019-11-14 14:47] AndyRWatson commented on #727
LGTM

[2019-11-14 14:47] #727 closed

[2019-11-14 14:51] #1119 closed

[2019-11-14 14:54] tobespc commented on #1079
appsody incubator liberty is showing the problem

[2019-11-14 14:59] stalleyj commented on #1039
PR https://github.com/eclipse/codewind/pull/1122  that adds a timestamp to the message sent to the daemon when a new project is added. This is very crude for now as it just uses Date.now(). We will need to make a change to cwctl to include a timestamp on bind/end that would then be sent on to the daemon.

[2019-11-14 15:03] johnmcollier commented on #731
Reopening as this still needs to be backported to 0.6.0

[2019-11-14 15:06] maysunfaisal commented on #1039
I am sorry but if FW is calling cwctl again but with a new timestamp, wont it be the same issue? I guess what is the actual new behaviour here of FW and cwctl?

[2019-11-14 15:11] jgwest commented on #1039
I will leave it to y'all to decide if the solution that @stalleyj described is the best for the situation, but here is what would be required to implement this solution.

#### Potential issues with described solution:
- Clock skew (if PFE running on a different physical machine, the clock could be off by many minutes)
- Differing timezones (Docker containers run in UTC, so filewatcher would have t

[2019-11-14 15:17] tobespc commented on #1039
so yes, we had discussed the time skew issue between myself and Julie and have a solution for that (pretty much as described above).  So if we take care of setting the correct time value, are you good @jgwest with handling that timestamp ?

Is this something you want for 0.6.0 though ?  I would not like to rush this for 0.6.0 .  yes we do a double build on creation but is that enough to call it st

[2019-11-14 15:21] johnmcollier commented on #1039
IMO this is absolutely a stopship. The double bind causes the first time build to run twice, making the overall project creation / import process much slower than it should be. It's also confusing to the user to have their application go from `Starting` right back to `Building` again, without having them do anything.

[2019-11-14 15:24] rajivnathan opened #1123 "[Che] Microprofile app.log file contains confusing server logs"
**Codewind version:** 0.6.0
**OS:** Mac OSX

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** 0.6.0
**Kubernetes cluster:** OKD 3.11

**Description:**
The app.log file contains some server logs that appear to be outdated. This can be confused with the actual server logs. The actual server logs show that the server is running and I am able to access the app endpoint. Should

[2019-11-14 15:27] rajivnathan commented on #1114
Good point. The app.log file is the container logs itself so it's different from the console.log and messages.log but that output is confusing so I opened a separate issue for that: https://github.com/eclipse/codewind/issues/1123

[2019-11-14 15:29] tetchel opened #1124 "Show All Logs command doesn't show new logs as they are created"
From https://github.com/eclipse/codewind/issues/1114

[2019-11-14 15:29] tetchel commented on #1114
okay, this issue has been split into #1123 and https://github.com/eclipse/codewind/issues/1124, so I think we can close if that's OK rajiv.

[2019-11-14 15:30] rajivnathan commented on #1114
Sure, done

[2019-11-14 15:30] #1114 closed

[2019-11-14 15:47] tetchel commented on #961
I am satisfied, thanks @ebuckle :+1:

[2019-11-14 15:47] #961 closed

[2019-11-14 16:16] tetchel opened #1126 "Document "Codewind" output stream for troubleshooting"
In 0.6 we now have the "Codewind" output stream in VS Code which logs cwctl commands and their output. This should help users debug unusual problems, especially when starting codewind (https://github.com/eclipse/codewind/issues/411).

We should point users to opening this Output stream as a place to look when troubleshooting. Some errors will also give the user a button to open this Output stream.

[2019-11-14 16:16] tetchel commented on #1126
![image](https://user-images.githubusercontent.com/8888438/68875079-39265880-06d0-11ea-8a83-0d83cfe749bd.png)

![image](https://user-images.githubusercontent.com/8888438/68875086-3b88b280-06d0-11ea-802e-5b2e126de2ad.png)

[2019-11-14 16:31] jgwest commented on #1039
To just make sure we are on the same page, this the performance of that API:

On the `WebSocket: (PFE URL)/websockets/file-changes/v1` API, an event on the web socket will be sent to PFE ONLY iff:
- `changeType` add: A new project is created while filewatcher is connected to PFE
- `changeType` update: The filters `ignoredPaths` or `ignoredFilenames` change, while filewatcher is connected to PFE (t

[2019-11-14 16:39] keithchong commented on #76
Cleanup.  Closing this - it was delivered in 0.5.0.

[2019-11-14 16:39] #76 closed

[2019-11-14 16:41] keithchong commented on #73
Added some initial tests for post-codegen pom.xml merging here:

https://github.com/eclipse/codewind-openapi-vscode/blob/master/dev/src/test/extension.test.ts

[2019-11-14 16:46] keithchong opened #1127 "OpenAPI: Update to 4.2.2 to pick up node-express-server generator"
We need to update to 4.2.2 to pick up the node-express-server generator because the original one is deprecated. It also doesn't support OAS3.

[2019-11-14 16:46] james-wallis commented on #941
PR https://github.com/eclipse/codewind-installer/pull/217 adds the connection ID for all above apart from `project create` as it doesn't call the PFE API.

[2019-11-14 16:48] beccabau commented on #272
Yes, this is something we are discussing! Please assign to me.

[2019-11-14 16:49] keithchong commented on #1127
This is for both the Eclipse plugins and the VS Code extension

[2019-11-14 16:57] tetchel commented on #941
I don't have the logs available now, but I think `project create` does use PFE to call `api/v1/extensions`

[2019-11-14 17:01] micgibso commented on #1126
@tetchel Please assign me and I'll take a look

[2019-11-14 17:02] beccabau commented on #1037
That would be more engaging. We'll look to incorporate them in the future!

[2019-11-14 17:02] beccabau commented on #722
I like having links to issues for users who want to know more context of the things we're releasing, etc, but this is something we can further discuss.

[2019-11-14 17:26] j-c-berger commented on #1045
@johnmcollier, thank you. I have a couple of meetings coming up, but will start to work on this issue later this afternoon into tomorrow morning. I'll make sure it's done by tomorrow afternoon to meet our deadline.

[2019-11-14 17:44] sishida commented on #276
@jagraj, I think that you are correct in sending users here (https://github.com/eclipse/codewind-vscode#developing) for building Codewind in VS Code. And I think this section (https://chrome.google.com/webstore/detail/cisco-webex-extension/jlhmfgmfgeifomenelglieieghnjghma) applies to Eclipse. @tetchel and @eharris369, please correct me if I'm mistaken.

Also, Jag, do we still need to add `set CW_T

[2019-11-14 18:16] sghung opened #1128 "Create a feature in a minute video for Appsody + Che"
Create a feature in a minute video for appsody on che. Andrew can reach out to Becca to have the video created.

Adding the docs tag because the content needs ID review.

[2019-11-14 18:17] makandre commented on #941
Oh you meant the `extensions` API, then yes `project create` does call that

[2019-11-14 18:18] sghung opened #1129 "Create a feature in a minute video(s) for Open API"
Create a feature in a minute video for the Open API tools. May need two if you want to do vscode and eclipse.

Adding docs tag since content should be reviewed by ID.

[2019-11-14 18:21] rtaniwa commented on #1129
Personally I don't feel our FIUM videos need to be shown for both Eclipse and VS Code. In the videos, we can narrate that the extension is available for both, but I don't think it is necessary to have a video for each.

[2019-11-14 18:22] GeekArthur opened #1130 "[ODO] App log doesn't work for OpenShift projects"
**Codewind version:** 0.6.0
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** 7.3.1
**Kubernetes cluster:** OKD

**Description:**
The app log doesn't work for OpenShift projects, issue is due to container log tailing is failed.

[2019-11-14 18:22] GeekArthur commented on #1130
/assign me

[2019-11-14 18:22] GeekArthur commented on #1130
/area iterative-dev

[2019-11-14 18:25] sghung commented on #955
@gcharters can you answer Andrew's question about the .appsody-config.yaml? Thank you

[2019-11-14 18:26] GeekArthur opened #1131 "[odo] Create a feature in a minute video(s) for OpenShift projects/ODO extension"
Create a feature in a minute video(s) for OpenShift projects/ODO extension.

[2019-11-14 18:27] GeekArthur commented on #1131
/assign me
/area iterative-dev

[2019-11-14 18:43] jgwest commented on #1130
@GeekArthur FWIW you can put commands together in the same comment, or even put them in the body!

[2019-11-14 18:58] johnmcollier commented on #1110
@rtaniwa Yeah, probably best to do a look through of `dev-ex-planning` before moving to see if any clean up is needed. In terms of community participation I generally wouldn't expect the community to open up epics in `codewind-planning`, **but** they should be able to if they feel the need to and we can then prioritize as needed (or close/move them out if it's not relevant).

@malincoln Great! I'l

[2019-11-14 19:03] debu66er opened #1132 "Add the option to stop all running containers when existing Eclipse IDE"
**Description of the enhancement:**
I think it makes sense to add a preference setting in Eclipse IDE within codewind section, so users can decide what happens with current running dockers when existing Eclipse IDE. In my opinion, when I exit Eclipse IDE is because I stopped the development process at the moment so having containers running in the local machine doesn't make sense.

**Proposed solu

[2019-11-14 19:13] sishida commented on #1061
@makandre I have merged the PR and am closing this issue. Thanks!

[2019-11-14 19:13] #1061 closed

[2019-11-14 19:26] sishida commented on #421
@keithchong I have edited the first comment. I will leave this issue alone for now until after we get OpenAPI Tools to include IKS with Che support. Thanks! 😃

[2019-11-14 19:30] makandre opened #1133 "Project folder in PFE not world writable"
**Codewind version:** 0.6.0
**OS:**

**Che version:** 7.3.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Description:**

This would address issue https://github.com/kabanero-io/kabanero-foundation/issues/129, where the Kabanero springboot stack is failing to run in Codewind on Che.  We narrowed it down to a permissions problem:

- kabanero stacks run as non-root (

[2019-11-14 19:33] johnmcollier commented on #1133
Marking as stopship since the corresponding Kabanero issue is a stopship.

[2019-11-14 19:36] johnmcollier commented on #39
`/kind bug`

[2019-11-14 19:39] rtaniwa commented on #1110
Also during a discussion on the backlog call, @deboer-tim raised whether or not we could actually do a move of existing issues, and if so would they retain history etc. Not sure if we know of that. I will work with Tim and others to do a clean-up. Is there a timeframe for when you would like to target a move?

[2019-11-14 19:42] maysunfaisal commented on #665
Looked at how Che is storing their registry credentials. They're essentially storing a base64 encoded value of object
[code]

So maybe our POST can instead send a base64 encoded string of a similar object instead of passing in url, username and password as string parameters

Here is the info:

### 1. On Registry Dialog `Add` button, Che calls the `addRegistry` function
**Add button** - https://git

[2019-11-14 19:44] johnmcollier commented on #1110
Hmm, good point. I'm not actually aware of a utility that can easily move issues from GHE to GH, so it would have to be all manual work for the ones we want to move over (and history wouldn't be preserved). I suppose we could repurpose @jgwest's Github bot to do the move of the issues we want to keep, but he'd have to comment

I'm flexible on the timeframe, post 0.6.0 release seems like a good tim

[2019-11-14 19:48] maysunfaisal commented on #1133
We solved this for Liberty by changing the owners of the created Liberty project during project build. Like here for example, where liberty applications were running as user `1001`. This worked out because it didnt create any issues on the Theia container. https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/scripts/liberty-container.sh#L138

Perhaps the same can be done for Appsod

[2019-11-14 19:50] GeekArthur commented on #1130
@jgwest Thanks Jonathan, I was thinking about the same thing then verified `put commands together` works perfect on my next issue: https://github.com/eclipse/codewind/issues/1131

[2019-11-14 19:53] GeekArthur opened #1134 "[odo] Update reference of odo to OpenShift for OpenShift projects when display to user"
Update reference of `odo` to `OpenShift` for OpenShift projects when display to user, `odo` reference should be updated in:
- [x] Build log and app log
- [x] Add last image build message

[2019-11-14 19:54] GeekArthur commented on #1134
/assign me
/area iterative-dev

[2019-11-14 19:58] makandre commented on #1133
I think in appsody case however, we have no control over what user stacks will choose to run as, and Codewind has no straightforward way to predetermine what that user will be.  So we may have no choice but to be make it world writable

[2019-11-14 20:28] elsony commented on #1073
This one looks like to be the same error as #936 that portal owned before. The problem was due to build was not done when the logs are being request. This one looks like to be a different variant or that problem that shows up on a restart of PFE instead of first time creation. Therefore, I am transferring this to portal.

[2019-11-14 20:39] BarDweller commented on #1133
Note that the intent for the Kabanero Spring Stack isn't for it to run as `java_user`, but to run with the uid/gid of the appsody user. (as required by the `ENV APPSODY_USER_RUN_AS_LOCAL=true` flag set on the stack.) Thus when the stack writes files (say .class files created during compilation), the appsody user will still be able to access & delete them locally. (similarly for dependencies added

[2019-11-14 20:53] GeekArthur commented on #748
We can work on this issue with this one: https://github.com/eclipse/codewind/issues/1115 together since they all related with finding image stream, template with better performance.

[2019-11-14 21:15] naveenkaratekid opened #1137 "Project Types Obstructs the "Template Sources" View"
**Codewind version:**0.6.0
**OS: **OKD 3.1
**Che version:**7.3.1

**Description of the enhancement:**
When you create a project, and you click the icon where you open the "Template Sources" tab, the menu for the list of available templates under the menu title ```[Local Codewind] Create a New Project (1/2)``` to create projects with it doesn't disappear. I have to click on a template to make the m

[2019-11-14 21:49] DavidG1011 opened #1138 "[SVT][Che] Error message flickering under certain circumstances when naming new project"
**Codewind version:** 0.6.0
**Che version:** 7.3.1
**Kubernetes cluster:** OCP 4.2/OKD 3.11

**Description:** Not sure if a user would ever hit this bug, but: If you press Space and Backspace at the same time when naming a new project, you can cause the string below the project name input field to rapidly switch between "Enter a name..." and "Invalid project name".

**Steps to reproduce:**
1. Clic

[2019-11-15 03:50] tetchel commented on #1137
this is by design, you can close the dropdown with the escape key

[2019-11-15 03:51] tetchel commented on #1138
that makes sense to me, you can't put a space in project names

[2019-11-15 06:25] jgwest opened #1139 "[Filewatcherd] TS filewatcher watching deleted projects longer than needed, when project list is empty"
As seen in TS filewatcherd (need to check others), the TS filewatcher is watching deleted projects longer than needed, when project list is empty.

Update this line in filewatchers (for example `HttpGetStatusThread.ts`):
[code]

This should pass a result of length 0 to the parent.

/assign
/area iterative-dev

[2019-11-15 08:55] james-wallis commented on #941
Understood. I've added the connection ID to the `project create` command for the extensions API call.

[2019-11-15 09:48] tobespc commented on #1133
@james-wallis could you take a look please

[2019-11-15 10:34] james-wallis commented on #1104
I'll pick this up, @tobespc can you assign me.

[2019-11-15 10:37] tobespc opened #1142 "appmetrics is missing from node express template"
until we have delivered the change to auto add appmetrics to node, the template still needs to reference appmetrics.

https://github.com/codewind-resources/nodeExpressTemplate

[2019-11-15 11:06] markcor11 opened #1143 "Update CLI to use authentication wrappers for PFE api calls"
**Codewind version:** latest

**Description of the enhancement:**
For true hybrid calls the CLI makes to PFE apis need to be authenticated.  This has been done for Project bind and sync only.

**Proposed solution:**
Update CLI and activate security on other PFE remote API requests.

[2019-11-15 11:41] #1142 closed

[2019-11-15 12:22] markcor11 commented on #1079
Do any metrics show up if you change the load run settings in the performance dashboard to show only results for /health rather than the project urls ?

* Edit load run settings -> path = /health

[2019-11-15 12:45] markcor11 commented on #1079
Reproduced...   answer to my question above is yes.

[2019-11-15 13:15] makandre commented on #1133
I have a pr up for this

[2019-11-15 13:18] naveenkaratekid commented on #1137
For some reason, pressing the Escape key on my machine doesn't close the dropdown.

[2019-11-15 13:20] naveenkaratekid commented on #1137
Somehow it fixed itself...

[2019-11-15 13:20] #1137 closed

[2019-11-15 13:34] eharris369 commented on #276
Yes this should be covered in the readmes and not in the documentation as it is only for people developing Codewind.  Users should not have to set CW_TAG.  For Eclipse the link is https://github.com/eclipse/codewind-eclipse#developing-codewind-for-eclipse and it already mentions setting the CW_TAG.

[2019-11-15 14:05] james-wallis commented on #1104
As part of this issue I'm going to be changing `cwctl connection add` to take the `username` and `password` as flags (in addition to `conid` and `url`).
This is following a discussion with @markcor11 regarding the fact that `cwctl seckeyring update` must be called every time `cwctl connection add` is run.

I'll be leaving the `cwctl seckeyring update` command in the CLI but when adding a connectio

[2019-11-15 14:47] jcockbain96 opened #1144 "Containers built from Node.js template have a copy of the project at /app/{project_name}"
**Codewind version:** 0.6.0
**OS:** Mac

**IDE extension version:** vscode 0.6.0

**Description:**

When creating from the default `node.js express` template, files are being copied to both `/app` and `/app/{project_name}`.

PFE does its `docker cp` to `/app` 9https://github.com/eclipse/codewind/blob/master/src/pfe/portal/routes/projects/remoteBind.route.js#L249), so it seems to me like when turbi

[2019-11-15 14:49] eharris369 commented on #995
Fixed by: https://github.com/eclipse/codewind-eclipse/pull/406.  Please verify.

[2019-11-15 15:04] makandre opened #1145 "Pick up appsody 0.5.0"
**Codewind version:** 0.7.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Pick up the new appsody release, which includes re-architected controller

https://github.com/appsody/appsody/releases/tag/0.5.0

**Proposed solution:**

[2019-11-15 15:05] #1101 closed

[2019-11-15 15:06] tetchel commented on #276
vs code also has a bullet for this in the readme https://github.com/eclipse/codewind-vscode#developing

[2019-11-15 15:07] tobespc commented on #1112
@jcockbain96 Can you put a PR against 0.6.0 as well please

[2019-11-15 15:16] malincoln commented on #731
@tetchel looks like this one will be ready to verify soon.

[2019-11-15 15:20] tobespc commented on #1039
currently passing value of ```timestamp: Date,now()``` which we need to change to be a time of millisecondssinceepoch passed in by cwctl when it calls bind

[2019-11-15 15:21] tetchel opened #1146 "Document required docker version in install instructions"
with https://github.com/eclipse/codewind/issues/731 we now know our required docker version. it is API version 1.30 which is Docker 17.06.

In our install instructions, when we tell users to install docker, we should mention it has to be at least this verison.

[2019-11-15 15:21] maysunfaisal commented on #1062
Seeing this today

[2019-11-15 15:21] tetchel commented on #731
this is done, opened https://github.com/eclipse/codewind/issues/1146 for the docs

[2019-11-15 15:21] #731 closed

[2019-11-15 15:23] tetchel opened #1148 "Error starting codewind: No such image"
[code]

I have also hit this error intermittently in development after upgrading to a new version of Codewind, including removing the old images. Now, some users are seeing it too.
It looks like docker hangs on to the SHAs of the old images, and tries to start them, but they don't exist anymore. The only workaround I have found is a system prune.

We should see if there is anything we can do from

[2019-11-15 15:25] tobespc commented on #1133
reviewed and merged

[2019-11-15 15:27] sishida commented on #276
Thanks for the clarifications, @eharris369 and @tetchel!

@jagraj, I think that this issue is good to close? Did you have any other questions for us? If not, I will go ahead and close the issue! Please let us know. Thank you!

[2019-11-15 15:29] james-wallis commented on #1104
Leaving the commands separate to remove the risk of circular dependencies.
The `--username` field will be kept for `seckeyring` which adds the credentials to the keyring and `sectoken` which uses the username and password to get the access token and refresh token.

[2019-11-15 15:36] tobespc commented on #1148
The scenario that can cause this is where codewind is installed through the IDE, but images tagged :latest also exist on your machine.   Expected user flow is codewind is installed via the IDE and the IDE will pass the version to install through to the installer.   This, for example, could pull the 0.5.0 images.  If the install is then run without specifying a version, the latest version of the im

[2019-11-15 15:36] tetchel commented on #1148
it looks like, if docker were running normally in a tty, we could tell it to proceed with the new image:
[code]
I wonder if there is a way to set that option in the docker client we are using

[2019-11-15 15:37] tetchel commented on #1148
I should also add the user mentioned he ran the codewind "remove images" command at least once before reinstalling

[2019-11-15 15:38] DavidG1011 commented on #1138
The main issue is that the string will continue to switch even when you stopped pushing any keys. Seems as if it just continues entering keystrokes on its own.

[2019-11-15 15:40] tetchel commented on #1138
does it do that forever, or does it do it as many times as it takes to process all the keystrokes you sent it when holding the keys down?

[2019-11-15 15:41] malincoln commented on #1112
@keithchong pls verify and get Steven to close if satisfied.  Thanks

[2019-11-15 15:42] #947 closed

[2019-11-15 15:44] DavidG1011 commented on #1138
Seems to just do it forever until you exit out of the menu.

[2019-11-15 15:44] liamchampton commented on #1148
Are those complete images? - That error should print out the whole image name

[2019-11-15 15:44] makandre opened #1149 "Way to copy portal source into PFE for debugging (for devs)"
**Codewind version:** 0.7.0
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

Recently, the `start.sh` script used by developers was changed to use `cwctl` to start up codewind https://github.com/eclipse/codewind/pull/1085

However, now it seems that it's no longer possible to add the portal source folder as a mount

[2019-11-15 15:46] tetchel commented on #1148
It looks like `docker-compose stop && docker-compose rm` may be a solution for this.

https://github.com/docker/compose/issues/1113#issuecomment-238855281
https://stackoverflow.com/a/37457127

[2019-11-15 15:48] tetchel commented on #1138
I'm still not convinced this is a valid bug, you can always "do" the workaround...

[2019-11-15 15:51] ssh24 commented on #1144
Turbine copies the files to `/app` only on create here https://github.com/eclipse/codewind/blob/ed9494b0ba76c80fbca8909112cb77912f9922bf/src/pfe/file-watcher/scripts/nodejs-container.sh#L279. Is it portal that it is copying it under `/app/{project_name}` for updates? If so, it should be a portal bug then.

[2019-11-15 15:54] liamchampton commented on #1148
I will try and recreate this and try that solution, good find @tetchel

[2019-11-15 15:56] DavidG1011 commented on #1138
True. I just figured I would bring it up in case it was a symptom of something else that's more likely to effect users.

[2019-11-15 15:56] markcor11 commented on #1079
Looking at a sample Appsody project it uses Open Liberty & OpenJ9.  We don't enable metrics on a Codewind Open Liberty project. There is some commentary in https://github.com/RuntimeTools/javametrics#open-liberty that talks about enabling metrics for open-liberty but I since this is appsody I believe that needs to be applied in the stack itself. @makandre can you comment ?

[2019-11-15 16:09] rajivnathan commented on #1144
Sounds like this is related to the usage of the docker cp command as we've seen in another issue (https://github.com/eclipse/codewind/issues/1112).

Would changing that line to
`docker cp "$WORKSPACE/$projectName/." $project:/app` resolve the problem?

See https://docs.docker.com/engine/reference/commandline/cp/#parent-command

[2019-11-15 16:10] jcockbain96 commented on #1144
I can test now, that is what I was about to say too

[2019-11-15 16:15] ssh24 commented on #1144
Ah, that makes sense. Let me try it out and confirm

[2019-11-15 16:17] ssh24 commented on #1072
So it does look like the `docker cp` back to PFE was added initially in the hybrid stages to have a snapshot of the logs working. It can safely be removed. Verified it works after removing.

[2019-11-15 16:20] tetchel commented on #941
looks like the pr is https://github.com/eclipse/codewind-installer/pull/217

[2019-11-15 16:21] ssh24 opened #1152 "Bail turbine functional test if project create fails"
**Description of the enhancement:**
If project creation test fails on build failures, we should bail on running any of the further tests for that specific project type. This reduces the significant overhead on running tests which has build failures (e.g seen on the swift tests where it would take more than 60 minutes to build in the test VM)

[2019-11-15 16:21] ssh24 commented on #1152
/area iterative-dev

[2019-11-15 16:23] deboer-tim commented on #1068
Kabanero wasn't tagging a latest release when we started, but now they are. I've confirmed that we should switch to it, and doing so will mean that (like Appsody) we don't actually need a different URL every time they have a new release. Here's the correct URL to use:
https://github.com/kabanero-io/collections/releases/latest/download/kabanero-index.json

[2019-11-15 16:24] ssh24 commented on #1152
/kind test

[2019-11-15 16:25] makandre commented on #1079
Based on the java-microprofile stack's README, it does say javametrics is already built-in:
https://github.com/appsody/stacks/blob/c9694470e082492c54dfd6574622d1e92332a498/incubator/java-microprofile/README.md

But I don't know the specifics of whether the javametrics is enabled by default or not, @neeraj-laad is one of the maintainers of this stack and maybe able to provide some insights.

[2019-11-15 16:27] jcockbain96 commented on #1144
Fixes it for me

[2019-11-15 16:31] deboer-tim opened #1153 "VS Code should provide access to raw template urls"
I was trying to see where one of the template sources went to. Although the popup with the URL in it was nice, I couldn't find any way to copy and paste that into a browser. In Eclipse this is easy because it shows the raw url in the dialog.

I'm not suggesting we adopt the Eclipse UI (different IDE, and it's nice that the URL wasn't shown by default), but there should be a way of copying it.

[2019-11-15 16:32] ssh24 commented on #1144
Yes, please. Thank you

[2019-11-15 16:32] ssh24 commented on #1144
/assign @jcockbain96

[2019-11-15 16:39] tetchel commented on #1153
in the template source manager, clicking the template name will open the template in the browser, does that meet your requirement?

[2019-11-15 16:50] deboer-tim commented on #1153
In this case there was a redirect, so the browser opened, immediately went to the redirect, cleared out the url bar, and downloaded. The only way to get back to any url was going backwards from the download history which showed the redirect url instead of the original.

I don't love an explicit button either, but maybe if it's just a copy icon it wouldn't clutter the UI a lot.

[2019-11-15 16:52] tetchel commented on #1153
@thisguy-1

[2019-11-15 17:04] makandre commented on #1133
Was able to verify this using latest 0.6.0 image on OCP4.2 cluster: Kabanero springboot project built and ran.

[2019-11-15 17:04] #1133 closed

[2019-11-15 17:07] GeekArthur commented on #1153
I am using Eclipse Che (not VS Code), and click the template name find the following behavior:

Default templates: have access issue, seems like it tries to access `https://raw.githubusercontent.com/codewind-resources/codewind-templates/master/devfiles/index.json` but fails, probably due to redirection issue
![Screen Shot 2019-11-15 at 11 45 39 AM](https://user-images.githubusercontent.com/1513153

[2019-11-15 17:09] GeekArthur commented on #1153
Also I may need to create a separate issue to do the correspond changes for OpenShift templates to support the expected behavior

[2019-11-15 17:12] tetchel commented on #1153
it's supposed to open in a new tab, and definitely used to do this. The opening of it in within the Theia webview is new, and is definitely not what I want.

The behaviour of downloading the file vs just viewing it depends on your browser.

[2019-11-15 17:33] jcockbain96 commented on #1153
With the redirect issue, I'm now back working on https://github.com/eclipse/codewind/issues/614 to have `cwctl` handle github redirects.

[2019-11-15 17:34] eharris369 opened #1157 "Error in upgrade result looks more like an error key than an actual message"
Running cwctl upgrade I get the following result. The error `projectnameisalreadyinuse` looks more like an error key than an actual error message.
[code]

[2019-11-15 17:36] eharris369 commented on #1157
Never mind - looks like it is some sort of weird Windows cut and paste issue.

[2019-11-15 17:36] #1157 closed

[2019-11-15 17:37] GeekArthur commented on #1117
I just use the test latest 0.6.0, the issue has been resolved, I still think issue is due to sync/mount since the file is inside container, but will keep an eye on this issue.

[2019-11-15 17:56] tetchel commented on #1082
the command is back now, but it tries to pull images that don't exist

[code]

I don’t see that image, is it supposed to be on dockerhub? I know it used to point to marko11/codewind-keycloak-amd64

[2019-11-15 17:58] jopit commented on #1082
Moving back to 'in progress' based on Tim's comment above

[2019-11-15 18:13] tetchel commented on #1082
https://github.com/eclipse/codewind-installer/commit/9995fd99eef4d7a27afeffb6218cc9ee5f03c85d#diff-1e2874a3b32881d0dcc9e311046cc0b2

[2019-11-15 18:22] tetchel opened #1158 "Add codewind-keycloak and codewind-gatekeeper to pushed images"
We have two new images in https://github.com/eclipse/codewind/blob/master/docker-compose.yaml which need to be pushed to dockerhub along with pfe and the performance image, `codewind-keycloak` and `codewind-gatekeeper`

Since we are already building them, it may be as simple as adding the image names to this array - https://github.com/eclipse/codewind/blob/master/Jenkinsfile#L277

[2019-11-15 18:22] tetchel commented on #1082
https://github.com/eclipse/codewind/issues/1158

[2019-11-15 18:22] #1082 closed

[2019-11-15 18:54] keithchong commented on #421
@sishida, ok, no problem.

[2019-11-15 18:56] makandre opened #1160 "Appsody: sync files from PFE to app container and remove codewind-data"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description of the enhancement:**

In `0.6.0` the `codewind-workspace` mount was removed, but in order to keep appsody support which relies on using bind mounts, in #717 we put back a `codewind-data` mount space used exclusively by appsody projects.

This issue is for tracking the

[2019-11-15 19:17] makandre commented on #1160
When syncing, we need to pay attention to the ownership and permissions of the files, given that certain stacks may not be running as root.

(for some background, can take a look at related issue is #1133: project was owned by root in PFE and when mounted to the app container the active user could not modify the project)

[2019-11-15 19:18] makandre commented on #717
Closing this one.  Use #1160 to track long term solution.

[2019-11-15 19:18] #717 closed

[2019-11-15 20:10] #1158 closed

[2019-11-15 20:13] rajivnathan opened #1161 "Turbine build queue may not be working properly"
**Codewind version:** 0.6.0
**OS:** Mac OSX

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** 7.3.1
**Kubernetes cluster:** OKD 3.1.1

**Description:**
I stopped and started a Che workspace that had many projects in it (17 in this case). The view in Theia shows 3 builds in progress and the rest in the queue which is what we'd expect but when I check the PFE container there

[2019-11-15 20:18] elsony commented on #1144
Changing this to portal since the fix looks like to be on the portal layer.

[2019-11-15 20:30] ssh24 commented on #1161
What does the PFE log say? If you are on trace mode, it should print out the list of projects on the running queue

[2019-11-15 20:33] rajivnathan commented on #1161
I included the pfe log file linked in my description but they are not with trace enabled. But the build status in the view looks correct so I don't think the build queue itself is wrong. Something else seems to be triggering build update processes.

[2019-11-15 20:33] maysunfaisal opened #1162 "Create Tests for /api/v1/registrysecrets"
**Codewind version:**
**OS:**

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
New registry secrets API have been introduced with https://github.com/eclipse/codewind/pull/1118

Create tests for these APIs

**Steps to reproduce:**

**Workaround:**

[2019-11-15 20:35] ssh24 commented on #1161
I think this might be related to the https://github.com/eclipse/codewind/issues/1039 where projects are double building

[2019-11-15 20:36] ssh24 commented on #735
/assign me

[2019-11-15 20:36] ssh24 commented on #970
/assign me

[2019-11-15 20:39] tetchel commented on #1153
FWIW you can always just open `repository_list.json` and view the urls there

[2019-11-15 20:40] tam512 opened #1163 "[Doc] update Codewind on Che and Codewind Docker registry doc"
**Codewind version:** 0.6.0
**OS:**
**Che version:** 7.3.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OCP 4.2

**Description:**
Update `Installing Codewind on Eclipse Che` doc https://www.eclipse.org/codewind/installoncloud.html with the following:
- Include OpenShift 4.x in step `3. Install Che:`
- Under `Creating the Codewind workspace with a Devfile` section, update lin

[2019-11-15 20:42] ssh24 commented on #1144
The fix was actually on iterative-dev side but was fixed by James from portal.

[2019-11-15 20:46] maysunfaisal commented on #665
@malincoln A new npm package has been introduced with PR https://github.com/eclipse/codewind/pull/1118

Can we proceed with the legal clearance for it?

[2019-11-15 20:49] rajivnathan commented on #1161
The logs do indicate the same problem as #1039
[code]
[code]

[2019-11-15 21:01] deboer-tim commented on #1153
Yeah, I did get it from there. This is a pretty minor issue, just felt like there should be a way for the user to get it from this page vs having to find out where we store settings.

[2019-11-15 21:02] malincoln commented on #665
@maysunfaisal just confirming this is for 0.7.0 (release is set to this) and not 0.6.0.
Nik normally pull these in when he run the auto scripts so please confirm with him on mattermost.

[2019-11-15 21:06] johnmcollier commented on #1161
@rajivnathan @ssh24 But looking at the process logs:
[code]

I see processes for 12 different projects and no duplicates. If this was 1039 causing this, wouldn't we see multiple processes for the same project?

[2019-11-15 21:07] maysunfaisal commented on #665
yes this is for `0.7.0`

[2019-11-15 21:17] ssh24 commented on #1161
So looking at the code

This is where we call the specific project handler's create function, i.e the container script file
https://github.com/eclipse/codewind/blob/9f4812f1ea7babd6861a96e73a52ca0a28fee335/src/pfe/file-watcher/server/src/controllers/projectsController.ts#L477

But that function is not called as long as there are 3 projects already running in the queue
https://github.com/eclipse/co

[2019-11-15 21:23] rajivnathan commented on #1161
@johnmcollier The build queue currently handles create only. It's not normal for users to update 12 projects at the same time so it's not something we implemented. The build queue is more meant for handling workspace restarts like what I've tested here.

[2019-11-15 21:29] #1144 closed

[2019-11-15 21:33] liamchampton commented on #1148
**The problem**

The user had tried to install codewind which downloaded the docker images. However, one of the images failed to download properly and during start up the container started but got stopped straight away. This put the container in an exit state, seen by entering `docker ps -a`.

By attempting to start codewind again, the docker compose was attempting to start the exited container ea

[2019-11-15 21:36] elsony commented on #1117
@GeekArthur Do you mean this problem is no longer an issue and we can close it off?

[2019-11-15 21:36] johnmcollier commented on #1099
Were the apps already running before the build failures occurred? I.e. was this after a project update and not during creation/import? If the build fails during an update before the app is redeployed (so the old app is still up) then Codewind would think it's still running.

The logs for the failed builds are interesting
[code]

That's coming straight from Docker (same error as https://github.com/

[2019-11-15 21:42] johnmcollier commented on #1099
@sujeilyfonseca Something has exhausted all of the processes on the node that's running Codewind, causing the build failures. I would try restarting the Codewind workspace and seeing if they still persist, and if so, try restarting the node that's running Codewind (can find the node with kubectl describe pod <codewind>`)

[2019-11-15 21:46] GeekArthur commented on #1117
@elsony Currently we don't have this problem, I will keep testing it for 0.6.0 to see if it's intermittent, if it's not I can close it.

[2019-11-15 21:47] j-c-berger commented on #1045
@johnmcollier, thank you for your patience as this issue took longer than expected to complete. It's on top priority when I return to the office on Mon., Nov. 18th!

[2019-11-15 22:02] elsony commented on #1117
ok, I mark this as verify, feel free to reopen if you still see the issue

[2019-11-15 22:08] johnmcollier opened #1164 "Long-term stress testing of Codewind"
We're frequently testing Codewind with new / fresh installs, and aren't doing much long-term testing (or stress testing for that matter) on older installs.

We need to be doing long-term stress testing of Codewind to see how well it holds up over time (and with heavy load over time). A month-old install (or even longer) of Codewind should be just as functional as a fresh install.

[2019-11-15 22:11] jgwest commented on #1164
A great way to do stress testing like this is to keep running your existing automated tests over and over again, against a single PFE instance/cluster, without restarting it, until a failure occurs (or if failures occur too often, then it run X number of times).

[2019-11-15 22:11] rajivnathan commented on #1161
Verified this was not an issue with 0.5.0 so is not likely an issue with the build queue itself.

**PFE processes from 0.5.0**
[code]

[2019-11-16 12:08] AndyRWatson commented on #811
Do we have an outlook on this. We are keen to ensure all associated link are available on our landing page. This needs to make out next landing page update. Can we ensure it’s labelled accordingly please :-)

[2019-11-16 13:19] travis1111 commented on #811
@kimholmes could you please let me know if it is OK to just use the black medium logo? also, please double check the logo guidelines for other logos, I do have concerns.

@AndyRWatson I am ready to push the code as soon as I have the agreement from design team.

thanks

[2019-11-16 13:20] AndyRWatson commented on #811
thanks @travis1111

[2019-11-16 19:34] keithchong commented on #1112
@sghung, @malincoln I see the new package (folder) and class now in the app.  (The project built successfully as well.)  Closing.

[2019-11-16 19:34] #1112 closed

[2019-11-18 06:37] jgwest commented on #844
/unassign
/kind test

[2019-11-18 06:45] jgwest commented on #844
/remove-kind test

[2019-11-18 09:20] markcor11 commented on #1143
Functions which will need updating :

- [ ] GetExtensions
- [ ] GetTemplates
- [ ] GetTemplateStyles
- [ ] GetTemplateRepos
- [ ] AddTemplateRepo
- [ ] DeleteTemplateRepo
- [ ] BatchPatchTemplateRepos

[2019-11-18 09:26] james-wallis commented on #1143
Project-types too

[2019-11-18 09:37] tobespc commented on #1164
How does this tie in with SVT testing work?   They might have something already

[2019-11-18 09:43] tobespc commented on #1105
@james-wallis can resolve this one please and test if it is better based on the comments above

[2019-11-18 10:04] tobespc commented on #1068
we need to have the git redirect work complete first on this

[2019-11-18 11:12] tobespc commented on #1105
/assign james-wallis

[2019-11-18 13:11] james-wallis commented on #1104
/assign @james-wallis

[2019-11-18 13:13] james-wallis commented on #941
That PR has now been accepted so all the calls discussed have the `--conid` flag.

I'm now doing the work to [persist the username in the connections.json](https://github.com/eclipse/codewind/issues/1104)

And will finish by completing the work in https://github.com/eclipse/codewind/issues/1143 to use the secure HTTP calls.

[2019-11-18 13:25] tobespc commented on #1019
/assign @markcor11

[2019-11-18 13:29] james-wallis commented on #1104
PR raised for this: https://github.com/eclipse/codewind-installer/pull/223

[2019-11-18 13:30] james-wallis commented on #1104
I'll be completing the work to use the authentication wrappers once this PR is in https://github.com/eclipse/codewind/issues/1143

[2019-11-18 13:31] james-wallis commented on #1105
@makandre is this fix stable enough for the `AppsodyExtension` to be re-added to the test?

[2019-11-18 13:31] tobespc opened #1170 "Request new access token from a refresh token (hybrid)"
This will require a new command added to cwctl.

/assign @markcor11

[2019-11-18 13:32] jgwest commented on #1170
@tobespc: GitHub didn't allow me to assign the following users: markcor11

Note that only org members, repo collaborators and people who have commented on this issue/PR can be assigned.

[2019-11-18 13:53] markcor11 commented on #1170
I will implement this

[2019-11-18 13:53] markcor11 commented on #1170
/assign @markcor11

[2019-11-18 14:07] jagraj commented on #872
We are currently broke with the latest "Tekton" release and we need this fix for 0.6 release.

[2019-11-18 14:19] #843 closed

[2019-11-18 14:27] jagraj commented on #276
Hi Sarah,
We are good now, thank you.

[2019-11-18 14:27] #276 closed

[2019-11-18 14:59] makandre commented on #1105
I think we can add it back

[2019-11-18 15:07] sishida commented on #162
@tetchel @thisguy-1
Hi, team, I noticed this issue when looking for another issue. Is this issue still relevant, or could we close it? If we want to keep it open, are there actions that we can start taking to make progress toward closing it? Thank you!

[2019-11-18 15:31] ssh24 opened #1172 "Investigate why swift builds take more than an hour on test VM"
**Description:**

We increased the timeout of swift projects to an hour but the build still fails even after an hour timeout. We need to investigate what is wrong with our test VM because swift projects are working everywhere else.

[2019-11-18 15:31] ssh24 commented on #1172
/area iterative-dev

[2019-11-18 15:31] ssh24 commented on #1172
/kind test

[2019-11-18 15:34] ssh24 opened #1173 "Kube functional tests are failing to kick-off on nightly runs"
**Description:**
The turbine kube functional tests are failing to kick-off on nightly runs. It looks like the workspace creation is failing and not helping the test to kick-off.

[2019-11-18 15:34] ssh24 commented on #1173
/area iterative-dev
/kind test

[2019-11-18 15:56] ssh24 commented on #970
@yangcao77 The fix is now. Could you please verify?

[2019-11-18 16:07] ssh24 commented on #1164
This is definetely do-able. We can test previous Codewind releases but we also need to make sure our test source is also pointing to the same release tag.

[2019-11-18 16:11] james-wallis commented on #1143
Keeping track here:

### Summary
* Changed API routes to talk to PFE using @markcor11's HTTPS request wrapper for remote deployments.
- [x] GetTemplates
  * Tested using `cwctl --insecure templates ls --conid K34MCHAO` worked as expected.
- [ ] GetTemplateStyles
- [ ] GetTemplateRepos
- [ ] AddTemplateRepo
- [ ] DeleteTemplateRepo
- [ ] BatchPatchTemplateRepos
- [ ] GetExtensions
- [ ] ProjectType

[2019-11-18 16:23] johnmcollier commented on #606
@jgwest @elsony Thoughts on moving to the TS filewatcher for 0.7.0?

[2019-11-18 16:24] sishida commented on #890
@keithchong With the close of PR https://github.com/eclipse/codewind-docs/pull/214, this issue is good to close, correct? Just wanted to confirm. Thank you!

[2019-11-18 16:24] johnmcollier commented on #1164
@jagraj Is this something your test squad would be able to look at and / or help with at some point?

[2019-11-18 16:25] lentheivendra commented on #1173
Seeing this in the dashboard UI for the newly created (and unstarted) workspace, via our test scripts' API:

FailedFailure executing: POST at: https://172.30.0.1/apis/project.openshift.io/v1/projectrequests. Message: Forbidden!Configured service account doesn't have access. Service account may have been revoked. projectrequests.project.openshift.io is forbidden: User "system:serviceaccount:eclipse

[2019-11-18 16:28] tobespc commented on #872
changing to use the tekton-dashboard-internal service name

[2019-11-18 16:46] AndyRWatson commented on #811
If we can not resolve the design before 0.6.  I would like to propose a generic blog log or replace the icon with the word "blog" in blue.  This shouldn't be out of place against the  Docs/News text which is to the left of it (in @travis1111 preview above).

[2019-11-18 17:00] james-wallis commented on #1104
@markcor11 the PR has been accepted for this piece of work: https://github.com/eclipse/codewind-installer/pull/223 please close if you're happy.

[2019-11-18 17:02] jagraj commented on #1164
@johnmcollier
Yes, we are going to work on this once in future releases. Now we have selenium integration tests working for Che and we need to work on load testing with multiple che users. I also see Eclipse Che using selenium as their automation test framework and I need to investigate how they are running their tests for multi users feature.

[2019-11-18 17:08] yangcao77 opened #1177 "[che] Unable to create project. Failed to get template list"
**Codewind version:** master
**OS:** MacOS

**Che version:** 7.3.1
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:** OKD

**Description:**
Unable to create project on che with the latest devfile.
Looks like failed to get template list
Saw this error in theia log:
[code]

**Steps to reproduce:**
try to open command `create project` on che

**Workaround:**

[2019-11-18 17:21] ssh24 commented on #1164
This is nice to have on org-wide integration tests but does not stop tribe based tests to be run based on release flags as well. For example, turbine and portal can also enhance their tests so it can be ran based on an older release.

[2019-11-18 17:58] yangcao77 commented on #1177
The error log says the output for `cwctl --json --insecure templates repos list` was null.

But I'm able to see the templates repos list if I manually run this command inside sidecar
[code]

[2019-11-18 18:02] jopit opened #1178 "Allow user to specify multiple docker registry credentials"
If the user has an Appsody project with a custom stack/collection for which images are pushed to a registry other than Docker Hub, the project is unable to build because the codewind container does not have the credentials to login to internal docker registry to pull the required images.

To fix this, we need to allow the user to specify credentials for a number of image registries that PFE can us

[2019-11-18 18:03] elsony commented on #1164
@ssh24 I think those are two separate items.  I agree there should be an easy way for us to be able to run our test on specific release.  However, for the performance/stress testing, those are typical SVT level of testing and if SVT already have plan for it, there is no need to duplicate the effort.  Maybe @jagraj can share the scenario that they planned to cover and we can review that to see if t

[2019-11-18 18:09] elsony commented on #1177
@yangcao77 Is this problem specific to master or do you see the same problem on 0.6.0?

[2019-11-18 18:12] johnmcollier commented on #1177
@elsony @yangcao77 I can reproduce this on master only, 0.6.0 is fine for me

[2019-11-18 18:14] jopit commented on #948
If the user does configure this on the local scenario, does that mean all image pushes/pulls will be to/from the specified registry even for non-appsody projects?

[2019-11-18 18:30] ssh24 commented on #1164
That sounds good to me.

[2019-11-18 18:37] thisguy-1 commented on #811
@sishida  So I can be assigned

[2019-11-18 18:37] thisguy-1 commented on #512
@sishida  So I can be assigned

[2019-11-18 18:41] jopit commented on #1079
@markcor11 @tobespc Is there some way the IDEs can tell that we are in this scenario so that we can display a better message to the user?

[2019-11-18 18:49] jgwest commented on #844
/reopen

[2019-11-18 18:55] jgwest commented on #844
/reopen

[2019-11-18 19:53] tetchel commented on #1146
fyi @johnmcollier

[2019-11-18 19:53] #1146 closed

[2019-11-18 19:53] tetchel commented on #1146
thanks sarah!

[2019-11-18 19:54] jopit commented on #1178
For local minimum is to set the credentials for one private pull registry
For and one private push registry

[2019-11-18 20:00] tetchel commented on #941
verified

[2019-11-18 20:00] #941 closed

[2019-11-18 20:01] tetchel commented on #1177
i see this on my local machine when working against a remote connection

[code]

but it works when the conid is "local"

@james-wallis could this have been caused by https://github.com/eclipse/codewind-installer/pull/217, any theories

[2019-11-18 20:02] tetchel commented on #1177
it should never output "null", we should get an `{ error: string, error_description: string }` if anything is going wrong (as it clearly is)

[2019-11-18 20:13] mmulholl opened #1179 "SVT : Eclipse : Slow/delayed updates for projects, especially appsody"
**Codewind version:**  Codewind tech preview	0.6.0.v201911181652
**OS:** MAC/OS

**Che version:**
**IDE extension version:**
**IDE version:**Eclipse IDE for Enterprise Java Developers. Version: 2019-09 R (4.13.0) Build id: 20190917-1200
**Kubernetes cluster:**

**Description:**
Appsody projects can be slow to appear after creation and even slower to disappear after removal. In test runs I have had

[2019-11-18 20:13] jgwest commented on #844
/reopen

[2019-11-18 20:14] jgwest commented on #844
/close

[2019-11-18 20:14] johnmcollier commented on #844
/close

[2019-11-18 20:15] tetchel opened #1180 "Gatekeeper server won't start"
after `cwctl install remote`,
[code]

The Gatekeeper container fails to start, it appears to be because `npm install` is not included in [its dockerfile](https://github.com/eclipse/codewind/blob/master/src/gatekeeper/Dockerfile)?

[2019-11-18 20:17] johnmcollier commented on #844
/assignez moi

[2019-11-18 20:19] mmulholl opened #1181 "SVT : Eclipse : install fails without docker system prune"
*Codewind version: Codewind tech preview 0.6.0.v201911181652
OS: MAC/OS

Che version:
IDE extension version:
**IDE version:**Eclipse IDE for Enterprise Java Developers. Version: 2019-09 R (4.13.0) Build id: 20190917-1200

**Che version:**
**IDE extension version:**
**IDE version:**
**Kubernetes cluster:**

**Description:**
To install the latest driver I uninstalled my previous version of 0.6.0 and

[2019-11-18 20:20] jgwest commented on #844
/assign @johnmcollier
😛

[2019-11-18 20:23] #1138 closed

[2019-11-18 20:26] jgwest commented on #844
/reopen
/unassign @johnmcollier
/kind test

[2019-11-18 20:28] jgwest commented on #844
close and reopen seem to be working...

/close
/assign @johnmcollier
/remove-kind test

[2019-11-18 20:28] jgwest commented on #844
@jgwest: Those labels are not set on the issue: kind/test<details>

In response to [this](https://github.com/eclipse/codewind/issues/844#issuecomment-555195051):

</details>

[2019-11-18 20:29] maysunfaisal commented on #844
/unsubscribe

[2019-11-18 20:38] jagraj commented on #1179
I also tried this manually on local where it takes lot of time to appear in the project list, If we create another project or refresh screen then we will see project in the list. We do not see same behavior on Eclipse Che.

[2019-11-18 20:38] sishida commented on #860
@micgibso Just wanted to let you know that I made an update about the VS Code requirement in PR https://github.com/eclipse/codewind-vscode/pull/285 as the update applies to this issue.

[2019-11-18 20:39] #860 closed

[2019-11-18 20:40] tetchel opened #1186 "use npm clean install instead of regular install in dockerfiles"
When working on https://github.com/eclipse/codewind/issues/1180 I noticed that `package-lock.json` is gitignored at the top level of the codewind repository, which is definitely wrong, npm is pretty clear about this:
[code]

We have to commit this file so that in our prod builds, we can then use `npm ci` instead of `npm i` and make sure that the package versions we are shipping are the same ones w

[2019-11-18 20:55] sishida commented on #926
Merged the PR to add the news for 0.6.0. Closing this issue.

[2019-11-18 20:55] #926 closed

[2019-11-18 20:59] GeekArthur commented on #929
Verified, jenkins build works for ODO extension.

[2019-11-18 20:59] #929 closed

[2019-11-18 21:08] elsony commented on #1130
Code merged. moving to verify

[2019-11-18 21:36] jagraj opened #1187 "SVT:[che]:Appsody projects status stuck in "starting" after workspace restart due to user session timeout"
**Codewind version:** 0.6.0
**OS:** RHEL

**Che version:** 7.3.1
**IDE extension version:** 0.6
**IDE version:** 7.3.1
**Kubernetes cluster:**

OS 3.11 cluster

**Description:**
All appsody projects "status" is in "starting" state after workspace restart due to session timeout.
I do not see this problem with default codewind projects.

**Steps to reproduce:**

1. Install Codewind Che from 0.6.0 pl

[2019-11-18 21:48] GeekArthur commented on #1130
Verified, app log works.

[2019-11-18 21:48] #1130 closed

[2019-11-18 21:57] rajivnathan commented on #1186
FWIW, portal and turbine both make use of package-lock.json

https://github.com/eclipse/codewind/blob/master/src/pfe/portal/package-lock.json
https://github.com/eclipse/codewind/blob/master/src/pfe/file-watcher/server/package-lock.json

[2019-11-18 21:57] tetchel commented on #1186
okay, then it should be easy to un-gitignore it

[2019-11-18 22:13] sghung commented on #890
Keith is away, closing on his behalf. The changes look good in the PR.

[2019-11-18 22:13] #890 closed

[2019-11-18 22:14] sghung commented on #1187
I asked Andrew to take a look at this one.

[2019-11-18 22:14] sghung commented on #1179
Laven and myself are taking a look at this one.

[2019-11-18 22:35] makandre commented on #1187
Where are the appsody logs?

[2019-11-19 00:14] makandre commented on #1187
[code]

This part in the log is telling.  At least for this particular case, it seems Codewind can't find the application port, and it's because it can't find the appsody deployment/service.

There's a wait we do here https://github.com/eclipse/codewind-appsody-extension/blob/master/scripts/wait-for-container.sh#L20 for the pod to come up.  With so many projects/pods/services being created at the

[2019-11-19 01:01] sujeilyfonseca commented on #872
I have tested this issue with the latest release of the Tekton Dashboard (v0.2.1), and I no longer see this problem.

[2019-11-19 01:09] sujeilyfonseca commented on #1099
After following your suggestions, this problem was resolved in my cluster.

Thanks for addressing this problem, @johnmcollier! Thanks for the recommendation, @jgwest!

[2019-11-19 01:22] jagraj opened #1188 "SVT:[che]: Projects are not binding after workspace restart from user session time out."
**Codewind version:** 0.6.0
**OS:** RHEL

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** Theia 7.3.1
**Kubernetes cluster:**

OKD 3.11 cluster,

**Description:**
After workspace restart from session timeout projects are not binding automatically and I do see all the projects in projects list. Some how I see only three projects in the tree (Go, Swift, Websphere liberty) fr

[2019-11-19 01:26] jagraj commented on #1188
/area iterative-dev
/priority stopship

[2019-11-19 01:33] sujeilyfonseca commented on #1179
**Codewind version:** codewind-0.6.0-201911151544.vsix
**OS:** VM with Windows 10

**IDE extension version:** 0.6.0
**IDE version:** 1.40.1

I have seen this problem as well in my Windows VM with Codewind for VS Code.

[2019-11-19 01:37] johnmcollier commented on #1188
Something is wrong with the rebind functionality, which is in Portal code.

I see the following in the logs, indicating Portal is unable to parse the .inf files
[code]

The number of failed-to-parse files corresponds to the number of projects that failed to bind.

Adding a Portal label to this issue so they can investigate further.

[2019-11-19 08:25] markcor11 commented on #1180
/assign @markcor11

[2019-11-19 09:12] tobespc commented on #1068
the redirect work is not going to complete in time for 0.6.0 so I have manually upgraded the collections version to be 0.2.1

[2019-11-19 09:29] micgibso commented on #1126
Documented, approved, and merged. @tetchel @sishida this can now be closed. thanks.

[2019-11-19 09:30] markcor11 commented on #1170
/pipeline verify

[2019-11-19 09:37] markcor11 commented on #900
/pipeline verify

[2019-11-19 09:39] markcor11 commented on #1180
PR added to address this : https://github.com/eclipse/codewind/pull/1190

/pipeline verify

[2019-11-19 09:39] markcor11 commented on #975
/pipeline verify

[2019-11-19 09:40] markcor11 commented on #1019
/pipeline verify

[2019-11-19 09:40] markcor11 commented on #1089
/pipeline verify

[2019-11-19 09:49] #1104 closed

[2019-11-19 09:51] jcockbain commented on #1058
@tobespc could I be assigned?

[2019-11-19 10:30] james-wallis commented on #1105
The PR I opened for adding the AppsodyExtension is still failing the test in Jenkins, locally it passes.
https://github.com/eclipse/codewind/pull/1174

[2019-11-19 10:34] tobespc commented on #1058
lets pursue fixing this as per comment above
[code]

[2019-11-19 10:47] tobespc commented on #1188
investigating, have installed latest 0.6.0 images on openshift and created all the projects...

[2019-11-19 10:48] james-wallis commented on #1143
All that is left for this item is further testing and to double check that no other functions call the PFE API without being wrapped in the `sechttp` call.

[2019-11-19 10:50] jcockbain commented on #1058
/assign @jcockbain

[2019-11-19 11:14] tobespc commented on #1180
/pipeline Verify

[2019-11-19 11:25] tobespc commented on #909
moving to verify as unable to recreate on latest images.  @aifayed please reopen if it still happens for you on latest code

[2019-11-19 11:28] tobespc commented on #808
the double build fix has now gone into 0.6.0, should retest this now

[2019-11-19 11:28] markcor11 commented on #1058
Its not so much "insecure upgrade" its actually :

1.  --insecure
2.  upgrade

the first is a global flag to turn off certificate checking and is the same name that curl uses to perform the same function.

Since Kubernetes environments out of the box install with self signed certs and we have to be able to deploy into those environments we have to turn off certificate checking until we know that t

[2019-11-19 11:28] tobespc commented on #792
can't recreate this

[2019-11-19 11:29] tobespc commented on #737
closing as fixed

[2019-11-19 11:29] #737 closed

[2019-11-19 11:32] markcor11 commented on #792
can't reproduce this anymore

[2019-11-19 11:33] #792 closed

[2019-11-19 11:56] stalleyj commented on #1039
All seems to be working locally and in Che for me.

[2019-11-19 12:26] markcor11 commented on #969
/assign @markcor11

[2019-11-19 12:29] markcor11 commented on #969
- [x] Include Codewind cluster roles
- [x] include Tekton roles
- [ ] Include cluster role binding
- [ ] include Tekton role bindings

[2019-11-19 12:31] malincoln commented on #1181
@tetchel or @jopit can you review this one?  Thanks

[2019-11-19 12:32] malincoln commented on #1039
@maysunfaisal pls verify and close if successful.  Thanks

[2019-11-19 12:34] malincoln commented on #872
@jagraj looks like @sujeilyfonseca has verified the fix.  If so, pls close.  Thanks

[2019-11-19 13:14] jagraj commented on #872
@tobespc
Thanks for the fix.

@sujeilyfonseca
Please go ahead and close this issue.

[2019-11-19 13:19] #872 closed

[2019-11-19 13:32] jcockbain commented on #810
All in the readme now

[2019-11-19 13:32] #810 closed

[2019-11-19 13:34] jcockbain commented on #614
We're aiming to have this issue resolved for 0.7.0, at the moment waiting to discuss my changes with the github package maintainers.

[2019-11-19 13:46] #1126 closed

[2019-11-19 14:00] sujeilyfonseca opened #1194 "SVT: [Che] Could not determine application URL for OpenShift Node JS Project"
**Codewind version:** 0.6.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.3.1
**Kubernetes cluster:** OKD/Openshift

**Description:** Could not determine application URL for OpenShift Node JS Project

The application status is [Running] and its pod is running, but the application URL could not be determined. It is important to keep in mind that this error is intermittent, so some

[2019-11-19 14:05] rajivnathan opened #1195 "[Che] Project URLs can serve the wrong project due to vague service selector"
**Codewind version:** 0.6.0
**OS:** Mac OSX

**Che version:** 7.3.1
**IDE extension version:** 0.6.0
**IDE version:** 7.3.1
**Kubernetes cluster:** OKD 3.1.1

**Description:**
The default service selector in the helm charts of each project type are not specific enough by default. It's not a problem if there's only 1 project of any given type but when there are multiple projects the default selecto

[2019-11-19 14:23] jopit commented on #1181
Likely the same as https://github.com/eclipse/codewind/issues/411

[2019-11-19 14:24] jgwest commented on #844
/kind test
/assign @johnmcollier
/priority hot

[2019-11-19 14:39] jgwest commented on #844
/remove-kind test
/remove-priotity hot

[2019-11-19 14:41] jgwest commented on #844
/remove-priority hot

[2019-11-19 14:45] malincoln commented on #1181
@tobespc @james-wallis pls review.  If it's the same, we would need a fix for 0.6.0.

[2019-11-19 15:00] rtaniwa commented on #1181
I think we need to understand the risk of the fix before we decide if this is a stop ship for 0.6 given this has been there since 0.4. That being said, it is a very ugly issue so if we can fix it, I do think it should be considered.

[2019-11-19 15:03] liamchampton commented on #1181
@jopit What was the actual output when there was a problem finding images? Its important to capture this info in the issue before doing a docker prune as that wipes it clean. Im currently working on the fix i have described at the bottom of #1148 to check the image digest before and after a download.

[2019-11-19 15:03] tobespc commented on #1181
Not sure what to suggest here.   Has this happened before?  Can you recreate it ?  The fact that you have blown all the images away and its now working doesn't give us much to work with

[2019-11-19 15:09] jopit commented on #1181
@liamchampton that's a question for @mmulholl, who opened this issue.

[2019-11-19 15:25] lentheivendra commented on #1115
Currently ODO officially only fully supports node.js and Java, and partially supports other languages/components like python, perl , ruby, etc.

For java templates,  https://github.com/spring-projects/spring-petclinic.git as mentioned in https://docs.openshift.com/online/starter/cli_reference/openshift_developer_cli/creating-a-single-component-application-with-odo.html seems to be a good candidate

[2019-11-19 15:27] tobespc commented on #1188
in my testing this is all working fine, not sure what is happening on your build @jagraj

[2019-11-19 15:34] jagraj commented on #1188
Let me try to recreate this problem again and will post the logs to the issue.

[2019-11-19 15:35] tetchel commented on #1181
while this is a bad issue we have been seeing variations of it since we first introduced cwctl in 0.3, I don't think it's fair to call this a stopship.

[2019-11-19 15:39] tetchel commented on #975
Works for me

[2019-11-19 15:43] liamchampton commented on #1148
**Update**
This is hard to reproduce but I am currently working on a fix to help the stability at this stage of install.
1) Before pulling image from dockerhub, ask for the image digest
2) Pull image down
3) Check the initial queried digest against the local image digest to ensure they match
4) If they don't match, clear it out and try again 1 more time

[2019-11-19 15:47] malincoln commented on #1181
I just discussed with @mmulholl and @jagrag and they will try recreating and gather logs.  We can then have a quick meeting to discuss next steps.

[2019-11-19 15:52] ssh24 opened #1201 "Cannot delete ODO projects"
**Description:**
ODO projects are failing to delete with the following error:
[code]

**Che version**: 7.3.1

**Steps to reproduce:**
1. Create a odo project
2. Wait for it to be started
3. Delete the app

[2019-11-19 15:53] ssh24 commented on #1201
/area iterative-dev

[2019-11-19 15:57] elsony commented on #1201
@ssh24 Is this for master only or it also happens on 0.6.0?

[2019-11-19 16:00] ssh24 commented on #1201
I saw it on master. Testing on 0.6.0 now

[2019-11-19 16:06] sujeilyfonseca opened #1202 "SVT: Fatal error in Appsody Eclipse MicroProfile project due to an error with the pom.xml file"
**Codewind version:** codewind-0.6.0-201911151544.vsix
**OS:** VM with Windows 10

**IDE extension version:** 0.6.0
**IDE version:** Code 1.40.1

**Description:** Fatal error in Appsody Eclipse MicroProfile project due to an error with the pom.xml file

[code]

**Logs:**
[cw-appsody-eclipse-microprofile.appsody.log](https://github.com/eclipse/codewind/files/3864632/cw-appsody-eclipse-microprofile.